Repository cilium/cilium, pull requests merged in 2018-03, with the labels that each got.

#2968 docs: Make build requirements failure more obvious
  Documentation/Makefile
Labels: pending-review

#2977 Refactor connectivity
  test/helpers/wrappers.go
  test/runtime/connectivity.go
Labels: area/CI, kind/enhancement, pending-review

#2984 Ginkgo: Replace awk usage with jq
  test/helpers/cilium.go
  test/helpers/kubectl.go
  test/runtime/connectivity.go
Labels: area/CI, pending-review

#2983 test/helpers: check result of PolicyWait in PolicyImportAndWait
  test/helpers/cilium.go
Labels: area/CI, kind/bug/CI, pending-review

#2988 Follow up for documentation requirements
  Documentation/Makefile
Labels: area/misc, pending-review

#2999 Update NEWS and VERSION for 1.0.0-rc6
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
Labels: pending-review

#3001 Vagrantfile: Re-add NFS support
  Vagrantfile
  contrib/vagrant/start.sh
Labels: pending-review

#3007 doc: fix broken link for Installation Guides
  README.rst
Labels: area/documentation, kind/bug, ready-to-merge

#3008 Nightly: Adjust timeouts and stdout Curl on exec
  Jenkinsfile.nightly
  test/helpers/policygen/actions.go
Labels: area/CI, kind/enhancement, pending-review

#3014 README: update zoom meeting link
  README.rst
Labels: area/documentation, pending-review, ready-to-merge, requires-janitor-review

#3012 pkg/lock: override default options for deadlock detection
  pkg/lock/lock_debug.go
Labels: area/daemon, kind/enhancement, pending-review

#3013 consul: Report modified keys even if previously not known
  pkg/kvstore/consul.go
Labels: kind/bug, pending-review, release-note/bug, stable/needs-backport

#3017 Vagrantfile: Support additional mounts.
  Vagrantfile
Labels: area/misc, kind/enhancement, pending-review, priority/low

#3018 bpf: Retry opening map after initial error
  pkg/bpf/map.go
Labels: kind/bug, release-note/bug, stable/needs-backport

#3011 etcd: Handle error when trying to watch compacted revisons
  pkg/kvstore/etcd.go
  pkg/kvstore/watcher_cache.go
Labels: kind/bug, pending-review, priority/high, stable/needs-backport

#3020 examples/getting-started: Fix failure to install docker
  examples/getting-started/Vagrantfile
Labels: kind/bug, release-note/bug

#3025 Documentation: Document requirement for protoc-gen-validate
  Documentation/contributing.rst
Labels: area/documentation, pending-review

#3023 Added protoc-gen-validate in test Vagrantfile
  Jenkinsfile.nightly
  test/provision/runtime_install.sh
Labels: area/CI, kind/bug/CI, pending-review

#3034 Support log rotation for envoy log
  pkg/envoy/envoy.go
Labels: area/proxy, project/1.0-gap, release-note/minor

#3038 envoy: Adjust log levels to avoid excessive logging.
  daemon/main.go
  envoy/accesslog.cc
  envoy/cilium_bpf_metadata.cc
  envoy/proxymap.cc
  pkg/envoy/envoy.go
  pkg/flowdebug/flowdebug.go
Labels: area/proxy, kind/bug, pending-review, priority/release-blocker

#3040 agent: Fix manual endpoint regeneration
  pkg/endpoint/endpoint.go
Labels: kind/bug, pending-review, release-note/bug

#3009 Test: Updated default kubernetes version to 1.9
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
  test/Vagrantfile
Labels: area/CI, area/k8s, kind/enhancement, pending-review, ready-to-merge

#3042 bpf: Remove policy maps of programs loaded in init.sh
  bpf/init.sh
  daemon/bpf.sha
Labels: kind/bug, release-note/bug

#3029 pkg/k8s: fix CRD update
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/apis/cilium.io/v2/register_test.go
Labels: area/k8s, pending-review, priority/high, release-note/bug, stable/needs-backport

#2990 daemon: Add new '--envoy-log' command line option and change the default path.
  Documentation/cmdref/cilium-agent.md
  daemon/main.go
  pkg/envoy/envoy.go
  pkg/envoy/envoy_test.go
  pkg/proxy/envoyproxy.go
Labels: area/proxy, kind/cleanup, pending-review, priority/1.0-blocker

#3043 pkg/endpoint: always set state to waiting-to-regenerate upon endpoint Update
  pkg/endpoint/endpoint.go
Labels: kind/bug, pending-review

#3049 bpf: Move calls map to temporary location and remove after filter rep…
  bpf/join_ep.sh
  daemon/bpf.sha
Labels: kind/bug, priority/release-blocker, release-note/bug

#3047 Delete obsolete cilium-envoy.log on startup
  daemon/main.go
Labels: priority/release-blocker, release-note/minor

#3054 Restore error behaviour of endpoint config updates
  pkg/endpoint/endpoint.go
Labels: kind/bug, pending-review, priority/release-blocker

#3045 test/config: enable timestamps for Ginkgo logs
  test/config/logs.go
Labels: area/CI, pending-review

#3028 GSG: Added GPRC examples on ginkgo testing
  examples/kubernetes-grpc/cc-door-app.yaml
  test/k8sT/Nightly.go
Labels: area/CI, kind/enhancement, pending-review

#3027 test: check for deadlock in previous cilium instances
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, pending-review, priority/medium, ready-to-merge

#3057 Ginkgo: Updating docker-compose base image to cilium/cilium-builder
  test/docker-compose.yml
Labels: area/CI, kind/enhancement, pending-review

#3064 Prepare for 1.0.0-rc7 release
  AUTHORS
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
Labels: pending-review

#3062 Jenkinsfile: Fix issues on kubernetes test post actions
  ginkgo-kubernetes-all.Jenkinsfile
Labels: area/CI, kind/bug/CI, pending-review

#2992 endpoint: Push L4-only policies into BPF maps
  pkg/endpoint/policy.go
  test/runtime/Policies.go
  test/runtime/manifests/Policies-l4-policy.json
Labels: area/policy, pending-review, release-note/bug

#3069 cilium status: Fix exit code when components are disabled
  cilium/cmd/status.go
Labels: area/cli, kind/bug, pending-review, release-note/bug

#3073 Documentation: add RBAC to upgrade guide
  Documentation/install/upgrade.rst
  examples/kubernetes/rbac.yaml
Labels: area/documentation, pending-review, priority/insane, stable/needs-backport

#3076 Documentation: Fix double '::'
  Documentation/install/upgrade.rst
Labels: area/documentation

#3090 Serve cilium-health API over HTTP by default
  cilium-health/launch/launcher.go
Labels: pending-review, release-note/minor

#3085 policy: Simplify L7PolicyMap creation.
  pkg/policy/l4.go
Labels: area/policy, kind/cleanup, pending-review, priority/low

#3094 examples/mesos: Change ubuntu VB to be correct version
  examples/mesos/Vagrantfile
Labels: kind/bug, release-note/bug

#3103 daemon/k8s: fix k8s API watched status report
  daemon/k8s_watcher.go
Labels: area/k8s, kind/bug, priority/medium, release-note/bug

#3070 doc: Update Istio Getting Started Guide to Istio 0.6.0
  Documentation/gettingstarted/istio.rst
  Documentation/gettingstarted/minikube_intro.rst
Labels: area/documentation, pending-review, priority/1.0-blocker

#3108 Docs: Update contributing guide
  Documentation/contributing.rst
Labels: area/documentation, kind/enhancement, pending-review

#3063 Ginkgo: Test Flake on RuntimeValidatedConntrack
  test/runtime/ct.go
Labels: area/CI, kind/bug/CI, pending-review

#3083 Test: Disable swap of fstab.
  test/provision/k8s_install.sh
Labels: area/CI, kind/bug/CI, pending-review, ready-to-merge

#3112 doc: Fix formatting of command lines in Istio GSG
  Documentation/gettingstarted/istio.rst
Labels: area/documentation, pending-review, priority/1.0-blocker

#3110 Minor docs clarifications
  Documentation/policy/language.rst
Labels: area/documentation, pending-review

#2997 Add Kafka roles to simplify policy specification language
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/kafka/policy.go
  pkg/policy/api/rule.go
  pkg/policy/api/rule_validation.go
  pkg/policy/api/utils.go
  pkg/policy/api/zz_generated.deepcopy.go
  test/runtime/kafka.go
  test/runtime/manifests/Policies-kafka-Role.json
Labels: pending-review, release-note/major

#3078 Test: Move Cilium stable to master update to K8s test
  test/k8sT/Nightly.go
Labels: area/CI, area/k8s, pending-review

#3126 daemon: Add --sidecar-http-proxy flag to disable HTTP proxy redirects
  daemon/main.go
  pkg/endpoint/bpf.go
Labels: area/daemon, pending-review, priority/1.0-blocker

#3128 Documentation: Fix generated links when documentation is built from tags
  Documentation/conf.py
Labels: area/documentation, kind/bug, pending-review, release-note/bug, stable/needs-backport

#3129 tests: Fix go vet warnings in policygen
  Documentation/kubernetes/compatibility.rst
Labels: kind/bug, kind/bug/CI, pending-review

#3135 Ginkgo: Dump docker containers log on Fail test
  test/helpers/cilium.go
  test/helpers/docker.go
Labels: area/CI, kind/enhancement, pending-review

#3136 test: Increase wait for broker time to 10 seconds (workaround)
  test/runtime/kafka.go
Labels: area/CI, kind/bug/CI

#3139 Tests: Added CmdRes.WaitUntilMatch
  test/helpers/cmd.go
  test/k8sT/Nightly.go
  test/runtime/monitor.go
Labels: area/CI, kind/enhancement, pending-review

#3140 k8s: k8s CEP controller runs for restored endpoints
  pkg/endpointmanager/manager.go
Labels: area/k8s, kind/bug, pending-review

#3150 Document focusing tests on Jenkins
  Documentation/contributing.rst
Labels: area/documentation, pending-review

#3123 Misc egress datapath fixes
  bpf/lib/dbg.h
  bpf/lib/policy.h
  daemon/bpf.sha
  pkg/monitor/datapath_debug.go
Labels: area/datapath, ready-to-merge

#3134 Tests: Move Update from stable to master to update.go
  test/helpers/cons.go
  test/helpers/utils.go
  test/k8sT/Nightly.go
  test/k8sT/Updates.go
Labels: area/CI, kind/enhancement, pending-review

#3153 Kafka Runtime CI: Avoid possible race between Kafka consume and produce
  test/runtime/kafka.go
Labels: pending-review, priority/1.0-blocker, release-note/bug

#3154 Nightly: Increase timeouts
  Jenkinsfile.nightly
Labels: area/CI, kind/bug/CI, pending-review

#3165 Tests: Fix race condition on Update cilium
  test/k8sT/Updates.go
Labels: area/CI, kind/bug/CI, pending-review, priority/insane

#3167 examples: Provide simple etcd standalone deployment example
  examples/kubernetes/etcd/standalone-etcd.yaml
Labels: area/documentation, release-note/minor

#3158 test: Whitelist Kafka pod to talk to itself via zook service
  test/k8sT/manifests/kafka-sw-security-policy.yaml
Labels: area/CI, kind/bug, kind/bug/CI, pending-review

#3169 contrib: Add rebase-bindata shell function
  contrib/shell/util.sh
Labels: area/misc, ready-to-merge

#3171 Improve readability of ginkgo policy test failures
  test/runtime/Policies.go
Labels: area/CI

#2979 ToServices rules work for all external services
  common/types/loadbalancer.go
  common/types/loadbalancer_test.go
  daemon/k8s_watcher.go
  test/k8sT/Services.go
  test/k8sT/manifests/external_endpoint.yaml
  test/k8sT/manifests/external_pod.yaml
  test/k8sT/manifests/external_policy.yaml
  test/k8sT/manifests/external_policy_labeled.yaml
  test/k8sT/manifests/external_service.yaml
  test/k8sT/manifests/headless_service.yaml
  tests/k8s/tests/deployments/headless/policy-label-v1.yaml
  tests/k8s/tests/deployments/headless/policy-v1.yaml
Labels: area/k8s, pending-review, requires-janitor-review

#3188 proxy: envoy: use url.Parse() to generate URL field
  pkg/proxy/envoyproxy.go
  pkg/proxy/envoyproxy_test.go
Labels: area/proxy, kind/bug, release-note/bug

#3170 Add a quiet make option
  Documentation/Makefile
  Makefile
  Makefile.defs
  Makefile.quiet
  bpf/Makefile
  bugtool/Makefile
  cilium-health/Makefile
  cilium/Makefile
  contrib/packaging/deb/Makefile
  contrib/packaging/rpm/Makefile
  contrib/scripts/bindata.sh
  daemon/Makefile
  envoy/Makefile
  envoy/Makefile.api
  monitor/Makefile
  plugins/cilium-cni/Makefile
  plugins/cilium-docker/Makefile
  test/Makefile
  test/bpf/Makefile
Labels: area/misc, pending-review, requires-janitor-review

#3189 Tests: Clean leftover policies
  test/k8sT/Updates.go
Labels: area/CI, kind/bug/CI, pending-review

#3156 Kafka CI: Add a WaitKafkaBroker to wait for Kafka broker to be up before produce/consume
  test/runtime/kafka.go
  test/runtime/manifests/Policies-kafka-Role.json
  test/runtime/manifests/Policies-kafka.json
Labels: pending-review, priority/1.0-blocker, ready-to-merge, release-note/bug

#3196 test: Fix spelling of Role in Kafka CI test
  test/runtime/manifests/Policies-kafka-Role.json
Labels: area/CI, kind/bug, kind/bug/CI, pending-review

#3198 CODEOWNERS: misc. updates
  CODEOWNERS
Labels: area/misc, pending-review

#3194 Runtime/Policies.go improvements
  test/runtime/Policies.go
Labels: area/CI, kind/enhancement, pending-review

#3207 test: Fix use of --timestamps and --previous
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, pending-review

#3209 Test: Fix issues with Policies Across NS
  test/helpers/wrappers.go
  test/k8sT/Policies.go
  test/k8sT/manifests/2-backend-server.json
Labels: area/CI, kind/bug/CI, pending-review, priority/insane

#3202 Jenkins: Increase memory in VMs
  ginkgo.Jenkinsfile
Labels: area/CI, kind/bug/CI, kind/enhancement, pending-review

#3214 Test: Disable cilium update from stable
  test/k8sT/Updates.go
Labels: area/CI, pending-review

#3199 endpoint: Don't fail with fatal on l4 policy application
  pkg/endpoint/policy.go
Labels: kind/bug, pending-review, priority/1.0-blocker, release-note/bug

#3205 Fix MTU connectivity issue with external services
  bpf/init.sh
  daemon/bpf.sha
Labels: area/datapath, pending-review, priority/1.0-blocker, release-note/bug

#3218 Improve cilium cluster health status / formatting
  pkg/health/client/client.go
Labels: area/cli

#3217 Speed up go code vetting
  Makefile
Labels: area/misc, requires-janitor-review

#3111 Documentation: clean up contributing guide
  Documentation/contributing.rst
Labels: area/documentation, pending-review

#3212 Tests: Update Nightly to kubernetes 1.9
  Jenkinsfile.nightly
Labels: area/CI, kind/enhancement, pending-review

#3224 Added -i flag on two occasions to sed command while deleting lines.
  bpf/init.sh
  daemon/bpf.sha
Labels: area/datapath, kind/bug, pending-review

#3227 Contrib: Fix systemd services for consul/etcd
  contrib/systemd/cilium-consul.service
  contrib/systemd/cilium-etcd.service
Labels: area/CI, kind/enhancement, pending-review

#3210 daemon: Fixup no-name backoff default name
  pkg/backoff/backoff.go
Labels: area/daemon, kind/bug, pending-review

#3211 Test: Checks for deadlocks panics in logs per each test.
  test/helpers/cilium.go
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/k8sT/Chaos.go
  test/k8sT/Health.go
  test/k8sT/KafkaPolicies.go
  test/k8sT/Nightly.go
  test/k8sT/Policies.go
  test/k8sT/PoliciesNightly.go
  test/k8sT/Services.go
  test/k8sT/Tunnels.go
  test/k8sT/Updates.go
  test/k8sT/demos.go
  test/runtime/Policies.go
  test/runtime/chaos.go
  test/runtime/cli.go
  test/runtime/connectivity.go
  test/runtime/ct.go
  test/runtime/examples.go
  test/runtime/kafka.go
  test/runtime/kvstore.go
  test/runtime/lb.go
  test/runtime/monitor.go
  vendor.conf
  vendor/github.com/onsi/ginkgo/README.md
  vendor/github.com/onsi/ginkgo/config/config.go
  vendor/github.com/onsi/ginkgo/ginkgo_dsl.go
  vendor/github.com/onsi/ginkgo/internal/leafnodes/benchmarker.go
  vendor/github.com/onsi/ginkgo/internal/leafnodes/it_node.go
  vendor/github.com/onsi/ginkgo/internal/leafnodes/measure_node.go
  vendor/github.com/onsi/ginkgo/internal/leafnodes/runner.go
  vendor/github.com/onsi/ginkgo/internal/leafnodes/setup_nodes.go
  vendor/github.com/onsi/ginkgo/internal/leafnodes/suite_nodes.go
  vendor/github.com/onsi/ginkgo/internal/leafnodes/synchronized_after_suite_node.go
  vendor/github.com/onsi/ginkgo/internal/leafnodes/synchronized_before_suite_node.go
  vendor/github.com/onsi/ginkgo/internal/remote/aggregator.go
  vendor/github.com/onsi/ginkgo/internal/remote/server.go
  vendor/github.com/onsi/ginkgo/internal/remote/syscall_dup_linux_arm64.go
  vendor/github.com/onsi/ginkgo/internal/remote/syscall_dup_solaris.go
  vendor/github.com/onsi/ginkgo/internal/remote/syscall_dup_unix.go
  vendor/github.com/onsi/ginkgo/internal/spec/spec.go
  vendor/github.com/onsi/ginkgo/internal/spec_iterator/parallel_spec_iterator.go
  vendor/github.com/onsi/ginkgo/internal/suite/suite.go
  vendor/github.com/onsi/ginkgo/reporters/default_reporter.go
  vendor/github.com/onsi/ginkgo/reporters/teamcity_reporter.go
Labels: area/CI, kind/enhancement, pending-review

#3223 k8s: Rename CEPs to match their pod name
  pkg/endpoint/endpoint.go
Labels: area/k8s, kind/enhancement, pending-review

#3234 CMD: Add json output on endpoint config
  Documentation/cmdref/cilium_endpoint_config.md
  cilium/cmd/endpoint_config.go
Labels: area/CI, kind/bug/CI, pending-review

#3242 Correctly change Kafka policy filenames to lower case
  examples/policies/l7/kafka/kafka-role.json
  examples/policies/l7/kafka/kafka-role.yaml
Labels: pending-review

#3261 Jenkins: Fix failfast on runtime
  ginkgo.Jenkinsfile
Labels: area/CI, kind/bug/CI, pending-review

#3228 Add timeout for getting etcd session
  pkg/kvstore/etcd.go
Labels: area/daemon, pending-review, release-note/bug

#3258 Ginkgo: Fix issues on AfterAll
  test/ginkgo-ext/scopes.go
  test/runtime/ct.go
Labels: area/CI, kind/bug/CI, pending-review

#3259 Tests: Fix issues on Kafka AfterEach
  test/runtime/kafka.go
Labels: area/CI, kind/bug/CI, pending-review, priority/high

#3252 Loosen VM name matching for `ginkgo -- -cilium.SSHConfig` to match dev VM name
  test/helpers/node.go
Labels: area/CI, pending-review

#3201 Makefile: Add check-bindata to unit-tests
  Makefile
Labels: area/misc

#3257 Clean up and add debug logs to CT map cleanup code
  pkg/endpoint/bpf.go
  pkg/maps/ctmap/ctmap.go
Labels: area/datapath, kind/bug, pending-review, priority/1.0-blocker

#3245 k8s: CEP controller detects and handles health ep
  cilium-health/launch/endpoint.go
  pkg/endpoint/endpoint.go
Labels: area/k8s, kind/bug, pending-review

#3215 k8s: Do not overwrite CRD validation fields
  pkg/k8s/apis/cilium.io/v2/register.go
Labels: area/bugtool, area/k8s, pending-review, priority/1.0-blocker

#3265 Fix nested cmdref links in documentation
  Documentation/cmdref/index.rst
Labels: area/documentation, pending-review, release-note/bug, stable/needs-backport

#3229 Test: Disable rolling status in Update
  test/k8sT/PoliciesNightly.go
  test/k8sT/Updates.go
Labels: kind/enhancement, pending-review

#3277 Test: Disable swap workaround
  test/provision/k8s_install.sh
Labels: area/CI, kind/bug/CI, pending-review

#3213 Doc: Added new step on release
  Documentation/contributing.rst
Labels: area/CI, area/documentation, kind/enhancement, pending-review, ready-to-merge

#3288 bpf: actually move calls map to temporary location and remove it later
  bpf/join_ep.sh
  daemon/bpf.sha
Labels: area/loader, kind/bug

#3293 docs: Fix generated links for latest
  Documentation/conf.py
Labels: area/documentation, pending-review

#3299 Ginkgo: Refactor to use cons
  test/helpers/cilium.go
  test/helpers/cons.go
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#3302 CI: run cilium-docker in debug mode by default in CI
  contrib/systemd/cilium-docker.service
  test/helpers/cilium.go
Labels: area/CI, pending-review

#3303 Vagrant: Update base box version
  Vagrantfile
  test/Vagrantfile
Labels: area/CI, pending-review

#3313 Vagrant: Bump minimal version to 2.0
  Vagrantfile
  examples/getting-started/Vagrantfile
  examples/mesos/Vagrantfile
  test/Vagrantfile
Labels: area/CI, kind/community-report

#3317 health: Fix succinct/verbose modes.
  pkg/health/client/client.go
Labels: area/cli, ready-to-merge

#3321 Sweep policymaps when applying new filters
  pkg/endpoint/policy.go
  pkg/maps/policymap/policymap.go
Labels: area/datapath, area/policy, ready-to-merge

#3311 Test: Fix assert message on kafka tests
  test/runtime/kafka.go
Labels: area/CI, pending-review

#3326 NPDS: Send allow-all policy to proxy when enforcement is disabled
  daemon/daemon.go
  daemon/daemon_test.go
  daemon/policy.go
  daemon/policy_test.go
  pkg/envoy/server.go
  pkg/envoy/server_test.go
Labels: area/proxy, kind/bug, kind/feature, pending-review, priority/1.0-blocker

#3341 envoy: Fix concurrency issues in Cilium xDS server
  pkg/envoy/server.go
Labels: area/proxy, kind/bug, priority/1.0-blocker

#3342 pkg/endpoint: pass denied egress identities to UpdateNetworkPolicy
  pkg/endpoint/policy.go
Labels: area/policy, kind/enhancement, pending-review

#3344 Monitor formatting fixes
  pkg/monitor/datapath_debug.go
Labels: area/monitor, pending-review

#3350 docs: Fix the Kafka policy to use the new role in the GSG
  examples/policies/getting-started/kafka.yaml
Labels: pending-review, release-note/minor

#3353 test/runtime/manifests: fix typo in policy
  test/runtime/manifests/Policies-l7-multiple.json
  test/runtime/manifests/Policies-l7-simple.json
Labels: area/CI, pending-review, priority/high, ready-to-merge

#3310 Documentation: Add Packer-ci-build project and Ginkgo Helpers
  Documentation/contributing.rst
Labels: area/CI, area/documentation, pending-review, ready-to-merge

#3333 Test: Fix RuntimeValidatedConntrackTest test flake
  test/runtime/connectivity.go
Labels: area/CI, kind/bug/CI, kind/enhancement, pending-review

#3380 Update rpm packaging files
  contrib/packaging/rpm/Dockerfile
  contrib/packaging/rpm/cilium.spec.envsubst
  contrib/packaging/rpm/create_rpm.sh
Labels: pending-review

#3375 pkg/policy: remove fromEntities and toEntities from rule type
  daemon/policy.go
  pkg/k8s/apis/cilium.io/utils/utils.go
  pkg/policy/api/rule_validation.go
  pkg/policy/repository.go
  pkg/policy/rule.go
  pkg/policy/rule_test.go
Labels: area/policy, needs/e2e-test, priority/1.0-blocker

#3377 Ginkgo: Add NFS support on Vagrantfile
  test/Vagrantfile
Labels: area/CI, kind/enhancement, pending-review

#3291 daemon: Clarify cases in which PATCH /endpoint waits
  daemon/endpoint.go
Labels: area/daemon, pending-review

#3382 Vagrant: Bump version to 46
  Vagrantfile
  test/Vagrantfile
Labels: area/CI, kind/enhancement

#3378 Check if localStatus is populated in health server
  pkg/health/server/server.go
Labels: area/daemon, pending-review, release-note/bug

#3405 xds: Handle NACKs of initial versions of resources
  pkg/envoy/xds/server.go
  pkg/envoy/xds/server_e2e_test.go
Labels: area/proxy, kind/bug, pending-review, priority/1.0-blocker, priority/insane

#3384 Test: Fix logger testName
  test/k8sT/Updates.go
Labels: area/CI, kind/bug/CI, pending-review

#3403 pkg/ipcache: remove stale identity to IP mappings from XDS cache upon identity update for endpoint
  pkg/ipcache/ipcache.go
Labels: area/policy, pending-review

#3411 Test: Fix issue with cilium bugtool
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, pending-review

#3379 Test: Complete Egress default-deny test
  test/k8sT/Policies.go
Labels: area/CI, kind/enhancement, pending-review, priority/high

#3404 bugtool: add output of `cilium bpf ipcache list`
  bugtool/cmd/configuration.go
Labels: area/bugtool, area/cli, priority/1.0-best-effort

#3430 envoy: Make 403 message configurable.
  daemon/main.go
  envoy/cilium/cilium_l7policy.proto
  envoy/cilium_l7policy.cc
  envoy/cilium_l7policy.h
  pkg/envoy/server.go
Labels: area/proxy, pending-review, priority/insane
