Repository cilium/cilium, pull requests merged in 2018-11, with the labels that each got.

#6112 mountinfo: Add unit tests
  pkg/mountinfo/mountinfo.go
  pkg/mountinfo/mountinfo_test.go
Labels: halloween-special, ready-to-merge

#6129 Makefiles: Fix up GO references
  .travis.yml
  Makefile
  Makefile.defs
  bugtool/Makefile
  cilium-health/Makefile
  cilium/Makefile
  daemon/Makefile
  monitor/Makefile
  plugins/cilium-cni/Makefile
  plugins/cilium-docker/Makefile
  proxylib/Makefile
  test/bpf/Makefile
  tools/ring-dump/Makefile
Labels: area/misc, halloween-special, ready-to-merge

#6136 docs: remove height for all images
  Documentation/concepts.rst
  Documentation/contributing.rst
Labels: area/documentation, needs-backport/1.0, needs-backport/1.1, needs-backport/1.2, needs-backport/1.3, pending-review

#6137 command/exec: Add unit tests
  pkg/command/exec/exec.go
  pkg/command/exec/exec_test.go
Labels: halloween-special, pending-review

#6140 Makefile: ignore unit test coverage for generated files
  Makefile
Labels: area/CI, halloween-special, pending-review

#6145 endpoint: Unlock endpoint to prevent deadlocks.
  pkg/endpoint/endpoint.go
Labels: area/daemon, kind/bug, needs-backport/1.2, needs-backport/1.3, priority/high

#6152 endpoint/id: improve SplitID function performance by 6x
  pkg/endpoint/id/id.go
  pkg/endpoint/id/id_test.go
  pkg/endpoint/policy.go
Labels: halloween-special, pending-review

#6138 Policy: Import kubernetes UID into the policy.
  daemon/k8s_watcher_test.go
  pkg/k8s/apis/cilium.io/const.go
  pkg/k8s/apis/cilium.io/utils/utils.go
  pkg/k8s/apis/cilium.io/utils/utils_test.go
  pkg/k8s/apis/cilium.io/v2/types.go
  pkg/k8s/apis/cilium.io/v2/types_test.go
  pkg/k8s/network_policy.go
  pkg/k8s/network_policy_test.go
Labels: area/daemon, area/k8s, area/policy, pending-review

#6160 .gitignore: Ignore temporary LLVM files
  .gitignore
Labels: area/CI, kind/bug/CI, pending-review, priority/high

#6156 node: remove dependency on BPF code
  daemon/daemon.go
  pkg/maps/tunnel/tunnel.go
  pkg/node/datapath.go
  pkg/node/manager.go
Labels: halloween-special, kind/cleanup, kind/enhancement, pending-review

#6153 VERSION: bump to 1.3.90
  VERSION
Labels: halloween-special, kind/bug, pending-review

#6154 identity: factor kvstore-related code out into sub-package
  cilium/cmd/identity_list.go
  daemon/daemon.go
  daemon/daemon_test.go
  daemon/identity.go
  daemon/logstash.go
  daemon/main.go
  daemon/policy_test.go
  daemon/state.go
  daemon/state_test.go
  pkg/clustermesh/clustermesh_test.go
  pkg/clustermesh/remote_cluster.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/owner.go
  pkg/endpoint/policy.go
  pkg/envoy/server.go
  pkg/envoy/server_test.go
  pkg/identity/cache/allocation_test.go
  pkg/identity/cache/allocator.go
  pkg/identity/cache/cache.go
  pkg/identity/cache/cache_test.go
  pkg/identity/cidr/identity.go
  pkg/identity/identity.go
  pkg/identity/identity_test.go
  pkg/identity/numericidentity.go
  pkg/identity/reserved.go
  pkg/ipcache/cidr.go
  pkg/proxy/epinfo.go
  pkg/proxy/kafka.go
Labels: halloween-special, kind/cleanup, kind/enhancement, pending-review

#6164 bpf: fix empty map check condition
  cilium/cmd/map_get.go
Labels: kind/bug, release-note/bug

#6168 bpf, doc: add various figures to the reference guide
  Documentation/bpf.rst
  Documentation/images/bpf_call.png
  Documentation/images/bpf_fs.png
  Documentation/images/bpf_jit.png
  Documentation/images/bpf_map.png
  Documentation/images/bpf_offload.png
  Documentation/images/bpf_tailcall.png
Labels: area/documentation, pending-review

#6166 Jenkinsfile: do not run unit tests
  ginkgo.Jenkinsfile
Labels: area/CI, kind/enhancement, pending-review

#6125 Single cilium binary with aiases to optimize container image size
  Documentation/Makefile
  Makefile
  cilium/Makefile
  cilium/main.go
  daemon/Makefile
  daemon/daemon_main.go
  daemon/main.go
  monitor/Makefile
  monitor/listener1_0.go
  monitor/listener1_2.go
  monitor/monitor.go
  monitor/monitor_main.go
Labels: needs-rebase, pending-review, release-note/major

#6148 Dockerfile: point envoy image to an existent repository
  Dockerfile
  envoy/Makefile
Labels: pending-review, priority/high

#6175 Dockerfile: Start with FROM
  Dockerfile
  Makefile.defs
Labels: area/misc, kind/bug, priority/high

#6126 factor out code from pkg/endpoint, cilium-health which depends on pkg/k8s
  cilium-health/launch/endpoint.go
  daemon/daemon.go
  daemon/daemon_main.go
  daemon/endpoint.go
  daemon/k8s_watcher.go
  pkg/endpoint/annotator.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/policy.go
  pkg/endpointmanager/manager.go
  pkg/k8s/annotate.go
  pkg/k8s/cep.go
  pkg/k8s/client.go
  pkg/k8s/client_test.go
Labels: halloween-special, kind/cleanup, kind/enhancement, pending-review

#6173 pkg/endpoint: do not leak go routines if endpoint is disconnected
  pkg/endpoint/policy.go
Labels: kind/bug, needs-backport/1.3, pending-review

#6159 Update envoy proxy, add llvm to Requires
  contrib/packaging/rpm/Makefile
  contrib/packaging/rpm/cilium.spec.envsubst
Labels: kind/enhancement, pending-review

#6182 pkg/k8s: make output of Endpoints.String() deterministic
  pkg/k8s/endpoints.go
  pkg/k8s/endpoints_test.go
Labels: area/CI, kind/bug/CI, priority/high

#5442 daemon: move map-related code to map.go
  daemon/daemon.go
  daemon/daemon_main.go
  pkg/datapath/maps/doc.go
  pkg/datapath/maps/map.go
Labels: area/daemon, kind/cleanup, pending-review

#5729 Add a test for CNP update of same policy
  test/k8sT/Policies.go
  test/k8sT/manifests/cnp-update-allow-all.yaml
  test/k8sT/manifests/cnp-update-deny-ingress-labelled.yaml
  test/k8sT/manifests/cnp-update-deny-ingress.yaml
  test/k8sT/manifests/cnp-update-no-specs.yaml
Labels: halloween-special, ready-to-merge

#6167 Cassandra Parser: Unit tests and fixes for 'batch' requests and 'prepared queries'
  proxylib/cassandra/cassandraparser.go
  proxylib/cassandra/cassandraparser_test.go
Labels: kind/bug, pending-review

#6196 Jenkinsfile: reduce timeout to 75 minutes
  ginkgo.Jenkinsfile
Labels: area/CI, pending-review, ready-to-merge

#6199 daemon: debuginfo: Read file directly instead of using cat
  daemon/debuginfo.go
  daemon/debuginfo_test.go
Labels: area/daemon, pending-review

#6131 Move L7 CNP update test to new context section
  test/k8sT/Policies.go
Labels: area/CI, ready-to-merge

#6174 cilium: unmount default cgroupv2 if mounted
  cilium/cmd/cleanup.go
Labels: pending-review

#6202 Return version to ldflags in Makefile.defs
  Makefile.defs
Labels: pending-review, ready-to-merge, requires-janitor-review

#6206 docs: use READTHEDOCS version in version warning
  Documentation/conf.py
Labels: area/documentation, needs-backport/1.0, needs-backport/1.1, needs-backport/1.2, needs-backport/1.3, pending-review

#5440 daemon: factor out iptables code into pkg/iptables
  daemon/config.go
  daemon/daemon.go
  daemon/daemon_main.go
  pkg/datapath/iptables/doc.go
  pkg/datapath/iptables/iptables.go
  pkg/datapath/iptables/log.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: area/daemon, halloween-special, kind/cleanup, pending-review

#6214 pkg/endpoint: ignore negative time durations in metrics
  pkg/endpoint/policy.go
Labels: kind/bug, needs-backport/1.3, pending-review, priority/insane, release-note/bug

#6223 docs: use READTHEDOCS version in version warning
  Documentation/conf.py
Labels: backport/1.0, pending-review

#6227 docs: use READTHEDOCS version in version warning
  Documentation/conf.py
Labels: backport/1.2, pending-review

#6219 health-ep: use launcher to prevent defunct spawn_netns
  cilium-health/launch/endpoint.go
Labels: area/health, pending-review

#6226 docs: use READTHEDOCS version in version warning
  Documentation/conf.py
Labels: backport/1.1, pending-review

#6207 k8s: CEP controller retries k8s version checks
  pkg/k8s/cep.go
Labels: area/k8s, needs-backport/1.2, needs-backport/1.3, pending-review, release-note/bug

#6184 cilium: eppolicymap unit tests
  pkg/maps/eppolicymap/eppolicymap_test.go
Labels: pending-review

#6212 istio: Quit init container as soon as DNS connectivity works.
  examples/kubernetes-istio/cilium-kube-inject.awk
  test/k8sT/manifests/bookinfo-v1-istio.yaml
  test/k8sT/manifests/bookinfo-v2-istio.yaml
  test/k8sT/manifests/istio-cilium.yaml
Labels: area/proxy, kind/bug, kind/enhancement, pending-review, priority/medium

#6231 docs: remove width from cilium arch image
  Documentation/concepts.rst
Labels: area/documentation, pending-review

#5920 KVStore: refactor and add metrics.
  pkg/kvstore/consul.go
  pkg/kvstore/etcd.go
  pkg/kvstore/kvstore_test.go
  pkg/kvstore/metrics.go
  pkg/metrics/metrics.go
Labels: area/daemon, area/metrics, pending-review, release-note/minor

#6233 1.2 backport: k8s: CEP controller retries k8s version checks
  pkg/endpoint/endpoint.go
Labels: backport/1.2, pending-review

#6246 pkg/{datapath,ipam}: use defaults.HostDevice instead cilium_host
  pkg/datapath/iptables/iptables.go
  pkg/ipam/init.go
  pkg/node/manager.go
  pkg/node/node_address.go
Labels: kind/cleanup, pending-review

#6239 dep: upgrade CNI library to allow CNI chaining
  Gopkg.lock
  Gopkg.toml
  pkg/ipam/init.go
  pkg/ipam/types.go
  plugins/cilium-cni/cilium-cni.go
  vendor/github.com/containernetworking/cni/pkg/ip/route_linux.go
  vendor/github.com/containernetworking/cni/pkg/ns/ns_linux.go
  vendor/github.com/containernetworking/cni/pkg/ns/ns_unspecified.go
  vendor/github.com/containernetworking/cni/pkg/skel/skel.go
  vendor/github.com/containernetworking/cni/pkg/types/020/types.go
  vendor/github.com/containernetworking/cni/pkg/types/args.go
  vendor/github.com/containernetworking/cni/pkg/types/current/types.go
  vendor/github.com/containernetworking/cni/pkg/types/types.go
  vendor/github.com/containernetworking/cni/pkg/version/plugin.go
  vendor/github.com/containernetworking/cni/pkg/version/version.go
  vendor/github.com/containernetworking/cni/plugins/ipam/host-local/backend/allocator/allocator.go
  vendor/github.com/containernetworking/cni/plugins/ipam/host-local/backend/allocator/config.go
  vendor/github.com/containernetworking/cni/plugins/ipam/host-local/backend/store.go
  vendor/github.com/containernetworking/plugins/LICENSE
  vendor/github.com/containernetworking/plugins/pkg/ip/addr_linux.go
  vendor/github.com/containernetworking/plugins/pkg/ip/cidr.go
  vendor/github.com/containernetworking/plugins/pkg/ip/ipforward_linux.go
  vendor/github.com/containernetworking/plugins/pkg/ip/ipmasq_linux.go
  vendor/github.com/containernetworking/plugins/pkg/ip/link_linux.go
  vendor/github.com/containernetworking/plugins/pkg/ip/route_linux.go
  vendor/github.com/containernetworking/plugins/pkg/ns/ns_linux.go
  vendor/github.com/containernetworking/plugins/pkg/utils/hwaddr/hwaddr.go
  vendor/github.com/containernetworking/plugins/plugins/ipam/host-local/backend/allocator/allocator.go
  vendor/github.com/containernetworking/plugins/plugins/ipam/host-local/backend/allocator/config.go
  vendor/github.com/containernetworking/plugins/plugins/ipam/host-local/backend/allocator/range.go
  vendor/github.com/containernetworking/plugins/plugins/ipam/host-local/backend/allocator/range_set.go
  vendor/github.com/containernetworking/plugins/plugins/ipam/host-local/backend/store.go
Labels: area/cni, kind/enhancement, pending-review

#6250 set reloadDatapath flag as a function parameter
  daemon/daemon.go
  daemon/policy.go
  daemon/policy_test.go
  daemon/state.go
  daemon/state_test.go
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/policy.go
  pkg/endpointmanager/manager.go
Labels: kind/bug, needs-backport/1.3, pending-review, priority/high

#6245 pkg/proxy: remove gotos and re-structure code
  pkg/proxy/proxy.go
Labels: area/proxy, kind/cleanup, pending-review

#6247 daemon: simplify createEndpoint handle logic
  daemon/endpoint.go
  daemon/endpoint_test.go
Labels: area/daemon, kind/cleanup, pending-review

#6241 Test: Fix CIDR/L4 flakes
  test/runtime/Policies.go
Labels: area/CI, pending-review, ready-to-merge

#6253 pidfile: Add unit tests
  pkg/pidfile/pidfile.go
  pkg/pidfile/pidfile_test.go
Labels: area/CI, pending-review

#6259 exec: Increase timeout of TestWithTimeout unit test
  pkg/command/exec/exec_test.go
Labels: area/CI, requires-janitor-review

#6261 daemon: Handle listen/serve errors with channels
  daemon/daemon_main.go
  daemon/metrics.go
  pkg/metrics/metrics.go
Labels: area/daemon, pending-review

#6262 kvstore: fix etcd option checking
  pkg/kvstore/etcd.go
Labels: pending-review

#6269 bpf: Fix node-port access to l7 proxy
  bpf/bpf_netdev.c
  daemon/bpf.sha
Labels: area/datapath, needs-backport/1.2, needs-backport/1.3, ready-to-merge

#6266 Add k8s test for nodeport with proxy
  test/k8sT/Services.go
  test/k8sT/manifests/l7-policy-demo.yaml
Labels: area/CI, ready-to-merge

#6277 v1.2 backport: bpf: Fix node-port access to l7 proxy
  bpf/bpf_netdev.c
  daemon/bpf.sha
Labels: backport/1.2, pending-review

#6256 Vagrant: Bump base box to version 126.
  Vagrantfile
  test/Vagrantfile
  test/provision/k8s_install.sh
Labels: area/CI, pending-review

#6284 daemon: Use uname syscall to get kernel version
  daemon/daemon_main.go
Labels: kind/enhancement, pending-review

#6265 policy: refactor some policy repository functions to act upon a slice of *rule instead of repository itself
  pkg/policy/repository.go
  pkg/policy/rules.go
Labels: area/policy, kind/cleanup, pending-review

#6285 docs: fix ginkgo installation instructions
  Documentation/contributing.rst
Labels: area/documentation, pending-review

#6062 test: Use cilium-etcd-operator
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/k8sT/Nightly.go
  test/k8sT/Updates.go
  test/k8sT/assertionHelpers.go
  test/kubernetes-test.sh
Labels: area/CI, needs-backport/1.3, pending-review, priority/high

#6283 pkg/sockops: use native go API for mount
  pkg/sockops/sockops.go
Labels: kind/enhancement, pending-review, release-note/minor

#6293 test: perform downgrade for given version
  test/k8sT/Updates.go
Labels: area/CI, kind/bug/CI

#6302 update k8s versions to 1.10.11 1.11.5 and 1.12.3
  test/provision/k8s_install.sh
Labels: area/CI, pending-review

#6299 cni: Synchroneous pod label retrieval on CNI add
  Documentation/concepts.rst
  api/v1/models/endpoint_change_request.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/daemon_main.go
  daemon/endpoint.go
  pkg/endpoint/endpoint.go
  pkg/k8s/labels.go
  pkg/workloads/kubernetes.go
  plugins/cilium-cni/cilium-cni.go
Labels: kind/enhancement, needs-backport/1.2, needs-backport/1.3, pending-review

#6309 examples/kubernetes: make cilium-pre-flight to run in hostNetwork
  examples/kubernetes/1.10/cilium-pre-flight.yaml
  examples/kubernetes/1.11/cilium-pre-flight.yaml
  examples/kubernetes/1.12/cilium-pre-flight.yaml
  examples/kubernetes/1.8/cilium-pre-flight.yaml
  examples/kubernetes/1.9/cilium-pre-flight.yaml
  examples/kubernetes/templates/v1/cilium-pre-flight.yaml.sed
Labels: area/k8s, needs-backport/1.3, pending-review

#6298 Test: Add DNS proxy test
  test/runtime/fqdn.go
Labels: area/CI, area/policy, kind/enhancement, pending-review

#6310 docs: fix documentation typos
  Documentation/install/upgrade.rst
Labels: area/documentation, pending-review

#6249 Cilium-operator: Added AWS credentials.
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-operator.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-operator.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-operator.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-operator.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-operator.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/addons/aws-security/cilium-aws-secret.yaml
  examples/kubernetes/templates/v1/cilium-operator.yaml.sed
Labels: area/k8s, pending-review

#6324 Examples/operator: Add the option to work with Cilium resources.
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-operator.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-operator.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-operator.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-operator.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-operator.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-operator.yaml.sed
Labels: area/daemon, kind/bug, pending-review, priority/high

#6311 v1.3 backports 2018-11-28
  examples/kubernetes/1.10/cilium-pre-flight.yaml
  examples/kubernetes/1.11/cilium-pre-flight.yaml
  examples/kubernetes/1.12/cilium-pre-flight.yaml
  examples/kubernetes/1.8/cilium-pre-flight.yaml
  examples/kubernetes/1.9/cilium-pre-flight.yaml
  examples/kubernetes/templates/v1/cilium-pre-flight.yaml.sed
Labels: area/k8s, backport/1.3, pending-review

#6300 [FQDN] Delete lookups after last rule was deleted
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/fqdn/regexpmap/regexp_map.go
  pkg/fqdn/regexpmap/regexp_map_test.go
Labels: kind/bug, pending-review

#6312 Cilium Backports 1.2- 28-11-2018
  Documentation/concepts.rst
  api/v1/models/endpoint_change_request.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/endpoint.go
  daemon/main.go
  pkg/endpoint/endpoint.go
  pkg/k8s/labels.go
  pkg/workloads/kubernetes.go
  plugins/cilium-cni/cilium-cni.go
Labels: backport/1.2, pending-review

#6335 vendor: downgrade hashicorp/go-version
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/hashicorp/consul/website/source/api/operator/license.html.md
  vendor/github.com/hashicorp/consul/website/source/docs/commands/license.html.markdown.erb
  vendor/github.com/hashicorp/go-rootcerts/LICENSE
  vendor/github.com/hashicorp/go-version/constraint.go
  vendor/github.com/hashicorp/go-version/version.go
Labels: pending-review, priority/high

#6334 Vagrantfile: Silence chown -R permission warnings
  Vagrantfile
Labels: area/misc, kind/enhancement, pending-review, priority/medium

#6313 health-ep: provide netmask to spawn_netns
  cilium-health/launch/endpoint.go
Labels: area/health

#6329 identity: Add well-known identity for cilium operator
  Documentation/policy/language.rst
  pkg/identity/numericidentity.go
Labels: kind/bug, pending-review

#6327 FQDNS- New test and fixes
  test/runtime/fqdn.go
Labels: area/CI, kind/bug/CI, kind/enhancement, pending-review
