Repository cilium/cilium, pull requests merged in 2018-05, with the labels that each got.

#3960 pkg/endpoint: remove WaitGroup return value from TriggerPolicyUpdatesLocked
  pkg/endpoint/endpoint.go
  pkg/endpoint/policy.go
  pkg/endpointmanager/manager.go
Labels: area/policy, kind/cleanup, pending-review, requires-janitor-review

#3956 Nightly: Exclude connectivity test on invalid policies
  test/helpers/kubectl.go
  test/helpers/policygen/models.go
  test/helpers/policygen/policygen.go
Labels: area/CI, pending-review, ready-to-merge

#3977 docs: Correct RBAC urls in upgrade guide
  Documentation/install/upgrade.rst
Labels: area/documentation, stable/needs-backport

#3974 Test: Updating Kube-dns manifest to get more verbose
  test/provision/manifest/dns_deployment.yaml
Labels: area/CI, kind/bug/CI, pending-review, priority/high, ready-to-merge

#3980 pkg/identity: move LabelArray from Consumable to SecurityIdentity
  daemon/policy.go
  daemon/state_test.go
  pkg/endpoint/policy.go
  pkg/identity/identity.go
  pkg/policy/consumer.go
Labels: area/policy, kind/cleanup, pending-review

#3959 daemon: Check if device exists on endpoint restore
  daemon/state.go
Labels: area/daemon, ready-to-merge

#3996 Bugtool: Fix gops commands
  bugtool/cmd/configuration.go
  bugtool/cmd/root.go
Labels: area/bugtool, pending-review

#3987 pkg/policy: remove "changed" return value from regenerateConsumable
  pkg/endpoint/policy.go
Labels: area/policy, kind/cleanup, pending-review

#3869 envoy: Log CIDR->ID mappings at debug level.
  envoy/cilium_host_map.cc
  envoy/cilium_host_map.h
  envoy/cilium_integration_test.cc
Labels: area/proxy, kind/enhancement, priority/medium, ready-to-merge

#3456 Test: Simplified Kafka K8S test
  test/helpers/kubectl.go
  test/k8sT/KafkaPolicies.go
  test/k8sT/manifests/kafka-sw-app.yaml
Labels: area/CI, kind/enhancement, pending-review

#4012 test/helpers: disable microscope in K8s tests
  test/helpers/kubectl.go
Labels: kind/bug/CI, pending-review

#3989 pkg/endpoint: remove PortMap field
  bpf/bpf_lxc.c
  bpf/lib/common.h
  bpf/lib/l3.h
  bpf/lib/l4.h
  daemon/bpf.sha
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/maps/lxcmap/lxcmap.go
  plugins/cilium-docker/driver/driver.go
Labels: kind/cleanup, pending-review

#4034 test/k8sT: do not set Debug=False during tests
  test/k8sT/Policies.go
Labels: area/CI, kind/bug/CI, pending-review, priority/high, ready-to-merge

#3918 envoy: Build Istio Docker images
  .gitignore
  envoy/BUILD
  envoy/Dockerfile.istio_proxy.in
  envoy/Dockerfile.istio_proxy_debug.in
  envoy/Makefile
  envoy/README.Istio.md
  envoy/WORKSPACE
  envoy/envoy_bootstrap_tmpl.json
Labels: area/CI, area/proxy, kind/feature, pending-review, priority/high

#4030 contrib: Remove KVstore containers in systemd scripts
  contrib/systemd/cilium-consul.service
  contrib/systemd/cilium-etcd.service
Labels: area/misc, kind/enhancement, ready-to-merge

#4040 test: add helper to wait for CEP revision update in K8s
  test/helpers/kubectl.go
  test/k8sT/KafkaPolicies.go
Labels: area/CI, kind/bug/CI, pending-review, priority/high

#4045 Fix bookinfo URL accesses
  test/k8sT/Services.go
Labels: area/CI, priority/high, ready-to-merge, stable/needs-backport

#4049 Fix broken kubernetes-ingress example
  examples/kubernetes-ingress/scripts/03-install-kubernetes-worker.sh
Labels: area/documentation, pending-review

#3998 monitor: Don't spinloop on node-monitor crashes
  monitor/launch/launcher.go
Labels: area/monitor, pending-review

#4056 proxy: Test if port is available before allocating it for a proxy.
  pkg/proxy/proxy.go
Labels: area/proxy, kind/bug, pending-review, priority/release-blocker, stable/needs-backport

#4054 vagrant: configure journald to allow for large amounts of logs
  Vagrantfile
  test/provision/runtime_install.sh
Labels: area/CI, kind/bug/CI, pending-review, priority/high

#3831 Log monitor client disconnect nicely
  monitor/monitor.go
Labels: area/monitor, pending-review

#4025 Contrib: Add a jenkins status script.
  contrib/scripts/jenkins-status.sh
Labels: kind/enhancement, pending-review

#3955 Notify monitor about policy changes
  daemon/main.go
  daemon/policy.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/policy.go
  pkg/monitor/agent.go
  pkg/monitor/agent_test.go
  pkg/monitor/notifications/notifications.go
Labels: area/monitor, pending-review

#4062 cilium/cmd: add ls alias for list commands
  cilium/cmd/bpf_ct_list.go
  cilium/cmd/bpf_endpoint_list.go
  cilium/cmd/bpf_ipcache_list.go
  cilium/cmd/bpf_lb_list.go
  cilium/cmd/bpf_proxy_list.go
  cilium/cmd/bpf_tunnel_list.go
  cilium/cmd/endpoint_list.go
  cilium/cmd/identity_list.go
  cilium/cmd/prefilter_list.go
  cilium/cmd/service_list.go
Labels: area/cli, kind/enhancement, priority/1.1, ready-to-merge

#3944 Clean up CIDR policy plumbing after Identity-based CIDR policies
  pkg/endpoint/bpf.go
  pkg/policy/l3.go
  pkg/policy/rule.go
Labels: area/policy, kind/cleanup, pending-review

#4067 controller: Cleanup global manager on UpdateController
  pkg/controller/manager.go
Labels: area/daemon, release-note/bug, stable/needs-backport

#4078 k8s: Bump CRD schema version.
  pkg/k8s/apis/cilium.io/v2/register.go
Labels: area/k8s, priority/high, ready-to-merge, stable/needs-backport

#4079 Ensure that bpf maps are restored on load failure
  bpf/init.sh
  bpf/join_ep.sh
  daemon/bpf.sha
Labels: area/datapath, pending-review, release-note/bug, stable/needs-backport

#4083 tunnel: Add debug messages on tunnel map manipulation
  pkg/maps/tunnel/logfields.go
  pkg/maps/tunnel/tunnel.go
Labels: area/datapath, kind/enhancement, pending-review, priority/1.1

#4033 proxy: Release redirect sooner.
  pkg/proxy/proxy.go
Labels: area/proxy, kind/cleanup, pending-review, priority/medium

#4072 [Docs] Kops installation guide stub
  Documentation/install/guides/index.rst
  Documentation/install/guides/kops.rst
  Documentation/kubernetes/index.rst
  Documentation/spelling_wordlist.txt
Labels: 1.0-doc-work, area/documentation, pending-review, stable/needs-backport

#4092 labels: Replace ParseStringLabels with NewLabelsFromModel
  cilium/cmd/endpoint_labels.go
  daemon/endpoint.go
  pkg/labels/labels.go
Labels: area/daemon, kind/cleanup, pending-review, priority/low

#4095 controller: Skip StopFunc when stopping controller for update
  pkg/controller/controller.go
  pkg/controller/manager.go
Labels: area/daemon, kind/bug, pending-review, priority/high, stable/needs-backport

#4096 k8s: Consistently check for namespace labels in endpoint selectors
  pkg/k8s/apis/cilium.io/utils/utils.go
Labels: area/k8s, kind/bug, pending-review, priority/medium, stable/needs-backport

#4071 Test: Update Vagrant boxes
  Documentation/contributing.rst
  Vagrantfile
  test/Vagrantfile
  test/provision/k8s_install.sh
Labels: area/CI, area/k8s, pending-review

#4101 bpf: Avoid unnecessary debug output on policy map open
  pkg/bpf/map.go
  pkg/maps/policymap/policymap.go
Labels: area/datapath, kind/enhancement, pending-review

#4102 testutils: Factor our random rune generator
  pkg/kvstore/allocator/allocator_test.go
  pkg/testutils/rand_name.go
  pkg/testutils/rand_name_test.go
Labels: kind/enhancement, pending-review

#4105 agent: Fix panic when node.GetNodes() is empty
  daemon/status.go
Labels: kind/bug, pending-review, release-note/bug, stable/needs-backport

#4104 agent: Fix indentation of loopback address
  daemon/daemon.go
Labels: kind/bug, pending-review, release-note/bug

#4107 bpf: remove geneve TLV options
  bpf/bpf_overlay.c
  bpf/lib/common.h
  bpf/lib/encap.h
  bpf/lib/geneve.h
  bpf/lxc_config.h
  daemon/bpf.sha
  daemon/policy_test.go
  pkg/endpoint/bpf.go
  pkg/geneve/geneve.go
Labels: area/daemon, area/datapath, kind/bug, stable/needs-backport

#4106 pkg/ip: fix getNextIP for IPv4
  pkg/ip/ip.go
  pkg/ip/ip_test.go
Labels: kind/bug, pending-review, priority/1.1, priority/medium, stable/needs-backport

#4110 pkg/policy/api: add basic HTTP Rule sanitization
  pkg/policy/api/http.go
  pkg/policy/api/rule_validation.go
  pkg/policy/api/rule_validation_test.go
Labels: area/policy, pending-review, release-note/bug

#4111 bpf: Fix failure handling in CreateMap
  pkg/bpf/bpf.go
Labels: area/datapath, pending-review, stable/needs-backport

#4116 bpf: Respond to all ARP requests
  bpf/bpf_lxc.c
  bpf/lib/arp.h
  daemon/bpf.sha
Labels: area/datapath, kind/bug, pending-review, stable/needs-backport, upgrade-impact

#4118 cmd: Fix `cilium bpf ipcache`
  Documentation/cmdref/cilium_bpf.md
  Documentation/cmdref/cilium_bpf_ipcache.md
  Documentation/cmdref/cilium_bpf_ipcache_list.md
  cilium/cmd/bpf_ipcache.go
  cilium/cmd/bpf_ipcache_list.go
Labels: area/cli, kind/cleanup, ready-to-merge

#4114 test/k8sT: move creation / deletion of resources outside of `It`
  test/k8sT/Services.go
Labels: area/CI, pending-review, ready-to-merge

#4074 endpoints will regenerate when there were previous regeneration failures
  pkg/endpoint/policy.go
Labels: area/daemon, kind/bug, pending-review, release-note/bug, stable/needs-backport

#4127 Test: Add more context commands on AfterFailed commands
  test/helpers/cilium.go
  test/helpers/cmd.go
  test/helpers/kubectl.go
  test/k8sT/Health.go
  test/k8sT/KafkaPolicies.go
  test/k8sT/PoliciesNightly.go
  test/k8sT/Services.go
  test/k8sT/demos.go
  test/runtime/Policies.go
  test/runtime/cli.go
  test/runtime/connectivity.go
  test/runtime/ct.go
  test/runtime/kafka.go
  test/runtime/kvstore.go
  test/runtime/lb.go
Labels: area/CI, kind/enhancement, pending-review, ready-to-merge

#4085 `cilium monitor` json mode
  Documentation/cmdref/cilium_monitor.md
  cilium/cmd/monitor.go
  pkg/monitor/agent.go
  pkg/monitor/datapath_debug.go
  pkg/monitor/datapath_drop.go
  pkg/monitor/datapath_trace.go
  pkg/monitor/dissect.go
  pkg/monitor/logrecord.go
Labels: pending-review

#4136 test/k8sT/manifests: re-add l3_l4_policy.yaml
  test/k8sT/manifests/l3_l4_policy.yaml
Labels: area/CI, kind/regression, pending-review, priority/insane

#4135 docs: Remove repetition from Istio GSG.
  Documentation/gettingstarted/istio.rst
Labels: area/documentation, kind/cleanup, pending-review, priority/medium

#4142 endpoint: Allow traffic in BPF map when transitioning to allow-all
  pkg/endpoint/policy.go
Labels: area/datapath, area/policy, kind/bug, pending-review, priority/high

#4141 pkg/endpoint: release lock if syncPolicyMap fails
  pkg/endpoint/bpf.go
Labels: kind/bug, kind/regression, priority/high, ready-to-merge

#4147 Remove upstart artifacts.
  Documentation/install/guides/from_source.rst
  bugtool/cmd/configuration.go
  contrib/upstart/cilium-consul.conf
  contrib/upstart/cilium-docker.conf
  contrib/upstart/cilium-etcd.conf
  contrib/upstart/cilium-policy-watcher.conf
  contrib/upstart/cilium.conf
Labels: area/documentation, area/misc, kind/cleanup, pending-review, requires-janitor-review

#4126 docs: k8s: updating docs for k8s v1.9, 1.10 and 1.11 support
  Documentation/kubernetes/compatibility.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#4130 configuration: move TracingEnabled to pkg/option
  daemon/daemon.go
  daemon/daemon_test.go
  pkg/endpoint/owner.go
  pkg/endpoint/policy.go
  pkg/option/config.go
Labels: area/policy, kind/cleanup, pending-review, requires-janitor-review

#4158 pkg/endpoint: fix owner merge conflict
  pkg/endpoint/policy.go
Labels: area/daemon, pending-review, priority/insane

#4017 re-enable microscope in CI
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#4166 test: Revert "Re-enable microscsope in CI"
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, priority/high

#4150 test: Don't gather logs in -holdEnvironment
  test/helpers/cilium.go
  test/helpers/kubectl.go
Labels: area/CI, kind/enhancement, ready-to-merge, stable/needs-backport

#4149 bpf: Fix lxc header guard
  bpf/lib/lxc.h
  daemon/bpf.sha
Labels: area/datapath, kind/cleanup, pending-review

#4152 Fix image formatting and simplifies app yaml
  Documentation/gettingstarted/minikube.rst
  examples/minikube/http-sw-app.yaml
Labels: area/documentation, area/k8s, pending-review, stable/needs-backport

#4175 K8s: Append rule labels while parsing api.Rule
  pkg/k8s/apis/cilium.io/utils/utils.go
  pkg/k8s/apis/cilium.io/v2/types_test.go
Labels: area/k8s, kind/bug, pending-review, priority/low, release-note/bug, stable/needs-backport

#4185 endpoint: Fix detection of L4 policy changes
  pkg/endpoint/policy.go
Labels: area/policy, pending-review, priority/1.1, priority/high

#4173 xds: Match the client's version if higher than the server's
  pkg/envoy/xds/cache.go
  pkg/envoy/xds/server_e2e_test.go
  pkg/envoy/xds/set.go
  pkg/envoy/xds/watcher.go
Labels: area/proxy, kind/bug, pending-review, priority/medium, stable/needs-backport

#4194 ipcache: Create copies of NPHDS cache resources when deleting
  pkg/envoy/resources.go
Labels: area/proxy, kind/bug, pending-review, priority/high, stable/needs-backport

#4172 Fix datapath connectivity issue during ipcache upsert
  daemon/daemon.go
  daemon/endpoint.go
  pkg/envoy/resources.go
  pkg/ipcache/ipcache.go
Labels: area/daemon, area/proxy, pending-review

#4193 bugtool: Add '-a' option to netstat.
  bugtool/cmd/configuration.go
Labels: area/cli, kind/enhancement, pending-review, priority/medium, stable/needs-backport

#4179 Test: Dump vagrant provision logs to Jenkins console.
  test/helpers/vagrant.go
Labels: area/CI, kind/enhancement, pending-review, ready-to-merge

#4176 Test: Junit attachment
  Jenkinsfile.nightly
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
  test/archive_test_results.sh
  test/ginkgo-ext/scopes.go
  test/helpers/utils.go
  test/runtime/lb.go
  test/test_suite_test.go
Labels: area/CI, kind/enhancement, pending-review

#4108 Jenkins: Fix issues with downstreams Jobs
  Jenkinsfile.nightly
  docs.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
  kubernetes-upstream.Jenkinsfile
Labels: area/documentation, area/k8s, pending-review

#4200 daemon: exit if tunnel is not supported
  daemon/main.go
Labels: area/daemon, kind/bug, ready-to-merge, release-note/bug

#4186 Elasticsearch Getting Started Guide
  Documentation/gettingstarted/elasticsearch.rst
  Documentation/gettingstarted/images/cilium_es_gsg_topology.png
  Documentation/gettingstarted/index.rst
  Documentation/spelling_wordlist.txt
  examples/kubernetes-es/es-sw-app.yaml
  examples/kubernetes-es/es-sw-policy.yaml
Labels: area/documentation, pending-review

#4178 Test: Improved Kubectl CEP helpers
  test/helpers/kubectl.go
  test/k8sT/KafkaPolicies.go
  test/k8sT/assertionHelpers.go
Labels: area/CI, kind/enhancement, pending-review, ready-to-merge

#4208 Test: Enable containerd on Jenkins builds.
  Documentation/contributing.rst
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: area/CI, kind/enhancement, pending-review

#4210 docs: fix typos
  Documentation/contributing.rst
Labels: area/documentation, pending-review

#4209 Test: Fix issues with Ginkgo Kubernetes Job
  ginkgo-kubernetes-all.Jenkinsfile
Labels: area/CI, pending-review, stable/needs-backport

#4207 envoy: Update Istio to the latest 0.8 RC version
  Dockerfile
  Vagrantfile
  envoy/Makefile
  envoy/README.Istio.md
  envoy/WORKSPACE
  test/Vagrantfile
  test/docker-compose.yml
Labels: area/CI, area/proxy, pending-review, priority/1.1, priority/high

#4203 docs: Attempt to use RTD version for GH URLs
  Documentation/conf.py
Labels: area/documentation, ready-to-merge, stable/needs-backport

#4199 pkg/bpf: use pointer receiver for GetKeyPtr()
  daemon/endpoint.go
  pkg/bpf/endpoint.go
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/maps/ipcache/ipcache.go
  pkg/maps/lxcmap/lxcmap.go
  pkg/maps/tunnel/tunnel.go
Labels: area/datapath, kind/bug, pending-review, priority/medium, stable/needs-backport

#4197 Test: Ginkgo fix AfterFailed when fail on JustAfterEach.
  test/ginkgo-ext/scopes.go
  test/helpers/utils.go
Labels: area/CI, kind/bug/CI, pending-review

#4144 cleanup: remove refs to Consumable in comments
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/policy.go
  pkg/proxy/logger/logger.go
Labels: area/misc, kind/cleanup, pending-review, priority/low

#4232 docs: Update dependencies for latest Envoy
  Documentation/contributing.rst
Labels: area/documentation, ready-to-merge

#4226 pkg/maps/metricsmap/: Add a doc.go in the metricsmap pkg
  pkg/maps/metricsmap/doc.go
Labels: area/documentation, release-note/minor

#4221 [Monitor] add src and dst data to json output
  pkg/monitor/dissect.go
  pkg/monitor/dissect_test.go
Labels: pending-review

#4214 bpf: Only create veth pair if it does not already exist.
  bpf/init.sh
  daemon/bpf.sha
Labels: area/daemon, kind/bug, pending-review, priority/high, priority/release-blocker, stable/needs-backport

#4205 test: update k8s versions to 1.7.15, 1.8.13, 1.9.8, 1.10.3 and 1.11.0-beta.0
  test/provision/k8s_install.sh
Labels: area/CI, area/k8s, kind/enhancement, pending-review, stable/needs-backport

#4233 metricsmap: Set the key size properly
  pkg/maps/metricsmap/metricsmap.go
Labels: area/datapath, kind/bug, pending-review, priority/1.1

#4240 pkg/endpoint: include node headerfile hash
  pkg/endpoint/bpf.go
  pkg/endpoint/bpf_test.go
Labels: area/policy, kind/bug, pending-review

#4243 Add "cilium identity list" output to bugtool
  bugtool/cmd/configuration.go
Labels: area/cli, kind/enhancement, pending-review

#4244 Test: Do not log cilium logs in test-output.log
  test/helpers/cilium.go
  test/helpers/kubectl.go
Labels: area/CI, pending-review, ready-to-merge

#4249 policy: Overwrite eventual L4 localhost policies when AllowLocalhost=true
  pkg/endpoint/policy.go
Labels: kind/bug, pending-review, priority/release-blocker, release-note/bug

#4182 Add BPF verification checker test to ginkgo suite
  bpf/Makefile
  bpf/bpf_features.h
  test/Makefile
  test/bpf/verifier-test.sh
  test/runtime/verifier.go
Labels: area/CI, ready-to-merge

#4212 doc: Document the endpoint lifecycle and reserved:init identity
  Documentation/images/cilium-endpoint-lifecycle.graffle
  Documentation/images/cilium-endpoint-lifecycle.png
  Documentation/policy/index.rst
  Documentation/policy/lifecycle.rst
  examples/policies/l4/from_init.json
  examples/policies/l4/from_init.yaml
  examples/policies/l4/init.json
  examples/policies/l4/init.yaml
Labels: area/documentation, pending-review, priority/1.1, priority/high

#4247 init.sh: Use 'ip route replace' instead of 'ip route add'
  bpf/init.sh
  daemon/bpf.sha
Labels: area/datapath, kind/bug, kind/community-report, priority/1.1, stable/needs-backport

#4237 pkg/option: sort options in GetFmtList
  pkg/option/option.go
  pkg/option/option_test.go
Labels: area/policy, kind/enhancement, pending-review, requires-janitor-review

#4258 Use JSON output for endpoint restore check in runtime chaos test
  test/runtime/chaos.go
Labels: area/CI, kind/cleanup, pending-review

#4259 Fix: `cilium monitor` allows invalid arguments
  cilium/cmd/monitor.go
Labels: kind/bug, priority/1.1

#4230 cilium status: fix --brief to print less when cilium isn't running
  cilium/cmd/status.go
Labels: area/cli, kind/enhancement, stable/needs-backport

#4250 Add "docker info" output to bugtool
  bugtool/cmd/configuration.go
Labels: area/bugtool, pending-review, stable/needs-backport

#4263 daemon: in k8s mode always allow localhost traffic
  daemon/daemon.go
Labels: area/k8s, kind/bug, kind/regression, pending-review, priority/insane

#4218 test: download exact k8s version of k8s upstream e2e
  test/kubernetes-test.sh
Labels: area/k8s, kind/bug/CI, pending-review, stable/needs-backport

#4262 docs: fix shown command in minikube guide
  Documentation/gettingstarted/minikube.rst
Labels: area/documentation, kind/bug

#4264 bugtool: make archive output configurable
  Documentation/cmdref/cilium-bugtool.md
  bugtool/cmd/helper.go
  bugtool/cmd/root.go
Labels: kind/enhancement, priority/1.1

#4252 Split debuginfo into separate files
  Documentation/cmdref/cilium_debuginfo.md
  cilium/cmd/debuginfo.go
Labels: kind/enhancement, priority/1.1

#4269 Vagrantfiles: Update base image to 77
  Vagrantfile
  test/Vagrantfile
  test/helpers/utils.go
  test/provision/k8s_install.sh
  test/provision/runtime_install.sh
Labels: area/CI, kind/enhancement, pending-review

#4284 Test: Dump Vagrant output to Jenkins console
  test/helpers/vagrant.go
Labels: area/CI, kind/enhancement, pending-review, ready-to-merge

#4286 monitor: cilium-agent passes along BPF mount path
  daemon/main.go
  monitor/launch/launcher.go
  monitor/main.go
Labels: area/monitor, kind/bug, pending-review, priority/1.1

#4272 add cri-o support
  Documentation/cmdref/cilium-agent.md
  contrib/vagrant/start.sh
  daemon/daemon.go
  daemon/endpoint.go
  daemon/main.go
  examples/kubernetes-ingress/scripts/03-install-kubernetes-worker.sh
  examples/kubernetes-ingress/scripts/helpers.bash
  pkg/workloads/client.go
  pkg/workloads/config.go
  pkg/workloads/containerd.go
  pkg/workloads/cri.go
  pkg/workloads/crio.go
  pkg/workloads/defaults.go
  pkg/workloads/docker.go
  pkg/workloads/runtimes.go
  pkg/workloads/runtimes_test.go
  pkg/workloads/watcher_state.go
Labels: area/crio, pending-review, release-note/major

#4285 Test: Fix assert line on CMDRes.Expect*
  test/helpers/cmd.go
Labels: area/CI, kind/enhancement

#4133 test/k8sT: add k8s default-allow tests
  test/k8sT/Policies.go
  test/k8sT/manifests/1.7/knp-default-allow-ingress.yaml
  test/k8sT/manifests/knp-default-allow-egress.yaml
  test/k8sT/manifests/knp-default-allow-ingress.yaml
Labels: area/k8s, area/policy, pending-review

#4288 docs: document runtime integration for developer VMs
  Documentation/contributing.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, pending-review

#4294 identity: Ignore nil identity when generating IdentityCache
  pkg/identity/cache.go
Labels: kind/bug, priority/1.1, release-note/bug, stable/needs-backport

#4305 Documentation: Fix warnings
  Documentation/configuration/metrics.rst
  Documentation/contributing.rst
Labels: area/documentation, pending-review

#4222 bpf: drop incase of unsupported IPv6 headers
  bpf/bpf_lb.c
  bpf/bpf_lxc.c
  bpf/bpf_netdev.c
  bpf/bpf_overlay.c
  daemon/bpf.sha
Labels: area/datapath, kind/cleanup, priority/1.1

#4318 Revert "Contrib: Add Systemd parameters"
  contrib/systemd/cilium.service
Labels: kind/bug, pending-review

#4311 docs: document dep usage for developers
  Documentation/contributing.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, pending-review
