Repository cilium/cilium, pull requests merged in 2018-12, with the labels that each got.

#6346 identity: Block createEndpoint() while identity is being resolved
  cilium-health/launch/endpoint.go
  daemon/endpoint.go
  pkg/endpoint/endpoint.go
  pkg/workloads/cri.go
  pkg/workloads/docker.go
Labels: area/k8s, kind/bug, needs-backport/1.2, needs-backport/1.3, priority/release-blocker

#6356 test: improve resiliency of policy import test
  test/runtime/Policies.go
Labels: area/CI, kind/bug/CI, pending-review

#6355 endpoint: remove endpoint CIDR Map functions
  pkg/endpoint/bpf.go
Labels: kind/cleanup, pending-review

#6344 make: Fix indentation in start-kvstores section
  Makefile
Labels: kind/cleanup

#6339 vendor: update miekg/dns to v1.1.0
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/miekg/dns/acceptfunc.go
  vendor/github.com/miekg/dns/client.go
  vendor/github.com/miekg/dns/compress_generate.go
  vendor/github.com/miekg/dns/dnssec.go
  vendor/github.com/miekg/dns/dnssec_keyscan.go
  vendor/github.com/miekg/dns/doc.go
  vendor/github.com/miekg/dns/edns.go
  vendor/github.com/miekg/dns/generate.go
  vendor/github.com/miekg/dns/listen_go111.go
  vendor/github.com/miekg/dns/listen_go_not111.go
  vendor/github.com/miekg/dns/msg.go
  vendor/github.com/miekg/dns/msg_helpers.go
  vendor/github.com/miekg/dns/nsecx.go
  vendor/github.com/miekg/dns/privaterr.go
  vendor/github.com/miekg/dns/reverse.go
  vendor/github.com/miekg/dns/scan.go
  vendor/github.com/miekg/dns/scan_rr.go
  vendor/github.com/miekg/dns/scanner.go
  vendor/github.com/miekg/dns/serve_mux.go
  vendor/github.com/miekg/dns/server.go
  vendor/github.com/miekg/dns/sig0.go
  vendor/github.com/miekg/dns/types.go
  vendor/github.com/miekg/dns/udp.go
  vendor/github.com/miekg/dns/udp_windows.go
  vendor/github.com/miekg/dns/version.go
  vendor/github.com/miekg/dns/zcompress.go
Labels: kind/enhancement, pending-review, requires-janitor-review

#6352 test/k8sT: specify image tag for Kafka proxy image
  test/k8sT/manifests/kafka-sw-app.yaml
Labels: area/CI, kind/cleanup, pending-review

#6363 [v1.2]Jenkins: Run cleanup script before build.
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
  kubernetes-upstream.Jenkinsfile
Labels: area/CI, backport/1.2, pending-review

#6360 agent: Ignore IPV4_GATEWAY=0x0 when restoring
  pkg/node/node_address.go
Labels: kind/bug, needs-backport/1.3, release-note/bug, requires-janitor-review

#6359 examples/kubernetes: loosen up tolerations used
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-etcd-operator.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-etcd-operator.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-etcd-operator.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-ds.yaml
  examples/kubernetes/1.13/cilium-etcd-operator.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-etcd-operator.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-etcd-operator.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-etcd-operator.yaml.sed
Labels: area/k8s, kind/enhancement, pending-review, release-note/minor

#6369 test: bump k8s 1.13 to 1.13.0-rc.2
  Gopkg.lock
  Gopkg.toml
  test/provision/k8s_install.sh
Labels: area/k8s, kind/enhancement, pending-review, requires-janitor-review

#6275 policy: move PolicyMapState into policy package
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/policy.go
  pkg/policy/mapstate.go
Labels: area/policy, kind/cleanup, pending-review

#6354 endpoint: separate code in regenerate() into separate functions
  pkg/endpoint/policy.go
Labels: ci/fail-fast, kind/cleanup, pending-review

#6388 test: add cilium-etcd-operator to k8s upstream tests
  test/kubernetes-test.sh
Labels: area/CI, pending-review

#6389 endpoint: make policy calculation log Debug level
  pkg/endpoint/policy.go
Labels: kind/cleanup, pending-review

#6391 Prepare for v1.2.6 release
  AUTHORS
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: kind/release, pending-review

#6367 Build cilium-operator, generate shell completions
  contrib/packaging/rpm/cilium.spec.envsubst
Labels: pending-review

#6395 .github: fix directory name for github issue templates
  .github/ISSUE_TEMPLATE/bug_template.md
  .github/ISSUE_TEMPLATE/failing_test_template.md
  .github/ISSUE_TEMPLATE/feature_template.md
  .github/ISSUE_TEMPLATE/issue_template.md
Labels: pending-review

#6399 test: fix kafka policy test
  test/k8sT/manifests/kafka-sw-security-policy.yaml
Labels: area/CI, kind/bug/CI

#6403 clustermesh: Ignore !(etcd configfiles) in the secrets volume
  pkg/clustermesh/config.go
  pkg/clustermesh/config_test.go
Labels: kind/bug, needs-backport/1.3, pending-review, release-note/bug

#6411 pkg/fqdn: matchPattern supports "*" allow-all
  pkg/fqdn/matchpattern/matchpattern.go
  pkg/fqdn/matchpattern/matchpattern_test.go
Labels: area/policy, pending-review

#6410 loader: sockops: do not pass empty state dir
  pkg/datapath/loader/loader.go
Labels: kind/bug, pending-review, release-note/bug

#6407 k8s: Treat service annotation changes as unequal objects
  pkg/k8s/factory_functions.go
  pkg/k8s/factory_functions_test.go
Labels: kind/bug, pending-review, release-note/bug

#6402 Improve cilium-health status descriptions by proto
  Documentation/kubernetes/install/eks.rst
  Documentation/troubleshooting.rst
  pkg/health/client/client.go
Labels: area/cli, area/documentation, kind/cleanup, ready-to-merge

#6405 order files by the same order kubernetes output
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-etcd-operator.yaml
  examples/kubernetes/1.10/cilium-operator.yaml
  examples/kubernetes/1.10/cilium-rbac.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-etcd-operator.yaml
  examples/kubernetes/1.11/cilium-operator.yaml
  examples/kubernetes/1.11/cilium-pre-flight.yaml
  examples/kubernetes/1.11/cilium-rbac.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.11/transforms2sed.sed
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-etcd-operator.yaml
  examples/kubernetes/1.12/cilium-operator.yaml
  examples/kubernetes/1.12/cilium-pre-flight.yaml
  examples/kubernetes/1.12/cilium-rbac.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.12/transforms2sed.sed
  examples/kubernetes/1.13/cilium-crio-ds.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-ds.yaml
  examples/kubernetes/1.13/cilium-etcd-operator.yaml
  examples/kubernetes/1.13/cilium-operator.yaml
  examples/kubernetes/1.13/cilium-pre-flight.yaml
  examples/kubernetes/1.13/cilium-rbac.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.13/transforms2sed.sed
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-etcd-operator.yaml
  examples/kubernetes/1.8/cilium-operator.yaml
  examples/kubernetes/1.8/cilium-rbac.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-etcd-operator.yaml
  examples/kubernetes/1.9/cilium-operator.yaml
  examples/kubernetes/1.9/cilium-rbac.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-etcd-operator.yaml.sed
  examples/kubernetes/templates/v1/cilium-operator.yaml.sed
  examples/kubernetes/templates/v1/cilium-rbac.yaml.sed
Labels: area/k8s, kind/cleanup, pending-review

#6412 dev-VM: fix crio deployment
  examples/kubernetes-ingress/deployments/guestbook/1-redis-master-controller.json
  examples/kubernetes-ingress/deployments/guestbook/3-redis-slave-controller.json
  examples/kubernetes-ingress/scripts/03-install-kubernetes-worker.sh
Labels: kind/enhancement, pending-review

#6400 policy: skip matching if rulesSelect set in SearchContext
  pkg/policy/rule.go
  pkg/policy/rules.go
Labels: area/policy, kind/performance, pending-review

#6417 Documentation: ToGroups getting started guide
  Documentation/gettingstarted/aws.rst
  Documentation/gettingstarted/index.rst
  Documentation/policy/language.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, pending-review

#6413 pkg/fqdn: DNSProxy test waits for listen
  pkg/fqdn/dnsproxy/proxy_test.go
Labels: kind/bug, pending-review

#6425 README: fix the link rendering to the SIG
  README.rst
Labels: kind/bug

#6421 clustermesh: Add debug messages to help future services troubleshooting
  pkg/clustermesh/services.go
  pkg/k8s/service_cache.go
  pkg/logging/logfields/logfields.go
Labels: kind/enhancement, pending-review

#6374 policy: add ResolvePolicy benchmark based off of variable number of rules
  pkg/policy/resolve_test.go
Labels: area/policy, kind/performance, pending-review

#6429 Test: Test toFQDNs when DNS poller is disabled
  test/helpers/cilium.go
  test/runtime/fqdn.go
Labels: area/CI, kind/enhancement, pending-review

#6414 Add CRD validation for fqdn rules
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/apis/cilium.io/v2/register_test.go
Labels: pending-review

#6428 make: consul: fix certs permission
  Makefile
Labels: pending-review, requires-janitor-review

#6446 pkg/fqdn: Extract lowest TTL from DNS messages
  pkg/fqdn/dnsproxy/proxy.go
Labels: kind/bug, pending-review

#6427 metricsmap: fix retrieval of possible CPU count
  pkg/maps/metricsmap/metricsmap.go
  pkg/maps/metricsmap/metricsmap_test.go
Labels: area/cli, area/metrics, kind/bug, needs-backport/1.2, needs-backport/1.3, pending-review

#6451 revert: Add unit tests
  pkg/revert/finalize_test.go
  pkg/revert/revert_test.go
Labels: kind/enhancement

#6432 policy: cache whether all L3 is allowed in L4 filter
  pkg/policy/l4.go
  pkg/policy/l4_filter_test.go
  pkg/policy/rule.go
  pkg/policy/rule_test.go
Labels: area/policy, kind/performance, needs-backport/1.4, pending-review

#6436 examples/kubernetes: bump cilium-etcd-operator to v2.0.3
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-etcd-operator.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-etcd-operator.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-etcd-operator.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-etcd-operator.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-etcd-operator.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-etcd-operator.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/Makefile
Labels: needs-backport/1.4, pending-review

#6459 test: use `cilium identity list` for policy trace test
  test/runtime/Policies.go
Labels: area/CI, kind/bug/CI, needs-backport/1.4, pending-review

#6466 pkg/fqdn: Track emitted IPs in cache only
  pkg/fqdn/rulegen.go
Labels: area/daemon, kind/bug, kind/enhancement, pending-review

#6474 bpf: pin endpoint configuration map
  bpf/lib/maps.h
  daemon/bpf.sha
Labels: area/datapath, kind/bug, needs-backport/1.3, needs-backport/1.4

#6472 etcd: Increase initial connection timeout to 15 minutes
  pkg/kvstore/etcd.go
Labels: kind/bug, needs-backport/1.4, pending-review

#6477 bpf: pin endpoint configuration map
  bpf/lib/maps.h
  daemon/bpf.sha
Labels: backport/1.3, pending-review

#6468 agent: Avoid panic when more than one endpoint fails to restore
  daemon/state.go
Labels: kind/bug

#6483 loader: Fix race condition in unit test
  pkg/datapath/loader/loader_test.go
Labels: area/CI, area/loader, kind/bug/CI, pending-review

#6475 ipcache: Restrict deletions from original source
  daemon/k8s_watcher.go
  pkg/ipcache/ipcache.go
  pkg/ipcache/ipcache_test.go
  pkg/ipcache/kvstore.go
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4

#6484 bpf: Fix default configuration of bpf/
  bpf/Makefile
  bpf/lib/common.h
  bpf/netdev_config.h
  daemon/bpf.sha
Labels: area/datapath, needs-backport/1.4, pending-review

#6488 kubernetes: Disable IPv6 for real
  examples/kubernetes/1.10/cilium-cm.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-cm.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-cm.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-cm.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-cm.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-cm.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-cm.yaml
Labels: kind/bug, needs-backport/1.4

#6489 examples: update docker-compose guide
  examples/getting-started/README.rst
  examples/getting-started/Vagrantfile
Labels: area/misc, pending-review

#6493 envoy: Add route for gRPC
  Documentation/cmdref/cilium-agent.md
  daemon/daemon_main.go
  pkg/envoy/server.go
Labels: area/proxy, kind/enhancement, priority/medium

#6490 Fix ability to disable IPv6 in datapath
  bpf/Makefile
  bpf/lib/common.h
  daemon/bpf.sha
Labels: kind/bug, needs-backport/1.4, pending-review

#6481 test/helpers: Export HoldEnvironment()
  test/helpers/utils.go
Labels: area/CI, pending-review

#6502 iptables: Fix iptables removal logic on bootstrap
  pkg/datapath/iptables/iptables.go
Labels: kind/bug, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4, pending-review, priority/high, release-note/bug

#6504 Test: Policy trace refactor.
  test/runtime/Policies.go
Labels: area/CI, pending-review, priority/high
