Repository cilium/cilium, pull requests merged in 2018-07, with the labels that each got.

#4697 pkg/endpoint: remove ProxyWaitGroup field from Endpoint
  daemon/daemon.go
  daemon/daemon_test.go
  daemon/endpoint.go
  daemon/policy_test.go
  daemon/state_test.go
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/owner.go
  pkg/endpoint/policy.go
Labels: area/proxy, kind/cleanup, pending-review

#4701 Test: Precheck use the same docker-compose image
  Makefile
  ginkgo.Jenkinsfile
  test/docker-compose.yml
  test/precheck.yml
Labels: area/CI, kind/enhancement, pending-review

#4608 pkg/endpoint: refactor endpoint conf. update logic
  pkg/endpoint/policy.go
Labels: kind/cleanup, pending-review

#4692 examples/kubernetes-ingress: update kubernetes options to 1.11.0
  examples/kubernetes-ingress/scripts/02-install-kubernetes-master.sh
  examples/kubernetes-ingress/scripts/helpers.bash
Labels: pending-review, priority/low

#4705 Split plugin logic into pkg/datapath/(link|route) and pkg/endpoint/connector
  cilium-health/launch/endpoint.go
  pkg/datapath/link/doc.go
  pkg/datapath/link/link.go
  pkg/datapath/route/doc.go
  pkg/datapath/route/route.go
  pkg/datapath/route/route_test.go
  pkg/endpoint/connector/add.go
  pkg/endpoint/connector/doc.go
  pkg/endpoint/connector/ipam.go
  plugins/cilium-cni/cilium-cni.go
  plugins/cilium-docker/driver/driver.go
Labels: kind/cleanup, pending-review, requires-janitor-review

#4718 plugins: fix CNI configuration typo
  plugins/cilium-cni/00-cilium-cni.conf
  plugins/cilium-cni/cni-install.sh
  test/runtime/connectivity.go
Labels: kind/bug, pending-review, priority/insane

#4707 Move common/colors.go into pkg/color
  cilium/cmd/endpoint_labels.go
  cilium/cmd/helpers.go
  pkg/color/color.go
  pkg/endpoint/status.go
  pkg/option/option.go
Labels: kind/cleanup, pending-review, requires-janitor-review

#4708 test: disable policy enforcement in k8s tests
  test/k8sT/Policies.go
Labels: area/CI, area/k8s, needs-backport/1.0, needs-backport/1.1, pending-review, ready-to-merge

#4721 service: Fix local service ID restore
  daemon/loadbalancer.go
  pkg/service/id.go
Labels: kind/bug, pending-review

#4706 Test: Curl Timeout to 1 second
  test/helpers/cons.go
Labels: area/CI, pending-review

#4719 Test: Waiting all pods to terminate on K8st/Policies.go
  test/k8sT/Policies.go
Labels: area/CI, kind/bug/CI, pending-review, ready-to-merge

#4676 pkg/k8s: stop logging conflicting errors as errors on update
  pkg/k8s/client.go
Labels: area/k8s, kind/bug, needs-backport/1.1, pending-review, release-note/bug

#4723 kops guide edits
  Documentation/install/guides/kops.rst
Labels: area/documentation, pending-review

#4698 envoy: Update Envoy dependency to release 1.7.0
  Dockerfile
  Vagrantfile
  envoy/WORKSPACE
  pkg/envoy/envoy/api/v2/core/address.pb.go
  pkg/envoy/envoy/api/v2/endpoint/endpoint.pb.go
  pkg/envoy/envoy/config/filter/network/http_connection_manager/v2/http_connection_manager.pb.go
  test/Vagrantfile
  test/docker-compose.yml
Labels: area/CI, area/proxy, kind/bug, kind/regression, pending-review

#4699 Changed the prometheus yaml to deploy in monitoring namespace
  Documentation/gettingstarted/gsg_starwars.rst
  examples/kubernetes/addons/prometheus/prometheus.yaml
Labels: area/documentation, release-note/minor

#4690 examples/kubernetes: add "system-node-critical" priorityClass
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.11/transforms2sed.sed
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.12/transforms2sed.sed
Labels: area/k8s, needs-backport/1.0, needs-backport/1.1, pending-review, release-note/minor

#4725 kvstore: Support creation of multiple clients
  pkg/kvstore/backend.go
  pkg/kvstore/client.go
  pkg/kvstore/consul.go
  pkg/kvstore/consul_test.go
  pkg/kvstore/etcd.go
  pkg/kvstore/keepalive.go
  pkg/kvstore/kvstore.go
Labels: kind/enhancement, pending-review, release-note/minor

#4736 testutils: Add WaitUntil
  pkg/testutils/condition.go
  pkg/testutils/condition_test.go
Labels: area/CI, pending-review

#4739 Check endpoint status before modifying identity labels
  pkg/endpoint/endpoint.go
Labels: kind/bug, pending-review, release-note/bug

#4744 envoy: use local_resources parameter during bazel build
  envoy/Makefile
Labels: area/misc, pending-review

#4741 move pkg/{apierror,apipanic,apisocket} -> pkg/api
  api/v1/server/configure_cilium.go
  api/v1/server/server.go
  cilium-health/cmd/root.go
  daemon/daemon.go
  daemon/endpoint.go
  daemon/ipam.go
  daemon/loadbalancer.go
  daemon/policy.go
  daemon/prefilter.go
  monitor/main.go
  pkg/api/apierror.go
  pkg/api/apipanic.go
  pkg/api/const.go
  pkg/api/doc.go
  pkg/api/socket.go
  pkg/apierror/doc.go
  pkg/health/server/health.go
  pkg/health/server/status.go
Labels: kind/cleanup, kind/enhancement, pending-review, priority/low

#4667 cilium: bpf: use conntrack for service backend tracking in lxc
  bpf/bpf_lxc.c
  bpf/lib/common.h
  bpf/lib/conntrack.h
  bpf/lib/lb.h
  daemon/bpf.sha
  pkg/maps/ctmap/ctmap.go
Labels: pending-review

#4747 Test: Update cilium stable image to v1.0.4
  test/helpers/cons.go
Labels: area/CI, area/k8s, pending-review

#4753 examples/kubernetes: fix default crio mounting path
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
Labels: area/k8s, area/workloads, kind/bug, needs-backport/1.1, pending-review, release-note/bug

#4748 Test: Add microscope with timestamps
  test/helpers/cons.go
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#4773 bpf: Fix ipcache lookup for kernels with HAVE_LPM_MAP_TYPE
  bpf/lib/eps.h
  daemon/bpf.sha
Labels: area/datapath, kind/bug, needs-backport/1.1, pending-review, release-note/bug

#4675 Test: Upgrade test, delete kube-dns pods before install.
  test/helpers/cons.go
  test/helpers/utils.go
  test/k8sT/Updates.go
  test/provision/k8s_install.sh
  test/provision/manifest/coredns_deployment.yaml
  test/provision/manifest/kubedns_deployment.yaml
Labels: area/CI, area/k8s, pending-review

#4766 vagrant: update Vagrantfiles to use vm v97
  Vagrantfile
  test/Vagrantfile
Labels: pending-review

#4776 pkg/labels: use LabelHealth constant across the code
  cilium-health/launch/endpoint.go
  pkg/endpoint/endpoint.go
  pkg/identity/identity_test.go
Labels: kind/cleanup, pending-review, priority/low

#4754 Fix k8s 1.12 generated daemonset files
  examples/kubernetes/1.12/cilium-cm.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
Labels: area/k8s, kind/bug, pending-review

#4788 pkg/kvstore: set hard timeout for etcd lock path to 1 minute
  pkg/kvstore/etcd.go
Labels: kind/bug, needs-backport/1.0, needs-backport/1.1, pending-review, release-note/bug

#4770 Test: Removed CreateNewRuntimeHelper
  test/helpers/runtime.go
  test/runtime/Policies.go
  test/runtime/assertionHelpers.go
  test/runtime/chaos.go
  test/runtime/cli.go
  test/runtime/connectivity.go
  test/runtime/ct.go
  test/runtime/examples.go
  test/runtime/kafka.go
  test/runtime/kvstore.go
  test/runtime/lb.go
  test/runtime/monitor.go
  test/runtime/verifier.go
Labels: area/CI, kind/enhancement, pending-review

#4787 test: Change CPU environment variable to CPUS
  test/Vagrantfile
Labels: area/CI, ready-to-merge

#4780 Improve MTU upgrade notes to use mtu-update
  Documentation/install/upgrade.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.1, pending-review

#4761 examples/kubernetes: fix k8s 1.12 cilium image tag
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
Labels: area/k8s, backport/1.1, pending-review, ready-to-merge

#4804 ipache: Skip Upsert() if IP is already mapped to given identity
  pkg/ipcache/ipcache.go
Labels: kind/bug, pending-review

#4777 examples/kubernetes: restart kube-dns in the background
  examples/kubernetes-ingress/scripts/06-install-kubedns.sh
Labels: area/misc, pending-review, priority/low, ready-to-merge

#4802 bpf: Fix ipcache lookup for kernels with HAVE_LPM_MAP_TYPE again
  bpf/lib/eps.h
  daemon/bpf.sha
Labels: area/datapath, kind/bug, pending-review

#4805 pkg/policy/api: allow ToPorts coupled with ToServices
  pkg/policy/api/rule_validation.go
  pkg/policy/api/rule_validation_test.go
Labels: area/policy, pending-review, release-note/minor

#4807 bpf: Support fall back to routing layer for overlay ingress
  bpf/bpf_overlay.c
  daemon/bpf.sha
Labels: area/datapath, needs/e2e-test, pending-review

#4812 pkg/workloads: check if Client() is nil to avoid nil pointer dereference
  pkg/workloads/client.go
Labels: kind/regression, needs-backport/1.1, pending-review

#4811 CI: Archive artifacts with the stage name.
  test/archive_test_results.sh
Labels: area/CI, kind/enhancement, pending-review, ready-to-merge

#4806 test: Increase connect timeout to 3 seconds
  test/helpers/cons.go
Labels: area/CI, pending-review

#4816 bugtool: Collect ps auxfww instead of just ps
  bugtool/cmd/configuration.go
Labels: area/CI

#4796 CI: Disable fail-fast on Jenkins if no label.
  Jenkinsfile.nightly
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: area/CI, kind/enhancement, pending-review

#4819 add external peer configuration to cilium + kube-router docs
  Documentation/install/guides/kube-router.rst
Labels: area/documentation

#4809 docs: Map stable RTD version to VERSION
  Documentation/conf.py
Labels: area/documentation, needs-backport/1.1, ready-to-merge

#4829 envoy: Include the redirect port into each Envoy listener name
  pkg/proxy/envoyproxy.go
Labels: area/proxy, kind/bug, pending-review, priority/medium

#4731 Push nightly image to dockerhub
  Jenkinsfile.nightly
Labels: area/CI, pending-review, ready-to-merge

#4790 api: Cache Selector in EndpointSelector on create
  pkg/k8s/rule_translate.go
  pkg/policy/api/selector.go
  pkg/policy/api/selector_test.go
  pkg/policy/api/zz_generated.deepcopy.go
  pkg/policy/repository_test.go
  pkg/policy/rule.go
Labels: area/policy, kind/enhancement, kind/performance, pending-review, release-note/minor

#4799 cni: Check if directories exist before creating them
  plugins/cilium-cni/cni-install.sh
Labels: area/cni, kind/bug, pending-review, release-note/bug

#4846 pkg/policy/api: handle multiple CIDRs in CIDRSlice when adding reserved:world EndpointSelector
  pkg/policy/api/cidr.go
  pkg/policy/api/cidr_test.go
Labels: area/policy, kind/bug, needs-backport/1.1, pending-review, priority/insane, release-note/bug

#4840 pkg/endpoint: set state ready if endpoint labels are the same
  pkg/endpoint/endpoint.go
Labels: kind/bug, needs-backport/1.0, needs-backport/1.1, pending-review, release-note/bug

#4830 Fix bug where traffic from a host to a service IP was classified as from the world, not from the host
  daemon/daemon.go
Labels: area/datapath, needs-backport/1.1, ready-to-merge, release-note/bug

#4856 test: add microscope YAML to manifests directory
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/k8sT/manifests/microscope.yaml
Labels: kind/bug/CI, needs-backport/1.1, pending-review, priority/high

#4860 backport for v1.1: revert incomplete re-enabling of microscope
  test/helpers/kubectl.go
Labels: backport/1.1, pending-review

#4858 bpf: Allow to use 24 bits for security identities
  bpf/bpf_lxc.c
  bpf/init.sh
  bpf/lib/common.h
  bpf/lib/l3.h
  bpf/lib/policy.h
  daemon/bpf.sha
  daemon/endpoint.go
  envoy/cilium_socket_option.h
  pkg/endpoint/endpoint.go
  pkg/maps/ipcache/ipcache.go
  pkg/maps/lxcmap/lxcmap.go
  pkg/proxy/mark.go
Labels: area/datapath, area/proxy, kind/enhancement, pending-review, release-note/minor

#4868 Test: K8s/Tunnels install demo_ds on AfterAll
  test/k8sT/Tunnels.go
Labels: area/CI, kind/enhancement, needs-backport/1.1, pending-review

#4873 Test: Fix top command
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, pending-review, ready-to-merge

#4876 CmdRes.Unmarshal silent fail for non-pointer fix
  test/helpers/cmd.go
Labels: kind/bug/CI, pending-review, ready-to-merge

#4874 bpf: Shift ingress ipcache source lookup to netdev
  bpf/bpf_lxc.c
  bpf/bpf_netdev.c
  bpf/lib/policy.h
  daemon/bpf.sha
Labels: area/datapath, ready-to-merge, release-note/minor

#4882 prepare for v1.1.1 release
  AUTHORS
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.1, pending-review

#4887 examples/kubernetes: add missing generated spec for k8s 1.7
  examples/kubernetes/1.7/cilium.yaml
Labels: kind/bug, pending-review

#4881 bpf: Fix ipcache lookup in bpf_netdev
  bpf/bpf_lxc.c
  bpf/bpf_netdev.c
  daemon/bpf.sha
Labels: kind/bug, pending-review, priority/high

#4891 ipcache: Fall back to update based delete
  daemon/endpoint.go
  pkg/bpf/map.go
  pkg/maps/ipcache/ipcache.go
Labels: kind/bug, pending-review

#4890 Fix up environment binding and k8s YAMLs for monitor-aggregation-level
  daemon/main.go
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: area/daemon, ready-to-merge

#4885 Fix misclassification of traffic SNATed to host device as "cluster" rather than "world"
  bpf/bpf_netdev.c
  daemon/bpf.sha
Labels: area/datapath, kind/bug, pending-review

#4895 Test: Upgrade test wait until pods are terminated.
  test/k8sT/Updates.go
Labels: area/CI, needs-backport/1.1, pending-review

#4897 envoy: Do not exit agent if NPHDS entry cannot be found
  pkg/envoy/resources.go
Labels: kind/bug, pending-review

#4903 policy: DNS Poller initializes error map on poll
  pkg/fqdn/helpers.go
Labels: area/daemon, area/policy, kind/bug, pending-review

#4888 pkg/kvstore: fix high-cpu usage when Cilium loses Consul connectivity
  pkg/kvstore/consul.go
Labels: kind/bug, needs-backport/1.0, needs-backport/1.1, pending-review, release-note/bug

#4900 bpf: add cocci script to find wrong null checks
  bpf/Makefile
  contrib/coccinelle/null.cocci
Labels: area/datapath, kind/enhancement, pending-review

#4877 pkg/endpoint: add UpdateStatus functionality for CEP
  pkg/endpoint/endpoint.go
  pkg/k8s/apis/cilium.io/v2/types.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2/ciliumendpoint.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2/fake/fake_ciliumendpoint.go
Labels: pending-review, release-note/minor

#4889 Don't perform IPCache lookup when identity is health/init/fixed-identity
  bpf/lib/policy.h
  bpf/node_config.h
  daemon/bpf.sha
  daemon/daemon.go
Labels: area/datapath, area/policy, needs-backport/1.1

#4924 v1.0 backports 2018-07-21
  pkg/kvstore/consul.go
Labels: backport/1.0, pending-review

#4901 Test: Add Background process for kubernetes test.
  test/helpers/kubectl.go
  test/k8sT/KafkaPolicies.go
  test/k8sT/Policies.go
  test/k8sT/Services.go
  test/k8sT/demos.go
Labels: area/CI, pending-review

#4930 bpf: Remove misleading MaxIdentity const
  pkg/identity/allocator.go
  pkg/maps/policymap/policymap.go
Labels: kind/bug, pending-review

#4934 allocator: Support watching allocations in arbitrary kvstore connections
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/allocator_test.go
  pkg/kvstore/allocator/cache.go
Labels: kind/enhancement, pending-review, release-note/minor

#4907 ginkgo-kubernetes-all.Jenkinsfile: fix misplaced bracket
  ginkgo-kubernetes-all.Jenkinsfile
Labels: pending-review

#4861 Move Nightly-Docker-Image stage to front
  Jenkinsfile.nightly
Labels: ready-to-merge

#4950 codeowners: Remove CODEOWNERS from v1.1
  CODEOWNERS
Labels: area/misc, pending-review

#4898 Use microscope CI image in ginkgo tests
  test/k8sT/manifests/microscope.yaml
Labels: area/CI, ready-to-merge

#4958 test/k8sT: wait for DNS to be ready in Kafka pods
  test/k8sT/KafkaPolicies.go
Labels: area/CI, pending-review

#4917 Fix downgrade from Cilium 1.2 to earlier versions
  pkg/endpoint/endpoint.go
  pkg/endpoint/restore.go
  pkg/endpoint/restore_test.go
Labels: area/daemon, priority/release-blocker, ready-to-merge

#4902 Test: Wait for Pods ensure that no deleted pods
  test/helpers/kubectl.go
Labels: area/CI, pending-review, ready-to-merge

#4966 test/k8sT: disable microscope test temporarily
  test/k8sT/microscope.go
Labels: area/CI, pending-review, priority/high

#4974 Jenkins: Nightly run the conditional with env variable
  Jenkinsfile.nightly
Labels: area/CI, pending-review

#4944 node: Initialize clusterConf early
  pkg/node/local_node.go
  pkg/node/manager.go
  pkg/node/node.go
  pkg/node/store.go
Labels: kind/bug, pending-review, requires-janitor-review

#4948 codeowners: Update CODEOWNERS
  CODEOWNERS
Labels: area/misc, pending-review

#4894 Test: Update policies names with the file name
  test/k8sT/Nightly.go
  test/k8sT/Policies.go
  test/k8sT/Services.go
  test/k8sT/Updates.go
  test/k8sT/manifests/cnp-default-deny-egress.yaml
  test/k8sT/manifests/cnp-default-deny-ingress.yaml
  test/k8sT/manifests/cnp-matchexpressions.yaml
  test/k8sT/manifests/cnp-specs.yaml
  test/k8sT/manifests/external-policy-labeled.yaml
  test/k8sT/manifests/external-policy.yaml
  test/k8sT/manifests/guestbook-policy-redis.json
  test/k8sT/manifests/guestbook-policy-web.yaml
  test/k8sT/manifests/kafka-sw-security-policy.yaml
  test/k8sT/manifests/knp-default-allow-egress.yaml
  test/k8sT/manifests/knp-default-allow-ingress.yaml
  test/k8sT/manifests/knp-default-deny-egress.yaml
  test/k8sT/manifests/knp-default-deny-ingress-egress.yaml
  test/k8sT/manifests/knp-default-deny-ingress.yaml
  test/k8sT/manifests/l3-l4-policy.yaml
  test/k8sT/manifests/l7-policy.yaml
  test/k8sT/manifests/netcat-ds.yaml
  test/k8sT/manifests/netpol-namespace-selector.yaml
  test/k8sT/manifests/service-account.yaml
Labels: area/CI, kind/enhancement, pending-review

#4916 README: Point docs to stable
  README.rst
Labels: area/documentation, pending-review

#4926 Test: Add the cilium.TestScope option
  Documentation/contributing.rst
  test/config/config.go
  test/helpers/scope.go
  test/test_suite_test.go
Labels: area/CI, area/documentation, pending-review

#4972 Endpoint: Added logs for BPF compilation time
  pkg/endpoint/bpf.go
  pkg/logging/logfields/logfields.go
Labels: pending-review

#4973 Fix issue where traffic from world is associated with the host
  bpf/bpf_netdev.c
  daemon/bpf.sha
Labels: area/datapath, pending-review, priority/high

#4964 Test: Dump Cilium Logs for the test in a separate file.
  test/helpers/kubectl.go
Labels: area/CI, kind/enhancement, pending-review

#4982 CI: Prefix etcd address with http://
  Makefile
Labels: area/CI, kind/bug, pending-review

#4983 CI: Be more verbose in unit tests output
  Makefile
Labels: area/CI, pending-review

#4986 Fix the Istio GSG to support BSD-sed
  Documentation/gettingstarted/istio.rst
Labels: area/documentation, needs-backport/1.1, pending-review, priority/medium

#4914 Documentation: add misc. release instructions enhancements
  Documentation/contributing.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, pending-review

#4857 Test: Added Kubernetes Netperf test
  contrib/scripts/netperf_reporter.py
  kubernetes-upstream.Jenkinsfile
  test/kubernetes-netperftest.sh
  test/kubernetes-test.sh
Labels: area/CI, kind/enhancement, pending-review

#4987 Fix prefix length tracking on policy add failure
  daemon/policy.go
Labels: area/daemon, kind/bug

#4990 kubernetes: Add CILIUM_MONITOR_AGGREGATION_LEVEL to crio-o DaemonSet
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
Labels: area/k8s, kind/bug, pending-review

#4937 add consistent usage of logfields.LogSubsys
  cilium-health/cmd/root.go
  cilium-health/launch/launcher.go
  common/types/loadbalancer.go
  daemon/main.go
  monitor/launch/launcher.go
  monitor/main.go
  pkg/api/apipanic.go
  pkg/api/socket.go
  pkg/backoff/backoff.go
  pkg/bpf/bpf.go
  pkg/bpf/map.go
  pkg/endpoint/connector/add.go
  pkg/endpoint/log.go
  pkg/endpointmanager/manager.go
  pkg/envoy/envoy.go
  pkg/envoy/envoy_test.go
  pkg/envoy/xds/log.go
  pkg/fqdn/log.go
  pkg/health/server/server.go
  pkg/identity/cidr/identity.go
  pkg/identity/config.go
  pkg/ipam/init.go
  pkg/kafka/logfields.go
  pkg/labels/filter.go
  pkg/launcher/launcher.go
  pkg/maps/cidrmap/cidrmap.go
  pkg/maps/ctmap/ctmap.go
  pkg/maps/ipcache/ipcache.go
  pkg/maps/lbmap/lbmap.go
  pkg/maps/lxcmap/lxcmap.go
  pkg/maps/metricsmap/metricsmap.go
  pkg/maps/policymap/policymap.go
  pkg/maps/proxymap/ipv4.go
  pkg/maps/tunnel/logfields.go
  pkg/mtu/detect.go
  pkg/node/logfields.go
  pkg/pidfile/pidfile.go
  pkg/policy/api/selector.go
  pkg/policy/config.go
  pkg/pprof/pprof.go
  pkg/proxy/kafka_test.go
  pkg/proxy/logger/logger.go
  pkg/proxy/proxy.go
  plugins/cilium-cni/cilium-cni.go
  plugins/cilium-docker/driver/driver.go
  plugins/cilium-docker/main.go
Labels: area/misc, kind/cleanup, kind/enhancement, pending-review, priority/low

#4756 k8s: watch for namespace label changes
  daemon/k8s_watcher.go
Labels: pending-review, release-note/minor

#4862 Test: Install always DNS deployments
  test/provision/k8s_install.sh
Labels: area/CI, area/k8s, pending-review

#4992 option: Add unit tests
  pkg/option/monitor_test.go
  pkg/option/option_test.go
Labels: area/CI, pending-review

#4993 CI: Different random seed on each run
  test/helpers/utils.go
  test/runtime/monitor.go
Labels: area/CI, area/bugtool, pending-review

#5001 Test: CoreDNS using only one replicaset
  test/provision/manifest/coredns_deployment.yaml
Labels: area/CI, pending-review

#4492 daemon: refactor updating of CNP Node Status & update annotations of CNP rule spec hasn't changed
  daemon/k8s_watcher.go
  pkg/k8s/apis/cilium.io/v2/types.go
Labels: area/k8s, area/policy, pending-review

#4919 pkg/kvstore: fix literal copies lock value from
  pkg/kvstore/etcd.go
Labels: kind/bug, pending-review

#4984 pkg/endpoint: do not serialize LabelsMap in Endpoint
  pkg/endpoint/endpoint.go
  pkg/endpoint/policy.go
Labels: kind/cleanup, kind/enhancement, pending-review

#5005 docs: explicitly set kube-system namespace when applying new ConfigMap
  Documentation/install/upgrade.rst
Labels: area/documentation, needs-backport/1.1, pending-review, priority/high

#4956 Test: Fix GRPC issue on Kubernetes
  test/k8sT/Nightly.go
Labels: area/CI, pending-review

#4942 pkg/endpoint: fix endpoint.logger race condition
  pkg/endpoint/policy.go
Labels: needs-backport/1.0, needs-backport/1.1, pending-review, priority/high

#5003 Use Fedora 28 base and update spec file
  contrib/packaging/rpm/Dockerfile
  contrib/packaging/rpm/cilium.spec.envsubst
  contrib/packaging/rpm/create_rpm.sh
Labels: pending-review

#4959 Test: Kafka wait until all endpoints are ready.
  test/k8sT/KafkaPolicies.go
Labels: pending-review

#5018 Test: Upgrade from version 1.1.1
  test/helpers/cons.go
Labels: area/CI, pending-review

#4469 CI: Check external access before policies test
  test/runtime/Policies.go
Labels: area/CI, kind/enhancement, ready-to-merge

#5019 pkg/endpoint: annotate pod with numeric identity
  pkg/endpoint/policy.go
Labels: kind/bug, needs-backport/1.0, needs-backport/1.1, pending-review, release-note/bug

#4884 prepare for release v1.0.5
  AUTHORS
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.0, pending-review

#5022 CI: Run netperf test on master
  kubernetes-upstream.Jenkinsfile
Labels: area/CI, pending-review

#5002 Test: Provide more information on pre-flight check
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#5000 Jenkins: Update timeout on Nightly builds
  Jenkinsfile.nightly
Labels: area/CI, pending-review

#4945 kvstore: Wait for kvstore watcher to exit
  pkg/kvstore/consul.go
  pkg/kvstore/etcd.go
  pkg/kvstore/events.go
Labels: kind/bug, needs-backport/1.0, needs-backport/1.1, pending-review, release-note/bug

#5024 daemon: always re-add CNP when receiving an update from Kubernetes
  daemon/k8s_watcher.go
Labels: area/k8s, kind/bug, needs-backport/1.0, needs-backport/1.1, pending-review, release-note/bug

#5023 cilium-health: Fix logging initialization
  Documentation/cmdref/cilium-health.md
  Documentation/cmdref/cilium-health_get.md
  Documentation/cmdref/cilium-health_ping.md
  Documentation/cmdref/cilium-health_status.md
  cilium-health/cmd/root.go
Labels: area/documentation, area/health, pending-review

#5034 CODEOWNERS: modify CODEOWNERS for 1.2 release
  CODEOWNERS
Labels: pending-review

#5039 k8s: watch for namespace changes
  daemon/k8s_watcher.go
Labels: area/k8s, kind/bug, needs-backport/1.2, pending-review

#5032 daemon: Don't tunnel locally destined traffic
  daemon/endpoint.go
Labels: area/daemon, area/datapath, needs-backport/1.2, pending-review, priority/release-blocker

#5044 backporting: Make set-labels script executable
  contrib/backporting/set-labels.py
Labels: area/misc, pending-review

#5046 docs: Streamline and tidy backporting docs
  Documentation/contributing.rst
Labels: area/documentation, pending-review

#4908 policy: Add runtime tests for ToFQDN rules
  test/runtime/Policies.go
Labels: area/CI, area/daemon, area/policy, pending-review

#5053 docs: Mention LB -> conntrack dependency
  README.rst
Labels: area/documentation, pending-review

#5035 Prepare for release v1.2.0-rc1
  AUTHORS
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: pending-review, priority/high

#5054 Test: Delete Kube-dns on upgrade test
  test/k8sT/Updates.go
Labels: area/CI, pending-review

#5057 Test: Added RunInit problems on post checks.
  pkg/endpoint/bpf.go
  test/helpers/cons.go
Labels: area/CI, kind/enhancement, pending-review

#5050 Test: Fix issues on false positive controllers
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, pending-review
