Repository cilium/cilium, pull requests merged in 2018-06, with the labels that each got.

#3968 docs: Update Istio GSG to Istio 0.8.0 pre-release
  Documentation/gettingstarted/istio.rst
  Documentation/gettingstarted/minikube_intro.rst
  Documentation/spelling_wordlist.txt
  examples/kubernetes-istio/bookinfo-productpage-ingress.yaml
  examples/kubernetes-istio/cilium-kube-inject.awk
  examples/kubernetes-istio/cilium-kube-inject.sed
  examples/kubernetes-istio/istio-sidecar-init-policy.yaml
  examples/kubernetes-istio/istio-sidecar-injector-configmap-release.yaml
  examples/kubernetes-istio/kafka-v1.yaml
  examples/kubernetes-istio/route-rule-reviews-v1-v2.yaml
  examples/kubernetes-istio/route-rule-reviews-v1.yaml
  examples/kubernetes-istio/route-rule-reviews-v2.yaml
Labels: area/documentation, pending-review, priority/high

#4295 examples: add registry address to all container images
  Documentation/install/upgrade.rst
  examples/docker-compose/docker-compose.yml
  examples/elk/README.md
  examples/elk/docker-compose.yml
  examples/getting-started/docker-compose.yml
  examples/kubernetes-es/es-sw-app.yaml
  examples/kubernetes-grpc/cc-door-app.yaml
  examples/kubernetes-istio/authaudit-logger-v1.yaml
  examples/kubernetes-istio/bookinfo-details-v1.yaml
  examples/kubernetes-istio/bookinfo-productpage-v1.yaml
  examples/kubernetes-istio/bookinfo-productpage-v2.yaml
  examples/kubernetes-istio/bookinfo-ratings-v1.yaml
  examples/kubernetes-istio/bookinfo-reviews-v1.yaml
  examples/kubernetes-istio/bookinfo-reviews-v2.yaml
  examples/kubernetes-istio/istio-sidecar-injector-configmap-debug.yaml
  examples/kubernetes-istio/kafka-v1.yaml
  examples/kubernetes-kafka/kafka-sw-app.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/addons/prometheus/prometheus.yaml
  examples/kubernetes/cilium.yaml
  examples/kubernetes/prometheus.yaml
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
  examples/minikube/cilium-ds.yaml
  examples/minikube/http-sw-app.yaml
  test/k8sT/manifests/bookinfo-v1.yaml
  test/k8sT/manifests/bookinfo-v2.yaml
  test/k8sT/manifests/client.yaml
  test/k8sT/manifests/demo.yaml
  test/k8sT/manifests/demo_ds.yaml
  test/k8sT/manifests/external_pod.yaml
  test/k8sT/manifests/kafka-sw-app.yaml
  test/k8sT/manifests/netcat_ds.yaml
  test/k8sT/manifests/server.yaml
Labels: area/documentation, area/k8s, pending-review

#4307 Test: re-enable debug configuration in Cilium K8s tests
  test/k8sT/manifests/cilium_ds.jsonnet
  test/k8sT/manifests/cilium_ds.template
  test/k8sT/manifests/cilium_ds_autorouting.jsonnet
  test/k8sT/manifests/cilium_ds_geneve.jsonnet
Labels: area/CI, kind/bug/CI, pending-review, priority/high, ready-to-merge

#4315 Test: Fix PodCIDR on Kubeadm init.
  test/helpers/kubectl.go
  test/provision/k8s_install.sh
Labels: area/CI, pending-review, priority/high

#4310 test: report collection prints error from ssh.RunCommand
  test/helpers/node.go
Labels: area/CI, pending-review

#4335 Documentation/cmdref: update cilium-agent cmdref
  Documentation/cmdref/cilium-agent.md
Labels: area/documentation, pending-review, priority/high

#4331 Test: Add cep output on Kubernetes report
  test/helpers/kubectl.go
Labels: area/CI, kind/enhancement, pending-review

#4340 Add k8s label source in GetPolicyLabels
  pkg/k8s/apis/cilium.io/utils/utils.go
  pkg/k8s/network_policy_test.go
Labels: kind/bug, priority/medium, stable/needs-backport

#4327 Correctly restore router IPs from cilium_host interface
  daemon/daemon_test.go
  pkg/defaults/defaults.go
  pkg/node/node_address.go
  pkg/option/config.go
Labels: area/daemon, kind/bug, release-note/bug

#4349 test: Do not print nil errors in ssh.Exec
  test/helpers/node.go
Labels: kind/bug/CI, pending-review

#4352 Test: Fix PodCIDR issues on Kubernetes 1.7
  test/provision/k8s_install.sh
Labels: area/CI, kind/bug/CI, pending-review, priority/1.1, ready-to-merge

#4348 Ginkgo-ext: Fix Codelocation on asserts
  test/ginkgo-ext/scopes.go
  test/helpers/cmd.go
Labels: area/CI, kind/enhancement, pending-review

#4341 pkg/bpf: include map file descriptor in error messages
  pkg/bpf/bpf.go
Labels: kind/enhancement, pending-review

#4358 bugtool: get list of open file descriptors
  bugtool/cmd/configuration.go
Labels: area/bugtool, kind/enhancement, pending-review

#4301 test: Be verbose about VM provision failures
  test/test_suite_test.go
Labels: area/CI, kind/enhancement, pending-review

#4367 Test: Use Kubecfg native options.
  test/helpers/kubectl.go
Labels: area/CI, pending-review, priority/high

#4355 Test: Refactor CiliumEndpointWait
  test/helpers/kubectl.go
  test/helpers/utils.go
  test/k8sT/Chaos.go
  test/k8sT/Policies.go
  test/k8sT/Services.go
  test/k8sT/Tunnels.go
  test/k8sT/Updates.go
  test/k8sT/demos.go
Labels: area/CI, kind/enhancement, pending-review, ready-to-merge

#4365 daemon: Delete old ID mapping when updating the IP for a reserved ID
  daemon/daemon.go
  pkg/ipcache/ipcache.go
Labels: kind/bug, pending-review, priority/high, priority/release-blocker

#4370 test: Increase kubedns timeouts above 5 minutes
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#4371 test/helpers: Fix WaitForKubeDNSEntry function on timeout
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, pending-review

#4350 daemon/k8s: remove .new in log messages when updating values
  daemon/k8s_watcher.go
Labels: kind/cleanup, pending-review

#4291 test/runtime: add endpoint regeneration test
  test/runtime/Policies.go
Labels: area/CI, area/policy, pending-review

#4361 docs: Improve formatting of upgrade notes
  Documentation/install/upgrade.rst
Labels: area/documentation, priority/1.1, ready-to-merge

#4273 daemon: Warn on too-old status data
  daemon/daemon.go
  daemon/status.go
Labels: area/daemon, kind/enhancement, pending-review, priority/1.1

#4372 pkg/endpoint: Keep BPF object files if compilation is skipped.
  common/utils.go
  common/utils_test.go
  pkg/endpoint/bpf.go
  pkg/endpoint/policy.go
Labels: area/daemon, area/datapath, kind/bug, pending-review, priority/1.1, release-note/bug

#4378 pkg/endpoint: always ForcePolicyCompute if endpoint assigned new identity
  pkg/endpoint/endpoint.go
Labels: area/policy, pending-review, priority/release-blocker, ready-to-merge

#4386 pkg/identity: Fix ineffassign errors
  pkg/identity/identity.go
Labels: pending-review, priority/1.1

#4375 pkg/endpoint: log clearing maps upon regen failure
  pkg/endpoint/bpf.go
Labels: area/policy, kind/enhancement, pending-review

#4380 Documentation: Upgrade Note edit
  Documentation/install/upgrade.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, pending-review, priority/1.1

#4344 docs: add cri-o minikube guide
  Documentation/gettingstarted/cilium_install.rst
  Documentation/gettingstarted/cilium_install_crio.rst
  Documentation/gettingstarted/cilium_install_docker.rst
  Documentation/gettingstarted/gsg_starwars.rst
  Documentation/gettingstarted/minikube.rst
  Documentation/gettingstarted/minikube_intro.rst
  Documentation/spelling_wordlist.txt
Labels: area/crio, area/documentation, pending-review

#4354 pkg/k8s: allow from both namespace and pod selector in KNP
  pkg/k8s/network_policy.go
  pkg/k8s/network_policy_test.go
  pkg/policy/api/selector.go
Labels: area/k8s, kind/enhancement, pending-review, priority/1.1, release-note/major

#4343 kubernetes/templates: add DaemonSet file for CRI-o
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
Labels: area/crio, help-wanted, pending-review

#4123 Nightly: Fix issues on test.
  examples/kubernetes-grpc/cc-door-app.yaml
  test/helpers/policygen/models.go
  test/helpers/policygen/policygen.go
  test/k8sT/Nightly.go
Labels: kind/bug/CI, pending-review

#4389 bpf: Separate conntrack timeouts for TCP and non-TCP
  bpf/lib/conntrack.h
  bpf/lxc_config.h
  daemon/bpf.sha
  pkg/maps/ipcache/ipcache.go
Labels: area/datapath, kind/enhancement, priority/1.1, priority/release-blocker, release-note/minor, stable/needs-backport

#4404 Test: Wait Kubedns ready when cilium updates
  test/k8sT/Updates.go
Labels: kind/bug/CI, kind/enhancement, pending-review, priority/1.1

#4397 docs: Use absolute paths for iptables diagram
  Documentation/concepts.rst
Labels: area/documentation, pending-review, stable/needs-backport

#4382 examples/kubernetes-ingress/scripts: factor out cri-o installation into function
  examples/kubernetes-ingress/scripts/03-install-kubernetes-worker.sh
Labels: area/misc, kind/bug, pending-review, priority/1.1, ready-to-merge

#4394 docs: Update k8s iptables diagram for Cilium 1.1
  Documentation/_static/kubernetes_iptables.svg
Labels: area/documentation, priority/1.1, ready-to-merge, stable/needs-backport

#4395 Fix failure to apply xds NetworkPolicy due to "context deadline exceeded" with large policies
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
Labels: area/policy, area/proxy, pending-review, priority/1.1, release-note/bug

#4364 revised elasticsearch getting started guide
  Documentation/gettingstarted/elasticsearch.rst
  Documentation/gettingstarted/images/cilium_es_gsg_topology.png
  Documentation/spelling_wordlist.txt
  examples/kubernetes-es/es-sw-app.yaml
  examples/kubernetes-es/es-sw-policy.yaml
Labels: area/documentation, pending-review

#4398 daemon: change when restored endpoints are inserted into endpoint manager
  daemon/state.go
Labels: area/daemon, area/policy, kind/bug, kind/regression, pending-review, priority/1.1

#4408 conntrack: Increase conntrack interval to 1 minute
  pkg/endpointmanager/conntrack.go
Labels: needs-backport/1.0, pending-review, priority/release-blocker, stable/needs-backport

#4412 GH-4248: Return Annotations in CNP NodeStatus
  daemon/k8s_watcher.go
  pkg/k8s/apis/cilium.io/v2/types.go
Labels: area/k8s, priority/release-blocker

#4430 CI: Revert to working Vagrant box and cilium-builder image
  Dockerfile
  Vagrantfile
  envoy/WORKSPACE
  test/Vagrantfile
  test/docker-compose.yml
Labels: area/CI, needs-backport/1.1, pending-review, priority/insane

#4426 Bump journald log ratelimit to 10000/s
  Vagrantfile
  test/provision/runtime_install.sh
Labels: area/CI, needs-backport/1.1, pending-review, priority/high, priority/release-blocker

#4420 daemon: return error if createEndpoint fails
  daemon/endpoint.go
Labels: area/daemon, needs-backport/1.0, needs-backport/1.1, pending-review

#4419 Small bug fixes in PutEndpoint
  daemon/endpoint.go
Labels: area/daemon, needs-backport/1.1, pending-review

#4433 Test: Demo tests waiting to policies to be applied.
  test/k8sT/demos.go
Labels: needs-backport/1.0, needs-backport/1.1, pending-review, priority/release-blocker

#4427 test/k8sT: wrap KafkaPolicies test within Context
  test/k8sT/KafkaPolicies.go
Labels: area/CI, kind/bug/CI, pending-review

#4441 doc: Add missing indices to spelling list
  Documentation/spelling_wordlist.txt
Labels: area/documentation

#4442 allocator: Use DefaultLogger
  pkg/kvstore/allocator/allocator.go
Labels: kind/bug, needs-backport/1.0, priority/release-blocker, stable/needs-backport

#4453 examples/kubernetes: set correct image tag in kubernetes examples
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: pending-review, priority/high, stable/backport

#4421 daemon: synchronously add endpoints into endpointmanager
  daemon/state.go
Labels: area/daemon, pending-review, priority/release-blocker

#4456 Test: K8st Tunnels delete services before deleting Cilium
  test/k8sT/Tunnels.go
Labels: area/CI, kind/enhancement, pending-review

#4474 bpffs: Fix panic when root directory does not exist
  pkg/bpf/bpffs.go
Labels: kind/bug, kind/regression, priority/release-blocker

#4470 test: Wait for DNS entry of kafka and zookeeper service
  test/k8sT/KafkaPolicies.go
Labels: area/CI, area/k8s

#4478 Test: Fix panic on microscope callback
  test/k8sT/KafkaPolicies.go
  test/k8sT/Policies.go
  test/k8sT/Services.go
  test/k8sT/demos.go
Labels: area/CI, kind/bug/CI, pending-review

#4472 Update documentation for support for zero length CIDRs
  Documentation/install/upgrade.rst
Labels: area/documentation, pending-review

#4473 policy: Improve L4Filter tests
  pkg/policy/l4Filter_test.go
Labels: area/CI, kind/cleanup, pending-review

#4476 test/helpers: gather logs from all pods
  test/helpers/kubectl.go
Labels: area/CI, pending-review, priority/high

#4482 kubernetes: Fix generation of DaemonSet files to include v image tag prefix
  examples/kubernetes/Makefile
Labels: kind/bug, needs-backport/1.0, pending-review, priority/release-blocker, release-note/bug

#4461 k8s: Updated LastUpdated after waiting for endpoint status
  daemon/k8s_watcher.go
Labels: area/k8s, kind/bug, pending-review, release-note/bug

#4491 Fix panic in metrics package
  pkg/metrics/status.go
Labels: kind/bug, kind/regression, priority/release-blocker

#4479 Test: Skip Kube-dns if the Kubernetes version is 1.11
  test/provision/k8s_install.sh
Labels: area/CI, kind/bug/CI, kind/enhancement, pending-review

#4493 metrics: Check IPAM field for nil
  pkg/metrics/status.go
Labels: kind/bug, pending-review, priority/release-blocker

#4494 kubernetes: Add missing parenthesis to only fail on invalid version
  examples/kubernetes/Makefile
Labels: kind/bug, needs-backport/1.0, pending-review

#4503 Test: improvements on logs
  test/helpers/kubectl.go
Labels: area/CI, kind/enhancement, pending-review

#4497 Makefile: add jenkins-precheck Makefile target
  Makefile
  ginkgo.Jenkinsfile
  test/precheck.yml
Labels: area/CI, pending-review, requires-janitor-review

#4451 [v1.0] Jenkins backport
  ginkgo.Jenkinsfile
Labels: area/CI, pending-review

#4501 pkg/bpf: Fix ineffassign error
  pkg/bpf/bpffs.go
Labels: area/datapath, kind/bug

#4499 Test: Add prometheus deployment on Kubernetes test
  test/test_suite_test.go
Labels: area/CI, kind/enhancement, pending-review

#4517 docs: Correct spelling in ServiceAccount documentation
  Documentation/policy/language.rst
Labels: area/documentation, pending-review

#4509 doc: Document exposing pods across namespaces
  Documentation/policy/language.rst
  examples/policies/kubernetes/namespace/demo-pods.yaml
  examples/policies/kubernetes/namespace/namespace-policy.json
  examples/policies/kubernetes/namespace/namespace-policy.yaml
Labels: area/documentation, needs/e2e-test, pending-review

#4468 endpointmanager: Simplify Conntrack garbage collection launch code
  pkg/endpoint/endpoint.go
  pkg/endpointmanager/conntrack.go
Labels: area/datapath, kind/cleanup, ready-to-merge

#4525 apipanic: Log stack at debug level
  pkg/apipanic/apipanic.go
Labels: area/daemon, ready-to-merge

#4537 doc: Provide egress example to kube-dns across namespaces
  Documentation/policy/language.rst
  examples/policies/kubernetes/namespace/kubedns-policy.json
  examples/policies/kubernetes/namespace/kubedns-policy.yaml
Labels: area/documentation, needs-backport/1.1, needs/e2e-test

#4534 examples/kubernetes: use POSIX regex for CILIUM_VERSION checker
  examples/kubernetes/Makefile
Labels: area/k8s, needs-backport/1.0, needs-backport/1.1, pending-review

#4516 Endpoint: Log policyRevision on endpoint log.
  pkg/endpoint/endpoint.go
Labels: area/CI, needs-backport/1.1, pending-review

#4518 daemon: Delete deprecated code to remove older cilium-envoy.log at startup
  daemon/main.go
Labels: pending-review, release-note/minor

#4542 apipanic: Log stack as string
  pkg/apipanic/apipanic.go
Labels: area/CI, kind/enhancement, needs-backport/1.1, pending-review

#4543 docs: use Documentation context to avoid longer image builds
  Documentation/.gitignore
  Documentation/Dockerfile
  Makefile
Labels: area/documentation, kind/enhancement, needs-backport/1.0, needs-backport/1.1, pending-review

#4452 Terminate microscope in CI properly
  test/helpers/kubectl.go
  test/helpers/ssh_command.go
  test/k8sT/microscope.go
Labels: area/CI, pending-review, ready-to-merge

#4554 doc: better text in basic-rules k8s link
  Documentation/policy/intro.rst
Labels: area/documentation, pending-review

#4556 Test: Kubelet logs
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#4387 Vagrant: Update dev servers to cilium/ubuntu-dev box.
  Documentation/contributing.rst
  Jenkinsfile.nightly
  Vagrantfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
  kubernetes-upstream.Jenkinsfile
  test/Vagrantfile
Labels: area/CI, area/k8s, kind/enhancement, pending-review

#4553 bpffs: Fix panic when root directory does not exist
  pkg/bpf/bpffs.go
Labels: backport/1.0, kind/backports

#4562 Fix index out of range error in ParseToCiliumRule
  pkg/k8s/apis/cilium.io/utils/utils.go
  pkg/k8s/apis/cilium.io/utils/utils_test.go
Labels: area/k8s, area/policy, pending-review, priority/high

#4561 daemon: Fix endpoint restore log regarding health endpoint
  daemon/state.go
Labels: kind/bug, needs-backport/1.1, pending-review, release-note/bug

#4558 docs: fix mesos guide
  Documentation/gettingstarted/mesos.rst
  examples/mesos/README.md
  examples/mesos/Vagrantfile
  examples/mesos/allfiles.tar.gz
  examples/mesos/allfiles/client-template.json
  examples/mesos/allfiles/docker-compose.yml
  examples/mesos/allfiles/generate_client_file.sh
  examples/mesos/allfiles/l3-l4-policy.json
  examples/mesos/allfiles/l7-policy.json
  examples/mesos/allfiles/start_marathon.sh
  examples/mesos/allfiles/tail_client.sh
  examples/mesos/allfiles/web-server.json
Labels: area/documentation, needs-backport/1.1, pending-review

#4571 Test: Validate that endpoints are ready after Cilium restart
  test/k8sT/Chaos.go
Labels: area/CI, pending-review

#4552 Contrib: Backport script to use different versions
  Documentation/contributing.rst
  contrib/backporting/check-stable
Labels: needs-backport/1.0, needs-backport/1.1, pending-review

#4576 pidfile: Fix error message formatting
  pkg/pidfile/pidfile.go
Labels: kind/bug, needs-backport/1.1, pending-review

#4545 cmd: Detect BPF map root properly
  pkg/bpf/bpffs.go
  pkg/components/components.go
Labels: kind/bug, needs-backport/1.1, pending-review

#4578 cni: Change default configuration filename to 00-cilium.conf
  Documentation/gettingstarted/mesos.rst
  Documentation/kubernetes/install.rst
  cilium/cmd/cleanup.go
  contrib/packaging/rpm/cilium.spec.envsubst
  plugins/cilium-cni/00-cilium-cni.conf
  plugins/cilium-cni/Makefile
  plugins/cilium-cni/cni-install.sh
  plugins/cilium-cni/cni-uninstall.sh
  test/runtime/connectivity.go
Labels: area/k8s, kind/enhancement, needs-backport/1.1, pending-review

#4567 xds: Add Kafka rules into NetworkPolicy
  envoy/cilium/npds.proto
  pkg/envoy/cilium/npds.pb.go
  pkg/envoy/cilium/npds.pb.validate.go
Labels: area/proxy, kind/feature, pending-review, priority/medium

#4580 Test: Cleanup runtime installation
  test/provision/runtime_install.sh
Labels: area/CI, pending-review, ready-to-merge

#4573 allocator: Re-use randomly generated ID sequence between allocations
  pkg/kvstore/allocator/allocator.go
Labels: kind/bug, needs-backport/1.1, pending-review

#4588 Check for nil before accessing Status
  cilium/cmd/status.go
Labels: kind/bug, needs-backport/1.0, needs-backport/1.1

#4529 daemon: add configuration option for the GC collection interval
  Documentation/cmdref/cilium-agent.md
  daemon/main.go
  pkg/endpointmanager/conntrack.go
Labels: area/daemon, pending-review

#4591 daemon: skip health endpoint on restore
  daemon/state.go
  pkg/labels/labels.go
Labels: needs-backport/1.1, pending-review, priority/high, priority/release-blocker

#4601 docs: Remove sidecar-http-proxy config from upgrade instructions
  Documentation/install/upgrade.rst
Labels: area/documentation, pending-review, priority/medium, stable/needs-backport

#4589 envoy: Parse and log Envoy log messages at their actual level
  pkg/envoy/envoy.go
  pkg/logging/logfields/logfields.go
Labels: area/proxy, kind/enhancement, pending-review, priority/medium

#4595 identity: Move CIDR identity code into pkg/identity/cidr
  daemon/policy.go
  pkg/identity/cidr/identity.go
Labels: pending-review

#4593 cilium-health: accept only positive interval
  Documentation/cmdref/cilium-health.md
  Documentation/cmdref/cilium-health_get.md
  Documentation/cmdref/cilium-health_ping.md
  Documentation/cmdref/cilium-health_status.md
  cilium-health/cmd/root.go
Labels: area/documentation, area/misc, kind/bug, pending-review, release-note/minor

#4599 agent: Require go 1.10 for safe namespace operations
  Documentation/contributing.rst
  envoy/Dockerfile
  plugins/cilium-cni/cilium-cni.go
Labels: pending-review, release-note/minor

#4555 Microscope test fix
  test/helpers/kubectl.go
  test/helpers/node.go
  test/helpers/ssh_command.go
  test/k8sT/microscope.go
Labels: area/CI, kind/bug/CI, pending-review

#4605 Documentation: Fixed a reference to "localhost:8080"
  Documentation/install/guides/kops.rst
Labels: area/documentation, needs-backport/1.1, pending-review

#4572 Test: Upgrade wait until endpoints are ready
  test/k8sT/Updates.go
Labels: area/CI, pending-review

#4614 Test: Wait until all pods are ready
  test/k8sT/Policies.go
Labels: area/CI, needs-backport/1.1, pending-review

#4617 AUTHORS: Update to latest list
  AUTHORS
Labels: area/documentation, backport-pending/1.1, pending-review

#4600 kubernetes: Simple connectivity check demo app
  examples/kubernetes/connectivity-check/README.md
  examples/kubernetes/connectivity-check/connectivity-check.yaml
Labels: area/documentation, area/k8s

#4620 Fix golang 1.10 build on Ubuntu with snap packages
  bugtool/Makefile
  cilium-health/Makefile
  cilium/Makefile
  daemon/Makefile
  monitor/Makefile
  plugins/cilium-cni/Makefile
  plugins/cilium-docker/Makefile
  test/bpf/Makefile
Labels: area/misc, needs-backport/1.1, pending-review

#4623 metricsmap: Fix index out of range error
  pkg/maps/metricsmap/metricsmap.go
Labels: area/datapath, needs-backport/1.1, pending-review, priority/release-blocker, release-note/bug

#4624 Backport 1.1 - 2018 06 24
  NEWS.rst
  pkg/maps/metricsmap/metricsmap.go
Labels: backport/1.1

#4303 Improve contributor guide
  CONTRIBUTING.md
  Documentation/contributing.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.1, pending-review

#4626 Fix nested indentation for Upgrade notes for 1.1
  Documentation/install/upgrade.rst
Labels: area/documentation, needs-backport/1.1

#4621 policy doc updates
  Documentation/concepts.rst
  Documentation/policy/intro.rst
Labels: area/documentation

#4629 Jenkins: Adjust Timeouts
  docs.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: area/CI, pending-review, ready-to-merge

#4639 test: increase boot timeout to 600 seconds
  test/Vagrantfile
Labels: area/CI, kind/enhancement, pending-review

#4637 Revert "k8s: Updated LastUpdated after waiting for endpoint status"
  daemon/k8s_watcher.go
Labels: area/k8s, kind/regression, needs-backport/1.1, pending-review

#4643 Doc: Fix service account policy example
  Documentation/policy/language.rst
Labels: area/documentation, needs-backport/1.1, pending-review

#4636 Fix PolicyRevision of endpoint bumped prematurely
  pkg/endpoint/policy.go
Labels: kind/bug, needs-backport/1.0, needs-backport/1.1, pending-review, priority/insane, ready-to-merge

#4646 kvstore: Remove unintentional info message
  pkg/kvstore/store/store.go
Labels: kind/bug, needs-backport/1.1, pending-review

#4647 agent: Remove unused GetTunnelMode()
  daemon/daemon.go
  daemon/daemon_test.go
  pkg/endpoint/owner.go
Labels: kind/cleanup, pending-review

#4631 start.sh: set RELOAD=1 if VM already exists
  contrib/vagrant/start.sh
Labels: pending-review, ready-to-merge

#4627 docs: point users to docs.cilium.io in GH docs
  Documentation/api.rst
  Documentation/bpf.rst
  Documentation/cheatsheet.rst
  Documentation/cmdref/cli_index.rst
  Documentation/cmdref/index.rst
  Documentation/cmdref/kvstore.rst
  Documentation/commit-access.rst
  Documentation/concepts.rst
  Documentation/configuration/metrics.rst
  Documentation/contributing.rst
  Documentation/docker/index.rst
  Documentation/further_reading.rst
  Documentation/gettinghelp.rst
  Documentation/gettingstarted/cilium_install.rst
  Documentation/gettingstarted/cilium_install_crio.rst
  Documentation/gettingstarted/cilium_install_docker.rst
  Documentation/gettingstarted/docker.rst
  Documentation/gettingstarted/elasticsearch.rst
  Documentation/gettingstarted/grpc.rst
  Documentation/gettingstarted/gsg_intro.rst
  Documentation/gettingstarted/gsg_starwars.rst
  Documentation/gettingstarted/index.rst
  Documentation/gettingstarted/istio.rst
  Documentation/gettingstarted/kafka.rst
  Documentation/gettingstarted/mesos.rst
  Documentation/gettingstarted/minikube.rst
  Documentation/gettingstarted/minikube_intro.rst
  Documentation/glossary.rst
  Documentation/index.rst
  Documentation/install/guides/advanced_options.rst
  Documentation/install/guides/from_source.rst
  Documentation/install/guides/index.rst
  Documentation/install/guides/kops.rst
  Documentation/install/guides/kubernetes.rst
  Documentation/install/system_requirements.rst
  Documentation/install/upgrade.rst
  Documentation/intro.rst
  Documentation/istio/index.rst
  Documentation/kubernetes/ciliumendpoint.rst
  Documentation/kubernetes/compatibility.rst
  Documentation/kubernetes/index.rst
  Documentation/kubernetes/install.rst
  Documentation/kubernetes/intro.rst
  Documentation/kubernetes/policy.rst
  Documentation/kubernetes/quickinstall.rst
  Documentation/kubernetes/troubleshooting.rst
  Documentation/mesos/index.rst
  Documentation/policy/index.rst
  Documentation/policy/intro.rst
  Documentation/policy/language.rst
  Documentation/policy/lifecycle.rst
  Documentation/policy/troubleshooting.rst
  Documentation/troubleshooting.rst
Labels: area/documentation, pending-review

#4642 Misc endpoint cleanups
  pkg/endpoint/policy.go
Labels: kind/cleanup, pending-review

#4645 Bump VERSION to 1.1.90
  VERSION
Labels: area/documentation, pending-review

#4654 CI: Delete bugtool files correctly
  test/helpers/kubectl.go
Labels: area/CI, needs-backport/1.1, pending-review, ready-to-merge

#4655 test: Use latest stable etcd and consul images
  test/docker-compose.yml
Labels: area/CI, kind/enhancement, needs-backport/1.0, needs-backport/1.1, pending-review

#4653 tests: Update cilium-builder in unit tests to 2018-06-21
  test/docker-compose.yml
Labels: area/CI, kind/enhancement, needs-backport/1.0, needs-backport/1.1, pending-review

#4656 LICENSE: Update copyright column
  LICENSE
Labels: area/misc, pending-review

#4662 start.sh: fix RELOAD=1 if VM is not created
  contrib/vagrant/start.sh
Labels: pending-review

#4650 agent: Record elapsed time after finishing bootstrapping
  daemon/main.go
Labels: pending-review

#4665 doc: add opensuse to Distribution Compatibility Matrix
  Documentation/install/system_requirements.rst
Labels: area/documentation, release-note/minor

#4670 daemon: change minimal worker thread to 2
  daemon/daemon.go
Labels: area/k8s, kind/bug, needs-backport/1.1, pending-review, release-note/bug

#4678 endpoint: Fix restored endpoints not showing up in ipcache
  pkg/endpoint/policy.go
Labels: kind/bug, needs-backport/1.0, needs-backport/1.1, release-note/bug

#4671 contrib: add sysconfig file headers
  contrib/systemd/cilium
Labels: area/daemon, kind/enhancement, release-note/minor

#4677 Test: Update Vagrant box to version 91:
  Vagrantfile
  test/Vagrantfile
Labels: area/CI, pending-review

#4661 Test: Refactor health test
  test/k8sT/Health.go
Labels: area/CI, pending-review

#4682 pkg/policy: take into account To / FromRequires when computing L4 policy
  pkg/policy/api/selector.go
  pkg/policy/l4Filter_test.go
  pkg/policy/repository.go
  pkg/policy/repository_test.go
  pkg/policy/rule.go
  pkg/policy/rule_test.go
Labels: area/policy, kind/bug, needs-backport/1.0, needs-backport/1.1, pending-review, priority/insane

#4688 Test: Cleanup unused kubectl helpers.
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#4685 daemon: fix minimum number of work threads unit test
  daemon/daemon_test.go
Labels: area/daemon, kind/bug, pending-review

#4695 daemon: check if dry mode is enabled for misc. BPF map-related operations
  daemon/daemon.go
  daemon/loadbalancer.go
Labels: area/daemon, kind/cleanup, pending-review, priority/low
