Repository cilium/cilium, pull requests merged in 2018-04, with the labels that each got.

#3388 Refactor /endpoint/{id}/labels for API 1.0 stability
  api/v1/client/endpoint/endpoint_client.go
  api/v1/client/endpoint/patch_endpoint_id_labels_parameters.go
  api/v1/client/endpoint/patch_endpoint_id_labels_responses.go
  api/v1/client/endpoint/put_endpoint_id_labels_parameters.go
  api/v1/client/endpoint/put_endpoint_id_labels_responses.go
  api/v1/models/label_configuration.go
  api/v1/models/label_configuration_modifier.go
  api/v1/models/label_configuration_spec.go
  api/v1/models/label_configuration_status.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  api/v1/server/restapi/cilium_api.go
  api/v1/server/restapi/endpoint/patch_endpoint_id_labels.go
  api/v1/server/restapi/endpoint/patch_endpoint_id_labels_parameters.go
  api/v1/server/restapi/endpoint/patch_endpoint_id_labels_responses.go
  api/v1/server/restapi/endpoint/patch_endpoint_id_labels_urlbuilder.go
  api/v1/server/restapi/endpoint/put_endpoint_id_labels.go
  api/v1/server/restapi/endpoint/put_endpoint_id_labels_responses.go
  cilium/cmd/endpoint_labels.go
  cilium/cmd/endpoint_list.go
  daemon/endpoint.go
  daemon/endpoint_test.go
  daemon/main.go
  pkg/client/endpoint.go
  pkg/endpoint/endpoint.go
  pkg/labels/labels.go
  test/helpers/cilium.go
  test/helpers/kubectl.go
  test/k8sT/Policies.go
  test/runtime/Policies.go
Labels: pending-review, priority/1.0-best-effort, requires-doc-change

#3446 cli: Fix cilium bpf policy get
  cilium/cmd/bpf_policy_get.go
Labels: pending-review, priority/1.0-blocker

#3458 policy: Add missing EntitySlice autogen code
  pkg/policy/api/zz_generated.deepcopy.go
Labels: area/policy, pending-review

#3461 daemon: update CNP with timestamps in case of failure
  daemon/k8s_watcher.go
Labels: area/k8s, kind/bug, priority/1.0-blocker, release-note/bug

#3477 test: Use current cilium-builder also for Ginkgo tests.
  test/docker-compose.yml
Labels: area/CI, kind/bug/CI, priority/high

#3476 test/runtime: wait for endpoints to be ready after setting NAT46 config
  test/runtime/connectivity.go
Labels: area/CI, kind/bug/CI, priority/1.0-test-week

#3464 gitignore: add generated JUnit XML files
  .gitignore
Labels: area/misc, pending-review

#3431 Refactor /endpoint/{id} Policy types for API 1.0 stability
  api/v1/models/daemon_configuration_spec.go
  api/v1/models/endpoint.go
  api/v1/models/endpoint_policy.go
  api/v1/models/endpoint_policy_status.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  cilium/cmd/policy_wait.go
  pkg/endpoint/endpoint.go
  test/k8sT/Services.go
  test/runtime/Policies.go
  tests/12-policy-import.sh
  tests/k8s/tests/04-toservices-test.sh
Labels: pending-review, priority/1.0-best-effort, requires-doc-change

#3473 bpf: Do not route packets from egress proxy back into cilium_host
  bpf/init.sh
  daemon/bpf.sha
Labels: area/datapath, pending-review, priority/1.0-blocker

#3487 Test: Fix bugtool on kubernetes 1.7
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI

#3500 bugtool: add `ip rule` and `cilium-health status` commands
  bugtool/cmd/configuration.go
Labels: area/bugtool, kind/enhancement, pending-review

#3499 etcd: Run etcd version check in the background
  pkg/kvstore/etcd.go
  pkg/kvstore/etcd_test.go
Labels: area/daemon, pending-review, priority/1.0-blocker, priority/high

#3432 Refactor /endpoint/{id} for API 1.0 stability
  api/v1/client/ipam/post_ip_a_m_responses.go
  api/v1/models/address_pair.go
  api/v1/models/endpoint.go
  api/v1/models/endpoint_change_request.go
  api/v1/models/endpoint_identifiers.go
  api/v1/models/endpoint_networking.go
  api/v1/models/endpoint_policy.go
  api/v1/models/endpoint_policy_enabled.go
  api/v1/models/endpoint_policy_status.go
  api/v1/models/endpoint_status.go
  api/v1/models/ip_a_m_response.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  api/v1/server/restapi/ipam/post_ip_a_m_responses.go
  cilium-health/launch/endpoint.go
  cilium/cmd/debuginfo.go
  cilium/cmd/endpoint_list.go
  cilium/cmd/policy_trace.go
  cilium/cmd/policy_wait.go
  daemon/endpoint_test.go
  daemon/ipam.go
  pkg/client/ipam.go
  pkg/endpoint/endpoint.go
  pkg/k8s/apis/cilium.io/v2/register.go
  plugins/cilium-cni/cilium-cni.go
  plugins/cilium-docker/driver/driver.go
  plugins/cilium-docker/driver/ipam.go
  test/helpers/cilium.go
  test/helpers/kubectl.go
  test/k8sT/Policies.go
  test/k8sT/Services.go
  test/runtime/Policies.go
  test/runtime/cli.go
  tests/12-policy-import.sh
  tests/k8s/tests/04-toservices-test.sh
Labels: pending-review, priority/1.0-best-effort, requires-doc-change

#3455 Test: Trigger `vm.ReportFailed` in the global AfterAll
  test/test_suite_test.go
Labels: area/CI, kind/bug/CI, pending-review

#3463 Test: Enable egress-deny
  test/k8sT/Policies.go
Labels: area/CI, kind/bug/CI, pending-review, ready-to-merge

#3507 envoy: Update generated go-files for Cilium HTTP filter.
  envoy/Makefile.api
  pkg/envoy/cilium/cilium_l7policy.pb.go
  pkg/envoy/cilium/cilium_l7policy.pb.validate.go
Labels: area/proxy, kind/cleanup, pending-review, priority/1.0-test-week

#3510 npds: Properly translate L4-only rules
  pkg/envoy/server.go
  pkg/envoy/server_test.go
  pkg/envoy/sort.go
  pkg/envoy/sort_test.go
Labels: area/policy, area/proxy, pending-review, priority/1.0-blocker, stable/needs-backport

#3516 labels: Ignore istio sidecar annotation labels
  pkg/labels/filter.go
Labels: pending-review, priority/1.0-blocker, release-note/bug

#3511 Clear logging in state.go
  daemon/state.go
Labels: area/daemon, pending-review, priority/1.0-blocker

#3524 k8s: Fix bug with CEP cross-version delete
  pkg/endpoint/endpoint.go
Labels: area/k8s, kind/bug, priority/1.0-blocker, priority/release-blocker, stable/needs-backport

#3525 docs: Correct spelling mistakes in the docs
  Documentation/gettingstarted/istio.rst
  Documentation/gettingstarted/minikube_intro.rst
  examples/minikube/README.rst
Labels: pending-review, priority/1.0-test-week, release-note/minor

#3526 envoy: Set SO_LINGER and SO_KEEPALIVE on accepted sockets.
  envoy/cilium_bpf_metadata.cc
Labels: area/proxy, pending-review, priority/1.0-blocker, stable/needs-backport

#3513 api: Switch API version from v1beta to v1
  api/v1/client/cilium_client.go
  api/v1/openapi.yaml
  api/v1/server/doc.go
  api/v1/server/embedded_spec.go
  api/v1/server/restapi/daemon/get_config_urlbuilder.go
  api/v1/server/restapi/daemon/get_debuginfo_urlbuilder.go
  api/v1/server/restapi/daemon/get_healthz_urlbuilder.go
  api/v1/server/restapi/daemon/patch_config_urlbuilder.go
  api/v1/server/restapi/endpoint/delete_endpoint_id_urlbuilder.go
  api/v1/server/restapi/endpoint/get_endpoint_id_config_urlbuilder.go
  api/v1/server/restapi/endpoint/get_endpoint_id_healthz_urlbuilder.go
  api/v1/server/restapi/endpoint/get_endpoint_id_labels_urlbuilder.go
  api/v1/server/restapi/endpoint/get_endpoint_id_log_urlbuilder.go
  api/v1/server/restapi/endpoint/get_endpoint_id_urlbuilder.go
  api/v1/server/restapi/endpoint/get_endpoint_urlbuilder.go
  api/v1/server/restapi/endpoint/patch_endpoint_id_config_urlbuilder.go
  api/v1/server/restapi/endpoint/patch_endpoint_id_labels_urlbuilder.go
  api/v1/server/restapi/endpoint/patch_endpoint_id_urlbuilder.go
  api/v1/server/restapi/endpoint/put_endpoint_id_urlbuilder.go
  api/v1/server/restapi/ipam/delete_ip_a_m_ip_urlbuilder.go
  api/v1/server/restapi/ipam/post_ip_a_m_ip_urlbuilder.go
  api/v1/server/restapi/ipam/post_ip_a_m_urlbuilder.go
  api/v1/server/restapi/policy/delete_policy_urlbuilder.go
  api/v1/server/restapi/policy/get_identity_id_urlbuilder.go
  api/v1/server/restapi/policy/get_identity_urlbuilder.go
  api/v1/server/restapi/policy/get_policy_resolve_urlbuilder.go
  api/v1/server/restapi/policy/get_policy_urlbuilder.go
  api/v1/server/restapi/policy/put_policy_urlbuilder.go
  api/v1/server/restapi/prefilter/get_prefilter_urlbuilder.go
  api/v1/server/restapi/prefilter/patch_prefilter_urlbuilder.go
  api/v1/server/restapi/service/delete_service_id_urlbuilder.go
  api/v1/server/restapi/service/get_service_id_urlbuilder.go
  api/v1/server/restapi/service/get_service_urlbuilder.go
  api/v1/server/restapi/service/put_service_id_urlbuilder.go
Labels: area/daemon, pending-review, release-note/major, upgrade-impact

#3532 etcd: Move etcd status check into the background
  pkg/kvstore/etcd.go
Labels: kind/bug, pending-review, priority/1.0-blocker, priority/insane, release-note/bug, stable/needs-backport

#3535 daemon: Sync loadbalancer BPF maps from goroutine
  daemon/daemon.go
Labels: area/daemon, pending-review, priority/1.0-test-week, release-note/bug

#3490 Test: Fix hack in `SetAndWaitForEndpointConfiguration`
  test/helpers/cilium.go
  test/runtime/connectivity.go
Labels: area/CI, kind/bug/CI, pending-review, priority/1.0-test-week

#3412 Nightly: Change Ping behaviour on egress rules
  test/helpers/policygen/const.go
  test/helpers/policygen/policygen.go
Labels: area/CI, kind/bug/CI, pending-review

#3512 Nightly: Add listening check on TCP KeepAlive
  test/k8sT/Nightly.go
Labels: area/CI, kind/bug/CI, pending-review, priority/1.0-test-week

#3551 cilium: Make cilium endpoint list resilient
  cilium/cmd/endpoint_list.go
Labels: kind/bug, pending-review, priority/1.0-blocker, release-note/bug

#3542 docs: Document the backporting process.
  Documentation/contributing.rst
Labels: area/documentation, kind/enhancement, priority/1.0-best-effort, priority/medium

#3514 Test: Add cilium monitor in GuestBook Examples
  test/k8sT/Policies.go
Labels: area/CI, kind/bug/CI, pending-review

#3555 k8s: Gather timestamps in cilium_logs on failure
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#3556 Fix ICMPv6 response handling for IPv6 connections
  bpf/lib/conntrack.h
  daemon/bpf.sha
Labels: area/datapath, priority/1.0-best-effort, ready-to-merge, release-note/bug, stable/needs-backport

#3560 daemon: Remove deprecated '--envoy-proxy' option
  daemon/main.go
Labels: area/daemon, kind/cleanup, priority/1.0-test-week, stable/needs-backport

#3566 bpf: Derive proxy_port from policy rather than CT
  bpf/bpf_lxc.c
  daemon/bpf.sha
Labels: kind/bug, pending-review, priority/1.0-blocker, release-note/bug, stable/needs-backport

#3568 daemon: Add more info logs on startup
  daemon/daemon.go
  daemon/k8s_watcher.go
  daemon/loadbalancer.go
  daemon/main.go
  pkg/identity/allocator.go
  pkg/ipcache/ipcache.go
  pkg/policy/cache.go
  pkg/workloads/containerd/watcher.go
Labels: area/daemon, kind/enhancement, pending-review, stable/needs-backport

#3571 Test: Do not gather envoy.log
  test/helpers/cilium.go
  test/helpers/cons.go
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#3575 README: change jenkins badge links
  README.rst
Labels: area/documentation, pending-review, ready-to-merge

#3574 policy: Apply wildcarded source L7 rules to all sources
  pkg/policy/l4.go
Labels: kind/bug, pending-review, priority/1.0-blocker, release-note/bug, stable/needs-backport

#3578 fix misspelled comments in the code
  bugtool/cmd/configuration.go
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/etcd.go
  pkg/kvstore/events.go
  pkg/metrics/metrics.go
  pkg/proxy/proxy.go
  pkg/workloads/defaults.go
  pkg/workloads/runtimes.go
  test/helpers/policygen/models.go
Labels: 1.0-doc-work, pending-review, priority/low

#3580 docs: fix l4 policy examples
  examples/policies/l4/l3_l4_combined.yaml
  examples/policies/l4/multi_rule.yaml
Labels: 1.0-doc-work, area/documentation, pending-review

#3579 .gitignore: ignore test/test_results directory
  .gitignore
Labels: area/misc, kind/cleanup, priority/low

#3599 CI: Temporarily add retry 3 times logic in connectivity.go
  test/runtime/connectivity.go
Labels: area/CI, kind/bug/CI, pending-review

#3604 v1.0.0-rc11 release
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
Labels: pending-review

#3607 agent: Provide non-blocking agent status
  daemon/daemon.go
  daemon/debuginfo.go
  daemon/status.go
Labels: kind/bug, pending-review, release-note/bug, stable/needs-backport

#3610 Bugtool: Add gops output
  bugtool/cmd/configuration.go
  test/helpers/cilium.go
Labels: area/CI, area/bugtool, kind/enhancement, pending-review, stable/needs-backport

#3606 Change logging of new connections from warn to info level
  envoy/cilium_network_filter.cc
Labels: area/proxy, pending-review

#3618 docs: Use go-swagger Docker container to generate APIs
  Documentation/contributing.rst
  Makefile
Labels: area/CI, kind/enhancement, pending-review, priority/low

#3616 pkg/endpoint: log what caused policy changes
  pkg/endpoint/policy.go
Labels: area/policy, kind/enhancement, pending-review, ready-to-merge

#3590 Test: Enable Cilium Update test
  test/helpers/cons.go
  test/helpers/utils.go
  test/k8sT/Updates.go
Labels: area/CI, pending-review, ready-to-merge

#3631 health: Do sanity checking on health response
  pkg/health/server/server.go
Labels: kind/bug, pending-review, release-note/bug, stable/needs-backport

#3614 daemon: Clean up access log setup
  daemon/config.go
  daemon/daemon.go
  daemon/daemon_test.go
  daemon/main.go
  pkg/proxy/logger/logger.go
  pkg/proxy/proxy.go
Labels: area/daemon, kind/cleanup, pending-review, priority/low

#3641 docs: update minikube GSG
  Documentation/gettingstarted/cilium_install.rst
  Documentation/gettingstarted/minikube_intro.rst
Labels: 1.0-doc-work, pending-review, ready-to-merge

#3640 examples/k8s: fix 1.8 spec files
  examples/kubernetes/1.8/cilium-rbac.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.8/transforms2sed.sed
Labels: area/k8s, pending-review, priority/high, ready-to-merge

#3488 Test: trigger AfterFailed before AfterEach when is in Context
  test/ginkgo-ext/scopes.go
Labels: area/CI, kind/bug/CI, pending-review, ready-to-merge, stable/needs-backport

#3646 pkg/node: fix nil pointer dereference in non-IPv6 node
  pkg/node/manager.go
Labels: area/k8s, kind/bug, priority/high, ready-to-merge, release-note/bug, stable/needs-backport

#3643 test: Fix K8s demos to not use TTYs with kubectl exec
  test/helpers/wrappers.go
  test/k8sT/demos.go
Labels: area/CI, kind/bug/CI, pending-review, priority/high

#3619 pkg/ip: add functionality to coalesce CIDR list
  pkg/ip/ip.go
  pkg/ip/ip_test.go
Labels: area/misc, kind/enhancement, pending-review

#3645 Test: Add separate logs per each cilium pod
  test/helpers/kubectl.go
Labels: area/CI, pending-review, stable/needs-backport

#3661 docs: review troubleshooting guide
  Documentation/troubleshooting.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#3662 test/k8sT: do not access redis-master via hostname, only service IP
  test/k8sT/Policies.go
Labels: area/CI, kind/bug/CI, pending-review, stable/needs-backport

#3670 docs: Minikube GSG audit.
  Documentation/gettingstarted/minikube.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#3677 bpf documentation updates, part 2
  Documentation/bpf.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#3687 Test: Fix issue with Kubectl describe
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, pending-review

#3685 Test: Enabled K8sUpdates correctly.
  test/k8sT/Updates.go
Labels: area/CI, kind/bug/CI, pending-review, priority/high, ready-to-merge

#3668 test/helpers: add previous Cilium pod logs to kubectl.GatherLogs()
  test/helpers/kubectl.go
Labels: area/CI, kind/enhancement, pending-review, ready-to-merge

#3681 Rename tunnel endpoint map to be more consistent
  Documentation/contributing.rst
  bpf/lib/encap.h
  bpf/lib/maps.h
  cilium/cmd/cleanup.go
  daemon/bpf.sha
  pkg/maps/tunnel/tunnel.go
Labels: area/datapath, pending-review, upgrade-impact

#3700 tunnel: Remove old tunnel map upon upgrade.
  pkg/maps/tunnel/tunnel.go
Labels: area/datapath, pending-review, stable/needs-backport

#3678 endpoint: Fix label replacement
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_test.go
  pkg/labels/labels.go
Labels: area/daemon, kind/bug, pending-review, priority/medium, stable/needs-backport

#3701 docs: Update system requirements
  Documentation/install/system_requirements.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#3665 doc: Update metrics documentation & list exported metrics
  Documentation/configuration/metrics.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#3706 daemon: Regenerate endpoint in PATCH handler also when endpoint is in waiting-for-identity state
  daemon/endpoint.go
  pkg/endpoint/policy.go
Labels: area/daemon, kind/bug, priority/1.0-blocker, stable/needs-backport

#3709 Update docs related to cluster-diagnosis
  .github/issue_template.md
  Documentation/troubleshooting.rst
Labels: 1.0-doc-work

#3707 bpf documentation updates, part 3
  Documentation/bpf.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#3629 bpf: Only create conntrack entries for SYN packets
  bpf/lib/common.h
  bpf/lib/conntrack.h
  daemon/bpf.sha
Labels: area/datapath, ready-to-merge, release-note/minor, stable/needs-backport

#3716 docs: fix misspelled words
  Documentation/bpf.rst
  Documentation/configuration/metrics.rst
  Documentation/spelling_wordlist.txt
Labels: 1.0-doc-work, pending-review, priority/high, ready-to-merge

#3611 DOC: Update cilium contributing docs:
  Documentation/contributing.rst
Labels: 1.0-doc-work, pending-review

#3686 Docs: Add a new `test-docs-please` phrase to test only docs
  Documentation/contributing.rst
  Makefile
  docs.Jenkinsfile
Labels: area/CI, area/documentation, kind/enhancement, pending-review, ready-to-merge

#3711 policy: Do not wildcard CIDR 0/0 for world entity
  pkg/policy/rule.go
  pkg/policy/rule_test.go
Labels: area/policy, kind/bug, needs/e2e-test, pending-review, release-note/bug, stable/needs-backport

#3720 bpf documentation updates, part 4
  Documentation/bpf.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#3728 envoy: Remove assert, reduce logging.
  envoy/cilium_bpf_metadata.h
  envoy/cilium_network_filter.cc
Labels: area/proxy, kind/cleanup, priority/medium, stable/needs-backport

#3688 test: update kubedns to 1.14.9
  test/provision/manifest/dns_deployment.yaml
Labels: area/CI, area/k8s, pending-review, priority/high, ready-to-merge, stable/needs-backport

#3626 test/k8sT: do not defer deletion of resources within It
  test/k8sT/Policies.go
Labels: area/CI, kind/bug/CI, pending-review

#3734 test: fix star wars demo
  test/k8sT/demos.go
Labels: area/CI, kind/bug/CI, pending-review, priority/high, stable/needs-backport

#3729 doc: Reword docker integration text
  Documentation/docker/index.rst
  Documentation/gettingstarted/docker.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#3725 k8s: CEP GC controller logs errors at debug level
  pkg/endpoint/endpoint.go
Labels: area/k8s, kind/enhancement, pending-review

#3644 Docs: review GRPC GSG
  Documentation/gettingstarted/grpc.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#3736 doc: Update spelling list and fix misspellings
  Documentation/gettingstarted/grpc.rst
  Documentation/spelling_wordlist.txt
Labels: 1.0-doc-work, area/documentation, pending-review

#3745 test: use cilium exec helper
  test/helpers/kubectl.go
Labels: area/CI, kind/enhancement, pending-review, priority/low, ready-to-merge

#3650 DOC: Review Getting help section
  Documentation/gettinghelp.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#3570 CI: Run Kubernetes official e2e tests with new Jenkins job
  CODEOWNERS
  Documentation/contributing.rst
  kubernetes-upstream.Jenkinsfile
  test/kubernetes-test.sh
Labels: area/CI, kind/enhancement, pending-review

#3746 ctmap: remove debug message
  pkg/maps/ctmap/ctmap.go
Labels: area/daemon, kind/cleanup, kind/enhancement, pending-review

#3749 Test: Increase logs for Kube-dns issues
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, ready-to-merge, stable/needs-backport

#3576 Documentation/policy: add label-based egress documentation
  Documentation/policy/language.rst
  examples/policies/l3/egress-allow-all/egress-allow-all.json
  examples/policies/l3/egress-allow-all/egress-allow-all.yaml
  examples/policies/l3/simple/l3_egress.json
  examples/policies/l3/simple/l3_egress.yaml
Labels: 1.0-doc-work, area/documentation, area/policy, ready-to-merge, release-note/minor

#3722 envoy: Optimize lookup in allowed remote policies ordered list
  envoy/cilium_network_policy.h
Labels: area/proxy, priority/low, ready-to-merge

#3699 Makefile: Fix the name of the builder Dockerfile in envoy.
  Makefile
Labels: area/misc, pending-review, priority/low

#3769 Backport script handles backport-done label
  contrib/backporting/check-stable
Labels: area/misc, pending-review, stable/needs-backport

#3748 test: change archive type to zip
  Jenkinsfile.nightly
  ginkgo-all.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
  test/archive_test_results.sh
Labels: area/CI, kind/enhancement, pending-review, ready-to-merge

#3765 bpf: Fix log message about not supporting CIDR
  bpf/probes/raw_lpm_map.t
  daemon/bpf.sha
Labels: area/datapath, kind/bug, ready-to-merge, stable/needs-backport

#3753 daemon: Define CILIUM_ACCESS-LOG and CILIUM_ACCESS-LABELS env vars
  cilium-health/cmd/root.go
  daemon/main.go
Labels: area/daemon, kind/bug, priority/1.1, ready-to-merge

#3778 pkg/envoy: always use dport in proxy statistics
  pkg/envoy/accesslog_server.go
Labels: area/proxy, kind/bug, ready-to-merge, stable/needs-backport

#3780 bpf documentation updates, part 5
  Documentation/bpf.rst
  Documentation/spelling_wordlist.txt
Labels: 1.0-doc-work, area/documentation, pending-review

#3755 endpoint: Skip BPF compilation if headerfile is unchanged
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/logging/logfields/logfields.go
Labels: area/daemon, kind/performance, ready-to-merge

#3758 debuginfo: run `cilium endpoint health` for each endpoint
  cilium/cmd/debuginfo.go
Labels: area/cli, kind/cleanup, kind/enhancement, ready-to-merge

#3774 Fix byteorder of ports in verbose monitor output
  pkg/monitor/datapath_debug.go
Labels: area/monitor, kind/bug, ready-to-merge, stable/needs-backport

#3783 policy: Support reserved:cluster entity
  Documentation/concepts.rst
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/policy/api/egress.go
  pkg/policy/api/entity.go
  pkg/policy/api/entity_test.go
  pkg/policy/api/ingress.go
  pkg/policy/rule_test.go
Labels: area/policy, ready-to-merge, stable/needs-backport

#3787 Jenkins: Fix timeout on docs.
  docs.Jenkinsfile
Labels: area/CI, kind/bug/CI, pending-review, requires-janitor-review

#3718 development: add cache to k8s components
  examples/kubernetes-ingress/scripts/01-install-etcd.sh
  examples/kubernetes-ingress/scripts/02-install-kubernetes-master.sh
  examples/kubernetes-ingress/scripts/03-install-kubernetes-worker.sh
  examples/kubernetes-ingress/scripts/04-install-kubectl.sh
  examples/kubernetes-ingress/scripts/helpers.bash
  hack/.gitignore
Labels: area/k8s, kind/enhancement, pending-review, priority/low, requires-janitor-review

#3791 envoy: Manage life-cycles of singleton maps properly
  envoy/cilium_bpf_metadata.cc
  envoy/cilium_host_map.cc
  envoy/cilium_host_map.h
  envoy/cilium_integration_test.cc
  envoy/cilium_l7policy.cc
  envoy/cilium_network_policy.cc
  envoy/cilium_network_policy.h
Labels: area/proxy, kind/bug, pending-review, priority/release-blocker, stable/needs-backport

#3800 k8s: add some fixes to the kubernetes spec file
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: kind/backports, stable/backport

#3798 endpoint: Support hashing C headers with very long lines
  pkg/endpoint/bpf.go
  pkg/endpoint/bpf_test.go
Labels: area/daemon, kind/bug, pending-review

#3759 cmd: update misc. command references
  Documentation/cmdref/cilium.md
  Documentation/cmdref/cilium_bpf.md
  Documentation/cmdref/cilium_bpf_ipcache.md
  Documentation/cmdref/cilium_monitor.md
  cilium/cmd/bpf_ipcache_list.go
  cilium/cmd/monitor.go
Labels: 1.0-doc-work, area/cli, pending-review

#3744 CI: Add colors to builds.
  Jenkinsfile.nightly
  docs.Jenkinsfile
  ginkgo-all.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: area/CI, pending-review, ready-to-merge, requires-janitor-review

#3824 etcd: Clear the etcd status error when connectivity is restored
  pkg/kvstore/etcd.go
Labels: kind/bug, pending-review, priority/insane, ready-to-merge, release-note/bug, stable/needs-backport

#3826 test/helpers: use rsync to copy files instead of cp
  test/helpers/cilium.go
Labels: area/CI, kind/bug/CI, pending-review

#3829 Test: Fix issues with Updates and Kube-dns
  test/k8sT/Updates.go
Labels: area/CI, kind/bug/CI, pending-review, stable/needs-backport

#3820 test/k8sT: do not create / delete resources in `It` for CNP Specs test
  test/k8sT/Services.go
Labels: area/CI, kind/bug/CI, ready-to-merge

#3817 contrib: Script to figure cilium pod for a given pod
  contrib/k8s/get-cilium-pod.sh
Labels: area/misc, pending-review, requires-janitor-review

#3834 workloads: Silence noisy harmless container inspect warning
  pkg/workloads/containerd/watcher.go
Labels: kind/bug, pending-review, release-note/bug, stable/needs-backport

#3828 test/helpers: make sure that key is non-empty for running `docker logs`
  test/helpers/docker.go
Labels: area/CI, kind/bug/CI, pending-review

#3813 Backport: Don't failfast on branch V1.0
  ginkgo.Jenkinsfile
Labels: area/CI, pending-review, requires-janitor-review, stable/backport

#3833 k8s: only watch for ingress changes if LB is enabled
  daemon/k8s_watcher.go
Labels: area/k8s, kind/bug, pending-review, release-note/bug, stable/needs-backport

#3808 test/k8sT: test default-deny ingress-egress policy
  test/k8sT/Policies.go
  test/k8sT/manifests/knp-default-deny-ingress-egress.yaml
Labels: area/CI, area/k8s, area/policy, kind/enhancement, pending-review

#3841 xds: Validate NPHDS updates before upserting
  pkg/envoy/resources.go
  pkg/logging/logfields/logfields.go
Labels: area/daemon, area/proxy, ready-to-merge, stable/needs-backport

#3837 ginkgo-kubernetes-all.Jenkinsfile: increase timeouts
  ginkgo-kubernetes-all.Jenkinsfile
Labels: area/CI, kind/bug/CI, pending-review

#3832 Dependency to LLVM >= 6.0 in Documentation added
  Documentation/bpf.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#3859 docs, bpf: improve llvm6.0 dependency note
  Documentation/bpf.rst
Labels: 1.0-doc-work, area/documentation, pending-review

#3647 Update k8s test versions of 1.8, 1.9, 1.10 and 1.11
  test/provision/k8s_install.sh
Labels: area/CI, area/k8s, kind/enhancement, priority/low, ready-to-merge, stable/needs-backport

#3839 test/helpers: remove unnecessary logs for creating / deleting Docker containers
  test/helpers/docker.go
Labels: area/CI, kind/enhancement, pending-review, ready-to-merge

#3795 Documentation: remove bash-test framework references
  Documentation/contributing.rst
Labels: 1.0-doc-work, area/documentation, kind/cleanup, pending-review, priority/low, stable/needs-backport

#3862 Describe namespace selector behaviour in k8s
  Documentation/policy/language.rst
Labels: 1.0-doc-work, area/documentation, ready-to-merge

#3865 ipcache: Fix ipcache deletion of old identities on update
  pkg/envoy/resources.go
  pkg/ipcache/ipcache.go
Labels: area/daemon, pending-review, priority/insane, stable/needs-backport

#3849 Vagrant: Update to box version 52 and enable core dumps
  Vagrantfile
  contrib/systemd/cilium.service
  contrib/vagrant/start.sh
  test/Vagrantfile
Labels: area/CI, kind/enhancement, pending-review, priority/medium

#3879 envoy: Remove obsolete Envoy V2 API protobuf generated files
  pkg/envoy/envoy/config/filter/http/ext_authz/v2/ext_authz.pb.go
  pkg/envoy/envoy/service/auth/v2/attribute_context.pb.go
  pkg/envoy/envoy/service/auth/v2/external_auth.pb.go
Labels: area/proxy, kind/cleanup, priority/low

#3875 Nightly: Fix issues with Kubectl exec
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, pending-review

#3877 Makefile: Remove instructions to push the -builder Docker image
  Makefile
Labels: area/CI, area/documentation, kind/cleanup, pending-review, priority/low, requires-janitor-review

#3886 Remove combine flag from microscope call
  test/helpers/kubectl.go
Labels: area/CI, kind/enhancement, pending-review, ready-to-merge

#3876 CI: Update packer-ci job and documentation
  Documentation/contributing.rst
  Documentation/spelling_wordlist.txt
Labels: area/CI, area/documentation

#3804 CI: add Runtime DROP_ALL test
  test/helpers/cilium.go
  test/helpers/docker.go
  test/runtime/Policies.go
Labels: area/CI, kind/bug/CI, pending-review

#3874 k8s deployment: add IfNotPresent attribute to spec file
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: 1.0-doc-work, kind/backports, priority/high, stable/backport

#3881 envoy: Make policy direction configurable for Istio
  envoy/cilium/cilium_l7policy.proto
  envoy/cilium_l7policy.cc
  envoy/cilium_l7policy.h
  pkg/envoy/cilium/cilium_l7policy.pb.go
  pkg/envoy/cilium/cilium_l7policy.pb.validate.go
Labels: area/proxy, pending-review, priority/high

#3894 pkg/policy/api: reject rules which use non-TCP protocols in conduit with L7 Rules
  pkg/policy/api/rule_validation.go
  pkg/policy/api/rule_validation_test.go
Labels: area/policy, pending-review, release-note/bug

#3910 app3 -> app1 in stateful conntrack paragraph
  Documentation/gettingstarted/docker.rst
Labels: area/documentation, priority/1.1, ready-to-merge

#3908 monitor: Fix IPv6 string formatting in CT messages
  pkg/monitor/datapath_debug.go
Labels: area/monitor, pending-review, stable/needs-backport

#3913 Test: Archive in quiet mode
  test/archive_test_results.sh
Labels: area/CI, pending-review, ready-to-merge

#3912 Test: Fix recursion issue with Kubectl.CiliumExec
  test/helpers/kubectl.go
Labels: area/CI, pending-review, ready-to-merge

#3899 pkg/bpf: add function wrappers for prog syscalls.
  pkg/bpf/prog.go
Labels: kind/enhancement, priority/1.1

#3885 bpf: Rework ipcache to support LPM lookups.
  bpf/lib/eps.h
  bpf/lib/maps.h
  bpf/lxc_config.h
  cilium/cmd/bpf_ipcache_list.go
  daemon/bpf.sha
  daemon/endpoint.go
  pkg/endpoint/bpf.go
  pkg/maps/ipcache/ipcache.go
Labels: area/datapath, priority/1.1, ready-to-merge

#3902 k8sT: Make health test more robust
  test/helpers/kubectl.go
  test/k8sT/Health.go
Labels: area/CI, pending-review

#3922 maps: Use pointer receivers for MapValue types.
  daemon/endpoint.go
  pkg/bpf/endpoint.go
  pkg/maps/ipcache/ipcache.go
  pkg/maps/lbmap/ipv6.go
  pkg/maps/lbmap/lbmap.go
  pkg/maps/lxcmap/lxcmap.go
  pkg/maps/tunnel/tunnel.go
Labels: area/daemon, kind/bug, pending-review, priority/high, stable/needs-backport
