Repository cilium/cilium, pull requests merged in 2018-09, with the labels that each got.

#5448 k8s: stop watching for kubernetes management endpoints
  daemon/k8s_watcher.go
Labels: area/k8s, kind/enhancement, kind/performance, pending-review, ready-to-merge, release-note/minor

#5453 fqdn: Strip ToCIDRSet on poll start
  pkg/fqdn/dnspoller.go
  pkg/fqdn/dnspoller_test.go
Labels: kind/bug, needs-backport/1.2

#5456 endpoint: Do not hold manager and endpoint lock during RunK8sCiliumEndpointSync()
  daemon/state.go
  pkg/endpoint/endpoint.go
  pkg/endpointmanager/manager.go
Labels: kind/bug, needs-backport/1.2, pending-review, release-note/bug

#5455 endpoint: Correctly remove directory on endpoint add failure
  pkg/endpointmanager/manager.go
Labels: kind/bug, needs-backport/1.2, pending-review, release-note/bug

#5459 agent: Initialize local identity allocator before clustermesh
  daemon/daemon.go
Labels: kind/bug, needs-backport/1.2, pending-review, release-note/bug

#5461 v1.0: k8s: add /status to RBAC for backport compatability
  examples/kubernetes/1.10/cilium-rbac.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-rbac.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-rbac.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-rbac.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-rbac.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-rbac.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-rbac.yaml.sed
Labels: area/k8s, backport/1.0, kind/bug, pending-review, priority/high, release-note/bug

#5462 v1.1: k8s: add /status to RBAC for backport compatability
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-rbac.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-rbac.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-rbac.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-rbac.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-rbac.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-rbac.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-rbac.yaml.sed
Labels: area/k8s, backport/1.1, kind/bug, pending-review, priority/high, release-note/bug

#5464 metrics: Use built-in Gauge.SetToCurrentTime function
  daemon/k8s_watcher.go
  pkg/metrics/metrics.go
  pkg/metrics/middleware.go
  pkg/workloads/docker.go
Labels: area/metrics, kind/cleanup, pending-review

#5468 api: Use pkg/api in api server.go autogen
  api/v1/server.gotmpl
Labels: area/daemon

#5470 ci: Fix date normalization in jenkins-failures.sh
  contrib/scripts/jenkins-failures.sh
Labels: area/CI, pending-review

#5474 gitignore: Add vagrant.kubeconfig file
  .gitignore
Labels: kind/cleanup

#5465 Bugtool: Fix format in dump files.
  bugtool/cmd/root.go
Labels: area/bugtool, kind/bug, pending-review

#5476 v1.0: examples/kubernetes: add node.kubernetes.io/not-ready toleration
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: area/k8s, backport/1.0, kind/backports, kind/bug, pending-review, release-note/minor

#5477 v1.1: examples/kubernetes: add node.kubernetes.io/not-ready toleration
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: area/k8s, backport/1.1, kind/backports, kind/bug, pending-review, release-note/minor

#5481 Revert bpf envoy optimization in v1.1
  pkg/endpoint/bpf.go
Labels: area/daemon, backport/1.1, kind/bug, pending-review, priority/high

#5482 envoy: Unix domain socket for Envoy admin interface
  pkg/envoy/envoy.go
  pkg/envoy/envoy_test.go
  pkg/envoy/server.go
  pkg/proxy/envoyproxy.go
Labels: area/proxy, kind/bug, needs-backport/1.1, needs-backport/1.2, pending-review, priority/release-blocker

#5483 endpoint: Fix realized state corruption when initial policy regeneration fails
  pkg/endpoint/bpf.go
Labels: kind/bug, needs-backport/1.1, needs-backport/1.2, release-note/bug

#5475 k8s: ignore service updates if they are the same
  daemon/k8s_watcher.go
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/loadbalancer_test.go
Labels: area/k8s, kind/bug, needs-backport/1.2, pending-review, release-note/bug

#5469 Support service update in BPF maps
  daemon/loadbalancer.go
  pkg/maps/lbmap/lbmap.go
Labels: kind/bug, needs-backport/1.0, needs-backport/1.1, needs-backport/1.2, pending-review, release-note/bug

#5460 pkg/bpf: update BPF constants and structs as of Linux kernel 4.19-rc2
  pkg/bpf/bpf.go
  pkg/bpf/prog.go
Labels: area/datapath, pending-review, release-note/minor

#5485 make: Don't use git in check-ineffassign.sh
  Makefile
  contrib/scripts/check-ineffassign.sh
Labels: pending-review, requires-janitor-review

#5452 endpoint: Skip compilation if unneeded
  pkg/datapath/loader/loader.go
  pkg/endpoint/bpf.go
Labels: area/loader, pending-review, release-note/minor

#5493 spanstat: Ignore End() without Start()
  pkg/spanstat/spanstat.go
  pkg/spanstat/spanstat_test.go
Labels: kind/bug, pending-review, requires-janitor-review

#5495 proxy: Remove port binding check on redirect creation
  pkg/proxy/proxy.go
Labels: area/proxy, needs-backport/1.0, needs-backport/1.1, needs-backport/1.2, pending-review, priority/high

#5502 lbmap: Guarantee order of backends while scaling service
  pkg/maps/lbmap/bpfservice.go
  pkg/maps/lbmap/bpfservice_test.go
  pkg/maps/lbmap/lbmap.go
Labels: kind/bug, needs-backport/1.0, needs-backport/1.1, needs-backport/1.2, pending-review, priority/high, release-note/bug

#5506 Prepare for 1.2.2
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/addons/etcd-operator/cilium-deployment.yaml
  examples/kubernetes/addons/etcd-operator/development/cilium-development.yaml
Labels: backport/1.2, pending-review

#5511 Test: Refactor CmdRes.GetErr function
  test/helpers/cmd.go
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#5467 Test: Re-Enable kafka
  test/k8sT/KafkaPolicies.go
  test/k8sT/manifests/kafka-sw-app.yaml
  test/k8sT/manifests/kafka-sw-security-policy.yaml
Labels: area/CI, pending-review

#5510 Test: Bump upgrade test from 1.2 to master
  test/helpers/cons.go
Labels: area/CI, pending-review

#5503 Add support for cleaning BPF state during Cilium pod startup
  examples/kubernetes/1.10/cilium-cm.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-cm.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-cm.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-cm.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-cm.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-cm.yaml
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: area/k8s, needs-backport/1.0, needs-backport/1.1, needs-backport/1.2, ready-to-merge, release-note/minor

#5522 pkg/lock: make time of internalRWMutex private
  pkg/lock/lock_debug.go
Labels: area/CI, kind/cleanup, pending-review

#5520 deps: remove unused gabs dependency
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/Jeffail/gabs/LICENSE
  vendor/github.com/Jeffail/gabs/gabs.go
Labels: kind/cleanup, pending-review, requires-janitor-review

#5539 pkg/bpf: send currentKey and not nextKey in the callback func
  pkg/bpf/map.go
Labels: area/k8s, kind/bug, pending-review

#5509 Test: WaitForPods fail if pods are schedulled to be deleted.
  test/helpers/kubectl.go
  test/k8sT/Updates.go
Labels: area/CI, pending-review, ready-to-merge

#5538 Fix alignment in Go structs
  bpf/lib/maps.h
  bpf/lib/nat46.h
  daemon/bpf.sha
  daemon/main.go
  pkg/alignchecker/alignchecker.go
  pkg/maps/ctmap/entry.go
  pkg/maps/lxcmap/lxcmap.go
Labels: area/datapath, area/k8s, kind/bug, pending-review, release-note/bug

#5540 add more logs to developer VM K8s worker provisioning
  examples/kubernetes-ingress/scripts/03-install-kubernetes-worker.sh
Labels: area/misc, kind/cleanup, pending-review

#5544 cni: fix typo
  plugins/cilium-cni/cilium-cni.go
Labels: area/cni, kind/cleanup, pending-review

#5545 cilium-runtime: update image to 2018-09-13
  Dockerfile
Labels: kind/cleanup, pending-review

#5546 Test: Avoid linked clone in Vagrant
  test/Vagrantfile
Labels: area/CI, pending-review

#5514 pkg/comparator: Remove runtime dependency on gocheck
  common/addressing/ip_test.go
  daemon/endpoint_test.go
  daemon/policy_test.go
  monitor/payload/monitor_payload_test.go
  pkg/checker/checker.go
  pkg/checker/checker_test.go
  pkg/comparator/checker_test.go
  pkg/comparator/comparator.go
  pkg/comparator/comparator_test.go
  pkg/counter/prefixes_test.go
  pkg/endpoint/endpoint_test.go
  pkg/envoy/server_test.go
  pkg/envoy/xds/server_e2e_test.go
  pkg/ipcache/ipcache_test.go
  pkg/k8s/apis/cilium.io/utils/utils_test.go
  pkg/k8s/apis/cilium.io/v2/types_test.go
  pkg/k8s/client_test.go
  pkg/k8s/network_policy_test.go
  pkg/kvstore/base_test.go
  pkg/labels/array_test.go
  pkg/labels/cidr/cidr_test.go
  pkg/labels/cidr_test.go
  pkg/labels/filter_test.go
  pkg/labels/labels_test.go
  pkg/mac/mac_test.go
  pkg/monitor/agent_test.go
  pkg/policy/api/cidr_test.go
  pkg/policy/api/selector_test.go
  pkg/policy/cidr_test.go
  pkg/policy/l3_test.go
  pkg/policy/l4Filter_test.go
  pkg/policy/l4_test.go
  pkg/policy/repository_test.go
  pkg/policy/rule_test.go
  pkg/service/id_test.go
Labels: kind/bug, pending-review

#5549 List fixed reserved identities with cilium identity list
  pkg/identity/cache.go
Labels: kind/bug, needs-backport/1.2, pending-review, release-note/bug

#5558 Prepare for 1.1.5 release
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.1, pending-review

#5555 cmd: sort identity list at the user side
  cilium/cmd/identity_list.go
  pkg/identity/cache.go
Labels: kind/cleanup, pending-review, release-note/minor

#5567 doc: Typo fixes
  Documentation/concepts.rst
  Documentation/contributing.rst
  Documentation/gettingstarted/docker.rst
  README.rst
Labels: area/documentation

#5571 Prepare 1.0.6 release
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.0, pending-review

#5568 pkg/k8s: increase unit test coverage
  pkg/k8s/network_policy.go
  pkg/k8s/network_policy_test.go
Labels: area/k8s, pending-review

#5563 v1.2 backports 2018-09-15
  pkg/identity/cache.go
Labels: backport/1.2, pending-review

#5351 Kubespray install guide
  Documentation/kubernetes/install/kubespray.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, pending-review

#5573 [Backport 1.1]Test: Fix issues with kubernetes test on old branchs.
  test/k8sT/demos.go
Labels: area/CI, backport/1.1, pending-review

#5525 endpoint: Verify whether the endpoint still exists after BPF compilation
  pkg/endpoint/policy.go
Labels: kind/bug, pending-review

#5577 pkg/k8s: fix k8s unit tests
  pkg/k8s/network_policy_test.go
Labels: kind/bug, pending-review, priority/high

#5579 dep: avoid dep panic for fsnotify repository
  Gopkg.lock
  Gopkg.toml
  pkg/clustermesh/config.go
  vendor/gopkg.in/fsnotify.v1/AUTHORS
  vendor/gopkg.in/fsnotify.v1/LICENSE
  vendor/gopkg.in/fsnotify.v1/fen.go
  vendor/gopkg.in/fsnotify.v1/fsnotify.go
  vendor/gopkg.in/fsnotify.v1/inotify.go
  vendor/gopkg.in/fsnotify.v1/inotify_poller.go
  vendor/gopkg.in/fsnotify.v1/kqueue.go
  vendor/gopkg.in/fsnotify.v1/open_mode_bsd.go
  vendor/gopkg.in/fsnotify.v1/open_mode_darwin.go
  vendor/gopkg.in/fsnotify.v1/windows.go
Labels: kind/cleanup, needs-backport/1.2, pending-review

#5463 Metrics: Add proxy redirects statistics
  Documentation/configuration/metrics.rst
  pkg/metrics/metrics.go
  pkg/proxy/proxy.go
Labels: area/metrics, pending-review, ready-to-merge

#5585 test/bpf: Set pipefail to fail verification checks
  test/bpf/check-complexity.sh
Labels: area/CI, area/datapath, pending-review

#5554 cmd: order bpf policy get by DIRECTION and IDENTITY
  cilium/cmd/bpf_policy_get.go
  pkg/maps/policymap/policymap.go
  pkg/maps/policymap/policymap_test.go
Labels: kind/enhancement, pending-review, release-note/minor

#5589 monitor: Fix logging statements
  monitor/listener1_0.go
  monitor/listener1_2.go
  monitor/main.go
  monitor/monitor.go
Labels: area/monitor, kind/cleanup, pending-review, priority/low

#5590 cilium/cmd: Refactor updatePolicyKey
  cilium/cmd/bpf_policy_add.go
  cilium/cmd/bpf_policy_delete.go
  cilium/cmd/helpers.go
  cilium/cmd/helpers_test.go
  cilium/cmd/policy_trace.go
Labels: area/cli, pending-review

#5595 lxcmap: Don't format 0 seclabel
  pkg/maps/lxcmap/lxcmap.go
Labels: area/cli, pending-review

#5587 monitor: Print capture length in verbose mode
  pkg/monitor/datapath_trace.go
Labels: area/monitor, kind/enhancement, pending-review, release-note/minor

#5434 Metrics: Add Controllers metrics
  Documentation/configuration/metrics.rst
  pkg/controller/controller.go
  pkg/metrics/metrics.go
Labels: area/metrics, pending-review

#5592 Fix CGO import warning
  bpf/lib/common.h
  bpf/lib/conntrack.h
  daemon/bpf.sha
Labels: area/datapath, kind/cleanup, pending-review, wip

#5597 Prepare for release v1.2.3
  AUTHORS
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-cm.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/addons/etcd-operator/cilium-deployment.yaml
Labels: backport/1.2, kind/release, pending-review

#5613 envoy: Upstream rebase
  Dockerfile
  Vagrantfile
  envoy/BAZEL_VERSION
  envoy/BUILD
  envoy/BUILD_DEPS
  envoy/Makefile
  envoy/WORKSPACE
  envoy/cilium_bpf_metadata.cc
  envoy/cilium_host_map.cc
  envoy/cilium_host_map.h
  envoy/cilium_l7policy.cc
  envoy/cilium_network_policy.cc
  envoy/cilium_network_policy.h
  envoy/grpc_subscription.h
  pkg/envoy/envoy/admin/v2alpha/clusters.pb.go
  pkg/envoy/envoy/admin/v2alpha/config_dump.pb.go
  pkg/envoy/envoy/admin/v2alpha/metrics.pb.go
  pkg/envoy/envoy/api/v2/core/base.pb.go
  pkg/envoy/envoy/api/v2/core/protocol.pb.go
  pkg/envoy/envoy/api/v2/route/route.pb.go
  pkg/envoy/envoy/config/filter/accesslog/v2/accesslog.pb.go
  pkg/envoy/envoy/config/filter/http/rate_limit/v2/rate_limit.pb.go
  pkg/envoy/envoy/config/filter/network/rate_limit/v2/rate_limit.pb.go
  pkg/envoy/envoy/config/filter/network/thrift_proxy/v2alpha1/route.pb.go
  pkg/envoy/envoy/config/filter/network/thrift_proxy/v2alpha1/thrift_proxy.pb.go
  pkg/envoy/envoy/config/metrics/v2/stats.pb.go
  pkg/envoy/envoy/config/rbac/v2alpha/rbac.pb.go
  pkg/envoy/envoy/data/accesslog/v2/accesslog.pb.go
  pkg/envoy/envoy/type/matcher/string.pb.go
  test/Vagrantfile
  test/docker-compose.yml
Labels: area/proxy, kind/enhancement, pending-review, priority/release-blocker

#5617 pkg/kvstore: clean up mutex ordering and comments
  pkg/kvstore/etcd.go
Labels: kind/cleanup, pending-review

#5612 cilium: test: fix check-logging-subsys-fields.sh script errrors
  contrib/scripts/check-logging-subsys-field.sh
Labels: kind/bug

#5446 Generic BuildQueue
  Documentation/configuration/metrics.rst
  pkg/buildqueue/buildqueue.go
  pkg/buildqueue/buildqueue_test.go
  pkg/buildqueue/doc.go
  pkg/metrics/metrics.go
Labels: kind/enhancement, pending-review, release-note/major

#5620 cni: use hash to generate host-side veth name
  pkg/endpoint/connector/add.go
Labels: area/cni, kind/bug, pending-review, release-note/bug

#5608 agent: Don't masquerade ingress traffic to local endpoints
  daemon/daemon.go
Labels: kind/bug, needs-backport/1.2, pending-review, release-note/bug

#5627 cilium: config fails without MonitorAggregationLevel specified
  pkg/option/monitor.go
Labels: kind/bug, needs-backport/1.2, release-note/bug

#5580 Metrics: Add services metrics
  Documentation/configuration/metrics.rst
  pkg/loadbalancer/loadbalancer.go
  pkg/metrics/metrics.go
Labels: area/metrics, needs-rebase, pending-review

#5626 contrib/release: extract binaries from image
  contrib/release/uploadrev
Labels: area/misc, pending-review

#5631 cilium/cmd: Add pretty print to bpf metrics list
  cilium/cmd/bpf_metrics_list.go
Labels: area/cli, pending-review

#5633 Documentation: add step to update VMs with new cilium images
  Documentation/contributing.rst
Labels: area/documentation, pending-review

#5637 Documentation: describe default allow localhost ingress
  Documentation/kubernetes/concepts.rst
Labels: area/documentation, pending-review

#5640 k8s: Do not use AdditionalProperties
  pkg/k8s/apis/cilium.io/v2/register.go
Labels: area/k8s, kind/bug, pending-review, priority/release-blocker

#5639 Documentations: document using hostPort in tandem with Cilium
  Documentation/kubernetes/install/standard.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, pending-review

#5643 proxylib: Fix `go vet` errors
  proxylib/testparsers/blockparser.go
  proxylib/testparsers/headerparser.go
Labels: kind/bug

#5658 bpf: Fix only monitoring one byte of packets
  bpf/lib/conntrack.h
  daemon/bpf.sha
Labels: area/datapath, area/monitor, needs-backport/1.2, pending-review, release-note/bug

#5663 agent: Fix temporary corruption of BPF endpoint map on restart
  daemon/daemon.go
  daemon/state.go
  pkg/maps/lxcmap/lxcmap.go
Labels: kind/bug, needs-backport/1.0, needs-backport/1.1, needs-backport/1.2, pending-review, priority/high, priority/release-blocker, release-note/bug

#5662 endpoint: Reload using existing compiled prog path
  pkg/endpoint/bpf.go
  pkg/endpoint/policy.go
Labels: area/datapath, kind/bug, needs/e2e-test, pending-review

#5653 bpf: Do not delete and re-add ip rules and routes in the proxy table
  bpf/init.sh
  daemon/bpf.sha
Labels: kind/bug, needs-backport/1.2, pending-review, release-note/bug

#5666 bpf: Only attempt to install ip rules if address family is available
  bpf/init.sh
  daemon/bpf.sha
Labels: kind/bug

#5644 k8s: add K8s services equalness and missing function
  daemon/k8s_watcher.go
  daemon/k8s_watcher_test.go
  pkg/k8s/factory_functions.go
Labels: area/k8s, kind/performance, pending-review, release-note/minor

#5669 Test: Vagrant print vagrant status when a vm fail to connect.
  test/helpers/vagrant.go
Labels: area/CI, pending-review, ready-to-merge

#5652 bpf: Avoid additional cgo call per perf read
  pkg/bpf/perf.go
Labels: kind/bug, pending-review, release-note/bug

#5675 Test: Use AfterSuite to clean the VMs at the end.
  test/test_suite_test.go
Labels: area/CI, needs-backport/1.2, pending-review, priority/high, ready-to-merge

#5665 cilium/cmd: Add cilium bpf ipcache get
  Documentation/cmdref/cilium_bpf_ipcache.md
  Documentation/cmdref/cilium_bpf_ipcache_get.md
  Gopkg.lock
  Gopkg.toml
  cilium/cmd/bpf_ipcache_get.go
  cilium/cmd/bpf_ipcache_get_test.go
  vendor/github.com/hashicorp/go-immutable-radix/LICENSE
  vendor/github.com/hashicorp/go-immutable-radix/edges.go
  vendor/github.com/hashicorp/go-immutable-radix/iradix.go
  vendor/github.com/hashicorp/go-immutable-radix/iter.go
  vendor/github.com/hashicorp/go-immutable-radix/node.go
  vendor/github.com/hashicorp/go-immutable-radix/raw_iter.go
Labels: kind/enhancement, pending-review

#5673 Metrics: Add subprocess metrics
  Documentation/configuration/metrics.rst
  cilium-health/launch/endpoint.go
  monitor/launch/launcher.go
  pkg/envoy/envoy.go
  pkg/metrics/metrics.go
Labels: area/metrics, pending-review, release-note/minor

#5672 Test: Cleanup CIDR test on AfterEach
  test/runtime/Policies.go
Labels: area/CI, pending-review

#5676 endpoint: Don't scrub local ct map on leave
  pkg/endpoint/endpoint.go
Labels: area/daemon, kind/cleanup, pending-review

#5621 Metrics: Add Kubernetes events metrics
  Documentation/configuration/metrics.rst
  daemon/k8s_watcher.go
  pkg/metrics/metrics.go
Labels: area/metrics, kind/enhancement, pending-review, release-note/major

#5647 Jenkins: Adjust timeouts to be more precise.
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: area/CI, pending-review

#5681 Bump microscope version in CI
  test/k8sT/manifests/microscope.yaml
Labels: pending-review

#5559 Daemon: Do not clean policy maps on startup
  daemon/daemon.go
  pkg/maps/policymap/policymap.go
Labels: area/daemon, area/policy, pending-review

#5687 daemon: always dump IPAM pool information
  daemon/ipam.go
  daemon/status.go
Labels: area/misc, pending-review

#5688 doc: Document requirement to run Cilium as a privileged container
  Documentation/install/system_requirements.rst
  Documentation/kubernetes/install/standard.rst
Labels: area/documentation, pending-review

#5689 Fix issue where datapath object files disappear from the filesystem
  pkg/endpoint/bpf.go
Labels: area/datapath, pending-review, priority/release-blocker

#5690 v1.2-Backports-18-09-25
  daemon/daemon.go
  daemon/state.go
  pkg/maps/lxcmap/lxcmap.go
Labels: backport/1.2, kind/backports

#5691 Address post-merge review feedback on Cassandra, fix one key bug
  Documentation/gettingstarted/cassandra.rst
  proxylib/cassandra/cassandraparser.go
  proxylib/cassandra_proxy_test.go
Labels: area/CI, area/documentation, area/proxy, kind/bug, pending-review, priority/high

#5634 Update dns pod label modification
  examples/kubernetes/addons/etcd-operator/README.md
Labels: area/documentation, pending-review

#5696 Add new service entry (TUPLE_F_SERVICE) in CLI for ipv4/ipv6
  pkg/maps/ctmap/ipv4.go
  pkg/maps/ctmap/ipv6.go
Labels: area/cli

#5692 Metrics: Add IPAM actions metrics.
  Documentation/configuration/metrics.rst
  pkg/ipam/allocator.go
  pkg/metrics/metrics.go
Labels: area/metrics, pending-review

#5701 Test: Fix kubetcl patch installation issue.
  test/helpers/kubectl.go
Labels: area/CI, area/k8s, pending-review

#5685 proxylib: Recover from datapath panics, accesslog them as drops
  proxylib/proxylib.go
  proxylib/proxylib/connection.go
  proxylib/proxylib_test.go
  proxylib/testhelpers.go
Labels: area/proxy, kind/enhancement, pending-review, priority/medium

#5703 daemon: do not return error if v1.Node does not have CiliumHostIP annotation
  daemon/k8s_watcher.go
Labels: area/k8s, pending-review

#5704 proxylib: Make xDS node-id configurable.
  proxylib/proxylib.go
  proxylib/proxylib/instance.go
  proxylib/proxylib_test.go
Labels: area/proxy, kind/enhancement, priority/medium

#5714 Test: Improve WaitEndpointsReady report function.
  test/helpers/kubectl.go
Labels: area/CI, kind/enhancement, pending-review

#5710 Test: Run AfterFailed if AfterEach Failed.
  test/ginkgo-ext/scopes.go
Labels: area/CI, pending-review

#5715 Prepare for release v1.2.4
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.2, pending-review

#5720 state: Fix TestReadEPsFromDirNames unit test
  daemon/state_test.go
Labels: kind/bug, kind/bug/CI, pending-review

#5723 Bump microscope version used in CI
  test/k8sT/manifests/microscope.yaml
Labels: area/CI, pending-review

#5734 v1.0 backports 2018-09-28
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/controller/manager.go
Labels: backport/1.0, pending-review, priority/high

#5731 pkg/k8s: delete old policies installed if new policy contains 0 rules
  daemon/k8s_watcher.go
Labels: area/k8s, kind/bug, needs-backport/1.2, pending-review, priority/high, release-note/bug

#5724 deps: update kubernetes dependencies to 1.12.0
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/Microsoft/hcsshim/hnsendpoint.go
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
Labels: kind/cleanup, pending-review
