Repository cilium/cilium, pull requests merged in 2018-10, with the labels that each got.

#5727 v1.2 backports 2018-09-28
  examples/kubernetes/addons/etcd-operator/README.md
Labels: backport/1.2, kind/backports

#5730 proxylib: Simplify Parser interface and document it.
  envoy/cilium_proxylib.cc
  proxylib/cassandra/cassandraparser.go
  proxylib/input_test.go
  proxylib/memcached/binary/parser.go
  proxylib/proxylib.go
  proxylib/proxylib/parserfactory.go
  proxylib/proxylib_test.go
  proxylib/testparsers/blockparser.go
  proxylib/testparsers/headerparser.go
  proxylib/testparsers/lineparser.go
  proxylib/testparsers/passer.go
Labels: area/proxy, kind/cleanup, pending-review, priority/high, priority/release-blocker

#5753 [v1.1] test: fix star wars demo
  test/k8sT/demos.go
Labels: area/CI, area/k8s, backport/1.1, kind/bug, pending-review

#5738 k8s: Do not rely on store to update status of CiliumNetworkPolicy
  daemon/k8s_watcher.go
Labels: area/policy, kind/bug, release-note/bug

#5756 k8s: Avoid printing warning when fast retries of CNP status updates fail
  daemon/k8s_watcher.go
Labels: pending-review, release-note/bug

#5761 test: add timeout function for checking if policy is deleted
  test/helpers/kubectl.go
  test/k8sT/Policies.go
Labels: area/CI, kind/bug/CI, pending-review, priority/release-blocker

#5752 pkg/node: delete tunnel routes when remote nodes are removed
  pkg/node/manager.go
Labels: needs-backport/1.2, pending-review, priority/release-blocker

#5763 envoy: Use separate clusters for egress and ingress redirects.
  pkg/envoy/envoy.go
  pkg/envoy/server.go
Labels: area/proxy, kind/bug, needs-backport/1.0, needs-backport/1.1, needs-backport/1.2, pending-review, priority/release-blocker, release-note/bug

#5735 proxylib: Enable parser tests in their own package.
  envoy/cilium_proxylib.cc
  proxylib/accesslog/client.go
  proxylib/cassandra/cassandraparser_test.go
  proxylib/cassandra_proxy_test.go
  proxylib/helpers_test.go
  proxylib/npds/client.go
  proxylib/npds/client_test.go
  proxylib/proxylib.go
  proxylib/proxylib/connection.go
  proxylib/proxylib/input_test.go
  proxylib/proxylib/instance.go
  proxylib/proxylib/test_util.go
  proxylib/proxylib/types.go
  proxylib/proxylib/types.h
  proxylib/proxylib_binary_memcached_test.go
  proxylib/proxylib_test.go
  proxylib/test/accesslog_server.go
Labels: area/proxy, kind/enhancement, pending-review, priority/medium

#5732 Make policy modifications based on the CNP identifiable labels
  daemon/k8s_watcher.go
  daemon/k8s_watcher_test.go
  daemon/policy.go
Labels: area/k8s, needs-backport/1.1, needs-backport/1.2, pending-review, priority/high, release-note/bug

#5775 test: remove more containers in AfterAll for RuntimeChaos
  test/runtime/chaos.go
Labels: area/CI, kind/bug/CI, priority/high

#5774 test: add error descriptions / narration to kvstore test
  test/runtime/kvstore.go
Labels: area/CI, kind/cleanup, kind/enhancement

#5777 bpf: Fix setting IPv6 proxy rule
  bpf/init.sh
  daemon/bpf.sha
Labels: area/daemon, kind/bug, needs/e2e-test, pending-review, priority/release-blocker

#5781 examples: set Cilium image version to v1.2.3
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: area/documentation, kind/bug, pending-review, requires-janitor-review

#5780 test: Add L7 ingress tests from the host.
  test/runtime/Policies.go
Labels: area/CI, kind/enhancement, pending-review, priority/medium, ready-to-merge

#5771 endpoint: Establish grace period when endpoint changes identity
  daemon/state.go
  pkg/defaults/defaults.go
  pkg/endpoint/endpoint.go
Labels: needs-backport/1.2, pending-review, priority/high, release-note/bug

#5790 test: add fixed identity to coredns for k8s 1.12
  test/provision/manifest/1.12/coredns_deployment.yaml
Labels: area/CI, kind/bug, pending-review, priority/high

#5792 Test: Disable to-entities test
  test/k8sT/Policies.go
Labels: area/CI, pending-review

#5799 envoy: Use separate clusters for egress and ingress redirects.
  pkg/envoy/envoy.go
  pkg/envoy/server.go
Labels: backport/1.0, kind/backports

#5767 Prepend custom iptables chains instead of appending
  Documentation/cmdref/cilium-agent.md
  daemon/daemon.go
  daemon/main.go
  pkg/option/config.go
Labels: area/datapath, pending-review

#5784 Ginkgo: avoid trigger AfterFailed two times.
  test/ginkgo-ext/scopes.go
Labels: area/CI, pending-review, ready-to-merge

#5808 Added go vet in test folder.
  Makefile
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#5815 Prepare for 1.2.4 release
  NEWS.rst
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/addons/etcd-operator/cilium-deployment.yaml
Labels: backport/1.2, pending-review

#5823 test: fix install script to allow install all k8s with binaries
  test/provision/k8s_install.sh
Labels: area/k8s, pending-review

#5805 Test: Add debug verbose in CoreDNS 1.12
  test/provision/manifest/1.12/coredns_deployment.yaml
Labels: area/CI, pending-review, ready-to-merge

#5810 v1.1 Backports 18-10-05
  daemon/k8s_watcher.go
  daemon/policy.go
Labels: backport/1.1, kind/backports

#5820 cilium-health: Fix status cmd nil pointer derefence
  cilium-health/cmd/status.go
Labels: kind/bug, release-note/bug

#5829 daemon: move CNP store error to debug level
  daemon/k8s_watcher.go
Labels: area/daemon, pending-review, priority/release-blocker

#5806 Test: To-Entities refactor to get explicit errors.
  test/k8sT/Policies.go
Labels: area/CI, pending-review, ready-to-merge

#5811 envoy: Add debug logging to SO_MARK setting
  envoy/cilium_socket_option.h
Labels: area/proxy, pending-review, priority/medium

#5835 bpf: Do not redirect replies from a pod to a proxyport.
  bpf/bpf_lxc.c
  daemon/bpf.sha
Labels: area/datapath, kind/bug, needs-backport/1.0, needs-backport/1.1, needs-backport/1.2, pending-review, priority/release-blocker

#5807 Test: Fix Nightly timeouts
  test/helpers/kubectl.go
  test/k8sT/Policies.go
  test/k8sT/PoliciesNightly.go
  test/k8sT/Services.go
  test/k8sT/assertionHelpers.go
Labels: area/CI, pending-review

#5840 pidfile: Log when killing a process
  pkg/pidfile/pidfile.go
Labels: area/health, area/misc, pending-review

#5817 k8s/factory: use updates for unsync objects
  pkg/k8s/utils/factory.go
  pkg/k8s/utils/factory_test.go
Labels: area/k8s, pending-review, priority/release-blocker

#5838 loader: Cancel compiler context if linker fails
  pkg/command/exec/exec.go
  pkg/datapath/loader/compile.go
Labels: area/daemon, area/loader, pending-review, priority/release-blocker

#5841 Correctly collect stats in case of error in regenerateBPF
  pkg/endpoint/bpf.go
  pkg/endpoint/metrics.go
  pkg/endpoint/policy.go
  pkg/metrics/metrics.go
  pkg/spanstat/spanstat.go
  pkg/spanstat/spanstat_test.go
Labels: kind/bug, pending-review, priority/low

#5842 bpf, perf: refine barriers and tail update, fix scratch buffer
  monitor/monitor.go
  pkg/bpf/perf.go
Labels: area/daemon, area/monitor, needs-backport/1.0, needs-backport/1.1, needs-backport/1.2, pending-review, priority/release-blocker, release-note/bug

#5836 Add runtime policy test with server l7 egress
  test/runtime/Policies.go
  test/runtime/manifests/Policies-l3-dependent-l7-egress.json
Labels: area/CI, kind/enhancement, priority/medium, ready-to-merge

#5855 bpf: Use 'forwarding_reason' instead of potentially overwritten 'ret'
  bpf/bpf_lxc.c
  daemon/bpf.sha
Labels: area/datapath, kind/bug, needs-backport/1.0, needs-backport/1.1, needs-backport/1.2, pending-review, priority/release-blocker

#5850 test: install Cilium before creating any pods in upgrade test
  test/k8sT/Updates.go
Labels: area/CI, area/k8s, kind/bug, pending-review, priority/high, priority/release-blocker

#5854 test: deploy etcd-operator deployment last
  test/helpers/cons.go
Labels: area/CI, kind/bug, pending-review

#5874 Test: Disable istio test
  test/k8sT/istio.go
Labels: area/CI, pending-review

#5875 k8s: Avoid TriggerPolicyUpdates when no ToServices rules are loaded
  daemon/k8s_watcher.go
  pkg/k8s/rule_translate.go
  pkg/k8s/rule_translate_test.go
  pkg/policy/policy.go
  pkg/policy/repository.go
Labels: area/policy, kind/bug, needs-backport/1.2, pending-review, release-note/bug

#5881 Fix policy compatibility for well-known deployments such as kube-dns and etcd-operator
  Documentation/kubernetes/install/eks.rst
  Documentation/policy/language.rst
  contrib/vagrant/start.sh
  daemon/state.go
  examples/kubernetes/addons/etcd-operator/README.md
  examples/kubernetes/addons/etcd-operator/cilium-etcd-cluster.yaml
  examples/kubernetes/addons/etcd-operator/deployment.yaml
  examples/kubernetes/addons/etcd-operator/development/cilium-development.yaml
  pkg/endpoint/policy.go
  pkg/identity/allocator.go
  pkg/identity/cache.go
  pkg/identity/cache_test.go
  pkg/identity/identity.go
  pkg/identity/identity_test.go
  pkg/identity/numericidentity.go
  pkg/labels/filter.go
  test/k8sT/Policies.go
  test/k8sT/Updates.go
  test/k8sT/manifests/cilium-ds-patch-auto-routing.yaml
  test/k8sT/manifests/cilium-ds-patch-geneve.yaml
  test/k8sT/manifests/cilium-ds-patch.yaml
  test/k8sT/manifests/v1.2/cilium-cm-patch-clean-cilium-state.yaml
  test/k8sT/manifests/v1.2/cilium-cm-patch.yaml
  test/k8sT/manifests/v1.2/cilium-ds-patch.yaml
  test/provision/manifest/1.12/coredns_deployment.yaml
  test/provision/manifest/coredns_deployment.yaml
  test/provision/manifest/kubedns_deployment.yaml
Labels: area/policy, kind/bug, pending-review, priority/release-blocker, release-note/bug

#5882 endpoint: Skip conntrack clean on endpoint restore
  daemon/state.go
  pkg/endpoint/endpoint.go
Labels: kind/bug, needs-backport/1.1, needs-backport/1.2, needs-backport/1.3, pending-review, priority/release-blocker, release-note/bug

#5886 doc: 1.3 upgrade instructions
  Documentation/install/upgrade.rst
Labels: area/documentation, needs-backport/1.3, pending-review, priority/release-blocker

#5891 v1.1 backports 18-10-15
  daemon/state.go
  pkg/endpoint/endpoint.go
Labels: backport/1.1, pending-review

#5698 Kvstore: Cleanup deprecated methods
  common/const.go
  pkg/kvstore/backend.go
  pkg/kvstore/client.go
  pkg/kvstore/consul.go
  pkg/kvstore/etcd.go
  pkg/service/const.go
  pkg/service/id_kvstore.go
  pkg/service/id_local.go
  pkg/service/id_test.go
Labels: area/daemon, pending-review

#5901 daemon: add parameter indicating why TriggerPolicyUpdates is called
  daemon/daemon.go
  daemon/k8s_watcher.go
  daemon/policy.go
  pkg/clustermesh/clustermesh_test.go
  pkg/endpointmanager/manager.go
  pkg/identity/allocator.go
  pkg/identity/cache.go
  pkg/identity/identity_test.go
Labels: backport/1.2, pending-review

#5832 bugtool: add new options for prepending archive-prefix, enabling Markdown formatting
  Documentation/cmdref/cilium-bugtool.md
  bugtool/cmd/root.go
Labels: area/bugtool, area/cli, pending-review, release-note/minor

#5885 [proxylib] Empty memcache rules allow all traffic
  proxylib/memcached/parser.go
  proxylib/proxylib_memcached_test.go
Labels: kind/bug, needs-backport/1.3, pending-review, ready-to-merge

#5904 contrib: Add script to collect gops pprof-heap from all pods
  contrib/k8s/k8s-heap-dump.sh
Labels: area/documentation, kind/enhancement, pending-review, release-note/minor

#5899 Remove reference counting from endpoint IPCache kv-store wrapper
  pkg/ipcache/kvstore.go
Labels: area/daemon, pending-review

#5893 Prepare for release v1.0.7
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.0, kind/release, pending-review

#5894 move prefilter code to pkg/datapath
  daemon/daemon.go
  pkg/datapath/prefilter/doc.go
  pkg/datapath/prefilter/prefilter.go
Labels: kind/cleanup, pending-review

#5897 fqdn: Make Rule UUIDs random instead of depending on the labels.
  daemon/policy.go
  pkg/fqdn/dnspoller.go
  pkg/fqdn/dnspoller_test.go
  pkg/fqdn/helpers.go
Labels: area/daemon, area/policy, kind/bug, needs-backport/1.3, priority/release-blocker, ready-to-merge, release-note/bug

#5905 v1.0: test/k8sT: deploy xwing YAML
  test/k8sT/demos.go
Labels: backport/1.0, pending-review, priority/low

#5906 loader: Log PIDs of compiler/linker on error
  pkg/datapath/loader/compile.go
Labels: kind/enhancement, pending-review

#5898 identity: Introduce reserved:unmanaged identity
  Documentation/concepts.rst
  bpf/lib/policy.h
  bpf/node_config.h
  daemon/bpf.sha
  daemon/daemon.go
  daemon/k8s_watcher.go
  pkg/identity/identity_test.go
  pkg/identity/numericidentity.go
  pkg/labels/labels.go
  pkg/policy/api/entity.go
Labels: kind/bug, needs-backport/1.3, pending-review, priority/release-blocker

#5889 Metrics: make sure that the duration is always bigger than 0.
  pkg/spanstat/spanstat.go
Labels: area/metrics, pending-review, priority/release-blocker

#5911 envoy: Pass nil completion if acks are not expected.
  pkg/envoy/server.go
  pkg/envoy/xds/ack.go
  pkg/envoy/xds/ack_test.go
Labels: area/proxy, kind/bug, needs-backport/1.1, needs-backport/1.2, needs-backport/1.3, pending-review, priority/release-blocker

#5912 endpoint: Wait for CT cleanup to complete before BPF compilation
  pkg/endpoint/bpf.go
Labels: area/daemon, kind/bug, needs-backport/1.2, needs-backport/1.3, pending-review, priority/medium, release-note/bug

#5914 v1.2: bump timeout on K8s upstream tests to 40 minutes
  kubernetes-upstream.Jenkinsfile
Labels: area/CI, pending-review

#5919 envoy: Pass nil completion if Acks are not expected.
  pkg/envoy/server.go
  pkg/envoy/xds/ack.go
Labels: backport/1.1, kind/backports

#5878 bpf, perf: use more lightweight barriers
  pkg/bpf/perf.go
Labels: area/monitor, kind/performance, pending-review

#5915 proxylib: Allow missing rules in addition to empty rules.
  proxylib/cassandra/cassandraparser.go
  proxylib/memcached/parser.go
  proxylib/proxylib_test.go
  proxylib/testparsers/headerparser.go
Labels: area/proxy, kind/enhancement, needs-backport/1.3, pending-review, priority/medium

#5926 pkg/endpoint: fix global k8sServerVer variable assignment
  pkg/endpoint/endpoint.go
Labels: kind/bug, needs-backport/1.2, needs-backport/1.3, pending-review, priority/release-blocker, release-note/bug

#5934 [V1.2]: pkg/endpoint: fix global k8sServerVer variable assignment
  pkg/endpoint/endpoint.go
Labels: area/k8s, backport/1.2, kind/bug, pending-review, release-note/bug

#5933 k8s: Add --disable-endpoint-crd to disable use of the CEP CRD
  Documentation/cmdref/cilium-agent.md
  daemon/main.go
  pkg/endpoint/endpoint.go
  pkg/option/config.go
Labels: needs-backport/1.2, needs-backport/1.3, pending-review, release-note/minor

#5937 k8s: Simpler CEP GC should-run logic
  pkg/endpoint/endpoint.go
Labels: area/daemon, area/k8s, kind/enhancement, needs-backport/1.2, needs-backport/1.3, pending-review

#5939 k8s: Add --disable-endpoint-crd to disable use of the CEP CRD
  Documentation/cmdref/cilium-agent.md
  daemon/main.go
  pkg/endpoint/endpoint.go
  pkg/option/config.go
Labels: backport/1.2, pending-review

#5940 bpf, perf: optimize x86 barriers for walking rb further
  pkg/bpf/perf.go
Labels: area/monitor, kind/performance, needs-backport/1.3, pending-review

#5943 1.2 backports 18-10-18: backport CEP GC fixes
  pkg/endpoint/endpoint.go
Labels: backport/1.2, pending-review

#5942 k8s: Add --disable-endpoint-crd to disable use of the CEP CRD
  Documentation/cmdref/cilium-agent.md
  daemon/main.go
  pkg/endpoint/endpoint.go
  pkg/option/config.go
Labels: backport/1.3, pending-review

#5947 test: wait for all etcd pods to be ready in VXLAN test
  test/k8sT/Tunnels.go
Labels: area/CI, kind/bug/CI, needs-backport/1.3, pending-review

#5877 Decrement CIDR refcount on rule replace
  daemon/policy.go
  daemon/policy_test.go
Labels: area/daemon, area/policy, kind/bug, needs-backport/1.3, pending-review

#5946 Test: Chaos restart wait endpoints to be ready
  test/k8sT/Chaos.go
Labels: area/CI, kind/enhancement, pending-review

#5951 Spanstat: Validate that the duration is not negative when call End.
  pkg/spanstat/spanstat.go
Labels: backport/1.3

#5896 Add MaxControllerInterval for testing purposes
  daemon/main.go
  pkg/controller/controller.go
  pkg/controller/manager.go
  pkg/option/config.go
Labels: kind/enhancement

#5950 Initial tutorial for envoy golang extensions
  Documentation/gettingstarted/proxylib.rst
  Documentation/index.rst
  Documentation/spelling_wordlist.txt
  proxylib/proxylib.go
  proxylib/r2d2/r2d2parser.go
  proxylib/r2d2/r2d2parser_test.go
Labels: needs-backport/1.3

#5956 Adding two diagrams for the proxylib getting started guide
  Documentation/gettingstarted/images/proxylib_key_functions.png
  Documentation/gettingstarted/images/proxylib_logical_flow.png
  Documentation/gettingstarted/proxylib.rst
Labels: area/documentation, needs-backport/1.3

#5964 Correct use of 'upstream' and 'downstream' in image for proxylib docs
  Documentation/gettingstarted/images/proxylib_key_functions.png
Labels: needs-backport/1.3

#5958 daemon: Lower default tofqdns-min-ttl to 1 hour
  Documentation/cmdref/cilium-agent.md
  pkg/defaults/defaults.go
Labels: area/daemon, kind/enhancement, needs-backport/1.3, pending-review, release-note/minor

#5966 doc: Add missing Documentation/envoy/index
  Documentation/envoy/index.rst
Labels: area/documentation, kind/bug

#5954 GSG memcached
  Documentation/gettingstarted/cassandra.rst
  Documentation/gettingstarted/images/cilium_memcd_gsg_attack.png
  Documentation/gettingstarted/images/cilium_memcd_gsg_topology.png
  Documentation/gettingstarted/index.rst
  Documentation/gettingstarted/memcached.rst
  Documentation/spelling_wordlist.txt
  examples/kubernetes-memcached/memcd-env.sh
  examples/kubernetes-memcached/memcd-sw-app.yaml
  examples/kubernetes-memcached/memcd-sw-security-policy.yaml
Labels: area/documentation, needs-backport/1.3, pending-review

#5969 Prepare for release v1.2.5
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.2, pending-review

#5979 Prepare for v1.1.6
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.1, pending-review

#6020 Tune microscope readiness probe in ci
  test/k8sT/manifests/microscope.yaml
Labels: kind/bug, kind/bug/CI, pending-review

#6024 pkg/datapath/ipcache: stop leaking FD
  pkg/datapath/ipcache/listener.go
Labels: kind/bug, needs-backport/1.3, pending-review, priority/high, release-note/bug

#6026 Test: stop background monitor command.
  test/runtime/monitor.go
Labels: area/CI, needs-backport/1.2, needs-backport/1.3, pending-review

#6031 1.3: Remove the Codeowners file.
  CODEOWNERS
Labels: backport/1.3

#6032 V1.0: Doc disable index due EOL.
  Documentation/conf.py
Labels: area/documentation, backport/1.0, pending-review

#6034 pkg/fqdn: make any operation in the sourceRuleCopy
  pkg/fqdn/dnspoller.go
Labels: kind/bug, kind/cleanup, needs-backport/1.3, pending-review, priority/low

#6035 fqdn: Make Rule UUIDs random instead of depending on the labels.
  daemon/policy.go
  pkg/fqdn/dnspoller.go
  pkg/fqdn/dnspoller_test.go
  pkg/fqdn/helpers.go
Labels: backport/1.2, pending-review

#6038 pkg: fix minor typo
  pkg/node/node_address.go
Labels: kind/bug, pending-review

#6043 test: add new skipLogs option to CI
  test/config/config.go
  test/helpers/cilium.go
  test/helpers/kubectl.go
Labels: area/CI, kind/enhancement, pending-review

#5949 test: bump k8s versions to 1.8.14, 1.9.11 and 1.10.9
  test/provision/k8s_install.sh
Labels: area/CI, area/k8s, kind/enhancement, pending-review

#6063 examples/kubernetes: fix cilium tolerations
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: area/k8s, backport-pending/1.2, backport-pending/1.3, pending-review, priority/high

#6060 pkg/policy: rename l4Filter_test to l4_filter_test
  pkg/policy/l4_filter_test.go
Labels: kind/cleanup, pending-review, priority/low

#6054 Update kube-router.rst
  Documentation/kubernetes/install/kube-router.rst
Labels: area/documentation, backport/1.2, pending-review

#6044 Update extensions.rst
  Documentation/envoy/extensions.rst
Labels: area/documentation, pending-review

#6052 test: misc. CI tidy-ups
  test/helpers/cilium.go
  test/helpers/kubectl.go
  test/k8sT/Chaos.go
  test/k8sT/Health.go
  test/k8sT/KafkaPolicies.go
  test/k8sT/Nightly.go
  test/k8sT/Policies.go
  test/k8sT/PoliciesNightly.go
  test/k8sT/Services.go
  test/k8sT/Tunnels.go
  test/k8sT/Updates.go
  test/k8sT/demos.go
  test/k8sT/istio.go
  test/k8sT/microscope.go
  test/runtime/Policies.go
  test/runtime/cassandra.go
  test/runtime/chaos.go
  test/runtime/cli.go
  test/runtime/connectivity.go
  test/runtime/examples.go
  test/runtime/kafka.go
  test/runtime/kvstore.go
  test/runtime/lb.go
  test/runtime/memcache.go
  test/runtime/monitor.go
Labels: area/CI, kind/enhancement, pending-review

#6065 [v1.3] examples/kubernetes: fix cilium tolerations
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: area/k8s, backport/1.3, pending-review, priority/high

#6064 [v1.2] examples/kubernetes: fix cilium tolerations
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: area/k8s, backport/1.2, pending-review, priority/high

#6071 etcd: Provide endpoints and config when connecting
  pkg/kvstore/etcd.go
Labels: kind/enhancement, pending-review

#6068 bpf: Provide more specific drop reasons
  bpf/bpf_lxc.c
  bpf/lib/common.h
  bpf/lib/policy.h
  daemon/bpf.sha
  pkg/monitor/datapath_drop.go
Labels: kind/bug, pending-review, release-note/bug

#6070 k8s/utils: Allow gauge to be nil
  pkg/k8s/utils/factory.go
Labels: kind/enhancement, pending-review

#6066 Pin memcache image version in CI
  test/runtime/memcache.go
Labels: area/CI, kind/bug

#6075 Update/modularize rpm spec, add cilium.sysusers
  contrib/packaging/rpm/Makefile
  contrib/packaging/rpm/cilium.spec.envsubst
  contrib/packaging/rpm/create_rpm.sh
  contrib/systemd/cilium.sysusers
Labels: kind/enhancement, pending-review

#6085 Backport/v1.2-2018-10-29
  test/runtime/monitor.go
Labels: backport/1.2, pending-review

#6019 daemon: change policyAdd message type from Info to Debug for dns policies
  daemon/daemon.go
  daemon/policy.go
  pkg/policy/api/rules.go
Labels: needs-backport/1.3, pending-review

#6072 loadbalancer: Remove error handling of protocol string
  cilium/cmd/service_update.go
  daemon/k8s_watcher.go
  daemon/k8s_watcher_test.go
  pkg/loadbalancer/loadbalancer.go
  pkg/maps/lbmap/lbmap.go
Labels: kind/cleanup, pending-review

#6073 test/helpers: add optional options for MicroscopeStart
  test/helpers/kubectl.go
Labels: area/CI, kind/enhancement, pending-review

#6089 pkg/envoy: update generated files
  pkg/envoy/cilium/accesslog.pb.go
  pkg/envoy/cilium/npds.pb.go
  pkg/envoy/cilium/nphds.pb.go
Labels: area/proxy, kind/cleanup, pending-review, priority/low

#6108 Test: provide more clear message on GetScope.
  test/test_suite_test.go
Labels: area/CI, halloween-special, pending-review

#6105 kvstore: change version verification log from Debug to Info
  pkg/kvstore/etcd.go
Labels: pending-review, release-note/bug

#6109 docs: fix CVE-2018-18074
  Documentation/requirements.txt
Labels: area/documentation, needs-backport/1.0, needs-backport/1.1, needs-backport/1.2, needs-backport/1.3, pending-review, priority/medium

#6114 Jenkinsfile: increase memory for kubernetes upstream tests
  kubernetes-upstream.Jenkinsfile
Labels: kind/bug/CI, pending-review

#6113 docs: fix CVE-2018-18074
  Documentation/requirements.txt
Labels: backport-done/1.1, pending-review

#6118 pkg/sockops: fix formatting directive
  pkg/sockops/sockops.go
Labels: pending-review, priority/high

#6120 contrib/scripts: add checker for missing tags in test files
  Makefile
  contrib/scripts/check-missing-tags-in-tests.sh
Labels: area/CI, halloween-special, pending-review, priority/high

#6119 Simplify Makefile for unit testing
  Makefile
Labels: area/misc, kind/cleanup, pending-review

#6124 Test: Fix some By messages on kubectl.
  test/helpers/kubectl.go
Labels: area/CI, halloween-special, pending-review

#6115 Backport/v1.2-2018-10-30
  Documentation/requirements.txt
Labels: backport/1.2, pending-review

#6127 travis: fix coveralls for external contributions
  .travis/build.sh
Labels: area/CI, halloween-special, kind/bug/CI, pending-review

#6132 test: Do not clean during parallel builds.
  Makefile
  proxylib/Makefile
  test/provision/compile.sh
Labels: area/CI, halloween-special, kind/bug/CI, needs-backport/1.2, needs-backport/1.3, pending-review, priority/high

#6111 pkg/option: remove dependency on viper
  daemon/config.go
  daemon/daemon.go
  pkg/option/config.go
Labels: kind/cleanup, kind/enhancement, pending-review
