Repository cilium/cilium, pull requests merged in 2019-02, with the labels that each got.

#6887 daemon: only fatal if err != nil
  daemon/daemon_main.go
Labels: needs-backport/1.4, pending-review, priority/release-blocker

#6890 cilium: fix fd leak from ObjClose being omitted on ConfigMap
  pkg/endpoint/endpoint.go
  pkg/maps/configmap/configmap.go
Labels: area/datapath, needs-backport/1.3, needs-backport/1.4, pending-review, priority/release-blocker, release-note/bug

#6872 endpoint: Avoid harmless controller failures when endpoint disappears
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/policy.go
Labels: kind/bug, needs-backport/1.4, pending-review

#6869 iptables: Fix 127.0.0.1:NodePort to remote pods
  pkg/datapath/iptables/iptables.go
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review, priority/release-blocker, release-note/bug

#6889 examples/kubernetes: clean k8s descriptors
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.10/cilium-etcd-operator-sa.yaml
  examples/kubernetes/1.10/cilium-external-etcd.yaml
  examples/kubernetes/1.10/cilium-operator.yaml
  examples/kubernetes/1.10/cilium-with-node-init.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.11/cilium-etcd-operator-sa.yaml
  examples/kubernetes/1.11/cilium-external-etcd.yaml
  examples/kubernetes/1.11/cilium-operator.yaml
  examples/kubernetes/1.11/cilium-with-node-init.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.12/cilium-etcd-operator-sa.yaml
  examples/kubernetes/1.12/cilium-external-etcd.yaml
  examples/kubernetes/1.12/cilium-operator.yaml
  examples/kubernetes/1.12/cilium-with-node-init.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.13/cilium-etcd-operator-sa.yaml
  examples/kubernetes/1.13/cilium-external-etcd.yaml
  examples/kubernetes/1.13/cilium-operator.yaml
  examples/kubernetes/1.13/cilium-with-node-init.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.8/cilium-etcd-operator-sa.yaml
  examples/kubernetes/1.8/cilium-external-etcd.yaml
  examples/kubernetes/1.8/cilium-operator.yaml
  examples/kubernetes/1.8/cilium-with-node-init.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.9/cilium-etcd-operator-sa.yaml
  examples/kubernetes/1.9/cilium-external-etcd.yaml
  examples/kubernetes/1.9/cilium-operator.yaml
  examples/kubernetes/1.9/cilium-with-node-init.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-etcd-operator-rbac.yaml.sed
  examples/kubernetes/templates/v1/cilium-etcd-operator-sa.yaml
  examples/kubernetes/templates/v1/cilium-operator.yaml.sed
Labels: area/k8s, kind/cleanup, needs-backport/1.4, pending-review, priority/release-blocker

#6892 node: fix unused import
  pkg/node/node_address_darwin.go
Labels: kind/bug, pending-review

#6901 endpoint: fix incorrect RLock usage in controller
  pkg/endpoint/bpf.go
Labels: needs-backport/1.4, pending-review, priority/release-blocker

#6917 cilium, docker: allow for v4 only config
  plugins/cilium-docker/driver/driver.go
Labels: area/docker, needs-backport/1.4, pending-review, priority/release-blocker

#6853 doc: Update ClusterMesh documentation for 1.4
  Documentation/concepts.rst
  Documentation/gettingstarted/clustermesh.rst
  Documentation/install/system_requirements.rst
  Documentation/policy/language.rst
  examples/kubernetes/clustermesh/cilium-etcd-external-service/cilium-etcd-external-eks.yaml
  examples/kubernetes/clustermesh/cilium-etcd-external-service/cilium-etcd-external-gke.yaml
  examples/kubernetes/clustermesh/global-service-example/cluster1.yaml
  examples/kubernetes/clustermesh/global-service-example/cluster2.yaml
  examples/policies/kubernetes/clustermesh/cross-cluster-policy.yaml
Labels: area/documentation, needs-backport/1.4, pending-review, priority/release-blocker

#6885 Docs/GSG: Fix some paths on etcd keys
  Documentation/gettingstarted/k8s-install-external-etcd.rst
Labels: area/documentation, pending-review, priority/release-blocker

#6880 Test/SSH: fix typos
  test/helpers/ssh_command.go
Labels: area/CI, pending-review

#6920 daemon: Log workloads runtime options after final setup
  daemon/daemon.go
  daemon/daemon_main.go
Labels: area/daemon, kind/bug, needs-backport/1.4, pending-review

#6909 make: Allow to use custom container engine
  Makefile
  Makefile.defs
Labels: pending-review

#6930 Fix clustermesh links, improve syntax highlighting
  Documentation/gettingstarted/clustermesh.rst
Labels: area/documentation, needs-backport/1.4

#6925 Docs: Trivial fixes on k8s-install-etcd-operator.rst
  Documentation/gettingstarted/k8s-install-etcd-operator.rst
Labels: area/documentation, needs-backport/1.4, pending-review

#6928 clustermesh: Fix panic in clustermesh initialization
  daemon/daemon.go
  pkg/clustermesh/clustermesh.go
  pkg/node/store/store.go
Labels: kind/bug, needs-backport/1.4, priority/release-blocker

#6914 docs: Improve EKS guide
  Documentation/gettingstarted/k8s-install-eks.rst
  Documentation/gettingstarted/k8s-install-etcd-operator-steps.rst
Labels: area/documentation, needs-backport/1.4, pending-review

#6929 doc: Document kube-dns requirement in 1.4
  Documentation/install/upgrade.rst
  Documentation/kubernetes/requirements.rst
Labels: area/documentation, needs-backport/1.4, pending-review, priority/release-blocker

#6935 operator: set right environment variable for 'cluster-name' in operator
  operator/main.go
  pkg/option/config.go
Labels: needs-backport/1.4, pending-review, priority/release-blocker

#6931 doc: Provide a fully functional GKE create cluster example
  Documentation/gettingstarted/k8s-install-gke.rst
Labels: area/documentation, needs-backport/1.4, pending-review, priority/release-blocker

#6936 docs: bump copyright headers to 2017-2019
  Documentation/conf.py
Labels: area/documentation, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4, pending-review, priority/release-blocker

#6942 gke: Clear cbr0 bridge in node-init DaemonSet
  examples/kubernetes/node-init/node-init.yaml
Labels: needs-backport/1.4, pending-review, priority/release-blocker

#6939 health: Fix removal of ipvlan slave device upon termination
  bpf/spawn_netns.sh
  cilium-health/launch/endpoint.go
  daemon/bpf.sha
  pkg/netns/netns.go
Labels: area/health, kind/bug, needs-backport/1.4, pending-review

#6952 make: Add optional distribution of cilium-docker to cilium image
  Dockerfile
  Makefile
Labels: area/misc, kind/enhancement, needs-backport/1.4, pending-review

#6933 Don't log disconnecting endpoint release warning
  pkg/endpointmanager/manager.go
Labels: needs-backport/1.4, pending-review, priority/release-blocker

#6953 pkg/controller: stop controller execution on shutdown
  pkg/controller/controller.go
Labels: needs-backport/1.3, needs-backport/1.4, pending-review, priority/release-blocker

#6950 cli: Remove "cilium-*" netns when doing cleanup
  cilium/cmd/cleanup.go
  pkg/netns/netns.go
Labels: area/cli, kind/enhancement, pending-review

#6945 doc: Document requirement to restart kube-dns for GKE
  Documentation/gettingstarted/k8s-install-gke.rst
Labels: area/documentation, needs-backport/1.4, pending-review, priority/release-blocker

#6955 Makefile enhancements
  Makefile.defs
  plugins/cilium-cni/Makefile
Labels: pending-review

#6962 agent: On CIDR change, do not treat non-existing cilium_host as fatal
  daemon/daemon.go
Labels: kind/bug, needs-backport/1.4, priority/release-blocker

#6965 doc: Add steps for cri-o in the etcd operator installation
  Documentation/gettingstarted/k8s-install-etcd-operator-steps.rst
Labels: area/documentation, needs-backport/1.4, pending-review

#6958 docs: move flannel guide to official documentation
  Documentation/gettingstarted/flannel-integration.rst
  Documentation/gettingstarted/index.rst
  Documentation/spelling_wordlist.txt
  examples/kubernetes/addons/flannel/README.md
Labels: area/documentation, needs-backport/1.4, pending-review

#6964 daemon: initialize workloads map based on option.Config.ContainerRunt…
  daemon/daemon.go
Labels: area/workloads, kind/bug, pending-review

#6976 datapath: Fix accidental external route deletion
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
Labels: kind/bug, needs-backport/1.4, pending-review, priority/release-blocker

#6977 daemon: release endpoint lock if PinDatapathMap fails
  daemon/endpoint.go
Labels: kind/bug, needs-backport/1.4, pending-review, priority/release-blocker

#6915 Add DNS message type to access log
  daemon/fqdn.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/monitor/logrecord.go
  pkg/proxy/accesslog/record.go
Labels: needs-backport/1.4, pending-review, ready-to-merge

#6988 cilium, sockmap: unbreak --sockmap-enable mode
  bpf/sockops/sockops_config.h
  daemon/bpf.sha
  pkg/maps/sockmap/sockmap.go
  pkg/sockops/sockops.go
Labels: kind/bug, needs-backport/1.4, pending-review

#6973 examples: Do not use SSL for etcd in minikube for k8s <= 1.9
  examples/kubernetes/1.8/cilium-minikube.yaml
  examples/kubernetes/1.9/cilium-minikube.yaml
  examples/kubernetes/Makefile
Labels: area/k8s, needs-backport/1.4

#6990 examples/kubernetes: add containerd kubernetes files
  examples/kubernetes/1.10/cilium-containerd-ds.yaml
  examples/kubernetes/1.10/cilium-containerd.yaml
  examples/kubernetes/1.11/cilium-containerd-ds.yaml
  examples/kubernetes/1.11/cilium-containerd.yaml
  examples/kubernetes/1.12/cilium-containerd-ds.yaml
  examples/kubernetes/1.12/cilium-containerd.yaml
  examples/kubernetes/1.13/cilium-containerd-ds.yaml
  examples/kubernetes/1.13/cilium-containerd.yaml
  examples/kubernetes/1.8/cilium-containerd-ds.yaml
  examples/kubernetes/1.8/cilium-containerd.yaml
  examples/kubernetes/1.9/cilium-containerd-ds.yaml
  examples/kubernetes/1.9/cilium-containerd.yaml
  examples/kubernetes/Makefile
  examples/kubernetes/templates/v1/cilium-containerd-ds.yaml.sed
Labels: needs-backport/1.4, pending-review, release-note/minor

#6980 endpoint: make "Regenerating endpoint" log Debug level
  pkg/endpoint/policy.go
Labels: kind/enhancement, needs-backport/1.4, pending-review

#6992 status: Declare probe as stale only after FailureThreshold
  pkg/logging/logfields/logfields.go
  pkg/status/status.go
  pkg/status/status_test.go
Labels: area/daemon, kind/enhancement, needs-backport/1.3, needs-backport/1.4, pending-review

#6999 dev: fix crio integration for dev VM
  contrib/vagrant/start.sh
  examples/kubernetes-ingress/scripts/03-install-kubernetes-worker.sh
Labels: area/workloads, pending-review

#6932 Test: Dump all api-resources in a separate file
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#7003 daemon: remove duplicated Container runtime options set info message
  daemon/daemon.go
Labels: needs-backport/1.4, pending-review, priority/low

#7007 operator: always set "logtostderr" flag to true
  operator/main.go
Labels: area/operator, needs-backport/1.4, pending-review

#7009 make: Ensure that bash is used as a shell
  Makefile.defs
Labels: kind/bug, needs-backport/1.4

#7001 pkg/workloads,examples,Documentation: change default crio.sock path to /var/run/crio/crio.sock
  Documentation/cmdref/cilium-agent.md
  Documentation/kubernetes/configuration.rst
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-crio-ds.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
  pkg/workloads/crio.go
Labels: area/documentation, needs-backport/1.4, pending-review

#7010 kubernetes: Add missing pod delete RBAC permissions
  examples/kubernetes/1.10/cilium-containerd.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.10/cilium-with-node-init.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-containerd.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.11/cilium-with-node-init.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-containerd.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.12/cilium-with-node-init.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-containerd.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.13/cilium-with-node-init.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-containerd.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.8/cilium-with-node-init.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-containerd.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.9/cilium-with-node-init.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-etcd-operator-rbac.yaml.sed
Labels: kind/bug, needs-backport/1.4, pending-review, priority/release-blocker

#7012 metrics: Add bytes counter for forwards and drops
  Documentation/configuration/metrics.rst
  pkg/maps/metricsmap/metricsmap.go
  pkg/metrics/metrics.go
Labels: needs-backport/1.4, pending-review

#7013 Bugtool: Get fqdn cache list
  bugtool/cmd/configuration.go
Labels: area/bugtool, needs-backport/1.4, pending-review, priority/release-blocker

#7021 FQDN: Fix on force expired.
  daemon/fqdn.go
Labels: area/daemon, needs-backport/1.4, pending-review, priority/release-blocker

#7019 fqdn: Correctly set request/response in DNS monitor events
  daemon/fqdn.go
Labels: area/daemon, area/monitor, needs-backport/1.4, pending-review

#7018 docs: Update contributing docs
  Documentation/contributing.rst
Labels: area/documentation, kind/bug, needs-backport/1.4, pending-review

#6995 [Docs] Note about apiserver outside of cluster
  Documentation/kubernetes/troubleshooting.rst
Labels: area/documentation, pending-review, ready-to-merge

#7025 docs: fixed copy buttons icon
  Documentation/_static/copy-icon.png
  Documentation/_static/copybutton.js
Labels: needs-backport/1.2, needs-backport/1.3, needs-backport/1.4, pending-review

#7028 fix small typo in README.rst
  README.rst
Labels: area/documentation

#7029 api/v1: remove requirements of labels in endpoints API
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  api/v1/server/restapi/endpoint/get_endpoint_parameters.go
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review, priority/low

#7027 test/runtime: add stable image tags for memcache tests
  test/runtime/memcache.go
Labels: area/CI, kind/cleanup, pending-review, priority/low

#7026 bpf: Fix drop notifications for local identities
  bpf/bpf_lxc.c
  bpf/lib/drop.h
  daemon/bpf.sha
  pkg/monitor/datapath_drop.go
Labels: area/datapath, needs-backport/1.4, pending-review, priority/release-blocker

#7030 apis/cilium.io: do not regenerate deepcopy for unnecessary structs
  pkg/k8s/apis/cilium.io/v2/types.go
Labels: needs-backport/1.4, pending-review, priority/low

#7034 Transparent Encryption with IPSec Getting Started Guide
  Documentation/gettingstarted/encryption.rst
  Documentation/gettingstarted/index.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.4

#7039 doc: Minor update to encryption guide
  Documentation/gettingstarted/encryption.rst
Labels: area/documentation, needs-backport/1.4, pending-review, priority/release-blocker

#6949 examples/kubernetes: Add tofqdns-enable-poller option
  examples/kubernetes/1.10/cilium-cm.yaml
  examples/kubernetes/1.10/cilium-containerd.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-external-etcd.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.10/cilium-with-node-init.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-cm.yaml
  examples/kubernetes/1.11/cilium-containerd.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-external-etcd.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium-with-node-init.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-cm.yaml
  examples/kubernetes/1.12/cilium-containerd.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-external-etcd.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium-with-node-init.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-cm.yaml
  examples/kubernetes/1.13/cilium-containerd.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-ds.yaml
  examples/kubernetes/1.13/cilium-external-etcd.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium-with-node-init.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-cm.yaml
  examples/kubernetes/1.8/cilium-containerd.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-external-etcd.yaml
  examples/kubernetes/1.8/cilium-minikube.yaml
  examples/kubernetes/1.8/cilium-with-node-init.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-cm.yaml
  examples/kubernetes/1.9/cilium-containerd.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-external-etcd.yaml
  examples/kubernetes/1.9/cilium-minikube.yaml
  examples/kubernetes/1.9/cilium-with-node-init.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-cm.yaml
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: area/k8s, kind/enhancement, needs-backport/1.4, needs-rebase, pending-review

#7044 doc, configmap: add missing entries
  Documentation/install/upgrade.rst
Labels: area/documentation, needs-backport/1.4, pending-review, priority/release-blocker

#7047 docs: Add ipvlan-based datapath limitations and requirements
  Documentation/gettingstarted/ipvlan.rst
Labels: area/documentation, backport-pending/1.4, kind/enhancement, needs-backport/1.4

#7038 Fix misleading test failure msg in fqdn test
  test/k8sT/fqdn.go
Labels: area/CI, pending-review, priority/low

#7043 cilium-docker-plugin: set default CMD to /usr/bin/cilium-docker
  cilium-docker-plugin.Dockerfile
Labels: needs-backport/1.4, pending-review, priority/release-blocker

#7045 examples: Update docker-compose examples
  examples/getting-started/Vagrantfile
  examples/getting-started/docker-compose.yml
Labels: area/documentation, needs-backport/1.4, pending-review

#6961 Factor out dummy endpoint structure into testutils
  pkg/datapath/loader/loader_test.go
  pkg/testutils/endpoint.go
  pkg/testutils/log.go
Labels: kind/cleanup, pending-review

#7051 Documentation: rename file to unbreak `go mod` with Cilium
  Documentation/images/Cilium_Mesos_Demo_Application_Topology_L3_L4_Policy-170817.graffle
Labels: area/documentation, kind/cleanup, pending-review

#7055 test: update version of `tgraf/netperf` in YAML
  test/k8sT/manifests/netperf-deployment.yaml
Labels: area/CI, kind/cleanup, pending-review

#7056 Update k8s-install-gke.rst
  Documentation/gettingstarted/k8s-install-gke.rst
Labels: area/documentation, needs-backport/1.4, pending-review

#7054 Fix bug where stale endpoint config maps would not be cleared
  pkg/datapath/maps/map.go
Labels: area/datapath, needs-backport/1.3, needs-backport/1.4, pending-review, release-note/bug

#7049 cilium-docker-plugin: set default CMD to /usr/bin/cilium-docker
  cilium-docker-plugin.Dockerfile
Labels: backport/1.4, kind/backports, pending-review

#7060 cilium, bpf: only account tx for egress direction
  bpf/lib/conntrack.h
  daemon/bpf.sha
Labels: area/datapath, needs-backport/1.4, pending-review

#7046 Fix replace IPv4 route decrypt rule failed
  pkg/datapath/linux/route/route_linux.go
Labels: integration/ipsec, kind/bug, needs-backport/1.4, pending-review

#6998 fqdn: Avoid regenerations on each poller update
  daemon/policy.go
  pkg/fqdn/dnspoller.go
Labels: backport/1.2, kind/backports

#7067 Clean up stale ipvlan maps
  pkg/datapath/maps/map.go
Labels: kind/bug, needs-backport/1.4, pending-review

#6893 policy: generate 3000 unique identities for ResolvePolicy benchmark
  pkg/policy/resolve_test.go
Labels: area/CI, area/policy, kind/enhancement, pending-review

#6997 fqdn: Avoid regenerations on each poller update
  daemon/policy.go
  pkg/fqdn/dnspoller.go
Labels: backport/1.3, kind/backports

#7050 cilium-operator.Dockerfile: set `klog` logging values from cilium-operator
  operator/main.go
Labels: area/operator, needs-backport/1.4, pending-review

#7036 FQDN: Wait for endpoints to be ready before starting the connections.
  test/k8sT/fqdn.go
Labels: area/CI, needs-backport/1.4, pending-review

#7076 docs: Add note about triggering builds with net-next
  Documentation/contributing.rst
Labels: area/documentation, kind/enhancement, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4, pending-review

#7068 Log combined stderr and stdout
  pkg/sockops/sockops.go
Labels: kind/bug, ready-to-merge

#7079 FQDN: Add expired by name function.
  daemon/fqdn.go
  pkg/fqdn/cache.go
  pkg/fqdn/cache_test.go
Labels: area/daemon, pending-review

#7081 godep: add klog to gopkg.lock
  Gopkg.lock
Labels: kind/cleanup, needs-backport/1.4, pending-review

#7074 examples: Remove duplicate docker-compose example
  examples/docker-compose/docker-compose.yml
Labels: area/documentation, backport-pending/1.4, kind/enhancement, pending-review

#7065 FQDN: Set always a empty ToCIDRSet in case of no entries in cache.
  pkg/fqdn/helpers.go
  pkg/fqdn/helpers_test.go
Labels: area/daemon, needs-backport/1.4, pending-review

#7078 [fixup] fqdn: No warning when toFQDNs are missing IPs when generating
  pkg/fqdn/rulegen.go
Labels: area/daemon, needs-backport/1.4

#7082 examples: Fix docker-compose mount points
  examples/getting-started/docker-compose.yml
Labels: area/documentation, kind/enhancement, needs-backport/1.4, pending-review

#7085 test: perform upgrade tests from version v1.4
  test/helpers/cons.go
  test/helpers/utils.go
  test/k8sT/manifests/v1.4/cilium-cm-patch-clean-cilium-state.yaml
  test/k8sT/manifests/v1.4/cilium-cm-patch.yaml
  test/k8sT/manifests/v1.4/cilium-ds-patch.yaml
Labels: area/CI, pending-review

#7093 agent: Add bootstrap duration metric
  Documentation/configuration/metrics.rst
  daemon/daemon.go
  daemon/daemon_main.go
  daemon/metrics.go
Labels: kind/enhancement, pending-review

#7062 daemon: bpf: Exclude .gitignore from BPF bindata
  Makefile
  contrib/scripts/bindata.sh
  daemon/bpf.sha
Labels: pending-review

#7090 Misc loader benchmark improvements
  pkg/datapath/loader/loader_test.go
Labels: area/misc, pending-review

#7104 Ginkgo: Do not return test names with *
  test/ginkgo-ext/scopes.go
Labels: area/CI, pending-review

#7117 Test: Fix Kubectl Patch on DS manifest.
  test/k8sT/manifests/cilium-ds-patch-auto-node-routes.yaml
  test/k8sT/manifests/cilium-ds-patch-geneve.yaml
  test/k8sT/manifests/cilium-ds-patch-ipv4-only.yaml
  test/k8sT/manifests/cilium-ds-patch-vxlan.yaml
  test/k8sT/manifests/cilium-ds-patch.yaml
Labels: area/CI, pending-review, priority/high

#7110 Minor disambiguation to 1.4 release/upgrade doc
  Documentation/install/upgrade.rst
Labels: area/documentation, needs-backport/1.4, pending-review

#7073 V1.3 Backport PR-7054
  daemon/daemon.go
Labels: backport/1.3, pending-review

#7096 Vagrant Update base box to 131
  Vagrantfile
  test/Vagrantfile
Labels: area/CI, pending-review

#7103 Change endpoint policy status map to regular map
  pkg/endpoint/metrics.go
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review

#6985 FQDN: Add metrics for Garbage collector cleanup.
  Documentation/configuration/metrics.rst
  daemon/fqdn.go
  pkg/metrics/metrics.go
Labels: area/daemon, area/metrics, pending-review

#7133 Prepare for release v1.2.8
  AUTHORS
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.2, kind/release, pending-review

#7144 Wait for for k8s objects until are synced and processed before initializing cilium daemon
  daemon/k8s_watcher.go
  pkg/k8s/utils/factory.go
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review, release-note/bug

#7147 .travis: as coverall is not working we will disable it
  .travis/build.sh
Labels: pending-review, priority/insane

#7143 allocator: Wait until kvstore is connected before allocating global identities
  pkg/identity/cache/allocator.go
Labels: kind/bug, needs-backport/1.4, pending-review

#7139 policy: Fix ipcache synchronization on startup
  daemon/daemon.go
  daemon/daemon_main.go
  daemon/state.go
  pkg/bpf/map_linux.go
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review, release-note/bug

#7134 Prepare for release v1.3.3
  AUTHORS
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-pre-flight.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-pre-flight.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-pre-flight.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-pre-flight.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-pre-flight.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.3, kind/release, pending-review, requires-janitor-review

#7119 bpf: Do not account tx for CT_SERVICE
  bpf/lib/conntrack.h
  daemon/bpf.sha
Labels: area/datapath, kind/bug, needs-backport/1.4, pending-review

#7157 fqdn-poller: Ensure monitor events contain all data
  daemon/fqdn.go
  pkg/monitor/logrecord.go
  pkg/proxy/accesslog/record.go
Labels: area/daemon, area/monitor, kind/bug, needs-backport/1.4, pending-review

#7145 cilium.io/v2: set DerivativePolicies json to derivativePolicies
  pkg/k8s/apis/cilium.io/v2/types.go
Labels: kind/bug, kind/cleanup, needs-backport/1.4, pending-review

#7166 Document behaviour of ci/net-next
  Documentation/contributing.rst
Labels: area/documentation, pending-review

#7159 ctmap: Fix order of CtKey{4,6} struct fields
  pkg/maps/ctmap/ipv4.go
  pkg/maps/ctmap/ipv6.go
Labels: area/daemon, kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review

#7168 release: fix uploadrev script to work with changes made after 1.3
  contrib/release/uploadrev
Labels: area/misc, kind/bug, needs-backport/1.4, pending-review

#7170 loader: Fix nil dereference in logging statement
  pkg/datapath/loader/compile.go
Labels: area/loader, kind/bug, needs-backport/1.4, pending-review, release-note/bug

#7141 Factor nodediscovery out of daemon
  daemon/daemon.go
  daemon/health.go
  daemon/k8s_watcher.go
  daemon/k8s_watcher_test.go
  daemon/status.go
  pkg/nodediscovery/nodediscovery.go
Labels: kind/enhancement, pending-review, requires-janitor-review

#7138 Daemon: Add a UUID log for each Policy Add request.
  daemon/policy.go
Labels: area/daemon, pending-review

#7178 Revert ".travis: as coverall is not working we will disable it"
  .travis/build.sh
Labels: pending-review

#7177 cilium: fix Error -> Errorf errors
  test/helpers/ssh_command.go
  test/k8sT/Nightly.go
Labels: area/CI

#7189 test: Test upgrade from v1.3 to master
  test/helpers/cons.go
Labels: area/CI, kind/enhancement, needs-backport/1.4, pending-review

#7184 bpf: Enable pipefail option in init.sh
  bpf/init.sh
  daemon/bpf.sha
Labels: area/loader, kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review

#7192 vendor: fix vendor/golang.org/x/net
  Gopkg.lock
  vendor/golang.org/x/net/netutil/listen.go
Labels: kind/cleanup, pending-review

#7195 travis: Don't fail the build if coveralls is down
  .travis/build.sh
Labels: area/CI, pending-review

#7185 Test: Add FQDN test with multiple specs
  test/k8sT/fqdn.go
  test/k8sT/manifests/fqdn-proxy-multiple-specs.yaml
Labels: area/CI, pending-review

#7191 pkg/kvstore: do not use default instance to create new instance module
  pkg/kvstore/consul.go
  pkg/kvstore/etcd.go
Labels: area/clustermesh, kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review, priority/high, release-note/bug

#7194 Ignore preflight errors for unsupported kernel
  test/provision/k8s_install.sh
Labels: area/CI, ci/net-next, ready-to-merge

#7197 Fix up MAC,IPv6 addresses in testutils endpoint
  pkg/testutils/endpoint.go
Labels: ready-to-merge

#7155 1: fix when have black hole route container pod CIDR can cause postIpAMFailure range is full
  pkg/ipam/ipam.go
Labels: kind/bug, pending-review

#7200 ctmap: Print source addresses in ctmap cli
  pkg/maps/ctmap/ipv4.go
  pkg/maps/ctmap/ipv6.go
Labels: needs-backport/1.3, needs-backport/1.4, pending-review, release-note/bug

#7203 Get rid of JoinEP flakes
  test/helpers/cilium.go
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/helpers/utils.go
Labels: area/CI, kind/cleanup, needs-backport/1.3, needs-backport/1.4, pending-review, ready-to-merge

#7180 Refactor and unit-test map deletion
  daemon/daemon_main.go
  pkg/datapath/maps/map.go
  pkg/datapath/maps/map_test.go
Labels: area/CI, area/datapath, kind/cleanup, ready-to-merge

#7207 endpoint: Fix and quieten endpoint revert logs
  pkg/endpoint/bpf.go
Labels: needs-backport/1.3, needs-backport/1.4, pending-review

#7199 agent: Remove deprecated --auto-ipv6-node-routes option
  Documentation/install/upgrade.rst
  daemon/daemon_main.go
  pkg/option/config.go
Labels: area/daemon, pending-review, release-note/minor

#7206 Bump VM version to 138.
  Vagrantfile
  test/Vagrantfile
Labels: area/CI, pending-review, ready-to-merge

#7213 endpoint: Fix ENABLE_NAT46 endpoint config validation
  pkg/option/runtime_options.go
Labels: area/daemon, kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review

#7210 bpf: Replace inline asm with call to BPF helper function
  bpf/bpf_alignchecker.c
  daemon/bpf.sha
Labels: area/daemon, kind/bug, needs-backport/1.4, pending-review

#7161 policy: Add missing import error metric calls
  pkg/policy/api/selector.go
  pkg/policy/groups/actions.go
Labels: kind/bug, needs-backport/1.4, pending-review

#7214 pkg/kvstore: add 15 min TTL for the first session lease
  pkg/kvstore/etcd.go
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review, priority/high

#7227 cilium: fix bailing out on auto-complete when v4/v6 ranges are specified
  daemon/daemon.go
Labels: area/daemon, kind/bug, kind/regression, needs-backport/1.4, pending-review

#7230 [ 1.4 ] cilium: fix bailing out on auto-complete when v4/v6 ranges are specified
  daemon/daemon.go
Labels: backport/1.4, pending-review

#7244 test: Wait for cilium to start in runtime provision
  contrib/vagrant/start.sh
  test/provision/runtime_install.sh
  test/provision/wait-cilium.sh
Labels: area/CI, needs-backport/1.3, needs-backport/1.4, pending-review

#7226 k8s: Update grafana dashboard with latest metrics
  examples/kubernetes/addons/prometheus/monitoring-example.yaml
  examples/kubernetes/addons/prometheus/templates/06-grafana-config.yaml
Labels: pending-review
