Repository cilium/cilium, pull requests merged in 2019-01, with the labels that each got.

#6506 Vagrant: Bump Kubernetes default version to 1.13
  test/Vagrantfile
Labels: area/CI, needs-backport/1.4, pending-review

#6505 operator: Move CiliumEndpoint garbage collector into operator
  daemon/k8s_watcher.go
  operator/cnp_event.go
  operator/k8s_cep_gc.go
  operator/main.go
  pkg/k8s/endpointsynchronizer/cep.go
Labels: kind/enhancement, needs-backport/1.4, pending-review

#6513 Test: Fix kubectl.CiliumPolicyAction to work with CNP derivatives
  test/helpers/kubectl.go
  test/k8sT/Policies.go
Labels: area/CI, kind/bug, needs-backport/1.4, pending-review

#6520 test: Optimize WaitCEPReady() to wait for minimal policy revision
  test/helpers/kubectl.go
Labels: area/CI, needs-backport/1.4

#6525 Test: Simplified JQ filter on Kubernetes test
  test/kubernetes-test.sh
Labels: area/CI, pending-review

#6522 CI: Always pull locally built image
  test/k8sT/manifests/cilium-ds-patch-auto-routing.yaml
  test/k8sT/manifests/cilium-ds-patch-geneve.yaml
  test/k8sT/manifests/cilium-ds-patch.yaml
  test/k8sT/manifests/cilium-pre-flight-patch.yaml
Labels: area/CI, needs-backport/1.4, pending-review

#6530 Doc update for dns title: tech-preview
  Documentation/policy/language.rst
Labels: area/documentation, backport-pending/1.2, pending-review

#6531 V1.3 docs update DNS (tech preview)
  Documentation/policy/language.rst
Labels: area/documentation, backport/1.3, pending-review

#6524 daemon: Fix use of global mtuConfig
  daemon/daemon.go
  daemon/daemon_main.go
  daemon/health.go
Labels: kind/bug, needs-backport/1.4, pending-review

#6517 Test: Validate that DNS policies are working if Cilium stops.
  test/runtime/fqdn.go
Labels: area/CI, needs-backport/1.4, pending-review

#6536 re-enable version warning check and fix documentation build
  Documentation/Makefile
  Documentation/conf.py
  Makefile
Labels: area/documentation, kind/bug, needs-backport/1.4, pending-review

#6527 bpf: Remove OpenAfterMount() to avoid unnecessary map creation
  daemon/daemon.go
  pkg/bpf/bpffs.go
  pkg/maps/eppolicymap/eppolicymap.go
  pkg/maps/ipcache/ipcache.go
  pkg/maps/lxcmap/lxcmap.go
  pkg/maps/metricsmap/metricsmap.go
  pkg/maps/proxymap/ipv4.go
  pkg/maps/proxymap/ipv6.go
  pkg/maps/tunnel/tunnel.go
Labels: kind/bug, needs-backport/1.4, pending-review

#6542 fqdn: Fix duplicate CIDRSet generation
  pkg/fqdn/helpers.go
Labels: kind/bug, needs-backport/1.4, pending-review

#6523 Test: set terminationGracePeriodSeconds to 0.
  test/k8sT/manifests/bookinfo-v1.yaml
  test/k8sT/manifests/bookinfo-v2.yaml
  test/k8sT/manifests/demo.yaml
  test/k8sT/manifests/demo_ds.yaml
  test/k8sT/manifests/guestbook_deployment.json
  test/k8sT/manifests/kafka-sw-app.yaml
  test/k8sT/manifests/microscope.yaml
  test/k8sT/manifests/netcat-ds.yaml
  test/k8sT/manifests/netperf-deployment.yaml
Labels: area/CI, needs-backport/1.4, pending-review

#6549 doc: Fix non-critical CVE-2017-18342:
  Documentation/requirements.txt
Labels: area/documentation, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4

#6544 examples/kubernetes: add dnsPolicy: ClusterFirstWithHostNet
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: area/k8s, backport/1.3, pending-review

#6546 restore: Improve endpoint restore ability with Kubernetes apiserver
  daemon/state.go
Labels: needs-backport/1.4, pending-review

#6555 kubernetes: Change terminationGracePeriodSeconds to 1
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-crio-ds.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-ds.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
Labels: kind/bug, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4

#6548 examples/kubernetes: bump cilium version to 1.3.1
  VERSION
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-pre-flight.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-pre-flight.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-pre-flight.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-pre-flight.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-pre-flight.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: area/k8s, backport/1.3, pending-review, priority/high

#6552 pkg/kvstore: set defaultClient before calling deleteLegacyPrefixes
  pkg/kvstore/client.go
Labels: needs-backport/1.4, pending-review

#6553 Jenkinsfile: provision VMs with k8s 1.9 and 1.10
  ginkgo-kubernetes-all.Jenkinsfile
Labels: area/CI, area/k8s, kind/bug/CI, needs-backport/1.4, pending-review

#6540 examples/kubernetes: set Cilium ConfigMap on top
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-minikube.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-minikube.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/Makefile
Labels: area/k8s, kind/cleanup, needs-backport/1.3, needs-backport/1.4, pending-review

#6503 Test: FQDN add dnssec test.
  test/helpers/docker.go
  test/runtime/fqdn.go
Labels: area/CI, pending-review

#6535 FQDN: Test add monitor check.
  test/runtime/fqdn.go
Labels: area/CI, needs-backport/1.4, pending-review

#6568 pkg/endpoint: do DeepCopy for proxy stats
  Makefile
  api/v1/models/doc.go
  api/v1/models/message_forwarding_statistics.go
  api/v1/models/proxy_statistics.go
  api/v1/models/request_response_statistics.go
  api/v1/models/zz_generated.deepcopy.go
  pkg/endpoint/endpoint.go
Labels: kind/bug, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4, pending-review

#6551 daemon: do not add endpoint if client connection closes during add operation
  daemon/endpoint.go
Labels: area/k8s, kind/bug, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4, pending-review, release-note/bug

#6567 daemon: start status collector after cilium-health initialization
  daemon/daemon.go
  daemon/daemon_main.go
Labels: area/daemon, kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review

#6564 examples/kubernetes: remove 1.13/cilium-rbac leftover
  examples/kubernetes/1.13/cilium-rbac.yaml
Labels: backport/1.3, kind/cleanup, pending-review

#6558 Fix crash in lbmap due to backendsByMapIndex containing holes
  pkg/maps/lbmap/bpfservice.go
  pkg/maps/lbmap/bpfservice_test.go
Labels: kind/bug, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4, release-note/bug

#6570 pkg/health: protect local variable against concurrent writes
  pkg/health/server/server.go
Labels: kind/bug, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4, pending-review

#6575 pkg/client: sort kubernetes API versions for CLI output
  pkg/client/client.go
Labels: kind/cleanup, needs-backport/1.3, needs-backport/1.4, pending-review, priority/low, release-note/minor

#6578 Prepare for 1.3.2 release
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-pre-flight.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-pre-flight.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-pre-flight.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-pre-flight.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-pre-flight.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.3

#6547 docs: L3/7 toFQDNs documentation w/ matchPattern
  Documentation/policy/language.rst
  Documentation/policy/troubleshooting.rst
  Documentation/spelling_wordlist.txt
  examples/policies/l3/fqdn/fqdn.yaml
  examples/policies/l7/dns/dns-visibility.json
  examples/policies/l7/dns/dns-visibility.yaml
  examples/policies/l7/dns/dns.json
  examples/policies/l7/dns/dns.yaml
Labels: area/documentation, pending-review

#6585 docs: Update spelling list for toFQDNs rules
  Documentation/policy/language.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, pending-review

#6584 example: Fix DNS example policy
  examples/policies/l7/dns/dns-visibility.json
Labels: needs-backport/1.4

#6589 examples: remove blank line at end of dns.yaml
  examples/policies/l7/dns/dns.yaml
Labels: area/CI, area/documentation, pending-review

#6592 bpf: add check for CONFIG_MAP defines
  bpf/lib/eps.h
  bpf/lib/maps.h
  daemon/bpf.sha
Labels: area/datapath, needs-backport/1.4, pending-review

#6248 pid: handle os interrupts in daemon_main
  daemon/cleanup.go
  daemon/daemon_main.go
  pkg/cleanup/cleanup.go
  pkg/cleanup/cleanup_test.go
  pkg/pidfile/pidfile.go
Labels: area/daemon, kind/cleanup, needs-backport/1.4, pending-review

#6521 Test: First bootstrap of Kubernetes FQDN test
  test/k8sT/fqdn.go
  test/k8sT/manifests/bind_deployment.yaml
  test/k8sT/manifests/fqdn-proxy-policy.yaml
  test/provision/k8s_install.sh
  test/provision/manifest/1.12/coredns_deployment.yaml
  test/provision/manifest/1.13/coredns_deployment.yaml
  test/provision/manifest/coredns_deployment.yaml
  test/provision/manifest/kubedns_deployment.yaml
Labels: area/CI, pending-review

#6571 DNSProxy: Provide a flag for rejected DNS queries.
  Documentation/cmdref/cilium-agent.md
  daemon/daemon.go
  daemon/daemon_main.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/option/config.go
Labels: area/daemon, needs-backport/1.4, pending-review, ready-to-merge

#6594 test: Run cilium status preflight check
  test/helpers/kubectl.go
Labels: area/CI, needs-backport/1.4, pending-review

#6606 FQDN: use the correct TTL on DNS-proxy
  daemon/daemon.go
Labels: area/daemon, needs-backport/1.4, pending-review

#6611 daemon: Do not omit any error of createNodeConfigHeaderfile
  daemon/daemon.go
Labels: area/daemon, kind/bug, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4

#6609 daemon: Exit daemon when usage is printed
  daemon/daemon_main.go
Labels: area/daemon, kind/bug, needs-backport/1.4, pending-review

#6613 Print IPAM ranges in cilium status
  pkg/client/client.go
Labels: area/cli, kind/enhancement, pending-review, release-note/minor

#6626 contrib: Add gofat to list size of go dependencies
  contrib/gofat/README.md
  contrib/gofat/gofat
Labels: area/documentation

#6622 fqdn: Remove *domain.com special case
  Documentation/policy/language.rst
  pkg/fqdn/matchpattern/matchpattern.go
  pkg/fqdn/matchpattern/matchpattern_test.go
Labels: area/documentation, area/policy, needs-backport/1.4, pending-review

#6598 Ginkgo: Call AfterAll if it fails on BeforeAll
  test/ginkgo-ext/scopes.go
Labels: area/CI, pending-review

#6627 Update AUTHORS file
  AUTHORS
Labels: pending-review

#6624 agent: Fix endpoint restore with unmounted BPF filesystem
  daemon/state.go
  pkg/maps/lxcmap/lxcmap.go
Labels: kind/bug, kind/regression, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4, pending-review, release-note/bug

#6628 client: Fix a possible NULL pointer dereference of localNode
  pkg/client/client.go
Labels: area/cli, kind/bug, needs-backport/1.4

#6636 health: acquire lock to set state to WaitingToRegenerate in LaunchAsEndpoint
  cilium-health/launch/endpoint.go
Labels: area/health, kind/bug, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4

#6635 kubernetes: Fix terminationGracePeriodSeconds for minikube example YAMLs
  examples/kubernetes/1.10/cilium-minikube-ds.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium-minikube-ds.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium-minikube-ds.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium-minikube-ds.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.8/cilium-minikube-ds.yaml
  examples/kubernetes/1.8/cilium-minikube.yaml
  examples/kubernetes/1.9/cilium-minikube-ds.yaml
  examples/kubernetes/1.9/cilium-minikube.yaml
  examples/kubernetes/templates/v1/cilium-minikube-ds.yaml.sed
Labels: area/documentation, needs-backport/1.4, pending-review

#6557 Test: On fail retrieve all the logs
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#6639 Prepare 1.4.0-rc3 release
  VERSION
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-minikube-ds.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.10/cilium-operator.yaml
  examples/kubernetes/1.10/cilium-pre-flight.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-minikube-ds.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium-operator.yaml
  examples/kubernetes/1.11/cilium-pre-flight.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-minikube-ds.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium-operator.yaml
  examples/kubernetes/1.12/cilium-pre-flight.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-crio-ds.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-ds.yaml
  examples/kubernetes/1.13/cilium-minikube-ds.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium-operator.yaml
  examples/kubernetes/1.13/cilium-pre-flight.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-minikube-ds.yaml
  examples/kubernetes/1.8/cilium-minikube.yaml
  examples/kubernetes/1.8/cilium-operator.yaml
  examples/kubernetes/1.8/cilium-pre-flight.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-minikube-ds.yaml
  examples/kubernetes/1.9/cilium-minikube.yaml
  examples/kubernetes/1.9/cilium-operator.yaml
  examples/kubernetes/1.9/cilium-pre-flight.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: pending-review

#6608 endpoint: pod ipvlan support
  Documentation/architecture.rst
  Documentation/cmdref/cilium-agent.md
  Documentation/spelling_wordlist.txt
  api/v1/models/daemon_configuration_status.go
  api/v1/models/datapath_mode.go
  api/v1/models/endpoint_change_request.go
  api/v1/models/message_forwarding_statistics.go
  api/v1/models/proxy_statistics.go
  api/v1/models/request_response_statistics.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  bpf/bpf_lxc.c
  bpf/init.sh
  bpf/lib/common.h
  bpf/lib/config.h
  contrib/codegen/Makefile
  contrib/codegen/hexgen.c
  contrib/codegen/hexgen.h
  daemon/bpf.sha
  daemon/daemon.go
  daemon/daemon_main.go
  daemon/endpoint.go
  pkg/bpf/bpf_linux.go
  pkg/datapath/loader/loader.go
  pkg/datapath/loader/loader_test.go
  pkg/datapath/loader/netlink.go
  pkg/defaults/defaults.go
  pkg/endpoint/bpf.go
  pkg/endpoint/cache.go
  pkg/endpoint/connector/add.go
  pkg/endpoint/connector/ipvlan.go
  pkg/endpoint/connector/veth.go
  pkg/endpoint/endpoint.go
  pkg/ipam/init.go
  pkg/logging/logfields/logfields.go
  pkg/node/manager.go
  pkg/option/config.go
  pkg/option/runtime_options.go
  plugins/cilium-cni/cilium-cni.go
Labels: area/daemon, area/datapath, pending-review

#6645 daemon: fix legacy-host-allows-world option
  daemon/daemon_main.go
Labels: needs-backport/1.4, pending-review

#6529 1.2 backports 19-01-02
  daemon/daemon.go
Labels: backport/1.2, pending-review

#6646 fqdn/proxy: More reliable notify endpoint lookups
  daemon/daemon.go
Labels: kind/bug, needs-backport/1.4, pending-review

#6644 pkg/option: clean up some environment variables
  daemon/daemon_main.go
  pkg/option/config.go
Labels: kind/cleanup, needs-backport/1.4, pending-review

#6657 Prepare for v1.4.0-rc4 release
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-minikube-ds.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.10/cilium-operator.yaml
  examples/kubernetes/1.10/cilium-pre-flight.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-minikube-ds.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium-operator.yaml
  examples/kubernetes/1.11/cilium-pre-flight.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-minikube-ds.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium-operator.yaml
  examples/kubernetes/1.12/cilium-pre-flight.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-crio-ds.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-ds.yaml
  examples/kubernetes/1.13/cilium-minikube-ds.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium-operator.yaml
  examples/kubernetes/1.13/cilium-pre-flight.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-minikube-ds.yaml
  examples/kubernetes/1.8/cilium-minikube.yaml
  examples/kubernetes/1.8/cilium-operator.yaml
  examples/kubernetes/1.8/cilium-pre-flight.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-minikube-ds.yaml
  examples/kubernetes/1.9/cilium-minikube.yaml
  examples/kubernetes/1.9/cilium-operator.yaml
  examples/kubernetes/1.9/cilium-pre-flight.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: pending-review

#6662 cilium, ipvlan: add iptables rules switch and set up ipvlan mode accordingly
  Documentation/cmdref/cilium-agent.md
  api/v1/models/daemon_configuration_status.go
  api/v1/models/ipvlan_configuration.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/daemon.go
  daemon/daemon_main.go
  pkg/endpoint/connector/ipvlan.go
  pkg/option/config.go
  plugins/cilium-cni/cilium-cni.go
Labels: area/daemon, area/datapath, needs-backport/1.4, pending-review

#6663 maps/tunnel: Retire code for removal of tunnel_endpoint_map
  pkg/maps/tunnel/tunnel.go
Labels: needs-backport/1.4, pending-review

#6601 Add troubleshooting section
  Documentation/images/troubleshooting_policy.png
  Documentation/troubleshooting.rst
Labels: area/documentation, pending-review

#6668 Documentation: add "behaviour" to spelling wordlist
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.4

#6634 kubernetes: Use 2.0.4 version of cilium-etcd-operator
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-etcd-operator.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-etcd-operator.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-etcd-operator.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-etcd-operator.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-etcd-operator.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-etcd-operator.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/Makefile
Labels: needs-backport/1.4, pending-review

#6670 v1.2 backport : endpoint: do not regenerate health endpoint after identity change
  pkg/endpoint/endpoint.go
Labels: backport/1.2, pending-review

#6673 cilium, ipvlan: fix tail call map fd leakage
  pkg/endpoint/endpoint.go
Labels: area/daemon, kind/bug, needs-backport/1.4

#6682 Documentation: add "matchPattern" to spelling wordlist
  Documentation/spelling_wordlist.txt
Labels: area/documentation, pending-review

#6658 Prepare for release v1.2.7
  AUTHORS
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-crio-ds.yaml
  examples/kubernetes/1.7/cilium-crio.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.2, kind/release, pending-review

#6666 examples/kubernetes: fix crio k8s descriptors
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio-transforms2sed.sed
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio-transforms2sed.sed
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-crio-ds.yaml
  examples/kubernetes/1.13/cilium-crio-transforms2sed.sed
  examples/kubernetes/1.13/cilium-crio.yaml
Labels: area/k8s, kind/cleanup, needs-backport/1.4, pending-review

#6661 examples/kubernetes: set enable-[ipv4|ipv6] as optional envVar
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-minikube-ds.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-minikube-ds.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-minikube-ds.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-crio-ds.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-ds.yaml
  examples/kubernetes/1.13/cilium-minikube-ds.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-minikube-ds.yaml
  examples/kubernetes/1.8/cilium-minikube.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-minikube-ds.yaml
  examples/kubernetes/1.9/cilium-minikube.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-minikube-ds.yaml.sed
Labels: area/k8s, needs-backport/1.4, pending-review

#6669 v1.3: disable microscope in CI
  test/helpers/kubectl.go
  test/k8sT/microscope.go
Labels: backport/1.3

#6676 Gopkg.*: bump etcd library to v3.3.11
  Gopkg.lock
  Gopkg.toml
Labels: kind/cleanup, pending-review, priority/low

#6621 DNS getting started guide
  Documentation/gettingstarted/dns.rst
  Documentation/gettingstarted/index.rst
  Documentation/policy/language.rst
  examples/kubernetes-dns/dns-matchname.yaml
  examples/kubernetes-dns/dns-pattern.yaml
  examples/kubernetes-dns/dns-port.yaml
  examples/kubernetes-dns/dns-sw-app.yaml
Labels: area/documentation, needs-backport/1.4

#6695 plugins/cilium-cni: do not error if variable unset
  plugins/cilium-cni/cni-install.sh
  plugins/cilium-cni/cni-uninstall.sh
Labels: integration/cni-flannel, needs-backport/1.4, pending-review

#6694 daemon: Create BPF maps before restoring service IDs
  daemon/daemon.go
  daemon/daemon_main.go
Labels: needs-backport/1.4, pending-review

#6680 bpf: Simplify and fix ENABLE_NAT46 dependencies
  bpf/Makefile
  bpf/lib/common.h
  bpf/lib/conntrack.h
  bpf/lib/nat46.h
  daemon/bpf.sha
  pkg/option/runtime_options.go
Labels: area/datapath, needs-backport/1.4, pending-review

#6691 workloads/crio: do not print StatusResponse struct
  pkg/workloads/cri.go
  pkg/workloads/crio.go
Labels: area/containerd, needs-backport/1.4, pending-review

#6703 cilium, ipvlan: derive secctx from ipcache in bpf_netdev
  bpf/bpf_netdev.c
  daemon/bpf.sha
  daemon/daemon.go
Labels: area/datapath, needs-backport/1.4, pending-review

#6665 sockops: rename sock_ops_map to cilium_sock_ops_map
  bpf/sockops/sockops_config.h
  daemon/bpf.sha
  pkg/maps/sockmap/sockmap.go
  pkg/sockops/sockops.go
Labels: area/datapath, needs-backport/1.4, pending-review

#6702 test: bump k8s 1.12.4 to 1.12.5
  test/provision/k8s_install.sh
Labels: area/CI, area/k8s, kind/enhancement, pending-review

#6719 ipam: Release IPv6 IP when AllocateNext() is requested to allocate both and fails
  pkg/ipam/allocator.go
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review, release-note/bug

#6717 fqdn: Do not report stats on nil Endpoint
  daemon/fqdn.go
Labels: area/daemon, kind/bug, needs-backport/1.4

#6723 docs: update minikube gsg
  Documentation/gettingstarted/minikube.rst
Labels: area/documentation, needs-backport/1.4, pending-review

#6715 cilium, ipvlan: implement missing host connectivity
  bpf/bpf_netdev.c
  bpf/init.sh
  daemon/bpf.sha
  daemon/daemon_main.go
  daemon/node_discovery.go
Labels: area/daemon, area/datapath, needs-backport/1.4, pending-review

#6734 docs: cleaning up leftover in minikube gsg
  Documentation/gettingstarted/minikube.rst
Labels: area/documentation, needs-backport/1.4, pending-review

#6742 Test: Increase curl timeout
  test/helpers/cons.go
Labels: area/CI, needs-backport/1.4, pending-review, priority/high

#6738 health: Fix health check to local health agent
  cilium-health/launch/endpoint.go
  daemon/health.go
Labels: kind/bug, needs-backport/1.4, pending-review

#6716 pkg/sockops: replace filepath related string concatenation with filepath.Join
  pkg/sockops/sockops.go
Labels: kind/cleanup, ready-to-merge

#6752 node/manager: Disable unstable unit test
  pkg/node/manager/manager_test.go
Labels: area/CI, needs-backport/1.4, pending-review, priority/high

#6709 fix: print help text to stderr
  test/runtime/cli.go
  tests/11-help-stderr.sh
Labels: area/cli, kind/cleanup, needs-backport/1.4, release-note/bug

#6741 Test: retrieve docker logs by name.
  test/helpers/docker.go
Labels: area/CI, pending-review

#6750 endpoint: do not return error if endpoint RLock fails due to endpoint being removed
  pkg/endpoint/endpoint.go
  pkg/endpoint/errors.go
  pkg/endpoint/lock.go
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review

#6708 test: make sure ClusterID() works as expected
  pkg/identity/numericidentity_test.go
Labels: pending-review

#6706 Contrib: Add prometheus and grafana dashboards.
  Documentation/configuration/metrics.rst
  examples/kubernetes/addons/prometheus/README.md
  examples/kubernetes/addons/prometheus/monitoring-example.yaml
  examples/kubernetes/addons/prometheus/prometheus.yaml
  examples/kubernetes/addons/prometheus/templates/01-cilium.yaml
  examples/kubernetes/addons/prometheus/templates/02-namespaces.yaml
  examples/kubernetes/addons/prometheus/templates/03-kube-metrics.yaml
  examples/kubernetes/addons/prometheus/templates/04-prometheus.yaml
  examples/kubernetes/addons/prometheus/templates/05-grafana.yaml
  examples/kubernetes/addons/prometheus/templates/06-grafana-config.yaml
  examples/kubernetes/addons/prometheus/templates/Makefile
Labels: area/documentation, area/metrics, needs-backport/1.4, pending-review, release-note/minor

#6764 Kubernetes: CEP fixes.
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/apis/cilium.io/v2/types.go
  test/helpers/kubectl.go
Labels: area/CI, area/daemon, needs-backport/1.4, pending-review

#6725 proxylib: Add SONAME, create .so* files and symlinks
  .gitignore
  Makefile.defs
  proxylib/Makefile
Labels: area/misc, pending-review, requires-janitor-review

#6763 daemon: sockops: delay sockops init till node_config.h gets generated
  daemon/daemon.go
Labels: kind/bug, needs-backport/1.4

#6767 daemon: Sanitize fqdn/cache API matchpattern parameter
  daemon/fqdn.go
Labels: area/daemon, needs-backport/1.4

#6768 Jenkins: delete docker-compose networks
  Makefile
  ginkgo.Jenkinsfile
Labels: area/CI, needs-backport/1.4, pending-review, priority/high

#6193 Ginkgo Test: Add benchmark class of tests and an initial netperf test
  test/helpers/cilium.go
  test/runtime/benchmark.go
Labels: area/CI, pending-review, ready-to-merge

#6774 node: Do not require ipv6AllocRange in ipv4-only mode
  pkg/node/node_address.go
Labels: area/daemon, kind/bug, needs-backport/1.4, pending-review

#6758 k8s: Don't list identities in CEP for default-allow
  pkg/endpoint/endpoint_status.go
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
Labels: needs-backport/1.4, pending-review

#6785 endpoint: Properly cache ipvlan option
  pkg/endpoint/cache.go
  pkg/endpoint/endpoint.go
Labels: needs-backport/1.4, pending-review

#6769 kvstore: Fix panic in `cilium kvstore` CLI
  pkg/kvstore/client.go
Labels: kind/bug, needs-backport/1.4, pending-review

#6794 daemon: syncLBMapsWithK8s - delete k8s service once if not found
  daemon/loadbalancer.go
Labels: area/k8s, needs-backport/1.3, needs-backport/1.4, pending-review, priority/medium, priority/release-blocker, release-note/bug

#6799 pkg/endpoint: restore endpoints that were being regenerated
  pkg/endpoint/endpoint.go
Labels: kind/bug, needs-backport/1.4, pending-review, release-note/bug

#6806 operator: Allow running operator before kvstore connectivity is achieved
  operator/k8s_service_sync.go
Labels: kind/bug, needs-backport/1.4, pending-review, priority/release-blocker

#6808 endpoint: Fix old endpoint identity release
  pkg/endpoint/endpoint.go
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review, priority/release-blocker, release-note/bug

#6813 Test: Services wait until all endpoints are ready.
  test/k8sT/Services.go
Labels: area/CI, pending-review

#6745 CLI for clearing FQDN proxy cache
  Documentation/cmdref/cilium.md
  Documentation/cmdref/cilium_fqdn.md
  Documentation/cmdref/cilium_fqdn_cache.md
  Documentation/cmdref/cilium_fqdn_cache_clean.md
  cilium/cmd/fqdn.go
Labels: needs-backport/1.4, needs-rebase, pending-review

#6805 operator: Automatically restart unmanaged kube-dns pods
  operator/k8s_pod_controller.go
  operator/main.go
Labels: needs-backport/1.4, pending-review, priority/release-blocker

#6817 client: Use one err variable in client with timeout
  pkg/client/client.go
Labels: kind/bug, needs-backport/1.4, pending-review

#6811 Fix panic in idpool and remove suspicious cache refresh
  pkg/idpool/idpool.go
  pkg/idpool/idpool_test.go
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/cache.go
Labels: kind/bug, needs-backport/1.4, pending-review, priority/release-blocker, release-note/bug

#6827 fqdn: No warning when toFQDNs are missing IPs during generation
  pkg/fqdn/rulegen.go
Labels: area/daemon, needs-backport/1.4, pending-review

#6814 Test: Assertion helper change order.
  test/k8sT/assertionHelpers.go
Labels: area/CI, needs-backport/1.4, pending-review

#6828 Vagrantfiles: disable VirtualBox audio
  Vagrantfile
  test/Vagrantfile
Labels: area/misc, pending-review

#6829 operator: Don't restart kube-dns when running in HostNetwork mode
  operator/k8s_pod_controller.go
Labels: kind/bug, needs-backport/1.4, pending-review

#6837 Documentation: add "fqdn" to allowed wordlist
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.3, needs-backport/1.4, pending-review

#6834 backporting: Accept multiple commits in 'cherry-pick'
  contrib/backporting/cherry-pick
Labels: area/misc, needs-backport/1.2, needs-backport/1.3, needs-backport/1.4, pending-review

#6843 Don't put empty node ips into special identities
  daemon/daemon.go
Labels: needs-backport/1.4, priority/release-blocker, ready-to-merge

#6844 datapath/linux: fix updateTunnelMapping when old and new CIDR are nil
  pkg/datapath/linux/node.go
Labels: needs-backport/1.4, pending-review

#6816 cilium: auto-detect when kernel has ipv6 compiled out and set enable-ipv6 to false
  daemon/daemon_main.go
Labels: needs-backport/1.4, pending-review

#6841 Jenkins: Flannel job fixes
  flannel.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: area/CI, integration/cni-flannel, needs-backport/1.4, pending-review

#6854 kubernetes: Bump cilium-etcd-operator version to 2.0.5
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-etcd-operator.yaml
  examples/kubernetes/1.10/cilium-with-node-init.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-etcd-operator.yaml
  examples/kubernetes/1.11/cilium-with-node-init.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-etcd-operator.yaml
  examples/kubernetes/1.12/cilium-with-node-init.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-etcd-operator.yaml
  examples/kubernetes/1.13/cilium-with-node-init.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-etcd-operator.yaml
  examples/kubernetes/1.8/cilium-with-node-init.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-etcd-operator.yaml
  examples/kubernetes/1.9/cilium-with-node-init.yaml
  examples/kubernetes/1.9/cilium.yaml
  examples/kubernetes/Makefile
Labels: needs-backport/1.4, pending-review

#6855 pkg/client: set new client structure in case of failure
  pkg/client/client.go
Labels: kind/bug, kind/enhancement, needs-backport/1.4, pending-review

#6860 operator: Pace kube-dns pod restarts to every 5 minutes
  operator/k8s_pod_controller.go
Labels: area/k8s, kind/bug, needs-backport/1.4

#6840 Nightly fixes
  test/helpers/policygen/models.go
Labels: area/CI, needs-backport/1.4, pending-review

#6864 Test: Report a kubernetes summary to a single file.
  test/helpers/kubectl.go
Labels: area/CI, needs-backport/1.4, pending-review
