Repository cilium/cilium, pull requests merged in 2019-07, with the labels that each got.

#8427 pkg/kvstore: add etcd lease information into cilium status
  pkg/kvstore/etcd.go
Labels: needs-backport/1.5, pending-review, release-note/minor

#8421 operator: do not depend on cluster DNS to connect to etcd
  operator/k8s_service_sync.go
  operator/main.go
Labels: area/operator, kind/bug, kind/enhancement, pending-review

#8031 cli: Restore cilium cleanup behaviour
  cilium/cmd/cleanup.go
  contrib/packaging/docker/init-container.sh
Labels: pending-review

#8388 daemon: Change loglevel of "ipcache entry owned by kvstore or agent"
  daemon/k8s_watcher.go
Labels: area/daemon, kind/enhancement, needs-backport/1.4, needs-backport/1.5, pending-review

#8432 contrib/release: Add cilium-health-responder to uploadrev
  contrib/release/README.md
  contrib/release/uploadrev
Labels: area/misc, pending-review

#8438 istio: Update to 1.2.2
  Dockerfile
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
  test/k8sT/manifests/bookinfo-v1-istio.yaml
  test/k8sT/manifests/bookinfo-v2-istio.yaml
  test/k8sT/manifests/istio-cilium.yaml
  test/k8sT/manifests/istio-crds.yaml
Labels: area/proxy, pending-review, priority/high

#8444 test: set 1.15 by default in CI Vagrantfile
  test/Vagrantfile
Labels: area/CI, needs-backport/1.5, pending-review

#8443 Change nightly CI job label from fixed to baremetal
  Jenkinsfile.nightly
Labels: needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#8446 [v1.3] examples/kubernetes: bump cilium to v1.3.7
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-pre-flight.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-pre-flight.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-pre-flight.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-pre-flight.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-pre-flight.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.3, pending-review

#8414 Allow QPS/Burst for AWS client to be configurable
  operator/eni.go
  operator/main.go
  pkg/aws/ec2/ec2.go
  pkg/option/config.go
Labels: kind/enhancement, pending-review, release-note/minor

#8451 policy: Restore changes to search context
  pkg/policy/rules.go
Labels: area/policy, kind/enhancement, pending-review, priority/medium

#8453 pkg/k8s: hold mutex while adding events to the queue
  pkg/k8s/service_cache.go
Labels: kind/bug, needs-backport/1.4, needs-backport/1.5, pending-review

#8450 policy: check if rules already select endpoint in resolveL4{Ingress,Egress}Policy
  pkg/policy/rules.go
Labels: area/policy, kind/performance, pending-review

#8462 Retry provisioning vagrant vms in CI
  ginkgo.Jenkinsfile
Labels: area/CI-improvement, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#8449 cli: fix panic in cilium bpf sha get command
  cilium/cmd/bpf_sha_get.go
Labels: area/cli, kind/bug, needs-backport/1.5, pending-review

#8458 Add cilium-endpoint-gc-interval flag to cilium-operator
  operator/k8s_cep_gc.go
  operator/main.go
Labels: area/operator

#8460 pkg/k8s: add conversion for DeleteFinalStateUnknown objects
  pkg/k8s/factory_functions.go
  pkg/k8s/factory_functions_test.go
Labels: kind/bug, needs-backport/1.5, pending-review

#8464 pkg/kvstore: inform user when etcd gets a new LeaseID
  pkg/kvstore/etcd.go
Labels: kind/enhancement, pending-review

#8480 datapath: Avoid MASQing NodePort replies
  bpf/bpf_lxc.c
  bpf/lib/common.h
  daemon/bpf.sha
  pkg/datapath/iptables/iptables.go
  pkg/datapath/linux/linux_defaults/mark.go
Labels: area/daemon, area/datapath, kind/bug, pending-review

#8487 daemon: Do not remove revNAT if removing svc fails
  daemon/k8s_watcher.go
Labels: area/daemon, kind/bug, needs-backport/1.4, needs-backport/1.5, pending-review

#8486 daemon: Remove svc-v2 maps when restore is disabled
  daemon/daemon.go
Labels: area/daemon, kind/bug, needs-backport/1.5, pending-review

#8477 [CI] retry vm provisioning, increase timeout
  flannel.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
  kubernetes-upstream.Jenkinsfile
Labels: needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, needs-rebase, pending-review

#8495 operator: startSynchronizingServices before kvstore
  operator/main.go
Labels: area/operator, kind/bug, pending-review

#8499 daemon: Fix merge between PRs #8419 and #8486
  daemon/daemon.go
Labels: area/datapath, pending-review

#8498 ipcache: Fix deadlock between ipcache and endpoint
  pkg/datapath/ipcache/listener.go
Labels: area/datapath, pending-review, priority/release-blocker

#8488 aws/eni: Fall back to Get() when Update() does not return latest revision
  operator/eni.go
  pkg/aws/eni/node.go
  pkg/aws/eni/node_manager.go
  pkg/aws/eni/node_manager_test.go
Labels: kind/bug, pending-review

#8467 pkg/datapath: add base64 encoded json configuration to config header file
  cilium/cmd/bpf_sha_get.go
  pkg/datapath/linux/config.go
Labels: area/datapath, needs-rebase, pending-review

#8494 lbmap: Get rid of bpfService cache lock
  pkg/maps/lbmap/bpfservice.go
  pkg/maps/lbmap/lbmap.go
Labels: area/daemon, kind/bug, kind/enhancement, needs-backport/1.5, pending-review

#8483 docs, bpf: Update command of creating netdevsim
  Documentation/bpf.rst
Labels: area/documentation, pending-review

#8513 datapath: Do not fail if route contains gw equal to dst
  pkg/datapath/linux/node.go
Labels: area/datapath, ci/net-next, kind/bug, needs-backport/1.5, pending-review

#8514 endpoint: Correctly check whether pod name is available
  daemon/endpoint.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_test.go
Labels: kind/bug

#8442 Bump cilium/ubuntu-next version to 31
  vagrant_box_defaults.rb
Labels: area/misc, ci/net-next, pending-review

#8489 Dockerfile: Add init-container.sh to cilium image
  Dockerfile
  contrib/packaging/docker/Dockerfile.init
Labels: pending-review

#8466 policy: add documentation to L4Filter type
  pkg/policy/l4.go
Labels: area/policy, kind/cleanup, pending-review

#8519 config: make policy trigger duration configurable
  daemon/daemon.go
  daemon/daemon_main.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: area/daemon, kind/enhancement, pending-review

#8509 Update FQDN policy troubleshooting docs
  Documentation/policy/troubleshooting.rst
Labels: area/documentation, pending-review

#8508 test: move creation of Istio resources into `It`
  test/k8sT/istio.go
Labels: area/CI, kind/bug/CI, needs-backport/1.5

#8481 datapath: Fix NodePort reply mark
  bpf/bpf_lxc.c
  bpf/lib/common.h
  daemon/bpf.sha
  pkg/datapath/iptables/iptables.go
  pkg/datapath/linux/linux_defaults/mark.go
Labels: area/datapath, ci/net-next, kind/bug, pending-review, priority/release-blocker

#8525 update to golang 1.12.7
  .travis.yml
  Dockerfile
  Dockerfile.builder
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
Labels: area/k8s, needs-backport/1.5, release-note/minor

#8524 test: update k8s testing versions to v1.12.10, v1.13.8 and v1.14.4
  test/provision/k8s_install.sh
Labels: area/k8s, needs-backport/1.5, pending-review

#8528 Small arping improvements
  pkg/datapath/linux/node.go
Labels: area/datapath, pending-review

#8511 endpoint: do not log warning for specific state transition
  pkg/endpoint/endpoint.go
Labels: needs-backport/1.5, pending-review

#8531 examples: Remove unused microk8s DS YAMLs
  examples/kubernetes/1.10/cilium-microk8s-ds.yaml
  examples/kubernetes/1.11/cilium-microk8s-ds.yaml
  examples/kubernetes/1.12/cilium-microk8s-ds.yaml
  examples/kubernetes/1.13/cilium-microk8s-ds.yaml
  examples/kubernetes/1.14/cilium-microk8s-ds.yaml
  examples/kubernetes/1.15/cilium-microk8s-ds.yaml
Labels: area/misc, kind/cleanup, pending-review

#8534 Prepare for v1.3.8
  AUTHORS
  NEWS.rst
  VERSION
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-pre-flight.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-pre-flight.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-pre-flight.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-pre-flight.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-pre-flight.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.3, pending-review

#8520 Add k8s client qps and burst as cli flags for the operator
  daemon/daemon.go
  operator/main.go
  pkg/defaults/defaults.go
  pkg/k8s/client.go
  pkg/k8s/cnp_test.go
  pkg/k8s/config.go
  pkg/k8s/informer/informer_test.go
  pkg/option/config.go
Labels: area/k8s, kind/enhancement, pending-review

#8546 update golang to 1.12.7 for cilium-{operator,docker-plugin}
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
Labels: needs-backport/1.5, pending-review

#8541 make: fix unnecessery warnings while running make rules
  Makefile
  Makefile.defs
Labels: pending-review

#8547 operator: restart non-managed kube-dns pods before connecting to etcd
  operator/main.go
Labels: kind/bug, needs-backport/1.5, pending-review, priority/high

#8471 eni: Retry on attachment index conflict
  Gopkg.lock
  pkg/aws/eni/node.go
Labels: kind/bug, pending-review

#8539 endpoint: Fix handling of proxy statistics.
  daemon/fqdn.go
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/regeneration/owner.go
  pkg/envoy/accesslog_server.go
  pkg/policy/proxyid.go
  pkg/policy/proxyid_test.go
  pkg/proxy/kafka.go
  pkg/proxy/logger/epinfo.go
  pkg/proxy/mock_test.go
Labels: area/policy, area/proxy, kind/bug, pending-review, priority/high

#8469 policy: remove `CIDRPolicy` structure
  daemon/daemon.go
  daemon/policy.go
  daemon/policy_test.go
  pkg/datapath/config.go
  pkg/datapath/datapath.go
  pkg/datapath/fake/datapath.go
  pkg/datapath/ipcache/listener.go
  pkg/datapath/linux/config.go
  pkg/datapath/linux/datapath.go
  pkg/endpoint/cache.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/policy.go
  pkg/policy/l3.go
  pkg/policy/l3_test.go
  pkg/policy/repository.go
  pkg/policy/resolve.go
  pkg/policy/resolve_test.go
  pkg/policy/rule.go
  pkg/policy/rule_test.go
  pkg/policy/rules.go
  test/runtime/Policies.go
Labels: area/policy, kind/performance, pending-review

#8554 health: Add ability to restrict listener address
  Documentation/cmdref/cilium-agent.md
  cilium-health/launch/endpoint.go
  cilium-health/launch/launcher.go
  cilium-health/responder/Makefile
  cilium-health/responder/main.go
  daemon/daemon_main.go
  pkg/health/defaults/defaults.go
  pkg/health/probe/responder/responder.go
  pkg/health/server/prober.go
  pkg/health/server/server.go
  pkg/option/config.go
Labels: area/health, kind/feature, pending-review

#8568 [docs] Add note about custom branches test runs
  Documentation/contributing.rst
Labels: area/documentation, pending-review, ready-to-merge

#8566 daemon: Remove svc from cache in syncLBMapsWithK8s
  daemon/loadbalancer.go
Labels: area/daemon, kind/bug, needs-backport/1.4, needs-backport/1.5, pending-review

#8567 policy: explicitly return nil when returning nil SelectorPolicy interface
  pkg/policy/distillery.go
Labels: area/policy, kind/bug, pending-review

#8544 pkg/{kvstore,node}: delay node delete event in kvstore
  pkg/clustermesh/services_test.go
  pkg/kvstore/store/store.go
  pkg/kvstore/store/store_test.go
  pkg/node/store/store.go
Labels: area/clustermesh, kind/bug, kind/regression, needs-backport/1.5, release-note/bug

#8575 docs: Fix up unparsed SCM_WEB literals
  Documentation/gettingstarted/k8s-install-eks.rst
  Documentation/gettingstarted/kube-router.rst
Labels: area/documentation, needs-backport/1.5, pending-review

#8580 proxylib: move messages from Info --> Debug level
  proxylib/cassandra/cassandraparser.go
  proxylib/memcached/binary/parser.go
  proxylib/memcached/parser.go
  proxylib/memcached/text/parser.go
  proxylib/npds/client.go
  proxylib/npds/client_test.go
  proxylib/proxylib/instance.go
  proxylib/proxylib/policymap.go
  proxylib/proxylib/test_util.go
  proxylib/proxylib_test.go
  proxylib/r2d2/r2d2parser.go
  proxylib/test/accesslog_server.go
  proxylib/testparsers/blockparser.go
  proxylib/testparsers/headerparser.go
  proxylib/testparsers/lineparser.go
  proxylib/testparsers/passer.go
Labels: kind/cleanup, pending-review, priority/low

#8579 test: add `ExecMiddle` function
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/helpers/node.go
Labels: area/CI, needs-backport/1.5, pending-review

#8583 proxy: Do not error out if reading of open ports fails.
  pkg/proxy/netstat.go
  pkg/proxy/proxy.go
Labels: area/proxy, kind/bug, needs-backport/1.4, needs-backport/1.5, pending-review, priority/high

#8585 cilium: further improve local address selection
  pkg/datapath/linux/node_addressing.go
  pkg/ip/ip.go
  pkg/node/node_address_linux.go
Labels: area/daemon, area/datapath, kind/bug

#8581 envoy: Add SO_MARK option to listener config
  Dockerfile
  pkg/envoy/server.go
Labels: area/proxy, kind/enhancement, pending-review, priority/medium

#8582 proxy: Revert on error
  pkg/proxy/proxy.go
Labels: area/proxy, kind/bug, pending-review, priority/high

#8584 policy: Update all rule caches in updateEndpointsCaches()
  pkg/policy/repository.go
  pkg/policy/rules.go
Labels: area/policy, kind/enhancement, pending-review, priority/medium, ready-to-merge

#8569 identitymanager: misc. enhancements
  pkg/identity/identitymanager/log.go
  pkg/identity/identitymanager/manager.go
  pkg/identity/identitymanager/manager_test.go
Labels: area/policy, pending-review

#8598 eni: Disable installation of local node route
  pkg/nodediscovery/nodediscovery.go
Labels: kind/bug, pending-review, priority/release-blocker

#8602 test: only close SSH session if context is canceled
  test/helpers/ssh_command.go
Labels: area/CI-improvement, pending-review

#8611 pkg/kvstore: wait for node delete delay in unit tests
  pkg/kvstore/store/store_test.go
Labels: kind/bug, pending-review, priority/insane :rotating_light:

#8592 test: remove "Check Endpoint PolicyMap Generation" test
  test/runtime/Policies.go
Labels: area/CI, kind/cleanup, pending-review, priority/low, ready-to-merge

#8603 test: remove RuntimePolicyEnforcement tests
  test/runtime/Policies.go
Labels: area/CI, kind/cleanup, pending-review, priority/low, ready-to-merge

#8482 identity: Use timed ctx for WaitForInitialGlobalIdentities
  Documentation/cmdref/cilium-agent.md
  daemon/daemon_main.go
  daemon/state.go
  pkg/defaults/defaults.go
  pkg/endpoint/endpoint.go
  pkg/identity/cache/allocator.go
  pkg/ipcache/cidr.go
  pkg/option/config.go
Labels: area/daemon, pending-review

#8593 migrate test which checks too many ports in rule to unit test from Ginkgo
  pkg/policy/api/rule_validation_test.go
  test/runtime/Policies.go
Labels: area/CI, pending-review, ready-to-merge

#8548 test: misc. runtime policy test fixes
  test/runtime/Policies.go
Labels: area/CI, needs-backport/1.5

#8551 RFC: endpoint: change transition from restore state
  daemon/state.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_test.go
Labels: needs-backport/1.5, pending-review

#8614 health: Change cilium-health host-side veth link device name
  cilium-health/launch/endpoint.go
  pkg/datapath/iptables/iptables.go
Labels: area/datapath, ci/net-next, kind/bug, pending-review

#8612 proxy: Perform dnsproxy Close() in the returned finalizeFunc
  pkg/proxy/dns.go
Labels: area/proxy, kind/bug, needs-backport/1.5, priority/high

#8617 Fix some make slowness and broken commands
  Makefile
Labels: area/bugtool, area/misc, kind/cleanup, ready-to-merge

#8618 endpoint: Create redirects before bpf map updates.
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
Labels: area/proxy, kind/enhancement, needs-backport/1.4, needs-backport/1.5, pending-review

#8616 vendor, netlink: fix portid check handling
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/vishvananda/netlink/addr_linux.go
  vendor/github.com/vishvananda/netlink/filter.go
  vendor/github.com/vishvananda/netlink/filter_linux.go
  vendor/github.com/vishvananda/netlink/handle_unspecified.go
  vendor/github.com/vishvananda/netlink/link.go
  vendor/github.com/vishvananda/netlink/link_linux.go
  vendor/github.com/vishvananda/netlink/neigh_linux.go
  vendor/github.com/vishvananda/netlink/netlink_unspecified.go
  vendor/github.com/vishvananda/netlink/nl/nl_linux.go
  vendor/github.com/vishvananda/netlink/nl/tc_linux.go
  vendor/github.com/vishvananda/netlink/route_linux.go
  vendor/github.com/vishvananda/netlink/socket_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_monitor_linux.go
Labels: area/daemon, area/datapath, kind/bug, pending-review

#8574 labels: Do not filter out app.kubernetes.io prefix
  pkg/k8s/apis/cilium.io/const.go
  pkg/labels/filter.go
  pkg/labels/filter_test.go
Labels: area/k8s, kind/bug, needs-rebase, pending-review, release-note/minor

#8601 daemon: Use TestMain, SetUpSuite, and SetUpTest
  daemon/daemon_test.go
Labels: area/CI, kind/bug/CI, pending-review, priority/high

#8621 ip: add ip_darwin / ip_linux files
  pkg/ip/ip.go
  pkg/ip/ip_darwin.go
  pkg/ip/ip_linux.go
Labels: kind/cleanup, pending-review

#8586 endpoint: Make owner a member of Endpoint
  cilium-health/launch/endpoint.go
  daemon/daemon.go
  daemon/endpoint.go
  daemon/fqdn.go
  daemon/k8s_watcher.go
  daemon/policy.go
  daemon/policy_test.go
  daemon/state.go
  daemon/state_test.go
  pkg/endpoint/bpf.go
  pkg/endpoint/bpf_test.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_status_test.go
  pkg/endpoint/endpoint_test.go
  pkg/endpoint/events.go
  pkg/endpoint/policy.go
  pkg/endpoint/restore.go
  pkg/endpointmanager/manager.go
  pkg/endpointmanager/manager_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/proxy/kafka_test.go
  pkg/workloads/defaults.go
Labels: kind/cleanup, kind/enhancement, priority/medium, ready-to-merge

#8624 Run bpf unit tests
  Makefile
Labels: pending-review

#8626 Decouple CRD identity allocator from kvstore availability
  pkg/allocator/allocator.go
  pkg/allocator/allocator_test.go
  pkg/allocator/cache.go
  pkg/allocator/localkeys.go
  pkg/allocator/localkeys_test.go
  pkg/identity/cache/allocator.go
  pkg/k8s/identitybackend/identity.go
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/allocator_test.go
Labels: kind/bug, pending-review, priority/release-blocker

#8635 test: replace calls to `kubectl apply` using `ExecShort` with `ExecMiddle` in `ciliumInstall`
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, pending-review

#8648 k8s: Fix IPv6 NodePort provisioning and add a surrogate frontend with cilium_host IP
  pkg/k8s/service.go
Labels: area/daemon, pending-review, priority/release-blocker

#8631 [CI] Add timeout to ginkgo calls
  flannel.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: area/CI, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#8650 daemon: Fix removal of non-existing SVCs in syncLBMapsWithK8s
  daemon/loadbalancer.go
Labels: area/daemon, kind/bug, needs-backport/1.4, needs-backport/1.5, pending-review, priority/release-blocker

#8651 examples: Add CILIUM_WAIT_BPF_MOUNT variable to minikube DS
  examples/kubernetes/1.10/cilium-minikube-ds.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium-minikube-ds.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium-minikube-ds.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium-minikube-ds.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.14/cilium-minikube-ds.yaml
  examples/kubernetes/1.14/cilium-minikube.yaml
  examples/kubernetes/1.15/cilium-minikube-ds.yaml
  examples/kubernetes/1.15/cilium-minikube.yaml
  examples/kubernetes/templates/v1/cilium-minikube-ds.yaml.sed
Labels: area/k8s, kind/bug, needs-backport/1.6, pending-review, priority/release-blocker

#8655 endpoint: Do not error out when bpf map entry is already deleted.
  pkg/endpoint/bpf.go
  pkg/maps/policymap/policymap.go
  pkg/maps/policymap/policymap_privileged_test.go
Labels: kind/bug, needs-backport/1.6, pending-review, priority/high, priority/release-blocker

#8653 Prepare for v1.7 development
  VERSION
Labels: area/misc, pending-review

#8649 bpf: bpf based masq for nodeport to avoid tuple clashes
  bpf/bpf_netdev.c
  bpf/bpf_overlay.c
  bpf/init.sh
  bpf/lib/common.h
  bpf/lib/nat.h
  bpf/lib/nodeport.h
  bpf/node_config.h
  daemon/bpf.sha
  pkg/datapath/linux/config.go
  pkg/datapath/linux/linux_defaults/mark.go
Labels: area/datapath, needs-backport/1.6, pending-review, priority/release-blocker

#8647 Fix seds in microk8s docs
  Documentation/gettingstarted/microk8s.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8656 Documentation: update list of responsibilities of `cilium-operator`
  Documentation/concepts/overview.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8644 daemon: register warning_error metric after parsing CLI options
  daemon/daemon_main.go
Labels: kind/regression, needs-backport/1.5, needs-backport/1.6, release-note/bug

#8665 init-container: Look for a concrete BPFFS mount in /sys/fs/bpf
  contrib/packaging/docker/init-container.sh
Labels: area/k8s, kind/bug, pending-review, priority/release-blocker

#8676 bpf: initial docs for getting started on host reachable services
  Documentation/gettingstarted/host-services.rst
  Documentation/gettingstarted/index.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.6, pending-review

#8684 docs: Remove confusing mentioning of etcd server in ConfigMap
  Documentation/gettingstarted/host-services.rst
  Documentation/gettingstarted/ipvlan.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8681 docs: Add NodePort GSG
  Documentation/gettingstarted/index.rst
  Documentation/gettingstarted/nodeport.rst
Labels: area/documentation, needs-backport/1.6, pending-review, priority/release-blocker

#8670 datapath: Store NodePort client MAC addr in LRU map
  bpf/init.sh
  bpf/lib/nodeport.h
  bpf/node_config.h
  daemon/bpf.sha
  pkg/datapath/linux/config.go
Labels: area/datapath, kind/bug, needs-backport/1.6, pending-review, priority/release-blocker

#8673 test: Fix etcd-operator readiness check
  test/helpers/kubectl.go
  test/k8sT/assertionHelpers.go
Labels: area/CI, ci/fail-fast, kind/bug/CI, needs-backport/1.6, pending-review

#8687 endpoint: fix deadlock when endpoint EventQueue is full
  daemon/endpoint.go
  daemon/endpoint_test.go
  pkg/endpoint/endpoint.go
Labels: needs-backport/1.5, needs-backport/1.6, pending-review, priority/release-blocker

#8691 identity: Reduce churn, fix manager refcounts
  daemon/policy_test.go
  daemon/state.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/policy.go
  pkg/identity/identitymanager/manager.go
  pkg/identity/identitymanager/manager_test.go
  pkg/policy/distillery_test.go
  pkg/testutils/endpoint.go
Labels: area/daemon, kind/bug, needs-backport/1.6, pending-review, priority/release-blocker

#8689 Gopkg.toml: update kevinburke/ssh_config dependency
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/kevinburke/ssh_config/config.go
  vendor/github.com/kevinburke/ssh_config/lexer.go
  vendor/github.com/kevinburke/ssh_config/parser.go
  vendor/github.com/kevinburke/ssh_config/position.go
  vendor/github.com/pelletier/go-buffruneio/buffruneio.go
Labels: area/CI, kind/cleanup, needs-rebase

#8692 Improve debuggability of custom chain flush/delete
  pkg/datapath/iptables/iptables.go
Labels: area/datapath, kind/cleanup, pending-review

#8675 documentation: clean up upgrade guide and remove references to older versions of Cilium
  Documentation/install/upgrade.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8664 docs: Explain how to enable metrics
  Documentation/gettingstarted/grafana.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8705 bpf: fix nodeport over tunnel when vxlan/geneve have lco
  bpf/lib/encap.h
  daemon/bpf.sha
Labels: area/datapath, needs-backport/1.6, pending-review, priority/release-blocker

#8708 few nodeport and hostlb gsg improvements
  Documentation/gettingstarted/host-services.rst
  Documentation/gettingstarted/nodeport.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.6, pending-review

#8715 node: Update ipcache with health IPs
  pkg/node/manager/manager.go
Labels: area/daemon, pending-review

#8717 monitor: Add human-readable reason for NO_FIB_LOOKUP drops
  pkg/monitor/api/drop.go
Labels: area/monitor, kind/enhancement, needs-backport/1.6, pending-review

#8711 cilium: encryption, use default route interface if encrypt-interface is not specified.
  pkg/datapath/linux/config.go
Labels: area/encryption, needs-backport/1.6, pending-review, priority/high, priority/release-blocker

#8714 cilium: encryption, push tunnel_endpoint IP with encrypt ipcache entries
  pkg/node/manager/manager.go
Labels: area/encryption, needs-backport/1.6, pending-review, priority/high

#8718 lbmap: Do not fail to upsert if ARP neigh add fails
  pkg/maps/lbmap/lbmap.go
Labels: area/daemon, needs-backport/1.6, pending-review, priority/release-blocker

#8720 CI: Switch WaitforDeamonset/Deploy to shorter poll timeout
  test/helpers/kubectl.go
Labels: area/CI-improvement

#8702 contrib: Improve rebase-bindata function
  contrib/scripts/fix-sha.sh
  contrib/shell/util.sh
Labels: area/misc, kind/cleanup, ready-to-merge

#8709 metrics: fixes constant registering and unregistering of metrics map
  pkg/maps/metricsmap/metricsmap.go
Labels: area/daemon, kind/enhancement, needs-backport/1.6

#8728 pkg/monitor: add endpoint create and delete monitor notifications
  cilium-health/launch/endpoint.go
  daemon/endpoint.go
  pkg/endpointmanager/manager.go
  pkg/monitor/api/types.go
  pkg/monitor/api/types_test.go
  pkg/monitor/notifications/notifications.go
Labels: area/monitor, kind/meta, needs-backport/1.6, pending-review

#8725 policy/api: Add tests for reserved:unmanaged match
  pkg/policy/api/entity_test.go
Labels: area/policy, pending-review

#8736 agent: Fix wait for ipcache synchroniation when kvstore is disabled
  daemon/k8s_watcher.go
  daemon/state.go
  pkg/ipcache/kvstore.go
Labels: kind/bug, needs-backport/1.6, priority/release-blocker
