Repository cilium/cilium, pull requests merged in 2019-12, with the labels that each got.

#9701 k8s: Remove unused types.Ingress
  pkg/k8s/factory_functions.go
  pkg/k8s/factory_functions_test.go
  pkg/k8s/types/types.go
  pkg/k8s/types/zz_generated.deepcopy.go
Labels: area/daemon, kind/cleanup, pending-review, release-note/misc

#9700 Rate limit ec2:DescribeSubnets
  pkg/aws/ec2/ec2.go
Labels: pending-review

#9693 Move --aws-instance-limit-mapping flag to be on the operator
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-operator.md
  daemon/daemon_main.go
  operator/main.go
  pkg/option/config.go
Labels: area/eni, pending-review, release-note/misc

#9674 docs: Keep externalTrafficPolicy=Local limitation in NodePort BPF
  Documentation/gettingstarted/nodeport.rst
Labels: area/documentation, kind/bug, release-note/misc

#9698 policy: Disable well-known identities for non-managed etcd
  Documentation/cmdref/cilium-agent.md
  Documentation/install/upgrade.rst
  daemon/daemon.go
  daemon/daemon_main.go
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: area/policy, pending-review, release-note/minor

#9704 vagrant: Remove workaround to MASQ traffic from k8s2
  Vagrantfile
  tests/k8s/Vagrantfile
Labels: kind/cleanup, pending-review, release-note/misc

#9705 CI: ExecInPods returns an error when no pods are found
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, pending-review

#9706 CI: Delete then create namespaces in policy tests
  test/k8sT/Policies.go
Labels: area/CI, kind/bug/CI, pending-review, release-note/ci

#9682 docs: Document running via kubeconfig on EKS
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, pending-review

#9709 .github: add github actions to cilium
  .github/cilium-actions-master.yml
  .github/workflows/cilium-actions-master.yml
Labels: pending-review, release-note/misc

#9712 .github: add github actions to cilium
  .github/cilium-actions-v1.5.yml
  .github/workflows/cilium-actions-v1.5.yml
Labels: backport/1.5, kind/backports, pending-review

#9711 .github: add github actions to cilium
  .github/cilium-actions-v1.6.yml
  .github/workflows/cilium-actions-v1.6.yml
Labels: backport/1.6, kind/backports, pending-review

#9713 bump k8s client libraries to v1.17.0-rc.2
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  pkg/k8s/zz_generated.deepcopy.go
  test/provision/k8s_install.sh
  vendor/k8s.io/client-go/tools/cache/mutation_detector.go
  vendor/modules.txt
Labels: area/k8s, pending-review, release-note/misc

#9715 Dockerfile runtime: add python3 dependency
  contrib/packaging/docker/Dockerfile.runtime
Labels: needs-backport/1.5, needs-backport/1.6, pending-review, release-note/misc

#9717 doc: the namespace is wrong when validating cilium on Azure CNI
  Documentation/gettingstarted/cni-chaining-azure-cni.rst
  Documentation/gettingstarted/k8s-install-azure-cni-validate.rst
Labels: area/documentation, dont-merge/needs-release-note, pending-review, release-note/misc

#9722 cilium: encryption bugtool should remove aead, comp and auth-trunk keys
  bugtool/cmd/configuration.go
Labels: area/bugtool, kind/bug, needs-backport/1.6, release-note/minor

#9641 fqdn: Add zombie limit
  Documentation/cmdref/cilium-agent.md
  daemon/daemon_main.go
  pkg/defaults/defaults.go
  pkg/endpoint/api.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/restore.go
  pkg/fqdn/cache.go
  pkg/fqdn/cache_test.go
  pkg/option/config.go
Labels: area/daemon, pending-review

#9726 docs: Include env variable in EKS e2e examples
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, pending-review, release-note/misc

#9724 Relax limits for maximum number of CIDR prefixes (40 -> unlimited)
  pkg/policy/api/rule_validation.go
  pkg/policy/l3.go
  pkg/policy/rule_test.go
Labels: area/policy, pending-review, release-note/minor

#9731 github: remove github actions integration
  .github/workflows/cilium-actions-master.yml
Labels: pending-review, release-note/misc

#9737 docs: Upgrade about tofqdns-min-ttl default and zombies
  Documentation/install/upgrade.rst
Labels: area/documentation, pending-review, release-note/minor

#9725 Improve the 'Setting up Cluster Mesh' page.
  Documentation/gettingstarted/clustermesh.rst
  examples/kubernetes/clustermesh/cilium-etcd-external-service/cilium-etcd-external-nodeport.yaml
Labels: area/documentation, pending-review, release-note/misc

#9741 envoy: Update to 1.12.2
  Dockerfile
Labels: backport-pending/1.4, backport-pending/1.5, backport-pending/1.6, kind/bug, pending-review, priority/release-blocker

#9739 Fix typo in documentation
  Documentation/gettingstarted/k8s-install-etcd-operator.rst
Labels: area/documentation, pending-review, release-note/misc

#9743 fqdn: Support setting tofqdns-min-ttl to 0
  pkg/option/config.go
Labels: area/daemon, needs-backport/1.6, pending-review, release-note/bug

#9746 v1.5: node: Fix segfault in node equality check
  pkg/node/node.go
Labels: backport/1.5, kind/backports, kind/community-report, pending-review, priority/release-blocker, release-note/bug

#9732 eni: Fix AWS ENI allocation exceeding IP limits for smaller instances
  pkg/aws/eni/node.go
Labels: area/eni, area/operator, pending-review, requires-janitor-review

#9727 doc: update BPF instruction limit
  Documentation/bpf.rst
Labels: area/documentation, pending-review, release-note/misc

#9752 pkg/workloads: sleep 500ms before reconnecting to containerd
  pkg/workloads/containerd.go
Labels: backport/1.6, kind/backports, pending-review, release-note/bug

#9749 update golang to 1.13.5
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing/development/dev_setup.rst
  Makefile
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
  test/kubernetes-test.sh
Labels: pending-review, release-note/misc

#9744 Update to k8s libraries to 1.17.0
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Labels: area/k8s, pending-review, release-note/minor

#9759 helm: Add deps for quick-install.yaml target in Makefile
  install/kubernetes/Makefile
Labels: area/misc, kind/bug, pending-review, release-note/misc

#9765 daemon: Decrease log level for svc not found msg
  daemon/k8s_watcher.go
  daemon/loadbalancer.go
Labels: area/daemon, backport/1.6, kind/backports, pending-review

#9766 Prepare for v1.6.5
  NEWS.rst
  VERSION
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.6, kind/backports

#9761 GO_VERSION: set golang version to 1.13.5
  GO_VERSION
Labels: pending-review, release-note/misc

#9774 Update references to latest releases and projects
  .github/cilium-actions-master.yml
  README.rst
Labels: pending-review, release-note/misc

#9758 node: Remove unused PublicAttrEquals func
  pkg/node/node.go
  pkg/node/node_test.go
Labels: pending-review, release-note/misc

#9772 Add helm charts packaging steps to the release script
  Documentation/contributing/release/stable.rst
  contrib/release/uploadrev
Labels: area/misc, release-note/misc

#9775 .github: Update actions to v1.6.6 project
  .github/cilium-actions-v1.6.yml
Labels: backport/1.6, kind/backports, pending-review

#9780 .github: rename github-actions file
  .github/cilium-actions.yml
Labels: pending-review

#9623 Metrics: Add version metric
  pkg/metrics/metrics.go
Labels: area/metrics, pending-review, release-note/minor

#9745 Make FirstInterfaceIndex a pointer on ENI spec
  pkg/aws/eni/node.go
  pkg/aws/eni/node_manager_test.go
  pkg/defaults/defaults.go
  pkg/k8s/apis/cilium.io/v2/types.go
  pkg/k8s/apis/cilium.io/v2/zz_generated.deepcopy.go
  pkg/nodediscovery/nodediscovery.go
  plugins/cilium-cni/types/types_test.go
Labels: area/eni, pending-review, release-note/minor

#9751 Run make for install/kubernetes/quick-start.yaml
  install/kubernetes/quick-install.yaml
Labels: pending-review, release-note/misc

#9760 service: Enable NodePort BPF for dual-stack
  pkg/k8s/service.go
Labels: area/daemon, kind/enhancement, pending-review, release-note/minor

#9757 Improve nodeinit uninstalls by reverting nodeinit changes
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
  install/kubernetes/cilium/charts/nodeinit/values.yaml
Labels: pending-review, release-note/misc

#9788 v1.6: install: Update the chart versions
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
Labels: backport/1.6, kind/backports, pending-review, release-note/misc

#9771 test: Add conntrack entry timeout validation tests.
  bpf/lib/conntrack_test.h
  daemon/bpf.sha
Labels: area/CI, area/datapath, pending-review, release-note/ci

#9714 [CI] parallel image build and cluster setup for eks
  jenkinsfiles/ginkgo-eks.Jenkinsfile
Labels: area/CI-improvement, pending-review, release-note/ci

#9787 Improve the uploadrev script
  contrib/release/uploadrev
Labels: pending-review, release-note/misc

#9796 daemon: Upgrade spf13/viper
  go.mod
  go.sum
  vendor/github.com/spf13/viper/.gitignore
  vendor/github.com/spf13/viper/.golangci.yml
  vendor/github.com/spf13/viper/.travis.yml
  vendor/github.com/spf13/viper/Makefile
  vendor/github.com/spf13/viper/README.md
  vendor/github.com/spf13/viper/flags.go
  vendor/github.com/spf13/viper/go.mod
  vendor/github.com/spf13/viper/go.sum
  vendor/github.com/spf13/viper/util.go
  vendor/github.com/spf13/viper/viper.go
  vendor/github.com/subosito/gotenv/.env
  vendor/github.com/subosito/gotenv/.env.invalid
  vendor/github.com/subosito/gotenv/.gitignore
  vendor/github.com/subosito/gotenv/.travis.yml
  vendor/github.com/subosito/gotenv/CHANGELOG.md
  vendor/github.com/subosito/gotenv/LICENSE
  vendor/github.com/subosito/gotenv/README.md
  vendor/github.com/subosito/gotenv/appveyor.yml
  vendor/github.com/subosito/gotenv/gotenv.go
  vendor/gopkg.in/ini.v1/.gitignore
  vendor/gopkg.in/ini.v1/.travis.yml
  vendor/gopkg.in/ini.v1/LICENSE
  vendor/gopkg.in/ini.v1/Makefile
  vendor/gopkg.in/ini.v1/README.md
  vendor/gopkg.in/ini.v1/data_source.go
  vendor/gopkg.in/ini.v1/deprecated.go
  vendor/gopkg.in/ini.v1/error.go
  vendor/gopkg.in/ini.v1/file.go
  vendor/gopkg.in/ini.v1/helper.go
  vendor/gopkg.in/ini.v1/ini.go
  vendor/gopkg.in/ini.v1/key.go
  vendor/gopkg.in/ini.v1/parser.go
  vendor/gopkg.in/ini.v1/section.go
  vendor/gopkg.in/ini.v1/struct.go
  vendor/modules.txt
Labels: area/daemon, kind/bug, release-note/bug

#9801 Fix table markdown spacing issue
  README.rst
Labels: release-note/misc
