Repository cilium/cilium, pull requests merged in 2019-05, with the labels that each got.

#7893 datapath/iptables: Warn when iptables modules are not available
  pkg/datapath/iptables/iptables.go
Labels: area/datapath, kind/bug, needs-backport/1.5

#7895 Fix bug where endpoint state metrics get stuck with nonzero endpoints in restoring state
  pkg/endpoint/endpoint.go
Labels: area/metrics, needs-backport/1.4, needs-backport/1.5, pending-review, release-note/bug

#7875 CI: Stop monitor after all test assertions
  test/runtime/monitor.go
Labels: area/CI, needs-rebase, pending-review

#7889 CI: Wait on create/delete in helpers.SampleContainersAction
  test/helpers/docker.go
Labels: area/CI, needs-backport/1.5, pending-review

#7870 CI: Log at INFO and above for all unit tests
  pkg/clustermesh/clustermesh_test.go
  pkg/clustermesh/services_test.go
  pkg/envoy/envoy_test.go
  pkg/proxy/kafka_test.go
  proxylib/npds/client_test.go
  proxylib/proxylib/input_test.go
  proxylib/proxylib_memcached_test.go
  proxylib/proxylib_test.go
Labels: area/CI, pending-review

#7791 k8s: add useragent
  pkg/k8s/client.go
Labels: pending-review

#7894 policy: Generate L3-only filter also for rules with requirements.
  pkg/policy/repository_test.go
  pkg/policy/rule.go
Labels: area/policy, kind/bug, priority/medium

#7823 Separate directories for jenkins parallel builds
  ginkgo.Jenkinsfile
Labels: area/CI, area/CI-improvement, pending-review

#7900 cni: Require CILIUM_CUSTOM_CNI_CONF env to be set to preserve CNI config
  Documentation/install/upgrade.rst
  Documentation/kubernetes/configuration.rst
  plugins/cilium-cni/cni-install.sh
Labels: area/cni, pending-review, release-note/minor, upgrade-impact

#7910 docs: Add k8s 1.14 to supported versions for testing
  Documentation/contributing.rst
Labels: area/documentation, kind/enhancement, needs-backport/1.4, needs-backport/1.5

#7903 test: Add readiness probe to demo deployments
  test/k8sT/manifests/demo.yaml
  test/k8sT/manifests/demo_ds.yaml
Labels: area/CI, pending-review

#7911 CI: Ensure k8s execs cancel contexts
  test/helpers/kubectl.go
  test/helpers/node.go
Labels: area/CI, pending-review

#7907 bpf: Force preallocation for SNAT maps of LRU type
  bpf/lib/nat.h
  daemon/bpf.sha
Labels: area/datapath, kind/bug, needs-backport/1.5, pending-review

#7915 test: Increase timeout of boot VM stage to 45 minutes
  ginkgo.Jenkinsfile
Labels: area/CI, pending-review

#7913 daemon: Do not init config when running with --cmdref
  daemon/daemon_main.go
Labels: area/daemon, kind/bug, needs-backport/1.5, pending-review

#7909 [v1.4 backport] endpoint: Fix bug with endpoint state metrics
  pkg/endpoint/endpoint.go
Labels: backport/1.4, kind/backports, pending-review

#7922 pkg/metrics: add Cilium namespace to fqdn_gc_deletions_total
  pkg/metrics/metrics.go
Labels: area/metrics, kind/bug, needs-backport/1.5, pending-review, upgrade-impact

#7924 [CI] Change displayName also on aborted builds
  ginkgo.Jenkinsfile
Labels: area/CI, area/CI-improvement, pending-review, ready-to-merge

#7866 bpf: Set BPF_F_NO_PREALLOC before comparing maps
  pkg/bpf/map_linux.go
Labels: area/daemon, kind/bug, needs-backport/1.4, needs-backport/1.5, pending-review

#7927 pkg/buildqueue: remove unused package
  pkg/buildqueue/buildqueue.go
  pkg/buildqueue/buildqueue_test.go
  pkg/buildqueue/doc.go
  pkg/metrics/metrics.go
Labels: kind/cleanup, needs-backport/1.5, pending-review

#7934 docs: Add note about updating external resources after release
  Documentation/contributing.rst
Labels: area/documentation, kind/enhancement, pending-review

#7919 test: Do not set enable-legacy-services in v1.4 ConfigMap
  test/k8sT/manifests/v1.4/cilium-cm-patch.yaml
Labels: area/CI, kind/bug, needs-backport/1.5, pending-review

#7925 bpf: Disable UDP support in svc LB for host applications
  bpf/bpf_sock.c
  bpf/init.sh
  daemon/bpf.sha
Labels: area/datapath, kind/enhancement, pending-review

#7856 Docs: minor fixes to AWS EKS and AWS Metadata filtering GSGs
  Documentation/gettingstarted/aws.rst
  Documentation/gettingstarted/k8s-install-eks.rst
  Documentation/gettingstarted/k8s-install-etcd-operator-steps.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.5, pending-review

#7929 Fix bug where Cilium would refuse to start if ipv6 netfilter modules are unavailable
  pkg/datapath/iptables/iptables.go
Labels: area/datapath, pending-review

#7931 docs,examples: Fix up custom CNI for microk8s
  Documentation/gettingstarted/microk8s.rst
  examples/kubernetes/1.10/cilium-cm.yaml
  examples/kubernetes/1.10/cilium-containerd.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-external-etcd.yaml
  examples/kubernetes/1.10/cilium-microk8s.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.10/cilium-with-node-init.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-cm.yaml
  examples/kubernetes/1.11/cilium-containerd.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-external-etcd.yaml
  examples/kubernetes/1.11/cilium-microk8s.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium-with-node-init.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-cm.yaml
  examples/kubernetes/1.12/cilium-containerd.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-external-etcd.yaml
  examples/kubernetes/1.12/cilium-microk8s.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium-with-node-init.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-cm.yaml
  examples/kubernetes/1.13/cilium-containerd.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-external-etcd.yaml
  examples/kubernetes/1.13/cilium-microk8s.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium-with-node-init.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.14/cilium-cm.yaml
  examples/kubernetes/1.14/cilium-containerd.yaml
  examples/kubernetes/1.14/cilium-crio.yaml
  examples/kubernetes/1.14/cilium-external-etcd.yaml
  examples/kubernetes/1.14/cilium-microk8s.yaml
  examples/kubernetes/1.14/cilium-minikube.yaml
  examples/kubernetes/1.14/cilium-with-node-init.yaml
  examples/kubernetes/1.14/cilium.yaml
  examples/kubernetes/Makefile
  examples/kubernetes/templates/v1/cilium-cm.yaml
Labels: area/documentation, needs-backport/1.5, pending-review

#7932 daemon: Use all labels to restore endpoint identity
  daemon/state.go
  pkg/endpoint/policy.go
Labels: area/daemon, needs-backport/1.5, needs/e2e-test, pending-review, release-note/bug

#7935 test/provision: update k8s testing versions to v1.11.10 and v1.12.8
  test/provision/k8s_install.sh
Labels: area/CI, needs-backport/1.5

#7952 cilium/cmd: dump bpf lb list if map exists
  cilium/cmd/bpf_lb_list.go
Labels: kind/bug, needs-backport/1.5, pending-review, release-note/bug

#7950 Improve configmap documentation
  Documentation/kubernetes/configuration.rst
Labels: area/documentation, needs-backport/1.5, pending-review

#7942 test: Set CT TCP map size in v1.3 ConfigMaps
  test/k8sT/manifests/v1.3/cilium-cm-patch-clean-cilium-state.yaml
  test/k8sT/manifests/v1.3/cilium-cm-patch.yaml
Labels: area/CI, kind/enhancement, pending-review

#7938 kvstore: Wait for kvstore to reach quorum
  pkg/kvstore/consul.go
  pkg/kvstore/etcd.go
  pkg/kvstore/kvstore.go
Labels: kind/bug, pending-review

#7956 metrics: add map_ops_total by default
  pkg/metrics/metrics.go
Labels: needs-backport/1.5, pending-review

#7953 pkg/envoy: use proto.Equal instead comparing strings
  pkg/envoy/xds/cache.go
Labels: area/proxy, pending-review

#7937 Dockerfile: update golang to 1.12.5
  Dockerfile
  Dockerfile.builder
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
Labels: area/k8s, needs-backport/1.5, pending-review, release-note/minor

#7946 CI: Consolidate WaitforNPods and WaitForPodsRunning and bugfix ready check
  test/helpers/kubectl.go
  test/k8sT/assertionHelpers.go
Labels: area/CI, needs-backport/1.4, needs-backport/1.5

#7680 bpf: use double word for v6 addr copy and comparison
  bpf/lib/common.h
  bpf/lib/ipv6.h
  daemon/bpf.sha
Labels: area/datapath, needs-rebase

#7882 docs: Add an install guide to use Kata Containers with Cilium
  Documentation/gettingstarted/kata-gce.rst
Labels: area/documentation, pending-review

#7957 ipam: Use static service loopback address
  Documentation/cmdref/cilium-agent.md
  daemon/daemon.go
  daemon/daemon_main.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: area/datapath, pending-review

#7955 test: replace guestbook test docker image
  test/k8sT/manifests/guestbook-policy-web.yaml
  test/k8sT/manifests/guestbook_deployment.json
Labels: area/CI, area/k8s, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#7961 docs: give better troubleshooting for conntrack-gc-interval
  Documentation/install/upgrade.rst
  Documentation/troubleshooting.rst
Labels: area/documentation, needs-backport/1.5, pending-review, requires-doc-change

#7975 operator: fix concurrent access of variable in cnp garbage collection that could lead to panic in cilium-operator
  operator/k8s_node.go
Labels: area/operator, needs-backport/1.5, pending-review, priority/high, release-note/bug

#7977 Bump vagrant box version for tests to 151
  Documentation/contributing.rst
  Vagrantfile
  test/Vagrantfile
Labels: area/CI, needs-backport/1.5, pending-review

#7978 cni: Fix unexpected end of JSON input on errors
  plugins/cilium-cni/cilium-cni.go
Labels: kind/bug, needs-backport/1.5

#7980 datapath: Add flag to specify prefix for interface name of endpoints
  Documentation/cmdref/cilium-agent.md
  daemon/daemon_main.go
  pkg/datapath/iptables/iptables.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: area/datapath, kind/enhancement, pending-review

#7970 Backport v1.4 2019 05 09
  test/helpers/kubectl.go
  test/k8sT/assertionHelpers.go
Labels: kind/backports

#7985 docs: add missing cilium-operator-sa.yaml for k8s 1.14 upgrade guide
  Documentation/install/upgrade.rst
Labels: area/documentation, needs-backport/1.5, pending-review, priority/high

#7963 api: do not allow FQDNSelectors to contain both MatchName and MatchPattern
  pkg/policy/api/fqdn.go
  pkg/policy/api/fqdn_test.go
Labels: area/policy, pending-review, release-note/minor

#7981 pkg/node: Set empty string if address is nil
  pkg/node/node.go
Labels: area/cli, area/daemon, kind/bug

#7990 maps: Remove disabled svc v2 maps
  pkg/datapath/maps/map.go
Labels: area/daemon, kind/bug, needs-backport/1.5, pending-review

#7979 fqdn: DNSProxy does not fold similar DNS requests
  pkg/fqdn/dnsproxy/proxy.go
Labels: area/daemon, needs-backport/1.5, pending-review

#8004 docs: fix architecture images' URL
  Documentation/architecture.rst
Labels: area/documentation, needs-backport/1.4, needs-backport/1.5, pending-review

#8002 [CI] Don't overwrite minRequired in WaitforNPods
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, pending-review

#7998 cilium: K8s Delete event indicates agent should gracefully shutdown
  pkg/node/manager/manager.go
Labels: pending-review

#7982 daemon: Remove stale maps only after restoring all endpoints
  daemon/daemon_main.go
Labels: area/daemon, area/datapath, kind/bug, needs-backport/1.4, needs-backport/1.5, pending-review, priority/high, priority/release-blocker

#8008 ipam: Add flag to disable reservation of IPs of local routes
  Documentation/cmdref/cilium-agent.md
  daemon/daemon_main.go
  pkg/defaults/defaults.go
  pkg/ipam/ipam.go
  pkg/option/config.go
Labels: pending-review, priority/high

#8014 envoy: Do not use deprecated configuration options.
  Gopkg.lock
  pkg/envoy/server.go
Labels: area/proxy, kind/enhancement, needs-backport/1.4, needs-backport/1.5

#8001 test: Trim trailing newline in ByLines method
  test/helpers/cmd.go
Labels: area/CI, kind/bug/CI, pending-review

#8017 cilium: IsLocal() needs to compare both Name and Cluster
  pkg/node/node.go
Labels: kind/bug, needs-backport/1.4, needs-backport/1.5, pending-review

#8019 iptables: Only install IPsec related rules when enabled
  pkg/datapath/iptables/iptables.go
Labels: pending-review

#7996 daemon: Improve service restoration
  daemon/loadbalancer.go
Labels: area/daemon, kind/bug, needs-backport/1.5, pending-review

#8015 bpf: Fix object file list
  bpf/Makefile
Labels: area/datapath, kind/bug

#8000 Encryption fixes for route/rule management
  pkg/datapath/linux/route/route_linux.go
Labels: kind/bug, needs-backport/1.5, pending-review

#8026 operator: Only connect to kvstore when needed
  operator/main.go
Labels: kind/enhancement, pending-review

#8033 CI: Consolidate Vagrant box information into 1 file
  Vagrantfile
  test/Vagrantfile
  vagrant_box_defaults.rb
Labels: area/CI, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5

#8040 test: add more narration using `By` to preflight check steps
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#8010 daemon/Makefile: rm -f on make clean for links
  daemon/Makefile
Labels: kind/cleanup, needs-backport/1.4, needs-backport/1.5, pending-review

#8054 v1.3 backports 2019-05-16
  Vagrantfile
  test/Vagrantfile
  vagrant_box_defaults.rb
Labels: kind/backports, pending-review

#8053 v1.4 backports 2019-05-16
  Vagrantfile
  test/Vagrantfile
  vagrant_box_defaults.rb
Labels: kind/backports, pending-review

#8052 v1.5 backports 2019-05-16
  Vagrantfile
  test/Vagrantfile
  vagrant_box_defaults.rb
Labels: kind/backports, pending-review

#8044 regexpmap: change naming of internal fields
  pkg/fqdn/regexpmap/regexp_map.go
Labels: kind/cleanup, pending-review

#8013 test/provision: bump k8s testing to v1.13.6
  test/provision/k8s_install.sh
Labels: area/CI, area/k8s, needs-backport/1.5, pending-review

#8057 pkg/ipcache: initialize globalmap at import time
  pkg/ipcache/kvstore.go
Labels: area/clustermesh, needs-backport/1.5, pending-review, priority/high, release-note/bug

#7989 daemon: add option to skip CRD creation
  Documentation/cmdref/cilium-agent.md
  daemon/daemon_main.go
  daemon/k8s_watcher.go
  examples/crds/ciliumendpoints.yaml
  examples/crds/ciliumnetworkpolicies.yaml
  pkg/option/config.go
Labels: pending-review, release-note/minor

#8066 pkg/endpoint: fix assignment in nil map on restore
  pkg/endpoint/endpoint.go
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review, release-note/bug

#8059 bpf: redo regular ct entry upon service collision
  bpf/bpf_lxc.c
  daemon/bpf.sha
Labels: area/datapath, kind/bug, needs-backport/1.5, pending-review, priority/release-blocker

#8047 Envoy: Use an image with injection fix.
  Dockerfile
  pkg/envoy/envoy_test.go
  proxylib/proxylib/test_util.go
  proxylib/testparsers/blockparser.go
Labels: area/proxy, kind/bug

#8067 cni: Fix incorrect logging in failure case
  plugins/cilium-cni/cilium-cni.go
Labels: area/cni, needs-backport/1.5, pending-review

#8050 test: add v1.15.0-beta.0 to the CI
  examples/kubernetes/1.15/cilium-cm.yaml
  examples/kubernetes/1.15/cilium-containerd-ds.yaml
  examples/kubernetes/1.15/cilium-containerd.yaml
  examples/kubernetes/1.15/cilium-crio-ds.yaml
  examples/kubernetes/1.15/cilium-crio-transforms2sed.sed
  examples/kubernetes/1.15/cilium-crio.yaml
  examples/kubernetes/1.15/cilium-ds.yaml
  examples/kubernetes/1.15/cilium-etcd-operator-rbac.yaml
  examples/kubernetes/1.15/cilium-etcd-operator-sa.yaml
  examples/kubernetes/1.15/cilium-etcd-operator.yaml
  examples/kubernetes/1.15/cilium-external-etcd.yaml
  examples/kubernetes/1.15/cilium-microk8s-ds.yaml
  examples/kubernetes/1.15/cilium-microk8s.yaml
  examples/kubernetes/1.15/cilium-minikube-ds.yaml
  examples/kubernetes/1.15/cilium-minikube.yaml
  examples/kubernetes/1.15/cilium-operator-sa.yaml
  examples/kubernetes/1.15/cilium-operator.yaml
  examples/kubernetes/1.15/cilium-pre-flight.yaml
  examples/kubernetes/1.15/cilium-rbac.yaml
  examples/kubernetes/1.15/cilium-with-node-init.yaml
  examples/kubernetes/1.15/cilium.yaml
  examples/kubernetes/1.15/transforms2sed.sed
  examples/kubernetes/Makefile
  ginkgo-kubernetes-all.Jenkinsfile
  test/provision/k8s_install.sh
  test/provision/manifest/1.15/coredns_deployment.yaml
Labels: area/CI, needs-backport/1.5, pending-review

#8075 ipam: Fix IPAM debuginfo race on bootstrap
  pkg/ipam/types.go
Labels: kind/bug, pending-review

#8083 pkg/maps: use pointer in receivers for GetKeyPtr and GetValuePtr
  pkg/maps/encrypt/encrypt.go
  pkg/maps/eppolicymap/eppolicymap.go
  pkg/maps/sockmap/sockmap.go
Labels: kind/bug, needs-backport/1.5, pending-review

#8085 pkg/kvstore: acquire a random initlock
  pkg/kvstore/etcd.go
Labels: pending-review, priority/high

#8027 Encryption state remove on node delete and restart
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/node.go
Labels: area/datapath, pending-review

#7994 Separate envs for tests in jenkins k8s pipeline
  ginkgo-kubernetes-all.Jenkinsfile
Labels: area/CI-improvement, pending-review, ready-to-merge

#8022 Cilium, bpf sockops: fix compile warnings and loader error
  bpf/sockops/bpf_sockops.c
  bpf/sockops/bpf_sockops.h
  daemon/bpf.sha
Labels: area/datapath, pending-review

#8039 pkg/maps: create CtKeyGlobal structures
  pkg/maps/ctmap/ctmap.go
  pkg/maps/ctmap/lookup.go
  pkg/maps/ctmap/zz_generated.deepcopy.go
Labels: kind/bug, needs-backport/1.5, pending-review, release-note/bug

#8080 maps/metricsmap: fix cilium bpf metrics list output
  pkg/bpf/map_linux.go
  pkg/maps/metricsmap/metricsmap.go
  pkg/maps/metricsmap/zz_generated.deepcopy.go
Labels: area/metrics, kind/bug, needs-backport/1.5, pending-review, release-note/bug

#8055 identity: Eliminate unit test raciness
  pkg/identity/cache/allocation_test.go
Labels: area/policy, kind/bug/CI, priority/high

#8092 Add jenkins stage for loading vagrant boxes
  Jenkinsfile.nightly
  flannel.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: area/CI, area/CI-improvement, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#8090 docs: update well-known-identities documentation
  Documentation/concepts.rst
  Documentation/policy/language.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.5, pending-review

#8103 [CI backport] Add jenkins stage for loading vagrant boxes
  Jenkinsfile.nightly
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: kind/backports, pending-review

#8102 [CI Backport ]Add jenkins stage for loading vagrant boxes
  Jenkinsfile.nightly
  flannel.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: kind/backports, pending-review

#8101 [CI Backport ]Add jenkins stage for loading vagrant boxes
  Jenkinsfile.nightly
  flannel.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: kind/backports, pending-review

#8105 Recover from ginkgo fail in WithTimeout helper
  test/helpers/utils.go
Labels: area/CI, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#8104 endpoint: Dump policy map only when syncing from the controller
  pkg/endpoint/bpf.go
Labels: kind/enhancement, pending-review

#8106 policy: fix wildcarding at L7 for DNS
  pkg/policy/repository.go
Labels: area/policy, kind/bug, pending-review

#8097 proxylib: Fix egress enforcement
  proxylib/proxylib/connection.go
  proxylib/proxylib/policymap.go
  proxylib/proxylib_test.go
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, priority/release-blocker

#8108 endpoint: Remove stale comment
  pkg/endpoint/bpf.go
Labels: kind/cleanup

#8116 Add SECURITY.md
  SECURITY.md
Labels: area/documentation, pending-review

#8118 test: fix incorrect deletion statement for policy
  test/k8sT/Policies.go
Labels: area/CI, kind/bug/CI, needs-backport/1.5

#8071 Make policymap size configurable
  Documentation/cmdref/cilium-agent.md
  daemon/daemon.go
  daemon/daemon_main.go
  pkg/defaults/defaults.go
  pkg/maps/eppolicymap/eppolicymap.go
  pkg/maps/policymap/policymap.go
  pkg/option/config.go
Labels: area/datapath, area/policy, kind/enhancement, pending-review, release-note/minor

#8114 Add kvstore quorum check to Cilium precheck
  test/helpers/kubectl.go
Labels: pending-review

#8115 kubernetes: Set default aggregation level to maximum
  Documentation/install/upgrade.rst
  examples/kubernetes/1.10/cilium-cm.yaml
  examples/kubernetes/1.10/cilium-containerd.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-external-etcd.yaml
  examples/kubernetes/1.10/cilium-microk8s.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.10/cilium-with-node-init.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-cm.yaml
  examples/kubernetes/1.11/cilium-containerd.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-external-etcd.yaml
  examples/kubernetes/1.11/cilium-microk8s.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium-with-node-init.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-cm.yaml
  examples/kubernetes/1.12/cilium-containerd.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-external-etcd.yaml
  examples/kubernetes/1.12/cilium-microk8s.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium-with-node-init.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-cm.yaml
  examples/kubernetes/1.13/cilium-containerd.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-external-etcd.yaml
  examples/kubernetes/1.13/cilium-microk8s.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium-with-node-init.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.14/cilium-cm.yaml
  examples/kubernetes/1.14/cilium-containerd.yaml
  examples/kubernetes/1.14/cilium-crio.yaml
  examples/kubernetes/1.14/cilium-external-etcd.yaml
  examples/kubernetes/1.14/cilium-microk8s.yaml
  examples/kubernetes/1.14/cilium-minikube.yaml
  examples/kubernetes/1.14/cilium-with-node-init.yaml
  examples/kubernetes/1.14/cilium.yaml
  examples/kubernetes/1.15/cilium-cm.yaml
  examples/kubernetes/1.15/cilium-containerd.yaml
  examples/kubernetes/1.15/cilium-crio.yaml
  examples/kubernetes/1.15/cilium-external-etcd.yaml
  examples/kubernetes/1.15/cilium-microk8s.yaml
  examples/kubernetes/1.15/cilium-minikube.yaml
  examples/kubernetes/1.15/cilium-with-node-init.yaml
  examples/kubernetes/1.15/cilium.yaml
  examples/kubernetes/templates/v1/cilium-cm.yaml
Labels: pending-review, release-note/minor

#8107 daemon: split out parts of `NewDaemon` into separate functions
  daemon/daemon.go
Labels: area/daemon, kind/cleanup, pending-review

#8125 Docs: Fix typo in upgrade instructions
  Documentation/install/upgrade.rst
Labels: area/documentation, kind/bug, pending-review

#8111 Vagrantfile: Support NETNEXT="true"
  Vagrantfile
Labels: area/misc, kind/enhancement, pending-review, priority/medium

#8109 fix: add annotate-k8s-node flag to daemon
  Documentation/cmdref/cilium-agent.md
  daemon/daemon.go
  daemon/daemon_main.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: pending-review, release-note/minor

#8122 CI: Longer git clone timeouts
  docs.Jenkinsfile
  flannel.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: area/CI, pending-review

#8121 [1.5] daemon: Make policymap size configurable
  Documentation/cmdref/cilium-agent.md
  daemon/daemon.go
  daemon/daemon_main.go
  pkg/defaults/defaults.go
  pkg/maps/eppolicymap/eppolicymap.go
  pkg/maps/policymap/policymap.go
  pkg/option/config.go
Labels: backport/1.5, pending-review

#8128 agent: Support reading CNI configuration from agent to set per node settings
  Documentation/cmdref/cilium-agent.md
  daemon/daemon_main.go
  pkg/option/config.go
  plugins/cilium-cni/types/types.go
  plugins/cilium-cni/types/types_test.go
Labels: area/cni, pending-review

#8136 cni: Fix incorrect merge of e99bee54 and 43e0c4e2a
  daemon/daemon_main.go
  plugins/cilium-cni/types/types.go
  plugins/cilium-cni/types/types_test.go
Labels: kind/bug

#8141 cilium: fix up source address selection for cluster ip
  pkg/datapath/iptables/iptables.go
Labels: area/daemon, area/datapath, kind/bug, needs-backport/1.5, pending-review

#8145 service: Reduce backend ID allocation space
  pkg/service/const.go
Labels: area/daemon, kind/bug, needs-backport/1.5, pending-review, priority/release-blocker

#8132 endpoint: Guard against deleted endpoints in regenerate
  pkg/endpointmanager/manager.go
Labels: area/daemon, area/policy, kind/bug, needs-backport/1.5, needs-rebase, pending-review

#8149 envoy: Prevent resending NACKed resources also when there are no ACK observers
  pkg/envoy/xds/server.go
Labels: area/proxy, kind/bug, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, priority/release-blocker

#8152 pkg/labels: ignore all labels that match the regex "annotation.*"
  pkg/labels/filter.go
  pkg/labels/filter_test.go
Labels: kind/bug, needs-backport/1.5, pending-review, release-note/minor

#8146 ipam: Fix IPAM status when IPv4 is disabled
  daemon/ipam.go
Labels: kind/bug, pending-review

#8168 allocator: Verify locally allocated key
  pkg/kvstore/allocator/allocator.go
Labels: kind/bug, needs-backport/1.4, needs-backport/1.5, priority/high, priority/release-blocker

#8171 operator: Fix health check API
  operator/api.go
  operator/main.go
Labels: kind/bug, needs-backport/1.5, pending-review

#8148 test: Fix NodeCleanMetadata by using --overwrite
  test/helpers/kubectl.go
Labels: area/CI, kind/bug, pending-review

#8172 allocator: Make GetNoCache() and RunGC() deterministic
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/allocator_test.go
Labels: kind/bug, needs-backport/1.5, pending-review, priority/release-blocker

#8169 allocator: Provide additional info message on key allocation and deletion
  pkg/kvstore/allocator/allocator.go
Labels: needs-backport/1.5, pending-review
