Repository cilium/cilium, pull requests merged in 2019-08, with the labels that each got.

#8734 test: use kvstore-based allocator for upgrade tests
  test/helpers/cons.go
  test/k8sT/Updates.go
  test/k8sT/manifests/cilium-cm-kvstore-allocator-patch.yaml
Labels: area/CI, needs-backport/1.6, pending-review

#8710 cilium: encryption, ensure 0x*d00 and 0x*e00 marks dont cause conflicts
  pkg/datapath/iptables/iptables.go
Labels: area/encryption, needs-backport/1.5, needs-backport/1.6, priority/release-blocker, ready-to-merge

#8749 operator/eni: fix panic if metrics are not enabled
  operator/eni.go
Labels: area/operator, needs-backport/1.6, pending-review, priority/release-blocker

#8731 cilium: encryption, delete encrypt node routes
  daemon/daemon.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/node.go
  pkg/datapath/linux/route/route_linux.go
Labels: area/encryption, needs-backport/1.6, pending-review, priority/high

#8610 policy: Expose L3 selectors within endpoint JSON
  pkg/policy/l4.go
  pkg/policy/l4_test.go
  pkg/policy/selectorcache.go
Labels: pending-review

#8751 documentation: Fix a typo
  Documentation/concepts/datapath.rst
  Documentation/concepts/ipam/eni.rst
Labels: needs-backport/1.6

#8754 k8s: Update ipcache based on CiliumEndpoint only if NodeIP is available
  daemon/k8s_watcher.go
Labels: kind/bug, needs-backport/1.6, pending-review, priority/release-blocker

#8747 bugtool: Add counters to iptables-save output
  bugtool/cmd/configuration.go
Labels: area/bugtool, needs-backport/1.6, pending-review

#8765 ginkgo: Fix CiliumReport calls
  test/helpers/kubectl.go
  test/k8sT/Chaos.go
  test/k8sT/Nightly.go
Labels: area/CI, needs-backport/1.6, pending-review

#8768 ipam: eni: Resolve bootstrap misorder to create CiliumNode CR for ENI
  daemon/daemon.go
  pkg/ipam/allocator_test.go
  pkg/ipam/crd.go
  pkg/ipam/ipam.go
  pkg/nodediscovery/nodediscovery.go
Labels: kind/bug, pending-review, priority/release-blocker

#8782 [Docs] CI bisect documentation
  Documentation/contributing/ci.rst
Labels: area/documentation, pending-review

#8757 cilium: encryption, encrypt-node enablement for direct routing without subnets
  bpf/bpf_netdev.c
  daemon/bpf.sha
Labels: area/encryption, needs-backport/1.6, pending-review, priority/high

#8764 daemon: get list of frontends from ServiceCache before acquiring BPFMapMu
  daemon/loadbalancer.go
Labels: kind/bug, needs-backport/1.5, needs-backport/1.6, pending-review, priority/insane :rotating_light:, priority/release-blocker

#8766 health: add ipv6 health check status to cilium health status output
  pkg/health/server/node.go
  pkg/health/server/prober.go
Labels: area/health, kind/enhancement, pending-review

#8785 Documentation: update Quick Install guide
  Documentation/gettingstarted/k8s-install-default.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8755 test: gather kvstore output last
  test/helpers/cons.go
  test/helpers/kubectl.go
Labels: area/CI, needs-backport/1.6, pending-review

#8758 Makefile: add way to skip starting kvstores, running govet
  Makefile
Labels: area/misc, kind/enhancement, pending-review

#8788 CODEOWNERS: change Vagrant-related files to be owned by cilium/ci
  CODEOWNERS
Labels: area/misc, pending-review

#8791 doc: Clean up Istio getting started guide
  Documentation/gettingstarted/gsg_requirements.rst
  Documentation/gettingstarted/istio.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8789 1.5 backports 2019 08 05
  pkg/datapath/iptables/iptables.go
Labels: backport/1.5

#8792 cni: Fix warning when chaining is disabled
  plugins/cilium-cni/chaining/api/api.go
  plugins/cilium-cni/chaining/api/api_test.go
Labels: kind/bug, needs-backport/1.6, pending-review

#8787 doc: Document downgrade limitation when changing identity allocation
  Documentation/install/upgrade.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8798 doc: Disable wait-for-bpf in EKS guide
  Documentation/gettingstarted/k8s-install-eks.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8801 doc: Disable wait-for-bpf in AWS-CNI guide
  Documentation/gettingstarted/cni-chaining-aws-cni.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8797 helm: Fix variable names for nodeEncryption
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: area/documentation, needs-backport/1.6, pending-review

#8804 lbmap: Do not arping each service backend IP addr
  pkg/datapath/linux/neigh/neigh.go
  pkg/datapath/linux/node.go
  pkg/maps/lbmap/lbmap.go
Labels: area/daemon, kind/enhancement, needs-backport/1.6, pending-review

#8799 test: Improve upgrade/downgrade test
  test/k8sT/Updates.go
  test/k8sT/manifests/cilium-ds-clean-only.yaml
Labels: area/CI, kind/bug, needs-backport/1.6, pending-review

#8810 endpointmanager: move dereference outside of `WithFields` invocation to avoid possible panic
  pkg/endpointmanager/manager.go
Labels: kind/cleanup, needs-backport/1.6, pending-review

#8786 agent: Mark --lb feature deprecated for removal in 1.7
  Documentation/cmdref/cilium-agent.md
  Documentation/install/upgrade.rst
  daemon/daemon_main.go
  pkg/option/config.go
Labels: area/daemon, area/documentation, pending-review

#8811 Add helm option for ENI mode configuration
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: needs-backport/1.6, pending-review

#8770 cli: add k8s-service-cache-size agent cli flag
  daemon/daemon_main.go
  pkg/defaults/defaults.go
  pkg/k8s/service_cache.go
  pkg/option/config.go
Labels: area/daemon, kind/feature, needs-backport/1.6

#8821 test: Temporarily disable Istio CI test
  test/k8sT/istio.go
Labels: area/CI

#8828 test: wait for k8s external service in [kube|core]-dns
  test/k8sT/Services.go
Labels: needs-backport/1.6, pending-review, priority/release-blocker

#8829 kubernetes: Remove obsolete scheduler annotation
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/cleanup, pending-review, priority/low

#8825 operator: start health check handler after initializing k8s client
  operator/api.go
  operator/main.go
Labels: kind/bug, needs-backport/1.6, pending-review

#8835 test: skip installing Helm if user has skipped k8s provisioning
  test/provision/k8s_install.sh
Labels: area/CI, kind/enhancement, pending-review, priority/low

#8836 eventqueue: use mutex to synchronize access to events channel
  pkg/eventqueue/eventqueue.go
Labels: area/misc, needs-backport/1.5, needs-backport/1.6, pending-review

#8833 Added prometheus-operator ServiceMonitor
  Documentation/configuration/metrics.rst
  Documentation/gettingstarted/grafana.rst
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/agent/templates/servicemonitor.yaml
  install/kubernetes/cilium/charts/agent/templates/svc.yaml
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/charts/operator/templates/deployment.yaml
  install/kubernetes/cilium/charts/operator/templates/servicemonitor.yaml
  install/kubernetes/cilium/charts/operator/templates/svc.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/documentation, needs-backport/1.6, pending-review

#8839 datapath: Always include IP of cilium_host in list of local IPs
  pkg/datapath/linux/node_addressing.go
Labels: needs-backport/1.6, pending-review, priority/high, priority/release-blocker

#8844 Revert "test: Temporarily disable Istio CI test"
  test/k8sT/istio.go
Labels: area/CI, pending-review

#8845 doc: Create cilium namespace in GKE guide
  Documentation/gettingstarted/k8s-install-gke.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8809 eventqueue: protect against enqueueing same Event twice
  daemon/endpoint_test.go
  daemon/policy.go
  pkg/endpoint/events.go
  pkg/endpoint/policy.go
  pkg/eventqueue/eventqueue.go
  pkg/eventqueue/eventqueue_test.go
Labels: area/misc, kind/bug, needs-backport/1.5, needs-backport/1.6, pending-review

#8847 doc: Fix some typos in the portmap chaining guide
  Documentation/gettingstarted/cni-chaining-portmap.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8861 helm: fix host reachable services template for cilium config map
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: area/documentation, needs-backport/1.6, pending-review, priority/release-blocker

#8837 Fix DNS egress L7 policy in ENI mode
  pkg/datapath/linux/config.go
Labels: area/datapath, needs-backport/1.6, pending-review

#8868 encryption: fix encryption when using ip pools
  bpf/bpf_netdev.c
  daemon/bpf.sha
Labels: kind/bug, needs-backport/1.6, pending-review

#8871 doc: Fix cosmetic problem of two helm blocks in guides
  Documentation/gettingstarted/grafana.rst
  Documentation/gettingstarted/k8s-install-etcd-operator.rst
Labels: area/documentation, needs-backport/1.6, pending-review, priority/release-blocker

#8857 daemon: sleep 2 seconds before fatal
  daemon/daemon_main.go
Labels: needs-backport/1.6, pending-review, priority/release-blocker

#8863 endpoint: make policyMap private
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
Labels: kind/cleanup, pending-review, priority/low

#8607 logging: add way to configure logging level via cilium-agent option
  daemon/daemon.go
  pkg/endpoint/log.go
  pkg/logging/logging.go
  pkg/logging/logging_test.go
Labels: kind/enhancement, pending-review

#8881 docs: Fine tune external etcd guide.
  Documentation/gettingstarted/k8s-install-download-release.rst
  Documentation/gettingstarted/k8s-install-external-etcd.rst
Labels: area/documentation, needs-backport/1.6

#8862 Emit AvailableIPsPerSubnet metric
  operator/eni.go
  pkg/aws/eni/instances.go
  pkg/aws/eni/metrics/metrics.go
  pkg/aws/eni/metrics/mock/mock.go
  pkg/aws/eni/node_manager.go
Labels: needs-backport/1.6, pending-review, release-note/minor

#8867 cilium: encryption, use default route interface if encrypt-interface is not specified
  daemon/daemon_main.go
  pkg/datapath/linux/config.go
Labels: area/encryption, kind/bug, needs-backport/1.6, priority/high

#8886 Update AUTHORS
  AUTHORS
Labels: area/documentation, needs-backport/1.6, pending-review

#8854 Bump vagrant box versions
  vagrant_box_defaults.rb
Labels: pending-review

#8846 test: add some extra narration statements / remove unneeded helper function call
  test/k8sT/assertionHelpers.go
Labels: area/CI-improvement, pending-review

#8877 lxcmap: refactor `EndpointFrontend` interface
  pkg/endpoint/bpf.go
  pkg/endpoint/cache.go
  pkg/endpoint/endpoint.go
  pkg/maps/eppolicymap/eppolicymap.go
  pkg/maps/lxcmap/lxcmap.go
Labels: kind/cleanup, pending-review

#8882 Revert "[daemon] - Change MTU source for cilium_host (Use the Route o…ne)"
  daemon/datapath.go
Labels: kind/regression, needs-backport/1.6, pending-review, priority/release-blocker

#8898 Document flannel limitations
  Documentation/gettingstarted/flannel-integration.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#8784 Re-enable flannel CI with helm
  test/helpers/kubectl.go
  test/k8sT/assertionHelpers.go
  test/k8sT/manifests/flannel/cilium-cm-patch-clean-cilium-state.yaml
  test/k8sT/manifests/flannel/cilium-cm-patch.yaml
Labels: area/CI, ci/fail-fast, needs-backport/1.6, pending-review

#8890 envoy: Use patched image
  Dockerfile
Labels: area/proxy, backport/1.6, pending-review, priority/release-blocker

#8893 Enable insertNeighbor when tunneling is disabled
  pkg/datapath/linux/node.go
Labels: area/daemon, kind/bug, needs-backport/1.6, priority/release-blocker

#8891 envoy: Use patched image
  Dockerfile
Labels: area/proxy, backport/1.5, pending-review, priority/release-blocker

#8892 envoy: Use patched image
  Dockerfile
Labels: area/proxy, backport/1.4, pending-review, priority/release-blocker

#8906 helm: Do not use default function when setting default values
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: area/misc, kind/bug, needs-backport/1.6, priority/release-blocker

#8558 policy: Reject ingress rules with DNS policies
  pkg/policy/api/rule_validation.go
  pkg/policy/api/rule_validation_test.go
Labels: pending-review

#8889 envoy: Use patched image
  Dockerfile
Labels: area/proxy, backport-done/1.4, backport-done/1.5, backport-pending/1.6, pending-review, priority/release-blocker

#8903 cilium: route mtu not set unless route.Spec set MTU
  pkg/datapath/linux/route/route_linux.go
Labels: area/datapath, kind/bug, needs-backport/1.6, priority/high, priority/release-blocker

#8914 Istio: Update to 1.2.4
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
  test/k8sT/manifests/bookinfo-v1-istio.yaml
  test/k8sT/manifests/bookinfo-v2-istio.yaml
  test/k8sT/manifests/istio-cilium.yaml
  test/k8sT/manifests/istio-crds.yaml
Labels: area/proxy, backport-pending/1.4, backport-pending/1.5, backport-pending/1.6, pending-review, priority/release-blocker

#8913 install: Allow skipping CNI install
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/misc, needs-backport/1.6, pending-review

#8899 add capability to disable CNP NodeStatus updates
  Documentation/cmdref/cilium-agent.md
  daemon/daemon_main.go
  daemon/k8s_watcher.go
  operator/k8s_node.go
  operator/main.go
  pkg/option/config.go
Labels: area/k8s, kind/enhancement, needs-backport/1.6, pending-review

#8908 cilium: install transient rules during agent restart
  daemon/daemon.go
  daemon/datapath.go
  pkg/datapath/iptables/iptables.go
Labels: area/datapath, kind/bug, kind/community-report, needs-backport/1.5, needs-backport/1.6, pending-review

#8901 Dockerfiles: update to golang 1.12.8
  .travis.yml
  Dockerfile
  Dockerfile.builder
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
Labels: needs-backport/1.4, needs-backport/1.5, needs-backport/1.6, pending-review

#8915 Istio: Update to 1.2.4
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
  test/k8sT/manifests/bookinfo-v1-istio.yaml
  test/k8sT/manifests/bookinfo-v2-istio.yaml
  test/k8sT/manifests/istio-cilium.yaml
  test/k8sT/manifests/istio-crds.yaml
Labels: area/proxy, backport/1.6

#8916 Istio: Update to 1.2.4
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
  test/k8sT/manifests/bookinfo-v1-istio.yaml
  test/k8sT/manifests/bookinfo-v2-istio.yaml
  test/k8sT/manifests/istio-cilium.yaml
  test/k8sT/manifests/istio-crds.yaml
Labels: area/proxy, backport/1.5

#8917 Istio: Update to 1.2.4
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
  test/k8sT/manifests/bookinfo-v1-istio.yaml
  test/k8sT/manifests/bookinfo-v2-istio.yaml
  test/k8sT/manifests/istio-cilium.yaml
  test/k8sT/manifests/istio-crds.yaml
Labels: area/proxy, backport/1.4

#8923 bpf: Support proxy using original source address and port.
  Dockerfile
  bpf/bpf_lxc.c
  bpf/lib/common.h
  bpf/lib/conntrack.h
  bpf/lib/lb.h
  bpf/lib/lxc.h
  bpf/lib/nat.h
  bpf/lib/nodeport.h
  bpf/lib/policy.h
  daemon/bpf.sha
  pkg/datapath/iptables/iptables.go
Labels: area/datapath, backport/1.6, priority/release-blocker, ready-to-merge

#8925 Fix proxy port leak on endpoint delete
  pkg/endpoint/endpoint.go
Labels: area/proxy, kind/community-report, needs-backport/1.4, needs-backport/1.5, needs-backport/1.6, priority/release-blocker, ready-to-merge, release-note/bug

#8870 bpf: Support proxy upstream connections with original source address/port
  Dockerfile
  bpf/bpf_lxc.c
  bpf/lib/common.h
  bpf/lib/conntrack.h
  bpf/lib/lb.h
  bpf/lib/lxc.h
  bpf/lib/nat.h
  bpf/lib/nodeport.h
  bpf/lib/policy.h
  daemon/bpf.sha
  pkg/datapath/iptables/iptables.go
Labels: area/datapath, backport-pending/1.6, priority/release-blocker

#8918 operator: generate cmdref
  Documentation/Makefile
  Documentation/cmdref/cilium-operator.md
  Documentation/cmdref/index.rst
  operator/cmdref.go
  operator/main.go
Labels: area/documentation, kind/enhancement, needs-backport/1.6, pending-review

#8929 endpoint: check if returned FinalizeFunc is nil before executing it
  pkg/endpoint/endpoint.go
Labels: backport-pending/1.4, backport-pending/1.5, kind/bug, needs-backport/1.6

#8926 update cilium-docker-plugin, cilium-operator to golang 1.12.8
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
Labels: needs-backport/1.4, needs-backport/1.5, needs-backport/1.6, priority/release-blocker

#8928 daemon: Do not start L7 proxy support if --install-iptables-rules="false"
  daemon/daemon.go
  daemon/fqdn.go
Labels: area/daemon, area/proxy, needs-backport/1.6, priority/release-blocker

#8927 Makefile: add automated way to update golang in Dockerfiles
  .travis.yml.tmpl
  Makefile
Labels: kind/enhancement, pending-review

#8934 [1.5] cilium: fix transient rules to use allocation cidr
  pkg/datapath/iptables/iptables.go
Labels: backport/1.5, kind/backports, kind/bug, pending-review

#8942 docs: Fix versioned archive path
  Documentation/conf.py
Labels: area/documentation, needs-backport/1.6, pending-review

#8919 bpf: try to atomically replace filters when possible
  bpf/init.sh
  daemon/bpf.sha
Labels: area/datapath, area/loader, needs-backport/1.5, needs-backport/1.6, pending-review

#8944 datapath: Limit host->service IP SNAT to local traffic
  pkg/datapath/iptables/iptables.go
Labels: backport/1.5, kind/bug, kind/regression, pending-review

#8943 CLI: Support user-specified monitor socket
  Documentation/cmdref/cilium_monitor.md
  cilium/cmd/monitor.go
Labels: area/cli, area/monitor, kind/enhancement, needs-backport/1.6, pending-review

#8940 Prepare for v1.6.0
  AUTHORS
  NEWS.rst
  VERSION
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/release

#8952 pre-flight: set terminationGracePeriodSeconds to 1
  install/kubernetes/cilium/charts/preflight/templates/daemonset.yaml
Labels: area/k8s, kind/enhancement, pending-review

#8961 v1.5 Fix: cilium: encryption, fix getting started guides create secrets command
  Documentation/gettingstarted/encryption.rst
Labels: area/documentation, area/encryption, backport-pending/1.5, kind/bug

#8894 controller: do not return controller from `UpdateController`
  pkg/controller/controller_test.go
  pkg/controller/manager.go
  pkg/endpoint/endpoint.go
Labels: kind/cleanup, pending-review, priority/low

#8964 doc: Update minikube requirement to meet TPROXY requirements
  Documentation/gettingstarted/minikube.rst
Labels: area/documentation, needs-backport/1.6, pending-review, priority/release-blocker

#8965 [1.6] doc: Update minikube requirement to meet TPROXY requirements
  Documentation/gettingstarted/minikube.rst
Labels: backport/1.6, pending-review

#8921 test: add script which pulls images which have not been pulled during VM provisioning
  test/provision/compile.sh
  test/provision/container-images.sh
Labels: area/CI, kind/enhancement, pending-review

#8966 Set test cluster cilium tag to latest
  test/helpers/kubectl.go
Labels: pending-review

#8975 Fix local node service connectivity issue with endpoint-routes mode
  daemon/endpoint.go
Labels: area/datapath, kind/bug, needs-backport/1.6, pending-review, release-note/bug

#8969 cilium: encryption, if IPv6 is not supported do not throw debug warning
  pkg/datapath/linux/node.go
Labels: kind/bug, needs-backport/1.6

#8984 Fix 'make microk8s' target
  Makefile
Labels: area/misc, pending-review

#8983 Fix cilium startup failure when xt_socket kernel module is not available
  pkg/datapath/iptables/iptables.go
Labels: area/datapath, kind/bug, needs-backport/1.6, pending-review

#8962 cilium: update IsEtcdCluster to return true if etcd.operator="true"
  pkg/kvstore/etcd.go
  pkg/kvstore/etcd_test.go
Labels: needs-backport/1.5, needs-backport/1.6, pending-review

#8976 daemon: factor out generation of endpoint labels model into `pkg/endpoint`
  daemon/endpoint.go
  pkg/endpoint/api.go
Labels: kind/cleanup, pending-review

#8977 endpoint: remove need to expose read-locking in `updateEndpointsCaches`
  pkg/endpoint/endpoint.go
  pkg/policy/identifier.go
  pkg/policy/identifier_test.go
  pkg/policy/resolve.go
  pkg/policy/resolve_test.go
  pkg/policy/rules.go
Labels: kind/cleanup, pending-review

#8981 helm: Add global.kubeConfigPath
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/charts/operator/templates/deployment.yaml
Labels: area/k8s, needs-backport/1.6, pending-review

#8973 Use proper helm value in CI clusters
  test/helpers/kubectl.go
Labels: area/CI, pending-review

#8958 cilium: Support user-specified monitor socket
  Documentation/cmdref/cilium_monitor.md
  cilium/cmd/monitor.go
Labels: backport/1.6, kind/backports

#8988 operator: Fix passing kvstore options via arguments
  operator/main.go
Labels: kind/bug, kind/regression, needs-backport/1.6, pending-review

#9000 iptables: Add explicit ACCEPT rules for host proxy traffic
  pkg/datapath/iptables/iptables.go
Labels: area/datapath, kind/bug, needs-backport/1.6, priority/insane :rotating_light:

#8994 workloads: Fix disabled status reflection in API
  pkg/workloads/client.go
  pkg/workloads/containerd.go
  pkg/workloads/cri.go
  pkg/workloads/crio.go
  pkg/workloads/defaults.go
  pkg/workloads/docker.go
Labels: area/misc, pending-review

#8999 workloads: do not set pod name and namespace via workloads plugin
  pkg/workloads/defaults.go
Labels: kind/cleanup, pending-review

#9003 docs: Document how to specify Flannel bridge name
  Documentation/gettingstarted/flannel-integration.rst
Labels: area/documentation, kind/enhancement, needs-backport/1.6, pending-review

#8896 endpoint: remove unused `HealthCEPPrefix` string
  pkg/endpoint/endpoint.go
Labels: kind/cleanup, pending-review, priority/low

#8972 endpoint: hide restore operations inside Endpoint package
  daemon/state.go
  pkg/endpoint/restore.go
Labels: kind/cleanup, pending-review

#8991 endpoint: move api-related functions to `api.go`
  pkg/endpoint/api.go
  pkg/endpoint/endpoint.go
Labels: kind/cleanup, pending-review

#8941 endpoint: create distinct type for restoring
  pkg/endpoint/endpoint.go
  pkg/endpoint/restore.go
Labels: kind/cleanup, pending-review

#9013 test: Use global.tag in helm command line
  test/kubernetes-test.sh
Labels: area/CI, kind/bug/CI, needs-backport/1.6

#9014 Allow DNS policy on ports other than 53
  Documentation/policy/language.rst
  pkg/policy/api/rule_validation.go
  pkg/policy/api/rule_validation_test.go
Labels: area/policy, needs-backport/1.6, needs/e2e-test, pending-review, release-note/minor

#8986 docs: Add kube-proxy free getting started guide
  Documentation/gettingstarted/index.rst
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#9006 v1.5 backports 2019-08-22
  pkg/kvstore/etcd.go
  pkg/kvstore/etcd_test.go
Labels: backport/1.5, kind/backports, pending-review

#9019 install/kubernetes: do not add clustermesh documentation by default
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/bug, needs-backport/1.6, pending-review, priority/low

#9015 docs: Update direct routing policy limitations
  Documentation/concepts/networking.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#9030 test: Remove old Cilium versions
  test/helpers/cons.go
  test/helpers/utils.go
  test/k8sT/manifests/v1.0/cilium-cm-patch-clean-cilium-state.yaml
  test/k8sT/manifests/v1.0/cilium-cm-patch.yaml
  test/k8sT/manifests/v1.0/cilium-ds-patch.yaml
  test/k8sT/manifests/v1.1/cilium-cm-patch-clean-cilium-state.yaml
  test/k8sT/manifests/v1.1/cilium-cm-patch.yaml
  test/k8sT/manifests/v1.1/cilium-ds-patch.yaml
  test/k8sT/manifests/v1.2/cilium-cm-patch-clean-cilium-state.yaml
  test/k8sT/manifests/v1.2/cilium-cm-patch.yaml
  test/k8sT/manifests/v1.2/cilium-ds-patch.yaml
  test/k8sT/manifests/v1.3/cilium-cm-patch-clean-cilium-state.yaml
  test/k8sT/manifests/v1.3/cilium-cm-patch.yaml
  test/k8sT/manifests/v1.3/cilium-ds-patch.yaml
  test/k8sT/manifests/v1.4/cilium-cm-patch-clean-cilium-state.yaml
  test/k8sT/manifests/v1.4/cilium-cm-patch.yaml
  test/k8sT/manifests/v1.4/cilium-ds-patch.yaml
Labels: area/CI, needs-backport/1.6, ready-to-merge

#9022 Preparation for AKS guide
  Documentation/gettingstarted/aws-eni.rst
  Documentation/gettingstarted/cni-chaining-aws-cni.rst
  Documentation/gettingstarted/k8s-install-eks.rst
  Documentation/gettingstarted/k8s-install-gke.rst
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/documentation, needs-backport/1.6, pending-review

#9031 test: Return the error in CmdRes.GetErr()
  test/helpers/cmd.go
Labels: area/CI, needs-backport/1.6, pending-review

#9033 AKS getting started guide
  Documentation/gettingstarted/cni-chaining.rst
  Documentation/gettingstarted/k8s-install-aks.rst
  Documentation/gettingstarted/k8s-install-managed.rst
Labels: area/documentation, needs-backport/1.6

#9034 cilium: only enable IPv6 forwarding if IPv6 is enabled
  daemon/sysctl_linux.go
Labels: area/daemon, kind/bug

#9040 daemon: Improve host-lb log messages and lower kernel vsn requirement for TCP host-lb
  daemon/daemon_main.go
Labels: area/daemon, needs-backport/1.6, pending-review

#9044 RFC: Update CODEOWNERS for specific packages and files
  CODEOWNERS
Labels: area/misc, pending-review

#9038 Revert "Remove componentstatus from rbac"
  install/kubernetes/cilium/charts/agent/templates/clusterrole.yaml
  install/kubernetes/cilium/charts/operator/templates/clusterrole.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.6, kind/backports, pending-review, priority/high

#8218 Allow icmp fragmentation needed agent option
  Documentation/cmdref/cilium-agent.md
  bpf/Makefile
  bpf/lib/policy.h
  daemon/bpf.sha
  daemon/daemon_main.go
  pkg/datapath/linux/config/config.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: area/datapath, area/policy, pending-review, release-note/minor

#8978 cni: Fix disabling of routing in chaining mode
  plugins/cilium-cni/chaining/generic-veth/generic-veth.go
Labels: area/cni, area/datapath, kind/bug, needs-backport/1.6, pending-review

#9059 Avoid mentioning deprecated option in docs
  Documentation/install/upgrade.rst
Labels: area/documentation, needs-backport/1.6, pending-review

#9074 docs: clarify nodeport and host-reachable services and 5.0.y kernel
  Documentation/gettingstarted/host-services.rst
  Documentation/gettingstarted/nodeport.rst
Labels: area/documentation, kind/community-report, needs-backport/1.6, pending-review

#9072 cilium: silence harmless CILIUM_TRANSIENT_FORWARD warning on startup
  daemon/daemon.go
  daemon/datapath.go
  pkg/datapath/iptables/iptables.go
Labels: area/daemon, needs-backport/1.5, needs-backport/1.6, pending-review

#9077 docs: Fix broken contributing links
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: area/documentation, pending-review

#9079 test: Remove workaround to MASQ traffic from k8s2
  test/provision/k8s_install.sh
Labels: area/CI, kind/enhancement, needs-backport/1.6, pending-review

#9055 docs: Update source branch in kube-proxy-free guide
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, needs-backport/1.6, pending-review, priority/high

#9075 test: remove microscope test
  test/k8sT/manifests/microscope.yaml
  test/k8sT/microscope.go
Labels: area/CI-improvement, pending-review

#9081 clustermesh: Improve troubleshooting ability
  Documentation/gettingstarted/clustermesh.rst
  pkg/clustermesh/remote_cluster.go
Labels: area/clustermesh, area/documentation, needs-backport/1.6, pending-review

#9090 cilium: fix restore v6 router ip to not break pod connectivity on restart
  pkg/datapath/linux/config/config.go
  pkg/datapath/linux/config/utils.go
  pkg/defaults/defaults.go
  pkg/node/node_address.go
Labels: kind/bug, needs-backport/1.6, priority/high, priority/release-blocker

#9094 tofqdns: Allow "_" in DNS names to support service discovery schemes
  pkg/fqdn/matchpattern/matchpattern.go
  pkg/fqdn/matchpattern/matchpattern_test.go
Labels: area/policy, needs-backport/1.5, needs-backport/1.6, pending-review

#9080 endpoint: do not export `EventQueue`
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_test.go
  pkg/endpoint/events.go
  pkg/endpoint/manager.go
  pkg/endpoint/policy.go
Labels: kind/cleanup, pending-review

#9069 endpoint: remove most cases of direct access to `OpLabels`
  daemon/endpoint.go
  pkg/endpoint/api.go
Labels: kind/cleanup, pending-review
