Repository cilium/cilium, pull requests merged in 2019-11, with the labels that each got.

#9538 health: Quieten health launch log
  cilium-health/launch/endpoint.go
Labels: area/misc, ready-to-merge

#9544 docs: re-wrote wording for the behavior of 'fromEndpoints'
  Documentation/policy/language.rst
Labels: area/documentation, pending-review

#9541 Clean up endpoint labels resolver on endpoint removal
  daemon/endpoint.go
  pkg/endpoint/endpoint.go
Labels: kind/bug, needs-backport/1.6, pending-review

#9509 eni: Allow releasing excess IP addresses via option
  Documentation/cmdref/cilium-operator.md
  operator/eni.go
  operator/main.go
  pkg/aws/ec2/ec2.go
  pkg/aws/ec2/mock/mock.go
  pkg/aws/ec2/mock/mock_test.go
  pkg/aws/eni/metrics/metrics.go
  pkg/aws/eni/metrics/mock/mock.go
  pkg/aws/eni/node.go
  pkg/aws/eni/node_manager.go
  pkg/aws/eni/node_manager_test.go
  pkg/aws/eni/node_test.go
  pkg/option/config.go
Labels: area/eni, pending-review

#9535 pkg/k8s: fix toServices policy update when service endpoints are modified
  pkg/k8s/watchers/watcher.go
  pkg/k8s/watchers/watcher_test.go
Labels: area/policy, kind/bug, needs-backport/1.5, needs-backport/1.6, pending-review, release-note/minor

#9549 bpf: Don't perform L3 operation when ENABLE_ROUTING is disabled
  bpf/bpf_lxc.c
  daemon/bpf.sha
Labels: area/datapath, kind/bug, needs-backport/1.6, pending-review

#9107 Docs: tofqdns-pre-cache is optional in preflight templates
  Documentation/install/upgrade.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/charts/preflight/templates/daemonset.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/documentation, needs-backport/1.6, pending-review

#9559 contrib: Fix 'reset' variable declaration
  contrib/shell/test.sh
  contrib/shell/util.sh
Labels: area/misc, pending-review

#9551 pkg/endpoint: start RegenerationFailureHandler after assign epID
  pkg/endpoint/api.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/manager.go
Labels: kind/bug, needs-backport/1.6, pending-review

#9526 Added chart value for etcd-operator cluster domain
  install/kubernetes/cilium/charts/managed-etcd/templates/cilium-etcd-operator-deployment.yaml
  install/kubernetes/cilium/values.yaml
Labels: kind/enhancement, needs-backport/1.6, pending-review

#9567 [v1.6] golang: update to 1.12.13
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing/contributing.rst
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
Labels: backport/1.6, kind/backports, pending-review

#9566 [v1.5] golang: update to 1.12.13
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing.rst
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
Labels: backport/1.5, kind/backports, pending-review

#9563 [v1.6] pkg/k8s: fix toServices policy update when service endpoints are modi…
  daemon/k8s_watcher.go
Labels: backport/1.6, kind/backports, pending-review, release-note/bug

#9564 [v1.5] pkg/k8s: fix toServices policy update when service endpoints are modi…
  daemon/k8s_watcher.go
Labels: backport/1.6, kind/backports, pending-review, release-note/bug

#9565 golang: update to 1.13.4
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing/development/dev_setup.rst
  GO_VERSION
  Makefile
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
Labels: pending-review

#9561 iptables: Fix incorrect SNAT for externalTrafficPolicy=local
  pkg/datapath/iptables/iptables.go
Labels: area/datapath, pending-review

#9573 Move missed kubectl apply calls to `Apply` calls
  test/helpers/kubectl.go
Labels: pending-review

#9568 Add gops to cilium-cni
  plugins/cilium-cni/cilium-cni.go
Labels: pending-review

#9578 Documentation: add script to add misspelled words
  Documentation/Dockerfile
  Documentation/Makefile
  Documentation/spelling_wordlist.txt
  Documentation/update-spelling_wordlist.sh
Labels: area/documentation, pending-review

#9569 docs: update docs for `--aws-release-excess-ips`
  Documentation/concepts/ipam/eni.rst
Labels: area/documentation, pending-review

#9584 Make Agent Prometheus Exporter port configurable
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/agent/templates/svc.yaml
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: pending-review

#9588 vendor: fix stack corruption from retrieving veth peer index
  go.mod
  go.sum
  vendor/github.com/vishvananda/netlink/go.mod
  vendor/github.com/vishvananda/netlink/go.sum
  vendor/github.com/vishvananda/netlink/ioctl_linux.go
  vendor/github.com/vishvananda/netlink/link_linux.go
  vendor/modules.txt
Labels: area/daemon, kind/bug, needs-backport/1.5, needs-backport/1.6

#9581 operator: do not rm kube-dns pods if unmanaged-pod-watcher-interval == 0
  operator/main.go
Labels: kind/bug, needs-backport/1.5, needs-backport/1.6, pending-review, release-note/bug

#9575 HostToContainer propagation for /sys/fs/bpf
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/bug, pending-review

#9583 unmanaged kube-dns: Delete one pod per iteration
  operator/k8s_pod_controller.go
Labels: kind/bug, pending-review

#9597 cni: fix cni plugin error formatting when agent is not running
  plugins/cilium-cni/cilium-cni.go
Labels: kind/bug, needs-backport/1.6, pending-review

#9602 docs: fix spelling issues in clusterwide policy docs
  Documentation/policy/index.rst
  Documentation/spelling_wordlist.txt
  README.rst
Labels: area/documentation, pending-review

#9598 Add MAINTAINERS file
  MAINTAINERS.rst
Labels: area/documentation, pending-review

#9601 pkg/endpoint: add policy visibility status into CiliumEndpoint
  pkg/endpoint/endpoint_status.go
  pkg/endpoint/policy.go
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/apis/cilium.io/v2/types.go
  pkg/policy/visibility.go
Labels: area/policy, pending-review, ready-to-merge

#9606 vendor: point vishvananda/netlink back to upstream
  go.mod
  go.sum
  vendor/github.com/vishvananda/netlink/addr_linux.go
  vendor/github.com/vishvananda/netlink/route_linux.go
  vendor/modules.txt
Labels: area/misc, needs-backport/1.5, needs-backport/1.6, pending-review

#9605 Add nil check for init container terminated state
  test/helpers/kubectl.go
Labels: pending-review, ready-to-merge, release-note/ci

#9596 Remove microscope helpers from testing packages
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/k8sT/KafkaPolicies.go
  test/k8sT/Policies.go
  test/k8sT/Services.go
  test/k8sT/Updates.go
  test/k8sT/demos.go
  test/k8sT/fqdn.go
  test/k8sT/istio.go
Labels: pending-review, release-note/ci

#9608 envoy: Update to release 1.12.1
  Dockerfile
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/proxy, needs-backport/1.4, needs-backport/1.5, needs-backport/1.6, priority/release-blocker, release-note/minor

#9611 aws/eni: do not resync node if semaphore Acquire fails
  pkg/aws/eni/node_manager.go
Labels: needs-backport/1.6, pending-review, release-note/misc

#9615 Fix kafka v1 yaml incompatibility
  examples/kubernetes-istio/kafka-v1.yaml
Labels: needs-backport/1.6, release-note/bug

#9617 policy: Keep cached selector references for L3-dependent L7 rules.
  pkg/policy/l4_filter_test.go
  pkg/policy/rule.go
  pkg/policy/rule_test.go
Labels: area/policy, kind/bug, needs-backport/1.6, priority/release-blocker, release-note/bug

#9618 [CI] set registry in boot vagrant vms steps
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Labels: pending-review

#9614 Update k8s to v1.16.3, 1.14.9 and 1.15.6
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/kubernetes-test.sh
  test/provision/k8s_install.sh
  vendor/k8s.io/apimachinery/pkg/util/intstr/intstr.go
  vendor/k8s.io/client-go/tools/cache/delta_fifo.go
  vendor/modules.txt
Labels: area/k8s, pending-review, priority/release-blocker, release-note/minor

#9629 Refine the clean up scripts for getting started guides
  Documentation/gettingstarted/cassandra.rst
  Documentation/gettingstarted/elasticsearch.rst
  Documentation/gettingstarted/grpc.rst
  Documentation/gettingstarted/http.rst
  Documentation/gettingstarted/kafka.rst
  Documentation/gettingstarted/memcached.rst
Labels: release-note/misc

#9621 docs: Fix up nodeport limitations
  Documentation/gettingstarted/nodeport.rst
Labels: area/documentation, pending-review, release-note/misc

#9519 Cilium daemonset gets deleted every 40s on AKS.
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/quick-install.yaml
Labels: area/k8s, kind/bug, needs-backport/1.6, pending-review, release-note/bug

#9635 Dockerfile: Use Envoy image that always resumes NPDS
  Dockerfile
Labels: area/proxy, kind/bug, pending-review, priority/release-blocker

#9616 backport: fqdn: L3-aware L7 DNS policy enforcement
  daemon/fqdn.go
  pkg/fqdn/dnsproxy/helpers.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/fqdn/regexpmap/regexp_map.go
  pkg/fqdn/regexpmap/regexp_map_test.go
  pkg/logging/logfields/logfields.go
  pkg/proxy/dns.go
Labels: backport/1.6, kind/backports, wip

#9637 Updating AUTHORS
  AUTHORS
Labels: pending-review

#9639 README: Add link to Hubble
  README.rst
Labels: area/documentation, pending-review

#9643 Add missing words to spelling_wordlist
  Documentation/spelling_wordlist.txt
Labels: area/documentation

#9612 cilium: fix disconnects on operator restarts when using ipsec
  daemon/daemon.go
  daemon/datapath.go
  pkg/annotation/k8s.go
  pkg/k8s/annotate.go
  pkg/k8s/client_test.go
  pkg/k8s/node.go
Labels: area/encryption, kind/bug, priority/high, release-note/misc

#9632 make: Remove GOPATH from swagger command
  Makefile
Labels: pending-review, release-note/misc

#9640 Pin kubectl version in ginkgo vms
  test/provision/k8s_install.sh
Labels: pending-review

#9648 Connection aware DNS proxy fixups
  daemon/fqdn.go
  pkg/fqdn/cache.go
  pkg/fqdn/cache_test.go
Labels: area/daemon, pending-review, release-note/misc

#9658 helm: Fix bug to disable health-checks in chaining mode
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: area/daemon, needs-backport/1.6, pending-review, release-note/misc

#9666 test: Support external DNS lookups also for k8s-1.16
  test/provision/manifest/1.16/coredns_deployment.yaml
Labels: area/CI-improvement, area/k8s, pending-review

#9665 docs: Describe how to read from tracing pipe
  Documentation/bpf.rst
Labels: area/documentation, pending-review, release-note/misc

#9664 .github: Clarify release-notes section
  .github/pull_request_template.md
Labels: kind/cleanup, pending-review, release-note/misc

#9668 [CI] fix /var/log/journal mount in log gatherer
  test/k8sT/manifests/log-gatherer.yaml
Labels: area/CI, pending-review, release-note/ci

#9667 [CI] allow to specify focus via GH comment
  ginkgo.Jenkinsfile
Labels: area/CI-improvement, pending-review, release-note/ci

#9670 docs: add policy visibility status documentation
  Documentation/policy/visibility.rst
Labels: area/documentation, pending-review, release-note/misc

#9662 cosmetic: Improve identity / allocator logs
  daemon/identity.go
  pkg/kvstore/allocator/allocator.go
Labels: kind/cleanup, pending-review, release-note/misc

#9672 v1.6 backports 2019-11-26
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: backport/1.6, kind/backports, pending-review, priority/release-blocker

#9677 Prepare for release v1.6.4
  AUTHORS
  NEWS.rst
  VERSION
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/release, pending-review

#9688 readme: update info for latest stable branch releases
  README.rst
Labels: area/documentation

#9687 bpf, nodeport: fix CT GC race where syn/ack reply gets dropped locally
  bpf/lib/conntrack.h
  bpf/lib/nodeport.h
  daemon/bpf.sha
Labels: area/datapath, kind/bug

#9691 k8s: Fix typo in io.cilium/shared-service annotation
  pkg/annotation/k8s.go
  pkg/k8s/service_test.go
Labels: area/clustermesh, kind/bug, pending-review, release-note/bug

#9655 Add CRD validation for ciliumnodes.cilium.io
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/nodediscovery/nodediscovery.go
Labels: pending-review, release-note/minor

#9679 Improve Getting Started guides by provide next steps sections
  Documentation/gettingstarted/aws-eni.rst
  Documentation/gettingstarted/cni-chaining-aws-cni.rst
  Documentation/gettingstarted/cni-chaining-azure-cni.rst
  Documentation/gettingstarted/cni-chaining-calico.rst
  Documentation/gettingstarted/cni-chaining-weave.rst
  Documentation/gettingstarted/getting-started-next-steps.rst
  Documentation/gettingstarted/hubble-install.rst
  Documentation/gettingstarted/k8s-install-aks.rst
  Documentation/gettingstarted/k8s-install-default.rst
  Documentation/gettingstarted/k8s-install-eks.rst
  Documentation/gettingstarted/k8s-install-gke.rst
  Documentation/gettingstarted/minikube.rst
Labels: area/documentation

#9650 Deprecate/Delete support for monitor v1.0 socket
  Documentation/install/upgrade.rst
  cilium/cmd/monitor.go
  pkg/defaults/defaults.go
  pkg/monitor/agent/listener/listener.go
Labels: area/monitor, pending-review, release-note/minor

#9690 k8s: Fix Service.DeepEquals for ExternalIP
  pkg/k8s/service.go
  pkg/k8s/service_test.go
Labels: area/daemon, area/k8s, kind/bug, pending-review, release-note/bug

#9692 doc: Fix AKS installation guide
  Documentation/gettingstarted/k8s-install-aks.rst
  Documentation/gettingstarted/k8s-install-azure-cni-steps.rst
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
Labels: area/documentation, needs-backport/1.6, pending-review

#9695 doc: Disable masquerading in all chaining guides
  Documentation/gettingstarted/cni-chaining-calico.rst
  Documentation/gettingstarted/cni-chaining-generic-veth.rst
  Documentation/gettingstarted/cni-chaining-weave.rst
  Documentation/gettingstarted/k8s-install-azure-cni-steps.rst
Labels: area/documentation, needs-backport/1.6, pending-review
