Repository cilium/cilium, pull requests merged in 2019-04, with the labels that each got.

#7550 k8s: Cache server version and capabilities
  daemon/k8s_watcher.go
  daemon/k8s_watcher_test.go
  operator/k8s_cep_gc.go
  operator/main.go
  pkg/k8s/client.go
  pkg/k8s/cnp.go
  pkg/k8s/cnp_test.go
  pkg/k8s/const.go
  pkg/k8s/endpointsynchronizer/cep.go
  pkg/k8s/init.go
  pkg/k8s/json_patch.go
  pkg/k8s/version/version.go
Labels: pending-review

#7545 Fix commit order in check-stable backporting script
  contrib/backporting/check-stable
Labels: area/misc, needs-backport/1.3, needs-backport/1.4, pending-review

#7560 docs: Add definitions for other kvstore elements
  Documentation/kvstore.rst
Labels: area/documentation, pending-review

#7518 cilium: ipsec, support direct routing modes
  Documentation/cmdref/cilium-agent.md
  bpf/Makefile
  bpf/bpf_lxc.c
  bpf/bpf_netdev.c
  bpf/bpf_network.c
  bpf/init.sh
  bpf/node_config.h
  daemon/bpf.sha
  daemon/daemon.go
  daemon/daemon_main.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/linux_defaults/linux_defaults.go
  pkg/datapath/linux/node.go
  pkg/option/config.go
Labels: ready-to-merge

#7557 Documentation: remove references to ThirdPartyResources
  Documentation/glossary.rst
  Documentation/kubernetes/policy.rst
  Documentation/kubernetes/troubleshooting.rst
Labels: area/documentation, kind/cleanup

#7564 bpf: Fix Go format
  pkg/bpf/map_linux_test.go
Labels: kind/cleanup, priority/release-blocker

#7537 Test: Alleviate the WaitForPods constrains about terminated pods.
  test/helpers/kubectl.go
Labels: area/CI, area/CI-improvement, pending-review

#7570 .travis: run travis on all PRs
  .travis.yml
Labels: area/CI, area/CI-improvement, needs-backport/1.3, needs-backport/1.4, pending-review

#7561 fix misc. issues with unit tests
  pkg/bpf/endpoint_test.go
  pkg/bpf/map_test.go
  plugins/cilium-cni/cilium-cni.go
Labels: area/CI, pending-review

#7552 [to v1.4] Revert DNS order-of-operations changes from #7475
  pkg/fqdn/dnsproxy/proxy.go
Labels: kind/backports

#7563 cilium: documentation updates for direct routing encryption
  Documentation/gettingstarted/encryption.rst
Labels: area/documentation, pending-review

#7574 Update documentation for iproute2 dependency
  Documentation/install/system_requirements.rst
  Documentation/spelling_wordlist.txt
  examples/getting-started/Vagrantfile
Labels: area/documentation, pending-review

#7577 cilium: encryption needs to use string reference
  daemon/daemon_main.go
  pkg/datapath/linux/datapath.go
  pkg/datapath/linux/node.go
Labels: pending-review, priority/release-blocker

#7589 add cilium-operator restart to cluster mesh getting started guide
  Documentation/gettingstarted/clustermesh.rst
Labels: area/documentation, pending-review

#7588 cilium: transparent encryption direct routing CI test
  test/k8sT/DatapathConfiguration.go
  test/k8sT/manifests/cilium-ds-patch-auto-node-routes-ipsec.yaml
Labels: area/CI, pending-review

#7585 endpoint: Use IsSet() to check if endpoint IP is set
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/policy.go
Labels: kind/bug, needs-backport/1.4, pending-review, release-note/bug

#7587 cmd: Warn if bpf ipcache list cmd comes up empty
  Documentation/cmdref/cilium_bpf_ipcache_list.md
  cilium/cmd/bpf_ipcache_list.go
Labels: area/cli, pending-review

#7586 docs: Add a page with link to the kubeadm guide
  Documentation/gettingstarted/k8s-install-kubeadm.rst
  Documentation/gettingstarted/k8s-install-self-managed.rst
Labels: area/documentation, pending-review

#7583 Run Cilium Operator in dev vm
  Vagrantfile
  contrib/systemd/cilium
  contrib/systemd/cilium-operator.service
  contrib/vagrant/start.sh
Labels: area/misc, kind/enhancement, needs-backport/1.4, pending-review, ready-to-merge

#7592 allocator: Fix warnings on master & slave key re-creation
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/backend.go
  pkg/kvstore/base_test.go
  pkg/kvstore/consul.go
  pkg/kvstore/etcd.go
  pkg/kvstore/kvstore.go
Labels: kind/bug, pending-review

#7566 policy: Allow DNS proxy only on port 53.
  Documentation/policy/language.rst
  pkg/policy/api/rule_validation.go
  pkg/policy/api/rule_validation_test.go
Labels: area/daemon, priority/release-blocker, release-note/minor

#7581 k8s: Add SYS_MODULE capability, module paths
  examples/kubernetes/1.10/cilium-containerd-ds.yaml
  examples/kubernetes/1.10/cilium-containerd.yaml
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-external-etcd.yaml
  examples/kubernetes/1.10/cilium-minikube-ds.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.10/cilium-with-node-init.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-containerd-ds.yaml
  examples/kubernetes/1.11/cilium-containerd.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-external-etcd.yaml
  examples/kubernetes/1.11/cilium-minikube-ds.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium-with-node-init.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-containerd-ds.yaml
  examples/kubernetes/1.12/cilium-containerd.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-external-etcd.yaml
  examples/kubernetes/1.12/cilium-minikube-ds.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium-with-node-init.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-containerd-ds.yaml
  examples/kubernetes/1.13/cilium-containerd.yaml
  examples/kubernetes/1.13/cilium-crio-ds.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-ds.yaml
  examples/kubernetes/1.13/cilium-external-etcd.yaml
  examples/kubernetes/1.13/cilium-minikube-ds.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium-with-node-init.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.14/cilium-containerd-ds.yaml
  examples/kubernetes/1.14/cilium-containerd.yaml
  examples/kubernetes/1.14/cilium-crio-ds.yaml
  examples/kubernetes/1.14/cilium-crio.yaml
  examples/kubernetes/1.14/cilium-ds.yaml
  examples/kubernetes/1.14/cilium-external-etcd.yaml
  examples/kubernetes/1.14/cilium-minikube-ds.yaml
  examples/kubernetes/1.14/cilium-minikube.yaml
  examples/kubernetes/1.14/cilium-with-node-init.yaml
  examples/kubernetes/1.14/cilium.yaml
  examples/kubernetes/templates/v1/cilium-containerd-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-minikube-ds.yaml.sed
Labels: area/datapath, kind/enhancement, pending-review, priority/release-blocker

#7602 envoy: Use fixed envoy image
  Dockerfile
Labels: area/proxy, backport-pending/1.3, backport-pending/1.4, kind/bug, needs-backport/1.3, needs-backport/1.4, pending-review, priority/release-blocker

#7603 envoy: Use fixed envoy image
  Dockerfile
Labels: backport/1.4, priority/release-blocker

#7604 envoy: Use fixed envoy image
  Dockerfile
  Makefile.defs
  daemon/main.go
  envoy/BAZEL_VERSION
  envoy/BUILD
  envoy/BUILD_DEPS
  envoy/Dockerfile
  envoy/Dockerfile.istio_proxy.in
  envoy/Dockerfile.istio_proxy_debug.in
  envoy/Makefile
  envoy/Makefile.api
  envoy/Makefile.deps
  envoy/README.Istio.md
  envoy/README.md
  envoy/WORKSPACE
  envoy/accesslog.cc
  envoy/accesslog.h
  envoy/bazel/get_workspace_status
  envoy/bpf.cc
  envoy/bpf.h
  envoy/cilium/accesslog.proto
  envoy/cilium/cilium_bpf_metadata.proto
  envoy/cilium/cilium_l7policy.proto
  envoy/cilium/cilium_network_filter.proto
  envoy/cilium/npds.proto
  envoy/cilium/nphds.proto
  envoy/cilium_bpf_metadata.cc
  envoy/cilium_bpf_metadata.h
  envoy/cilium_host_map.cc
  envoy/cilium_host_map.h
  envoy/cilium_integration_test.cc
  envoy/cilium_l7policy.cc
  envoy/cilium_l7policy.h
  envoy/cilium_network_filter.cc
  envoy/cilium_network_filter.h
  envoy/cilium_network_policy.cc
  envoy/cilium_network_policy.h
  envoy/cilium_proxy_test.json
  envoy/cilium_proxylib.cc
  envoy/cilium_proxylib.h
  envoy/cilium_socket_option.h
  envoy/envoy_binary_test.sh
  envoy/envoy_bootstrap_tmpl.json
  envoy/grpc_subscription.h
  envoy/linux/bpf.h
  envoy/linux/bpf_common.h
  envoy/linux/type_mapper.h
  envoy/proxymap.cc
  envoy/proxymap.h
  envoy/tools/bazel.rc
  pkg/envoy/envoy.go
Labels: backport/1.3, priority/release-blocker

#7599 cilium: encryption support unmanaged identity with direct routing
  bpf/bpf_lxc.c
  bpf/bpf_netdev.c
  daemon/bpf.sha
Labels: area/datapath, pending-review

#7606 Prepare 1.3.5 release
  AUTHORS
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-pre-flight.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-pre-flight.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-pre-flight.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-pre-flight.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-pre-flight.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: backport/1.3, kind/release, pending-review

#7582 eventqueue: check if queue is nil before checking if drained
  pkg/endpointmanager/manager.go
  pkg/eventqueue/eventqueue.go
  pkg/eventqueue/eventqueue_test.go
Labels: kind/bug, pending-review

#7630 Prepare v1.5 branch
  CODEOWNERS
Labels: pending-review

#7627 Simplify operator shutdown
  operator/main.go
Labels: kind/enhancement, pending-review

#7633 CODEOWNERS: add @cilium/operator as operator/ codeowner
  CODEOWNERS
Labels: area/misc, area/operator, pending-review

#7621 datapath: Optimize connection-tracking GC interval
  Documentation/cmdref/cilium-agent.md
  Documentation/install/upgrade.rst
  daemon/daemon_main.go
  pkg/defaults/defaults.go
  pkg/endpointmanager/conntrack.go
  pkg/maps/ctmap/ctmap.go
  pkg/option/config.go
Labels: needs-backport/1.5, pending-review, priority/release-blocker

#7628 node/store: delete ipcache entries for node events
  pkg/node/store/store.go
Labels: kind/bug, needs-backport/1.5, pending-review, priority/release-blocker

#7642 ipsec: Remove leftover warning message used for debugging
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: kind/bug, needs-backport/1.5

#7644 bpf: Avoid unnecessary error when ending parallel map mode
  daemon/daemon_main.go
  pkg/bpf/map_linux.go
  pkg/bpf/map_linux_test.go
Labels: kind/bug, needs-backport/1.5, pending-review, priority/release-blocker

#7650 agent: Fix --contrack-gc-interval option
  pkg/option/config.go
Labels: kind/bug, needs-backport/1.5, priority/release-blocker

#7614 daemon: remove host-allows-world option
  Documentation/kubernetes/configuration.rst
  daemon/daemon.go
  daemon/daemon_main.go
  pkg/option/config.go
  pkg/policy/mapstate.go
  pkg/policy/repository.go
  pkg/policy/rule.go
Labels: kind/cleanup, needs-backport/1.5, pending-review, priority/release-blocker

#7648 cilium, bpf: fix panic when run with newer LLVM
  bpf/cilium-map-migrate.c
  daemon/bpf.sha
  pkg/elf/symbols.go
Labels: area/daemon, area/datapath, kind/bug, needs-backport/1.5, ready-to-merge

#7654 Document cilium-operator in concepts section.
  Documentation/concepts.rst
Labels: area/documentation, needs-backport/1.5, pending-review

#7657 Don't use local remote in check-stable script
  contrib/backporting/check-stable
  contrib/backporting/cherry-pick
Labels: needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#7658 allocator: Block Allocate() and Release() until key list is initialized
  pkg/kvstore/allocator/allocator.go
Labels: kind/bug, needs-backport/1.5, pending-review

#7656 kvstore: Simplify Client() blocking behavior
  pkg/kvstore/client.go
Labels: kind/cleanup, pending-review

#7662 Test: Runtime validate that endpoints are restored correctly.
  test/helpers/cilium.go
  test/runtime/assertionHelpers.go
  test/runtime/chaos.go
  test/runtime/fqdn.go
Labels: area/CI, area/CI-improvement, pending-review

#7666 Fix metrics for policy revision
  pkg/policy/repository.go
Labels: area/metrics, needs-backport/1.5, pending-review

#7660 allocator: Relax number of iterations in unit testing
  pkg/kvstore/allocator/allocator_test.go
Labels: pending-review

#7671 identity: Don't serialize reference counts
  pkg/identity/identity.go
Labels: needs-backport/1.5, pending-review

#7669 Documentation: clean up upgrade instructions
  Documentation/install/upgrade.rst
Labels: area/documentation, kind/cleanup, needs-backport/1.5

#7674 Fix Junit attachment in runtime test.
  test/test_suite_test.go
Labels: needs-backport/1.4, needs-backport/1.5, pending-review

#7679 Vagrant: Bump image to 143.
  Vagrantfile
  test/Vagrantfile
Labels: area/CI, pending-review

#7667 agent: Delete endpoints which failed to restore synchronously
  daemon/endpoint.go
  daemon/health.go
  daemon/policy_test.go
  daemon/state.go
  pkg/endpoint/endpoint.go
Labels: kind/bug, needs-backport/1.4, needs-backport/1.5, pending-review, priority/release-blocker

#7685 Improve logging around endpoint headerfile writes
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
Labels: kind/cleanup, needs-backport/1.5, pending-review

#7686 bugtool: get cilium ConfigMap in bugtool output
  bugtool/cmd/configuration.go
Labels: area/bugtool, pending-review, priority/low

#7689 Vagrantfiles: bump version to 144
  Vagrantfile
  test/Vagrantfile
Labels: area/CI, area/misc, needs-backport/1.5, pending-review

#7690 Node: Try to prioritize the InternalIPv[46] from restore.
  pkg/node/node_address.go
  pkg/node/node_address_darwin.go
  pkg/node/node_address_linux.go
Labels: area/daemon, kind/bug, needs-backport/1.5, pending-review, release-note/bug

#7699 Fix unnecessary CEP errors & warnings
  pkg/k8s/endpointsynchronizer/cep.go
Labels: kind/bug, needs-backport/1.5, pending-review

#7663 kubernetes-upstream: update to k8s 1.14
  kubernetes-upstream.Jenkinsfile
Labels: area/CI, needs-backport/1.5, pending-review

#7688 ipam: Provide ownership information of IP allocations
  api/v1/client/ipam/post_ip_a_m_ip_parameters.go
  api/v1/client/ipam/post_ip_a_m_parameters.go
  api/v1/models/allocation_map.go
  api/v1/models/ip_a_m_status.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  api/v1/server/restapi/ipam/post_ip_a_m_ip_parameters.go
  api/v1/server/restapi/ipam/post_ip_a_m_ip_urlbuilder.go
  api/v1/server/restapi/ipam/post_ip_a_m_parameters.go
  api/v1/server/restapi/ipam/post_ip_a_m_urlbuilder.go
  daemon/daemon.go
  daemon/endpoint_test.go
  daemon/ipam.go
  daemon/state.go
  pkg/client/client.go
  pkg/client/ipam.go
  pkg/endpoint/endpoint.go
  pkg/ipam/allocator.go
  pkg/ipam/allocator_test.go
  pkg/ipam/ipam.go
  pkg/ipam/types.go
  pkg/workloads/config.go
  pkg/workloads/cri.go
  pkg/workloads/docker.go
  plugins/cilium-cni/cilium-cni.go
  plugins/cilium-docker/driver/ipam.go
Labels: needs-backport/1.5, pending-review, priority/release-blocker

#7696 v1.3 backports 2019-04-12
  contrib/backporting/check-stable
  contrib/backporting/cherry-pick
Labels: backport/1.3, kind/backports, pending-review

#7703 Various bugfixes & improvements to daemon config handling
  daemon/daemon_main.go
Labels: kind/enhancement, needs-backport/1.5, pending-review

#7713 Doc: Update jinja dependency for documentation building
  Documentation/requirements.txt
Labels: kind/bug, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#7716 test: Disable flaky encapsulation encryption test
  test/k8sT/DatapathConfiguration.go
Labels: area/CI, needs-backport/1.5, pending-review

#7717 envoy: Update to enable path normalization
  Dockerfile
  test/helpers/wrappers.go
  test/runtime/Policies.go
  test/runtime/manifests/Policies-l7-simple.json
Labels: area/proxy, kind/bug, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, priority/release-blocker

#7720 CI: Enforce sensible timeouts.
  test/helpers/utils.go
  test/k8sT/KafkaPolicies.go
  test/k8sT/microscope.go
  test/runtime/connectivity.go
  test/runtime/fqdn.go
Labels: area/CI, kind/bug/CI, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review, priority/release-blocker

#7704 Fix backporting scripts for https users
  contrib/backporting/check-stable
  contrib/backporting/cherry-pick
Labels: needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#7733 Fix cilium configfile CLI
  daemon/daemon_main.go
Labels: area/cli, kind/regression, needs-backport/1.5

#7737 Prepare for v1.3.6 release
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-pre-flight.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-pre-flight.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-pre-flight.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.8/cilium-crio-ds.yaml
  examples/kubernetes/1.8/cilium-crio.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium-pre-flight.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-crio-ds.yaml
  examples/kubernetes/1.9/cilium-crio.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium-pre-flight.yaml
  examples/kubernetes/1.9/cilium.yaml
Labels: kind/release, pending-review

#7727 contrib: Exit early if no git remote is found
  contrib/backporting/check-stable
  contrib/backporting/cherry-pick
  contrib/backporting/common.sh
Labels: area/misc, kind/enhancement, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5

#7738 test: Fix gofmt reported miss-formats in runtime tests
  test/helpers/utils.go
  test/runtime/connectivity.go
Labels: area/CI, kind/bug, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#7744 Improve debuggability of toEntities test failures with DNS
  test/k8sT/Policies.go
Labels: area/CI, kind/enhancement, ready-to-merge

#7745 refine CODEOWNERS
  CODEOWNERS
Labels: kind/cleanup, pending-review

#7710 Minor restore refactoring and improvement to logging
  daemon/state.go
Labels: area/daemon, kind/cleanup, pending-review

#7748 test: Fix hang when timeout reached during command execution
  test/helpers/ssh_command.go
Labels: area/CI, pending-review

#7747 update Vagrantfiles to version 145
  Vagrantfile
  test/Vagrantfile
Labels: area/CI, needs-backport/1.5, pending-review

#7734 cilium: Encryption overhead MTU accounting
  daemon/daemon.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/ipsec_linux_test.go
  pkg/datapath/linux/node_linux_test.go
  pkg/datapath/linux/route/route_linux_test.go
  pkg/mtu/mtu.go
  pkg/mtu/mtu_test.go
Labels: pending-review, priority/release-blocker

#7705 test: decrease HelperTimeout to 4 minutes
  test/helpers/cons.go
Labels: area/CI, pending-review

#7741 examples: Add --enable-legacy-service=false to ConfigMap
  examples/kubernetes/1.10/cilium-cm.yaml
  examples/kubernetes/1.10/cilium-containerd.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-external-etcd.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.10/cilium-with-node-init.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-cm.yaml
  examples/kubernetes/1.11/cilium-containerd.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-external-etcd.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium-with-node-init.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-cm.yaml
  examples/kubernetes/1.12/cilium-containerd.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-external-etcd.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium-with-node-init.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-cm.yaml
  examples/kubernetes/1.13/cilium-containerd.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-external-etcd.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium-with-node-init.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.14/cilium-cm.yaml
  examples/kubernetes/1.14/cilium-containerd.yaml
  examples/kubernetes/1.14/cilium-crio.yaml
  examples/kubernetes/1.14/cilium-external-etcd.yaml
  examples/kubernetes/1.14/cilium-minikube.yaml
  examples/kubernetes/1.14/cilium-with-node-init.yaml
  examples/kubernetes/1.14/cilium.yaml
  examples/kubernetes/templates/v1/cilium-cm.yaml
Labels: area/k8s, kind/enhancement, needs-backport/1.5, pending-review, priority/release-blocker

#7758 [k8s-upstream-test] Replace deprecated provider
  test/kubernetes-test.sh
Labels: area/CI, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, ready-to-merge

#7757 CI: Check Cilium Operator only when supported
  test/helpers/kubectl.go
  test/k8sT/Updates.go
  test/k8sT/assertionHelpers.go
Labels: area/CI, pending-review

#7746 move readEPsFromDirNames to pkg/endpoint
  daemon/state.go
  daemon/state_test.go
  pkg/endpoint/restore.go
Labels: kind/cleanup, pending-review

#7687 cilium-health: Rebuild health-ep via identity set
  cilium-health/launch/endpoint.go
Labels: area/health, kind/bug, kind/cleanup, pending-review

#7761 docs: Add containerd to self-managed installation section
  Documentation/gettingstarted/k8s-install-etcd-operator-steps.rst
Labels: area/documentation, needs-backport/1.5

#7711 Support forcing full regeneration of an endpoint
  pkg/datapath/loader/compile.go
  pkg/datapath/loader/loader.go
  pkg/datapath/loader/loader_test.go
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/regenerationcontext.go
Labels: area/datapath, ready-to-merge

#7700 Add `dep check` to travis build
  .travis/build.sh
  .travis/prepare.sh
Labels: area/CI-improvement, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#7763 daemon: Panic if executable name does not match cilium{-agent,-node-monitor,}
  daemon/main.go
Labels: area/cli, area/daemon, kind/enhancement, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#7478 k8s: Merge init-container.sh with cilium cleanup
  Documentation/cmdref/cilium_cleanup.md
  cilium/cmd/cleanup.go
  contrib/packaging/docker/Dockerfile.init
  contrib/packaging/docker/init-container.sh
  examples/kubernetes/1.10/cilium-containerd-ds.yaml
  examples/kubernetes/1.10/cilium-containerd.yaml
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-external-etcd.yaml
  examples/kubernetes/1.10/cilium-minikube-ds.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.10/cilium-with-node-init.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-containerd-ds.yaml
  examples/kubernetes/1.11/cilium-containerd.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-external-etcd.yaml
  examples/kubernetes/1.11/cilium-minikube-ds.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium-with-node-init.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-containerd-ds.yaml
  examples/kubernetes/1.12/cilium-containerd.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-external-etcd.yaml
  examples/kubernetes/1.12/cilium-minikube-ds.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium-with-node-init.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-containerd-ds.yaml
  examples/kubernetes/1.13/cilium-containerd.yaml
  examples/kubernetes/1.13/cilium-crio-ds.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-ds.yaml
  examples/kubernetes/1.13/cilium-external-etcd.yaml
  examples/kubernetes/1.13/cilium-minikube-ds.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium-with-node-init.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.14/cilium-containerd-ds.yaml
  examples/kubernetes/1.14/cilium-containerd.yaml
  examples/kubernetes/1.14/cilium-crio-ds.yaml
  examples/kubernetes/1.14/cilium-crio.yaml
  examples/kubernetes/1.14/cilium-ds.yaml
  examples/kubernetes/1.14/cilium-external-etcd.yaml
  examples/kubernetes/1.14/cilium-minikube-ds.yaml
  examples/kubernetes/1.14/cilium-minikube.yaml
  examples/kubernetes/1.14/cilium-with-node-init.yaml
  examples/kubernetes/1.14/cilium.yaml
  examples/kubernetes/templates/v1/cilium-containerd-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-minikube-ds.yaml.sed
Labels: pending-review

#7724 cilium: enable encrypt + vxlan test again
  test/k8sT/DatapathConfiguration.go
Labels: ready-to-merge

#7772 cni: Stop removing CNI_CONF_NAME on preStop
  plugins/cilium-cni/cni-uninstall.sh
Labels: needs-backport/1.5, pending-review

#7775 bugtool: Fix up newline characters in error messages
  bugtool/cmd/cmdref.go
  bugtool/cmd/helper.go
Labels: kind/cleanup, pending-review

#7773 cilium, template: add cilium_encrypt_state to ignored prefixes
  pkg/datapath/loader/cache.go
Labels: area/daemon, kind/bug, needs-backport/1.5, pending-review

#7779 test: Allow Cilium 1.4 to be run with K8s 1.14
  test/helpers/utils.go
Labels: area/CI, kind/enhancement, needs-backport/1.4, needs-backport/1.5, pending-review

#7784 loader: Improve logging of template build failures
  pkg/datapath/loader/cache.go
Labels: kind/enhancement, needs-backport/1.5, pending-review

#7786 proxy: fix unit test breakage
  pkg/proxy/kafka_test.go
Labels: area/CI, kind/bug/CI, pending-review

#7790 docs: clarify kernel version for BPF based masquerading
  Documentation/gettingstarted/ipvlan.rst
Labels: area/documentation, needs-backport/1.5, pending-review

#7798 test: only run VXLAN + Encryption test on net-next kernels
  test/k8sT/DatapathConfiguration.go
Labels: area/CI, pending-review

#7799 docs: Update urllib3 dependency to address CVE-2019-11324
  Documentation/requirements.txt
Labels: kind/enhancement, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, priority/high

#7802 docs: Update kubernetes compatibility list
  Documentation/kubernetes/compatibility.rst
Labels: area/documentation, needs-backport/1.5, pending-review

#7794 examples: do not specify "type: Directory" for mounting `/lib/modules`
  examples/kubernetes/1.10/cilium-containerd-ds.yaml
  examples/kubernetes/1.10/cilium-containerd.yaml
  examples/kubernetes/1.10/cilium-crio-ds.yaml
  examples/kubernetes/1.10/cilium-crio.yaml
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium-external-etcd.yaml
  examples/kubernetes/1.10/cilium-minikube-ds.yaml
  examples/kubernetes/1.10/cilium-minikube.yaml
  examples/kubernetes/1.10/cilium-with-node-init.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-containerd-ds.yaml
  examples/kubernetes/1.11/cilium-containerd.yaml
  examples/kubernetes/1.11/cilium-crio-ds.yaml
  examples/kubernetes/1.11/cilium-crio.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium-external-etcd.yaml
  examples/kubernetes/1.11/cilium-minikube-ds.yaml
  examples/kubernetes/1.11/cilium-minikube.yaml
  examples/kubernetes/1.11/cilium-with-node-init.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-containerd-ds.yaml
  examples/kubernetes/1.12/cilium-containerd.yaml
  examples/kubernetes/1.12/cilium-crio-ds.yaml
  examples/kubernetes/1.12/cilium-crio.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium-external-etcd.yaml
  examples/kubernetes/1.12/cilium-minikube-ds.yaml
  examples/kubernetes/1.12/cilium-minikube.yaml
  examples/kubernetes/1.12/cilium-with-node-init.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.13/cilium-containerd-ds.yaml
  examples/kubernetes/1.13/cilium-containerd.yaml
  examples/kubernetes/1.13/cilium-crio-ds.yaml
  examples/kubernetes/1.13/cilium-crio.yaml
  examples/kubernetes/1.13/cilium-ds.yaml
  examples/kubernetes/1.13/cilium-external-etcd.yaml
  examples/kubernetes/1.13/cilium-minikube-ds.yaml
  examples/kubernetes/1.13/cilium-minikube.yaml
  examples/kubernetes/1.13/cilium-with-node-init.yaml
  examples/kubernetes/1.13/cilium.yaml
  examples/kubernetes/1.14/cilium-containerd-ds.yaml
  examples/kubernetes/1.14/cilium-containerd.yaml
  examples/kubernetes/1.14/cilium-crio-ds.yaml
  examples/kubernetes/1.14/cilium-crio.yaml
  examples/kubernetes/1.14/cilium-ds.yaml
  examples/kubernetes/1.14/cilium-external-etcd.yaml
  examples/kubernetes/1.14/cilium-minikube-ds.yaml
  examples/kubernetes/1.14/cilium-minikube.yaml
  examples/kubernetes/1.14/cilium-with-node-init.yaml
  examples/kubernetes/1.14/cilium.yaml
  examples/kubernetes/templates/v1/cilium-containerd-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-crio-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-ds.yaml.sed
  examples/kubernetes/templates/v1/cilium-minikube-ds.yaml.sed
Labels: area/k8s, needs-backport/1.5, pending-review

#7792 Check for dup container id before ep creation
  daemon/endpoint.go
Labels: kind/bug, needs-backport/1.5, pending-review, release-note/bug

#7789 istio: Update to release 1.1.3
  Documentation/gettingstarted/istio.rst
  Vagrantfile
  examples/kubernetes-istio/bookinfo-details-v1.yaml
  examples/kubernetes-istio/bookinfo-productpage-ingress.yaml
  examples/kubernetes-istio/bookinfo-productpage-v1.yaml
  examples/kubernetes-istio/bookinfo-reviews-v1.yaml
  examples/kubernetes-istio/bookinfo-reviews-v2.yaml
  test/Vagrantfile
  test/k8sT/manifests/bookinfo-v1-istio.yaml
  test/k8sT/manifests/bookinfo-v2-istio.yaml
  test/k8sT/manifests/istio-cilium.yaml
  test/k8sT/manifests/istio-crds.yaml
Labels: area/proxy, kind/enhancement, needs-backport/1.5, priority/medium, priority/release-blocker

#7778 Test service migrations of legacy -> v2 -> legacy
  test/k8sT/Updates.go
  test/k8sT/manifests/cilium-cm-patch-clean-cilium-state.yaml
  test/k8sT/manifests/cilium-cm-patch.yaml
  test/k8sT/manifests/migrate-svc-client.yaml
  test/k8sT/manifests/migrate-svc-server.yaml
  test/k8sT/manifests/v1.4/cilium-cm-patch-clean-cilium-state.yaml
  test/k8sT/manifests/v1.4/cilium-cm-patch.yaml
Labels: area/CI, kind/enhancement, needs-backport/1.5, pending-review

#7806 daemon: Log duration of service restoration and migration
  daemon/loadbalancer.go
Labels: area/daemon, kind/enhancement, needs-backport/1.5, pending-review

#7808 contrib: Fix cherry-pick script
  contrib/backporting/cherry-pick
Labels: area/misc, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#7707 operator: GC nodes from existing CNPs
  operator/k8s_node.go
  pkg/k8s/json_patch.go
Labels: area/k8s, kind/bug, needs-backport/1.5, release-note/bug

#7777 fix error log when sync EpToPolicy map
  pkg/endpoint/bpf.go
Labels: kind/bug, pending-review

#7771 daemon: Use controller context for health endpoint
  cilium-health/launch/endpoint.go
  daemon/health.go
Labels: area/health, pending-review

#7818 k8s: fix panic of closed channel
  daemon/k8s_watcher.go
Labels: needs-backport/1.5, pending-review, priority/release-blocker

#7625 ipcache: print tunnel endpoint for RemoteEndpointInfo
  pkg/maps/ipcache/ipcache.go
Labels: kind/enhancement, pending-review

#7822 Update README.rst
  README.rst
Labels: area/documentation, pending-review

#7825 VERSION: bump version to 1.5.90
  VERSION
Labels: pending-review

#7814 Fix compile complaint in k8s package
  pkg/k8s/json_patch.go
Labels: area/misc, needs-backport/1.5, pending-review

#7828 iptables: Correctly remove Cilium chains when IPv6 is disabled
  pkg/datapath/iptables/iptables.go
Labels: kind/bug, kind/regression, needs-backport/1.5, priority/high, priority/insane :rotating_light:, priority/release-blocker

#7831 policy: Use NumericIdentity for rule selector cache
  pkg/policy/repository_test.go
  pkg/policy/rule.go
  pkg/policy/rule_test.go
Labels: area/policy, ready-to-merge

#7835 operator: add ca-certificates to operator
  cilium-operator.Dockerfile
Labels: kind/bug, needs-backport/1.4, needs-backport/1.5, pending-review, release-note/bug

#7829 contrib: ensure check-fmt.sh runs correctly, and fails if it does not
  contrib/scripts/check-fmt.sh
Labels: area/CI, kind/bug/CI, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review

#7752 test: run with NETNEXT=true for K8s-1.10
  ginkgo.Jenkinsfile
Labels: area/CI, pending-review

#7842 v1.4 backports 2019-04-24
  cilium-operator.Dockerfile
Labels: backport/1.4, kind/backports, requires-janitor-review

#7840 endpoint: do not serialize JSON for EventQueue field
  pkg/endpoint/endpoint.go
Labels: kind/bug, needs-backport/1.5

#7834 doc: fix up Ubuntu apt-get install command
  Documentation/bpf.rst
Labels: area/documentation, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, pending-review, ready-to-merge

#7845 test: Suffix K8s-1.10 with net-next
  ginkgo.Jenkinsfile
Labels: area/CI-improvement, kind/enhancement, pending-review

#7848 Improve operator bootstrap sequence
  operator/cnp_event.go
  operator/k8s_cep_gc.go
  operator/k8s_node.go
  operator/k8s_service_sync.go
  operator/main.go
Labels: kind/bug, needs-backport/1.5, pending-review

#7860 docs: Mention enable-legacy-services flag in upgrade docs
  Documentation/install/upgrade.rst
Labels: area/docker, kind/enhancement, needs-backport/1.5, pending-review

#7850 nodediscovery: Try to register node forever
  pkg/nodediscovery/nodediscovery.go
Labels: kind/bug, needs-backport/1.5, pending-review

#7861 docs: Add upgrade guide from >=1.4.0 to 1.5
  Documentation/install/upgrade.rst
Labels: area/documentation, kind/enhancement, needs-backport/1.5, pending-review

#7865 test: make function provided to WithTimeout run asynchronously
  test/helpers/utils.go
Labels: area/CI, kind/bug/CI, needs-backport/1.3, needs-backport/1.4, needs-backport/1.5, ready-to-merge

#7863 ginko: adjust timeout to something more appropriate
  ginkgo.Jenkinsfile
Labels: area/CI, area/CI-improvement, needs-backport/1.5, pending-review

#7874 CI: Disable RuntimeMonitorTest With Sample Containers Cilium monitor event types
  test/runtime/monitor.go
Labels: area/CI, pending-review

#7881 [v1.3] test: make function provided to WithTimeout run asynchronously
  test/helpers/utils.go
Labels: backport/1.3, kind/backports, pending-review

#7852 Test: Add size mismatch log entry to failed ones.
  test/helpers/cons.go
Labels: area/CI-improvement, needs-backport/1.5, pending-review

#7886 k8s: Move NewInformer into separate package
  daemon/k8s_watcher.go
  operator/cnp_event.go
  operator/k8s_node.go
  operator/k8s_service_sync.go
  pkg/k8s/informer/informer.go
  pkg/k8s/informer/informer_test.go
Labels: kind/cleanup, pending-review

#7876 CI: Check that cilium actually stops when desired
  test/runtime/assertionHelpers.go
  test/runtime/fqdn.go
  test/runtime/kvstore.go
  test/runtime/privileged_tests.go
  test/runtime/verifier.go
Labels: area/CI, pending-review
