Repository cilium/cilium, pull requests merged in 2020-08, with the labels that each got.

#12734 ipcache: Fix unit test flake
  pkg/ipcache/ipcache_test.go
Labels: backport/1.7, kind/backports, release-note/misc

#12738 docs: Add SmileDirectClub to Cilium users
  USERS.md
Labels: release-note/misc

#12644 docs: Janitors should update backport PR labels
  Documentation/contributing/development/contributing_guide.rst
  Documentation/contributing/release/backports.rst
Labels: area/documentation, release-note/misc

#12637 endpointsynchronizer: suppress context.Canceled errors
  pkg/k8s/watchers/endpointsynchronizer.go
Labels: needs-backport/1.8, release-note/bug

#12743 ci: add DeleteLong to accommodate longer resource deletion
  test/helpers/kubectl.go
  test/k8sT/Chaos.go
Labels: release-note/ci

#12748 [1.6] Various etcd fixe backports
  pkg/contexthelpers/context.go
  pkg/contexthelpers/context_test.go
  pkg/kvstore/etcd.go
Labels: backport/1.6, kind/backports, ready-to-merge

#12741 helm: run relay in debug mode when debug is globally enabled
  install/kubernetes/cilium/charts/hubble-relay/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/helm, area/hubble, kind/cleanup, priority/low, release-note/misc

#12661 test: Try out all GKE clusters in random order
  test/gke/select-cluster.sh
Labels: area/CI-improvement, release-note/ci

#12744 proxy: remove unused dialer and socket code
  pkg/proxy/defaults.go
  pkg/proxy/dialer.go
  pkg/proxy/ipsock_posix.go
  pkg/proxy/proxy.go
  pkg/proxy/socket.go
Labels: area/proxy, kind/cleanup, ready-to-merge, release-note/misc

#12711 hubble: Add new monitor consumer implementation
  pkg/hubble/monitor/consumer.go
  pkg/hubble/monitor/consumer_test.go
  pkg/hubble/observer/types/types.go
Labels: area/hubble, ready-to-merge, release-note/misc

#12746 test: put hubble tests on quarantine in GKE
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  test/helpers/utils.go
  test/k8sT/hubble.go
Labels: release-note/ci

#12753 etcd: Fix backport "Fix incorrect context usage in session renewal"
  pkg/kvstore/etcd.go
Labels: backport/1.6, kind/backports, ready-to-merge

#12754 Dockerfile: Bump v1.6 runtime image to 2020-08-03 build
  Dockerfile
Labels: backport/1.6, kind/backports

#12757 Prepare for release v1.6.11
  .github/cilium-actions.yml
  .mailmap
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.6, kind/backports

#12755 [1.7] etcd: Disable heartbeat quorum check by default
  pkg/kvstore/backend.go
  pkg/kvstore/etcd.go
Labels: backport/1.7, kind/backports, ready-to-merge

#12747 style(imports): Remove duplicate imports in same file
  pkg/endpoint/endpoint.go
  pkg/k8s/factory_functions_test.go
  pkg/k8s/service_cache_test.go
  pkg/policy/rule_test.go
  test/test_suite_test.go
Labels: release-note/misc

#12739 [v1.7] Extend FQDN test to validate DNS proxy during restart
  test/k8sT/fqdn.go
Labels: area/CI, backport/1.7, kind/backports, release-note/ci

#12766 doc: update #ebpf Slack channel name
  Documentation/community.rst
Labels: area/documentation, needs-backport/1.6, needs-backport/1.7, needs-backport/1.8, ready-to-merge, release-note/misc

#12762 test: gather init container logs
  test/helpers/kubectl.go
Labels: release-note/ci

#12769 docs(e2e): Update kube version in e2e docs
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#12771 install/kubernetes: do not schedule cilium-operator pods in same node
  install/kubernetes/cilium/charts/operator/templates/deployment.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/bug, needs-backport/1.7, needs-backport/1.8, release-note/bug

#12773 etcd: Fix firstSession error handling
  pkg/kvstore/etcd.go
Labels: backport-pending/1.7, kind/bug, needs-backport/1.8, ready-to-merge, release-note/bug

#12774 [v1.7] etcd: Fix firstSession error handling
  pkg/kvstore/etcd.go
Labels: backport/1.7, kind/backports

#12779 Prepare for release v1.7.7
  .github/cilium-actions.yml
  .mailmap
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.7, kind/backports

#12780 Update stable releases for 1.6.11, 1.7.7
  .github/cilium-actions.yml
  README.rst
Labels: release-note/misc

#12775 k8s: update k8s to 1.19.0-rc.4
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/kubernetes-test.sh
  test/provision/k8s_install.sh
  vendor/k8s.io/api/core/v1/generated.proto
  vendor/k8s.io/api/core/v1/lifecycle.go
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  vendor/k8s.io/client-go/util/jsonpath/parser.go
  vendor/k8s.io/utils/trace/trace.go
  vendor/modules.txt
Labels: release-note/misc

#12768 test(github): Bump required protoc version to 3.12.3
  .github/workflows/go-check.yaml
Labels: area/CI, release-note/misc

#12788 connectivity-check: re-introduce port-to-b NodePort checks
  Documentation/gettingstarted/k8s-install-connectivity-test.rst
  Documentation/troubleshooting.rst
  examples/kubernetes/connectivity-check/connectivity-check-hostport.yaml
  examples/kubernetes/connectivity-check/connectivity-check-single-node.yaml
  examples/kubernetes/connectivity-check/connectivity-check.yaml
  examples/kubernetes/connectivity-check/services.cue
Labels: ready-to-merge, release-note/misc

#12785 v1.8: Revert "docs: adjust policy verdict log output examples to new format"
  Documentation/contributing/development/debugging.rst
  Documentation/gettingstarted/policy-creation.rst
Labels: area/documentation, backport/1.8, kind/backports, release-note/misc

#12790 pkg/envoy: Fix Envoy MySQL test
  pkg/envoy/server_test.go
Labels: release-note/misc

#12086 bpf: Reply NA when recv ND for local IPv6 endpoints
  bpf/lib/eps.h
  bpf/lib/icmp6.h
Labels: area/datapath, release-note/misc

#12792 Add finleap connect as cilium user
  USERS.md
Labels: release-note/misc

#12742 hubble/metrics: Add protocol labels to `flows_processed_total`
  pkg/hubble/metrics/flow/handler.go
  pkg/hubble/metrics/flow/handler_test.go
  test/k8sT/hubble.go
Labels: area/hubble, release-note/minor

#12749 datapath: Misc NAT changes
  bpf/lib/nodeport.h
Labels: area/datapath, kind/cleanup, needs-backport/1.8, ready-to-merge, release-note/misc

#12797 .github: Update issue template for flakes
  .github/ISSUE_TEMPLATE/failing_test_template.md
Labels: release-note/misc

#12793 envoy: Avoid logger pointer data race
  pkg/envoy/xds/server.go
Labels: area/proxy, kind/bug, release-note/misc

#12705 hubble/relay: compose ClientConn interface with grpc.ClientConnInterface
  pkg/hubble/relay/pool/types/client.go
Labels: area/hubble, kind/cleanup, ready-to-merge, release-note/misc

#12782 ci: Start separate registries for gke builds
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  test/gke/locking.sh
  test/gke/registry-ip.sh
  test/gke/select-cluster.sh
  test/gke/start-registry.sh
  test/gke/stop-registry.sh
Labels: release-note/ci

#12802 contrib/vagrant: add hosts field in all generated certificates
  contrib/vagrant/scripts/cert-gen-helpers.bash
Labels: release-note/misc

#12806 pkg/k8s: fix typo in unit tests due bad refactor
  pkg/k8s/network_policy_test.go
Labels: kind/cleanup, release-note/misc

#12801 fqdn/dnsproxy: set SO_REUSEPORT on listening socket
  pkg/fqdn/dnsproxy/udp.go
Labels: area/proxy, needs-backport/1.8, release-note/misc

#12812 v1.7: Update Go to 1.13.15
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.7, kind/backports, release-note/misc

#12811 v1.8: Update Go to 1.14.7
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.8, kind/backports, release-note/misc

#12810 Update Go to 1.14.7
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: release-note/misc

#12822 daemon: Add hidden --k8s-sync-timeout option
  daemon/cmd/daemon_main.go
  pkg/defaults/defaults.go
  pkg/k8s/watchers/watcher.go
  pkg/option/config.go
Labels: needs-backport/1.6, needs-backport/1.7, needs-backport/1.8, release-note/minor

#12821 test: Remove incorrect comment on flakyness
  test/k8sT/DatapathConfiguration.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#12823 v1.6 backports 2020-08-07
  daemon/daemon_main.go
  daemon/k8s_watcher.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: backport/1.6, kind/backports, ready-to-merge

#12828 chore(ci): Correct indentation for github action workflows
  .github/workflows/bpf-checks.yaml
  .github/workflows/docs.yaml
  .github/workflows/images.yaml
Labels: area/misc, kind/cleanup, ready-to-merge, release-note/misc

#12825 operator: Fix non-leader crashing with kvstore
  operator/api.go
  operator/main.go
Labels: area/operator, kind/bug, needs-backport/1.7, needs-backport/1.8, release-note/bug

#12838 v1.7 backports 2020-08-10
  operator/api.go
  operator/main.go
Labels: backport/1.7, kind/backports

#12836 doc: Rename BPF to eBPF
  Documentation/cheatsheet.rst
  Documentation/concepts/kubernetes/configuration.rst
  Documentation/concepts/kubernetes/intro.rst
  Documentation/concepts/kubernetes/requirements.rst
  Documentation/concepts/networking/routing.rst
  Documentation/concepts/overview.rst
  Documentation/concepts/scalability/report.rst
  Documentation/concepts/security/proxy/envoy.rst
  Documentation/configuration/metrics.rst
  Documentation/contributing/development/codeoverview.rst
  Documentation/contributing/development/dev_setup.rst
  Documentation/gettingstarted/clustermesh.rst
  Documentation/gettingstarted/cni-chaining-aws-cni.rst
  Documentation/gettingstarted/cni-chaining-azure-cni.rst
  Documentation/gettingstarted/cni-chaining.rst
  Documentation/gettingstarted/host-services.rst
  Documentation/gettingstarted/ipvlan.rst
  Documentation/gettingstarted/k3s.rst
  Documentation/gettingstarted/k8s-install-azure-cni-steps.rst
  Documentation/gettingstarted/k8s-install-gke.rst
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/gettingstarted/minikube-install.rst
  Documentation/gettingstarted/requirements_intro.rst
  Documentation/index.rst
  Documentation/install/system_requirements.rst
  Documentation/install/upgrade.rst
  Documentation/intro.rst
  Documentation/policy/lifecycle.rst
  Documentation/troubleshooting.rst
  README.rst
Labels: area/documentation, release-note/misc

#11782 nodeinit: Disable default ip-masq-agent jumps
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
Labels: kind/bug, needs-backport/1.8, release-note/bug

#12846 v1.8 backports 2020-08-11
  operator/api.go
  operator/main.go
Labels: backport/1.8, kind/backports, ready-to-merge

#12840 gitattributes: add examples/crds/*.yaml as linguist-generated
  .gitattributes
Labels: kind/cleanup, release-note/misc

#12837 Add config point to send bugtool to stdout
  Documentation/cmdref/cilium-bugtool.md
  bugtool/cmd/helper.go
  bugtool/cmd/root.go
Labels: ready-to-merge, release-note/minor

#12519 docs: Document RTD step for old branch on release
  Documentation/contributing/release/feature.rst
Labels: release-note/misc

#12851 k8s: Fix parsing of CCNPs
  pkg/k8s/apis/cilium.io/v2/cnp_types.go
  pkg/k8s/apis/cilium.io/v2/types_test.go
Labels: area/k8s, area/policy, ready-to-merge, release-note/misc

#12861 Istio: Update to release 1.5.9
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
Labels: area/proxy, kind/bug, needs-backport/1.6, needs-backport/1.7, needs-backport/1.8, ready-to-merge, release-note/bug

#12864 Speed up runtime CI cleanup in AfterAll function
  test/helpers/cilium.go
Labels: needs-backport/1.8, ready-to-merge, release-note/ci

#12872 .github: set kind/bug label in bug issue template
  .github/ISSUE_TEMPLATE/bug_template.md
Labels: ready-to-merge, release-note/misc

#12869 test: Update coredns image tag from 1.2.2 to 1.2.6 for k8s 1.12
  test/provision/manifest/1.12/coredns_deployment.yaml
Labels: area/CI, kind/bug/CI, release-note/ci

#12866 test/helpers: dump rbac information on k8s test failure
  test/helpers/kubectl.go
Labels: release-note/ci

#12860 Fix docs on ipam-crd
  Documentation/gettingstarted/ipam-crd.rst
Labels: area/documentation, needs-backport/1.8, release-note/misc

#12874 docs: fix incomplete statement ipam-crd docs
  Documentation/gettingstarted/ipam-crd.rst
Labels: release-note/misc

#12883 CODEOWNERS: Update Kubernetes owners
  CODEOWNERS
Labels: area/misc, release-note/misc

#12871 operator: bind provider-specific flags
  operator/provider_aws_flags.go
  operator/provider_azure_flags.go
Labels: area/operator, integration/cloud, needs-backport/1.8, ready-to-merge, release-note/bug

#12629 vagrant: Bump all Vagrant box versions
  vagrant_box_defaults.rb
Labels: area/CI, release-note/misc

#12881 test: update k8s libraries to 1.18.8
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/github.com/evanphx/json-patch/.travis.yml
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/go.mod
  vendor/github.com/evanphx/json-patch/go.sum
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/modules.txt
Labels: backport/1.8, kind/backports, ready-to-merge, release-note/minor

#12877 k8s: update k8s versions to 1.17.11
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/apimachinery/pkg/util/sets/BUILD
  vendor/modules.txt
Labels: backport/1.7, kind/backports, ready-to-merge, release-note/minor

#12885 README updates
  Documentation/images/cilium_overview.png
  README.rst
Labels: area/documentation, needs-backport/1.8, release-note/misc

#12886 images/builder: bump protoc to 3.12.4
  images/builder/install-protoc.sh
  images/builder/test/spec.yaml
  images/cilium/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
Labels: ready-to-merge, release-note/misc

#12902 docs/metrics: Correct label typo family in metrics.rst
  Documentation/configuration/metrics.rst
Labels: area/misc, needs-backport/1.8, ready-to-merge, release-note/misc

#12903 policy/trace: Support recent api versions for {Deployment, ReplicaSet}
  pkg/policy/trace/yaml.go
Labels: area/policy, release-note/minor

#12901 docs/metrics: Correct label typos in metrics.rst
  Documentation/configuration/metrics.rst
Labels: area/misc, needs-backport/1.6, needs-backport/1.7, needs-backport/1.8, ready-to-merge, release-note/misc

#12896 v1.7: Make EC2 AWS API endpoint configurable in operator
  Documentation/cmdref/cilium-operator.md
  operator/eni.go
  operator/main.go
  pkg/aws/endpoints/resolver.go
  pkg/option/config.go
  pkg/policy/groups/aws/aws.go
Labels: backport/1.7, kind/backports, priority/release-blocker, ready-to-merge, release-note/minor

#12915 images/{Dockerfile.dockerignore}: do not ignore .git
  images/cilium/Dockerfile.dockerignore
  images/hubble-relay/Dockerfile.dockerignore
  images/operator/Dockerfile.dockerignore
Labels: release-note/misc

#12919 install/kubernetes: add disableEnvoyVersionCheck option
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/charts/config/values.yaml
Labels: release-note/misc

#12916 install/kubernetes: add permissive tolerations to cilium operator
  install/kubernetes/cilium/charts/operator/templates/deployment.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: needs-backport/1.8, release-note/minor

#12921 pkg/k8s: set schema version to 1.22.1
  pkg/k8s/apis/cilium.io/v2/register.go
Labels: release-note/misc

#12712 hubble: Switch GetEventsChannel to new consumer interface
  daemon/cmd/hubble.go
  pkg/hubble/listener/listener.go
  pkg/hubble/listener/listener_test.go
  pkg/hubble/observer/local_observer.go
  pkg/hubble/observer/local_observer_test.go
  pkg/hubble/observer/observeroption/option.go
  pkg/hubble/parser/errors/errors.go
  pkg/hubble/parser/parser.go
  pkg/hubble/parser/parser_test.go
  pkg/hubble/parser/seven/parser.go
  pkg/hubble/parser/seven/parser_test.go
  pkg/hubble/parser/threefour/parser.go
  pkg/hubble/parser/threefour/parser_test.go
Labels: area/hubble, ready-to-merge, release-note/misc

#12922 install/kubernetes: quote disableEnvoyVersionCheck when option is set
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: release-note/misc

#12917 datapath: Pull skb data in to-netdev path
  bpf/bpf_host.c
  bpf/bpf_network.c
  bpf/bpf_overlay.c
  bpf/lib/common.h
Labels: area/datapath, kind/bug, needs-backport/1.7, needs-backport/1.8, ready-to-merge, release-note/bug

#12912 v1.8: Make EC2 AWS API endpoint configurable in operator
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator.md
  operator/option/config.go
  operator/provider_aws_flags.go
  pkg/aws/endpoints/resolver.go
  pkg/ipam/allocator/aws/aws.go
  pkg/policy/groups/aws/aws.go
Labels: backport/1.8, kind/backports

#12930 docs: Add summary of bird integration
  Documentation/gettingstarted/bird.rst
Labels: area/documentation, needs-backport/1.8, release-note/misc

#12826 metrics: Deprecate non-conventional prometheus metrics
  .github/workflows/smoke-test.yaml
  Documentation/configuration/metrics.rst
  Documentation/install/upgrade.rst
  daemon/cmd/daemon.go
  daemon/cmd/policy.go
  examples/kubernetes/addons/prometheus/files/grafana-dashboards/cilium-dashboard.json
  examples/kubernetes/addons/prometheus/files/grafana-dashboards/cilium-operator-dashboard.json
  examples/kubernetes/addons/prometheus/monitoring-example.yaml
  install/kubernetes/cilium/charts/prometheus-crd/crds/crd-servicemonitor.yaml
  pkg/api/metrics/metrics.go
  pkg/bpf/map_linux.go
  pkg/endpoint/metrics.go
  pkg/endpointmanager/manager.go
  pkg/identity/cache/allocator.go
  pkg/ipam/metrics/metrics.go
  pkg/k8s/watchers/watcher.go
  pkg/maps/metricsmap/metricsmap.go
  pkg/metrics/metrics.go
  pkg/node/manager/manager.go
  pkg/policy/api/selector.go
  pkg/policy/groups/actions.go
  pkg/policy/repository.go
Labels: area/metrics, ready-to-merge, release-note/minor

#12947 pkg/kvstore: add gRPC keep alives for etcd connectivity
  pkg/kvstore/etcd.go
Labels: kind/bug, needs-backport/1.7, needs-backport/1.8, priority/high, release-note/bug

#12948 connectivity-check: Use unprivileged ports
  examples/kubernetes/connectivity-check/connectivity-check-hostport.yaml
  examples/kubernetes/connectivity-check/connectivity-check-internal.yaml
  examples/kubernetes/connectivity-check/connectivity-check-proxy.yaml
  examples/kubernetes/connectivity-check/connectivity-check-quarantine.yaml
  examples/kubernetes/connectivity-check/connectivity-check-single-node.yaml
  examples/kubernetes/connectivity-check/connectivity-check.yaml
  examples/kubernetes/connectivity-check/defaults.cue
  examples/kubernetes/connectivity-check/echo-servers.cue
  examples/kubernetes/connectivity-check/policy.cue
  examples/kubernetes/connectivity-check/proxy.cue
  examples/kubernetes/connectivity-check/resources.cue
  examples/kubernetes/connectivity-check/services.cue
Labels: area/documentation, release-note/minor

#12957 Remove GitHub issue template for support request
  .github/ISSUE_TEMPLATE/issue_template.md
Labels: ready-to-merge, release-note/misc

#12960 .gitattributes: Mark cmdref files as generated
  .gitattributes
Labels: ready-to-merge, release-note/misc

#12927 policy: Do not dump selections on logs
  pkg/envoy/server_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/k8s/network_policy_test.go
  pkg/policy/l4.go
  pkg/policy/selectorcache.go
  pkg/policy/selectorcache_test.go
Labels: area/policy, kind/enhancement, ready-to-merge, release-note/misc

#12939 monitor: Avoid JSON-encoding agent events for in-memory storage
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/daemon_test.go
  daemon/cmd/endpoint.go
  daemon/cmd/policy.go
  pkg/datapath/ipcache/listener.go
  pkg/endpoint/endpoint_test.go
  pkg/endpoint/policy.go
  pkg/endpoint/redirect_test.go
  pkg/endpoint/regeneration/owner.go
  pkg/endpointmanager/manager.go
  pkg/endpointmanager/manager_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/monitor/agent/agent.go
  pkg/monitor/api/types.go
  pkg/monitor/api/types_test.go
  pkg/service/service.go
Labels: area/monitor, ready-to-merge, release-note/misc

#12941 images/cilium-test: New test suite image
  .github/workflows/images.yaml
  images/Makefile
  images/cilium-test/Dockerfile
  images/cilium-test/Dockerfile.dockerignore
  images/cilium-test/cilium-test-gke.sh
  images/cilium-test/go.mod
  images/cilium-test/go.sum
  images/cilium-test/install-deps.sh
  images/cilium-test/install-helm.sh
Labels: area/CI-improvement, area/build, ready-to-merge, release-note/ci

#12894 fix: node-init restartPods should use docker if /etc/crictl.yaml not found
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
Labels: area/helm, needs-backport/1.6, needs-backport/1.7, needs-backport/1.8, ready-to-merge, release-note/minor

#12949 envoy: Add Prometheus metrics listener
  Documentation/cmdref/cilium-agent.md
  Documentation/configuration/metrics.rst
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/agent/templates/svc.yaml
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/values.yaml
  pkg/envoy/envoy_test.go
  pkg/envoy/server.go
  pkg/option/config.go
  pkg/proxy/envoyproxy.go
Labels: area/metrics, area/proxy, ready-to-merge, release-note/minor

#12970 endpoint: Clean up the bwmap on pod termination
  pkg/endpoint/bpf.go
Labels: area/bandwidth-manager, release-note/misc

#12973 docs: Disable BPF-masq in KIND GSG
  Documentation/gettingstarted/kind.rst
Labels: area/documentation, needs-backport/1.8, pending-review, ready-to-merge, release-note/minor

#12977 docs: bump kernel and ena driver version, drop custom prebuilt driver in EKS XDP GSG
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, area/kube-proxy-free, needs-backport/1.8, release-note/misc

#12983 docs: update kubeproxy-free gsg to account for #12438
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, needs-backport/1.8, release-note/misc

#12996 Upgrade Cilium docs theme version
  Documentation/requirements.txt
Labels: release-note/misc

#12997 docs: limit copybutton to content area only
  Documentation/_static/copybutton.js
Labels: needs-backport/1.6, needs-backport/1.7, needs-backport/1.8, release-note/misc

#12989 Fix bug where cilium-health reports connectivity failures to stale IPs
  daemon/cmd/status.go
Labels: area/health, kind/bug, needs-backport/1.7, needs-backport/1.8, release-note/bug

#13000 test: Quarantine flaky GuestBook test
  test/k8sT/Policies.go
Labels: area/CI, priority/high, project/ci-force, release-note/misc

#12770 iptables, loader: add rules for multi-node NodePort traffic on EKS
  pkg/datapath/iptables/iptables.go
  pkg/datapath/linux/linux_defaults/linux_defaults.go
  pkg/datapath/loader/base.go
Labels: area/eni, area/loader, kind/bug, needs-backport/1.7, needs-backport/1.8, priority/high, release-note/bug

#13005 docs: Mention L7 limitation in Calico chaining GSG
  Documentation/gettingstarted/cni-chaining-calico.rst
Labels: area/documentation, needs-backport/1.7, needs-backport/1.8, release-note/misc

#13010 v1.7 backports 2020-08-28
  pkg/datapath/iptables/iptables.go
  pkg/datapath/linux/linux_defaults/linux_defaults.go
  pkg/datapath/loader/base.go
Labels: backport/1.7, kind/backports

#13012 Prepare for release v1.7.8
  .github/cilium-actions.yml
  .mailmap
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.7, kind/backports, kind/release

#13006 daemon: Disable BPF-masq if host-svc is disabled in tunnel mode
  daemon/cmd/daemon.go
  daemon/cmd/kube_proxy_replacement.go
Labels: area/daemon, kind/bug, needs-backport/1.8, pending-review, release-note/bug

#12987 s/create/apply
  Documentation/gettingstarted/hubble.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#13014 test: Quarantine K8sIstioTest while flaky
  test/k8sT/istio.go
Labels: area/CI, project/ci-force, ready-to-merge, release-note/misc

#13016 k8s: test and add k8s 1.19.0 libraries
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/github.com/evanphx/json-patch/.travis.yml
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/go.etcd.io/etcd/clientv3/watch.go
  vendor/go.etcd.io/etcd/version/version.go
  vendor/k8s.io/apimachinery/pkg/runtime/converter.go
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/apimachinery/pkg/util/net/util.go
  vendor/k8s.io/code-generator/go.mod
  vendor/k8s.io/code-generator/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/LICENSE
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/allocator.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/doc.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/fields.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/jsontagutil.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/list.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/listreflect.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/listunstructured.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/map.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/mapreflect.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/mapunstructured.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/reflectcache.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/scalar.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/structreflect.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/value.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/valuereflect.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/valueunstructured.go
Labels: area/k8s, release-note/misc
