Repository cilium/cilium, pull requests merged in 2020-01, with the labels that each got.

#9799 test: Make helm fetch more quiet
  test/provision/k8s_install.sh
Labels: area/CI, pending-review, ready-to-merge, release-note/ci

#9810 Adding USERS directory to create a list of Cilium users
  USERS.md
Labels: area/documentation, pending-review, release-note/minor

#9753 v1.6 backports 2019-12-12
  Documentation/spelling_wordlist.txt
Labels: backport/1.6, kind/backports

#9802 bpf: Remove unused BPF feature probes/macros
  bpf/bpf_features.h
  bpf/probes/raw_map_val_adj.t
  bpf/probes/raw_mark_map_val.t
  daemon/bpf.sha
Labels: needs-rebase, release-note/misc

#9813 bpf, nat: initially try snat by preserving source port
  bpf/lib/nat.h
  daemon/bpf.sha
Labels: area/datapath, pending-review, release-note/misc

#9821 identity: require global identity for empty labels
  pkg/identity/identity.go
Labels: area/daemon, needs-backport/1.5, needs-backport/1.6, pending-review, release-note/bug

#9822 nodeport follow-up improvements for nat
  bpf/lib/nat.h
  daemon/bpf.sha
Labels: area/datapath, release-note/misc

#9824 docs: fix kubernetes configmap
  Documentation/kubernetes/configuration.rst
Labels: area/documentation, pending-review, release-note/misc

#9815 Add cilium-monitor sidecar container for agent pods
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/agent/values.yaml
Labels: pending-review, release-note/misc

#9827 v1.6 backports 2020-01-09
  pkg/identity/identity.go
Labels: backport/1.6, kind/backports

#9836 Add Palantir Technologies to USERS.md
  USERS.md
Labels: release-note/misc

#9829 v1.5 backports 2020-01-09
  pkg/identity/identity.go
Labels: backport/1.5, kind/backports

#9843 bpf: fix regular service lookup in nodeport range for host services
  bpf/bpf_sock.c
  daemon/bpf.sha
Labels: area/datapath, pending-review, release-note/bug

#9841 v1.6 backports 2020-01-10
  daemon/daemon_main.go
  daemon/sysctl_darwin.go
  daemon/sysctl_linux.go
  daemon/sysctl_linux_test.go
Labels: backport/1.6, kind/backports

#9844 cilium, daemon: fix device detection for default route
  pkg/datapath/linux/route/route.go
Labels: area/daemon, kind/bug, pending-review, release-note/bug

#9845 cilium: use %v for dumping frontend struct on error
  pkg/service/service.go
Labels: area/misc, pending-review, release-note/bug

#9848 USERS.md: add Sportradar
  USERS.md
Labels: pending-review, release-note/misc

#9856 SECURITY.md: update versions of supported releases
  SECURITY.md
Labels: release-note/misc

#9859 datapath: Return error if default route is not found
  pkg/datapath/linux/route/route.go
Labels: area/daemon, kind/bug, pending-review, release-note/misc

#9852 Update USERS.md
  USERS.md
Labels: pending-review, release-note/misc

#9858 eni: Fix releases of excess IPs
  pkg/aws/eni/node.go
  pkg/aws/eni/node_manager_test.go
  pkg/aws/eni/node_test.go
Labels: area/eni, kind/bug, needs-backport/1.6, pending-review, release-note/bug

#9864 README: update weekly meeting hours
  README.rst
Labels: pending-review, release-note/misc

#9862 Add Datadog to users
  USERS.md
Labels: pending-review, release-note/misc

#9861 bpf: Compile bpf_netdev.c with build permutations
  bpf/Makefile
Labels: area/misc, pending-review, release-note/misc

#9868 docs: remove disable container runtime documentation
  Documentation/concepts/overview.rst
  Documentation/kubernetes/configuration.rst
Labels: area/documentation, pending-review, release-note/minor

#9875 add uswitch to users.md
  USERS.md
Labels: pending-review, release-note/misc

#9874 [v1.6] golang: update to 1.12.15
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing/contributing.rst
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/kubernetes-test.sh
Labels: backport/1.6, kind/backports, pending-review

#9879 dev: set tcp for NFS in development VMs
  Documentation/contributing/development/dev_setup.rst
  Documentation/spelling_wordlist.txt
  Vagrantfile
Labels: area/documentation, pending-review, release-note/misc

#9867 update k8s test versions to 1.14.10, 1.15.7 and 1.16.4
  test/provision/k8s_install.sh
Labels: area/CI, area/k8s, pending-review, release-note/ci

#9884 contrib/vagrant: change iptables helper message to tcp
  contrib/vagrant/start.sh
Labels: pending-review, release-note/misc

#9885 update USERS.md: add Trip.com to user list
  USERS.md
Labels: pending-review, release-note/misc

#9872 golang: update to 1.13.6
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing/development/dev_setup.rst
  GO_VERSION
  Makefile
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/kubernetes-test.sh
Labels: pending-review, release-note/minor

#9866 ipsec: Fix incorrect IPSec policy generation to adopt cilium_host IP changes
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: kind/bug, pending-review, release-note/bug

#9826 Fix helm subchart versions
  install/kubernetes/cilium/requirements.yaml
Labels: release-note/misc

#9850 test/packet: fix packet terraform scripts
  test/packet/.gitignore
  test/packet/main.tf
  test/packet/scripts/add_vagrant_box.sh
  test/packet/scripts/install.sh
Labels: area/CI, pending-review, release-note/ci

#9883 k8s: update libraries to v1.17.1
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/client-go/discovery/discovery_client.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/k8s.io/client-go/tools/clientcmd/api/v1/conversion.go
  vendor/k8s.io/kubernetes/pkg/registry/core/service/ipallocator/BUILD
  vendor/k8s.io/kubernetes/pkg/registry/core/service/ipallocator/allocator.go
  vendor/k8s.io/utils/net/ipnet.go
  vendor/k8s.io/utils/net/net.go
  vendor/modules.txt
Labels: area/k8s, pending-review, release-note/misc

#9891 test: Delete Cilium DS before changing startup options.
  test/k8sT/Policies.go
Labels: area/CI, kind/bug/CI, pending-review, release-note/ci

#9873 [v1.5] golang: update to 1.12.15
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing.rst
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
Labels: backport/1.5, kind/backports, pending-review

#9881 cmd: replace deprecated Command.SetOutput()
  cilium/cmd/root.go
Labels: area/cli, pending-review, release-note/misc

#9897 policy: Error out on missing secrets in policy computation
  pkg/policy/l4.go
  pkg/policy/l4_test.go
  pkg/policy/rule.go
Labels: area/policy, kind/enhancement, pending-review, release-note/misc

#9908 ginkgo.Jenkinsfile: set k8s nodes back to 2
  ginkgo.Jenkinsfile
Labels: area/CI, pending-review, release-note/ci

#9896 Restore SVC type after restart
  pkg/loadbalancer/loadbalancer.go
  pkg/maps/lbmap/lbmap.go
  pkg/service/service.go
Labels: area/daemon, pending-review, release-note/misc

#9893 eni: Deep copy CiliumNode resource before storing it in the node
  operator/cilium_node.go
  operator/eni.go
  pkg/aws/eni/node.go
  pkg/aws/eni/node_manager.go
Labels: pending-review, release-note/ci

#9911 Dockerfile: Bump cilium/iproute2
  Dockerfile
Labels: pending-review, release-note/misc

#9756 eni node_manager unit test improvements
  pkg/aws/eni/node_manager_test.go
Labels: area/eni, pending-review, release-note/misc

#9927 update USERS.md: add link to Trip.com's post
  USERS.md
Labels: pending-review, release-note/misc

#9860 vagrant: remove unnecessary print statements
  Vagrantfile
Labels: pending-review, release-note/ci

#9923 bpf, sock: support v4-in-v6 mapped addresses
  bpf/bpf_sock.c
  bpf/lib/common.h
  daemon/bpf.sha
Labels: area/datapath, pending-review, release-note/minor

#9926 Bump cilium/ubuntu-next version to 42
  vagrant_box_defaults.rb
Labels: area/CI, pending-review, release-note/ci

#9928 BPF and XDP reference guide: mention BPF Performance Tools in further readings
  Documentation/bpf.rst
Labels: area/documentation, release-note/misc

#9937 cni: Fix noisy warning "Unknown CNI chaining configuration"
  plugins/cilium-cni/chaining/api/api.go
  plugins/cilium-cni/chaining/api/api_test.go
  plugins/cilium-cni/cilium-cni.go
Labels: area/cni, kind/bug, needs-backport/1.6, pending-review, release-note/bug

#9934 Documentation: Document potential conflict of ENI with DHCP agents
  Documentation/gettingstarted/aws-eni.rst
Labels: area/documentation, pending-review, release-note/misc

#9936 pkg/ip: fix cilium status output for big CIDR ranges
  pkg/ip/ip.go
  pkg/ip/ip_test.go
  pkg/ipam/hostscope.go
Labels: area/cli, kind/bug, pending-review, release-note/bug

#9941 test README: Fix the documentation link
  test/README.md
Labels: area/documentation, pending-review, release-note/misc

#9931 [CI] Retry validating kubeconfig
  test/vagrant-ci-start.sh
Labels: pending-review, release-note/ci

#9933 datapath: Do not return len in find_dsr_v6
  bpf/lib/nodeport.h
  daemon/bpf.sha
Labels: area/datapath, kind/bug, pending-review, priority/release-blocker, release-note/misc

#9849 add externalIPs and kube-proxy test matrix
  test/helpers/kubectl.go
  test/k8sT/Services.go
  test/k8sT/external_ips.go
  test/k8sT/manifests/external-ips-service.yaml
  test/k8sT/manifests/externalIPs/README.md
  test/k8sT/manifests/externalIPs/apps/app1.yaml
  test/k8sT/manifests/externalIPs/apps/app2.yaml
  test/k8sT/manifests/externalIPs/apps/app3.yaml
  test/k8sT/manifests/externalIPs/apps/host-client.yaml
  test/k8sT/manifests/externalIPs/apps/host-server-1.yaml
  test/k8sT/manifests/externalIPs/apps/host-server-2.yaml
  test/k8sT/manifests/externalIPs/external_ips.go
  test/k8sT/manifests/externalIPs/matrix.bash
  test/k8sT/manifests/externalIPs/node_to_node.go
  test/k8sT/manifests/externalIPs/other_node_to_node.go
  test/k8sT/manifests/externalIPs/pod_other_node_to_node.go
  test/k8sT/manifests/externalIPs/pod_to_node.go
  test/k8sT/manifests/externalIPs/svcs/svc-a-external-ips.yaml
  test/k8sT/manifests/externalIPs/svcs/svc-b-external-ips.yaml
  test/k8sT/manifests/externalIPs/svcs/svc-c-node-port.yaml
  test/k8sT/manifests/externalIPs/svcs/svc-d-node-port.yaml
  test/k8sT/manifests/externalIPs/svcs/svc-e-node-port.yaml
  vendor/github.com/onsi/ginkgo/extensions/table/table.go
  vendor/github.com/onsi/ginkgo/extensions/table/table_entry.go
  vendor/modules.txt
Labels: pending-review, release-note/ci

#9945 contrib/vagrant: fix reading VM_MEMORY/VM_CPUS from env vars
  Documentation/contributing/testing/e2e.rst
  Jenkinsfile.nightly
  contrib/vagrant/start.sh
  flannel.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
  kubernetes-upstream.Jenkinsfile
  test/Vagrantfile
Labels: area/misc, kind/bug, ready-to-merge, release-note/misc

#9946 daemon: Exit early if NodePort BPF and IPSec is enabled
  Documentation/gettingstarted/nodeport.rst
  daemon/daemon_main.go
Labels: area/daemon, pending-review, release-note/misc

#9949 bpf: Remove POLICY_MAP from bpf_netdev and bpf_overlay
  bpf/bpf_lxc.c
  bpf/bpf_netdev.c
  bpf/bpf_overlay.c
  bpf/init.sh
  bpf/lib/identity.h
  bpf/lib/policy.h
  bpf/netdev_config.h
  daemon/bpf.sha
  pkg/datapath/maps/map.go
Labels: area/datapath, kind/bug, release-note/bug

#9955 [CI] Mark runtime memcache tests as pending
  test/runtime/memcache.go
Labels: area/CI, pending-review, release-note/ci

#9930 bpf, sock: reduce xlation for externalTrafficPolicy=Local to host_id
  Documentation/cmdref/cilium_service_update.md
  bpf/bpf_sock.c
  bpf/lib/common.h
  cilium/cmd/service_update.go
  daemon/bpf.sha
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/loadbalancer_test.go
  pkg/maps/lbmap/lbmap.go
  pkg/maps/lbmap/lbmap_mock.go
  pkg/service/service.go
Labels: area/datapath, pending-review, release-note/misc

#9816 [CI] add timeout to vm boot retries
  flannel.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
  kubernetes-upstream.Jenkinsfile
Labels: area/CI, pending-review, release-note/ci

#9954 node: Remove error return from SetIPv6NodeRange
  daemon/ipam.go
  pkg/k8s/init.go
  pkg/node/node_address.go
  pkg/policy/l3_test.go
Labels: pending-review, release-note/misc

#9959 Fix cilium installation in GCloud beta "rapid" channel
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
Labels: area/k8s, needs-backport/1.6, pending-review, release-note/bug

#9932 [CI] set $HOME in parallel builds to avoid cache pollution
  ginkgo.Jenkinsfile
Labels: area/CI-improvement, pending-review, ready-to-merge, release-note/ci

#9952 datapath: Do not check rev_nat_id in IPv6 addr
  bpf/bpf_lxc.c
  daemon/bpf.sha
Labels: area/datapath, pending-review, release-note/misc

#9964 doc: add note about adding the 'kind/backports' label when backporting
  Documentation/contributing/release/backports.rst
Labels: area/documentation, release-note/misc

#9967 Revert "[CI] add timeout to vm boot retries"
  flannel.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
  kubernetes-upstream.Jenkinsfile
Labels: area/CI, pending-review, priority/insane :rotating_light:, release-note/ci

#9971 [CI] switch to new HOME only for ginkgo calls
  ginkgo.Jenkinsfile
  test/vagrant-ci-start.sh
Labels: area/CI, pending-review, release-note/ci

#9976 Revert "Revert "[CI] add timeout to vm boot retries""
  flannel.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
  kubernetes-upstream.Jenkinsfile
Labels: pending-review, release-note/ci

#9980 test: Increase VM provisioning timeout for k8s-1.11 net-next job
  ginkgo.Jenkinsfile
Labels: area/CI-improvement, pending-review, release-note/misc

#9889 envoy: Use TypedConfig for Envoy filters
  daemon/policy_test.go
  pkg/envoy/server.go
  pkg/envoy/server_test.go
  vendor/github.com/cilium/proxy/go/envoy/config/filter/accesslog/v2/accesslog.pb.go
  vendor/github.com/cilium/proxy/go/envoy/config/filter/network/http_connection_manager/v2/http_connection_manager.pb.go
  vendor/github.com/cilium/proxy/go/envoy/config/filter/network/tcp_proxy/v2/tcp_proxy.pb.go
  vendor/modules.txt
Labels: pending-review, release-note/misc

#9947 node: Provide context in log when restoring router addresses
  pkg/node/node_address.go
  pkg/node/node_address_linux.go
Labels: kind/bug, pending-review, release-note/bug

#9985 golang: update to 1.13.7
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing/development/dev_setup.rst
  Makefile
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
  test/kubernetes-test.sh
Labels: pending-review, release-note/misc

#9987 [v1.6] golang: update to 1.12.16
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing/contributing.rst
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
  test/kubernetes-test.sh
Labels: backport/1.6, kind/backports, pending-review, release-note/misc

#9986 [v1.5] golang: update to 1.12.16
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing.rst
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
Labels: backport/1.5, kind/backports, pending-review, release-note/misc

#9991 Set CILIUM_REGISTRY in provisioning scritps
  ginkgo.Jenkinsfile
  test/Vagrantfile
  test/provision/compile.sh
Labels: pending-review, release-note/ci

#9783 Use helm repository in docs
  Documentation/conf.py
  Documentation/gettingstarted/aws-eni.rst
  Documentation/gettingstarted/clustermesh.rst
  Documentation/gettingstarted/cni-chaining-aws-cni.rst
  Documentation/gettingstarted/cni-chaining-calico.rst
  Documentation/gettingstarted/cni-chaining-generic-veth.rst
  Documentation/gettingstarted/cni-chaining-portmap.rst
  Documentation/gettingstarted/cni-chaining-weave.rst
  Documentation/gettingstarted/encryption.rst
  Documentation/gettingstarted/flannel-integration.rst
  Documentation/gettingstarted/grafana.rst
  Documentation/gettingstarted/host-services.rst
  Documentation/gettingstarted/ipvlan.rst
  Documentation/gettingstarted/k8s-install-azure-cni-steps.rst
  Documentation/gettingstarted/k8s-install-download-release.rst
  Documentation/gettingstarted/k8s-install-eks.rst
  Documentation/gettingstarted/k8s-install-etcd-operator.rst
  Documentation/gettingstarted/k8s-install-external-etcd.rst
  Documentation/gettingstarted/k8s-install-gke.rst
  Documentation/gettingstarted/kata-gce.rst
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/gettingstarted/nodeport.rst
  Documentation/install/upgrade.rst
  Documentation/kubernetes/configuration.rst
Labels: pending-review, priority/release-blocker, release-note/minor

#9999 docs: add instructions to update VM images
  Documentation/contributing/testing/ci.rst
Labels: area/documentation, pending-review, release-note/misc

#9982 garbage collect stale distributed locks
  operator/kvstore_watchdog.go
  operator/kvstore_watchdog_test.go
  operator/main.go
  pkg/allocator/allocator.go
  pkg/allocator/allocator_test.go
  pkg/k8s/identitybackend/identity.go
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/allocator_test.go
  pkg/kvstore/allocator/logfields.go
  pkg/kvstore/consul.go
  pkg/kvstore/etcd.go
  pkg/kvstore/kvstore.go
Labels: kind/bug, needs-backport/1.5, needs-backport/1.6, pending-review, priority/insane :rotating_light:, priority/release-blocker, release-note/bug

#10001 VMs: bump development VM images
  vagrant_box_defaults.rb
Labels: area/CI, pending-review, release-note/ci
