Repository cilium/cilium, pull requests merged in 2020-10, with the labels that each got.

#13352 v1.8 backports 2020-09-30
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: backport/1.8, kind/backports

#13361 Prepare for release v1.8.4
  .github/cilium-actions.yml
  .mailmap
  AUTHORS
  CHANGELOG.md
  VERSION
  examples/getting-started/Vagrantfile
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/charts/hubble-ui/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/charts/prometheus-crd/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.8, kind/release

#13363 Update stable releases for 2020-09-30 releases
  .github/cilium-actions.yml
  README.rst
Labels: release-note/misc

#13365 README: Fix the versions listing
  README.rst
Labels: release-note/misc

#13342 bugtool: get bpffs mountpoint from /proc/mounts
  bugtool/cmd/configuration.go
Labels: area/CI, area/bugtool, area/datapath, needs-backport/1.7, needs-backport/1.8, project/ci-force, ready-to-merge, release-note/ci

#13357 contrib: Improve start-release.sh script
  contrib/release/start-release.sh
Labels: needs-backport/1.6, needs-backport/1.7, needs-backport/1.8, release-note/misc

#13325 fsnotify: correctly check for event operation
  pkg/clustermesh/config.go
  pkg/datapath/loader/cache.go
  pkg/ipmasq/ipmasq.go
Labels: area/misc, kind/cleanup, needs-backport/1.7, needs-backport/1.8, priority/low, release-note/misc

#13351 envoy: Stop using deprecated filter names
  pkg/envoy/server.go
Labels: area/proxy, priority/release-blocker, release-note/minor

#13370 vagrant: bump bpf-next vagrant box version
  vagrant_box_defaults.rb
Labels: area/misc, release-note/misc

#13343 test: enable operator metrics in stresspolicy suite
  test/k8sT/StressPolicy.go
Labels: ready-to-merge, release-note/ci

#13369 install: Add explicit RBAC permissions for finalizers subresources
  install/kubernetes/cilium/charts/agent/templates/clusterrole.yaml
  install/kubernetes/cilium/charts/operator/templates/clusterrole.yaml
  install/kubernetes/cilium/charts/preflight/templates/clusterrole.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: area/helm, area/k8s, needs-backport/1.8, release-note/minor

#13381 cleanup: remove unused code
  cilium/cmd/policy_trace.go
  pkg/policy/l4_filter_test.go
Labels: kind/cleanup, release-note/misc

#13372 test: further increase range of accepted values for bandwidth test
  test/helpers/cmd.go
  test/k8sT/Bandwidth.go
Labels: area/CI, release-note/misc

#13317 helm: Add extraConfig in configmap template
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: area/helm, backport/1.8, kind/backports, release-note/minor, release-note/misc

#13274 Restores ClusterIP service entry upon LRP removal.
  daemon/cmd/daemon.go
  pkg/k8s/service_cache.go
  pkg/k8s/watchers/cilium_local_redirect_policy.go
  pkg/k8s/watchers/service.go
  pkg/k8s/watchers/watcher.go
  pkg/redirectpolicy/manager.go
Labels: area/lrp, ready-to-merge, release-note/misc

#13385 docs: Document make target for operator Docker image
  Documentation/contributing/development/images.rst
Labels: area/documentation, release-note/misc

#13380 datapath/linux/route: use upstream function to list rules
  pkg/datapath/linux/route/route_linux.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#13391 test: update runtime test descriptions after removal of DNS poller
  test/runtime/fqdn.go
Labels: kind/cleanup, release-note/ci

#13389 test: don't check logs if kubectl is nil
  test/helpers/kubectl.go
Labels: release-note/ci

#13388 v1.8 backports 2020-10-02-2
  pkg/hubble/observer/local_observer.go
  pkg/hubble/observer/local_observer_test.go
Labels: backport/1.8, kind/backports

#13407 docs: Clarify when GITHUB_TOKEN is needed
  Documentation/contributing/release/backports.rst
Labels: area/documentation, release-note/misc

#13401 pkg/option: re-introduce conntrack-gc-interval flag
  pkg/option/config.go
Labels: kind/regression, needs-backport/1.8, release-note/bug

#13403 bump Alpine base image to 3.12
  Documentation/Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  hubble-relay.Dockerfile
Labels: ready-to-merge, release-note/misc

#13413 test: Restart unmanaged pods in log gatherer ns
  test/k8sT/assertionHelpers.go
Labels: ready-to-merge, release-note/ci

#13423 docs: Add connectivity-check to Hubble getting started guide
  Documentation/gettingstarted/hubble.rst
Labels: area/documentation, release-note/misc

#13340 Add the return code CT_REOPENED for conntrack table lookup.
  bpf/bpf_lxc.c
  bpf/lib/common.h
  bpf/lib/conntrack.h
  bpf/lib/host_firewall.h
  bpf/lib/lb.h
  bpf/lib/nodeport.h
  bpf/lib/trace.h
  bpf/tests/conntrack_test.h
  pkg/monitor/datapath_trace.go
Labels: area/datapath, area/monitor, needs-backport/1.8, release-note/minor

#13426 docs: Remove "Experimental" from GKE E2E test section
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, release-note/misc

#13414 bpf: properly handle IPv4 fragmented packets in host firewall
  bpf/lib/host_firewall.h
Labels: area/datapath, kind/bug, needs-backport/1.8, release-note/bug

#13408 contexthelpers: Fix deadlock when nobody recvs on success channel
  pkg/contexthelpers/context.go
  pkg/contexthelpers/context_test.go
Labels: kind/bug, needs-backport/1.6, needs-backport/1.7, needs-backport/1.8, pending-review, ready-to-merge, release-note/bug

#13410 docs: Document OpenShift OKD installation
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
  Documentation/gettingstarted/k8s-install-self-managed.rst
Labels: area/documentation, release-note/major

#13439 docs: Small improvement to OpenShift OKD guide
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
Labels: area/documentation, release-note/minor

#13425 pkg/hubble/filters: Add HTTP path filters
  api/v1/flow/flow.pb.go
  api/v1/flow/flow.proto
  pkg/hubble/filters/http.go
  pkg/hubble/filters/http_test.go
Labels: area/hubble, ready-to-merge, release-note/minor

#13441 v1.7 backports 2020-10-07
  pkg/contexthelpers/context.go
  pkg/contexthelpers/context_test.go
Labels: backport/1.7, kind/backports, ready-to-merge

#13432 Improve connectivity-check cue CLI help and documentation
  examples/kubernetes/connectivity-check/Makefile
  examples/kubernetes/connectivity-check/README.md
  examples/kubernetes/connectivity-check/main_tool.cue
Labels: needs-backport/1.8, release-note/misc

#13445 test: fix ipv6 addr configuration for vm interfaces
  test/Vagrantfile
Labels: ready-to-merge, release-note/misc

#13444 vagrant start script misc updates
  contrib/vagrant/.gitignore
  contrib/vagrant/restart-vars
  contrib/vagrant/start.sh
Labels: ready-to-merge, release-note/misc

#13453 USERS: Add Alibaba Cloud usage
  USERS.md
Labels: area/documentation, release-note/minor

#13313 helm: bump hubble-ui patch version in chart values
  install/kubernetes/cilium/charts/hubble-ui/values.yaml
  install/kubernetes/experimental-install.yaml
Labels: area/helm, release-note/minor

#13448 datapath: Fix handling of enable-endpoint-routes
  pkg/datapath/loader/base.go
Labels: area/datapath, backport/1.8, kind/backports, kind/bug, ready-to-merge, release-note/bug

#12563 cleanup: Use value receiver instead of pointer receiver for CIDR struct
  pkg/policy/api/cidr.go
  pkg/policy/api/rule_validation.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#13461 lbmap: Sort backends before creating maglev lookup table
  pkg/maps/lbmap/lbmap.go
Labels: area/kube-proxy-free, kind/bug, pending-review, priority/release-blocker, release-note/minor

#13467 hubble/parser: Fix data race in L7 parser
  pkg/hubble/parser/seven/parser.go
Labels: area/hubble, kind/bug/race-detector, ready-to-merge, release-note/misc

#13452 docs: Fix TLS visibility GSG
  Documentation/gettingstarted/tls-visibility.rst
Labels: area/documentation, needs-backport/1.7, needs-backport/1.8, ready-to-merge, release-note/misc

#13427 bpf: Do not try to open map when creating unpinned map
  pkg/bpf/bpf_linux.go
  pkg/bpf/map_linux.go
  pkg/bpf/map_linux_test.go
  pkg/maps/lbmap/maglev.go
  pkg/probe/probe.go
Labels: area/daemon, kind/bug, release-note/misc

#13478 USERS: Add microk8s
  USERS.md
Labels: area/documentation, release-note/misc

#13481 fix: fix missing arguments declaration funcs in pkg/node/address_darwin
  pkg/node/address_darwin.go
Labels: release-note/misc

#13464 test: fix cilium policy action for clusterwide policies
  test/helpers/kubectl.go
Labels: area/CI, project/ci-force, ready-to-merge, release-note/ci

#12628 Differentiate UDP and TCP Protocols in Services
  Documentation/cmdref/cilium_service_update.md
  Documentation/gettingstarted/kubeproxy-free.rst
  api/v1/models/backend_address.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  bpf/bpf_sock.c
  bpf/lib/common.h
  bpf/lib/lb.h
  bpf/sockops/bpf_redir.c
  bpf/sockops/bpf_sockops.c
  bpf/sockops/bpf_sockops.h
  cilium/cmd/service_update.go
  pkg/k8s/apis/cilium.io/v2/clrp_types.go
  pkg/k8s/endpoints_test.go
  pkg/k8s/service.go
  pkg/k8s/service_cache.go
  pkg/k8s/service_cache_test.go
  pkg/k8s/service_test.go
  pkg/k8s/watchers/pod.go
  pkg/k8s/watchers/watcher.go
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/loadbalancer_test.go
  pkg/maps/lbmap/ipv4.go
  pkg/maps/lbmap/ipv6.go
  pkg/maps/lbmap/lbmap.go
  pkg/maps/lbmap/lbmap_mock.go
  pkg/maps/lbmap/types.go
  pkg/maps/sockmap/sockmap.go
  pkg/option/config.go
  pkg/policy/portmap_test.go
  pkg/redirectpolicy/manager_test.go
  pkg/service/id_test.go
  pkg/service/service.go
  pkg/service/service_test.go
  pkg/service/store/store_test.go
  pkg/u8proto/u8proto.go
  test/helpers/cilium.go
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/helpers/utils.go
  test/k8sT/Services.go
  test/k8sT/Updates.go
Labels: area/datapath, release-note/minor, upgrade-impact

#13466 test: Test for vxlan + per-endpoint routes
  test/k8sT/DatapathConfiguration.go
Labels: area/CI, ready-to-merge, release-note/misc

#13494 pkg/redirectpolicy Fix frontend-backend ipv6 mapping
  pkg/redirectpolicy/manager.go
  pkg/redirectpolicy/manager_test.go
Labels: release-note/misc

#13447 allocator/podcidr: fix formatting issue with debug message
  pkg/ipam/allocator/podcidr/podcidr.go
Labels: release-note/misc

#13484 hubble/relay: print better error message on peer conn dial failure
  pkg/hubble/relay/pool/option.go
  pkg/hubble/relay/server/server.go
Labels: area/hubble, kind/cleanup, needs-backport/1.8, ready-to-merge, release-note/misc

#13507 docs: Correct minikube start command in getting started guide
  Documentation/gettingstarted/minikube-install.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#13482 vendor: update arping lib to fix concurrency issues
  go.mod
  go.sum
  vendor/github.com/cilium/arping/README.md
  vendor/github.com/cilium/arping/arping.go
  vendor/github.com/cilium/arping/arping_linux.go
  vendor/github.com/cilium/arping/go.mod
  vendor/modules.txt
Labels: kind/bug, kind/bug/race-detector, needs-backport/1.8, release-note/bug

#13509 v1.8: Vendor in google/protobuf/wrappers.proto
  api/v1/external/google/protobuf/wrappers.proto
Labels: backport/1.8, kind/backports, ready-to-merge

#13462 updating operator dockerfile with built-in buildx ARGs
  images/operator/Dockerfile
Labels: area/build, ready-to-merge, release-note/ci

#13468 bpf: Remove duplicate command from init.sh
  bpf/init.sh
Labels: area/datapath, ready-to-merge, release-note/misc

#13394 Enables LRP to react on pod readiness.
  pkg/k8s/slim/k8s/apis/core/v1/generated.pb.go
  pkg/k8s/slim/k8s/apis/core/v1/generated.proto
  pkg/k8s/slim/k8s/apis/core/v1/types.go
  pkg/k8s/slim/k8s/apis/core/v1/zz_generated.deepcopy.go
  pkg/k8s/slim/k8s/apis/core/v1/zz_generated.deepequal.go
  pkg/k8s/utils/utils.go
  pkg/k8s/watchers/pod.go
  pkg/k8s/watchers/watcher.go
  pkg/redirectpolicy/manager.go
  pkg/redirectpolicy/manager_test.go
Labels: pending-review, release-note/misc

#13518 Prepare for release v1.9.0-rc1
  VERSION
Labels: release-note/misc

#13520 helm: Update documentation links to point to stable
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, release-note/misc

#13281 endpoint: Differentiate between Stop and Delete action
  daemon/cmd/daemon.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_test.go
Labels: release-note/bug

#13458 helm: renamed podsAnnotations variable into podAnnotations
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/agent/values.yaml
  install/kubernetes/cilium/charts/operator/templates/deployment.yaml
  install/kubernetes/cilium/charts/operator/values.yaml
Labels: area/helm, backport/1.8, release-note/minor

#13465 test: Disable host firewall by default when running tests locally
  test/helpers/utils.go
Labels: area/CI, area/host-firewall, ready-to-merge, release-note/misc

#13488 doc: Kubeadm guide
  Documentation/gettingstarted/k8s-install-kubeadm.rst
Labels: area/documentation, needs-backport/1.8, release-note/misc

#13516 vagrant: Default to NFS in the dev. VMs
  Documentation/contributing/development/dev_setup.rst
  Vagrantfile
  contrib/vagrant/restart-vars
  contrib/vagrant/start.sh
Labels: release-note/misc

#13522 build Add a debug make target
  Makefile
  Makefile.defs
  Vagrantfile
Labels: release-note/misc

#13524 kvstore: Do not write to read-only keys in join-cluster mode
  pkg/endpoint/policy.go
  pkg/kvstore/client.go
  pkg/nodediscovery/nodediscovery.go
Labels: area/daemon, release-note/bug

#13534 Fix script cass-populate-tables from cassandra examples.
  examples/kubernetes-cassandra/cass-populate-tables.sh
Labels: release-note/misc

#13531 fqdn: remove remnants godoc comments mentioning DNS poller
  pkg/fqdn/doc.go
Labels: kind/cleanup, priority/release-blocker, release-note/misc

#13489 maps: move mocks into separate testutils/mockmaps package
  cilium/cmd/bpf_ct_list_test.go
  cilium/cmd/bpf_nat_list_test.go
  pkg/maps/ctmap/ctmap.go
  pkg/maps/nat/nat.go
  pkg/service/service_test.go
  pkg/testutils/mockmaps/ctmap.go
  pkg/testutils/mockmaps/lbmap.go
  pkg/testutils/mockmaps/nat.go
Labels: needs/triage, ready-to-merge, release-note/misc

#13545 Fix kubectl command in cassandra NetworkPolicy documentation.
  Documentation/gettingstarted/cassandra.rst
Labels: needs-backport/1.8, release-note/misc

#13546 docs: Adjust the hubble CLI definition
  Documentation/concepts/overview.rst
Labels: area/documentation, release-note/misc

#13541 helm: remove unused var in make quick-install target
  install/kubernetes/Makefile
Labels: kind/cleanup, priority/release-blocker, release-note/misc

#13540 CODEOWNERS: fix owner assignment for hubble related helm charts
  CODEOWNERS
Labels: priority/release-blocker, release-note/misc

#13542 install: repository changed from quay.io to docker.io for hubble-ui
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
Labels: priority/release-blocker, release-note/misc

#13539 helm: bring back hubble dependencies validation
  install/kubernetes/cilium/templates/validate.yaml
Labels: area/helm, area/hubble, priority/release-blocker, ready-to-merge, release-note/misc

#13538 helm: remove random value file
  install/kubernetes/cilium-163c6ff9d0d92bc1.yaml
Labels: area/helm, kind/cleanup, priority/release-blocker, release-note/misc

#13532 bpf: only clean up XDP from devices with XDP attached
  bpf/init.sh
Labels: needs-backport/1.7, needs-backport/1.8, priority/release-blocker, ready-to-merge, release-note/bug

#13483 bpf_host: describe the position of {to,from}-{host,netdev} in the data path
  bpf/bpf_host.c
Labels: area/datapath, kind/cleanup, priority/release-blocker, ready-to-merge, release-note/misc

#13527 test/vagrant: Fix NFS setup for test VMs
  test/Vagrantfile
Labels: area/CI, priority/release-blocker, ready-to-merge, release-note/misc

#13547 helm: Correct indentation for imagePullSecret
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
Labels: area/helm, kind/cleanup, release-note/misc

#13476 Fix wrong csum for non-first ipv4 fragments
  bpf/bpf_lxc.c
  bpf/lib/ipv4.h
  bpf/lib/lb.h
  bpf/lib/nat.h
  bpf/lib/nodeport.h
Labels: needs-backport/1.8, priority/release-blocker, release-note/bug

#13504 ci: Do not label control plane nodes with cilium.io/node
  test/helpers/kubectl.go
Labels: area/CI-improvement, priority/release-blocker, ready-to-merge, release-note/misc

#13557 test: Increase timeout for waiting LB IP addr on GKE
  test/k8sT/Services.go
Labels: area/CI, pending-review, release-note/ci

#13560 docs: Fix shell syntax issue in OpenShift guide
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
Labels: area/documentation, needs-backport/1.8, release-note/misc

#13525 pkg/hubble: ignore klog/v2 in goleak detector
  pkg/hubble/container/ring_reader_test.go
  pkg/hubble/container/ring_test.go
Labels: area/hubble, kind/bug/race-detector, priority/release-blocker, release-note/misc

#13556 install/kubernetes: consistent case spelling of iptables related values
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  test/k8sT/DatapathConfiguration.go
Labels: area/helm, ready-to-merge, release-note/misc

#13563 docs: Add Hubble to SIGs table
  Documentation/community.rst
Labels: area/documentation, release-note/misc

#13470 vagrant: New kubectl aliases
  contrib/vagrant/scripts/04-install-kubectl.sh
  test/provision/k8s_install.sh
Labels: priority/release-blocker, release-note/misc

#13562 pkg/idpool: fix test for race detector
  pkg/idpool/idpool_norace_test.go
  pkg/idpool/idpool_race_test.go
  pkg/idpool/idpool_test.go
Labels: kind/bug/race-detector, release-note/misc

#13567 allocator/podcidr: fix race conditions in tests
  pkg/ipam/allocator/podcidr/podcidr_test.go
Labels: kind/bug/race-detector, release-note/misc

#13559 test: Fix kube-proxy-free on GKE due to wrong k8sServiceHost value
  test/helpers/kubectl.go
Labels: area/CI, area/kube-proxy-free, ready-to-merge, release-note/ci

#12969 Fix typo in UpdateEC2AdapterLimitViaAPI command line flag
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator.md
  Documentation/concepts/networking/ipam/eni.rst
  operator/option/config.go
  operator/provider_aws_flags.go
Labels: priority/release-blocker, release-note/misc

#13570 lock: fix data race in (*SemaphoredMutexSuite).TestParallelism()
  pkg/lock/stoppable_waitgroup_test.go
Labels: release-note/bug

#13566 helm: improve hubble related config documentation in values file
  install/kubernetes/cilium/values.yaml
Labels: area/documentation, area/helm, area/hubble, ready-to-merge, release-note/misc

#13578 Update Go to 1.15.3
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: priority/release-blocker, release-note/misc

#13576 service: Use initNextID in acquireLocalID()
  pkg/service/id_local.go
Labels: needs-backport/1.7, needs-backport/1.8, priority/release-blocker, release-note/bug

#13582 pkg/policy: ignore test mutex comparison
  pkg/policy/resolve_deny_test.go
  pkg/policy/resolve_test.go
Labels: kind/bug/race-detector, priority/release-blocker, release-note/misc

#13589 CODEOWNERS: change docs to docs-structure
  CODEOWNERS
Labels: release-note/misc

#11733 Create healthz HTTP endpoint for kube-proxy replacement
  Documentation/cmdref/cilium-agent.md
  Documentation/gettingstarted/kubeproxy-free.rst
  daemon/cmd/agenthealth.go
  daemon/cmd/daemon_main.go
  daemon/cmd/kube_proxy_healthz.go
  daemon/cmd/kube_proxy_healthz_test.go
  daemon/cmd/sockopt.go
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
  pkg/defaults/defaults.go
  pkg/option/config.go
  pkg/service/service.go
Labels: priority/release-blocker, release-note/minor

#13536 pkg/k8s: mark unused 'k8s-watcher-queue-size' flag for removal
  Documentation/cmdref/cilium-agent.md
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  pkg/k8s/watchers/watcher.go
  pkg/option/config.go
Labels: kind/cleanup, priority/release-blocker, release-note/misc

#13514 identity: Fix nil pointer panic in LookupIdentityByID
  pkg/identity/cache/cache.go
Labels: needs-backport/1.7, needs-backport/1.8, priority/release-blocker, release-note/bug

#13587 Revert "Differentiate UDP and TCP Protocols in Services"
  Documentation/cmdref/cilium_service_update.md
  Documentation/gettingstarted/kubeproxy-free.rst
  api/v1/models/backend_address.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  bpf/bpf_sock.c
  bpf/lib/common.h
  bpf/lib/lb.h
  bpf/sockops/bpf_redir.c
  bpf/sockops/bpf_sockops.c
  bpf/sockops/bpf_sockops.h
  cilium/cmd/service_update.go
  pkg/k8s/apis/cilium.io/v2/clrp_types.go
  pkg/k8s/endpoints_test.go
  pkg/k8s/service.go
  pkg/k8s/service_cache.go
  pkg/k8s/service_cache_test.go
  pkg/k8s/service_test.go
  pkg/k8s/watchers/pod.go
  pkg/k8s/watchers/watcher.go
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/loadbalancer_test.go
  pkg/maps/lbmap/ipv4.go
  pkg/maps/lbmap/ipv6.go
  pkg/maps/lbmap/lbmap.go
  pkg/maps/lbmap/types.go
  pkg/maps/sockmap/sockmap.go
  pkg/option/config.go
  pkg/policy/portmap_test.go
  pkg/redirectpolicy/manager_test.go
  pkg/service/id_test.go
  pkg/service/service.go
  pkg/service/service_test.go
  pkg/service/store/store_test.go
  pkg/testutils/mockmaps/lbmap.go
  pkg/u8proto/u8proto.go
  test/helpers/cilium.go
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/helpers/utils.go
  test/k8sT/Services.go
  test/k8sT/Updates.go
Labels: area/datapath, priority/release-blocker, ready-to-merge, release-note/misc

#13415 Azure IPAM: option to ignore primary addresses
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator.md
  operator/option/config.go
  operator/provider_azure_flags.go
  pkg/azure/api/api.go
  pkg/azure/api/api_test.go
  pkg/ipam/allocator/azure/azure.go
Labels: area/azure, release-note/minor, release-priority/best-effort, upgrade-impact

#13287 Avoid loops with local-redirect service translation
  bpf/bpf_sock.c
  bpf/include/bpf/features.h
  bpf/include/bpf/helpers.h
  bpf/include/bpf/helpers_skb.h
  bpf/lib/common.h
  bpf/lib/lb.h
Labels: area/lrp, priority/release-blocker, release-note/misc

#13585 helm: Remove unused serviceAccount values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/hubble-ui-clusterrole.yaml
  install/kubernetes/cilium/templates/hubble-ui-clusterrolebinding.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/helm, kind/cleanup, priority/release-blocker, release-note/misc

#13593 datapath/linux: return errors when unable to setup encrypt interface
  pkg/datapath/linux/config/config.go
Labels: priority/release-blocker, release-note/bug

#13548 Helm: adding support of affinity for the operator deployment
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: area/helm, release-note/minor

#13409 Improve policy documentation
  Documentation/concepts/kubernetes/policy.rst
  Documentation/gettingstarted/http.rst
Labels: area/documentation, priority/release-blocker, release-note/misc

#13579 v1.8: Update Go to 1.14.10
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.8, kind/backports, release-note/misc

#13581 pkg/azure/ipam: fix data race in (*Node).PopulateStatusFields
  pkg/azure/ipam/node.go
Labels: priority/release-blocker, release-note/misc

#13586 cli: Add cilium bpf lb maglev get $SVC_ID
  Documentation/cmdref/cilium_bpf_lb_maglev.md
  Documentation/cmdref/cilium_bpf_lb_maglev_get.md
  cilium/cmd/bpf_lb_maglev_get.go
  cilium/cmd/bpf_lb_maglev_list.go
  pkg/bpf/bpf_linux.go
Labels: area/cli, pending-review, priority/release-blocker, release-note/minor

#13561 docs: Update CI documentation following Helm refactoring
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, priority/release-blocker, release-note/misc

#13551 update cilium and hubble-relay dockerfiles to use built-in buildx ARGs
  bpf/Makefile.bpf
  images/cilium/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
Labels: area/build, ready-to-merge, release-note/ci

#13602 images: Fix handling of git tags
  images/scripts/make-image-tag.sh
Labels: area/build, kind/bug/CI, release-note/ci

#13605 build: Fix CC for CGO compilation for Arm
  images/cilium/Dockerfile
Labels: area/build, kind/bug/CI, release-note/ci

#13598 Fix extraction of manifest for OpenShift
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
Labels: area/documentation, kind/bug, release-note/misc

#13596 docs/performance: update scripts repo and tf version
  Documentation/operations/performance/index.rst
Labels: needs-backport/1.8, ready-to-merge, release-note/misc

#13591 loader: Check if device has BPF prog before trying to detach it
  pkg/datapath/loader/loader.go
  pkg/datapath/loader/netlink.go
Labels: area/loader, kind/bug, needs-backport/1.8, priority/release-blocker, ready-to-merge, release-note/bug

#13500 cilium, ipsec: Do revalidate_data_pull() early in do_decrypt() case
  bpf/bpf_network.c
  bpf/lib/encrypt.h
Labels: area/encryption, priority/release-blocker, ready-to-merge, release-note/bug

#13613 bpf: simplify local redirect a bit for sock lb
  bpf/bpf_sock.c
Labels: area/datapath, kind/cleanup, pending-review, release-note/misc

#13617 Prepare for 1.10.0 development
  .github/cilium-actions.yml
  VERSION
Labels: release-note/misc

#13618 Prepare v1.9.0-rc2 release
  .github/cilium-actions.yml
  CODEOWNERS
Labels: backport/1.9, release-note/misc

#13622 Prepare for release v1.9.0-rc2
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/Makefile
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.9, kind/backports, kind/release

#13630 contrib: match commit subject exactly when searching for upstream commit
  contrib/backporting/check-stable
Labels: needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, release-note/misc

#13625 vagrant: make restart.sh executable
  contrib/vagrant/start.sh
Labels: area/build, ready-to-merge, release-note/misc

#13633 v1.7 backports 2020-10-19
  contrib/backporting/check-stable
Labels: backport/1.7, kind/backports

#13635 v1.8 backports 2020-10-19 p2
  contrib/backporting/check-stable
Labels: backport/1.8, kind/backports

#13639 images: Fix handing of dev suffix when tag is used (cilium/image-tools#76)
  images/scripts/make-image-tag.sh
Labels: area/build, needs-backport/1.9, release-note/ci

#13604 k8s/watchers: fix data race in (*K8sWatcher).addK8sServiceV1
  daemon/cmd/daemon.go
  pkg/k8s/watchers/cilium_local_redirect_policy.go
  pkg/k8s/watchers/service.go
  pkg/k8s/watchers/watcher.go
  pkg/redirectpolicy/manager.go
  pkg/redirectpolicy/manager_test.go
Labels: needs-backport/1.9, priority/release-blocker, release-note/bug

#13299 Add log when allocate nodecidr failure
  pkg/ipam/allocator/podcidr/podcidr.go
  pkg/ipam/allocator/podcidr/podcidr_test.go
Labels: needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug, release-priority/best-effort

#13295 test: Debug RuntimeConntrackInVethModeTest flake
  test/runtime/connectivity.go
Labels: area/CI, release-note/misc

#13612 eni: Fix data race during multiple updates at once
  pkg/aws/eni/node.go
Labels: area/CI, area/eni, kind/bug, needs-backport/1.9, priority/release-blocker, release-note/bug

#13640 docs: Document some caveats of kube-proxy replacement
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, release-note/misc

#13424 Expose operator azure-user-assigned-identity-id flag to its chart
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/helm, area/operator, needs-backport/1.9, release-note/misc, release-priority/best-effort

#13643 docker: update Hubble CLI to v0.7.0
  Dockerfile
Labels: area/hubble, needs-backport/1.9, priority/release-blocker, ready-to-merge, release-note/minor

#13620 vendor: pin yaml.v2 to v2.2.8
  examples/crds/ciliumclusterwidelocalredirectpolicies.yaml
  examples/crds/ciliumclusterwidenetworkpolicies.yaml
  examples/crds/ciliumendpoints.yaml
  examples/crds/ciliumidentities.yaml
  examples/crds/ciliumlocalredirectpolicies.yaml
  examples/crds/ciliumnetworkpolicies.yaml
  examples/crds/ciliumnodes.yaml
  go.mod
  go.sum
  pkg/k8s/apis/cilium.io/v2/client/bindata.go
  vendor/gopkg.in/yaml.v2/apic.go
  vendor/modules.txt
Labels: area/build, needs-backport/1.9, ready-to-merge, release-note/misc

#13550 operator: Fix CEP owner type
  operator/k8s_cep_gc.go
Labels: area/operator, kind/bug, needs-backport/1.9, priority/release-blocker, ready-to-merge, release-note/misc

#13651 docs: fix minor issue in cilium support with external etcd gsg
  Documentation/gettingstarted/k8s-install-external-etcd.rst
  Documentation/gettingstarted/requirements_intro.rst
Labels: area/documentation, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#13644 Fixes for troubleshooting guide re. Hubble/Hubble Relay
  Documentation/operations/troubleshooting.rst
Labels: area/documentation, needs-backport/1.9, release-note/misc

#13645 docs: GKE - fix some indentation, specify bash code segments
  Documentation/gettingstarted/k8s-install-gke.rst
Labels: area/documentation, needs-backport/1.8, needs-backport/1.9, release-note/misc

#13648 k8s Don't treat empty pod IPs as error condition
  pkg/k8s/utils/utils.go
  pkg/k8s/watchers/pod.go
  pkg/redirectpolicy/manager.go
  pkg/redirectpolicy/manager_test.go
Labels: release-note/misc

#13665 docs: NodePort XDP on GCP is not supported
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.9, release-note/misc

#13664 smoketest: Add image tag as latest for cilium agent and operator
  .github/workflows/smoke-test-ipv6.yaml
  .github/workflows/smoke-test.yaml
Labels: area/CI, area/build, needs-backport/1.9, release-note/ci

#13654 k8s: update k8s libraries to 1.19.3
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/api/apps/v1beta1/types.go
  vendor/k8s.io/api/apps/v1beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/apps/v1beta2/types.go
  vendor/k8s.io/api/apps/v1beta2/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/extensions/v1beta1/types.go
  vendor/k8s.io/api/extensions/v1beta1/zz_generated.prerelease-lifecycle.go
  vendor/modules.txt
Labels: needs-backport/1.9, release-note/misc

#13653 k8s: update k8s libraries to 1.18.10
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Labels: backport/1.8, kind/backports, release-note/misc

#13652 k8s: update k8s libraries to 1.17.13
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Labels: backport/1.7, kind/backports, release-note/misc

#13607 helm: Remove hardcoded port check for hubble, etc
  install/kubernetes/Makefile
  install/kubernetes/cilium/templates/hubble-ca-configmap.yaml
  install/kubernetes/cilium/templates/hubble-relay-client-tls-secret.yaml
  install/kubernetes/cilium/templates/hubble-server-secret.yaml
  install/kubernetes/cilium/templates/validate.yaml
Labels: area/helm, needs-backport/1.9, ready-to-merge, release-note/misc

#13677 helm: keep encryption interface value undefined
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: needs-backport/1.9, release-note/minor

#13684 install/kubernetes: remove nodePort.device from values
  install/kubernetes/cilium/values.yaml
Labels: area/helm, needs-backport/1.9, release-note/misc
