Repository cilium/cilium, pull requests merged in 2020-12, with the labels that each got.

#14201 node: Handle arpinging when remote node is in different L2
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
Labels: area/datapath, area/kube-proxy-free, area/loadbalancing, lb-only, needs-backport/1.8, needs-backport/1.9, pending-review, ready-to-merge, release-note/minor

#14054 kpr: ensure DirectRoutingDevice is in devices
  daemon/cmd/daemon.go
  daemon/cmd/kube_proxy_replacement.go
Labels: area/daemon, kind/bug, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#13805 Adds iptables NOTRACK rules for nodelocaldns.
  daemon/cmd/endpoint.go
  examples/kubernetes-local-redirect/node-local-dns.yaml
  pkg/annotation/k8s.go
  pkg/datapath/iptables/iptables.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/events.go
  pkg/endpoint/policy.go
  pkg/k8s/watchers/pod.go
Labels: release-note/misc

#14222 vendor: Fix cilium/arping goroutine leak
  go.mod
  go.sum
  vendor/github.com/cilium/arping/arping.go
  vendor/github.com/cilium/arping/arping_linux.go
  vendor/modules.txt
Labels: kind/bug, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#14210 test: add nil check to CiliumReport to prevent segfaults
  test/helpers/kubectl.go
Labels: ready-to-merge, release-note/ci

#13953 test: Enable K8sVerifier on 4.19 and net-next CI
  test/k8sT/Verifier.go
Labels: area/CI, area/CI-improvement, ready-to-merge, release-note/ci

#14187 ci/helpers: Delete CRDs in CleanupCiliumComponents
  test/helpers/kubectl.go
Labels: area/CI, needs-backport/1.9, ready-to-merge, release-note/ci

#14232 bpf: Fix program size issue with host firewall in IPv4-only mode
  bpf/bpf_host.c
  bpf/lib/host_firewall.h
  bpf/lib/nodeport.h
Labels: area/host-firewall, area/loader, needs-backport/1.9, priority/release-blocker, ready-to-merge, release-note/misc

#14238 vendor: update etcd to 3.4.14
  go.mod
  go.sum
  vendor/go.etcd.io/etcd/clientv3/retry_interceptor.go
  vendor/go.etcd.io/etcd/version/version.go
  vendor/modules.txt
Labels: kind/bug, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, release-note/bug

#14230 vendor: Bump gopkg.in/yaml.v2 to v2.4.0
  go.mod
  go.sum
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/apic.go
  vendor/gopkg.in/yaml.v2/go.mod
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#14235 docs: Expand triage description
  Documentation/contributing/development/contributing_guide.rst
Labels: ready-to-merge, release-note/misc

#14256 node: Fix ineffectual assignment
  pkg/datapath/linux/node_linux_test.go
Labels: area/CI, needs-backport/1.8, needs-backport/1.9, pending-review, release-note/misc

#14247 v1.7 backports 2020-12-02
  go.mod
  go.sum
  vendor/github.com/cilium/arping/README.md
  vendor/github.com/cilium/arping/arping.go
  vendor/github.com/cilium/arping/arping_linux.go
  vendor/github.com/cilium/arping/go.mod
  vendor/modules.txt
Labels: backport/1.7, kind/backports

#14260 bpf: use LB addr as srcIP for outer hdr in DSR/IPIP
  bpf/lib/nodeport.h
Labels: lb-only, release-note/misc

#14220 metricsmap: fix Prometheus exporter
  pkg/maps/metricsmap/metricsmap.go
Labels: area/datapath, area/metrics, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#14077 helm: Add extraConfig in configmap template
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/helm, needs-backport/1.9, needs-rebase, ready-to-merge, release-note/minor

#14267 Prepare for release v1.7.12
  .github/cilium-actions.yml
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.7, kind/backports, kind/release

#14275 Prepare for release v1.8.6
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/charts/hubble-ui/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/charts/prometheus-crd/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.8, kind/backports, kind/release

#14280 Prepare for release v1.9.1
  .github/cilium-actions.yml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.9, kind/backports, kind/release

#14282 Update stable releases
  .github/cilium-actions.yml
  README.rst
Labels: release-note/misc

#14281 .github: fix project ID
  .github/cilium-actions.yml
Labels: backport/1.8, kind/backports, release-note/misc

#14278 docs: Fix connectivity check output
  Documentation/gettingstarted/k8s-install-connectivity-test.rst
Labels: area/documentation, needs-backport/1.9, ready-to-merge, release-note/misc

#14276 bpf: add option for RSS-friendly outer srcIP prefix w/ mixing for DSR
  Documentation/cmdref/cilium-agent.md
  bpf/lib/common.h
  bpf/lib/ghash.h
  bpf/lib/nodeport.h
  bpf/node_config.h
  daemon/cmd/daemon_main.go
  daemon/cmd/kube_proxy_replacement.go
  pkg/datapath/linux/config/config.go
  pkg/option/config.go
Labels: area/datapath, lb-only, pending-review, release-note/minor

#14262 docs: Clarify from/toRequires documentation with a new example
  Documentation/policy/language.rst
  examples/policies/l3/requires/endpoints.json
  examples/policies/l3/requires/endpoints.yaml
Labels: area/documentation, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#14264 docs: Fix dependency conflict
  Documentation/requirements.txt
Labels: needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#14237 docs: Fix values.yaml upgrade guide to match helm args
  Documentation/operations/upgrade.rst
Labels: needs-backport/1.9, ready-to-merge, release-note/misc

#14153 helm/cilium-configmap: added checks to deduplicate keys
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: area/helm, needs-backport/1.8, needs-backport/1.9, release-note/bug

#14253 Use logging pkg to setup cilium-cni logging
  plugins/cilium-cni/cilium-cni.go
  plugins/cilium-cni/types/types.go
Labels: pending-review, release-note/misc

#14261 cilium/cmd, vendor: use github.com/russross/blackfriday/v2
  cilium/cmd/debuginfo.go
  go.mod
  go.sum
  vendor/github.com/russross/blackfriday/.gitignore
  vendor/github.com/russross/blackfriday/.travis.yml
  vendor/github.com/russross/blackfriday/LICENSE.txt
  vendor/github.com/russross/blackfriday/README.md
  vendor/github.com/russross/blackfriday/block.go
  vendor/github.com/russross/blackfriday/doc.go
  vendor/github.com/russross/blackfriday/go.mod
  vendor/github.com/russross/blackfriday/html.go
  vendor/github.com/russross/blackfriday/inline.go
  vendor/github.com/russross/blackfriday/latex.go
  vendor/github.com/russross/blackfriday/markdown.go
  vendor/github.com/russross/blackfriday/smartypants.go
  vendor/github.com/russross/blackfriday/v2/README.md
  vendor/github.com/russross/blackfriday/v2/block.go
  vendor/github.com/russross/blackfriday/v2/doc.go
  vendor/github.com/russross/blackfriday/v2/entities.go
  vendor/github.com/russross/blackfriday/v2/esc.go
  vendor/github.com/russross/blackfriday/v2/html.go
  vendor/github.com/russross/blackfriday/v2/inline.go
  vendor/github.com/russross/blackfriday/v2/node.go
  vendor/github.com/shurcooL/sanitized_anchor_name/.travis.yml
  vendor/github.com/shurcooL/sanitized_anchor_name/LICENSE
  vendor/github.com/shurcooL/sanitized_anchor_name/README.md
  vendor/github.com/shurcooL/sanitized_anchor_name/go.mod
  vendor/github.com/shurcooL/sanitized_anchor_name/main.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#14292 ci: Use images built on host in k8s-all job
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  test/Vagrantfile
  test/vagrant-ci-start.sh
Labels: ready-to-merge, release-note/ci

#14295 helm: Fix preflight check resource quota conflict
  install/kubernetes/cilium/templates/cilium-resource-quota.yaml
Labels: area/helm, backport-pending/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#14274 vagrant: bump all box versions
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/ci

#14257 pkg/endpoint: Readd GetRealizedPolicyRuleLabelsForKey
  pkg/endpoint/policy.go
  pkg/hubble/parser/threefour/parser_test.go
  pkg/hubble/testutils/fake.go
Labels: area/hubble, needs-backport/1.9, ready-to-merge, release-note/misc

#14259 daemon: Allow to specify dev to inherit IP addr for LB devs
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  daemon/cmd/kube_proxy_replacement.go
  pkg/node/address.go
  pkg/option/config.go
Labels: area/daemon, area/loadbalancing, kind/feature, pending-review, release-note/minor

#14315 test: update k8s to 1.20
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#14297 docs: Document expected behavior for node-local DNS
  Documentation/gettingstarted/local-redirect-policy.rst
Labels: needs-backport/1.9, ready-to-merge, release-note/misc

#14296 [v1.8] helm: Fix preflight check resource quota conflict
  install/kubernetes/cilium/templates/cilium-resource-quota.yaml
Labels: backport/1.8, kind/backports, ready-to-merge

#14166 datapath: always generate BTF debug information
  Documentation/cmdref/cilium-agent.md
  Documentation/operations/upgrade.rst
  bpf/init.sh
  daemon/cmd/daemon_main.go
  pkg/datapath/loader/cache.go
  pkg/datapath/loader/compile.go
  pkg/datapath/loader/loader.go
  pkg/option/config.go
Labels: area/datapath, ready-to-merge, release-note/misc

#14313 pkg/k8s: fix k8s_event_lag_seconds for negative time
  pkg/k8s/watchers/pod.go
Labels: needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, release-note/bug

#14311 ci: use host images in master job
  jenkinsfiles/ginkgo.Jenkinsfile
Labels: ready-to-merge, release-note/ci

#14300 ipcache: Use controller.Manager on IPIdentityCache for bpf-garbage-collection
  pkg/datapath/ipcache/listener.go
  pkg/ipcache/ipcache.go
Labels: needs-backport/1.9, ready-to-merge, release-note/bug

#14298 Update Go to 1.15.6
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/docker-compose.yml
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, release-note/misc

#14286 test: Fix flake on policy verdict count check
  test/helpers/kubectl.go
  test/k8sT/DatapathConfiguration.go
  test/k8sT/Identity.go
  test/k8sT/Policies.go
  test/k8sT/Updates.go
  test/k8sT/assertionHelpers.go
  test/k8sT/hubble.go
Labels: area/CI, needs-backport/1.8, needs-backport/1.9, project/ci-force, ready-to-merge, release-note/ci

#14335 datapath/loader: fix privileged test build
  pkg/datapath/loader/loader_test.go
Labels: area/datapath, ready-to-merge, release-note/misc

#14306 v1.8: Update Go to 1.14.13
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  test/docker-compose.yml
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.8, kind/backports, release-note/misc

#14303 v1.9: Update Go to 1.15.6
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/docker-compose.yml
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.9, kind/backports, release-note/misc

#14327 vendor: use github.com/blang/semver/v4
  go.mod
  go.sum
  pkg/datapath/iptables/iptables.go
  pkg/datapath/linux/requirements.go
  pkg/datapath/linux/requirements_test.go
  pkg/hubble/build/version_test.go
  pkg/k8s/version/version.go
  pkg/k8s/watchers/endpointsynchronizer.go
  pkg/kvstore/etcd.go
  pkg/versioncheck/check.go
  test/helpers/utils.go
  tools/dev-doctor/binarycheck.go
  tools/dev-doctor/rootcmd.go
  vendor/github.com/blang/semver/.travis.yml
  vendor/github.com/blang/semver/README.md
  vendor/github.com/blang/semver/package.json
  vendor/github.com/blang/semver/v4/LICENSE
  vendor/github.com/blang/semver/v4/go.mod
  vendor/github.com/blang/semver/v4/json.go
  vendor/github.com/blang/semver/v4/range.go
  vendor/github.com/blang/semver/v4/semver.go
  vendor/github.com/blang/semver/v4/sort.go
  vendor/github.com/blang/semver/v4/sql.go
  vendor/modules.txt
Labels: kind/cleanup, ready-to-merge, release-note/misc

#14321 policy: Track selectors that contribute to MapStateEntries
  pkg/endpoint/bpf.go
  pkg/policy/distillery_test.go
  pkg/policy/l4.go
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
  pkg/policy/resolve.go
  pkg/policy/resolve_deny_test.go
  pkg/policy/resolve_test.go
  pkg/policy/selectorcache_test.go
Labels: area/policy, kind/bug, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, release-note/bug

#14325 microk8s: fix add-on-command for enabling cilium
  Documentation/gettingstarted/microk8s.rst
Labels: needs-backport/1.9, release-note/misc

#14272 Vagrant: Add support for .devvmrc
  .gitignore
  Documentation/contributing/development/dev_setup.rst
  Vagrantfile
  test/Vagrantfile
  test/provision/k8s_install.sh
Labels: kind/enhancement, release-note/misc

#14352 daemon: Turn on policy debug logging if Cilium is started with --debug
  daemon/cmd/daemon_main.go
  pkg/endpoint/endpoint.go
Labels: area/bugtool, release-note/misc

#14367 bpf: allow prefix of /32 and /128 in RSS src CIDR
  daemon/cmd/kube_proxy_replacement.go
Labels: area/daemon, area/datapath, lb-only, pending-review, release-note/misc

#14365 jenkinsfile: Remove stale symlinks
  Jenkinsfile.nightly
  flannel.Jenkinsfile
Labels: kind/cleanup, release-note/misc

#14364 stale-bot: stale PRs with assignees
  .github/stale.yml
Labels: release-note/misc

#14361 contrib/k8s: Add 'nsexec' script to run commands in the network namespace of a POD
  contrib/k8s/nsexec
Labels: area/misc, release-note/misc

#14359 docs: Add info about Envoy smoke test
  Documentation/contributing/development/dev_setup.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, release-note/misc

#14351 all: use UUIDv4 instead of UUIDv1
  daemon/cmd/policy.go
  go.mod
  pkg/allocator/allocator.go
  pkg/aws/ec2/mock/mock.go
  pkg/backoff/backoff.go
  pkg/controller/manager.go
  pkg/ipam/allocator.go
  pkg/kvstore/lock.go
  pkg/kvstore/lock_test.go
  pkg/rate/api_limiter.go
  pkg/uuid/uuid.go
  plugins/cilium-cni/cilium-cni.go
  test/k8sT/Policies.go
  vendor/github.com/pborman/uuid/.travis.yml
  vendor/github.com/pborman/uuid/CONTRIBUTING.md
  vendor/github.com/pborman/uuid/CONTRIBUTORS
  vendor/github.com/pborman/uuid/LICENSE
  vendor/github.com/pborman/uuid/README.md
  vendor/github.com/pborman/uuid/dce.go
  vendor/github.com/pborman/uuid/doc.go
  vendor/github.com/pborman/uuid/go.mod
  vendor/github.com/pborman/uuid/go.sum
  vendor/github.com/pborman/uuid/hash.go
  vendor/github.com/pborman/uuid/marshal.go
  vendor/github.com/pborman/uuid/node.go
  vendor/github.com/pborman/uuid/sql.go
  vendor/github.com/pborman/uuid/time.go
  vendor/github.com/pborman/uuid/util.go
  vendor/github.com/pborman/uuid/uuid.go
  vendor/github.com/pborman/uuid/version1.go
  vendor/github.com/pborman/uuid/version4.go
  vendor/modules.txt
Labels: kind/cleanup, release-note/misc

#14348 ci: skip gke clusters with ongoing operations
  test/gke/select-cluster.sh
Labels: release-note/ci

#14319 remove xtables.lock and privileged=true from node-local-dns example
  examples/kubernetes-local-redirect/node-local-dns.yaml
Labels: ready-to-merge, release-note/misc

#14316 hubble: Extend IP filter to support CIDR ranges
  api/v1/flow/flow.pb.go
  api/v1/flow/flow.proto
  pkg/hubble/filters/ip.go
  pkg/hubble/filters/ip_test.go
Labels: release-note/minor

#14312 docs/release: add step to update dashboards to grafana.com
  .github/ISSUE_TEMPLATE/release_template.md
  Documentation/contributing/release/feature.rst
Labels: release-note/misc

#14299 Fix rare crash on startup when kubernetes initialization occurs before IP address configuration
  daemon/cmd/daemon.go
  daemon/cmd/datapath.go
Labels: needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#14294 ci/helpers: Clean-up resource quotas
  test/helpers/kubectl.go
Labels: needs-backport/1.9, pending-review, release-note/ci

#14265 refactor: Remove `time.After` from any Loops
  .github/workflows/go-check.yaml
  Makefile
  clustermesh-apiserver/main.go
  contrib/scripts/custom-vet-check.sh
  operator/identity_gc.go
  operator/kvstore_watchdog.go
  pkg/allocator/allocator.go
  pkg/controller/controller.go
  pkg/crypto/certloader/watcher.go
  pkg/hubble/relay/observer/observer.go
  pkg/hubble/relay/pool/manager.go
  pkg/identity/cache/allocation_test.go
  pkg/inctimer/inctimer.go
  pkg/inctimer/inctimer_test.go
  pkg/k8s/cnpstatus.go
  pkg/kvstore/consul.go
  pkg/kvstore/etcd.go
  pkg/kvstore/lock.go
  pkg/maps/ctmap/gc/gc.go
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
  pkg/status/status.go
  pkg/trigger/trigger.go
  proxylib/proxylib_test.go
  proxylib/test/accesslog_server.go
Labels: area/daemon, area/hubble, area/operator, release-note/misc

#12383 Consolidate kernel options probing and provide brief descriptions for missing parameters, in logs or for "cilium kernel-check".
  cilium/cmd/kernel_check.go
  pkg/datapath/linux/probes/probes.go
Labels: area/cli, kind/enhancement, ready-to-merge, release-note/minor

#14366 policy: Track selectors that contribute to MapStateEntries
  pkg/endpoint/bpf.go
  pkg/policy/distillery_test.go
  pkg/policy/l4.go
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
  pkg/policy/resolve.go
  pkg/policy/resolve_test.go
  pkg/policy/selectorcache_test.go
Labels: backport/1.8, kind/backports, ready-to-merge

#14368 policy: Track selectors that contribute to MapStateEntries
  pkg/endpoint/bpf.go
  pkg/policy/distillery_test.go
  pkg/policy/l4.go
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
  pkg/policy/resolve.go
  pkg/policy/resolve_test.go
  pkg/policy/selectorcache_test.go
Labels: backport/1.7, kind/backports, ready-to-merge

#14362 policy: Track selectors that contribute to MapStateEntries
  pkg/endpoint/bpf.go
  pkg/policy/distillery_test.go
  pkg/policy/l4.go
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
  pkg/policy/resolve.go
  pkg/policy/resolve_deny_test.go
  pkg/policy/resolve_test.go
  pkg/policy/selectorcache_test.go
Labels: backport/1.9, kind/backports, ready-to-merge

#14372 cilium: error out in svc upsert on frontend/backend ports mismatch on IPIP
  pkg/service/service.go
Labels: lb-only, pending-review, release-note/misc

#14371 Revert "refactor: Remove `time.After` from any Loops"
  .github/workflows/go-check.yaml
  Makefile
  clustermesh-apiserver/main.go
  contrib/scripts/custom-vet-check.sh
  operator/identity_gc.go
  operator/kvstore_watchdog.go
  pkg/allocator/allocator.go
  pkg/controller/controller.go
  pkg/crypto/certloader/watcher.go
  pkg/hubble/relay/observer/observer.go
  pkg/hubble/relay/pool/manager.go
  pkg/identity/cache/allocation_test.go
  pkg/inctimer/inctimer.go
  pkg/inctimer/inctimer_test.go
  pkg/k8s/cnpstatus.go
  pkg/kvstore/consul.go
  pkg/kvstore/etcd.go
  pkg/kvstore/lock.go
  pkg/maps/ctmap/gc/gc.go
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
  pkg/status/status.go
  pkg/trigger/trigger.go
  proxylib/proxylib_test.go
  proxylib/test/accesslog_server.go
Labels: release-note/ci

#14386 policy: Don't nil an empty selectors map.
  pkg/policy/distillery_test.go
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
  pkg/policy/resolve_deny_test.go
  pkg/policy/resolve_test.go
Labels: kind/bug, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, release-note/misc

#14391 policy: Don't nil an empty selectors map.
  pkg/policy/distillery_test.go
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
  pkg/policy/resolve_deny_test.go
  pkg/policy/resolve_test.go
Labels: backport/1.9, kind/backports

#14390 policy: Don't nil an empty selectors map.
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
  pkg/policy/resolve_test.go
Labels: backport/1.8, kind/backports

#14389 policy: Don't nil an empty selectors map.
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
  pkg/policy/resolve_test.go
Labels: backport/1.7, kind/backports

#14375 pkg/k8s: fix nil pointer for invalid CCNP
  pkg/k8s/factory_functions.go
  pkg/k8s/factory_functions_test.go
Labels: area/operator, kind/bug, needs-backport/1.8, needs-backport/1.9, release-note/bug

#14378 hubble/peer: fix TLS server name for cluster names containing dots
  pkg/hubble/peer/handler.go
  pkg/hubble/peer/handler_test.go
Labels: area/hubble, needs-backport/1.9, ready-to-merge, release-note/bug

#14376 pkg/k8s: remove unused code
  pkg/k8s/factory_functions.go
  pkg/k8s/factory_functions_test.go
Labels: kind/cleanup, release-note/misc

#14408 k8s: Update libraries to v1.18.13
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Labels: area/k8s, backport/1.8, kind/backports, release-note/minor

#14393 ci: Use correct `agent` value in preflight check
  test/k8sT/Updates.go
Labels: area/CI, needs-backport/1.9, release-note/ci

#14388 test: Add missing gomega Eventually intervals
  test/helpers/kubectl.go
  test/k8sT/DatapathConfiguration.go
  test/k8sT/Identity.go
  test/k8sT/Services.go
  test/k8sT/hubble.go
Labels: area/CI, kind/enhancement, release-note/misc

#14387 Add dev-docker-operator-image makefile directive
  Makefile.docker
Labels: pending-review, ready-to-merge, release-note/misc

#14381 ipsec: Fix xfrm output mask
  go.mod
  go.sum
  pkg/datapath/linux/ipsec/ipsec_linux.go
  vendor/github.com/vishvananda/netlink/.travis.yml
  vendor/github.com/vishvananda/netlink/class_linux.go
  vendor/github.com/vishvananda/netlink/conntrack_linux.go
  vendor/github.com/vishvananda/netlink/devlink_linux.go
  vendor/github.com/vishvananda/netlink/filter.go
  vendor/github.com/vishvananda/netlink/filter_linux.go
  vendor/github.com/vishvananda/netlink/go.mod
  vendor/github.com/vishvananda/netlink/go.sum
  vendor/github.com/vishvananda/netlink/handle_unspecified.go
  vendor/github.com/vishvananda/netlink/inet_diag.go
  vendor/github.com/vishvananda/netlink/ipset_linux.go
  vendor/github.com/vishvananda/netlink/link.go
  vendor/github.com/vishvananda/netlink/link_linux.go
  vendor/github.com/vishvananda/netlink/neigh_linux.go
  vendor/github.com/vishvananda/netlink/netlink_unspecified.go
  vendor/github.com/vishvananda/netlink/nl/conntrack_linux.go
  vendor/github.com/vishvananda/netlink/nl/devlink_linux.go
  vendor/github.com/vishvananda/netlink/nl/ipset_linux.go
  vendor/github.com/vishvananda/netlink/nl/link_linux.go
  vendor/github.com/vishvananda/netlink/nl/nl_linux.go
  vendor/github.com/vishvananda/netlink/nl/parse_attr.go
  vendor/github.com/vishvananda/netlink/nl/tc_linux.go
  vendor/github.com/vishvananda/netlink/qdisc.go
  vendor/github.com/vishvananda/netlink/qdisc_linux.go
  vendor/github.com/vishvananda/netlink/route.go
  vendor/github.com/vishvananda/netlink/route_linux.go
  vendor/github.com/vishvananda/netlink/rule_linux.go
  vendor/github.com/vishvananda/netlink/socket_linux.go
  vendor/github.com/vishvananda/netlink/tcp.go
  vendor/github.com/vishvananda/netlink/tcp_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_state.go
  vendor/github.com/vishvananda/netlink/xfrm_state_linux.go
  vendor/github.com/vishvananda/netns/go.mod
  vendor/github.com/vishvananda/netns/go.sum
  vendor/github.com/vishvananda/netns/netns.go
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/modules.txt
Labels: area/encryption, kind/bug, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#14021 helm: 'bpf.ctTcpMax' and 'bpf.ctAnyMax' need to be strings, not integers
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: needs-backport/1.9, ready-to-merge, release-note/misc

#14400 ci: Remove Jenkins Prechecks
  Makefile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/ginkgo.Jenkinsfile
  test/docker-compose.yml
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#14409 test: quarantine K8sVerifier on k8s-all
  test/k8sT/Verifier.go
Labels: ready-to-merge, release-note/ci

#14404 contrib: Add integration testing shell helpers
  contrib/testing/integrations.sh
Labels: release-note/ci

#14394 helm: Do not deploy Hubble mTLS secrets unless Relay is enabled
  install/kubernetes/Makefile
  install/kubernetes/cilium/templates/hubble-ca-configmap.yaml
  install/kubernetes/cilium/templates/hubble-server-secret.yaml
Labels: area/helm, area/hubble, ready-to-merge, release-note/misc

#14418 hubble/parser/threefour: ignore gopacket errors on unsupported layers
  pkg/hubble/parser/threefour/parser.go
Labels: area/hubble, ready-to-merge, release-note/misc

#14428 docker: rebuild cilium-runtime image
  Dockerfile
Labels: backport/1.7, kind/backports

#14346 pkg/logging: Init klog with flag set name
  pkg/logging/logging.go
Labels: needs-backport/1.9, release-note/misc

#14413 helm: fix TLS cert server name for cluster names containing dots
  install/kubernetes/cilium/templates/_helpers.tpl
Labels: area/helm, area/hubble, kind/bug, needs-backport/1.9, release-note/misc

#14416 helm: fix TLS cert server name for cluster names containing dots with certgen
  install/kubernetes/cilium/templates/_hubble-generate-certs-job-spec.tpl
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
Labels: area/helm, area/hubble, kind/bug, needs-backport/1.9, release-note/misc

#14420 test: Fix microk8s deployment hurdles
  test/helpers/kubectl.go
Labels: needs-backport/1.9, ready-to-merge, release-note/ci

#14421 docs: Fix link formatting to builder/runtime images
  Documentation/contributing/development/images.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#14423 Add CIIntegrationEKSENI CNI integration for ENI IPAM on EKS
  test/helpers/kubectl.go
Labels: area/CI, pending-review, ready-to-merge, release-note/ci

#14433 CODEOWNERS: Assign tools/ to cilium/contributing
  CODEOWNERS
Labels: release-note/misc

#14434 docs: Update linux distribution compatibility
  Documentation/operations/system_requirements.rst
Labels: needs-backport/1.9, release-note/misc

#14254 operator: add identity GC metrics
  operator/flags.go
  operator/identity_gc.go
  operator/metrics/metrics.go
  operator/option/config.go
  pkg/allocator/allocator.go
  pkg/allocator/allocator_test.go
  pkg/k8s/identitybackend/identity.go
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/allocator_test.go
Labels: area/metrics, area/operator, release-note/minor

#13888 docs: add info about tailcalls in bpf subprograms
  Documentation/bpf.rst
  Documentation/images/bpf_tailcall_subprograms.png
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.9, release-note/misc

#13112 datapath: migrate off j-keck/arping
  go.mod
  go.sum
  pkg/datapath/linux/arp/ping.go
  pkg/datapath/linux/arp/ping_linux.go
  pkg/datapath/linux/arp/ping_unsupported.go
  pkg/datapath/linux/node.go
  vendor/github.com/cilium/arping/.gitignore
  vendor/github.com/cilium/arping/LICENSE
  vendor/github.com/cilium/arping/README.md
  vendor/github.com/cilium/arping/arp_datagram.go
  vendor/github.com/cilium/arping/arping.go
  vendor/github.com/cilium/arping/arping_bsd.go
  vendor/github.com/cilium/arping/arping_linux.go
  vendor/github.com/cilium/arping/arping_windows.go
  vendor/github.com/cilium/arping/go.mod
  vendor/github.com/cilium/arping/netutils.go
  vendor/modules.txt
Labels: needs-rebase, release-note/misc

#14328 Revert accidentally introduced port change
  Documentation/Makefile
Labels: release-note/misc

#14449 install/kubernetes: set the right option for expectAzureVnet
  install/kubernetes/cilium/templates/cilium-nodeinit-daemonset.yaml
Labels: needs-backport/1.9, release-note/bug

#14445 cli: Add LB IP to cilium status
  api/v1/models/kube_proxy_replacement.go
  api/v1/models/zz_generated.deepcopy.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/cmd/status.go
  pkg/client/client.go
Labels: area/cli, area/daemon, area/loadbalancing, pending-review, release-note/misc

#14431 datapath: Remove IPV{4,6}_NODEPORT
  bpf/init.sh
  bpf/lib/nodeport.h
  pkg/datapath/linux/config/config.go
  pkg/datapath/loader/base.go
  pkg/datapath/loader/loader.go
  pkg/datapath/loader/template.go
Labels: area/datapath, area/loadbalancing, kind/cleanup, pending-review, release-note/misc

#14450 bpf: Use optimized memset in send_trace_notify
  bpf/lib/trace.h
Labels: area/datapath, ready-to-merge, release-note/misc

#14447 bpf: Fix misaligned access in bpf_xdp with prefilter and IPv6
  bpf/bpf_xdp.c
Labels: area/loader, kind/bug, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#14456 bpf: datapath: Fix fetching configured base devices
  pkg/datapath/loader/base.go
Labels: area/loader, ready-to-merge, release-note/misc

#14467 cilium-cni: address shellcheck warnings for cni-(un)install.sh
  plugins/cilium-cni/cni-install.sh
  plugins/cilium-cni/cni-uninstall.sh
Labels: release-note/misc

#14464 test: Un-Quarantine K8sUpdates on GKE
  test/k8sT/Updates.go
Labels: needs-backport/1.9, project/ci-force, release-note/ci

#14448 hubble/parser/threefour: decode layers only if there is a packet
  pkg/hubble/parser/threefour/parser.go
Labels: area/hubble, ready-to-merge, release-note/misc

#14241 Update policy-creation.rst
  Documentation/gettingstarted/policy-creation.rst
Labels: kind/backports, needs-backport/1.9, ready-to-merge, release-note/misc

#14444 [v1.7] k8s: Update libraries to v1.17.16
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/client-go/transport/round_trippers.go
  vendor/modules.txt
Labels: area/k8s, backport/1.7, kind/backports, release-note/minor

#14481 k8s: Update libraries to v1.20.1
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Labels: area/k8s, release-note/misc

#14479 [v1.8] k8s: Update libraries to v1.18.14
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/client-go/transport/round_trippers.go
  vendor/modules.txt
Labels: area/k8s, backport/1.8, kind/backports, release-note/minor

#14480 [v1.9] k8s: Update libraries to v1.19.6
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/github.com/go-openapi/errors/schema.go
  vendor/github.com/go-openapi/loads/go.mod
  vendor/github.com/go-openapi/loads/go.sum
  vendor/github.com/go-openapi/loads/spec.go
  vendor/github.com/go-openapi/strfmt/.travis.yml
  vendor/github.com/go-openapi/strfmt/time.go
  vendor/github.com/go-openapi/validate/.travis.yml
  vendor/github.com/go-openapi/validate/context.go
  vendor/github.com/go-openapi/validate/go.mod
  vendor/github.com/go-openapi/validate/go.sum
  vendor/github.com/go-openapi/validate/values.go
  vendor/k8s.io/client-go/transport/round_trippers.go
  vendor/modules.txt
Labels: area/k8s, backport/1.9, kind/backports, release-note/minor

#14482 Update EKS e2e testing docs
  Documentation/contributing/testing/e2e.rst
Labels: pending-review, release-note/misc

#14472 vendor: bump github.com/google/gopacket to v1.1.19
  go.mod
  go.sum
  vendor/github.com/google/gopacket/.travis.yml
  vendor/github.com/google/gopacket/AUTHORS
  vendor/github.com/google/gopacket/README.md
  vendor/github.com/google/gopacket/base.go
  vendor/github.com/google/gopacket/doc.go
  vendor/github.com/google/gopacket/go.mod
  vendor/github.com/google/gopacket/go.sum
  vendor/github.com/google/gopacket/layers/arp.go
  vendor/github.com/google/gopacket/layers/asf.go
  vendor/github.com/google/gopacket/layers/asf_presencepong.go
  vendor/github.com/google/gopacket/layers/cdp.go
  vendor/github.com/google/gopacket/layers/dhcpv4.go
  vendor/github.com/google/gopacket/layers/dhcpv6.go
  vendor/github.com/google/gopacket/layers/dhcpv6_options.go
  vendor/github.com/google/gopacket/layers/dns.go
  vendor/github.com/google/gopacket/layers/dot11.go
  vendor/github.com/google/gopacket/layers/dot1q.go
  vendor/github.com/google/gopacket/layers/eap.go
  vendor/github.com/google/gopacket/layers/eapol.go
  vendor/github.com/google/gopacket/layers/enums.go
  vendor/github.com/google/gopacket/layers/erspan2.go
  vendor/github.com/google/gopacket/layers/fuzz_layer.go
  vendor/github.com/google/gopacket/layers/geneve.go
  vendor/github.com/google/gopacket/layers/gtp.go
  vendor/github.com/google/gopacket/layers/ip6.go
  vendor/github.com/google/gopacket/layers/ipsec.go
  vendor/github.com/google/gopacket/layers/layertypes.go
  vendor/github.com/google/gopacket/layers/lcm.go
  vendor/github.com/google/gopacket/layers/lldp.go
  vendor/github.com/google/gopacket/layers/mldv2.go
  vendor/github.com/google/gopacket/layers/ospf.go
  vendor/github.com/google/gopacket/layers/pflog.go
  vendor/github.com/google/gopacket/layers/ports.go
  vendor/github.com/google/gopacket/layers/radiotap.go
  vendor/github.com/google/gopacket/layers/radius.go
  vendor/github.com/google/gopacket/layers/rmcp.go
  vendor/github.com/google/gopacket/layers/sflow.go
  vendor/github.com/google/gopacket/layers/sip.go
  vendor/github.com/google/gopacket/layers/tcp.go
  vendor/github.com/google/gopacket/layers/tls.go
  vendor/github.com/google/gopacket/layers/usb.go
  vendor/github.com/google/gopacket/layers/vxlan.go
  vendor/github.com/google/gopacket/layers_decoder.go
  vendor/github.com/google/gopacket/parser.go
  vendor/modules.txt
Labels: release-note/misc

#14488 Bugtool: route tables dynamically dumped
  bugtool/cmd/configuration.go
Labels: area/bugtool, kind/enhancement, release-note/misc

#14478 Add hubble relay docker images + fix k8s version for eks in contrib testing script
  contrib/testing/integrations.sh
Labels: area/CI-improvement, pending-review, release-note/misc

#14476 test: add iptables masquerading without random-fully test
  test/k8sT/DatapathConfiguration.go
Labels: release-note/ci

#14496 kubectl: print additional information for CiliumIdentities
  examples/crds/ciliumidentities.yaml
  pkg/k8s/apis/cilium.io/v2/client/bindata.go
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/apis/cilium.io/v2/types.go
Labels: release-note/minor

#14493 Use time.Truncate of more recent Go
  pkg/client/client.go
Labels: kind/cleanup, release-note/misc

#14491 Convert AWS API calls to use paginators
  pkg/aws/ec2/ec2.go
  pkg/policy/groups/aws/aws.go
Labels: area/eni, pending-review, release-note/misc

#14495 set cilium agent only run on linux nodes
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: area/helm, release-note/minor

#14499 Use toRawJson + quote for storing eniTags into Cilium configmap
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: area/helm, release-note/misc

#14271 Istio: Update to 1.6.14
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
Labels: area/proxy, kind/enhancement, needs-backport/1.9, ready-to-merge, release-note/minor

#14507 Use new metric names for cilium-operator dashboard
  examples/kubernetes/addons/prometheus/files/grafana-dashboards/cilium-operator-dashboard.json
  examples/kubernetes/addons/prometheus/monitoring-example.yaml
Labels: area/metrics, pending-review, release-note/bug

#14503 pkg/logging: do not repeat klog messages on all levels
  pkg/logging/logging.go
Labels: release-note/misc

#14356 policy: Suppress any policy map updates when updating redirects if keeping the current policy
  pkg/endpoint/bpf.go
  pkg/policy/mapstate.go
Labels: area/policy, kind/enhancement, ready-to-merge, release-note/misc

#14360 test: Only wait for one operator instance to be ready
  test/helpers/kubectl.go
  test/k8sT/assertionHelpers.go
Labels: area/CI, kind/enhancement, ready-to-merge, release-note/misc
