Repository cilium/cilium, pull requests merged in 2020-09, with the labels that each got.

#12880 test: update k8s test versions to 1.16.14, 1.17.11 and 1.18.8
  test/provision/k8s_install.sh
Labels: ready-to-merge, release-note/ci

#13017 smoke-test: Additional logs in case of error
  .github/workflows/smoke-test-ipv6.yaml
  .github/workflows/smoke-test.yaml
Labels: area/CI, project/ci-force, ready-to-merge, release-note/ci

#13035 vagrant: bump all vagrant box versions
  vagrant_box_defaults.rb
Labels: area/CI, release-note/misc

#13030 cilium: enable more ci tests for bw manager
  test/k8sT/Bandwidth.go
  test/k8sT/manifests/demo_bw.yaml
Labels: area/CI, release-note/misc

#12931 api/v1: Compile hubble proto in docker
  api/v1/Makefile
  api/v1/docker/Makefile
  api/v1/docker/README.md
  api/v1/external/google/protobuf/timestamp.proto
  api/v1/external/google/protobuf/wrappers.proto
  api/v1/flow/flow.pb.validate.go
  api/v1/observer/observer.pb.validate.go
  api/v1/peer/peer.pb.validate.go
  api/v1/relay/relay.pb.validate.go
  images/hubble-proto/Dockerfile
  images/hubble-proto/Makefile
  images/hubble-proto/Makefile.defs
  images/hubble-proto/install-glibc.sh
  images/hubble-proto/install-protoc.sh
  images/hubble-proto/install-protoplugins.sh
Labels: ready-to-merge, release-note/misc

#12943 pkg/kvstore: set endpoint shuffle in etcd client connectivity
  pkg/kvstore/etcd.go
Labels: kind/bug, needs-backport/1.7, needs-backport/1.8, release-note/bug

#13042 doc: Document seamless upgrade process for remote-node identity change
  Documentation/install/upgrade.rst
Labels: area/documentation, backport/1.7, kind/backports

#13038 Fix v1.7.7 upgrade, add flags to help hitless upgrade from v1.6.x to v1.7.x
  bpf/lib/encap.h
  daemon/bpf.sha
  daemon/daemon_main.go
  pkg/datapath/linux/config/config.go
  pkg/option/config.go
Labels: backport/1.7, kind/backports, priority/release-blocker, release-note/bug

#13043 Prepare for release v1.7.9
  .github/cilium-actions.yml
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.7, kind/release

#13013 Update stable releases for v1.7.8
  .github/cilium-actions.yml
  README.rst
Labels: release-note/misc

#13045 Update stable releases for v1.7.9
  .github/cilium-actions.yml
  README.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#13046 image/hubble-proto: Install bash in builder image
  images/hubble-proto/Dockerfile
Labels: release-note/misc

#12884 Update kops installation documentation
  Documentation/gettingstarted/k8s-install-kops.rst
Labels: release-note/misc

#13033 travis: enable vm jobs of aarch64
  .travis.yml
Labels: area/CI, ready-to-merge, release-note/ci

#13022 docs: add command to run focused k8s bandwidth tests in CI
  Documentation/contributing/testing/ci.rst
Labels: area/documentation, release-note/misc

#13058 docs: Fix up upgrade sample indentation
  Documentation/install/upgrade.rst
Labels: needs-backport/1.8, ready-to-merge, release-note/misc

#13061 helm: allow setting conntrack-gc-interval in cilium-config cm
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/charts/config/values.yaml
Labels: release-note/minor

#13059 docs: Fix build
  Documentation/Makefile
Labels: release-note/misc

#13073 connectivity-check: Fix YAML inconsistency
  examples/kubernetes/connectivity-check/connectivity-check-proxy.yaml
  examples/kubernetes/connectivity-check/connectivity-check-quarantine.yaml
Labels: release-note/misc

#12975 Use net.JoinHostPort to construct network address strings
  pkg/bpf/endpoint.go
  pkg/maps/lbmap/ipv4.go
  pkg/maps/lbmap/ipv6.go
  pkg/proxy/envoyproxy.go
  test/helpers/kubectl.go
  test/helpers/ssh_command.go
  test/k8sT/Services.go
  test/runtime/lb.go
Labels: ready-to-merge, release-note/misc

#13024 helm/azure: Fatal error for CNI Azure installation
  Documentation/gettingstarted/k8s-install-azure-cni-steps.rst
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
  install/kubernetes/cilium/charts/nodeinit/values.yaml
Labels: area/azure, area/helm, needs-backport/1.8, release-note/bug, release-note/misc

#13067 smoketest: Set liveness and readiness timeout in connectivity check
  examples/kubernetes/connectivity-check/connectivity-check-hostport.yaml
  examples/kubernetes/connectivity-check/connectivity-check-internal.yaml
  examples/kubernetes/connectivity-check/connectivity-check-proxy.yaml
  examples/kubernetes/connectivity-check/connectivity-check-quarantine.yaml
  examples/kubernetes/connectivity-check/connectivity-check-single-node.yaml
  examples/kubernetes/connectivity-check/connectivity-check.yaml
  examples/kubernetes/connectivity-check/connectivity-debug-tools.yaml
  examples/kubernetes/connectivity-check/echo-servers.cue
  examples/kubernetes/connectivity-check/resources.cue
Labels: area/CI, release-note/misc

#13075 connectivity-check: Fix YAML inconsistency
  examples/kubernetes/connectivity-check/connectivity-check-proxy.yaml
  examples/kubernetes/connectivity-check/connectivity-check-quarantine.yaml
Labels: area/CI, release-note/minor

#13086 Prepare for release v1.8.3
  .github/cilium-actions.yml
  AUTHORS
  CHANGELOG.md
  VERSION
  examples/getting-started/Vagrantfile
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/charts/hubble-ui/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/charts/prometheus-crd/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.8, kind/backports, kind/release

#13089 Update stable releases
  .github/cilium-actions.yml
  README.rst
Labels: ready-to-merge, release-note/misc

#13078 github-workflow: Reduce scope of quick-install test
  .github/workflows/smoke-test.yaml
Labels: release-note/misc

#13069 daemon: Fatal if IPSec and Devices are used together
  daemon/cmd/daemon_main.go
Labels: area/loader, ready-to-merge, release-note/minor

#13053 k8s: Remove deprecated identity status field
  examples/crds/ciliumidentities.yaml
  operator/k8s_identity.go
  pkg/k8s/apis/cilium.io/v2/client/bindata.go
  pkg/k8s/apis/cilium.io/v2/types.go
  pkg/k8s/apis/cilium.io/v2/zz_generated.deepcopy.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2/ciliumidentity.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2/fake/fake_ciliumidentity.go
Labels: area/k8s, kind/cleanup, ready-to-merge, release-note/misc

#13051 daemon: Fix handling of policy call map on upgrades
  daemon/cmd/datapath.go
Labels: area/datapath, needs-backport/1.8, ready-to-merge, release-note/bug, upgrade-impact

#13029 Add configurable enable-k8s-endpoint-slice
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: pending-review, release-note/minor

#12984 cleanup/ipam: Remove hostscope-legacy IPAM option
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/concepts/networking/ipam/hostscope.rst
  Documentation/concepts/networking/ipam/index.rst
  Documentation/install/upgrade.rst
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  operator/flags.go
  pkg/ipam/ipam.go
  pkg/ipam/ipam_test.go
  pkg/ipam/option/option.go
Labels: area/ipam, kind/cleanup, release-note/minor

#12972 bpf: configure mtu for the created $ENCAP_DEV
  bpf/init.sh
Labels: area/datapath, ready-to-merge, release-note/misc

#13106 doc: Update AUTHORS file
  AUTHORS
  contrib/scripts/extract_authors.sh
Labels: area/documentation, priority/low, ready-to-merge, release-note/misc

#13097 test: Detect missed tail calls on upgrade/downgrade test
  test/helpers/kubectl.go
  test/k8sT/Updates.go
Labels: area/CI, needs-backport/1.7, project/ci-force, ready-to-merge, release-note/ci

#13098 Azure IPAM: don't install PodCIDR route by default
  pkg/nodediscovery/nodediscovery.go
Labels: release-note/minor

#13052 daemon: Fix handling of policy call map on downgrades
  daemon/datapath.go
Labels: backport/1.7, kind/backports, release-note/bug, upgrade-impact

#13108 USERS: Add Google and DigitalOcean
  USERS.md
Labels: release-note/misc

#13111 1.6 special ci-fixing backport
  test/Vagrantfile
  test/provision/registry.sh
Labels: backport/1.6, kind/backports

#13103 test: Increase range of accepted values for bandwidth test
  test/k8sT/Bandwidth.go
Labels: area/CI, project/ci-force, release-note/ci

#12667 k8s: update k8s dependencies to 1.16.15
  Gopkg.lock
  Gopkg.toml
  test/provision/k8s_install.sh
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/kubernetes/Godeps/LICENSES
  vendor/k8s.io/kubernetes/pkg/apis/core/types.go
  vendor/k8s.io/kubernetes/pkg/kubelet/types/constants.go
  vendor/k8s.io/kubernetes/pkg/kubelet/types/types.go
Labels: backport/1.6, kind/backports, release-note/minor

#13117 cilium: make bandwidth manager dependent on 5.1+
  Documentation/gettingstarted/bandwidth-manager.rst
  pkg/bandwidth/bandwidth.go
Labels: area/bandwidth-manager, release-note/misc

#13088 connectivity-check: Check cue file formatting in Github Action
  .github/workflows/smoke-test-ipv6.yaml
  .github/workflows/smoke-test.yaml
  examples/kubernetes/connectivity-check/Makefile
Labels: area/CI, release-note/misc

#12888 v1.6 backports 2020-08-14
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
Labels: backport/1.6, kind/backports, ready-to-merge

#13101 docs: Document restart-ginkgo CI-trigger phrase
  Documentation/contributing/testing/ci.rst
Labels: area/documentation, release-note/misc

#13090 smoke-test: Capture sysdump details for troubleshooting
  .github/workflows/smoke-test-ipv6.yaml
  .github/workflows/smoke-test.yaml
Labels: area/CI, area/build, release-note/misc

#13124 test: fix build after merge of #13107 and #13036
  test/helpers/kubectl.go
  test/k8sT/Services.go
Labels: area/CI, ready-to-merge, release-note/misc

#13113 fqdn: remove unused test helper funcs
  pkg/fqdn/util_test.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#13102 v1.8: Update Go to 1.14.8
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.8, kind/backports, ready-to-merge, release-note/minor

#13120 logging_fix: Adding logs in a structured way
  operator/main.go
Labels: needs-backport/1.7, needs-backport/1.8, release-note/misc

#12694 Fix clustermesh policy with endpoint-routes mode
  bpf/lib/l3.h
Labels: needs-backport/1.8, release-note/bug

#13142 bpf: clean up .PHONY targets for Makefiles
  bpf/Makefile
  bpf/Makefile.bpf
  bpf/sockops/Makefile
Labels: area/build, area/datapath, kind/cleanup, release-note/misc

#13135 Reduce operator memory usage when CNP status updates are disabled
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  operator/ccnp_event.go
  operator/cnp_event.go
  operator/flags.go
Labels: backport-pending/1.7, needs-backport/1.8, release-note/bug

#13137 [v1.7] Reduce operator memory usage when CNP status updates are disabled
  operator/ccnp_event.go
  operator/cnp_event.go
  operator/main.go
Labels: backport/1.7, kind/backports

#13151 datapath/maps: drop cilium_policy_reserved_* maps from to-be-removed maps
  pkg/datapath/maps/map.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#13147 api/v1: Include Makefile in the hubble proto image
  api/v1/Makefile
  api/v1/docker/README.md
  images/hubble-proto/Dockerfile
  images/hubble-proto/Makefile.defs
  images/hubble-proto/Makefile.docker
Labels: release-note/misc

#13140 v1.8: Update Go to 1.14.9
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.8, kind/backports, release-note/minor

#13139 Update Go to 1.15.2
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: release-note/misc

#13095 docs: Removing wrong options from azure IPAM documentation.
  Documentation/concepts/networking/ipam/azure.rst
Labels: needs-backport/1.8, release-note/misc

#12463 build: Skip 'clean' and 'clean-container' before docker image builds.
  .github/workflows/smoke-test-ipv6.yaml
  .github/workflows/smoke-test.yaml
  Dockerfile
  Documentation/contributing/development/images.rst
  Documentation/contributing/release/stable.rst
  Makefile
  Makefile.docker
  contrib/scripts/minikube.sh
  images/README.md
  images/cilium/Dockerfile
  test/make-images-push-to-local-registry.sh
  test/provision/compile.sh
  tests/k8s/Vagrantfile
Labels: area/build, ready-to-merge, release-note/minor

#13158 Fix render-docs build again
  Documentation/Makefile
Labels: release-note/misc

#13157 contrib: provision cilium-operator before cilium
  contrib/vagrant/start.sh
Labels: release-note/misc

#13159 docs/minikube: Update the step for minikube 1.12.1+
  Documentation/gettingstarted/minikube-install.rst
Labels: area/documentation, release-note/misc

#13150 pkg/datapath: Remove unused feature maps
  pkg/datapath/maps/map.go
Labels: area/daemon, kind/bug, needs-backport/1.8, pending-review, ready-to-merge, release-note/bug

#13145 clustermesh_doc: Adding shared service doc in clustermesh
  Documentation/gettingstarted/clustermesh.rst
Labels: release-note/misc

#13118 hubble/peer: always generate tls ServerName at the same DNS domain level
  pkg/hubble/peer/handler.go
  pkg/hubble/peer/handler_test.go
Labels: area/hubble, priority/medium, release-note/misc

#12944 agent: fix panic when clustermesh not set and cluster-id is non-zero
  daemon/cmd/state.go
Labels: ready-to-merge, release-note/bug

#13172 travis: remove Arm64 jobs from allow_failures
  .travis.yml
Labels: area/build, release-note/misc

#13164 add hint to make use of CLI cilium kernel-check in system requirements
  Documentation/install/system_requirements.rst
Labels: ready-to-merge, release-note/minor

#12965 Add a `node` label to agent metrics.
  install/kubernetes/cilium/charts/agent/templates/servicemonitor.yaml
Labels: area/helm, release-note/minor

#13044 contrib: Add release helper scripts for preparing micro releases
  .github/ISSUE_TEMPLATE/release_template.md
  Documentation/contributing/release/stable.rst
  contrib/release/prep-changelog.sh
  contrib/release/start-release.sh
  contrib/release/submit-release.sh
  contrib/release/tag-release.sh
Labels: needs-backport/1.6, needs-backport/1.7, needs-backport/1.8, release-note/misc

#13177 docs: Update kernel requirements for advanced features
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/install/system_requirements.rst
Labels: area/documentation, needs-backport/1.8, release-note/misc

#13188 daemon: report HTTP service unavailable (503) in unhealthy state
  daemon/cmd/agenthealth.go
Labels: needs-backport/1.8, ready-to-merge, release-note/misc

#13175 agent: Add CILIUM_ENABLE_POLICY env into the helm chart.
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/clusterrole.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/clusterrolebinding.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
Labels: needs-backport/1.8, release-note/misc

#13179 pkg/k8s: remove unused ContainerStatuses field
  pkg/k8s/factory_functions_test.go
  pkg/k8s/slim/k8s/apis/core/v1/generated.pb.go
  pkg/k8s/slim/k8s/apis/core/v1/generated.proto
  pkg/k8s/slim/k8s/apis/core/v1/types.go
  pkg/k8s/slim/k8s/apis/core/v1/zz_generated.deepcopy.go
  pkg/k8s/slim/k8s/apis/core/v1/zz_generated.deepequal.go
Labels: needs-backport/1.8, release-note/bug

#13170 ui: updated helm charts for hubble-ui 0.7
  install/kubernetes/cilium/charts/hubble-ui/files/envoy/envoy.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/configmap.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/svc.yaml
  install/kubernetes/cilium/charts/hubble-ui/values.yaml
  install/kubernetes/experimental-install.yaml
Labels: release-note/misc

#13105 daemon: Disable bandwidth manager if IPSec is enabled
  daemon/cmd/daemon_main.go
Labels: area/bandwidth-manager, area/encryption, release-note/misc

#13202 test: auto correct grafana port in test vagrant vms
  test/Vagrantfile
Labels: release-note/ci

#13204 test/conformance: Disable pulling latest image in ipv6 test
  .github/workflows/smoke-test-ipv6.yaml
Labels: area/CI, release-note/misc

#12865 Hubble-Relay: proxy context from originating client
  pkg/hubble/relay/observer/server.go
  pkg/hubble/relay/observer/server_test.go
Labels: area/hubble, release-note/bug

#13206 Fix GetFlows Test
  pkg/hubble/relay/observer/server_test.go
Labels: area/CI, release-note/bug

#13199 test: update k8s test versions to 1.16.15, 1.17.12, 1.18.9 and 1.19.2
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Labels: release-note/minor

#13201 test: update k8s test versions to 1.16.15, 1.17.12 and 1.18.9
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/go.mod
  vendor/github.com/evanphx/json-patch/go.sum
  vendor/k8s.io/client-go/tools/cache/controller.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/modules.txt
Labels: backport/1.8, kind/backports, ready-to-merge, release-note/minor

#13197 ipam: Warn when failing to update CN status
  pkg/ipam/node.go
Labels: area/k8s, needs-backport/1.8, ready-to-merge, release-note/misc

#13205 identity: Fix user-space security identity lookup in cluster mesh
  pkg/allocator/allocator.go
  pkg/identity/cache/cache.go
Labels: area/clustermesh, needs-backport/1.7, needs-backport/1.8, ready-to-merge, release-note/bug

#13195 k8s: Fix missing status subresource on CiliumNode
  examples/crds/ciliumnodes.yaml
  pkg/k8s/apis/cilium.io/v2/client/bindata.go
  pkg/k8s/apis/cilium.io/v2/types.go
Labels: area/k8s, kind/bug, kind/regression, ready-to-merge, release-note/misc

#13221 doc: typo fix in gettingstarted clustermesh
  Documentation/gettingstarted/clustermesh.rst
Labels: area/documentation, needs-backport/1.7, needs-backport/1.8, priority/low, release-note/misc

#13219 operator: fix operator behaviour when kube-apiserver is down
  operator/main.go
Labels: needs-backport/1.7, needs-backport/1.8, release-note/bug

#13223 Makes k8sNodeIP the preferred IP when initializing NodePort addresses.
  pkg/node/address.go
  pkg/node/address_linux.go
Labels: ready-to-merge, release-note/minor

#13237 helm: Remove default toleration on hubble-relay deployment
  install/kubernetes/cilium/charts/hubble-relay/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/experimental-install.yaml
Labels: area/helm, area/hubble, ready-to-merge, release-note/minor

#13245 .github, .travis: bump golangci-lint to 1.31
  .github/workflows/go-check.yaml
  .travis/prepare.sh
Labels: release-note/ci

#13241 cilium: encrypt-node creates two IPsec tunnels but only uses one
  pkg/datapath/linux/node.go
Labels: area/encryption, needs-backport/1.7, needs-backport/1.8, ready-to-merge, release-note/bug

#13228 identity: Avoid kvstore lookup for local identities
  pkg/identity/cache/cache.go
Labels: needs-backport/1.7, needs-backport/1.8, ready-to-merge, release-note/misc

#13258 ci: lock docker build
  test/make-images-push-to-local-registry.sh
Labels: release-note/ci

#13255 ci: fix runtime kernel version typo
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
Labels: ready-to-merge, release-note/ci

#13235 envoy: don't use deprecated listener and HTTP filter names
  pkg/envoy/server.go
Labels: area/proxy, ready-to-merge, release-note/misc

#13187 docs: backport documentation additions
  Documentation/contributing/release/backports.rst
  Documentation/spelling_wordlist.txt
Labels: needs-backport/1.8, ready-to-merge, release-note/misc

#13250 v1.6 backports 2020-09-22
  .github/ISSUE_TEMPLATE/release_template.md
  Documentation/contributing/release.rst
  contrib/release/prep-changelog.sh
  contrib/release/start-release.sh
  contrib/release/submit-release.sh
  contrib/release/tag-release.sh
Labels: area/documentation, backport/1.6, kind/backports

#13266 test: check logs of operator and hubble relay
  test/helpers/cilium.go
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/helpers/utils.go
  test/k8sT/Conformance.go
  test/k8sT/Identity.go
  test/k8sT/StressPolicy.go
Labels: ready-to-merge, release-note/ci

#13021 Smoke test with k8s 1.19
  .github/kind-config-ipv6.yaml
  .github/kind-config.yaml
  .github/workflows/smoke-test-ipv6.yaml
  .github/workflows/smoke-test.yaml
Labels: area/k8s, release-note/ci

#13271 k8s: Consider session affinity parameters when comparing Services
  pkg/k8s/service.go
  pkg/k8s/service_test.go
Labels: area/k8s, needs-backport/1.8, release-note/bug

#13277 test, images: update helm to 3.3.4
  images/cilium-test/install-helm.sh
  test/provision/k8s_install.sh
Labels: ready-to-merge, release-note/ci

#13272 k8s: Remove CRD deleting functionality
  operator/crd_test.go
  pkg/k8s/apis/cilium.io/v2/client/register.go
  pkg/k8s/apis/cilium.io/v2/client/v1beta1.go
Labels: area/k8s, needs-backport/1.6, needs-backport/1.7, needs-backport/1.8, ready-to-merge, release-note/misc

#13273 docs: Add note for users upgrading K8s
  Documentation/install/upgrade.rst
Labels: area/k8s, release-note/misc

#13257 Pr/v1.8 backport 2020 09 22 2
  pkg/datapath/linux/node.go
Labels: backport/1.8, kind/backports

#13290 helm: remove hubble-ca-certs secret
  install/kubernetes/cilium/charts/hubble-tls/templates/secret.yaml
  install/kubernetes/cilium/charts/hubble-tls/values.yaml
Labels: area/helm, area/hubble, kind/cleanup, release-note/misc

#13286 [v1.8] k8s: Consider session affinity parameters when comparing Services
  pkg/k8s/service.go
  pkg/k8s/service_test.go
Labels: backport/1.8, kind/backports

#13297 docs: add initial performance guide doc
  Documentation/concepts/index.rst
  Documentation/concepts/performance/images/tcp_maerts-mtu9k.png
  Documentation/concepts/performance/images/tcp_maerts.png
  Documentation/concepts/performance/images/tcp_rr-qd0.png
  Documentation/concepts/performance/images/tcp_rr-qd128.png
  Documentation/concepts/performance/images/tcp_rr.png
  Documentation/concepts/performance/images/tcp_stream-mtu9k.png
  Documentation/concepts/performance/images/tcp_stream.png
  Documentation/concepts/performance/index.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.8, release-note/misc

#13267 helm: configurable nodeSelector and tolerations for all charts
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/agent/values.yaml
  install/kubernetes/cilium/charts/hubble-relay/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-ui/values.yaml
  install/kubernetes/cilium/charts/managed-etcd/templates/cilium-etcd-operator-deployment.yaml
  install/kubernetes/cilium/charts/managed-etcd/values.yaml
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
  install/kubernetes/cilium/charts/nodeinit/values.yaml
  install/kubernetes/cilium/charts/operator/templates/deployment.yaml
  install/kubernetes/cilium/charts/operator/values.yaml
  install/kubernetes/cilium/charts/preflight/templates/daemonset.yaml
  install/kubernetes/cilium/charts/preflight/templates/deployment.yaml
  install/kubernetes/cilium/charts/preflight/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: needs-backport/1.7, needs-backport/1.8, release-note/minor

#13306 ci: Run policy stress tests on a nightly basis
  .github/workflows/nightly.yaml
  images/cilium-test/cilium-test-gke.sh
  test/helpers/kubectl.go
Labels: ready-to-merge, release-note/ci

#13304 cilium: print names for reserved identities in `cilium ip list`
  Documentation/cmdref/cilium_ip_list.md
  cilium/cmd/ip_list.go
Labels: area/cli, release-note/minor

#13318 docs: Clarify session affinity support on <5.7
  Documentation/install/system_requirements.rst
Labels: area/documentation, needs-backport/1.8, release-note/misc

#13312 preflight: Use v1beta1 client when appropriate
  cilium/cmd/preflight_k8s_valid_cnp.go
Labels: area/k8s, kind/cleanup, ready-to-merge, release-note/misc

#13320 v1.8 backports 2020-09-29 for #13228
  pkg/identity/cache/cache.go
Labels: backport/1.8, kind/backports

#13321 v1.7 backport 2020-09-29 for #13228
  pkg/identity/cache/cache.go
Labels: backport/1.7, kind/backports

#13332 Envoy: Update to release 1.14.5
  Dockerfile
Labels: area/proxy, kind/bug, needs-backport/1.6, needs-backport/1.7, needs-backport/1.8, priority/release-blocker, release-note/bug

#13324 hubble: Support `--since` requests in combination with follow-mode
  pkg/hubble/observer/local_observer.go
  pkg/hubble/observer/local_observer_test.go
Labels: area/hubble, needs-backport/1.8, release-note/bug

#13345 docs: mention install/upgrade.rst in contrib guide
  Documentation/contributing/development/contributing_guide.rst
Labels: release-note/misc

#13337 helm: Always respect global.identityAllocationMode
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: area/helm, kind/regression, needs-backport/1.8, release-note/bug

#13355 documentation: performance evaluation improvements
  Documentation/concepts/performance/images/tcp_maerts-16.png
  Documentation/concepts/performance/images/tcp_maerts-mtu9k.png
  Documentation/concepts/performance/images/tcp_maerts.png
  Documentation/concepts/performance/images/tcp_rr-lat.png
  Documentation/concepts/performance/images/tcp_rr-qd0.png
  Documentation/concepts/performance/images/tcp_rr-qd128.png
  Documentation/concepts/performance/images/tcp_rr-tput-vs-lat.png
  Documentation/concepts/performance/images/tcp_rr-tput.png
  Documentation/concepts/performance/images/tcp_rr.png
  Documentation/concepts/performance/images/tcp_stream-16.png
  Documentation/concepts/performance/images/tcp_stream-mtu9k.png
  Documentation/concepts/performance/images/tcp_stream.png
  Documentation/concepts/performance/index.rst
Labels: needs-backport/1.8, release-note/misc

#13356 Prepare for release v1.6.12
  .github/cilium-actions.yml
  .mailmap
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.6, kind/backports, kind/release

#13358 Prepare for release v1.7.10
  .github/cilium-actions.yml
  .mailmap
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.7, kind/backports, kind/release

#13346 datapath: Support enable-endpoint-routes with encapsulation
  bpf/init.sh
  pkg/datapath/loader/base.go
Labels: area/datapath, kind/bug, needs-backport/1.8, ready-to-merge, release-note/bug

#13146 doc: fixes markdown in hostnet policy troubleshooting
  Documentation/policy/language.rst
Labels: needs-backport/1.8, release-note/misc
