Repository cilium/cilium, pull requests merged in 2020-04, with the labels that each got.

#10755 ipam: Ensure the package builds on macOS
  pkg/ipam/ipam.go
  pkg/ipam/ipam_local_linux.go
  pkg/ipam/ipam_local_unimplemented.go
Labels: pending-review, release-note/misc

#10641 Add helm NOTES file
  install/kubernetes/cilium/charts/agent/templates/NOTES.txt
  install/kubernetes/cilium/charts/config/templates/NOTES.txt
  install/kubernetes/cilium/charts/managed-etcd/templates/NOTES.txt
  install/kubernetes/cilium/charts/nodeinit/templates/NOTES.txt
  install/kubernetes/cilium/charts/operator/templates/NOTES.txt
  install/kubernetes/cilium/charts/preflight/templates/NOTES.txt
Labels: needs-backport/1.7, pending-review, release-note/minor

#10717 test: Fix kubectl log retrieval for badLogMessages
  test/helpers/cilium.go
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/helpers/utils.go
  test/k8sT/Updates.go
Labels: area/CI, kind/bug/CI, needs-backport/1.5, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/misc

#10796 Add note about Cilium with CRIO on minikube
  Documentation/gettingstarted/minikube.rst
  Documentation/kubernetes/configuration.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#10779 CI: Wait for cilium to regenerate when updating k8s network policies
  test/helpers/kubectl.go
Labels: area/CI, pending-review, release-note/ci

#10801 Kubernetes connectivity check fixes
  examples/kubernetes/connectivity-check/connectivity-check.yaml
  examples/kubernetes/connectivity-check/echo-a.yaml
  examples/kubernetes/connectivity-check/echo-b.yaml
  examples/kubernetes/connectivity-check/host-to-b-multi-node-clusterip.yaml
  examples/kubernetes/connectivity-check/host-to-b-multi-node-headless.yaml
  examples/kubernetes/connectivity-check/pod-to-a-allowed.yaml
  examples/kubernetes/connectivity-check/pod-to-a-denied.yaml
  examples/kubernetes/connectivity-check/pod-to-a.yaml
  examples/kubernetes/connectivity-check/pod-to-b-intra-node.yaml
  examples/kubernetes/connectivity-check/pod-to-b-multi-node-clusterip.yaml
  examples/kubernetes/connectivity-check/pod-to-b-multi-node-headless.yaml
  examples/kubernetes/connectivity-check/pod-to-external-1111.yaml
  examples/kubernetes/connectivity-check/pod-to-external-fqdn-allow-google.yaml
Labels: kind/bug, needs-backport/1.7, pending-review, release-note/bug

#10805 cilium, contrib: tighten permissions on systemd bpffs mount unit file
  Documentation/kubernetes/configuration.rst
  contrib/systemd/sys-fs-bpf.mount
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
Labels: area/misc, needs-backport/1.7, pending-review, release-note/misc

#10800 helm: Remove dsr option leftover from values.yaml
  install/kubernetes/cilium/values.yaml
Labels: backport/1.7, kind/backports, kind/cleanup, pending-review

#10768 bpf: Fix name for example map
  bpf/node_config.h
Labels: kind/cleanup, pending-review, release-note/misc

#10711 contrib: Add script to bump stable releases
  .github/ISSUE_TEMPLATE/release_template.md
  contrib/release/bump-readme.sh
Labels: pending-review, release-note/misc

#10790 pkg/k8s: fix heartbeat unit test
  pkg/k8s/client_test.go
Labels: pending-review, release-note/ci

#10813 v1.7: Istio backports 2020-04-01
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
  test/k8sT/manifests/bookinfo-v1-istio.yaml
  test/k8sT/manifests/bookinfo-v2-istio.yaml
  test/k8sT/manifests/istio-cilium.yaml
  test/k8sT/manifests/istio-crds.yaml
Labels: backport/1.7, kind/backports

#10792 vendor: pick up latest cilium/hubble
  daemon/cmd/hubble.go
  go.mod
  go.sum
  vendor/github.com/cilium/hubble/cmd/serve/option.go
  vendor/github.com/cilium/hubble/cmd/serve/serve.go
  vendor/github.com/cilium/hubble/cmd/serve/server.go
  vendor/github.com/cilium/hubble/pkg/printer/printer.go
  vendor/modules.txt
Labels: area/hubble, kind/enhancement, ready-to-merge, release-note/misc

#10809 CI: Increase GKE/EKS ginkgo timeout to 3 hours
  jenkinsfiles/ginkgo-eks.Jenkinsfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
Labels: area/CI, pending-review, release-note/ci

#10791 docs: Update trigger phrases for CI
  Documentation/contributing/testing/ci.rst
Labels: area/CI, area/documentation, pending-review, release-note/misc

#10807 CODEOWNERS: Clean up
  CODEOWNERS
Labels: area/misc, pending-review, release-note/misc

#10754 kvstore/etcd: also reload keypair using trusted-ca-file
  pkg/kvstore/etcd.go
Labels: pending-review, release-note/minor

#10803 ci: avoid null build names in master builds
  jenkinsfiles/ginkgo.Jenkinsfile
Labels: pending-review, release-note/ci

#10724 Makefiles: Disable CGO globally
  Makefile
  Makefile.defs
  bugtool/Makefile
  daemon/Makefile
  operator/Makefile
  plugins/cilium-cni/Makefile
  plugins/cilium-docker/Makefile
  proxylib/Makefile
Labels: ready-to-merge, release-note/misc

#10788 docs: Add instructions for adding a new managed k8s provider
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, pending-review, release-note/ci

#10825 bpf: constify pointer function arguments
  bpf/include/bpf/ctx/skb.h
  bpf/include/bpf/ctx/xdp.h
  bpf/lib/conntrack.h
  bpf/lib/conntrack_map.h
  bpf/lib/conntrack_test.h
  bpf/lib/ipv6_test.h
  bpf/lib/lb.h
  bpf/lib/nat.h
  bpf/lib/policy.h
Labels: pending-review, release-note/misc

#10830 pkg/bpf: remove unused metrics labels
  pkg/bpf/metrics.go
Labels: kind/cleanup, pending-review, release-note/misc

#10839 Makefile: Fix --yaml arg for microk8s
  Makefile
Labels: needs-backport/1.7, pending-review, release-note/misc

#10841 bpf: fix nodeport to avoid sending loopback address out to wire
  bpf/init.sh
Labels: area/datapath, needs-backport/1.7, pending-review, release-note/bug

#10824 pkg/datapath/linux/route: ensure the package compiles on macOS
  pkg/datapath/linux/route/route.go
  pkg/datapath/linux/route/route_darwin.go
  pkg/datapath/linux/route/route_linux.go
Labels: release-note/misc

#10794 helm: Set --enable-hubble/--hubble-socket-path flags
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/hubble, release-note/misc

#10835 test/runtime: remove unused runtimeConnectivityTest
  test/runtime/connectivity.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#10850 Update stable releases
  .github/cilium-actions.yml
  README.rst
Labels: pending-review, release-note/misc

#10858 all: remove unnecessary use of fmt.Sprintf
  daemon/cmd/daemon_main.go
  operator/flags.go
  pkg/ipam/hostscope.go
  pkg/maps/ipcache/ipcache.go
  pkg/maps/lxcmap/lxcmap.go
  pkg/maps/neighborsmap/neighborsmap.go
  pkg/monitor/datapath_debug.go
  pkg/monitor/datapath_trace.go
  pkg/option/option.go
  pkg/proxy/kafka.go
  pkg/tuple/tuple.go
  test/helpers/cilium.go
  test/k8sT/Chaos.go
  test/k8sT/DatapathConfiguration.go
  test/k8sT/Health.go
  test/k8sT/Nightly.go
  test/k8sT/Policies.go
  test/k8sT/Services.go
  test/runtime/Policies.go
Labels: kind/cleanup, pending-review, release-note/misc

#10845 daemon: Remove old policy call map
  daemon/cmd/datapath.go
Labels: area/daemon, area/datapath, pending-review, release-note/misc

#10817 pkg/option: do not log warnings if flag is not set
  pkg/option/config.go
Labels: kind/bug, pending-review, release-note/misc

#10837 Adds newline after unit-tests target.
  Makefile
Labels: pending-review, release-note/misc

#10843 bpf: Fix reversed ENABLE_EXTRA_HOST_DEV condition
  bpf/bpf_netdev.c
Labels: area/datapath, kind/bug, needs/e2e-test, pending-review, release-note/misc

#10855 cli: Clarify help of 'cilium map'
  Documentation/cmdref/cilium.md
  Documentation/cmdref/cilium_map.md
  Documentation/cmdref/cilium_map_get.md
  Documentation/cmdref/cilium_map_list.md
  cilium/cmd/map.go
  cilium/cmd/map_get.go
Labels: area/cli, area/datapath, pending-review, release-note/minor

#10863 monitor: rename and use traceNotifyV[12]Len consts
  pkg/monitor/datapath_trace.go
Labels: kind/cleanup, pending-review, release-note/misc

#10870 test: Extend RunsOnNetNext helper family
  test/helpers/utils.go
  test/k8sT/DatapathConfiguration.go
  test/k8sT/Services.go
  test/k8sT/external_ips.go
Labels: area/CI, area/kube-proxy-free, pending-review, release-note/ci

#10820 monitor: Support more verbosity levels
  Documentation/cheatsheet.rst
  Documentation/cmdref/cilium_monitor.md
  Documentation/contributing/development/dev_setup.rst
  cilium/cmd/monitor.go
  pkg/monitor/format/format.go
  test/helpers/cilium.go
  test/helpers/kubectl.go
  test/runtime/monitor.go
Labels: area/monitor, pending-review, release-note/minor

#10795 Improve 'cilium-agent --help'
  daemon/cmd/cmdhelp_template.go
  daemon/cmd/daemon_main.go
  pkg/option/config.go
Labels: pending-review, release-note/minor

#10822 Move connector package from endpoint to datapath
  cilium-health/launch/endpoint.go
  daemon/cmd/state.go
  pkg/datapath/connector/add.go
  pkg/datapath/connector/doc.go
  pkg/datapath/connector/docker.go
  pkg/datapath/connector/ipam.go
  pkg/datapath/connector/ipvlan.go
  pkg/datapath/connector/veth.go
  pkg/datapath/linux/datapath.go
  plugins/cilium-cni/cilium-cni.go
  plugins/cilium-docker/driver/driver.go
Labels: pending-review, release-note/misc

#10868 README: Fix release date for v1.7.2
  README.rst
Labels: pending-review, release-note/misc

#10881 Add RancherOS to documentation OS compatibility matrix
  Documentation/install/system_requirements.rst
Labels: area/documentation, release-note/misc

#10871 CI: K8sFQDNTest retry initial DNS lookups
  test/k8sT/fqdn.go
Labels: area/CI, pending-review, release-note/ci

#10866 CI: Retry KubeDNSPreflightCheck with timeout
  test/helpers/kubectl.go
Labels: area/CI, pending-review, release-note/ci

#10876 Add support for file based authorizer for Azure
  pkg/azure/api/api.go
Labels: area/operator, integration/cloud, release-note/misc

#10737 ci: use specified docker tag on gke tests
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  test/archive_test_results_eks.sh
  test/clean-local-registry-tag.sh
  test/gke/get-cluster-version.sh
  test/helpers/cons.go
  test/helpers/utils.go
  test/k8sT/Nightly.go
  test/k8sT/Updates.go
  test/test_suite_test.go
Labels: pending-review, release-note/ci

#10893 monitor: Move PolicyMatchType into pkg/monitor/api
  pkg/hubble/parser/threefour/parser_test.go
  pkg/monitor/api/types.go
  pkg/monitor/datapath_policy.go
Labels: release-note/misc

#10891 make: silence more sub-make output in quiet mode
  cilium-health/Makefile
  daemon/Makefile
  plugins/Makefile
Labels: pending-review, release-note/misc

#10890 api, daemon: drop unused dependency on github.com/jessevdk/go-flags
  api/v1/health/server/server.go
  api/v1/server.gotmpl
  api/v1/server/server.go
  daemon/cmd/daemon_main.go
  go.mod
  go.sum
  pkg/health/server/server.go
  vendor/github.com/jessevdk/go-flags/.travis.yml
  vendor/github.com/jessevdk/go-flags/LICENSE
  vendor/github.com/jessevdk/go-flags/README.md
  vendor/github.com/jessevdk/go-flags/arg.go
  vendor/github.com/jessevdk/go-flags/check_crosscompile.sh
  vendor/github.com/jessevdk/go-flags/closest.go
  vendor/github.com/jessevdk/go-flags/command.go
  vendor/github.com/jessevdk/go-flags/completion.go
  vendor/github.com/jessevdk/go-flags/convert.go
  vendor/github.com/jessevdk/go-flags/error.go
  vendor/github.com/jessevdk/go-flags/flags.go
  vendor/github.com/jessevdk/go-flags/group.go
  vendor/github.com/jessevdk/go-flags/help.go
  vendor/github.com/jessevdk/go-flags/ini.go
  vendor/github.com/jessevdk/go-flags/man.go
  vendor/github.com/jessevdk/go-flags/multitag.go
  vendor/github.com/jessevdk/go-flags/option.go
  vendor/github.com/jessevdk/go-flags/optstyle_other.go
  vendor/github.com/jessevdk/go-flags/optstyle_windows.go
  vendor/github.com/jessevdk/go-flags/parser.go
  vendor/github.com/jessevdk/go-flags/termsize.go
  vendor/github.com/jessevdk/go-flags/termsize_nosysioctl.go
  vendor/github.com/jessevdk/go-flags/tiocgwinsz_bsdish.go
  vendor/github.com/jessevdk/go-flags/tiocgwinsz_linux.go
  vendor/github.com/jessevdk/go-flags/tiocgwinsz_other.go
  vendor/modules.txt
Labels: kind/cleanup, pending-review, release-note/misc

#10901 ci: Don't cleanup in gke job
  jenkinsfiles/ginkgo-gke.Jenkinsfile
Labels: release-note/ci

#10862 bpf: Remove duplicate code in bpf_sock.c
  bpf/bpf_sock.c
Labels: area/datapath, kind/cleanup, pending-review, release-note/misc

#10885 Remove netlink package dependency from the ip package
  pkg/datapath/linux/node_addressing.go
  pkg/ip/ip.go
  pkg/node/ip.go
  pkg/node/ip_linux.go
  pkg/node/node_address_linux.go
Labels: area/misc, release-note/misc

#10738 cilium-operator: support subnets filters
  Documentation/cmdref/cilium-operator.md
  operator/flags.go
  pkg/aws/ec2/ec2.go
  pkg/aws/ec2/ec2_test.go
  pkg/ipam/allocator/aws/aws.go
  pkg/option/config.go
Labels: area/eni, area/operator, pending-review, release-note/minor

#10875 Allow specifying on which interface the Azure IPAM should allocate IPs on
  pkg/azure/ipam/node.go
  pkg/azure/types/types.go
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/apis/cilium.io/v2/types.go
  pkg/nodediscovery/nodediscovery.go
  plugins/cilium-cni/types/types.go
  plugins/cilium-cni/types/types_test.go
Labels: area/ipam, area/operator, integration/cloud, pending-review, release-note/minor

#10892 hubble: move hubble-serve out of daemon, re-organize packages
  daemon/cmd/hubble-serve/option.go
  daemon/cmd/hubble.go
  pkg/hubble/listener/listener.go
  pkg/hubble/listener/listener_test.go
  pkg/hubble/observer/local_observer.go
  pkg/hubble/observer/local_observer_test.go
  pkg/hubble/observer/observer_test.go
  pkg/hubble/observer/observeroption/defaults.go
  pkg/hubble/observer/observeroption/option.go
  pkg/hubble/proxy/proxyoption/defaults.go
  pkg/hubble/proxy/proxyoption/option.go
  pkg/hubble/proxy/server.go
  pkg/hubble/server/server.go
  pkg/hubble/server/serveroption/defaults.go
  pkg/hubble/server/serveroption/option.go
Labels: area/hubble, kind/cleanup, release-note/misc

#10916 ci: increase vm memory in kernel specific build
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
Labels: pending-review, release-note/ci

#10854 Docs policy title rename
  Documentation/gettingstarted/http.rst
  Documentation/gettingstarted/index.rst
Labels: area/documentation, release-note/misc

#10905 api, daemon: drop unnecessary dependency on github.com/go-openapi/runtime/flagext
  api/v1/health/server/server.go
  api/v1/server.gotmpl
  api/v1/server/server.go
  vendor/github.com/go-openapi/runtime/flagext/byte_size.go
  vendor/modules.txt
Labels: kind/cleanup, pending-review, release-note/misc

#10920 Clarify CRI-O installation
  Documentation/kubernetes/configuration.rst
Labels: needs-backport/1.7, pending-review, release-note/misc

#10851 istio: Use cilium-istioctl instead of helm directly
  Documentation/gettingstarted/istio.rst
  Documentation/spelling_wordlist.txt
  examples/kubernetes-istio/bookinfo-gateway.yaml
  test/helpers/kubectl.go
  test/k8sT/istio.go
  test/k8sT/manifests/bookinfo-v1-istio.yaml
  test/k8sT/manifests/bookinfo-v2-istio.yaml
  test/k8sT/manifests/istio-cilium.yaml
  test/k8sT/manifests/istio-crds.yaml
Labels: area/CI, area/documentation, area/proxy, needs-backport/1.7, pending-review, release-note/minor

#10917 test: Fix -cilium.holdEnvironment on badLogMessages
  test/helpers/utils.go
Labels: area/CI, release-note/misc

#10922 docs: Fix "make render-docs" permissions issue
  Documentation/Makefile
Labels: area/documentation, pending-review, release-note/misc

#10583 Add more PriorityClassName fields in Helm charts
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/managed-etcd/templates/cilium-etcd-operator-deployment.yaml
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
  install/kubernetes/cilium/charts/operator/templates/deployment.yaml
Labels: pending-review, release-note/minor

#10913 all: fix remaining prealloc issues
  bugtool/cmd/root.go
  cilium/cmd/bpf_ipcache_get.go
  daemon/cmd/fqdn_test.go
  pkg/azure/api/api.go
  pkg/endpoint/bpf.go
  pkg/envoy/server.go
  proxylib/cassandra/cassandraparser.go
  proxylib/memcached/parser.go
  proxylib/proxylib/test_util.go
  proxylib/r2d2/r2d2parser.go
  proxylib/testparsers/headerparser.go
  test/runtime/fqdn.go
Labels: kind/cleanup, pending-review, release-note/misc

#10932 ci: fix argument retrieval script for kernel specific builds on master
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  test/get-gh-comment-info.py
Labels: pending-review, release-note/ci

#10937 hubble: Export FilterByLabelSelectors
  pkg/hubble/filters/labels.go
Labels: release-note/misc

#10853 expand 1.7.x upgrade guide on enable-remote-node-identity
  Documentation/install/upgrade.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.7, release-note/misc

#10923 k8s/identitybackend: log error if AcquireReference fails
  pkg/k8s/identitybackend/identity.go
Labels: needs-backport/1.6, needs-backport/1.7, pending-review, release-note/bug

#10880 docs: which k8s-kernel pairs are we testing
  Documentation/contributing/testing/ci.rst
Labels: area/CI, area/documentation, conflicts-with-pr, pending-review, release-note/misc

#10926 bpf: Preserve source identity for hairpin via stack
  bpf/bpf_lxc.c
Labels: kind/bug, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/bug

#10954 daemon: Fix TriggerReloadWithoutCompile comment
  daemon/cmd/daemon.go
Labels: kind/cleanup, release-note/misc

#10965 CI: GKE more cleaning
  test/gke/release-cluster.sh
Labels: area/CI, area/CI-improvement, pending-review, release-note/ci

#10958 bpf: atomically replace XDP program when in same XDP mode
  bpf/init.sh
  pkg/datapath/loader/base.go
  pkg/datapath/loader/link.go
Labels: area/datapath, pending-review, release-note/misc

#10971 docs: fix issue link in k8s policy docs
  Documentation/kubernetes/policy.rst
Labels: area/documentation, pending-review, release-note/misc

#10786 pkg/ipam: added a max-allocate flag
  Documentation/concepts/ipam/eni.rst
  pkg/ipam/node.go
  pkg/ipam/node_test.go
  pkg/ipam/types/types.go
  pkg/k8s/apis/cilium.io/v2/register.go
Labels: area/ipam, pending-review, release-note/minor

#10936 endpoint: Avoid transient drops during policy map update
  pkg/endpoint/bpf.go
Labels: area/datapath, area/policy, kind/bug, needs-backport/1.7, release-note/bug

#10907 vagrant: bump net-next vagrant image
  vagrant_box_defaults.rb
Labels: ready-to-merge, release-note/misc

#10968 docs: add NAT table to BPF map limitations table
  Documentation/architecture.rst
Labels: area/documentation, pending-review, release-note/misc

#10978 travis: Disable arm64 failures
  .travis.yml
Labels: release-note/misc

#10902 Add helm NOTES to the root folder
  install/kubernetes/cilium/templates/NOTES.txt
Labels: area/helm, pending-review, release-note/misc

#10618 Dockerfile:Add arm64 support for building images
  Dockerfile.builder
  Makefile
  contrib/packaging/docker/Dockerfile.runtime
Labels: pending-review, release-note/misc

#10960 Refactor pkg/identity to minimize dependencies
  daemon/cmd/daemon.go
  pkg/clustermesh/clustermesh_test.go
  pkg/clustermesh/services_test.go
  pkg/clustermesh/types/types.go
  pkg/endpoint/endpoint_test.go
  pkg/endpoint/redirect_test.go
  pkg/identity/cache/allocation_test.go
  pkg/identity/cache/cache_test.go
  pkg/identity/numericidentity.go
  pkg/identity/numericidentity_test.go
  pkg/option/config.go
  pkg/option/fake/config.go
Labels: kind/cleanup, pending-review, release-note/misc

#10921 Makefile: fix deepcopy generation for pkg/service/store
  Makefile
Labels: pending-review, release-note/misc

#10961 pkg/logging: redirect klog output to logrus
  operator/flags.go
  pkg/hubble/container/ring_reader_test.go
  pkg/hubble/container/ring_test.go
  pkg/logging/logging.go
Labels: needs-backport/1.7, pending-review, release-note/minor

#10918 helm: add option to enable automatic etcd name resolution
  Documentation/cmdref/kvstore.rst
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: needs-backport/1.7, pending-review, release-note/minor

#10915 pkg/k8s: do not DeepCopy when converting to CiliumEndpoint
  pkg/k8s/factory_functions.go
Labels: kind/performance, pending-review, release-note/misc

#10947 docs, bpf: Add description about bpftool btf command
  Documentation/bpf.rst
Labels: area/documentation, release-note/misc

#10924 bump k8s dependencies and test to v1.18.1
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Labels: pending-review, release-note/minor

#10933 vagrant: Improve command-line usability
  Documentation/contributing/development/dev_setup.rst
  Documentation/contributing/testing/e2e.rst
  Vagrantfile
  jenkinsfiles/flannel.Jenkinsfile
  jenkinsfiles/ginkgo.Jenkinsfile
  test/Vagrantfile
  test/helpers/utils.go
  test/k8sT/manifests/externalIPs/README.md
Labels: area/misc, pending-review, release-note/misc

#10996 docs: add `test-gke` command to ci docs
  Documentation/contributing/testing/ci.rst
  Documentation/spelling_wordlist.txt
Labels: pending-review, release-note/misc

#10973 Remove the deprecated `CiliumExec` method
  test/helpers/kubectl.go
  test/k8sT/DatapathConfiguration.go
  test/k8sT/Health.go
  test/k8sT/Policies.go
  test/k8sT/Services.go
Labels: area/CI, release-note/misc

#10989 Makefile: Add hubble-proxy to govet target
  Makefile
Labels: kind/cleanup, release-note/misc

#10898 ci: add comments to gke-specific scripts
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  test/clean-local-registry-tag.sh
Labels: area/CI, pending-review, release-note/ci

#10908 Fix hubble metricsServer label in values.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/hubble, pending-review, release-note/misc

#10963 CI: Actually read in CILIUM_IMAGE when splitting it
  test/helpers/kubectl.go
Labels: area/CI, pending-review, release-note/ci

#11008 bpf: remap MARK_MAGIC_SNAT_DONE marker to avoid conflicts
  bpf/lib/common.h
  pkg/datapath/linux/linux_defaults/mark.go
Labels: area/datapath, area/kube-proxy-free, kind/bug, pending-review, release-note/misc

#10974 endpoint: Avoid logging about disconnected EPs during restore
  daemon/cmd/state.go
  pkg/endpoint/manager.go
  pkg/endpointmanager/manager.go
Labels: area/daemon, pending-review, release-note/misc

#10985 vagrant: Remove installation of doc. dependencies
  Vagrantfile
Labels: area/misc, pending-review, release-note/misc

#10992 maps: remove old map names
  pkg/bpf/map_test.go
  pkg/datapath/loader/loader_test.go
  pkg/datapath/maps/map.go
  pkg/datapath/maps/map_test.go
Labels: area/CI, kind/cleanup, ready-to-merge, release-note/ci

#10995 ci: Fix cleanup on gke job
  test/clean-local-registry-tag.sh
Labels: pending-review, release-note/ci

#10998 test: Check kubectl with 'which' instead of 'dpkg -l'
  test/provision/k8s_install.sh
Labels: area/CI, kind/bug/CI, release-note/ci

#11005 Makefile: fix test selection for privileged tests
  Makefile
Labels: area/CI, kind/bug/CI, pending-review, release-note/bug

#11010 ipam: Adjust log format of FirstInterfaceIndex
  pkg/aws/eni/node.go
Labels: release-note/misc

#11001 Docs fix for mounting bpf fs
  Documentation/kubernetes/requirements.rst
Labels: area/documentation, release-note/misc

#11021 pkg/k8s: detect k8s mode if env variable K8S_NODE_NAME is set
  pkg/k8s/config.go
Labels: kind/bug, needs-backport/1.6, needs-backport/1.7, pending-review, priority/high, release-note/bug

#10912 Update Go to 1.14.2
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: release-note/misc

#11017 build: Remove `sysctl` from Dockerfiles
  Dockerfile
  cilium-dev.Dockerfile
Labels: area/build, release-note/misc

#11023 examples/getting-started: add bind mount for docker socket to docker-compose.yml
  examples/getting-started/docker-compose.yml
Labels: needs-backport/1.7, pending-review, release-note/bug

#10896 hubble: Add OnFlowDelivery and OnGetFlows
  pkg/hubble/observer/local_observer.go
  pkg/hubble/observer/local_observer_test.go
  pkg/hubble/observer/observeroption/option.go
Labels: area/hubble, release-note/misc

#11030 examples/getting-started: revert bind mount for /var/lib/cilium
  examples/getting-started/docker-compose.yml
Labels: pending-review, release-note/misc

#11032 docs: adjust VM name and cilium status output in Docker GSG
  Documentation/gettingstarted/docker.rst
  examples/getting-started/README.rst
Labels: area/documentation, pending-review, release-note/misc

#10959 make: Allow to build documentation with podman
  Documentation/Makefile
Labels: area/documentation, release-note/misc

#11054 tests: disable base tests in xdp/tc nodeport lb test
  test/k8sT/Services.go
Labels: area/CI, pending-review, release-note/misc

#11059 CI: K8sPolicyTest Shorter timeout for successful redirection policy tests
  test/helpers/cmd.go
  test/k8sT/Policies.go
  test/runtime/Policies.go
Labels: area/CI, kind/bug/CI, pending-review, release-note/ci

#11070 ci: tag images built in CI
  test/make-images-push-to-local-registry.sh
Labels: pending-review, release-note/ci

#11045 bump k8s dependencies and test to v1.16.9
  Gopkg.lock
  Gopkg.toml
  test/provision/k8s_install.sh
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/apimachinery/pkg/watch/streamwatcher.go
  vendor/k8s.io/client-go/rest/request.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/k8s.io/kubernetes/.bazelversion
Labels: backport/1.6, kind/backports, pending-review, release-note/minor

#11051 hostport: read the hostport setting from viper
  pkg/option/config.go
Labels: pending-review, release-note/misc

#11068 Docs: Update EKS GSG to clarify deployment in ENI vs. overlay mode
  Documentation/gettingstarted/k8s-install-eks.rst
  Documentation/spelling_wordlist.txt
Labels: pending-review, release-note/misc

#11031 cilium: fix cell alignment in status output
  cilium/cmd/status.go
Labels: pending-review, release-note/misc

#11015 daemon: Fatal on startup when Identity CRD is enabled without k8s
  daemon/cmd/daemon_main.go
  operator/main.go
Labels: kind/bug, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/bug

#10849 Moved the `Node` type from the main "node" package to "node/types"
  Documentation/kvstore.rst
  Makefile
  cilium-health/launch/endpoint.go
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/ipam.go
  daemon/cmd/status.go
  operator/k8s_node.go
  pkg/datapath/fake/datapath_test.go
  pkg/datapath/fake/node.go
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
  pkg/datapath/node.go
  pkg/endpoint/policy.go
  pkg/hubble/listener/listener.go
  pkg/hubble/listener/listener_test.go
  pkg/ipam/crd.go
  pkg/k8s/cnp.go
  pkg/k8s/init.go
  pkg/k8s/node.go
  pkg/k8s/watchers/cilium_network_policy.go
  pkg/k8s/watchers/cilium_node.go
  pkg/k8s/watchers/pod.go
  pkg/k8s/watchers/watcher.go
  pkg/k8s/watchers/watcher_test.go
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
  pkg/node/node_address_test.go
  pkg/node/store/store.go
  pkg/node/types/logfields.go
  pkg/node/types/node.go
  pkg/node/types/node_test.go
  pkg/node/types/nodename.go
  pkg/node/types/nodename_test.go
  pkg/node/types/zz_generated.deepcopy.go
  pkg/nodediscovery/nodediscovery.go
  pkg/service/service.go
  pkg/service/service_test.go
Labels: kind/cleanup, needs-rebase, release-note/misc

#10629 Deprecate DNS Poller in v1.8
  Documentation/cmdref/cilium-agent.md
  Documentation/install/upgrade.rst
  Documentation/policy/language.rst
  daemon/cmd/daemon_main.go
Labels: pending-review, release-note/minor

#11071 metrics: Do not rely on global HTTP server
  pkg/hubble/metrics/metrics.go
  pkg/metrics/metrics.go
Labels: area/hubble, area/metrics, pending-review, release-note/misc

#11058 hubble-proxy: remove explicit binary stripping
  hubble-proxy/Makefile
Labels: kind/cleanup, pending-review, release-note/misc

#11046 bump k8s dependencies and test to v1.17.5
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/BUILD
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/apimachinery/pkg/watch/streamwatcher.go
  vendor/k8s.io/client-go/rest/request.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/k8s.io/code-generator/go.mod
  vendor/k8s.io/code-generator/go.sum
  vendor/modules.txt
Labels: backport/1.7, kind/backports, pending-review, release-note/minor

#11047 bump k8s dependencies and test to v1.18.2
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/apimachinery/pkg/watch/streamwatcher.go
  vendor/k8s.io/client-go/rest/request.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/modules.txt
Labels: area/k8s, pending-review, release-note/minor

#10911 Update Go to 1.13.10
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing/development/dev_setup.rst
  GO_VERSION
  Makefile
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
Labels: backport/1.7, kind/backports, pending-review, release-note/misc

#11060 Remove deprecated --container-runtime{,-endpoint} options
  Documentation/envoy/extensions.rst
  Documentation/install/upgrade.rst
  contrib/vagrant/start.sh
  daemon/cmd/daemon_main.go
  pkg/option/config.go
Labels: kind/cleanup, pending-review, release-note/minor

#11086 vagrant: Only set K8S_NODE_NAME if K8S=1
  contrib/vagrant/start.sh
Labels: area/containerd, kind/bug, ready-to-merge, release-note/misc

#11077 cilium.io/v2: move files around to reduce imports in API
  cilium/cmd/preflight_k8s_valid_cnp.go
  pkg/k8s/apis/cilium.io/v2/client/register.go
  pkg/k8s/apis/cilium.io/v2/client/register_test.go
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/cnp_test.go
  pkg/k8s/init.go
Labels: kind/cleanup, release-note/misc

#11100 CI: GKE build only prunes docker images older than 6h
  test/clean-local-registry-tag.sh
Labels: area/CI, kind/bug/CI, pending-review, release-note/ci

#11108 vagrant/scripts: bump k8s to v1.18.2
  contrib/vagrant/scripts/helpers.bash
Labels: release-note/misc

#11028 pkg/endpoint: Simplify search for C header file during restore
  common/utils.go
  pkg/endpoint/restore.go
  test/helpers/cons.go
Labels: kind/cleanup, pending-review, release-note/misc

#11101 daemon: set k8s options as soon as possible
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
Labels: needs-backport/1.7, pending-review, release-note/misc

#11091 Fix: resync IP addresses for instances that have been stopped for more than a minute
  pkg/ipam/node.go
Labels: release-note/bug

#11090 helm: Update hubble related configuration
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/quick-install.yaml
Labels: area/hubble, release-note/misc

#11056 daemon: Fix the "close of closed channel" panic
  pkg/ipam/crd.go
Labels: kind/bug, kind/regression, needs-backport/1.7, pending-review, priority/release-blocker, release-note/bug

#11062 hubble: Populate traffic direction for trace and drop events
  pkg/hubble/parser/threefour/parser.go
  pkg/hubble/parser/threefour/parser_test.go
Labels: area/hubble, pending-review, release-note/minor

#11116 hubble: Enable grpc reflection
  pkg/hubble/server/server.go
Labels: area/hubble, release-note/misc

#11122 rename hubble-proxy to hubble-relay
  CODEOWNERS
  Makefile
  hubble-proxy/.gitignore
  hubble-relay/.gitignore
  hubble-relay/Makefile
  hubble-relay/cmd/completion/completion.go
  hubble-relay/cmd/root.go
  hubble-relay/cmd/serve/serve.go
  hubble-relay/cmd/version/version.go
  hubble-relay/main.go
  pkg/hubble/defaults/defaults.go
  pkg/hubble/relay/relayoption/defaults.go
  pkg/hubble/relay/relayoption/option.go
  pkg/hubble/relay/server.go
Labels: area/hubble, release-note/misc

#11121 docs: Pin Hubble version to v0.5 branch
  Documentation/gettingstarted/getting-started-next-steps.rst
  Documentation/gettingstarted/hubble-install.rst
Labels: area/documentation, needs-backport/1.7, release-note/misc

#11119 docs: fix build in non-verbose mode
  Documentation/Makefile
Labels: pending-review, release-note/misc

#10780 daemon: add option to dynamically size BPF maps based on system memory
  Documentation/architecture.rst
  Documentation/cmdref/cilium-agent.md
  Documentation/install/upgrade.rst
  Documentation/spelling_wordlist.txt
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
  pkg/maps/ctmap/ctmap.go
  pkg/maps/ctmap/types.go
  pkg/maps/nat/ipv4.go
  pkg/maps/nat/ipv6.go
  pkg/maps/nat/nat.go
  pkg/maps/nat/types.go
  pkg/maps/policymap/policymap.go
  pkg/option/config.go
  pkg/option/config_test.go
Labels: area/daemon, pending-review, release-note/minor

#11027 Improve tunnel identity notifications
  bpf/bpf_overlay.c
Labels: integration/encrypt, release-note/misc

#11011 Handle audit mode in cilium endpoint list and kubectl get cep
  api/v1/models/endpoint_policy_enabled.go
  cilium/cmd/endpoint_list.go
  pkg/endpoint/api.go
  pkg/endpoint/endpoint_status.go
  pkg/endpoint/endpoint_status_test.go
  pkg/endpoint/metrics.go
  test/helpers/cmd.go
  test/runtime/Policies.go
Labels: pending-review, release-note/minor

#11102 ci: Gather commands from local node
  test/helpers/local_node.go
Labels: pending-review, release-note/ci

#10819 Dockerfiles: Add git log when checking out from git
  Dockerfile
  cilium-dev.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
Labels: kind/cleanup, release-note/misc

#11134 daemon: remove deprecated conntrack-garbage-collector-interval option
  Documentation/install/upgrade.rst
  daemon/cmd/daemon_main.go
  pkg/option/config.go
Labels: kind/cleanup, pending-review, release-note/misc

#11135 CI: GKE build prunes only docker images (fix filter)
  test/clean-local-registry-tag.sh
Labels: area/CI, kind/bug/CI, pending-review, release-note/ci

#11143 doc: minor typo fix CRD allocator guide
  Documentation/concepts/ipam/crd.rst
Labels: release-note/misc

#11139 doc: add documentation section about Hubble internals
  Documentation/hubble.rst
  Documentation/images/hubble_getflows.png
  Documentation/index.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, area/hubble, release-note/misc
