Repository cilium/cilium, pull requests merged in 2020-05, with the labels that each got.

#11274 bpf: Ensure build_all target always builds all bpf datapath permutations
  bpf/.gitignore
  bpf/Makefile
  bpf/Makefile.bpf
Labels: pending-review, release-note/misc

#11285 coccinelle: Enable patching of missing __align_stack_8
  contrib/coccinelle/aligned.cocci
Labels: area/datapath, release-note/misc

#11196 k8s/informer: panic Cilium if k8s watcher panic
  pkg/k8s/informer/informer.go
Labels: release-note/misc

#11282 k8s/watchers: do not consider pods with empty podIPs
  pkg/k8s/watchers/pod.go
Labels: needs-backport/1.7, ready-to-merge, release-note/misc

#11280 Istio: Update to release 1.5.2
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
Labels: area/proxy, kind/enhancement, needs-backport/1.7, release-note/minor

#11242 hubble: Change uint64 -> uint32 in getters interfaces
  daemon/cmd/daemon.go
  pkg/hubble/parser/getters/getters.go
  pkg/hubble/parser/seven/parser.go
  pkg/hubble/parser/seven/parser_test.go
  pkg/hubble/parser/threefour/parser.go
  pkg/hubble/parser/threefour/parser_test.go
  pkg/hubble/testutils/fake.go
Labels: area/hubble, kind/cleanup, release-note/misc

#11292 vagrant: Forward port 9081 for documentation server
  Vagrantfile
Labels: release-note/misc

#11249 Watch for CEPs in the cluster instead of all pods
  pkg/k8s/watchers/pod.go
Labels: release-note/minor

#11281 endpoint: Fix incorrect warning for stat(2)
  pkg/endpoint/restore.go
Labels: kind/bug/CI, ready-to-merge, release-note/misc

#11291 Makefile: Move bpf 'build_all' to ci-precheck target
  Makefile
  test/docker-compose.yml
Labels: pending-review, release-note/misc

#11244 helm: Add a chart for hubble-relay
  install/kubernetes/cilium/charts/hubble-relay/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/templates/NOTES.txt
  install/kubernetes/cilium/charts/hubble-relay/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-relay/templates/service.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/hubble, ready-to-merge, release-note/misc

#11299 doc: Upgrade dependency verisons to remove warnings
  Documentation/Dockerfile
  Documentation/requirements.txt
Labels: area/documentation, release-note/misc

#11298 doc: Document render-docs target
  Documentation/contributing/development/dev_setup.rst
Labels: area/documentation, release-note/misc

#11253 k8s: Provide fallback for EndpointSlices detection if discovery API is not available
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-operator.md
  cilium/cmd/preflight_identity_crd_migrate.go
  cilium/cmd/preflight_k8s_valid_cnp.go
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  operator/flags.go
  operator/main.go
  pkg/defaults/defaults.go
  pkg/k8s/cnp_test.go
  pkg/k8s/config/config.go
  pkg/k8s/init.go
  pkg/k8s/types/types.go
  pkg/k8s/version/version.go
  pkg/option/config.go
Labels: kind/bug, pending-review, release-note/bug

#11264 helm: Clean up hubble-listen-addresses
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: area/hubble, ready-to-merge, release-note/misc

#10831 pkg/ipam: dynamically fetch the allocatable ipv4 addresses amount from instance limits
  pkg/aws/eni/node.go
  pkg/aws/eni/node_manager_test.go
  pkg/aws/eni/node_test.go
  pkg/azure/ipam/node.go
  pkg/azure/ipam/node_test.go
  pkg/ipam/node.go
  pkg/ipam/node_manager.go
  pkg/ipam/node_manager_test.go
Labels: integration/cloud, ready-to-merge, release-note/bug

#11061 ci: adjust kernel jenkinsfile to be more versatile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  test/Vagrantfile
  vagrant_box_defaults.rb
Labels: ci/fail-fast, release-note/ci

#11309 make: avoid building plugins/cni twice
  Makefile
Labels: kind/cleanup, ready-to-merge, release-note/misc

#11199 Add ability to detect iptables mode in cilium daemon image
  Dockerfile
  Dockerfile.builder
  contrib/packaging/docker/Dockerfile.runtime
  contrib/packaging/docker/iptables-wrapper
Labels: release-note/bug

#11288 test: Skip session-affinity tests from outside if no third node
  test/k8sT/Services.go
Labels: area/CI, ready-to-merge, release-note/misc

#11190 ci: Add runtime jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
Labels: ci/fail-fast, release-note/ci

#11290 test/gke: Disable K8sServicesTest Checks service across nodes with L7 policy Tests NodePort with L7 Policy
  test/k8sT/Services.go
Labels: area/CI, pending-review, project/ci-force, ready-to-merge, release-note/misc

#11174 docs: updating contribution guide process
  Documentation/contributing/development/contributing_guide.rst
  Documentation/images/re-request-review.png
  Documentation/spelling_wordlist.txt
Labels: area/documentation, pending-review, release-note/misc

#11269 Improve Helm post-setup NOTES
  install/kubernetes/cilium/charts/hubble-ui/templates/NOTES.txt
  install/kubernetes/cilium/templates/NOTES.txt
Labels: area/helm, needs-backport/1.7, ready-to-merge, release-note/misc

#11337 contrib/vagrant: enable hubble by default
  contrib/vagrant/start.sh
Labels: ready-to-merge, release-note/misc

#11312 v1.7 backports 2020-05-04
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
Labels: backport/1.7, kind/backports

#11318 Makefile: fix generating coverage when specifiying TESTPKGS
  Makefile
Labels: area/build, area/misc, release-note/misc

#11353 doc: Update End-To-End Testing Framework page
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, release-note/misc

#11354 .gitignore: Ignore some more common output files
  .gitignore
Labels: kind/cleanup, ready-to-merge, release-note/misc

#11317 Misc ip-masq-agent improvements
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  pkg/ipmasq/ipmasq.go
  pkg/ipmasq/ipmasq_test.go
  pkg/option/config.go
Labels: area/daemon, kind/bug, kind/feature, release-note/misc

#11346 cilium, builder: declutter all unused packages in builder
  Dockerfile
  Dockerfile.builder
  test/docker-compose.yml
Labels: area/docker, pending-review, release-note/misc

#11357 Add information in docs about network devices in tunneling mode
  Documentation/concepts/networking.rst
Labels: area/documentation, release-note/minor

#11323 hubble/container: Properly deal with nil values in RingReader
  pkg/hubble/container/ring.go
  pkg/hubble/container/ring_reader.go
  pkg/hubble/container/ring_reader_test.go
  pkg/hubble/container/ring_test.go
  pkg/hubble/observer/local_observer.go
Labels: area/hubble, ready-to-merge, release-note/bug

#11268 azure: support multiple pods subnets
  pkg/azure/api/api.go
  pkg/azure/api/mock/mock.go
  pkg/azure/api/mock/mock_test.go
  pkg/azure/ipam/instances.go
  pkg/azure/types/types.go
  pkg/ipam/crd.go
  plugins/cilium-cni/cilium-cni.go
  plugins/cilium-cni/interface.go
Labels: integration/cloud, release-note/minor

#11304 helm: Add service account annotations for all charts
  install/kubernetes/cilium/charts/agent/templates/serviceaccount.yaml
  install/kubernetes/cilium/charts/agent/values.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/serviceaccount.yaml
  install/kubernetes/cilium/charts/hubble-ui/values.yaml
  install/kubernetes/cilium/charts/managed-etcd/templates/etcd-operator-serviceaccount.yaml
  install/kubernetes/cilium/charts/managed-etcd/values.yaml
  install/kubernetes/cilium/charts/operator/templates/serviceaccount.yaml
  install/kubernetes/cilium/charts/operator/values.yaml
Labels: release-note/misc

#11366 CODEOWNERS: ignore auto-generated documentation
  CODEOWNERS
Labels: release-note/misc

#11335 hubble-relay: persist connections to hubble peers
  pkg/hubble/relay/observer.go
  pkg/hubble/relay/peer.go
  pkg/hubble/relay/server.go
Labels: area/hubble, kind/enhancement, ready-to-merge, release-note/minor

#11338 test: Support singleton manifests
  test/helpers/kubectl.go
  test/helpers/manifest.go
  test/k8sT/manifests.go
Labels: area/CI, project/ci-force, ready-to-merge, release-note/misc

#11358 CI: fix kubectl.CiliumPolicyAction() by casting "cilium policy wait" duration to integer
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, pending-review, project/ci-force, ready-to-merge, release-note/ci

#11343 docs: clarify recommendation around managing multiple policy types
  Documentation/kubernetes/policy.rst
Labels: area/documentation, needs-backport/1.7, release-note/misc

#11371 bpf: only update nodeport neigh entry if stale or non-existant
  bpf/lib/nodeport.h
Labels: area/kube-proxy-free, pending-review, release-note/misc

#11273 helm: Update hubble-ui chart
  install/kubernetes/cilium/charts/hubble-ui/templates/clusterrole.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/clusterrolebinding.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/ingress.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/serviceaccount.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/svc.yaml
  install/kubernetes/cilium/charts/hubble-ui/values.yaml
Labels: area/helm, area/hubble, needs-rebase, ready-to-merge, release-note/misc

#11384 Add SAP Concur to USERS.md
  USERS.md
Labels: release-note/misc

#11352 Add a function to get connection info in a structure format from data
  pkg/monitor/dissect.go
  pkg/monitor/dissect_test.go
Labels: area/monitor, ready-to-merge, release-note/misc

#11383 doc: Add SKIP_LINT option to render-docs target
  Documentation/Makefile
  Documentation/check-build.sh
  Documentation/contributing/testing/documentation.rst
Labels: area/documentation, release-note/misc

#11389 Add pkg/ipmasq to CODEOWNERS
  CODEOWNERS
Labels: release-note/misc

#11388 vagrant: Fix build in dev. VM
  Vagrantfile
  contrib/vagrant/build.sh
Labels: release-note/misc

#11406 make: fix govet target after moving 'common' to 'pkg'
  Makefile
Labels: kind/cleanup, release-note/misc

#11407 CODEOWNERS: add cilium/agent to owners for pkg/option
  CODEOWNERS
Labels: release-note/misc

#11391 test: Annotate lock deployment with Jenkins $BUILD_URL
  test/gke/select-cluster.sh
Labels: release-note/ci

#11404 CODEOWNERS: Add CI team as code-owner of vagrant_box_defaults.rb
  CODEOWNERS
Labels: area/CI, release-note/misc

#11375 Makefile: generate coverage for privileged unit tests
  Makefile
Labels: area/build, area/misc, ready-to-merge, release-note/misc

#11387 ipmasq: Stop and wait until goroutine is finished in unit tests
  pkg/ipmasq/ipmasq_test.go
Labels: area/CI, kind/bug/CI, release-note/ci

#11402 vagrant: Bump all vagrant box versions
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/misc

#11349 envoy: Reduce logging verbosity.
  pkg/envoy/envoy.go
  pkg/envoy/server.go
  pkg/envoy/xds/server.go
Labels: area/proxy, kind/cleanup, needs-backport/1.7, release-note/misc

#11203 Fixes cilium-agent helm chart so the daemonset can be configured with…
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
Labels: needs-backport/1.6, needs-backport/1.7, release-note/bug

#11355 test: Check if the test is using Vagrant
  test/test_suite_test.go
Labels: area/CI-improvement, ready-to-merge, release-note/misc

#11421 ci: overwrite jenkins build url in gke cluster lock
  test/gke/select-cluster.sh
Labels: release-note/ci

#11413 test: Wait for POD readiness before test steps
  test/k8sT/Services.go
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#11419 bpf: Set DIRECT_ROUTING_DEV* in routed mode
  bpf/init.sh
Labels: area/datapath, kind/bug, ready-to-merge, release-note/bug

#11350 test: Make sure the namespace for Cilium exists
  test/helpers/kubectl.go
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#11382 k8s/identitybackend: exclude k8s namespace labels from CRD metadata
  pkg/k8s/identitybackend/identity.go
  pkg/k8s/identitybackend/identity_test.go
Labels: ready-to-merge, release-note/bug

#11415 test: Report CNI_INTEGRATION when running ginkgo
  test/test_suite_test.go
Labels: release-note/misc

#11427 k8s/identitybackend: use self validation function
  pkg/k8s/identitybackend/identity_test.go
Labels: release-note/misc

#11418 .travis: fix failure to install clang-10 on Arm64
  .travis.yml
  .travis/build.sh
  .travis/prepare.sh
Labels: release-note/misc

#11378 test: Enable embedded Hubble globally
  test/helpers/kubectl.go
  test/k8sT/hubble.go
Labels: area/CI-improvement, area/hubble, ready-to-merge, release-note/misc

#11359 Add timeout to docker prune after building images
  test/make-images-push-to-local-registry.sh
Labels: release-note/ci

#11400 fix(helm): To fix un-expected {{end}} in helm template
  .github/workflows/helm-check.yaml
  install/kubernetes/chart-testing.yaml
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/serviceaccount.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: release-note/misc

#11328 Validate when Cilium is in ENI mode that IPv4 is enabled
  pkg/aws/eni/routing/routing.go
  pkg/aws/eni/routing/routing_test.go
Labels: area/eni, needs-backport/1.7, ready-to-merge, release-note/misc

#11463 docs: Update PR docs for split jobs
  Documentation/contributing/testing/ci.rst
Labels: area/documentation, release-note/misc

#11443 Docker: Speed up dev image builds
  Dockerfile
  Makefile
  Makefile.defs
Labels: area/misc, kind/performance, ready-to-merge, release-note/misc

#11469 cilium: improve host-port generated service names
  pkg/k8s/watchers/pod.go
Labels: area/daemon, pending-review, release-note/misc

#11479 bpf: fix circular dependency warning
  bpf/Makefile
Labels: release-note/misc

#11467 k8s: Do not send DeleteService event upon DeleteEndpoints
  pkg/k8s/service_cache.go
  pkg/k8s/service_cache_test.go
Labels: area/k8s, kind/bug, needs-backport/1.6, needs-backport/1.7, ready-to-merge, release-note/bug

#11439 .github: Run GitHub Actions on master
  .github/workflows/coccicheck.yaml
  .github/workflows/docs.yaml
  .github/workflows/go-mod.yaml
Labels: ready-to-merge, release-note/misc

#11422 ci: add gke cluster name to build name
  jenkinsfiles/ginkgo-gke.Jenkinsfile
Labels: ready-to-merge, release-note/ci

#11482 build(github): Enable helm-check action for master branch
  .github/workflows/helm-check.yaml
Labels: release-note/misc

#11490 pkg/endpoint: return NamedPorts model consistently
  pkg/endpoint/api.go
Labels: release-note/misc

#11489 option: remove unused Config.KeepTemplates
  pkg/option/config.go
Labels: ready-to-merge, release-note/misc

#11501 docs: update list of advanced kernel requirements: fragment tracking
  Documentation/install/system_requirements.rst
Labels: area/documentation, pending-review, release-note/misc

#11478 helm: add bpf-policy-map-max option
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: needs-backport/1.7, ready-to-merge, release-note/minor

#11505 vagrant: Do not define mount type when not using NFS
  Vagrantfile
Labels: area/misc, kind/bug, release-note/misc

#11506 test: Fix waiting for PODs
  test/k8sT/Services.go
Labels: area/CI, kind/bug/CI, release-note/ci

#11509 git: ignore cilium yamls created by tests
  .dockerignore
  .gitignore
Labels: area/build, kind/cleanup, release-note/misc

#11484 bpf: add tail_call_{static,dynamic} helpers
  bpf/include/bpf/api.h
  bpf/include/bpf/helpers.h
  bpf/include/bpf/tailcall.h
  bpf/lib/l3.h
  bpf/lib/maps.h
Labels: area/datapath, pending-review, release-note/misc

#11468 build(k8s): To fix issue for make generate-k8s-api
  .github/workflows/go-check.yaml
  .github/workflows/go-mod.yaml
  Makefile
  Vagrantfile
  api/v1/models/zz_generated.deepcopy.go
Labels: kind/bug, release-note/misc

#11471 Properly tear down gops agent on shutdown
  daemon/cmd/cleanup.go
  hubble-relay/cmd/serve/serve.go
  operator/main.go
  plugins/cilium-cni/cilium-cni.go
  test/test_suite_test.go
Labels: needs-backport/1.6, needs-backport/1.7, ready-to-merge, release-note/minor

#11515 build: Add bpf to PATH for privileged tests
  Makefile
Labels: area/CI-improvement, kind/bug/CI, project/ci-force, release-note/ci

#11516 iana: Hook up unit test
  pkg/iana/svcname_test.go
Labels: kind/bug/CI, release-note/ci

#11429 v1.6 backports 2020-05-08
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
Labels: backport/1.6, kind/backports

#11445 make: allow make docker-image with symbol table and debug info
  Dockerfile
  Makefile
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  hubble-relay.Dockerfile
Labels: release-note/misc

#11475 helm: set hubble-ui securityContext
  install/kubernetes/cilium/charts/hubble-ui/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-ui/values.yaml
Labels: area/helm, release-note/minor

#11494 test: Fix typo that prevented GKE clusters from scaling down
  test/gke/release-cluster.sh
Labels: release-note/ci

#11473 bpf: Check native-routing-cidr in BPF masquerade
  bpf/lib/ipv4.h
  bpf/lib/nodeport.h
  pkg/datapath/linux/config/config.go
Labels: area/datapath, kind/enhancement, release-note/minor

#11480 test: Override env variables after parsing command line
  Documentation/contributing/testing/e2e.rst
  test/helpers/kubectl.go
  test/test_suite_test.go
Labels: area/CI-improvement, release-note/ci

#11376 operator: remove pod list of an entire cluster
  Documentation/cmdref/cilium-operator.md
  operator/flags.go
  operator/k8s_cep_gc.go
  operator/k8s_identity.go
  operator/option/config.go
  operator/watchers/cilium_endpoint.go
  operator/watchers/pod.go
Labels: area/operator, release-note/misc

#11465 hubble-relay: add an option to run pprof
  hubble-relay/cmd/serve/serve.go
Labels: area/hubble, release-note/misc

#11514 test: Apply deployments in BeforeAll rather than BeforeEach
  test/k8sT/Services.go
Labels: area/CI-improvement, release-note/ci

#11133 Added support for JSON based logging
  cilium-health/cmd/root.go
  daemon/cmd/daemon_main.go
  operator/main.go
  pkg/logging/logging.go
Labels: pending-review, release-note/minor

#11392 test: Parallelize Cilium pre-flight check
  test/helpers/kubectl.go
Labels: area/CI, project/ci-force, ready-to-merge, release-note/misc

#11523 test: Remove duplicate test cases from K8sServicesTest
  test/k8sT/Services.go
Labels: area/CI-improvement, ready-to-merge, release-note/misc

#11508 test: Enable Prometheus metrics in K8sHubbleTest
  test/k8sT/hubble.go
Labels: area/hubble, needs-rebase, release-note/ci

#11495 loader: Remove unused arguments in DeleteDatapath
  pkg/datapath/loader/netlink.go
Labels: area/loader, kind/cleanup, release-note/misc

#11452 cilium: rename aws/eni/routing to pkg/datapath/linux/routing
  daemon/cmd/daemon.go
  daemon/cmd/ipam.go
  pkg/datapath/linux/routing/info.go
  pkg/datapath/linux/routing/info_test.go
  pkg/datapath/linux/routing/routing.go
  pkg/datapath/linux/routing/routing_test.go
  pkg/endpoint/endpoint.go
  plugins/cilium-cni/interface.go
Labels: integration/cloud, kind/cleanup, needs-backport/1.7, release-note/misc

#11558 docs: document that policyMapMax overrides dynamic policy map size
  Documentation/install/upgrade.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#11541 envoy: Take xds mutator lock for map access
  pkg/envoy/xds/ack.go
Labels: area/proxy, kind/bug, needs-backport/1.5, needs-backport/1.6, needs-backport/1.7, priority/release-blocker, release-note/bug

#11555 Shorten dummy device name in linuxrouting tests
  pkg/datapath/linux/routing/routing_test.go
Labels: kind/bug/CI, kind/regression, needs-backport/1.7, release-note/misc

#11564 Update stable releases
  .github/cilium-actions.yml
  README.rst
Labels: release-note/misc

#11530 istio: Update to 1.5.4
  Documentation/gettingstarted/istio.rst
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/values.yaml
  test/k8sT/istio.go
Labels: area/proxy, kind/bug, needs-backport/1.7, release-note/bug

#11542 Update Go to 1.14.3
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: release-note/misc

#11579 test: Disable Tests NodePort with L7 Policy
  test/k8sT/Services.go
Labels: area/CI, release-note/misc

#11574 test: Remove NodeCleanMetadata
  test/helpers/kubectl.go
  test/k8sT/Conformance.go
  test/k8sT/DatapathConfiguration.go
  test/k8sT/Identity.go
Labels: area/CI, release-note/misc

#11529 doc: Change machine-type to n1-standard-4 for GKE guide
  Documentation/gettingstarted/k8s-install-gke.rst
Labels: area/documentation, pending-review, release-note/minor

#11590 docs: Point GKE doc to the cluster name var
  Documentation/gettingstarted/k8s-install-gke.rst
Labels: ready-to-merge, release-note/misc

#11568 fix(kvstore): Correct the error messages in kvstore get CLI
  cilium/cmd/kvstore_get.go
  contrib/scripts/cilium-up.sh
  contrib/systemd/cilium-consul.service
  examples/getting-started/Vagrantfile
  examples/getting-started/docker-compose.yml
  examples/mesos/allfiles/docker-compose.yml
  pkg/kvstore/consul.go
Labels: release-note/misc

#11583 identity: Recognize host and health identities as fixed
  pkg/identity/identity.go
Labels: release-note/misc

#11543 pkg/identity: Watch and update labels for the host
  pkg/endpointmanager/manager.go
  pkg/identity/cache/cache_test.go
  pkg/identity/identity.go
  pkg/identity/identitymanager/manager.go
  pkg/identity/identitymanager/manager_test.go
  pkg/k8s/watchers/node.go
  pkg/k8s/watchers/watcher.go
Labels: area/k8s, area/policy, release-note/minor

#11596 test: disable MetalLB service test until there's a drop-in replacement
  test/helpers/utils.go
  test/k8sT/Services.go
Labels: area/CI, pending-review, release-note/misc

#11616 hubble-relay: enable gRPC reflection
  pkg/hubble/relay/server.go
Labels: area/hubble, kind/enhancement, release-note/minor

#11575 feat(operator): Reuse existing port on Cilium Operator health api
  operator/api.go
  operator/main.go
Labels: release-note/misc

#11595 bpf: use per-cpu scratch space from xdp context to store meta data
  bpf/bpf_xdp.c
  bpf/include/bpf/api.h
  bpf/include/bpf/compiler.h
  bpf/include/bpf/ctx/xdp.h
  bpf/include/bpf/loader.h
Labels: area/datapath, pending-review, ready-to-merge, release-note/misc

#11600 test: Cleanup default namespace before each Context()
  test/helpers/kubectl.go
Labels: area/CI, release-note/misc

#11576 hubble: remove pkg/hubble/logger and use cilium's default logger
  daemon/cmd/hubble.go
  pkg/hubble/logger/log.go
  pkg/hubble/metrics/api/api.go
  pkg/hubble/metrics/api/registry.go
  pkg/hubble/metrics/api/registry_test.go
  pkg/hubble/metrics/metrics.go
  pkg/hubble/observer/local_observer.go
  pkg/hubble/observer/local_observer_test.go
  pkg/hubble/observer/observeroption/option.go
  pkg/hubble/parser/new.go
  pkg/hubble/parser/seven/parser.go
  pkg/hubble/parser/seven/parser_test.go
  pkg/hubble/parser/threefour/parser.go
  pkg/hubble/parser/threefour/parser_test.go
  pkg/hubble/server/server.go
Labels: area/hubble, kind/cleanup, ready-to-merge, release-note/misc

#11602 test: Don't delete and redeploy Cilium at end of test context
  test/k8sT/Chaos.go
  test/k8sT/Conformance.go
  test/k8sT/DatapathConfiguration.go
  test/k8sT/Health.go
  test/k8sT/Identity.go
  test/k8sT/KafkaPolicies.go
  test/k8sT/Policies.go
  test/k8sT/Services.go
  test/k8sT/demos.go
  test/k8sT/external_ips.go
  test/k8sT/fqdn.go
  test/k8sT/hubble.go
  test/k8sT/istio.go
Labels: project/ci-force, release-note/misc

#11606 doc: Use docker.io instead of quay.io
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#11618 contrib/vagrant: enable hubble listener on :4244 (TCP) by default
  contrib/vagrant/start.sh
Labels: area/hubble, kind/enhancement, release-note/misc

#11592 [v1.7] install: Remove IPAM setting
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: backport/1.7, kind/backports

#11604 test: Fix running CI on microk8s
  test/helpers/kubectl.go
Labels: release-note/ci

#11566 cilium: Add CLI to introspect IP <-> Identity cache
  Documentation/cmdref/cilium.md
  Documentation/cmdref/cilium_ip.md
  Documentation/cmdref/cilium_ip_list.md
  Documentation/spelling_wordlist.txt
  bugtool/cmd/configuration.go
  cilium/cmd/ip.go
  cilium/cmd/ip_list.go
  pkg/ipcache/types/entries.go
Labels: needs-backport/1.7, release-note/minor

#11621 test: Fix looping tests
  test/k8sT/Services.go
Labels: kind/bug/CI, priority/release-blocker, ready-to-merge, release-note/ci

#11533 bpf: don't answer ARP requests for endpoint IP
  bpf/bpf_host.c
  bpf/bpf_lxc.c
  bpf/lib/arp.h
Labels: area/datapath, release-note/minor

#11605 test: Add K8sServicesTest with L4-only policy
  test/k8sT/Services.go
  test/k8sT/manifests/l4-policy-demo.yaml
Labels: area/CI-improvement, project/ci-force, ready-to-merge, release-note/ci

#11525 Fix up ipcache access in datapath
  bpf/bpf_lxc.c
Labels: ready-to-merge, release-note/bug

#11639 ci: skip fqdn restart test
  test/k8sT/fqdn.go
Labels: release-note/misc

#11625 Add CI flag -cilium.multinode[=true]
  test/config/config.go
  test/helpers/manifest.go
  test/k8sT/DatapathConfiguration.go
  test/k8sT/manifests.go
  test/k8sT/manifests/demo_ds_local.yaml
  test/test_suite_test.go
Labels: release-note/ci

#11629 docs: Refresh ginkgo CLI flags documentation
  Documentation/contributing/testing/e2e.rst
Labels: dont-merge/blocked, release-note/misc

#11620 Rework netns handling in LinuxRoutingSuite privileged tests
  pkg/datapath/linux/routing/routing_test.go
Labels: area/CI, project/ci-force, ready-to-merge, release-note/misc

#11623 Re-enable Services test with l7 policy
  test/k8sT/Services.go
Labels: area/CI, project/ci-force, ready-to-merge, release-note/ci

#11537 doc: Enable Netlify Deploy Preview
  Documentation/Makefile
  Documentation/runtime.txt
  netlify.toml
Labels: release-note/misc

#11642 doc: Update spelling for Netlify
  Documentation/spelling_wordlist.txt
Labels: release-note/misc

#11585 ci: fix archiving artifacts in runtime jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
Labels: project/ci-force, release-note/ci

#11633 Support DNS matchPattern="*" to match "."
  pkg/fqdn/matchpattern/matchpattern.go
  pkg/fqdn/matchpattern/matchpattern_test.go
Labels: needs-backport/1.6, needs-backport/1.7, needs-backport/1.8, release-note/minor

#11627 [v1.6] Dockerfile: Bump cilium-runtime to latest image
  Dockerfile
Labels: backport/1.6, kind/backports, ready-to-merge, release-note/misc

#11628 [v1.7] Dockerfile: Bump cilium-runtime to latest image
  Dockerfile
Labels: backport/1.7, kind/backports, release-note/misc

#11594 loader: Move direct routing config. to node_config.h
  bpf/init.sh
  bpf/lib/nodeport.h
  bpf/node_config.h
  pkg/datapath/linux/config/config.go
  pkg/datapath/loader/loader.go
  pkg/datapath/loader/template.go
Labels: area/datapath, area/loader, ready-to-merge, release-note/misc

#11632 Fix issue where Cilium-agent fails to start on nodes without a default gateway
  pkg/mtu/detect_linux.go
Labels: kind/bug, needs-backport/1.7, ready-to-merge, release-note/bug

#11520 test: Aid flake debugging
  test/helpers/kubectl.go
Labels: release-note/ci

#11534 ci: Fix focus handling in ginkgo-ext
  test/ginkgo-ext/scopes.go
Labels: project/ci-force, release-note/ci

#11603 install: Fix erroneous comment
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/quick-install.yaml
Labels: needs-backport/1.7, release-note/misc

#11611 test(k8s): Correct prometheus template
  test/test_suite_test.go
Labels: release-note/ci
