Repository cilium/cilium, pull requests merged in 2020-02, with the labels that each got.

#10022 Move GKE release cluster out of timeout block
  jenkinsfiles/ginkgo-gke.Jenkinsfile
Labels: pending-review, release-note/ci

#10008 nodeinit/templates: fix indentation of sys-fs-bpf
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
Labels: kind/cleanup, needs-backport/1.6, pending-review, release-note/misc

#10024 v1.6 backports 2020-02-03
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
Labels: backport/1.6, kind/backports, pending-review

#10025 CI: Determine and set K8s version in GKE pipeline
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  test/gke/get-cluster-version.sh
  test/gke/select-cluster.sh
Labels: area/CI, area/CI-improvement, pending-review, release-note/ci

#10027 bpf, sock: only attach v6 hooks in v4-only mode when v6 is available
  bpf/init.sh
  daemon/bpf.sha
  daemon/daemon_main.go
  pkg/probe/probe.go
Labels: area/daemon, pending-review, release-note/misc

#10033 backporting: add 'upstream-prs' tag for code block
  contrib/backporting/check-stable
Labels: pending-review, release-note/misc

#10032 docs: add libelf-devel to development setup
  Documentation/contributing/development/dev_setup.rst
Labels: release-note/misc

#10034 Prepare for release v1.6.6
  CHANGELOG.md
  NEWS.rst
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.6, kind/backports, kind/release, pending-review

#10037 docs: Fix up gke install guide
  Documentation/gettingstarted/k8s-install-gke.rst
Labels: area/documentation, pending-review, release-note/misc

#10035 Update release process steps
  Documentation/contributing/release/stable.rst
Labels: needs-backport/1.5, needs-backport/1.6, release-note/misc

#9740 Add eks restart pods
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
Labels: area/k8s, ready-to-merge, release-note/misc

#9957 Add retry to curl call in basic TLS policy test
  test/k8sT/Policies.go
Labels: pending-review, release-note/ci

#10041 update CODEOWNERS
  CODEOWNERS
Labels: pending-review, release-note/misc

#10046 .github: update github-actions project
  .github/cilium-actions.yml
Labels: backport/1.5, kind/backports, pending-review

#10045 .github: update github-actions project
  .github/cilium-actions.yml
Labels: backport/1.6, kind/backports, pending-review

#10028 doc: update instructions about restarting pods after deployment
  Documentation/gettingstarted/k8s-install-eks.rst
  Documentation/gettingstarted/k8s-install-gke.rst
  Documentation/gettingstarted/k8s-install-restart-pods.rst
  install/kubernetes/cilium/charts/nodeinit/values.yaml
Labels: area/documentation, kind/enhancement, needs-backport/1.7, needs-rebase, pending-review, release-note/misc

#10016 policy: clean a duplicated code
  pkg/policy/repository.go
Labels: kind/cleanup, needs-backport/1.7, pending-review, release-note/misc

#10053 tests: test nodeport connectivity via v4-in-v6 sockets
  test/k8sT/Services.go
Labels: area/CI, area/datapath, needs-backport/1.7, pending-review, release-note/ci

#9808 Getting started guide to TLS-visibility
  Documentation/gettingstarted/images/cilium_tls_visibility_gsg.png
  Documentation/gettingstarted/index.rst
  Documentation/gettingstarted/tls-visibility.rst
  Documentation/spelling_wordlist.txt
  examples/kubernetes-tls-inspection/l7-visibility-tls.yaml
Labels: needs-backport/1.7, pending-review, release-note/minor

#10057 kubernetes: Disable LocalNodeRoute while chaining
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: kind/bug, needs-backport/1.7, release-note/bug

#10062 [CI] add release name to helm template calls
  test/eks/select-cluster.sh
  test/gke/select-cluster.sh
  test/vagrant-ci-start.sh
Labels: pending-review, release-note/ci

#10060 bpf: compile out service lookup entirely on kubeProxyReplacement=disa…
  bpf/bpf_lxc.c
  daemon/bpf.sha
  daemon/daemon_main.go
  pkg/datapath/linux/config/config.go
Labels: area/datapath, needs-backport/1.7, pending-review, release-note/misc

#10066 ipam: Protect release from releasing alive IP
  daemon/ipam.go
Labels: kind/bug, needs-backport/1.5, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/bug

#10047 test: Improve skipping of k8sT/Services.go tests
  test/helpers/utils.go
  test/k8sT/Services.go
Labels: area/CI, needs-backport/1.7, pending-review, release-note/ci

#10071 docs: properly format code in NFS configuration note
  Documentation/contributing/development/dev_setup.rst
Labels: area/documentation, pending-review, release-note/misc

#10051 CI: PolicyTest toEntities All
  test/k8sT/Policies.go
Labels: area/CI, kind/bug/CI, needs-backport/1.7, pending-review, release-note/ci

#10063 cli: Remove NodePort programs from native netdev upon cleanup
  cilium/cmd/cleanup.go
Labels: area/cli, needs-backport/1.7, pending-review, release-note/minor

#10077 CI: Local CI runs don't set CILIUM_REGISTRY
  test/config/config.go
Labels: area/CI, kind/bug/CI, pending-review, release-note/ci

#10086 docs: add setup validation howto to kube-proxy-free guide
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.7, pending-review, release-note/misc

#10091 Move GKE CI to US zone
  test/gke/select-cluster.sh
Labels: pending-review, release-note/ci

#10098 ipcache: Fix ipcache pod IP update
  pkg/ipcache/ipcache.go
Labels: needs-backport/1.7, pending-review, release-note/misc

#10088 ServiceMonitor should default to release namespace
  install/kubernetes/cilium/charts/agent/templates/servicemonitor.yaml
  install/kubernetes/cilium/charts/operator/templates/servicemonitor.yaml
Labels: needs-backport/1.6, needs-backport/1.7, pending-review, release-note/minor

#10095 [v1.6] ipam: Protect release from releasing alive IP
  daemon/ipam.go
Labels: backport/1.6, kind/backports, pending-review

#10102 kubernetes/cilium: bump helm version to 1.7.90
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
Labels: area/misc, pending-review, release-note/misc

#10029 docs: Add instructions to run e2e tests on GKE
  Documentation/contributing/testing/e2e.rst
  Documentation/gettingstarted/k8s-install-gke.rst
Labels: area/CI, area/documentation, needs-rebase, pending-review, release-note/ci

#10109 Fix gke zone in release cluster script
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  test/gke/get-cluster-version.sh
  test/gke/release-cluster.sh
  test/gke/select-cluster.sh
Labels: pending-review, release-note/ci

#10039 test: Remove cilium DS before installing a new one
  test/helpers/kubectl.go
  test/k8sT/Chaos.go
  test/k8sT/DatapathConfiguration.go
  test/k8sT/Health.go
  test/k8sT/KafkaPolicies.go
  test/k8sT/Nightly.go
  test/k8sT/Policies.go
  test/k8sT/PoliciesNightly.go
  test/k8sT/Services.go
  test/k8sT/assertionHelpers.go
  test/k8sT/demos.go
  test/k8sT/external_ips.go
  test/k8sT/fqdn.go
  test/k8sT/istio.go
Labels: kind/bug/CI, needs-backport/1.7, pending-review, release-note/ci

#10112 [CI] Fix path to print-node-ip script in jenkinsfile
  ginkgo.Jenkinsfile
Labels: needs-backport/1.7, pending-review, release-note/ci

#10126 Documentation: Switch EKS documentation to default to ENI
  Documentation/gettingstarted/k8s-install-eks.rst
Labels: area/documentation, needs-backport/1.7, release-note/minor

#10101 install/kubernetes: add option to hold cilium agent after init container
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: needs-backport/1.6, needs-backport/1.7, pending-review, priority/release-blocker, release-note/minor

#10124 bpf, sock: fix post-bind-sock{4,6} not found in ELF file
  bpf/bpf_sock.c
  bpf/init.sh
  daemon/bpf.sha
Labels: area/daemon, area/datapath, kind/bug, needs-backport/1.7, priority/release-blocker, release-note/misc

#10104 kubernetes: Updated connectivity check
  examples/kubernetes/connectivity-check/README.md
  examples/kubernetes/connectivity-check/connectivity-check.yaml
  examples/kubernetes/connectivity-check/echo-a.yaml
  examples/kubernetes/connectivity-check/echo-b.yaml
  examples/kubernetes/connectivity-check/pod-to-a-allowed.yaml
  examples/kubernetes/connectivity-check/pod-to-a-denied.yaml
  examples/kubernetes/connectivity-check/pod-to-a.yaml
  examples/kubernetes/connectivity-check/pod-to-b-intra-node.yaml
  examples/kubernetes/connectivity-check/pod-to-b-multi-node.yaml
  examples/kubernetes/connectivity-check/pod-to-external-1111.yaml
  examples/kubernetes/connectivity-check/pod-to-external-fqdn-allow-google.yaml
Labels: kind/enhancement, release-note/minor

#10113 bpf: Fix proxy redirection for egress programs
  bpf/bpf_lxc.c
  bpf/lib/common.h
  daemon/bpf.sha
Labels: area/datapath, kind/bug, needs-backport/1.6, needs-backport/1.7, needs-rebase, pending-review, priority/release-blocker, release-note/bug

#10147 Add required etcd version for external etcd guide
  Documentation/gettingstarted/k8s-install-external-etcd.rst
Labels: area/documentation, needs-backport/1.7, priority/release-blocker, release-note/misc

#10131 doc: Document L7 limitation in azure-cni chaining mode
  Documentation/gettingstarted/k8s-install-azure-cni-steps.rst
Labels: area/documentation, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/misc

#10149 docs: Mention direct routing mode requirement for DSR
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, needs-backport/1.7, pending-review, release-note/misc

#10143 docs: fixed padding after code blocks
  Documentation/_static/copybutton.css
Labels: area/documentation, needs-backport/1.7, release-note/misc

#10142 doc: Mark encryption as stable for direct-routing and ENI mode
  Documentation/gettingstarted/encryption.rst
Labels: area/documentation, needs-backport/1.7, pending-review, release-note/misc

#10155 docs: Fix up backporting instructions.
  Documentation/contributing/release/backports.rst
Labels: area/documentation, kind/cleanup, release-note/misc

#10144 ipcache: Add probe to check for dump capability to support delete
  pkg/datapath/ipcache/listener.go
  pkg/maps/ipcache/ipcache.go
Labels: needs-backport/1.6, needs-backport/1.7, pending-review, priority/release-blocker, release-note/bug

#10106 tests: update complexity check script to include new calls
  test/bpf/check-complexity.sh
Labels: needs-backport/1.7, pending-review, release-note/ci

#10145 test: Remove runtime ipvlan tests
  test/helpers/cilium.go
  test/runtime/connectivity.go
Labels: area/CI, kind/cleanup, pending-review, release-note/misc

#10156 test: bpf: Fix load for cgroups progs
  test/bpf/verifier-test.sh
Labels: area/misc, needs-backport/1.7, pending-review, release-note/ci

#10162 docs: Use kube-system namespace consistently in Encryption guide
  Documentation/gettingstarted/encryption.rst
Labels: area/documentation, needs-backport/1.7, pending-review, release-note/misc

#10159 docs: Update kube-router getting started guide
  Documentation/gettingstarted/kube-router.rst
Labels: area/documentation, needs-backport/1.7, pending-review, release-note/minor

#10140 pkg/endpoint: access endpoint state safely across go routines
  pkg/endpoint/manager.go
Labels: kind/bug, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/bug

#10137 pkg/eventqueue: fix concurrent access of waitConsumeOffQueue
  pkg/eventqueue/eventqueue.go
Labels: kind/bug, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/bug

#10166 api: Add missing annotations to generate DeepCopy for new status fields
  api/v1/models/kube_proxy_replacement.go
  api/v1/models/proxy_status.go
  api/v1/models/zz_generated.deepcopy.go
Labels: kind/bug, needs-backport/1.7, pending-review, priority/release-blocker, release-note/bug

#10148 client, identity: remove unnecessary guards around delete()
  pkg/client/endpoint.go
  pkg/identity/cache/cache.go
Labels: kind/cleanup, pending-review, release-note/misc

#10170 Prepare for release v1.7.0-rc4
  .github/cilium-actions.yml
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.7, kind/backports, kind/release, requires-janitor-review

#10172 .github: update cilium-actions for latest 1.7 RC
  .github/cilium-actions.yml
Labels: pending-review, release-note/misc

#10171 charts: Generate versions from VERSION file
  install/kubernetes/Makefile
Labels: needs-backport/1.6, needs-backport/1.7, pending-review, release-note/misc

#10173 bpf: Fix space hack in Makefile
  bpf/Makefile
Labels: area/misc, needs-backport/1.5, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/misc

#10182 Makefile: move cscope.files generation to its own target
  Makefile
Labels: ready-to-merge, release-note/misc

#10169 clustermesh: Add cilium status section
  Documentation/cmdref/cilium_status.md
  api/v1/models/cluster_mesh_status.go
  api/v1/models/remote_cluster.go
  api/v1/models/status_response.go
  api/v1/models/zz_generated.deepcopy.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  cilium-health/cmd/get.go
  cilium/cmd/debuginfo.go
  cilium/cmd/status.go
  daemon/status.go
  pkg/allocator/allocator.go
  pkg/allocator/cache.go
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/clustermesh/clustermesh.go
  pkg/clustermesh/remote_cluster.go
  pkg/clustermesh/services.go
  pkg/kvstore/store/store.go
Labels: kind/enhancement, needs-backport/1.7, pending-review, release-note/minor

#10186 vagrant: Install temporary forked bpftool
  Vagrantfile
Labels: area/misc, needs-backport/1.7, pending-review, release-note/misc

#10178 docs: fix link for Cilium-PR-Kubernetes-Upstream job
  Documentation/contributing/testing/ci.rst
Labels: area/documentation, needs-backport/1.6, needs-backport/1.7, release-note/misc

#10179 golang: update to 1.13.8
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: needs-backport/1.7, pending-review, release-note/minor

#10192 maps/nat: return NatEntry6 for NatKey6 NewValue() instead of NatEntry4
  pkg/maps/nat/types.go
Labels: kind/bug, needs-backport/1.6, needs-backport/1.7, priority/insane :rotating_light:, priority/release-blocker, release-note/bug

#10198 test: bpf: Fix check for xdp support in ip
  test/bpf/verifier-test.sh
Labels: area/misc, pending-review, release-note/misc

#10190 bugtool: Dump NAT BPF maps entries with bpftool
  bugtool/cmd/configuration.go
Labels: area/bugtool, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/misc

#10108 examples/getting-started: fix docker-compose getting started
  examples/getting-started/Vagrantfile
Labels: pending-review, release-note/misc

#10168 pkg/bpf: Protect each uintptr with runtime.KeepAlive
  pkg/bpf/bpf_linux.go
  pkg/bpf/map_linux.go
  pkg/bpf/prog_linux.go
  pkg/endpoint/connector/ipvlan.go
Labels: area/datapath, needs-backport/1.5, needs-backport/1.6, needs-backport/1.7, pending-review, priority/release-blocker, release-note/bug

#10206 pkg/bpf: Protect attr in perf_linux.go with runtime.KeepAlive
  pkg/bpf/perf_linux.go
Labels: area/datapath, backport/1.6, kind/backports, pending-review

#10211 test: Fix getNodeInfo in NodePort tests
  test/k8sT/Services.go
Labels: area/CI, kind/bug, needs-backport/1.7, pending-review, priority/high, release-note/misc

#10205 pkg/bpf: Protect attr in perf_linux.go with runtime.KeepAlive
  pkg/bpf/perf_linux.go
Labels: area/datapath, backport/1.5, kind/backports, pending-review, release-note/bug

#10208 update cilium-runtime with golang 1.13.8
  Dockerfile
Labels: needs-backport/1.7, pending-review, release-note/misc

#10209 golang: update to 1.12.17
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing.rst
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
Labels: backport/1.5, kind/backports, release-note/misc

#10210 golang: update to 1.12.17
  .travis.yml
  Dockerfile
  Dockerfile.builder
  Documentation/contributing/contributing.rst
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  test/docker-compose.yml
  test/kubernetes-test.sh
Labels: backport/1.6, kind/backports, release-note/misc

#10219 [CI] Mark TLS policy test as pending
  test/k8sT/Policies.go
Labels: needs-backport/1.7, pending-review, release-note/ci

#10214 test: fix ClusterIP IPv6 connectivity checks
  test/k8sT/Services.go
Labels: area/CI, needs-backport/1.7, pending-review, priority/high, release-note/misc

#10233 Prepare for release v1.7.0
  .github/cilium-actions.yml
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.7, kind/backports, kind/release

#10193 cli: Do not panic if BPF map does not exist
  cilium/cmd/bpf_ct_flush.go
  cilium/cmd/bpf_ct_list.go
  cilium/cmd/bpf_nat_flush.go
  cilium/cmd/bpf_nat_list.go
Labels: area/cli, kind/bug, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/bug

#10015 Makes k8s cert generation modular in vagrant startup scripts.
  contrib/vagrant/scripts/00-create-certs.sh
  contrib/vagrant/scripts/03-install-kubernetes-worker.sh
  contrib/vagrant/scripts/cert-gen-helpers.bash
Labels: pending-review, release-note/misc

#10049 contrib/vagrant: only ssh to k8s1 if vagrant up suceeded
  contrib/vagrant/start.sh
Labels: pending-review, release-note/misc

#10058 bpf: remove `Map.DeleteWithErrno()`
  pkg/bpf/map_linux.go
  pkg/datapath/ipcache/listener.go
  pkg/endpoint/bpf.go
  pkg/maps/ipcache/ipcache.go
  pkg/maps/policymap/policymap.go
  pkg/maps/policymap/policymap_privileged_test.go
Labels: area/datapath, kind/cleanup, release-note/misc

#10090 daemon: silence log messages during cmdref generation
  daemon/cmdref.go
  daemon/daemon_main.go
  pkg/option/config.go
Labels: pending-review, release-note/misc

#10202 test/bpf: remove unused event.h
  test/bpf/event.h
Labels: kind/cleanup, pending-review, release-note/misc

#10122 datapath/linux,maps/ipcache: consistently use BackedByLPM() helper
  pkg/datapath/linux/config/config.go
  pkg/maps/ipcache/ipcache.go
Labels: kind/cleanup, release-note/misc

#10175 docs: de-duplicate AWS cluster scale up instructions
  Documentation/gettingstarted/aws-eni.rst
  Documentation/gettingstarted/aws-scale-up-cluster.rst
  Documentation/gettingstarted/k8s-install-eks.rst
Labels: ready-to-merge, release-note/misc

#10052 pkg/datapath/linux/route: reduce duplicate code
  pkg/datapath/linux/route/route_linux.go
Labels: pending-review, release-note/misc

#10187 bpf: remove unused GetProgNextID, GetProgFDByID and GetProgInfoByFD
  pkg/bpf/prog_linux.go
Labels: kind/cleanup, pending-review, release-note/misc

#10234 Update for release v1.7.0
  .github/cilium-actions.yml
  README.rst
Labels: pending-review, release-note/misc

#10020 daemon: adding support for egress policy tracing
  daemon/policy.go
Labels: ready-to-merge, release-note/minor

#10151 Fix off-by-one warning from LGTM and add tests for NodePort range
  pkg/option/config.go
  pkg/option/config_test.go
Labels: pending-review, release-note/misc

#10188 daemon: remove unused type rulesManager
  daemon/daemon.go
Labels: area/daemon, kind/cleanup, ready-to-merge, release-note/misc

#10189 pkg/maps/encrypt: allocate BPF map in MapCreate only if EnableIPSec is set
  daemon/datapath.go
  pkg/maps/encrypt/encrypt.go
Labels: kind/cleanup, pending-review, release-note/misc

#10195 datapath: use net.IP.IsLoopback instead of string comparison
  pkg/datapath/linux/node_addressing.go
Labels: kind/cleanup, pending-review, release-note/misc

#10201 policy: fix innermap's flag error in eppolicymap
  pkg/maps/eppolicymap/eppolicymap.go
Labels: area/policy, area/sockops, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/bug

#10213 test: Reduce length of log filenames
  test/k8sT/Policies.go
  test/runtime/Policies.go
Labels: area/CI, pending-review, release-note/misc

#10220 remove k8s.io/kubernetes dependency
  go.mod
  go.sum
  pkg/aws/ec2/mock/mock.go
  pkg/ipam/hostscope.go
  pkg/k8s/utils/utils.go
  pkg/k8s/utils/utils_test.go
  vendor/github.com/cilium/ipam/service/allocator/BUILD
  vendor/github.com/cilium/ipam/service/allocator/bitmap.go
  vendor/github.com/cilium/ipam/service/allocator/interfaces.go
  vendor/github.com/cilium/ipam/service/allocator/utils.go
  vendor/github.com/cilium/ipam/service/ipallocator/BUILD
  vendor/github.com/cilium/ipam/service/ipallocator/allocator.go
  vendor/k8s.io/kubernetes/LICENSE
  vendor/k8s.io/kubernetes/pkg/apis/core/BUILD
  vendor/k8s.io/kubernetes/pkg/apis/core/OWNERS
  vendor/k8s.io/kubernetes/pkg/apis/core/annotation_key_constants.go
  vendor/k8s.io/kubernetes/pkg/apis/core/doc.go
  vendor/k8s.io/kubernetes/pkg/apis/core/field_constants.go
  vendor/k8s.io/kubernetes/pkg/apis/core/json.go
  vendor/k8s.io/kubernetes/pkg/apis/core/objectreference.go
  vendor/k8s.io/kubernetes/pkg/apis/core/register.go
  vendor/k8s.io/kubernetes/pkg/apis/core/resource.go
  vendor/k8s.io/kubernetes/pkg/apis/core/taint.go
  vendor/k8s.io/kubernetes/pkg/apis/core/toleration.go
  vendor/k8s.io/kubernetes/pkg/apis/core/types.go
  vendor/k8s.io/kubernetes/pkg/apis/core/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/pkg/apis/scheduling/BUILD
  vendor/k8s.io/kubernetes/pkg/apis/scheduling/doc.go
  vendor/k8s.io/kubernetes/pkg/apis/scheduling/register.go
  vendor/k8s.io/kubernetes/pkg/apis/scheduling/types.go
  vendor/k8s.io/kubernetes/pkg/apis/scheduling/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/pkg/kubelet/types/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/types/constants.go
  vendor/k8s.io/kubernetes/pkg/kubelet/types/doc.go
  vendor/k8s.io/kubernetes/pkg/kubelet/types/labels.go
  vendor/k8s.io/kubernetes/pkg/kubelet/types/pod_status.go
  vendor/k8s.io/kubernetes/pkg/kubelet/types/pod_update.go
  vendor/k8s.io/kubernetes/pkg/kubelet/types/types.go
  vendor/modules.txt
Labels: area/k8s, pending-review, release-note/misc

#10200 clustermesh: Ignore ..data directory of secrets mount
  pkg/clustermesh/config.go
Labels: kind/bug, release-note/bug

#10181 make: consistently use $(GO) to invoke the Go tool
  Makefile.defs
Labels: pending-review, release-note/misc

#10064 bpf: Add test for __ct_lookup return value
  bpf/lib/conntrack_test.h
  daemon/bpf.sha
Labels: area/CI-improvement, area/datapath, pending-review, release-note/ci

#10196 agent: Remove leftovers from IPv6 /96 prefix requirement
  pkg/defaults/node.go
Labels: kind/cleanup, pending-review, release-note/misc

#10240 service: Fix HealthCheckNodePort not displayed in API
  pkg/service/service.go
Labels: needs-backport/1.7, pending-review, release-note/bug

#10180 [CI] Randomize ns in policy tests
  test/helpers/kubectl.go
  test/k8sT/Policies.go
  test/k8sT/manifests/cnp-second-namespaces/.helmignore
  test/k8sT/manifests/cnp-second-namespaces/Chart.yaml
  test/k8sT/manifests/cnp-second-namespaces/templates/policy.yaml
  test/k8sT/manifests/cnp-second-namespaces/values.yaml
Labels: pending-review, release-note/ci

#10110 policy: replace go-logging with std log
  daemon/policy.go
  go.mod
  go.sum
  pkg/policy/distillery_test.go
  pkg/policy/l4_filter_test.go
  pkg/policy/policy.go
  pkg/policy/repository_test.go
  pkg/policy/rule_test.go
  vendor/github.com/op/go-logging/.travis.yml
  vendor/github.com/op/go-logging/CHANGELOG.md
  vendor/github.com/op/go-logging/CONTRIBUTORS
  vendor/github.com/op/go-logging/LICENSE
  vendor/github.com/op/go-logging/README.md
  vendor/github.com/op/go-logging/backend.go
  vendor/github.com/op/go-logging/format.go
  vendor/github.com/op/go-logging/level.go
  vendor/github.com/op/go-logging/log_nix.go
  vendor/github.com/op/go-logging/log_windows.go
  vendor/github.com/op/go-logging/logger.go
  vendor/github.com/op/go-logging/memory.go
  vendor/github.com/op/go-logging/multi.go
  vendor/github.com/op/go-logging/syslog.go
  vendor/github.com/op/go-logging/syslog_fallback.go
  vendor/modules.txt
Labels: pending-review, release-note/misc

#10242 proxy: remove write-only members from type Redirect
  pkg/proxy/proxy.go
  pkg/proxy/redirect.go
Labels: kind/cleanup, pending-review, release-note/misc

#10194 agent: Remove awareness of IPv4 cluster-range
  Documentation/cmdref/cilium-agent.md
  Documentation/install/upgrade.rst
  daemon/daemon_main.go
  daemon/ipam.go
  pkg/datapath/iptables/iptables.go
  pkg/defaults/node.go
  pkg/node/node_address.go
  pkg/node/node_address_test.go
  pkg/option/config.go
Labels: release-note/minor

#10176 datapath: convert global variables to consts where possible
  pkg/datapath/linux/node.go
  pkg/datapath/loader/cache.go
  pkg/datapath/loader/compile.go
  pkg/datapath/loader/doc_test.go
  pkg/datapath/loader/loader.go
  pkg/datapath/loader/template.go
Labels: ready-to-merge, release-note/misc

#10239 test: upgrade tests from v1.7 to master
  test/helpers/cons.go
  test/k8sT/Updates.go
Labels: pending-review, release-note/ci

#10230 datapath/loader: always set all args to bpf/init.sh
  bpf/init.sh
  pkg/datapath/loader/base.go
  test/helpers/cons.go
Labels: area/loader, needs-backport/1.7, ready-to-merge, release-note/misc

#10255 daemon: remove deprecated --enable-legacy-services option
  Documentation/install/upgrade.rst
  daemon/daemon_main.go
  pkg/option/config.go
Labels: needs-backport/1.7, pending-review, release-note/minor

#10268 cilium: encryption, segfaults if existing non-Cilium xfrm policy without mark set exists
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: area/encryption, kind/bug, needs-backport/1.6, needs-backport/1.7, release-note/bug

#10243 Fixups for Correct clustermesh identity sync kvstore backend usage
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/base_test.go
  pkg/kvstore/consul.go
  pkg/kvstore/lock.go
Labels: kind/bug, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/bug

#10283 Use -F flag in git log in check-stable script
  contrib/backporting/check-stable
Labels: needs-backport/1.5, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/misc

#10068 linux: check policy routing of running kernel
  pkg/datapath/linux/requirements.go
Labels: pending-review, release-note/misc

#10287 .github: fix doc links in PR template
  .github/pull_request_template.md
Labels: kind/cleanup, pending-review, release-note/misc

#10280 contrib/vagrant: Fix warning when K8S is unset
  contrib/vagrant/start.sh
Labels: area/misc, pending-review, release-note/misc

#10288 pkg/bpf: Fix KeepAlive usage for pathStr
  pkg/bpf/bpf_linux.go
Labels: kind/bug, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/misc

#10204 bpf: don't use fixed size integer types from stdint.h
  .travis.yml
  .travis.yml.tmpl
  Documentation/contributing/development/dev_setup.rst
  bpf/Makefile.bpf
  bpf/bpf_alignchecker.c
  bpf/bpf_hostdev_ingress.c
  bpf/bpf_ipsec.c
  bpf/bpf_lxc.c
  bpf/bpf_netdev.c
  bpf/bpf_network.c
  bpf/bpf_overlay.c
  bpf/bpf_sock.c
  bpf/bpf_xdp.c
  bpf/include/bpf/api.h
  bpf/include/iproute2/bpf_elf.h
  bpf/include/linux/bpf.h
  bpf/include/linux/byteorder.h
  bpf/include/linux/byteorder/little_endian.h
  bpf/include/linux/icmp.h
  bpf/include/linux/icmpv6.h
  bpf/include/linux/if_arp.h
  bpf/include/linux/if_ether.h
  bpf/include/linux/in.h
  bpf/include/linux/in6.h
  bpf/include/linux/ip.h
  bpf/include/linux/ipv6.h
  bpf/include/linux/perf_event.h
  bpf/include/linux/swab.h
  bpf/include/linux/tcp.h
  bpf/include/linux/type_mapper.h
  bpf/include/linux/udp.h
  bpf/init.sh
  bpf/lib/common.h
  bpf/lib/conntrack_test.h
  bpf/lib/dbg.h
  bpf/lib/drop.h
  bpf/lib/eps.h
  bpf/lib/maps.h
  bpf/lib/metrics.h
  bpf/lib/nat.h
  bpf/lib/nodeport.h
  bpf/lib/trace.h
  bpf/lib/utils.h
  bpf/probes/raw_main.c
  bpf/run_probes.sh
  bpf/sockops/bpf_redir.c
  bpf/sockops/bpf_sockops.c
  bpf/sockops/bpf_sockops.h
  contrib/packaging/rpm/Dockerfile
  contrib/packaging/rpm/cilium.spec.envsubst
  pkg/datapath/linux/requirements.go
  pkg/datapath/loader/compile.go
  test/bpf/Makefile
  test/bpf/elf-demo.c
  test/bpf/unit-test.c
Labels: area/datapath, area/loader, pending-review, release-note/misc

#10300 monitor: Remove listener from monitor before calling Close()
  pkg/monitor/agent/listener1_2.go
  pkg/monitor/agent/monitor.go
Labels: release-note/misc

#10298 vendor: Pick up the latest github.com/sasha-s/go-deadlock
  go.mod
  go.sum
  vendor/github.com/sasha-s/go-deadlock/.travis.yml
  vendor/github.com/sasha-s/go-deadlock/Readme.md
  vendor/github.com/sasha-s/go-deadlock/deadlock.go
  vendor/github.com/sasha-s/go-deadlock/deadlock_map.go
  vendor/github.com/sasha-s/go-deadlock/go.mod
  vendor/github.com/sasha-s/go-deadlock/go.sum
  vendor/github.com/sasha-s/go-deadlock/test.sh
  vendor/modules.txt
Labels: release-note/misc

#10301 test/provision: Fix cilium.provision on running VM
  test/provision/bpftool.sh
Labels: area/CI, needs-backport/1.7, pending-review, release-note/misc

#10305 CODEOWNERS: fix path for contribution process docs
  CODEOWNERS
Labels: pending-review, release-note/misc

#10307 [Doc] - Update link to the contribution guide
  CONTRIBUTING.md
Labels: area/documentation, pending-review, release-note/misc

#10292 metricsmap: reduce MaxEntries to account for maximum key space
  pkg/maps/metricsmap/metricsmap.go
Labels: pending-review, release-note/misc

#10165 doc: Adjust documentation to renamed cilium-sysdump tool
  .github/ISSUE_TEMPLATE/bug_template.md
  Documentation/troubleshooting.rst
Labels: area/documentation, area/misc, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/misc

#10303 backport v1.7 2020 02 24 fixes
  pkg/clustermesh/remote_cluster.go
Labels: backport/1.7, kind/backports, kind/bug, release-note/bug

#10319 docs: Drop k8s 1.10 from supported/tested versions
  Documentation/kubernetes/requirements.rst
Labels: area/documentation, area/k8s, needs-backport/1.7, pending-review, release-note/minor

#9943 Add a new type of event for policy action notification.
  Documentation/cmdref/cilium_endpoint_config.md
  Documentation/cmdref/cilium_monitor.md
  bpf/bpf_alignchecker.c
  bpf/bpf_lxc.c
  bpf/lib/common.h
  bpf/lib/policy.h
  bpf/lib/policy_log.h
  bpf/lxc_config.h
  cilium/cmd/endpoint_config.go
  cilium/cmd/monitor.go
  daemon/daemon_main.go
  daemon/daemon_test.go
  pkg/monitor/alignchecker/alignchecker.go
  pkg/monitor/api/types.go
  pkg/monitor/datapath_policy.go
  pkg/monitor/format/format.go
  pkg/option/daemon.go
  pkg/option/endpoint.go
  pkg/option/runtime_options.go
Labels: area/datapath, pending-review, release-note/minor

#10117 bpf: use syscall.BytePtrFromString instead of deprecated syscall.StringBytePtr
  pkg/bpf/bpf_linux.go
Labels: pending-review, release-note/misc

#10318 ci: No error if there are no terminating ns
  test/gke/delete-terminating-namespaces.sh
Labels: pending-review, release-note/ci

#10325 test: Wait for Istio POD termination before deleting istio-system or cilium
  test/k8sT/istio.go
Labels: area/CI, area/k8s, kind/bug/CI, needs-backport/1.5, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/ci

#10315 doc: Add helm version requirements updated install URL to GKE install guide
  Documentation/gettingstarted/k8s-install-download-release.rst
Labels: area/documentation, needs-backport/1.7, release-note/misc

#10308 doc: Fix AKS guide regression
  Documentation/gettingstarted/k8s-install-aks.rst
  Documentation/gettingstarted/k8s-install-azure-cni-steps.rst
  Documentation/gettingstarted/k8s-install-connectivity-test.rst
  install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml
Labels: area/documentation, kind/bug, kind/regression, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/bug

#10320 Fix up install make target
  Makefile
  Makefile.defs
  bpf/Makefile
  bugtool/Makefile
  cilium-health/Makefile
  cilium-health/responder/Makefile
  cilium/Makefile
  contrib/flannel/run-flannel.diff
  daemon/Makefile
  operator/Makefile
  plugins/cilium-cni/Makefile
  plugins/cilium-docker/Makefile
  proxylib/Makefile
  tools/alignchecker/Makefile
  tools/maptool/Makefile
Labels: kind/cleanup, pending-review, release-note/misc

#10290 clustermesh: Emit identity-change events for remote clusters
  pkg/allocator/allocator.go
  pkg/identity/cache/allocator.go
Labels: kind/bug, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/bug

#10296 Make resources in agent and operator helm chart configurable
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/agent/values.yaml
  install/kubernetes/cilium/charts/operator/templates/deployment.yaml
  install/kubernetes/cilium/charts/operator/values.yaml
Labels: pending-review, release-note/minor

#10096 pkg/datapath/loader: log versions
  pkg/datapath/loader/compile.go
Labels: release-note/misc

#10327 .travis: Adjust travis related code
  .travis.yml
  .travis/prepare.sh
  Makefile
  Makefile.defs
Labels: area/CI, pending-review, release-note/misc

#10328 docs: add missing words to spelling word list
  Documentation/spelling_wordlist.txt
Labels: area/documentation, release-note/misc

#10282 aws/eni/types: move ENI-specific types to own package
  Makefile
  pkg/aws/ec2/ec2.go
  pkg/aws/ec2/mock/mock.go
  pkg/aws/eni/instances.go
  pkg/aws/eni/instances_test.go
  pkg/aws/eni/node.go
  pkg/aws/eni/node_manager.go
  pkg/aws/eni/node_manager_test.go
  pkg/aws/eni/types/doc.go
  pkg/aws/eni/types/types.go
  pkg/aws/eni/types/zz_generated.deepcopy.go
  pkg/aws/types/types.go
  pkg/ipam/crd.go
  pkg/k8s/apis/cilium.io/v2/types.go
  pkg/k8s/apis/cilium.io/v2/zz_generated.deepcopy.go
  pkg/nodediscovery/nodediscovery.go
  plugins/cilium-cni/types/types.go
  plugins/cilium-cni/types/types_test.go
Labels: pending-review, release-note/misc

#10329 all: convert package level vars to consts where possible
  cilium-health/launch/endpoint.go
  cilium-health/launch/launcher.go
  cilium/cmd/debuginfo.go
  operator/k8s_pod_controller.go
  pkg/elf/elf_test.go
  pkg/elf/log.go
  pkg/elf/symbols.go
  pkg/endpoint/log.go
  pkg/health/probe/responder/responder.go
  pkg/k8s/error_helpers.go
  pkg/kafka/error.go
  pkg/kvstore/keepalive.go
  pkg/monitor/agent/monitor.go
  pkg/sockops/sockops.go
Labels: kind/cleanup, release-note/misc

#10227 node: Remove permanent ARP entry when remote node is deleted
  pkg/datapath/linux/node.go
Labels: area/daemon, area/kube-proxy-free, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/misc

#10336 Swagger generated APIs from master
  api/v1/health/models/cluster_mesh_status.go
  api/v1/health/models/kube_proxy_replacement.go
  api/v1/health/models/proxy_redirect.go
  api/v1/health/models/proxy_status.go
  api/v1/health/models/remote_cluster.go
  api/v1/health/models/status_response.go
  api/v1/health/server/embedded_spec.go
Labels: pending-review, release-note/misc

#10313 SECURITY.md: update versions of supported releases
  SECURITY.md
Labels: pending-review, release-note/misc

#10342 helm: Allow disabling xt_socket fallback
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
Labels: kind/bug, needs-backport/1.6, needs-backport/1.7, pending-review, release-note/misc

#10348 CODEOWNERS: add pkg/operator to cilium/operator
  CODEOWNERS
Labels: pending-review, release-note/misc
