Repository cilium/cilium, pull requests merged in 2021-08, with the labels that each got.

#17008 workflows: fix permissions
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/tests-l4lb-v1.10.yaml
  .github/workflows/tests-l4lb.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#17023 workflows: disable scheduled runs for 1.10 workflows
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/tests-l4lb-v1.10.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#16991 policy: Fix `cilium policy trace` output when only deny rules are applied
  pkg/policy/repository.go
  pkg/policy/repository_deny_test.go
Labels: kind/bug, needs-backport/1.10, ready-to-merge, release-note/bug

#16768 test: Don't pass namespace for CCNPs
  test/k8sT/DatapathConfiguration.go
  test/k8sT/Services.go
Labels: area/CI, ready-to-merge, release-note/ci

#16939 Documentation: dont use docker for check-cmdref
  Documentation/Makefile
Labels: ready-to-merge, release-note/misc

#16885 daemon: make consecutive quorum errors threshold configurable
  Documentation/cmdref/cilium-agent.md
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  pkg/defaults/defaults.go
  pkg/kvstore/etcd.go
  pkg/option/config.go
Labels: ready-to-merge, release-note/minor

#15354 Perform reverse NAT at host interface
  bpf/Makefile
  bpf/bpf_host.c
  bpf/bpf_lxc.c
  bpf/lib/nodeport.h
  daemon/cmd/daemon_main.go
  daemon/cmd/kube_proxy_replacement.go
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  pkg/datapath/linux/config/config.go
  pkg/datapath/linux/probes/probes.go
  pkg/option/config.go
  test/helpers/utils.go
  test/k8sT/Services.go
Labels: ready-to-merge, release-note/bug, sig/datapath

#16968 .github: Capture hubble flows when smoke test fails
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, area/CI-improvement, kind/enhancement, ready-to-merge, release-note/ci

#17014 docs: Fix missing quote in gcloud command for GKE
  Documentation/gettingstarted/k8s-install-helm.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#17001 Fixes out-of-sycn CEP update
  pkg/k8s/watchers/endpointsynchronizer.go
Labels: ready-to-merge, release-note/bug

#17017 lbmap: Log svc update after bpf() syscall invocation
  pkg/maps/lbmap/lbmap.go
Labels: release-note/misc, sig/loadbalancing

#17004 bugtool: Default pprof to the agent's gops port
  Documentation/cmdref/cilium-bugtool.md
  bugtool/cmd/root.go
Labels: area/bugtool, release-note/misc

#17018 bpf: Derive host netns cookie via SO_NETNS_COOKIE
  bpf/bpf_sock.c
  pkg/datapath/linux/config/config.go
  pkg/netns/cookie.go
Labels: release-note/minor, sig/loadbalancing

#17044 datapath/linux: enable neighbor discovery in unit tests
  pkg/datapath/linux/node_linux_test.go
Labels: release-note/misc

#17045 docs: Add a missing quote
  pkg/datapath/linux/node_linux_test.go
Labels: needs-backport/1.10, release-note/misc

#16168 cilium: Make CLI more graceful on environments with IPv6 disabled
  cilium/cmd/bpf_ct_flush.go
  cilium/cmd/bpf_ct_list.go
  cilium/cmd/bpf_nat_flush.go
  cilium/cmd/bpf_nat_list.go
  cilium/cmd/bpf_recorder_list.go
  cilium/cmd/helpers.go
Labels: release-note/minor

#17035 node-neigh: Wait instead of sleeping in unit tests
  pkg/datapath/linux/node_linux_test.go
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/ci

#17019 github: Fix external workloads test file syntax
  .github/workflows/conformance-externalworkloads-v1.10.yml
Labels: area/CI, ready-to-merge, release-note/misc

#17040 .github: add MLH config for flake tracking
  .github/ISSUE_TEMPLATE/release_template.md
  .github/maintainers-little-helper.yaml
Labels: release-note/misc

#17041 .github: add MLH config for flake tracking
  .github/maintainers-little-helper.yaml
Labels: backport/1.10, kind/backports, release-note/misc

#17042 .github: add MLH config for flake tracking
  .github/maintainers-little-helper.yaml
Labels: backport/1.9, kind/backports, release-note/misc

#17032 .github: Fix smoke tests sysdump collection from failing prematurely
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, area/CI-improvement, kind/enhancement, ready-to-merge, release-note/ci

#17043 .github: add MLH config for flake tracking
  .github/maintainers-little-helper.yaml
Labels: backport/1.8, kind/backports, release-note/misc

#17053 workflows: disable scheduled runs for 1.10 AKS workflow
  .github/workflows/conformance-aks-v1.10.yaml
Labels: area/CI, release-note/ci

#16990 test: Retrieve the private interface in an Eventually
  test/k8sT/DatapathConfiguration.go
Labels: area/CI, area/CI-improvement, kind/enhancement, release-note/ci

#16842 iptables: Add extra warning message listing missing IPV6 kernel modules
  pkg/datapath/iptables/iptables.go
Labels: release-note/misc

#16923 Add developer build option to disable optimizations
  Makefile.docker
  images/cilium-docker-plugin/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
Labels: area/build, area/docker, kind/enhancement, ready-to-merge, release-note/misc

#17059 Makefile: fix line continuation in docker build
  Makefile.docker
Labels: release-note/misc

#17057 Revert "config: Fix incorrect packet path with IPsec and endpoint rou…
  pkg/datapath/linux/config/config.go
Labels: release-note/misc

#17070 test/helpers: add the json output debug in case of failure
  test/helpers/kubectl.go
Labels: release-note/ci

#16656 Add Bidirectional mount in Cilium DaemonSet
  Documentation/gettingstarted/k3s.rst
  Documentation/gettingstarted/k8s-install-helm.rst
  Documentation/gettingstarted/k8s-install-rancher-existing-nodes.rst
  Documentation/operations/system_requirements.rst
  daemon/cmd/daemon_main.go
  images/cilium/init-container.sh
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/files/nodeinit/prestop.bash
  install/kubernetes/cilium/files/nodeinit/startup.bash
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  pkg/bpf/bpffs_linux.go
  pkg/bpf/map_linux_test.go
  pkg/maps/ctmap/ctmap_privileged_test.go
  pkg/maps/eppolicymap/eppolicymap_test.go
  pkg/maps/policymap/policymap_privileged_test.go
  tools/maptool/main.go
Labels: sig/k8s, release-note/minor, ready-to-merge, needs-backport/1.10

#17024 envoy: Update to release 1.18.3
  images/cilium/Dockerfile
Labels: area/proxy, release-note/minor, ready-to-merge

#17068 workflows: retry GCP VM creation up to 3 times
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads.yml
Labels: area/CI, ready-to-merge, release-note/ci

#17067 checkpatch: update image to fix checks on commit object and message
  .github/workflows/lint-bpf-checks.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/misc

#17037 istio: Update to release 1.10.3
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
Labels: area/proxy, release-note/minor, ready-to-merge

#17105 datapath: Sort VLAN IDs in generated macros
  pkg/datapath/linux/config/config.go
Labels: kind/bug, sig/datapath, ready-to-merge, release-note/misc

#17121 v1.8 backports 2021-08-10
  pkg/datapath/linux/node_linux_test.go
Labels: kind/backports, backport/1.8

#17122 workflows: Skip L7 test in AWS-CNI chaining mode
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni.yaml
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#16998 test: Remove outdated error msg from allowlist
  test/helpers/cons.go
Labels: area/CI, ready-to-merge, release-note/ci

#17134 test: Delete the test namespace in CLI test
  test/k8sT/cli.go
Labels: kind/bug/CI, release-note/misc

#17143 workflows: pin `cilium-cli` version to v0.8.6
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads.yml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#17123 install/kubernetes: remove duplicated 'key' in volumes
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: ready-to-merge, release-note/misc

#17128 Makefile: fix typo in helper message
  Makefile
Labels: ready-to-merge, release-note/misc, needs-backport/1.10

#17130 option: Fix ipvlan master device config
  daemon/cmd/daemon_main.go
  pkg/option/config.go
Labels: ready-to-merge, release-note/misc

#17137 workflows: Fix Hubble flow capture in smoke tests
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#17138 workflows: increase VM creation retry count on external workloads
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads.yml
Labels: area/CI, ready-to-merge, release-note/ci

#17140 workflows: add test exceptions for failing L7 tests on EKS with IPsec
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#16216 pkg/redirectpolicy: Make code robust against incorrect policy configu…
  pkg/redirectpolicy/manager.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.9, needs-backport/1.10

#17155 docs: add cilium build depedency when regen'ing docs
  Documentation/Makefile
Labels: ready-to-merge, release-note/misc

#17160 docs: Add missed build tag flags in testing docs
  Documentation/contributing/testing/ci.rst
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, release-note/misc

#16841 workflows: Improve the change check for `issue_comment` triggers
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads.yml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#17173 workflows: Revert changes to comment-triggered workflows
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads.yml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/tests-l4lb-v1.10.yaml
  .github/workflows/tests-l4lb.yaml
Labels: kind/bug/CI, area/CI, release-note/ci

#17169 routing: Fix incorrect interface selection for egress pod routes
  pkg/datapath/linux/routing/routing.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/eni, area/azure, needs-backport/1.9, needs-backport/1.10

#17064 datapath: panic explicitly when IP of direct-routing-device not found
  pkg/datapath/linux/config/config.go
Labels: area/daemon, release-note/bug, ready-to-merge, needs-backport/1.10

#17161 Checks k8s metadata for pod before removing IP from ipcache
  pkg/k8s/watchers/cilium_endpoint.go
  pkg/k8s/watchers/pod.go
Labels: ready-to-merge, release-note/misc

#17046 hubble: Never fail with ErrInvalidRead
  pkg/hubble/container/ring.go
  pkg/hubble/container/ring_reader_test.go
  pkg/hubble/container/ring_test.go
  pkg/hubble/observer/local_observer.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.10

#17031 test: fix Infinite loop during VM provisioning
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/kubernetes-test.sh
Labels: kind/bug/CI, area/CI-improvement, release-note/ci

#17116 Update Go to 1.16.7
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, release-note/misc

#17151 treewide: convert more license headers to SPDX
  api/v1/flow/flow.pb.go
  api/v1/flow/flow.proto
  api/v1/models/doc.go
  api/v1/observer/observer.pb.go
  api/v1/observer/observer.proto
  api/v1/peer/peer.pb.go
  api/v1/peer/peer.proto
  api/v1/recorder/recorder.pb.go
  api/v1/recorder/recorder.proto
  api/v1/relay/relay.pb.go
  api/v1/relay/relay.proto
  bpf/tests/prog_test/prog_test.go
  cilium/cmd/encrypt.go
  cilium/cmd/encrypt_flush.go
  cilium/cmd/encrypt_status.go
  cilium/cmd/encrypt_status_test.go
  pkg/fqdn/dns/dns.go
  pkg/fqdn/dns/dns_test.go
  pkg/metrics/metrics_unix.go
  pkg/version/version_unix.go
  pkg/version/version_unix_test.go
Labels: ready-to-merge, release-note/misc

#17124 v1.10: Update Go to 1.16.7
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: kind/backports, release-note/misc, backport/1.10

#17051 netns: Fix socket leak
  pkg/netns/cookie.go
Labels: release-note/misc, sig/loadbalancing

#17186 jenkins: switch runtime tests from 4.9 to net-next on master
  .github/maintainers-little-helper.yaml
Labels: area/CI-improvement, release-note/ci

#17133 v1.9: Update Go to 1.15.15
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: kind/backports, release-note/misc, backport/1.9

#16945 Cilium Batch Implementation
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  api/v1/models/named_ports.go
  api/v1/models/zz_generated.deepcopy.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  operator/flags.go
  operator/main.go
  operator/option/config.go
  operator/pkg/ciliumendpointbatch/ceptocebmap.go
  operator/pkg/ciliumendpointbatch/ceptocebmap_test.go
  operator/pkg/ciliumendpointbatch/endpointbatch.go
  operator/pkg/ciliumendpointbatch/manager.go
  operator/pkg/ciliumendpointbatch/manager_test.go
  operator/pkg/ciliumendpointbatch/reconciler.go
  operator/pkg/ciliumendpointbatch/reconciler_test.go
  operator/watchers/cilium_endpoint.go
  pkg/annotation/k8s.go
  pkg/k8s/factory_functions.go
Labels: release-note/misc

#17189 Fix Linux slave interface detection
  pkg/datapath/linux/routing/routing.go
Labels: kind/bug, release-note/bug, ready-to-merge, integration/cloud, backport-pending/1.9, release-blocker/1.10, needs-backport/1.10

#17215 README: fix the Weekly Community Meeting time
  README.rst
Labels: release-note/misc

#17209 update Cilium base images
  Dockerfile
  Dockerfile.builder
  cilium-dev.Dockerfile
  test/docker-compose.yml
  test/k8sT/manifests/test-verifier.yaml
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.8

#17208 update Cilium base images
  .travis.yml
  Dockerfile
  Dockerfile.builder
  cilium-dev.Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/docker-compose.yml
Labels: kind/backports, release-note/misc, backport/1.9

#17231 Update USERS.md
  USERS.md
Labels: release-note/misc

#17200 1.10 backport for envoy: Update to release 1.18.4
  images/cilium/Dockerfile
  pkg/envoy/server.go
Labels: release-note/minor, kind/backports, backport/1.10

#17234 vendor: update mongo-driver to 1.5.1 to fix CVE-2021-20329
  go.mod
  go.sum
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/array_codec.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/bsoncodec.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/byte_slice_codec.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/default_value_decoders.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/default_value_encoders.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/empty_interface_codec.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/map_codec.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/string_codec.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/struct_tag_parser.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/time_codec.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/types.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/uint_codec.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/copier.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_parser.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_writer.go
  vendor/go.mongodb.org/mongo-driver/bson/doc.go
  vendor/go.mongodb.org/mongo-driver/bson/primitive/decimal.go
  vendor/go.mongodb.org/mongo-driver/bson/primitive/objectid.go
  vendor/go.mongodb.org/mongo-driver/bson/raw_value.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/array.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/bson_arraybuilder.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/bson_documentbuilder.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/bsoncore.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/document.go
  vendor/modules.txt
Labels: release-note/misc, needs-backport/1.8, needs-backport/1.9, release-blocker/1.8, release-blocker/1.10, release-blocker/1.9, needs-backport/1.10

#17202 1.8 backport for envoy: Update to release 1.18.4
  Dockerfile
  pkg/envoy/server.go
Labels: release-note/minor, kind/backports, backport/1.8

#17201 1.9 backport for envoy: Update to release 1.18.4
  Dockerfile
  pkg/envoy/server.go
Labels: release-note/minor, kind/backports, backport/1.9

#17268 v1.8: Update cilium base images
  Dockerfile
  Dockerfile.builder
  cilium-dev.Dockerfile
Labels: kind/backports, release-note/misc, backport/1.8

#17266 v1.10: Update cilium base images
  .github/workflows/build-images-ci.yaml
  .travis.yml
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Labels: release-note/misc
