Repository cilium/cilium, pull requests merged in 2021-03, with the labels that each got.

#15109 Hubble-ui now supports imagePullSecrets
  install/kubernetes/cilium/templates/hubble-ui-deployment.yaml
Labels: area/helm, release-note/minor

#14970 Helm: add eni option to use iam-role
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-operator-serviceaccount.yaml
  install/kubernetes/cilium/values.yaml
Labels: release-note/bug

#14888 Add new metrics for dump_interrupts
  Documentation/operations/metrics.rst
  Documentation/operations/upgrade.rst
  examples/kubernetes/addons/prometheus/files/grafana-dashboards/cilium-dashboard.json
  examples/kubernetes/addons/prometheus/monitoring-example.yaml
  pkg/maps/ctmap/metrics.go
  pkg/metrics/metrics.go
Labels: release-note/misc

#15118 backporting: Update instructions for backporting workflow
  Documentation/contributing/release/backports.rst
Labels: needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#15099 v1.9 backports for bpf map handling 2021-02-24
  pkg/bpf/map_linux.go
Labels: backport/1.9, kind/backports, ready-to-merge

#15152 test: Unquarantine tunneling + endpoint routes test
  test/k8sT/DatapathConfiguration.go
Labels: area/CI, ready-to-merge, release-note/ci

#15127 test: Reenable debug mode for monitor tests
  test/k8sT/DatapathConfiguration.go
Labels: area/CI, area/monitor, ready-to-merge, release-note/ci

#15165 [v1.8] helm: Remove duplicate `tolerations` value in hubble-relay
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
Labels: backport/1.8, kind/backports, requires-janitor-review

#15060 docs: Advise running ginkgo in verbose for e2e tests
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, ready-to-merge, release-note/misc, sig/contributing

#15168 ci: remove params from upstream k8s job
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
Labels: ready-to-merge, release-note/ci

#15125 jenkinsfiles: remove unused environment variables
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
Labels: release-note/ci

#15145 docs: Clarify titles for allow-all-endpoints examples
  Documentation/policy/language.rst
Labels: area/documentation, needs-backport/1.9, release-note/misc

#15157 Makefile: Remove microk8s.registry dependency
  Makefile
Labels: release-note/misc

#15163 docs: Add L7 not working warning to AWS CNI Chaining page
  Documentation/gettingstarted/cni-chaining-aws-cni.rst
Labels: area/documentation, needs-backport/1.9, release-note/misc

#15171 test: Fix docker compose in precheck
  Makefile
Labels: backport/1.9, kind/backports, needs-backport/1.7, needs-backport/1.8, ready-to-merge

#15173 CODEOWNERS: Assign Travis files to ci-structure team
  CODEOWNERS
Labels: area/CI, ready-to-merge, release-note/misc, sig/contributing

#15162 docs: Fix max. number of tail calls
  Documentation/bpf.rst
Labels: area/documentation, needs-backport/1.9, ready-to-merge, release-note/misc, sig/datapath

#15159 vendor: Pin github.com/optiopay/kafka to commit before fork
  go.mod
  vendor/modules.txt
Labels: area/misc, ready-to-merge, release-note/misc

#15147 Makefile: do not depend on TARGET for install-bash-completion
  cilium/Makefile
  clustermesh-apiserver/Makefile
  hubble-relay/Makefile
Labels: ready-to-merge, release-note/misc

#15129 vagrant: bump box versions, again
  vagrant_box_defaults.rb
Labels: ready-to-merge, release-note/misc

#15091 pkg/loadbalancer: Optimize L3n4Addr.Hash for performance (2)
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/loadbalancer_test.go
Labels: kind/enhancement, ready-to-merge, release-note/misc, sig/loadbalancing

#15026 service: Skip upsert of service for disabled IP family
  pkg/service/service.go
  pkg/service/service_test.go
Labels: kind/bug, needs-backport/1.9, ready-to-merge, release-note/bug, sig/loadbalancing

#15199 .travis: fail Travis if race detection builds also fail
  .travis.yml
Labels: area/CI, release-note/ci

#15206 bpf: Fix bpf masquerade issue when host connecting to remote pod
  daemon/cmd/daemon.go
Labels: kind/bug, needs-backport/1.9, pending-review, release-note/bug, sig/datapath

#15196 daemon: do not allow --auto-direct-node-routes when tunneling is enabled
  Documentation/concepts/security/proxy/envoy.rst
  contrib/vagrant/start.sh
  daemon/cmd/daemon_main.go
Labels: area/daemon, needs-backport/1.9, release-note/minor

#15205 test: Unquarantine the random-fully test
  test/k8sT/DatapathConfiguration.go
Labels: area/CI, release-note/ci

#15183 v1.7 backports 2021-03-03
  Makefile
Labels: backport/1.7, kind/backports

#15207 Documentation: update iproute2 git URL in bpf.rst
  Documentation/bpf.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#15224 docs: Remove -noColor from ginkgo flags
  Documentation/contributing/testing/ci.rst
  Documentation/contributing/testing/e2e.rst
Labels: area/CI, area/documentation, ready-to-merge, release-note/misc, sig/contributing

#15218 config: remove POLICY_AUDIT_MODE from node_config.h
  pkg/datapath/linux/config/config.go
Labels: kind/bug, needs-backport/1.9, ready-to-merge, release-note/bug, sig/loader, sig/policy

#15239 tools/licensegen: consider COPYING files
  tools/licensegen/licensegen.go
Labels: needs-backport/1.9, release-note/misc

#15238 .github/workflows: remove `go version` commands from golangci-lint job
  .github/workflows/go-check.yaml
Labels: release-note/ci

#15231 docs: Fix commands to build dev. docker images
  Documentation/contributing/development/images.rst
Labels: area/CI, area/documentation, ready-to-merge, release-note/misc, sig/contributing

#15223 docs: Fix ginkgo commands for e2e tests in GKE/EKS
  Documentation/contributing/testing/e2e.rst
Labels: area/CI, area/documentation, ready-to-merge, release-note/misc, sig/contributing

#15219 test: Respect cilium.holdEnvironment on Cilium status check
  test/helpers/manifest.go
Labels: area/CI, ready-to-merge, release-note/ci

#15089 Optimize Label.String()
  pkg/labels/labels.go
  pkg/labels/labels_test.go
Labels: release-note/misc

#15240 bpf: fixes for host routing
  daemon/cmd/kube_proxy_replacement.go
Labels: kind/bug, ready-to-merge, release-note/misc, sig/datapath

#15245 [1.9] doc: Fix masquerade option in AKS/Azure guides
  Documentation/gettingstarted/cni-chaining-azure-cni.rst
  Documentation/gettingstarted/k8s-install-aks.rst
Labels: area/documentation, backport/1.9, kind/backports, kind/regression, release-note/bug

#15232 envoy: Do not use deprecated fields & filter out known warnings
  pkg/envoy/server.go
  vendor/github.com/cilium/proxy/go/envoy/extensions/upstreams/http/v3/http_protocol_options.pb.go
  vendor/modules.txt
Labels: area/proxy, kind/bug, needs-backport/1.9, release-blocker/1.10, release-blocker/1.9, release-note/minor

#15253 docs: Clarify external workload docs
  Documentation/gettingstarted/external-workloads.rst
Labels: area/documentation, needs-backport/1.9, release-note/minor

#15144 CI 3.0: A New Hope
  .github/workflows/kind-1.19.yaml
Labels: release-note/minor

#15182 azure: Add the correct JSON tag to GatewayIP field in CiliumNode CRD
  examples/crds/ciliumnodes.yaml
  pkg/azure/api/api.go
  pkg/azure/types/types.go
  pkg/azure/types/zz_generated.deepequal.go
  pkg/ipam/crd.go
  pkg/k8s/apis/cilium.io/v2/client/bindata.go
Labels: needs-backport/1.9, release-note/misc

#15251 policy: Fix typo in issue link
  Documentation/policy/language.rst
Labels: release-note/misc

#15140 contrib: Convert consolidate_go_stacktrace.py to python3
  contrib/scripts/consolidate_go_stacktrace.py
Labels: area/misc, release-note/misc

#15225 backport v1.8: Fix possible deadlock when querying netdevs
  go.mod
  go.sum
  pkg/datapath/linux/node.go
  vendor/github.com/cilium/arping/arping.go
  vendor/github.com/cilium/arping/arping_bsd.go
  vendor/github.com/cilium/arping/arping_linux.go
  vendor/github.com/cilium/arping/arping_windows.go
  vendor/github.com/cilium/arping/go.mod
  vendor/github.com/cilium/arping/go.sum
  vendor/github.com/cilium/arping/netutils.go
  vendor/modules.txt
Labels: backport/1.8, kind/backports, needs-rebase

#15250 install/kubernetes: remove quick-install from master branches
  .github/workflows/smoke-test.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: release-note/misc

#15284 envoy: Silently discard expected warnings if flowdebug is not enabled
  pkg/envoy/envoy.go
Labels: area/proxy, kind/bug, needs-backport/1.9, release-note/misc

#15287 Prepare for release v1.7.15
  .github/cilium-actions.yml
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.7, kind/backports, kind/release

#14906 ipam/aws: updated EC2 instances ENI limits and added an helper function to make it easier to do so in the future
  pkg/aws/eni/limits/limits.go
Labels: area/eni, ready-to-merge, release-note/bug, sig/ipam

#15277 gettingstarted: Corrected typos in memcached.rst
  Documentation/gettingstarted/memcached.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#15179 Docs: adds a getting started guide for Rancher 2.x
  Documentation/gettingstarted/images/rancher_add_catalog.png
  Documentation/gettingstarted/images/rancher_add_cilium_catalog.png
  Documentation/gettingstarted/images/rancher_add_cluster.png
  Documentation/gettingstarted/images/rancher_add_nodes.png
  Documentation/gettingstarted/images/rancher_app_catalog_cilium.png
  Documentation/gettingstarted/images/rancher_app_target_project.png
  Documentation/gettingstarted/images/rancher_apps_click_launch.png
  Documentation/gettingstarted/images/rancher_catalog_list_success.png
  Documentation/gettingstarted/images/rancher_cluster_scope.png
  Documentation/gettingstarted/images/rancher_cluster_state_provisioning.png
  Documentation/gettingstarted/images/rancher_delete_network_plugin.png
  Documentation/gettingstarted/images/rancher_edit_as_yaml.png
  Documentation/gettingstarted/images/rancher_existing_nodes.png
  Documentation/gettingstarted/images/rancher_network_plugin_none.png
  Documentation/gettingstarted/images/rancher_node_not_ready.png
  Documentation/gettingstarted/images/rancher_working_cluster.png
  Documentation/gettingstarted/k8s-install-rancher-existing-nodes.rst
  Documentation/gettingstarted/k8s-installers.rst
Labels: needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#14977 cli: Rename kpr Protocols status field
  pkg/client/client.go
Labels: kind/feature, ready-to-merge, release-note/misc, sig/loadbalancing

#15299 images, vendor: update gops to 0.3.17
  go.mod
  go.sum
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/build-gops.sh
  vendor/github.com/google/gops/agent/agent.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#15306 Prepare for release v1.8.8
  .github/cilium-actions.yml
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/charts/hubble-ui/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/charts/prometheus-crd/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.8, kind/backports, kind/release

#15292 contrib: Skip image digests during release prep
  contrib/release/start-release.sh
Labels: release-note/misc

#15289 [1.7] contrib: Skip image digests during release prep
  contrib/release/start-release.sh
  install/kubernetes/Makefile
Labels: backport/1.7, kind/backports, release-note/misc

#15290 [1.8] contrib: Skip image digests during release prep
  contrib/release/start-release.sh
  install/kubernetes/Makefile
Labels: backport/1.8, kind/backports, release-note/misc

#15309 Prepare for release v1.9.5
  .github/cilium-actions.yml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.9, kind/release

#15311 install/kubernetes: Fix incorrect commands for digest generation
  install/kubernetes/Makefile
Labels: area/misc, needs-backport/1.9, release-note/misc

#15312 v1.9 backports 2021-03-10
  install/kubernetes/Makefile
Labels: backport/1.9, kind/backports

#15291 [1.9] contrib: Skip image digests during release prep
  contrib/release/start-release.sh
  install/kubernetes/Makefile
Labels: backport/1.9, kind/backports, release-note/misc

#15308 install: Update generated helm YAMLs to use digests
  install/kubernetes/Makefile
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.8, kind/backports, release-note/misc

#15304 doc: Document minimal version of AWS CNI in chaining mode
  Documentation/gettingstarted/cni-chaining-aws-cni.rst
Labels: area/documentation, needs-backport/1.9, release-note/minor

#15300 ci: wait for quay images and boot vms in parallel
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
Labels: ready-to-merge, release-note/ci

#15296 Use vishvananda/netlink instead of net.Interface*
  pkg/mcastmanager/mcastmanager_test.go
  pkg/multicast/multicast.go
  pkg/multicast/multicast_test.go
Labels: release-note/misc

#15263 node: Fix CIDR comparison when updating routes
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
Labels: area/daemon, kind/bug, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#15241 test/helpers: remove unused functions and consts
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/helpers/manifest_generator.go
  test/k8sT/manifests/client.yaml
  test/k8sT/manifests/html.yaml
  test/k8sT/manifests/server.yaml
Labels: kind/cleanup, ready-to-merge, release-note/ci

#15314 Update Go to 1.16.1
  .github/workflows/go-check.yaml
  .github/workflows/images-legacy.yaml
  .travis.yml
  GO_VERSION
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator-aws/Dockerfile
  images/operator-azure/Dockerfile
  images/operator-generic/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: release-note/misc

#15322 Prepare helm charts for v1.10.0-rc0
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: release-note/misc

#15194 azure: populate ApplicationSecurityGroups field in the new IPConfigurations
  pkg/azure/api/api.go
Labels: needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#15303 ipam: Fix ENI routing for secondary CIDRs
  pkg/aws/ec2/ec2.go
  pkg/aws/ec2/mock/mock.go
  pkg/ipam/types/types.go
  pkg/ipam/types/zz_generated.deepcopy.go
  pkg/ipam/types/zz_generated.deepequal.go
Labels: area/eni, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#15328 contrib: fix remote overriding
  contrib/backporting/common.sh
Labels: area/misc, kind/bug, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, release-note/misc, sig/contributing

#15154 test: Unquarantine K8sVerifier on k8s-all
  test/k8sT/Verifier.go
Labels: area/CI, release-note/ci

#15316 v1.9: Update Go to 1.15.9
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/docker-compose.yml
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.9, kind/backports, ready-to-merge, release-note/misc

#15326 Simplify runtime/builder image update
  Documentation/contributing/development/images.rst
  images/README.md
  images/scripts/update-cilium-builder-image.sh
  images/scripts/update-cilium-runtime-image.sh
Labels: ready-to-merge, release-note/misc

#15323 docs: adds a rancher kubernetes engine installation guide
  Documentation/gettingstarted/k8s-install-rke.rst
  Documentation/gettingstarted/k8s-installers.rst
Labels: needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#15305 doc: Add Code of Conduct
  CODE_OF_CONDUCT.md
Labels: area/documentation, release-note/major

#15347 v1.9: Update Go to 1.15.10
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/docker-compose.yml
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.9, kind/backports, ready-to-merge, release-note/misc

#15233 helm: Replaced object-based extraArgs with array-based
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-etcd-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/documentation, area/helm, release-note/minor

#15346 test/gke: use correct cluster IPv4 CIDR
  Documentation/contributing/testing/e2e.rst
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  test/gke/select-cluster.sh
  test/helpers/kubectl.go
  test/helpers/utils.go
Labels: area/CI, ready-to-merge, release-note/ci

#15334 Helm: adjust comment in values.yaml to accomodate Vim users
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, release-note/misc

#15360 helm: global.registry support for hubble UI
  install/kubernetes/cilium/charts/hubble-ui/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-ui/values.yaml
Labels: area/helm, backport/1.8, kind/backports, release-note/misc

#15351 Partial revert "vendor: Bump netlink to include timeouts"
  go.mod
  go.sum
  pkg/datapath/linux/route/route_linux.go
  vendor/github.com/vishvananda/netlink/filter_linux.go
  vendor/github.com/vishvananda/netlink/link.go
  vendor/github.com/vishvananda/netlink/link_linux.go
  vendor/github.com/vishvananda/netlink/route.go
  vendor/github.com/vishvananda/netlink/route_linux.go
  vendor/modules.txt
Labels: backport/1.9, kind/backports, release-note/misc

#15321 bpf: Skip policy enforcements for service loopback case
  bpf/bpf_lxc.c
Labels: needs-backport/1.8, needs-backport/1.9, priority/release-blocker, ready-to-merge, release-note/bug, sig/datapath, sig/policy

#15349 test: K8sUpdates: Remove deprecated code
  test/k8sT/Updates.go
Labels: area/CI, kind/cleanup, ready-to-merge, release-note/ci

#15369 docs: Tweak backporting doc
  Documentation/contributing/release/backports.rst
Labels: area/documentation, release-note/misc

#15365 Documentation: fix key rotation command in encryption guide
  Documentation/gettingstarted/encryption.rst
Labels: area/documentation, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#15372 Minor README updates
  README.rst
Labels: area/documentation, release-note/minor

#15371 ci: Increase time limit from 15m to 30m
  .github/workflows/kind-1.19.yaml
Labels: release-note/minor

#15087 make: add help target to root Makefile for printing info about availble targets
  Makefile
  Makefile.docker
Labels: area/misc, ready-to-merge, release-note/misc

#15356 vagrant: Upgrade Vagrant box versions
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/ci

#15367 vagrant: Follow cilium-agent options on development VM to Helm defaults
  contrib/vagrant/start.sh
Labels: gsoc, ready-to-merge, release-note/misc, sig/contributing

#15363 bugtool: dump iptables-legacy and iptables-nft
  bugtool/cmd/configuration.go
Labels: area/bugtool, gsoc, ready-to-merge, release-note/misc

#15344 Update Go to 1.16.2
  .github/workflows/go-check.yaml
  .github/workflows/images-legacy.yaml
  .travis.yml
  GO_VERSION
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator-aws/Dockerfile
  images/operator-azure/Dockerfile
  images/operator-generic/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, release-note/misc

#15368 CODEOWNERS: Remove @cilium/monitor team
  CODEOWNERS
Labels: ready-to-merge, release-note/misc, sig/contributing

#14800 Adds an option to specify Cilium router device IP
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  daemon/cmd/ipam.go
  pkg/option/config.go
Labels: ready-to-merge, release-note/minor

#15359 doc: Use Cilium CLI for Cluster Mesh documentation
  Documentation/gettingstarted/clustermesh.rst
  Documentation/gettingstarted/clustermesh/clustermesh.rst
  Documentation/gettingstarted/clustermesh/policy.rst
  Documentation/gettingstarted/clustermesh/services.rst
  Documentation/gettingstarted/index.rst
  Documentation/gettingstarted/install-cli.rst
  Documentation/gettingstarted/kind.rst
  Documentation/index.rst
  Documentation/operations/troubleshooting.rst
  examples/kubernetes/clustermesh/cilium-etcd-external-service/cilium-etcd-external-eks.yaml
  examples/kubernetes/clustermesh/cilium-etcd-external-service/cilium-etcd-external-gke.yaml
  examples/kubernetes/clustermesh/cilium-etcd-external-service/cilium-etcd-external-nodeport.yaml
Labels: area/clustermesh, area/documentation, ready-to-merge, release-note/minor

#15373 .travis: Disable email notifications on master failures
  .travis.yml
Labels: area/CI, ready-to-merge, release-note/ci, sig/contributing

#15389 test/provision: adjust Dockerfiles considered for image download
  test/provision/container-images.sh
Labels: ready-to-merge, release-note/ci

#15411 iptables: use CILIUM_* chains for per-endpoint no CT rules
  pkg/datapath/iptables/iptables.go
Labels: kind/bug, ready-to-merge, release-note/misc, sig/datapath

#15397 ci: Fix local files chmod in test vagrantfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/Vagrantfile
Labels: ready-to-merge, release-note/ci

#15415 test: quarantine failing NodePort tests on 1.14
  test/k8sT/Services.go
Labels: ready-to-merge, release-note/ci

#15409 kvstore: Fix aborted delayed delete warning
  pkg/kvstore/store/store.go
Labels: ready-to-merge, release-note/bug, sig/kvstore

#15416 ci: add gke workflow
  .github/workflows/gke.yaml
Labels: ci-run/gke, release-note/ci

#14545 test: Disable host firewall in incompatible tests
  test/k8sT/DatapathConfiguration.go
Labels: area/CI, area/host-firewall, ready-to-merge, release-note/ci

#15264 iptables: add support for NOTRACK rules for pod to pod traffic
  Documentation/cmdref/cilium-agent.md
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  daemon/cmd/kube_proxy_replacement.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  pkg/datapath/iptables/iptables.go
  pkg/defaults/defaults.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/events.go
  pkg/option/config.go
  test/helpers/kubectl.go
  test/k8sT/DatapathConfiguration.go
Labels: area/daemon, area/kube-proxy-free, ready-to-merge, release-note/minor, sig/datapath

#15395 test: make RunsOnNetNextKernel() helper work with KERNEL="net-next"
  test/helpers/utils.go
Labels: area/CI, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/ci

#15378 docs: document final steps for nomination of new committers
  Documentation/contributing/governance/commit_access.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#15454 docs: De-duplicate k8s integration section
  Documentation/concepts/ebpf/intro.rst
Labels: area/documentation, needs-backport/1.9, release-note/misc

#15450 agent: Silence some useless warnings
  pkg/endpoint/policy.go
  pkg/k8s/watchers/endpointsynchronizer.go
Labels: ready-to-merge, release-note/minor

#15430 backport v1.7: node-neigh: Bump arping vsn to accept netlink.Link
  go.mod
  go.sum
  pkg/datapath/linux/node.go
  vendor/github.com/cilium/arping/arp_datagram.go
  vendor/github.com/cilium/arping/arping.go
  vendor/github.com/cilium/arping/arping_bsd.go
  vendor/github.com/cilium/arping/arping_linux.go
  vendor/github.com/cilium/arping/arping_windows.go
  vendor/github.com/cilium/arping/go.mod
  vendor/github.com/cilium/arping/netutils.go
  vendor/modules.txt
Labels: backport/1.7, kind/backports

#15384 test/helpers: Support non-standard nodes names with NO_CILIUM_ON_NODE
  test/helpers/kubectl.go
Labels: area/CI, area/CI-improvement, ready-to-merge, release-note/ci, sig/contributing

#15464 doc: Deprecate managed etcd mode
  Documentation/concepts/kubernetes/configuration.rst
  Documentation/concepts/kubernetes/requirements.rst
  Documentation/concepts/terminology.rst
  Documentation/gettingstarted/k8s-install-default.rst
  Documentation/gettingstarted/k8s-install-etcd-operator.rst
  Documentation/gettingstarted/k8s-install-external-etcd.rst
  Documentation/gettingstarted/k8s-install-managed.rst
  Documentation/gettingstarted/k8s-install-self-managed.rst
  Documentation/gettingstarted/k8s-installers.rst
  Documentation/gettingstarted/kind.rst
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: area/documentation, ready-to-merge, release-blocker/1.10, release-note/major

#15335 encryption: Limit encryption keys to 2 bits
  Documentation/gettingstarted/encryption.rst
  Documentation/operations/upgrade.rst
  bpf/lib/common.h
  pkg/datapath/linux/ipsec/ipsec_linux_test.go
  pkg/datapath/linux/linux_defaults/linux_defaults.go
  pkg/datapath/linux/linux_defaults/mark.go
  test/k8sT/manifests/ipsec_secret.yaml
Labels: area/encryption, needs-backport/1.8, needs-backport/1.9, release-note/bug

#15431 node-neigh: Query once netlink for neigh discovery device
  pkg/datapath/linux/node.go
Labels: area/daemon, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/minor

#15461 vendor: Bump to latest vishvananda/netlink
  go.mod
  go.sum
  pkg/datapath/linux/route/route_linux.go
  vendor/github.com/vishvananda/netlink/class_linux.go
  vendor/github.com/vishvananda/netlink/filter_linux.go
  vendor/github.com/vishvananda/netlink/handle_unspecified.go
  vendor/github.com/vishvananda/netlink/link.go
  vendor/github.com/vishvananda/netlink/link_linux.go
  vendor/github.com/vishvananda/netlink/route.go
  vendor/github.com/vishvananda/netlink/route_linux.go
  vendor/github.com/vishvananda/netlink/route_unspecified.go
  vendor/github.com/vishvananda/netlink/xfrm_policy_linux.go
  vendor/modules.txt
Labels: area/encryption, ready-to-merge, release-note/misc

#15230 Improve scalability by reducing number of CEP watch events
  pkg/k8s/watchers/endpointsynchronizer.go
Labels: ready-to-merge, release-blocker/1.10, release-note/minor, sig/k8s

#15320 docs: Update VM support to use cilium-cli
  Documentation/gettingstarted/external-workloads.rst
  contrib/k8s/extract-external-workload-certs.sh
  contrib/k8s/install-external-workload.sh
Labels: area/clustermesh, kind/enhancement, needs-backport/1.9, ready-to-merge, release-note/minor

#15451 CODEOWNERS: Create cilium/loader team
  CODEOWNERS
Labels: ready-to-merge, release-note/misc, sig/contributing

#15463 docs: fix the Cilium namespace in GKE
  Documentation/gettingstarted/k8s-install-gke.rst
Labels: area/documentation, needs-backport/1.9, release-note/misc

#15481 docs: Fix commands for IPSec key rotations
  Documentation/gettingstarted/encryption.rst
Labels: area/documentation, area/encryption, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#15488 vendor: Update sigs.k8s.io/structured-merge-diff to v4.1.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/misc, kind/cleanup, release-note/misc

#15460 daemon: log errors from bpf.TestDummyProg()
  daemon/cmd/kube_proxy_replacement.go
Labels: gsoc, ready-to-merge, release-note/misc

#15319 .github: update steps for the release process of a RC
  .github/ISSUE_TEMPLATE/release_template.md
  Documentation/contributing/release/rc.rst
  Documentation/spelling_wordlist.txt
Labels: release-note/misc

#15339 loader : Log upsert and remove route errors
  pkg/datapath/loader/loader.go
Labels: gsoc, release-note/misc, sig/datapath

#15467 iptables: relax no CT rules to match all pod traffic
  Documentation/cmdref/cilium-agent.md
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  pkg/datapath/iptables/iptables.go
  pkg/defaults/defaults.go
  pkg/option/config.go
  test/k8sT/DatapathConfiguration.go
Labels: release-note/minor, sig/datapath

#15487 Revert "encryption: Limit encryption keys to 2 bits"
  Documentation/gettingstarted/encryption.rst
  Documentation/operations/upgrade.rst
  bpf/lib/common.h
  pkg/datapath/linux/ipsec/ipsec_linux_test.go
  pkg/datapath/linux/linux_defaults/linux_defaults.go
  pkg/datapath/linux/linux_defaults/mark.go
  test/k8sT/manifests/ipsec_secret.yaml
Labels: release-note/misc

#15516 Makefile: Fix microk8s image target
  Makefile
Labels: release-note/misc

#15517 Revert "loader : Log upsert and remove route errors"
  pkg/datapath/loader/loader.go
Labels: release-note/misc

#15414 Add warning log when host enable SELinux
  daemon/cmd/kube_proxy_replacement.go
Labels: release-note/misc
