Repository cilium/cilium, pull requests merged in 2021-06, with the labels that each got.

#16355 Update stable releases
  .github/cilium-actions.yml
  README.rst
Labels: ready-to-merge, release-note/misc

#16363 conformance tests: Use hubble-relay-ci image
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: ready-to-merge, release-note/misc

#16379 test: Redeploy registry during Vagrant provision
  test/Vagrantfile
  test/provision/registry.sh
Labels: backport/1.8, kind/backports, ready-to-merge

#16190 pkg/k8s: add pod IP event change
  Makefile
  pkg/k8s/types/types.go
  pkg/k8s/types/zz_generated.deepcopy.go
  pkg/k8s/types/zz_generated.deepequal.go
  pkg/k8s/watchers/pod.go
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/misc

#16403 .github: stop pushing last stable image from v1.9 branches
  .github/workflows/images-legacy-releases.yaml
Labels: backport/1.9, kind/backports, release-note/misc

#16404 .github: add 'stable' tag as part of the v1.10 releases
  .github/workflows/images-legacy-releases.yaml
Labels: backport/1.10, kind/backports, release-note/misc

#16373 helm: Fix patch failure when updating `hubble-generate-certs`
  install/kubernetes/cilium/templates/hubble-generate-certs-job.yaml
Labels: area/helm, needs-backport/1.10, ready-to-merge, release-note/bug

#16388 .github: Disable flow validation in flaky tests
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, project/ci-force, ready-to-merge, release-note/ci

#16358 [v1.9] remove ARP entries left from previous Cilium run
  daemon/cmd/daemon_main.go
  daemon/cmd/status.go
  pkg/datapath/fake/node.go
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
  pkg/datapath/linux/node_test.go
  pkg/datapath/node.go
  pkg/hubble/peer/handler.go
  pkg/node/manager/manager_test.go
Labels: backport/1.9, kind/backports, release-note/bug

#16342 docs: Clarify LRP loop related note
  Documentation/gettingstarted/local-redirect-policy.rst
Labels: area/lrp, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/misc

#16323 install: Allow setting enable-health-check-nodeport to 'false'
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: area/helm, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/bug

#16273 install: fix ordering of operator resource block
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
Labels: area/helm, kind/bug, needs-backport/1.10, ready-to-merge, release-note/bug

#16231 test: Use new test-verifier image in K8sVerifier
  images/scripts/update-cilium-builder-image.sh
  test/k8sT/manifests/test-verifier.yaml
Labels: area/CI-improvement, kind/bug/CI, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/ci

#16016 Clarify one-time setup for backporting
  Documentation/contributing/release/backports.rst
Labels: area/documentation, needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc, sig/contributing

#16021 logging: enhanced log level setting interface
  daemon/cmd/daemon.go
  daemon/cmd/policy_test.go
  hubble-relay/cmd/root.go
  hubble-relay/cmd/serve/serve.go
  pkg/command/exec/exec_test.go
  pkg/endpoint/log.go
  pkg/envoy/envoy_test.go
  pkg/logging/logging.go
  pkg/logging/logging_test.go
  proxylib/kafka/parser_test.go
Labels: ready-to-merge, release-note/misc

#16346 Minikube guide updates
  Documentation/gettingstarted/k8s-install-default.rst
Labels: ready-to-merge, release-note/misc

#16396 docs: update requirements (urllib3 1.26.5, requests 2.25.1)
  Documentation/requirements.txt
Labels: area/documentation, ready-to-merge, release-note/misc

#16397 monitor: print error message on failure to decode layer
  pkg/monitor/dissect.go
Labels: area/monitor, release-note/misc

#16389 .github: Limit CodeQL workflow to .go files
  .github/workflows/lint-codeql.yaml
Labels: area/CI-improvement, release-note/ci

#16138 Adding error checks for ctx_load_bytes.
  bpf/lib/ipv6.h
Labels: ready-to-merge, release-note/misc, sig/datapath

#16022 docs: Document `--debug-verbose=datapath` in debugging datapath section
  Documentation/contributing/development/_static/cilium-debug-datapath-options.svg
  Documentation/contributing/development/dev_setup.rst
Labels: area/documentation, release-note/misc

#16041 Adds IPv6 support for generic-veth chaining plugin
  plugins/cilium-cni/chaining/generic-veth/generic-veth.go
Labels: kind/bug, release-note/bug

#16426 CODEOWNERS: Give maintainer's code to github-sec team
  CODEOWNERS
Labels: ready-to-merge, release-note/misc, sig/contributing

#16380 helm: Disable the bandwidth manager by default
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: area/helm, feature/bandwidth-manager, needs-backport/1.10, ready-to-merge, release-blocker/1.10, release-note/minor

#16405 .github: add instructions when releasing a new minor version
  .github/ISSUE_TEMPLATE/release_template.md
Labels: release-note/misc

#16145 docs: Delete old CRD create by ACK CNI
  Documentation/gettingstarted/alibabacloud-eni.rst
Labels: dont-merge/needs-release-note-label

#16427 pkg/kvstore: fix concurrent access of var in testing
  pkg/kvstore/etcd.go
  pkg/kvstore/etcd_test.go
Labels: kind/bug/race-detector, release-note/misc

#16432 node: fix arpping test
  pkg/datapath/linux/node_linux_test.go
Labels: area/CI, needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, project/ci-force, release-note/ci

#16328 datapath: Use TUNNEL_MODE as indicator for tunnel mode
  bpf/Makefile
  bpf/bpf_host.c
  bpf/bpf_lxc.c
  bpf/init.sh
  bpf/lib/nodeport.h
Labels: needs-backport/1.10, ready-to-merge, release-note/bug

#16417 sockops: Remove duplicate error logging
  pkg/sockops/sockops.go
Labels: area/sockops, ready-to-merge, release-note/misc, sig/loader

#16442 test/helpers: Save JSON artifacts as .json
  test/helpers/kubectl.go
Labels: area/CI, ready-to-merge, release-note/ci

#16437 test/helpers: Fix incorrect count of endpoints
  test/helpers/cilium.go
Labels: area/CI, kind/bug/CI, needs-backport/1.10, project/ci-force, ready-to-merge, release-note/ci

#16200 docs: mark node-to-node IPSec encryption as beta
  Documentation/gettingstarted/encryption-ipsec.rst
Labels: area/documentation, area/encryption, needs-backport/1.10, ready-to-merge, release-note/misc

#16454 docs: Fix build failure
  Documentation/cmdref/cilium-agent.md
Labels: kind/bug, release-note/misc

#16238 docs: add a reference of helm values
  Documentation/Makefile
  Documentation/_static/helm-reference.css
  Documentation/conf.py
  Documentation/contributing/development/debugging.rst
  Documentation/helm-reference.rst
  Documentation/helm-values.rst
  Documentation/helm-values.tmp.tmpl
  Documentation/index.rst
  Documentation/operations/performance/tuning.rst
  Documentation/spelling_wordlist.txt
  Makefile.defs
  install/kubernetes/Makefile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: area/documentation, needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/misc

#16341 watchers: Fix BGP subscriber potentially getting skipped
  pkg/k8s/watchers/node.go
Labels: kind/bug, needs-backport/1.10, ready-to-merge, release-note/bug, sig/k8s, sig/loadbalancing

#16443 test/helpers: Fix panic due to missing CEP status
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, ready-to-merge, release-note/ci

#16408 docs: add a "Copy Commands" button for shell-session snippets
  Documentation/_static/copybutton.js
Labels: area/documentation, ready-to-merge, release-note/misc

#16186 docs: ENIs should not be managed by the OS
  Documentation/concepts/networking/ipam/eni.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, area/eni, needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#16459 examples: add an example of a hubble-cli Deployment
  examples/hubble/hubble-cli.yaml
Labels: area/misc, kind/enhancement, needs-backport/1.10, release-note/misc, sig/hubble

#15700 Make backporting responsibility more clear
  Documentation/contributing/release/backports.rst
Labels: ready-to-merge, release-note/misc, sig/contributing

#16334 Add cilium_egress_v4 to ignoredELFPrefixes
  pkg/datapath/loader/cache.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, sig/loader

#16428 Update Go to 1.16.5
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  pkg/ipcache/ipcache.go
  test/k8sT/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, release-note/misc

#16431 docs: Instructions to upgrade aws-cni
  Documentation/gettingstarted/cni-chaining-aws-cni.rst
Labels: area/documentation, integration/cloud, ready-to-merge, release-note/misc

#16445 test: Instrument LB IP via BGP test with debug-events
  test/k8sT/Services.go
Labels: area/CI, needs-backport/1.10, ready-to-merge, release-note/ci

#16471 bpf: ct: use union to hide the rx_bytes hack
  bpf/lib/common.h
  bpf/lib/conntrack.h
  pkg/maps/ctmap/types.go
Labels: ready-to-merge, release-note/misc, sig/datapath

#16359 remove ARP entries left from previous Cilium run
  daemon/cmd/daemon_main.go
  daemon/cmd/status.go
  pkg/datapath/fake/node.go
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
  pkg/datapath/linux/node_test.go
  pkg/datapath/node.go
  pkg/hubble/peer/handler.go
  pkg/node/manager/manager_test.go
Labels: backport-done/1.8, backport-done/1.9, needs-backport/1.10, release-note/bug

#16493 ipam: fix crd mode
  pkg/ipam/crd.go
Labels: kind/bug, needs-backport/1.10, ready-to-merge, release-blocker/1.10, release-note/bug, sig/ipam

#16365 .github: AWS-CNI end-to-end test
  .github/workflows/conformance-aws-cni.yaml
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16412 test: Specify node-selectors in BGP configmap
  test/k8sT/manifests/bgp-configmap.yaml.tmpl
Labels: area/CI-improvement, kind/enhancement, needs-backport/1.10, ready-to-merge, release-note/ci, sig/k8s, sig/loadbalancing

#16487 workflows: Skip jobs instead of workflows
  .github/workflows/documentation.yaml
  .github/workflows/lint-codeql.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#16489 test: Fix artifact collection for bad log failures
  test/test_suite_test.go
Labels: area/CI, kind/bug/CI, ready-to-merge, release-note/ci

#16507 workflows: Fix use of paths-filter on master pushes
  .github/workflows/documentation.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-codeql.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, kind/bug/CI, release-note/ci

#16398 test: align filter for kubectl.GetPodsNodes() on kubectl.GetPodsIPs()
  test/helpers/kubectl.go
  test/k8sT/Policies.go
  test/k8sT/external_ips.go
Labels: area/CI-improvement, ready-to-merge, release-note/misc

#16506 ci: restart portmap service on CI nodes
  test/vagrant-ci-start.sh
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/ci

#16484 contrib: Request author review during backports
  contrib/backporting/submit-backport
Labels: ready-to-merge, release-note/misc, sig/contributing

#16429 v1.10: Update Go to 1.16.5
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.10, kind/backports, release-note/misc

#16513 docs: add custom spelling filter to check WireGuard spelling
  Documentation/_exts/cilium_spellfilters.py
  Documentation/conf.py
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, release-note/misc

#16395 test/helpers: Fail test on errors
  test/helpers/cons.go
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16522 CODEOWNERS: add entries for health, recorder and relay APIs
  CODEOWNERS
Labels: ready-to-merge, release-note/misc

#16534 test: Tiny cleanup of k8s_install.sh
  test/provision/k8s_install.sh
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16453 add stable.txt
  Documentation/contributing/release/feature.rst
  contrib/release/bump-readme.sh
  stable.txt
Labels: release-note/misc

#16527 images/runtime: update runtime image
  .github/workflows/build-images-ci.yaml
  .travis.yml
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Labels: backport/1.10, kind/backports, release-note/misc

#16450 test: Remove special case for host identity when remote-node identity is disabled
  test/k8sT/Policies.go
Labels: area/CI, release-note/ci, sig/policy

#16544 Prepare for release v1.10.1
  .github/cilium-actions.yml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: backport/1.10, kind/release

#16545 docs: fix check-crd-compat-table script
  Documentation/check-crd-compat-table.sh
Labels: needs-backport/1.10, release-note/misc

#16501 workflows: Skip building cilium-operator image
  .github/workflows/build-images-ci.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16546 install: Update image digests for v1.10.1
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: backport/1.10, kind/backports

#16547 Update stable releases
  .github/cilium-actions.yml
  README.rst
  stable.txt
Labels: release-note/misc

#16475 fix warning log for list IPV6 address: move IPV4 to IPv6.
  daemon/cmd/datapath.go
Labels: area/daemon, release-note/misc

#16560 cicd: skip codesql on forks
  .github/workflows/lint-codeql.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#16434 pkg/option: Fix default assignment of EnableWellKnownIdentities
  pkg/option/config.go
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/misc

#16554 ci: Disable NFS locking
  test/Vagrantfile
Labels: ready-to-merge, release-note/ci

#16486 test: Remove uptime reporting
  test/helpers/kubectl.go
  test/k8sT/Bandwidth.go
  test/k8sT/KafkaPolicies.go
  test/k8sT/Policies.go
  test/k8sT/Services.go
  test/k8sT/StressPolicy.go
  test/k8sT/fqdn.go
  test/k8sT/istio.go
  test/k8sT/l7_demos.go
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16523 vendor: Update go.universe.tf/metallb
  go.mod
  go.sum
  vendor/modules.txt
Labels: needs-backport/1.10, ready-to-merge, release-note/misc, sig/k8s, sig/loadbalancing

#16460 examples: add an example of a hubble-cli Deployment
  examples/hubble/hubble-cli.yaml
Labels: area/misc, backport/1.9, kind/backports, kind/enhancement, ready-to-merge, release-note/misc, sig/hubble

#16456 .github: Rename maintainer's little helper's config file
  .github/maintainers-little-helper.yaml
Labels: backport/1.9, kind/backports, ready-to-merge

#16411 test: Wait for kube-dns before starting test
  test/helpers/kubectl.go
  test/k8sT/fqdn.go
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16563 docs: Fix typo in BGP GSG
  Documentation/gettingstarted/bgp.rst
Labels: area/documentation, kind/bug, needs-backport/1.10, ready-to-merge, release-note/misc

#16455 .github: Rename maintainer's little helper's config file
  .github/maintainers-little-helper.yaml
Labels: backport/1.8, kind/backports, ready-to-merge

#16457 .github: Rename maintainer's little helper's config file
  .github/maintainers-little-helper.yaml
Labels: backport/1.10, kind/backports, ready-to-merge

#16458 .github: Rename maintainer's little helper's config file
  .github/maintainers-little-helper.yaml
Labels: ready-to-merge, release-note/misc, sig/contributing

#16540 test: Fix missing artifacts for tests with parentheses
  test/test_suite_test.go
Labels: area/CI, kind/bug/CI, ready-to-merge, release-note/ci

#16530 k8s: Fix logging
  pkg/k8s/watchers/pod.go
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/misc, sig/k8s

#16591 docs: rename maintainers team to cilium-maintainers
  Documentation/contributing/development/contributing_guide.rst
  Documentation/contributing/release/feature.rst
Labels: release-note/misc

#16556 .github/workflows: verify that each commit builds for test suite changes
  .github/workflows/lint-build-commits.yaml
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#15546 maps: switch maglev to cilium/ebpf package
  cilium/cmd/bpf_lb_maglev_get.go
  cilium/cmd/bpf_lb_maglev_list.go
  daemon/cmd/datapath.go
  pkg/ebpf/map.go
  pkg/maps/lbmap/maglev.go
  pkg/maps/lbmap/maglev_inner_map.go
  pkg/maps/lbmap/maglev_outer_map.go
  pkg/maps/lbmap/maglev_test.go
  pkg/maps/lbmap/zz_generated.deepcopy.go
Labels: ready-to-merge, release-note/misc, sig/datapath

#16596 pkg/kvstore: fix TestRunLocksGC unit test
  pkg/kvstore/allocator/allocator_test.go
Labels: release-note/misc

#16604 bpf: fix hw_csum issue for icmp probe packets
  bpf/lib/nat.h
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/misc, sig/datapath

#16557 ipsec: Fix logging of SPI after key rotations
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: area/encryption, kind/bug, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/bug

#16548 lrp: Skip clusterIP service restore in service delete callback
  pkg/redirectpolicy/manager.go
Labels: area/lrp, kind/bug, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/misc

#16529 policy: Make selectorcache callbacks lock-free
  pkg/policy/l4.go
  pkg/policy/resolve_deny_test.go
  pkg/policy/resolve_test.go
  pkg/policy/selectorcache.go
  pkg/policy/selectorcache_test.go
Labels: kind/bug, needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#16509 fix: missing update verb in hubble-generate-certs
  install/kubernetes/cilium/templates/hubble-generate-certs-clusterrole.yaml
Labels: area/helm, needs-backport/1.10, ready-to-merge, release-note/bug, sig/hubble

#16605 .github/workflows: install ginkgo for test suite build test
  .github/workflows/lint-build-commits.yaml
Labels: ready-to-merge, release-note/ci

#16577 docs: run GitHub action when Charts are touched to check Helm values ref
  .github/workflows/documentation.yaml
Labels: area/CI, area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16617 ci: Bump cilium-cli version
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: release-note/ci

#16611 daemon: Warn on disabling iptables
  daemon/cmd/daemon_main.go
Labels: ready-to-merge, release-note/misc

#16589 vagrant: Bump all Vagrant box versions
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/ci

#16643 Add Form3 to users
  USERS.md
Labels: release-note/misc

#16623 test: Update list of allowed level=error logs
  test/helpers/cons.go
Labels: area/CI, ready-to-merge, release-note/ci

#16621 images: Remove trailing newlines before computing SHA256
  images/scripts/get-image-digest.sh
Labels: area/build, needs-backport/1.10, ready-to-merge, release-note/misc

#16572 contrib: Identify upstream commits by author and date
  contrib/backporting/check-stable
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc, sig/contributing

#16650 Pick up cilium-cli v0.8.2
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: needs-backport/1.10, ready-to-merge, release-note/ci

#16627 test: Don't skip encapsulation tests on GKE
  test/k8sT/DatapathConfiguration.go
Labels: area/CI, ready-to-merge, release-note/ci

#16619 ci: use git status instead of git diff to check for a clean state
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, release-note/misc

#16113 .github: Test IPsec with high value for keyID
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
Labels: area/CI, area/encryption, ready-to-merge, release-note/ci

#16155 .github: Set commit status to error when workflow are cancelled
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#16600 Refactor logging package to split syslog functionality into separate file
  pkg/logging/logging.go
  pkg/logging/logging_nosyslog.go
  pkg/logging/logging_syslog.go
Labels: needs-backport/1.10, needs-backport/1.9, release-note/misc

#16651 tests: rework custom calls's `AfterEach`/`AfterAll` blocks to skip if needed
  test/k8sT/CustomCalls.go
Labels: area/CI, kind/bug/CI, needs-backport/1.10, ready-to-merge, release-note/misc

#16672 daemon, node: Fix faulty router IP restoration logic
  daemon/cmd/daemon.go
  pkg/node/address.go
  pkg/node/address_test.go
Labels: area/daemon, backport-pending/1.10, kind/regression, needs-backport/1.9, ready-to-merge, release-note/bug

#16675 [v1.10] daemon, node: Fix faulty router IP restoration logic
  daemon/cmd/daemon.go
  pkg/node/address.go
  pkg/node/address_test.go
Labels: backport/1.10, kind/backports

#16601 feat: generate tls certs for ui on helm install
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/_helpers.tpl
  install/kubernetes/cilium/templates/hubble-ui-client-tls-secret.yaml
  install/kubernetes/cilium/templates/hubble-ui-deployment.yaml
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, release-note/minor, sig/hubble

#16688 docs: deprecate native-routing-cidr from v1.10
  Documentation/operations/upgrade.rst
Labels: needs-backport/1.10, ready-to-merge, release-note/misc

#16642 v1.9: Update Go to 1.15.13
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.9, kind/backports, ready-to-merge, release-note/misc

#16660 .github: Fix image digest job printing
  .github/workflows/build-images-ci.yaml
Labels: ready-to-merge, release-note/misc

#16689 Pick up cilium-cli v0.8.3
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: ready-to-merge, release-note/ci

#16695 Revert "docs: deprecate native-routing-cidr from v1.10"
  Documentation/operations/upgrade.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#16698 test: Add klog lock error to allow-list
  test/helpers/cons.go
Labels: area/CI, ready-to-merge, release-note/ci

#16710 docs: update the version specific notes table
  Documentation/operations/upgrade.rst
Labels: area/documentation, backport-pending/1.10, backport-pending/1.9, ready-to-merge, release-note/misc
