Repository cilium/cilium, pull requests merged in 2021-01, with the labels that each got.

#14501 pkg/datapath: fix arp ping handling
  pkg/datapath/linux/node_linux_test.go
Labels: release-note/misc

#14508 Add missing requireIPv6PodCIDR setting
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: needs-backport/1.9, release-note/bug

#14500 Tag ENIs at creation time
  Documentation/concepts/networking/ipam/eni.rst
  Documentation/operations/upgrade.rst
  pkg/aws/ec2/ec2.go
  pkg/aws/eni/instances.go
  pkg/aws/eni/instances_test.go
  pkg/aws/eni/node.go
  pkg/aws/eni/node_manager_test.go
  pkg/ipam/allocator/aws/aws.go
Labels: area/eni, area/operator, integration/cloud, release-note/minor

#14522 cocinelle: update to python3
  .github/workflows/bpf-checks.yaml
  contrib/coccinelle/Dockerfile
  contrib/coccinelle/aligned.cocci
  contrib/coccinelle/const.cocci
  contrib/coccinelle/null.cocci
  contrib/coccinelle/tail_calls.cocci
Labels: area/misc, kind/enhancement, ready-to-merge, release-note/misc

#14527 add_vagrant_box.sh: Fix incorrect vagrant box updates
  test/packet/scripts/add_vagrant_box.sh
Labels: release-note/misc

#14515 docs: Add link from EKS mode to ec2 privileges
  Documentation/concepts/networking/ipam/eni.rst
  Documentation/gettingstarted/k8s-install-eks.rst
Labels: area/documentation, release-note/misc

#14517 docs: Add cgroups kernel config requirements
  Documentation/operations/system_requirements.rst
Labels: area/documentation, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#14492 Agent: Include Cilium version in output of 'cilium status --verbose'
  daemon/cmd/status.go
  pkg/client/client.go
Labels: area/cli, release-note/misc

#14535 test/helpers: Allow ssh.InsecureIgnoreHostKey in test code
  test/helpers/ssh_command.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#14453 v1.9 backport: node: Remove check whether nextHop is in same L2
  go.mod
  go.sum
  pkg/datapath/linux/node.go
  vendor/github.com/cilium/arping/arping.go
  vendor/modules.txt
Labels: backport/1.9, kind/backports, ready-to-merge

#14455 v1.8 backport: node: Remove check whether nextHop is in same L2
  go.mod
  go.sum
  pkg/datapath/linux/node.go
  vendor/github.com/cilium/arping/arping.go
  vendor/modules.txt
Labels: backport/1.8, kind/backports, ready-to-merge

#14531 v1.8: travis: Fix ineffassign version to avoid breaking change
  .travis/prepare.sh
  Vagrantfile
Labels: backport/1.8, kind/backports, ready-to-merge

#14519 Enable identity + cli + health e2e tests on EKS
  test/helpers/utils.go
  test/k8sT/Health.go
  test/k8sT/Identity.go
  test/k8sT/cli.go
Labels: ready-to-merge, release-note/ci

#14553 add_vagrant_box.sh: Fix download issue and update help message
  test/packet/scripts/add_vagrant_box.sh
Labels: area/misc, ready-to-merge, release-note/misc

#14544 test: Remove spammy "Cilium DaemonSet not ready yet" logs
  test/helpers/kubectl.go
Labels: area/CI, ready-to-merge, release-note/ci

#14518 Add startupProbe for Cilium-agent
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: area/helm, release-note/minor

#14514 ci: add CodeQL analysis
  .github/workflows/codeql-analysis.yml
Labels: ready-to-merge, release-note/ci

#14529 test: RuntimePolicies: Fix flake when validating logs
  test/runtime/Policies.go
Labels: area/CI, needs-backport/1.9, project/ci-force, ready-to-merge, release-note/ci

#14498 daemon, node: refresh neighbor by sending arping periodically
  daemon/cmd/daemon_main.go
  daemon/cmd/status.go
  pkg/datapath/fake/node.go
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
  pkg/datapath/node.go
  pkg/hubble/peer/handler.go
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
  pkg/rand/safe_rand.go
Labels: needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/minor

#14542 Check whether to setup proxy rules when init bpf
  bpf/init.sh
  pkg/datapath/loader/base.go
Labels: ready-to-merge, release-note/misc

#14525 ipsec: Fatal on unsupported, <4.19 kernels in tunneling mode
  Documentation/operations/system_requirements.rst
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/ipsec/probe_linux.go
Labels: area/encryption, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/minor

#14575 CI: fix cron values for CodeQL analysis
  .github/workflows/codeql-analysis.yml
Labels: area/CI, release-note/misc

#14506 test: Allow test VMs have swap
  test/provision/k8s_install.sh
Labels: area/CI, release-note/misc

#14559 Vagrantfile: Add support for SHARE_PARENT=2
  Vagrantfile
  test/Vagrantfile
Labels: area/CI, ready-to-merge, release-note/misc

#14574 v1.8 backports: daemon, node: refresh neighbor by sending arping periodically
  daemon/cmd/daemon_main.go
  daemon/cmd/status.go
  pkg/datapath/fake/node.go
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
  pkg/datapath/node.go
  pkg/hubble/peer/handler.go
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
  pkg/rand/safe_rand.go
Labels: backport/1.8, kind/backports, ready-to-merge

#14536 pkg/rate: Make parsing of positive values more strict
  pkg/rate/api_limiter.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#14571 Add TagSpecifications to ec2:CreateNetworkInterface only when len > 0
  pkg/aws/ec2/ec2.go
Labels: pending-review, release-note/misc

#14578 backport 1.9: daemon, node: refresh neighbor by sending arping periodically
  daemon/cmd/daemon_main.go
  daemon/cmd/status.go
  pkg/datapath/fake/node.go
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
  pkg/datapath/node.go
  pkg/hubble/peer/handler.go
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
  pkg/rand/safe_rand.go
Labels: backport/1.9, kind/backports, ready-to-merge

#14561 Fix integer conversions
  cilium/cmd/bpf_lb_maglev_get.go
  cilium/cmd/bpf_metrics_list.go
  cilium/cmd/helpers.go
  cilium/cmd/policy_trace.go
  daemon/cmd/fqdn.go
  pkg/common/utils.go
  pkg/datapath/iptables/iptables.go
  pkg/monitor/format/flags.go
  pkg/node/address.go
  proxylib/testparsers/blockparser.go
Labels: release-note/misc

#14565 clustermesh: Ignore symlink files on fsnotify events
  pkg/clustermesh/config.go
Labels: area/clustermesh, kind/bug, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#14568 Bugtool: add taskset
  bugtool/cmd/configuration.go
Labels: release-note/misc

#14583 jenkinsfile: Increase timeout for k8s-all tests
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
Labels: area/CI, ready-to-merge, release-note/ci

#14586 v1.8-backport-2021-01-11
  Documentation/operations/system_requirements.rst
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/ipsec/probe_linux.go
Labels: backport/1.8, kind/backports, ready-to-merge

#14600 vagrant: bump bpf-next vagrant box version
  vagrant_box_defaults.rb
Labels: area/misc, pending-review, release-note/misc

#14516 Pr/jrajahalme/remove cidr fix
  pkg/ip/ip.go
  pkg/ip/ip_test.go
  pkg/policy/api/cidr.go
Labels: kind/bug, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, release-note/bug, sig/policy

#14576 ci: check if gke cluster has a nodepool before reserving it
  test/gke/select-cluster.sh
Labels: needs-backport/1.9, ready-to-merge, release-note/ci

#14580 docs: Clarify that empty endpoint selectors implictly limit to namespace
  Documentation/policy/language.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#14603 CODEOWNERS: Add pkg/maglev to @cilium/loadbalancer
  CODEOWNERS
Labels: area/misc, pending-review, release-note/misc

#14591 pkg/node: fix concurrent access of entry node
  pkg/node/manager/manager.go
Labels: kind/bug, kind/bug/race-detector, needs-backport/1.8, needs-backport/1.9, release-note/misc

#14554 operator: release leader lease lock on operator exit
  operator/api/server.go
  operator/main.go
Labels: area/operator, needs-backport/1.9, release-note/bug

#14597 maglev: Parallelize calculation of permutations
  pkg/maglev/maglev.go
  pkg/maglev/maglev_test.go
Labels: kind/performance, ready-to-merge, release-note/minor, sig/loadbalancing

#14605 Added Tailor Brands to users
  USERS.md
Labels: release-note/misc

#14589 Observer to ignore unhandled debug event types
  pkg/hubble/observer/local_observer.go
Labels: release-note/misc, sig/hubble

#14560 envoy: Update proxylib interface
  Dockerfile
Labels: area/proxy, release-note/misc

#14555 Helm: Add option to enable k8s events handover.
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/helm, release-note/misc

#14612 ci: only run Nightly workflows on cilium/cilium
  .github/workflows/nightly.yaml
Labels: area/CI, kind/cleanup, priority/low, ready-to-merge, release-note/misc

#14616 nodeinit: use azure0 presence as a condition for flushing ebtables & neigh
  install/kubernetes/cilium/templates/cilium-nodeinit-daemonset.yaml
Labels: needs-backport/1.9, release-note/bug

#14524 jenkinsfile: Allow enabling host firewall in k8s-all CI
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
Labels: area/CI, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#14601 arp: Add retries to arping
  pkg/datapath/linux/arp/ping.go
  pkg/datapath/linux/node_linux_test.go
Labels: area/daemon, pending-review, release-note/minor, sig/loadbalancing

#14594 datapath: Do not use proxy original source address with tunneling
  pkg/datapath/iptables/iptables.go
Labels: area/proxy, ready-to-merge, release-note/minor, sig/datapath

#14592 Documentation: Update list of Jenkins jobs
  Documentation/contributing/testing/ci.rst
Labels: area/CI, area/documentation, ready-to-merge, release-note/misc

#14624 docs: AKS - remove azure0 from CNI chaining config
  Documentation/gettingstarted/k8s-install-azure-cni-steps.rst
Labels: kind/cleanup, needs-backport/1.9, release-note/misc

#14556 hubble/filter: filters based on ip version
  api/v1/flow/flow.pb.go
  api/v1/flow/flow.proto
  pkg/hubble/filters/filters.go
  pkg/hubble/filters/ip.go
  pkg/hubble/filters/ip_test.go
Labels: ready-to-merge, release-note/minor

#14623 pkg/kvstore: fix panic when closing etcd connections on error
  pkg/kvstore/etcd.go
Labels: kind/bug, needs-backport/1.8, needs-backport/1.9, release-note/bug

#14627 [v1.8] daemon: Avoid blocking datapath on node discovery
  daemon/cmd/datapath.go
  pkg/nodediscovery/nodediscovery.go
Labels: area/daemon, backport/1.8, kind/backports, kind/bug, release-note/misc, sig/kvstore

#14645 cilium-cni: Fix error handling for bad netns
  plugins/cilium-cni/cilium-cni.go
Labels: area/cni, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#14636 backport 1.8: vendor: Bump github.com/cilium/arping
  go.mod
  go.sum
  vendor/github.com/cilium/arping/arping.go
  vendor/modules.txt
Labels: backport/1.8, kind/backports

#14629 [v1.9] daemon: Avoid blocking datapath on node discovery
  daemon/cmd/datapath.go
  pkg/nodediscovery/nodediscovery.go
Labels: area/daemon, backport/1.9, kind/backports, kind/bug, priority/release-blocker, release-note/misc, sig/kvstore

#14651 arp: Set deadline for each retry
  pkg/datapath/linux/arp/ping.go
Labels: area/daemon, kind/bug, pending-review, release-note/misc, sig/loadbalancing

#14647 docs: fix typo
  Documentation/concepts/networking/ipam/cluster-pool.rst
Labels: release-note/misc

#14626 helm: set dnsPolicy based on etcd.k8sService
  Documentation/concepts/kubernetes/requirements.rst
  Documentation/gettingstarted/k8s-install-etcd-operator.rst
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
Labels: area/helm, needs-backport/1.8, needs-backport/1.9, release-note/misc

#14632 vagrant: bump all box versions
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/misc

#14637 backport 1.9: vendor: Bump github.com/cilium/arping
  go.mod
  go.sum
  vendor/github.com/cilium/arping/arping.go
  vendor/modules.txt
Labels: backport/1.9, kind/backports

#14664 .gitignore: add .vscode/ directory
  .gitignore
Labels: area/misc, release-note/misc

#14633 ci: only run CodeQL analysis on cilium/cilium
  .github/workflows/codeql-analysis.yml
Labels: area/CI, release-note/misc

#14666 Prepare for release v1.9.2
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.9, kind/release

#14671 Update stable releases
  README.rst
Labels: release-note/misc

#14667 v1.8: Update Go to 1.14.14
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  test/docker-compose.yml
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.8, kind/backports, ready-to-merge, release-note/misc

#14682 doc: Add K8S flag to the example to add worker nodes
  Documentation/contributing/development/dev_setup.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#14663 test/helpers: fix GetBPFPacketsCount
  test/helpers/wrappers.go
  test/k8sT/Services.go
Labels: ready-to-merge, release-note/ci

#14670 daemon: Avoid blocking datapath on node discovery
  daemon/cmd/datapath.go
  pkg/nodediscovery/nodediscovery.go
Labels: area/daemon, kind/bug, ready-to-merge, release-note/misc, sig/kvstore

#14611 cilium: Send pod->node traffic through tunnel in IPSec+vxlan case
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
  pkg/option/config.go
  pkg/option/fake/config.go
Labels: area/encryption, kind/bug, ready-to-merge, release-note/bug

#14540 ensure pods roll when configmap is updated, better support for gitops
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver-deployment.yaml
  install/kubernetes/cilium/templates/hubble-relay-deployment.yaml
  install/kubernetes/cilium/templates/hubble-ui-deployment.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
Labels: needs-backport/1.9, ready-to-merge, release-note/minor

#14685 [v1.9] .github: update v1.9 cilium-actions project number
  .github/cilium-actions.yml
Labels: backport/1.9, kind/backports, release-note/misc

#14684 contrib/release: clarify project number for release process
  contrib/release/start-release.sh
Labels: needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, release-note/misc

#14683 .github: update v1.9 cilium-actions project number
  .github/cilium-actions.yml
Labels: release-note/misc

#14679 pkg/node: Skip setting MTU on local node routes
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
  pkg/datapath/linux/node_test.go
Labels: backport-pending/1.7, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug

#14687 [backport 1.7] pkg/node: Skip setting MTU on local node routes
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
  pkg/datapath/linux/node_test.go
Labels: backport/1.7, kind/backports, ready-to-merge

#14649 bpf: Send packet drop notify for LB DSR mode failures.
  bpf/lib/nodeport.h
Labels: area/monitor, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc, sig/loadbalancing

#14686 add_vagrant_box.sh: remove downloaded files after installing a VM image
  test/packet/scripts/add_vagrant_box.sh
Labels: area/misc, ready-to-merge, release-note/misc

#14689 bpf: Correctly use revalidate_data_pull() in do_decrypt()
  bpf/lib/encrypt.h
Labels: area/encryption, kind/bug, kind/regression, needs-backport/1.9, release-note/bug

#14677 hubble: parser: Set Encrypted bit correctly
  pkg/hubble/parser/threefour/parser.go
  pkg/hubble/parser/threefour/parser_test.go
Labels: kind/bug, needs-backport/1.8, needs-backport/1.9, release-note/bug, sig/hubble

#14702 Prepare for release v1.9.3
  .github/cilium-actions.yml
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.9, kind/release

#14697 Added ArangoDB Oasis to USERS list
  USERS.md
Labels: release-note/misc

#14621 istio: Update to 1.7.6
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
Labels: area/proxy, backport-done/1.9, kind/enhancement, release-note/minor

#14706 Update stable releases
  .github/cilium-actions.yml
  README.rst
Labels: release-note/misc

#14703 .github: change step order
  .github/ISSUE_TEMPLATE/release_template.md
Labels: release-note/misc

#14662 Update Go to 1.15.7
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, release-note/misc

#14370 endpoint: Enhance policy map sync
  pkg/endpoint/bpf.go
  pkg/maps/policymap/policymap.go
  pkg/maps/policymap/policymap_privileged_test.go
  pkg/policy/mapstate.go
Labels: kind/bug, release-note/misc, sig/policy

#14208 Docker: Multi-arch & cross-compile build with docker buildx
  Dockerfile
  Dockerfile.builder
  Documentation/contributing/development/images.rst
  Documentation/spelling_wordlist.txt
  Makefile
  Makefile.buildkit
  Makefile.defs
  Makefile.docker
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
Labels: release-note/misc

#14673 docs: Add section in external etcd about identity-allocation-mode
  Documentation/gettingstarted/k8s-install-etcd-operator.rst
  Documentation/gettingstarted/k8s-install-external-etcd.rst
Labels: area/documentation, needs-backport/1.9, release-note/misc

#14694 ci: Add initial dependabot configuration
  .github/dependabot.yml
Labels: area/CI, release-note/misc

#14699 test: Fix kube-proxy service tests when running with socket-level LB
  test/helpers/utils.go
  test/k8sT/Services.go
Labels: area/CI, ready-to-merge, release-note/ci

#14700 .github, bpf: Update reference to cilium-checkpatch image
  .github/workflows/bpf-checks.yaml
  bpf/Makefile.bpf
Labels: area/CI, ready-to-merge, release-note/ci, sig/contributing

#14704 istio: Update to 1.8.2
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
Labels: area/proxy, kind/enhancement, release-note/minor

#14202 Add fuzzer with OSS-fuzz build script
  test/fuzzing/fuzz.go
  test/fuzzing/oss-fuzz-build.sh
Labels: release-note/misc

#14717 dependabot: Fix labels
  .github/dependabot.yml
Labels: release-note/misc

#14114 labelsfilter: add reserved labels to default identity label list
  Documentation/operations/scalability/identity-relevant-labels.rst
  pkg/endpointmanager/manager.go
  pkg/labelsfilter/filter.go
Labels: release-note/bug

#14714 make: Use buildkit for docker targets by default
  Documentation/Makefile
  Makefile
  Makefile.buildkit
  test/make-images-push-to-local-registry.sh
  test/provision/compile.sh
  test/provision/externalworkload_install.sh
Labels: area/build, release-note/misc

#14727 v1.7 backports 2021-01-25
  contrib/release/start-release.sh
Labels: backport/1.7, kind/backports, ready-to-merge

#14734 backport 1.8: vendor: Bump github.com/cilium/arping to fix correlation bug
  go.mod
  go.sum
  vendor/github.com/cilium/arping/arp_datagram.go
  vendor/modules.txt
Labels: backport/1.8, kind/backports, ready-to-merge

#14695 test: Respect cilium.holdEnvironment on DNS check
  test/helpers/kubectl.go
Labels: area/CI, ready-to-merge, release-note/ci

#14737 bpf: do not enable host routing when kpr is disabled
  daemon/cmd/kube_proxy_replacement.go
Labels: needs-backport/1.9, release-note/misc, sig/datapath

#14735 docs: Rename priority/release-blocker to release-blocker/1.X
  .github/ISSUE_TEMPLATE/release_template.md
  Documentation/contributing/development/contributing_guide.rst
Labels: area/documentation, ready-to-merge, release-note/misc, sig/contributing

#14730 bpf: Send packet drop notify for ipv6 lb nat mode failures.
  bpf/lib/nodeport.h
Labels: area/monitor, release-note/misc, sig/datapath

#14757 Dockerfile: Bump cilium-runtime image
  Dockerfile
Labels: backport/1.7, kind/backports, release-note/misc

#14762 Prepare for release v1.7.13
  .github/cilium-actions.yml
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.7, kind/backports, kind/release

#14718 Bump alpine base image to 3.13.0
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/coccinelle/Dockerfile
  hubble-relay.Dockerfile
  images/hubble-proto/Dockerfile
  test/helpers/constants/images.go
Labels: ready-to-merge, release-note/misc

#14741 health: Disable routing in BPF when per-endpoint routes are enabled
  cilium-health/launch/endpoint.go
Labels: area/health, area/loader, ready-to-merge, release-note/misc, sig/datapath

#14752 vendor: Update sigs.k8s.io/structured-merge-diff/v4
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/reflectcache.go
Labels: area/misc, ready-to-merge, release-note/misc

#14758 Doc: Add note to open tcp:4244 for Hubble Relay
  Documentation/gettingstarted/hubble-enable.rst
Labels: ready-to-merge, release-note/misc

#14763 Update stable releases
  .github/cilium-actions.yml
  README.rst
Labels: ready-to-merge, release-note/misc

#14742 datapath/linux: Fix clang version regex check
  pkg/datapath/linux/requirements.go
Labels: area/misc, kind/bug, ready-to-merge, release-note/misc, sig/datapath

#14759 docker: Pre-pull images correctly
  Makefile.buildkit
Labels: area/build, ready-to-merge, release-note/misc

#14773 ci/dependabot: fix labels
  .github/dependabot.yml
Labels: area/CI, release-note/misc

#14607 daemon, lbmap: Avoid premature initialization of BPF maps
  cilium/cmd/bpf_lb_list.go
  daemon/cmd/daemon.go
  pkg/maps/lbmap/affinity.go
  pkg/maps/lbmap/ipv4.go
  pkg/maps/lbmap/ipv6.go
  pkg/maps/lbmap/lbmap.go
  pkg/maps/lbmap/source_range.go
Labels: area/daemon, kind/bug, needs-backport/1.9, release-note/bug, sig/datapath, sig/loadbalancing

#14707 contrib: Add script to fetch docker manifests
  .github/ISSUE_TEMPLATE/release_template.md
  Documentation/contributing/release/stable.rst
  contrib/release/pull-docker-manifests.sh
Labels: release-note/misc

#14777 [v1.7] release: Fix script to check presence of docker images
  contrib/release/check-docker-images.sh
  install/kubernetes/Makefile
Labels: backport/1.7, kind/backports, release-note/misc

#14779 [v1.8] release: Fix script to check presence of docker images
  contrib/release/check-docker-images.sh
  install/kubernetes/Makefile
Labels: backport/1.8, kind/backports, release-note/misc

#14713 Agent: consistent 'containerID' field in the log of the requests EP-delete and EP-create
  daemon/cmd/endpoint.go
Labels: ready-to-merge, release-note/minor

#14778 install/kubernetes: set k8s min version manually
  install/kubernetes/Makefile
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-etcd-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-nodeinit-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-operator-clusterrole.yaml
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
Labels: release-note/misc

#14781 v1.7 backports 2021-01-28
  Documentation/contributing/release/stable.rst
  contrib/release/pull-docker-manifests.sh
Labels: backport/1.7, kind/backports, ready-to-merge

#14780 [v1.9] release: Fix script to check presence of docker images
  install/kubernetes/Makefile
Labels: backport/1.9, kind/backports, release-note/misc

#14733 backport 1.9: vendor: Bump github.com/cilium/arping to fix correlation bug
  go.mod
  go.sum
  vendor/github.com/cilium/arping/arp_datagram.go
  vendor/modules.txt
Labels: backport/1.9, kind/backports, ready-to-merge

#14789 crypto/certloader: fix tests comparing crypto/x509.CertPool for Go 1.16
  pkg/crypto/certloader/client_test.go
  pkg/crypto/certloader/reloader_test.go
  pkg/crypto/certloader/server_test.go
  pkg/crypto/certloader/watcher_test.go
Labels: ready-to-merge, release-note/misc

#14665 v1.9: Update Go to 1.15.7
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/docker-compose.yml
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.9, kind/backports, release-note/misc

#14719 doc: Update AUTHORS file
  .mailmap
  AUTHORS
Labels: area/documentation, release-note/misc

#14721 datapath: remove SNAT maps entries when kube-proxy is enabled
  pkg/datapath/maps/map.go
Labels: release-note/misc, sig/datapath

#14747 Add labels to scrape cilium agent and operator metrics
  install/kubernetes/cilium/templates/cilium-agent-servicemonitor.yaml
  install/kubernetes/cilium/templates/cilium-operator-servicemonitor.yaml
Labels: release-note/minor

#14760 Clarify description of IPSec configuration format and encryption options
  Documentation/gettingstarted/encryption.rst
Labels: area/documentation, area/encryption, ready-to-merge, release-note/misc

#14790 dependabot: ignore grpc and miekg/dns updates
  .github/dependabot.yml
Labels: ready-to-merge, release-note/misc

#14795 all: bump Alpine base image to 3.13.1 and add meta image SHA256 sum
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/coccinelle/Dockerfile
  hubble-relay.Dockerfile
  images/hubble-proto/Dockerfile
  test/helpers/constants/images.go
Labels: release-note/misc

#14804 allocator: Quieten local key allocation logging
  pkg/allocator/allocator.go
Labels: release-note/misc
