Repository cilium/cilium, pull requests merged in 2021-11, with the labels that each got.

#17756 docs: Use git+https in requirements.txt
  Documentation/requirements.txt
Labels: release-note/misc, needs-backport/1.9, needs-backport/1.10

#17695 option: Rename egress gateway flag to `enable-ipv4-egress-gateway`
  Documentation/cmdref/cilium-agent.md
  Documentation/gettingstarted/egress-gateway.rst
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/kube_proxy_replacement.go
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  pkg/datapath/linux/config/config.go
  pkg/datapath/loader/base.go
  pkg/k8s/synced/crd.go
  pkg/k8s/watchers/cilium_endpoint.go
  pkg/option/config.go
Labels: area/documentation, release-note/minor, ready-to-merge, upgrade-impact, feature/egress-gateway

#17739 Pinned docker images using SHA
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/tests-nightly.yaml
Labels: area/CI-improvement, release-note/ci

#17721 mlh: update Jenkins jobs following 1.22 support
  .github/maintainers-little-helper.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci

#17722 docs: add K8s 1.22 compatibility
  Documentation/concepts/kubernetes/compatibility.rst
  Documentation/concepts/kubernetes/requirements.rst
  Documentation/contributing/testing/e2e.rst
  Documentation/gettingstarted/istio.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#17755 Adds a warning in the upgrade doc about split cluster
  Documentation/operations/upgrade.rst
Labels: release-note/misc, needs-backport/1.10

#17595 datapath: Pass proxy port in to-proxy traces
  bpf/bpf_lxc.c
  pkg/monitor/datapath_trace.go
Labels: kind/enhancement, sig/datapath, release-note/misc

#17772 operator: Hidden flags for egress gateway and LRPs
  operator/flags.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/operator, area/lrp, needs-backport/1.10, feature/egress-gateway

#17765 operator: remove deprecated Azure cloud name flag
  Documentation/operations/upgrade.rst
  operator/option/config.go
  operator/provider_azure_flags.go
  pkg/ipam/allocator/azure/azure.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, area/azure

#17763 typo(rename): v4ClusterCIDR -> clusterCIDR
  pkg/ipam/allocator/podcidr/podcidr.go
Labels: ready-to-merge, release-note/misc

#17760 docs: fix a block directive in OpenShift GSG
  Documentation/check-build.sh
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.10

#17726 docs: Docker version requirement for external workloads
  Documentation/gettingstarted/external-workloads.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#16935 L7 Visibility Annotations for proxylib parsers
  pkg/endpoint/policy.go
  pkg/endpoint/proxy.go
  pkg/endpoint/redirect_test.go
  pkg/endpointmanager/manager_test.go
  pkg/envoy/server.go
  pkg/envoy/server_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/proxy/proxy.go
Labels: release-note/minor, ready-to-merge

#17785 dependabot: set pull-request limit to 5
  .github/dependabot.yml
Labels: release-note/misc

#17774 CODEOWNERS: Assign egress gateway code to @cilium/bpf
  CODEOWNERS
Labels: ready-to-merge, release-note/misc, sig/contributing, feature/egress-gateway

#17769 test: Do not require netpols in 'waitNextPolicyRevisions()'
  test/helpers/kubectl.go
Labels: area/CI, ready-to-merge, release-note/ci, ci/flake, needs-backport/1.8, needs-backport/1.9, needs-backport/1.10

#17778 k8s/watchers: Add missing v1 EndpointSlice group on init
  pkg/k8s/watchers/watcher.go
Labels: sig/k8s, ready-to-merge, release-note/misc

#17709 ipvlan: Avoid spammy dmesg info messages
  pkg/datapath/connector/ipvlan.go
  pkg/datapath/loader/netlink.go
Labels: sig/datapath, ready-to-merge, release-note/misc

#17794 make: merge Go update targets
  Makefile
Labels: kind/cleanup, ready-to-merge, release-note/misc

#17746 v1.10 backport of "Allowed to set labels to ServiceMonitors"
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent-servicemonitor.yaml
  install/kubernetes/cilium/templates/cilium-operator-servicemonitor.yaml
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, backport/1.10

#16840 node-init: remove aws iptables rules in eni mode
  install/kubernetes/cilium/files/nodeinit/poststart.bash
  install/kubernetes/cilium/templates/cilium-nodeinit/daemonset.yaml
Labels: kind/bug, release-note/bug, ready-to-merge, area/eni, needs-backport/1.9, needs-backport/1.10

#17698 Enable CiliumEndpointSlice feature testing on Kuberneres version 1.21
  test/helpers/kubectl.go
  test/helpers/utils.go
Labels: ready-to-merge, area/CI-improvement, release-note/ci

#17801 v1.9: Update Cilium base images
  .travis.yml
  Dockerfile
  Dockerfile.builder
  cilium-dev.Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
Labels: kind/backports, release-note/misc, backport/1.9

#17800 v1.8: Update Cilium base images
  Dockerfile
  Dockerfile.builder
  cilium-dev.Dockerfile
Labels: kind/backports, release-note/misc, backport/1.8

#17804 Prepare for release v1.8.13
  .github/maintainers-little-helper.yaml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/agent/values.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/charts/hubble-ui/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/operator/values.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/charts/preflight/values.yaml
  install/kubernetes/cilium/charts/prometheus-crd/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, kind/release, backport/1.8

#17805 Prepare for release v1.9.11
  .github/maintainers-little-helper.yaml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, kind/release, backport/1.9

#17806 install: Update image digests for v1.8.13
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/charts/agent/values.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/charts/operator/values.yaml
  install/kubernetes/cilium/charts/preflight/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, backport/1.8

#17807 install: Update image digests for v1.9.11
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, backport/1.9

#17757 install/kubernetes/cilium: reference stable docs for eBPF maps
  install/kubernetes/cilium/values.yaml
Labels: area/documentation, release-note/misc, needs-backport/1.10

#17025 docs: add clustermesh-apiserver description
  clustermesh-apiserver/README.md
Labels: area/documentation, ready-to-merge, release-note/misc

#17808 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
Labels: release-note/misc

#17812 .github: Increase reporting threshold for new flakes
  .github/maintainers-little-helper.yaml
Labels: area/CI, release-note/misc, needs-backport/1.8, needs-backport/1.9, needs-backport/1.10

#17822 docs: Reword sentence on WireGuard limitation
  Documentation/gettingstarted/encryption-wireguard.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.10

#17830 docs: Update iproute2 requirements
  Documentation/operations/system_requirements.rst
Labels: area/documentation, release-note/misc, release-blocker/1.11

#17814 bpf: use ctx_redirect{,_peer}() instead of redirect{,_peer}()
  bpf/bpf_host.c
  bpf/bpf_lxc.c
  bpf/bpf_overlay.c
  bpf/include/bpf/ctx/skb.h
  bpf/include/bpf/ctx/xdp.h
  bpf/lib/common.h
  bpf/lib/encap.h
  bpf/lib/encrypt.h
  bpf/lib/fib.h
  bpf/lib/nodeport.h
  bpf/lib/overloadable_skb.h
  bpf/lib/proxy_hairpin.h
Labels: sig/datapath, ready-to-merge, release-note/misc, kind/tech-debt

#16430 Use k8snodestore to perform node status GC of CCNP and CNP
  operator/k8s_node.go
  operator/main.go
Labels: ready-to-merge, release-note/misc

#17792 Update Go to 1.17.3
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, release-note/misc

#17793 v1.10: Update Go to 1.16.10
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.10

#17585 Adds an `ACCEPT` rule for untracked pkts in `filter:CILIUM_OUTPUT`
  pkg/datapath/iptables/iptables.go
Labels: sig/datapath, release-note/bug, ready-to-merge, area/lrp, needs-backport/1.10

#17834 ci: update cilium-cli to v0.9.3
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads.yml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#17846 helm: Fix hubble-ui clusterrole guard
  install/kubernetes/cilium/templates/hubble-ui/clusterrole.yaml
Labels: kind/bug, ready-to-merge, release-note/misc, area/helm, release-blocker/1.11

#17847 docs: Mention about KubeVirt in KPR docs
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.10

#17855 Adds Northflank as a user
  USERS.md
Labels: release-note/misc

#17836 nodediscovery: Fix local host identity propagation
  pkg/nodediscovery/nodediscovery.go
Labels: release-note/bug, needs-backport/1.9, needs-backport/1.10

#17658 Enable CiliumEndpointSlice feature
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  Makefile
  api/v1/models/named_ports.go
  api/v1/models/zz_generated.deepcopy.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/clusterrole.yaml
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/templates/cilium-operator/clusterrole.yaml
  install/kubernetes/cilium/templates/cilium-preflight/clusterrole.yaml
  install/kubernetes/cilium/values.yaml
  operator/flags.go
  operator/main.go
  operator/metrics/metrics.go
  operator/option/config.go
  operator/pkg/ciliumendpointslice/ceptocesmap.go
  operator/pkg/ciliumendpointslice/ceptocesmap_test.go
  operator/pkg/ciliumendpointslice/endpointslice.go
  operator/pkg/ciliumendpointslice/manager.go
  operator/pkg/ciliumendpointslice/manager_test.go
  operator/pkg/ciliumendpointslice/reconciler.go
  operator/pkg/ciliumendpointslice/reconciler_test.go
  operator/watchers/cilium_endpoint.go
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumendpointslices.yaml
  pkg/k8s/apis/cilium.io/client/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/types.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepequal.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/cilium.io_client.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/ciliumendpointslice.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/fake/fake_cilium.io_client.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/fake/fake_ciliumendpointslice.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/generated_expansion.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2alpha1/ciliumendpointslice.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2alpha1/interface.go
  pkg/k8s/client/informers/externalversions/generic.go
  pkg/k8s/client/listers/cilium.io/v2alpha1/ciliumendpointslice.go
  pkg/k8s/client/listers/cilium.io/v2alpha1/expansion_generated.go
  pkg/k8s/factory_functions.go
  pkg/k8s/synced/crd.go
  pkg/k8s/watchers/cilium_endpoint_slice.go
  pkg/k8s/watchers/cilium_endpoint_slice_subscriber.go
  pkg/k8s/watchers/subscriber/ces.go
  pkg/k8s/watchers/watcher.go
  pkg/logging/logfields/logfields.go
  pkg/metrics/metrics.go
  pkg/option/config.go
Labels: release-note/major

#17840 bpf: avoid encrypt_key map lookup if IPsec is disabled
  bpf/bpf_lxc.c
  bpf/lib/l3.h
Labels: sig/datapath, ready-to-merge, area/encryption, release-note/misc

#17862 neigh: add runtime test for changing next hop address
  pkg/datapath/linux/node_linux_test.go
Labels: area/CI, sig/datapath, release-note/misc

#17430 Adds concept documentation for CiliumEndpointSlice
  Documentation/concepts/kubernetes/ciliumendpointslice.rst
  Documentation/concepts/kubernetes/index.rst
  Documentation/gettingstarted/ciliumendpointslice.rst
  Documentation/gettingstarted/index.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, release-note/misc

#17860 bpf: remove accidentally committed cilium-map-migrate binary
  bpf/cilium-map-migrate
Labels: kind/cleanup, ready-to-merge, release-note/misc

#17798 v1.8 backports 2021-11-05
  test/helpers/kubectl.go
Labels: ready-to-merge, kind/backports, backport/1.8

#17733 ci: update CI Vagrant VM IP addresses
  Documentation/concepts/security/proxy/envoy.rst
  Documentation/gettingstarted/egress-gateway.rst
  Documentation/gettingstarted/encryption-wireguard.rst
  Documentation/gettingstarted/host-firewall.rst
  Documentation/gettingstarted/ipam-cluster-pool.rst
  Documentation/gettingstarted/ipam-crd.rst
  Documentation/gettingstarted/local-redirect-policy.rst
  Documentation/operations/troubleshooting.rst
  Documentation/operations/upgrade.rst
  Vagrantfile
  clustermesh-apiserver/tls.rst
  contrib/vagrant/nftables.rules
  contrib/vagrant/scripts/helpers.bash
  contrib/vagrant/start.sh
  examples/kubernetes-egress-gateway/egress-ip-deployment.yaml
  examples/kubernetes-egress-gateway/egress-nat-policy.yaml
  examples/policies/host/lock-down-dev-vms-cidr-node.yaml
  pkg/hubble/parser/threefour/parser_test.go
  pkg/maps/ctmap/ctmap_privileged_test.go
  pkg/node/address_test.go
  pkg/wireguard/agent/agent_test.go
  test/Vagrantfile
  test/k8sT/manifests/ccnp-host-ingress-from-cidr-to-ports.yaml
  test/k8sT/manifests/ccnp-host-policy-nodeport-tests.yaml
  test/k8sT/manifests/cnp-ingress-from-cidr-to-ports.yaml
  test/k8sT/manifests/externalIPs/README.md
  test/k8sT/manifests/externalIPs/matrix.bash
  test/k8sT/manifests/externalIPs/node_to_node.go
  test/k8sT/manifests/externalIPs/other_node_to_node.go
  test/k8sT/manifests/externalIPs/pod_other_node_to_node.go
  test/k8sT/manifests/externalIPs/pod_to_node.go
  test/k8sT/manifests/externalIPs/svcs/svc-a-external-ips.yaml
  test/k8sT/manifests/externalIPs/svcs/svc-b-external-ips.yaml
  test/kubernetes-test.sh
  test/provision/externalworkload_install.sh
  test/provision/k8s_install.sh
  tools/dev-doctor/rootcmd.go
Labels: area/CI, release-note/ci

#17898 Revert "ci: update CI Vagrant VM IP addresses"
  Documentation/concepts/security/proxy/envoy.rst
  Documentation/gettingstarted/egress-gateway.rst
  Documentation/gettingstarted/encryption-wireguard.rst
  Documentation/gettingstarted/host-firewall.rst
  Documentation/gettingstarted/ipam-cluster-pool.rst
  Documentation/gettingstarted/ipam-crd.rst
  Documentation/gettingstarted/local-redirect-policy.rst
  Documentation/operations/troubleshooting.rst
  Documentation/operations/upgrade.rst
  Vagrantfile
  clustermesh-apiserver/tls.rst
  contrib/vagrant/nftables.rules
  contrib/vagrant/scripts/helpers.bash
  contrib/vagrant/start.sh
  examples/kubernetes-egress-gateway/egress-ip-deployment.yaml
  examples/kubernetes-egress-gateway/egress-nat-policy.yaml
  examples/policies/host/lock-down-dev-vms-cidr-node.yaml
  pkg/hubble/parser/threefour/parser_test.go
  pkg/maps/ctmap/ctmap_privileged_test.go
  pkg/node/address_test.go
  pkg/wireguard/agent/agent_test.go
  test/Vagrantfile
  test/k8sT/manifests/ccnp-host-ingress-from-cidr-to-ports.yaml
  test/k8sT/manifests/ccnp-host-policy-nodeport-tests.yaml
  test/k8sT/manifests/cnp-ingress-from-cidr-to-ports.yaml
  test/k8sT/manifests/externalIPs/README.md
  test/k8sT/manifests/externalIPs/matrix.bash
  test/k8sT/manifests/externalIPs/node_to_node.go
  test/k8sT/manifests/externalIPs/other_node_to_node.go
  test/k8sT/manifests/externalIPs/pod_other_node_to_node.go
  test/k8sT/manifests/externalIPs/pod_to_node.go
  test/k8sT/manifests/externalIPs/svcs/svc-a-external-ips.yaml
  test/k8sT/manifests/externalIPs/svcs/svc-b-external-ips.yaml
  test/kubernetes-test.sh
  test/provision/externalworkload_install.sh
  test/provision/k8s_install.sh
  tools/dev-doctor/rootcmd.go
Labels: release-note/ci

#17900 ci: update CI Vagrant VM IP addresses
  Documentation/concepts/security/proxy/envoy.rst
  Documentation/gettingstarted/egress-gateway.rst
  Documentation/gettingstarted/encryption-wireguard.rst
  Documentation/gettingstarted/host-firewall.rst
  Documentation/gettingstarted/ipam-cluster-pool.rst
  Documentation/gettingstarted/ipam-crd.rst
  Documentation/gettingstarted/local-redirect-policy.rst
  Documentation/operations/troubleshooting.rst
  Documentation/operations/upgrade.rst
  Vagrantfile
  clustermesh-apiserver/tls.rst
  contrib/vagrant/nftables.rules
  contrib/vagrant/scripts/helpers.bash
  contrib/vagrant/start.sh
  examples/kubernetes-egress-gateway/egress-ip-deployment.yaml
  examples/kubernetes-egress-gateway/egress-nat-policy.yaml
  examples/policies/host/lock-down-dev-vms-cidr-node.yaml
  pkg/hubble/parser/threefour/parser_test.go
  pkg/maps/ctmap/ctmap_privileged_test.go
  pkg/node/address_test.go
  pkg/wireguard/agent/agent_test.go
  test/Vagrantfile
  test/k8sT/manifests/ccnp-host-ingress-from-cidr-to-ports.yaml
  test/k8sT/manifests/ccnp-host-policy-nodeport-tests.yaml
  test/k8sT/manifests/cnp-ingress-from-cidr-to-ports.yaml
  test/k8sT/manifests/externalIPs/README.md
  test/k8sT/manifests/externalIPs/matrix.bash
  test/k8sT/manifests/externalIPs/node_to_node.go
  test/k8sT/manifests/externalIPs/other_node_to_node.go
  test/k8sT/manifests/externalIPs/pod_other_node_to_node.go
  test/k8sT/manifests/externalIPs/pod_to_node.go
  test/k8sT/manifests/externalIPs/svcs/svc-a-external-ips.yaml
  test/k8sT/manifests/externalIPs/svcs/svc-b-external-ips.yaml
  test/kubernetes-test.sh
  test/provision/externalworkload_install.sh
  test/provision/k8s_install.sh
  tools/dev-doctor/rootcmd.go
Labels: area/CI, ready-to-merge, release-note/ci

#17824 helm: Disable BPF masquerading in v1.10+
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: release-note/minor, ready-to-merge, area/helm, needs-backport/1.10

#17916 bugtool: fix data race occurring when running commands
  bugtool/cmd/root.go
Labels: release-note/bug, ready-to-merge, area/bugtool, needs-backport/1.9, needs-backport/1.10

#17924 docs: Remove firewall hack for OKD GSG
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
Labels: area/documentation, release-note/minor, ready-to-merge

#17932 neigh: Init new neighbor for older kernel with NUD_STALE
  pkg/datapath/linux/node.go
Labels: kind/bug, ready-to-merge, release-note/misc

#17933 .github: add bug_report form to submit Cilium bugs
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_template.md
Labels: release-note/misc

#17906 daemon: Fatal on BPF masquerade + IPv6 masquerade
  daemon/cmd/daemon_main.go
  test/helpers/kubectl.go
Labels: kind/bug, sig/datapath, area/daemon, release-note/bug, ready-to-merge, needs-backport/1.10

#17544 datapath: allow specifying cilium_host routes metric
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/node.go
  pkg/datapath/linux/route/route.go
  pkg/datapath/linux/route/route_linux.go
  pkg/option/config.go
Labels: ready-to-merge, release-note/misc

#17845 Always remove `AWS-SNAT-CHAIN` rules when running in ENI mode.
  install/kubernetes/cilium/files/nodeinit/poststart-eni.bash
  install/kubernetes/cilium/templates/cilium-nodeinit/daemonset.yaml
Labels: release-note/bug, ready-to-merge, area/eni, area/helm, needs-backport/1.10, feature/egress-gateway, release-blocker/1.11

#17957 Add few values in CiliumEndpointPropagation metric bucket.
  pkg/metrics/metrics.go
Labels: release-note/misc

#17780 fix(clusterpools): cluster-pool-ipv4-cidr/cluster-pool-ipv6-cidr
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/gettingstarted/ipam-cluster-pool.rst
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  operator/flags.go
Labels: release-note/bug, sig/ipam

#17961 Prepare for 1.12.0 development
  .github/dependabot.yml
  .github/maintainers-little-helper.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/tests-l4lb-v1.11.yaml
  Documentation/contributing/testing/ci.rst
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
Labels: release-note/misc

#17960 Prepare for release v1.11.0-rc3
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/release, release-note/misc, backport/1.11

#17967 install: Update image digests for v1.11.0-rc3
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/misc, backport/1.11

#17983 docs: Fix up mailmap a bit and update authors
  .mailmap
  AUTHORS
Labels: area/documentation, release-note/misc, needs-backport/1.11

#17975 docs: Add upgrade note regarding custom ports
  Documentation/operations/upgrade.rst
Labels: area/documentation, area/daemon, ready-to-merge, release-note/misc, needs-backport/1.11

#17982 workflows: Run CodeQL workflow is the workflow is edited
  .github/workflows/lint-codeql.yaml
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#17968 install/kubernetes: fix helm generation for operator image digest
  install/kubernetes/cilium/templates/cilium-operator/_helpers.tpl
Labels: kind/regression, release-note/misc, needs-backport/1.11

#17969 daemon/cmd: Extend Cilium status with graceful termination config
  Documentation/gettingstarted/kubeproxy-free.rst
  api/v1/models/kube_proxy_replacement.go
  api/v1/models/zz_generated.deepcopy.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/cmd/status.go
  pkg/client/client.go
Labels: ready-to-merge, release-note/misc, sig/loadbalancing, needs-backport/1.11

#17989 install/kubernetes: fix hubble-ui-backend image digest
  install/kubernetes/Makefile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
Labels: kind/backports, kind/regression, backport/1.9

#17995 docs: remove mention of 250 nodes for kvstore
  Documentation/gettingstarted/k8s-install-external-etcd.rst
Labels: ready-to-merge, release-note/misc, needs-backport/1.11

#17990 Makefile: Add kind-image target
  Makefile
Labels: ready-to-merge, release-note/misc

#17856 ipam/crd: Fix spurious CiliumNode update status failures
  pkg/ipam/crd.go
Labels: release-note/bug, area/eni, sig/ipam, area/azure, needs-backport/1.11

#17986 update .github directory to be v1.11 branch specific
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/failing_test_template.md
  .github/ISSUE_TEMPLATE/feature_template.md
  .github/ISSUE_TEMPLATE/release_template.md
  .github/dependabot.yml
  .github/maintainers-little-helper.yaml
  .github/pull_request_template.md
  .github/stale.yml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
  .github/workflows/ci-images-cache-cleaner.yaml
  .github/workflows/ci-images-garbage-collect.yaml
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads.yml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/documentation.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-codeql.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/lint-images-base.yaml
  .github/workflows/tests-l4lb-v1.10.yaml
  .github/workflows/tests-l4lb.yaml
  .github/workflows/tests-nightly.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: release-note/misc

#18032 .github: fix MLH configuration file for v1.11 branch
  .github/maintainers-little-helper.yaml
Labels: release-note/misc, backport/1.11

#18033 ui: v0.8.3
  install/kubernetes/Makefile
Labels: release-note/misc, needs-backport/1.11

#18028 mlh: update Jenkins jobs following 1.23 support
  .github/maintainers-little-helper.yaml
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.11

#17909 Adds a locked function to do ipcache delete on metadata match
  pkg/ipcache/ipcache.go
  pkg/k8s/watchers/cilium_endpoint.go
  pkg/k8s/watchers/pod.go
Labels: release-note/misc, needs-backport/1.11

#17958 docs: correct ec2 modify net iface action
  Documentation/concepts/networking/ipam/eni.rst
Labels: ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11

#18017 docs: add registry (quay.io/) for pre-loading images for kind
  Documentation/gettingstarted/kind-preload.rst
Labels: area/documentation, release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#18000 CODEOWNERS: clean-up entries for deleted files
  CODEOWNERS
Labels: ready-to-merge, release-note/misc, sig/contributing

#18031 ci: Restart pods when toggling KPR switch
  test/k8sT/assertionHelpers.go
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.11

#18026 doc: use ipv4NativeRoutingCIDR instead of nativeRoutingCIDR
  Documentation/gettingstarted/encryption-ipsec.rst
  Documentation/gettingstarted/k8s-install-helm.rst
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
Labels: area/documentation, release-note/misc, needs-backport/1.11

#18018 test/contrib: Bump CoreDNS version to 1.8.3
  test/provision/manifest/1.16/coredns_deployment.yaml
  test/provision/manifest/1.16/eks/coredns_deployment.yaml
  test/provision/manifest/1.17/coredns_deployment.yaml
  test/provision/manifest/1.17/eks/coredns_deployment.yaml
  test/provision/manifest/1.18/coredns_deployment.yaml
  test/provision/manifest/1.18/eks/coredns_deployment.yaml
  test/provision/manifest/1.19/coredns_deployment.yaml
  test/provision/manifest/1.19/eks/coredns_deployment.yaml
  test/provision/manifest/1.20/coredns_deployment.yaml
  test/provision/manifest/1.20/eks/coredns_deployment.yaml
  test/provision/manifest/1.21/coredns_deployment.yaml
  test/provision/manifest/1.21/eks/coredns_deployment.yaml
  test/provision/manifest/1.22/coredns_deployment.yaml
  test/provision/manifest/1.22/eks/coredns_deployment.yaml
  test/provision/manifest/coredns_deployment.yaml
Labels: area/CI, release-note/ci, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#17789 Prometheus lint errors in operator metrics
  Documentation/operations/upgrade.rst
  operator/metrics/metrics.go
Labels: release-note/bug, area/metrics, area/operator, needs-backport/1.11

#18040 docs: update k8s instructions on how to update k8s libraries
  Documentation/contributing/development/dev_setup.rst
  Documentation/gettingstarted/istio.rst
Labels: release-note/misc

#18046 elf: skip TestWrite if ELF file wasn't built
  pkg/elf/elf_test.go
Labels: ready-to-merge, release-note/misc

#17988 contrib: Fix backport submission for own PRs
  contrib/backporting/common.sh
  contrib/backporting/submit-backport
Labels: ready-to-merge, release-note/misc

#17984 docs: Mention how to build images for local CI testing
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#18059 bugtool: fix IP route debug gathering commands
  bugtool/cmd/configuration.go
  bugtool/cmd/root.go
Labels: release-note/bug, ready-to-merge, area/bugtool, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#18058 test: temporary increase Hubble buffer size to 64k
  test/helpers/kubectl.go
Labels: area/CI, ready-to-merge, release-note/ci

#18067 dependabot: disable cloud provider SDK updates
  .github/dependabot.yml
Labels: release-note/misc

#18048 bpf: Add WireGuard to complexity and compile tests
  bpf/Makefile
  bpf/complexity-tests/netnext/bpf_lxc.txt
Labels: area/CI, sig/datapath, ready-to-merge, area/encryption, release-note/ci, kind/complexity-issue, needs-backport/1.10, needs-backport/1.11

#18068 docs: KUBECONFIG for cilium-cli with k3s
  Documentation/gettingstarted/k8s-install-default.rst
Labels: area/documentation, release-note/misc, needs-backport/1.10, needs-backport/1.11

#18069 mlh: update Jenkins jobs following 1.23 support
  .github/maintainers-little-helper.yaml
Labels: area/CI, ready-to-merge, kind/backports, release-note/ci, backport/1.11

#18006 test: Fix incorrect selector for netperf-service
  test/k8sT/manifests/netperf-deployment.yaml
Labels: area/CI, release-note/ci, release-priority/best-effort, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#17762 daemon, node: Remove old, discarded router IPs from `cilium_host`
  daemon/cmd/daemon.go
  pkg/node/address.go
Labels: kind/bug, area/daemon, release-note/bug, ready-to-merge, needs-backport/1.10, release-blocker/1.11, needs-backport/1.11

#18052 .github: add workflow to build beta images
  .github/workflows/build-images-beta.yaml
Labels: release-note/misc, needs-backport/1.11
