Repository cilium/cilium, pull requests merged in 2021-10, with the labels that each got.

#17303 Add flag to list all available configurations
  Documentation/cmdref/cilium_config.md
  cilium/cmd/config.go
  pkg/command/output.go
Labels: release-note/minor

#17304 bugtool: dump all active configs and encryption status
  bugtool/cmd/configuration.go
Labels: release-note/misc

#16825 operator: only GC identity keys of its own cluster
  pkg/allocator/allocator.go
  pkg/allocator/allocator_test.go
  pkg/k8s/identitybackend/identity.go
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/allocator_test.go
Labels: kind/bug, release-note/bug, area/clustermesh

#17498 Fix bugs in CiliumEndpointBatch metrics
  operator/metrics/metrics.go
  operator/pkg/ciliumendpointbatch/endpointbatch.go
  pkg/k8s/watchers/cilium_endpoint_batch_subscriber.go
  pkg/metrics/metrics.go
Labels: dont-merge/needs-release-note-label

#17488 test, images: update helm to 3.7.0
  images/cilium-test/install-helm.sh
  test/provision/k8s_install.sh
Labels: area/CI, release-note/misc, area/helm

#17523 checkpatch: update to latest image to ignore empty commit messages
  .github/workflows/lint-bpf-checks.yaml
Labels: area/CI, ready-to-merge, release-note/misc

#17281 Daemon: fix hardcode envoy listener addr
  pkg/envoy/server.go
Labels: area/proxy, release-note/bug

#17513 bpf: Add extension for running sock LB on MKE-related containers
  bpf/bpf_sock.c
  bpf/include/bpf/helpers.h
  daemon/cmd/daemon_main.go
  daemon/cmd/kube_proxy_replacement.go
  pkg/datapath/linux/config/config.go
  pkg/option/config.go
  pkg/option/constants.go
Labels: sig/datapath, release-note/misc, sig/loadbalancing

#17530 docs: fix docs following #17238
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, release-note/misc

#17537 travis: login to Docker Hub
  .travis.yml
Labels: area/CI, release-note/ci

#17548 Revert "travis: login to Docker Hub"
  .travis.yml
Labels: area/CI, ready-to-merge, release-note/misc
