Repository cilium/cilium, pull requests merged in 2021-05, with the labels that each got.

#15971 docs: remove misplaced sentence from Quick Installation guide
  Documentation/gettingstarted/k8s-install-default.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#15944 workflows: update cluster names and tags
  .github/workflows/aks.yaml
  .github/workflows/eks.yaml
  .github/workflows/gke.yaml
  .github/workflows/multicluster.yaml
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#15973 docs: tell how to deploy demo app in Hubble CLI guide
  Documentation/gettingstarted/hubble_cli.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#15968 test: Fix the search for VIPs in `cilium service list`
  test/k8sT/Services.go
Labels: area/CI, kind/bug/CI, needs-backport/1.10, needs-backport/1.9, project/ci-force, ready-to-merge, release-note/ci

#15982 docs: clustermesh: fix output of "cilium clustermesh status" command
  Documentation/gettingstarted/clustermesh/clustermesh.rst
Labels: area/clustermesh, area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#15988 connectivity-check: Reduce chances of port conflict with proxy
  examples/kubernetes/connectivity-check/connectivity-check-hostport.yaml
  examples/kubernetes/connectivity-check/connectivity-check-proxy.yaml
  examples/kubernetes/connectivity-check/connectivity-check-quarantine.yaml
  examples/kubernetes/connectivity-check/echo-servers.cue
Labels: area/CI, needs-backport/1.10, needs-backport/1.9, project/ci-force, ready-to-merge, release-note/ci

#15985 Update weekly community meeting timeslot
  Documentation/community.rst
Labels: area/documentation, needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#15915 plugins/cilium-cni: fix aws-cni cni chaining
  plugins/cilium-cni/cni-install.sh
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/bug

#16012 workflows: filter out schedule events from forks
  .github/workflows/aks.yaml
  .github/workflows/eks.yaml
  .github/workflows/gke.yaml
  .github/workflows/multicluster.yaml
Labels: area/CI-improvement, release-note/ci

#15990 test/runtime: Wait for endpoints to be ready before querying by labels
  test/runtime/Policies.go
  test/runtime/cassandra.go
  test/runtime/connectivity.go
  test/runtime/fqdn.go
  test/runtime/kafka.go
  test/runtime/kvstore.go
  test/runtime/lb.go
  test/runtime/memcache.go
  test/runtime/monitor.go
Labels: area/CI, kind/bug/CI, needs-backport/1.10, project/ci-force, ready-to-merge, release-note/ci

#15984 docs: Fix egress gateway getting started guide
  Documentation/gettingstarted/egress-gateway.rst
  examples/kubernetes-egress-gateway/egress-ip-deployment.yaml
  examples/kubernetes-egress-gateway/egress-nat-policy.yaml
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16009 workflows: fix image workflows for v1.10
  .github/workflows/images-legacy-hotfix-releases.yaml
  .github/workflows/images-legacy-releases.yaml
  .github/workflows/images-legacy.yaml
Labels: area/CI, backport/1.10, kind/backports

#16029 workflows: lessen clustermesh clusters names
  .github/workflows/multicluster.yaml
Labels: area/CI, release-note/ci

#16024 docs: minor improvements to tuning guide
  Documentation/operations/performance/tuning.rst
Labels: area/documentation, needs-backport/1.10, release-note/misc

#16030 Fix logging for expired FQDN IPs
  pkg/fqdn/cache.go
Labels: area/proxy, ready-to-merge, release-note/misc

#16023 docs: Some Wireguard improvements
  Documentation/gettingstarted/encryption-wireguard.rst
Labels: area/documentation, area/encryption, needs-backport/1.10, ready-to-merge, release-blocker/1.10, release-note/misc

#15950 Dockerfile: use alpine 3.12
  contrib/coccinelle/Dockerfile
  examples/kubernetes-memcached/memcd-sw-app.yaml
  examples/kubernetes/connectivity-check/connectivity-check-hostport.yaml
  examples/kubernetes/connectivity-check/connectivity-check-internal.yaml
  examples/kubernetes/connectivity-check/connectivity-check-proxy.yaml
  examples/kubernetes/connectivity-check/connectivity-check-quarantine.yaml
  examples/kubernetes/connectivity-check/connectivity-check-single-node.yaml
  examples/kubernetes/connectivity-check/connectivity-check.yaml
  examples/kubernetes/connectivity-check/defaults.cue
  images/clustermesh-apiserver/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/scripts/update-alpine-image.sh
  images/scripts/update-golang-image.sh
  install/kubernetes/Makefile
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  test/helpers/constants/images.go
  test/k8sT/manifests/policy-stress-test.yaml
Labels: needs-backport/1.10, ready-to-merge, release-blocker/1.10, release-note/misc

#16010 workflows: only gather artifacts on failure
  .github/workflows/aks.yaml
  .github/workflows/eks.yaml
  .github/workflows/gke.yaml
  .github/workflows/multicluster.yaml
Labels: area/CI, area/CI-improvement, ready-to-merge, release-note/ci

#16001 wireguard: Fix timeout in unit test
  pkg/wireguard/agent/agent_test.go
Labels: area/encryption, kind/bug/CI, needs-backport/1.10, ready-to-merge, release-note/ci

#16000 Minor fixes for OKD GSG
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
Labels: needs-backport/1.10, ready-to-merge, release-note/misc

#15994 ci-gke: Add -v=6 for `kubectl get pods`
  .github/workflows/gke.yaml
Labels: needs-backport/1.10, ready-to-merge, release-note/ci

#15947 Update CI infrastructure for v1.10 release
  test/helpers/kubectl.go
Labels: area/CI, needs-backport/1.10, ready-to-merge, release-note/misc

#16011 ci/wireguard: Ensure allowedIPs are set as expected
  test/k8sT/DatapathConfiguration.go
Labels: area/CI, area/encryption, needs-backport/1.10, ready-to-merge, release-note/ci

#16025 docs: add forking instructions + workflow + fix contributing notes
  Documentation/contributing/development/contributing_guide.rst
  Documentation/contributing/development/dev_setup.rst
Labels: area/documentation, ready-to-merge, release-note/misc, sig/contributing

#15948 .github: Bump CLI version to v0.6
  .github/workflows/aks.yaml
  .github/workflows/eks.yaml
  .github/workflows/gke.yaml
  .github/workflows/kind-1.19.yaml
  .github/workflows/multicluster.yaml
Labels: release-note/ci

#14940 Encryption docs update
  Documentation/gettingstarted/encryption-ipsec.rst
Labels: needs-backport/1.10, ready-to-merge, release-blocker/1.10, release-note/misc

#15975 docs: improve and fix minor issues
  Documentation/gettingstarted/dns.rst
  Documentation/gettingstarted/encryption-ipsec.rst
  Documentation/gettingstarted/encryption-wireguard.rst
  Documentation/operations/troubleshooting.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16063 doc: Update diagrams in benchmark report
  Documentation/operations/performance/benchmark.rst
  Documentation/operations/performance/images/bench_tcp_crr_1_process.png
  Documentation/operations/performance/images/bench_tcp_crr_1_process_cpu.png
  Documentation/operations/performance/images/bench_tcp_crr_32_processes.png
  Documentation/operations/performance/images/bench_tcp_crr_32_processes_cpu.png
  Documentation/operations/performance/images/bench_tcp_rr_1_process.png
  Documentation/operations/performance/images/bench_tcp_rr_1_process_cpu.png
  Documentation/operations/performance/images/bench_tcp_rr_32_processes.png
  Documentation/operations/performance/images/bench_tcp_rr_32_processes_cpu.png
  Documentation/operations/performance/images/bench_tcp_stream_1_stream.png
  Documentation/operations/performance/images/bench_tcp_stream_1_stream_cpu.png
  Documentation/operations/performance/images/bench_tcp_stream_32_streams.png
  Documentation/operations/performance/images/bench_tcp_stream_32_streams_cpu.png
Labels: area/documentation, release-note/minor

#15913 contrib/vagrant: Use CRDs instead of kvstore if K8S=1
  contrib/vagrant/start.sh
Labels: ready-to-merge, release-note/misc, sig/contributing

#16006 docs: update OpenShift getting started guide
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16074 .github/workflows: Fix typo
  .github/workflows/kind-1.19.yaml
Labels: area/CI, release-note/misc

#16070 vendor: bump github.com/vishvananda/netlink to latest master
  go.mod
  go.sum
  vendor/github.com/vishvananda/netlink/README.md
  vendor/github.com/vishvananda/netlink/addr_linux.go
  vendor/github.com/vishvananda/netlink/class_linux.go
  vendor/github.com/vishvananda/netlink/conntrack_linux.go
  vendor/github.com/vishvananda/netlink/devlink_linux.go
  vendor/github.com/vishvananda/netlink/filter_linux.go
  vendor/github.com/vishvananda/netlink/ipset_linux.go
  vendor/github.com/vishvananda/netlink/link.go
  vendor/github.com/vishvananda/netlink/link_linux.go
  vendor/github.com/vishvananda/netlink/neigh_linux.go
  vendor/github.com/vishvananda/netlink/nl/devlink_linux.go
  vendor/github.com/vishvananda/netlink/qdisc_linux.go
  vendor/github.com/vishvananda/netlink/route_linux.go
  vendor/github.com/vishvananda/netlink/rule_linux.go
  vendor/github.com/vishvananda/netlink/socket_linux.go
  vendor/modules.txt
Labels: needs-backport/1.10, ready-to-merge, release-note/misc

#16068 test: Fix flake in ValidateEndpointsAreCorrect
  test/runtime/assertionHelpers.go
Labels: area/CI, kind/bug/CI, needs-backport/1.10, project/ci-force, ready-to-merge, release-note/ci

#16056 jenkinsfiles: fix race detector pipelines
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
Labels: area/CI, kind/bug/race-detector, needs-backport/1.10, project/ci-force, ready-to-merge, release-note/ci

#16051 test: Quarantine fragment tracking test on GKE
  test/k8sT/Services.go
Labels: area/CI, project/ci-force, ready-to-merge, release-note/ci

#15979 docs: improve the aws-cni chaining page
  Documentation/gettingstarted/cni-chaining-aws-cni.rst
  Documentation/gettingstarted/k8s-install-connectivity-test.rst
  Documentation/gettingstarted/k8s-install-default.rst
  Documentation/gettingstarted/k8s-install-download-release.rst
  Documentation/gettingstarted/k8s-install-validate.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#15978 docs/ipsec: misc improvements
  Documentation/gettingstarted/encryption-ipsec.rst
Labels: area/documentation, area/encryption, needs-backport/1.10, ready-to-merge, release-note/misc

#15914 test: Adds test for BPF NAT engine handles unknown protocol packets
  test/k8sT/Services.go
  test/k8sT/manifests/iperf3-deployment.yaml
  test/k8sT/manifests/test-cli.yaml
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16013 envoy: Add response headers access logging
  images/cilium/Dockerfile
  pkg/proxy/accesslog/record.go
Labels: area/proxy, kind/enhancement, needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/minor

#16087 doc: Add more generic install section for egress gateway guide
  Documentation/gettingstarted/egress-gateway.rst
Labels: area/documentation, needs-backport/1.10, release-blocker/1.10, release-note/minor

#16116 README: update link to docker images to quay.io
  README.rst
Labels: ready-to-merge, release-note/misc

#15905 Add identity GC metrics for CRD allocation mode
  operator/k8s_identity.go
  operator/metrics/metrics.go
Labels: ready-to-merge, release-note/misc

#16058 Update Go to 1.16.4
  .github/workflows/bpf-checks.yaml
  .github/workflows/build_commits.yaml
  .github/workflows/go-check.yaml
  .github/workflows/images-legacy.yaml
  .travis.yml
  GO_VERSION
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: release-note/misc

#16086 docs: Add a note about minikube docker driver mode
  Documentation/gettingstarted/minikube-install.rst
Labels: backport/1.9, kind/backports

#16061 v1.10: Update Go to 1.16.4
  .github/workflows/bpf-checks.yaml
  .github/workflows/build_commits.yaml
  .github/workflows/go-check.yaml
  .github/workflows/images-legacy.yaml
  .travis.yml
  GO_VERSION
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.10, kind/backports, release-note/misc

#16092 [v1.8] daemon: store Cilium's configuration in a file
  daemon/cmd/daemon_main.go
  pkg/option/config.go
  pkg/option/config_test.go
Labels: backport/1.8, kind/backports

#16091 [v1.9] daemon: store Cilium's configuration in a file
  daemon/cmd/daemon_main.go
  pkg/option/config.go
  pkg/option/config_test.go
Labels: backport/1.9, kind/backports

#16123 docs: add ids to the list of special identities
  Documentation/concepts/terminology.rst
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#16130 Prepare for release v1.8.10
  .github/cilium-actions.yml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/agent/values.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/charts/hubble-ui/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/operator/values.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/charts/preflight/values.yaml
  install/kubernetes/cilium/charts/prometheus-crd/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.8, kind/release

#16131 Prepare for release v1.9.7
  .github/cilium-actions.yml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
  pkg/k8s/apis/cilium.io/v2/register.go
Labels: backport/1.9, kind/release

#16135 .github: Update docs workflow to checkout v2
  .github/workflows/docs.yaml
Labels: area/CI, release-note/ci

#15422 install: Disable kube-proxy-replacement by default
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/helm, release-blocker/1.10, release-note/minor

#16099 test: Log input to `json.Unmarshal` when it fails
  test/helpers/cmd.go
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16053 test: Fix incorrect uninstall in K8sBandwidth
  test/k8sT/Bandwidth.go
Labels: area/CI, kind/bug/CI, needs-backport/1.10, project/ci-force, ready-to-merge, release-note/ci

#16069 docs: Improve wording around Helm values in OKD GSG
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16085 daemon: require BPF masq to enable --install-no-conntrack-iptables-rules
  Documentation/operations/performance/tuning.rst
  daemon/cmd/kube_proxy_replacement.go
Labels: area/daemon, needs-backport/1.10, ready-to-merge, release-note/bug

#15828 eni: Support Instance Metadata Service Version 2 (IMDSv2)
  pkg/aws/metadata/metadata.go
Labels: needs-backport/1.10, ready-to-merge, release-note/minor, release-priority/best-effort

#16169 docs, gsg: minor edits to kpr guide and note on hybrid use
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, area/kube-proxy, area/kube-proxy-free, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/misc

#16167 Prepare for release v1.10.0-rc2
  .github/cilium-actions.yml
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: backport/1.10, kind/release

#16171 docs, gsg: add link to plumbers talk on service lb mechanisms
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, area/kube-proxy-free, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/misc

#16153 pkg/k8s: ignore overwrite source "custom-resource" with "k8s" errors
  pkg/k8s/watchers/pod.go
Labels: needs-backport/1.10, release-note/misc

#16141 docs: add information about ConfigMap updates
  Documentation/concepts/kubernetes/configuration.rst
Labels: area/documentation, needs-backport/1.10, needs-backport/1.9, release-note/misc

#16173 v1.9 backports 2021-05-17
  Documentation/gettingstarted/host-firewall.rst
  Documentation/operations/troubleshooting.rst
Labels: backport/1.9, kind/backports

#16162 test: set kubeProxyReplacement=probe for upstream k8s tests
  test/kubernetes-test.sh
Labels: backport-done/1.10, kind/bug/CI, release-note/ci

#16174 install: Update image digests for v1.10.0-rc2
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: backport/1.10, kind/backports

#16161 docs: Add caveat for OpenShift
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc, sig/contributing

#16132 install: Update image digests for v1.8.10
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/charts/agent/values.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/charts/operator/values.yaml
  install/kubernetes/cilium/charts/preflight/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.8, kind/backports

#16133 install: Update image digests for v1.9.7
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.9, kind/backports

#16184 Update stable releases
  .github/cilium-actions.yml
  README.rst
Labels: release-note/misc

#15933 hubble: Hubble node_name field should contain cluster name
  pkg/hubble/monitor/consumer.go
  pkg/hubble/observer/local_observer.go
  pkg/hubble/recorder/service.go
  pkg/hubble/relay/observer/observer.go
  pkg/node/types/nodename.go
Labels: release-note/minor

#16160 contrib: Make upstream commit check more generic
  contrib/backporting/common.sh
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/misc

#16178 wireguard: Fix traffic counters in `cilium debuginfo`
  pkg/wireguard/agent/agent.go
Labels: area/encryption, needs-backport/1.10, ready-to-merge, release-note/bug, release-priority/best-effort

#16142 helm: add back 'wellKnownIdentities'
  Documentation/operations/upgrade.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: needs-backport/1.10, needs-backport/1.9, release-note/misc

#15872 Improve ipsec compile-time testing in CI
  bpf/Makefile
Labels: area/encryption, needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/ci

#16214 Specify scrape interval for Hubble metrics
  Documentation/operations/metrics.rst
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#16175 alibabacloud: fix race
  pkg/alibabacloud/eni/node.go
Labels: needs-backport/1.10, ready-to-merge, release-note/bug

#16104 daemon: Ignore cilium_* interfaces when deriving NodePort device
  daemon/cmd/kube_proxy_replacement.go
  daemon/cmd/kube_proxy_replacement_test.go
Labels: area/daemon, kind/bug, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/bug, sig/datapath

#16218 ci: add slack notification to GH actions
  .github/workflows/aks.yaml
  .github/workflows/bpf-checks.yaml
  .github/workflows/build_commits.yaml
  .github/workflows/cyclonus-netpol-test.yaml
  .github/workflows/docs.yaml
  .github/workflows/eks.yaml
  .github/workflows/gke.yaml
  .github/workflows/go-check.yaml
  .github/workflows/images-legacy-base-releases.yaml
  .github/workflows/images-legacy-hotfix-releases.yaml
  .github/workflows/images-legacy-releases.yaml
  .github/workflows/images-legacy.yaml
  .github/workflows/images.yaml
  .github/workflows/kind-1.19.yaml
  .github/workflows/multicluster.yaml
  .github/workflows/nightly.yaml
  .github/workflows/smoke-test-ipv6.yaml
  .github/workflows/smoke-test.yaml
Labels: ready-to-merge, release-note/ci

#16205 dev-doctor: add check for the root directory
  tools/dev-doctor/rootcmd.go
  tools/dev-doctor/rootdircheck.go
Labels: area/misc, release-note/misc

#16158 examples, connectivity-check, test: Use even-numbered nodePort
  examples/kubernetes/connectivity-check/connectivity-check-hostport.yaml
  examples/kubernetes/connectivity-check/connectivity-check-internal.yaml
  examples/kubernetes/connectivity-check/connectivity-check-proxy.yaml
  examples/kubernetes/connectivity-check/connectivity-check-quarantine.yaml
  examples/kubernetes/connectivity-check/connectivity-check-single-node.yaml
  examples/kubernetes/connectivity-check/connectivity-check.yaml
  examples/kubernetes/connectivity-check/echo-servers.cue
  examples/kubernetes/connectivity-check/services.cue
  examples/policies/host/lock-down-dev-vms-cidr-node.yaml
  examples/policies/host/lock-down-dev-vms-remote-node.yaml
  examples/policies/host/lock-down-gke.yaml
  test/k8sT/manifests/policy-stress-test.yaml
Labels: area/CI, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/ci

#15929 cilium: Improve user experience of policy trace with regard to port a…
  Documentation/cmdref/cilium_policy_trace.md
  cilium/cmd/policy_trace.go
  test/k8sT/Policies.go
  test/runtime/Policies.go
Labels: ready-to-merge, release-note/minor

#15967 hubble: Fix Race in Hubble Consumer
  pkg/hubble/monitor/consumer.go
Labels: area/monitor, ready-to-merge, release-note/misc

#16240 .github: ignore k8s deps in dependabot
  .github/dependabot.yml
Labels: release-note/misc

#16243 install: Update image digests for v1.10.0
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: backport/1.10, kind/backports

#16244 update stable releases in README
  README.rst
Labels: dont-merge/wait-until-release, release-note/misc

#16254 SECURITY.md: Update security policy for v1.10 release cycle
  SECURITY.md
Labels: release-note/misc

#15989 docs: Clarify coordination for backporting process
  Documentation/contributing/development/contributing_guide.rst
Labels: area/documentation, needs-backport/1.10, needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc, sig/contributing

#16134 datapath: optionally disable SIP verification
  api/v1/models/endpoint_datapath_configuration.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  pkg/datapath/config.go
  pkg/datapath/linux/config/config.go
  pkg/endpoint/bpf.go
  pkg/endpoint/cache.go
  pkg/testutils/endpoint.go
Labels: ready-to-merge, release-note/minor, sig/datapath

#16149 docs: Revert host firewall to beta for kube-proxy setups
  Documentation/cmdref/cilium-agent.md
  Documentation/gettingstarted/host-firewall.rst
  daemon/cmd/daemon_main.go
Labels: area/documentation, area/host-firewall, needs-backport/1.10, ready-to-merge, release-note/minor

#16187 vendor: Bump go.universe.tf/metallb
  go.mod
  go.sum
  vendor/go.universe.tf/metallb/pkg/controller/controller.go
  vendor/go.universe.tf/metallb/pkg/controller/service.go
  vendor/modules.txt
Labels: needs-backport/1.10, ready-to-merge, release-note/misc, sig/k8s, sig/loadbalancing

#16262 rate: fix TestStressRateLimiter when run with race detector
  pkg/rate/api_limiter_norace_test.go
  pkg/rate/api_limiter_race_test.go
  pkg/rate/api_limiter_test.go
Labels: project/ci-force, ready-to-merge, release-note/ci

#16257 .github: add more release steps
  .github/ISSUE_TEMPLATE/release_template.md
Labels: ready-to-merge, release-note/misc

#16263 docs: Fix Helm instructions for BGP
  Documentation/gettingstarted/bgp.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16274 .github: Fix scheduled end-to-end tests
  .github/workflows/aks.yaml
  .github/workflows/eks.yaml
  .github/workflows/gke.yaml
  .github/workflows/multicluster.yaml
Labels: area/CI, kind/bug/CI, needs-backport/1.10, ready-to-merge, release-note/ci

#16293 docs: Fix WireGuard spelling
  Documentation/gettingstarted/encryption-wireguard.rst
  Documentation/gettingstarted/encryption.rst
  Documentation/operations/performance/benchmark.rst
  Documentation/operations/system_requirements.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16249 k8s: Update k8s libraries to 1.18.19
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/apimachinery/pkg/api/resource/quantity_proto.go
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/reflectcache.go
Labels: backport/1.8, kind/backports, ready-to-merge, release-note/minor

#16265 dev-doctor: Add docker and docker buildx checks
  tools/dev-doctor/binarycheck.go
  tools/dev-doctor/rootcmd.go
Labels: area/misc, ready-to-merge, release-note/misc

#16081 docs: Update troubleshooting for 1.10
  Documentation/operations/troubleshooting.rst
  contrib/k8s/k8s-cilium-exec.sh
  contrib/k8s/k8s-get-cilium-pod.sh
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16268 pkg/k8s: ignore namespace events that do not change labels
  pkg/k8s/watchers/namespace.go
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/bug

#16193 contrib: update etcd's dev VM version
  contrib/vagrant/scripts/helpers.bash
Labels: release-note/misc

#16290 replaced and removed useless field in RemoteCache
  pkg/allocator/allocator.go
Labels: kind/cleanup, release-note/misc

#16283 Add eCHO
  README.rst
Labels: ready-to-merge, release-note/misc

#16288 docs: remove 1.7 upgrade guide and add upgradeCompatibility for 1.9
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/operations/upgrade.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16177 .github: add external docs references to be updated after a release
  .github/ISSUE_TEMPLATE/release_template.md
Labels: ready-to-merge, release-note/misc

#16310 .github: Fix concurrency group comment triggers
  .github/workflows/aks.yaml
  .github/workflows/eks.yaml
  .github/workflows/gke.yaml
  .github/workflows/multicluster.yaml
Labels: area/CI, kind/bug/CI, needs-backport/1.10, ready-to-merge, release-note/ci

#16211 envoy: Remove request headers from response access logs
  images/cilium/Dockerfile
  pkg/proxy/accesslog/record.go
Labels: area/proxy, kind/enhancement, needs-backport/1.10, ready-to-merge, release-note/minor

#16286 pkg/k8s: set right logic to ignore ipcache errors
  pkg/k8s/watchers/pod.go
Labels: kind/bug, needs-backport/1.10, release-note/bug

#16212 vendor: update k8s dependencies and tests to 1.21.1
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/api/core/v1/annotation_key_constants.go
  vendor/k8s.io/apimachinery/pkg/api/resource/quantity_proto.go
  vendor/modules.txt
Labels: release-note/misc, sig/k8s

#16226 helm: Add support for disable-endpoint-crd option
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, release-note/minor

#16271 endpoint: Skip waiting-to-regenerate -> waiting-for-identity state transitions
  pkg/endpoint/api.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_test.go
Labels: kind/bug, needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug, sig/datapath

#16014 Add validation of agent flag values for ConfigMap
  daemon/cmd/daemon_main.go
  operator/flags.go
  pkg/option/config.go
Labels: ready-to-merge, release-note/minor

#16248 k8s: Update k8s libraries to 1.19.11
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/apimachinery/pkg/api/resource/quantity_proto.go
  vendor/modules.txt
Labels: backport/1.9, kind/backports, ready-to-merge, release-note/minor

#16324 docs: add missing mount bpf fs on minikube GSG
  Documentation/gettingstarted/k8s-install-default.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16176 contrib: simplify check-docker-images script
  contrib/release/check-docker-images.sh
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/misc

#16137 docs: document the policy for backporting documentation changes
  Documentation/contributing/release/backports.rst
Labels: area/documentation, needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc, sig/contributing

#16194 Make LRP restore test logic robust and optimized
  test/k8sT/Services.go
Labels: needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/ci

#16319 .github: Don't wait for GKE cluster cleanup
  .github/workflows/gke.yaml
  .github/workflows/multicluster.yaml
Labels: area/CI-improvement, needs-backport/1.10, ready-to-merge, release-note/ci

#16325 docs: fix a typo in Helm installation documentation
  Documentation/gettingstarted/k8s-install-helm.rst
Labels: area/documentation, dont-merge/needs-sign-off, needs-backport/1.10, ready-to-merge, release-note/misc

#16250 k8s: Update k8s libraries to 1.21.1
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/api/core/v1/annotation_key_constants.go
  vendor/k8s.io/apimachinery/pkg/api/resource/quantity_proto.go
  vendor/modules.txt
Labels: backport/1.10, kind/backports, release-note/minor

#16119 pkg/aws/eni: new subnet-ids parameter
  Documentation/concepts/networking/ipam/eni.rst
  pkg/aws/eni/instances.go
  pkg/aws/eni/instances_test.go
  pkg/aws/eni/node.go
  pkg/aws/eni/types/types.go
  pkg/aws/eni/types/zz_generated.deepcopy.go
  pkg/aws/eni/types/zz_generated.deepequal.go
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnodes.yaml
  pkg/nodediscovery/nodediscovery.go
  plugins/cilium-cni/types/types_test.go
Labels: area/eni, area/operator, release-note/minor

#16055 Add missing bpftool map dumps
  bugtool/cmd/configuration.go
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/misc

#12527 Makefile, contrib: Add script to create kind cluster
  Makefile
  contrib/scripts/kind.sh
Labels: needs-backport/1.10, needs/triage, release-note/misc, sig/contributing

#16336 docs: fix some dead links
  Documentation/contributing/development/dev_setup.rst
  Documentation/contributing/release/feature.rst
  Documentation/gettinghelp.rst
  Documentation/gettingstarted/aws.rst
  Documentation/gettingstarted/k8s-install-openshift-okd.rst
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/gettingstarted/requirements-rke.rst
  Documentation/operations/performance/benchmark.rst
Labels: area/documentation, needs-backport/1.10, release-note/misc

#16344 Prepare for release v1.9.8
  .github/cilium-actions.yml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.9, kind/backports, kind/release

#16354 install: Update image digests for v1.9.8
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.9, kind/backports

#16347 Fix flag in minikube guide
  Documentation/gettingstarted/minikube-install.rst
Labels: backport/1.9, kind/backports, ready-to-merge, release-note/misc

#15993 [v1.8] remove ARP entries left from previous Cilium run
  daemon/cmd/daemon_main.go
  daemon/cmd/status.go
  pkg/datapath/fake/node.go
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
  pkg/datapath/linux/node_test.go
  pkg/datapath/node.go
  pkg/hubble/peer/handler.go
  pkg/node/manager/manager_test.go
Labels: backport/1.8, kind/backports, release-note/bug

#16360 .github: Fix error triggered by large comments
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, kind/bug/CI, ready-to-merge, release-note/ci

#16298 proxylib/test: fix data race between StartAccessLogServer and Close
  proxylib/test/accesslog_server.go
Labels: project/ci-force, release-note/misc
