Repository cilium/cilium, pull requests merged in 2021-07, with the labels that each got.

#16662 k8s: Fix External Workloads service access
  pkg/k8s/service.go
Labels: kind/bug, kind/regression, needs-backport/1.10, release-note/bug, sig/k8s

#16719 docs: fix code-block for bpf mount example
  Documentation/operations/system_requirements.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16732 docs: Update link to be specific to Janitors
  Documentation/contributing/development/contributing_guide.rst
Labels: area/documentation, area/misc, ready-to-merge, release-note/misc, sig/contributing

#16690 Docs: Fix maglev.hashSeed byte size documentation
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/minor

#16729 docs: update the version specific notes table
  Documentation/operations/upgrade.rst
Labels: area/documentation, backport/1.10, kind/backports, ready-to-merge

#16735 workflows: remove label filters for testing workflows
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/tests-l4lb.yaml
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16715 ci/conformance: Various image-related fixes
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16700 test: Debug IPsec test
  test/k8sT/DatapathConfiguration.go
Labels: area/CI, area/encryption, ready-to-merge, release-note/ci

#16750 contrib/docs: rename 'cilium-actions.yml' with 'maintainers-little-helper.yaml
  Documentation/contributing/release/feature.rst
  contrib/release/bump-readme.sh
  contrib/release/start-release.sh
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#16748 test: Enable verbose policy logs to help debug flake
  test/runtime/fqdn.go
Labels: area/CI, ready-to-merge, release-note/ci

#16739 checkpatch: update image to improve checks and extend to all commits
  .github/workflows/lint-bpf-checks.yaml
Labels: area/CI-improvement, ready-to-merge, release-note/misc

#16730 v1.9 — backport #16710
  Documentation/operations/upgrade.rst
Labels: backport/1.9, kind/backports, ready-to-merge

#16756 Revert "docs: add 'endpointRoutes.enabled=true' to aws-cni"
  Documentation/gettingstarted/cni-chaining-aws-cni.rst
Labels: area/documentation, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/misc

#16749 Prepare for release v1.10.2
  .github/maintainers-little-helper.yaml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: backport/1.10, kind/release

#16764 install: Update image digests for v1.10.2
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: backport/1.10, kind/backports

#16765 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#16747 [v1.10] fix condition for running documentation GitHub action on Helm updates
  .github/workflows/documentation.yaml
Labels: backport/1.10, kind/backports

#16758 CODEOWNERS: Assign pkg/cgroups to cilium/bpf
  CODEOWNERS
Labels: ready-to-merge, release-note/misc, sig/contributing

#16712 ci-multicluster: Fix post-test information gathering
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI-improvement, release-note/ci

#16514 Add workload name and workload kind to slim api and hubble api
  api/v1/flow/flow.pb.go
  api/v1/flow/flow.pb.json.go
  api/v1/flow/flow.proto
  api/v1/observer/observer.pb.go
  pkg/hubble/api/v1/interface.go
  pkg/hubble/parser/threefour/parser.go
  pkg/hubble/parser/threefour/parser_test.go
  pkg/hubble/testutils/fake.go
  pkg/k8s/slim/k8s/apis/meta/v1/generated.pb.go
  pkg/k8s/slim/k8s/apis/meta/v1/generated.proto
  pkg/k8s/slim/k8s/apis/meta/v1/helpers.go
  pkg/k8s/slim/k8s/apis/meta/v1/meta.go
  pkg/k8s/slim/k8s/apis/meta/v1/types.go
  pkg/k8s/slim/k8s/apis/meta/v1/zz_generated.deepcopy.go
  pkg/k8s/slim/k8s/apis/meta/v1/zz_generated.deepequal.go
Labels: release-note/minor, sig/hubble, sig/k8s

#16387 .github: Create lint-rst.yaml
  .github/workflows/lint-rst.yaml
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/misc

#16711 workflows: fix concurrency group names
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/tests-l4lb.yaml
Labels: area/CI, area/CI-improvement, release-note/ci

#16691 bugtool: Collect BPF cgroup programs related information
  bugtool/cmd/configuration.go
Labels: area/bugtool, needs-backport/1.10, needs-backport/1.9, release-note/misc

#16584 helm: Allow configuration of probe timers
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  install/kubernetes/cilium/values.yaml
Labels: needs-backport/1.10, release-note/misc

#16769 Revert "policy: Make selectorcache callbacks lock-free"
  pkg/policy/l4.go
  pkg/policy/resolve_deny_test.go
  pkg/policy/resolve_test.go
  pkg/policy/selectorcache.go
  pkg/policy/selectorcache_test.go
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/misc

#16797 [v1.8]: pkg/k8s: add pod IP event change
  Makefile
  pkg/k8s/types/types.go
  pkg/k8s/types/zz_generated.deepcopy.go
  pkg/k8s/types/zz_generated.deepequal.go
  pkg/k8s/watchers/pod.go
Labels: backport/1.8, kind/backports, ready-to-merge

#16778 bugtool: Update `ip{6,}tables` commands
  bugtool/cmd/configuration.go
Labels: area/bugtool, feature/ipv6, ready-to-merge, release-note/misc

#16809 bpf/pcap: Use `CAPTURE{4,6}_RULES` macros
  bpf/lib/pcap.h
Labels: kind/cleanup, ready-to-merge, release-note/misc

#16767 test: Redeploy DNS after endpointRoutes reconfiguration
  test/helpers/kubectl.go
  test/k8sT/assertionHelpers.go
Labels: needs-backport/1.10, release-note/ci

#16775 test/Bookinfo: Collect full artifact in case of failure
  test/k8sT/bookinfo.go
Labels: area/CI, kind/bug/CI, needs-backport/1.10, ready-to-merge, release-note/ci

#16804 contrib: Explicitly set remote for backport branches
  contrib/backporting/submit-backport
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#15999 Improve logging when cgroupfs mount fails
  pkg/cgroups/cgroups.go
  pkg/cgroups/cgroups_linux.go
Labels: kind/cleanup, needs-backport/1.10, needs-backport/1.9, release-note/misc

#16786 Revert ".github: Create lint-rst.yaml"
  .github/workflows/lint-rst.yaml
Labels: area/build, area/documentation, kind/bug, release-note/ci

#16678 [v1.8] ipam: Add extra debug info when blacklisting routes
  pkg/ipam/ipam_local_linux.go
Labels: backport/1.8, kind/backports, ready-to-merge

#16791 docs: ignore `__pycache__` directory created by custom spelling filters
  Documentation/.gitignore
Labels: area/documentation, release-note/misc

#16822 docs: Document dns visibility limitations
  Documentation/policy/visibility.rst
Labels: area/documentation, needs-backport/1.10, release-note/misc

#16734 dev-doctor: Bump minimum hub version requirement for backporting
  tools/dev-doctor/rootcmd.go
Labels: area/build, ready-to-merge, release-note/misc

#16609 [v1.9] Update K8s to v1.19.12
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Labels: backport/1.9, kind/backports, ready-to-merge, release-note/misc, sig/k8s

#16830 workflows: fix L4LB test missing PR reporting on issue_comment
  .github/workflows/tests-l4lb.yaml
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16815 Fixes for platforms where init container fails to run
  Makefile
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  tools/Makefile
  tools/mount/.gitignore
  tools/mount/Makefile
  tools/mount/main.go
Labels: kind/regression, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/bug

#16836 .github: do not useDigest in conformance tests
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: needs-backport/1.10, release-note/misc

#16837 [v1.10] .github: do not useDigest in conformance tests
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: backport/1.10, kind/backports

#16811 choir: normalize error handling in kube_proxy_replacement.go
  daemon/cmd/daemon.go
  daemon/cmd/kube_proxy_replacement.go
Labels: ready-to-merge, release-note/misc

#16831 workflows: fix Relay pgrep check when using additional flags
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, area/CI-improvement, ready-to-merge, release-note/ci

#16824 [v1.10] Fixes for platforms where init container fails to run
  Makefile
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  tools/Makefile
  tools/mount/.gitignore
  tools/mount/Makefile
  tools/mount/main.go
Labels: backport/1.10, kind/backports

#16570 Docs: Changed parameters for minikube start
  Documentation/gettingstarted/k8s-install-default.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#16848 docs, bpf: fix llvm-objdump --no-show-raw-insn options
  Documentation/bpf.rst
Labels: release-note/misc

#16834 envoy: Keep track of proxy listeners separately
  pkg/envoy/server.go
  pkg/proxy/envoyproxy.go
Labels: kind/bug, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-blocker/1.10, release-blocker/1.9, release-note/bug

#16440 test: Delete Istio resources if install does not complete
  test/k8sT/istio.go
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16819 github: Increase workflow timeout
  .github/workflows/conformance-gke.yaml
Labels: area/CI, kind/bug/CI, ready-to-merge, release-note/misc

#16755 docs(k3s): add back the flag to disable network policies
  Documentation/gettingstarted/k3s.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16845 test: Move instrumentation to AfterFailed instead of AfterAll
  test/k8sT/Services.go
Labels: area/CI, needs-backport/1.10, ready-to-merge, release-note/ci

#16817 iptables: Remove leading zeroes
  pkg/datapath/iptables/iptables.go
  pkg/datapath/iptables/iptables_test.go
Labels: area/proxy, backport-pending/1.8, backport-pending/1.9, kind/bug, kind/regression, needs-backport/1.10, needs-rebase, ready-to-merge, release-note/misc, sig/datapath

#16868 workflows: Skip FQDN tests in AWS-CNI workflow
  .github/workflows/conformance-aws-cni.yaml
Labels: area/CI, kind/bug/CI, ready-to-merge, release-note/ci

#16851 .github: add step to check for GH workflow when chart is released
  .github/ISSUE_TEMPLATE/release_template.md
Labels: release-note/misc

#16869 test/K8sBookInfo: Readiness probes for test pods
  test/k8sT/manifests/bookinfo-v1.yaml
  test/k8sT/manifests/bookinfo-v2.yaml
Labels: area/CI, kind/bug/CI, ready-to-merge, release-note/ci

#16858 [v1.10] install/kubernetes: re-add restartPods
  install/kubernetes/cilium/templates/cilium-nodeinit-daemonset.yaml
Labels: backport/1.10, kind/backports, release-blocker/1.10, release-note/misc

#16878 v1.10: Update Go to 1.16.6
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.10, kind/backports, release-note/misc

#16857 pkg/k8s: re-add CiliumIsUp Node condition even if removed
  pkg/k8s/node.go
  pkg/k8s/watchers/node.go
Labels: needs-backport/1.10, release-blocker/1.10, release-note/misc, sig/k8s

#16886 test: do not useDigest in upstream tests
  test/kubernetes-test.sh
Labels: backport-pending/1.10, kind/bug, needs-backport/1.10, release-blocker/1.10, release-note/ci

#16861 chore: normalize returning of errors in NewDaemon
  daemon/cmd/daemon.go
Labels: ready-to-merge, release-note/misc

#16876 docs: fix code-block formatting for XDP load example
  Documentation/bpf.rst
Labels: area/documentation, needs-backport/1.10, ready-to-merge, release-note/misc

#16820 test: Increase service/DNS timeout from 30 to 240 seconds
  test/k8sT/KafkaPolicies.go
Labels: area/CI-improvement, ready-to-merge, release-note/misc

#16803 test: Fix helper to retrieve tail call counters
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, ready-to-merge, release-note/ci

#16802 test: Fix local runs of K8sUpdates
  test/config/config.go
  test/provision/compile.sh
Labels: area/CI, kind/bug/CI, ready-to-merge, release-note/ci

#16766 istio: Update to release 1.9.6
  Documentation/gettingstarted/istio.rst
  test/k8sT/istio.go
Labels: area/proxy, kind/enhancement, ready-to-merge, release-note/major

#16435 test: Pass container to ExecPodCmdBackground()
  test/helpers/kubectl.go
  test/k8sT/Chaos.go
Labels: kind/bug/CI, ready-to-merge, release-note/ci

#16898 Prepare for release v1.10.3
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: backport/1.10, kind/backports, kind/release

#16901 install: Update image digests for v1.10.3
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: backport/1.10, kind/backports

#16902 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#16877 pkg/node: add comments for IPLen in getCiliumHostIPsFromFile
  pkg/node/address.go
  pkg/node/address_test.go
Labels: release-note/misc

#16652 tests: re-enable Host Firewall for AutoDirectNodeRoutes test and encryption + direct routing
  test/k8sT/DatapathConfiguration.go
Labels: area/CI-improvement, area/host-firewall, ready-to-merge, release-note/misc

#16476 bpf: rename variables with camel-case names
  bpf/bpf_host.c
  bpf/bpf_lxc.c
  bpf/lib/metrics.h
  bpf/lib/policy.h
  bpf/sockops/bpf_redir.c
  bpf/sockops/bpf_sockops.c
Labels: kind/cleanup, ready-to-merge, release-note/misc, sig/datapath

#16880 v1.9: Update Go to 1.15.14
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/docker-compose.yml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.9, kind/backports, release-note/misc

#16892 .github/workflows: use latest stable cilium-cli release
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, needs-backport/1.10, release-note/ci

#16899 workflows: use `!success()` for sysdump and Slack notifications
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/documentation.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/lint-images-base.yaml
  .github/workflows/tests-l4lb.yaml
  .github/workflows/tests-nightly.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI-improvement, needs-backport/1.10, release-note/ci

#16850 lbmap: fix deletion and recreation logic for maglev maps
  pkg/maps/lbmap/maglev_outer_map.go
Labels: ready-to-merge, release-note/bug, sig/loadbalancing

#16773 change log level for `lock failed: endpoint is in the process of being removed`
  pkg/endpoint/lock.go
Labels: needs-backport/1.10, release-note/bug

#16034 Improves the error logs during the bpf maps updating
  pkg/bpf/bpf_linux.go
  pkg/bpf/map_linux.go
  pkg/maps/cidrmap/cidrmap.go
  pkg/maps/ctmap/ctmap_privileged_test.go
  pkg/maps/lbmap/lbmap.go
  pkg/probe/probe.go
Labels: kind/enhancement, needs-backport/1.10, release-note/misc

#16666 daemon: log any error returned by RestoreServices()
  daemon/cmd/daemon.go
Labels: area/daemon, ready-to-merge, release-note/misc

#16910 v1.9 backports 2021-07-15 (2)
  pkg/cgroups/cgroups.go
Labels: backport/1.9, kind/backports

#16932 Prepare for release v1.9.9
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.9, kind/release

#16934 install: Update image digests for v1.9.9
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.9, kind/backports

#16864 Create CiliumEndpointBatch CRD
  Documentation/cmdref/cilium-agent.md
  Makefile
  daemon/cmd/daemon_main.go
  pkg/annotation/k8s.go
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumendpointbatches.yaml
  pkg/k8s/apis/cilium.io/client/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/types.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepequal.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/cilium.io_client.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/ciliumendpointbatch.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/fake/fake_cilium.io_client.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/fake/fake_ciliumendpointbatch.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/generated_expansion.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2alpha1/ciliumendpointbatch.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2alpha1/interface.go
  pkg/k8s/client/informers/externalversions/generic.go
  pkg/k8s/client/listers/cilium.io/v2alpha1/ciliumendpointbatch.go
  pkg/k8s/client/listers/cilium.io/v2alpha1/expansion_generated.go
  pkg/k8s/factory_functions.go
  pkg/option/config.go
Labels: release-note/misc

#16941 .github: harden permissions on GH workflows
  .github/workflows/tests-l4lb.yaml
Labels: needs-backport/1.10, release-note/ci

#16948 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
Labels: release-note/misc

#16911 bpf: Remove duplicate define from MAX_BASE_OPTIONS
  bpf/Makefile
Labels: area/build, kind/cleanup, needs-backport/1.10, release-note/misc, sig/datapath

#16950 .github: remove workflows triggered by comments
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/tests-l4lb.yaml
Labels: backport/1.10, kind/backports, release-note/ci

#16961 v1.9 backports 2021-07-21
  .github/workflows/go-check.yaml
  .github/workflows/images-legacy-hotfix-releases.yaml
  .github/workflows/images-legacy-releases.yaml
  .github/workflows/nightly.yaml
  .github/workflows/smoke-test-ipv6.yaml
  .github/workflows/smoke-test.yaml
Labels: backport/1.9, kind/backports

#16962 v1.8 backports 2021-07-21
  .github/workflows/images-legacy-hotfix-releases.yaml
  .github/workflows/images-legacy-releases.yaml
Labels: backport/1.8, kind/backports

#16924 bpf: remove bandwidth manager from 5.4 MAX_BASE_OPTIONS
  bpf/Makefile
Labels: area/CI, backport/1.9, kind/backports, ready-to-merge, release-note/ci, sig/datapath

#16891 Fix alias of cilium-health get
  cilium-health/cmd/get.go
Labels: release-note/misc

#16958 hubble/relay: Fix close of closed channel in unit test
  pkg/hubble/relay/pool/manager_test.go
Labels: needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/ci, sig/hubble

#16692 Auto discover ipv6-mcast-device if not provided
  daemon/cmd/kube_proxy_replacement.go
  daemon/cmd/kube_proxy_replacement_test.go
  pkg/option/config.go
Labels: ready-to-merge, release-note/minor

#16895 test: Remove Services SCTP test case
  test/k8sT/Services.go
  test/k8sT/manifests/iperf3-deployment.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#16937 install/kubernetes: restrict k8s access for relay
  install/kubernetes/cilium/templates/hubble-relay/clusterrole.yaml
  install/kubernetes/cilium/templates/hubble-relay/clusterrolebinding.yaml
  install/kubernetes/cilium/templates/hubble-relay/deployment.yaml
Labels: needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/misc, sig/hubble

#16969 docs: clarify language on libceph and kernel 5.8 in kubeproxy-free GSG
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, area/kube-proxy-free, ready-to-merge, release-note/misc

#16929 .gitattributes: Hide Documentation/_static.
  .gitattributes
Labels: release-note/misc

#16965 [v1.8] bpf: unconditionally enable tail calls in bpf_lxc
  bpf/bpf_lxc.c
Labels: release-note/bug

#16936 contrib: Improve release script guard rails
  contrib/release/post-release.sh
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/misc

#16970 v1.8 backport: ci: Disable NFS locking
  test/Vagrantfile
Labels: backport/1.8, kind/backports

#16979 github: fix GH workflows to handle push events to stable branches
  .github/workflows/conformance-kind.yaml
  .github/workflows/documentation.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/lint-images-base.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: backport/1.10, kind/backports

#16978 github: fix GH workflows to handle push events to stable branches
  .github/workflows/coccicheck.yaml
  .github/workflows/docs.yaml
  .github/workflows/go-check.yaml
  .github/workflows/helm-check.yaml
Labels: backport/1.8, kind/backports

#16888 Cleanup Azure allocator cloud name detection code
  pkg/ipam/allocator/azure/azure.go
Labels: area/azure, area/operator, pending-review, release-note/misc

#16985 install: Update image digests for v1.8.11
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/charts/agent/values.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/charts/operator/values.yaml
  install/kubernetes/cilium/charts/preflight/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.8, kind/backports

#16772 Pass vlan tagged packets back to the kernel stack.
  Documentation/cmdref/cilium-agent.md
  api/v1/flow/flow.pb.go
  api/v1/flow/flow.proto
  api/v1/observer/observer.pb.go
  bpf/bpf_host.c
  bpf/lib/common.h
  bpf/node_config.h
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  pkg/datapath/linux/config/config.go
  pkg/datapath/linux/config/config_test.go
  pkg/monitor/api/drop.go
  pkg/option/config.go
Labels: release-note/minor

#16783 docs: improve the bandwidth manager page
  Documentation/gettingstarted/bandwidth-manager.rst
Labels: area/documentation, kind/enhancement, needs-backport/1.10, needs-backport/1.9, release-note/misc

#16608 vendor: Update k8s dependencies and tests to 1.21.3
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/k8s.io/code-generator/go.mod
  vendor/k8s.io/code-generator/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/reconcile_schema.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/remove.go
Labels: needs-backport/1.10, ready-to-merge, release-note/misc, sig/k8s

#16988 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
Labels: release-note/misc

#16955 inctimer: Fix bug where timer fired immediately
  pkg/inctimer/inctimer.go
  pkg/inctimer/inctimer_test.go
Labels: kind/bug, needs-backport/1.10, ready-to-merge, release-note/bug

#16954 docs: Clarify SA target in KPR gsg
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, needs-backport/1.10, needs-backport/1.9, ready-to-merge, release-note/misc, sig/loadbalancing

#16972 policy: Fix derived-from labels
  pkg/policy/distillery_test.go
  pkg/policy/mapstate.go
Labels: kind/bug, ready-to-merge, release-note/minor

#16986 clustermesh: fix CEP status patch
  clustermesh-apiserver/vmmanager.go
Labels: area/clustermesh, kind/bug, ready-to-merge, release-note/misc

#16907 backporting: Suggest only one related commit for a backport
  contrib/backporting/check-stable
Labels: needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#16918 operator: misc. refactoring and code removal
  operator/k8s_node.go
  operator/k8s_pod_controller.go
  operator/watchers/pod.go
Labels: needs-backport/1.10, release-note/misc

#16789 workflows: add external workload conformance test
  .github/gcp-vm-startup.sh
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads.yml
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#16647 ipsec: Fix off-by-one error on max keyID
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/linux_defaults/linux_defaults.go
Labels: area/encryption, kind/bug, release-note/bug

#17000 config: Fix incorrect packet path with IPsec and endpoint routes
  pkg/datapath/linux/config/config.go
Labels: area/encryption, kind/bug, needs-backport/1.10, needs-backport/1.8, needs-backport/1.9, release-note/bug

#16947 install: Fix README links to getting started guides
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/README.md.gotmpl
Labels: needs-backport/1.10, release-note/misc

#16865 ci: Bump ubuntu-next image
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/ci

#16974 daemon: Make L2 neighbor discovery configurable.
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/node.go
  pkg/option/config.go
Labels: ready-to-merge, release-note/minor
