Repository cilium/cilium, pull requests merged in 2021-02, with the labels that each got.

#14711 Helm: Respect serviceAccounts.*.create value
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-operator-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-operator-serviceaccount.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: area/helm, release-note/bug

#14813 Modified path of fuzzer
  test/fuzzing/oss-fuzz-build.sh
Labels: ready-to-merge, release-note/misc

#14826 dependabot: disable automatic rebasing of PRs
  .github/dependabot.yml
Labels: release-note/misc

#14821 dependabot: ignore ginkgo updates
  .github/dependabot.yml
Labels: release-note/misc

#14818 Fix wrong url
  Documentation/concepts/kubernetes/configuration.rst
  pkg/bpf/bpffs_linux.go
Labels: needs-backport/1.9, release-note/misc

#14831 Update USERS.md
  USERS.md
Labels: release-note/misc

#14828 images/runtime: fix loopback CNI installation plugin
  images/cilium/Dockerfile
  images/runtime/Dockerfile
Labels: area/cni, kind/bug, needs-backport/1.9, release-note/bug

#14799 docs: Updates steps when using submit-backport
  Documentation/contributing/release/backports.rst
Labels: area/documentation, ready-to-merge, release-note/misc, sig/contributing

#14739 hubble: Support --{last,since,until} on agent and debug events
  pkg/hubble/observer/local_observer.go
  pkg/hubble/observer/local_observer_test.go
Labels: release-note/misc, sig/hubble

#14548 operator: use logfields in cilium operator logging
  operator/ccnp_event.go
  operator/cilium_node.go
  operator/cnp_event.go
  operator/identity/heartbeat.go
  operator/identity_gc.go
  operator/k8s_cep_gc.go
  operator/k8s_identity.go
  operator/k8s_node.go
  operator/k8s_pod_controller.go
  operator/kvstore_watchdog.go
  operator/main.go
  operator/watchers/k8s_service_sync.go
  pkg/logging/logfields/logfields.go
Labels: area/operator, release-note/misc

#14688 [HELM] added flag for proxy.prometheus.enabled in helm chart
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-agent-service.yaml
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: area/helm, release-note/misc

#14837 dependabot: limit number of open PRs to 1
  .github/dependabot.yml
Labels: release-note/misc

#14842 lbmap: Initialize maps before test suite runs
  pkg/maps/lbmap/maglev_test.go
Labels: area/CI, kind/bug/CI, needs-backport/1.9, ready-to-merge, release-note/ci, sig/loadbalancing

#14812 docs: fix llvm git repo and clang folder
  Documentation/bpf.rst
Labels: release-note/misc

#14622 maglev: Allocate permutations slice ahead of time
  daemon/cmd/kube_proxy_replacement.go
  pkg/maglev/maglev.go
  pkg/maglev/maglev_test.go
Labels: kind/performance, needs-backport/1.9, release-note/misc, sig/loadbalancing

#14849 docs: Update trigger phrase for Cilium-PR-Ginkgo-Tests-Kernel-Focus
  Documentation/contributing/testing/ci.rst
Labels: area/CI, area/documentation, ready-to-merge, release-note/ci

#14850 Prepare for release v1.9.4
  .github/cilium-actions.yml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.9, kind/backports, kind/release

#14584 Vagrant Script: Detect colliding active virtualbox VMs and warn users
  contrib/vagrant/start.sh
Labels: ready-to-merge, release-note/misc, sig/contributing

#14856 Added build comment to oss-fuzz build file
  test/fuzzing/oss-fuzz-build.sh
Labels: ready-to-merge, release-note/misc

#14887 Dockerfiles: quote FROM images if they contain 'sha256'
  Dockerfile
  Dockerfile.builder
  cilium-dev.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/coccinelle/Dockerfile
  hubble-relay.Dockerfile
Labels: area/build, release-note/misc

#14897 Revert "Dockerfiles: quote FROM images if they contain 'sha256'"
  Dockerfile
  Dockerfile.builder
  cilium-dev.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/coccinelle/Dockerfile
  hubble-relay.Dockerfile
Labels: area/build, release-note/misc

#14896 Update stable releases
  .github/cilium-actions.yml
  README.rst
Labels: release-note/misc

#14894 docs: Fix upgrade docs link for api ratelimiting
  Documentation/operations/upgrade.rst
Labels: backport/1.8, kind/backports

#14893 docs: Add FQDN limitation to IPVLAN docs
  Documentation/gettingstarted/ipvlan.rst
Labels: needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, release-note/misc

#14874 Fix typo in grpc example
  Documentation/gettingstarted/grpc.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#14731 Helm: Add custom serviceAccounts
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/_clustermesh-apiserver-generate-certs-job-spec.tpl
  install/kubernetes/cilium/templates/_hubble-generate-certs-job-spec.tpl
  install/kubernetes/cilium/templates/cilium-agent-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-agent-serviceaccount.yaml
  install/kubernetes/cilium/templates/cilium-etcd-operator-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/cilium-etcd-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-etcd-operator-serviceaccount.yaml
  install/kubernetes/cilium/templates/cilium-operator-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-operator-serviceaccount.yaml
  install/kubernetes/cilium/templates/cilium-preflight-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/cilium-preflight-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-preflight-deployment.yaml
  install/kubernetes/cilium/templates/cilium-preflight-serviceaccount.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver-deployment.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver-generate-certs-role.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver-generate-certs-rolebinding.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver-generate-certs-serviceaccount.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver-serviceaccount.yaml
  install/kubernetes/cilium/templates/hubble-generate-certs-clusterrole.yaml
  install/kubernetes/cilium/templates/hubble-generate-certs-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/hubble-generate-certs-serviceaccount.yaml
  install/kubernetes/cilium/templates/hubble-relay-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/hubble-relay-deployment.yaml
  install/kubernetes/cilium/templates/hubble-relay-serviceaccount.yaml
  install/kubernetes/cilium/templates/hubble-ui-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/hubble-ui-deployment.yaml
  install/kubernetes/cilium/templates/hubble-ui-serviceaccount.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: area/helm, release-note/minor

#14895 bugtool: Record attached BPF programs
  bugtool/cmd/configuration.go
Labels: ready-to-merge, release-note/misc

#14867 test: Always select nodes by label
  test/helpers/kubectl.go
  test/k8sT/DatapathConfiguration.go
  test/k8sT/Health.go
  test/k8sT/Policies.go
  test/k8sT/Services.go
  test/k8sT/StressPolicy.go
  test/k8sT/cli.go
  test/k8sT/fqdn.go
  test/k8sT/hubble.go
Labels: area/CI-improvement, kind/cleanup, ready-to-merge, release-note/ci

#14785 api/hubble: add AUDIT policy verdict
  api/v1/flow/flow.pb.go
  api/v1/flow/flow.proto
  api/v1/observer/observer.pb.go
Labels: ready-to-merge, release-note/minor, sig/hubble

#14822 test: Extend coverage for host policies enforcement
  test/k8sT/DatapathConfiguration.go
  test/k8sT/manifests.go
  test/k8sT/manifests/demo_hostfw.yaml
  test/k8sT/manifests/host-policies.yaml
Labels: area/CI-improvement, area/host-firewall, release-note/ci, sig/datapath

#14908 .github: Don't mark good-first-issues as stale
  .github/stale.yml
Labels: release-note/misc, sig/contributing

#14862 bpf: Fix compilation of bpf_ct_tests
  bpf/Makefile
  bpf/tests/prog_test/prog_test.go
Labels: area/CI, ready-to-merge, release-note/ci, sig/datapath

#14913 iptables: Fix incorrect SNAT bypass with endpoint routes and tunneling
  pkg/datapath/iptables/iptables.go
Labels: area/CI, kind/bug, kind/bug/CI, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug, sig/datapath

#14920 docs: Document hostport requirements in eni
  Documentation/gettingstarted/aws-eni.rst
Labels: needs-backport/1.7, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc

#14932 .github: set different workflow IDs
  .github/workflows/images-legacy.yaml
Labels: release-note/misc

#14634 Makefile: build Cilium with madvdontneed=1
  Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/vagrant/start.sh
  hubble-relay.Dockerfile
Labels: kind/performance, needs-backport/1.8, needs-backport/1.9, release-note/minor

#14925 docs: Document update-cmdref make target usage
  Documentation/contributing/development/contributing_guide.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, release-note/misc, sig/contributing

#14847 docs: Added instruction to also delete kube-proxy configmap
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: needs-backport/1.8, needs-backport/1.9, release-note/misc

#14886 images: Set GOPS_CONFIG_DIR in scratch images
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  hubble-relay.Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
Labels: area/docker, needs-backport/1.9, ready-to-merge, release-note/misc, requires-janitor-review

#14933 .github: set :latest tag for merges into master branch
  .github/workflows/images-legacy.yaml
Labels: release-note/misc

#14938 test: Avoid unnecessary restarts of unmanaged pods
  test/k8sT/assertionHelpers.go
Labels: area/CI, kind/bug/CI, ready-to-merge, release-note/ci

#14954 ci(smoketest): Pin promtool version in GHA
  .github/workflows/smoke-test.yaml
Labels: area/CI, release-note/ci

#14942 test: Delete all unmanaged pods with a single kubectl delete
  test/helpers/kubectl.go
Labels: area/CI, kind/bug/CI, project/ci-force, ready-to-merge, release-note/ci

#14916 run bpf_ct_tests as part of CI
  .github/workflows/bpf-checks.yaml
Labels: release-note/ci

#14868 v1.7 backports 2021-02-05
  test/helpers/cons.go
  test/helpers/constants/images.go
  test/helpers/wrappers.go
  test/k8sT/manifests/netperf-deployment.yaml
  test/runtime/connectivity.go
Labels: backport/1.7, kind/backports

#14903 operator: added --pprof flag/endpoint
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  operator/flags.go
  operator/main.go
  operator/option/config.go
Labels: release-note/minor

#14966 Revert kernel-check CLI
  Documentation/cmdref/cilium.md
  Documentation/cmdref/cilium_kernel-check.md
  Documentation/operations/system_requirements.rst
  cilium/cmd/kernel_check.go
  examples/kubernetes/kernel-check/kernel-check.yaml
Labels: needs-backport/1.9, ready-to-merge, release-note/minor

#14979 ci: build race-detection images in GH actions
  .github/workflows/images-legacy.yaml
Labels: dont-merge/needs-release-note-label

#14965 CODEOWNERS: Remove docs-structure review from helm
  CODEOWNERS
Labels: ready-to-merge, release-note/misc, sig/contributing

#14983 Update Go to 1.15.8
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: release-note/misc

#14968 docs: Update our community docs page
  Documentation/community.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, release-note/misc, sig/contributing

#14816 node-neigh: add metric to count arping requests
  pkg/datapath/linux/node.go
  pkg/metrics/metrics.go
Labels: release-note/minor

#14999 cilium: encryption fix, ipv4-pod-subnets without encryptnode fails
  pkg/datapath/linux/node.go
Labels: kind/bug, needs-backport/1.8, needs-backport/1.9, release-note/bug

#14985 v1.8: Update Go to 1.14.15
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  test/docker-compose.yml
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.8, kind/backports, ready-to-merge, release-note/misc

#14994 iptables: Skip CILIUM_TRANSIENT_FORWARD for IPv6
  pkg/datapath/iptables/iptables.go
Labels: needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/misc, sig/datapath

#14878 Fqdn: log misbehaving applications that do not respect DNS TTL
  pkg/fqdn/cache.go
Labels: area/proxy, ready-to-merge, release-note/misc

#14995 bpf: Enable monitor aggregation in complexity tests
  bpf/Makefile
  bpf/node_config.h
Labels: area/CI-improvement, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/ci, sig/datapath

#15001 test: Disable unsupported features on 4.9 to reduce warnings
  test/helpers/kubectl.go
Labels: area/CI-improvement, ready-to-merge, release-note/ci

#15007 ci: fix checking for pr git sha in jenkinsfiles
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
Labels: release-note/ci

#14980 bpf: lb pmtu discovery support
  bpf/Makefile
  bpf/include/bpf/ctx/skb.h
  bpf/include/bpf/ctx/xdp.h
  bpf/include/bpf/helpers_xdp.h
  bpf/init.sh
  bpf/lib/common.h
  bpf/lib/nodeport.h
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/config/config.go
  pkg/monitor/api/drop.go
  pkg/option/config.go
Labels: lb-only, release-note/misc, sig/datapath, sig/loadbalancing

#15004 pkg/k8s/watchers follow-up for #14864
  pkg/k8s/watchers/pod.go
Labels: ready-to-merge, release-note/misc, sig/k8s

#15010 test: Use Endpoint instead of EndpointSlice in 1.17
  test/k8sT/manifests/1.17/external_endpoint.yaml
Labels: needs-backport/1.9, ready-to-merge, release-note/ci

#15005 .github: use quay.io images in smoke tests
  .github/workflows/smoke-test-ipv6.yaml
  .github/workflows/smoke-test.yaml
Labels: area/CI, release-note/misc

#15017 Prepare for release v1.8.7
  .github/cilium-actions.yml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/Chart.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/cilium/charts/hubble-ui/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/charts/prometheus-crd/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.8, kind/release

#15018 Update stable releases
  .github/cilium-actions.yml
  README.rst
Labels: ready-to-merge, release-note/misc

#14982 ci: Bump vagrant boxes
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/ci

#15003 test: Quarantine test with secondary NodePort device
  test/k8sT/Services.go
Labels: area/CI, ready-to-merge, release-note/ci

#15009 CODEOWNERS: Update required reviews
  CODEOWNERS
Labels: ready-to-merge, release-note/misc, sig/contributing

#14902 datapath: Do not log when kernel config not found
  pkg/datapath/linux/requirements.go
Labels: area/daemon, needs-backport/1.8, needs-backport/1.9, release-note/minor

#15024 labelsfilter: Fix test for default filters
  pkg/labelsfilter/filter_test.go
Labels: area/CI, kind/cleanup, release-note/ci

#15030 k8s: update k8s libraries to 1.20.3
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/github.com/go-openapi/spec/.golangci.yml
  vendor/github.com/go-openapi/spec/README.md
  vendor/github.com/go-openapi/spec/appveyor.yml
  vendor/github.com/go-openapi/spec/debug.go
  vendor/github.com/go-openapi/spec/errors.go
  vendor/github.com/go-openapi/spec/expander.go
  vendor/github.com/go-openapi/spec/go.mod
  vendor/github.com/go-openapi/spec/go.sum
  vendor/github.com/go-openapi/spec/normalizer.go
  vendor/github.com/go-openapi/spec/normalizer_nonwindows.go
  vendor/github.com/go-openapi/spec/normalizer_windows.go
  vendor/github.com/go-openapi/spec/resolver.go
  vendor/github.com/go-openapi/spec/schema_loader.go
  vendor/github.com/go-openapi/spec/security_scheme.go
  vendor/github.com/go-openapi/spec/unused.go
  vendor/github.com/go-openapi/swag/.golangci.yml
  vendor/github.com/go-openapi/swag/loading.go
  vendor/modules.txt
Labels: release-note/misc

#15033 .github: publish into official repo for next release
  .github/workflows/images-legacy-releases.yaml
Labels: backport/1.9, kind/backports, release-note/misc

#15032 .github: publish into official repo for next release
  .github/workflows/images-legacy-releases.yaml
Labels: backport/1.8, kind/backports, release-note/misc

#15031 .github: publish into official repo for next release
  .github/workflows/images-legacy-releases.yaml
Labels: backport/1.7, kind/backports, release-note/misc

#15028 k8s: update k8s libraries to 1.18.16
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Labels: backport/1.8, kind/backports, release-note/minor

#15027 k8s: update k8s libraries and tests to 1.17.17
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Labels: backport/1.7, kind/backports, release-note/minor

#15020 contrib/k8s: use provided image when installing external workload
  contrib/k8s/install-external-workload.sh
Labels: needs-backport/1.9, release-note/misc

#15029 k8s: update k8s libraries to 1.19.8
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/apimachinery/pkg/util/wait/wait.go
  vendor/modules.txt
Labels: backport/1.9, kind/backports, release-note/minor

#14984 v1.9: Update Go to 1.15.8
  .github/workflows/go-check.yaml
  .travis.yml
  Dockerfile
  Dockerfile.builder
  GO_VERSION
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  clustermesh-apiserver.Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
  hubble-relay.Dockerfile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/docker-compose.yml
  test/k8sT/manifests/test-verifier.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: backport/1.9, kind/backports, release-note/misc

#14993 Move Azure IPAM out of beta
  CODEOWNERS
  Documentation/concepts/networking/ipam/azure.rst
  Documentation/gettingstarted/cni-chaining-azure-cni.rst
  Documentation/gettingstarted/k8s-install-aks-create-cluster.rst
  Documentation/gettingstarted/k8s-install-aks.rst
  Documentation/gettingstarted/k8s-install-azure-cni-steps.rst
  Documentation/gettingstarted/k8s-install-azure-cni-validate.rst
  Documentation/gettingstarted/k8s-install-azure.rst
  Documentation/gettingstarted/k8s-install-managed.rst
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, needs-backport/1.9, ready-to-merge, release-note/major

#15065 .github: fix correct sha for images build
  .github/workflows/images-legacy.yaml
Labels: release-note/misc

#15061 add GH action to push hot fix images into -dev repositories
  .github/workflows/images-legacy-hotfix-releases.yaml
Labels: release-note/misc

#15062 add GH action to push hot fix images into -dev repositories
  .github/workflows/images-legacy-hotfix-releases.yaml
Labels: backport/1.9, kind/backports, release-note/misc

#15064 add GH action to push hot fix images into -dev repositories
  .github/workflows/images-legacy-hotfix-releases.yaml
Labels: backport/1.7, kind/backports, release-note/misc

#15063 add GH action to push hot fix images into -dev repositories
  .github/workflows/images-legacy-hotfix-releases.yaml
Labels: backport/1.8, kind/backports, release-note/misc

#15069 .github: checkout right SHA for base images
  .github/workflows/images-legacy-base-releases.yaml
Labels: release-note/misc

#15052 [v1.7] backporting: Stop scripts from running on non-Linux
  contrib/backporting/check-stable
  contrib/backporting/cherry-pick
  contrib/backporting/common.sh
  contrib/backporting/start-backport
Labels: backport/1.7, kind/backports, ready-to-merge

#15053 [v1.9] backporting: Stop scripts from running on non-Linux
  contrib/backporting/check-stable
  contrib/backporting/cherry-pick
  contrib/backporting/common.sh
  contrib/backporting/start-backport
  contrib/backporting/submit-backport
Labels: backport/1.9, kind/backports, ready-to-merge

#15054 daemon: don't install cilium-node-monitor symlink
  contrib/packaging/rpm/cilium.spec.envsubst
  daemon/.gitignore
  daemon/Makefile
  test/runtime/chaos_agent.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#15034 Update release process
  .github/ISSUE_TEMPLATE/release_template.md
Labels: release-note/misc

#15078 .github: publish tags from master branch in official repositories
  .github/workflows/images-legacy-releases.yaml
Labels: release-note/misc

#15055 docs: update dependency table to add links and download command
  Documentation/contributing/development/dev_setup.rst
Labels: release-note/misc

#15084 .github: add stable tag for v1.9 releases
  .github/workflows/images-legacy-releases.yaml
Labels: backport/1.9, kind/backports, release-note/misc

#15016 docs: Remove incorrect configuration advice for native routing
  Documentation/concepts/networking/routing.rst
Labels: area/documentation, release-note/misc

#15076 Drop GODEBUG='madvdontneed=1' setting with Go 1.16
  contrib/vagrant/start.sh
  images/cilium-docker-plugin/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator-aws/Dockerfile
  images/operator-azure/Dockerfile
  images/operator-generic/Dockerfile
  images/operator/Dockerfile
Labels: release-note/misc

#15077 pkg/k8s: add DeepEqual code generation for Service
  pkg/clustermesh/services_test.go
  pkg/k8s/endpoints.go
  pkg/k8s/endpoints_test.go
  pkg/k8s/factory_functions.go
  pkg/k8s/rule_translate_test.go
  pkg/k8s/service.go
  pkg/k8s/service_cache.go
  pkg/k8s/service_cache_test.go
  pkg/k8s/service_test.go
  pkg/k8s/zz_generated.deepcopy.go
  pkg/k8s/zz_generated.deepequal.go
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/loadbalancer_test.go
  pkg/loadbalancer/zz_generated.deepcopy.go
  pkg/loadbalancer/zz_generated.deepequal.go
  pkg/service/store/store.go
  pkg/service/store/store_test.go
  pkg/service/store/zz_generated.deepcopy.go
  pkg/service/store/zz_generated.deepequal.go
Labels: release-note/misc, sig/k8s

#15092 k8s: update k8s libraries to 1.20.4
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Labels: release-note/misc

#15039 ipsec: Use 64bits for XFRM output sequence number
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: area/encryption, needs-backport/1.8, needs-backport/1.9, release-note/bug

#15093 Revert "azure, policy: Add JSON tags to CRD fields"
  pkg/azure/types/types.go
  pkg/azure/types/zz_generated.deepequal.go
  pkg/policy/api/egress.go
  pkg/policy/api/ingress.go
  pkg/policy/api/selector.go
  pkg/policy/api/zz_generated.deepcopy.go
  pkg/policy/api/zz_generated.deepequal.go
Labels: release-note/misc

#15058 ci: disable endpointslice in 1.17 cluster
  test/provision/k8s_install.sh
Labels: needs-backport/1.9, release-note/ci

#15081 ci: use quay.io images in upstream tests
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/kubernetes-test.sh
Labels: needs-backport/1.9, ready-to-merge, release-note/ci

#15106 node/manager: remove unused *Manager methods
  pkg/node/manager/manager.go
  pkg/node/store/store.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#15090 vagrant: bump box versions
  vagrant_box_defaults.rb
Labels: release-note/misc

#15102 Dockerfile: Bump cilium-runtime image dependency
  Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
Labels: backport/1.7, kind/backports, release-note/misc

#15115 test: Redeploy registry during Vagrant provision
  test/Vagrantfile
  test/provision/registry.sh
Labels: backport/1.7, kind/backports

#15120 Prepare for release v1.7.14
  .github/cilium-actions.yml
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Labels: backport/1.7, kind/backports, kind/release

#15110 Dockerfile image build process follow-ups
  .github/workflows/images-legacy.yaml
  .github/workflows/images.yaml
  .travis.yml
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  images/scripts/build-image.sh
  images/scripts/lint.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/test-verifier.yaml
Labels: area/build, ready-to-merge, release-note/misc

#15122 Update stable releases
  .github/cilium-actions.yml
  README.rst
Labels: release-note/misc

#15130 test: Fix local tests
  test/provision/compile.sh
Labels: area/CI, ready-to-merge, release-note/ci, sig/contributing

#15108 images: re-write README.md
  images/README.md
Labels: ready-to-merge, release-note/misc

#15124 test: remove leftovers of running own registry in GKE tests
  test/clean-local-registry-tag.sh
  test/gke/registry-ip.sh
  test/gke/select-cluster.sh
  test/k8sT/manifests/registry-adder-gke/.helmignore
  test/k8sT/manifests/registry-adder-gke/Chart.yaml
  test/k8sT/manifests/registry-adder-gke/templates/_helpers.tpl
  test/k8sT/manifests/registry-adder-gke/templates/daemonset.yaml
  test/k8sT/manifests/registry-adder-gke/values.yaml
  test/make-images-push-to-local-registry.sh
Labels: kind/cleanup, release-note/ci

#15107 pkg/kvstore: fix etcd segmentation violation
  pkg/kvstore/etcd.go
Labels: kind/bug, needs-backport/1.8, needs-backport/1.9, ready-to-merge, release-note/bug, sig/kvstore

#15096 checkpatch: update image (skip backports, add a check, suppress one report type)
  .github/workflows/bpf-checks.yaml
Labels: area/CI, needs-backport/1.9, ready-to-merge, release-note/ci
