Repository cilium/cilium, pull requests merged in 2022-05, with the labels that each got.

#19451 Select new backend if old connection from src port to cluster IP was closed
  bpf/lib/conntrack.h
  bpf/node_config.h
  bpf/tests/bpf_ct_tests.c
  pkg/datapath/linux/config/config.go
Labels: sig/datapath, ready-to-merge, release-note/misc

#19550 ingress: Set max stream duration as 0
  operator/pkg/ingress/envoy_config.go
Labels: release-note/minor, ready-to-merge

#19662 build: Fix compilation issue for non-linux platform
  pkg/defaults/defaults.go
  pkg/defaults/defaults_linux.go
  pkg/defaults/defaults_unspecified.go
  pkg/ip/ip.go
  pkg/ip/ip_scope_linux.go
  pkg/ip/ip_scope_unspecified.go
  pkg/mac/mac.go
  pkg/mac/mac_linux.go
  pkg/mac/mac_unspecified.go
Labels: release-note/misc

#18957 clustermesh-apiserver: fixed nil pointer dereference
  clustermesh-apiserver/main.go
  clustermesh-apiserver/vmmanager.go
Labels: kind/bug, release-note/bug, needs-rebase, area/clustermesh, needs-backport/1.11

#19663 maglev: fix TestPermutations backend generation
  pkg/maglev/maglev_test.go
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/misc

#19679 ci: Update Uninstall Command For Cilium CLI
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
Labels: release-note/ci

#19681 docs: move sitemap-index.xml to static directory
  Documentation/_static/sitemap-index.xml
  Documentation/robots/robots.txt
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.11

#19385 test: Revert sys-fs-bpf.mount rename
  contrib/systemd/sys-fs-bpf.mount
  test/provision/compile.sh
Labels: kind/bug, ready-to-merge, release-note/misc, release-blocker/1.12

#19686 install/cilium-operator: fix clusterrole rules
  install/kubernetes/cilium/templates/cilium-operator/clusterrole.yaml
Labels: release-note/misc, release-blocker/1.12

#19690 images/runtime: update CNI plugins to 1.1.1
  .github/workflows/build-images-ci.yaml
  .travis.yml
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  images/runtime/cni-version.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8s/manifests/demo-customcalls.yaml
Labels: release-note/misc

#19710 test/upgrade: use the unreleased helm chart of stable branches
  test/k8s/updates.go
Labels: release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19641 ipcache: Make SupportsDelete() more robust by using a separate map
  pkg/maps/ipcache/ipcache.go
  pkg/maps/ipcache/ipcache_privileged_test.go
Labels: ready-to-merge, release-note/misc

#19691 v1.11: images/runtime: update CNI plugins to 1.1.1
  .github/workflows/build-images-ci.yaml
  .travis.yml
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  images/runtime/cni-version.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Labels: kind/backports, release-note/misc, backport/1.11

#19751 ipcache: Fix failing controller check from SupportsDelete
  pkg/maps/ipcache/ipcache.go
Labels: ready-to-merge, release-note/ci

#19716 workflows: Pin the kubectl version used with EKS workflows
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#19749 doc: update doc to inform about SERVER_BOX/VERSION
  Documentation/contributing/development/dev_setup.rst
Labels: area/documentation, release-note/misc

#19700 vtep: Documents VTEP redirection and L7 policy partial incompatibility
  Documentation/gettingstarted/vtep.rst
  daemon/cmd/datapath.go
Labels: area/documentation, release-note/misc

#19692 v1.10: images/runtime: update CNI plugins to 1.1.1
  .github/workflows/build-images-ci.yaml
  .travis.yml
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  images/runtime/cni-version.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Labels: kind/backports, release-note/misc, backport/1.10

#19719 Update to CNI spec version 1.0.0
  plugins/cilium-cni/chaining/api/api.go
  plugins/cilium-cni/chaining/api/api_test.go
  plugins/cilium-cni/chaining/generic-veth/generic-veth.go
  plugins/cilium-cni/chaining/portmap/portmap.go
  plugins/cilium-cni/cilium-cni.go
  plugins/cilium-cni/interface.go
  plugins/cilium-cni/types/types.go
Labels: area/cni, release-note/minor

#19733 v1.9 backports 2022-05-06
  images/cilium/Dockerfile
  test/provision/docker-run-cilium.sh
Labels: kind/backports, backport/1.9

#19754 Prepare for release v1.9.16
  .github/maintainers-little-helper.yaml
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, kind/release, backport/1.9

#19755 Prepare for release v1.10.11
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.10

#19756 Prepare for release v1.11.5
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.11

#19702 fqdn/dnsproxy: Improve error wrapping
  pkg/fqdn/dnsproxy/proxy.go
  pkg/fqdn/dnsproxy/proxy_test.go
Labels: kind/enhancement, area/proxy, release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19288 CI: merge NAT46x64 and L4LB GH actions
  .github/workflows/tests-l4lb.yaml
  .github/workflows/tests-nat46x64.yaml
  test/l4lb/test.sh
Labels: ready-to-merge, area/CI-improvement, release-note/ci

#19742 gha: Add ingress conformance test
  .github/workflows/conformance-ingress.yaml
  examples/kubernetes/ingress/bookinfo-ingress.yaml
Labels: area/CI, ready-to-merge, release-note/misc

#19592 Add concurrency limiting for DNS message processing
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  daemon/cmd/fqdn.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/option/config.go
Labels: kind/performance, release-note/minor, needs-backport/1.10, needs-backport/1.11

#19773 .travis: Disable race build on master
  .travis.yml
Labels: area/CI, ready-to-merge, release-note/ci

#19767 docs: Fix incorrect command in IPsec GSG
  Documentation/gettingstarted/encryption-ipsec.rst
Labels: area/documentation, ready-to-merge, area/encryption, release-note/misc, needs-backport/1.10, needs-backport/1.11

#19762 Adding Overstock to the USERS.md
  USERS.md
Labels: release-note/misc

#19748 make: fix Makefile docker pull command to cause an error when using podman
  Documentation/Makefile
  bpf/mock/Makefile
Labels: area/documentation, release-note/misc, area/build

#19697 Unset `ImageReference` when updating Azure VMSS
  pkg/azure/api/api.go
Labels: kind/bug, release-note/bug, ready-to-merge, sig/ipam, area/azure

#19799 Add our selected technical writers
  Documentation/contributing/development/season_of_docs.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#19804 Add Deckhouse to users
  USERS.md
Labels: ready-to-merge, release-note/misc

#19794 cli: Update regex for key value validation
  pkg/command/map_string.go
  pkg/command/map_string_test.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11

#19823 Added ByteDance to users.md
  USERS.md
Labels: release-note/misc

#19837 Update USERS.md
  USERS.md
Labels: release-note/misc

#19839 install: Update image digests for v1.10.11
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.10

#19840 install: Update image digests for v1.11.5
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.11

#19841 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#19820 docs: Document operator.unmanagedPodWatcher
  Documentation/operations/upgrade.rst
Labels: release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19846 v1.11 backports 2022-05-16
  Documentation/operations/upgrade.rst
Labels: kind/backports, backport/1.11

#19845 v1.10 backports 2022-05-16
  Documentation/operations/upgrade.rst
Labels: kind/backports, backport/1.10

#19844 v1.9 backports 2022-05-16
  Documentation/operations/upgrade.rst
Labels: kind/backports, backport/1.9

#19825 gha: Add retry options for ingress sanity check
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-kind.yaml
Labels: area/CI, ready-to-merge, release-note/misc

#19842 Update 5.4 VM image
  vagrant_box_defaults.rb
Labels: area/CI, release-note/ci

#19855 vagrant: add git exception in dev VMs for cilium repo for root user
  Vagrantfile
Labels: ready-to-merge, release-note/misc, sig/contributing

#19836 test/bpf: Fix format of `check-complexity.sh` script
  test/bpf/check-complexity.sh
Labels: sig/datapath, ready-to-merge, release-note/misc, sig/contributing

#19807 bpf: Rename tail call targets
  bpf/bpf_host.c
  bpf/bpf_overlay.c
  bpf/bpf_xdp.c
  bpf/lib/common.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#19805 checkpatch: Update image for "checkpatch" target, reuse target in CI
  .github/workflows/lint-bpf-checks.yaml
  bpf/Makefile.bpf
Labels: ready-to-merge, area/CI-improvement, release-note/ci

#19750 test: Wait for pod termination in K8sServicesTest
  test/k8s/services.go
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.11

#19860 test: add git safe directory in test VMs
  test/Vagrantfile
Labels: area/CI, ready-to-merge, release-note/ci

#19812 install/kubernetes: Add CAP_IPC_LOCK for mmap
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: release-note/minor, ready-to-merge, release-blocker/1.12

#19885 docs: Add docs-builder build as dependency to live preview
  Documentation/Makefile
Labels: area/documentation, release-note/misc

#19888 docs: Remove '\r' chars from grep result to parse Alpine image name
  Documentation/Makefile
Labels: area/documentation, release-note/misc, needs-backport/1.10, needs-backport/1.11

#19889 v1.11: Pick up the latest cilium-cli for kind conformance test
  .github/workflows/conformance-kind.yaml
Labels: ready-to-merge, kind/backports, backport/1.11

#19895 workflow: use correct bwm helm option for v1.11 AWS CNI test
  .github/workflows/conformance-aws-cni-v1.11.yaml
Labels: area/CI, release-note/ci

#19898 workflow: checkout correct ref in v1.10 and v1.11 l4lb workflows
  .github/workflows/tests-l4lb-v1.10.yaml
  .github/workflows/tests-l4lb-v1.11.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#19896 .github/workflows: bump kind workflow to cilium-cli v0.10.5
  .github/workflows/conformance-kind.yaml
Labels: ready-to-merge, kind/backports, release-note/ci, backport/1.10

#19904 mlh: update Jenkins jobs following 1.24 support
  .github/maintainers-little-helper.yaml
Labels: area/CI-improvement, release-note/ci

#19834 Fixes:Added the declaration of license
  contrib/release/check-docker-images.sh
Labels: release-note/misc

#19897 .github/workflows: bump v1.10 workflows to cilium-cli v0.10.5
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
Labels: ready-to-merge, release-note/ci

#19905 ci-l4lb: Check out stable branch
  .github/workflows/tests-l4lb-v1.10.yaml
  .github/workflows/tests-l4lb-v1.11.yaml
  .github/workflows/tests-l4lb.yaml
Labels: ready-to-merge, release-note/ci

#19824 ipsec: Rewrite parser for IPsec secret
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: ready-to-merge, area/encryption, release-note/misc

#19245 k8s: Update libraries to v1.23.5
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/api/policy/v1beta1/generated.proto
  vendor/k8s.io/api/policy/v1beta1/types.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/deepcopy.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/conversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/deepcopy.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/zz_generated.conversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/deepcopy.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation.go
  vendor/modules.txt
Labels: sig/k8s, ready-to-merge, kind/backports, release-note/misc, backport/1.11

#19832 datapath: Fix implicit-int-conversion err in common.h
  bpf/lib/common.h
Labels: kind/bug, release-note/bug, ready-to-merge, needs-backport/1.11

#19246 k8s: Update libraries to v1.21.11
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/api/policy/v1beta1/generated.proto
  vendor/k8s.io/api/policy/v1beta1/types.go
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/k8s.io/utils/trace/trace.go
  vendor/modules.txt
Labels: sig/k8s, ready-to-merge, kind/backports, release-note/misc, backport/1.10

#19903 install/kubernetes: add missing capabilities
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.yaml
Labels: release-note/misc, release-blocker/1.12

#19912 bug: Fix Hubble Peer Service Helm File Location
  install/kubernetes/cilium/templates/hubble-peer-service.yaml
Labels: ready-to-merge, kind/backports, release-note/misc, area/helm, backport/1.10

#19886 Do not disable peer service when hubble.listenAddress is empty
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/hubble/peer-service.yaml
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, release-note/misc, sig/hubble, area/helm, needs-backport/1.10, needs-backport/1.11

#19935 .github/workflows: bump v1.10 workflows to cilium-cli v0.10.6
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
Labels: ready-to-merge, release-note/ci

#19946 ci: set Cilium base version to v1.10.12 in v1.10 conformance tests
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
Labels: ready-to-merge, release-note/ci

#19920 docs(README): add logo option for dark theme
  Documentation/images/logo-dark.png
  Documentation/images/logo-dark.svg
  Documentation/images/logo.png
  README.rst
Labels: area/misc, ready-to-merge, release-note/misc

#19856 Bugtool: Add additional tc commands.
  bugtool/cmd/configuration.go
Labels: release-note/minor, ready-to-merge, area/bugtool, needs-backport/1.10, needs-backport/1.11

#19927 api: change "group not found" log to debug
  pkg/api/socket.go
Labels: ready-to-merge, release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19809 Add counter to track all datapath timeouts due to FQDN IP updates
  Documentation/operations/metrics.rst
  daemon/cmd/fqdn.go
  pkg/metrics/metrics.go
Labels: area/proxy, release-note/minor, ready-to-merge, area/metrics

#19893 docs: Fix max SPI value for IPsec key rotations
  Documentation/gettingstarted/encryption-ipsec.rst
Labels: area/documentation, ready-to-merge, area/encryption, release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19930 docs: Fix incorrect FQDN flag
  Documentation/policy/language.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19776 v1.11: Update Go to 1.17.10
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.11

#19900 Fix running documentation make targets on MacOS
  Makefile.defs
  install/kubernetes/Makefile
Labels: ready-to-merge, release-note/misc, area/build

#19819 Add support for getting earliest events from Observer API
  api/v1/observer/observer.pb.go
  api/v1/observer/observer.proto
  pkg/hubble/container/ring.go
  pkg/hubble/container/ring_test.go
  pkg/hubble/observer/local_observer.go
  pkg/hubble/observer/local_observer_test.go
Labels: release-note/minor, ready-to-merge, sig/hubble

#19963 Makefile: Add 'make kind-image' to 'make help'
  Makefile
Labels: release-note/misc

#19951 test: Use more explicit key for k8s3's taint
  test/helpers/kubectl.go
Labels: area/CI, kind/cleanup, ready-to-merge, release-note/ci

#19707 contrib: Fix passing ipFamily to kind.sh
  contrib/scripts/kind.sh
Labels: release-note/bug, ready-to-merge

#19955 cmd: Allow more complicated patterns in map string type.
  pkg/command/map_string.go
  pkg/command/map_string_test.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11

#19962 hubble: remove unused local observer field
  pkg/hubble/observer/local_observer.go
Labels: priority/low, ready-to-merge, release-note/misc, sig/hubble

#19977 docs: Add default conntrack gc interval
  Documentation/operations/troubleshooting.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#19915 vagrant: Bump net-next Vagrant box version
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/ci, sig/contributing

#19875 pkg/fqdn: Replace remaining usages of regex compile with LRU
  pkg/fqdn/cache.go
  pkg/fqdn/cache_test.go
  pkg/fqdn/helpers.go
Labels: kind/performance, area/proxy, sig/policy, ready-to-merge, release-note/misc, needs-backport/1.11

#19960 test: Do not completely quarantine E/W svc suite
  test/k8s/services.go
Labels: ready-to-merge, release-note/ci

#19986 datapath: Use FROM_NETDEV instead of FROM_LXC in nodeport.h
  bpf/lib/nodeport.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#19539 bpf: Add VTEP redirection to complexity tests
  bpf/complexity-tests/54/bpf_lxc.txt
  bpf/complexity-tests/54/bpf_overlay.txt
  bpf/complexity-tests/netnext/bpf_lxc.txt
  bpf/complexity-tests/netnext/bpf_overlay.txt
Labels: area/CI, sig/datapath, ready-to-merge, release-note/ci, kind/complexity-issue, feature/vtep

#20003 v1.11: tests-l4lb: Use Helm chart from local branch
  test/l4lb/test.sh
Labels: ready-to-merge, kind/backports, backport/1.11

#20004 v1.10: tests-l4lb: Use Helm chart from local branch
  test/l4lb/test.sh
Labels: ready-to-merge, kind/backports, backport/1.10

#19953 tests-l4lb: Use Helm chart from local branch
  .github/workflows/tests-l4lb-v1.10.yaml
  .github/workflows/tests-l4lb-v1.11.yaml
  .github/workflows/tests-l4lb.yaml
  test/l4lb/test.sh
  test/nat46x64/test.sh
Labels: ready-to-merge, release-note/ci

#20002 Update USERS.md
  USERS.md
Labels: ready-to-merge, release-note/misc

#20009 workflow: l4lb: pass correct path for PR checkout
  test/l4lb/test.sh
Labels: ready-to-merge, kind/backports, backport/1.11

#20008 workflow: l4lb: pass correct path for PR checkout
  test/l4lb/test.sh
Labels: ready-to-merge, kind/backports, backport/1.10

#19913 daemon, option: remove deprecated prefilter-* options
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  pkg/datapath/loader/base.go
  pkg/option/config.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#19891 bpf: specify handle_lxc_traffic return type to fix -Wimplicit-int error
  bpf/bpf_host.c
Labels: ready-to-merge, release-note/misc

#19769 [v1.9] Backport of #19702
  pkg/fqdn/dnsproxy/proxy.go
  pkg/fqdn/dnsproxy/proxy_test.go
Labels: ready-to-merge, kind/backports, backport/1.9

#20005 hubble: Improve performance of identity getter
  daemon/cmd/hubble.go
  pkg/hubble/parser/getters/getters.go
  pkg/hubble/parser/threefour/parser.go
  pkg/hubble/parser/threefour/parser_test.go
  pkg/hubble/testutils/fake.go
Labels: kind/performance, ready-to-merge, release-note/misc, sig/hubble

#20025 ci: fix documentation workflow
  .github/workflows/documentation.yaml
Labels: area/CI, release-note/ci
