Repository cilium/cilium, pull requests merged in 2022-12, with the labels that each got.

#22471 hive: Fix CodeQL lints in regex
  pkg/hive/internal/reflect.go
Labels: release-note/misc

#22458 images: update cilium-{runtime,builder}
  .github/workflows/build-images-ci.yaml
  .travis.yml
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Labels: kind/backports, release-note/misc, backport/1.10

#22307 install/kubernetes: Re-order lines in Makefile.values
  contrib/release/start-release.sh
  install/kubernetes/Makefile.values
Labels: release-note/misc

#22412 Fix note for 'func numWorkerThreads()'
  daemon/cmd/daemon.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#22475 workflow: disable tests pod-to-world and pod-to-cidr
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: ready-to-merge, release-note/ci

#22411 daemon: Close the identityAllocator on shutdown
  daemon/cmd/daemon.go
  daemon/cmd/daemon_test.go
Labels: release-note/misc

#21267 Adding/fixing DNSProxy metrics
  daemon/cmd/fqdn.go
  pkg/fqdn/dnsproxy/proxy.go
Labels: release-note/bug, needs-backport/1.12, kind/community-contribution

#22461 .github: add PR labeler for external contributions
  .github/workflows/external-contribution-labeler.yaml
Labels: release-note/misc

#22350 workflows: add wait for no operation for cleaning up GKE
  .github/workflows/conformance-externalworkloads-v1.10.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#22508 .github/workflows: use right event type for auto labeler
  .github/workflows/external-contribution-labeler.yaml
Labels: release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#22454 Pr/v1.10 backport 2022 11 30
  pkg/fqdn/dnsproxy/proxy.go
Labels: ready-to-merge, kind/backports, backport/1.10

#22370 Bugtool: add flag to exclude object for endpoints
  bugtool/cmd/root.go
Labels: release-note/minor, ready-to-merge, area/bugtool, kind/community-contribution

#22491 operator: Remove use of global vars in cilium node synchronizer
  operator/cmd/allocator_test.go
  operator/cmd/cilium_node.go
  operator/cmd/k8s_cep_gc.go
  operator/cmd/root.go
  test/controlplane/suite/testcase.go
Labels: ready-to-merge, release-note/misc

#22494 ci: update cilium-cli to v0.12.11 for master, v1.11 and v1.12 workflows
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress-shared.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/tests-l4lb-v1.10.yaml
  .github/workflows/tests-l4lb-v1.11.yaml
  .github/workflows/tests-l4lb-v1.12.yaml
  .github/workflows/tests-l4lb.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: ready-to-merge, release-note/ci

#22501 fuzzing: bump go-fuzz-headers
  go.mod
  go.sum
  vendor/github.com/AdaLogics/go-fuzz-headers/consumer.go
  vendor/github.com/AdaLogics/go-fuzz-headers/funcs.go
  vendor/github.com/AdaLogics/go-fuzz-headers/sql.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#22509 contributing: Document CNCF DCO Guidelines v1.0
  Documentation/contributing/development/contributing_guide.rst
Labels: release-note/misc

#22525 docs: update cmdref with missing flag
  Documentation/cmdref/cilium-bugtool.md
Labels: ready-to-merge, release-note/misc

#22532 Docs: Replace the way to install `golangci-lint` to `NA(OS-specific)`
  Documentation/contributing/development/dev_setup.rst
Labels: area/documentation, ready-to-merge, release-note/misc, sig/contributing, kind/community-contribution

#22025 Load multiple programs for one CollectionSpec loading
  pkg/datapath/loader/loader.go
  pkg/datapath/loader/loader_test.go
  pkg/datapath/loader/netlink.go
  pkg/datapath/loader/xdp.go
Labels: sig/loader, release-note/minor, ready-to-merge, kind/community-contribution

#22399 test/control-plane: Add nil check for agentHandle.Close receiver
  test/controlplane/suite/agent.go
Labels: release-note/misc

#22376 delete redundant type conversion
  pkg/mac/mac.go
Labels: kind/cleanup, release-note/misc, kind/community-contribution

#22282 Add --pprof-debug args to cilium-bugtool
  Documentation/cmdref/cilium-bugtool.md
  bugtool/cmd/root.go
Labels: kind/enhancement, area/bugtool, release-note/misc, kind/community-contribution

#22530 Test: Specify `test/k8s` directory during creating preload vm
  test/provision/k8s_install.sh
Labels: kind/bug/CI, area/CI, release-note/ci, sig/contributing, kind/community-contribution

#21886 pkg/controller: fix incorrect backoff time for next retry
  pkg/controller/controller.go
  pkg/ipcache/metadata.go
Labels: kind/enhancement, area/daemon, area/misc, release-note/misc, kind/community-contribution

#21922 docs: restructure bpf guide
  CODEOWNERS
  Documentation/bpf.rst
  Documentation/bpf/architecture.rst
  Documentation/bpf/debug_and_test.rst
  Documentation/bpf/index.rst
  Documentation/bpf/progtypes.rst
  Documentation/bpf/resources.rst
  Documentation/bpf/toolchain.rst
  Documentation/check-build.sh
  Documentation/index.rst
Labels: area/documentation, release-note/misc, kind/docs-reorganization, gsod-22, kind/community-contribution

#22427 update gops and ginkgo mod version for match the current go.mod
  test/packet/scripts/install.sh
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#22515 contrib: exclude non-running pods in k8s-unmanaged script
  contrib/k8s/k8s-unmanaged.sh
Labels: sig/k8s, release-note/misc, sig/contributing, kind/community-contribution

#21937 backoff: support reset backoff period
  pkg/backoff/backoff.go
  pkg/ipam/node_manager.go
  proxylib/npds/client.go
Labels: kind/bug, release-note/misc, kind/community-contribution

#22540 util: fix wrong comment of GetNumPossibleCPUs
  pkg/common/utils.go
Labels: release-note/misc, kind/community-contribution

#22543 bpf: nodeport: fix drop notification in IPv6 revNAT
  bpf/lib/nodeport.h
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, needs-backport/1.12

#22490 bpf_sockops string constant can use const eSockops replace
  pkg/sockops/sockops.go
Labels: release-note/misc, kind/community-contribution

#22355 Fix when install k8s-1.25 ,no need cni install
  test/provision/helpers.bash
Labels: area/CI, ready-to-merge, release-note/ci, kind/community-contribution

#22489 dependabot: monthly update of cloud provider SDK Go modules
  .github/dependabot.yml
  contrib/scripts/go-mod-update-cloud-providers.sh
Labels: ready-to-merge, release-note/ci

#22536 workflows: Reduce verbosity of connectivity tests on AKS
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks.yaml
Labels: ready-to-merge, release-note/ci

#22537 workflows: Collect a final sysdump on AKS
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks.yaml
Labels: ready-to-merge, release-note/ci

#22510 fqdn: Fix GC for dead IPs on live names over limit
  pkg/fqdn/cache.go
  pkg/fqdn/cache_test.go
Labels: release-note/bug, sig/agent, needs-backport/1.12, affects/v1.11, affects/v1.12, affects/v1.10

#22384 Helm: Automount Init Container Resources
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, kind/community-contribution

#22416 bpf: Implement downgrading path from v3 to v2 backend map
  pkg/logging/logfields/logfields.go
  pkg/maps/lbmap/ipv4.go
  pkg/maps/lbmap/ipv6.go
  pkg/maps/lbmap/zz_generated.deepcopy.go
  pkg/service/service.go
Labels: sig/datapath, release-note/minor, ready-to-merge, kind/backports, upgrade-impact, backport/1.12

#22571 Revert "dependabot: monthly update of cloud provider SDK Go modules"
  .github/dependabot.yml
  contrib/scripts/go-mod-update-cloud-providers.sh
Labels: area/CI, ready-to-merge, release-note/ci, kind/community-contribution

#22551 hive: Allow multiple calls to `Hive.Shutdown`
  pkg/hive/hive.go
Labels: ready-to-merge, release-note/misc

#21941 modify the deprecated label beta.kubernetes.io/instance-type
  pkg/k8s/informer/benchmarks/informer_benchmarks_test.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#22562 envoy: Update to add auth extensions
  Documentation/network/servicemesh/l7-traffic-management.rst
  images/cilium/Dockerfile
Labels: area/proxy, release-note/minor, feature/servicemesh, release-blocker/1.13

#22538 workflows: Collect sysdumps on failures
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-datapath.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: ready-to-merge, release-note/ci

#22289 envoy: Skip NPHDS upsert when IP is already included
  pkg/envoy/resources.go
  pkg/envoy/resources_test.go
Labels: ready-to-merge, release-note/misc

#22588 fix:omit comparison to bool constant
  pkg/bgpv1/agent/controller_test.go
  pkg/bpf/bpf_linux.go
  pkg/datapath/iptables/custom_chain.go
  pkg/mtu/detect_linux.go
Labels: kind/cleanup, release-note/misc, kind/community-contribution

#22589 Update Go to 1.19.4
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  contrib/backporting/Dockerfile
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: release-note/misc

#22468 pkg/bandwidth: enlarge sysctl settings only if they are below baseline
  pkg/bandwidth/bandwidth.go
  pkg/sysctl/sysctl.go
Labels: release-note/bug, kind/community-contribution

#22386 examples: Add Envoy admin listener
  examples/kubernetes/servicemesh/envoy/envoy-admin-listener.yaml
Labels: kind/enhancement, area/proxy, release-note/misc

#22583 helm: Support configuring Cilium shared Ingress Service type and nodePorts
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-ingress-service.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/enhancement, release-note/minor, release-blocker/1.13

#22607 .github: add debug for codeql
  .github/workflows/lint-codeql.yaml
Labels: area/CI, release-note/ci

#22425 gh/workflows: tune LVH VM params
  .github/workflows/conformance-datapath.yaml
Labels: area/CI-improvement, release-note/ci

#22618 workflow: Reenable IPsec tests in EKS for v1.12
  .github/workflows/conformance-eks-v1.12.yaml
Labels: area/CI, area/encryption, release-note/ci, integration/cloud

#22605 workflows: Reduce verbosity of connectivity tests
  .github/workflows/conformance-datapath.yaml
  .github/workflows/conformance-gke.yaml
Labels: release-note/ci

#22630 Revert "per-node configuration overrides" pull request
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  Documentation/cmdref/cilium.md
  Documentation/cmdref/cilium_build-config.md
  Documentation/contributing/development/introducing_new_crds.rst
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  Makefile
  cilium/cmd/build-config.go
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/clusterrole.yaml
  install/kubernetes/cilium/templates/cilium-agent/clusterrolebinding.yaml
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/templates/cilium-agent/role.yaml
  install/kubernetes/cilium/templates/cilium-agent/rolebinding.yaml
  install/kubernetes/cilium/templates/cilium-operator/clusterrole.yaml
  install/kubernetes/cilium/templates/cilium-operator/clusterrolebinding.yaml
  install/kubernetes/cilium/templates/cilium-operator/role.yaml
  install/kubernetes/cilium/templates/cilium-operator/rolebinding.yaml
  install/kubernetes/cilium/templates/cilium-preflight/clusterrole.yaml
  install/kubernetes/cilium/templates/cilium-preflight/clusterrolebinding.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/clusterrole.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/clusterrolebinding.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/tls-cronjob/role.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/tls-cronjob/rolebinding.yaml
  install/kubernetes/cilium/templates/etcd-operator/cilium-etcd-operator-clusterrole.yaml
  install/kubernetes/cilium/templates/etcd-operator/cilium-etcd-operator-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/etcd-operator/etcd-operator-clusterrole.yaml
  install/kubernetes/cilium/templates/etcd-operator/etcd-operator-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/hubble-ui/clusterrole.yaml
  install/kubernetes/cilium/templates/hubble-ui/clusterrolebinding.yaml
  install/kubernetes/cilium/templates/hubble/tls-cronjob/clusterrole.yaml
  install/kubernetes/cilium/templates/hubble/tls-cronjob/clusterrolebinding.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumnodeconfigs.yaml
  pkg/k8s/apis/cilium.io/client/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/cnc_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepcopy.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/cilium.io_client.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/ciliumnodeconfig.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/fake/fake_cilium.io_client.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/fake/fake_ciliumnodeconfig.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/generated_expansion.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2alpha1/ciliumnodeconfig.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2alpha1/interface.go
  pkg/k8s/client/informers/externalversions/generic.go
  pkg/k8s/client/listers/cilium.io/v2alpha1/ciliumnodeconfig.go
  pkg/k8s/client/listers/cilium.io/v2alpha1/expansion_generated.go
  pkg/k8s/synced/crd.go
  pkg/k8s/watchers/watcher.go
  pkg/logging/logfields/logfields.go
  pkg/option/resolver/resolver.go
  pkg/option/resolver/resolver_test.go
Labels: area/CI, release-note/misc, feature/lb-only

#22612 Prepare v1.13 stable branch
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/failing_test_jenkins_template.yaml
  .github/ISSUE_TEMPLATE/failing_test_template.md
  .github/ISSUE_TEMPLATE/feature_template.md
  .github/dependabot.yml
  .github/maintainers-little-helper.yaml
  .github/pull_request_template.md
  .github/renovate.json
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
  .github/workflows/ci-images-cache-cleaner.yaml
  .github/workflows/ci-images-garbage-collect.yaml
  .github/workflows/close-stale-issues.yml
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress-shared.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/documentation.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-codeowners.yaml
  .github/workflows/lint-codeql.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/lint-images-base.yaml
  .github/workflows/tests-l4lb-v1.10.yaml
  .github/workflows/tests-l4lb-v1.11.yaml
  .github/workflows/tests-l4lb-v1.12.yaml
  .github/workflows/tests-l4lb.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
  CODEOWNERS
  Documentation/network/kubernetes/compatibility-table.rst
  pkg/k8s/apis/cilium.io/v2alpha1/register.go
  stable.txt
Labels: release-note/misc

#22646 test: Enable Envoy trace logs for TLS test
  test/k8s/net_policies.go
Labels: release-note/misc

#22569 fix:Use ID instead of Id
  pkg/bpf/bpf_linux.go
  pkg/cgroups/cgroups_linux.go
  pkg/endpoint/id/id.go
  pkg/endpointmanager/manager.go
  pkg/hive/cell/module.go
Labels: release-note/misc, kind/community-contribution

#22627 test/l4lb, nat64x46: pass k8s api server to the standalone proxy
  test/l4lb/test.sh
  test/nat46x64/test.sh
Labels: release-note/ci, feature/lb-only

#22617 workflow: Reenable L7 tests on EKS + IPsec
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-eks-v1.13.yaml
  .github/workflows/conformance-eks.yaml
Labels: area/CI, area/proxy, area/encryption, release-note/ci, integration/cloud

#22644 vendor: bump golang-lru to v2 (requires Go >= 1.18 support for generics)
  go.mod
  go.sum
  pkg/hubble/parser/seven/parser.go
  vendor/github.com/hashicorp/golang-lru/lru.go
  vendor/github.com/hashicorp/golang-lru/v2/.gitignore
  vendor/github.com/hashicorp/golang-lru/v2/.golangci.yml
  vendor/github.com/hashicorp/golang-lru/v2/2q.go
  vendor/github.com/hashicorp/golang-lru/v2/LICENSE
  vendor/github.com/hashicorp/golang-lru/v2/README.md
  vendor/github.com/hashicorp/golang-lru/v2/arc.go
  vendor/github.com/hashicorp/golang-lru/v2/doc.go
  vendor/github.com/hashicorp/golang-lru/v2/lru.go
  vendor/github.com/hashicorp/golang-lru/v2/simplelru/LICENSE_list
  vendor/github.com/hashicorp/golang-lru/v2/simplelru/list.go
  vendor/github.com/hashicorp/golang-lru/v2/simplelru/lru.go
  vendor/github.com/hashicorp/golang-lru/v2/simplelru/lru_interface.go
  vendor/github.com/hashicorp/golang-lru/v2/testing.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc, sig/hubble

#22657 Revert "images/cilium-test: New test suite image"
  .github/workflows/build-images-ci.yaml
  .github/workflows/ci-images-cache-cleaner.yaml
  images/Makefile
  images/cilium-test/.dockerignore
  images/cilium-test/Dockerfile
  images/cilium-test/cilium-test-gke.sh
  images/cilium-test/go.mod
  images/cilium-test/go.sum
  images/cilium-test/install-deps.sh
  images/cilium-test/install-helm.sh
Labels: release-note/ci, area/build

#22477 ipam/crd: Fix agent fatal on router initialization
  pkg/alibabacloud/eni/node.go
  pkg/aws/eni/node.go
Labels: kind/bug, release-note/bug, area/eni, sig/ipam, area/alibaba, kind/community-contribution, needs-backport/1.13

#22591 [UT]improve network_policy_test.go for apiversion
  pkg/k8s/network_policy_test.go
Labels: release-note/ci, kind/community-contribution

#22675 test/Vagrantfile: Debug information for natnetwork
  test/Vagrantfile
Labels: release-note/ci

#22676 daemon: Do not remove PERM L2 entries in L4LB
  daemon/cmd/daemon_main.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.12, needs-backport/1.13

#22684 test: Quarantine TLS test for now
  test/k8s/net_policies.go
Labels: release-note/misc, ci/flake, kind/community-contribution

#22674 test: Unquarantine K8sDatapathConfig Encapsulation
  test/k8s/datapath_configuration.go
Labels: release-note/ci

#22673 gha: Add retry mechanism for conformance ingress (shared)
  .github/workflows/conformance-ingress-shared.yaml
Labels: area/CI, release-note/ci, ci/flake, feature/servicemesh, needs-backport/1.13

#22683 CODEOWNERS: assign operator/pkg/{gateway-api,model} to @cilium/sig-servicemesh
  CODEOWNERS
Labels: ready-to-merge, release-note/misc

#22252 daemon, fqdn: Fix race between parallel DNS requests for the same name
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/fqdn.go
  daemon/cmd/fqdn_test.go
  pkg/logging/logfields/logfields.go
  pkg/option/config.go
Labels: kind/bug, area/proxy, release-note/bug, sig/policy, ready-to-merge, release-blocker/1.10, backport-pending/1.10, release-blocker/1.11, needs-backport/1.11, release-blocker/1.12, needs-backport/1.12, needs-backport/1.13

#22655 ci: remove test namespace deletion workaround in GKE v1.12 workflow
  .github/workflows/conformance-gke-v1.12.yaml
Labels: ready-to-merge, release-note/ci

#22701 test: Dump VirtualBox version used in CI jobs
  test/post_build_agent.sh
Labels: release-note/ci

#22702 test/Vagrantfile: Don't hide natnetwork errors
  test/Vagrantfile
Labels: release-note/ci

#22418 gh/workflows: Add DP CI for encryption
  .github/workflows/conformance-datapath.yaml
Labels: release-note/ci, ci/hyperjump, needs-backport/1.13

#22506 v1.12 Backport: servicemonitor relabelings
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/servicemonitor.yaml
  install/kubernetes/cilium/templates/cilium-operator/servicemonitor.yaml
  install/kubernetes/cilium/templates/hubble-relay/servicemonitor.yaml
  install/kubernetes/cilium/templates/hubble/servicemonitor.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/backports, backport/1.12

#22704 test, jenkinsfile: Clean up natnetworks in CI after test run
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  test/vagrant_cleanup.sh
Labels: area/CI-improvement, release-note/ci

#22737 docs: add FOSSA badge to readme
  README.rst
Labels: ready-to-merge, release-note/misc

#22721 install/kubernetes: make securityContext SELinux options configurable
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, area/helm, needs-backport/1.13

#21743 daemon: Clarify host IP sync controller's intent
  daemon/cmd/daemon.go
  daemon/cmd/datapath.go
  daemon/cmd/state.go
Labels: kind/cleanup, area/daemon, ready-to-merge, release-note/misc, sig/agent

#22356 helm: adds annotations support to certgen Job and CronJob
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/hubble/tls-cronjob/cronjob.yaml
  install/kubernetes/cilium/templates/hubble/tls-cronjob/job.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, release-note/misc, area/helm, kind/community-contribution

#22679 bpf: add drop notification for missed L7 LB tailcall in to-netdev
  bpf/bpf_host.c
Labels: sig/datapath, area/proxy, release-note/bug, ready-to-merge, needs-backport/1.12, needs-backport/1.13

#22730 [v1.12] fqdn: Fix GC for dead IPs on live names over limit
  pkg/fqdn/cache.go
  pkg/fqdn/cache_test.go
Labels: kind/backports, backport/1.12

#22752 v1.11 backport: fix multi option parsing
  pkg/command/map_string.go
  pkg/command/map_string_test.go
Labels: kind/backports, backport/1.11

#22753 v1.10 backport: fix multi option parsing
  pkg/command/map_string.go
  pkg/command/map_string_test.go
Labels: kind/backports, backport/1.10, kind/community-contribution

#22696 v1.12 backport: fix multi-option parsing
  pkg/command/map_string.go
  pkg/command/map_string_test.go
Labels: kind/backports, backport/1.12

#22456 Pr/v1.11 backport 2022 11 30
  pkg/fqdn/dnsproxy/proxy.go
Labels: kind/backports, backport/1.11

#22774 ci, github: Fix IPv6 conformance test
  .github/workflows/tests-smoke-ipv6.yaml
Labels: ready-to-merge, release-note/misc

#22765 Prepare for release v1.10.18
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.10

#22766 Prepare for release v1.11.12
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.11

#22767 Prepare for release v1.12.5
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.12

#22654 backporting: leave `backport/author` PRs alone
  Documentation/conf.py
  Documentation/contributing/release/backports.rst
  contrib/backporting/check-stable
Labels: area/misc, ready-to-merge, release-note/misc, sig/contributing, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#22626 daemon, ipcache: Plumb root context to IP identity watcher
  daemon/cmd/daemon.go
  pkg/ipcache/kvstore.go
Labels: kind/cleanup, area/daemon, ready-to-merge, release-note/misc

#22700 cilium: Add deprecation warning for service ids
  cilium/cmd/service_delete.go
  cilium/cmd/service_update.go
  daemon/cmd/loadbalancer.go
Labels: release-note/minor, needs-backport/1.13

#22798 workflows: Pin gke to 1.24.5
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke-v1.13.yaml
  .github/workflows/conformance-gke.yaml
Labels: release-note/ci, kind/community-contribution

#22619 fqdn: dnsproxy: fix data race in dns proxy implementation
  pkg/fqdn/dnsproxy/proxy.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12, release-blocker/1.13, needs-backport/1.13

#22518 Add tests for hubble metrics handlers
  pkg/hubble/metrics/drop/handler_test.go
  pkg/hubble/metrics/port-distribution/handler_test.go
  pkg/hubble/metrics/tcp/handler_test.go
Labels: ready-to-merge, area/metrics, release-note/misc, sig/hubble, kind/community-contribution, needs-backport/1.13

#22772 test: service: fix formatting of error msg in doFragmentedRequest()
  test/k8s/service_helpers.go
Labels: kind/bug/CI, area/CI, ready-to-merge, area/CI-improvement, release-note/ci, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#22796 ci: Replace deprecated `hubble observe -o json` with `-o jsonpb`
  test/helpers/hubble.go
  test/helpers/kubectl.go
  test/k8s/bgp.go
  test/k8s/hubble.go
  test/k8s/net_policies.go
  test/runtime/net_policies.go
Labels: ready-to-merge, area/CI-improvement, release-note/ci, sig/hubble, needs-backport/1.13

#22817 install: Update image digests for v1.10.18
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.10

#22818 install: Update image digests for v1.11.12
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.11

#22819 install: Update image digests for v1.12.5
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.12

#22821 Add sphinxcontrib-googleanalytics to doc requirements
  Documentation/requirements.txt
Labels: release-note/misc, needs-backport/1.11, needs-backport/1.12, kind/community-contribution, needs-backport/1.13

#22600 daemon/cmd: improve stale cilium endpoint error handling.
  daemon/cmd/ciliumendpoints.go
Labels: release-note/ci, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12, release-blocker/1.13, needs-backport/1.13

#22820 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#22811 gh/workflows: ci-datapath updates
  .github/workflows/conformance-datapath.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci, ci/hyperjump

#22769 Update MAINTAINERS.md to include Tom Hadlaw
  MAINTAINERS.md
Labels: area/misc, ready-to-merge, release-note/misc

#22794 bpf: nodeport: wire up trace aggregation for rev_nodeport_lb6()
  bpf/lib/nodeport.h
Labels: kind/bug, sig/datapath, area/monitor, release-note/bug, ready-to-merge, needs-backport/1.12, needs-backport/1.13

#22220 Enable Google Analytics 4
  .github/workflows/documentation.yaml
  Documentation/conf.py
Labels: release-note/misc, needs-backport/1.11, needs-backport/1.12, kind/community-contribution, needs-backport/1.13

#22823 .github: Clean up RBAC artifacts for v1.13 CI
  .github/workflows/conformance-aks-v1.13.yaml
  .github/workflows/conformance-eks-v1.13.yaml
  .github/workflows/conformance-gke-v1.13.yaml
Labels: release-note/ci

#22807 Update Layer 7 Protocol Visibility Document.
  Documentation/observability/visibility.rst
Labels: kind/enhancement, area/documentation, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12, kind/community-contribution

#22763 workflows: fix skip condition for encryption tests in datapath conformance
  .github/workflows/conformance-datapath.yaml
Labels: ready-to-merge, release-note/ci, needs-backport/1.13

#22844 operator: Fix use of Resource.Events() in CEC controller
  operator/watchers/cec.go
Labels: release-note/misc, kind/community-contribution

#22029 add documentation to explain how to deploy cilium on k0s
  Documentation/installation/k0s.rst
  Documentation/installation/k8s-toc.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution, needs-backport/1.13

#22852 install: Update image digests for v1.13.0-rc4
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.13

#22678 bpf: nodeport: fix tracing for handle_nat_fwd()
  bpf/bpf_host.c
  bpf/lib/nodeport.h
Labels: kind/bug, sig/datapath, area/monitor, release-note/bug, ready-to-merge, needs-backport/1.12, needs-backport/1.13

#22824 operator: Add RBAC permission for CiliumNodeConfigs resource
  install/kubernetes/cilium/templates/cilium-operator/clusterrole.yaml
Labels: release-note/minor, ready-to-merge, area/helm, needs-backport/1.13
