Repository cilium/cilium, pull requests merged in 2022-04, with the labels that each got.

#19255 envoy: Relax use of original source address
  images/cilium/Dockerfile
Labels: area/proxy, release-note/minor, sig/policy, ready-to-merge

#19292 Add Rancher Labs to Cilium users
  USERS.md
Labels: release-note/misc

#19168 vagrant: Bump all Vagrant box versions
  vagrant_box_defaults.rb
Labels: area/CI, release-note/ci

#18821 ci: create a new subnetwork for each new GKE cluster
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, release-note/ci, integration/cloud

#19276 docs: Clarify use of the `eni.subnetTagsFilter` option
  Documentation/concepts/networking/ipam/eni.rst
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: area/documentation, ready-to-merge, area/eni, release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19138 proxy: pass connection options from agent
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  pkg/envoy/server.go
  pkg/option/config.go
Labels: area/proxy, release-note/minor, ready-to-merge

#19235 add clomonitor exception file
  .clomonitor.yml
  CODEOWNERS
Labels: release-note/misc

#19258 ipcache: Add test asserting out-of-order Kubernetes events
  pkg/ipcache/ipcache_test.go
Labels: sig/k8s, ready-to-merge, release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19134 test: fix typo in log output
  .github/ISSUE_TEMPLATE/failing_test_jenkins_template.yaml
  test/helpers/kubectl.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#19155 alibabacloud: Fix missing instance due to incomplete subnet list
  pkg/alibabacloud/api/api.go
Labels: ready-to-merge, release-note/misc

#19296 v1.10 backports 2022-04-01
  daemon/cmd/ipam.go
  pkg/datapath/linux/routing/info.go
  pkg/datapath/linux/routing/info_test.go
  pkg/datapath/linux/routing/routing.go
  pkg/datapath/linux/routing/routing_test.go
  plugins/cilium-cni/interface.go
Labels: kind/backports, backport/1.10

#19303 vagrant: fix overlap of IPv6 Node/Pod CIDRs on dev-VM
  contrib/vagrant/start.sh
Labels: kind/bug, release-note/misc, sig/contributing

#19263 helm: Bump cilium/startup-script image tag
  Documentation/helm-values.rst
  install/kubernetes/Makefile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, release-note/misc, area/helm

#19316 CODEOWNERS: Add clustermesh entries
  CODEOWNERS
Labels: area/clustermesh, release-note/misc, sig/contributing

#19290 k8s: Use kubelet's logic to close all idle connections
  pkg/k8s/init.go
Labels: sig/k8s, ready-to-merge, release-note/misc, needs-backport/1.11

#19289 go.mod: update kevinburke/ssh_config dependency
  go.mod
  go.sum
  vendor/github.com/kevinburke/ssh_config/AUTHORS.txt
  vendor/github.com/kevinburke/ssh_config/CHANGELOG.md
  vendor/github.com/kevinburke/ssh_config/Makefile
  vendor/github.com/kevinburke/ssh_config/README.md
  vendor/github.com/kevinburke/ssh_config/config.go
  vendor/github.com/kevinburke/ssh_config/parser.go
  vendor/modules.txt
Labels: release-note/misc

#19332 docs: adding Nexxiot to USERS
  USERS.md
Labels: release-note/misc

#19338 install/kubernetes: fix hubble-ui with TLS
  install/kubernetes/cilium/templates/hubble-ui/deployment.yaml
Labels: release-note/bug, needs-backport/1.11

#19313 docs: Update shared service annotation docs
  Documentation/gettingstarted/clustermesh/services.rst
Labels: area/documentation, release-note/misc, needs-backport/1.11

#19337 connectivity-check: Use ports outside ephemeral range
  examples/kubernetes/connectivity-check/connectivity-check-hostport.yaml
  examples/kubernetes/connectivity-check/connectivity-check-internal.yaml
  examples/kubernetes/connectivity-check/connectivity-check-proxy.yaml
  examples/kubernetes/connectivity-check/connectivity-check-quarantine.yaml
  examples/kubernetes/connectivity-check/connectivity-check-single-node.yaml
  examples/kubernetes/connectivity-check/connectivity-check.yaml
  examples/kubernetes/connectivity-check/echo-servers.cue
Labels: area/CI, ready-to-merge, release-note/ci

#19352 cilium, lbmap: Use silent delete in deleteBackendLocked for now
  pkg/maps/lbmap/lbmap.go
Labels: sig/datapath, ready-to-merge, release-note/misc

#19354 Add Infomaniak to Cilium users
  USERS.md
Labels: ready-to-merge, release-note/misc

#19336 Use RLock while reading data in DNS proxy
  pkg/fqdn/dnsproxy/proxy.go
Labels: kind/performance, release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11

#19358 test: Fix whitespace in docker-run-cilium
  test/provision/docker-run-cilium.sh
Labels: kind/bug, release-note/misc

#19365 Update CLOMonitor badge url
  README.rst
Labels: ready-to-merge, release-note/misc

#19333 endpoint: Print error for regeneration timeout
  pkg/endpoint/endpoint.go
Labels: kind/enhancement, area/daemon, ready-to-merge, release-note/misc

#19308 pull skb data at the entrance of from-containter
  bpf/bpf_lxc.c
Labels: kind/bug, release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11

#19181 AWS EC2 Instance tag filter
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  operator/flags.go
  operator/option/config.go
  pkg/aws/ec2/ec2.go
  pkg/aws/ec2/ec2_test.go
  pkg/ipam/allocator/aws/aws.go
Labels: release-note/minor, ready-to-merge, area/eni

#19366 Add a 'Limitations' section to 'External Workloads'.
  Documentation/gettingstarted/external-workloads.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11

#19361 Upgrade to cilium/lumberjack v2.2.2 to Flush() gzip writer before Sync()ing
  go.mod
  go.sum
  vendor/github.com/cilium/lumberjack/v2/lumberjack.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#19349 docs: Document monitor aggregation levels
  Documentation/concepts/kubernetes/configuration.rst
Labels: release-note/misc

#19382 added NYT to the Cilium Users list
  USERS.md
Labels: ready-to-merge, release-note/misc

#19377 List Simple Life as Cilium user
  USERS.md
Labels: ready-to-merge, release-note/misc

#19381 Spell out the full term of the CRD acronym
  Documentation/gettingstarted/k8s-install-default.rst
Labels: release-note/misc

#19384 Update external docker images
  Documentation/helm-values.rst
  install/kubernetes/Makefile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/misc

#19190 envoy: Limit accesslog socket permissions
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  pkg/envoy/accesslog_server.go
  pkg/envoy/server.go
  pkg/option/config.go
Labels: area/proxy, release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19281 WithDialer is deprecated and use WithContextDialer instead
  daemon/cmd/daemon_main.go
  operator/main.go
  pkg/k8s/service.go
Labels: release-note/misc

#19347 Improve endpoint and DNS proxy lock contention during bursty DNS traffic
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
Labels: area/daemon, area/proxy, release-note/bug, sig/policy, needs-backport/1.11

#19395 Revert "build(deps): bump google.golang.org/protobuf from 1.27.1 to 1…
  go.mod
  go.sum
  vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  vendor/google.golang.org/protobuf/internal/encoding/text/decode.go
  vendor/google.golang.org/protobuf/internal/errors/is_go112.go
  vendor/google.golang.org/protobuf/internal/errors/is_go113.go
  vendor/google.golang.org/protobuf/internal/flags/proto_legacy_disable.go
  vendor/google.golang.org/protobuf/internal/flags/proto_legacy_enable.go
  vendor/google.golang.org/protobuf/internal/impl/codec_map_go111.go
  vendor/google.golang.org/protobuf/internal/impl/codec_map_go112.go
  vendor/google.golang.org/protobuf/internal/impl/codec_reflect.go
  vendor/google.golang.org/protobuf/internal/impl/codec_unsafe.go
  vendor/google.golang.org/protobuf/internal/impl/decode.go
  vendor/google.golang.org/protobuf/internal/impl/pointer_reflect.go
  vendor/google.golang.org/protobuf/internal/impl/pointer_unsafe.go
  vendor/google.golang.org/protobuf/internal/strs/strings_pure.go
  vendor/google.golang.org/protobuf/internal/strs/strings_unsafe.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/proto/decode.go
  vendor/google.golang.org/protobuf/proto/proto_methods.go
  vendor/google.golang.org/protobuf/proto/proto_reflect.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/methods.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_pure.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_union.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_unsafe.go
  vendor/google.golang.org/protobuf/runtime/protoiface/methods.go
  vendor/modules.txt
Labels: release-note/misc, release-blocker/1.12

#19399 Fix smoke tests by filtering out go_* metrics from metrics linting
  .github/workflows/tests-smoke.yaml
Labels: area/CI, release-note/misc

#19398 Revert "build(deps): bump github.com/prometheus/client_golang"
  go.mod
  go.sum
  vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  vendor/google.golang.org/protobuf/internal/encoding/text/decode.go
  vendor/google.golang.org/protobuf/internal/errors/is_go112.go
  vendor/google.golang.org/protobuf/internal/errors/is_go113.go
  vendor/google.golang.org/protobuf/internal/flags/proto_legacy_disable.go
  vendor/google.golang.org/protobuf/internal/flags/proto_legacy_enable.go
  vendor/google.golang.org/protobuf/internal/impl/codec_map_go111.go
  vendor/google.golang.org/protobuf/internal/impl/codec_map_go112.go
  vendor/google.golang.org/protobuf/internal/impl/codec_reflect.go
  vendor/google.golang.org/protobuf/internal/impl/codec_unsafe.go
  vendor/google.golang.org/protobuf/internal/impl/decode.go
  vendor/google.golang.org/protobuf/internal/impl/pointer_reflect.go
  vendor/google.golang.org/protobuf/internal/impl/pointer_unsafe.go
  vendor/google.golang.org/protobuf/internal/strs/strings_pure.go
  vendor/google.golang.org/protobuf/internal/strs/strings_unsafe.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/proto/decode.go
  vendor/google.golang.org/protobuf/proto/proto_methods.go
  vendor/google.golang.org/protobuf/proto/proto_reflect.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/methods.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_pure.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_union.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_unsafe.go
  vendor/google.golang.org/protobuf/runtime/protoiface/methods.go
  vendor/modules.txt
Labels: release-note/misc, release-blocker/1.12

#19220 helm: Fix Hubble Service when ServiceMonitor is being used
  install/kubernetes/cilium/templates/hubble/metrics-service.yaml
Labels: release-note/bug, ready-to-merge, area/helm

#19390 .github: add dependabot for docker images
  .github/dependabot.yml
Labels: release-note/misc

#19419 [users] Add Mux Inc entry.
  USERS.md
Labels: release-note/misc

#19415 make: grep for new go:build tags in PRIV_TEST_PKGS_EVAL
  Makefile
Labels: ready-to-merge, release-note/misc

#19326 daemon: Split --bpf-lb-map-max into multiple options
  bpf/lib/lb.h
  bpf/node_config.h
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/status.go
  pkg/datapath/linux/config/config.go
  pkg/maps/lbmap/affinity.go
  pkg/maps/lbmap/ipv4.go
  pkg/maps/lbmap/lbmap.go
  pkg/maps/lbmap/maglev.go
  pkg/maps/lbmap/source_range.go
  pkg/option/config.go
Labels: sig/datapath, release-note/minor, ready-to-merge

#19207 docs: improve guide to setup Cilium overlay on EKS
  Documentation/gettingstarted/k8s-install-helm.rst
Labels: area/documentation, ready-to-merge, release-note/misc, integration/cloud, needs-backport/1.11

#19368 alignchecker: fix LLVM 15 build by removing an unused variable
  bpf/bpf_alignchecker.c
Labels: sig/datapath, ready-to-merge, release-note/misc

#19375 k8s: keep KVStore CiliumNode labels synced with Node object
  daemon/cmd/daemon.go
  pkg/k8s/watchers/node.go
  pkg/nodediscovery/nodediscovery.go
Labels: sig/k8s, release-note/minor, ready-to-merge, needs-backport/1.11, sig/agent

#19435 maps/lbmap: fix maglev test suite build
  pkg/maps/lbmap/maglev_test.go
Labels: release-note/misc

#19420 install/helm: Add Image Override Option to All Images
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/_clustermesh-apiserver-generate-certs-job-spec.tpl
  install/kubernetes/cilium/templates/_hubble-generate-certs-job-spec.tpl
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-etcd-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-nodeinit-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-preflight-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-preflight-deployment.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver-deployment.yaml
  install/kubernetes/cilium/templates/hubble-relay-deployment.yaml
  install/kubernetes/cilium/templates/hubble-ui-deployment.yaml
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.9

#19445 v1.11: Update Go to 1.17.9
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: kind/backports, release-note/misc, backport/1.11

#19460 Prepare for release v1.9.15
  .github/maintainers-little-helper.yaml
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, kind/release, backport/1.9

#19461 Prepare for release v1.10.10
  .github/maintainers-little-helper.yaml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.10

#19462 Prepare for release v1.11.4
  .github/maintainers-little-helper.yaml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.11

#19458 jenkinsfiles: Increase VM boot timeout
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19474 install: Update image digests for v1.9.15
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, backport/1.9

#19476 install: Update image digests for v1.11.4
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.11

#19475 install: Update image digests for v1.10.10
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.10

#18941 iptables: Fatal when IPv6 is enabled but corresponding kernel modules are missing
  pkg/datapath/iptables/iptables.go
Labels: kind/bug, release-note/bug, ready-to-merge, feature/ipv6, needs-backport/1.11

#19194 Use identity labels for selector matching for Egress NAT Gateway
  daemon/cmd/daemon.go
  pkg/egressgateway/endpoint.go
  pkg/egressgateway/manager.go
  pkg/egressgateway/manager_privileged_test.go
  test/k8s/egress.go
Labels: release-note/bug, ready-to-merge, feature/egress-gateway, needs-backport/1.11, release-blocker/1.12

#19459 jenkinsfiles: add `IMAGE_REGISTRY` env parameter
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/kubernetes-test.sh
Labels: area/CI-improvement, release-note/ci, needs-backport/1.11

#19488 Update AUTHORS and mailmap
  .mailmap
  AUTHORS
Labels: release-note/misc

#19466 test/nat46x64: Fix out-of-bounds index error
  test/nat46x64/test.sh
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#19487 runtime: Bump privileged test timeout
  test/runtime/privileged_tests.go
Labels: ready-to-merge, release-note/ci

#19503 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#19342 Adding Liquid Reply to Users
  USERS.md
Labels: ready-to-merge, release-note/misc

#19491 pkg/bpf: add map name in error message for OpenParallel
  pkg/bpf/map_linux.go
Labels: release-note/misc, needs-backport/1.10, needs-backport/1.11

#19341 Consider VPC's secondary CIDRs during cilium_host IP restoration
  daemon/cmd/daemon.go
  pkg/ipam/types.go
  pkg/logging/logfields/logfields.go
  pkg/node/address.go
  pkg/node/address_test.go
Labels: release-note/bug, ready-to-merge, area/eni

#19504 update USERS.md with Equinix info
  USERS.md
Labels: release-note/misc

#19471 Simpler more precise way to do the same thing using generic unix tooling
  contrib/k8s/k8s-unmanaged.sh
Labels: release-note/misc

#19498 docs: update copybutton.css following the docutils update
  Documentation/_static/copybutton.css
Labels: area/documentation, release-note/misc

#19465 Fix comment for EndpointCreated function
  daemon/cmd/endpoint.go
Labels: release-note/misc

#19363 Helm Chart loop monitor sidecar
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: ready-to-merge, release-note/misc, area/helm

#19512 add gsod application form to docs
  Documentation/contributing/development/season_of_docs.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#19517 README.rst: fix stable release table
  README.rst
Labels: release-note/misc

#19511 updating code of conduct email
  CODE_OF_CONDUCT.md
Labels: release-note/misc

#18747 ci: Bump cyclonus to v0.4.7
  test/k8s/manifests/netpol-cyclonus/install-cyclonus.yml
  test/k8s/manifests/netpol-cyclonus/test-cyclonus.sh
Labels: release-note/ci

#19523 vagrant: Don't recreate natnetworks
  Vagrantfile
  test/Vagrantfile
Labels: kind/bug/CI, area/CI, release-note/ci

#19507 vagrant: Bump all Vagrant box versions except net-next
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/ci, sig/contributing

#19486 fqdn: Use read-write mutex inside NameManager
  pkg/fqdn/name_manager.go
Labels: area/daemon, area/proxy, sig/policy, ready-to-merge, release-note/misc

#19510 vtep: Remove UpdateIPCacheVTEPMapping()
  pkg/maps/ipcache/ipcache.go
Labels: release-note/misc

#19527 Move Equinix to the correct place in the alphabet
  USERS.md
Labels: release-note/misc

#19528 make: check that Go major/minor version matches required version
  Makefile
Labels: ready-to-merge, release-note/misc, area/build, sig/contributing

#18898 Enable cilium-cli helm based installation
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads-v1.11.yml
  .github/workflows/conformance-externalworkloads.yml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, release-note/misc, release-blocker/1.12

#19542 docs: Fix display of misspelled words
  Documentation/check-build.sh
Labels: area/documentation, area/CI, release-note/misc

#19452 Limit the number of active FQDNs beyond the TTL to `--tofqdns-endpoint-max-ip-per-hostname`
  pkg/endpoint/endpoint.go
  pkg/endpoint/restore.go
  pkg/fqdn/cache.go
  pkg/fqdn/cache_test.go
Labels: release-note/bug, needs-backport/1.10, needs-backport/1.11

#19532 bpf/sock: Use renamed field
  bpf/Makefile
  bpf/bpf_sock.c
Labels: kind/bug, sig/datapath, release-note/misc

#19513 cilium: Add knob for local address to be considered host id in ipcache
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/node_addressing.go
  pkg/defaults/defaults.go
  pkg/ip/ip.go
  pkg/option/config.go
Labels: sig/datapath, release-note/misc, sig/agent

#19563 docs: fix version warning URL to point to docs.cilium.io
  Documentation/conf.py
Labels: release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19544 testutils/mockmaps: Bring duplicate backend calls check back
  pkg/testutils/mockmaps/lbmap.go
Labels: ready-to-merge, release-note/misc

#19501 daemon: Dump ipcache without probing for support
  daemon/cmd/daemon.go
  pkg/maps/ipcache/ipcache.go
Labels: kind/bug, release-note/bug, release-blocker/1.10, needs-backport/1.10, release-blocker/1.11, needs-backport/1.11, release-blocker/1.12

#19568 .github/workflows: fix hubble installation using cilium-cli
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads-v1.11.yml
  .github/workflows/conformance-externalworkloads.yml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: release-note/ci

#19564 docs: add robots.txt in a static directory
  Documentation/_static/robots.txt
  Documentation/_static/sitemap-index.xml
  Documentation/robots.txt
Labels: release-note/misc

#19578 add robots.txt to Cilium documentation
  Documentation/_static/robots.txt
  Documentation/conf.py
  Documentation/robots/robots.txt
  Documentation/robots/sitemap-index.xml
Labels: release-note/misc

#19579 .github/workflows: fix hubble-relay cilium-cli installation
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads-v1.11.yml
  .github/workflows/conformance-externalworkloads.yml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: release-note/misc

#19570 pkg/policy/api: Optimize FQDNSelector String()
  pkg/policy/api/fqdn.go
  pkg/policy/api/fqdn_test.go
Labels: kind/performance, area/misc, sig/policy, ready-to-merge, release-note/misc, needs-backport/1.11

#19556 identity: Initialize local identity allocator early
  daemon/cmd/daemon.go
  pkg/identity/cache/allocation_test.go
  pkg/identity/cache/allocator.go
  pkg/identity/cache/cache.go
  pkg/ipcache/cidr.go
  pkg/ipcache/metadata.go
  pkg/testutils/identity/allocator.go
  test/helpers/cons.go
  test/runtime/fqdn.go
Labels: kind/bug, sig/policy, ready-to-merge, release-note/misc, backport-pending/1.10, backport-pending/1.11, sig/agent

#19007 Making operator aware of pending pod backlog on nodes for IP allocations
  Documentation/concepts/networking/ipam/eni.rst
  operator/watchers/pod.go
  pkg/ipam/node.go
  pkg/ipam/node_manager.go
Labels: release-note/minor, ready-to-merge, area/operator, sig/ipam

#19590 pkg/k8s: use subresource "nodes/status" to update node annotations
  install/kubernetes/cilium/templates/cilium-agent/clusterrole.yaml
  install/kubernetes/cilium/templates/cilium-preflight/clusterrole.yaml
  pkg/k8s/annotate.go
  pkg/k8s/init_test.go
Labels: release-note/misc, release-blocker/1.12

#19609 .github/workflows: install the right helm chart version for stable branches
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
Labels: ready-to-merge, release-note/ci

#19602 ci: Update Cilium CLI to v0.11.3
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: release-note/misc

#19610 docs: set the right url for API version check
  Documentation/conf.py
Labels: release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19611 docs: fix version warning banner
  Documentation/_static/stable-version.json
  contrib/release/bump-readme.sh
Labels: release-note/misc

#19615 add roadmap section and fix governance link
  README.rst
Labels: area/misc, ready-to-merge, release-note/misc

#19524 helm: Create cilium IngressClass
  install/kubernetes/cilium/templates/cilium-ingress-class.yaml
Labels: release-note/minor, ready-to-merge, area/helm

#19275 docs: add documentation for adding CRDs into cilium
  Documentation/contributing/development/index.rst
  Documentation/contributing/development/introducing_new_crds.rst
  Documentation/spelling_wordlist.txt
Labels: ready-to-merge, release-note/misc

#19429 hubble/filters: strict number check for full HTTP status code
  pkg/hubble/filters/http.go
  pkg/hubble/filters/http_test.go
Labels: ready-to-merge, release-note/misc, sig/hubble

#19441 Expose hubble-ui security context in helm chart
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/hubble-ui/deployment.yaml
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, release-note/misc, sig/hubble, area/helm

#19549 ingress: Add SocketOptions configuration
  operator/pkg/ingress/annotations/annotations.go
  operator/pkg/ingress/annotations/doc.go
  operator/pkg/ingress/envoy_config.go
  operator/pkg/ingress/envoy_config_test.go
Labels: release-note/minor, ready-to-merge

#19605 Add Kube-OVN to USERS
  USERS.md
Labels: release-note/misc

#19555 Add cilium cli to aws cni conformance tests
  .github/workflows/conformance-aws-cni.yaml
Labels: release-note/misc

#19607 vagrant: Update the net-next VM image
  vagrant_box_defaults.rb
Labels: area/CI, release-note/ci

#19628 k8s-conformance: Improve skipped tests format/links
  test/kubernetes-test.sh
Labels: release-note/misc

#19631 test: Pin eksctl version
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks.yaml
Labels: ready-to-merge, release-note/ci

#19627 Add ENI limits for i4i and x2i instance types
  pkg/aws/eni/limits/limits.go
Labels: area/eni, release-note/misc, integration/cloud, sig/ipam

#19587 datapath: Allow egress GW with XDP
  bpf/lib/nodeport.h
  daemon/cmd/kube_proxy_replacement.go
Labels: sig/datapath, release-note/minor, ready-to-merge, feature/egress-gateway, needs-backport/1.11, release-blocker/1.12

#19638 docs: set right path for robots.txt
  Documentation/conf.py
Labels: release-note/misc, needs-backport/1.11

#19626 daemon: Initialize k8sCachesSynced channel before calling Initk8sSubsystem()
  daemon/cmd/daemon.go
  pkg/k8s/watchers/watcher.go
Labels: release-note/misc, kind/bug/race-detector, needs-backport/1.9, needs-backport/1.10, release-blocker/1.11, needs-backport/1.11

#19649 operator: fix identity GC collection
  operator/identity_gc.go
  operator/kvstore_watchdog.go
  pkg/allocator/allocator.go
Labels: release-note/bug, kind/regression, needs-backport/1.11

#19635 test: Fix directory name for source archive
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
Labels: ready-to-merge, release-note/ci

#19188 logging: do not swallow subsystem logs
  daemon/cmd/daemon.go
Labels: release-note/misc, needs-backport/1.11
