Repository cilium/cilium, pull requests merged in 2022-09, with the labels that each got.

#21103 test: update k8s versions to the latest patched releases
  test/provision/k8s_install.sh
Labels: sig/k8s, area/misc, release-note/misc

#21027 eni: fix new node not immediately triggers the creation of Eni before instances api sync
  operator/cmd/cilium_node.go
  pkg/alibabacloud/eni/instances.go
  pkg/aws/eni/instances.go
  pkg/aws/eni/node_manager_test.go
  pkg/azure/ipam/instances.go
  pkg/ipam/allocator/podcidr/podcidr.go
  pkg/ipam/allocator/podcidr/podcidr_test.go
  pkg/ipam/allocator/provider.go
  pkg/ipam/node_manager.go
  pkg/ipam/node_manager_test.go
  pkg/ipam/types/types.go
Labels: release-note/bug, ready-to-merge, area/eni, sig/ipam

#20819 pkg/bgpv1/annotations: Optimize annotations Errors
  pkg/bgpv1/annotations.go
  pkg/bgpv1/annotations_test.go
Labels: kind/enhancement, kind/performance, release-note/misc, area/bgp, needs-backport/1.12

#20848 Coalesce of health endpoint CIDRs
  daemon/cmd/ipam.go
  pkg/datapath/loader/base.go
Labels: area/eni, release-note/misc

#21127 hubble-ui: release v0.9.2
  Documentation/helm-values.rst
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/hubble-ui/_nginx.tpl
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21152 test/e2e: Clean up cli tests
  test/k8s/cli.go
Labels: release-note/ci, ci/hyperjump

#21162 hive: Make cell config decoding strict
  pkg/hive/cell.go
  pkg/hive/hive.go
  pkg/hive/hive_test.go
Labels: release-note/misc

#21171 Documention: fix crd-compat-table script
  Documentation/check-crd-compat-table.sh
Labels: area/misc, release-note/misc, kind/docs-reorganization, gsod-22

#21156 Create a composite action to define environment variables
  .github/actions/set-env-variables/action.yml
Labels: release-note/ci

#21174 Prepare for release v1.13.0-rc0
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
Labels: kind/release, release-note/misc

#20524 policy: avoid marshalling L4Filter with indent
  pkg/policy/l4.go
  pkg/policy/l4_test.go
Labels: ready-to-merge, release-note/misc

#21166 Update CLOMonitor badge url
  README.rst
Labels: ready-to-merge, release-note/misc

#21051 install: Support configuring metricsRelabelings on ServiceMonitors
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/servicemonitor.yaml
  install/kubernetes/cilium/templates/cilium-operator/servicemonitor.yaml
  install/kubernetes/cilium/templates/hubble-relay/servicemonitor.yaml
  install/kubernetes/cilium/templates/hubble/servicemonitor.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, needs-backport/1.12

#21157 Update wrk2 repository
  test/k8s/manifests/http-clients.yaml
Labels: kind/backports, release-note/ci, backport/1.12

#21158 Update wrk2 repository
  test/k8sT/manifests/http-clients.yaml
Labels: kind/backports, release-note/ci, backport/1.11

#21159 Update wrk2 repository
  test/k8sT/manifests/http-clients.yaml
Labels: kind/backports, release-note/ci, backport/1.10

#21193 Add Magic Leap to USERS.md
  USERS.md
Labels: ready-to-merge, release-note/misc

#21182 docs: Remove RancherOS
  Documentation/operations/system_requirements.rst
Labels: ready-to-merge, release-note/misc

#20779 policy: Add more ICMP unit tests
  pkg/policy/repository_deny_test.go
  pkg/policy/repository_test.go
Labels: area/CI, sig/policy, ready-to-merge, release-note/misc, ci/hyperjump

#21199 contrib/cherry-pick: parameterize the source branch
  contrib/backporting/cherry-pick
Labels: release-note/misc, sig/contributing

#21101 test: update k8s versions to the latest patched releases
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/client-go/tools/clientcmd/auth_loaders.go
  vendor/modules.txt
Labels: sig/k8s, area/misc, kind/backports, release-note/misc, backport/1.11

#21207 Revert "cni-install: bump to v0.4.0, switch to ConfList"
  plugins/cilium-cni/cni-install.sh
Labels: area/cni, ready-to-merge, release-note/misc

#21216 test: fix regression on check-complexity.sh introduced by 6e343142bf2
  test/bpf/check-complexity.sh
Labels: sig/datapath, ready-to-merge, release-note/misc, kind/complexity-issue

#21203 k8s-conformance: fix doc formatting
  test/kubernetes-test.sh
Labels: area/misc, ready-to-merge, release-note/misc

#21135 filter out pod labels from synchronizing with cilium endpoint labels
  pkg/k8s/watchers/pod.go
Labels: ready-to-merge, release-note/misc, needs-backport/1.12

#21220 k8s: fix test flake in TestGenerateToCIDRFromEndpoint.
  pkg/k8s/rule_translate_test.go
Labels: release-note/ci, needs-backport/1.10, needs-backport/1.11

#21197 Read quay organization names from env variables
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-beta.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/tests-l4lb-v1.10.yaml
  .github/workflows/tests-l4lb-v1.11.yaml
  .github/workflows/tests-l4lb-v1.12.yaml
  .github/workflows/tests-l4lb.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: ready-to-merge, release-note/ci

#21233 Set up env variables for build-and-push-with-qemu job
  .github/workflows/build-images-ci.yaml
Labels: release-note/ci

#21242 test: add external_endpoints file for v1beta1
  test/k8s/manifests/1.18/external_endpoint.yaml
  test/k8s/manifests/1.19/external_endpoint.yaml
Labels: release-note/ci

#21102 test: update k8s versions to the latest patched releases
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/client-go/tools/clientcmd/auth_loaders.go
  vendor/modules.txt
Labels: sig/k8s, area/misc, kind/backports, release-note/misc, backport/1.12

#21238 Push workflow status to Loki
  .github/workflows/loki.yaml
Labels: ready-to-merge, release-note/ci

#21239 Remove Slack notifications
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/documentation.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/lint-images-base.yaml
  .github/workflows/tests-l4lb-v1.10.yaml
  .github/workflows/tests-l4lb-v1.11.yaml
  .github/workflows/tests-l4lb-v1.12.yaml
  .github/workflows/tests-l4lb.yaml
  .github/workflows/tests-nightly.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: ready-to-merge, release-note/ci

#21212 ci: switch to google-github-actions/auth for GKE based workflows
  .github/workflows/conformance-externalworkloads-v1.10.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#21209 node: Fix incorrect code comment
  pkg/node/manager/manager.go
Labels: kind/cleanup, ready-to-merge, area/encryption, release-note/misc

#20822 Add support to fallback from ENI PD if subnet is out of /28 prefixes
  pkg/aws/eni/node.go
Labels: release-note/minor, ready-to-merge, area/eni

#21228 v1.12: Update Go to 1.18.6
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8s/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.12

#21222 ingress: Rename LB annotation to annotation prefixes
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/helm-values.rst
  Documentation/network/servicemesh/ingress.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  operator/cmd/flags.go
  operator/cmd/root.go
  operator/option/config.go
  operator/pkg/ingress/ingress.go
  operator/pkg/ingress/ingress_options.go
  operator/pkg/ingress/service.go
Labels: release-note/minor, needs-backport/1.12

#21012 install: add TerminationMessagePolicy to cilium pods
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/templates/cilium-nodeinit/daemonset.yaml
  install/kubernetes/cilium/templates/cilium-operator/deployment.yaml
  install/kubernetes/cilium/templates/cilium-preflight/daemonset.yaml
  install/kubernetes/cilium/templates/cilium-preflight/deployment.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/deployment.yaml
  install/kubernetes/cilium/templates/etcd-operator/cilium-etcd-operator-deployment.yaml
  install/kubernetes/cilium/templates/hubble-relay/deployment.yaml
  install/kubernetes/cilium/templates/hubble-ui/deployment.yaml
Labels: release-note/minor, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21213 kvstore/allocator: fix panic on receiving invalid identity entries
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/logfields.go
Labels: release-note/bug, needs-backport/1.11, needs-backport/1.12

#21258 additional print columns for ciliumnodes
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnodes.yaml
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/apis/cilium.io/v2/types.go
Labels: release-note/minor, ready-to-merge

#21232 daemon: Call initEnv from start hook to avoid data race
  daemon/cmd/daemon_main.go
Labels: release-note/bug, ready-to-merge

#21281 update Slack in docs
  Documentation/community/community.rst
Labels: release-note/misc

#21276 Documentation: run with endpoint routes under aws-cni chaining
  Documentation/installation/cni-chaining-aws-cni.rst
Labels: ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21274 test/e2e: Remove GuestBook test in net_policies.go
  test/k8s/manifests/guestbook-policy-redis.json
  test/k8s/manifests/guestbook-policy-web.yaml
  test/k8s/manifests/guestbook_deployment.yaml
  test/k8s/net_policies.go
Labels: area/CI, ready-to-merge, release-note/ci, ci/hyperjump

#21263 make: fix kind-image-operator target to build the operator-generic image
  Makefile
Labels: release-note/misc

#21260 [v1.12] vagrant: Bump 4.9 Vagrant box (Linux 4.9.326, to fix a kernel bug)
  vagrant_box_defaults.rb
Labels: ready-to-merge, kind/backports, release-note/ci, backport/1.12

#21113 mount host /boot into cilium-agent container
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/enhancement, release-note/misc, area/helm

#21248 clustermesh: explicitly report zero remote nodes on connection release
  pkg/clustermesh/remote_cluster.go
Labels: area/metrics, area/clustermesh, release-note/misc

#21211 v1.11 backport: Do not enable health checks on Terminating backends
  pkg/service/service.go
  pkg/service/service_test.go
Labels: kind/backports, backport/1.11

#21299 Prepare for release v1.10.15
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.10

#21306 Prepare for release v1.12.2
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.12

#21307 install: Update image digests for v1.10.15
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.10

#21313 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#21301 counter: add generic implementation and use it to replace StringCounter
  pkg/counter/counter.go
  pkg/counter/counter_test.go
  pkg/counter/integer.go
  pkg/counter/prefixes_test.go
  pkg/counter/string.go
Labels: ready-to-merge, release-note/misc

#21071 gh/workflows: Add datapath conformance suite
  .github/workflows/conformance-datapath.yaml
  CODEOWNERS
Labels: ready-to-merge, release-note/ci, ci/hyperjump

#21273 docs: retire install using microk8s
  Documentation/index.rst
  Documentation/installation/microk8s.rst
Labels: release-note/misc, kind/docs-reorganization, gsod-22

#21319 add Giant Swarm as Cilium User
  USERS.md
Labels: release-note/misc

#21321 gh: bump timeout for ConformanceGKE
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke.yaml
Labels: area/CI, ready-to-merge, area/CI-improvement, release-note/ci

#21283 ip: Add MustAddrFromIP
  pkg/ip/ip.go
Labels: area/misc, release-note/misc, sig/agent

#21316 update comments
  pkg/endpoint/bpf.go
Labels: kind/cleanup, release-note/misc

#21314 Fix empty message when host legacy routing is true
  daemon/cmd/daemon.go
Labels: release-note/minor, ready-to-merge

#21335 add emeritus section to maintainers
  MAINTAINERS.md
Labels: release-note/misc

#21315 test: add ownership SIG for each ginkgo context
  test/k8s/bandwidth.go
  test/k8s/bgp.go
  test/k8s/chaos.go
  test/k8s/cli.go
  test/k8s/custom_calls.go
  test/k8s/egress.go
  test/k8s/fqdn.go
  test/k8s/health.go
  test/k8s/hubble.go
  test/k8s/istio.go
  test/k8s/lrp.go
  test/k8s/net_policies.go
  test/k8s/services.go
  test/k8s/verifier.go
  test/runtime/chaos.go
  test/runtime/connectivity.go
  test/runtime/fqdn.go
  test/runtime/kvstore.go
  test/runtime/lb.go
  test/runtime/monitor.go
  test/runtime/net_policies.go
  test/runtime/privileged_tests.go
Labels: release-note/ci, ci/hyperjump

#21311 Remove no more available dockershim flags in kubelet wrapper
  install/kubernetes/cilium/files/nodeinit/startup.bash
Labels: sig/k8s, release-note/bug, ready-to-merge, integration/cloud, sig/agent, needs-backport/1.12

#21338 Roadmap: Add Tetragon and remove GSoD
  Documentation/community/roadmap.rst
  README.rst
Labels: release-note/misc

#21356 cilium, bwm: Disable slow start after idle under pacing
  pkg/bandwidth/bandwidth.go
Labels: sig/datapath, release-note/minor

#21360 Revert "roadmap: add Tetragon, remove GSoD"
  Documentation/community/roadmap.rst
  README.rst
Labels: release-note/misc

#21337 test: Extend checkReady condition
  test/helpers/kubectl.go
Labels: area/CI, ready-to-merge, release-note/ci

#21361 Add ungleich to Users
  USERS.md
Labels: release-note/misc

#21336 docs: Update status for graduation in roadmap
  Documentation/community/roadmap.rst
Labels: ready-to-merge, release-note/misc

#21349 Add a check for having a single argument
  cilium/cmd/bpf_endpoint_delete.go
Labels: release-note/minor, ready-to-merge

#21365 daemon: Fix a nil dereference on cleanup when DNS proxy is not enabled
  daemon/cmd/daemon.go
  test/controlplane/suite/testcase.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21195 helm: document ipv{4,6}NativeRoutingCIDR option missing in helm reference
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/documentation, release-note/minor, area/helm

#21348 bugtool: Dump envoy config for troubleshooting
  Documentation/cmdref/cilium-bugtool.md
  bugtool/cmd/root.go
Labels: release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21384 gh/worklows: Add connectivity tests to DP conformance
  .github/workflows/conformance-datapath.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci

#21129 daemon: Skip KPR feature probing when DryMode is enabled
  daemon/cmd/kube_proxy_replacement.go
  daemon/cmd/kube_proxy_replacement_test.go
Labels: ready-to-merge, release-note/misc

#20749 docs: Clarify KPR requirements for Kind
  Documentation/installation/kind.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.12

#21372 Docs: add Tetragon to the Roadmap and remove GSoD
  Documentation/community/roadmap.rst
  README.rst
Labels: ready-to-merge, release-note/misc

#21415 examples: Add connectivity check with netpol
  examples/kubernetes/connectivity-check/README.md
  examples/kubernetes/connectivity-check/connectivity-check-netpol-only.yaml
Labels: release-note/misc

#21254 makefile: use versioned go container when formatting after api generate.
  Makefile
  contrib/scripts/format-api.sh
Labels: ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21318 hubble: Add kafka metrics
  Documentation/observability/metrics.rst
  pkg/hubble/metrics/kafka/handler.go
  pkg/hubble/metrics/kafka/plugin.go
  pkg/hubble/metrics/metrics.go
Labels: kind/feature, release-note/minor, ready-to-merge, area/metrics, sig/hubble

#21402 Fix a typo in the comment example
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/bug, ready-to-merge, release-note/misc, area/helm, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21403 bpf: Add missing identity to `TRACE_TO_STACK` packet traces
  bpf/bpf_overlay.c
Labels: sig/datapath, area/monitor, release-note/minor, ready-to-merge, needs-backport/1.12

#21412 docs: Add cilium overview to internals section
  Documentation/internals/index.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#21429 cmd/bpf: Log if no policy maps found
  cilium/cmd/bpf_policy_get.go
Labels: ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21297 helm: Properly support passing subnet-tags/subnet-ids/instance-tags filters as a list
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, area/helm

#21436 docs: Update docs.cilium.io navigation bar
  Documentation/requirements.txt
Labels: area/documentation, ready-to-merge, release-note/misc, gsod-22

#21295 promise: Add promise package
  pkg/promise/promise.go
  pkg/promise/promise_test.go
Labels: ready-to-merge, release-note/misc

#21413 daemon: Remove SelectiveRegeneration option
  daemon/cmd/daemon_main.go
  daemon/cmd/policy.go
  pkg/defaults/defaults.go
  pkg/option/config.go
  pkg/policy/repository.go
Labels: release-note/misc

#21363 Add missing egressGateway/SRV6 Go struct field align tag
  pkg/maps/egressmap/policy.go
  pkg/maps/srv6map/policy.go
  pkg/maps/srv6map/vrf.go
Labels: release-note/misc

#21370 ipsec: Simplify XFRM IN policies
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/ipsec_linux_test.go
  pkg/datapath/linux/node.go
Labels: ready-to-merge, area/encryption, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21448 elf: avoid flooding debug log with empty symbol names
  pkg/elf/symbols.go
Labels: ready-to-merge, release-note/misc

#21296 hubble/filter: add a new endpoint workload filter
  api/v1/flow/README.md
  api/v1/flow/flow.pb.go
  api/v1/flow/flow.proto
  pkg/hubble/filters/filters.go
  pkg/hubble/filters/workload.go
  pkg/hubble/filters/workload_test.go
Labels: kind/feature, release-note/minor, ready-to-merge, sig/hubble

#21449 daemon: avoid nil pointer dereference on invalid endpoint state
  daemon/cmd/endpoint.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21285 Fix improper regex in check-sources.sh awk command
  pkg/datapath/loader/check-sources.sh
Labels: ready-to-merge, release-note/misc

#21477 Revert "eni: fix new node not triggering creation of ENI"
  operator/cmd/cilium_node.go
  pkg/alibabacloud/eni/instances.go
  pkg/aws/eni/instances.go
  pkg/aws/eni/node_manager_test.go
  pkg/azure/ipam/instances.go
  pkg/ipam/allocator/podcidr/podcidr.go
  pkg/ipam/allocator/podcidr/podcidr_test.go
  pkg/ipam/allocator/provider.go
  pkg/ipam/node_manager.go
  pkg/ipam/node_manager_test.go
  pkg/ipam/types/types.go
Labels: release-note/misc, sig/ipam

#21425 gh/workflows: Set LVH image version to 5.10
  .github/workflows/conformance-datapath.yaml
Labels: ready-to-merge, release-note/ci, ci/hyperjump

#21481 gops: Fix the gops default port
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  clustermesh-apiserver/main.go
  daemon/cmd/root.go
  operator/cmd/root.go
  pkg/gops/cell.go
Labels: ready-to-merge, release-note/misc

#21475 bpf: remove __non_bpf_context macro
  bpf/cilium-probe-kernel-hz.c
  bpf/include/bpf/access.h
  bpf/include/bpf/builtins.h
  bpf/include/bpf/compiler.h
  bpf/include/bpf/ctx/unspec.h
  bpf/include/bpf/tailcall.h
Labels: sig/loader, sig/datapath, ready-to-merge, release-note/misc

#21495 alibabacloud: fix incorrect instance-type reported by cilium-agent
  pkg/alibabacloud/metadata/metadata.go
Labels: release-note/misc, needs-backport/1.12

#21490 sctp: Handle SCTP when correlating Endpoints to services.
  pkg/k8s/endpoints.go
  pkg/k8s/endpoints_test.go
Labels: release-note/minor, ready-to-merge

#21463 helm: Quote operator and etcd-operator image fields
  install/kubernetes/cilium/templates/cilium-operator/deployment.yaml
  install/kubernetes/cilium/templates/etcd-operator/cilium-etcd-operator-deployment.yaml
Labels: ready-to-merge, release-note/misc, needs-backport/1.12

#21459 operator: Fix enabling of API discovery
  operator/cmd/root.go
Labels: kind/bug, ready-to-merge, release-note/misc

#21520 Add Edgeless Systems to Users
  USERS.md
Labels: ready-to-merge, release-note/misc

#21516 monitor: Add parser for socket-lb tracing events
  pkg/monitor/datapath_sock_trace.go
  pkg/monitor/format/format.go
Labels: release-note/misc
