Repository cilium/cilium, pull requests merged in 2022-10, with the labels that each got.

#21525 gh/workflows: Pin lvh to v0.0.1
  .github/workflows/conformance-datapath.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#21518 consolidate_go_stacktrace.py: Add support for replacing Cilium source directory inline
  contrib/scripts/consolidate_go_stacktrace.py
Labels: ready-to-merge, release-note/misc

#21503 ADD to USERS.md Kilo and Sapian
  USERS.md
Labels: release-note/misc

#21478 .github: add original authors of bugs as reviewers
  .github/pull_request_template.md
Labels: ready-to-merge, release-note/misc

#21566 kind.sh: Retry pulling docker registry image
  contrib/scripts/kind.sh
Labels: ready-to-merge, release-note/ci

#21494 gha: Update the names for ConformanceIngress jobs
  .github/workflows/loki.yaml
Labels: area/CI, ready-to-merge, release-note/misc

#21379 IPAM: Add CRD IPAM pool owner check
  pkg/ipam/crd.go
Labels: release-note/minor, ready-to-merge, sig/ipam

#21497 bugtool: Fix pprof default ports
  Documentation/cmdref/cilium-bugtool.md
  bugtool/cmd/root.go
  daemon/cmd/daemon_main.go
  operator/cmd/flags.go
  pkg/defaults/defaults.go
Labels: release-note/bug, ready-to-merge, area/bugtool, needs-backport/1.11, needs-backport/1.12

#21399 test: node: use Eventually() to check CiliumNode labels
  test/k8sT/node.go
Labels: ready-to-merge, kind/backports, backport/1.11

#21567 CODEOWNERS: Add ownerships for IPsec team
  CODEOWNERS
Labels: area/encryption, release-note/misc, sig/contributing

#21583 Documentation: Fix out-of-sync codeowners
  Documentation/codeowners.rst
Labels: area/documentation, release-note/misc, sig/contributing

#21565 ipcache: Fix metadata access from CIDR allocation
  pkg/ipcache/cidr.go
Labels: release-note/bug, needs-backport/1.11, needs-backport/1.12, affects/v1.12

#21320 hubble/metrics: Add workload-name and app options to sourceContext and destinationContext
  Documentation/observability/metrics.rst
  pkg/hubble/metrics/api/context.go
  pkg/hubble/metrics/api/context_test.go
  pkg/hubble/metrics/http/plugin_test.go
Labels: release-note/minor, ready-to-merge, sig/hubble

#21577 contrib: avoid reviews from non-collaborators
  contrib/backporting/common.sh
  contrib/backporting/submit-backport
Labels: ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21322 hubble/metrics: Add source_ip/destination_ip labels to contextLabels
  Documentation/observability/metrics.rst
  pkg/hubble/metrics/api/context.go
  pkg/hubble/metrics/api/context_test.go
  pkg/hubble/metrics/http/plugin_test.go
Labels: release-note/minor, ready-to-merge, sig/hubble

#21561 dev-doctor: Fix the docker buildx version regex
  tools/dev-doctor/rootcmd.go
Labels: ready-to-merge, release-note/misc, sig/contributing

#21586 treewide: Switch ipcache interface to netip.Prefix
  daemon/cmd/daemon.go
  daemon/cmd/fqdn.go
  daemon/cmd/fqdn_test.go
  daemon/cmd/identity.go
  daemon/cmd/policy.go
  pkg/endpoint/endpoint_test.go
  pkg/fqdn/config.go
  pkg/fqdn/name_manager.go
  pkg/fqdn/name_manager_test.go
  pkg/identity/cache/allocator.go
  pkg/ipcache/cidr.go
  pkg/testutils/identity/allocator.go
Labels: release-note/misc

#21588 test: fix up the number of pods in DemoDaemonSet
  test/k8s/manifests.go
Labels: area/CI, release-note/ci, needs-backport/1.12

#21517 fqdn/dnsproxy, daemon: Define new error type for DNS notification
  daemon/cmd/fqdn.go
  pkg/fqdn/dnsproxy/proxy.go
Labels: area/daemon, area/proxy, release-note/misc, sig/agent

#21444 plugins/cni: wait for AWS to drop its CNI configuration file
  plugins/cilium-cni/cni-install.sh
Labels: kind/bug, area/cni, release-note/bug, ready-to-merge, needs-backport/1.12

#21550 helm: Add validation for Ingress Controller
  install/kubernetes/cilium/templates/validate.yaml
Labels: release-note/minor, ready-to-merge, area/helm

#21524 daemon, options: remove deprecated, ineffective options
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  pkg/option/config.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#21608 ipcache: Remove unsafe ipc.metadata.get
  pkg/ipcache/metadata.go
Labels: ready-to-merge, release-note/misc, needs-backport/1.12

#21601 Fix grpc-ingress.yaml path in Service Mesh docs
  Documentation/network/servicemesh/grpc.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.12

#21598 ip: Simplify MustAddrFromIP
  pkg/ip/ip.go
Labels: area/misc, ready-to-merge, release-note/misc

#21613 conformance-gke-v1.12: Miscellaneous fixes
  .github/workflows/conformance-gke-v1.12.yaml
Labels: release-note/ci

#21587 remove duplication of eCHO episodes
  Documentation/gettingstarted/k8s-install-default.rst
Labels: ready-to-merge, kind/backports, backport/1.12

#21389 Update the cert-manager's Certificate to fully qualify the duration
  install/kubernetes/cilium/templates/clustermesh-apiserver/tls-certmanager/admin-secret.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/tls-certmanager/client-secret.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/tls-certmanager/remote-secret.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/tls-certmanager/server-secret.yaml
  install/kubernetes/cilium/templates/hubble/tls-certmanager/relay-client-secret.yaml
  install/kubernetes/cilium/templates/hubble/tls-certmanager/relay-server-secret.yaml
  install/kubernetes/cilium/templates/hubble/tls-certmanager/server-secret.yaml
  install/kubernetes/cilium/templates/hubble/tls-certmanager/ui-client-certs.yaml
Labels: kind/enhancement, ready-to-merge, release-note/misc, area/helm

#21621 ipsec: Fix slightly incorrect assumption in XFRM IN policies
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: ready-to-merge, area/encryption, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21627 helm: Document missing bpf ctTcpMax ctAnyMax natMax neighMax
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/documentation, ready-to-merge, release-note/misc, area/helm

#21595 ipsec: Fix incorrect CIDR in XFRM IN policy for proxy
  pkg/datapath/linux/node.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/encryption, integration/cloud, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21591 Update Go to 1.19.2
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8s/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, release-note/misc

#21602 ipsec: Simplify XFRM FWD policies
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/ipsec_linux_test.go
  pkg/datapath/linux/node.go
Labels: ready-to-merge, area/encryption, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21277 CI: Add AKS helm overrides for E2E test
  Documentation/contributing/testing/e2e.rst
  test/helpers/kubectl.go
  test/helpers/utils.go
  test/k8s/cli.go
  test/k8s/datapath_configuration.go
  test/k8s/fqdn.go
  test/k8s/hubble.go
  test/k8s/istio.go
  test/k8s/kafka_policies.go
  test/k8s/lrp.go
  test/k8s/net_policies.go
  test/k8s/services.go
  test/k8s/updates.go
  test/k8s/verifier.go
Labels: release-note/ci

#21535 docs/crd: Support master RCs in schema bump script
  Documentation/check-crd-compat-table.sh
  contrib/release/start-release.sh
Labels: release-note/misc

#21642 v1.11 backports 2022-10-10
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/ipsec_linux_test.go
  pkg/datapath/linux/node.go
Labels: kind/backports, backport/1.11

#21641 v1.10 backports 2022-10-10
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/ipsec_linux_test.go
  pkg/datapath/linux/node.go
Labels: kind/backports, backport/1.10

#21660 [v1.11] images: update cilium-{runtime,builder}
  .github/workflows/build-images-ci.yaml
  .travis.yml
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.11

#21659 [v1.10] images: update cilium-{runtime,builder}
  .github/workflows/build-images-ci.yaml
  .travis.yml
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.10

#21457 operator: Add leader lifecycle
  operator/cmd/lifecycle.go
  operator/cmd/root.go
  pkg/k8s/version/version.go
  test/controlplane/suite/operator.go
  test/controlplane/suite/testcase.go
Labels: ready-to-merge, release-note/misc

#21666 [v1.12] images: update cilium-{runtime,builder}
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8s/manifests/demo-customcalls.yaml
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.12

#21662 Prepare for release v1.10.16
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, kind/release, backport/1.10

#21665 Prepare for release v1.11.10
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, kind/release, backport/1.11

#21683 Prepare for release v1.12.3
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, kind/release, backport/1.12

#21681 pkg/k8s/resource: Fix test flake due to race between create and watch
  pkg/k8s/resource/resource_test.go
Labels: ready-to-merge, release-note/misc

#21636 only setup ip rules when l7 policy enabled
  pkg/datapath/loader/base.go
Labels: sig/datapath, area/proxy, ready-to-merge, release-note/misc

#21394 Fixed CCNP garbage collection
  operator/cmd/cilium_node.go
Labels: release-note/bug, ready-to-merge, area/operator, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21088 k8s: optimize API calls made to kube-apiserver
  cilium/cmd/preflight_identity_crd_migrate.go
  daemon/cmd/daemon.go
  pkg/k8s/annotate.go
  pkg/k8s/init.go
  pkg/k8s/watchers/cilium_node.go
  pkg/nodediscovery/nodediscovery.go
Labels: ready-to-merge, release-note/misc, needs-backport/1.12

#21653 ipcache: Release metadata mutex in loop error condition
  pkg/ipcache/cidr.go
Labels: release-note/misc, backport-done/1.11, backport-done/1.12

#21714 Add Immerok to USERS.md
  USERS.md
Labels: ready-to-merge, release-note/misc

#21670 docs: Update k8s NetworkPolicy descriptions
  Documentation/network/kubernetes/policy.rst
  Documentation/spelling_wordlist.txt
Labels: ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21616 fix link to CNCF CoC
  CODE_OF_CONDUCT.md
Labels: area/documentation, ready-to-merge, release-note/misc

#21505 Remove unused sections for bpf_lxc from nodeport header
  bpf/bpf_lxc.c
  bpf/lib/nodeport.h
  bpf/lib/tailcall.h
Labels: ready-to-merge, release-note/misc

#21649 docs: CNCF maintainer update process
  Documentation/community/governance/commit_access.rst
Labels: area/documentation, release-note/misc

#21765 install: Update image digests for v1.10.16
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.10

#21767 install: Update image digests for v1.12.3
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.12

#21770 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#21673 consolidate_go_stacktrace.py: Use relative paths by default
  contrib/scripts/consolidate_go_stacktrace.py
Labels: ready-to-merge, release-note/misc

#21635 alibabacloud: use NextToken and MaxResults to list tag resources
  pkg/alibabacloud/api/api.go
Labels: kind/bug, release-note/bug, ready-to-merge, integration/cloud, sig/ipam, sig/agent, area/alibaba

#21234 Add missing inner IP header in ICMP error-reply packet
  bpf/lib/nodeport.h
Labels: sig/datapath, release-note/bug, ready-to-merge, needs-backport/1.12

#21650 helm: document missing bpf helm option
  Documentation/helm-values.rst
  Documentation/network/kubernetes/kubeproxy-free.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/enhancement, area/documentation, ready-to-merge, release-note/misc, area/helm

#21792 MAINTAINERS: add Chance Zibolski to the list of maintainers
  MAINTAINERS.md
Labels: ready-to-merge, release-note/misc

#21701 CI: Using the same function for Native CIDR for GKE and AKS
  test/helpers/kubectl.go
  test/helpers/utils.go
  test/k8s/updates.go
Labels: release-note/ci

#21802 docs: cilium committers are also CNCF maintainers
  Documentation/community/governance/commit_access.rst
Labels: area/documentation, release-note/misc

#21798 docs: Fix 'interface' field indentation
  Documentation/network/egress-gateway.rst
Labels: area/documentation, release-note/misc, feature/egress-gateway, needs-backport/1.12

#21771 EndpointManager: fix deadlock when releasing an endpoint
  pkg/endpointmanager/manager.go
Labels: kind/bug, area/daemon, release-note/bug, sig/policy, ready-to-merge, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21794 bpf: Replace the ghash.h implementation
  bpf/lib/ghash.h
Labels: sig/datapath, ready-to-merge, release-note/misc

#21812 consolidate_go_stacktrace: Fix relative paths
  contrib/scripts/consolidate_go_stacktrace.py
Labels: release-note/misc

#21344 Enable operator operation without kubernetes.
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  operator/cmd/flags.go
  operator/cmd/root.go
  operator/option/config.go
Labels: release-note/minor, needs-rebase

#21827 promise: Document the Resolve/Reject functions
  pkg/promise/promise.go
Labels: area/documentation, release-note/misc

#21739 Sign container images
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-beta.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
  Documentation/configuration/index.rst
  Documentation/configuration/verify-image-signatures.rst
  Documentation/spelling_wordlist.txt
Labels: release-note/minor, ready-to-merge

#21846 Revert "Sign container images"
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-beta.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
  Documentation/configuration/index.rst
  Documentation/configuration/verify-image-signatures.rst
  Documentation/spelling_wordlist.txt
Labels: release-note/misc

#21831 docs: Remove `autoDirectNodeRoutes` where not needed
  Documentation/network/kubernetes/kubeproxy-free.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21064 Add a section with distro-specific considerations
  Documentation/operations/system_requirements.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21807 bpf: nat: fix indentation
  bpf/lib/nat.h
Labels: ready-to-merge, kind/backports, backport/1.12

#21803 docs: Document the workaround for the kernel bug on new Intel CPUs
  Documentation/contributing/development/dev_setup.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, release-note/misc

#21799 Remove beta.kubernetes.io/arch as it's already deprecated
  pkg/k8s/informer/benchmarks/informer_benchmarks_test.go
  test/controlplane/node/ciliumnodes/ciliumnodes.go
  test/controlplane/node/ciliumnodes/v1.23/init.yaml
  test/controlplane/node/ciliumnodes/v1.23/state1.yaml
  test/controlplane/node/ciliumnodes/v1.23/state2.yaml
  test/controlplane/node/ciliumnodes/v1.23/state3.yaml
  test/controlplane/node/ciliumnodes/v1.23/state4.yaml
  test/controlplane/node/ciliumnodes/v1.24/init.yaml
  test/controlplane/node/ciliumnodes/v1.24/state1.yaml
  test/controlplane/node/ciliumnodes/v1.24/state2.yaml
  test/controlplane/node/ciliumnodes/v1.24/state3.yaml
  test/controlplane/node/ciliumnodes/v1.24/state4.yaml
  test/controlplane/node/ciliumnodes/v1.25/init.yaml
  test/controlplane/node/ciliumnodes/v1.25/state1.yaml
  test/controlplane/node/ciliumnodes/v1.25/state2.yaml
  test/controlplane/node/ciliumnodes/v1.25/state3.yaml
  test/controlplane/node/ciliumnodes/v1.25/state4.yaml
  test/controlplane/services/dualstack/v1.23/init.yaml
  test/controlplane/services/dualstack/v1.24/init.yaml
  test/controlplane/services/dualstack/v1.25/init.yaml
  test/controlplane/services/graceful-termination/init.yaml
  test/controlplane/services/nodeport/v1.23/init.yaml
  test/controlplane/services/nodeport/v1.24/init.yaml
  test/controlplane/services/nodeport/v1.25/init.yaml
  test/provision/manifest/kubedns_deployment.yaml
Labels: kind/cleanup, sig/k8s, release-note/misc

#21791 Use rate instead of irate in Hubble L7 workloads dashboard
  install/kubernetes/cilium/files/hubble/dashboards/hubble-l7-http-metrics-by-workload.json
Labels: area/metrics, release-note/misc, sig/hubble

#21772 nodeinit: Move kubelet version check to expected branch
  install/kubernetes/cilium/files/nodeinit/startup.bash
Labels: release-note/bug, needs-backport/1.12

#21750 helm: avoid generating ConfigMapList
  install/kubernetes/cilium/templates/hubble/dashboards-configmap.yaml
Labels: kind/cleanup, ready-to-merge, release-note/misc, area/helm

#21715 IPAM: fix ipam owner check
  pkg/ipam/crd.go
Labels: release-note/misc

#21668 fqdn/dnsproxy: Add concurrency grace period parameter
  daemon/cmd/fqdn.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/fqdn/dnsproxy/proxy_test.go
Labels: release-note/misc, needs-backport/1.12

#21643 pkg/labels: Optimize LabelArray {GetModel(),String()}
  pkg/labels/array.go
  pkg/labels/array_test.go
Labels: kind/enhancement, kind/performance, area/misc, release-note/misc, sig/agent, affects/v1.11, affects/v1.12, affects/v1.10

#21584 clustermesh-apiserver: Add support for pprof
  Documentation/cmdref/cilium-bugtool.md
  bugtool/cmd/root.go
  clustermesh-apiserver/main.go
  pkg/defaults/defaults.go
Labels: area/clustermesh, release-note/misc

#20889 probe: fix kernel config probe log
  pkg/datapath/linux/probes/probes.go
  pkg/datapath/linux/probes/probes_test.go
  pkg/datapath/linux/requirements.go
Labels: release-note/misc

#21506 Helm: configurable capabilities for cilium-agent
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor

#21526 ipam: Fix overlapping/duplicate PodCIDR allocation when nodes are added while operator is down
  operator/cmd/allocator_test.go
  operator/cmd/cilium_node.go
  operator/cmd/root.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/operator, sig/ipam, needs-backport/1.11, needs-backport/1.12

#21835 Fix incorrect env var name used in docs for Helm installation on Rancher Desktop
  Documentation/installation/rancher-desktop-override.yaml
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.12

#21855 chore: Fix typo in contrib/script/kind-shell-helpers.sh
  contrib/scripts/kind-shell-helpers.sh
Labels: ready-to-merge, release-note/misc

#21854 dns: Add DataSource field to ProxyRequestContext
  daemon/cmd/fqdn.go
  pkg/fqdn/dnsproxy/proxy.go
Labels: ready-to-merge, release-note/misc

#21885 Pin gcloud CLI version
  .github/workflows/conformance-externalworkloads-v1.10.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, release-note/ci

#21773 dashboards: Enable exemplars for histogram queries in Hubble L7 workloads dashboard
  install/kubernetes/cilium/files/hubble/dashboards/hubble-l7-http-metrics-by-workload.json
Labels: kind/enhancement, ready-to-merge, area/metrics, needs-rebase, release-note/misc, sig/hubble

#21751 hubble: Add "hubble-prefer-ipv6" option
  Documentation/cmdref/cilium-agent.md
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  daemon/cmd/daemon_main.go
  daemon/cmd/hubble.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/hubble/peer/handler.go
  pkg/hubble/peer/handler_test.go
  pkg/hubble/peer/service.go
  pkg/hubble/peer/serviceoption/defaults.go
  pkg/hubble/peer/serviceoption/option.go
  pkg/option/config.go
Labels: kind/feature, ready-to-merge, release-note/misc, sig/hubble

#21825 Enable icmp error replies with enable-pmtu-discovery flag
  Documentation/cmdref/cilium-agent.md
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  Documentation/spelling_wordlist.txt
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/datapath/linux/config/config.go
  pkg/option/config.go
Labels: sig/datapath, release-note/minor, ready-to-merge

#21862 resource: Make the resource lazy by default
  pkg/k8s/resource/resource.go
Labels: ready-to-merge, release-note/misc

#21904 fix: correction in PR #21825
  pkg/option/config.go
Labels: ready-to-merge, release-note/misc

#21897 docs: Reword note in Azure CNI chaining documentation
  Documentation/installation/cni-chaining-azure-cni.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#21895 fqdn/dnsproxy: Rewrite dnsproxy benchmark
  pkg/fqdn/dnsproxy/proxy_test.go
Labels: kind/enhancement, kind/performance, area/proxy, sig/policy, area/CI-improvement, release-note/ci

#21918 Sign Cilium container images
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-beta.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
  Documentation/configuration/index.rst
  Documentation/configuration/verify-image-signatures.rst
  Documentation/spelling_wordlist.txt
Labels: release-note/major

#21547 makefile: add a new target to run 'golangci-lint run --fix'
  Makefile
Labels: release-note/minor
