Repository cilium/cilium, pull requests merged in 2022-03, with the labels that each got.

#18626 Add JUMO to active Cilium users
  USERS.md
Labels: ready-to-merge, release-note/misc

#18954 test/Runtime: Skip pre/post-checks during build
  test/provision/compile.sh
Labels: area/CI, ready-to-merge, release-note/ci

#18903 vendor: upgrade cilium/ebpf to version 0.8.1
  go.mod
  go.sum
  vendor/github.com/cilium/ebpf/collection.go
  vendor/github.com/cilium/ebpf/elf_reader.go
  vendor/github.com/cilium/ebpf/internal/btf/btf.go
  vendor/github.com/cilium/ebpf/internal/elf.go
  vendor/github.com/cilium/ebpf/internal/vdso.go
  vendor/github.com/cilium/ebpf/internal/version.go
  vendor/github.com/cilium/ebpf/perf/reader.go
  vendor/github.com/cilium/ebpf/types.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#18984 Add T-Systems International to Cilium users list
  USERS.md
Labels: dont-merge/needs-sign-off, release-note/misc

#18981 .github: fix conditions for running CODEOWNERS checks
  .github/workflows/lint-codeowners.yaml
Labels: area/CI, ready-to-merge, release-note/misc

#18980 fix CODEOWNERS
  CODEOWNERS
Labels: area/misc, ready-to-merge, release-note/misc, sig/contributing

#18879 docs: add Talos to adopters list
  USERS.md
Labels: ready-to-merge, release-note/misc

#18848 Add kOps as cilium user
  USERS.md
Labels: area/documentation, release-note/misc

#18971 hubble/filters: add a unit test for TCP flows without flags
  pkg/hubble/filters/tcp_test.go
Labels: ready-to-merge, release-note/misc, sig/hubble

#18985 Avoid unpinning in-use prog arrays in init.sh
  bpf/init.sh
Labels: sig/loader, release-note/bug, ready-to-merge, needs-backport/1.11

#18975 cilium-cni: Call IPAMAllocate before creating veth
  plugins/cilium-cni/cilium-cni.go
Labels: release-note/bug, ready-to-merge, sig/ipam, needs-backport/1.11

#19019 Revert "ipsec: set interface ID different from 0"
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/ipsec_linux_test.go
Labels: ready-to-merge, area/encryption, release-note/misc

#19025 workflow: Wait for AKS nodes to be ready
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks.yaml
Labels: area/CI, ready-to-merge, release-note/ci, integration/cloud

#19020 workflows: Increase timeout for AKS workflow
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#19024 ipam/clusterpool_v2: Fix data race in unit test
  pkg/ipam/clusterpool_test.go
Labels: ready-to-merge, release-note/ci, kind/bug/race-detector

#18897 helm: check for contents of bootstartFile
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: sig/k8s, release-note/bug, needs-backport/1.10, needs-backport/1.11

#19017 Fix 'node-init' in GKE's 'cos' images.
  install/kubernetes/cilium/files/nodeinit/startup.bash
Labels: release-note/bug, needs-backport/1.10, needs-backport/1.11

#18344 bpf: fix removal of stale bpf_netdev.o tc filters
  bpf/init.sh
Labels: kind/bug, sig/loader, release-note/bug, ready-to-merge

#18974 workflow: Reenable IPsec testing on AKS
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks.yaml
Labels: area/CI, ready-to-merge, area/encryption, release-note/ci, integration/cloud, area/azure

#18940 add website contributing link
  CONTRIBUTING.md
Labels: area/documentation, ready-to-merge, release-note/misc

#18982 daemon, install/kubernetes: fix typo in DNS policy rule unload flag/value doc
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, release-note/misc

#19036 docs: fix tip about opening the Hubble server port on all nodes
  Documentation/gettingstarted/hubble_setup.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11

#19037 add governance and adopters for clomonitor
  README.rst
Labels: area/misc, ready-to-merge, release-note/misc

#19065 Crane joins Cilium as a user
  USERS.md
Labels: release-note/misc

#19068 contrib: Make KIND cluster ipFamily configurable
  contrib/scripts/kind.sh
Labels: area/misc, release-note/misc

#19053 helm: Remove Unnecessary RBAC Permissions for Agent
  install/kubernetes/cilium/templates/cilium-agent/clusterrole.yaml
  install/kubernetes/cilium/templates/cilium-preflight/clusterrole.yaml
Labels: area/daemon, release-note/bug, area/helm, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19049 Documentation: Add instructions for installing cilium on Rancher Desktop
  Documentation/gettingstarted/k8s-install-advanced.rst
  Documentation/gettingstarted/k8s-install-default.rst
  Documentation/gettingstarted/k8s-install-helm.rst
  Documentation/gettingstarted/rancher-desktop-configure.rst
  Documentation/gettingstarted/rancher-desktop-override.yaml
  Documentation/gettingstarted/rancher-desktop.rst
Labels: area/documentation, release-note/misc

#19063 docs: Add read:user scope for github token
  Documentation/contributing/release/backports.rst
Labels: area/documentation, ready-to-merge, release-note/misc, kind/documentation

#19056 alibabacloud: Fix derived VPC CIDR block
  pkg/alibabacloud/metadata/metadata.go
  pkg/nodediscovery/nodediscovery.go
Labels: release-note/bug, sig/ipam

#19005 Policy fix mapstate owners
  pkg/endpoint/bpf.go
  pkg/policy/l4.go
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
  pkg/policy/resolve.go
  pkg/policy/resolve_deny_test.go
  pkg/policy/resolve_test.go
Labels: release-note/bug, sig/policy, ready-to-merge, needs-backport/1.11

#19031 selectorcache: Move identity alloc/release outside of critical section
  pkg/policy/selectorcache.go
Labels: release-note/bug, needs/e2e-test, needs-backport/1.10, needs-backport/1.11

#19077 docs: Update alibabacloud RAM permission requirements
  Documentation/gettingstarted/alibabacloud-eni.rst
Labels: release-note/minor

#19078 Revert "workflows: Reenable IPsec test in EKS workflow"
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks.yaml
Labels: area/CI, area/encryption, release-note/ci, integration/cloud

#19086 daemon: don't mark deprecated flags as hidden twice
  daemon/cmd/daemon_main.go
Labels: kind/cleanup, release-note/misc

#19064 Rename bpf.hostRouting to bpf.hostLegacyRouting in ciliumconfig
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: release-note/minor, area/helm

#17790 hubble: Add "flows-to-world" metric
  Documentation/operations/metrics.rst
  pkg/hubble/metrics/flows-to-world/handler.go
  pkg/hubble/metrics/flows-to-world/handler_test.go
  pkg/hubble/metrics/flows-to-world/plugin.go
  pkg/hubble/metrics/metrics.go
Labels: release-note/minor, ready-to-merge, area/metrics, stale

#19081 datapath/config: Fix L2 addr retrieval
  pkg/datapath/linux/config/config.go
  pkg/mac/mac.go
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, needs-backport/1.11, sig/agent

#19060 v1.10: Update Go to 1.16.15
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-proto/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.10

#19089 helm: Move tls related helm option to 1.12
  Documentation/operations/upgrade.rst
Labels: area/documentation, release-note/minor, ready-to-merge, kind/documentation

#19059 v1.11: Update Go to 1.17.8
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.11

#18896 datapath: make tc filter priority configurable
  bpf/init.sh
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/values.yaml
  pkg/datapath/loader/base.go
  pkg/datapath/loader/netlink.go
  pkg/option/config.go
Labels: sig/datapath, release-note/minor, ready-to-merge

#19097 workflows: Wait for first AKS systempool to be deleted
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks.yaml
Labels: area/CI, ready-to-merge, release-note/ci, integration/cloud

#18758 VTEP: Enable VTEP integration dynamic ARP resolution
  bpf/bpf_overlay.c
Labels: release-note/minor

#18996 ipcache: Use incremental policy updates
  daemon/cmd/daemon.go
  pkg/endpointmanager/manager.go
  pkg/ipcache/metadata.go
  pkg/ipcache/metadata_test.go
  pkg/k8s/watchers/endpoint.go
  pkg/k8s/watchers/watcher.go
  pkg/node/manager/manager.go
Labels: release-note/misc

#19088 [Docs] Update docs to use enable endpoint route Azure cni
  Documentation/gettingstarted/cni-chaining-azure-cni.rst
Labels: release-note/minor

#19100 Makefile: Fix TESTPKGS commandline
  Makefile
Labels: release-note/misc, needs-backport/1.11

#18152 api,cli: add identity range in status response & cli output
  api/v1/models/identity_range.go
  api/v1/models/status_response.go
  api/v1/models/zz_generated.deepcopy.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/cmd/status.go
  pkg/client/client.go
Labels: release-note/minor, stale

#19058 Update Go to 1.17.8
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8s/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, release-note/misc

#19076 clustermesh: fix: identities allocation range
  clustermesh-apiserver/main.go
Labels: release-note/bug, ready-to-merge

#19099 test/bpf: Fix mock dependencies
  bpf/mock/Makefile
  test/bpf/Makefile
Labels: ready-to-merge, release-note/misc

#19083 daemon: Deprecate --host-reachable-services-protos
  Documentation/cmdref/cilium-agent.md
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
Labels: sig/datapath, ready-to-merge, release-note/misc, sig/agent

#19115 api: identity_range - update Copyright header
  api/v1/models/identity_range.go
Labels: ready-to-merge, release-note/misc

#19108 bpf: Remove DNS quirk for monitor aggregation
  bpf/lib/conntrack.h
Labels: sig/datapath, release-note/misc, needs-backport/1.11

#18793 Refactor pkg/mac with type Uint64MAC as uint64 for MAC address
  pkg/mac/mac.go
  pkg/mac/mac_test.go
  pkg/maps/lxcmap/lxcmap.go
Labels: release-note/misc

#19069 development: add kind cluster shell helpers
  contrib/scripts/kind-shell-helpers.sh
Labels: release-note/misc

#19066 v1.11 backport: Avoid unpinning in-use prog arrays in init.sh (`K8sUpdates` fix attempt)
  bpf/init.sh
Labels: ready-to-merge, kind/backports, backport/1.11

#19128 docs: adding Snapp to USERS
  USERS.md
Labels: release-note/misc

#18934 api: API ratelimit logs are too noisy
  daemon/cmd/api_limits.go
Labels: release-note/misc

#19103 docs: adding Accuknox to USERS
  USERS.md
Labels: ready-to-merge, release-note/misc

#19105 add CLOMonitor and Artifacthub badges to README
  README.rst
Labels: ready-to-merge, release-note/misc

#18510 hubble: read proxy port from trace event
  pkg/hubble/parser/threefour/parser.go
  pkg/hubble/parser/threefour/parser_test.go
Labels: ready-to-merge, release-note/misc, sig/hubble

#19104 Bpf fix conditional compilation
  bpf/bpf_lxc.c
Labels: sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.11

#19149 localdev: fix kind helm install shell function
  contrib/scripts/kind-shell-helpers.sh
Labels: ready-to-merge, release-note/misc

#19152 Fix log rotation of compressed logs
  go.mod
  go.sum
  pkg/endpoint/log.go
  pkg/envoy/envoy.go
  pkg/hubble/exporter/exporter.go
  pkg/logging/hooks/file_rotation.go
  vendor/github.com/cilium/lumberjack/v2/.gitignore
  vendor/github.com/cilium/lumberjack/v2/.travis.yml
  vendor/github.com/cilium/lumberjack/v2/LICENSE
  vendor/github.com/cilium/lumberjack/v2/README.md
  vendor/github.com/cilium/lumberjack/v2/chown.go
  vendor/github.com/cilium/lumberjack/v2/chown_linux.go
  vendor/github.com/cilium/lumberjack/v2/lumberjack.go
  vendor/gopkg.in/natefinch/lumberjack.v2/.travis.yml
  vendor/modules.txt
Labels: release-note/bug, ready-to-merge

#19143 v1.11 backport: manual backport of "Recommend 'NoExecute' instead of 'NoSchedule'"
  Documentation/gettingstarted/k8s-install-default.rst
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/gettingstarted/requirements-aks.rst
  Documentation/gettingstarted/requirements-eks.rst
  Documentation/gettingstarted/requirements-gke.rst
Labels: ready-to-merge, kind/backports, release-blocker/1.11, backport/1.11

#19163 .github: Change cilium-cleanup order in workflows
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
Labels: area/CI, release-note/ci

#19071 helm: Add RBAC Permissions to Clustermesh APIServer Clusterrole
  install/kubernetes/cilium/templates/clustermesh-apiserver/clusterrole.yaml
Labels: release-note/bug, ready-to-merge, area/clustermesh, area/helm, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19118 wireguard: Fix invalid bits when agent init
  pkg/wireguard/agent/agent.go
Labels: ready-to-merge, area/encryption, release-note/misc, needs-backport/1.10, needs-backport/1.11

#19153 metrics: Add go_* metrics
  pkg/metrics/metrics.go
  vendor/github.com/prometheus/client_golang/prometheus/collectors/collectors.go
  vendor/github.com/prometheus/client_golang/prometheus/collectors/dbstats_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/collectors/dbstats_collector_go115.go
  vendor/github.com/prometheus/client_golang/prometheus/collectors/dbstats_collector_pre_go115.go
  vendor/github.com/prometheus/client_golang/prometheus/collectors/expvar_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/collectors/go_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/collectors/process_collector.go
  vendor/modules.txt
Labels: release-note/minor, ready-to-merge, area/metrics

#19166 .github: Remove release template
  .github/ISSUE_TEMPLATE/release_template.md
Labels: ready-to-merge, release-note/misc

#19174 docs,ci: updates to ci docs
  Documentation/contributing/testing/ci.rst
Labels: release-note/misc

#19183 add Tencent Cloud as a user
  USERS.md
Labels: release-note/misc

#19173 docs: Document unsupported focused tests for runtime suite
  Documentation/contributing/testing/ci.rst
Labels: ready-to-merge, release-note/misc

#19180 v1.9: Update Cilium runtime dependencies
  .travis.yml
  Dockerfile
  Dockerfile.builder
  cilium-dev.Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
Labels: kind/backports, release-note/misc, backport/1.9

#19178 v1.10: Update Cilium runtime dependencies
  .github/workflows/build-images-ci.yaml
  .travis.yml
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Labels: kind/backports, backport/1.10

#19179 v1.11: Update Cilium runtime dependencies
  .github/workflows/build-images-ci.yaml
  .travis.yml
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Labels: kind/backports, backport/1.11

#19189 bpf: Add trace reason for TRACE_TO_PROXY
  bpf/bpf_lxc.c
Labels: sig/datapath, release-note/misc

#19211 helm: Fix invalid type for Certificate spec.ipAddresses
  install/kubernetes/cilium/templates/hubble/tls-certmanager/relay-server-secret.yaml
  install/kubernetes/cilium/templates/hubble/tls-certmanager/server-secret.yaml
Labels: release-note/bug, ready-to-merge, area/helm

#19228 workflows: Update call to Quay API
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/tests-l4lb-v1.10.yaml
  .github/workflows/tests-l4lb-v1.11.yaml
  .github/workflows/tests-l4lb.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19229 jenkinsfiles: Update calls to Quay API
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
Labels: area/CI, release-note/ci

#19230 workflows: Update call to Quay API in external workloads
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads-v1.11.yml
  .github/workflows/conformance-externalworkloads.yml
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#19186 Clarify taint effects in the documentation.
  Documentation/gettingstarted/index.rst
  Documentation/gettingstarted/k8s-install-default.rst
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/gettingstarted/requirements-aks.rst
  Documentation/gettingstarted/requirements-eks.rst
  Documentation/gettingstarted/requirements-gke.rst
  Documentation/gettingstarted/taints.rst
  Documentation/spelling_wordlist.txt
Labels: release-note/misc, release-blocker/1.10, needs-backport/1.10, release-blocker/1.11, needs-backport/1.11

#19184 test: Runtime check that container create succeeds
  test/helpers/docker.go
  test/runtime/benchmark.go
  test/runtime/chaos.go
  test/runtime/connectivity.go
  test/runtime/fqdn.go
  test/runtime/kafka.go
  test/runtime/kvstore.go
  test/runtime/lb.go
  test/runtime/net_policies.go
Labels: kind/enhancement, area/CI, ready-to-merge, release-note/ci

#19165 daemon: Bypass K8s cache check if K8s disabled
  daemon/cmd/daemon.go
Labels: kind/bug, area/daemon, sig/k8s, release-note/bug, sig/policy

#19044 node: don't set write-only NodeAddressingElement.AddressType property
  pkg/node/types/node.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#18803 clustermesh: added new command-line options k8s-kubeconfig-path and clustermesh-health-port
  clustermesh-apiserver/main.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: release-note/minor, ready-to-merge, area/clustermesh

#19231 test/RuntimePrivilegedUnitTests: Fix always-passing test
  test/runtime/privileged_tests.go
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#19226 bpf, hubble: explicitly mark trace reason as "unknown" when relevant
  bpf/bpf_host.c
  bpf/bpf_lxc.c
  bpf/bpf_network.c
  bpf/bpf_overlay.c
  bpf/lib/encap.h
  bpf/lib/trace.h
  pkg/hubble/parser/threefour/parser.go
  pkg/hubble/parser/threefour/parser_test.go
  pkg/monitor/api/types.go
  pkg/monitor/datapath_trace.go
Labels: sig/datapath, area/monitor, ready-to-merge, release-note/misc, sig/hubble

#19237 [v1.11] backport: Clarify taint effects in the documentation.
  Documentation/gettingstarted/index.rst
  Documentation/gettingstarted/k8s-install-default.rst
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/gettingstarted/requirements-aks.rst
  Documentation/gettingstarted/requirements-eks.rst
  Documentation/gettingstarted/requirements-gke.rst
  Documentation/gettingstarted/taints.rst
  Documentation/spelling_wordlist.txt
Labels: kind/backports, backport/1.11

#19236 [v1.10] backport: Clarify taint effects in the documentation.
  Documentation/gettingstarted/index.rst
  Documentation/gettingstarted/k8s-install-default.rst
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/gettingstarted/requirements-aks.rst
  Documentation/gettingstarted/requirements-eks.rst
  Documentation/gettingstarted/requirements-gke.rst
  Documentation/gettingstarted/taints.rst
  Documentation/spelling_wordlist.txt
Labels: kind/backports, backport/1.10

#19223 Prepare for release v1.9.14
  .github/maintainers-little-helper.yaml
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, kind/release, backport/1.9

#19224 Prepare for release v1.10.9
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.10

#19225 Prepare for release v1.11.3
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.11

#19238 install: Update image digests for v1.9.14
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, backport/1.9

#19239 install: Update image digests for v1.10.9
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.10

#19240 install: Update image digests for v1.11.3
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.11

#19193 pkg/redirectpolicy: Add missing namespace check in pod update handler
  Documentation/gettingstarted/local-redirect-policy.rst
  pkg/redirectpolicy/manager.go
  pkg/redirectpolicy/manager_test.go
Labels: release-note/bug, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#18664 contrib/backporting: Include golang in the image
  contrib/backporting/Dockerfile
Labels: release-note/misc

#19249 fix seg fault in logs
  pkg/bgp/manager/metallb.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.11

#19218 bpf: fix native local build
  bpf/Makefile.bpf
Labels: release-note/misc

#19162 routing: Fix the incorrect deletion of IP rules
  daemon/cmd/ipam.go
  pkg/datapath/linux/routing/info.go
  pkg/datapath/linux/routing/info_test.go
  pkg/datapath/linux/routing/routing.go
  pkg/datapath/linux/routing/routing_test.go
  plugins/cilium-cni/interface.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/eni, integration/cloud, sig/ipam, needs-backport/1.10, needs-backport/1.11

#19042 clustermesh: Correct shared service annotation behaviour
  pkg/clustermesh/services_test.go
  pkg/k8s/service.go
  pkg/k8s/service_cache.go
  pkg/k8s/service_cache_test.go
  pkg/service/store/store.go
Labels: kind/bug, requires-doc-change, release-note/bug, ready-to-merge, area/clustermesh

#19278 eni: Fix broken build due to unit test
  pkg/aws/eni/node_manager_test.go
Labels: priority/high, release-note/misc

#19259 pkg/k8s: use a single HTTP Client for all kube-apiserver connections
  pkg/k8s/client.go
  pkg/k8s/init.go
  pkg/k8s/slim/k8s/apiextensions-clientset/clientset.go
  pkg/k8s/slim/k8s/clientset/clientset.go
Labels: kind/bug, sig/k8s, release-note/bug, needs-backport/1.11

#19280 Add DaoCloud spiderpool & merbridge as Cilium user
  USERS.md
Labels: release-note/misc

#19242 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc
