Repository cilium/cilium, pull requests merged in 2022-07, with the labels that each got.

#20361 fix identity gc to return correct max/min id
  pkg/allocator/allocator.go
Labels: release-note/bug, release-blocker/1.11, needs-backport/1.11, release-blocker/1.12, needs-backport/1.12

#20241 docs: Add more envoy supported extensions
  Documentation/gettingstarted/servicemesh/l7-traffic-management.rst
Labels: area/documentation, release-note/misc, needs-backport/1.12

#20380 add Nine Internet Solutions AG to users
  USERS.md
Labels: ready-to-merge, release-note/misc

#20373 Restore patch in ciliumnetworkpolicies/status ClusterRole
  install/kubernetes/cilium/templates/cilium-operator/clusterrole.yaml
Labels: release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20328 daemon: Deprecate KPR=probe
  Documentation/cmdref/cilium-agent.md
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  daemon/cmd/kube_proxy_replacement.go
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/daemon, ready-to-merge, release-note/misc, needs-backport/1.12

#20379 bpf: Provision HostPort also for case of Maglev
  pkg/service/service.go
Labels: sig/datapath, release-note/bug, needs-backport/1.12

#20245 bpf: Don't emit policy verdict post-L7
  bpf/bpf_lxc.c
Labels: release-note/bug, ready-to-merge, needs-backport/1.12

#20149 api: re-sync bpf drop reasons
  api/v1/flow/README.md
  api/v1/flow/flow.pb.go
  api/v1/flow/flow.proto
  api/v1/observer/observer.pb.go
  pkg/monitor/api/drop.go
Labels: sig/datapath, ready-to-merge, release-note/misc, sig/hubble, needs-backport/1.11, needs-backport/1.12

#20269 daemon, option: Fix MTU when egress gateway is used
  daemon/cmd/daemon.go
  pkg/option/config.go
Labels: kind/bug, release-note/bug, ready-to-merge, feature/egress-gateway, needs-backport/1.11, needs-backport/1.12

#20392 nodediscovery: make LocalNode return a deep copy of localNode
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/nodediscovery/nodediscovery.go
Labels: kind/bug, release-note/bug, ready-to-merge, backport-pending/1.10, backport-pending/1.11, needs-backport/1.12

#20388 ctmap: Do not use nil locks
  pkg/maps/ctmap/ctmap.go
Labels: kind/bug, ready-to-merge, release-note/misc, release-blocker/1.12, needs-backport/1.12

#20399 docs: Improve policy troubleshooting guide
  Documentation/operations/troubleshooting.rst
Labels: ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20362 [v1.12] gha: Add ingress conformance test
  .github/workflows/conformance-ingress.yaml
Labels: ready-to-merge, kind/backports, backport/1.12

#20378 images, contrib/coccinelle: update alpine image to 3.16.0
  contrib/coccinelle/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/scripts/update-alpine-image.sh
Labels: ready-to-merge, release-note/misc, needs-backport/1.12

#16499 docs: Document clustermesh datapath configuration for non-tunneled modes
  Documentation/gettingstarted/clustermesh/clustermesh.rst
Labels: area/documentation, area/clustermesh, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20107 contrib/vagrant: add more permissive firewall rule
  Vagrantfile
  contrib/vagrant/nftables.rules
  contrib/vagrant/start.sh
Labels: ready-to-merge, release-note/misc

#20408 docs: fix flags for 1.12 branch
  Documentation/gettingstarted/clustermesh/clustermesh.rst
Labels: release-note/misc, needs-backport/1.12

#19533 Use '.Values.enableIPv4Masquerade' in 'node-init'
  install/kubernetes/cilium/files/nodeinit/prestop.bash
  install/kubernetes/cilium/files/nodeinit/startup.bash
Labels: release-note/bug, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20138 cilium: make error message, not segfault
  cilium/cmd/bpf_mountfs_show.go
Labels: release-note/bug

#20409 .github: add more operations per run in stale bot
  .github/workflows/close-stale-issues.yml
Labels: area/misc, ready-to-merge, release-note/misc

#20395 [v1.10] Consider VPC's secondary CIDRs during cilium_host IP restoration
  daemon/cmd/daemon.go
  pkg/ipam/types.go
  pkg/logging/logfields/logfields.go
  pkg/node/address.go
  pkg/node/address_test.go
Labels: ready-to-merge, kind/backports, backport/1.10

#20422 docs: ipsec: remove node-to-node encryption
  Documentation/gettingstarted/encryption-ipsec.rst
Labels: area/documentation, release-note/misc, needs-backport/1.12

#20420 ci: pick up cilium-cli v0.11.11 for master, v1.11 and v1.12 workflows
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.12

#20417 Documentation: Restart cilium-operator and cilium after enabling Service Mesh
  Documentation/gettingstarted/servicemesh/installation.rst
Labels: area/documentation, release-note/misc, kind/documentation, release-blocker/1.12, needs-backport/1.12

#19831 clarify some docs around the kubeProxyReplacement=partial mode
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: area/documentation, release-note/minor

#20256 Doc: add k3s --disable-kube-proxy
  Documentation/gettingstarted/k3s.rst
Labels: release-note/misc

#20353 operator: start the event queue in a dedicated go routine
  operator/cilium_node.go
Labels: release-note/misc, release-blocker/1.11, needs-backport/1.11, needs-backport/1.12

#20444 Documentation: Fix copy-api on MacOS
  Documentation/Makefile
Labels: release-note/misc

#20363 endpointmanager: Add extra check for out-of-range endpoint IDs
  pkg/endpointmanager/manager.go
Labels: release-note/misc, needs-backport/1.12

#20343 feat(helm): allow adding extra containers to the cilium daemonset
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, area/helm

#20332 test/helpers: Fix variadic expansion related panic
  test/helpers/kubectl.go
Labels: kind/bug/CI, area/CI, release-note/ci, needs-backport/1.12

#20310 ci: unquarantine failing test on net-next
  test/k8s/net_policies.go
Labels: release-note/ci

#20305 dnsproxy: update dnsproxy benchmark memory calculation
  pkg/fqdn/dnsproxy/proxy_test.go
Labels: kind/enhancement, kind/performance, area/proxy, area/misc, sig/policy, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20303 ip: Add helpers to assist net -> netip transition
  pkg/ip/cidr.go
  pkg/ip/cidr_test.go
Labels: release-note/misc

#20296 Add Peer Service to Cilium DS Port List
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20251 Fix the bugs when empty CiliumEndpointSlices were created and leaked.
  operator/pkg/ciliumendpointslice/reconciler.go
  operator/pkg/ciliumendpointslice/reconciler_test.go
Labels: kind/bug, sig/k8s, release-note/bug, area/operator, needs-backport/1.11, needs-backport/1.12

#20239 docs: Add example how to config ipmasq via ConfigMap
  Documentation/concepts/networking/masquerading.rst
  examples/kubernetes-ip-masq-agent/rfc1918.yaml
Labels: area/documentation, release-note/misc

#20187 doc: Remove VTEP pod static ARP and pod L7 policy and hostnetwork limitation
  Documentation/gettingstarted/vtep.rst
Labels: area/documentation, release-note/misc, feature/vtep

#20416 Documentation: Only install 1 replica of operator on k3s
  Documentation/gettingstarted/k8s-install-helm.rst
Labels: area/documentation, release-note/misc, kind/documentation, release-blocker/1.12, needs-backport/1.12

#20430 install/kubernetes: do not initialize variable twice
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: release-note/misc, needs-backport/1.12

#20433 pkg/metrics: Remove source node label
  Documentation/operations/metrics.rst
  pkg/k8s/endpoints.go
  pkg/metrics/metrics.go
Labels: release-note/misc, needs-backport/1.11, needs-backport/1.12

#20440 Disable Envoy version check if L7 proxy is disabled
  pkg/option/config.go
Labels: kind/bug, area/proxy, release-note/bug, ready-to-merge, needs-backport/1.11, needs-backport/1.12

#20442 docs: Fixed service list command in clustermesh affinity guide
  Documentation/gettingstarted/clustermesh/affinity.rst
Labels: area/documentation, ready-to-merge, area/clustermesh, release-note/misc, needs-backport/1.12

#20443 dependabot: disable gops updates
  .github/dependabot.yml
Labels: release-note/misc

#20421 docs: L7 traffic management getting started guide
  Documentation/gettingstarted/servicemesh/envoy-traffic-management.rst
  examples/kubernetes/servicemesh/envoy/client-egress-l7-http.yaml
  examples/kubernetes/servicemesh/envoy/client-egress-only-dns.yaml
  examples/kubernetes/servicemesh/envoy/envoy-traffic-management-test.yaml
  examples/kubernetes/servicemesh/envoy/test-application.yaml
Labels: area/documentation, ready-to-merge, release-note/misc, kind/documentation, needs-backport/1.12

#20406 docs: Add CLI installation for ServiceMesh
  Documentation/gettingstarted/servicemesh/installation.rst
Labels: area/documentation, release-note/misc, kind/documentation, needs-backport/1.12

#20456 Revert "ip: Add helpers to assist net -> netip transition"
  pkg/ip/cidr.go
  pkg/ip/cidr_test.go
Labels: release-note/misc

#20461 test/k8s/manifests: bump test-verifier image to latest version
  test/k8s/manifests/test-verifier.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#20469 vagrant: Bump Vagrant box versions
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/ci

#20473 config: Fix unit tests for native routing CIDR
  pkg/option/config_test.go
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.11, needs-backport/1.12

#20410 service: Improve memory usage when handling update of a big service.
  daemon/cmd/loadbalancer.go
  pkg/envoy/ciliumenvoyconfig.go
  pkg/k8s/watchers/pod.go
  pkg/k8s/watchers/watcher.go
  pkg/k8s/watchers/watcher_test.go
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/zz_generated.deepcopy.go
  pkg/maps/lbmap/lbmap.go
  pkg/redirectpolicy/manager.go
  pkg/service/service.go
  pkg/service/service_test.go
  pkg/testutils/mockmaps/lbmap.go
Labels: sig/datapath, sig/k8s, kind/performance, release-note/minor

#20472 Include DeleteNetworkInterface in ENI Required Privileges Docs
  Documentation/concepts/networking/ipam/eni.rst
Labels: release-note/misc

#20428 docs: Add troubleshooting docs for Ingress
  Documentation/operations/troubleshooting.rst
  Documentation/operations/troubleshooting_servicemesh.rst
Labels: area/documentation, ready-to-merge, release-note/misc, kind/documentation, needs-backport/1.12

#20407 bpf: Handle tuple collisions for inactive backends
  bpf/lib/common.h
  bpf/lib/conntrack.h
  bpf/lib/lb.h
Labels: sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.12

#20446 hubble/parser/threefour: check (*Parser).linkGetter before accessing it
  pkg/hubble/parser/threefour/parser.go
  pkg/hubble/parser/threefour/parser_test.go
  pkg/monitor/datapath_debug.go
Labels: release-note/bug, ready-to-merge, sig/hubble, needs-backport/1.12

#20486 docs: Bump up Netlify Python version to 3.8
  Documentation/runtime.txt
Labels: release-note/ci, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20493 v1.11 backports 2022-07-13
  operator/cilium_node.go
Labels: kind/backports, backport/1.11

#20413 bgp: fixed PodCIDR announcement being overwritten by SVC announcement
  go.mod
  go.sum
  pkg/bgp/mock/mock.go
  pkg/bgp/speaker/metallb.go
  pkg/bgp/speaker/pod_cidr.go
  vendor/go.universe.tf/metallb/pkg/speaker/bgp_controller.go
  vendor/go.universe.tf/metallb/pkg/speaker/speaker.go
  vendor/modules.txt
Labels: kind/bug, release-note/bug, ready-to-merge, needs-backport/1.11, area/bgp, needs-backport/1.12

#20476 contrib: update cilium/coccicheck docker image
  .github/workflows/lint-bpf-checks.yaml
  contrib/coccinelle/aligned.cocci
  contrib/coccinelle/const.cocci
  contrib/coccinelle/identity_is_node.cocci
  contrib/coccinelle/tail_calls.cocci
  contrib/coccinelle/zero_trace_reason.cocci
Labels: release-note/misc

#20481 docs: Fix update-spelling_wordlist.sh to run command on spelling errors
  Documentation/check-build.sh
Labels: area/documentation, release-note/misc, needs-backport/1.12

#20471 Improve Egress Gateway Getting Started Guide
  Documentation/gettingstarted/egress-gateway.rst
Labels: area/documentation, release-note/misc, kind/documentation, release-blocker/1.12, needs-backport/1.12

#20478 ip: Add helpers to assist net -> netip transition
  pkg/ip/cidr.go
  pkg/ip/cidr_test.go
Labels: release-note/misc

#20521 bgp: Fixed broken bgp speaker unit tests
  go.mod
  go.sum
  pkg/bgp/speaker/speaker_test.go
  vendor/go.universe.tf/metallb/pkg/speaker/bgp_controller.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#20460 docs: fix a Links documentation style guide error
  Documentation/contributing/development/documentation.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.11, gsod-22, needs-backport/1.12

#20499 test: Do not start cilium monitor in K8sServicesTest
  test/k8s/services.go
Labels: kind/cleanup, ready-to-merge, area/CI-improvement, release-note/ci, needs-backport/1.12

#20491 Add metric on number of requests rejected by DNS Proxy semaphore
  daemon/cmd/fqdn.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/metrics/metrics.go
  pkg/option/config.go
Labels: release-note/minor, ready-to-merge, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20213 label all Cilium resources with "app.kubernetes.io/part-of: cilium"
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/templates/cilium-agent/service.yaml
  install/kubernetes/cilium/templates/cilium-agent/servicemonitor.yaml
  install/kubernetes/cilium/templates/cilium-nodeinit/daemonset.yaml
  install/kubernetes/cilium/templates/cilium-operator/deployment.yaml
  install/kubernetes/cilium/templates/cilium-operator/poddisruptionbudget.yaml
  install/kubernetes/cilium/templates/cilium-operator/service.yaml
  install/kubernetes/cilium/templates/cilium-operator/servicemonitor.yaml
  install/kubernetes/cilium/templates/cilium-preflight/daemonset.yaml
  install/kubernetes/cilium/templates/cilium-preflight/deployment.yaml
  install/kubernetes/cilium/templates/cilium-preflight/poddisruptionbudget.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/deployment.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/poddisruptionbudget.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/service.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/tls-cronjob/cronjob.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/tls-cronjob/job.yaml
  install/kubernetes/cilium/templates/etcd-operator/cilium-etcd-operator-deployment.yaml
  install/kubernetes/cilium/templates/etcd-operator/poddisruptionbudget.yaml
  install/kubernetes/cilium/templates/hubble-relay/deployment.yaml
  install/kubernetes/cilium/templates/hubble-relay/poddisruptionbudget.yaml
  install/kubernetes/cilium/templates/hubble-relay/service.yaml
  install/kubernetes/cilium/templates/hubble-ui/deployment.yaml
  install/kubernetes/cilium/templates/hubble-ui/ingress.yaml
  install/kubernetes/cilium/templates/hubble-ui/poddisruptionbudget.yaml
  install/kubernetes/cilium/templates/hubble-ui/service.yaml
  install/kubernetes/cilium/templates/hubble/metrics-service.yaml
  install/kubernetes/cilium/templates/hubble/peer-service.yaml
  install/kubernetes/cilium/templates/hubble/servicemonitor.yaml
  install/kubernetes/cilium/templates/hubble/tls-cronjob/cronjob.yaml
  install/kubernetes/cilium/templates/hubble/tls-cronjob/job.yaml
  pkg/identity/numericidentity.go
  pkg/k8s/apis/cilium.io/const.go
Labels: kind/enhancement, release-note/minor, ready-to-merge, upgrade-impact, area/helm

#20501 Update Go to 1.18.4
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  plugins/cilium-cni/cilium-cni.go
  test/k8s/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: ready-to-merge, release-note/misc, needs-backport/1.12

#20249 docs(bpf): fix minor grammar errors in struct padding section
  Documentation/bpf.rst
Labels: release-note/misc, needs-backport/1.12

#20439 docs: Add cluster install/prep guide for AKS-to-AKS clustermesh
  Documentation/gettingstarted/clustermesh/aks-clustermesh-prep.rst
  Documentation/gettingstarted/clustermesh/clustermesh.rst
  Documentation/gettingstarted/index.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, area/clustermesh, release-note/misc, release-blocker/1.12, needs-backport/1.12

#20517 add an option to wait for kube-proxy
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, area/helm, area/kube-proxy

#20447 docs: Improve kubeproxy replacement and OKD GSG guide.
  Documentation/gettingstarted/kubeproxy-free.rst
Labels: release-note/misc, release-blocker/1.12, needs-backport/1.12

#20500 test: Remove sockops test cases
  Documentation/contributing/testing/e2e.rst
  test/config/config.go
  test/k8s/assertion_helpers.go
  test/k8s/datapath_configuration.go
Labels: kind/cleanup, area/CI-improvement, release-note/ci, needs-backport/1.12

#20526 test: remove nightly test leftovers
  Documentation/contributing/testing/e2e.rst
  test/Makefile
  test/config/config.go
  test/helpers/cons.go
  test/helpers/scope.go
Labels: area/CI, kind/cleanup, release-note/ci, needs-backport/1.12

#20383 pkg/k8s/version: Also set EndpointSlice when forcing version
  pkg/k8s/version/version.go
Labels: release-note/bug, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20514 update k8s versions to the latest releases
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.s
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.s
  vendor/golang.org/x/crypto/curve25519/curve25519.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.s
  vendor/golang.org/x/crypto/curve25519/curve25519_generic.go
  vendor/golang.org/x/crypto/curve25519/curve25519_noasm.go
  vendor/golang.org/x/crypto/curve25519/internal/field/README
  vendor/golang.org/x/crypto/curve25519/internal/field/fe.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.s
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64_noasm.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_arm64.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_arm64.s
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_arm64_noasm.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_generic.go
  vendor/golang.org/x/crypto/curve25519/internal/field/sync.checkpoint
  vendor/golang.org/x/crypto/curve25519/internal/field/sync.sh
  vendor/golang.org/x/crypto/internal/poly1305/bits_compat.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_go1.13.go
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/poly1305.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64le.s
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/k8s.io/client-go/pkg/version/.gitattributes
  vendor/k8s.io/code-generator/go.mod
  vendor/k8s.io/code-generator/go.sum
  vendor/modules.txt
Labels: kind/backports, backport/1.10

#20528 ci: include v1.11 and v1.12 branches in CI image garbage collection
  .github/workflows/ci-images-garbage-collect.yaml
Labels: area/CI, release-note/ci

#20513 update k8s versions to the latest releases
  go.mod
  go.sum
  pkg/k8s/client/clientset/versioned/clientset.go
  pkg/k8s/slim/k8s/apiextensions-client/clientset/versioned/clientset.go
  pkg/k8s/slim/k8s/client/clientset/versioned/clientset.go
  test/provision/k8s_install.sh
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/api/certificates/v1/types.go
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/clientset.go
  vendor/k8s.io/client-go/kubernetes/clientset.go
  vendor/k8s.io/client-go/pkg/version/.gitattributes
  vendor/k8s.io/client-go/tools/cache/thread_safe_store.go
  vendor/k8s.io/code-generator/cmd/client-gen/generators/generator_for_clientset.go
  vendor/modules.txt
Labels: kind/backports, backport/1.11

#20232 datapath: Backport create sysctl rp_filter overwrite config on agent init
  Makefile
  go.mod
  go.sum
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  tools/sysctlfix/.gitignore
  tools/sysctlfix/Makefile
  tools/sysctlfix/main.go
  vendor/github.com/coreos/go-systemd/v22/LICENSE
  vendor/github.com/coreos/go-systemd/v22/NOTICE
  vendor/github.com/coreos/go-systemd/v22/dbus/dbus.go
  vendor/github.com/coreos/go-systemd/v22/dbus/methods.go
  vendor/github.com/coreos/go-systemd/v22/dbus/properties.go
  vendor/github.com/coreos/go-systemd/v22/dbus/set.go
  vendor/github.com/coreos/go-systemd/v22/dbus/subscription.go
  vendor/github.com/coreos/go-systemd/v22/dbus/subscription_set.go
  vendor/github.com/godbus/dbus/v5/CONTRIBUTING.md
  vendor/github.com/godbus/dbus/v5/LICENSE
  vendor/github.com/godbus/dbus/v5/MAINTAINERS
  vendor/github.com/godbus/dbus/v5/README.markdown
  vendor/github.com/godbus/dbus/v5/auth.go
  vendor/github.com/godbus/dbus/v5/auth_anonymous.go
  vendor/github.com/godbus/dbus/v5/auth_external.go
  vendor/github.com/godbus/dbus/v5/auth_sha1.go
  vendor/github.com/godbus/dbus/v5/call.go
  vendor/github.com/godbus/dbus/v5/conn.go
  vendor/github.com/godbus/dbus/v5/conn_darwin.go
  vendor/github.com/godbus/dbus/v5/conn_other.go
  vendor/github.com/godbus/dbus/v5/conn_unix.go
  vendor/github.com/godbus/dbus/v5/conn_windows.go
  vendor/github.com/godbus/dbus/v5/dbus.go
  vendor/github.com/godbus/dbus/v5/decoder.go
  vendor/github.com/godbus/dbus/v5/default_handler.go
  vendor/github.com/godbus/dbus/v5/doc.go
  vendor/github.com/godbus/dbus/v5/encoder.go
  vendor/github.com/godbus/dbus/v5/export.go
  vendor/github.com/godbus/dbus/v5/go.mod
  vendor/github.com/godbus/dbus/v5/go.sum
  vendor/github.com/godbus/dbus/v5/homedir.go
  vendor/github.com/godbus/dbus/v5/homedir_dynamic.go
  vendor/github.com/godbus/dbus/v5/homedir_static.go
  vendor/github.com/godbus/dbus/v5/match.go
  vendor/github.com/godbus/dbus/v5/message.go
  vendor/github.com/godbus/dbus/v5/object.go
  vendor/github.com/godbus/dbus/v5/sequence.go
  vendor/github.com/godbus/dbus/v5/sequential_handler.go
  vendor/github.com/godbus/dbus/v5/server_interfaces.go
  vendor/github.com/godbus/dbus/v5/sig.go
  vendor/github.com/godbus/dbus/v5/transport_darwin.go
  vendor/github.com/godbus/dbus/v5/transport_generic.go
  vendor/github.com/godbus/dbus/v5/transport_nonce_tcp.go
  vendor/github.com/godbus/dbus/v5/transport_tcp.go
  vendor/github.com/godbus/dbus/v5/transport_unix.go
  vendor/github.com/godbus/dbus/v5/transport_unixcred_dragonfly.go
  vendor/github.com/godbus/dbus/v5/transport_unixcred_freebsd.go
  vendor/github.com/godbus/dbus/v5/transport_unixcred_linux.go
  vendor/github.com/godbus/dbus/v5/transport_unixcred_openbsd.go
  vendor/github.com/godbus/dbus/v5/variant.go
  vendor/github.com/godbus/dbus/v5/variant_lexer.go
  vendor/github.com/godbus/dbus/v5/variant_parser.go
  vendor/modules.txt
Labels: kind/backports, backport/1.10

#20537 fqdn/dnsproxy: fix test build
  pkg/fqdn/dnsproxy/proxy_test.go
Labels: ready-to-merge, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20426 Add Plaid to USERS.md
  USERS.md
Labels: ready-to-merge, release-note/misc

#20503 v1.11: Update Go to 1.17.12
  .github/workflows/build-images-ci.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Labels: kind/backports, release-note/misc, backport/1.11

#20543 v1.9: update cilium-{runtime,builder}
  .travis.yml
  Dockerfile
  Dockerfile.builder
  cilium-dev.Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
Labels: kind/backports, backport/1.9

#20541 v1.10: update cilium-{runtime,builder}
  .github/workflows/build-images-ci.yaml
  .travis.yml
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Labels: kind/backports, backport/1.10

#20544 Prepare for release v1.9.18
  .github/maintainers-little-helper.yaml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, kind/release, backport/1.9

#20545 Prepare for release v1.10.13
  .github/maintainers-little-helper.yaml
  .mailmap
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.10

#20546 Prepare for release v1.11.7
  .github/maintainers-little-helper.yaml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.11

#20538 docs(masquerading): add missing "address"
  Documentation/concepts/networking/masquerading.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20531 Improve Egress Gateway Getting Started Guide
  Documentation/gettingstarted/egress-gateway.rst
Labels: area/documentation, release-note/misc, release-blocker/1.12, needs-backport/1.12

#20533 ci: fix AKS worfklow for 1.12 branch
  .github/workflows/conformance-aks-v1.12.yaml
Labels: area/CI, release-note/ci

#20552 Fix mtu setting for tunnel interface in init.sh
  bpf/init.sh
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge

#20230 bpf: Added eBPF code coverage reporting
  .gitignore
  bpf/tests/common.h
  go.mod
  go.sum
  test/Makefile
  test/bpf_tests/bpf_test.go
  vendor/github.com/cilium/coverbee/.gitignore
  vendor/github.com/cilium/coverbee/.golangci.yml
  vendor/github.com/cilium/coverbee/LICENSE
  vendor/github.com/cilium/coverbee/Readme.md
  vendor/github.com/cilium/coverbee/cover.go
  vendor/github.com/cilium/coverbee/instrumentation.go
  vendor/github.com/cilium/coverbee/pkg/verifierlog/.gitignore
  vendor/github.com/cilium/coverbee/pkg/verifierlog/verifierlog.go
  vendor/github.com/dylandreimerink/gocovmerge/LICENSE
  vendor/github.com/dylandreimerink/gocovmerge/README.md
  vendor/github.com/dylandreimerink/gocovmerge/gocovmerge.go
  vendor/golang.org/x/exp/AUTHORS
  vendor/golang.org/x/exp/CONTRIBUTORS
  vendor/golang.org/x/exp/LICENSE
  vendor/golang.org/x/exp/PATENTS
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/golang.org/x/tools/cover/profile.go
  vendor/modules.txt
Labels: area/CI, sig/datapath, ready-to-merge, release-note/misc

#20560 install: Update image digests for v1.10.13
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.10

#20561 install: Update image digests for v1.11.7
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.11

#20568 Revert ".travis.yml: disable arm64-graviton2"
  .travis.yml
Labels: area/CI, release-note/ci, needs-backport/1.12

#20569 pkg/k8s: do not wait for endpointslice cache sync in k8s >= 1.17
  pkg/k8s/watchers/endpoint_slice.go
Labels: release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20570 v1.12 backports 2022-07-18
  pkg/k8s/watchers/endpoint_slice.go
Labels: kind/backports, backport/1.12

#20574 Prepare for release v1.12.0
  .github/maintainers-little-helper.yaml
  .github/workflows/build-images-releases.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/register.go
Labels: kind/backports, kind/release, backport/1.12

#20539 test/runtime: remove netperf benchmarks
  CODEOWNERS
  test/helpers/cilium.go
  test/runtime/benchmark.go
Labels: area/CI, kind/cleanup, ready-to-merge, release-note/ci

#20581 install: Update image digests for v1.12.0
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.12

#20589 vtep: skipping symbol substitution cilium_vtep_map
  pkg/datapath/loader/cache.go
Labels: release-note/misc, needs-backport/1.12

#20575 remove stable tag from docker images builds
  .github/workflows/build-images-releases.yaml
Labels: kind/backports, backport/1.11

#20583 Add Isovalent to Users
  USERS.md
Labels: release-note/misc

#20582 README: update stable releases
  README.rst
  stable.txt
Labels: release-note/misc

#20474 hubble: Add reserved-identity metric context
  Documentation/operations/metrics.rst
  pkg/hubble/metrics/api/context.go
  pkg/hubble/metrics/api/context_test.go
  pkg/hubble/metrics/http/plugin_test.go
Labels: release-note/minor, ready-to-merge

#20470 hubble: Add hubble_policy_verdicts_total metric
  Documentation/operations/metrics.rst
  pkg/hubble/metrics/metrics.go
  pkg/hubble/metrics/policy/handler.go
  pkg/hubble/metrics/policy/handler_test.go
  pkg/hubble/metrics/policy/plugin.go
Labels: release-note/minor, ready-to-merge

#20614 Add Schuberg Philis to the USERS.md
  USERS.md
Labels: ready-to-merge, release-note/misc

#20596 vagrant: update box versions
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/ci

#20624 docs: update etcd kvstore migration instructions
  Documentation/operations/upgrade.rst
Labels: release-note/misc, sig/kvstore, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20564 contrib: Add CRD generation to release process
  contrib/release/start-release.sh
Labels: release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20602 docs: update stable version to v1.12
  Documentation/_static/stable-version.json
Labels: release-note/misc

#20612 plugins/cilium-docker: use log default exit code 1
  plugins/cilium-docker/main.go
Labels: ready-to-merge, release-note/misc

#20635 Remove completed items from Service Mesh Roadmap
  Documentation/community/roadmap.rst
Labels: ready-to-merge, release-note/misc, needs-backport/1.12

#20649 daemon: Improve dnsproxy error when EP not found
  daemon/cmd/fqdn.go
Labels: release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20607 docs: Update kind documentation with cgroup related requirements
  Documentation/gettingstarted/kind.rst
Labels: ready-to-merge, release-note/misc

#20617 ci: pick up cilium-cli v0.12.0 for master, v1.11 and v1.12 workflows
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.11, needs-backport/1.12

#20425 bpf/nodeport: split ipv4/6 nodeport nat call into egress/ingress
  bpf/lib/common.h
  bpf/lib/nodeport.h
  test/bpf/check-complexity.sh
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc, kind/complexity-issue

#20605 Doc: Clarify CentOS 7 kernel upgrade and Cilium advance features
  Documentation/operations/system_requirements.rst
Labels: ready-to-merge, release-note/misc, needs-backport/1.12

#20657 Adding Spherity as Users
  USERS.md
Labels: ready-to-merge, release-note/misc

#20609 ENI: Trigger NodeManager.Resync immediately after new ENI successfully created
  pkg/ipam/node.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/eni, needs-backport/1.11, needs-backport/1.12

#20643 helm: Guard apply sysctl init container
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20629 backports: Download correct binary of hub CLI based on architecture
  contrib/backporting/Dockerfile
Labels: ready-to-merge, release-note/misc

#20660 vagrant: Bump Vagrant net-next box version
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/ci, sig/contributing

#20638 Remove check on intSlice type from config map validation
  pkg/option/config.go
Labels: release-note/minor, ready-to-merge, needs-backport/1.12

#20571 endpoint: remove unused DeleteBPFProgramLocked()
  pkg/endpoint/bpf.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#20668 CODEOWNERS: Update teams following removal of non-sig teams
  CODEOWNERS
Labels: ready-to-merge, release-note/misc, sig/contributing

#20619 test/k8s: remove l7_demos test
  CODEOWNERS
  test/k8s/l7_demos.go
  test/k8s/manifests/star-wars-demo/01-deathstar.yaml
  test/k8s/manifests/star-wars-demo/02-xwing.yaml
  test/k8s/manifests/star-wars-demo/policy/l7_policy.yaml
Labels: kind/cleanup, area/CI-improvement, release-note/ci

#20618 test: Remove e2e graceful termination test cases
  test/k8s/manifests/graceful-termination.yaml
  test/k8s/services.go
Labels: kind/cleanup, ready-to-merge, area/CI-improvement, release-note/ci

#20630 cilium-cni: delegated IPAM DEL even when netns does not exist
  plugins/cilium-cni/cilium-cni.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.12

#20696 CHANGELOG: fix v1.12.0 changelog
  CHANGELOG.md
Labels: kind/backports, release-note/misc, backport/1.12

#20669 docs: update the version specific notes table for v1.12 release
  Documentation/operations/upgrade.rst
Labels: area/documentation, release-note/misc, needs-backport/1.12

#20087 bpf: Add VTEP redirection bpf_host complexity tests
  bpf/complexity-tests/54/bpf_host.txt
  bpf/complexity-tests/netnext/bpf_host.txt
Labels: release-note/misc

#20700 contrib: add support for minor releases
  contrib/release/prep-changelog.sh
  contrib/release/start-release.sh
Labels: release-note/misc

#20693 test/k8s: remove unused manifests and image constants
  test/helpers/constants/images.go
  test/k8s/manifests.go
  test/k8s/manifests/http-clients.yaml
  test/k8s/manifests/http-deployment.yaml
  test/k8s/manifests/policy-stress-test.yaml
Labels: area/CI, kind/cleanup, release-note/ci

#20697 clustermesh: Add EndpointSlice support for API server
  clustermesh-apiserver/main.go
  install/kubernetes/cilium/templates/clustermesh-apiserver/deployment.yaml
Labels: kind/bug, release-note/bug, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20608 ipvlan: clean up leftover in setupBaseDevice()
  pkg/datapath/loader/base.go
  pkg/datapath/loader/netlink.go
Labels: sig/loader, kind/cleanup, ready-to-merge, release-note/misc

#20680 iptables: handle case where kernel IPv6 support is disabled
  pkg/datapath/iptables/iptables.go
Labels: sig/datapath, release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#19735 cilium: Remove attached bpf_xdp upon "cilium cleanup"
  bpf/bpf_xdp.c
  bpf/tests/xdp_nodeport_lb4_test.c
  cilium/cmd/cleanup.go
Labels: sig/loader, release-note/minor

#20368 devenv: add comment explicity usage around options defined
  contrib/vagrant/start.sh
Labels: dont-merge/needs-release-note-label

#20449 fix subnet_id label value is empty
  pkg/alibabacloud/eni/node.go
  pkg/aws/eni/node.go
Labels: area/metrics, area/eni, release-note/misc, sig/ipam, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12, area/alibaba

#20516 Document existing FQDN metrics
  Documentation/operations/metrics.rst
Labels: area/documentation, area/proxy, sig/policy, area/metrics, release-note/misc

#20548 kubectl get cep returns empty columns of policies statuses
  pkg/endpoint/endpoint_status.go
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumendpoints.yaml
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/apis/cilium.io/v2/types.go
  pkg/k8s/apis/cilium.io/v2/zz_generated.deepequal.go
Labels: kind/enhancement, sig/k8s, release-note/misc

#20572 ui: release v0.9.1
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/misc, needs-backport/1.11, needs-backport/1.12

#20690 .github: update right project for v1.12 branch
  .github/maintainers-little-helper.yaml
Labels: release-note/misc

#20639 helm: add missing helm option to overwrite auto-detected MTU and missing tunnelPort helm document
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, area/helm

#20674 cilium-cni: don't set interface link up twice
  plugins/cilium-cni/cilium-cni.go
Labels: kind/cleanup, area/cni, release-note/misc, needs-backport/1.12

#20703 docs: Add required ec2:DescribeInstances when instance-tags-filter is used
  Documentation/concepts/networking/ipam/eni.rst
Labels: area/documentation, area/eni, release-note/misc, needs-backport/1.12

#20716 docs: Update Helm values
  Documentation/helm-values.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.11, needs-backport/1.12

#20719 bpf: Fixed session affinity test after naming conflict
  bpf/tests/session_affinity_test.c
Labels: ready-to-merge, release-note/misc

#20658 doc: update the api spec for fqdn egress policies code comments.
  pkg/policy/api/fqdn.go
Labels: release-note/misc, needs-backport/1.11, needs-backport/1.12
