Repository cilium/cilium, pull requests merged in 2022-06, with the labels that each got.

#19995 Load the dev operator image into kind/microk8s as well
  Makefile
Labels: release-note/ci

#19113 docs: Mention KPR in DR mode sec ID limitation
  Documentation/operations/upgrade.rst
  Documentation/policy/caveats.rst
  Documentation/policy/index.rst
Labels: sig/datapath, ready-to-merge, release-note/misc, kind/documentation

#19933 helm: use port 80/443 by default for the peer service
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/misc, needs-backport/1.10, needs-backport/1.11, release-blocker/1.12

#20056 helm: Fix syntax error in Hubble UI className
  install/kubernetes/cilium/templates/hubble-ui/ingress.yaml
Labels: ready-to-merge, release-note/misc, area/helm

#19959 clustermesh: Add ownerReferences for CiliumNodes
  clustermesh-apiserver/vmmanager.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11

#19992 Add metric on datapath update latency due to FQDN IP updates
  daemon/cmd/fqdn.go
  pkg/fqdn/dnsproxy/proxy.go
Labels: area/daemon, area/proxy, release-note/minor, sig/policy, ready-to-merge, area/metrics

#20020 workflows: update v1.10 workflows to v0.10.7 cilium CLI
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yaml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
Labels: release-note/ci

#20027 helm: Add emptyDir for /tmp to hubble-ui frontend
  install/kubernetes/cilium/templates/hubble-ui/deployment.yaml
Labels: release-note/minor, area/helm

#20042 fix blackhole route error in cleanup
  cilium/cmd/cleanup.go
Labels: release-note/bug

#19968 cli: Use custom named map instead of StringToStringVar
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  contrib/scripts/check-viper-get-string-map-string.sh
  operator/flags.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.11

#20077 daemon: Fix build after VTEP routes conflict
  daemon/cmd/datapath.go
Labels: release-note/misc

#20075 dependabot: Unignore prometheus/client_golang
  .github/dependabot.yml
Labels: release-note/misc

#20011 bugtool: Add structured node and health output
  bugtool/cmd/configuration.go
Labels: ready-to-merge, area/bugtool, release-note/misc

#20038 Makefile: Measure unit test coverage by package
  Makefile
Labels: ready-to-merge, release-note/misc

#20049 fix aws-cni conformance test
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni.yaml
Labels: area/CI, area/eni, release-note/ci, integration/cloud, sig/ipam

#20081 docs(MAINTAINERS): fix link to commit_access.rst
  MAINTAINERS.md
Labels: release-note/misc

#19247 add support to override not ready taint to be ignored by the CA
  .github/workflows/conformance-gke.yaml
  Documentation/cmdref/cilium-agent.md
  Documentation/gettingstarted/taints.rst
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  operator/flags.go
  operator/watchers/node_taint.go
  operator/watchers/node_taint_test.go
  pkg/defaults/node.go
  pkg/k8s/apis/cilium.io/const.go
  pkg/option/config.go
Labels: sig/k8s, release-note/minor, ready-to-merge

#20073 workflows: Downgrade to helm v3.8.2 to fix AWS CNI runs for v1.10
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-eks-v1.10.yaml
Labels: release-note/ci

#19704 pkg/policy/api: Optimize Decision MarshalJSON()
  pkg/policy/api/decision.go
  pkg/policy/api/decision_test.go
Labels: kind/performance, sig/policy, ready-to-merge, release-note/misc

#20099 Adding IKEA IT AB to the USERS.md
  USERS.md
Labels: release-note/misc

#20035 contrib/scripts: Support env vars for kind script
  contrib/scripts/kind.sh
Labels: kind/enhancement, ready-to-merge, release-note/misc, sig/contributing

#20076 users/exoscale
  USERS.md
Labels: release-note/misc

#19923 ipam: Fix inconsistent update of CiliumNodes
  pkg/ipam/node.go
Labels: kind/bug, release-note/bug, area/eni, sig/ipam, needs-backport/1.11

#20084 Add Capital One to users
  USERS.md
Labels: release-note/misc

#20109 iptables: fix typo in addProxyRule condition
  pkg/datapath/iptables/iptables.go
Labels: sig/datapath, release-note/bug, ready-to-merge, backport-pending/1.10, backport-pending/1.11

#20105 bpf: Don't hardcode `cb` `CB_ENCRYPT_DST` index
  bpf/bpf_host.c
Labels: sig/datapath, kind/cleanup, ready-to-merge, area/encryption, release-note/misc

#20094 test: Add TS to each bash dbg output in L4LB
  test/l4lb/test.sh
  test/nat46x64/test.sh
Labels: ready-to-merge, area/CI-improvement, release-note/ci

#19879 doc: add note about checkpatch during dev workflow
  Documentation/contributing/development/dev_setup.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#20106 pkg/k8s: fix custom dialer logic for etcd >= 3.5.0
  pkg/k8s/service.go
Labels: release-note/bug, needs-backport/1.11

#20028 v1.10 backports 2022-05-31
  pkg/ipam/crd.go
Labels: kind/backports, backport/1.10

#19979 test: Also delete hubble-peer when cleaning up old tests.
  test/helpers/kubectl.go
Labels: release-note/ci

#19522 redirectpolicy: Fix panic in service matcher LPR processing
  pkg/logging/logfields/logfields.go
  pkg/redirectpolicy/manager.go
Labels: kind/bug, release-note/bug, ready-to-merge, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#20142 envoy: Bump cilium envoy to latest version v1.21.3
  images/cilium/Dockerfile
Labels: release-note/minor, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#20141 ci: Increase retention for release image CI artifacts to 10 days
  .github/workflows/build-images-releases.yaml
Labels: ready-to-merge, release-note/ci

#20114 treewide: Fix typos of Kubernetes
  Documentation/concepts/kubernetes/requirements.rst
  pkg/defaults/defaults.go
  pkg/identity/numericidentity.go
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/register.go
  test/helpers/kubectl.go
  test/k8s/manifests/1.18/demo_ds_v6.yaml
Labels: ready-to-merge, release-note/misc

#20113 install: Fix typos of cilium
  USERS.md
  install/kubernetes/cilium/templates/_helpers.tpl
  install/kubernetes/cilium/templates/cilium-ca-secret.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/tls-helm/_helpers.tpl
  install/kubernetes/cilium/templates/hubble/tls-helm/_helpers.tpl
Labels: ready-to-merge, release-note/misc

#20151 test: Bump L4LB timeout from 30min to 45min
  .github/workflows/tests-l4lb.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#20147 v1.10 backports 2022-06-10
  images/cilium/Dockerfile
Labels: kind/backports, backport/1.10

#20134 install/kubernetes: bump etcd to v3.5.4
  install/kubernetes/Makefile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/misc

#20153 docs: Nit changes to steps for image building
  Documentation/contributing/development/images.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#20167 Prepare for release v1.9.17
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, kind/release, backport/1.9

#20168 Prepare for release v1.10.12
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.10

#20171 docs: Fix build after etcd v3.5.4 version bump
  Documentation/helm-values.rst
Labels: release-note/misc

#19938 bpf: Reenable features disabled because of complexity issues
  bpf/Makefile
  bpf/complexity-tests/419/bpf_host.txt
  bpf/complexity-tests/419/bpf_lxc.txt
  bpf/complexity-tests/419/bpf_overlay.txt
  bpf/complexity-tests/419/bpf_sock.txt
  bpf/complexity-tests/419/bpf_xdp.txt
  bpf/complexity-tests/49/bpf_host.txt
  bpf/complexity-tests/49/bpf_lxc.txt
  bpf/complexity-tests/49/bpf_overlay.txt
  bpf/complexity-tests/49/bpf_sock.txt
  bpf/complexity-tests/49/bpf_xdp.txt
  bpf/complexity-tests/54/bpf_host.txt
  bpf/complexity-tests/54/bpf_lxc.txt
  bpf/complexity-tests/54/bpf_overlay.txt
  bpf/complexity-tests/54/bpf_sock.txt
  bpf/complexity-tests/54/bpf_xdp.txt
  bpf/complexity-tests/netnext/bpf_host.txt
  bpf/complexity-tests/netnext/bpf_lxc.txt
  bpf/complexity-tests/netnext/bpf_overlay.txt
  bpf/complexity-tests/netnext/bpf_sock.txt
  bpf/complexity-tests/netnext/bpf_xdp.txt
Labels: area/CI, sig/datapath, ready-to-merge, release-note/ci, kind/complexity-issue

#20131 operator: connect to the KVStore asynchronously
  operator/cilium_node.go
Labels: sig/k8s, release-note/bug, area/operator, sig/kvstore, release-blocker/1.11, needs-backport/1.11

#19876 update-docs : add details for how to enable/disable Policy Audit Mode by endpoint
  Documentation/gettingstarted/policy-creation.rst
Labels: release-note/misc, needs-backport/1.11

#20183 [v1.11] add support to override not ready taint to be ignored by the CA
  Documentation/cmdref/cilium-agent.md
  Documentation/gettingstarted/taints.rst
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  operator/flags.go
  operator/watchers/node_taint.go
  operator/watchers/node_taint_test.go
  pkg/defaults/node.go
  pkg/k8s/apis/cilium.io/const.go
  pkg/option/config.go
Labels: kind/backports, backport/1.11

#20190 Prepare for release v1.11.6
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.11

#20188 install/kubernetes: Avoid quoting version twice
  install/kubernetes/Makefile
Labels: release-note/misc, backport-done/1.11

#20144 datapath: Fix error propagation in bpf_lxc.
  bpf/bpf_lxc.c
Labels: sig/datapath, release-note/bug, ready-to-merge

#20158 nodediscovery: ensure we cache the nodeResource
  pkg/nodediscovery/nodediscovery.go
Labels: sig/k8s, release-note/bug, ready-to-merge, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#20177 update bpf_ct_tests.c to use node_config.h
  bpf/tests/bpf_ct_tests.c
Labels: area/CI, sig/datapath, ready-to-merge, release-note/ci

#20184 docs: Fix reference to upgrade guide
  Documentation/contributing/development/contributing_guide.rst
Labels: ready-to-merge, release-note/misc, needs-backport/1.11

#20175 Docs Restructure: Add Overview section
  Documentation/concepts/index.rst
  Documentation/index.rst
  Documentation/overview/component-overview.rst
  Documentation/overview/intro.rst
Labels: area/documentation, release-note/misc, kind/docs-reorganization, gsod-22

#19996 Use DeleteOnMetadataMatch instead of Delete for endpointUpdated
  pkg/k8s/watchers/cilium_endpoint.go
Labels: release-note/minor, ready-to-merge, needs-backport/1.11

#20195 docs: remove stale EgressGW limitation with CES
  Documentation/gettingstarted/ciliumendpointslice.rst
Labels: area/documentation, ready-to-merge, release-note/misc, feature/egress-gateway, needs-backport/1.11

#20185 vagrant: Bump 4.19 VM image
  vagrant_box_defaults.rb
Labels: area/CI, release-note/ci

#20018 datapath: Improve sysctl warning for bpf_jit_enable
  pkg/datapath/loader/base.go
  pkg/sysctl/sysctl.go
Labels: ready-to-merge, release-note/misc

#20181 Update cli-download.rst
  Documentation/gettingstarted/cli-download.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#20221 install: Update image digests for v1.9.17
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, backport/1.9

#20222 install: Update image digests for v1.10.12
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.10

#20223 install: Update image digests for v1.11.6
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.11

#20224 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#20206 helm: Templatize preflight and clustermesh-apiserver repos
  Documentation/helm-values.rst
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/misc, needs-backport/1.11

#19980 Add source filter for the cilium fqdn cache list command
  Documentation/cmdref/cilium_fqdn_cache_list.md
  api/v1/client/policy/get_fqdn_cache_id_parameters.go
  api/v1/client/policy/get_fqdn_cache_parameters.go
  api/v1/client/policy/policy_client.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  api/v1/server/restapi/policy/get_fqdn_cache.go
  api/v1/server/restapi/policy/get_fqdn_cache_id.go
  api/v1/server/restapi/policy/get_fqdn_cache_id_parameters.go
  api/v1/server/restapi/policy/get_fqdn_cache_parameters.go
  cilium/cmd/fqdn.go
  daemon/cmd/fqdn.go
  daemon/cmd/fqdn_test.go
Labels: area/proxy, release-note/minor, ready-to-merge, area/cli

#20220 mlh: update Jenkins jobs following net-next fix for K8s 1.24
  .github/maintainers-little-helper.yaml
Labels: area/CI-improvement, release-note/ci

#20208 Add a note about conflicting node CIDRs #20204
  Documentation/concepts/networking/ipam/cluster-pool.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#20050 Add support to opt-in for using ENI's primary IP for allocations
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator.md
  operator/option/config.go
  operator/provider_aws_flags.go
  pkg/aws/ec2/ec2.go
  pkg/aws/eni/node.go
  pkg/aws/eni/types/types.go
  pkg/aws/eni/types/zz_generated.deepcopy.go
  pkg/aws/eni/types/zz_generated.deepequal.go
  pkg/defaults/defaults.go
  pkg/ipam/allocator/aws/aws.go
  pkg/ipam/crd_eni.go
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnodes.yaml
  pkg/nodediscovery/nodediscovery.go
Labels: release-note/minor, ready-to-merge

#20238 ci: provide CI images with unstripped binaries
  .github/workflows/build-images-ci.yaml
Labels: release-note/ci

#20156 Change default prometheus ports to new reserved Cilium ports
  .github/workflows/tests-smoke.yaml
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/gettingstarted/grafana.rst
  Documentation/helm-values.rst
  Documentation/operations/metrics.rst
  Documentation/operations/system_requirements.rst
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  examples/kubernetes/addons/prometheus/README.md
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/templates/cilium-operator/service.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  operator/option/config.go
  pkg/envoy/envoy_test.go
  test/k8s/hubble.go
Labels: release-note/minor

#19967 helm: Expose agent DNS proxy parameters as chart values
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/proxy, needs-rebase, release-note/misc, area/helm, sig/agent

#20176 bgp: Check the Condition.Ready field when adding ready endpoints
  pkg/bgp/speaker/speaker.go
Labels: release-note/minor, ready-to-merge

#20210 nodemanager: Fix bug where Cilium tried to reach stale health endpoints on kubeapi-server nodes
  pkg/node/manager/manager.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.11

#20272 Revert "ci: use CLI 0.11.8 for AKS workflow"
  .github/workflows/conformance-aks.yaml
Labels: release-note/ci

#20273 Prepare for 1.13 development cycle
  .github/dependabot.yml
  .github/maintainers-little-helper.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  Documentation/contributing/testing/ci.rst
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
Labels: release-note/misc

#20281 install: Update image digests for v1.12.0-rc3
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.12

#20240 helm: Allow configure the scrape interval for ServiceMonitor
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/servicemonitor.yaml
  install/kubernetes/cilium/templates/cilium-operator/servicemonitor.yaml
  install/kubernetes/cilium/templates/hubble/servicemonitor.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, release-note/misc, area/helm

#20278 helm: Remove duplicated key hostAliases
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/cleanup, release-note/minor, ready-to-merge, area/helm, needs-backport/1.12

#20216 helm: Set Linux nodeSelector for nodeinit and preflight
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, area/helm, needs-backport/1.12

#20270 e2ehelpers: automatically clean up kind cluster
  pkg/e2ecluster/e2ehelpers/kind.go
Labels: release-note/misc

#20289 docs(policy): add notes on DNS/L7 policies & Cilium agent availability
  Documentation/policy/language.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, release-note/misc, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20291 v1.11: helm: disable the peer service by default
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/minor, kind/backports, sig/hubble, area/helm, backport/1.11

#20290 v1.10: helm: disable the peer service by default
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/minor, kind/backports, sig/hubble, area/helm, backport/1.10

#20315 .github: add unstripped image builds
  .github/workflows/build-images-ci.yaml
Labels: kind/backports, backport/1.12

#20319 Fix unstripped id for gh action
  .github/workflows/build-images-ci.yaml
Labels: kind/backports, backport/1.12

#20324 Add F5 as Cilium integration third party vendor
  USERS.md
Labels: ready-to-merge, release-note/misc

#20321 add k8e to the Users doc
  USERS.md
Labels: ready-to-merge, release-note/misc

#20318 ci: update AWS VPC CNI plugin for AWS-CNI workflow in v1.11/v1.12 branches
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#20314 Add ESP to firewall requirements in documentation for IPSec enabled C…
  Documentation/operations/system_requirements.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11, gsod-22, needs-backport/1.12

#20312 helm: Fix cluster-id arguments in clustermesh deployment
  install/kubernetes/cilium/templates/clustermesh-apiserver/deployment.yaml
Labels: release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20307 Update cilium agent Grafana dashboard to filter by pod
  examples/kubernetes/addons/prometheus/files/grafana-dashboards/cilium-dashboard.json
  examples/kubernetes/addons/prometheus/files/prometheus/prometheus.yaml
  examples/kubernetes/addons/prometheus/monitoring-example.yaml
Labels: kind/enhancement, release-note/minor, ready-to-merge, area/metrics, needs-backport/1.12

#20236 Add helm-toolbox image for helm docs, lint
  Documentation/Makefile
  Documentation/helm-values.rst
  Makefile.defs
  install/kubernetes/Makefile
  install/kubernetes/cilium/README.md
Labels: ready-to-merge, release-note/misc

#20112 Fix conflicting routes for multiple ENIs in IPAM mode
  daemon/cmd/ipam.go
  daemon/cmd/ipam_test.go
  pkg/datapath/loader/base.go
Labels: release-note/bug, ready-to-merge, area/eni, sig/ipam

#20194 [docs] Add training and support information to Getting Help
  Documentation/gettinghelp.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11, needs-backport/1.12

#20228 docs: Add Getting Started docs for clustermesh service affinity
  Documentation/gettingstarted/clustermesh/affinity.rst
  Documentation/gettingstarted/index.rst
Labels: area/documentation, ready-to-merge, area/clustermesh, release-note/misc, needs-backport/1.12

#20284 add Kryptos Logic to Users
  USERS.md
Labels: ready-to-merge, release-note/misc

#20300 add kubeasz to users
  USERS.md
Labels: ready-to-merge, release-note/misc

#20301 backport v1.11: datapath: Set WORLD_ID in fwd-ed NodePort BPF requests
  bpf/lib/nodeport.h
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/config/config.go
  pkg/option/config.go
Labels: sig/datapath, release-note/bug, ready-to-merge, kind/backports, backport/1.11

#20283 helm: Use hubble-relay-ci image for master branch
  Documentation/helm-values.rst
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, release-note/misc, area/helm

#20348 helpers/kind: store + retrieve cluster name
  pkg/e2ecluster/e2ehelpers/kind.go
Labels: release-note/misc

#20355 add Mobilabs to users
  USERS.md
Labels: release-note/misc

#20342 codeowners: update for v1.12 backports
  CODEOWNERS
Labels: ready-to-merge, kind/backports, backport/1.12

#20316 labels/cidr: use netip types to improve GetCIDRLabels and IPStringToLabel performace
  pkg/labels/cidr/cidr.go
  pkg/labels/cidr/cidr_test.go
Labels: kind/performance, ready-to-merge, release-note/misc, needs-backport/1.12

#20264 test: Fix make target for k8s tests
  test/Makefile
Labels: ready-to-merge, release-note/misc, needs-backport/1.12

#20308 Add support for disabling ENI PD at node level
  pkg/aws/eni/node.go
  pkg/aws/eni/types/types.go
  pkg/aws/eni/types/zz_generated.deepcopy.go
  pkg/aws/eni/types/zz_generated.deepequal.go
  pkg/defaults/defaults.go
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnodes.yaml
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/nodediscovery/nodediscovery.go
Labels: release-note/minor, ready-to-merge, area/eni, sig/ipam, needs-backport/1.12

#20048 identity: make `GetAllReservedIdentities()` return ordered identities
  pkg/identity/numericidentity.go
  pkg/identity/numericidentity_test.go
Labels: area/misc, ready-to-merge, release-note/misc
