Repository cilium/cilium, pull requests merged in 2022-01, with the labels that each got.

#18356 test: Fix make target for e2e tests
  test/Makefile
Labels: area/CI, release-note/ci

#18010 install: Use secret for Azure secrets
  install/kubernetes/cilium/templates/cilium-operator/deployment.yaml
  install/kubernetes/cilium/templates/cilium-operator/secret.yaml
Labels: ready-to-merge, release-note/misc, area/azure

#18360 CODEOWNERS: janitors renamed to tophat
  CODEOWNERS
Labels: release-note/misc, sig/contributing

#18361 v1.11: CODEOWNERS: janitors renamed to tophat
  CODEOWNERS
Labels: kind/backports, backport/1.11

#18362 v1.10: CODEOWNERS: janitors renamed to tophat
  CODEOWNERS
Labels: kind/backports, backport/1.10

#18363 v1.9: CODEOWNERS: janitors renamed to tophat
  CODEOWNERS
Labels: kind/backports, backport/1.9

#18304 daemon: Fix KPR init finalisation
  daemon/cmd/daemon.go
Labels: kind/bug, area/daemon, release-note/bug, needs-backport/1.11

#18327 docs: Fix `first-interface-index` documentation
  Documentation/concepts/networking/ipam/eni.rst
Labels: area/documentation, ready-to-merge, area/eni, release-note/misc, needs-backport/1.10, needs-backport/1.11

#18352 Fix possible IP leak in case ENI's are not present in the CN yet
  pkg/ipam/crd.go
Labels: release-note/minor, ready-to-merge, needs-backport/1.10, needs-backport/1.11

#18338 docs: fix small spelling mistakes in masquerading pages
  Documentation/concepts/networking/masquerading.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.11

#18326 pkg/elf: Mark tests as integration tests
  pkg/elf/elf_test.go
Labels: area/CI, ready-to-merge, release-note/misc

#18283 ci: set PR base for codeql workflow
  .github/workflows/lint-codeql.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#18269 docs: Update the kind documentation with cgroup requirements
  Documentation/gettingstarted/kind.rst
Labels: ready-to-merge, release-note/misc, needs-backport/1.11

#18171 test: Run ip r l if ip r a fails
  test/helpers/kubectl.go
Labels: area/CI, ready-to-merge, release-note/ci

#17997 Make k8s-cilium-exec.sh friendlier to read
  contrib/k8s/k8s-cilium-exec.sh
Labels: release-note/misc, sig/contributing

#18383 elf: Move functions only used in tests
  pkg/elf/elf.go
  pkg/elf/elf_test.go
Labels: kind/cleanup, release-note/misc

#18370 test: bump l4lb Vagrantfile kind to 0.11.1
  test/l4lb/Vagrantfile
Labels: ready-to-merge, release-note/ci, needs-backport/1.10, needs-backport/1.11

#18342 Improve Kubespray installation guide
  Documentation/gettingstarted/k8s-install-kubespray.rst
  Documentation/spelling_wordlist.txt
Labels: ready-to-merge, release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#18325 egressgateway: fix initial reconciliation
  pkg/egressgateway/manager.go
  pkg/egressgateway/manager_privileged_test.go
Labels: kind/bug, release-note/bug, ready-to-merge, needs-backport/1.10, feature/egress-gateway, needs-backport/1.11

#18312 Revert "test/Services: Quarantine 'Tests with direct routing'"
  test/k8sT/Services.go
Labels: area/CI, ready-to-merge, release-note/ci, sig/loadbalancing

#18055 Adds missing lock for cesTracker operation
  operator/pkg/ciliumendpointslice/manager.go
Labels: ready-to-merge, release-note/misc, needs-backport/1.11

#18368 v1.11 ci: set PR base for codeql workflow
  .github/workflows/lint-codeql.yaml
Labels: area/CI, ready-to-merge, kind/backports, release-note/ci, backport/1.11

#18343 Don't hold idMDMU lock while calling UpdateIdentities from InjectLabels
  pkg/ipcache/metadata.go
Labels: release-note/bug, needs-backport/1.11

#18253 Revert "pkg/endpoint: Pass endpoint alive context to regeneration tasks"
  pkg/endpoint/policy.go
Labels: release-note/bug, ready-to-merge

#18388 bpf: Reset Pod's queue mapping in host veth to fix phys dev mq selection
  bpf/bpf_lxc.c
  bpf/lib/qm.h
  pkg/bandwidth/bandwidth.go
  pkg/datapath/linux/config/config.go
  pkg/option/config.go
Labels: release-note/misc, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#18395 .github: Fix 1.11.1 project link for MLH
  .github/maintainers-little-helper.yaml
Labels: release-note/misc

#18337 dev-tool: Add cfssl and cfssljson tool check
  Documentation/contributing/development/dev_setup.rst
  tools/dev-doctor/rootcmd.go
Labels: area/misc, ready-to-merge, release-note/misc

#18345 api: Add cni chaining status in status API.
  Documentation/helm-values.rst
  api/v1/models/c_n_i_chaining_status.go
  api/v1/models/status_response.go
  api/v1/models/zz_generated.deepcopy.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/cmd/status.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  pkg/client/client.go
Labels: area/misc, release-note/minor, ready-to-merge

#18380 ci: collect sysdump as a separate workflow in L4LB tests
  .github/workflows/tests-l4lb.yaml
  test/l4lb/Vagrantfile
  test/l4lb/test.sh
Labels: ready-to-merge, release-note/ci

#18369 v1.10 ci: set PR base for codeql workflow
  .github/workflows/lint-codeql.yaml
Labels: area/CI, kind/backports, release-note/ci, backport/1.10

#18403 api/v1: regenerate to update copyright year
  api/v1/models/c_n_i_chaining_status.go
Labels: release-note/misc

#18316 Fix Makefile.docker not to specify --load and --push flags at once
  Makefile.docker
Labels: area/docker, ready-to-merge, release-note/misc

#18365 v1.10 backports 2022-01-03
  daemon/cmd/kube_proxy_replacement.go
Labels: ready-to-merge, kind/backports, backport/1.10

#18413 Fix the typo in Fatalf message of printConfigurations
  cilium/cmd/config.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#18335 helm: Add bpf-root configuration value in helms
  Documentation/helm-values.rst
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
Labels: release-note/minor, ready-to-merge, area/helm

#18411 Fix a typo in the documentation
  Documentation/bpf.rst
Labels: area/documentation, release-note/misc

#18420 docs: Fix incorrect mention of `bpf.masquerade`'s default value
  Documentation/concepts/networking/masquerading.rst
Labels: area/documentation, release-note/misc

#18428 ci: fix missing sysdump as separate workflow in L4LB tests for stable branches
  .github/workflows/tests-l4lb-v1.10.yaml
  .github/workflows/tests-l4lb-v1.11.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#18396 docs: Document the kube-apiserver entity
  Documentation/policy/language.rst
Labels: area/documentation, sig/policy, ready-to-merge, release-note/misc, needs-backport/1.11

#18430 docs: Replace janitors team with tophat team
  Documentation/contributing/development/contributing_guide.rst
  Documentation/contributing/release/feature.rst
Labels: area/documentation, ready-to-merge, release-note/misc, sig/contributing, needs-backport/1.10, needs-backport/1.11

#18400 docs: Add limitation document for bandwidth-manager + nested network namespace
  Documentation/gettingstarted/bandwidth-manager.rst
Labels: area/documentation, ready-to-merge, release-note/misc, feature/bandwidth-manager

#18402 test: Skip flaky K8sServices NodePort test
  test/k8sT/Services.go
Labels: area/CI, ready-to-merge, release-note/misc

#16716 Clarify identity generated from CIDR-based policies and add security identity internal docs
  Documentation/internals/index.rst
  Documentation/internals/security-identities.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.11

#18443 ci: use python3 instead of python
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
Labels: release-note/ci, needs-backport/1.9, needs-backport/1.10, needs-backport/1.11

#18446 v1.9 backports 2022-01-11
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
Labels: kind/backports, backport/1.9

#18385 cocci: New test to find missing `identity_is_{remote_,}node`
  contrib/coccinelle/identity_is_node.cocci
Labels: area/CI, sig/datapath, release-note/ci

#18438 install: add mountPropagation directive to bpf-maps volume in cilium DS
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
Labels: ready-to-merge, kind/backports, kind/regression, backport/1.10

#18358 bgp,bugfix: parse ips when converting from slim_core to k8s service
  daemon/cmd/daemon_main.go
  pkg/bgp/speaker/speaker.go
  pkg/k8s/service.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.11

#18470 docs: Remove incorrect beta note for host policies
  Documentation/policy/language.rst
Labels: area/documentation, release-note/misc, needs-backport/1.11

#18349 Skip host-networked pods in k8s-unmanaged script
  contrib/k8s/k8s-unmanaged.sh
Labels: ready-to-merge, release-note/misc

#18457 Revert "test: Add Error Log Exceptions"
  test/helpers/cons.go
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.10

#18475 pkg/daemon: Log error when node port init fails
  daemon/cmd/kube_proxy_replacement.go
Labels: release-note/misc

#18490 v1.9: Update Cilium base images
  .travis.yml
  Dockerfile
  Dockerfile.builder
  cilium-dev.Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
Labels: kind/backports, backport/1.9

#18496 vagrant: update 4.19 and net-next VM images
  vagrant_box_defaults.rb
Labels: area/CI, ready-to-merge, release-note/ci

#18461 #18325 v1.10 backport
  pkg/egressgateway/manager.go
  pkg/egressgateway/manager_privileged_test.go
Labels: ready-to-merge, kind/backports, backport/1.10

#18455 cli/metrics: Sort label in metrics list command
  cilium/cmd/metrics_list.go
Labels: release-note/minor, ready-to-merge, area/cli

#18468 docs: Don't mark pre-upgrade step as "recommended"
  Documentation/operations/upgrade.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.11

#18481 azure/api: remove TestRateLimit
  pkg/azure/api/api_test.go
Labels: ready-to-merge, release-note/misc, area/azure

#18339 makefile: fix unstripped docker images build
  Makefile.docker
Labels: kind/bug, release-note/bug, ready-to-merge, area/build

#18498 vagrant: Generate kubeconfig correctly for netnext
  contrib/vagrant/start.sh
Labels: release-note/misc, sig/contributing

#18491 v1.9: docs: Fix cilium-runtime image bump instructions
  Documentation/contributing/development/images.rst
  Documentation/images/cilium-dockerhub-tag-0.png
  Documentation/images/cilium-quayio-tag-0.png
  Documentation/images/cilium-quayio-tag-1.png
  Documentation/images/cilium-quayio-tag-10.png
  Documentation/images/cilium-quayio-tag-11.png
  Documentation/images/cilium-quayio-tag-2.png
  Documentation/images/cilium-quayio-tag-3.png
  Documentation/images/cilium-quayio-tag-4.png
  Documentation/images/cilium-quayio-tag-5.png
  Documentation/images/cilium-quayio-tag-6.png
  Documentation/images/cilium-quayio-tag-7.png
  Documentation/images/cilium-quayio-tag-8.png
  Documentation/images/cilium-quayio-tag-9.png
  Documentation/spelling_wordlist.txt
Labels: kind/backports, backport/1.9

#18471 helm: Update links in values.yaml
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: area/documentation, release-note/misc, area/helm, needs-backport/1.11

#18492 v1.11: Update dependencies in cilium-runtime image
  .github/workflows/build-images-ci.yaml
  .travis.yml
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Labels: kind/backports, backport/1.11

#18533 Prepare for release v1.9.12
  .github/maintainers-little-helper.yaml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/release, backport/1.9

#18534 Prepare for release v1.10.7
  .github/maintainers-little-helper.yaml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.10

#18535 Prepare for release v1.11.1
  .github/maintainers-little-helper.yaml
  .mailmap
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/register.go
Labels: kind/backports, kind/release, backport/1.11

#18536 install: Update image digests for v1.9.12
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-hubble-install.yaml
  install/kubernetes/quick-install.yaml
Labels: kind/backports, backport/1.9

#18537 install: Update image digests for v1.10.7
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: backport/1.10

#18539 install: Update image digests for v1.11.1
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.11

#18353 cni: Add log file for CNI executions
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.yaml
  pkg/logging/hooks/file_rotation.go
  pkg/logging/logging.go
  plugins/cilium-cni/05-cilium-cni.conf
  plugins/cilium-cni/cilium-cni.go
  plugins/cilium-cni/cni-install.sh
  plugins/cilium-cni/types/types.go
Labels: area/cni, ready-to-merge, release-note/misc

#18502 datapath: Remove !CONNTRACK
  bpf/ep_config.h
  bpf/lib/conntrack.h
  bpf/lib/nat.h
  bpf/lib/nat46.h
  bpf/node_config.h
  bpf/tests/bpf_ct_tests.c
  pkg/option/daemon.go
  pkg/option/endpoint.go
  pkg/option/runtime_options.go
  test/bpf/unit-test.c
Labels: sig/datapath, kind/cleanup, release-note/minor, ready-to-merge

#18518 elf: Don't assume data symbols are 4-bytes long
  pkg/elf/elf.go
  pkg/elf/symbols.go
Labels: sig/loader, ready-to-merge, release-note/misc

#18545 Revert "datapath: Remove !CONNTRACK"
  bpf/ep_config.h
  bpf/lib/conntrack.h
  bpf/lib/nat.h
  bpf/lib/nat46.h
  bpf/node_config.h
  bpf/tests/bpf_ct_tests.c
  pkg/option/daemon.go
  pkg/option/endpoint.go
  pkg/option/runtime_options.go
  test/bpf/unit-test.c
Labels: area/CI, release-note/misc

#18547 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#18544 ci: disable failing test on net-next (#18520)
  test/k8sT/Policies.go
Labels: area/CI, ready-to-merge, release-note/ci

#18538 contrib: Fix release script helm value generation
  contrib/release/post-release.sh
  contrib/release/start-release.sh
Labels: release-note/misc, needs-backport/1.11

#18558 daemon: deprecate --endpoint-interface-name-prefix option
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: kind/cleanup, area/daemon, ready-to-merge, release-note/misc

#18546 docs: Document required kernel configuration options
  Documentation/operations/system_requirements.rst
Labels: area/documentation, sig/datapath, ready-to-merge, release-note/misc

#18499 daemon: Fix missing errors in KPR init
  daemon/cmd/kube_proxy_replacement.go
Labels: kind/bug, release-note/bug, ready-to-merge, needs-backport/1.11

#18484 bpf: Move to-stack trace after host firewall
  bpf/bpf_host.c
Labels: kind/bug, sig/datapath, area/monitor, release-note/bug, ready-to-merge, needs-backport/1.11

#18479 monitor: Output non-trace messages to stderr
  cilium/cmd/monitor.go
Labels: area/monitor, release-note/bug, ready-to-merge, needs-backport/1.11

#17434 helm: support lookup remote CA
  install/kubernetes/cilium/templates/clustermesh-apiserver/tls-helm/_helpers.tpl
  install/kubernetes/cilium/templates/hubble/tls-helm/_helpers.tpl
Labels: release-note/minor, ready-to-merge, area/helm

#18592 daemon: Allow to enable PCAP recorder in non-lb mode
  daemon/cmd/kube_proxy_replacement.go
Labels: kind/enhancement, sig/datapath, release-note/minor, ready-to-merge, needs-backport/1.11

#18564 route: sort by priority to identify the default one
  pkg/datapath/linux/route/route_linux.go
Labels: release-note/bug, ready-to-merge, area/eni, needs-backport/1.11

#18562 Improve dev-doctor hints
  tools/dev-doctor/rootcmd.go
Labels: area/misc, ready-to-merge, release-note/misc, sig/contributing

#18587 update k8s library versions
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_random.go
  vendor/golang.org/x/net/idna/go118.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/pre_go118.go
  vendor/golang.org/x/net/idna/punycode.go
  vendor/golang.org/x/net/internal/socket/empty.s
  vendor/golang.org/x/net/internal/socket/sys_bsd.go
  vendor/golang.org/x/net/internal/socket/sys_linkname.go
  vendor/golang.org/x/net/internal/socket/sys_linux_386.go
  vendor/golang.org/x/net/internal/socket/sys_linux_s390x.go
  vendor/golang.org/x/net/internal/socket/sys_solaris.go
  vendor/golang.org/x/net/internal/socket/sys_solaris_amd64.s
  vendor/golang.org/x/net/internal/socket/sys_unix.go
  vendor/k8s.io/api/autoscaling/v2beta1/types.go
  vendor/k8s.io/api/autoscaling/v2beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/autoscaling/v2beta2/types.go
  vendor/k8s.io/api/autoscaling/v2beta2/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/flowcontrol/v1alpha1/types.go
  vendor/k8s.io/api/flowcontrol/v1alpha1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/flowcontrol/v1beta1/types.go
  vendor/k8s.io/api/flowcontrol/v1beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/client-go/tools/pager/pager.go
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/merge.go
Labels: sig/k8s, ready-to-merge, kind/backports, release-note/misc, backport/1.11

#18589 update k8s library versions
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/apimachinery/pkg/runtime/converter.go
  vendor/k8s.io/apimachinery/third_party/forked/golang/LICENSE
  vendor/k8s.io/apimachinery/third_party/forked/golang/PATENTS
  vendor/k8s.io/code-generator/go.sum
  vendor/k8s.io/code-generator/third_party/forked/golang/LICENSE
  vendor/k8s.io/code-generator/third_party/forked/golang/PATENTS
  vendor/modules.txt
Labels: sig/k8s, ready-to-merge, kind/backports, release-note/misc, backport/1.9

#18611 Add Kubermatic to USERS
  USERS.md
Labels: ready-to-merge, release-note/misc

#18606 byteorder: use native instructions in host/network order conversion
  pkg/byteorder/byteorder_littleendian.go
Labels: kind/performance, ready-to-merge, release-note/misc, needs-backport/1.11

#18582 node: Fix bug where node ipsets are never cleaned
  pkg/node/manager/manager.go
Labels: ready-to-merge, release-note/misc, needs-backport/1.11

#18553 metrics: Expose xfrm stats in prometheus
  CODEOWNERS
  Documentation/operations/metrics.rst
  pkg/datapath/linux/ipsec/logfields.go
  pkg/datapath/linux/ipsec/xfrm_collector.go
  pkg/datapath/linux/ipsec/xfrm_collector_test.go
  pkg/datapath/linux/node.go
Labels: release-note/minor, ready-to-merge, area/metrics, needs-backport/1.10, needs-backport/1.11

#18612 hubble/recorder: Sanitize pcap filename
  pkg/hubble/recorder/service.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.11

#18548 contrib: Improve version matching in readme bump
  contrib/release/bump-readme.sh
Labels: ready-to-merge, release-note/misc

#18467 daemon, option: consistently hard-code host device
  daemon/cmd/daemon_main.go
  daemon/cmd/datapath.go
  pkg/datapath/loader/base.go
  pkg/endpoint/endpoint.go
  pkg/node/address.go
  pkg/option/config.go
Labels: kind/cleanup, area/daemon, ready-to-merge, release-note/misc

#18590 update k8s library versions
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_random.go
  vendor/golang.org/x/net/idna/go118.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/pre_go118.go
  vendor/golang.org/x/net/idna/punycode.go
  vendor/golang.org/x/net/internal/socket/empty.s
  vendor/golang.org/x/net/internal/socket/sys_bsd.go
  vendor/golang.org/x/net/internal/socket/sys_linkname.go
  vendor/golang.org/x/net/internal/socket/sys_linux_386.go
  vendor/golang.org/x/net/internal/socket/sys_linux_s390x.go
  vendor/golang.org/x/net/internal/socket/sys_solaris.go
  vendor/golang.org/x/net/internal/socket/sys_solaris_amd64.s
  vendor/golang.org/x/net/internal/socket/sys_unix.go
  vendor/k8s.io/api/autoscaling/v2beta1/types.go
  vendor/k8s.io/api/autoscaling/v2beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/autoscaling/v2beta2/types.go
  vendor/k8s.io/api/autoscaling/v2beta2/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/flowcontrol/v1alpha1/types.go
  vendor/k8s.io/api/flowcontrol/v1alpha1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/flowcontrol/v1beta1/types.go
  vendor/k8s.io/api/flowcontrol/v1beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/client-go/tools/pager/pager.go
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/merge.go
Labels: sig/k8s, release-note/misc

#18575 ci: update cilium-cli to v0.10.1
  .github/workflows/conformance-aks-v1.10.yaml
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.10.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.10.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.10.yml
  .github/workflows/conformance-externalworkloads-v1.11.yml
  .github/workflows/conformance-externalworkloads.yml
  .github/workflows/conformance-gke-v1.10.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.10.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#18585 datapath: Change FIB lookups to enable NodePort multihoming
  bpf/lib/common.h
  bpf/lib/nodeport.h
Labels: sig/datapath, kind/feature, ready-to-merge, release-note/misc, needs-backport/1.11

#18583 docs: add Hands-on tutorial
  Documentation/index.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#18636 datapath: Only unload obsolete XDP when attached
  pkg/datapath/loader/xdp.go
Labels: sig/datapath, release-note/bug, ready-to-merge, needs-backport/1.10, needs-backport/1.11

#18618 vendor: pull in the latest changes from github.com/vishvananda/netlink
  go.mod
  go.sum
  vendor/github.com/vishvananda/netlink/proc_event_linux.go
  vendor/github.com/vishvananda/netlink/rule.go
  vendor/github.com/vishvananda/netlink/rule_linux.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#18647 docs: Minor updates to IPsec limitations
  Documentation/gettingstarted/encryption-ipsec.rst
Labels: area/documentation, ready-to-merge, area/encryption, release-note/misc, area/host-firewall, needs-backport/1.11

#18631 bpf: Remove duplicate conntrack code
  bpf/lib/conntrack.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#18659 prog_test: Fix build breakage
  bpf/tests/prog_test/prog_test.go
Labels: kind/bug/CI, area/CI, release-note/ci

#18656 workflows: conformance v1.10: fix native-routing-cidr flag
  .github/workflows/conformance-multicluster-v1.10.yaml
Labels: kind/bug/CI, ready-to-merge, release-note/ci

#18277 clustermesh-apiserver: fix cmd-line args processing
  clustermesh-apiserver/main.go
Labels: release-note/bug, area/clustermesh

#18651 CODEOWNERS: Do not assign reviewers for Documentation/helm-values.rst
  CODEOWNERS
Labels: area/misc, ready-to-merge, release-note/misc

#18657 docs: remove gobpf, mention cilium/ebpf
  Documentation/bpf.rst
Labels: area/documentation, ready-to-merge, release-note/misc
