Repository cilium/cilium, pull requests merged in 2023-12, with the labels that each got.

#29520 ipam: Fix duplicate metric ipam_event release
  pkg/ipam/allocator.go
Labels: kind/bug, ready-to-merge, area/metrics, release-note/misc, sig/ipam

#28756 Update lb-ipam.rst
  Documentation/network/lb-ipam.rst
Labels: area/documentation, ready-to-merge, release-note/misc, feature/lb-ipam

#29375 Improved BGP docs on MD5
  Documentation/network/bgp-control-plane.rst
Labels: area/documentation, ready-to-merge, release-note/misc, area/bgp

#29243 endpointstate: Add an interface to wait for endpoint restore
  CODEOWNERS
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/state.go
  pkg/endpointstate/restorer.go
Labels: ready-to-merge, release-note/misc, sig/agent, area/modularization

#29551 .github: do not group jobs on merge queues
  .github/workflows/documentation.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, release-note/misc

#29226 Fix Cilium Datapath Prometheus metric names
  pkg/maps/metricsmap/metricsmap.go
Labels: ready-to-merge, area/metrics, release-note/misc, sig/agent, kind/community-contribution

#29326 hubble-relay: Add support for peers joining during requests
  pkg/hubble/relay/defaults/defaults.go
  pkg/hubble/relay/observer/observer.go
  pkg/hubble/relay/observer/option.go
  pkg/hubble/relay/observer/server.go
  pkg/hubble/relay/observer/server_test.go
Labels: release-note/minor, ready-to-merge, sig/hubble, kind/community-contribution

#29446 pkg/l2announcer: ensure leases are only created for services that are being announced
  pkg/l2announcer/l2announcer.go
  pkg/l2announcer/l2announcer_test.go
Labels: release-note/bug, ready-to-merge, kind/community-contribution

#29541 ci: increase cilium wait timeout to 10m on cloud providers
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#29435 ci-e2e-upgrade: Remove setting CLI vsn
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#29381 Fix `ImplementationSpecific` path sorting for Ingress
  operator/pkg/model/ingestion/ingress_test.go
  operator/pkg/model/translation/envoy_virtual_host.go
  operator/pkg/model/translation/envoy_virtual_host_test.go
  operator/pkg/model/translation/fixture_test.go
  operator/pkg/model/translation/translator_test.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/servicemesh, feature/k8s-ingress

#29542 ci-gke: remove duplicated wait for cilium
  .github/workflows/conformance-gke.yaml
Labels: area/CI, kind/cleanup, ready-to-merge, release-note/ci

#29403 bpf: nat: fully switch to snat_v*_rewrite_helpers()
  bpf/lib/nat.h
Labels: kind/bug, sig/datapath, kind/cleanup, ready-to-merge, release-note/misc, feature/ipv6, feature/snat

#29489 Follow-up nits from etcd init script pull request
  clustermesh-apiserver/etcdinit/root.go
  contrib/release/check-docker-images.sh
  install/kubernetes/Makefile.values
  pkg/kvstore/etcdinit/init.go
Labels: ready-to-merge, area/clustermesh, release-note/misc, kind/community-contribution

#29395 Delete deprecated CNPStatusUpdates and K8sEventHandover
  .github/actions/ginkgo/main-focus.yaml
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/helm-values.rst
  Documentation/internals/cilium_operator.rst
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  daemon/cmd/policy_test.go
  daemon/cmd/state.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  operator/cmd/ccnp_event.go
  operator/cmd/cilium_node.go
  operator/cmd/cnp_event.go
  operator/cmd/flags.go
  operator/cmd/root.go
  operator/option/config.go
  pkg/defaults/defaults.go
  pkg/k8s/ccnpstatus.go
  pkg/k8s/cnp.go
  pkg/k8s/cnp_export_test.go
  pkg/k8s/cnpstatus.go
  pkg/k8s/watchers/cilium_network_policy.go
  pkg/k8s/watchers/pod.go
  pkg/option/config.go
  test/helpers/kubectl.go
  test/k8s/manifests/invalid_cnp.yaml
  test/k8s/net_policies.go
Labels: area/daemon, sig/k8s, release-note/minor, ready-to-merge, area/operator

#29562 scale-test-100-gce: Use CILIUM_CLI_VERSION
  .github/workflows/scale-test-100-gce.yaml
Labels: release-note/ci

#29560 ci-clustermesh-upgrade: Increment timeout between rollouts to 5min
  .github/workflows/tests-clustermesh-upgrade.yaml
Labels: kind/enhancement, area/CI, ready-to-merge, release-note/ci

#29547 gateway: Ignore loadbalancer class for Gateway service
  operator/pkg/gateway-api/gateway_reconcile.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.14

#29554 endpointmanager: unmap ip for lookup
  pkg/endpointmanager/manager.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.14

#29587 Fix exporting results to gs bucket.
  .github/workflows/scale-test-100-gce.yaml
  .github/workflows/scale-test-node-throughput-gce.yaml
Labels: release-note/ci

#29512 envoy: perform version check directly on envoy binary (not starter)
  pkg/envoy/embedded_envoy.go
Labels: kind/cleanup, area/proxy, ready-to-merge, release-note/misc

#29601 ci: remove empty github workflow file tests-nightly.yaml
  .github/workflows/tests-nightly.yaml
Labels: area/CI, kind/cleanup, kind/backports, release-note/ci, backport/1.12

#29615 endpoint: fix panic in RunMetadataResolver due to send on closed channel
  pkg/endpoint/endpoint.go
Labels: kind/bug, release-note/bug

#29497 Docs: Adds Webhook Limitation to EKS Install Doc
  Documentation/installation/k8s-install-helm.rst
Labels: area/documentation, area/eni, release-note/misc

#29597 mutual-auth: Bump SPIRE image version to 1.8.5
  Documentation/helm-values.rst
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/misc, area/servicemesh, feature/authentication

#29611 bpf/Makefile: remove gen_compile_commands make target
  bpf/Makefile
Labels: ready-to-merge, release-note/misc

#29531 docs: specify which further release for fqdn option removal.
  Documentation/operations/upgrade.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#29493 DNS Proxy: Adds UDP checksum for IPv6 Responses
  pkg/fqdn/dnsproxy/udp.go
  pkg/fqdn/dnsproxy/udp_test.go
Labels: release-note/bug, ready-to-merge, area/fqdn

#29603 examples: update guestbook example with new image registry
  examples/misc/guestbook/5-guestbook-controller.json
Labels: area/documentation, kind/cleanup, ready-to-merge, release-note/misc, dont-merge/blocked, needs-backport/1.13, needs-backport/1.14

#29607 ci: disable preemptible VM & GKE clusters on tests based on GKE
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke.yaml
Labels: kind/enhancement, area/CI, ready-to-merge, release-note/ci

#29613 Fix possible disruption of long running, cross-cluster, pod to node traffic on agent restart
  pkg/clustermesh/remote_cluster.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/clustermesh, needs-backport/1.14

#29627 codeowners: use new teams cilium/envoy & cilium/fqdn
  CODEOWNERS
Labels: area/misc, release-note/misc

#29522 daemon: Fix incorrect node and ciliumnode resource type in annotations
  daemon/k8s/resources.go
Labels: release-note/misc, kind/community-contribution

#29173 release image: Allow arbitrary pre-release identifiers
  .github/workflows/build-images-releases.yaml
Labels: release-note/misc

#29642 guestbook: update example with leader/follower naming
  examples/misc/guestbook/1-redis-leader-controller.json
  examples/misc/guestbook/2-redis-leader-service.json
  examples/misc/guestbook/3-redis-follower-controller.json
  examples/misc/guestbook/4-redis-follower-service.json
Labels: area/documentation, kind/cleanup, ready-to-merge, release-note/misc

#29612 test: remove probes-test.sh
  test/bpf/probes-test.sh
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#29623 workflows: Make the conn-disrupt test more sensitive
  .github/actions/conn-disrupt-test/action.yaml
  .github/workflows/tests-clustermesh-upgrade.yaml
  .github/workflows/tests-e2e-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#29633 ci datapath-verifier: add connectivity test
  .github/workflows/tests-datapath-verifier.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#29592 ci-ipsec-e2e: Misc refactor + more keys
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: ready-to-merge, release-note/ci, needs-backport/1.12, backport/author, needs-backport/1.13, needs-backport/1.14, feature/ipsec

#29082 Remove deadlock from AuthMap Endpoint GC
  pkg/auth/authmap_gc.go
  pkg/auth/authmap_gc_test.go
  pkg/auth/cell.go
  pkg/endpointmanager/subscribe.go
Labels: kind/bug, release-note/bug, area/servicemesh, feature/authentication

#29527 docs: Modify BGP MD5 password with Helm default change
  Documentation/network/bgp-control-plane.rst
Labels: area/documentation, ready-to-merge, release-note/misc, area/bgp

#29644 Define PUSH_TO_DOCKER_HUB environment variable
  .github/actions/set-env-variables/action.yml
  .github/workflows/build-images-releases.yaml
Labels: release-note/ci

#28421 docs: add documentation for policy-cidr-match-mode=nodes
  Documentation/internals/security-identities.rst
  Documentation/network/kubernetes/policy.rst
  Documentation/security/policy/language.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, release-note/misc

#29654 envoy: Bump cilium-envoy with golang 1.21.5
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, backport/1.12

#29672 v1.13: vendor: update logrus v1.9.2 => v1.9.3
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Labels: ready-to-merge, kind/backports, release-note/misc, release-blocker/1.13, backport/1.13

#29687 gha: align ci-ipsec-e2e workflow name to main
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: area/CI, ready-to-merge, kind/backports, release-note/ci, backport/1.13

#29686 gha: align ci-ipsec-e2e workflow name to main
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: area/CI, ready-to-merge, kind/backports, release-note/ci, backport/1.12

#29650 [v1.14] gh: datapath-verifier: also run on 6.1 kernel
  .github/workflows/tests-datapath-verifier.yaml
Labels: ready-to-merge, kind/backports, backport/1.14

#29651 gh: e2e: test conformance & upgrade with 5.4 kernel and EgressGW
  .github/workflows/conformance-e2e.yaml
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, ready-to-merge, release-note/ci, feature/egress-gateway

#29694 ci: always use full matrix for scheduled cloud-provider workflows
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke.yaml
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#29664 pkg/rand: remove random name generator
  operator/cmd/root.go
  pkg/allocator/allocator_test.go
  pkg/azure/api/api.go
  pkg/clustermesh/services_test.go
  pkg/kvstore/allocator/allocator_test.go
  pkg/kvstore/store/store_test.go
  pkg/rand/rand_name.go
  pkg/rand/rand_name_test.go
Labels: ready-to-merge, release-note/misc

#29671 CODEOWNERS: sig-clustermesh additionally owns clustermesh-related GHA workflows and helm templates
  CODEOWNERS
Labels: ready-to-merge, area/clustermesh, release-note/misc

#29705 hubble-relay: fix panic during server shutdown
  pkg/hubble/relay/server/server.go
Labels: kind/bug, ready-to-merge, release-note/misc, sig/hubble

#29708 [v1.12] images/cilium: copy the cilium-envoy binary into Cilium image
  images/cilium/Dockerfile
Labels: kind/backports, release-blocker/1.12, backport/1.12

#29730 cilium: Do not warn on socket tracing if EnableSocketLBTracing was not set
  daemon/cmd/kube_proxy_replacement.go
Labels: sig/datapath, release-note/misc

#29673 v1.12: vendor: update logrus v1.9.0 => v1.9.3
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/hooks/syslog/README.md
  vendor/github.com/sirupsen/logrus/hooks/test/test.go
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Labels: ready-to-merge, kind/backports, release-note/misc, release-blocker/1.12, backport/1.12

#29744 chore: add SI Analytics as cilium user
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#29740 bpf,tests: Mock out time for ratelimit test to make it more stable
  bpf/tests/ratelimit.c
Labels: area/CI, sig/datapath, ready-to-merge, release-note/ci

#29448 Fix cleanup of AWS-related leftover iptables chains
  install/kubernetes/cilium/files/agent/poststart-eni.bash
Labels: kind/bug, release-note/bug, ready-to-merge, area/helm, needs-backport/1.14

#29761 pkg: proxy: only install from-proxy rules/routes for native routing
  pkg/proxy/proxy.go
Labels: sig/datapath, ready-to-merge, area/encryption, release-note/misc, feature/ipsec

#29479 cilium-dbg: Add "statedb node-addresses" command
  Documentation/cmdref/cilium-dbg_statedb.md
  Documentation/cmdref/cilium-dbg_statedb_node-addresses.md
  cilium-dbg/cmd/statedb.go
  pkg/datapath/tables/node_address.go
Labels: ready-to-merge, release-note/misc

#29683 [v1.12] ctmap: consider CT entry's .dsr flag in PurgeOrphanNATEntries()
  pkg/maps/ctmap/ctmap.go
  pkg/maps/ctmap/ctmap_privileged_test.go
  pkg/maps/ctmap/types.go
  pkg/maps/ctmap/utils.go
Labels: kind/backports, backport/1.12

#29787 Prepare for release v1.14.5
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.14

#29670 gha: add step to ensure presence/absence of the AWS iptables chains
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
Labels: area/CI, ready-to-merge, release-note/ci, integration/cloud, needs-backport/1.14

#29786 Envoy silence expected internal listener warning
  pkg/envoy/embedded_envoy.go
Labels: kind/bug, area/proxy, release-note/misc, release-blocker/1.15

#29794 renovate: enable Cilium CLI patch updates for Cilium <v1.14
  .github/renovate.json5
Labels: release-note/ci

#29752 complexity-tests: fix copying verifier log output to artifacts
  .github/workflows/tests-datapath-verifier.yaml
Labels: sig/loader, ready-to-merge, release-note/ci, needs-backport/1.14

#29792 ingress: add unit tests to test default ingressclass
  operator/pkg/ingress/ingress_reconcile_test.go
Labels: kind/enhancement, ready-to-merge, release-note/misc, area/servicemesh, feature/k8s-ingress

#29806 install: Update image digests for v1.14.5
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.14

#29807 install: Update image digests for v1.13.10
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.13

#29808 install: Update image digests for v1.12.17
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.12

#29793 ci/ipsec: Skip waiting for images when skipping upgrade/dowgrade
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: kind/bug/CI, area/encryption, release-note/ci, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14, feature/ipsec

#29827 proxy: export ProxyConfig fields
  pkg/proxy/cell.go
Labels: release-note/misc

#28926 gha: Migrate from MetalLB to L2LB
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ingress.yaml
Labels: ready-to-merge, release-note/ci, feature/k8s-gateway-api, feature/k8s-ingress

#29811 gateway-api: Update API version for Reference Grant
  operator/pkg/gateway-api/grpcroute.go
  operator/pkg/gateway-api/tlsroute.go
Labels: release-note/minor, feature/k8s-gateway-api

#29840 statedb: Fix revision indexing
  pkg/statedb/api_handler.go
  pkg/statedb/api_handler_test.go
  pkg/statedb/graveyard.go
  pkg/statedb/txn.go
Labels: ready-to-merge, release-note/misc, release-blocker/1.15

#29855 gh/workflows: Drop rading /proc in case of failure
  .github/workflows/conformance-e2e.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, release-note/ci

#29515 chore: rename CIDRGroups resource to CiliumCIDRGroups
  daemon/k8s/resources.go
  pkg/k8s/watchers/cilium_network_policy.go
Labels: sig/k8s, ready-to-merge, release-note/misc

#28226 Fix missing NODE_ADD messages
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
  pkg/option/config.go
  pkg/option/fake/config.go
Labels: area/daemon, release-note/bug, ready-to-merge, sig/hubble, sig/agent

#29834 Simplify CI image build workflow before v1.15 branch
  .github/workflows/build-images-ci.yaml
Labels: release-note/ci

#29812 gha: sig-servicemesh owns Ingress or Gateway API related workflows
  CODEOWNERS
Labels: ready-to-merge, release-note/ci

#29801 Revert "cilium: Ensure xfrm state is initialized for route IP before …
  daemon/cmd/daemon.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: area/encryption, release-note/misc, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#29809 preflight: fix overriding node name env variable
  install/kubernetes/cilium/templates/cilium-preflight/daemonset.yaml
Labels: release-note/bug, ready-to-merge, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#29802 Prepare for v1.16 development cycle
  .github/maintainers-little-helper.yaml
  .github/renovate.json5
  .github/workflows/ariane-scheduled.yaml
  .github/workflows/ci-images-garbage-collect.yaml
  .github/workflows/container-scan.yaml
  Documentation/contributing/testing/ci.rst
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  pkg/k8s/apis/cilium.io/register.go
Labels: release-note/misc

#29867 Makefile: Refactor hubble-relay target
  Makefile
  hubble-relay/Makefile
  images/hubble-relay/Dockerfile
Labels: release-note/misc

#29741 [v1.13] ci: In conn-disrupt-test action, disable node-to-node-encryption check
  .github/actions/conn-disrupt-test/action.yaml
Labels: area/CI, ready-to-merge, kind/backports, area/encryption, backport/1.13, feature/ipsec

#29888 helm: Allow unsupported K8s versions for now
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
Labels: release-note/misc, area/helm, needs-backport/1.15

#29594 proxy: opt-out from SNAT for L7 + Tunnel for some scenarios
  pkg/datapath/iptables/iptables.go
Labels: kind/bug, sig/datapath, area/proxy, release-note/bug, ready-to-merge, needs-backport/1.12, backport/author, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#29720 identity: deflake test TestGetIdentity
  pkg/k8s/identitybackend/identity_test.go
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#29884 CI: Fix Artifact Creation Failure Due to Invalid Character in Name
  .github/workflows/conformance-runtime.yaml
Labels: kind/bug/CI, ready-to-merge, release-note/ci

#29879 Bump release versions references by readme, stable.txt, and MLH
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#29871 v1.12 Backports 2023-12-14 [Author Submitted]
  daemon/cmd/daemon.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: ready-to-merge, kind/backports, backport/1.12

#29868 v1.14 Backports 2023-12-14 [Author Submitted]
  daemon/cmd/daemon.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: kind/backports, backport/1.14

#29906 install: Update image digests for v1.15.0-rc.0
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.15

#29909 Bump readme, MLH for v1.15.0-rc.0
  .github/maintainers-little-helper.yaml
  README.rst
Labels: release-note/misc

#29869 v1.13 Backports 2023-12-14 [Author Submitted]
  daemon/cmd/daemon.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: ready-to-merge, kind/backports, backport/1.13

#29803 bpf: host: simplify MARK_MAGIC_PROXY_EGRESS_EPID handling
  bpf/bpf_host.c
Labels: sig/datapath, area/proxy, ready-to-merge, release-note/misc

#29905 Update AUTHORS
  .mailmap
  AUTHORS
Labels: release-note/misc

#29958 policy: expand "world" entity selector to select all address families
  pkg/policy/api/entity.go
  pkg/policy/repository_deny_test.go
  pkg/policy/repository_test.go
  pkg/policy/resolve_deny_test.go
  pkg/policy/resolve_test.go
  pkg/policy/rule_test.go
Labels: kind/bug, sig/policy, ready-to-merge, kind/regression, release-note/misc, release-blocker/1.15, affects/v1.15, needs-backport/1.15

#29810 [1.14] ingress: fix ingress class reconciliation
  operator/pkg/ingress/ingress.go
Labels: kind/bug, release-note/bug, ready-to-merge, kind/backports, area/servicemesh, feature/k8s-ingress, backport/1.14

#29907 contrib: Fix post-release.sh for branch candidates
  contrib/backporting/common.sh
  contrib/release/post-release.sh
Labels: release-note/misc

#29961 [backport-1.15] policy: expand "world" entity selector to select all address families
  pkg/policy/api/entity.go
  pkg/policy/repository_deny_test.go
  pkg/policy/repository_test.go
  pkg/policy/resolve_deny_test.go
  pkg/policy/resolve_test.go
  pkg/policy/rule_test.go
Labels: ready-to-merge, kind/backports, release-blocker/1.15, backport/1.15

#29918 ci: check kvstoremesh for vulnerabilities only on v1.14
  .github/workflows/container-scan.yaml
Labels: kind/bug/CI, area/CI, ready-to-merge, area/clustermesh, release-note/ci

#29957 hubble: Reduce "stale identities observed" debug messages even more
  pkg/hubble/parser/common/endpoint.go
Labels: ready-to-merge, release-note/misc, sig/hubble, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#29825 loader: refactor/cleanup replaceNetworkDatapath
  pkg/datapath/loader/base.go
  pkg/datapath/loader/loader.go
Labels: sig/loader, ready-to-merge, release-note/misc

#29908 k8s: Bump CRD schema version to 1.27.x
  pkg/k8s/apis/cilium.io/register.go
Labels: kind/backports, release-note/misc, backport/1.14

#29880 bpf: ipv4: always return drop reason from ipv4_handle_fragmentation()
  bpf/lib/ipv4.h
Labels: kind/bug, sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#29962 bpf: host: skip from-proxy handling in from-netdev
  bpf/bpf_host.c
Labels: sig/datapath, area/proxy, ready-to-merge, release-note/misc, kind/complexity-issue

#29921 ci: continue container scanning on error
  .github/workflows/container-scan.yaml
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#29873 k8s: Update to final v1.29.0
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/api/batch/v1/generated.proto
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  vendor/modules.txt
Labels: kind/enhancement, sig/k8s, release-note/misc

#29934 workflows: Increase IPsec upgrade test's timeout
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: area/CI, release-note/ci

#29728 monitor/payload: remove bitrotted benchmark
  pkg/monitor/payload/monitor_payload_test.go
Labels: ready-to-merge, release-note/misc

#29813 endpoint: Use resolved named port also in the proxy stats
  pkg/endpoint/bpf.go
Labels: kind/bug, area/proxy, ready-to-merge, release-note/misc, release-blocker/1.15, needs-backport/1.15

#29896 Fix log error in clustermesh-apiserver when connecting external workloads
  pkg/nodediscovery/nodediscovery.go
Labels: ready-to-merge, area/clustermesh, release-note/misc, needs-backport/1.12, backport/author, needs-backport/1.13, backport-pending/1.14, needs-backport/1.15

#29815 policy: Fix mapstate changes error in entry change comparison
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
Labels: kind/bug, release-note/bug, ready-to-merge, release-blocker/1.14, affects/v1.14, needs-backport/1.14, release-blocker/1.15, needs-backport/1.15

#29826 Fix regression causing a 10x increase in the duration of endpoint integration tests
  pkg/endpoint/endpoint_test.go
Labels: area/daemon, ready-to-merge, release-note/misc, needs-backport/1.15

#29674 Helm: enforce routing mode when either gke.enabled or aksbyocni.enabled are set
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: ready-to-merge, release-note/misc, integration/cloud, area/helm, needs-backport/1.14, needs-backport/1.15

#30000 docs: Fix keyid derivation in IPsec docs
  Documentation/security/network/encryption-ipsec.rst
Labels: ready-to-merge, area/encryption, release-note/misc, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14, feature/ipsec, needs-backport/1.15

#29919 Fix log error in clustermesh-apiserver when connecting external workloads
  pkg/nodediscovery/nodediscovery.go
Labels: ready-to-merge, kind/backports, area/clustermesh, backport/1.14

#30001 bpf: add improved helper for program-internal tail-call
  bpf/bpf_xdp.c
  bpf/lib/config.h
  bpf/lib/drop.h
  bpf/lib/icmp6.h
  bpf/lib/maps.h
  bpf/lib/tailcall.h
  bpf/tests/drop_notify_test.c
Labels: sig/datapath, release-note/misc

#29848 hive: Unify parsing of string slices
  pkg/hive/cell/config.go
  pkg/hive/hive_test.go
Labels: release-note/bug, needs-backport/1.14, release-blocker/1.15, needs-backport/1.15

#30025 egressgw: remove deleteStaleIPRulesAndRoutes()
  pkg/egressgateway/legacy.go
  pkg/egressgateway/manager.go
Labels: ready-to-merge, release-note/misc, feature/egress-gateway, kind/tech-debt

#30013 bgpv1: set running flag in manager
  pkg/bgpv1/manager/manager.go
  pkg/bgpv1/manager/manager_test.go
Labels: kind/bug, ready-to-merge, release-note/misc, area/bgp, needs-backport/1.14, needs-backport/1.15

#30022 Refactor getEnvoyHTTPRouteConfiguration test
  operator/pkg/model/translation/fixture_test.go
  operator/pkg/model/translation/translator_test.go
Labels: release-note/misc

#30041 Add a description to the default GatewayClass
  install/kubernetes/cilium/templates/cilium-gateway-api-class.yaml
Labels: release-note/minor, ready-to-merge, feature/k8s-gateway-api

#29854 gha: Removed metal LB references
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ingress.yaml
Labels: ready-to-merge, release-note/ci
