Repository cilium/cilium, pull requests merged in 2023-10, with the labels that each got.

#28307 docs: Use host port for serving docs
  Documentation/Makefile
Labels: area/documentation, ready-to-merge, release-note/misc

#27845 add traffic shifting example for service mesh
  Documentation/network/servicemesh/envoy-traffic-shifting.rst
  Documentation/network/servicemesh/l7-traffic-management.rst
  Documentation/spelling_wordlist.txt
  examples/kubernetes/servicemesh/envoy/client-helloworld.yaml
  examples/kubernetes/servicemesh/envoy/envoy-helloworld-v1-90-v2-10.yaml
  examples/kubernetes/servicemesh/envoy/helloworld-service-v1-v2.yaml
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution

#28205 Add flows per second information to Hubble status
  api/v1/observer/README.md
  api/v1/observer/observer.pb.go
  api/v1/observer/observer.proto
  pkg/hubble/observer/local_observer.go
  pkg/hubble/observer/local_observer_test.go
  pkg/hubble/relay/observer/server.go
  pkg/hubble/relay/observer/server_test.go
Labels: release-note/minor, ready-to-merge, sig/hubble, kind/community-contribution

#28324 cmd: Disable local node routes when endpoint routes are enabled
  .github/workflows/conformance-multi-pool.yaml
  Documentation/network/concepts/routing.rst
  Documentation/network/kubernetes/ipam-multi-pool.rst
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: area/daemon, release-note/minor, ready-to-merge

#28358 docs: Mention `RouteTableInterfacesOffset` in system requirements
  Documentation/operations/system_requirements.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#28258 ipsec: Clear node ID and SPI with output-mark
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/linux_defaults/linux_defaults.go
Labels: kind/bug, sig/datapath, release-note/bug, area/encryption, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#28342 gateway-api: Add support for multiple request mirrors
  .github/workflows/conformance-gateway-api.yaml
  operator/pkg/model/ingestion/gateway.go
  operator/pkg/model/ingestion/gateway_test.go
  operator/pkg/model/model.go
  operator/pkg/model/translation/envoy_virtual_host.go
  operator/pkg/model/translation/envoy_virtual_host_test.go
  operator/pkg/model/translation/gateway-api/translator_fixture_test.go
  operator/pkg/model/translation/translator.go
Labels: release-note/minor, ready-to-merge, area/servicemesh, feature/k8s-gateway-api

#28371 backporting: Revert changes until the new workflow will be in place
  contrib/backporting/set-labels.py
Labels: kind/bug/CI, release-note/bug

#28361 docs: Remove bare URLs from Flow gRPC API Reference
  api/v1/flow/README.md
  api/v1/flow/flow.pb.go
  api/v1/flow/flow.proto
Labels: area/documentation, ready-to-merge, release-note/misc

#28372 contrib: Fix missing function in post-release.sh
  contrib/backporting/common.sh
  contrib/release/start-release.sh
Labels: release-note/misc

#27903 docs: Add policymap pressure debugging guide
  Documentation/contributing/development/debugging.rst
  Documentation/operations/troubleshooting.rst
Labels: kind/enhancement, area/documentation, sig/policy, ready-to-merge, release-note/misc, sig/contributing

#28357 metrics: Add map pressure metric for auth map
  pkg/auth/authmap.go
  pkg/auth/authmap_cache.go
  pkg/auth/authmap_writer.go
  pkg/auth/manager_test.go
  pkg/maps/authmap/auth_map.go
  pkg/maps/authmap/fake/auth_map.go
Labels: release-note/minor, ready-to-merge, needs-backport/1.14

#28375 bpf: clean up CB_NAT
  bpf/lib/common.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#28389 workflows: cilium-config: parametrize egressgw helm values
  .github/actions/cilium-config/action.yml
  .github/actions/set-env-variables/action.yml
Labels: area/CI, release-note/ci

#27877 [v1.13] ci: Add a call to the update label backport action
  .github/workflows/call-backport-label-updater.yaml
Labels: area/CI, ready-to-merge, release-note/ci, sig/contributing

#28322 Fix data race during Hubble setup
  daemon/cmd/daemon.go
  daemon/cmd/hubble.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, sig/hubble, kind/community-contribution

#28278 pkg/pprof: add CODEOWNER
  CODEOWNERS
Labels: area/daemon, ready-to-merge, release-note/misc, sig/agent

#28036 BGP CP: API Helper Functions Cleanup
  cilium/cmd/bgp_route_get.go
  pkg/bgpv1/api/conversions.go
  pkg/bgpv1/types/bgp.go
  pkg/bgpv1/types/state.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, area/bgp

#27879 [v1.12] ci: Add a call to the update label backport action
  .github/workflows/call-backport-label-updater.yaml
Labels: area/CI, ready-to-merge, release-note/ci, sig/contributing

#27952 CFP: cilium ingress should have an option to set the number of trusted loadbalancer hops
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  operator/cmd/flags.go
  operator/option/config.go
  operator/pkg/model/translation/envoy_http_connection_manager.go
  operator/pkg/model/translation/envoy_http_connection_manager_test.go
  operator/pkg/model/translation/envoy_listener.go
  operator/pkg/model/translation/envoy_listener_test.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#28241 fix: Remove the latest image tag from docs as latest tag is not published
  Documentation/conf.py
Labels: area/documentation, release-note/misc, kind/community-contribution

#28396 gha: Disable HTTPRouteRequestMultipleMirrors test
  .github/workflows/conformance-gateway-api.yaml
Labels: ready-to-merge, release-note/ci, ci/flake

#28399 bpf: egressgw: make ct_status an enum
  bpf/lib/egress_gateway.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc, feature/egress-gateway

#28394 CODEOWNERS: assign .github/actions to github-sec and ci-structure
  CODEOWNERS
Labels: ready-to-merge, release-note/misc

#28180 .github: re-use common helm values from a single action
  .github/actions/helm-default/action.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/conformance-k8s-kind-network-policies.yaml
  .github/workflows/conformance-k8s-kind.yaml
  .github/workflows/conformance-kind-proxy-daemonset.yaml
  .github/workflows/conformance-multi-pool.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, area/CI-improvement, release-note/ci

#28380 Makefile: fix 'fast' make targets
  Makefile
Labels: release-note/misc, area/build, needs-backport/1.14

#28332 ipcache: fix flapping labels in SelectorCache when reserved:host identity has multiple IPs
  pkg/identity/reserved.go
  pkg/ipcache/ipcache_test.go
  pkg/ipcache/metadata.go
  pkg/ipcache/metadata_test.go
Labels: kind/bug, release-note/bug, sig/policy, backport/author, needs-backport/1.13, affects/v1.13, affects/v1.14, needs-backport/1.14

#28410 .github/actions/helm-default: use the derived SHA as image tag
  .github/actions/helm-default/action.yaml
Labels: release-note/misc

#28406 chore(deps): update dependency cilium/cilium-cli to v0.15.9
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-e2e.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/conformance-k8s-kind-network-policies.yaml
  .github/workflows/conformance-k8s-kind.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind-proxy-daemonset.yaml
  .github/workflows/conformance-multi-pool.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
  .github/workflows/tests-l4lb.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: ready-to-merge, release-note/misc

#28392 Do not hardcode the AWS VPC CNI plugin version in the conformance-aws-cni GHA workflow
  .github/workflows/conformance-aws-cni.yaml
Labels: area/CI, ready-to-merge, release-note/ci, integration/cloud, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#28416 [v1.13] ipcache: aggregate labels from all IPs with local host identity
  pkg/identity/reserved.go
  pkg/ipcache/ipcache_test.go
  pkg/ipcache/metadata.go
  pkg/ipcache/metadata_test.go
Labels: ready-to-merge, kind/backports, backport/1.13

#28417 bpf: don't sign-extend IPv6 address components
  bpf/lib/static_data.h
  bpf/tests/config_replacement.h
Labels: kind/bug, sig/datapath, release-note/bug, kind/regression, feature/ipv6, needs-backport/1.14

#28411 bpf: encap: clean up usage of __encap_and_redirect_with_nodeid()
  bpf/bpf_host.c
  bpf/lib/encap.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#28294 gateway-api: Fix double slash when trying to strip path prefix
  operator/pkg/model/translation/envoy_virtual_host.go
  operator/pkg/model/translation/envoy_virtual_host_test.go
Labels: release-note/bug, ready-to-merge, sig/agent, area/servicemesh, kind/community-contribution, needs-backport/1.14

#28418 [v1.14] ipcache: fix flapping labels in SelectorCache when reserved:host identity has multiple IPs
  pkg/identity/reserved.go
  pkg/ipcache/ipcache_test.go
  pkg/ipcache/metadata.go
  pkg/ipcache/metadata_test.go
Labels: ready-to-merge, kind/backports, backport/1.14

#28388 docs: Update Kubernetes Gateway-API version to v0.8.1
  Documentation/network/servicemesh/gateway-api/gateway-api.rst
Labels: area/documentation, release-note/misc, kind/community-contribution, needs-backport/1.14

#28435 v1.14: backport IPv6 host and router IP macro fix
  bpf/lib/static_data.h
  bpf/tests/config_replacement.h
Labels: kind/backports, backport/1.14

#28370 ipam: Remove unused mock function
  pkg/ipam/allocator_test.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, sig/ipam, area/ipam

#28150 endpoint: correct stats for prepareBuild
  pkg/endpoint/bpf.go
Labels: area/cni, ready-to-merge, release-note/misc, sig/agent, kind/community-contribution

#27981 Resiliency: Add checks to ensure endpoint BPF programs remain loaded
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/watchdogs.go
  pkg/datapath/loader/netlink.go
Labels: area/daemon, sig/policy, ready-to-merge, release-note/misc, resiliency

#27708 Setup Renovate for SPIRE deployment
  .github/renovate.json5
Labels: ready-to-merge, release-note/ci, area/servicemesh, feature/authentication

#28420 bgpv1,ci: Fix BGP component tests reusing the same VirtualRouter config
  pkg/bgpv1/test/adverts_test.go
  pkg/bgpv1/test/fixtures.go
  pkg/bgpv1/test/neighbor_test.go
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci, area/bgp

#28323 ci: Avoid using deprecated "tunnel" flag
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-multi-pool.yaml
Labels: area/CI, ready-to-merge, release-note/ci, kind/tech-debt

#28378 labels/cidr: Fix slice preallocation size
  pkg/labels/cidr/cidr.go
Labels: kind/performance, ready-to-merge, release-note/misc

#28217 Add hubble_relay_pool_peer_connection_status metric
  pkg/hubble/relay/pool/manager.go
  pkg/hubble/relay/pool/manager_test.go
  pkg/hubble/relay/pool/metrics.go
  pkg/hubble/relay/pool/option.go
  pkg/hubble/relay/server/server.go
Labels: kind/enhancement, release-note/minor, ready-to-merge, area/metrics, sig/hubble, kind/community-contribution

#28432 gha: explicit branch and trigger in ariane-scheduled workflow
  .github/workflows/ariane-scheduled.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#28231 typo fix
  pkg/maps/lbmap/ipv4.go
Labels: release-note/misc, kind/community-contribution, area/loadbalancing

#28423 Remove deprecated `policy_import_errors_total` metric
  Documentation/observability/metrics.rst
  Documentation/operations/upgrade.rst
  daemon/cmd/policy.go
  pkg/k8s/watchers/cilium_network_policy.go
  pkg/k8s/watchers/network_policy.go
  pkg/metrics/metrics.go
  pkg/policy/api/selector.go
  pkg/policy/groups/actions.go
Labels: release-note/minor, ready-to-merge, area/metrics

#28404 Remove daemon health from being reported via the CLI
  daemon/cmd/vitals.go
Labels: area/daemon, area/misc, release-note/misc, area/modularization

#28391 bpf: lxc: remove stale ENABLE_IDENTITY_MARK ifdefs
  bpf/bpf_lxc.c
Labels: kind/enhancement, sig/datapath, ready-to-merge, area/encryption, release-note/misc

#28462 daemon: Skip Ingress Endpoint on BPF watchdog
  daemon/cmd/watchdogs.go
Labels: kind/bug, area/daemon, release-note/misc, release-blocker/1.15

#28463 envoy: Import Health check sink API
  Documentation/helm-values.rst
  go.mod
  go.sum
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  pkg/envoy/resources.go
  vendor/github.com/cilium/proxy/go/cilium/api/health_check_sink.pb.go
  vendor/github.com/cilium/proxy/go/cilium/api/health_check_sink.pb.validate.go
  vendor/modules.txt
Labels: area/proxy, ready-to-merge, release-note/misc, area/loadbalancing

#28436 build: Remove envoy from Makefile target
  CODEOWNERS
  Makefile
  envoy/Makefile
Labels: area/proxy, release-note/misc, area/build

#28046 Docs: Updates for Deprecation of CNI network-plugin Flag
  Documentation/gettingstarted/k8s-install-default.rst
  Documentation/network/kubernetes/requirements.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#28262 gateway-api: Add conformance profile test
  .github/workflows/conformance-gateway-api.yaml
  operator/pkg/gateway-api/experimental_conformance_test.go
Labels: area/CI, release-note/misc

#28252 Docs: Updates L2 Announce for LB Class Support
  Documentation/network/l2-announcements.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#28292 contrib: Add ContainerLab-based BGP CPlane development environment
  Documentation/contributing/development/_static/bgp-lab.drawio
  Documentation/contributing/development/_static/bgp-lab.drawio.png
  Documentation/contributing/development/bgp_cplane.rst
  Documentation/contributing/development/index.rst
  Makefile
  contrib/containerlab/bgp-cplane-dev-dual/.gitignore
  contrib/containerlab/bgp-cplane-dev-dual/Makefile
  contrib/containerlab/bgp-cplane-dev-dual/bgpp.yaml
  contrib/containerlab/bgp-cplane-dev-dual/cluster.yaml
  contrib/containerlab/bgp-cplane-dev-dual/topo.yaml
  contrib/containerlab/bgp-cplane-dev-dual/values.yaml
  contrib/containerlab/bgp-cplane-dev-v4/.gitignore
  contrib/containerlab/bgp-cplane-dev-v4/Makefile
  contrib/containerlab/bgp-cplane-dev-v4/bgpp.yaml
  contrib/containerlab/bgp-cplane-dev-v4/cluster.yaml
  contrib/containerlab/bgp-cplane-dev-v4/topo.yaml
  contrib/containerlab/bgp-cplane-dev-v4/values.yaml
  contrib/containerlab/bgp-cplane-dev-v6/.gitignore
  contrib/containerlab/bgp-cplane-dev-v6/Makefile
  contrib/containerlab/bgp-cplane-dev-v6/bgpp.yaml
  contrib/containerlab/bgp-cplane-dev-v6/cluster.yaml
  contrib/containerlab/bgp-cplane-dev-v6/topo.yaml
  contrib/containerlab/bgp-cplane-dev-v6/values.yaml
Labels: ready-to-merge, release-note/misc, area/bgp

#28466 bpf: overlay: fix missing DBG_DECAP for Inter-Cluster-SNAT
  bpf/bpf_overlay.c
Labels: kind/bug, sig/datapath, area/monitor, release-note/bug, ready-to-merge, area/clustermesh, needs-backport/1.14

#28473 v1.14: avoid relying on golang.org/exp/slices.SortFunc
  pkg/hive/cell/health.go
  pkg/hubble/observer/namespace_manager.go
  pkg/ipcache/types.go
Labels: ready-to-merge, kind/backports, backport/1.14

#28485 ipsec: Atomically upgrade XFRM states with new output-mark
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: ready-to-merge, area/encryption, release-note/misc, release-blocker/1.12, needs-backport/1.12, release-blocker/1.13, needs-backport/1.13, release-blocker/1.14, needs-backport/1.14

#28506 envoy: Bump envoy version to v1.25.10
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/backports, backport/1.14

#28488 gateway-api: De-flake HTTPRouteRequestMultipleMirrors test
  .github/workflows/conformance-gateway-api.yaml
  operator/pkg/model/translation/envoy_virtual_host.go
  operator/pkg/model/translation/envoy_virtual_host_test.go
  operator/pkg/model/translation/gateway-api/translator_fixture_test.go
Labels: area/CI, release-note/misc, feature/k8s-gateway-api

#28362 ci: Add initial scale test workflow for bootstrapping
  .github/actions/scale-test-gce/cl2-config.yaml
  .github/workflows/scale-test-gce.yaml
Labels: kind/performance, ready-to-merge, release-note/ci

#28524 gateway-api: Disable HTTPRouteRequestMultipleMirrors again
  .github/workflows/conformance-gateway-api.yaml
Labels: release-note/ci, feature/k8s-gateway-api

#28518 envoy: Update to a build with health checkers enabled
  Documentation/helm-values.rst
  go.mod
  go.sum
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  vendor/modules.txt
Labels: kind/enhancement, area/proxy, ready-to-merge, release-note/misc

#28407 ipcache: Fix incorrect source for kube-apiserver in tests
  pkg/ipcache/metadata_test.go
Labels: kind/cleanup, sig/policy, ready-to-merge, release-note/misc

#28527 go.mod: bump grpc to 1.56.3
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/status/status.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Labels: release-note/minor, ready-to-merge, kind/backports, release-blocker/1.14, backport/1.14

#28489 bgpv1,ci: Do not use asserts in Eventually() test conditions
  pkg/bgpv1/test/neighbor_test.go
Labels: ready-to-merge, release-note/misc, area/bgp

#28504 .github: Fix typo in workflow stage name
  .github/workflows/integration-test.yaml
Labels: release-note/misc

#28269 address missing binary checks for `make dev-doctor`.
  Documentation/contributing/development/dev_setup.rst
  Documentation/installation/kind-install-deps.rst
  contrib/scripts/kind-down.sh
  contrib/scripts/kind.sh
  tools/dev-doctor/rootcmd.go
Labels: area/documentation, release-note/misc, kind/community-contribution

#23759 bgpv1: Add BGP peer password
  Documentation/helm-values.rst
  Documentation/network/bgp-control-plane.rst
  api/v1/models/bgp_peer.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/role.yaml
  install/kubernetes/cilium/templates/cilium-agent/rolebinding.yaml
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/templates/cilium-secrets-namespace.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/bgpv1/README.md
  pkg/bgpv1/agent/controller.go
  pkg/bgpv1/cell.go
  pkg/bgpv1/gobgp/server.go
  pkg/bgpv1/gobgp/state.go
  pkg/bgpv1/manager/reconcile.go
  pkg/bgpv1/manager/reconcile_test.go
  pkg/bgpv1/manager/workdiff.go
  pkg/bgpv1/test/fixtures.go
  pkg/bgpv1/test/gobgp.go
  pkg/bgpv1/test/neighbor_test.go
  pkg/bgpv1/types/bgp.go
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeeringpolicies.yaml
  pkg/k8s/apis/cilium.io/v2alpha1/bgpp_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepequal.go
  pkg/option/config.go
Labels: release-note/major, area/bgp, kind/community-contribution

#28445 ci-e2e: add job testing node cidr feature
  .github/workflows/conformance-e2e.yaml
Labels: ready-to-merge, release-note/misc

#28534 v1.13: helm: update hubble-ui from v0.11.0 to v0.12.1
  Documentation/helm-values.rst
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, release-note/misc, area/helm, backport/1.13

#28535 v1.14: helm: update hubble-ui from v0.12.0 to v0.12.1
  Documentation/helm-values.rst
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, release-note/misc, area/helm, backport/1.14

#28547 makefile: fix 'fast' targets for cilium-dbg
  Makefile
  contrib/testing/kind-fast.yaml
Labels: release-note/misc

#28501 envoy: Bump envoy version to v1.24.11
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, backport/1.12

#28502 envoy: Bump envoy version to v1.24.11
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, release-blocker/1.13, backport/1.13

#28536 v1.12: helm: update hubble-ui from v0.11.0 to v0.12.1
  Documentation/helm-values.rst
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, release-note/misc, area/helm, backport/1.12

#28533 update github.com/cilium/ebpf to v0.12.0
  go.mod
  go.sum
  vendor/github.com/cilium/ebpf/.clang-format
  vendor/github.com/cilium/ebpf/.golangci.yaml
  vendor/github.com/cilium/ebpf/Makefile
  vendor/github.com/cilium/ebpf/README.md
  vendor/github.com/cilium/ebpf/asm/alu.go
  vendor/github.com/cilium/ebpf/asm/func.go
  vendor/github.com/cilium/ebpf/asm/jump.go
  vendor/github.com/cilium/ebpf/asm/load_store.go
  vendor/github.com/cilium/ebpf/asm/opcode.go
  vendor/github.com/cilium/ebpf/btf/btf.go
  vendor/github.com/cilium/ebpf/btf/btf_types.go
  vendor/github.com/cilium/ebpf/btf/ext_info.go
  vendor/github.com/cilium/ebpf/btf/feature.go
  vendor/github.com/cilium/ebpf/btf/format.go
  vendor/github.com/cilium/ebpf/btf/marshal.go
  vendor/github.com/cilium/ebpf/btf/strings.go
  vendor/github.com/cilium/ebpf/btf/types.go
  vendor/github.com/cilium/ebpf/collection.go
  vendor/github.com/cilium/ebpf/elf_reader.go
  vendor/github.com/cilium/ebpf/features/map.go
  vendor/github.com/cilium/ebpf/info.go
  vendor/github.com/cilium/ebpf/internal/endian_be.go
  vendor/github.com/cilium/ebpf/internal/endian_le.go
  vendor/github.com/cilium/ebpf/internal/epoll/poller.go
  vendor/github.com/cilium/ebpf/internal/sys/syscall.go
  vendor/github.com/cilium/ebpf/internal/sys/types.go
  vendor/github.com/cilium/ebpf/internal/sysenc/buffer.go
  vendor/github.com/cilium/ebpf/internal/sysenc/doc.go
  vendor/github.com/cilium/ebpf/internal/sysenc/layout.go
  vendor/github.com/cilium/ebpf/internal/sysenc/marshal.go
  vendor/github.com/cilium/ebpf/internal/tracefs/kprobe.go
  vendor/github.com/cilium/ebpf/internal/unix/types_linux.go
  vendor/github.com/cilium/ebpf/internal/unix/types_other.go
  vendor/github.com/cilium/ebpf/link/iter.go
  vendor/github.com/cilium/ebpf/link/kprobe_multi.go
  vendor/github.com/cilium/ebpf/link/program.go
  vendor/github.com/cilium/ebpf/link/syscalls.go
  vendor/github.com/cilium/ebpf/link/uprobe.go
  vendor/github.com/cilium/ebpf/linker.go
  vendor/github.com/cilium/ebpf/map.go
  vendor/github.com/cilium/ebpf/marshalers.go
  vendor/github.com/cilium/ebpf/netlify.toml
  vendor/github.com/cilium/ebpf/prog.go
  vendor/github.com/cilium/ebpf/run-tests.sh
  vendor/github.com/cilium/ebpf/syscalls.go
  vendor/github.com/cilium/ebpf/types.go
  vendor/modules.txt
Labels: sig/loader, ready-to-merge, release-note/misc

#28393 devices: Remove logging and report reason in device struct
  pkg/datapath/linux/devices_controller.go
  pkg/datapath/tables/device.go
Labels: release-note/misc

#28382 Metrics associated with a deleted node should not be reported
  pkg/metrics/interfaces.go
  pkg/metrics/metrics.go
  pkg/node/manager/manager.go
Labels: kind/bug, kind/enhancement, area/daemon, release-note/minor, ready-to-merge, area/metrics, area/health

#27376 docs: fix reference to lvh kind images
  Documentation/contributing/testing/e2e.rst
Labels: ready-to-merge, release-note/misc

#28532 helm: update hubble-ui from v0.12.0 to v0.12.1
  Documentation/helm-values.rst
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/misc, area/helm

#28563 v1.14 Backports 2023-10-12
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: ready-to-merge, kind/backports, backport/1.14

#28559 bump k8s dependencies to 1.26.9
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/k8s.io/api/apidiscovery/v2beta1/generated.proto
  vendor/k8s.io/api/apidiscovery/v2beta1/types.go
  vendor/k8s.io/api/batch/v1/generated.proto
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  vendor/k8s.io/api/core/v1/generated.proto
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  vendor/k8s.io/apimachinery/pkg/runtime/converter.go
  vendor/k8s.io/client-go/discovery/aggregated_discovery.go
  vendor/k8s.io/client-go/discovery/discovery_client.go
  vendor/k8s.io/client-go/openapi/client.go
  vendor/k8s.io/client-go/openapi/groupversion.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/k8s.io/client-go/tools/record/event.go
  vendor/k8s.io/client-go/util/cert/cert.go
  vendor/modules.txt
Labels: ready-to-merge, kind/backports, release-note/misc, release-priority/best-effort, backport/1.13

#28425 Print full labelset for all identities in 'cilium ip list' output
  cilium-dbg/cmd/ip_list.go
Labels: release-note/bug, ready-to-merge, area/cli, affects/v1.12, affects/v1.13, affects/v1.14, needs-backport/1.14

#28531 envoy: Bump envoy version to v1.27.1
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: area/proxy, release-note/minor, ready-to-merge, feature/k8s-gateway-api

#27697 Auth map GC on Endpoint delete
  pkg/auth/authmap_gc.go
  pkg/auth/authmap_gc_test.go
  pkg/auth/cell.go
Labels: release-note/minor, ready-to-merge, area/servicemesh, feature/authentication

#28480 clustermesh-apiserver/kvstoremesh: unify metrics cell
  clustermesh-apiserver/metrics/metrics.go
  kvstoremesh/main.go
  kvstoremesh/metrics/metrics.go
Labels: kind/cleanup, ready-to-merge, area/clustermesh, release-note/misc

#28522 added a missing note for getting started kind cluster
  Documentation/gettingstarted/k8s-install-default.rst
Labels: release-note/misc, kind/community-contribution

#28577 Documentation: Consistently use --set for cilium install
  Documentation/contributing/development/bgp_cplane.rst
  Documentation/contributing/testing/e2e.rst
  Documentation/network/servicemesh/installation.rst
  Documentation/network/servicemesh/mutual-authentication/installation.rst
Labels: release-note/misc

#26798 docs: update clustermesh troubleshooting guide
  Documentation/operations/troubleshooting_clustermesh.rst
Labels: area/documentation, ready-to-merge, area/clustermesh, release-note/misc, needs-backport/1.14

#28141 docs: Update IPsec key rotation command
  Documentation/security/network/encryption-ipsec.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#28562 bgpv1: Remove inappropriate comments and fix typo
  pkg/bgpv1/agent/controller.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, area/bgp, kind/community-contribution

#28481 helm: don't expose kvstoremesh metrics if not enabled
  install/kubernetes/cilium/templates/clustermesh-apiserver/metrics-service.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/servicemonitor.yaml
Labels: kind/bug, release-note/bug, ready-to-merge, area/clustermesh, area/helm, needs-backport/1.14

#28419 Add error metrics for data synchronization to kvstore
  Documentation/observability/metrics.rst
  pkg/kvstore/store/metrics.go
  pkg/kvstore/store/syncstore.go
  pkg/kvstore/store/syncstore_test.go
Labels: release-note/minor, ready-to-merge, area/metrics

#28508 bpf: hs-ipcache: use get_id_from_tunnel_id()
  bpf/lib/high_scale_ipcache.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc, feature/high-scale-ipcache

#28484 bgpv1,ci: Add Test_AdvertisedPathAttributes into BGP component tests
  pkg/bgpv1/test/adverts_test.go
  pkg/bgpv1/test/fixtures.go
  pkg/bgpv1/test/gobgp.go
  pkg/bgpv1/test/objects.go
Labels: ready-to-merge, release-note/misc, area/bgp

#28175 k8s: Introducing new BGP CRDs
  Documentation/crdlist.rst
  Makefile
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/templates/cilium-agent/clusterrole.yaml
  install/kubernetes/cilium/templates/cilium-operator/clusterrole.yaml
  install/kubernetes/cilium/templates/cilium-preflight/clusterrole.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgpadvertisements.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgpclusterconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgpnodeconfigoverrides.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgpnodeconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeerconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeeringpolicies.yaml
  pkg/k8s/apis/cilium.io/client/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_advert_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_cluster_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_node_override_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_node_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_peer_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgpp_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepequal.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/cilium.io_client.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/ciliumbgpadvertisement.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/ciliumbgpclusterconfig.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/ciliumbgpnodeconfig.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/ciliumbgpnodeconfigoverride.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/ciliumbgppeerconfig.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/fake/fake_cilium.io_client.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/fake/fake_ciliumbgpadvertisement.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/fake/fake_ciliumbgpclusterconfig.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/fake/fake_ciliumbgpnodeconfig.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/fake/fake_ciliumbgpnodeconfigoverride.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/fake/fake_ciliumbgppeerconfig.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2alpha1/generated_expansion.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2alpha1/ciliumbgpadvertisement.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2alpha1/ciliumbgpclusterconfig.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2alpha1/ciliumbgpnodeconfig.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2alpha1/ciliumbgpnodeconfigoverride.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2alpha1/ciliumbgppeerconfig.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2alpha1/interface.go
  pkg/k8s/client/informers/externalversions/generic.go
  pkg/k8s/client/listers/cilium.io/v2alpha1/ciliumbgpadvertisement.go
  pkg/k8s/client/listers/cilium.io/v2alpha1/ciliumbgpclusterconfig.go
  pkg/k8s/client/listers/cilium.io/v2alpha1/ciliumbgpnodeconfig.go
  pkg/k8s/client/listers/cilium.io/v2alpha1/ciliumbgpnodeconfigoverride.go
  pkg/k8s/client/listers/cilium.io/v2alpha1/ciliumbgppeerconfig.go
  pkg/k8s/client/listers/cilium.io/v2alpha1/expansion_generated.go
Labels: ready-to-merge, release-note/misc, area/bgp

#28557 test: Ignore waitqueue.waitingLoop goroutine leak
  clustermesh-apiserver/users_mgmt_test.go
  operator/pkg/lbipam/lbipam_test.go
  pkg/k8s/resource/resource_test.go
Labels: area/CI, area/CI-improvement, release-note/misc, ci/flake

#28634 Prepare for release v1.13.8
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.13

#28585 renovate: schedule all renovate updates for Monday
  .github/renovate.json5
Labels: release-note/misc

#28500 ci: Preprocess PR body in update label workflow
  .github/workflows/update-label-backport-pr.yaml
Labels: area/CI, release-note/ci

#28653 install: Update image digests for v1.12.15
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.12

#28633 Fix IPv6 cilium_host address assignment
  pkg/datapath/loader/netlink.go
Labels: release-note/bug, ready-to-merge, kind/community-contribution, needs-backport/1.14

#28649 labels: Use slices.Sort instead of sort.Strings
  pkg/labels/labels.go
Labels: area/daemon, kind/performance, sig/policy, ready-to-merge, release-note/misc, area/fqdn

#28644 statedb: Fix watch channel returned by LowerBound
  pkg/statedb/table.go
Labels: ready-to-merge, release-note/misc

#28671 envoy: Bump envoy version to v1.27.2
  Documentation/helm-values.rst
  go.mod
  go.sum
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  vendor/github.com/cilium/proxy/go/cilium/api/accesslog.pb.go
  vendor/github.com/cilium/proxy/go/cilium/api/accesslog.pb.validate.go
  vendor/github.com/cilium/proxy/go/cilium/api/bpf_metadata.pb.go
  vendor/github.com/cilium/proxy/go/cilium/api/bpf_metadata.pb.validate.go
  vendor/modules.txt
Labels: area/proxy, release-note/minor, ready-to-merge, area/servicemesh

#28661 Correctly use cli installer action in ipv4/6 smoke
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: ready-to-merge, release-note/ci, kind/community-contribution

#28610 helm: Correct spire labels indentation
  install/kubernetes/cilium/templates/spire/agent/daemonset.yaml
  install/kubernetes/cilium/templates/spire/server/statefulset.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/bug, ready-to-merge, area/helm, area/servicemesh, needs-backport/1.14

#28588 resource: Fix flaky TestResource_RepeatedDelete
  pkg/k8s/resource/resource_test.go
Labels: ready-to-merge, release-note/misc

#28641 gateway-api: watch ownerreference to enable stricter reconcilation
  operator/pkg/gateway-api/gateway.go
  operator/pkg/model/translation/gateway-api/translator.go
  operator/pkg/model/translation/gateway-api/translator_fixture_test.go
Labels: kind/enhancement, ready-to-merge, release-note/misc, area/servicemesh, feature/k8s-gateway-api

#28680 Prepare for release v1.14.3
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.14

#28683 install: Update image digests for v1.14.3
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.14

#28689 README: Update releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#28614 chore: Use slices package from Go std lib
  operator/pkg/lbipam/lbipam.go
  operator/pkg/lbipam/range_store.go
  operator/pkg/lbipam/service_store.go
  pkg/bgpv1/manager/manager.go
  pkg/bgpv1/manager/pod_ip_pool_reconciler.go
  pkg/bgpv1/manager/reconcile.go
  pkg/clustermesh/common/config.go
  pkg/datapath/linux/devices.go
  pkg/datapath/linux/devices_controller.go
  pkg/datapath/linux/devices_test.go
  pkg/datapath/tables/device.go
  pkg/datapath/tables/l2_announce.go
  pkg/ipam/allocator/multipool/pool_allocator.go
  pkg/ipam/multipool.go
  pkg/k8s/service_cache.go
  pkg/l2announcer/l2announcer.go
  pkg/l2announcer/l2announcer_test.go
  pkg/lock/sortable_mutex_test.go
  pkg/node/local_node_store_test.go
  pkg/node/manager/manager.go
  pkg/policy/mapstate.go
  pkg/slices/slices.go
  pkg/statedb/fuzz_test.go
  test/controlplane/services/helpers/lbmap_validation.go
Labels: area/misc, ready-to-merge, release-note/misc

#28611 datapath: Introduce fake datapath cell
  daemon/cmd/daemon_test.go
  pkg/datapath/cells.go
  pkg/datapath/fake/cells.go
  test/controlplane/suite/agent.go
  test/controlplane/suite/testcase.go
Labels: release-note/misc

#28682 docs: Clarify BPF Map Pressure Metric
  Documentation/observability/metrics.rst
Labels: ready-to-merge, release-note/misc, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#28648 update k8s dependencies to v0.28.2
  go.mod
  go.sum
  vendor/github.com/google/cel-go/checker/cost.go
  vendor/k8s.io/api/batch/v1/generated.proto
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/customresourcecolumndefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/customresourceconversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/customresourcedefinitioncondition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/customresourcedefinitionnames.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/customresourcedefinitionspec.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/customresourcedefinitionstatus.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/customresourcedefinitionversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/customresourcesubresources.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/customresourcesubresourcescale.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/customresourcevalidation.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/externaldocumentation.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/jsonschemaprops.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/servicereference.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/validationrule.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/webhookclientconfig.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1/webhookconversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcecolumndefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourceconversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcedefinitioncondition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcedefinitionnames.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcedefinitionspec.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcedefinitionstatus.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcedefinitionversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcesubresources.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcesubresourcescale.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcevalidation.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/externaldocumentation.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/jsonschemaprops.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/servicereference.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/validationrule.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/webhookclientconfig.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1/customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1/fake/fake_customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/fake/fake_customresourcedefinition.go
  vendor/k8s.io/client-go/discovery/discovery_client.go
  vendor/modules.txt
Labels: sig/k8s, release-note/misc

#28505 cilium: Remove platform references for completion
  Documentation/cmdref/cilium-dbg_completion.md
  cilium-dbg/cmd/root.go
Labels: ready-to-merge, release-note/misc

#28333 [v1.12] envoy: Update envoy version to 1.25.x
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, backport/1.12

#28638 fixed cilium-operator delete CEC cilium-ingress when other ingressclass resources are created
  operator/pkg/ingress/ingress.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/servicemesh, kind/community-contribution, affects/v1.13, affects/v1.14, feature/k8s-ingress, needs-backport/1.14

#28503 egressgw: Switch from net to netip
  cilium-dbg/cmd/bpf_egress_list.go
  pkg/egressgateway/endpoint.go
  pkg/egressgateway/helpers_test.go
  pkg/egressgateway/manager.go
  pkg/egressgateway/manager_privileged_test.go
  pkg/egressgateway/net.go
  pkg/egressgateway/policy.go
  pkg/maps/egressmap/policy.go
  pkg/maps/egressmap/policy_test.go
  pkg/types/ipv4.go
Labels: ready-to-merge, release-note/misc

#28647 labels/cidr: On the fly char replacement for IPv6
  pkg/labels/cidr/cidr.go
Labels: area/daemon, kind/performance, ready-to-merge, release-note/misc, area/fqdn

#28675 Add Parseable to USERS.md
  USERS.md
Labels: release-note/misc, kind/community-contribution

#28597 bpf: conntrack: improve handling of CT_REOPENED result
  bpf/lib/conntrack.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/conntrack

#26724 Add option to redact http headers
  Documentation/cmdref/cilium-agent.md
  Documentation/helm-values.rst
  Documentation/observability/visibility.rst
  Documentation/spelling_wordlist.txt
  daemon/cmd/daemon_main.go
  daemon/cmd/hubble.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/templates/validate.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/hubble/parser/options/options.go
  pkg/hubble/parser/seven/http.go
  pkg/hubble/parser/seven/http_test.go
  pkg/hubble/parser/seven/kafka.go
  pkg/hubble/parser/seven/kafka_test.go
  pkg/hubble/parser/seven/parser.go
  pkg/option/config.go
Labels: kind/feature, release-note/minor, ready-to-merge, sig/hubble, kind/community-contribution

#28617 ipam/multipool: Identity allocation via etcd is now supported
  Documentation/network/concepts/ipam/multi-pool.rst
  daemon/cmd/daemon_main.go
Labels: ready-to-merge, release-note/misc, area/ipam

#28478 clustermesh-apiserver: extract external workloads in a separate cell
  clustermesh-apiserver/k8s/resources.go
  clustermesh-apiserver/main.go
  clustermesh-apiserver/vmmanager.go
  pkg/k8s/resource_ctors.go
Labels: kind/cleanup, ready-to-merge, area/clustermesh, release-note/misc

#28548 Fix kind targets
  Makefile
Labels: kind/cleanup, release-note/misc, area/build

#28703 policy: Fix Unspecified Protocol Type
  pkg/policy/api/l4.go
  pkg/policy/rule.go
Labels: release-note/minor, sig/policy, ready-to-merge, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#28677 hive/jobs: Add health reporting to jobs
  Documentation/contributing/development/hive.rst
  Documentation/spelling_wordlist.txt
  operator/pkg/lbipam/cell.go
  operator/pkg/lbipam/lbipam.go
  pkg/auth/cell.go
  pkg/datapath/agentliveness/agent_liveness.go
  pkg/datapath/l2responder/l2responder.go
  pkg/hive/example/jobs.go
  pkg/hive/example/main.go
  pkg/hive/job/job.go
  pkg/hive/job/job_test.go
  pkg/l2announcer/l2announcer.go
  pkg/l2announcer/l2announcer_test.go
  pkg/statedb/example/control.go
  pkg/statedb/example/main.go
  pkg/statedb/example/reconcile.go
Labels: release-note/misc

#27894 Reduce "stale identity observed" warnings
  pkg/hubble/parser/common/endpoint.go
  pkg/hubble/parser/sock/parser.go
  pkg/hubble/parser/threefour/parser.go
Labels: release-note/minor, ready-to-merge, sig/hubble, kind/community-contribution

#28482 Docs: Add BGP Advertised Path Attributes documentation
  Documentation/network/bgp-control-plane.rst
Labels: area/documentation, ready-to-merge, release-note/misc, area/bgp

#28640 cmd: Display decryption interfaces in encrypt status
  Documentation/security/network/encryption-ipsec.rst
  cilium-dbg/cmd/encrypt_status.go
Labels: release-note/minor, area/encryption, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#28606 gateway-api: fix empty URI when removing path prefix
  operator/pkg/model/ingestion/gateway.go
  operator/pkg/model/translation/envoy_virtual_host.go
  operator/pkg/model/translation/envoy_virtual_host_test.go
Labels: release-note/bug, kind/community-contribution, feature/k8s-ingress

#28312 Docs: Updates BGP CP for PodIPPoolSelector
  Documentation/network/bgp-control-plane.rst
Labels: ready-to-merge, release-note/misc, area/bgp

#28710 bpf: ensure inner-map flags are updated on map create
  pkg/bpf/map_linux.go
Labels: release-note/bug, ready-to-merge

#28711 datapath: alignchecker: allow to extend toCheck and toCheckSizes
  pkg/datapath/alignchecker/alignchecker.go
Labels: sig/datapath, ready-to-merge, release-note/misc

#28620 ipcache: fix releasing node CIDRs after restoration
  pkg/ipcache/cidr.go
Labels: kind/bug, area/daemon, sig/policy, ready-to-merge, release-note/misc

#28717 bpf: ipv4: refactor L4 port extraction for fragmented packets
  bpf/lib/conntrack.h
  bpf/lib/ipv4.h
  bpf/lib/lb.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/conntrack

#28360 node: Only Add Enabled IPs to Labels
  pkg/node/manager/manager.go
Labels: area/daemon, kind/performance, sig/policy, ready-to-merge, release-note/misc, sig/agent, affects/v1.13, affects/v1.14

#28779 go.mod, vendor: update vishvananda/netlink to latest
  go.mod
  go.sum
  vendor/github.com/vishvananda/netlink/addr_linux.go
  vendor/github.com/vishvananda/netlink/handle_unspecified.go
  vendor/github.com/vishvananda/netlink/link.go
  vendor/github.com/vishvananda/netlink/link_linux.go
  vendor/github.com/vishvananda/netlink/neigh_linux.go
  vendor/github.com/vishvananda/netlink/netlink_unspecified.go
  vendor/github.com/vishvananda/netlink/nl/link_linux.go
  vendor/github.com/vishvananda/netlink/nl/nl_linux.go
  vendor/github.com/vishvananda/netlink/protinfo.go
  vendor/github.com/vishvananda/netlink/protinfo_linux.go
  vendor/github.com/vishvananda/netlink/route_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_policy.go
  vendor/github.com/vishvananda/netlink/xfrm_policy_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_state.go
  vendor/github.com/vishvananda/netlink/xfrm_state_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_unspecified.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#28663 operator: Fix logic used to sync Cilium's IngressClass on startup
  operator/cmd/root.go
  operator/k8s/resource_ctors.go
  operator/k8s/resources.go
  operator/pkg/ingress/ingress.go
  operator/pkg/ingress/ingress_class.go
  operator/pkg/ingress/ingress_class_test.go
  operator/pkg/ingress/logfields.go
Labels: release-note/bug, ready-to-merge, area/operator, area/servicemesh, needs-backport/1.13, affects/v1.13, affects/v1.14, needs-backport/1.14

#28747 report endpoint ID on endpoint BPF program
  daemon/cmd/watchdogs.go
Labels: area/daemon, release-note/misc, resiliency

#28786 proxy: allow to provide fixed port for DNS proxy via cell
  pkg/proxy/cell.go
  pkg/proxy/proxy.go
  pkg/proxy/proxy_test.go
Labels: area/proxy, ready-to-merge, release-note/misc

#28793 Makefile: add kind-egressgw targets
  Makefile
  contrib/testing/kind-egressgw-values.yaml
Labels: ready-to-merge, release-note/misc

#28789 pkg/endpoint: run the metadata resolver after registering the endpoint
  daemon/cmd/endpoint.go
Labels: release-note/bug, ready-to-merge, affects/v1.11, affects/v1.12, affects/v1.13, affects/v1.14, needs-backport/1.14

#28790 bugtool: Collect XFRM error counters twice
  bugtool/cmd/configuration.go
Labels: ready-to-merge, area/bugtool, area/encryption, release-note/misc, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#28777 ci: use renovate to upgrade Helm in ginkgo tests
  .github/workflows/conformance-ginkgo.yaml
Labels: ready-to-merge, release-note/ci, needs-backport/1.14
