Repository cilium/cilium, pull requests merged in 2023-03, with the labels that each got.

#23928 kvstore: add clusterName suffix to session controllers
  pkg/clustermesh/remote_cluster.go
  pkg/kvstore/backend.go
  pkg/kvstore/etcd.go
Labels: ready-to-merge, area/clustermesh, release-note/misc, kind/community-contribution, needs-backport/1.13

#23945 cmd/policy: Close file descriptor if required
  cilium/cmd/policy.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#23605 Fix operator crash race condition for CES identity map concurrent read/write
  operator/pkg/ciliumendpointslice/manager.go
Labels: kind/bug, sig/k8s, release-note/bug, ready-to-merge, area/operator, needs-backport/1.12, kind/community-contribution, needs-backport/1.13

#24057 bugtool: Add ingress/egress tc filter dump
  bugtool/cmd/configuration.go
Labels: release-note/misc, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#24065 renovate: Add stop updating label
  .github/renovate.json5
Labels: area/CI, release-note/misc

#24072 workflows: l4lb/verifier: fix skip-test-run job
  .github/workflows/tests-datapath-verifier.yaml
  .github/workflows/tests-l4lb-v1.11.yaml
  .github/workflows/tests-l4lb-v1.12.yaml
  .github/workflows/tests-l4lb-v1.13.yaml
  .github/workflows/tests-l4lb.yaml
Labels: area/CI, release-note/ci

#24003 renovate: update source import paths on Go module major updates
  .github/renovate.json5
Labels: release-note/misc

#24108 workflows: l4lb/verifier: replace tabs with spaces
  .github/workflows/tests-datapath-verifier.yaml
  .github/workflows/tests-l4lb-v1.11.yaml
  .github/workflows/tests-l4lb-v1.12.yaml
  .github/workflows/tests-l4lb-v1.13.yaml
  .github/workflows/tests-l4lb.yaml
Labels: area/CI, release-note/ci

#24109 renovate: fix config file format
  .github/renovate.json5
Labels: release-note/misc

#24094 vendor,test: Updated CoverBee to v0.3.1 to resolve panic during testing
  go.mod
  go.sum
  vendor/github.com/cilium/coverbee/instrumentation.go
  vendor/github.com/cilium/coverbee/pkg/verifierlog/verifierlog.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#24055 docs: Document CONFIG_PERF_EVENTS requirement
  Documentation/operations/system_requirements.rst
Labels: ready-to-merge, release-note/misc, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#24099 docs: Revert Python to 3.7.9 in docs-builder, downgrade a dependency
  .github/workflows/documentation.yaml
  Documentation/Dockerfile
  Documentation/requirements-min/requirements.txt
  Documentation/requirements.txt
Labels: area/documentation, release-note/misc

#23291 .github/workflows: re-enable coverage in BPF tests
  .github/workflows/lint-bpf-checks.yaml
Labels: ready-to-merge, release-note/ci

#23877 install: don't render role / rolebinding when agent disabled
  install/kubernetes/cilium/templates/cilium-agent/role.yaml
  install/kubernetes/cilium/templates/cilium-agent/rolebinding.yaml
Labels: kind/bug, release-note/bug, ready-to-merge, needs-backport/1.13, affects/v1.13

#24107 bpf: remove a redundant IPcache lookup in from-host
  bpf/bpf_host.c
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#24078 operator: Remove duplicated package import
  operator/cmd/flags.go
Labels: ready-to-merge, area/operator, release-note/misc

#24101 docs: Document kernel requirement for L3 devices support
  Documentation/operations/system_requirements.rst
Labels: area/documentation, sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.13

#24135 Fix: Link Security Team
  SECURITY.md
Labels: release-note/misc

#24096 Documentation: add section to roadmap about modularization
  Documentation/community/roadmap.rst
  Documentation/contributing/development/hive.rst
  Documentation/spelling_wordlist.txt
Labels: release-note/misc

#24116 cilium: Add TunnelDevice config helper to retrieve tunnel device name
  pkg/datapath/linux/linux_defaults/linux_defaults.go
  pkg/datapath/linux/node.go
  pkg/option/config.go
Labels: sig/datapath, ready-to-merge, release-note/misc

#24037 drop v1.10 support for eks tests
  .github/workflows/conformance-eks-v1.10.yaml
Labels: ready-to-merge, release-note/ci

#24115 daemon: use the real err instead of a nil one
  pkg/datapath/loader/base.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#24074 auth: define auth handlers as private hive cell
  pkg/auth/cell.go
  pkg/auth/manager.go
  pkg/auth/monitor/monitor.go
  pkg/auth/null_authhandler.go
Labels: ready-to-merge, release-note/misc, feature/servicemesh

#24028 ci: update cilium-cli etcd version to v3.5.4
  clustermesh-apiserver/README.md
Labels: release-note/misc, kind/community-contribution

#24127 bpf,test: Define BPF_TEST macro for map-in-map/prog-map initialization
  bpf/tests/common.h
Labels: sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.13

#23948 clustermesh: reduce memory consumption due to non-shared services
  pkg/clustermesh/services.go
  pkg/clustermesh/services_test.go
Labels: kind/performance, ready-to-merge, area/clustermesh, release-note/misc

#24148 envoy: Bump envoy to 1.24.3
  images/cilium/Dockerfile
Labels: release-note/minor

#24152 bpf: Fix VTEP compilation error
  bpf/bpf_overlay.c
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/vtep

#23634 bpf, ebpf: remove GetMapType() and mock probing
  pkg/bpf/map.go
  pkg/bpf/map_linux.go
  pkg/bpf/map_linux_test.go
  pkg/ebpf/map.go
Labels: sig/datapath, ready-to-merge, release-note/misc

#24158 USERS.md: Add Polar Signals
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#24142 tools/maptool: correctly build with CGO_ENABLED=0 if not in RACE mode
  tools/maptool/Makefile
Labels: ready-to-merge, release-note/misc

#24009 cni: add option to keep CNI configuration file on agent shutdown
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  plugins/cilium-cni/cni-uninstall.sh
Labels: release-note/bug, ready-to-merge, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#24157 .github: set right project to track v1.13 backport PRs
  .github/maintainers-little-helper.yaml
Labels: release-note/misc

#24113 go.mod, golangci-lint: update base Go version to 1.20
  .golangci.yaml
  go.mod
Labels: ready-to-merge, release-note/misc

#24118 init.sh: fix cgroup program detachment, detach multiple progs with retry
  bpf/init.sh
Labels: release-note/bug, ready-to-merge, needs-backport/1.12, backport/author, needs-backport/1.13

#24156 pkg/k8s: set the ciliumNodeStore as nil when connecting to KVStore
  pkg/k8s/watchers/cilium_node.go
Labels: release-note/bug, ready-to-merge, kind/regression, needs-backport/1.12, needs-backport/1.13

#24093 bpf,test: Build preprocessed C source with tests
  bpf/tests/Makefile
Labels: sig/datapath, ready-to-merge, release-note/misc

#24066 v1.11 backport - Enable Google Analytics 4
  .github/workflows/documentation.yaml
  Documentation/conf.py
Labels: area/documentation, ready-to-merge, kind/backports, backport/1.11

#24169 gha: Skip flaky test HTTPRouteHeaderMatching in GatewayAPI
  .github/workflows/conformance-gateway-api.yaml
Labels: release-note/misc

#22580 fuzzing: run latest fuzzers in OSS-Fuzz
  test/fuzzing/oss-fuzz-build.sh
Labels: release-note/ci, kind/community-contribution

#24017 docs: Endpoints are local to the node on which the cilium agent is running.
  Documentation/security/gsg_sw_demo.rst
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution

#24182 bpf: use skb->ifindex for FIB lookup in handle_*_from_lxc()
  bpf/bpf_lxc.c
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, backport/author, needs-backport/1.13

#24136 cmd/service: unify service list/get output
  cilium/cmd/service_get.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#24132 bpf: Ignore HOST_ID resolved from ipcache for IPv6 case
  bpf/bpf_host.c
Labels: release-note/bug, needs-backport/1.11, needs-backport/1.12, kind/community-contribution, needs-backport/1.13

#24154 examples: setup HUBBLE_SERVER for the Hubble CLI Deployment
  examples/hubble/hubble-cli.yaml
Labels: kind/enhancement, area/misc, ready-to-merge, release-note/misc, sig/hubble

#24125 workflows: Cover IPsec + GENEVE
  .github/workflows/conformance-datapath.yaml
Labels: area/CI, sig/datapath, ready-to-merge, area/encryption, release-note/ci

#23927 policy: Create derivative policy for EgressDeny rules
  pkg/policy/api/rule.go
  pkg/policy/api/rule_test.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#23874 Check stale cilium endpoint flag before cleaning endpoints
  daemon/cmd/daemon_main.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.11, needs-backport/1.12, kind/community-contribution, needs-backport/1.13

#23643 fix: Flag --ipv4-native-routing-cidr update in cli
  Documentation/network/clustermesh/clustermesh.rst
Labels: area/documentation, ready-to-merge, area/cli, release-note/misc, kind/community-contribution

#24205 cilium, docs: Move sig-datapath meeting to on-demand only
  Documentation/community/community.rst
Labels: area/documentation, sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.13

#24033 Add 1.13 conformance test
  .github/workflows/conformance-datapath-v1.13.yaml
Labels: release-note/ci

#24215 bpf: Update checkpatch image
  bpf/Makefile.bpf
Labels: sig/datapath, ready-to-merge, release-note/ci

#24202 service cache should handle duplicate endpoints addresses
  pkg/k8s/endpoints.go
  pkg/k8s/service_cache_test.go
Labels: kind/bug, sig/k8s, release-note/bug, ready-to-merge, sig/agent, affects/v1.11, affects/v1.12, affects/v1.10, kind/community-contribution, affects/v1.13

#24186 Add User doc to PR Template
  .github/pull_request_template.md
Labels: ready-to-merge, release-note/misc

#24166 clustermesh-apiserver: ExternalTrafficPolicy and internalTrafficPolicy can now be changed.
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/clustermesh-apiserver/service.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, area/clustermesh, release-note/misc, area/helm, kind/community-contribution

#24133 test: gather containerd logs on failure
  test/helpers/kubectl.go
Labels: area/CI, ready-to-merge, release-note/ci

#23965 bpf: nodeport cleanups
  bpf/lib/common.h
  bpf/lib/egress_policies.h
  bpf/lib/nodeport.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#23615 Reduce number of CES updates sent to API server in short time for the same CES
  operator/pkg/ciliumendpointslice/endpointslice.go
  operator/pkg/ciliumendpointslice/manager.go
Labels: kind/enhancement, sig/k8s, kind/performance, release-note/minor, area/operator, kind/community-contribution

#23971 use atomic.Pointer instead of bare LoadPointer
  pkg/endpoint/endpoint.go
  pkg/endpoint/log.go
  pkg/fqdn/re/re.go
  pkg/policy/distillery.go
  pkg/policy/l4.go
  pkg/policy/selectorcache.go
  proxylib/accesslog/client.go
Labels: ready-to-merge, release-note/misc

#24161 feat: optional bpf mount
  Documentation/helm-values.rst
  Documentation/network/kubernetes/configuration.rst
  Documentation/network/kubernetes/kata.rst
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/documentation, release-note/minor, ready-to-merge, area/helm, kind/community-contribution

#23081 contrib: Remove deb,rpm packaging
  CODEOWNERS
  Makefile
  contrib/packaging/deb/.gitignore
  contrib/packaging/deb/Dockerfile
  contrib/packaging/deb/Makefile
  contrib/packaging/deb/changelog_parser.py
  contrib/packaging/deb/create_deb.sh
  contrib/packaging/deb/debian/changelog
  contrib/packaging/deb/debian/compat
  contrib/packaging/deb/debian/control
  contrib/packaging/deb/debian/debhelper-build-stamp
  contrib/packaging/deb/debian/rules
  contrib/packaging/deb/debian/source/format
  contrib/packaging/rpm/.gitignore
  contrib/packaging/rpm/Dockerfile
  contrib/packaging/rpm/Makefile
  contrib/packaging/rpm/cilium.spec.envsubst
  contrib/packaging/rpm/create_rpm.sh
  images/cilium/.dockerignore
Labels: release-note/misc

#24238 hive: fix documentation for cell.Provide & cell.ProvidePrivate
  pkg/hive/cell/provide.go
Labels: ready-to-merge, release-note/misc

#24171 Fix duplicated logs for test-output.log
  test/helpers/kubectl.go
Labels: release-note/misc, needs-backport/1.11, needs-backport/1.12, kind/community-contribution, needs-backport/1.13

#23717 Optimize GetControllerName for CNP
  pkg/k8s/apis/cilium.io/v2/cnp_types.go
  pkg/k8s/apis/cilium.io/v2/cnp_types_test.go
Labels: release-note/misc, kind/community-contribution

#23986 workflow: enable pod-to-cidr tests
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks-v1.13.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
  .github/workflows/conformance-aws-cni-v1.13.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-eks-v1.13.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads-v1.13.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke-v1.13.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster-v1.13.yaml
  .github/workflows/conformance-multicluster.yaml
Labels: release-note/ci

#24255 endpoint: correctly log IPv6 addresses
  pkg/endpoint/log.go
Labels: release-note/misc, needs-backport/1.13

#24140 daemon: initialize datapath before compiling sockops programs
  daemon/cmd/daemon.go
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, feature/egress-gateway, needs-backport/1.13

#24183 v1.12 backport: fix cgroup program detachment and 1.14 downgrade
  bpf/init.sh
Labels: ready-to-merge, kind/backports, release-blocker/1.12, backport/1.12

#24043 envoy: Avoid using deprecated field
  daemon/cmd/policy_test.go
  operator/pkg/model/translation/envoy_virtual_host.go
  operator/pkg/model/translation/envoy_virtual_host_test.go
  pkg/envoy/server.go
  pkg/envoy/server_test.go
  pkg/envoy/sort_test.go
Labels: area/proxy, ready-to-merge, release-note/misc, feature/servicemesh

#24164 Update clustermesh requirements to mention node InternalIP explicitly
  Documentation/network/clustermesh/clustermesh.rst
Labels: area/documentation, area/clustermesh, release-note/misc, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#24195 [v1.13] bpf: use skb->ifindex for FIB lookup in handle_*_from_lxc()
  bpf/bpf_lxc.c
  bpf/lib/fib.h
Labels: ready-to-merge, kind/backports, backport/1.13

#24274 pkg/ipcache: add ipcacher interface
  pkg/clustermesh/clustermesh.go
  pkg/ipcache/ipcache.go
  pkg/ipcache/kvstore.go
Labels: kind/cleanup, release-note/misc

#24173 chore: Update json-mock image
  examples/kubernetes/clustermesh/global-service-example/cluster1.yaml
  examples/kubernetes/clustermesh/global-service-example/cluster2.yaml
  examples/policies/kubernetes/namespace/demo-pods.yaml
  examples/policies/kubernetes/serviceaccount/demo-pods.yaml
  test/controlplane/services/dualstack/manifests/echo-dpl.yaml
  test/controlplane/services/nodeport/manifests/nodeport.yaml
  test/controlplane/services/nodeport/v1.24/state1.yaml
  test/controlplane/services/nodeport/v1.25/state1.yaml
  test/controlplane/services/nodeport/v1.26/state1.yaml
  test/k8s/manifests/echo-svc.yaml
Labels: ready-to-merge, release-note/misc

#21439 dns: Set --tofqdns-min-ttl to zero by default
  Documentation/cmdref/cilium-agent.md
  Documentation/contributing/development/debugging.rst
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  Documentation/security/policy/language.rst
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/defaults/defaults.go
Labels: kind/enhancement, area/proxy, release-note/minor, sig/policy, ready-to-merge

#24275 pkg/k8s: set user-agent in k8s client
  pkg/k8s/client/cell.go
Labels: sig/k8s, release-note/bug, kind/regression, needs-backport/1.13

#23496 test: add cluster mesh conformance tests with Kind
  .github/kind-config.yaml.tmpl
  .github/workflows/conformance-clustermesh.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#24245 test: Remove RuntimeDatapathLB
  CODEOWNERS
  test/runtime/lb.go
Labels: ready-to-merge, area/CI-improvement, release-note/ci

#24244 docs: Update egress gateway limitations
  Documentation/network/egress-gateway.rst
Labels: area/documentation, ready-to-merge, release-note/misc, feature/egress-gateway, needs-backport/1.13

#23963 Update the comments about monitorNotify in the listener.go
  pkg/datapath/ipcache/listener.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#24180 bpf_tests: Bumped CoverBee to v0.3.2 blank state value fix
  go.mod
  go.sum
  vendor/github.com/cilium/coverbee/cover.go
  vendor/github.com/cilium/coverbee/pkg/verifierlog/verifierlog.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#24259 Service Mesh mTLS: Inject IPCache into auth manager via hive
  daemon/cmd/daemon.go
  pkg/auth/cell.go
Labels: ready-to-merge, release-note/misc, feature/servicemesh

#24134 helm: move poststart eni script to agent
  install/kubernetes/cilium/files/agent/poststart-eni.bash
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/templates/cilium-nodeinit/daemonset.yaml
Labels: release-note/minor, ready-to-merge, needs-backport/1.13

#24075 agent: install CNI plugin binary in an InitContainer
  images/cilium/Dockerfile
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  plugins/cilium-cni/cni-install.sh
  plugins/cilium-cni/cni-uninstall.sh
  plugins/cilium-cni/install-plugin.sh
Labels: area/cni, ready-to-merge, release-note/misc, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#24291 bpf: misc cleanups
  bpf/lib/nodeport.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#24163 agent: rework clustermesh config watcher for increased robustness
  pkg/clustermesh/config.go
  pkg/clustermesh/config_test.go
  pkg/clustermesh/logfields.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/clustermesh, needs-backport/1.13

#24241 Avoid clearing objects in conversion funcs
  pkg/k8s/factory_functions.go
Labels: kind/enhancement, sig/k8s, ready-to-merge, release-note/misc, kind/community-contribution

#24304 bgpv1: Clear announcement vars after server recreation
  pkg/bgpv1/gobgp/reconcile.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/bgp, needs-backport/1.12, needs-backport/1.13

#24311 v1.13 backports 2023-03-11
  daemon/cmd/daemon_main.go
Labels: ready-to-merge, kind/backports, backport/1.13

#24310 v1.12 backports 2023-03-11
  daemon/cmd/daemon_main.go
Labels: ready-to-merge, kind/backports, backport/1.12

#23794 helm: Add example dashboards as chart options
  Documentation/helm-values.rst
  examples/kubernetes/addons/prometheus/files/grafana-dashboards/cilium-dashboard.json
  examples/kubernetes/addons/prometheus/files/grafana-dashboards/cilium-operator-dashboard.json
  examples/kubernetes/addons/prometheus/files/grafana-dashboards/hubble-dashboard.json
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/files/cilium-agent/dashboards/cilium-dashboard.json
  install/kubernetes/cilium/files/cilium-operator/dashboards/cilium-operator-dashboard.json
  install/kubernetes/cilium/files/hubble/dashboards/hubble-dashboard.json
  install/kubernetes/cilium/templates/cilium-agent/dashboards-configmap.yaml
  install/kubernetes/cilium/templates/cilium-operator/dashboards-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, area/metrics, area/helm, kind/community-contribution

#24285 Add IPAM modes comparison table
  Documentation/network/concepts/ipam/index.rst
Labels: area/documentation, ready-to-merge, release-note/misc, sig/ipam

#22998 Docs: Add `policy_implementation_delay` to metrics
  Documentation/observability/metrics.rst
Labels: release-note/misc

#24286 versioncheck: fix parsing of snapshot release versions
  pkg/versioncheck/check.go
  pkg/versioncheck/check_test.go
Labels: ready-to-merge, release-note/misc

#24302 images: update cilium-{runtime,builder} for 1.11
  .github/workflows/build-images-ci.yaml
  .travis.yml
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Labels: ready-to-merge, kind/backports, backport/1.11

#24324 bpf: nodeport: don't track L2 addr for connection to local backend
  bpf/lib/nodeport.h
Labels: sig/datapath, ready-to-merge, release-note/misc

#24320 bpf: lb: small cleanups
  bpf/bpf_lxc.c
  bpf/lib/lb.h
  bpf/lib/nodeport.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#24295 .gitattributes: Mark install/kubernetes/cilium/README.md as generated
  .gitattributes
Labels: ready-to-merge, release-note/misc

#24315 Fix broken target_url for conformance-clustermesh
  .github/workflows/conformance-clustermesh.yaml
Labels: kind/bug/CI, ready-to-merge, release-note/ci

#24332 v1.12 - Backport initContainer change
  images/cilium/Dockerfile
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  plugins/cilium-cni/cni-install.sh
  plugins/cilium-cni/cni-uninstall.sh
  plugins/cilium-cni/install-plugin.sh
Labels: kind/backports, backport/1.12

#24333 v1.13 - Backport initContainer change
  images/cilium/Dockerfile
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  plugins/cilium-cni/cni-install.sh
  plugins/cilium-cni/cni-uninstall.sh
  plugins/cilium-cni/install-plugin.sh
Labels: kind/backports, backport/1.13

#24296 gh/workflows: Split ci-dp encrypt tests into separate matrix configs
  .github/workflows/conformance-datapath.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci

#23894 bpf: nodeport: fix handling of stale CT entry with CT_REPLY
  bpf/lib/nodeport.h
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge

#24360 kvstore/etcd: don't use atomic type for version check timeout
  pkg/kvstore/etcd.go
  pkg/kvstore/etcd_test.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, sig/kvstore

#24352 Service Mesh mTLS: suppress policy verdict notification for authenticated packets
  bpf/bpf_lxc.c
Labels: ready-to-merge, release-note/misc, feature/servicemesh

#23731 Fix typo in config.go
  pkg/option/config.go
Labels: release-note/misc

#24308 v1.11 backports 2023-03-10
  daemon/cmd/daemon_main.go
Labels: ready-to-merge, kind/backports, backport/1.11

#24343 Fix operator deadlock introduced in the #23605.
  operator/pkg/ciliumendpointslice/manager.go
Labels: kind/bug, release-note/bug, ready-to-merge, release-blocker/1.12, needs-backport/1.12, release-blocker/1.13, kind/community-contribution, needs-backport/1.13

#24358 ipam: add method to get IP owner per pool
  pkg/ipam/allocator.go
  pkg/ipam/ipam.go
Labels: ready-to-merge, release-note/misc, sig/ipam

#24261 nodemanager: inject ipcache into nodemanager via hive
  daemon/cmd/daemon.go
  daemon/cmd/status_test.go
  pkg/node/manager/cell.go
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
Labels: ready-to-merge, release-note/misc

#24190 Add make commands for setting up clustermesh in kind
  Makefile
  contrib/scripts/kind.sh
  contrib/testing/kind-clustermesh1.yaml
  contrib/testing/kind-clustermesh2.yaml
Labels: ready-to-merge, release-note/misc

#24189 Fixes: #24185 Cilium-operator crash on empty azure node pools
  pkg/azure/api/api.go
Labels: release-note/bug, ready-to-merge, area/operator, area/azure, needs-backport/1.12, kind/community-contribution, needs-backport/1.13

#24364 docs: Document upgrade behaviour for 1.13.x
  Documentation/operations/upgrade.rst
Labels: kind/backports, release-note/misc, backport/1.13

#24377 bpf, ipcache: unconditionally assume LPM trie delete/dump support
  pkg/datapath/ipcache/listener.go
  pkg/maps/ipcache/ipcache.go
  pkg/maps/ipcache/ipcache_privileged_test.go
Labels: kind/cleanup, release-note/misc

#24373 checker: Fix incorrect checker for ExportedEqual()
  pkg/checker/checker.go
Labels: area/CI, ready-to-merge, release-note/misc, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#24293 Prepare for release v1.11.15
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.11

#24301 Prepare for release v1.12.8
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.12

#24395 Prepare for release v1.13.1
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.13

#24267 Move leader election to a separate Kubernetes client
  operator/cmd/root.go
  pkg/k8s/client/cell.go
Labels: sig/k8s, kind/performance, ready-to-merge, area/operator, release-note/misc, kind/community-contribution, needs-backport/1.13

#24287 add better errors for our calls to Setsockopt()
  daemon/cmd/sockopt.go
  operator/api/server.go
  pkg/fqdn/dnsproxy/udp.go
Labels: kind/enhancement, area/daemon, area/proxy, area/operator, release-note/misc

#24405 bpf: Fix verifier issue in fib_redirect
  bpf/lib/fib.h
Labels: sig/datapath, release-note/bug, ready-to-merge

#24412 test/verifier: Fix compilation command
  test/verifier/verifier_test.go
Labels: sig/datapath, ready-to-merge, release-note/ci, kind/complexity-issue

#24408 Add User DaimlerTruck AG
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#24407 doc: kubeProxyReplacement=strict / kube-proxy co-existence
  Documentation/network/kubernetes/kubeproxy-free.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.13

#24400 docs: Update the documentation for the `--conntrack-gc-interval` flag
  Documentation/operations/troubleshooting.rst
Labels: area/documentation, sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#24390 Turn off CNP node status GC when CNP status updates are disabled.
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: release-note/minor, ready-to-merge

#24384 Increase logging verbosity of Kubernetes API Server in kind
  contrib/scripts/kind.sh
Labels: ready-to-merge, release-note/misc

#24388 [CI] Make ingress conformance ready timeout 60s
  .github/workflows/conformance-ingress.yaml
Labels: area/CI, ready-to-merge, release-note/ci, ci/flake, needs-backport/1.13

#24338 bpf,test: Add an option to disable coverage report per file
  test/bpf_tests/bpf_test.go
Labels: area/CI, sig/datapath, ready-to-merge, release-note/ci

#24319 docs: fix Rule spec document typos
  pkg/policy/api/rule.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#24321 endpoint: Update comments for ToMapState() usage
  pkg/endpoint/bpf.go
Labels: kind/cleanup, area/daemon, sig/policy, release-note/misc

#24418 Revert "docs: fix Rule spec document typos"
  pkg/policy/api/rule.go
Labels: ready-to-merge, release-note/misc

#24425 install: Update image digests for v1.11.15
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.11

#24426 install: Update image digests for v1.12.8
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.12

#24427 install: Update image digests for v1.13.1
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.13

#24421 Add Palark GmbH to USERS.md
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#24416 bug: Fix Potential Nil Reference in GetLabels Implementation
  pkg/endpoint/bpf.go
Labels: kind/bug, sig/policy, ready-to-merge, release-note/misc

#24273 Check IP Family for LB source range
  pkg/maps/lbmap/lbmap.go
  pkg/service/service_test.go
  pkg/testutils/mockmaps/lbmap.go
Labels: kind/enhancement, sig/k8s, ready-to-merge, release-note/misc, kind/community-contribution

#23764 ipcache: Fix incorrect CIDR labels associated with reserved identities
  pkg/ipcache/metadata.go
  pkg/ipcache/metadata_test.go
Labels: kind/bug, area/proxy, release-note/bug, sig/policy, ready-to-merge, affects/v1.12, needs-backport/1.13

#24413 Fix for disabled cloud provider rate limiting
  operator/option/config.go
Labels: kind/bug, release-note/bug, ready-to-merge, kind/regression, area/operator, integration/cloud, sig/ipam, needs-backport/1.11, needs-backport/1.12, affects/v1.11, affects/v1.12, affects/v1.10, needs-backport/1.13, affects/v1.13

#24430 cocci: Fix Python path for coccilib
  contrib/coccinelle/Dockerfile
Labels: kind/bug/CI, area/CI, sig/datapath, release-note/ci

#24124 Docs: Move Maintainers to Committers
  MAINTAINERS.md
Labels: release-note/misc

#23953 modules_linux: Add support for builtin kernel modules
  pkg/modules/modules_linux.go
  pkg/modules/modules_linux_test.go
  pkg/modules/modules_test.go
Labels: kind/bug, sig/datapath, release-note/bug, kind/community-contribution

#24456 .github: skip confirmation prompts on cosign
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-beta.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
Labels: release-note/misc, area/build

#24209 gha: Run kubernetes Conformance and SIG-network tests
  .github/workflows/conformance-k8s-kind.yaml
Labels: area/CI, release-note/ci, kind/community-contribution

#24443 docs: fix Rule spec document typos
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumclusterwidenetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnetworkpolicies.yaml
  pkg/policy/api/rule.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#24428 doc: Fixed CiliumNode CRD fields for cluster-pool doc
  Documentation/network/concepts/ipam/cluster-pool.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.12, needs-backport/1.13

#24433 test/k8s: remove k8s agent health tests
  CODEOWNERS
  test/k8s/health.go
Labels: area/CI-improvement, release-note/ci, ci/hyperjump

#24470 option: Skip `NodeEncryptionOptOutLabels` when marshalling to json
  pkg/option/config.go
Labels: ready-to-merge, release-note/misc

#24463 documentation: remove release docs
  Documentation/contributing/release/feature.rst
  Documentation/contributing/release/index.rst
  Documentation/contributing/release/rc.rst
  Documentation/contributing/release/stable.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#24431 operator/cmd: add goleak check to TestOperatorHive
  operator/cmd/root_test.go
Labels: ready-to-merge, area/operator, release-note/misc
