Repository cilium/cilium, pull requests merged in 2023-09, with the labels that each got.

#27857 ci: run verifier tests with proper Go toolchain version
  .github/workflows/tests-datapath-verifier.yaml
Labels: kind/bug/CI, area/CI, release-note/ci

#27869 ci: disable cgo when installing Go toolchain
  .github/workflows/tests-datapath-verifier.yaml
Labels: kind/bug/CI, area/CI, release-note/ci

#27428 egressgw: test for conflicting IP rules in ENI mode
  pkg/egressgateway/manager_privileged_test.go
Labels: release-note/ci, feature/egress-gateway

#27849 bpf: ct: reuse get_ct_map*() in get_cluster_ct_map*()
  bpf/lib/conntrack_map.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc, feature/conntrack

#27868 devices: Do not ignore link local addresses
  pkg/datapath/linux/devices_controller.go
  pkg/datapath/linux/devices_controller_test.go
Labels: kind/bug, ready-to-merge, release-note/misc

#27814 docs: Update the microservices-demo link
  Documentation/network/servicemesh/grpc.rst
  Documentation/network/servicemesh/tls-termination.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.12, kind/community-contribution, needs-backport/1.13, needs-backport/1.14

#27839 CI: fix missing names
  .github/workflows/ariane-scheduled.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-images-base.yaml
  .github/workflows/lint-workflows.yaml
  .github/workflows/push-chart-ci.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#27721 ipsec: Fix Godoc document comment typo
  pkg/datapath/linux/ipsec/doc.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#27359 gh/workflows: Use cilium-config action in ci-ipsec-upgrade
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#27861 contrib: Move github draft release to post-release
  contrib/release/post-release.sh
  contrib/release/start-release.sh
  contrib/release/tag-release.sh
Labels: release-note/misc

#27812 bpf: lxc: transfer sec identity for per-EP loopback in reply direction
  bpf/lib/l3.h
Labels: sig/datapath, release-note/misc, area/loadbalancing

#27706 .github/workflows: unify time to wait for images to become available
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-e2e.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-ginkgo.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#27170 Add WireGuard to the firewall rules documentation
  Documentation/operations/system_requirements.rst
Labels: area/documentation, release-note/misc, needs-backport/1.13, needs-backport/1.14

#27744 v1.12 Backports 2023-08-28
  .github/ariane-config.yaml
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-beta.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-kind.yaml
  .github/workflows/documentation.yaml
  .github/workflows/external-contribution-labeler.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-codeql.yaml
  .github/workflows/lint-go.yaml
  .github/workflows/lint-images-base.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
  .github/workflows/tests-l4lb.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: kind/backports, backport/1.12

#27865 fix duplicated ids in prerelease testing template
  .github/ISSUE_TEMPLATE/prerelease-testing.yaml
Labels: release-note/misc

#27887 test: custom calls: clean up kernel 4.9 leftovers
  test/k8s/custom_calls.go
Labels: area/CI, kind/cleanup, ready-to-merge, release-note/ci

#27872 bpf: Add missing traces for reply traffic to the proxy
  bpf/bpf_lxc.c
Labels: kind/bug, sig/datapath, area/proxy, area/monitor, release-note/bug, ready-to-merge, needs-backport/1.14

#27883 workflows/ipsec: Add missing `--flush-ct` for key rotation
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: kind/bug/CI, area/CI, area/encryption, release-note/ci

#27846 chore: Add deezer as cilium user
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#27911 ginkgo: Remove K8sDatapathCustomCalls
  .github/actions/ginkgo/main-focus.yaml
  test/k8s/custom_calls.go
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.13, needs-backport/1.14

#27874 contrib/kind: Log DNS queries in CoreDNS pods
  contrib/scripts/kind.sh
Labels: area/CI, ready-to-merge, release-note/ci, sig/contributing

#27798 bpf: lxc: support Pod->Service->Pod hairpinning with endpoint routes
  bpf/bpf_lxc.c
Labels: kind/bug, sig/datapath, release-note/bug, sig/policy, ready-to-merge, needs-backport/1.12, needs-backport/1.13, area/loadbalancing, needs-backport/1.14

#27649 [v1.14] Add SPIRE connection to status
  api/v1/models/status_response.go
  api/v1/models/zz_generated.deepcopy.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/status.go
  pkg/auth/always_fail_authhandler.go
  pkg/auth/always_pass_authhandler.go
  pkg/auth/cell.go
  pkg/auth/certs/provider.go
  pkg/auth/manager.go
  pkg/auth/manager_test.go
  pkg/auth/mutual_authhandler.go
  pkg/auth/mutual_authhandler_test.go
  pkg/auth/spire/certificate_provider.go
  pkg/auth/spire/delegate.go
Labels: ready-to-merge, kind/backports, backport/1.14

#27908 bpf: l3: limit kube-proxy workaround in l3_local_delivery() to bpf_overlay
  bpf/lib/l3.h
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, area/kube-proxy, needs-backport/1.14

#27913 pull skb data in cil_from_netdev path for HIGH_SCALE_IPCACHE mode
  bpf/lib/high_scale_ipcache.h
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, kind/community-contribution, feature/high-scale-ipcache, needs-backport/1.14

#27936 golangci: enforce use of cilium/dns over miekg/dns
  .golangci.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#27891 contrib: Fix remote detection for security branches
  contrib/backporting/common.sh
Labels: release-note/misc

#26380 bpf: refactor lib/fib.h to use new funcs
  bpf/bpf_lxc.c
  bpf/lib/fib.h
  bpf/lib/nodeport.h
  bpf/tests/session_affinity_test.c
  bpf/tests/xdp_nodeport_lb4_test.c
Labels: ready-to-merge, release-note/misc

#27889 hubble: Use protobuf GetType() helper in v1.FlowProtocol() to avoid possible panic
  pkg/hubble/api/v1/flow.go
Labels: kind/cleanup, area/metrics, release-note/misc, sig/hubble, needs-backport/1.14

#27833 Add Schenker to the user list
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#27728 envoy: introduce artifact copier
  install/kubernetes/cilium/templates/cilium-envoy/daemonset.yaml
  pkg/envoy/artifact_copier.go
  pkg/envoy/artifact_copier_test.go
  pkg/envoy/cell.go
Labels: kind/enhancement, area/proxy, ready-to-merge, release-note/misc

#27682 Spire: only get certificate if node owns ID
  pkg/auth/mutual_authhandler.go
  pkg/auth/mutual_authhandler_test.go
Labels: release-note/minor, ready-to-merge, area/servicemesh, feature/authentication

#27704 datapath: fix dbg-capture-proxy-[pre/post] reporting
  bpf/lib/proxy.h
  bpf/lib/proxy_hairpin.h
Labels: kind/bug, sig/datapath, area/proxy, release-note/bug, ready-to-merge

#27823 Register cluster-id and cluster-name flags through hive
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-aws_hive.md
  Documentation/cmdref/cilium-operator-aws_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-azure_hive.md
  Documentation/cmdref/cilium-operator-azure_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-generic_hive.md
  Documentation/cmdref/cilium-operator-generic_hive_dot-graph.md
  Documentation/cmdref/cilium-operator_hive.md
  Documentation/cmdref/cilium-operator_hive_dot-graph.md
  clustermesh-apiserver/main.go
  clustermesh-apiserver/users_mgmt.go
  clustermesh-apiserver/users_mgmt_test.go
  clustermesh-apiserver/vmmanager.go
  daemon/cmd/cells.go
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  kvstoremesh/main.go
  kvstoremesh/option/config.go
  operator/cmd/flags.go
  operator/cmd/root.go
  operator/identitygc/cell.go
  operator/identitygc/gc.go
  operator/identitygc/gc_test.go
  operator/identitygc/kvstore_gc.go
  operator/watchers/k8s_service_sync.go
  pkg/clustermesh/cell.go
  pkg/clustermesh/clustermesh.go
  pkg/clustermesh/clustermesh_test.go
  pkg/clustermesh/common/clustermesh.go
  pkg/clustermesh/common/config_test.go
  pkg/clustermesh/kvstoremesh/kvstoremesh.go
  pkg/clustermesh/services_test.go
  pkg/clustermesh/types/option.go
  pkg/clustermesh/types/option_test.go
  pkg/clustermesh/types/types.go
  pkg/endpoint/endpoint_test.go
  pkg/endpoint/redirect_test.go
  pkg/identity/cache/allocation_test.go
  pkg/identity/cache/cache_test.go
  pkg/identity/numericidentity.go
  pkg/option/config.go
  pkg/option/fake/config.go
  pkg/service/store/store.go
Labels: kind/cleanup, ready-to-merge, area/clustermesh, release-note/misc

#27937 close status collector when daemon exits
  daemon/cmd/daemon_main.go
  pkg/status/status.go
Labels: release-note/bug, ready-to-merge, kind/community-contribution

#27663 Delete auth map entries of deleted SVID
  pkg/auth/certs/provider.go
  pkg/auth/manager.go
  pkg/auth/manager_test.go
  pkg/auth/spire/delegate.go
Labels: release-note/minor, ready-to-merge, area/servicemesh, feature/authentication

#27220 ci-ipsec-upgrade: Enable IPv6
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci, needs-backport/1.13, needs-backport/1.14

#27957 ci: trigger multi-pool conformance workflow using ariane
  .github/ariane-config.yaml
  .github/workflows/conformance-multi-pool.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#27931 docs: Add Makefile and documentation for "fast" development targets
  Documentation/contributing/development/dev_setup.rst
  Makefile
  contrib/testing/kind-common.yaml
  contrib/testing/kind-fast.yaml
  contrib/testing/kind-values.yaml
Labels: release-note/misc, sig/contributing

#27969 ci: set multi-pool conformance workflow status on start
  .github/workflows/conformance-multi-pool.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#27855 pkg/node: Updates GetIPv6AllocCIDRs() to Properly Return Secondary CIDRs
  pkg/node/types/node.go
  pkg/node/types/node_test.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#27918 docs: egressgw: document incompatibility with Clustermesh
  Documentation/network/egress-gateway.rst
Labels: area/documentation, ready-to-merge, area/clustermesh, release-note/misc, feature/egress-gateway

#27968 ipam: report IP owner of non-default pool IPs in multi-pool IPAM
  pkg/ipam/allocator.go
Labels: release-note/minor, ready-to-merge, sig/ipam, area/ipam, needs-backport/1.14

#27963 ipam/multipool: Fix bug where allocator was unable to update CiliumNode
  pkg/ipam/allocator/multipool/node_handler.go
  pkg/ipam/allocator/multipool/node_handler_test.go
Labels: release-note/bug, ready-to-merge, area/ipam, needs-backport/1.14

#27929 docker: Tame xargs warning
  Makefile.docker
Labels: ready-to-merge, release-note/misc

#27882 Fix global service incompatibility when v1.14 agents connect to a v1.13 cluster
  pkg/service/store/store.go
Labels: kind/bug, release-note/bug, ready-to-merge, kind/backports, area/clustermesh, backport/1.14

#27977 Clean up tests-ipsec-upgrade workflow
  .github/workflows/tests-ipsec-upgrade.yaml
  contrib/scripts/print-downgrade-version.sh
Labels: ready-to-merge, release-note/ci

#27984 egressgw: reject config with CiliumEndpointSlice
  Documentation/network/egress-gateway.rst
  pkg/egressgateway/manager.go
Labels: area/documentation, release-note/minor, ready-to-merge, feature/egress-gateway

#27997 ipam: let `allocator.Dump` return map of allocated IPs per pool
  pkg/ipam/allocator.go
  pkg/ipam/crd.go
  pkg/ipam/hostscope.go
  pkg/ipam/ipam_test.go
  pkg/ipam/multipool.go
  pkg/ipam/multipool_test.go
  pkg/ipam/noop_allocator.go
  pkg/ipam/types.go
Labels: release-note/misc, sig/ipam, area/ipam

#27978 @eloycoto is no longer an active committer
  MAINTAINERS.md
Labels: ready-to-merge, release-note/misc

#27988 Update l2-announcements.rst
  Documentation/network/l2-announcements.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#27932 Add an option to Cilium to set the persistent keepalive for cilium_wg0
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  pkg/option/config.go
  pkg/wireguard/agent/agent.go
Labels: area/daemon, release-note/minor, ready-to-merge, area/encryption, kind/community-contribution

#27805 policy: Fix potential nil pointer deref in selectorManager.GetSelections
  pkg/policy/selectorcache.go
  pkg/policy/selectorcache_test.go
Labels: kind/bug, ready-to-merge, release-note/misc, needs-backport/1.12, affects/v1.12, needs-backport/1.13, affects/v1.13, affects/v1.14, needs-backport/1.14

#27854 Correlate flows with CiliumNetworkPolicies
  api/v1/flow/README.md
  api/v1/flow/flow.pb.go
  api/v1/flow/flow.pb.json.go
  api/v1/flow/flow.proto
  api/v1/flow/flow_deepcopy.pb.go
  api/v1/observer/observer.pb.go
  pkg/hubble/api/v1/interface.go
  pkg/hubble/parser/threefour/parser.go
  pkg/hubble/parser/threefour/parser_test.go
  pkg/policy/correlation/correlation.go
  pkg/policy/correlation/correlation_test.go
  vendor/google.golang.org/protobuf/internal/msgfmt/format.go
  vendor/google.golang.org/protobuf/testing/protocmp/reflect.go
  vendor/google.golang.org/protobuf/testing/protocmp/util.go
  vendor/google.golang.org/protobuf/testing/protocmp/xform.go
  vendor/modules.txt
Labels: kind/feature, area/monitor, release-note/minor, ready-to-merge, sig/hubble

#28000 renovate: fix match string for go version updates in go.mod
  .github/renovate.json5
Labels: ready-to-merge, release-note/ci

#28012 cilium: Ensure xfrm state is initialized for route IP before publish
  daemon/cmd/daemon.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: kind/bug, release-note/bug, area/encryption, needs-backport/1.11, needs-backport/1.12, backport/author, needs-backport/1.13, needs-backport/1.14

#27892 Improve bump-readme.sh
  contrib/release/bump-readme.sh
Labels: release-note/misc

#28008 CI images: Define a variable for the floating tags
  .github/workflows/build-images-ci.yaml
Labels: ready-to-merge, release-note/ci

#28028 test: add namespace name in pod metadata test
  pkg/k8s/labels_test.go
Labels: release-note/misc, backport-pending/1.12, backport-pending/1.13, backport-pending/1.14

#28032 [1.14] test: add namespace name in pod metadata test
  pkg/k8s/labels_test.go
Labels: ready-to-merge, kind/backports, backport/1.14

#28033 [1.13] test: add namespace name in pod metadata test
  pkg/k8s/labels_test.go
Labels: ready-to-merge, kind/backports, backport/1.13

#28034 [1.12] test: add namespace name in pod metadata test
  pkg/k8s/labels_test.go
Labels: ready-to-merge, kind/backports, backport/1.12

#28041 Revert "CI images: Define a variable for the floating tags"
  .github/workflows/build-images-ci.yaml
Labels: release-note/ci

#27832 [v1.12] docs: Harmonise references to Cilium Slack
  Documentation/bpf.rst
  Documentation/check-build.sh
  Documentation/community/community.rst
  Documentation/community/governance/commit_access.rst
  Documentation/community/roadmap.rst
  Documentation/concepts/kubernetes/troubleshooting.rst
  Documentation/conf.py
  Documentation/configuration/argocd-issues.rst
  Documentation/contributing/development/contributing_guide.rst
  Documentation/contributing/release/backports.rst
  Documentation/contributing/testing/e2e.rst
  Documentation/contributing/testing/index.rst
  Documentation/gettinghelp.rst
  Documentation/gettingstarted/cni-chaining-generic-veth.rst
  Documentation/gettingstarted/gsg_requirements.rst
  Documentation/gettingstarted/http.rst
  Documentation/gettingstarted/hubble_cli.rst
  Documentation/gettingstarted/index.rst
  Documentation/gettingstarted/k3s.rst
  Documentation/gettingstarted/k8s-install-default.rst
  Documentation/gettingstarted/k8s-install-external-etcd.rst
  Documentation/gettingstarted/policy-creation.rst
  Documentation/glossary.rst
  Documentation/operations/troubleshooting.rst
  Documentation/operations/upgrade.rst
Labels: kind/backports, backport/1.12

#28021 v1.14 Backports 2023-09-08
  daemon/cmd/daemon.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: kind/backports, backport/1.14

#28022 v1.13 Backports 2023-09-08
  daemon/cmd/daemon.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: ready-to-merge, kind/backports, backport/1.13

#27999 ci-e2e: Do not print matrix config in each step
  .github/workflows/conformance-e2e.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci

#27792 Fix metrics labeling with only directed source/destination context op…
  pkg/hubble/metrics/api/context.go
  pkg/hubble/metrics/api/context_test.go
Labels: release-note/bug, ready-to-merge, area/metrics, sig/hubble, kind/community-contribution, needs-backport/1.14

#28052 Prepare for release v1.14.2
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  pkg/k8s/apis/cilium.io/register.go
Labels: kind/backports, kind/release, backport/1.14

#28054 Prepare for release v1.12.14
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.12

#28053 Prepare for release v1.13.7
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.13

#28002 k8s: remove extensions/v1beta1 support
  cilium/cmd/preflight_k8s_valid_cnp.go
  pkg/k8s/synced/crd.go
  pkg/k8s/version/version.go
Labels: kind/cleanup, sig/k8s, ready-to-merge, release-note/misc

#27824 lbmap: correct comment for Service4Value and Service6Value
  pkg/maps/lbmap/ipv4.go
  pkg/maps/lbmap/ipv6.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#28050 cni: use case-insensitive names for CNI chaining mode
  daemon/cmd/cni/config.go
Labels: release-note/minor, ready-to-merge

#28045 docs: Remove "by Default" suffix in cilium-agent metrics header
  Documentation/observability/metrics.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#28058 chore: Add Prometheus templating to Cilium Metrics Dashboard
  install/kubernetes/cilium/files/cilium-agent/dashboards/cilium-dashboard.json
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#27541 bpf: make it easier to figure out which BUILD_PERMUTATION failed
  bpf/Makefile
  bpf/Makefile.bpf
Labels: sig/datapath, ready-to-merge, area/CI-improvement, release-note/misc

#27996 Avoid panic when counting IPsec keys
  cilium/cmd/encrypt_status.go
Labels: sig/datapath, release-note/bug, ready-to-merge, area/encryption

#27712 docs: rephrasing the hubble intro doc
  Documentation/gettingstarted/hubble_intro.rst
Labels: area/documentation, release-note/misc, sig/hubble, kind/community-contribution, needs-backport/1.13, needs-backport/1.14

#27433 Replace use of `strict` to true for kubeProxyReplacement in helm chart
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: release-note/bug, ready-to-merge, area/helm, sig/agent, kind/community-contribution

#27850 images: Support updating Envoy to PR images
  images/scripts/update-cilium-envoy-image.sh
Labels: kind/enhancement, ready-to-merge, release-note/misc, area/build

#27933 can create the directory for the customized cni conf and remove the cni conf file in cleanup command
  cilium/cmd/cleanup.go
  daemon/cmd/cni/config.go
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: area/cni, release-note/minor, ready-to-merge, kind/community-contribution

#28065 bugtool: various updates to BPF map dump
  bugtool/cmd/configuration.go
Labels: ready-to-merge, area/bugtool, release-note/misc, needs-backport/1.14

#28090 bpf,ci: Remove coverage collection from BPF tests
  .github/workflows/lint-bpf-checks.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#27870 daemon: Add option conntrackGCMaxInterval
  Documentation/cmdref/cilium-agent.md
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  daemon/cmd/daemon_main.go
  install/kubernetes/Makefile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/maps/ctmap/ctmap.go
  pkg/maps/ctmap/ctmap_test.go
  pkg/option/config.go
Labels: sig/datapath, area/daemon, ready-to-merge, release-note/misc, needs-backport/1.12, needs-backport/1.13, feature/conntrack, area/fqdn, needs-backport/1.14

#28128 install: Update image digests for v1.14.2
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.14

#28129 install: Update image digests for v1.13.7
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.13

#28121 policy/api: use netip.Addr when sanitizing CIDR rules
  pkg/policy/api/rule_validation.go
  pkg/policy/api/rule_validation_test.go
Labels: sig/policy, ready-to-merge, release-note/misc

#28130 install: Update image digests for v1.12.14
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.12

#27195 pkg/datapath/loader: ApplySettings returns an unchecked error
  pkg/datapath/loader/base.go
Labels: sig/loader, sig/datapath, area/daemon, area/misc, ready-to-merge, release-note/misc, resiliency

#28123 [1.14] bpf: lxc: support Pod->Service->Pod hairpinning with endpoint routes
  bpf/bpf_lxc.c
Labels: ready-to-merge, kind/backports, backport/1.14

#28131 Refactor CiliumExecContext() Retry Logic
  test/helpers/kubectl.go
Labels: kind/bug/CI, area/CI, ready-to-merge, area/CI-improvement, release-note/ci, needs-backport/1.12, affects/v1.11, kind/community-contribution, needs-backport/1.13, needs-backport/1.14

#28122 ci: Run BPF lints on workflow definition changes
  .github/workflows/lint-bpf-checks.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#28132 gh/workflows: Bump CLI to v0.15.8 in e2e tests
  .github/workflows/conformance-e2e.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#28133 bpf: lxc: fix source sec identity in hairpin trace notification
  bpf/bpf_lxc.c
Labels: kind/bug, sig/datapath, area/monitor, release-note/bug, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#27841 Change routing-mode and tunnel-protocol based on .Values.tunnel and .Values.routingMode
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: release-note/bug, ready-to-merge, area/helm, kind/community-contribution, needs-backport/1.14

#28010 Daemon: Updates Detect() Call to Return Detected Devices
  daemon/cmd/daemon.go
Labels: kind/bug, release-note/bug, ready-to-merge, feature/l2-announcement

#27912 cilium/cmd: cilium status --verbose and cilium-health status --succinct support show IPv6 IP
  pkg/health/client/client.go
Labels: kind/enhancement, area/misc, release-note/minor, ready-to-merge, area/cli, area/health, feature/ipv6, kind/community-contribution

#27958 helm: set GOMEMLIMIT via k8s downward API
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: kind/enhancement, sig/k8s, release-note/minor, ready-to-merge, area/helm, sig/agent

#28055 docs: Update the message of Gateway API 'Programmed'
  Documentation/network/servicemesh/gateway-api/troubleshooting.rst
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution

#28056 docs: Update the tile for 'kubectl get' Gateway API
  Documentation/network/servicemesh/gateway-api/http.rst
  Documentation/network/servicemesh/gateway-api/https.rst
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution

#28013 Cilium Charts set the persistent keepalive for cilium_wg0
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#28048 CI: Silences call to cilium uninstall
  Makefile
Labels: release-note/misc

#28079 Splits Apart kind-image-fast Make Target
  Makefile
Labels: release-note/misc

#28035 BGP CP: Calls String() Afi/Safi Methods instead of Duplicative Funcs
  pkg/bgpv1/api/conversions.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, area/bgp

#28154 egressgw: make reconciliationEventsCount an atomic.Uint64
  pkg/egressgateway/manager.go
  pkg/egressgateway/manager_privileged_test.go
Labels: ready-to-merge, release-note/ci, feature/egress-gateway

#27959 Fix cilium panic when HttpRoute with missing port.
  operator/pkg/gateway-api/httproute_reconcile_test.go
  operator/pkg/gateway-api/routechecks/route_checks.go
  operator/pkg/model/ingestion/gateway.go
Labels: release-note/bug, ready-to-merge, area/servicemesh, kind/community-contribution, feature/k8s-gateway-api, needs-backport/1.14

#28018 Fix Gateway API HttpRoute cannot strip path prefix.
  operator/pkg/model/translation/envoy_virtual_host.go
  operator/pkg/model/translation/envoy_virtual_host_test.go
Labels: release-note/bug, ready-to-merge, area/servicemesh, kind/community-contribution, feature/k8s-gateway-api, needs-backport/1.14

#28071 daemon, fqdn: Remove log "DNS request no matching endpoint" when endpoint is nil
  daemon/cmd/fqdn.go
Labels: area/proxy, ready-to-merge, release-note/misc

#28162 build: fix usage of local golangci-lint installation
  Makefile
  Makefile.defs
Labels: kind/bug, release-note/misc, area/build

#28016 CI: Let actions/cilium-config use Chart.yaml-specified image by default
  .github/actions/cilium-config/action.yml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: area/CI, ready-to-merge, area/encryption, release-note/ci

#28003 labelsfilter: ignore StatefulSet-related labels by default for CID creation
  Documentation/operations/performance/scalability/identity-relevant-labels.rst
  pkg/k8s/apis/cilium.io/const.go
  pkg/labelsfilter/filter.go
  pkg/labelsfilter/filter_test.go
Labels: release-note/minor, sig/policy, ready-to-merge, kind/community-contribution

#28145 docs: Add more details for the Cluster Mesh key rotation
  Documentation/security/network/encryption-ipsec.rst
Labels: area/documentation, ready-to-merge, area/encryption, release-note/misc, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#28031 ipam/multipool: Fix comment for removeExpiration
  pkg/ipam/multipool.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, kind/community-contribution

#28148 Ensures daemon managed controllers are stopped when the daemon shuts down.
  daemon/cmd/daemon.go
Labels: kind/cleanup, area/daemon, ready-to-merge, release-note/misc, sig/agent

#28173 pkg/policy: index policies by k8s UID
  pkg/policy/repository.go
Labels: kind/performance, release-note/minor, sig/policy, ready-to-merge, affects/v1.12, affects/v1.13, affects/v1.14

#28179 README: Update releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#27986 l2respondermap: Correct the comment for L2Responder Key and Stats
  pkg/maps/l2respondermap/l2_responder_map4.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, kind/community-contribution

#28015 l2respondermap: Rename the L2Responder key create function
  pkg/maps/l2respondermap/l2_responder_map4.go
  pkg/maps/l2respondermap/l2_responder_map4_fake.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#28200 gha: Remove priviledged helm option in {Ingress, Gateway}
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ingress.yaml
Labels: ready-to-merge, release-note/ci, needs-backport/1.13

#27817 Register service/endpoint flags through hive
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-aws_hive.md
  Documentation/cmdref/cilium-operator-aws_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-azure_hive.md
  Documentation/cmdref/cilium-operator-azure_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator-generic_hive.md
  Documentation/cmdref/cilium-operator-generic_hive_dot-graph.md
  Documentation/cmdref/cilium-operator.md
  Documentation/cmdref/cilium-operator_hive.md
  Documentation/cmdref/cilium-operator_hive_dot-graph.md
  clustermesh-apiserver/k8s/resources.go
  clustermesh-apiserver/main.go
  daemon/cmd/daemon_main.go
  daemon/k8s/resources.go
  operator/cmd/flags.go
  operator/k8s/resources.go
  pkg/bgpv1/test/fixtures.go
  pkg/defaults/defaults.go
  pkg/k8s/endpoints.go
  pkg/k8s/resource_ctors.go
  pkg/k8s/utils/utils.go
  pkg/k8s/utils/utils_test.go
  pkg/k8s/watchers/watcher.go
  pkg/k8s/watchers/watcher_test.go
  pkg/option/config.go
  test/controlplane/suite/agent.go
Labels: kind/cleanup, sig/k8s, ready-to-merge, release-note/misc, sig/agent

#27873 Fix bug when reusing the same cell in multiple hives
  pkg/hive/cell/invoke.go
  pkg/hive/hive_test.go
Labels: kind/bug, release-note/misc, needs-backport/1.14

#27100 BGP CP: Adds Support for Multi-Pool IPAM
  daemon/cmd/daemon.go
  pkg/bgpv1/agent/controller.go
  pkg/bgpv1/agent/controller_test.go
  pkg/bgpv1/agent/routermgr.go
  pkg/bgpv1/cell.go
  pkg/bgpv1/manager/instance.go
  pkg/bgpv1/manager/manager.go
  pkg/bgpv1/manager/pod_ip_pool_reconciler.go
  pkg/bgpv1/manager/pod_ip_pool_reconciler_test.go
  pkg/bgpv1/manager/reconcile.go
  pkg/bgpv1/manager/workdiff.go
  pkg/bgpv1/mock/mocks.go
  pkg/bgpv1/test/adverts_test.go
  pkg/bgpv1/test/fixtures.go
  pkg/bgpv1/test/objects.go
  pkg/ipam/types/types.go
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeeringpolicies.yaml
  pkg/k8s/apis/cilium.io/v2alpha1/bgpp_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepequal.go
Labels: kind/feature, release-note/minor, ready-to-merge, needs-rebase, area/bgp

#28170 envoy: update cilium/proxy to latest version
  Documentation/helm-values.rst
  go.mod
  go.sum
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  vendor/modules.txt
Labels: area/proxy, ready-to-merge, release-note/misc, area/servicemesh

#28198 contrib: Fix remote repo detection for .git suffix
  contrib/backporting/common.sh
Labels: ready-to-merge, release-note/misc

#28044 CI Images: Don't push floating tags from feature branches
  .github/workflows/build-images-ci.yaml
Labels: ready-to-merge, release-note/ci

#28229 Fix the build
  pkg/bgpv1/test/fixtures.go
Labels: ready-to-merge, release-note/ci

#28221 Make tolerations configurable in clustermesh-apiserver certgen job
  install/kubernetes/cilium/templates/clustermesh-apiserver/tls-cronjob/_job-spec.tpl
Labels: ready-to-merge, area/clustermesh, release-note/misc, area/helm

#27871 examples: Fix YAML error backendRefs in HTTP Header Modifier
  examples/kubernetes/gateway/request-header.yaml
Labels: release-note/bug, ready-to-merge, kind/community-contribution

#28227 v1.12: manual backport of #27193
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
  .github/workflows/tests-l4lb.yaml
Labels: ready-to-merge, kind/backports, area/CI-improvement, release-note/ci, backport/1.12

#28228 CI images: Define a variable for the floating tags
  .github/workflows/build-images-ci.yaml
Labels: ready-to-merge, release-note/ci

#28239 Add option to pass api-rate-limit via Helm values
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge

#25937 bpf: don't build all bpf when making containers (fix)
  Makefile
Labels: ready-to-merge, release-note/misc, area/build

#28249 ci: fix AWS EKS K8s versions comment
  .github/actions/aws/k8s-versions.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/misc, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#28219 fqdn proxy: fix data race detection on TCP fqdn proxy
  pkg/fqdn/dnsproxy/noop_sessionudpfactory.go
  pkg/fqdn/dnsproxy/proxy.go
Labels: kind/bug, area/proxy, ready-to-merge, release-note/misc, needs-backport/1.14

#28225 install/kubernetes: add the `cilium/values.yaml` target to `.PHONY`
  install/kubernetes/Makefile
Labels: ready-to-merge, release-note/misc, sig/contributing, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14

#28153 endpoint: correct stats for total of policyregenerateion
  pkg/endpoint/policy.go
Labels: ready-to-merge, release-note/misc, sig/agent, kind/community-contribution

#27886 external-workloads: do not automatically infer ClusterID/Name
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon.go
  pkg/nodediscovery/nodediscovery.go
Labels: release-note/minor, ready-to-merge, area/clustermesh

#28134 bpf: overlay: clean up CB_SRC_LABEL handling in inter-cluster-SNAT path
  bpf/bpf_overlay.c
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#28253 Docs: Updates BGP CP for LB Class Support
  Documentation/network/bgp-control-plane.rst
Labels: area/documentation, release-note/misc, area/bgp

#28155 contrib/kind: custom kind values
  Documentation/contributing/development/dev_setup.rst
  Makefile
  contrib/testing/.gitignore
Labels: kind/enhancement, ready-to-merge, release-note/misc, area/build

#28247 ci: update k8s versions support for v1.13
  .github/actions/azure/k8s-versions.yaml
  .github/actions/gke/k8s-versions.yaml
Labels: area/CI, ready-to-merge, kind/backports, release-note/ci, backport/1.13

#28248 ci: update k8s versions support for v1.14
  .github/actions/gke/k8s-versions.yaml
Labels: area/CI, ready-to-merge, kind/backports, release-note/ci, backport/1.14

#28246 ci: update k8s versions support for v1.12
  .github/actions/azure/k8s-versions-schema.yaml
  .github/actions/azure/k8s-versions.yaml
  .github/ariane-config.yaml
  .github/workflows/conformance-aks.yaml
Labels: area/CI, ready-to-merge, kind/backports, release-note/ci, backport/1.12

#27684 daemon: don't wait for presence of unused CNC CRD
  pkg/k8s/synced/crd.go
Labels: sig/k8s, release-note/minor, ready-to-merge, sig/agent, kind/community-contribution

#28277 bpf: egressgw: allow to override external API
  bpf/bpf_lxc.c
  bpf/lib/egress_gateway.h
  bpf/lib/nat.h
  bpf/lib/nodeport.h
Labels: ready-to-merge, release-note/misc, feature/egress-gateway

#28063 bpf: Delete obsolete do_netdev_encrypt_pools()
  bpf/bpf_host.c
Labels: ready-to-merge, area/encryption, release-note/misc

#27983 daemon: Fix boostrap restore duration metric
  daemon/cmd/daemon.go
Labels: area/daemon, release-note/minor, ready-to-merge, sig/agent, kind/community-contribution

#28297 .github/actions: remove GKE K8s v1.23 from test matrix.
  .github/actions/gke/k8s-versions.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#27323 datapath: fix NodePort to remote hostns backend with tunnel config
  pkg/datapath/linux/config/config_test.go
  pkg/datapath/linux/devices_test.go
  pkg/option/config.go
Labels: release-note/bug, ready-to-merge, affects/v1.12, kind/community-contribution, affects/v1.13, affects/v1.14, needs-backport/1.14
