Repository cilium/cilium, pull requests merged in 2023-06, with the labels that each got.

#25744 ipsec: Reinitialize IPsec for new devices in ENI mode
  pkg/datapath/loader/base.go
  pkg/datapath/loader/loader.go
  pkg/datapath/loader/netlink.go
Labels: release-note/bug, ready-to-merge, area/encryption, area/eni, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#25733 v1.11 backports 2023-05-28
  pkg/envoy/server.go
Labels: kind/backports, backport/1.11

#25747 test: prevent panic on k8s services host fw test on some runs.
  test/k8s/datapath_configuration.go
Labels: ready-to-merge, release-note/ci, needs-backport/1.13

#25325 Updates k8sTest pkg to use netip.Addr
  test/k8s/service_helpers.go
Labels: area/CI, kind/cleanup, ready-to-merge, release-note/misc, kind/community-contribution

#25803 daemon: Reject BPF Host Routing without KPR=strict
  daemon/cmd/kube_proxy_replacement.go
Labels: sig/datapath, area/daemon, release-note/bug, ready-to-merge, needs-backport/1.13

#25797 Add improvements in Conformance Runtime
  .github/workflows/conformance-runtime.yaml
Labels: area/CI, area/CI-improvement, release-note/ci

#25821 pkg/datapath: skip TestArpPingHandlingForMultiDevice due flakiness
  pkg/datapath/linux/node_linux_test.go
Labels: area/CI, sig/datapath, release-note/misc, ci/flake

#25825 conformance-runtime: remove optimizations and update little-vm-helper
  .github/workflows/conformance-runtime.yaml
Labels: release-note/misc

#25835 Update USERS.md
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#25646 resource: Fix flaky test due to missing Done call
  pkg/k8s/resource/resource_test.go
Labels: ready-to-merge, release-note/misc

#25845 README: Update for latest snapshot prerelease
  README.rst
Labels: release-note/misc

#25828 bpf: encap: send TO_OVERLAY trace before adding encapsulation
  bpf/lib/encap.h
Labels: sig/datapath, ready-to-merge, release-note/misc

#25840 pkg/datapath: skip TestArpPingHandling due flakiness
  pkg/datapath/linux/node_linux_test.go
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/misc, ci/flake

#25836 .github: Push Helm charts for hotfixes
  .github/workflows/push-chart-ci.yaml
Labels: release-note/misc

#25777 bgp,test: Properly wait for FRR container to be ready
  test/k8s/bgp.go
Labels: kind/bug/CI, ready-to-merge, release-note/ci

#24970 statedb: Fix WriteJSON with multiple tables
  pkg/statedb/db.go
  pkg/statedb/db_test.go
Labels: ready-to-merge, release-note/misc

#25801 CI: Add JUnit reports upload
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks-v1.13.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
  .github/workflows/conformance-aws-cni-v1.13.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh-v1.11.yaml
  .github/workflows/conformance-clustermesh-v1.12.yaml
  .github/workflows/conformance-clustermesh-v1.13.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-e2e-v1.13.yaml
  .github/workflows/conformance-e2e.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-eks-v1.13.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads-v1.13.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke-v1.13.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind-proxy-daemonset.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster-v1.13.yaml
Labels: area/CI, ready-to-merge, area/CI-improvement, release-note/ci

#25858 wireguard: Always unset fwMark
  pkg/wireguard/agent/agent.go
Labels: kind/bug, ready-to-merge, kind/backports, upgrade-impact, area/encryption, backport/1.13

#25693 helm: add extraArgs to clustermesh-apiserver
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/clustermesh-apiserver/deployment.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/feature, ready-to-merge, area/clustermesh, release-note/misc, area/helm, kind/community-contribution

#25874 MAINTAINERS: Add Nick Young
  MAINTAINERS.md
Labels: release-note/misc

#25802 docs: Update governance voting templates
  Documentation/community/governance/commit_access.rst
Labels: area/documentation, release-note/misc

#25905 clustermesh-apiserver: write synced information into etcd
  clustermesh-apiserver/main.go
Labels: release-note/minor, ready-to-merge, area/clustermesh, sig/kvstore

#25834 gha: use Cilium CLI Helm mode for conformance-clustermesh
  .github/workflows/conformance-clustermesh.yaml
Labels: area/CI, ready-to-merge, area/clustermesh, release-note/ci

#25838 Add microsoft as user to cilium
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#25907 install: Fail helm if kube-proxy-replacement is not valid
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: area/daemon, ready-to-merge, release-note/misc, area/helm, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#25926 .github: add missing job to check for code changes
  .github/workflows/conformance-ginkgo.yaml
Labels: area/CI, release-note/ci

#25930 .github/workflows: add JUnit tag on workflows that have JUnits
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks-v1.13.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni-v1.11.yaml
  .github/workflows/conformance-aws-cni-v1.12.yaml
  .github/workflows/conformance-aws-cni-v1.13.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh-v1.11.yaml
  .github/workflows/conformance-clustermesh-v1.12.yaml
  .github/workflows/conformance-clustermesh-v1.13.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-e2e-v1.13.yaml
  .github/workflows/conformance-e2e.yaml
  .github/workflows/conformance-eks-v1.11.yaml
  .github/workflows/conformance-eks-v1.12.yaml
  .github/workflows/conformance-eks-v1.13.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads-v1.11.yaml
  .github/workflows/conformance-externalworkloads-v1.12.yaml
  .github/workflows/conformance-externalworkloads-v1.13.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-ginkgo.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke-v1.13.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-k8s-kind.yaml
  .github/workflows/conformance-kind-proxy-daemonset.yaml
  .github/workflows/conformance-multicluster-v1.11.yaml
  .github/workflows/conformance-multicluster-v1.12.yaml
  .github/workflows/conformance-multicluster-v1.13.yaml
  .github/workflows/conformance-runtime.yaml
Labels: area/CI, release-note/ci

#25606 Replaces K8s NewDeltaFIFO with NewDeltaFIFOWithOptions
  pkg/k8s/informer/informer.go
Labels: sig/k8s, ready-to-merge, release-note/misc, kind/community-contribution

#25827 bgpv1: Reset BGP session in UpdateNeighbor if necessary
  pkg/bgpv1/gobgp/server.go
  pkg/bgpv1/gobgp/state_test.go
  pkg/bgpv1/test/neighbor_test.go
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeeringpolicies.yaml
  pkg/k8s/apis/cilium.io/v2alpha1/bgpp_types.go
Labels: ready-to-merge, release-note/misc, area/bgp

#25911 bpf unit tests: Run tests on changes to pks/bpf/**
  .github/workflows/lint-bpf-checks.yaml
Labels: area/CI, sig/datapath, ready-to-merge, release-note/ci

#25833 test: Cleanup ginkgo test artifacts
  test/helpers/kubectl.go
Labels: ready-to-merge, release-note/ci

#25924 bpf: xdp: fix coccicheck warning about DROP_MISSED_TAIL_CALL
  bpf/bpf_xdp.c
Labels: sig/datapath, release-note/misc

#25904 build: Avoid cross compilation issue on Windows
  pkg/hive/hive.go
Labels: ready-to-merge, release-note/misc

#24464 docs: Deprecate CNPStatusUpdates/K8sEventHandover
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  operator/cmd/flags.go
Labels: release-note/minor, ready-to-merge

#25916 conformance-k8s-kind: Use Helm mode cilium-cli
  .github/workflows/conformance-k8s-kind.yaml
Labels: release-note/ci

#25723 docs: Slack updates
  Documentation/community/community.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, release-note/misc

#25947 conformance-runtime: Bump timeout to wait for images
  .github/workflows/conformance-runtime.yaml
Labels: release-note/ci

#25927 auth: implement re-authentication in case of rotated certificates
  pkg/auth/cell.go
  pkg/auth/manager.go
  pkg/auth/manager_test.go
Labels: kind/enhancement, ready-to-merge, release-note/misc, feature/servicemesh, release-blocker/1.14

#24902 docs: Add APAC timezone meeting to README
  README.rst
Labels: ready-to-merge, release-note/misc

#25931 Adding Eficode to USERS.md
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#25640 Update threat model
  Documentation/security/threat-model.rst
Labels: ready-to-merge, release-note/misc, needs-backport/1.13

#25001 Identity GC skips IDs that are used in CESs
  operator/identitygc/crd_gc.go
  operator/pkg/ciliumendpointslice/endpointslice.go
  operator/pkg/ciliumendpointslice/endpointslice_test.go
Labels: release-note/bug, ready-to-merge, needs-rebase, kind/community-contribution

#25914 bgpv1: graceful restart component test
  pkg/bgpv1/test/adverts_test.go
  pkg/bgpv1/test/neighbor_test.go
Labels: ready-to-merge, release-note/misc, area/bgp

#25950 Fix and improve Conformance Ginkgo UX
  .github/workflows/conformance-ginkgo.yaml
Labels: area/misc, release-note/misc

#25970 bgpv1: Extend the timeout for the Test_NeighborAddDel test
  pkg/bgpv1/test/neighbor_test.go
Labels: area/CI, ready-to-merge, release-note/ci, ci/flake, area/bgp

#25942 Remove references to GOPATH in documentation
  Documentation/contributing/development/contributing_guide.rst
  Documentation/contributing/development/dev_setup.rst
  Documentation/contributing/docs/docstest.rst
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution

#25906 Documentation: Document BGP timers & neighbor update behavior
  Documentation/network/bgp-control-plane.rst
Labels: ready-to-merge, release-note/misc, area/bgp

#25963 ipam/allocator: remove unused allocator types
  pkg/ipam/allocator/allocator.go
  pkg/ipam/allocator/allocator_test.go
  pkg/ipam/allocator/group.go
  pkg/ipam/allocator/group_test.go
  pkg/ipam/allocator/noop.go
  pkg/ipam/allocator/noop_test.go
  pkg/ipam/allocator/pool_allocator.go
  pkg/ipam/allocator/pool_allocator_test.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, sig/ipam, area/ipam

#25949 cilium/cmd: Deprecate `cilium endpoint regenerate` command
  Documentation/operations/upgrade.rst
  cilium/cmd/endpoint_regenerate.go
Labels: kind/cleanup, area/daemon, ready-to-merge, release-note/misc

#25107 Add detailed panic messages for slim ObjectMeta and ListMeta
  pkg/k8s/slim/k8s/apis/meta/v1/meta.go
Labels: ready-to-merge, release-note/misc

#25600 pkg/ipam: Update histogram buckets for trigger metrics
  pkg/ipam/metrics/metrics.go
Labels: ready-to-merge, release-note/misc

#25810 Makefile: use CLI options to set local images for kind-install-cilium-clustermesh
  Makefile
  contrib/testing/kind-clustermesh1.yaml
  contrib/testing/kind-clustermesh2.yaml
Labels: ready-to-merge, release-note/misc

#25767 docs: Deprecate `cluster-pool-v2beta`
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/network/concepts/ipam/cluster-pool.rst
  Documentation/operations/upgrade.rst
  operator/cmd/flags.go
  pkg/ipam/ipam.go
Labels: area/documentation, ready-to-merge, release-note/misc, sig/ipam, release-blocker/1.14, area/ipam

#25987 Add Zero Hash as user to Cilium
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#25973 auth: add missing config values to helm values
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/enhancement, ready-to-merge, release-note/misc, area/helm, feature/servicemesh

#25962 Delete stale v6 address from cilium_host
  pkg/datapath/loader/base.go
Labels: release-note/bug, ready-to-merge, upgrade-impact

#26018 auth: add missing stream package import
  pkg/auth/cell.go
Labels: ready-to-merge, release-note/misc

#25887 node: Replace node managers dynamic metrics with modular metrics
  daemon/cmd/status_test.go
  pkg/node/manager/cell.go
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
  test/controlplane/suite/agent.go
Labels: ready-to-merge, release-note/misc, area/modularization

#25960 docs: Add externalTrafficPolicy=Local description to BGP CPlane doc
  Documentation/network/bgp-control-plane.rst
Labels: ready-to-merge, release-note/misc

#25839 ci: Wait for hubble-relay to be ready before port-forward
  .github/workflows/conformance-aks-v1.11.yaml
  .github/workflows/conformance-aks-v1.12.yaml
  .github/workflows/conformance-aks-v1.13.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-gke-v1.11.yaml
  .github/workflows/conformance-gke-v1.12.yaml
  .github/workflows/conformance-gke-v1.13.yaml
  .github/workflows/conformance-gke.yaml
Labels: ready-to-merge, release-note/ci

#26022 job,test: Improved reliability of `TestTimer_DoubleTrigger`
  pkg/hive/job/job_test.go
Labels: ready-to-merge, release-note/ci, ci/flake

#26027 datapath/linux/ethtool: deflake TestIsVirtualDriver
  pkg/datapath/linux/ethtool/ethtool_linux_test.go
Labels: sig/datapath, ready-to-merge, release-note/ci, ci/flake

#25908 docker: Detect default "desktop-linux" builder
  Makefile.docker
Labels: ready-to-merge, release-note/misc, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#26060 gateway-api: now function GatewayAPI also supports TLSRoute
  operator/pkg/model/ingestion/gateway.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#26047 bpf: nodeport: wire up trace struct for IPv6 RevDNAT
  bpf/lib/nodeport.h
Labels: sig/datapath, area/monitor, ready-to-merge, release-note/misc, feature/ipv6, needs-backport/1.13

#26001 bgpv1: Set default IdleHoldTime after reset
  pkg/bgpv1/gobgp/server.go
Labels: release-note/minor, ready-to-merge, area/bgp

#26058 gateway-api: Remove unused function check
  operator/pkg/gateway-api/gateway_reconcile.go
Labels: kind/cleanup, ready-to-merge, kind/backports, release-note/misc, feature/servicemesh, backport/1.13

#26059 auth: fix initial k8s events sync in auth map gc
  pkg/auth/authmap_gc.go
  pkg/auth/authmap_gc_test.go
Labels: kind/bug, ready-to-merge, release-note/misc, feature/servicemesh

#25922 stream: Improve function documentation
  pkg/stream/observable.go
  pkg/stream/operators.go
  pkg/stream/sinks.go
  pkg/stream/sources.go
Labels: ready-to-merge, release-note/misc

#26019 .github: refactor job matrix generation into YAML files
  .github/actions/ginkgo/main-focus.yaml
  .github/actions/ginkgo/main-k8s-versions.yaml
  .github/actions/ginkgo/main-prs.yaml
  .github/actions/ginkgo/main-scheduled.yaml
  .github/workflows/conformance-ginkgo.yaml
  .github/workflows/lint-go.yaml
Labels: area/CI, area/CI-improvement, release-note/misc

#26020 Fix CI image build cache
  .github/workflows/ci-images-cache-cleaner.yaml
Labels: area/CI, area/misc, release-note/misc, needs-backport/1.11, needs-backport/1.12, needs-backport/1.13

#26085 gha: fix conformance-ginkgo base branch retrieval
  .github/workflows/conformance-ginkgo.yaml
Labels: kind/bug/CI, area/CI, release-note/misc

#26076 bpf: nat: remove unused ct_delete*() helpers
  bpf/lib/nat.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#26087 [v1.13] Backport print-chart-version script for dev Helm chart push
  contrib/scripts/print-chart-version.sh
Labels: kind/backports, release-note/misc, backport/1.13

#26088 [v1.12] Backport print-chart-version script for dev Helm chart push
  contrib/scripts/print-chart-version.sh
Labels: kind/backports, release-note/misc, backport/1.12

#26089 [v1.11] Backport print-chart-version script for dev Helm chart push
  contrib/scripts/print-chart-version.sh
Labels: kind/backports, release-note/misc, backport/1.11

#26086 .github: Fail if print-chart-version.sh fails or does not exist
  .github/workflows/push-chart-ci.yaml
Labels: area/CI, kind/cleanup, release-note/ci

#25873 Makefile: Fix kind deployment in quiet mode
  Makefile
Labels: release-note/misc

#25910 CRD List Generation
  .gitattributes
  CODEOWNERS
  Documentation/Makefile
  Documentation/check-crdlist.sh
  Documentation/crdlist.rst
  Documentation/internals/cilium_operator.rst
  Makefile
  pkg/k8s/apis/cilium.io/client/register.go
  tools/crdlistgen/main.go
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution

#26055 docs: add documentation for Ginkgo-based GHA
  Documentation/contributing/testing/ci.rst
  Documentation/contributing/testing/e2e.rst
  Documentation/images/gha-retry-1.png
  Documentation/images/gha-retry-2.png
  Documentation/images/gha-summary.png
  Documentation/spelling_wordlist.txt
Labels: area/documentation, area/CI, area/CI-improvement, release-note/ci

#22584 dnsproxy: Remove usage of regex lru
  pkg/fqdn/dnsproxy/proxy.go
  pkg/fqdn/dnsproxy/proxy_test.go
Labels: kind/enhancement, area/proxy, ready-to-merge, release-note/misc, kind/community-contribution

#26066 bugtool: dump auth map related information
  bugtool/cmd/configuration.go
Labels: kind/feature, area/bugtool, release-note/misc, feature/servicemesh, release-blocker/1.14

#26073 auth: temporarily disable node-based auth gc
  pkg/auth/cell.go
Labels: kind/bug, ready-to-merge, release-note/misc, feature/servicemesh

#26093 ipsec: Don't attempt per-node route deletion when unexistant
  pkg/datapath/linux/node.go
Labels: release-note/bug, ready-to-merge, area/encryption, release-blocker/1.11, needs-backport/1.11, release-blocker/1.12, needs-backport/1.12, release-blocker/1.13, needs-backport/1.13

#26156 Fix neighbor test flakes
  pkg/datapath/linux/node_linux_test.go
Labels: area/CI, sig/datapath, release-note/misc

#26161 v1.12 Backports 2023-06-13 (IPsec)
  pkg/datapath/linux/node.go
Labels: ready-to-merge, kind/backports, release-blocker/1.12, backport/1.12

#26160 v1.13 Backports 2023-06-13 (IPsec)
  pkg/datapath/linux/node.go
Labels: ready-to-merge, kind/backports, release-blocker/1.13, backport/1.13

#26164 docs: fix wording for the upgrade guide
  Documentation/operations/upgrade.rst
Labels: release-note/minor, ready-to-merge, kind/backports, backport/1.11

#26024 test/nat46x64: silence curl output
  test/nat46x64/test.sh
Labels: area/CI, ready-to-merge, release-note/ci

#24608 devices: allow local route entries in device mngr
  pkg/datapath/linux/devices.go
  pkg/datapath/linux/devices_test.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#25563 hubble: Add GetNamespaces to observer API
  Documentation/internals/hubble.rst
  api/v1/observer/README.md
  api/v1/observer/observer.pb.go
  api/v1/observer/observer.pb.json.go
  api/v1/observer/observer.proto
  api/v1/observer/observer_grpc.pb.go
  daemon/cmd/hubble.go
  pkg/hubble/observer/local_observer.go
  pkg/hubble/observer/local_observer_test.go
  pkg/hubble/observer/namespace_manager.go
  pkg/hubble/observer/namespace_manager_test.go
  pkg/hubble/relay/observer/server.go
  pkg/hubble/relay/observer/server_test.go
  pkg/hubble/relay/server/server_test.go
  pkg/hubble/testutils/fake.go
  pkg/node/types/nodename.go
Labels: kind/feature, release-note/minor, ready-to-merge, sig/hubble

#25932 bpf: tests: test EgressGW reply path with native routing
  .github/workflows/lint-bpf-checks.yaml
  bpf/tests/tc_egressgw_snat.c
  bpf/tests/xdp_egressgw_reply.c
Labels: sig/datapath, ready-to-merge, release-note/ci, feature/egress-gateway

#26197 ctmap: right-shift kernel jiffies by BPF_MONO_SCALER
  pkg/maps/ctmap/ctmap.go
Labels: kind/bug, sig/datapath, release-note/misc, release-blocker/1.13, release-blocker/1.14

#26147 backport (v1.13): docs: Promote Deny Policies out of Beta
  Documentation/security/policy/language.rst
Labels: kind/backports, release-note/misc, backport/1.13

#26148 backport (v1.12): docs: Promote Deny Policies out of Beta
  Documentation/policy/language.rst
Labels: kind/backports, release-note/misc, backport/1.12

#26149 backport (v1.11): docs: Promote Deny Policies out of Beta
  Documentation/policy/language.rst
Labels: kind/backports, release-note/misc, backport/1.11

#26132 operator: Fix default API server addr in metrics subcommand
  Documentation/cmdref/cilium-operator-alibabacloud_metrics_list.md
  Documentation/cmdref/cilium-operator-aws_metrics_list.md
  Documentation/cmdref/cilium-operator-azure_metrics_list.md
  Documentation/cmdref/cilium-operator-generic_metrics_list.md
  Documentation/cmdref/cilium-operator_metrics_list.md
  operator/cmd/metrics_list.go
  operator/cmd/root.go
Labels: release-note/minor, ready-to-merge, area/metrics, area/operator, release-blocker/1.14

#26039 docs: cleanup SPIRE & Envoy values in helm reference
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/documentation, ready-to-merge, release-note/misc, area/servicemesh

#25956 helm: Add flag to disable CRD check for mass server-side apply
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/validate.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, release-note/misc, area/helm, kind/community-contribution, needs-backport/1.13

#25954 bgpv1: Documentation update to reflect current architecture
  Documentation/network/bgp-control-plane.rst
Labels: ready-to-merge, release-note/misc, area/bgp

#25876 BGP CP: Updates docs for PeerPort
  Documentation/network/bgp-control-plane.rst
  pkg/bgpv1/README.md
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution

#25604 Updates informer pkg to use TransformFunc()
  clustermesh-apiserver/vmmanager.go
  operator/cmd/ccnp_event.go
  operator/cmd/cilium_node.go
  operator/cmd/cnp_event.go
  operator/cmd/root.go
  operator/identitygc/gc_test.go
  operator/watchers/cilium_endpoint.go
  operator/watchers/node.go
  operator/watchers/node_taint.go
  operator/watchers/pod.go
  pkg/k8s/factory_functions.go
  pkg/k8s/factory_functions_test.go
  pkg/k8s/informer/benchmarks/informer_benchmarks_test.go
  pkg/k8s/informer/informer.go
  pkg/k8s/init_test.go
  pkg/k8s/resource_ctors.go
  pkg/k8s/watchers/cilium_clusterwide_envoy_config.go
  pkg/k8s/watchers/cilium_egress_gateway_policy.go
  pkg/k8s/watchers/cilium_endpoint.go
  pkg/k8s/watchers/cilium_envoy_config.go
  pkg/k8s/watchers/cilium_local_redirect_policy.go
  pkg/k8s/watchers/cilium_node.go
  pkg/nodediscovery/nodediscovery.go
Labels: kind/enhancement, sig/k8s, ready-to-merge, release-note/misc, kind/community-contribution

#26200 v1.13 backport for #26197
  pkg/maps/ctmap/ctmap.go
Labels: kind/backports, backport/1.13

#26189 daemon: don't allow egress gateway with KV store identity allocation
  daemon/cmd/daemon_main.go
Labels: release-note/minor, ready-to-merge, feature/egress-gateway, sig/agent, needs-backport/1.12, needs-backport/1.13

#26065 ingress: Default TLS certificate for ingress
  Documentation/helm-values.rst
  Documentation/network/servicemesh/ingress.rst
  Documentation/network/servicemesh/tls-default-certificate.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  operator/cmd/root.go
  operator/option/config.go
  operator/pkg/ingress/ingress.go
  operator/pkg/ingress/ingress_options.go
  operator/pkg/ingress/secret.go
  operator/pkg/model/ingestion/ingress.go
  operator/pkg/model/ingestion/ingress_test.go
Labels: release-note/minor, ready-to-merge, area/servicemesh, kind/community-contribution, feature/k8s-ingress

#26171 jenkinsfiles: remove ginkgo-based Jenkinsfiles
  Documentation/network/kubernetes/compatibility.rst
  Documentation/network/kubernetes/requirements.rst
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
Labels: area/CI, kind/feature, area/CI-improvement, release-note/misc

#25913 ci: github actions job to run kubernetes upstream conformance tests
  .github/workflows/conformance-k8s-kind-network-policies.yaml
Labels: area/CI, area/CI-improvement, release-note/ci, release-blocker/1.14

#26202 Prepare for release v1.13.4
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.13

#26204 Prepare for release v1.11.18
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.11

#26167 helm: Correct the flag names in validate.yaml
  install/kubernetes/cilium/templates/validate.yaml
Labels: ready-to-merge, release-note/misc, area/helm

#26174 bgpv1: Avoid ports from common ip_local_port_range in unit tests
  pkg/bgpv1/manager/reconcile_test.go
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci, area/bgp

#26208 auth: feature flag for authentication
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/templates/validate.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/auth/cell.go
Labels: kind/enhancement, ready-to-merge, release-note/misc, area/servicemesh, release-blocker/1.14, feature/authentication

#26127 k8s / policy: allow all services for toServices when using highscale ipcache
  pkg/k8s/rule_translate.go
  pkg/k8s/watchers/watcher.go
  test/k8s/manifests/high-scale-ipcache.yaml
Labels: sig/policy, release-note/misc, release-blocker/1.14, feature/high-scale-ipcache

#25975 ipcache: fix not waiting for k8s caches to sync
  pkg/ipcache/ipcache.go
  pkg/ipcache/metadata.go
Labels: kind/bug, sig/policy, ready-to-merge, kind/regression, release-note/misc

#25535 docs: Update development setup with preferred kind-based approach
  Documentation/contributing/development/dev_setup.rst
Labels: kind/enhancement, area/documentation, ready-to-merge, release-note/misc, sig/contributing

#26084 AWS CNI v1.12 Cilium install fixed.
  .github/workflows/conformance-aws-cni-v1.12.yaml
Labels: ready-to-merge, release-note/misc

#26219 gha: Increase Ingress status wait time
  .github/workflows/conformance-ingress.yaml
Labels: ready-to-merge, release-note/ci, area/servicemesh, feature/k8s-ingress

#26035 Documentation: add CONFIG_SCHEDSTATS to required kconfigs
  Documentation/operations/system_requirements.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#26250 Replace client-go with private fork.
  go.mod
  go.sum
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#26267 install: Update image digests for v1.13.4
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.13

#26268 install: Update image digests for v1.11.18
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.11

#26270 install: Update image digests for v1.12.11
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.12

#26067 docs: add upgrade note about deletion of stale entries in clustermesh
  Documentation/operations/upgrade.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, area/clustermesh, release-note/misc, release-blocker/1.14

#26260 CI: Stabilize ConformanceKindEnvoyDaemonSet
  .github/workflows/conformance-kind-proxy-daemonset.yaml
Labels: kind/enhancement, area/CI, ready-to-merge, release-note/ci

#26272 Update stable releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#26181 k8s: Use Resource[*Pod] in pod watcher for the local pod watching
  pkg/k8s/watchers/pod.go
Labels: kind/bug, area/daemon, sig/k8s, kind/performance, ready-to-merge, release-note/misc, sig/agent

#26157 metrics: provide the global services metric through the hive
  pkg/clustermesh/clustermesh.go
  pkg/clustermesh/metrics.go
  pkg/clustermesh/services.go
  pkg/clustermesh/services_test.go
Labels: kind/cleanup, ready-to-merge, area/metrics, area/clustermesh, release-note/misc

#26216 bpf: lb: minor cleanups
  bpf/lib/lb.h
Labels: sig/datapath, release-note/misc

#26125 hubble: Remove pod-short metrics context option
  Documentation/observability/metrics.rst
  pkg/hubble/metrics/api/context.go
  pkg/hubble/metrics/api/context_test.go
  pkg/hubble/metrics/api/registry_test.go
  pkg/hubble/metrics/http/plugin_test.go
Labels: kind/enhancement, release-note/minor, ready-to-merge, release-blocker/1.14

#26220 clustermesh-apiserver: don't wait for the presence of unused CRDs
  clustermesh-apiserver/main.go
  pkg/k8s/synced/crd.go
Labels: kind/cleanup, ready-to-merge, area/clustermesh, release-note/misc

#26177 bpf: xdp: use CT tuple hash for tunnel encap's source port
  bpf/lib/encap.h
  bpf/lib/nodeport.h
Labels: kind/enhancement, sig/datapath, ready-to-merge, release-note/misc, feature/egress-gateway, release-blocker/1.14, area/loadbalancing

#26116 policy: Add GetAuthTypes()
  pkg/policy/distillery.go
  pkg/policy/distillery_test.go
  pkg/policy/l4.go
  pkg/policy/repository.go
Labels: kind/enhancement, sig/policy, ready-to-merge, release-note/misc, area/servicemesh, release-blocker/1.14, feature/authentication

#26296 helm: address review comments regarding helm value docs
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/documentation, ready-to-merge, release-note/misc, area/helm

#26271 clustermesh: ensure that the status of the remote clusters controller is correcty reported
  pkg/clustermesh/internal/config_test.go
  pkg/clustermesh/internal/remote_cluster.go
  pkg/clustermesh/kvstoremesh/kvstoremesh_test.go
  pkg/clustermesh/kvstoremesh/remote_cluster.go
  pkg/clustermesh/remote_cluster.go
  pkg/clustermesh/remote_cluster_test.go
Labels: kind/bug, ready-to-merge, area/clustermesh, release-note/misc

#26290 bpf: fib: delay smac selection until fib_do_redirect() has picked the oif
  bpf/lib/fib.h
Labels: kind/bug, sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.13, release-blocker/1.14

#26068 auth: policy based auth map GC
  pkg/auth/authmap_gc.go
  pkg/auth/authmap_gc_test.go
  pkg/auth/cell.go
Labels: kind/bug, ready-to-merge, release-note/misc, area/servicemesh, release-blocker/1.14, feature/authentication

#26263 .github: rebuild ginkgo tests in case of cache miss
  .github/workflows/conformance-ginkgo.yaml
Labels: area/misc, release-note/misc

#26305 Ingnore updating client-go fork in renovate dependencies
  .github/renovate.json5
Labels: area/misc, release-note/misc

#26230 docs: remove clustermesh-apiserver gops port from system requirements
  Documentation/operations/system_requirements.rst
Labels: kind/cleanup, ready-to-merge, area/clustermesh, release-note/misc

#26269 k8s.Resource metrics
  pkg/bgpv1/cell.go
  pkg/k8s/resource/example/main.go
  pkg/k8s/resource/resource.go
  pkg/k8s/resource_ctors.go
  pkg/l2announcer/l2announcer.go
Labels: release-note/misc

#26312 .github/workflows: let renovate update kind
  .github/workflows/conformance-clustermesh-v1.11.yaml
  .github/workflows/conformance-clustermesh-v1.12.yaml
  .github/workflows/conformance-clustermesh-v1.13.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-k8s-kind-network-policies.yaml
  .github/workflows/conformance-k8s-kind.yaml
  .github/workflows/conformance-kind-proxy-daemonset.yaml
Labels: ready-to-merge, release-note/ci

#26196 Docs: Update BGP docs to reflect CRD consolidation
  Documentation/network/bgp-control-plane.rst
  pkg/bgpv1/README.md
Labels: area/documentation, kind/cleanup, ready-to-merge, release-note/misc, area/bgp

#26311 renovate: exclude github.com/{cilium,vishvananda}/netlink
  .github/renovate.json5
Labels: ready-to-merge, release-note/misc

#26315 l2announcer: Fix panic when service labels are nil
  pkg/l2announcer/l2announcer.go
Labels: kind/bug, release-note/bug, ready-to-merge, release-blocker/1.14

#25691 Documentation: include bgp cli commands in bgp-cp documentation
  Documentation/network/bgp-control-plane.rst
Labels: ready-to-merge, release-note/misc, area/bgp

#26124 clustermesh: Introduce ClusterID reservation mechanism
  pkg/clustermesh/clustermesh.go
  pkg/clustermesh/clustermesh_test.go
  pkg/clustermesh/remote_cluster.go
  pkg/clustermesh/remote_cluster_test.go
  pkg/clustermesh/services_test.go
  pkg/clustermesh/types/addressing.go
  pkg/clustermesh/types/types.go
Labels: ready-to-merge, area/clustermesh, release-note/misc

#26326 README: Bump latest snapshot release version
  README.rst
Labels: release-note/misc

#26309 envoy: Bump minor version to v1.24.x
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, release-blocker/1.13, backport/1.13

#26328 envoy: Bump minor version to v1.24.x
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, release-blocker/1.12, backport/1.12

#26329 envoy: Bump minor version to v1.24.x
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, release-blocker/1.11, backport/1.11
