Repository cilium/cilium, pull requests merged in 2024-03, with the labels that each got.

#30866 cec: timerbased reconcile job as fallback
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/ciliumenvoyconfig/cec_reconciler.go
  pkg/ciliumenvoyconfig/cec_reconciler_test.go
  pkg/ciliumenvoyconfig/cell.go
Labels: kind/enhancement, ready-to-merge, release-note/misc, area/servicemesh

#31074 gha: Re-purpose Conformance Kind proxy test
  .github/workflows/conformance-kind-proxy-embedded.yaml
Labels: area/proxy, release-note/ci

#31016 Handle InvalidParameterValue as well for PD fallback
  pkg/aws/ec2/ec2.go
  pkg/aws/ec2/mock/mock.go
  pkg/aws/eni/node.go
  pkg/aws/eni/node_manager_test.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/eni, sig/ipam, area/ipam

#31049 v1.13 Backports 2024-02-29
  .github/workflows/tests-clustermesh-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
  contrib/scripts/print-downgrade-version.sh
Labels: ready-to-merge, kind/backports, backport/1.13

#30424 Doc fix: Correct hubble exporter config lines
  Documentation/observability/hubble-exporter.rst
Labels: area/documentation, release-note/misc, sig/hubble, kind/community-contribution

#30332 [Kind] ipfamily should be set by platform configuration.
  contrib/scripts/kind.sh
Labels: release-note/ci, kind/community-contribution

#31095 cli: Replace --cluster-name with --helm-set cluster.name
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/net-perf-gke.yaml
Labels: release-note/ci

#31106 golangci-lint: Fix goimports local prefix
  .golangci.yaml
Labels: release-note/ci

#30950 bpf: lb: small improvements to CT logic
  bpf/lib/conntrack.h
  bpf/lib/lb.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/conntrack, area/loadbalancing

#31025 loader: also populate NATIVE_DEV_IFINDEX for cilium_overlay
  pkg/datapath/loader/base.go
Labels: sig/datapath, release-note/misc, needs-backport/1.14, needs-backport/1.15

#31083 docs: update note on WireGuard with tunnel routing
  Documentation/security/network/encryption-wireguard.rst
Labels: area/documentation, ready-to-merge, area/encryption, release-note/misc, feature/wireguard, needs-backport/1.15

#28657 maps: Consider actual passed time for GC interval calculation
  pkg/maps/ctmap/ctmap.go
  pkg/maps/ctmap/ctmap_test.go
  pkg/maps/ctmap/gc/gc.go
Labels: kind/bug, sig/datapath, release-note/bug, feature/conntrack

#30988 loader: fix issue where errors cancelled compile cause error logs.
  pkg/datapath/loader/compile.go
Labels: sig/loader, area/CI, release-note/ci

#31089 contrib/scripts: Remove false positives from check-go-testdata.sh
  contrib/scripts/check-go-testdata.sh
Labels: ready-to-merge, release-note/ci

#31126 renovate: separate major.minor.patch for lvh images
  .github/renovate.json5
Labels: ready-to-merge, release-note/misc

#31127 bpf: host: optimize from-host's ICMPv6 path
  bpf/bpf_host.c
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc, area/host-firewall, feature/ipv6

#30462 Update Example: kafka-sw-gen-traffic.sh
  examples/kubernetes-kafka/kafka-sw-gen-traffic.sh
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#30877 bpf: lxc: also set from_tunnel for IPv6 CT entries
  bpf/bpf_lxc.c
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/ipv6

#31014 cni: use default logger with timestamps.
  pkg/logging/logging.go
  plugins/cilium-cni/cmd/cmd.go
Labels: release-note/minor, ready-to-merge, release-note/ci

#31086 cec: move config property 'envoy-config-timeout' into hive config
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  daemon/cmd/daemon_main.go
  pkg/ciliumenvoyconfig/cec_manager.go
  pkg/ciliumenvoyconfig/cell.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: kind/cleanup, area/proxy, release-note/misc, area/servicemesh

#30917 health-server: Do not cleanup health checking result on node updates.
  pkg/health/server/prober.go
  pkg/health/server/prober_test.go
  pkg/health/server/server.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/metrics, area/health, affects/v1.13, affects/v1.14, affects/v1.15

#31123 renovate: temporarily do not update GoBGP
  .github/renovate.json5
Labels: release-note/ci, area/bgp

#31092 ci: fail container scans on vulnerability scan results
  .github/workflows/container-scan.yaml
Labels: kind/enhancement, area/CI, release-note/ci

#31037 container/bitlpm: Add Lookup Boolean Return Value
  pkg/container/bitlpm/cidr.go
  pkg/container/bitlpm/cidr_test.go
  pkg/container/bitlpm/trie.go
  pkg/container/bitlpm/unsigned.go
  pkg/container/bitlpm/unsigned_test.go
Labels: release-note/misc, needs-backport/1.14, needs-backport/1.15

#31108 envoy: Remove deprecated runtime key logs
  test/helpers/cons.go
Labels: area/proxy, ready-to-merge, release-note/misc

#30589 docs: Update link to USERS.md in README from RAW Github to standard Github UI
  README.rst
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution

#30662 gateway-api: Supports the number of trusted loadbalancer hops
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-aws_hive.md
  Documentation/cmdref/cilium-operator-aws_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-azure_hive.md
  Documentation/cmdref/cilium-operator-azure_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator-generic_hive.md
  Documentation/cmdref/cilium-operator-generic_hive_dot-graph.md
  Documentation/cmdref/cilium-operator.md
  Documentation/cmdref/cilium-operator_hive.md
  Documentation/cmdref/cilium-operator_hive_dot-graph.md
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  operator/pkg/gateway-api/cell.go
  operator/pkg/gateway-api/gateway_reconcile_test.go
  operator/pkg/ingress/cell.go
  operator/pkg/ingress/ingress_reconcile_test.go
  operator/pkg/model/translation/cec_translator.go
  operator/pkg/model/translation/envoy_http_connection_manager.go
  operator/pkg/model/translation/envoy_http_connection_manager_test.go
  operator/pkg/model/translation/envoy_listener.go
  operator/pkg/model/translation/gateway-api/translator_fixture_test.go
  operator/pkg/model/translation/gateway-api/translator_test.go
  operator/pkg/model/translation/ingress/dedicated_ingress_test.go
Labels: release-note/minor, ready-to-merge, area/servicemesh, feature/k8s-gateway-api

#31100 hubble: fix parsing of invalid HTTP URLs
  pkg/hubble/parser/seven/http.go
  pkg/hubble/parser/seven/http_test.go
Labels: kind/bug, release-note/bug, ready-to-merge, sig/hubble, needs-backport/1.15

#31098 bpf,config: Add ENABLE_LOCAL_REDIRECT_POLICY macro
  bpf/bpf_sock.c
  bpf/lib/lb.h
  pkg/datapath/linux/config/config.go
Labels: ready-to-merge, release-note/misc

#30966 bugtool: Capture memory fragmentation info from /proc
  bugtool/cmd/configuration.go
Labels: ready-to-merge, area/bugtool, release-note/misc, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#30655 envoy: Add support for exposing Envoy Admin API
  Documentation/helm-values.rst
  Documentation/operations/system_requirements.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/files/cilium-envoy/configmap/bootstrap-config.json
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/templates/cilium-envoy/daemonset.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/envoy/secretsync_test.go
  pkg/envoy/xds_server.go
  pkg/envoy/xds_server_ondemand.go
  pkg/option/config.go
Labels: area/proxy, release-note/minor, area/servicemesh

#30846 stream: Relocate to cilium/stream
  CODEOWNERS
  daemon/cmd/local_node_sync_test.go
  daemon/cmd/policy.go
  go.mod
  go.sum
  pkg/allocator/allocator_test.go
  pkg/allocator/cache.go
  pkg/auth/cell.go
  pkg/hive/cell/health.go
  pkg/hive/example/events.go
  pkg/hive/example/events_handler.go
  pkg/hive/example/jobs.go
  pkg/hive/job/job.go
  pkg/hive/job/job_test.go
  pkg/identity/cache/allocator.go
  pkg/k8s/resource/resource.go
  pkg/node/local_node_store.go
  pkg/nodediscovery/nodediscovery.go
  pkg/statedb/db_test.go
  pkg/statedb/observable.go
  pkg/statedb/reflector/k8s.go
  pkg/stream/helpers_test.go
  pkg/stream/operators_test.go
  pkg/stream/sinks_test.go
  pkg/stream/sources_test.go
  vendor/github.com/cilium/stream/LICENSE
  vendor/github.com/cilium/stream/Makefile
  vendor/github.com/cilium/stream/README.md
  vendor/github.com/cilium/stream/observable.go
  vendor/github.com/cilium/stream/operators.go
  vendor/github.com/cilium/stream/sinks.go
  vendor/github.com/cilium/stream/sources.go
  vendor/modules.txt
Labels: release-note/misc

#31111 gateway-api: Replace deprecated status
  operator/pkg/gateway-api/controller_test.go
Labels: ready-to-merge, release-note/misc, area/servicemesh, feature/k8s-gateway-api

#30699 bug_fix: updating the parseKernelVersion() function
  pkg/version/version_unix.go
  pkg/version/version_unix_test.go
Labels: release-note/bug, kind/community-contribution

#31010 bgpv1: avoid object tracker vs informer race
  pkg/bgpv1/manager/store/diffstore_test.go
Labels: kind/bug/CI, ready-to-merge, release-note/ci, sig/agent, area/bgp

#31139 CODEOWNERS: Ensure gha review for actions
  CODEOWNERS
Labels: kind/backports, release-note/misc, backport/1.15

#31176 cli: Replace --cluster-name with --helm-set cluster.name
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/net-perf-gke.yaml
Labels: kind/backports, backport/1.15

#31177 cli: Replace --cluster-name with --helm-set cluster.name
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/net-perf-gke.yaml
Labels: kind/backports, backport/1.14

#31159 cilium-dbg: New `encrypt flush --stale` flag
  Documentation/cmdref/cilium-dbg_encrypt_flush.md
  cilium-dbg/cmd/encrypt_flush.go
Labels: release-note/minor, area/cli, area/encryption, feature/ipsec

#31182 k8s_install.sh: specify the CNI version
  test/provision/k8s_install.sh
Labels: ready-to-merge, release-note/ci, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#31164 statedb: Fix read-after-write bug
  pkg/statedb/api_handler.go
  pkg/statedb/db.go
  pkg/statedb/db_test.go
  pkg/statedb/deletetracker.go
  pkg/statedb/graveyard.go
  pkg/statedb/table.go
  pkg/statedb/txn.go
Labels: release-note/bug, needs-backport/1.15

#31199 gha: drop the CILIUM_CLI_MODE environment variable
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-e2e.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/conformance-k8s-kind-network-policies.yaml
  .github/workflows/conformance-k8s-kind.yaml
  .github/workflows/conformance-kind-proxy-embedded.yaml
  .github/workflows/conformance-multi-pool.yaml
  .github/workflows/net-perf-gke.yaml
  .github/workflows/scale-test-node-throughput-gce.yaml
  .github/workflows/tests-e2e-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, kind/cleanup, release-note/ci

#31200 linux: devices: increase priority of user choice
  pkg/datapath/linux/devices_controller.go
Labels: area/daemon, release-note/bug, sig/agent, needs-backport/1.15

#31196 introduce ARM github workflows
  .github/actions/unit-tests/build.sh
  .github/actions/unit-tests/prepare.sh
  .github/renovate.json5
  .github/workflows/integration-test.yaml
  .travis.yml
  CODEOWNERS
Labels: release-note/ci, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#31013 Improve LocalNodeStore.Get() performance and fix possible deadlock
  pkg/node/local_node_store.go
  pkg/node/local_node_store_test.go
Labels: kind/bug, kind/performance, ready-to-merge, release-note/misc, sig/agent

#31044 docs: Fix profiling related debugging instructions
  Documentation/contributing/development/debugging.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#31144 metrics: Disable prometheus metrics by default
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  pkg/metrics/registry.go
Labels: release-note/bug, ready-to-merge, affects/v1.14, affects/v1.15, needs-backport/1.15

#31060 ingress: Update docs with network policy example
  Documentation/network/servicemesh/http.rst
  Documentation/operations/troubleshooting_servicemesh.rst
  examples/kubernetes/servicemesh/policy/allow-ingress-cidr.yaml
  examples/kubernetes/servicemesh/policy/external-lockdown.yaml
Labels: area/documentation, ready-to-merge, release-note/misc, area/servicemesh, needs-backport/1.14, needs-backport/1.15

#31180 Avoid depending on sysctl in the kind.sh script for IPv6 determination
  contrib/scripts/kind.sh
Labels: kind/cleanup, ready-to-merge, release-note/misc, sig/contributing

#31153 doc,bgpv1: Bootstrapping BGP CPlane failure scenario doc
  Documentation/network/bgp-control-plane-operation.rst
  Documentation/network/bgp-control-plane.rst
  Documentation/network/bgp-toc.rst
Labels: release-note/misc

#30914 Additionally test host firewall + KPR disabled in E2E tests
  .github/workflows/conformance-e2e.yaml
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, ready-to-merge, release-note/ci, area/kube-proxy, area/host-firewall, needs-backport/1.15

#31218 bgpv1: Adjust ConnectionRetryTimeSeconds to 1 in component tests
  pkg/bgpv1/test/objects.go
Labels: release-note/misc, needs-backport/1.14, needs-backport/1.15

#31193 bpf: Don't skip local delivery for plain-text packets when IPsec is enabled
  bpf/bpf_host.c
Labels: area/encryption, release-note/misc, feature/ipsec

#31206 [v1.15] Backport of #31200 - linux device user choice prioritization
  pkg/datapath/linux/devices_controller.go
Labels: ready-to-merge, kind/backports, backport/1.15

#31072 docs: fixed various typos in the readme
  README.rst
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution

#31213 cilium: Enable plain IPIP/IP6IP6 termination
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  pkg/datapath/loader/base.go
  pkg/option/config.go
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/lb-only

#31181 bgpv1: Disable PodCIDR Reconciler for unsupported IPAM modes
  Documentation/network/bgp-control-plane.rst
  pkg/bgpv1/manager/reconciler/pod_cidr.go
  pkg/bgpv1/manager/reconciler/pod_cidr_test.go
  pkg/bgpv1/manager/reconciler/preflight_test.go
  pkg/bgpv1/types/utils.go
Labels: ready-to-merge, release-note/misc, area/bgp, backport/author, needs-backport/1.14, needs-backport/1.15

#31210 v1.15: Remove cilium/build from codeowners
  CODEOWNERS
Labels: kind/backports, release-note/misc, backport/1.15

#31221 [v1.15] envoy: Bump golang version to 1.21.8
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, release-blocker/1.15, backport/1.15

#31222 [v1.14] envoy: Bump golang version to 1.21.8
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/backports, release-blocker/1.14, backport/1.14

#31224 envoy: Bump golang version to 1.21.8
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/misc

#31223 [v1.13] envoy: Bump golang version to 1.21.8
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, release-blocker/1.13, backport/1.13

#30963 bgpv1: ClusterIP advertisement with BGP Control Plane
  operator/pkg/bgpv2/bgpp.go
  pkg/bgpv1/manager/reconciler/preflight_test.go
  pkg/bgpv1/manager/reconciler/reconciler.go
  pkg/bgpv1/manager/reconciler/service.go
  pkg/bgpv1/manager/reconciler/service_test.go
  pkg/bgpv1/test/adverts_test.go
  pkg/bgpv1/test/objects.go
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgpadvertisements.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeeringpolicies.yaml
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_advert_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgpp_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepequal.go
Labels: kind/feature, release-note/minor, ready-to-merge, area/bgp

#31015 bpf: Enable monitor aggregation for all events in bpf_network.c
  bpf/bpf_network.c
Labels: sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.13, affects/v1.13, affects/v1.14, needs-backport/1.14, affects/v1.15, needs-backport/1.15

#31231 endpointmanager: Improve health reporter messages when stopped
  pkg/endpointmanager/endpointsynchronizer.go
Labels: kind/cleanup, area/daemon, release-note/misc, sig/agent, needs-backport/1.15

#30686 gateway-api: Ensure hostname check when set on both the HTTPRoute and the Gateway Listener
  operator/pkg/gateway-api/httproute_reconcile_test.go
  operator/pkg/gateway-api/routechecks/gateway_checks.go
Labels: release-note/bug, sig/agent, kind/community-contribution

#31252 bgpv2: remove BGP peering policy translation from operator
  operator/pkg/bgpv2/bgpp.go
  operator/pkg/bgpv2/bgpp_test.go
  operator/pkg/bgpv2/fixture_test.go
  operator/pkg/bgpv2/manager.go
Labels: ready-to-merge, release-note/misc, area/bgp

#31244 bpf: nodeport: add nodeport_rev_dnat_ingress_ipv4_hook infra
  bpf/lib/nodeport.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/snat

#31253 Fix helm template for hubble-relay prometheus annotations
  install/kubernetes/cilium/templates/hubble-relay/deployment.yaml
Labels: ready-to-merge, release-note/misc, sig/hubble

#31165 bpf: nodeport: simplify CT entry validation in nodeport_lb*()
  bpf/lib/conntrack.h
  bpf/lib/nodeport.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/conntrack, area/loadbalancing

#31292 gateway-api: shorten the length of the value of the svc's label.
  operator/pkg/gateway-api/gateway_reconcile.go
  operator/pkg/gateway-api/gateway_reconcile_test.go
  operator/pkg/model/helpers.go
  operator/pkg/model/translation/gateway-api/translator.go
  operator/pkg/model/translation/gateway-api/translator_test.go
Labels: release-note/bug, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#31265 [v1.14] iptables: Read CNI chaining mode from CNI config manager
  pkg/datapath/cells.go
  pkg/datapath/iptables/iptables.go
Labels: ready-to-merge, kind/backports, backport/1.14

#31198 gha: checkout target branch instead of the default one
  .github/workflows/conformance-k8s-kind-network-policies.yaml
  .github/workflows/conformance-k8s-kind.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind-proxy-embedded.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, release-note/ci, backport/author, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#31255 bgpv2: fix operator flaky test cases
  operator/pkg/bgpv2/cluster_test.go
  operator/pkg/bgpv2/fixture_test.go
Labels: area/CI, ready-to-merge, release-note/misc, area/bgp

#31314 Bump google.golang.org/protobuf (v1.14)
  go.mod
  go.sum
  vendor/google.golang.org/protobuf/encoding/protojson/decode.go
  vendor/google.golang.org/protobuf/encoding/protojson/doc.go
  vendor/google.golang.org/protobuf/encoding/protojson/encode.go
  vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  vendor/google.golang.org/protobuf/encoding/prototext/decode.go
  vendor/google.golang.org/protobuf/encoding/prototext/encode.go
  vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  vendor/google.golang.org/protobuf/internal/descfmt/stringer.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/defaults.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/encoding/json/decode.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/genid/go_features_gen.go
  vendor/google.golang.org/protobuf/internal/genid/struct_gen.go
  vendor/google.golang.org/protobuf/internal/genid/type_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_extension.go
  vendor/google.golang.org/protobuf/internal/impl/codec_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_tables.go
  vendor/google.golang.org/protobuf/internal/impl/legacy_message.go
  vendor/google.golang.org/protobuf/internal/impl/message.go
  vendor/google.golang.org/protobuf/internal/impl/message_reflect_field.go
  vendor/google.golang.org/protobuf/internal/impl/pointer_reflect.go
  vendor/google.golang.org/protobuf/internal/impl/pointer_unsafe.go
  vendor/google.golang.org/protobuf/internal/strs/strings.go
  vendor/google.golang.org/protobuf/internal/strs/strings_unsafe_go120.go
  vendor/google.golang.org/protobuf/internal/strs/strings_unsafe_go121.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/proto/decode.go
  vendor/google.golang.org/protobuf/proto/doc.go
  vendor/google.golang.org/protobuf/proto/encode.go
  vendor/google.golang.org/protobuf/proto/extension.go
  vendor/google.golang.org/protobuf/proto/merge.go
  vendor/google.golang.org/protobuf/proto/proto.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_resolve.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_validate.go
  vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/proto.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/type.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_equal.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_union.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_unsafe_go120.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_unsafe_go121.go
  vendor/google.golang.org/protobuf/reflect/protoregistry/registry.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.pb.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.proto
  vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  vendor/modules.txt
Labels: kind/enhancement, kind/backports, release-note/misc, backport/1.14

#31249 doc,bgpv1: Add some failure scenarios
  Documentation/network/bgp-control-plane-operation.rst
Labels: area/documentation, release-note/misc

#29646 Makefiles: Allow external input for go build/test/clean flags.
  Makefile.defs
Labels: release-note/misc, kind/community-contribution

#31225 [v1.12] ci: migrate upload steps
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, kind/backports, backport/1.12

#31323 config: Remove unused `ENCRYPT_IFACE` macro
  pkg/datapath/linux/config/config.go
Labels: kind/cleanup, ready-to-merge, area/encryption, release-note/misc, feature/ipsec

#31299 WG: Improve L7 checks
  bpf/lib/wireguard.h
Labels: release-note/minor, area/encryption, release-note/misc, backport/author, release-blocker/1.14, needs-backport/1.14, release-blocker/1.15, needs-backport/1.15

#31316 fix: Make it clear USERS.md should be production
  USERS.md
Labels: release-note/misc

#31245 bgpv1: ExternalIP advertisement with BGP Control Plane
  pkg/bgpv1/manager/reconciler/service.go
  pkg/bgpv1/manager/reconciler/service_test.go
  pkg/bgpv1/test/adverts_test.go
  pkg/bgpv1/test/objects.go
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgpadvertisements.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeeringpolicies.yaml
  pkg/k8s/apis/cilium.io/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_advert_types.go
Labels: release-note/minor, ready-to-merge, area/bgp

#31366 doc: Clarified GwAPI KPR prerequisites
  Documentation/network/servicemesh/gateway-api/installation.rst
Labels: area/documentation, release-note/misc, area/servicemesh, needs-backport/1.13, feature/k8s-gateway-api, needs-backport/1.14, needs-backport/1.15

#31268 dev: Enable IPv6 system setting for devcontainer environment.
  .devcontainer/devcontainer.json
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#31367 bpf: xdp: remove unused set_encrypt_dip()
  bpf/lib/overloadable_xdp.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, area/encryption, release-note/misc, feature/ipsec

#31354 [v1.15] bgpv1: Disable PodCIDR Reconciler for unsupported IPAM modes
  pkg/bgpv1/manager/reconciler/pod_cidr.go
  pkg/bgpv1/manager/reconciler/pod_cidr_test.go
  pkg/bgpv1/manager/reconciler/preflight_test.go
  pkg/bgpv1/types/utils.go
Labels: ready-to-merge, kind/backports, backport/1.15

#31371 Prepare for release v1.15.2
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.15

#31378 install: Update image digests for v1.15.2
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.15

#31150 helm: Update pod affinity for cilium-envoy
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/bug, needs-backport/1.14, needs-backport/1.15

#31379 Prepare for release v1.13.13
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.13

#31383 Prepare for release v1.14.8
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.14

#31362 lxcmap: Fix comment about byte-order
  pkg/maps/lxcmap/lxcmap.go
Labels: release-note/misc

#31361 gateway-api: fixed RequestRedirect picks wrong port with multiple listeners
  operator/pkg/model/ingestion/gateway.go
  operator/pkg/model/ingestion/gateway_test.go
  operator/pkg/model/translation/gateway-api/translator_fixture_test.go
  operator/pkg/model/translation/gateway-api/translator_test.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.15

#31365 bgpv1: fix Test_PodIPPoolAdvert flakiness
  pkg/bgpv1/test/adverts_test.go
Labels: ready-to-merge, release-note/ci, area/bgp, needs-backport/1.15

#31370 kind: reset sysctl net.ipv4.ip_unprivileged_port_start to 1024
  contrib/scripts/kind.sh
Labels: kind/enhancement, area/misc, ready-to-merge, release-note/misc

#31393 bpf: add node_key to alignchecker
  bpf/bpf_alignchecker.c
  bpf/lib/common.h
  bpf/lib/maps.h
Labels: sig/datapath, ready-to-merge, release-note/misc

#31381 bgpv2/ci: added watch reactor for bgp cluster config
  operator/pkg/bgpv2/cluster_test.go
  operator/pkg/bgpv2/fixture_test.go
Labels: ready-to-merge, release-note/ci

#31358 policy: Fix missing labels from SelectorCache selectors
  pkg/policy/selectorcache.go
Labels: kind/bug, sig/policy, release-note/misc, needs-backport/1.14, needs-backport/1.15

#31353 [v1.14] bgpv1: Disable PodCIDR Reconciler for unsupported IPAM modes
  pkg/bgpv1/manager/reconcile.go
  pkg/bgpv1/types/utils.go
Labels: ready-to-merge, kind/backports, area/bgp, backport/1.14

#31387 ci: Bump lvh-kind ssh-startup-wait-retries
  .github/actions/lvh-kind/action.yaml
Labels: release-note/ci, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#31344 datapath, bpf: Remove unnecessary IPsec code
  pkg/datapath/linux/node.go
Labels: ready-to-merge, area/encryption, release-note/misc, feature/ipsec, needs-backport/1.15

#31178 labelsfilter: Ensure entity relevant labels are always applied
  pkg/labelsfilter/filter.go
  pkg/labelsfilter/filter_test.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#31214 operator: fix errors/warnings metric.
  operator/metrics/metrics.go
  pkg/metrics/cell.go
  pkg/metrics/logging_hook.go
  pkg/metrics/metrics.go
Labels: release-note/bug, ready-to-merge, area/metrics, needs-backport/1.14

#31118 gh: workflows: clarify reference to issue #23283
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-multi-pool.yaml
  .github/workflows/tests-clustermesh-upgrade.yaml
Labels: area/CI, ready-to-merge, release-note/ci, area/multipool

#30920 fqdn: avoid expensive sort/unique of names during GC
  pkg/fqdn/cache.go
  pkg/fqdn/cache_test.go
  pkg/fqdn/name_manager_gc.go
Labels: release-note/minor, ready-to-merge, area/fqdn

#31404 install: Update image digests for v1.14.8
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.14

#31405 install: Update image digests for v1.13.13
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.13

#31413 loader: add message if error is ENOTSUP
  pkg/datapath/loader/netlink.go
Labels: sig/loader, release-note/misc, needs-backport/1.15

#31412 bpf: update unreachable-tailcall.o after updating CILIUM_BUILDER_IMAGE
  pkg/bpf/testdata/unreachable-tailcall.o
Labels: kind/bug, kind/cleanup, ready-to-merge, release-note/misc

#30526 pkg/kvstore/allocator: Standardize usage of logfields
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/logfields.go
  pkg/logging/logfields/logfields.go
Labels: release-note/minor, ready-to-merge, needs-rebase, sig/kvstore, kind/community-contribution

#26998 ipam: deepcopy interface resource correctly.
  pkg/alibabacloud/eni/types/types.go
  pkg/aws/eni/types/types.go
  pkg/azure/types/types.go
  pkg/ipam/types/types.go
  pkg/ipam/types/types_test.go
Labels: ready-to-merge, release-note/ci, area/ipam

#31271 gateway-api: Retrieve LB service from same namespace
  operator/pkg/gateway-api/gateway_reconcile.go
  operator/pkg/gateway-api/gateway_reconcile_test.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#31396 node: correctly propagate source for CiliumInternalIP ipcache metadata
  pkg/node/manager/manager.go
Labels: kind/bug, area/daemon, release-note/bug, ready-to-merge, kind/backports, backport/1.13

#31272 ci-e2e: Add matrix for bpf.tproxy and ingress-controller
  .github/workflows/conformance-e2e.yaml
Labels: ready-to-merge, release-note/ci, needs-backport/1.15

#31420 gha: disable fail-fast on integration tests
  .github/workflows/integration-test.yaml
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#31411 test: drop the etcd test from the Ginkgo suite
  .github/actions/ginkgo/main-focus.yaml
  test/k8s/datapath_configuration.go
  test/k8s/manifests.go
  test/k8s/manifests/etcd-deployment.yaml
Labels: area/CI, release-note/ci, sig/kvstore

#31331 bgpv1: Add the documentation for using serviceAdvertisements
  Documentation/network/bgp-control-plane.rst
  Documentation/network/kubernetes/kubeproxy-free.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, release-note/misc, area/bgp

#31384 gha: retrieve additional coredns-related troubleshooting info
  .github/workflows/conformance-clustermesh.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#31447 envoy: register secret syncer even if only CEC is enabled
  pkg/envoy/cell.go
Labels: kind/bug, area/proxy, release-note/bug, ready-to-merge, backport/author, needs-backport/1.14, needs-backport/1.15

#31452 [v1.14 - Author backport] envoy: enable k8s secret watch even if only CEC is enabled
  pkg/k8s/utils/utils.go
  pkg/k8s/watchers/watcher.go
  pkg/k8s/watchers/watcher_test.go
  pkg/option/config.go
Labels: kind/bug, area/proxy, release-note/bug, ready-to-merge, kind/backports, backport/1.14

#31449 envoy: support configurable Envoy base id in embedded mode
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  pkg/envoy/cell.go
  pkg/envoy/xds_server_ondemand.go
Labels: kind/enhancement, area/proxy, release-note/misc

#31419 bpf: fix go testdata check in ci
  contrib/scripts/check-go-testdata.sh
  pkg/bpf/testdata/Makefile
Labels: kind/bug/CI, ready-to-merge, release-note/ci, area/build

#31262 hive/cell/health: don't warn when reporting on stopped reporter.
  pkg/hive/cell/structured.go
Labels: release-note/misc, needs-backport/1.15

#31398 agent: Wrap propagating errors from proxy wait group
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/endpointmanager/manager.go
Labels: ready-to-merge, release-note/misc

#31435 gha: Remove manual device setting
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ingress.yaml
Labels: release-note/ci, feature/k8s-gateway-api, feature/k8s-ingress

#31437 docs: Warn on key rotations during upgrades
  Documentation/security/network/encryption-ipsec.rst
Labels: area/documentation, area/encryption, release-note/misc, needs-backport/1.13, needs-backport/1.14, feature/ipsec, needs-backport/1.15

#31421 k8s/utils: correctly filter out labels in StripPodSpecialLabels
  pkg/k8s/utils/utils.go
  pkg/k8s/utils/utils_test.go
Labels: kind/bug, release-note/bug, ready-to-merge, backport/author, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#31211 Hubble: fix traffic direction and is reply when IPSec is enabled
  pkg/hubble/parser/threefour/parser_test.go
  pkg/monitor/datapath_trace.go
Labels: kind/bug, release-note/bug, ready-to-merge, sig/hubble, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#31415 secret-sync: improve logging
  operator/pkg/secretsync/secretsync_reconcile.go
  pkg/logging/logfields/logfields.go
Labels: kind/enhancement, ready-to-merge, release-note/misc, area/servicemesh

#31461 doc: Document APAC community meeting
  Documentation/community/community.rst
  Documentation/community/roadmap.rst
Labels: release-note/misc

#31477 ingress/gateway-api: stable address order for Ingress hostnetwork listener addresses
  operator/pkg/model/translation/envoy_listener.go
  operator/pkg/model/translation/envoy_listener_test.go
Labels: kind/bug, ready-to-merge, release-note/misc, area/servicemesh, feature/k8s-gateway-api, feature/k8s-ingress

#31456 cni: Use batch endpoint deletion API in chaining plugin
  plugins/cilium-cni/chaining/generic-veth/generic-veth.go
Labels: release-note/bug, ready-to-merge, affects/v1.14, needs-backport/1.15

#31504 AKS: avoid overlapping pod and service CIDRs
  .github/workflows/conformance-aks.yaml
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#31376 hubble/relay: Fix certificate reloading in PeerManager
  pkg/hubble/relay/pool/client.go
  pkg/hubble/relay/pool/client_test.go
Labels: release-note/bug, ready-to-merge, sig/hubble, needs-backport/1.15

#31515 v1.15 Backports 2024-03-20
  plugins/cilium-cni/chaining/generic-veth/generic-veth.go
Labels: ready-to-merge, kind/backports, backport/1.15

#30631 Add Helm schema
  Documentation/helm-values.rst
  Makefile.defs
  install/kubernetes/Makefile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, area/helm, kind/community-contribution

#31521 [v1.14] test: Remove duplicate Cilium deployments in some datapath config tests
  test/k8s/datapath_configuration.go
Labels: kind/bug/CI, area/CI, ready-to-merge, kind/backports, release-note/ci, area/host-firewall, backport/1.14

#31503 cilium-dbg: listing load-balancing configurations displays L7LB proxy port
  cilium-dbg/cmd/bpf_lb_list.go
  pkg/loadbalancer/loadbalancer.go
Labels: kind/enhancement, ready-to-merge, area/cli, release-note/misc, needs-backport/1.13, area/loadbalancing, needs-backport/1.14, needs-backport/1.15

#31526 bpf: make BPF unit tests reproducible
  .github/workflows/lint-bpf-checks.yaml
  CODEOWNERS
  Documentation/contributing/testing/bpf.rst
  Makefile
  bpf/tests/Makefile
  bpf/tests/bpftest/bpf_test.go
  bpf/tests/bpftest/gocovmerge.go
  bpf/tests/bpftest/trf.pb.go
  bpf/tests/bpftest/trf.proto
  bpf/tests/common.h
  test/Makefile
Labels: release-note/ci

#31445 docs: Correct dynamic hubble exporter sample configs example
  Documentation/observability/hubble-exporter.rst
Labels: ready-to-merge, release-note/misc, sig/hubble, kind/community-contribution

#31509 gha: fix coredns logs retrieval in conformance-clustermesh
  .github/workflows/conformance-clustermesh.yaml
Labels: area/CI, ready-to-merge, area/clustermesh, release-note/ci

#31373 chore: update json-mock image source in examples
  examples/kubernetes-dns/dns-sw-app.yaml
  examples/minikube/http-sw-app.yaml
Labels: ready-to-merge, release-note/misc, kind/community-contribution, needs-backport/1.15

#31399 node: ignore kvstore node events for the local node
  pkg/node/store/store.go
Labels: ready-to-merge, release-note/misc, sig/kvstore, sig/agent

#31469 bgpv1: BGP Control Plane metrics
  pkg/bgpv1/cell.go
  pkg/bgpv1/metrics/metrics.go
  pkg/bgpv1/test/fixtures.go
Labels: release-note/minor, ready-to-merge, needs-backport/1.14, needs-backport/1.15

#31545 gha: checkout target branch in multi pool workflow
  .github/workflows/conformance-multi-pool.yaml
Labels: area/CI, ready-to-merge, kind/backports, release-note/ci, backport/1.14, area/multipool

#31019 daemon: Use LastSuccessInteraction instead of LastInteraction
  daemon/cmd/status.go
Labels: release-note/bug, ready-to-merge, kind/community-contribution

#31550 node: add support for injection of optional ipset filter
  daemon/cmd/status_test.go
  pkg/node/manager/cell.go
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
Labels: area/daemon, ready-to-merge, release-note/misc, sig/agent

#31236 controller: Add and use lookup function for controllers
  pkg/controller/manager.go
Labels: kind/cleanup, area/misc, release-note/misc, sig/agent

#31547 proxy: remove unused ifaces and code for proxy <-> endpoint interaction
  pkg/endpoint/regeneration/owner.go
  pkg/endpointmanager/manager_test.go
  pkg/envoy/xds_server_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/proxy/endpoint/test/updater_mock.go
  pkg/proxy/proxy_test.go
Labels: kind/cleanup, area/proxy, ready-to-merge, release-note/misc

#31543 docs: aks: avoid overlapping service and pod CIDRs
  Documentation/installation/requirements-aks.rst
Labels: area/documentation, ready-to-merge, release-note/misc, area/azure
