Repository cilium/cilium, pull requests merged in 2024-06, with the labels that each got.

#32822 lbmap: Fix skip_lb map iteration callback
  pkg/maps/lbmap/skip_lb_map.go
Labels: kind/bug, ready-to-merge, release-note/misc, area/loadbalancing

#32338 Remove deprecated `hubble.ui.securityContext.enabled` from hubble-ui
  install/kubernetes/cilium/templates/hubble-ui/deployment.yaml
Labels: release-note/bug, ready-to-merge, kind/community-contribution, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#32753 clustermesh: forbid connecting to cluster with same ID as local
  pkg/clustermesh/clustermesh_test.go
  pkg/clustermesh/idsmgr.go
  pkg/clustermesh/idsmgr_test.go
  pkg/clustermesh/remote_cluster_test.go
  pkg/clustermesh/services_test.go
Labels: ready-to-merge, area/clustermesh, release-note/misc

#32588 ipsec: cache xfrm state list
  Makefile
  contrib/scripts/check-xfrmstate.sh
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/xfrm_state_cache.go
  pkg/datapath/linux/ipsec/xfrm_state_cache_test.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: release-note/minor, ready-to-merge

#32817 pkg/endpoint: make identity resolver use the current revision
  pkg/endpoint/api.go
  pkg/endpoint/endpoint.go
Labels: kind/bug, area/daemon, release-note/bug, sig/policy, ready-to-merge

#32843 gha: correctly trigger integration tests via ariane commands
  .github/ariane-config.yaml
Labels: area/CI, ready-to-merge, kind/backports, release-note/ci, backport/1.13

#32848 renovate: ignore dependency github.com/google/go-licenses
  .github/renovate.json5
Labels: release-note/misc

#31924 policy: skip client side validation of policies that can't be validated
  cilium-dbg/cmd/policy_import.go
  cilium-dbg/cmd/policy_validate.go
  pkg/policy/api/rule_validation.go
Labels: sig/policy, ready-to-merge, release-note/misc

#32455 bugtool: Deduplicate tc qdisc commands
  bugtool/cmd/configuration.go
Labels: ready-to-merge, area/bugtool, release-note/misc

#32773 k8s: remove unused policyRepository from k8swatcher
  daemon/cmd/daemon.go
  pkg/k8s/watchers/watcher.go
  pkg/k8s/watchers/watcher_test.go
  pkg/policy/distillery.go
Labels: kind/cleanup, sig/policy, release-note/misc

#32860 .github/workflows: fix digests file creation
  .github/workflows/build-images-releases.yaml
Labels: release-note/bug

#32859 docs: Fix CRD compatibility table references
  Documentation/network/kubernetes/compatibility-table.rst
Labels: release-note/misc

#32823 helm: allow configuring the clustermesh-apiserver storage medium
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/clustermesh-apiserver/deployment.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, area/clustermesh, area/helm

#32644 ingress: Support headless service
  .github/workflows/conformance-ingress.yaml
  pkg/ciliumenvoyconfig/cec_manager.go
  pkg/ciliumenvoyconfig/cec_manager_test.go
  pkg/ciliumenvoyconfig/cell.go
  pkg/k8s/slim/k8s/api/core/v1/types.go
Labels: release-note/minor, release-blocker/1.16

#32861 README: Update releases
  README.rst
Labels: ready-to-merge, release-note/misc

#32850 Add WSO2 to the cilium users
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#32864 envoy: Update to pick up fixes
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/bug, area/proxy, release-note/bug, ready-to-merge

#32547 install: Update image digests for v1.13.16
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, backport/1.13

#32555 clustermesh: fix a few issues in the new mcs api service controller
  pkg/clustermesh/mcsapi/cell.go
  pkg/clustermesh/mcsapi/service_controller.go
  pkg/clustermesh/mcsapi/service_controller_test.go
Labels: kind/cleanup, ready-to-merge, area/clustermesh, release-note/misc

#32883 v1.14 Backports - ipsec: cache xfrm state list
  Makefile
  contrib/scripts/check-xfrmstate.sh
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/xfrm_state_cache.go
  pkg/datapath/linux/ipsec/xfrm_state_cache_test.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: ready-to-merge, kind/backports, backport/1.14

#32882 v1.15 Backports - ipsec: cache xfrm state list
  Makefile
  contrib/scripts/check-xfrmstate.sh
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/xfrm_state_cache.go
  pkg/datapath/linux/ipsec/xfrm_state_cache_test.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: ready-to-merge, kind/backports, backport/1.15

#31436 ingress: Add CNP example for default deny
  Documentation/network/servicemesh/default-deny-ingress-policy.rst
  Documentation/network/servicemesh/external-ingress-policy.rst
  Documentation/network/servicemesh/http.rst
  examples/kubernetes/servicemesh/policy/allow-ingress-cluster.yaml
  examples/kubernetes/servicemesh/policy/default-deny.yaml
Labels: area/documentation, ready-to-merge, release-note/misc, feature/k8s-ingress

#32906 docs: ipsec: remove limitation for native-routing with L7 egress policy
  Documentation/security/network/encryption-ipsec.rst
Labels: area/documentation, area/proxy, area/encryption, release-note/misc, backport/author, needs-backport/1.13, needs-backport/1.14, feature/ipsec, needs-backport/1.15

#32910 [v1.14] envoy: Bump envoy version to v1.28.4
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, kind/backports, release-blocker/1.14, backport/1.14

#32908 [v1.15] envoy: Bump envoy version to v1.28.4
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, release-blocker/1.15, backport/1.15

#32839 bpf: s/NODE_MAC/THIS_INTERFACE_MAC
  bpf/bpf_host.c
  bpf/bpf_lxc.c
  bpf/bpf_overlay.c
  bpf/lib/icmp6.h
  bpf/lib/proxy_hairpin.h
  bpf/lib/static_data.h
  bpf/node_config.h
  bpf/tests/config_replacement.h
  bpf/tests/ipsec_from_lxc_native.c
  bpf/tests/ipv6_ndp_from_netdev_test.c
  bpf/tests/tc_l2_announcement.c
  pkg/datapath/linux/config/config.go
  pkg/datapath/loader/base.go
  pkg/datapath/loader/loader.go
  pkg/datapath/loader/template.go
  pkg/datapath/loader/xdp.go
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#32730 Introduce --force-device-detection option
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/datapath/linux/devices_controller.go
  pkg/datapath/linux/devices_controller_test.go
  pkg/option/config.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#32905 ci: remove container scanning workflow
  .github/workflows/container-scan.yaml
  .openvex.json
  CODEOWNERS
Labels: release-note/ci

#32911 [v1.13] envoy: Bump envoy version to v1.28.4
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, release-blocker/1.13, backport/1.13

#32884 v1.13 Backports - ipsec: cache xfrm state list
  Makefile
  contrib/scripts/check-xfrmstate.sh
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/xfrm_state_cache.go
  pkg/datapath/linux/ipsec/xfrm_state_cache_test.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: ready-to-merge, kind/backports, backport/1.13

#32935 .github: fix renovate GitHub workflow config
  .github/workflows/renovate.yaml
Labels: release-note/misc

#32872 [v1.15] fqdn: Forward-compatibility with Cilium 1.16 FQDN identities
  daemon/cmd/fqdn.go
  pkg/fqdn/config.go
  pkg/fqdn/name_manager.go
  pkg/fqdn/name_manager_checkpoint.go
Labels: release-note/minor, ready-to-merge, kind/backports, area/fqdn, backport/1.15

#32915 envoy: Bump envoy version to v1.29.5
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/minor

#32880 daemon: cleanup daemon fields
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, sig/agent

#32900 clustermesh: drop clustermesh/remoteCluster circular reference
  pkg/clustermesh/clustermesh.go
  pkg/clustermesh/remote_cluster.go
Labels: kind/cleanup, ready-to-merge, area/clustermesh, release-note/misc

#32853 iptables: Remove unneeded cell.Health param
  pkg/datapath/iptables/iptables.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, area/iptables

#32892 bgp/configmap: remove unnecessary else statement
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: ready-to-merge, release-note/misc, area/bgp

#32877 Cleanup leftovers from node statuses in CNP/CCNP
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  operator/cmd/cilium_node.go
  operator/cmd/flags.go
  operator/cmd/root.go
  operator/option/config.go
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumclusterwidenetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/v2/ccnp_types.go
  pkg/k8s/apis/cilium.io/v2/cnp_types.go
  pkg/k8s/apis/cilium.io/v2/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2/zz_generated.deepequal.go
  test/controlplane/ciliumnetworkpolicies/status_updates_gc.go
  test/controlplane/controlplane_test.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, sig/agent

#32947 ci: l4lb: Don't hang on gathering logs forever
  .github/workflows/tests-l4lb.yaml
Labels: release-note/ci, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#32866 helm: Decouple sysctlfix from cgroup.autoMount
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/bug, ready-to-merge, needs-backport/1.15

#32953 Documentation: straight quotes to back quotes
  Documentation/security/network/proxy/envoy.rst
Labels: area/documentation, release-note/misc

#32956 [v1.14] docs: ipsec: remove limitation for native-routing with L7 egress policy
  Documentation/security/network/encryption-ipsec.rst
Labels: kind/backports, backport/1.14

#32867 clustermesh: periodically enforce cilium cluster configuration
  clustermesh-apiserver/clustermesh/root.go
  pkg/clustermesh/kvstoremesh/remote_cluster.go
  pkg/clustermesh/utils/clustercfg.go
  pkg/clustermesh/utils/clustercfg_test.go
Labels: ready-to-merge, area/clustermesh, release-note/misc

#32700 loader: remove datapathSHA256
  Makefile
  Makefile.defs
  pkg/datapath/loader/base.go
  pkg/datapath/loader/cache.go
  pkg/datapath/loader/cache_test.go
  pkg/datapath/loader/hash.go
  pkg/datapath/loader/hash_test.go
  pkg/datapath/loader/loader.go
  pkg/datapath/loader/util_test.go
Labels: sig/loader, ready-to-merge, release-note/misc

#32967 precheck: Avoid using unbounded io.ReadAll func
  bugtool/cmd/root.go
Labels: ready-to-merge, release-note/misc

#32974 envoy: Call given callback also when reusing a listener
  pkg/envoy/xds_server.go
Labels: kind/bug, area/proxy, ready-to-merge, release-note/misc

#32870 dnsproxy: Pick up cilium/dns with ID retry logic
  go.mod
  go.sum
  vendor/github.com/cilium/dns/shared_client.go
  vendor/modules.txt
Labels: kind/bug, release-note/bug, ready-to-merge, area/fqdn

#32678 Adding support for TrafficDistribution
  Documentation/network/kubernetes/kubeproxy-free.rst
  pkg/k8s/service.go
  pkg/k8s/service_cache.go
  pkg/k8s/service_cache_test.go
  pkg/k8s/service_test.go
  pkg/k8s/slim/k8s/api/core/v1/generated.pb.go
  pkg/k8s/slim/k8s/api/core/v1/generated.proto
  pkg/k8s/slim/k8s/api/core/v1/types.go
  pkg/k8s/slim/k8s/api/core/v1/zz_generated.deepcopy.go
  pkg/k8s/slim/k8s/api/core/v1/zz_generated.deepequal.go
Labels: release-note/minor, kind/community-contribution

#32584 Active connection tracking in ebpf
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  bpf/lib/act.h
  bpf/lib/common.h
  bpf/lib/conntrack.h
  bpf/lib/lb.h
  bpf/node_config.h
  pkg/maps/act/act.go
  pkg/maps/cells.go
Labels: sig/datapath, release-note/major, ready-to-merge, feature/conntrack

#32977 Prepare for release v1.14.12
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.14

#32952 Bandwidth map: fix missing table in reconciler config
  pkg/maps/bwmap/cell.go
Labels: kind/bug, sig/datapath, ready-to-merge, release-note/misc, feature/bandwidth-manager

#33004 ci: fix cluster name in CI tests
  .github/workflows/fqdn-perf.yaml
  .github/workflows/scale-test-100-gce.yaml
  .github/workflows/scale-test-node-throughput-gce.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#33000 Fix #32587 concurrent hubble dynamic exporter stop and reload
  pkg/hubble/exporter/dynamic_exporter.go
Labels: release-note/bug, ready-to-merge, sig/hubble, needs-backport/1.15

#32960 pkg/identity: Move GetCIDKeyFromK8sLabels to GlobalIdentity
  operator/pkg/ciliumidentity/cache_test.go
  operator/pkg/ciliumidentity/identity.go
  pkg/identity/key/global_identity.go
  pkg/identity/key/global_identity_test.go
Labels: sig/policy, ready-to-merge, area/operator, release-note/misc

#33015 install: Update image digests for v1.15.6
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.15

#33016 install: Update image digests for v1.14.12
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.14

#33017 install: Update image digests for v1.13.17
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.13

#32814 policy/api: add more CRD validations
  Documentation/operations/upgrade.rst
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumclusterwidenetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumcidrgroups.yaml
  pkg/policy/api/cidr.go
  pkg/policy/api/entity.go
  pkg/policy/api/fqdn.go
  pkg/policy/api/http.go
  pkg/policy/api/icmp.go
  pkg/policy/api/l4.go
Labels: kind/cleanup, release-note/minor, sig/policy, ready-to-merge

#32945 maps: nat: remove rtp.log
  pkg/maps/nat/stats/rtp.log
Labels: kind/cleanup, ready-to-merge, release-note/misc, feature/snat

#32761 ci-e2e: Add the coverage for Ingress + bpf.masquerade
  .github/workflows/conformance-e2e.yaml
Labels: ready-to-merge, release-note/ci

#32998 renovate: prevent upgrading certgen to v0.2 in stable branches
  .github/renovate.json5
Labels: release-note/misc

#32921 Remove etcd.managed Helm setting
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  contrib/release/check-docker-images.sh
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/templates/cilium-operator/deployment.yaml
  install/kubernetes/cilium/templates/cilium-preflight/daemonset.yaml
  install/kubernetes/cilium/templates/etcd-operator/cilium-etcd-operator-clusterrole.yaml
  install/kubernetes/cilium/templates/etcd-operator/cilium-etcd-operator-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/etcd-operator/cilium-etcd-operator-deployment.yaml
  install/kubernetes/cilium/templates/etcd-operator/cilium-etcd-operator-serviceaccount.yaml
  install/kubernetes/cilium/templates/etcd-operator/etcd-operator-clusterrole.yaml
  install/kubernetes/cilium/templates/etcd-operator/etcd-operator-clusterrolebinding.yaml
  install/kubernetes/cilium/templates/etcd-operator/etcd-operator-serviceaccount.yaml
  install/kubernetes/cilium/templates/etcd-operator/poddisruptionbudget.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, area/helm, sig/kvstore

#33030 docs: Deprecate support for podnetwork etcd
  Documentation/operations/upgrade.rst
Labels: release-note/minor, ready-to-merge, sig/kvstore

#33031 doc: Listed L2LB LB class to LB IPAM doc
  Documentation/network/lb-ipam.rst
Labels: area/documentation, release-note/misc

#33027 helm/certgen: use namespaced RBAC for hubble certs generation
  install/kubernetes/cilium/templates/hubble/tls-cronjob/role.yaml
  install/kubernetes/cilium/templates/hubble/tls-cronjob/rolebinding.yaml
Labels: release-note/minor, ready-to-merge, sig/hubble, area/helm

#33024 helm: uniform CA generation for hubble and clustermesh
  install/kubernetes/cilium/templates/hubble/tls-helm/_helpers.tpl
  install/kubernetes/cilium/templates/hubble/tls-helm/metrics-server-secret.yaml
  install/kubernetes/cilium/templates/hubble/tls-helm/relay-client-secret.yaml
  install/kubernetes/cilium/templates/hubble/tls-helm/relay-server-secret.yaml
  install/kubernetes/cilium/templates/hubble/tls-helm/server-secret.yaml
  install/kubernetes/cilium/templates/hubble/tls-helm/ui-client-certs.yaml
Labels: ready-to-merge, release-note/misc, sig/hubble, area/helm

#33051 Generate SBOM from the correct release image
  .github/workflows/build-images-releases.yaml
Labels: release-note/bug, ready-to-merge, kind/backports, backport/1.14

#33029 CODEOWNERS: Move devcontainer to cilium/ci
  CODEOWNERS
Labels: ready-to-merge, release-note/misc

#33043 bgpv2: Remove node selector check from v2 PodCIDRReconciler
  pkg/bgpv1/manager/reconcilerv2/pod_cidr.go
Labels: ready-to-merge, release-note/misc, area/bgp, release-blocker/1.16

#33059 (v1.15) Add permissions to read generated SBOMs
  .github/workflows/build-images-releases.yaml
Labels: ready-to-merge, kind/backports, backport/1.15

#33049 README: Update releases
  README.rst
  stable.txt
Labels: area/misc, release-note/misc

#33061 gha: bump status wait timeouts in clustermesh upgrade/downgrade tests
  .github/workflows/tests-clustermesh-upgrade.yaml
Labels: area/CI, ready-to-merge, area/clustermesh, release-note/ci

#33062 docs: ipsec: mention dependency on transparent mode for DNS proxy
  Documentation/security/network/encryption-ipsec.rst
Labels: area/documentation, ready-to-merge, area/encryption, release-note/misc, needs-backport/1.13, needs-backport/1.14, feature/ipsec, needs-backport/1.15

#33073 [v1.14] Disable release SBOM asset uploads
  .github/workflows/build-images-releases.yaml
Labels: ready-to-merge, kind/backports, release-note/ci, backport/1.14

#32997 bgpv2: Allow empty advertisement
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgpadvertisements.yaml
  pkg/k8s/apis/cilium.io/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_advert_types.go
Labels: release-note/misc

#32890 l2-discovery: fix health reporting for link updater
  pkg/node/manager/manager.go
  pkg/node/manager/queue.go
  pkg/node/manager/queue_test.go
Labels: release-note/bug, ready-to-merge, area/health, release-blocker/1.16

#32268 ci: add tests for migration to CiliumEndpointSlice
  .github/workflows/tests-ces-migrate.yaml
Labels: ready-to-merge, release-note/ci, kind/community-contribution

#33081 bpf: host: use security identities in to-netdev's trace notifications
  bpf/bpf_host.c
Labels: sig/datapath, area/monitor, ready-to-merge, release-note/misc

#33013 envoy: Remove un-necessary warning log filtering
  pkg/envoy/embedded_envoy.go
Labels: kind/cleanup, area/proxy, ready-to-merge, release-note/misc

#32936 removed depreacted calls and added nolint for strings.Title
  cilium-dbg/cmd/bgp_route_get.go
  cilium-dbg/cmd/bgp_route_policy_get.go
  daemon/cmd/status.go
  operator/pkg/model/translation/gateway-api/translator_fixture_test.go
  pkg/aws/eni/limits/limits_test.go
  pkg/bgpv1/agent/controller_test.go
  pkg/bgpv1/gobgp/state_test.go
  pkg/bgpv1/manager/manager_test.go
  pkg/bgpv1/manager/reconciler/neighbor_test.go
  pkg/bgpv1/manager/reconciler/pod_cidr_test.go
  pkg/bgpv1/manager/reconciler/preflight_test.go
  pkg/bgpv1/manager/reconciler/route_policy_test.go
  pkg/bgpv1/manager/reconciler/service_test.go
  pkg/bgpv1/test/fixtures.go
  pkg/bgpv1/test/neighbor_test.go
  pkg/bgpv1/types/test_fixtures.go
  pkg/hubble/parser/fieldmask/fieldmask_test.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgpp_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgpp_types_test.go
  pkg/l2announcer/l2announcer_test.go
  pkg/node/bootid_linux.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#32879 bpf: host: add host_egress_policy hook
  bpf/bpf_host.c
Labels: sig/datapath, release-note/misc

#33072 [v1.15] Disable release SBOM asset uploads
  .github/workflows/build-images-releases.yaml
Labels: ready-to-merge, kind/backports, release-note/ci, backport/1.15

#31936 Update CEPS watchdog bpf program loaded logger
  daemon/cmd/watchdogs.go
Labels: ready-to-merge, release-note/misc

#33093 gha: Only retrieve IPv4 CIDR from docker network
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ingress.yaml
Labels: release-note/ci, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#33096 gh: e2e-upgrade: disable config 7
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, release-note/ci

#32944 bpf: transport source identity in MARK_MAGIC_OVERLAY
  bpf/bpf_host.c
  bpf/bpf_overlay.c
  bpf/lib/encrypt.h
  bpf/lib/overloadable_skb.h
  bpf/tests/tc_host_encrypted_overlay.c
Labels: sig/datapath, area/encryption, release-note/misc, feature/ipsec

#33110 v1.15 Backports 2024-06-13
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ingress.yaml
Labels: ready-to-merge, kind/backports, backport/1.15

#33111 v1.14 Backports 2024-06-13
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ingress.yaml
Labels: ready-to-merge, kind/backports, backport/1.14

#33112 v1.13 Backports 2024-06-13
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ingress.yaml
Labels: ready-to-merge, kind/backports, backport/1.13

#33100 v1.13 Backports 2024-06-12
  Documentation/security/network/encryption-ipsec.rst
Labels: ready-to-merge, kind/backports, backport/1.13

#33055 k8s: remove unused method NewStandaloneClientset
  pkg/k8s/client/cell.go
Labels: kind/cleanup, sig/k8s, release-note/misc

#32982 logging: Pass debug to slog as well
  pkg/logging/logging.go
Labels: kind/enhancement, area/cli, release-note/misc, sig/agent

#32999 clustermesh: switch to surge upgrade strategy.
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, area/clustermesh, area/helm

#33115 bpf: avoid race when selecting the RevSNAT port
  bpf/lib/nat.h
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, affects/v1.13, affects/v1.14, feature/snat, affects/v1.15

#33071 endpoint: remove unused parameter from Add/NewEndpoint functions
  cilium-health/launch/endpoint.go
  daemon/cmd/daemon_main.go
  daemon/cmd/endpoint.go
  pkg/endpointmanager/cell.go
  pkg/endpointmanager/manager.go
Labels: kind/cleanup, release-note/misc

#33070 Fix release build SBOM generation
  .github/workflows/build-images-releases.yaml
Labels: release-note/bug, ready-to-merge

#33091 ci: make runtime privileged tests not run in parallel
  .github/workflows/conformance-runtime.yaml
  Makefile
Labels: ready-to-merge, release-note/ci

#33097 iptables: Run an initial full reconciliation to avoid spurious startup errors
  pkg/datapath/iptables/reconciler.go
Labels: release-note/bug, ready-to-merge, area/iptables

#33105 daemon: remove unused method GetOptions
  daemon/cmd/daemon.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#33124 [v1.15] remove tracking of backports with MLH
  .github/maintainers-little-helper.yaml
Labels: kind/backports, release-note/misc, backport/1.15

#33125 [v1.14] - remove tracking of backports with MLH
  .github/maintainers-little-helper.yaml
Labels: kind/backports, release-note/misc, backport/1.14

#33123 remove tracking of backports with MLH
  .github/maintainers-little-helper.yaml
Labels: ready-to-merge, release-note/misc

#33050 gateway-api: Check for matching controller name
  operator/pkg/gateway-api/gateway.go
  operator/pkg/gateway-api/gateway_reconcile.go
  operator/pkg/gateway-api/gateway_reconcile_test.go
Labels: kind/bug, release-note/bug, ready-to-merge, needs-backport/1.15

#33083 bpf: encap: fix ifindex in TO_OVERLAY trace notification
  bpf/lib/encap.h
  bpf/lib/overloadable_skb.h
  bpf/lib/overloadable_xdp.h
Labels: sig/datapath, area/monitor, ready-to-merge, release-note/misc

#33075 bgpv2: pass types.Router in path and policy reconcilers
  pkg/bgpv1/manager/reconcilerv2/paths.go
  pkg/bgpv1/manager/reconcilerv2/pod_cidr.go
  pkg/bgpv1/manager/reconcilerv2/pod_ip_pool.go
  pkg/bgpv1/manager/reconcilerv2/policies.go
  pkg/bgpv1/manager/reconcilerv2/service.go
Labels: ready-to-merge, release-note/misc, area/bgp

#33106 daemon: remove unnecessary method DebugEnabled
  daemon/cmd/daemon.go
  daemon/cmd/hubble.go
  pkg/hubble/observer/local_observer_test.go
  pkg/hubble/observer/observeroption/option.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#33060 docs: minor updates for Egress Gateway
  Documentation/network/egress-gateway.rst
Labels: area/documentation, ready-to-merge, release-note/misc, feature/egress-gateway

#33078 renovate: Add the configuration for spire images
  .github/renovate.json5
  install/kubernetes/Makefile.values
Labels: release-note/misc

#32563 ctmap: dump CT entry's BackendID
  pkg/maps/ctmap/types.go
Labels: sig/datapath, area/bugtool, release-note/misc, feature/conntrack, area/loadbalancing

#33120 ipcache: Fix orphaned ipcache entries when mixing Upsert and Inject
  pkg/ipcache/metadata.go
Labels: release-note/misc, backport/author, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#33104 prefilter: move api handler from daemon to prefilter hive cell
  CODEOWNERS
  daemon/cmd/api_handlers.go
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/prefilter.go
  pkg/datapath/prefilter/api.go
  pkg/datapath/prefilter/cell.go
  pkg/datapath/prefilter/prefilter.go
Labels: kind/enhancement, release-note/misc, area/modularization

#33148 egressgw: skip gressgw handling if the packet is from host
  bpf/bpf_host.c
Labels: release-note/misc, feature/egress-gateway

#33146 endpoint: Fix Policy Sync Method
  pkg/endpoint/bpf.go
  pkg/policy/mapstate.go
Labels: sig/policy, ready-to-merge, release-note/misc, release-blocker/1.16

#33127 bpf: improve Wireguard test coverage
  bpf/Makefile
  bpf/complexity-tests/510/bpf_host/4.txt
  bpf/complexity-tests/54/bpf_host/4.txt
  bpf/complexity-tests/61/bpf_host/4.txt
  bpf/complexity-tests/netnext/bpf_host/4.txt
  bpf/node_config.h
Labels: area/CI, sig/datapath, ready-to-merge, area/encryption, release-note/ci, feature/wireguard

#33102 lrp: move api handler from daemon to lrp hive cell
  daemon/cmd/api_handlers.go
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  pkg/redirectpolicy/api.go
  pkg/redirectpolicy/cell.go
Labels: kind/enhancement, ready-to-merge, release-note/misc, area/lrp, area/modularization

#33140 kvstore: correctly assign permissions to single key, rather than prefix
  pkg/kvstore/etcdinit/init.go
Labels: ready-to-merge, release-note/misc, sig/kvstore

#33119 gateway-api: Update docs for v1.1.0
  Documentation/network/servicemesh/gateway-api/gateway-api.rst
  Documentation/network/servicemesh/gateway-api/installation.rst
  Documentation/operations/upgrade.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#33139 k8s: Fix usage of assert in TestWaitForCacheSyncWithTimeout
  pkg/k8s/synced/resources_test.go
Labels: kind/bug/CI, ready-to-merge, release-note/misc

#33158 dev-doctor: update hint links
  tools/dev-doctor/rootcmd.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#33136 chore: Bump spire agent and server versions
  Documentation/helm-values.rst
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/minor, area/servicemesh

#32599 feat: Watch and Read cilium network policies from static directory path
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  daemon/cmd/cells.go
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  pkg/ipcache/types/types.go
  pkg/labels/labels.go
  pkg/policy/directory/cell.go
  pkg/policy/directory/watcher.go
  pkg/source/source.go
Labels: release-note/major, sig/policy, ready-to-merge, release-blocker/1.16

#33147 ci: fix ces migration test trigger and conn-disrupt usage
  .github/workflows/tests-ces-migrate.yaml
Labels: area/CI, release-note/ci, kind/community-contribution

#33126 [v1.13] - remove tracking of backports with MLH
  .github/maintainers-little-helper.yaml
Labels: kind/backports, release-note/misc, backport/1.13

#33165 renovate: run post upgrade tasks on Makefile.values
  .github/actions/renovate/entrypoint.sh
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: release-note/misc

#33150 workflows: e2e-upgrade: fix EXTRA parameters
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.15

#33169 .github/workflows: pin renovate version
  .github/workflows/renovate.yaml
Labels: release-note/misc

#32979 clustermesh: extract operator logic into a specific package
  operator/cmd/root.go
  pkg/clustermesh/endpointslicesync/cell.go
  pkg/clustermesh/endpointslicesync/dummy_informer.go
  pkg/clustermesh/endpointslicesync/endpointslice_meta_controller.go
  pkg/clustermesh/endpointslicesync/endpointslice_test.go
  pkg/clustermesh/endpointslicesync/endpointslicesync.go
  pkg/clustermesh/endpointslicesync/metrics.go
  pkg/clustermesh/endpointslicesync/node_informer.go
  pkg/clustermesh/endpointslicesync/pod_informer.go
  pkg/clustermesh/endpointslicesync/service_informer.go
  pkg/clustermesh/operator/api.go
  pkg/clustermesh/operator/cell.go
  pkg/clustermesh/operator/clustermesh.go
  pkg/clustermesh/operator/metrics.go
  pkg/clustermesh/operator/remote_cluster.go
Labels: ready-to-merge, area/clustermesh, release-note/misc

#32733 datapath: Add support for skipping direct routes on different L2 networks
  Documentation/cmdref/cilium-agent.md
  Documentation/helm-values.rst
  Documentation/network/concepts/routing.rst
  USERS.md
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
  pkg/datapath/orchestrator/localnodeconfig.go
  pkg/datapath/types/node.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#33033 helm: loadBalancerClass for Cluster Mesh APIserver
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/clustermesh-apiserver/service.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, area/clustermesh, area/helm, needs-backport/1.15

#33186 vendor: pin StateDB to version v0.1.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#32852 ui: v0.13.1 release
  Documentation/helm-values.rst
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/minor, ready-to-merge, sig/hubble, needs-backport/1.14, needs-backport/1.15

#33077 Add securityContext & disable hostNetwork in cronjob helm template
  install/kubernetes/cilium/templates/hubble/tls-cronjob/_job-spec.tpl
Labels: ready-to-merge, release-note/misc, sig/hubble, area/helm, kind/community-contribution

#33167 doc: Update doc for CRD CiliumNodeConfig from v2alpha1 to v2
  Documentation/configuration/per-node-config.rst
  Documentation/installation/k8s-install-migration.rst
Labels: area/documentation, release-note/misc

#33143 operator: ignore identity delete conflicts
  operator/identitygc/crd_gc.go
Labels: kind/bug, release-note/bug, ready-to-merge, kind/community-contribution, affects/v1.14, affects/v1.15

#33185 gha: Add more flags for Ingress Conformance test
  .github/workflows/conformance-ingress.yaml
Labels: area/CI, release-note/ci

#32958 pkg/identitybackend: Make sanitizeK8sLabels method public
  pkg/k8s/identitybackend/identity.go
  pkg/k8s/identitybackend/identity_test.go
Labels: ready-to-merge, release-note/misc

#33202 gha: Grant write status permission
  .github/workflows/tests-ces-migrate.yaml
Labels: release-note/ci

#31145 IPAM: Adds AWS IPv6 Prefix Delegation Config Option
  operator/option/config.go
  pkg/alibabacloud/eni/node_test.go
  pkg/aws/eni/node_manager_test.go
  pkg/azure/ipam/ipam_test.go
  pkg/ipam/allocator/alibabacloud/alibabacloud.go
  pkg/ipam/allocator/aws/aws.go
  pkg/ipam/allocator/azure/azure.go
  pkg/ipam/node.go
  pkg/ipam/node_manager.go
  pkg/ipam/node_manager_test.go
Labels: release-note/minor, ready-to-merge, stale, area/eni, sig/ipam, area/ipam

#33216 build-images: fetch artifacts with specific pattern
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-beta.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
Labels: release-note/misc, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#33161 Reconcile qdiscs accurately when using BW manager
  pkg/datapath/linux/bandwidth/ops.go
Labels: ready-to-merge, release-note/misc, feature/bandwidth-manager

#33211 datapath: clean up unused SECLABEL_NB
  bpf/ep_config.h
  bpf/netdev_config.h
  pkg/datapath/linux/config/config.go
  pkg/datapath/loader/template.go
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#33217 README: Update releases
  README.rst
Labels: release-note/misc

#33181 bpf: lxc: prefer SECLABEL_IPV4 over SECLABEL in ipv4_policy()
  bpf/bpf_lxc.c
Labels: kind/bug, sig/datapath, sig/policy, ready-to-merge, release-note/misc, needs-backport/1.15

#33183 bpf: host: sanitize whole skb->cb in to-netdev
  bpf/bpf_host.c
Labels: sig/datapath, ready-to-merge, release-note/misc

#33227 v1.14 Backports 2024-06-18
  Documentation/helm-values.rst
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.14

#33151 LB-IPAM: Change default CiliumLoadBalancerIPPool behavior and remove deprecated cidrs field from CiliumLoadBalancerIPPool
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ingress.yaml
  Documentation/operations/upgrade.rst
  operator/pkg/lbipam/lbipam.go
  operator/pkg/lbipam/lbipam_fixture_test.go
  operator/pkg/lbipam/lbipam_test.go
  pkg/bgpv1/manager/reconciler/route_policy.go
  pkg/bgpv1/manager/reconciler/route_policy_test.go
  pkg/bgpv1/test/objects.go
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumloadbalancerippools.yaml
  pkg/k8s/apis/cilium.io/v2alpha1/lbipam_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepequal.go
Labels: kind/cleanup, release-note/minor, feature/lb-ipam

#33152 [v1.15] ipcache: Fix orphaned ipcache entries when mixing Upsert and Inject
  pkg/ipcache/metadata.go
  pkg/ipcache/metadata_test.go
Labels: kind/backports, backport/1.15

#33230 fqdn: Skip "open ports" check for statically configured ports
  daemon/cmd/fqdn.go
  pkg/proxy/proxy.go
  pkg/proxy/proxy_test.go
Labels: area/proxy, sig/policy, release-note/misc

#33256 Revert "Fix CiliumEnvoyConfig Nodeport handling" #33040
  operator/pkg/model/translation/ingress/dedicated_ingress.go
  operator/pkg/model/translation/ingress/dedicated_ingress_fixture_test.go
  pkg/ciliumenvoyconfig/cec_manager.go
Labels: ready-to-merge, release-note/misc

#33248 clustermesh: fix spurious cluster configuration add event
  pkg/clustermesh/common/config.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/clustermesh, needs-backport/1.15
