Repository cilium/cilium, pull requests merged in 2024-12, with the labels that each got.

#35531 bpf: minor SNAT improvements
  bpf/lib/nat.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/snat

#36284 v1.14 Backports 2024-12-01
  cilium/cmd/preflight_identity_crd_migrate.go
Labels: ready-to-merge, kind/backports, backport/1.14

#36305 docs: Fix typo in multi-pool section title
  Documentation/network/bgp-control-plane/bgp-control-plane-v1.rst
  Documentation/network/bgp-control-plane/bgp-control-plane-v2.rst
Labels: release-note/misc, needs-backport/1.16

#36295 envoy: Bump cilium-envoy to latest version
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/minor

#35697 images: Use cilium-builder image instead of golang to build hubble
  images/hubble-relay/Dockerfile
Labels: ready-to-merge, release-note/misc, area/build, affects/v1.15, needs-backport/1.15, needs-backport/1.16, affects/v1.16

#36314 gha: default the helm-default image-tag also in pull request workflows
  .github/workflows/conformance-k8s-kind-network-policies.yaml
  .github/workflows/conformance-k8s-kind.yaml
  .github/workflows/conformance-kind-proxy-embedded.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#36304 README: Update releases
  README.rst
Labels: ready-to-merge, release-note/misc

#36318 gha: configure environment in build-images-base/image-digests job
  .github/workflows/build-images-base.yaml
Labels: area/CI, release-note/ci, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#36185 promise: Replace go routine with `context.AfterFunc`
  pkg/promise/promise.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#36328 bpf: host: remove unused code in handle_netdev()
  bpf/bpf_host.c
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc, area/host-firewall

#36327 bpf: proxy: split out the TPROXY parts from ctx_redirect_to_proxy_first()
  bpf/lib/proxy.h
Labels: sig/datapath, kind/cleanup, area/proxy, ready-to-merge, release-note/misc

#35762 ui: drop CORS headers from api response
  install/kubernetes/cilium/templates/hubble-ui/_nginx.tpl
Labels: release-note/bug, ready-to-merge, sig/hubble

#36302 v1.16 Backports 2024-12-02
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_test.go
Labels: ready-to-merge, kind/backports, backport/1.16

#36313 v1.15 Backports 2024-12-03
  images/hubble-relay/Dockerfile
Labels: ready-to-merge, kind/backports, backport/1.15

#36315 nodemanager: cleanup clusternodesclient
  pkg/node/manager/rest_api.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, sig/agent

#36186 bpf: Avoid implicit shorten-64-to-32 in clang 19
  bpf/include/bpf/ctx/xdp.h
  bpf/lib/common.h
  bpf/lib/conntrack.h
  bpf/lib/csum.h
  bpf/lib/dbg.h
  bpf/lib/drop.h
  bpf/lib/fib.h
  bpf/lib/high_scale_ipcache.h
  bpf/lib/icmp6.h
  bpf/lib/ipv4.h
  bpf/lib/lb.h
  bpf/lib/nat.h
  bpf/lib/nat_46x64.h
  bpf/lib/nodeport.h
  bpf/lib/overloadable_skb.h
  bpf/lib/overloadable_xdp.h
  bpf/lib/pcap.h
  bpf/lib/policy_log.h
  bpf/lib/trace.h
  bpf/tests/bpf_ct_tests.c
  bpf/tests/bpf_nat_tests.c
  bpf/tests/conntrack_test.c
  bpf/tests/pktgen.h
  bpf/tests/xdp_nodeport_lb4_test.c
Labels: area/llvm, sig/datapath, release-note/misc

#35421 CFP: Egress Gateway Additional NodeSelectors
  Documentation/network/egress-gateway/egress-gateway.rst
  Documentation/spelling_wordlist.txt
  pkg/egressgateway/endpoint.go
  pkg/egressgateway/helpers_test.go
  pkg/egressgateway/manager.go
  pkg/egressgateway/manager_privileged_test.go
  pkg/egressgateway/policy.go
  pkg/egressgateway/policy_test.go
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumegressgatewaypolicies.yaml
  pkg/k8s/apis/cilium.io/v2/cegp_types.go
  pkg/k8s/apis/cilium.io/v2/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2/zz_generated.deepequal.go
Labels: release-note/minor, ready-to-merge, feature/egress-gateway

#36266 bpf: add host_wg_encrypt hook
  bpf/bpf_host.c
Labels: sig/datapath, ready-to-merge, area/encryption, release-note/misc, feature/wireguard

#36352 k8s: Bump k8s to v1.32.rc-1
  .github/actions/ginkgo/main-k8s-versions.yaml
  .github/actions/set-env-variables/action.yml
  go.mod
  go.sum
  vendor/modules.txt
Labels: release-note/misc

#34779 Allow delegated IPAM to specify uplink interface
  Documentation/cmdref/cilium-agent.md
  Documentation/helm-values.rst
  api/v1/models/daemon_configuration_status.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/cmd/daemon_main.go
  daemon/restapi/config.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/endpoint/endpoint.go
  pkg/option/config.go
  plugins/cilium-cni/cmd/cmd.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#36339 fix: set netpol disablement values before disabling CEP
  pkg/option/config.go
Labels: sig/policy, release-note/misc

#36306 bgp: remove metallb-bgp documentation
  Documentation/community/roadmap.rst
  Documentation/network/bgp-control-plane/bgp-control-plane.rst
  Documentation/network/bgp-toc.rst
  Documentation/network/bgp.rst
  Documentation/operations/upgrade.rst
  Documentation/redirects.txt
Labels: release-note/misc, area/bgp

#35868 Do not leak ipcache entries when apiserver entities are cluster external
  pkg/ipcache/metadata.go
  pkg/ipcache/metadata_test.go
  pkg/labels/labels.go
Labels: kind/bug, release-note/bug, sig/policy, ready-to-merge

#36332 api: silence warning if API response failed due to connection closed
  pkg/api/apipanic.go
Labels: ready-to-merge, release-note/misc

#36267 Update documentation for egress masquerading behavior
  Documentation/network/concepts/masquerading.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.15, needs-backport/1.16

#36217 Documentation: Add more details regarding svc lb map sizing.
  Documentation/network/ebpf/maps.rst
Labels: area/documentation, release-note/minor, area/loadbalancing

#36376 chore: quarantine high-scale IPcache
  test/k8s/datapath_configuration.go
Labels: area/CI, ready-to-merge, release-note/ci, feature/high-scale-ipcache

#36350 Update Service Mesh Makefile targets
  Makefile.kind
Labels: ready-to-merge, release-note/misc, area/servicemesh

#36385 envoy: remove incorrect comments
  pkg/envoy/xds_server.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#36384 gh: conformance-clustermesh: test with IPsec + BPF NodePort
  .github/workflows/conformance-clustermesh.yaml
Labels: area/CI, area/clustermesh, release-note/ci, feature/ipsec, needs-backport/1.16

#36386 docs: system-requirements: require 5.4 kernel
  Documentation/installation/requirements-intro.rst
  Documentation/operations/system_requirements.rst
Labels: sig/kernel, area/documentation, sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.16

#36382 bpf: proxy: cleanup ctx_redirect_to_proxy_first_tproxy()
  bpf/lib/proxy.h
Labels: sig/datapath, kind/cleanup, area/proxy, release-note/misc

#36252 fqdn: fix zombie over-limit reaping
  pkg/fqdn/cache.go
  pkg/fqdn/cache_test.go
Labels: kind/bug, release-note/bug, ready-to-merge, affects/v1.14, area/fqdn, affects/v1.15, needs-backport/1.16

#36368 sysctlfix: close systemd config file before triggering reload
  tools/sysctlfix/main.go
Labels: release-note/bug, ready-to-merge

#36389 proxyports: Sleep a bit longer in tests
  pkg/proxy/proxyports/proxyports_test.go
Labels: ready-to-merge, release-note/misc, ci/flake

#36255 defaults: bump FQDN max ips per host
  Documentation/cmdref/cilium-agent.md
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/defaults/defaults.go
Labels: sig/policy, ready-to-merge, release-note/misc, sig/agent, area/fqdn

#36399 proxyports: Resolve data races in test
  pkg/proxy/proxyports/proxyports_test.go
Labels: ready-to-merge, release-note/misc, kind/bug/race-detector

#36397 ci: fix job names for various ci workflows
  .github/workflows/fqdn-perf.yaml
  .github/workflows/scale-test-100-gce.yaml
  .github/workflows/scale-test-clustermesh.yaml
  .github/workflows/scale-test-node-throughput-gce.yaml
  .github/workflows/tests-ces-migrate.yaml
Labels: release-note/ci

#36150 bpffs: Use defaults.BPFFSRoot to distinguish default/custom BPF FS mount location
  pkg/bpf/bpffs_linux.go
Labels: release-note/minor, ready-to-merge

#36330 envoy: Pass tofqdns-proxy-response-max-delay to Envoy
  cilium-cli/connectivity/tests/errors.go
  pkg/ciliumenvoyconfig/cec_resource_parser.go
  pkg/envoy/xds_server.go
Labels: kind/enhancement, area/proxy, release-note/misc, affects/v1.14, affects/v1.15, needs-backport/1.16, release-blocker/1.17

#36176 loader: remove stale tc filters with a different priority
  pkg/datapath/loader/tc.go
  pkg/datapath/loader/tc_test.go
Labels: release-note/bug, ready-to-merge

#36380 Don't mark KVstoreLeaseTTL flag as hidden
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/cmdref/clustermesh-apiserver_clustermesh.md
  Documentation/cmdref/clustermesh-apiserver_clustermesh_hive.md
  Documentation/cmdref/clustermesh-apiserver_clustermesh_hive_dot-graph.md
  Documentation/cmdref/clustermesh-apiserver_kvstoremesh.md
  Documentation/cmdref/clustermesh-apiserver_kvstoremesh_hive.md
  Documentation/cmdref/clustermesh-apiserver_kvstoremesh_hive_dot-graph.md
  daemon/cmd/daemon_main.go
  operator/cmd/flags.go
  pkg/kvstore/cell.go
Labels: ready-to-merge, release-note/misc

#36412 k8s: Bump k8s to v1.32.rc-2
  .github/actions/ginkgo/main-k8s-versions.yaml
  .github/actions/set-env-variables/action.yml
  go.mod
  go.sum
  vendor/modules.txt
Labels: release-note/minor

#36395 bpf: host: exit early when to-host handles to-proxy traffic
  bpf/bpf_host.c
Labels: sig/datapath, area/proxy, ready-to-merge, release-note/misc

#36358 cilium-cli/connectivity: disable warning log checks before v1.17
  cilium-cli/connectivity/tests/errors.go
  cilium-cli/connectivity/tests/errors_test.go
Labels: release-note/ci, cilium-cli, cilium-cli-exclusive

#35413 chore: add versioning for drop notify messages
  bpf/lib/common.h
  bpf/lib/dbg.h
  bpf/lib/drop.h
  bpf/lib/policy_log.h
  bpf/lib/trace.h
  pkg/hubble/parser/threefour/parser.go
  pkg/monitor/datapath_drop.go
  pkg/monitor/datapath_drop_test.go
Labels: kind/enhancement, area/misc, ready-to-merge, release-note/misc

#36383 bpf: nodeport: forward L7 svc traffic straight to proxy
  bpf/bpf_host.c
  bpf/bpf_overlay.c
  bpf/bpf_xdp.c
  bpf/lib/nodeport.h
Labels: sig/datapath, area/proxy, ready-to-merge, release-note/misc, area/loadbalancing

#36415 [v1.15] gha: Upgrade helm/kind-action to the latest upstream
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind-proxy-daemonset.yaml
  .github/workflows/conformance-multi-pool.yaml
  .github/workflows/tests-clustermesh-upgrade.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: kind/bug/CI, area/CI, kind/backports, release-note/ci, backport/1.15

#36355 .github: fix conformance-k8s NP test
  .github/workflows/conformance-k8s-network-policies.yaml
Labels: kind/bug/CI, area/CI, release-note/misc

#36319 node: remove refresh parameter from NodeNeighborRefresh
  pkg/datapath/fake/types/node_handler.go
  pkg/datapath/linux/fuzz_test.go
  pkg/datapath/linux/node.go
  pkg/datapath/linux/node_linux_test.go
  pkg/datapath/types/config.go
  pkg/datapath/types/node.go
  pkg/node/manager/manager.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#36400 Lower interval for icmp probes and stop on first success
  pkg/health/server/prober.go
Labels: kind/bug, release-note/misc

#36402 metrics/features: enable ClusterMesh
  pkg/clustermesh/clustermesh.go
  pkg/clustermesh/clustermesh_test.go
  pkg/clustermesh/remote_cluster.go
  pkg/clustermesh/remote_cluster_test.go
  pkg/clustermesh/services_test.go
  pkg/metrics/features/cell.go
  pkg/metrics/features/metrics.go
  pkg/metrics/features/misc.go
  pkg/metrics/features/misc_test.go
Labels: ready-to-merge, area/metrics, area/clustermesh, release-note/misc

#36424 datapath/linux: Remove device's neighbors upon device deletion
  pkg/datapath/linux/devices_controller.go
Labels: ready-to-merge, release-note/misc

#36056 policy: Add datapath proxy port priority
  bpf/lib/common.h
  bpf/lib/policy.h
  cilium-dbg/cmd/helpers.go
  pkg/endpoint/api.go
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/redirect_test.go
  pkg/maps/policymap/policymap.go
  pkg/maps/policymap/policymap_privileged_test.go
  pkg/maps/policymap/policymap_test.go
  pkg/policy/api/l4.go
  pkg/policy/distillery_test.go
  pkg/policy/fuzz_test.go
  pkg/policy/l4.go
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
  pkg/policy/resolve_deny_test.go
  pkg/policy/resolve_test.go
  pkg/policy/rule.go
  pkg/policy/rule_test.go
  pkg/policy/types/entry.go
Labels: release-note/major, sig/policy, release-blocker/1.17

#36426 connectivity: run client-egress-to-cidrgroup-deny conditionally
  cilium-cli/connectivity/builder/client_egress_to_cidrgroup_deny.go
Labels: ready-to-merge, release-note/misc, cilium-cli, cilium-cli-exclusive

#35885 maglev: Cleanup implementation
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  daemon/cmd/cells.go
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/datapath.go
  daemon/cmd/kube_proxy_replacement.go
  daemon/cmd/status.go
  pkg/ciliumenvoyconfig/exp_test.go
  pkg/datapath/cells.go
  pkg/datapath/linux/config/cell.go
  pkg/datapath/linux/config/config.go
  pkg/datapath/linux/config/config_test.go
  pkg/loadbalancer/experimental/benchmark/benchmark.go
  pkg/loadbalancer/experimental/bpf_reconciler.go
  pkg/loadbalancer/experimental/bpf_reconciler_test.go
  pkg/loadbalancer/experimental/cell_test.go
  pkg/loadbalancer/experimental/config.go
  pkg/loadbalancer/experimental/lbmaps.go
  pkg/loadbalancer/experimental/script_test.go
  pkg/maglev/maglev.go
  pkg/maglev/maglev_test.go
  pkg/maps/lbmap/lbmap.go
  pkg/maps/lbmap/maglev_test.go
  pkg/option/config.go
Labels: release-note/misc

#36373 docs, daemon: Deprecate high-scale ipcache mode
  Documentation/cmdref/cilium-agent.md
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
Labels: release-note/minor, ready-to-merge, feature/high-scale-ipcache

#36429 datapath/linux: Fix neighbor table index conversions
  pkg/datapath/tables/neighbor.go
Labels: ready-to-merge, release-note/misc

#36357 v1.16 Backports 2024-12-04
  .github/workflows/conformance-clustermesh.yaml
Labels: ready-to-merge, kind/backports, backport/1.16

#36366 certloader: prevent panic when Watcher.Stop is called multiple times
  pkg/crypto/certloader/watcher.go
Labels: ready-to-merge, release-note/misc, sig/hubble, kind/community-contribution

#36367 gha: always collect and upload sysdump if 100 nodes scale test fails
  .github/workflows/scale-test-100-gce.yaml
Labels: ready-to-merge, release-note/ci

#36407 [v1.15] docs: egress masquerade selector
  Documentation/installation/k8s-install-helm.rst
Labels: kind/backports, release-note/misc, backport/1.15

#36333 [v1.16] docs: egress masquerade selector
  Documentation/installation/k8s-install-helm.rst
Labels: kind/backports, release-note/misc, backport/1.16

#36459 renovate: do not pin digest for helm/kind-action
  .github/renovate.json5
Labels: release-note/misc

#36388 test/k8s: remove unused migrate-svc manifests
  test/k8s/manifests/migrate-svc-client.yaml
  test/k8s/manifests/migrate-svc-server.yaml
Labels: kind/cleanup, ready-to-merge, release-note/ci

#36461 .github/workflows: do not fail ginkgo if unable to fetch features
  .github/workflows/conformance-ginkgo.yaml
Labels: ready-to-merge, release-note/misc

#36463 gh: e2e-upgrade: de-renovate the config example
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, release-note/ci, dependencies, needs-backport/1.15, needs-backport/1.16

#36465 v1.14 Backports 2024-12-09
  .github/workflows/build-images-base.yaml
Labels: kind/backports, backport/1.14

#36410 Add the tls:// prefix in the Hubble TLS doc
  Documentation/observability/hubble/configuration/tls.rst
Labels: area/documentation, release-note/misc, sig/hubble, needs-backport/1.16

#36378 CODEOWNERS: Add feature owners for masquerade
  CODEOWNERS
Labels: ready-to-merge, release-note/misc, sig/contributing

#36460 cilium-cli: Limit L7 port range tests to 1.17 and up
  cilium-cli/connectivity/builder/client_egress_l7.go
  cilium-cli/connectivity/builder/client_egress_l7_method.go
  cilium-cli/connectivity/builder/client_egress_l7_set_header.go
  cilium-cli/connectivity/builder/client_egress_l7_tls_headers.go
  cilium-cli/connectivity/builder/north_south_loadbalancing_with_l7_policy.go
  cilium-cli/utils/features/features.go
Labels: ready-to-merge, release-note/misc, cilium-cli, cilium-cli-exclusive

#36347 CLI: cilium upgrade preserve prev config
  cilium-cli/cli/install.go
  cilium-cli/install/install.go
  cilium-cli/install/upgrade.go
  cilium-cli/internal/helm/helm.go
Labels: release-note/major, upgrade-impact, kind/community-contribution, cilium-cli, cilium-cli-exclusive

#36408 [v1.14] docs: egress masquerade selector
  Documentation/installation/k8s-install-helm.rst
Labels: kind/backports, release-note/misc, backport/1.14

#36488 bgpv2: Do not fail if PeerAddress is not configured for a peer
  pkg/bgpv1/manager/reconcilerv2/neighbor.go
  pkg/bgpv1/manager/reconcilerv2/pod_cidr.go
  pkg/bgpv1/manager/reconcilerv2/pod_ip_pool.go
  pkg/bgpv1/manager/reconcilerv2/service.go
Labels: release-note/bug, ready-to-merge, area/bgp

#36417 [dockerfile] Force NOSTRIP=1 in binary build step
  images/cilium/Dockerfile
Labels: release-note/misc, kind/community-contribution, needs-backport/1.16

#36014 operator: Add more common metrics to operator (kvstore, rate-limiting, version)
  operator/metrics/metrics.go
Labels: release-note/minor, ready-to-merge, area/metrics, area/operator

#35367 ipcache: Remove metric for idempotent operations
  pkg/ipcache/ipcache.go
  pkg/ipcache/metrics.go
Labels: ready-to-merge, release-note/misc

#35991 CODEOWNERS: create new group hubble-metrics
  CODEOWNERS
  Documentation/codeowners.rst
Labels: release-note/misc

#36513 cilium-cli/connectivity: fix IPv6 feature check for 2ndary node IPv6
  cilium-cli/connectivity/check/deployment.go
Labels: ready-to-merge, release-note/ci, cilium-cli, cilium-cli-exclusive

#36512 .gitattributes: Syntax highlight bpftrace script
  .gitattributes
Labels: release-note/misc

#36511 [v1.16] cilium, service: Fix checkLBSrcRange propagation to LB map
  pkg/service/service.go
Labels: ready-to-merge, kind/backports, backport/author, backport/1.16

#36477 docs: Remove cassandra and memcached examples
  Documentation/operations/upgrade.rst
  Documentation/redirects.txt
  Documentation/security/cassandra.rst
  Documentation/security/images/cilium_cass_gsg_attack.png
  Documentation/security/images/cilium_cass_gsg_topology.png
  Documentation/security/images/cilium_memcd_gsg_attack.png
  Documentation/security/images/cilium_memcd_gsg_topology.png
  Documentation/security/index.rst
  Documentation/security/memcached.rst
  Documentation/security/network/proxy/envoy.rst
  examples/kubernetes-cassandra/cass-populate-tables.sh
  examples/kubernetes-cassandra/cass-sw-app.yaml
  examples/kubernetes-cassandra/cass-sw-security-policy.yaml
  examples/kubernetes-memcached/memcd-env.sh
  examples/kubernetes-memcached/memcd-sw-app.yaml
  examples/kubernetes-memcached/memcd-sw-security-policy.yaml
Labels: release-note/minor

#36516 make: Update cilium-bugtool upon fast target
  Makefile.kind
  contrib/testing/kind-fast.yaml
Labels: release-note/misc, area/build

#36517 cilium: LB source ranges fixes
  pkg/maps/lbmap/lbmap.go
Labels: sig/datapath, release-note/bug, ready-to-merge, needs-backport/1.16

#36508 helm: avoid setting bpf-lb-sock-terminate-pod-connections
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: release-note/bug, ready-to-merge, feature/socket-lb, needs-backport/1.16

#36504 Egress masquerade interfaces: type change reverted
  Documentation/cmdref/cilium-agent.md
  cilium-cli/install/helm.go
  daemon/cmd/daemon_main.go
  pkg/option/config.go
Labels: release-note/bug, area/iptables, cilium-cli, release-blocker/1.17

#36534 k8s: Bump k8s to v1.32.0
  .github/actions/ginkgo/main-k8s-versions.yaml
  go.mod
  go.sum
  vendor/modules.txt
Labels: release-note/minor

#36545 make: Fix kind-image-fast-agent
  Makefile.kind
Labels: release-note/misc

#36543 ariane: don't run tests for renovate config changes
  .github/ariane-config.yaml
Labels: ready-to-merge, release-note/ci

#36548 ciliumidentity: Fixes missing enqueue time tracker entries
  operator/pkg/ciliumidentity/controller.go
Labels: release-note/minor, ready-to-merge, area/operator

#36549 docs: CiliumNetworkPolicies toCIDRSet correct description
  Documentation/security/policy/language.rst
Labels: area/documentation, release-note/misc, kind/community-contribution, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#36050 [v1.16] policy/api: Disallow Port Ranges for All L7 Rules
  pkg/policy/api/rule_validation.go
  pkg/policy/api/rule_validation_test.go
Labels: release-note/bug, ready-to-merge, kind/backports, release-blocker/1.16, backport/1.16

#36561 [v1.16] Reject CNPs with CIDRGroupRef used in combination with ExceptCIDRs
  pkg/policy/k8s/cilium_cidr_group.go
  pkg/policy/k8s/cilium_cidr_group_test.go
  pkg/policy/k8s/cilium_network_policy.go
Labels: kind/bug, sig/policy, ready-to-merge, kind/backports, backport/1.16

#36394 service: Cap number of backends included in monitor message
  pkg/hubble/parser/agent/parser_test.go
  pkg/monitor/api/types.go
  pkg/service/service.go
Labels: release-note/misc, needs-backport/1.16

#36539 contrib: suppress noop taint removal
  contrib/scripts/kind.sh
Labels: ready-to-merge, release-note/misc

#36558 Update the default identity label in the example
  Documentation/operations/performance/scalability/identity-relevant-labels.rst
Labels: area/documentation, release-note/misc, needs-backport/1.16

#36515 [dockerfile] Add debug symbol test + gdb support
  images/cilium/Dockerfile
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#36587 make: Fix kind-image-fast-agent from scratch
  Makefile.kind
Labels: release-note/misc

#36571 Bump github.com/mdlayher/arp to latest, adjust usage
  go.mod
  go.sum
  pkg/datapath/garp/garp.go
  vendor/github.com/mdlayher/arp/client.go
  vendor/github.com/mdlayher/arp/packet.go
  vendor/modules.txt
Labels: release-note/misc, dependencies

#36619 ci: datapath-verifier: also run on 6.12 kernel
  .github/workflows/tests-datapath-verifier.yaml
Labels: area/CI, sig/datapath, release-note/ci

#36574 bpf: host: minor cleanups
  bpf/bpf_host.c
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#36623 gha: Enable parallel requests for L7 tests
  .github/workflows/conformance-kind-proxy-embedded.yaml
Labels: release-note/ci

#36630 Add Kakao to USERS.md
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#36626 gh: e2e-upgrade: add coverage for 6.6 kernel
  .github/workflows/tests-e2e-upgrade.yaml
Labels: sig/kernel, area/CI, release-note/ci, needs-backport/1.16, needs-backport/1.17

#36620 [v1.16] gh: e2e-upgrade: use 6.12 kernel for netkit test configs
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, ready-to-merge, kind/backports, release-note/ci, backport/1.16, feature/netkit

#36640 gh: e2e-upgrade: add coverage for 6.12 kernel
  .github/workflows/tests-e2e-upgrade.yaml
Labels: sig/kernel, area/CI, release-note/ci, needs-backport/1.17

#36628 gha: Use ubuntu-24.04 for integration-test
  .github/workflows/integration-test.yaml
Labels: release-note/ci

#36634 [v1.15] Use bash syntax to consume env variable
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-docs-builder.yaml
Labels: kind/backports, release-note/misc, backport/1.15

#36617 helm: subnetTagsFilter/instanceTagsFilter should template to comma separated string
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: release-note/bug, ready-to-merge, area/eni, area/helm, kind/community-contribution, affects/v1.14, affects/v1.15, needs-backport/1.16

#36601 pkg/endpoint: delete unused const backupDirectorySuffix in directory.go
  pkg/endpoint/directory.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, kind/community-contribution

#36660 v1.15 Backports 2024-12-17
  .github/workflows/integration-test.yaml
Labels: kind/backports, release-note/ci, backport/1.15

#36661 v1.14 Backports 2024-12-17
  .github/workflows/integration-test.yaml
Labels: kind/backports, release-note/ci, backport/1.14

#36659 v1.16 Backports 2024-12-17
  .github/workflows/integration-test.yaml
Labels: kind/backports, release-note/ci, backport/1.16

#36665 gha: fix merging of features-related artifacts
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-ginkgo.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/conformance-runtime.yaml
  .github/workflows/net-perf-gke.yaml
  .github/workflows/tests-clustermesh-upgrade.yaml
  .github/workflows/tests-e2e-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: kind/backports, release-note/ci, backport/1.16

#36670 [1.14] loader: do not invoke llc separately
  pkg/datapath/linux/requirements.go
  pkg/datapath/loader/compile.go
  pkg/datapath/loader/compile_test.go
  pkg/datapath/loader/loader_test.go
  pkg/datapath/loader/xdp.go
Labels: kind/backports, backport/1.14

#36624 Prepare for v1.18 development cycle
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/renovate.json5
  .github/workflows/ariane-scheduled.yaml
  .github/workflows/ci-images-garbage-collect.yaml
  Documentation/contributing/testing/ci.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  pkg/k8s/apis/cilium.io/register.go
Labels: release-note/misc

#36336 cli: aws mixed nodes install fix
  cilium-cli/install/aws.go
  cilium-cli/install/aws_test.go
  cilium-cli/install/install.go
Labels: release-note/minor, ready-to-merge, release-note/misc, cilium-cli, cilium-cli-exclusive

#36595 bgpv2: Pass copy of BGPNodeConfig to reconcilers
  pkg/bgpv1/agent/controller.go
Labels: ready-to-merge, release-note/misc, affects/v1.17

#36568 Change client-egress-l7-tls tests to sequential because flaky
  cilium-cli/connectivity/builder/builder.go
  cilium-cli/connectivity/builder/client_egress_l7_tls_deny_without_headers.go
  cilium-cli/connectivity/builder/client_egress_l7_tls_headers.go
Labels: ready-to-merge, release-note/ci, cilium-cli, cilium-cli-exclusive

#36451 feat: Auto BGP router-id allocation for IPv6
  Documentation/cmdref/cilium-agent.md
  Documentation/helm-values.rst
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/bgpv1/manager/manager.go
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#36678 README: Update releases
  README.rst
  stable.txt
Labels: release-note/misc

#36597 bgpv2: add support for per-node LocalASN
  Documentation/network/bgp-control-plane/bgp-control-plane-v2.rst
  operator/pkg/bgpv2/cluster.go
  operator/pkg/bgpv2/cluster_test.go
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgpnodeconfigoverrides.yaml
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_node_override_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepequal.go
Labels: release-note/minor, ready-to-merge, area/bgp, kind/community-contribution

#36667 api/v1: remove unused generated deepcopy methods
  api/v1/models/bgp_graceful_restart.go
  api/v1/models/bgp_peer_families.go
  api/v1/models/c_id_r_policy.go
  api/v1/models/c_n_i_chaining_status.go
  api/v1/models/clock_source.go
  api/v1/models/endpoint_policy.go
  api/v1/models/identity_range.go
  api/v1/models/ip_v4_big_tcp.go
  api/v1/models/ip_v6_big_tcp.go
  api/v1/models/kube_proxy_replacement.go
  api/v1/models/l4_policy.go
  api/v1/models/policy_rule.go
  api/v1/models/routing.go
  api/v1/models/srv6.go
  api/v1/models/zz_generated.deepcopy.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#36679 Remove reference to DNS polling
  Documentation/security/policy/language.rst
Labels: area/documentation, kind/cleanup, release-note/misc, kind/community-contribution, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#36599 policy: Return labels of contributing rules from mapState.Lookup
  pkg/policy/distillery_test.go
  pkg/policy/mapstate.go
Labels: sig/policy, release-note/misc

#36682 ci/connectivity: Don't apply cnp to conn-disrupt pods in 1.15, 1.14
  cilium-cli/connectivity/check/deployment.go
Labels: ready-to-merge, release-note/misc, cilium-cli, cilium-cli-exclusive

#36674 [v1.15] gha: use /test to trigger tests in stable branches
  .github/ariane-config.yaml
  Documentation/contributing/release/backports.rst
  Documentation/contributing/testing/ci.rst
Labels: area/CI, kind/backports, release-note/ci, backport/1.15

#36675 [v1.14] gha: use /test to trigger tests in stable branches
  .github/ariane-config.yaml
  Documentation/contributing/release/backports.rst
  Documentation/contributing/testing/ci.rst
Labels: area/CI, kind/backports, release-note/ci, backport/1.14

#36673 [v1.16] gha: use /test to trigger tests in stable branches
  .github/ariane-config.yaml
  Documentation/contributing/release/backports.rst
  Documentation/contributing/testing/ci.rst
Labels: area/CI, kind/backports, release-note/ci, backport/1.16

#36696 Revert "renovate: exclude complexity-test image on v1.14 / v1.15"
  .github/renovate.json5
Labels: release-note/ci

#36672 gha: use /test to trigger tests in stable branches
  .github/workflows/ariane-scheduled.yaml
  Documentation/contributing/release/backports.rst
  Documentation/contributing/testing/ci.rst
Labels: area/CI, release-note/ci

#36690 [v1.17] gha: use /test to trigger tests in stable branches
  .github/ariane-config.yaml
  Documentation/contributing/release/backports.rst
  Documentation/contributing/testing/ci.rst
Labels: kind/backports, backport/1.17

#36633 [v1.14] Use bash syntax to consume env variable
  .github/workflows/build-images-base.yaml
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.14

#36684 gha: drop leftover token parameter in net-perf-gke workflow
  .github/workflows/net-perf-gke.yaml
Labels: kind/backports, release-note/ci, backport/1.16

#36715 renovate: Update cilium-envoy for v1.17
  .github/renovate.json5
Labels: release-note/misc

#36650 [v1.16] author backport: helm: avoid setting bpf-lb-sock-terminate-pod-connections
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: ready-to-merge, kind/backports, feature/socket-lb, backport/1.16

#36639 v1.14 Backports 2024-12-16
  Documentation/security/policy/language.rst
Labels: kind/backports, backport/1.14

#36643 [v1.14] .github: Remove CI Fuzz workflow
  .github/workflows/tests-cifuzz.yaml
Labels: kind/backports, release-note/ci, backport/1.14

#36642 [v1.15] .github: Remove CI Fuzz workflow
  .github/workflows/tests-cifuzz.yaml
Labels: kind/backports, release-note/ci, backport/1.15

#36641 [v1.16] .github: Remove CI Fuzz workflow
  .github/workflows/tests-cifuzz.yaml
Labels: kind/backports, release-note/ci, backport/1.16

#36734 gha: Disable envoy version check in upgrade/downgrade tests
  .github/workflows/tests-e2e-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: release-note/ci, needs-backport/1.17

#36723 vendor: bump ebpf-go to 0.17
  go.mod
  go.sum
  vendor/github.com/cilium/ebpf/README.md
  vendor/github.com/cilium/ebpf/btf/format.go
  vendor/github.com/cilium/ebpf/btf/types.go
  vendor/github.com/cilium/ebpf/elf_reader.go
  vendor/github.com/cilium/ebpf/internal/epoll/poller.go
  vendor/github.com/cilium/ebpf/internal/math.go
  vendor/github.com/cilium/ebpf/internal/sys/fd.go
  vendor/github.com/cilium/ebpf/map.go
  vendor/github.com/cilium/ebpf/prog.go
  vendor/github.com/cilium/ebpf/types.go
  vendor/modules.txt
Labels: release-note/misc, needs-backport/1.17

#36080 cilium-cli: add external-other-target arg to connectivity tests
  cilium-cli/cli/connectivity.go
  cilium-cli/connectivity/builder/to_fqdns.go
  cilium-cli/connectivity/check/check.go
  cilium-cli/connectivity/tests/world.go
Labels: ready-to-merge, release-note/ci, feature/ipv6-only, cilium-cli, cilium-cli-exclusive

#36736 Doc: Auto BGP router-id allocation for IPv6
  Documentation/network/bgp-control-plane/bgp-control-plane-v2.rst
Labels: area/documentation, ready-to-merge, release-note/misc, area/bgp, kind/community-contribution

#36746 gh: e2e-upgrade: don't skip upgrade for netkit configs
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, area/CI-improvement, release-note/ci, feature/netkit

#36745 gh: e2e-upgrade: enable HostFW in config 5
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, area/CI-improvement, release-note/ci, area/host-firewall

#36773 vendor: Bump gateway-api version to v1.2.1
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/gateway-api/apis/v1/gatewayclass_types_overrides.go
  vendor/sigs.k8s.io/gateway-api/pkg/consts/consts.go
Labels: release-note/minor, ready-to-merge, needs-backport/1.17

#36725 policy: Move exported Lookup to EndpointPolicy
  pkg/policy/mapstate.go
  pkg/policy/resolve.go
Labels: sig/policy, release-note/misc

#36772 renovate: Run post upgrade tasks for protoc related files
  .github/renovate.json5
Labels: ready-to-merge, release-note/misc

#36811 Add Docaposte to USERS.md
  USERS.md
Labels: release-note/misc, kind/community-contribution
