Repository cilium/cilium, pull requests merged in 2024-07, with the labels that each got.

#33438 bgpv2: deprecate local port setting in transport config
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeerconfigs.yaml
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_peer_types.go
Labels: ready-to-merge, release-note/misc, area/bgp

#33398 Extend the check-ipsec-leak bpftrace script to capture additional details of leaked packets
  .github/actions/bpftrace/scripts/check-ipsec-leaks.bt
Labels: area/CI, release-note/ci, feature/ipsec

#33451 Change GH runners to GH's default
  .github/workflows/conformance-e2e.yaml
  .github/workflows/conformance-ginkgo.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/conformance-runtime.yaml
  .github/workflows/tests-datapath-verifier.yaml
  .github/workflows/tests-e2e-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: area/misc, release-note/misc

#33403 envoy: Avoid short circuit backend filtering
  pkg/ciliumenvoyconfig/envoy_l7lb_backend_syncer.go
  pkg/ciliumenvoyconfig/envoy_l7lb_backend_syncer_test.go
Labels: release-note/bug, ready-to-merge, area/servicemesh, feature/k8s-gateway-api, feature/k8s-ingress, needs-backport/1.14, needs-backport/1.15

#33482 envoy: Update envoy 1.28.x to v1.28.5
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, kind/backports, backport/1.14

#33116 rest-api: move config modify rest api handler into rest-api cell
  daemon/cmd/api_handlers.go
  daemon/cmd/config.go
  daemon/cmd/daemon.go
  daemon/cmd/policy.go
  daemon/restapi/cell.go
  daemon/restapi/config.go
Labels: kind/enhancement, sig/policy, ready-to-merge, release-note/misc, area/modularization

#33445 docs: add upgrade note for dangling cidrGroupRefs
  Documentation/operations/upgrade.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.16

#33514 Documentation: accept ORG and REPO
  Documentation/check-crd-compat-table.sh
Labels: ready-to-merge, release-note/misc, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#33509 gh: ipsec: clarify check for leaked proxy traffic during key rotation
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: kind/cleanup, area/CI-improvement, area/encryption, release-note/ci, feature/ipsec

#33516 Cleanup: no need to deactivate l7proxy when activating EgressGetway
  Documentation/network/egress-gateway.rst
Labels: area/documentation, release-note/misc, feature/egress-gateway, kind/community-contribution, needs-backport/1.16

#33342 [v1.15-backport] helm: loadBalancerClass for Cluster Mesh APIserver
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/clustermesh-apiserver/service.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/backports, backport/1.15

#33523 Remove unnecessary hubble port-forward commands
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind-proxy-embedded.yaml
  .github/workflows/conformance-multi-pool.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: release-note/ci

#33498 docs: remove beta from local redirect policy page
  Documentation/network/kubernetes/local-redirect-policy.rst
Labels: area/documentation, release-note/misc, area/lrp, needs-backport/1.16

#33519 Renovate changes
  .github/renovate.json5
  install/kubernetes/Makefile.values
Labels: release-note/misc

#33420 daemon: Allow DNS transparent mode to be turned off with encryption
  daemon/cmd/daemon_main.go
  pkg/option/config.go
  pkg/option/config_test.go
Labels: ready-to-merge, area/encryption, release-note/misc, needs-backport/1.13, area/fqdn, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#33433 gateway-api: Bump version to latest upstream
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/gateway-api/apis/v1/gatewayclass_types.go
  vendor/sigs.k8s.io/gateway-api/apis/v1beta1/httproute_types.go
  vendor/sigs.k8s.io/gateway-api/conformance/apis/v1/groupversion.go
  vendor/sigs.k8s.io/gateway-api/conformance/tests/grpcroute-exact-method-matching.go
  vendor/sigs.k8s.io/gateway-api/conformance/tests/grpcroute-header-matching.go
  vendor/sigs.k8s.io/gateway-api/conformance/tests/grpcroute-listener-hostname-matching.go
  vendor/sigs.k8s.io/gateway-api/conformance/utils/grpc/grpc.go
  vendor/sigs.k8s.io/gateway-api/conformance/utils/kubernetes/helpers.go
  vendor/sigs.k8s.io/gateway-api/conformance/utils/suite/suite.go
  vendor/sigs.k8s.io/gateway-api/pkg/consts/consts.go
  vendor/sigs.k8s.io/gateway-api/pkg/features/features.go
Labels: release-note/minor, ready-to-merge

#33472 Update IPsec to handle larger PSK values when using per-tunnel PSK
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/ipsec_linux_test.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/encryption, kind/community-contribution, needs-backport/1.13, needs-backport/1.14, feature/ipsec, needs-backport/1.15, needs-backport/1.16

#33494 ipsec: Remove deprecated secret parsing code
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/ipsec_linux_test.go
Labels: release-note/minor, ready-to-merge, area/encryption, feature/ipsec

#33513 add kind/cfp label to feature request
  .github/ISSUE_TEMPLATE/feature_template.md
Labels: ready-to-merge, release-note/misc

#32993 [v1.15] Bump GoBGP to v3.27.0
  go.mod
  go.sum
  vendor/github.com/osrg/gobgp/v3/api/gobgp.pb.go
  vendor/github.com/osrg/gobgp/v3/api/gobgp.proto
  vendor/github.com/osrg/gobgp/v3/internal/pkg/table/destination.go
  vendor/github.com/osrg/gobgp/v3/internal/pkg/table/message.go
  vendor/github.com/osrg/gobgp/v3/internal/pkg/table/path.go
  vendor/github.com/osrg/gobgp/v3/internal/pkg/table/policy.go
  vendor/github.com/osrg/gobgp/v3/internal/pkg/table/table.go
  vendor/github.com/osrg/gobgp/v3/internal/pkg/table/table_manager.go
  vendor/github.com/osrg/gobgp/v3/internal/pkg/version/version.go
  vendor/github.com/osrg/gobgp/v3/pkg/apiutil/util.go
  vendor/github.com/osrg/gobgp/v3/pkg/config/oc/bgp_configs.go
  vendor/github.com/osrg/gobgp/v3/pkg/config/oc/util.go
  vendor/github.com/osrg/gobgp/v3/pkg/packet/bgp/bgp.go
  vendor/github.com/osrg/gobgp/v3/pkg/server/fsm.go
  vendor/github.com/osrg/gobgp/v3/pkg/server/grpc_server.go
  vendor/github.com/osrg/gobgp/v3/pkg/server/peer.go
  vendor/github.com/osrg/gobgp/v3/pkg/server/server.go
  vendor/github.com/osrg/gobgp/v3/pkg/server/zclient.go
  vendor/modules.txt
Labels: ready-to-merge, kind/backports, backport/1.15

#33536 gha: Allow CRD mismatch for Gateway API conformance
  .github/workflows/conformance-gateway-api.yaml
Labels: release-note/ci, feature/k8s-gateway-api

#33531 Renovate config fixes
  .github/renovate.json5
Labels: release-note/misc

#33526 bgpv2: Skip reconcile while BGPNodeConfig is not initialized
  pkg/bgpv1/agent/controller.go
Labels: ready-to-merge, release-note/misc, area/bgp, needs-backport/1.16

#33543 bpf: wireguard: use overlay mark to detect tunnel traffic
  bpf/lib/wireguard.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc, kind/tech-debt, feature/wireguard

#33528 Fix renovate's concurrency group
  .github/workflows/build-images-base-renovate.yaml
Labels: release-note/misc, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#33505 fix link in node-ipam.rst
  Documentation/network/node-ipam.rst
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution, needs-backport/1.16

#33512 ipsec: do not nil out EncryptInterface when using IPAM ENI on netlink…
  pkg/datapath/loader/base.go
Labels: sig/loader, sig/datapath, release-note/bug, ready-to-merge, area/encryption, kind/community-contribution, needs-backport/1.13, needs-backport/1.14, feature/ipsec, needs-backport/1.15, needs-backport/1.16

#33534 v1.14 Backports 2024-07-03
  pkg/service/service.go
  pkg/service/service_test.go
Labels: ready-to-merge, kind/backports, backport/1.14

#33484 [v1.15] bpf: ct: return actual error from CT lookup (fixup)
  bpf/lib/nodeport.h
Labels: ready-to-merge, kind/backports, backport/1.15

#33533 v1.15 Backports 2024-07-03
  pkg/service/service.go
  pkg/service/service_test.go
Labels: ready-to-merge, kind/backports, backport/1.15

#33553 renovate: do not update major golang in v1.16 branch
  .github/renovate.json5
Labels: release-note/misc

#33535 v1.13 Backports 2024-07-03
  pkg/service/service.go
  pkg/service/service_test.go
Labels: ready-to-merge, kind/backports, backport/1.13

#33564 docs: Document plus sign in IPsec secret
  Documentation/operations/upgrade.rst
  Documentation/security/network/encryption-ipsec.rst
Labels: area/documentation, upgrade-impact, area/encryption, release-note/misc, feature/ipsec, needs-backport/1.16

#33554 envoy: Bump golang version to v1.22.5
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, backport/1.13

#33555 envoy: Bump golang version to v1.22.5
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.15

#33486 envoy: Update envoy 1.29.x to v1.29.7
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: area/proxy, release-note/minor, area/build, needs-backport/1.16

#33489 helm: Allow setting loadBalancerSourceRanges for clustermesh-apiserver Kubernetes service
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/clustermesh-apiserver/service.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, area/clustermesh, area/helm, kind/community-contribution

#33556 envoy: Bump golang version to v1.22.5
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/backports, backport/1.14

#33567 Add kernel version limitation to multicast Doc
  Documentation/network/multicast.rst
  Documentation/operations/system_requirements.rst
Labels: area/documentation, release-note/misc, kind/community-contribution, needs-backport/1.16

#33572 option: Fix merge conflict in test expectations
  pkg/option/config_test.go
Labels: release-note/ci

#33389 docs: Add Port Range Information
  Documentation/network/kubernetes/policy.rst
  Documentation/security/policy/language.rst
  examples/policies/l4/l4_port_range.json
  examples/policies/l4/l4_port_range.yaml
Labels: release-note/misc, release-blocker/1.16, needs-backport/1.16

#33524 bpf: lxc: use THIS_INTERFACE_IFINDEX instead of CB_IFINDEX
  bpf/bpf_lxc.c
  bpf/lib/l3.h
Labels: sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.16

#33551 bpf: lxc: fix up reporting of drop reason in drop_for_direction()
  bpf/bpf_lxc.c
Labels: kind/bug, sig/datapath, area/monitor, release-note/bug, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#33578 bpf: Clean-up clang version check
  bpf/include/bpf/builtins.h
  bpf/include/bpf/compiler.h
  bpf/tests/conntrack_test.c
Labels: area/llvm, sig/datapath, kind/cleanup, release-note/misc

#33569 envoy: Fix too many open Unix sockets
  pkg/envoy/envoyadminclient.go
Labels: kind/bug, release-note/bug, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#33485 daemon: add agent-runtime-config backup files to gitignore
  pkg/option/.gitignore
Labels: kind/cleanup, area/daemon, ready-to-merge, release-note/misc, needs-backport/1.16

#33579 Makefile.values: re-add etcd back
  install/kubernetes/Makefile.values
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.14

#32919 pkg/identity: Add basic identity allocator
  pkg/identity/basicallocator/basic_allocator.go
  pkg/identity/basicallocator/basic_allocator_test.go
Labels: sig/policy, ready-to-merge, release-note/misc

#33446 helm: possibility to control creation of GatewayClass
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-gateway-api-class.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, area/helm, kind/community-contribution, feature/k8s-gateway-api, needs-backport/1.16

#33511 fix: Track node labels propagated to the endpoint manager correctly
  pkg/endpoint/endpoint.go
  pkg/endpointmanager/host.go
  pkg/endpointmanager/manager_test.go
Labels: release-note/bug, ready-to-merge, area/host-firewall, kind/community-contribution

#33449 policy: Fix `mapstate.Diff()` used in tests
  pkg/endpoint/redirect_test.go
  pkg/policy/distillery_test.go
  pkg/policy/mapstate.go
  pkg/policy/mapstate_test.go
  pkg/policy/resolve_deny_test.go
  pkg/policy/resolve_test.go
Labels: kind/bug/CI, sig/policy, ready-to-merge, release-note/misc, needs-backport/1.15, needs-backport/1.16

#33576 [v1.13] ci: ipsec-e2e: fine-tune L7 proxy check
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: area/CI, ready-to-merge, kind/backports, area/encryption, backport/1.13, feature/ipsec

#33573 .github: Clean up cilium-cli action usages
  .github/actions/conn-disrupt-test-check/action.yaml
  .github/actions/conn-disrupt-test-setup/action.yaml
  .github/workflows/conformance-e2e.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-ginkgo.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/tests-ces-migrate.yaml
  .github/workflows/tests-e2e-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, release-note/ci

#33589 renovate: stop wireguard updates
  .github/renovate.json5
Labels: release-note/misc

#33583 fqdn-perf: allow to inject additional metrics measurements
  .github/actions/cl2-modules/fqdn/config.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#33537 bgpv2: Fix description of Selector behavior in CiliumBGPAdvertisement CRD
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgpadvertisements.yaml
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_advert_types.go
Labels: ready-to-merge, release-note/misc, area/bgp, needs-backport/1.16

#33437 build(install,dashboards): update cilium-agent Grafana dashboard
  install/kubernetes/cilium/files/cilium-agent/dashboards/cilium-dashboard.json
Labels: release-note/misc, kind/community-contribution

#33588 dev: support for an additional kind values file
  Makefile.kind
Labels: ready-to-merge, release-note/misc, area/build

#33591 dev: add option to delete docker containers when deleting kind cluster
  contrib/scripts/kind-down.sh
Labels: ready-to-merge, release-note/misc, area/build

#33424 envoy: Add renovate configuration for cilium-proxy image
  .github/renovate.json5
Labels: area/proxy, release-note/ci

#33603 helm: improve the clustermesh-apiserver service annotations comment
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, area/clustermesh, release-note/misc, area/helm

#33624 bpf: nodeport: clear EDT info for "Port unreachable" ICMP reply
  bpf/lib/nodeport.h
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, feature/bandwidth-manager, area/loadbalancing, needs-backport/1.15, needs-backport/1.16

#33599 socketlb: tolerate cgroupv1 when detaching bpf programs
  pkg/socketlb/cgroup.go
Labels: kind/bug, sig/loader, release-note/bug, ready-to-merge, needs-backport/1.14, needs-backport/1.15, feature/socket-lb, needs-backport/1.16

#33604 renovate: add auto-approve bot for renovate PRs
  .github/renovate.json5
  .github/workflows/auto-approve.yaml
  CODEOWNERS
Labels: ready-to-merge, release-note/misc

#33628 Update CiliumEnvoyConfig handling for headless Services
  pkg/ciliumenvoyconfig/cec_reconciler.go
Labels: ready-to-merge, release-note/misc

#33562 Introduce ClusterMesh scale tests
  .github/actions/cl2-modules/clustermesh/config.yaml
  .github/actions/cl2-modules/clustermesh/modules/metrics.yaml
  .github/actions/cl2-modules/clustermesh/pod.yaml
  .github/actions/cl2-modules/clustermesh/setup.yaml
  .github/ariane-config.yaml
  .github/renovate.json5
  .github/workflows/scale-test-clustermesh.yaml
Labels: area/CI, kind/performance, ready-to-merge, area/clustermesh, release-note/ci

#33586 Adding custom labels to hubble UI deployment
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/hubble-ui/deployment.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, release-note/misc, sig/hubble, area/helm, kind/community-contribution

#33623 renovate: Only update patch version for statedb
  .github/renovate.json5
Labels: release-note/ci, dependencies

#33621 docs: Update LVH VM image pull instructions
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, release-note/misc, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#33641 [v1.16] renovate: add auto-approve bot for renovate PRs
  .github/workflows/auto-approve.yaml
  CODEOWNERS
Labels: kind/backports, backport/1.16

#33642 [v1.15] renovate: add auto-approve bot for renovate PRs
  .github/workflows/auto-approve.yaml
  CODEOWNERS
Labels: kind/backports, backport/1.15

#33643 [v1.14] renovate: add auto-approve bot for renovate PRs
  .github/workflows/auto-approve.yaml
  CODEOWNERS
Labels: kind/backports, backport/1.14

#33644 [v1.13] renovate: add auto-approve bot for renovate PRs
  .github/workflows/auto-approve.yaml
  CODEOWNERS
Labels: kind/backports, backport/1.13

#33658 renovate: assign on auto-merge
  .github/renovate.json5
Labels: release-note/misc

#33645 github: fix concurrency groups for push events
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/tests-clustermesh-upgrade.yaml
  .github/workflows/tests-l4lb.yaml
Labels: kind/backports, backport/1.14

#33242 bitlpm: Add Return Value to Upsert Method
  pkg/container/bitlpm/cidr.go
  pkg/container/bitlpm/trie.go
  pkg/container/bitlpm/unsigned.go
  pkg/container/bitlpm/unsigned_test.go
Labels: ready-to-merge, release-note/misc

#32067 .github: No need to install Docker in complexity-test manually anymore
  .github/workflows/tests-datapath-verifier.yaml
Labels: release-note/ci

#33646 github: fix concurrency groups for push events
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/tests-clustermesh-upgrade.yaml
  .github/workflows/tests-l4lb.yaml
Labels: kind/backports, backport/1.13

#33671 [v1.15] gh/workflows: fix skipping of no-frag test in ipsec-e2e workflow
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: area/CI, kind/backports, area/encryption, feature/ipsec, backport/1.15

#33626 docs: remove mention of outdated clustermesh + L7 policies + tunnel limitation
  Documentation/network/clustermesh/policy.rst
Labels: area/documentation, ready-to-merge, area/clustermesh, release-note/misc, area/servicemesh, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#33454 bgpv2/contrib: update cilium version in labs and minor fixes
  contrib/containerlab/bgpv2/multi-homing/Makefile
  contrib/containerlab/bgpv2/multi-homing/README.md
  contrib/containerlab/bgpv2/multi-homing/bgp.yaml
  contrib/containerlab/bgpv2/multi-homing/values.yaml
  contrib/containerlab/bgpv2/pod-ip-pool/Makefile
  contrib/containerlab/bgpv2/pod-ip-pool/README.md
  contrib/containerlab/bgpv2/pod-ip-pool/bgp.yaml
  contrib/containerlab/bgpv2/pod-ip-pool/topo.yaml
  contrib/containerlab/bgpv2/pod-ip-pool/values.yaml
  contrib/containerlab/bgpv2/service/Makefile
  contrib/containerlab/bgpv2/service/bgp.yaml
  contrib/containerlab/bgpv2/service/topo.yaml
  contrib/containerlab/bgpv2/service/values.yaml
Labels: ready-to-merge, release-note/misc, area/bgp

#33244 envoy: Ignore All Non-TCP Protocols
  pkg/envoy/xds_server.go
Labels: release-note/misc

#33680 docs: Remove CNCF graduation from the roadmap
  Documentation/community/roadmap.rst
Labels: release-note/misc, needs-backport/1.15, needs-backport/1.16

#33681 .github: add release tool workflow
  .github/workflows/release.yaml
Labels: release-note/misc

#33665 gateway-api: Switch to slog for Ingress and GWAPI
  operator/pkg/gateway-api/cell.go
  operator/pkg/gateway-api/controller.go
  operator/pkg/gateway-api/controller_test.go
  operator/pkg/gateway-api/gateway.go
  operator/pkg/gateway-api/gateway_reconcile.go
  operator/pkg/gateway-api/gateway_reconcile_test.go
  operator/pkg/gateway-api/gatewayclass.go
  operator/pkg/gateway-api/gatewayclass_reconcile.go
  operator/pkg/gateway-api/gatewayclass_reconcile_test.go
  operator/pkg/gateway-api/grpcroute.go
  operator/pkg/gateway-api/grpcroute_reconcile.go
  operator/pkg/gateway-api/helpers.go
  operator/pkg/gateway-api/httproute.go
  operator/pkg/gateway-api/httproute_gamma.go
  operator/pkg/gateway-api/httproute_gamma_reconcile.go
  operator/pkg/gateway-api/httproute_reconcile.go
  operator/pkg/gateway-api/httproute_reconcile_test.go
  operator/pkg/gateway-api/logger.go
  operator/pkg/gateway-api/referencegrant.go
  operator/pkg/gateway-api/referencegrant_reconcile.go
  operator/pkg/gateway-api/routechecks/grpcroute.go
  operator/pkg/gateway-api/routechecks/httproute.go
  operator/pkg/gateway-api/routechecks/input.go
  operator/pkg/gateway-api/routechecks/route_checks.go
  operator/pkg/gateway-api/routechecks/tlsroute.go
  operator/pkg/gateway-api/secretsync.go
  operator/pkg/gateway-api/tlsroute.go
  operator/pkg/gateway-api/tlsroute_reconcile.go
  operator/pkg/ingress/cell.go
  operator/pkg/ingress/helpers.go
  operator/pkg/ingress/helpers_test.go
  operator/pkg/ingress/ingress.go
  operator/pkg/ingress/ingress_reconcile.go
  operator/pkg/ingress/ingress_reconcile_test.go
  operator/pkg/ingress/secretsync.go
  operator/pkg/secretsync/cell.go
  operator/pkg/secretsync/secretsync.go
  operator/pkg/secretsync/secretsync_reconcile.go
  operator/pkg/secretsync/secretsync_reconcile_test.go
Labels: ready-to-merge, release-note/misc

#33634 auth: fix fatal error: concurrent map iteration and map write
  pkg/auth/authmap_gc.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.15, needs-backport/1.16

#33608 option: Make TestDaemonConfig_StoreInFile less brittle
  pkg/option/config_test.go
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/misc, needs-backport/1.16

#33587 vendor: Bump StateDB to version v0.2.1
  daemon/cmd/device-reloader.go
  daemon/cmd/hostips-sync.go
  daemon/cmd/ipam.go
  go.mod
  go.sum
  pkg/bpf/ops_linux_test.go
  pkg/datapath/iptables/ipset/cell.go
  pkg/datapath/iptables/ipset/ipset.go
  pkg/datapath/iptables/ipset/ipset_test.go
  pkg/datapath/iptables/ipset/ops.go
  pkg/datapath/l2responder/l2responder.go
  pkg/datapath/linux/bandwidth/cell.go
  pkg/datapath/linux/devices_controller_test.go
  pkg/datapath/linux/sysctl/cell.go
  pkg/datapath/linux/sysctl/sysctl_test.go
  pkg/datapath/orchestrator/localnodeconfig.go
  pkg/datapath/tables/node_address.go
  pkg/datapath/tables/node_address_test.go
  pkg/hive/health/metrics.go
  pkg/hive/health/metrics_test.go
  pkg/hive/health/provider.go
  pkg/hive/health/provider_test.go
  pkg/hive/reconciler_metrics.go
  pkg/l2announcer/l2announcer_test.go
  pkg/loadbalancer/experimental/reconciler.go
  pkg/loadbalancer/experimental/services_test.go
  pkg/loadbalancer/experimental/writer.go
  pkg/maps/bwmap/cell.go
  pkg/maps/nat/stats/stats.go
  pkg/maps/nat/stats/stats_test.go
  pkg/service/reconciler.go
  vendor/github.com/cilium/statedb/README.md
  vendor/github.com/cilium/statedb/iterator.go
  vendor/github.com/cilium/statedb/part/txn.go
  vendor/github.com/cilium/statedb/reconciler/builder.go
  vendor/github.com/cilium/statedb/reconciler/config.go
  vendor/github.com/cilium/statedb/reconciler/full.go
  vendor/github.com/cilium/statedb/reconciler/incremental.go
  vendor/github.com/cilium/statedb/reconciler/index.go
  vendor/github.com/cilium/statedb/reconciler/metrics.go
  vendor/github.com/cilium/statedb/reconciler/reconciler.go
  vendor/github.com/cilium/statedb/reconciler/types.go
  vendor/github.com/cilium/statedb/table.go
  vendor/github.com/cilium/statedb/types.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#33694 ci: Set cluster id in external workloads
  .github/workflows/conformance-externalworkloads.yaml
Labels: release-note/ci, needs-backport/1.16

#33670 bpf: fix flaky nat test
  bpf/tests/bpf_nat_tests.c
Labels: sig/datapath, release-note/misc

#33683 gha: Add http client timeout in Ingress
  .github/workflows/conformance-ingress.yaml
Labels: release-note/ci, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#33686 gh: cilium-config: enable IPv6 BPF Masquerade with HostFW
  .github/actions/cilium-config/action.yml
Labels: area/CI, ready-to-merge, release-note/ci, area/host-firewall, feature/ipv6, feature/snat, needs-backport/1.16

#33667 renovate: do not update etcd on older branches
  .github/renovate.json5
Labels: ready-to-merge, release-note/misc

#33627 pkg/hive: Add FeatureLifecycle
  pkg/hive/feature_lifecycle.go
  pkg/hive/feature_lifecycle_test.go
Labels: ready-to-merge, release-note/misc, area/modularization

#33600 ingress: Set active backend number for Local ETP
  pkg/service/service.go
Labels: release-note/bug, ready-to-merge, release-blocker/1.16

#33701 docs: cleanup upgrade docs on main
  Documentation/installation/cli-download.rst
  Documentation/operations/upgrade.rst
Labels: area/documentation, release-note/misc

#33718 release image: Allow arbitrary pre-release identifiers
  .github/workflows/build-images-releases.yaml
Labels: kind/backports, release-note/ci, backport/1.16

#33708 Documentation: Add --set cni.exclusive=false for Azure Chain Mode
  Documentation/installation/cni-chaining-azure-cni.rst
Labels: area/documentation, release-note/misc, kind/community-contribution, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#33598 Fix EC2 API endpoint when using a proxy for the metadata service
  pkg/aws/endpoints/resolver.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution, affects/v1.13, affects/v1.14, affects/v1.15, needs-backport/1.16

#33714 images: update cilium-{runtime,builder}
  .devcontainer/devcontainer.json
  .github/workflows/build-images-ci.yaml
  images/builder/Dockerfile
  images/cilium/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  test/k8s/manifests/demo-customcalls.yaml
Labels: kind/backports, release-note/misc, release-blocker/1.15, backport/1.15

#33726 gh: nat46x64: don't set DSR dispatch mode when LB mode is SNAT
  test/nat46x64/test.sh
Labels: area/CI, release-note/ci, area/loadbalancing

#33702 clustermesh: prevent test races leveraging renameio.WriteFile
  pkg/clustermesh/common/config_test.go
Labels: ready-to-merge, area/clustermesh, release-note/misc

#33699 Fix Hubble drop event emitter reasons join in config
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: release-note/bug, ready-to-merge, sig/hubble, area/helm, kind/community-contribution, needs-backport/1.16

#33713 Prepare for release v1.15.7
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, release-note/misc, backport/1.15

#33679 renovate: onboard etcd image used in integration tests
  Makefile.defs
Labels: release-note/misc, sig/kvstore, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#33725 docs: Add node about socketLB.hostNamespaceOnly to Kata page
  Documentation/network/kubernetes/kata.rst
  Documentation/network/kubernetes/kubeproxy-free.rst
Labels: area/documentation, release-note/misc, area/loadbalancing, needs-backport/1.15, needs-backport/1.16

#33738 [v1.15] gh/e2e: fix up config 15 to not use bpf-next
  .github/workflows/conformance-e2e.yaml
Labels: kind/backports, release-note/ci, backport/1.15

#33747 README: Update releases
  README.rst
  stable.txt
Labels: release-note/misc

#33640 LocalRedirect: RedirectBackend and RedirectFront are immutable
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumlocalredirectpolicies.yaml
  pkg/k8s/apis/cilium.io/v2/clrp_types.go
Labels: release-note/minor, ready-to-merge, area/lrp, needs-backport/1.16

#33724 conformance-{gateway-api,ingress}: Run cilium-cli inside Docker
  .github/actions/helm-default/action.yaml
  .github/actions/set-env-variables/action.yml
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ingress.yaml
Labels: release-note/ci

#33663 Track node labels propagated to the endpoint manager correctly (v1.15)
  pkg/endpoint/endpoint.go
  pkg/endpointmanager/host.go
  pkg/endpointmanager/manager_test.go
Labels: kind/backports, kind/community-contribution, backport/1.15

#33749 clustermesh: Run cilium-cli inside Docker
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/tests-clustermesh-upgrade.yaml
Labels: release-note/ci

#33752 perf: Run cilium-cli inside Docker
  .github/workflows/fqdn-perf.yaml
  .github/workflows/net-perf-gke.yaml
  .github/workflows/scale-test-100-gce.yaml
  .github/workflows/scale-test-clustermesh.yaml
  .github/workflows/scale-test-node-throughput-gce.yaml
Labels: release-note/ci

#33736 [v1.15] ci/ipsec: add missing config for patch-upgrade test with 6.6 kernel
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, kind/backports, area/encryption, release-note/ci, feature/ipsec, backport/1.15

#33737 [v1.14] ci/ipsec: add missing config for patch-upgrade test with 6.6 kernel
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: kind/backports, area/encryption, release-note/ci, backport/1.14, feature/ipsec

#33729 gha: compress profiles archives in scale/perf tests
  .github/actions/cl2-modules/cilium-agent-pprofs.yaml
  .github/actions/cl2-modules/fqdn/modules/profiles.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#33647 ipsec: do not explicitly prioritize host endpoint regeneration
  daemon/cmd/state.go
  pkg/endpoint/regenerator.go
Labels: ready-to-merge, upgrade-impact, release-note/misc, feature/ipsec

#33616 cert: Adding H2 Protocol Support when Get gRPC Config For Client
  pkg/crypto/certloader/server.go
  pkg/crypto/certloader/server_test.go
Labels: release-note/bug, ready-to-merge, sig/hubble, kind/community-contribution, needs-backport/1.15, needs-backport/1.16

#33759 [v1.16] ci: Add call backport label udpater workflow
  .github/workflows/call-backport-label-updater.yaml
Labels: area/CI, kind/backports, release-note/ci, backport/1.16

#33762 vendor: Bump to StateDB v0.2.2
  go.mod
  go.sum
  vendor/github.com/cilium/statedb/reconciler/reconciler.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#33764 wireguard: minor improvements for to-wireguard program
  bpf/bpf_wireguard.c
  bpf/lib/wireguard.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/wireguard, needs-backport/1.16

#33707 bugtool: scrape heap profiles in protocol buffer format by default
  Documentation/cmdref/cilium-bugtool.md
  bugtool/cmd/root.go
Labels: release-note/minor, ready-to-merge, area/cli

#33709 bpf: Fix complexity issue failing cil_sock{4,6}_connect prog load
  bpf/bpf_sock.c
Labels: sig/datapath, ready-to-merge, release-note/misc, kind/complexity-issue, release-blocker/1.16, needs-backport/1.16

#33703 docs: cleanup upgrade docs on 1.16
  Documentation/operations/upgrade.rst
Labels: area/documentation, ready-to-merge, kind/backports, release-note/misc, backport/1.16

#33695 upgrade-notes: add information about kvstoremesh and external workloads
  Documentation/operations/upgrade.rst
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.16

#33770 ci: allow all GKE K8s release channels
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke.yaml
Labels: area/CI, release-note/ci

#33769 workflow: Use per-tunnel keys for the IPsec upgrade test
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: area/encryption, release-note/ci, needs-backport/1.13, needs-backport/1.14, feature/ipsec, needs-backport/1.15, needs-backport/1.16

#33771 workflows: e2e-upgrade: bump timeout to 90 minutes
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#33735 clustermesh: fix rare deadlock due to race condition
  pkg/clustermesh/common/remote_cluster.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/clustermesh, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16

#33750 ipsec: Run cilium-cli inside Docker
  .github/actions/cilium-config/action.yml
  .github/actions/conn-disrupt-test-check/action.yaml
  .github/actions/conn-disrupt-test-setup/action.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, release-note/ci

#33306 fix: trigger host endpoint regeneration only when required
  pkg/endpointmanager/host.go
  pkg/endpointmanager/manager_test.go
Labels: kind/bug, area/daemon, release-note/bug, sig/policy, kind/community-contribution

#33706 Add metric for identity GC latency.
  Documentation/observability/metrics.rst
  operator/identitygc/crd_gc.go
  operator/identitygc/kvstore_gc.go
  operator/identitygc/metrics.go
Labels: kind/feature, area/metrics, area/operator, release-note/misc, kind/community-contribution

#33753 Run cilium-cli inside Docker
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-e2e.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-k8s-kind.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind-proxy-embedded.yaml
  .github/workflows/conformance-multi-pool.yaml
  .github/workflows/tests-ces-migrate.yaml
  .github/workflows/tests-e2e-upgrade.yaml
  .github/workflows/tests-l4lb.yaml
  .github/workflows/tests-smoke.yaml
Labels: ready-to-merge, release-note/ci

#33796 time: Add UTC
  pkg/time/time.go
Labels: release-note/misc

#33739 policy/k8s: Fix deadlock in ToServices implementation
  pkg/policy/k8s/cell.go
  pkg/policy/k8s/service.go
  pkg/policy/k8s/service_test.go
Labels: sig/policy, ready-to-merge, release-note/misc, release-blocker/1.16, needs-backport/1.16

#33797 Run cilium-cli inside Docker
  .github/workflows/conformance-ginkgo.yaml
  .github/workflows/conformance-k8s-kind-network-policies.yaml
Labels: release-note/ci

#33761 ci: Update branch matrix list in call-backport-label-updater
  .github/workflows/call-backport-label-updater.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#33757 CODEOWNERS: assign etcdinit to both kvstore and clustermesh teams
  CODEOWNERS
Labels: ready-to-merge, release-note/misc, sig/contributing

#33803 helm: remove duplicate metrics for Envoy pod
  install/kubernetes/cilium/templates/cilium-envoy/service.yaml
Labels: kind/bug, release-note/bug, area/helm, area/servicemesh, needs-backport/1.15, needs-backport/1.16

#33733 [v1.16] ginkgo: use net-next configuration with 6.6 kernel
  .github/workflows/conformance-ginkgo.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
  contrib/scripts/run-gh-ginkgo-workflow.sh
Labels: kind/backports, release-note/misc, backport/1.16

#33629 datapath: Fix update to NodeAddress table and prioritize Node IP
  pkg/datapath/tables/node_address.go
  pkg/datapath/tables/node_address_test.go
Labels: release-note/bug, ready-to-merge, backport/author, needs-backport/1.15, release-blocker/1.16, needs-backport/1.16

#33806 policy/k8s: Fix race in service notification shutdown
  pkg/policy/k8s/service.go
Labels: sig/policy, release-note/misc, needs-backport/1.16

#33488 ci: enable BGP Control Plane in e2e tests
  .github/actions/cilium-config/action.yml
  .github/actions/set-env-variables/action.yml
  .github/workflows/conformance-e2e.yaml
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, release-note/ci, area/bgp

#33728 daemon: Do not require socketLB for BPF masq
  .github/workflows/conformance-e2e.yaml
  daemon/cmd/daemon.go
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/snat, feature/socket-lb, needs-backport/1.16

#33696 Don't create sessions when connecting to etcd in the clustermesh context
  pkg/kvstore/etcd.go
Labels: kind/performance, release-note/minor, ready-to-merge, area/clustermesh, sig/kvstore

#33751 docs: Assume ready-to-merge is not for humans
  Documentation/contributing/development/reviewers_committers/review_process.rst
Labels: release-note/misc

#31735 Overwrite old node labels for first node update to the endpoint manager (v1.14)
  pkg/endpoint/endpoint.go
  pkg/endpointmanager/host.go
  pkg/endpointmanager/manager_test.go
Labels: release-note/bug, sig/policy, area/host-firewall, kind/community-contribution, backport/1.14

#33817 [v1.16] datapath: Fix update to NodeAddress table and prioritize Node IP
  pkg/datapath/tables/node_address.go
  pkg/datapath/tables/node_address_test.go
Labels: ready-to-merge, kind/backports, release-blocker/1.16, backport/1.16

#33825 [v1.16] policy/k8s: Fix deadlock in ToServices implementation
  pkg/policy/k8s/cell.go
  pkg/policy/k8s/service.go
  pkg/policy/k8s/service_test.go
Labels: kind/backports, backport/1.16

#33818 [v1.15] datapath: Fix update to NodeAddress table and prioritize Node IP
  pkg/datapath/tables/node_address.go
  pkg/datapath/tables/node_address_test.go
  pkg/datapath/tables/node_addressing_test.go
Labels: ready-to-merge, kind/backports, backport/1.15
