Repository cilium/cilium, pull requests merged in 2024-01, with the labels that each got.

#29927 users.md: sphere doesn't exist anymore, 👋 datadog
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#29915 make cilium/loader owner of pkg/elf
  CODEOWNERS
Labels: sig/loader, ready-to-merge, release-note/misc

#29837 bpf: nat: pass back ipv4_load_l4_ports()'s actual drop reason
  bpf/lib/nat.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/snat

#29943 egressgw: Enable bpf_map_pressure metrics for egress_gw_policy_v4
  pkg/maps/egressmap/policy.go
  pkg/maps/egressmap/policy_test.go
Labels: kind/enhancement, sig/datapath, release-note/minor, ready-to-merge, area/metrics, feature/egress-gateway

#29946 bpf: fix wrong loopback address mask value
  bpf/bpf_sock.c
Labels: sig/datapath, release-note/bug, ready-to-merge, kind/community-contribution, affects/v1.14, needs-backport/1.15

#29760 bpf: proxy: add IPv4 fragmentation support in ctx_redirect_to_proxy_first()
  bpf/lib/conntrack.h
  bpf/lib/proxy.h
Labels: sig/datapath, area/proxy, ready-to-merge, release-note/misc

#30115 docs: Update Gateway API version in example
  examples/kubernetes/gateway/basic-http.yaml
  examples/kubernetes/gateway/basic-https.yaml
  examples/kubernetes/gateway/request-header.yaml
  examples/kubernetes/gateway/splitting.yaml
  examples/kubernetes/gateway/tls-migration.yaml
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.15

#30008 helm: don't create remote-users ConfigMap when the clustermesh-apiserver is not enabled
  install/kubernetes/cilium/templates/clustermesh-apiserver/users-configmap.yaml
Labels: ready-to-merge, area/clustermesh, release-note/misc, area/helm

#30124 gateway-api: Requeue Gateway for owning GRPCRoute
  operator/pkg/gateway-api/gateway.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.15

#28910 doc: Update recommended way for installing cilium on AKS
  Documentation/network/concepts/ipam/azure.rst
Labels: area/documentation, release-note/misc, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#29976 Fix cilium-envoy ServiceMonitor template typo
  install/kubernetes/cilium/templates/cilium-envoy/servicemonitor.yaml
Labels: ready-to-merge, release-note/misc, kind/community-contribution, needs-backport/1.14, needs-backport/1.15

#30062 cec: remove label break by extracting function to inject L7 filter
  pkg/envoy/ciliumenvoyconfig.go
Labels: kind/cleanup, area/proxy, ready-to-merge, release-note/misc

#29518 updated docs to reflect Envoy as a DS option
  Documentation/security/policy/language.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.15

#30017 helm: Fix envoy servicemonitor annotations
  Documentation/security/policy/language.rst
Labels: release-note/bug, ready-to-merge, kind/community-contribution, needs-backport/1.14, needs-backport/1.15

#30109 fqdn: serialize requests per-name
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  daemon/cmd/fqdn.go
  pkg/fqdn/name_manager.go
  pkg/option/config.go
Labels: kind/bug, sig/policy, ready-to-merge, release-note/misc, area/fqdn, needs-backport/1.15

#29894 gateway-api: fix status reconcile error handling
  operator/pkg/gateway-api/gateway_reconcile.go
  operator/pkg/gateway-api/grpcroute_reconcile.go
  operator/pkg/gateway-api/httproute_reconcile.go
  operator/pkg/gateway-api/tlsroute_reconcile.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/servicemesh, feature/k8s-gateway-api, needs-backport/1.15

#30110 fqdn: skip ipcache insertion for names without fqdn selectors
  pkg/fqdn/name_manager.go
Labels: ready-to-merge, release-note/misc, area/fqdn, needs-backport/1.15

#29911 Updating Rancher Desktop Install instructions
  Documentation/installation/rancher-desktop-configure.rst
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#28947 Allow SPIRE agent on control plane
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/spire/agent/daemonset.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/bug, ready-to-merge, area/servicemesh, feature/authentication, needs-backport/1.14, needs-backport/1.15

#29400 Do not handle mutual auth for reserved ids
  pkg/auth/authmap_cache_test.go
  pkg/auth/manager.go
  pkg/auth/manager_test.go
Labels: release-note/bug, ready-to-merge, area/servicemesh, feature/authentication, needs-backport/1.14, needs-backport/1.15

#30083 USERS.md: Add Santa Claus to the list of users
  USERS.md
Labels: area/misc, ready-to-merge, release-note/misc

#30151 docs: Document XfrmInStateInvalid errors
  Documentation/security/network/encryption-ipsec.rst
Labels: area/documentation, ready-to-merge, area/encryption, release-note/misc

#29877 k8s/slim: Clarify instructions for updating slim files
  pkg/k8s/slim/README.md
Labels: kind/enhancement, area/documentation, sig/k8s, ready-to-merge, release-note/misc, needs-backport/1.15

#29903 docs: Add stubs for v1.16 upgrade notes
  Documentation/operations/upgrade.rst
Labels: release-note/misc

#29893 Conformance AKS: wait for cilium-test namespace deletion during uninstallation
  .github/workflows/conformance-aks.yaml
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.14, needs-backport/1.15

#30084 Bump allowed Golang version to v1.21
  .github/renovate.json5
Labels: ready-to-merge, release-note/misc

#30146 v1.12: update dependency cilium/cilium-cli to v0.15.19
  .github/workflows/tests-clustermesh-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
  .github/workflows/tests-l4lb.yaml
  .github/workflows/tests-smoke-ipv6.yaml
  .github/workflows/tests-smoke.yaml
Labels: area/CI, ready-to-merge, kind/backports, backport/1.12

#30104 maps/metricspath: protect against concurrent access in Collect
  pkg/maps/metricsmap/metricsmap.go
Labels: release-note/bug, ready-to-merge, kind/community-contribution, needs-backport/1.15

#30030 ci: fix eks image pull flake
  .github/workflows/conformance-eks.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci

#30055 lbipam: allow cross namespace IP sharing
  Documentation/network/lb-ipam.rst
  operator/pkg/lbipam/lbipam.go
  operator/pkg/lbipam/lbipam_test.go
  operator/pkg/lbipam/service_store.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#30163 loader: fix obsolete XDP program removal
  pkg/datapath/loader/netlink.go
  pkg/datapath/loader/xdp.go
  pkg/datapath/loader/xdp_test.go
Labels: kind/bug, sig/loader, sig/datapath, release-note/bug, ready-to-merge, kind/regression, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#30171 proxy: remove unused interface IPCacheManager
  pkg/proxy/proxy.go
Labels: kind/cleanup, area/proxy, ready-to-merge, release-note/misc

#30166 docs: Document renovate testing strategy
  Documentation/contributing/development/index.rst
  Documentation/contributing/development/renovate.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.15

#30190 identity: deflake test TestGetIdentity - part 2
  pkg/k8s/identitybackend/identity_test.go
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#30194 workflows: Increase IPsec e2e test's timeout
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: kind/enhancement, area/CI, ready-to-merge, release-note/ci, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14, feature/ipsec, needs-backport/1.15

#30134 Fix leaked health reporter updates
  pkg/hive/cell/structured.go
Labels: kind/bug, release-note/bug, ready-to-merge, release-blocker/1.15, needs-backport/1.15

#28974 fix: remove help message in build config failure
  cilium-dbg/cmd/build-config.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution, needs-backport/1.14, needs-backport/1.15

#30195 renovate: don't separate minor/patch updates of Go modules
  .github/renovate.json5
Labels: release-note/misc

#29916 route: dedicated net ns for each subtest of runListRules
  pkg/datapath/linux/route/route_linux_test.go
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#30210 Revert "renovate: don't separate minor/patch updates of Go modules"
  .github/renovate.json5
Labels: release-note/misc

#30209 docs: fix chained veth plugin example
  Documentation/installation/cni-chaining-generic-veth.rst
Labels: area/documentation, release-note/misc, needs-backport/1.14, needs-backport/1.15

#30197 operator/identitygc: remove unused GC.allocationCfg
  operator/cmd/root.go
  operator/identitygc/cell.go
  operator/identitygc/gc.go
  operator/identitygc/gc_test.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#30188 tests: check for pending maps after network policy tests finish
  test/k8s/net_policies.go
Labels: kind/bug/CI, area/CI, release-note/ci

#30192 ci conformance e2e: increase request timeout from 10s to 30s.
  .github/workflows/conformance-e2e.yaml
Labels: area/CI, ready-to-merge, release-note/ci, ci/flake

#30148 helm: Bump helm-toolbox version
  Makefile.defs
Labels: release-note/misc, area/helm

#30009 compile: avoid nil deref of Cmd.ProcessState if compileCmd fails to start
  pkg/datapath/loader/compile.go
Labels: kind/bug, sig/loader, release-note/bug, ready-to-merge, affects/v1.14, affects/v1.15, needs-backport/1.15

#30233 policy: Fix MapState.Equals()
  pkg/policy/mapstate.go
Labels: kind/bug/CI, ready-to-merge, release-note/misc, needs-backport/1.15

#30211 ci-clustermesh-upgrade: Adjust name of test to run, to match cilium-cli's renaming
  .github/workflows/tests-clustermesh-upgrade.yaml
Labels: kind/bug/CI, area/CI, release-note/ci, needs-backport/1.15

#30183 ipam/crd: remove redundant `len` and `nil` check
  pkg/ipam/crd.go
Labels: kind/cleanup, area/misc, ready-to-merge, release-note/misc, sig/ipam, kind/community-contribution, area/ipam

#30239 v1.12: workflow/ipsec-e2e: bump CLI to v0.15.19
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: area/CI, kind/backports, area/encryption, backport/1.12

#30244 bpf: lxc: remove CB_FROM_TUNNEL upgrade toleration for IPv6
  bpf/bpf_lxc.c
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/ipv6

#30202 v1.12: Ignore packet drops of type `Failed to update or lookup TC buffer`
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: kind/backports, backport/1.12

#29245 Add cilium operator go runtime sched latency metrics
  operator/metrics/metrics.go
Labels: ready-to-merge, area/metrics, area/operator, release-note/misc

#30107 L7LB: fix Envoy backend (endpoint) synchronization
  pkg/service/service.go
  pkg/service/service_test.go
Labels: kind/bug, area/proxy, release-note/bug, ready-to-merge, area/servicemesh, affects/v1.14, feature/k8s-gateway-api, feature/k8s-ingress, needs-backport/1.15

#30208 [v1.15] docs: add deprecation notice for enable-remote-node-identity for v1.15
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/documentation, kind/backports, release-note/misc, release-blocker/1.15, backport/1.15

#29963 daemon: Remove obsolete bpf-lb-dev-ip-addr-inherit option
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  pkg/option/config.go
Labels: release-note/minor, ready-to-merge, needs-backport/1.15

#30224 [1.15] loader: fix obsolete XDP program removal
  pkg/datapath/loader/netlink.go
  pkg/datapath/loader/xdp.go
  pkg/datapath/loader/xdp_test.go
Labels: ready-to-merge, kind/backports, backport/1.15

#29507 k8s: Fix envoyConfig description on CNP/CCNP CRDs
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumclusterwidenetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnetworkpolicies.yaml
  pkg/policy/api/l4.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#30161 helm: Permit selection of datasources in UI
  install/kubernetes/cilium/files/cilium-operator/dashboards/cilium-operator-dashboard.json
  install/kubernetes/cilium/files/hubble/dashboards/hubble-dashboard.json
  install/kubernetes/cilium/files/hubble/dashboards/hubble-l7-http-metrics-by-workload.json
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#30169 lb-ipam: Add annotation alias with lbipam.cilium.io prefix
  Documentation/network/lb-ipam.rst
  operator/pkg/lbipam/lbipam.go
  operator/pkg/lbipam/lbipam_test.go
  pkg/annotation/k8s.go
Labels: release-note/minor

#29902 ci: Add a call to the update label backport action
  .github/workflows/call-backport-label-updater.yaml
Labels: release-note/ci, needs-backport/1.15

#29835 .github: Don't update LVH bpf-next images on stable branches
  .github/renovate.json5
Labels: release-note/misc

#30267 v1.13 Backports 2024-01-16
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: kind/backports, backport/1.13

#30268 v1.12 Backports 2024-01-16
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: kind/backports, backport/1.12

#30175 Helm: additional info for mtu value
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/documentation, ready-to-merge, release-note/misc, area/helm

#30271 Prepare for release v1.15.0-rc.1
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.15

#30277 Update v1.15.0-RC.1 digests
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/release, release-note/misc

#30263 workflows: conformance-eks: use env.QUAY_ORGANIZATION_DEV
  .github/workflows/conformance-eks.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#30127 bpf: test: future-proof some kernel version checks
  bpf/Makefile
  bpf/Makefile.bpf
  bpf/tests/Makefile
Labels: sig/loader, area/CI, sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#30178 doc: Updated RKE/Rancher guides
  Documentation/installation/images/rancher_add_catalog.png
  Documentation/installation/images/rancher_add_cilium_catalog.png
  Documentation/installation/images/rancher_add_cilium_repository.png
  Documentation/installation/images/rancher_add_cluster.png
  Documentation/installation/images/rancher_add_nodes.png
  Documentation/installation/images/rancher_add_repository.png
  Documentation/installation/images/rancher_add_repository_cluster.png
  Documentation/installation/images/rancher_catalog_list_success.png
  Documentation/installation/images/rancher_cluster_cilium_app.png
  Documentation/installation/images/rancher_cluster_cilium_app_upgrade.png
  Documentation/installation/images/rancher_cluster_cilium_app_upgrade_version.png
  Documentation/installation/images/rancher_cluster_state_provisioning.png
  Documentation/installation/images/rancher_delete_network_plugin.png
  Documentation/installation/images/rancher_edit_as_yaml.png
  Documentation/installation/images/rancher_existing_nodes.png
  Documentation/installation/images/rancher_my_cluster_active.png
  Documentation/installation/images/rancher_network_plugin_none.png
  Documentation/installation/images/rancher_node_not_ready.png
  Documentation/installation/images/rancher_repositories_list_success.png
  Documentation/installation/k8s-install-helm.rst
  Documentation/installation/k8s-install-rancher-existing-nodes.rst
  Documentation/installation/k8s-install-rke.rst
  Documentation/installation/requirements-rke.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#30245 bpf: introduce ctx_load_and_clear_meta()
  bpf/bpf_host.c
  bpf/bpf_lxc.c
  bpf/bpf_overlay.c
  bpf/include/bpf/ctx/skb.h
  bpf/include/bpf/ctx/xdp.h
  bpf/lib/icmp6.h
  bpf/lib/lb.h
  bpf/lib/nodeport.h
  bpf/tests/mock_skb_metadata.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#30249 [1.13] Ignore packet drops of type Failed to update or lookup TC buffer
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, kind/backports, backport/1.13

#29796 bpf, ipcache: Add skip_tunnel field to remote_endpoint_info
  bpf/lib/common.h
  pkg/maps/ipcache/ipcache.go
  pkg/maps/ipcache/ipcache_test.go
Labels: sig/datapath, ready-to-merge, release-note/misc

#30260 envoy: Bump envoy image to include proxy_protocol filter
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/bug, needs-backport/1.15

#30284 .github: Fix LVH image bump for main branch
  .github/renovate.json5
Labels: release-note/ci

#30279 Update readme with v1.15.0-rc.1
  README.rst
Labels: ready-to-merge, release-note/misc

#30304 Prepare for release v1.12.18
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/concepts/kubernetes/compatibility-table.rst
  Documentation/helm-values.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.12

#30306 Prepare for release v1.13.11
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.13

#30307 Prepare for release v1.14.6
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.14

#30257 pkg/nodediscovery: Updates updateCiliumNodeResource() Warning Message
  pkg/nodediscovery/nodediscovery.go
Labels: release-note/bug, ready-to-merge, release-blocker/1.15, needs-backport/1.15

#30316 install: Update image digests for v1.12.18
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, backport/1.12

#30317 install: Update image digests for v1.13.11
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, backport/1.13

#30318 install: Update image digests for v1.14.6
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, backport/1.14

#30133 api: Promote field_mask from experimental to stable, deprecating experimental option
  api/v1/observer/README.md
  api/v1/observer/observer.pb.go
  api/v1/observer/observer.proto
  pkg/hubble/observer/local_observer.go
  pkg/hubble/observer/local_observer_test.go
  pkg/hubble/relay/server/server_test.go
Labels: kind/feature, release-note/major, ready-to-merge, sig/hubble

#28286 doc: Add Azure CNI Powered by cilium as external installer
  Documentation/installation/external-toc.rst
  Documentation/installation/k8s-install-aks.rst
  Documentation/network/concepts/ipam/azure-delegated-ipam.rst
  Documentation/network/concepts/ipam/azure_delegated_ipam_arch.png
  Documentation/network/concepts/ipam/index.rst
Labels: area/documentation, release-note/misc, area/azure, needs-backport/1.12, kind/community-contribution, needs-backport/1.13, area/ipam, needs-backport/1.14, needs-backport/1.15

#30131 helm: Add extraVolumeMounts to cilium config init container
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: release-note/minor, ready-to-merge, area/helm, needs-backport/1.12, kind/community-contribution, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#30129 makefile: make kind clustermesh clusters dual stack
  Makefile.kind
  contrib/testing/kind-clustermesh1.yaml
  contrib/testing/kind-clustermesh2.yaml
Labels: ready-to-merge, area/clustermesh, release-note/misc, sig/contributing

#30335 gha: explicilty specify beefier runner type for clustermesh workflows
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/tests-clustermesh-upgrade.yaml
Labels: area/CI, ready-to-merge, area/clustermesh, release-note/ci, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#29638 dockerfile: define Envoy image using ARG
  Makefile.defs
  images/cilium/Dockerfile
  images/scripts/check-cilium-envoy-image.sh
  images/scripts/update-cilium-envoy-image.sh
Labels: area/proxy, ready-to-merge, release-note/misc, area/build, kind/community-contribution

#30126 Add ServiceMonitor config for Agent Envoy when enabled
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/servicemonitor.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, needs-backport/1.14, needs-backport/1.15

#30343 bpf: overlay: restore bpf_clear_meta() in from-overlay
  bpf/bpf_overlay.c
Labels: kind/bug, sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.14, needs-backport/1.15

#30340 l2announcer: Retry getting lease after losing it
  pkg/l2announcer/l2announcer.go
Labels: release-note/bug, ready-to-merge, feature/l2-announcement, needs-backport/1.14, needs-backport/1.15

#30337 bgpv1: remove references to advertisement from CiliumBGPPeeringPolicy
  pkg/bgpv1/gobgp/peer.go
  pkg/bgpv1/gobgp/peer_test.go
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeerconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeeringpolicies.yaml
  pkg/k8s/apis/cilium.io/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_peer_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepequal.go
Labels: kind/bug, ready-to-merge, release-note/misc, area/bgp, release-blocker/1.15, needs-backport/1.15

#30282 linux/node: don't run validation functions if not yet initialized
  pkg/datapath/linux/node.go
Labels: kind/bug, area/daemon, release-note/bug, ready-to-merge, needs-backport/1.14, needs-backport/1.15

#30358 Rerun go mod tidy to fix missing entry
  go.sum
Labels: kind/backports, release-note/misc, backport/1.14

#29360 CFP: Pod MAC Address Specification
  .github/actions/ginkgo/main-focus.yaml
  Documentation/index.rst
  Documentation/network/pod-mac-address.rst
  api/v1/client/endpoint/put_endpoint_id_responses.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  api/v1/server/restapi/endpoint/put_endpoint_id_responses.go
  daemon/cmd/endpoint.go
  pkg/annotation/k8s.go
  pkg/client/endpoint.go
  pkg/endpoint/endpoint.go
  pkg/netns/netns.go
  plugins/cilium-cni/chaining/generic-veth/generic-veth.go
  plugins/cilium-cni/cmd/cmd.go
  plugins/cilium-docker/driver/driver.go
  test/k8s/manifests/pod_mac_address.yaml
  test/k8s/pod_mac_address.go
Labels: kind/feature, area/daemon, sig/k8s, release-note/minor, ready-to-merge

#29423 Fix unchecked error in datapath/linux/ipsec
  pkg/datapath/linux/ipsec.go
Labels: release-note/bug, ready-to-merge, area/encryption, feature/ipsec, needs-backport/1.15

#30313 bpf: l3: fix-up kube-proxy workaround in l3_local_delivery() to bpf_overlay
  bpf/lib/l3.h
Labels: ready-to-merge, kind/backports, backport/1.13

#30270 [1.13] Ignore ct buffer drops on minor release downgrades only
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, kind/backports, backport/1.13

#30369 USERS.md: Add Sealos to the list of users
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#29938 fix: PromQL syntax on cilium policy query Grafana dashboard
  install/kubernetes/cilium/files/cilium-agent/dashboards/cilium-dashboard.json
Labels: release-note/bug, ready-to-merge, stale, kind/community-contribution, needs-backport/1.15

#30366 gitignore: add files related to direnv
  .gitignore
Labels: ready-to-merge, release-note/misc

#30380 CODEOWNERS: pull in sig-wireguard for wireguard-related files
  CODEOWNERS
Labels: release-note/misc, sig/contributing

#30220 daemon/cmd: Updates restoreIPCache() to use errors.Is()
  daemon/cmd/ipcache.go
Labels: release-note/bug, ready-to-merge, release-blocker/1.15, needs-backport/1.15

#30113 Cilium should accepts any value that is not "disabled" for svc topology mode
  pkg/k8s/service.go
  pkg/k8s/service_test.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#30362 go.mod: Bump controller-tools fork version to v0.8.0-2 to allow `XValidation` kubebuilder markers
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/validation.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/zz_generated.markerhelp.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#30299 proxy: fix rule deletion if protocol family is unsupported
  pkg/proxy/routes.go
Labels: kind/bug, area/proxy, release-note/bug, ready-to-merge, release-blocker/1.15, needs-backport/1.15

#30347 iptables: early skip proxy rules install if BPF tproxy enabled
  pkg/datapath/iptables/iptables.go
Labels: kind/cleanup, area/proxy, ready-to-merge, release-note/misc, area/iptables

#30403 docs: warn users that IPsec and KPR are mutual exclusive
  Documentation/security/network/encryption-ipsec.rst
Labels: area/documentation, area/encryption, release-note/misc, kind/community-contribution

#30371 v1.14 Backports 2024-01-23
  .github/workflows/tests-datapath-verifier.yaml
Labels: ready-to-merge, kind/backports, backport/1.14

#30052 init well-known identity before new policy repository
  daemon/cmd/daemon.go
  daemon/cmd/policy.go
Labels: release-note/bug, needs-backport/1.12, kind/community-contribution, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#30401 [v1.14] ci/ipsec: Re-enable node-to-node-encryption check
  .github/actions/conn-disrupt-test/action.yaml
Labels: area/CI, ready-to-merge, kind/backports, backport/1.14, feature/ipsec

#30410 bpf: lb: return drop reasons from __lb4_rev_nat()
  bpf/lib/lb.h
Labels: kind/bug, sig/datapath, ready-to-merge, release-note/misc, needs-backport/1.12, needs-backport/1.13, area/loadbalancing, needs-backport/1.14, needs-backport/1.15

#30412 release/bump-readme.sh: Don't overwrite latest -rc with older -pre tag
  contrib/release/bump-readme.sh
Labels: ready-to-merge, release-note/misc

#30399 Fix quoting in nodeinit temporary cilium config
  install/kubernetes/cilium/files/nodeinit/startup.bash
Labels: release-note/bug, ready-to-merge, kind/community-contribution, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#30364 Docs: Adds IPv6 Tunneling Caveat to Networking Concepts
  Documentation/network/concepts/routing.rst
Labels: area/documentation, release-note/misc

#30397 envoy: Bump envoy image to fix SO_REUSEPORT with BPF TPROXY
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/bug, area/proxy, release-note/bug, ready-to-merge, backport/author, release-blocker/1.15, needs-backport/1.15

#30236 doc: Add Egress Gateway Policy warning
  Documentation/network/egress-gateway.rst
Labels: area/documentation, ready-to-merge, release-note/misc, feature/egress-gateway, kind/community-contribution, needs-backport/1.14, needs-backport/1.15

#30427 bpf: Implement handling of flag_skip_tunnel in bpf_lxc.c
  bpf/bpf_lxc.c
  bpf/tests/lib/ipcache.h
  bpf/tests/skip_tunnel_from_lxc.c
Labels: sig/datapath, ready-to-merge, release-note/misc

#30438 ci: increase conformance-aks timeout
  .github/workflows/conformance-aks.yaml
Labels: area/CI-improvement, release-note/ci

#30444 stream: Add Buffer operator
  pkg/stream/operators.go
  pkg/stream/operators_test.go
Labels: ready-to-merge, release-note/misc

#30459 [v1.15] envoy: Bump envoy image to fix SO_REUSEPORT with BPF TPROXY
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/bug, area/proxy, release-note/bug, kind/backports, release-blocker/1.15, backport/1.15

#30414 endpoint: move locking into getProxyStatistics
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
Labels: ready-to-merge, release-note/misc

#30100 fix: Error using multiple allowRoutes namespaces in gateway
  operator/pkg/gateway-api/httproute_reconcile_test.go
  operator/pkg/gateway-api/routechecks/gateway_checks.go
Labels: release-note/bug, ready-to-merge, area/servicemesh, feature/k8s-gateway-api, needs-backport/1.14, needs-backport/1.15

#30445 Fix where ls was an alias for flush in bpf auth
  cilium-dbg/cmd/bpf_auth_flush.go
Labels: release-note/bug, ready-to-merge, area/cli, area/servicemesh, feature/authentication, release-blocker/1.15, needs-backport/1.15

#30477 docs: Update the Gateway API badge
  README.rst
Labels: release-note/misc, needs-backport/1.15

#30488 docs: egressgw: describe routing on Gateway node
  Documentation/network/egress-gateway.rst
Labels: area/documentation, release-note/misc, feature/egress-gateway, needs-backport/1.15

#30422 hubble-ui: release v0.12.3
  Documentation/helm-values.rst
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/misc, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#30442 bpf: nodeport: split up ingress path when HostFW is enabled
  bpf/lib/nodeport.h
Labels: sig/datapath, ready-to-merge, release-note/misc, kind/complexity-issue, needs-backport/1.15

#30365 pkg/endpoint: fix endpoint health update always being ok.
  pkg/endpoint/policy.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.15

#30502 l7lb: log service ns and name when upserting endpoints
  pkg/ciliumenvoyconfig/envoy_l7lb_backend_syncer.go
Labels: kind/enhancement, area/proxy, ready-to-merge, release-note/misc, area/servicemesh

#30383 daemon: Restore health IPs from local ciliumnode resource
  daemon/cmd/ipam.go
  daemon/cmd/local_node_sync.go
  daemon/cmd/local_node_sync_test.go
Labels: kind/enhancement, release-note/minor, ready-to-merge, sig/agent, kind/community-contribution

#30503 ci/ipsec: Fix version retrieval for downgrades to closest patch release
  contrib/scripts/print-downgrade-version.sh
Labels: kind/bug/CI, release-note/ci, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14, feature/ipsec, needs-backport/1.15

#30448 chore: provide OSSF security insight
  CODEOWNERS
  SECURITY-INSIGHTS.yml
Labels: release-note/misc, kind/community-contribution

#30509 envoy: Bump envoy version for x/net library
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, release-blocker/1.15, backport/1.15

#30487 ingress: Copy LB IPAM related annotation by default
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-aws_hive.md
  Documentation/cmdref/cilium-operator-aws_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-azure_hive.md
  Documentation/cmdref/cilium-operator-azure_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator-generic_hive.md
  Documentation/cmdref/cilium-operator-generic_hive_dot-graph.md
  Documentation/cmdref/cilium-operator.md
  Documentation/cmdref/cilium-operator_hive.md
  Documentation/cmdref/cilium-operator_hive_dot-graph.md
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  operator/option/config.go
  operator/pkg/ingress/cell.go
Labels: release-note/misc, area/servicemesh, feature/k8s-ingress

#30090 gateway-api: Support for BackendRef filters
  operator/pkg/model/ingestion/gateway.go
  operator/pkg/model/ingestion/gateway_fixture_test.go
  operator/pkg/model/ingestion/gateway_test.go
  operator/pkg/model/model.go
  operator/pkg/model/translation/envoy_virtual_host.go
  operator/pkg/model/translation/gateway-api/translator_fixture_test.go
  operator/pkg/model/translation/gateway-api/translator_test.go
Labels: release-note/minor, area/servicemesh, feature/k8s-gateway-api

#30408 doc: clarify supported upgrade and rollback scenarios
  Documentation/operations/upgrade-warning.rst
  Documentation/operations/upgrade.rst
Labels: area/documentation, release-note/misc

#30516 envoy: Bump envoy version for x/net library
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, backport/1.13

#30521 hive: Add post-start log message to record duration
  pkg/hive/hive.go
Labels: ready-to-merge, release-note/misc

#30329 wireguard: also account for tunnel overhead
  pkg/mtu/mtu.go
  pkg/mtu/mtu_test.go
Labels: sig/datapath, release-note/bug, kind/community-contribution, needs-backport/1.14, feature/wireguard, needs-backport/1.15

#30511 v1.12 Backports 2024-01-29
  Documentation/gettingstarted/encryption-ipsec.rst
Labels: kind/backports, backport/1.12

#30428 add how to clean up the e2e connectivity test.
  Documentation/contributing/testing/e2e.rst
Labels: area/documentation, release-note/misc, kind/community-contribution

#30240 If source address is remote node then we should treat it as ouside traffic.
  bpf/lib/wireguard.h
Labels: sig/datapath, release-note/bug, ready-to-merge, kind/community-contribution, feature/wireguard

#30463 images: support release branches when updating envoy image
  images/scripts/update-cilium-envoy-image.sh
Labels: kind/cleanup, area/proxy, ready-to-merge, release-note/misc, area/build

#30504 Fix various health-server probing bugs.
  pkg/health/server/prober.go
  pkg/health/server/server.go
Labels: area/daemon, release-note/bug, area/health, needs-backport/1.12, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#30528 bgpv2: use different ports in unit tests
  pkg/bgpv1/manager/reconcilerv2/preflight_test.go
Labels: kind/bug/CI, ready-to-merge, release-note/ci, area/bgp

#30531 [v1.15 backport] bgpv1: remove references to advertisement from CiliumBGPPeeringPolicy
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeerconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeeringpolicies.yaml
  pkg/k8s/apis/cilium.io/register.go
  pkg/k8s/apis/cilium.io/v2alpha1/bgp_peer_types.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepequal.go
Labels: kind/backports, release-note/misc, area/bgp, release-blocker/1.15, backport/1.15

#30508 Remove skip-cnp-status-startup-clean
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/helm-values.rst
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  operator/cmd/flags.go
  operator/cmd/root.go
  operator/option/config.go
  pkg/defaults/defaults.go
  pkg/k8s/watchers/pod.go
  pkg/option/config.go
  test/controlplane/ciliumnetworkpolicies/status_updates_gc.go
Labels: kind/cleanup, area/misc, release-note/misc, sig/agent

#30515 envoy: Bump envoy version for x/net library
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/backports, backport/1.14
