Repository cilium/cilium, pull requests merged in 2024-05, with the labels that each got.

#32265 [v1.14] Author backport of #32200
  Documentation/cmdref/cilium-agent.md
  Documentation/helm-values.rst
  Documentation/network/servicemesh/envoy-traffic-management.rst
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/envoy/server.go
  pkg/option/config.go
Labels: ready-to-merge, kind/backports, backport/1.14

#31514 ingress: Set the default value for max_stream_timeout
  operator/pkg/model/translation/cec_translator_test.go
  operator/pkg/model/translation/envoy_virtual_host.go
  operator/pkg/model/translation/gateway-api/translator_fixture_test.go
  operator/pkg/model/translation/ingress/dedicated_ingress_fixture_test.go
Labels: release-note/bug, ready-to-merge, kind/community-contribution, feature/k8s-gateway-api, feature/k8s-ingress, backport/1.15

#32206 Fixes redundant space on the introduction page (intro.rst)
  Documentation/network/kubernetes/intro.rst
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#32277 dev: Clean-up development setup
  Documentation/contributing/development/dev_setup.rst
  tools/dev-doctor/rootcmd.go
Labels: ready-to-merge, release-note/misc

#32284 docs: Add annotation for Ingress endpoint
  Documentation/network/concepts/ipam/kubernetes.rst
Labels: area/documentation, release-note/misc, needs-backport/1.14, needs-backport/1.15

#32147 hubble: Support --cel-expression filter in hubble observe
  hubble/cmd/observe/flows.go
  hubble/cmd/observe/flows_filter.go
  hubble/cmd/observe/flows_filter_test.go
  hubble/cmd/observe_help.txt
Labels: kind/feature, ready-to-merge, area/cli, release-note/misc, sig/hubble

#32245 install/kubernetes: add extraInitContainers
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#32272 test/helpers: Skip CiliumUninstall if not installed
  test/helpers/kubectl.go
Labels: ready-to-merge, release-note/ci

#32271 gh/actions: Bump CLI to v0.16.6
  .github/actions/set-env-variables/action.yml
Labels: release-note/misc

#32280 pkg/envoy: Replace gocheck with built-in go test
  pkg/envoy/accesslog_server_test.go
  pkg/envoy/embedded_envoy_test.go
  pkg/envoy/resources_test.go
  pkg/envoy/sort_test.go
  pkg/envoy/xds/ack.go
  pkg/envoy/xds/ack_test.go
  pkg/envoy/xds/node_test.go
  pkg/envoy/xds/server_e2e_test.go
  pkg/envoy/xds_server_test.go
Labels: area/CI, ready-to-merge, release-note/misc

#32270 envoy: Update to use source port in connection pool hash
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/bug, area/proxy, release-note/bug, backport/author, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#31800 docs: Improve CiliumEndpointSlice documentation to prepare graduation to "Stable"
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-aws_hive.md
  Documentation/cmdref/cilium-operator-aws_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-azure_hive.md
  Documentation/cmdref/cilium-operator-azure_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator-generic_hive.md
  Documentation/cmdref/cilium-operator-generic_hive_dot-graph.md
  Documentation/cmdref/cilium-operator.md
  Documentation/cmdref/cilium-operator_hive.md
  Documentation/cmdref/cilium-operator_hive_dot-graph.md
  Documentation/community/roadmap.rst
  Documentation/network/egress-gateway.rst
  Documentation/network/kubernetes/ciliumendpointslice.rst
  Documentation/network/kubernetes/ciliumendpointslice_beta.rst
  Documentation/network/kubernetes/index.rst
  Documentation/observability/metrics.rst
  operator/pkg/ciliumendpointslice/cell.go
Labels: area/documentation, release-note/major, ready-to-merge, area/operator, kind/community-contribution

#31989 Deactivated Grafana reporting in monitoring example yaml.
  examples/kubernetes/addons/prometheus/monitoring-example.yaml
Labels: release-note/misc, kind/community-contribution

#32204 Add Syself to USERS.md
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#32044 bpf: nodeport: avoid revalidation in nodeport_rev_dnat_ingress_ipv4()
  bpf/lib/nodeport.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#32299 bpf: hide dynamic/static variant for policy tail-call
  bpf/bpf_host.c
  bpf/bpf_lxc.c
  bpf/lib/l3.h
  bpf/lib/maps.h
Labels: sig/loader, sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#30548 pkg: don't cache Host identity rule matches
  pkg/policy/rule.go
  pkg/policy/rule_test.go
Labels: kind/bug, release-note/bug, sig/policy, ready-to-merge, area/host-firewall, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#31597 Remove CiliumOperatorName constant
  pkg/components/components.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#32317 ci: Fix typo on "Ginkgo"
  .github/workflows/lint-workflows.yaml
Labels: area/CI, release-note/ci

#32240 ipsec: Debug info for transient IPsec upgrade drops
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: area/encryption, release-note/misc, needs-backport/1.13, needs-backport/1.14, feature/ipsec, needs-backport/1.15

#32303 ci: Filter supported versions of AKS
  .github/workflows/conformance-aks.yaml
Labels: area/CI, release-note/ci, affects/v1.12, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#32309 ci: only install llvm/clang and gingko for gingko test suite changes
  .github/workflows/lint-build-commits.yaml
Labels: release-note/ci

#32315 Revert "test: Disable hostfw in monitor aggregation test"
  test/k8s/datapath_configuration.go
Labels: ready-to-merge, area/CI-improvement, release-note/ci, area/host-firewall

#32295 pkg/egressgateway: Replace gocheck with built-in go test
  pkg/egressgateway/manager_privileged_test.go
Labels: ready-to-merge, release-note/misc, feature/egress-gateway

#32260 [v1.15] Author backport of #32200
  Documentation/cmdref/cilium-agent.md
  Documentation/helm-values.rst
  Documentation/network/servicemesh/envoy-traffic-management.rst
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/envoy/xds_server.go
  pkg/option/config.go
Labels: ready-to-merge, kind/backports, backport/1.15

#32244 cni: Use correct route MTU for various cloud cidrs
  plugins/cilium-cni/cmd/interface.go
Labels: area/cni, release-note/bug, ready-to-merge, needs-backport/1.13, affects/v1.13, affects/v1.14, needs-backport/1.14, affects/v1.15, needs-backport/1.15

#32337 [v1.15] loader: implement seamless tcx to legacy tc downgrade
  pkg/datapath/loader/netlink.go
Labels: ready-to-merge, kind/backports, backport/1.15

#32333 fqdn: Change error log to warning
  daemon/cmd/fqdn.go
Labels: kind/enhancement, ready-to-merge, release-note/misc, needs-backport/1.13, area/fqdn, needs-backport/1.14, needs-backport/1.15

#32155 bpf: lxc: don't take RevDNAT tailcall for service backend's ICMP messages
  bpf/bpf_lxc.c
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, affects/v1.13, area/loadbalancing, affects/v1.14, needs-backport/1.15

#32281 pkg/fqdn: Replace gocheck with built-in go test
  pkg/fqdn/cache_test.go
  pkg/fqdn/dnsproxy/helpers_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/fqdn/fqdn_test.go
  pkg/fqdn/helpers_test.go
  pkg/fqdn/matchpattern/matchpattern_test.go
  pkg/fqdn/name_manager_test.go
Labels: release-note/misc

#32323 Use ebpf.PossibleCPU to determine number of possible CPUs
  pkg/common/const.go
  pkg/common/utils.go
  pkg/common/utils_test.go
  pkg/datapath/loader/compile.go
  pkg/maps/eventsmap/cell.go
  pkg/maps/signalmap/cell.go
  pkg/monitor/agent/cell.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#32321 egressgw: remove gwc.ifaceName
  pkg/datapath/linux/netdevice/netdevice.go
  pkg/egressgateway/policy.go
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc, feature/egress-gateway

#32340 docs: add link to sig-policy meeting
  Documentation/community/community.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.15

#32329 README: Update releases
  README.rst
Labels: release-note/misc

#32328 contrib: Remove CHARTS_PATH dependency
  contrib/release/tag-release.sh
Labels: release-note/misc

#32347 gha: bump post-upgrade timeout in clustermesh upgrade/downgrade tests
  .github/workflows/tests-clustermesh-upgrade.yaml
Labels: area/CI, area/clustermesh, release-note/ci, needs-backport/1.15

#32325 fqdn: Fix Upgrade Issue Between PortProto Versions
  pkg/fqdn/dnsproxy/proxy.go
Labels: ready-to-merge, release-note/misc, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#32194 bgpv2: fix pod ip pool cleanup
  pkg/bgpv1/manager/reconcilerv2/paths.go
  pkg/bgpv1/manager/reconcilerv2/pod_ip_pool.go
  pkg/bgpv1/manager/reconcilerv2/pod_ip_pool_test.go
  pkg/bgpv1/manager/reconcilerv2/service.go
  pkg/bgpv1/types/log.go
Labels: ready-to-merge, release-note/misc, area/bgp

#32308 cec: support resource name qualification for HTTP HealthCheckFilter
  pkg/ciliumenvoyconfig/cec_resource_parser.go
  pkg/ciliumenvoyconfig/cec_resource_parser_test.go
Labels: kind/enhancement, ready-to-merge, release-note/misc, area/servicemesh

#32279 l2announcer: Fix delete entry if no origins left
  pkg/l2announcer/l2announcer.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#32348 ci/ipsec-upgrade: complete the switch to cilium-dbg
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: area/CI, area/encryption, release-note/ci, feature/ipsec

#32221 pkg/clustermesh: Replace gocheck with built-in go test
  pkg/clustermesh/common/config_test.go
  pkg/clustermesh/services_test.go
Labels: release-note/misc

#32344 bpf: nodeport: check for ClusterIP access earlier
  bpf/lib/nodeport.h
Labels: sig/datapath, release-note/misc, area/loadbalancing

#32334 gha: Enable Envoy debug in default Cilium options
  .github/actions/helm-default/action.yaml
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ingress.yaml
Labels: area/CI, release-note/misc

#32345 common: remove unused MapStringStructToSlice
  pkg/common/utils.go
Labels: kind/cleanup, release-note/misc

#32343 Add auto labeler for hubble-cli
  .github/labeler.yaml
  .github/workflows/auto-labeler.yaml
Labels: ready-to-merge, release-note/misc, hubble-cli

#32350 docs: Describe fqdn cache entry expiration timers
  Documentation/contributing/development/debugging.rst
Labels: release-note/misc

#32278 docs: Add example for kube-apiserver entity policy
  Documentation/security/policy/language.rst
  examples/policies/l3/entities/apiserver.json
  examples/policies/l3/entities/apiserver.yaml
Labels: ready-to-merge, release-note/misc, needs-backport/1.15

#31693 ingress: request timeout control via operator flag & annotation
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-aws_hive.md
  Documentation/cmdref/cilium-operator-aws_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-azure_hive.md
  Documentation/cmdref/cilium-operator-azure_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator-generic_hive.md
  Documentation/cmdref/cilium-operator-generic_hive_dot-graph.md
  Documentation/cmdref/cilium-operator.md
  Documentation/cmdref/cilium-operator_hive.md
  Documentation/cmdref/cilium-operator_hive_dot-graph.md
  operator/pkg/ingress/annotations/annotations.go
  operator/pkg/ingress/annotations/annotations_test.go
  operator/pkg/ingress/cell.go
  operator/pkg/ingress/ingress.go
  operator/pkg/ingress/ingress_reconcile.go
  operator/pkg/ingress/ingress_reconcile_test.go
  operator/pkg/model/ingestion/ingress.go
  operator/pkg/model/ingestion/ingress_test.go
Labels: kind/feature, release-note/minor, ready-to-merge, area/servicemesh, kind/community-contribution, feature/k8s-ingress

#32393 bpf: ct: fix off-by-1 in ICMP packet statistics
  bpf/lib/conntrack.h
Labels: sig/datapath, area/monitor, ready-to-merge, release-note/misc, feature/conntrack

#32314 [v1.14] envoy: Update to use source port in connection pool hash
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, kind/backports, backport/1.14

#32330 [v1.13] envoy: Update to use source port in connection pool hash
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, backport/1.13

#32349 [1.14] operator: propagate CiliumClusterConfig when in kvstore mode
  operator/cmd/kvstore_watchdog.go
Labels: ready-to-merge, kind/backports, backport/1.14

#32287 clustermesh: expose service cache and hooks from endpointslicesync
  pkg/clustermesh/endpointslicesync/cell.go
  pkg/clustermesh/endpointslicesync/clustermesh.go
  pkg/clustermesh/endpointslicesync/endpointslice_test.go
  pkg/clustermesh/endpointslicesync/node_informer.go
  pkg/clustermesh/endpointslicesync/remote_cluster.go
  pkg/clustermesh/endpointslicesync/services.go
Labels: kind/cleanup, ready-to-merge, area/clustermesh, release-note/misc

#32341 clustermesh: add etcd cluster ID to remote cluster status information
  pkg/clustermesh/common/remote_cluster.go
Labels: ready-to-merge, area/clustermesh, release-note/misc

#32392 hive: cast ModuleID to string
  pkg/hive/hive.go
Labels: ready-to-merge, release-note/misc

#32320 docs: Fix style pitfalls in the ClusterMesh guide
  Documentation/network/clustermesh/aks-clustermesh-prep.rst
  Documentation/network/clustermesh/gke-clustermesh-prep.rst
Labels: area/documentation, kind/cleanup, ready-to-merge, release-note/misc, kind/community-contribution

#32402 Use GH_RUNNER_EXTRA_POWER for CI image workflow
  .github/workflows/build-images-ci.yaml
Labels: ready-to-merge, release-note/ci, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#32134 Add WireGuard Configurations to Automated Network Throughput Tests
  .github/workflows/net-perf-gke.yaml
Labels: kind/performance, ready-to-merge, area/encryption, release-note/ci, feature/wireguard

#32406 .github: Fix PR autolabeler
  .github/labeler.yml
Labels: release-note/misc

#32398 .github/actions: enable passing kind config to lvh-kind action
  .github/actions/lvh-kind/action.yaml
Labels: ready-to-merge, release-note/misc

#32413 envoy: Bump go version to 1.22.3
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: release-note/minor, ready-to-merge, kind/backports, release-blocker/1.15, backport/1.15

#32414 envoy: Bump go version to 1.21.10
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, kind/backports, release-blocker/1.14, backport/1.14

#32415 envoy: Bump go version to 1.21.10
  images/cilium/Dockerfile
Labels: release-note/minor, ready-to-merge, kind/backports, release-blocker/1.13, backport/1.13

#32254 Scrape cilium metrics and add custom prometheus queries
  .github/actions/cl2-modules/cilium-metrics.yaml
  .github/workflows/scale-test-100-gce.yaml
Labels: ready-to-merge, area/metrics, release-note/ci

#32264 clustermesh: add initial support for MCS-API
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-aws_hive.md
  Documentation/cmdref/cilium-operator-aws_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-azure_hive.md
  Documentation/cmdref/cilium-operator-azure_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator-generic_hive.md
  Documentation/cmdref/cilium-operator-generic_hive_dot-graph.md
  Documentation/cmdref/cilium-operator.md
  Documentation/cmdref/cilium-operator_hive.md
  Documentation/cmdref/cilium-operator_hive_dot-graph.md
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/templates/cilium-operator/clusterrole.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  operator/cmd/root.go
  pkg/clustermesh/mcsapi/cell.go
  pkg/clustermesh/mcsapi/service_controller.go
  pkg/clustermesh/mcsapi/service_controller_test.go
Labels: kind/feature, ready-to-merge, area/operator, area/clustermesh, release-note/misc

#32322 Makefile: Replace release target
  Makefile
Labels: release-note/misc

#32410 .github: Add permissions for workflow telemetry
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-e2e.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ginkgo.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/conformance-multi-pool.yaml
  .github/workflows/conformance-runtime.yaml
  .github/workflows/integration-test.yaml
  .github/workflows/net-perf-gke.yaml
  .github/workflows/tests-clustermesh-upgrade.yaml
  .github/workflows/tests-datapath-verifier.yaml
  .github/workflows/tests-e2e-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
  .github/workflows/tests-l4lb.yaml
Labels: release-note/ci

#32409 .github: Auto-apply labels for sig/policy PRs
  .github/labeler.yml
Labels: release-note/misc

#32442 .github: adding daemon/cmd/fqdn to sig/policy PRs
  .github/labeler.yml
Labels: release-note/misc

#32440 renovate: Don't remove images/cilium/download-hubble.sh yet
  .github/renovate.json5
Labels: release-note/ci

#32444 [1.15] images: update cilium-{runtime,builder}
  .devcontainer/devcontainer.json
  .github/workflows/build-images-ci.yaml
  images/builder/Dockerfile
  images/cilium/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  test/k8s/manifests/demo-customcalls.yaml
Labels: kind/backports, backport/1.15

#32443 [1.14] images: update cilium-{runtime,builder}
  .devcontainer/devcontainer.json
  .github/workflows/build-images-ci.yaml
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8s/manifests/demo-customcalls.yaml
Labels: kind/backports, backport/1.14

#32403 CI: enable CiliumEndpointSlice in conformance-e2e
  .github/actions/cilium-config/action.yml
  .github/workflows/conformance-e2e.yaml
  .github/workflows/tests-e2e-upgrade.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci

#32458 Prepare for release v1.13.16
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.13

#32460 Prepare for release v1.14.11
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.14

#32470 Prepare for release v1.15.5
  .github/maintainers-little-helper.yaml
  AUTHORS
  CHANGELOG.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/compatibility-table.rst
  VERSION
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, kind/release, backport/1.15

#32445 docs: Clarify that `--labels` does not override default set
  Documentation/operations/performance/scalability/identity-relevant-labels.rst
Labels: area/documentation, sig/policy, release-note/misc

#32434 cilium-dbg: Use a tabwriter that remembers the widths
  cilium-dbg/cmd/statedb.go
  go.mod
  go.sum
  vendor/github.com/liggitt/tabwriter/.travis.yml
  vendor/github.com/liggitt/tabwriter/LICENSE
  vendor/github.com/liggitt/tabwriter/README.md
  vendor/github.com/liggitt/tabwriter/tabwriter.go
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc

#32273 consolidate_go_stacktrace: Add '--filter lock'
  contrib/scripts/consolidate_go_stacktrace.py
Labels: ready-to-merge, release-note/misc

#32424 makefile: check for $(CILIUM_CLI) dependency
  Makefile
  Makefile.kind
Labels: ready-to-merge, release-note/misc, sig/contributing, kind/community-contribution

#32462 CI: Add job name validation
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-workflows.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/ci, needs-backport/1.15

#32471 clustermesh: drop node observer global variables from tests
  pkg/clustermesh/clustermesh_test.go
  pkg/clustermesh/remote_cluster_test.go
  pkg/clustermesh/services_test.go
Labels: kind/cleanup, ready-to-merge, area/clustermesh, release-note/misc

#32447 [1.14][identitygc] Bugfix: Pass shared EnableMetrics into GC struct
  operator/identitygc/gc.go
Labels: kind/bug, release-note/bug, ready-to-merge, kind/backports, area/operator, kind/community-contribution, backport/1.14

#32382 service: Add optional Ports for CEC Services redirect
  pkg/ciliumenvoyconfig/cec_manager.go
  pkg/ciliumenvoyconfig/cec_manager_test.go
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumclusterwideenvoyconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumenvoyconfigs.yaml
  pkg/k8s/apis/cilium.io/register.go
  pkg/k8s/apis/cilium.io/v2/cec_types.go
  pkg/k8s/apis/cilium.io/v2/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2/zz_generated.deepequal.go
  pkg/service/service.go
  pkg/service/service_test.go
  pkg/service/types.go
Labels: kind/feature, release-note/minor, ready-to-merge, area/servicemesh

#32477 update list of SIGs
  Documentation/community/community.rst
Labels: area/documentation, release-note/misc, kind/community-contribution

#32017 Fix invalid PromQL query in the Cilium Metrics Grafana dashboard
  examples/kubernetes/addons/prometheus/monitoring-example.yaml
Labels: release-note/bug, ready-to-merge, area/metrics, kind/community-contribution, needs-backport/1.14, needs-backport/1.15

#32276 fqdn: Fix benchmarking for fqdn cache test
  pkg/fqdn/name_manager_bench_test.go
Labels: release-note/ci, area/fqdn

#32452 images/cilium: Move Envoy reference away from builder and runtime
  images/cilium/Dockerfile
Labels: release-note/misc

#32507 ci: GitHub action syntax fixes
  .github/actions/cilium-config/action.yml
  .github/actions/conn-disrupt-test/action.yaml
  .github/actions/lvh-kind/action.yaml
Labels: area/CI, ready-to-merge, release-note/misc, release-note/ci

#32355 Added EKS-to-EKS Clustermesh Preparation guide
  Documentation/network/clustermesh/clustermesh.rst
  Documentation/network/clustermesh/eks-clustermesh-prep.rst
  Documentation/network/clustermesh/index.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, area/clustermesh, release-note/misc, kind/community-contribution

#32498 ci: remove k8s version 1.26 from ci-aks
  .github/actions/azure/k8s-versions.yaml
Labels: area/CI, kind/cleanup, ready-to-merge, release-note/ci

#32298 fqdn: updating the variable name in fqdn
  daemon/cmd/fqdn.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, area/fqdn

#31839 doc: Added doc for running ingress/GwAPI in host network mode
  Documentation/helm-values.rst
  Documentation/network/servicemesh/gateway-api/gateway-api.rst
  Documentation/network/servicemesh/gateway-api/host-network-mode.rst
  Documentation/network/servicemesh/gateway-api/installation.rst
  Documentation/network/servicemesh/gateway-api/troubleshooting.rst
  Documentation/network/servicemesh/ingress.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/documentation, ready-to-merge, release-note/misc, area/servicemesh, feature/k8s-gateway-api, feature/k8s-ingress

#32421 daemon: Reserve Geneve tunnel port if enabled
  daemon/cmd/config.go
Labels: area/daemon, ready-to-merge, release-note/misc

#32526 bpf: trace: identify ifindex 0 as TRACE_IFINDEX_UNKNOWN
  bpf/bpf_host.c
  bpf/bpf_lxc.c
  bpf/lib/nodeport.h
  bpf/lib/srv6.h
  bpf/lib/trace.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, area/metrics, release-note/misc

#32528 ci: increase wait duration after upgrade/downgrade in E2E upgrade test
  .github/workflows/tests-e2e-upgrade.yaml
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci

#32482 envoy: Update envoy 1.27.x to 1.28.3
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, kind/backports, backport/1.14

#32511 [v1.14 backport] pkg/labels: print all leaf CIDRs, not just the last one.
  pkg/labels/cidr/cidr_test.go
  pkg/labels/labels.go
Labels: ready-to-merge, kind/backports, backport/1.14

#32540 envoy: Update envoy 1.27.x to 1.28.3
  images/cilium/Dockerfile
Labels: ready-to-merge, kind/backports, backport/1.13

#32530 contrib/scripts: remove check-assert-deep-equals
  Makefile
  contrib/scripts/check-assert-deep-equals.sh
Labels: kind/cleanup, release-note/misc

#32544 install: Update image digests for v1.15.5
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.15

#32545 install: Update image digests for v1.14.11
  Documentation/helm-values.rst
  install/kubernetes/Makefile.digests
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.14

#32527 daemon: Add rate-limiting to device reloading
  daemon/cmd/device-reloader.go
Labels: ready-to-merge, release-note/misc

#32541 loader: fetch iface just once in patchHostNetdevDatapath()
  pkg/datapath/loader/loader.go
Labels: sig/loader, sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#32521 pkg/endpoint: do not rely on bpf_host.o to detect host endpoint
  pkg/endpoint/restore.go
Labels: sig/policy, release-note/misc, sig/agent

#32554 README: Update releases
  .github/maintainers-little-helper.yaml
  README.rst
  stable.txt
Labels: release-note/misc

#32307 Generate SBOMs using Syft instead of bom
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-beta.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
  Documentation/configuration/sbom.rst
Labels: release-note/minor

#32513 clustermesh: fix rare panic due to race condition on stop
  pkg/clustermesh/common/remote_cluster.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/clustermesh, needs-backport/1.14, needs-backport/1.15

#32536 bgpv1: filter terminating backends from endpoint selection
  pkg/bgpv1/manager/reconciler/service.go
  pkg/bgpv1/manager/reconciler/service_test.go
Labels: release-note/bug, ready-to-merge, area/bgp, needs-backport/1.15

#32546 loader: don't disable rp-filter for IPsec
  pkg/datapath/loader/base.go
Labels: sig/loader, ready-to-merge, area/encryption, release-note/misc, kind/tech-debt, feature/ipsec

#32464 Docs: add note about AKS kube-apiserver entity
  Documentation/security/policy/language.rst
Labels: area/documentation, sig/policy, release-note/misc, integration/cloud

#32564 workflows: ignore "No egress gateway found" drops
  .github/workflows/conformance-e2e.yaml
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, ready-to-merge, area/CI-improvement, release-note/ci, feature/egress-gateway, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#32548 helm: add nodeSelector to preflight DaemonSet
  install/kubernetes/cilium/templates/cilium-preflight/daemonset.yaml
Labels: kind/bug, release-note/bug, ready-to-merge, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#32570 ci: l4lb: gather more infos about docker-in-docker issues
  .github/workflows/tests-l4lb.yaml
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.13, needs-backport/1.14, needs-backport/1.15

#32572 gha: Enable Ingress controller for more e2e test
  .github/workflows/conformance-e2e.yaml
Labels: release-note/ci

#32551 devices: Fix panic in tests when logger used after stopping
  pkg/datapath/linux/devices_controller.go
Labels: release-note/misc

#32506 tables: Fix slice indexing in nodeAddressController
  pkg/datapath/tables/node_address.go
Labels: release-note/bug, needs-backport/1.15

#32585 ci: ginkgo: increase cilium readiness timeout from 240 to 360s
  test/helpers/kubectl.go
Labels: area/CI, ready-to-merge, release-note/ci

#32537 bgpv2: filter terminating backends from endpoint selection
  pkg/bgpv1/manager/reconcilerv2/service.go
  pkg/bgpv1/manager/reconcilerv2/service_test.go
Labels: ready-to-merge, release-note/misc, area/bgp

#32450 ipsec: Safely delete Xfrm state
  pkg/datapath/linux/ipsec/ipsec_linux.go
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, area/encryption, sig/agent, needs-backport/1.13, needs-backport/1.14, feature/ipsec, needs-backport/1.15

#32593 CI/ClusterMesh: enable CiliumEndpointSlice in Conformance Cluster Mesh
  .github/workflows/conformance-clustermesh.yaml
Labels: release-note/ci

#32598 gha: Correct number of connect retry param in LVH
  .github/actions/lvh-kind/action.yaml
Labels: release-note/ci

#32577 background-sync: spread node updates over time.
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
Labels: release-note/minor

#32016 Add OVERWRITE_LOOPBACK + OVERWRITE_CILIUM env var to install-plugins.sh
  plugins/cilium-cni/install-plugin.sh
Labels: release-note/minor, kind/community-contribution

#32535 CODEOWNERS: add sig-scalability ownership of CiliumEndpointSlice
  CODEOWNERS
Labels: ready-to-merge, release-note/misc

#32609 bitlpm: Add ExactLookup Method
  pkg/container/bitlpm/cidr.go
  pkg/container/bitlpm/cidr_test.go
  pkg/container/bitlpm/trie.go
  pkg/container/bitlpm/unsigned.go
  pkg/container/bitlpm/unsigned_test.go
  pkg/policy/mapstate.go
Labels: ready-to-merge, release-note/misc

#32630 background-sync: fix bootstrap issue and edge-case with 1 node
  pkg/node/manager/manager.go
Labels: ready-to-merge, release-note/misc

#32538 clustermesh: expose ServicesSynced on endpointslicesync
  pkg/clustermesh/endpointslicesync/clustermesh.go
Labels: ready-to-merge, area/clustermesh, release-note/misc

#32642 datapath: remove support for legacy DSR path in bpf_lxc
  Documentation/operations/upgrade.rst
  bpf/bpf_lxc.c
  bpf/lib/nodeport.h
  pkg/maps/ctmap/ctmap.go
  pkg/maps/ctmap/ctmap_privileged_test.go
  pkg/maps/ctmap/utils.go
Labels: sig/datapath, release-note/minor, ready-to-merge, upgrade-impact, kind/tech-debt, area/loadbalancing, feature/dsr

#32656 pkg: Fix Deny Insert Fuzz Test
  pkg/policy/fuzz_test.go
Labels: sig/policy, release-note/misc

#32319 pkg/healthv2: reduce unecessary healthv2 debug log volume.
  pkg/healthv2/provider.go
Labels: release-note/minor, ready-to-merge

#32645 clustermesh: Cleanup un-used endpoint related attributes
  pkg/clustermesh/endpointslicesync/endpointslice_meta_controller.go
  pkg/clustermesh/endpointslicesync/service_informer.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#32608 [v1.15] fix: correctly set scope_switch for service lookup
  bpf/bpf_lxc.c
  bpf/lib/lb.h
  bpf/lib/nodeport.h
Labels: kind/bug, sig/datapath, ready-to-merge, kind/community-contribution, area/loadbalancing, backport/1.15

#32604 pkg/endpoint: clean up DatapathRegenerationLevel
  daemon/cmd/daemon.go
  daemon/cmd/device-reloader.go
  daemon/cmd/endpoint.go
  daemon/cmd/watchdogs.go
  pkg/endpoint/api.go
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/policy.go
  pkg/endpoint/regeneration/regeneration_context.go
  pkg/endpoint/restore.go
Labels: sig/policy, ready-to-merge, release-note/misc, sig/agent

#32639 cleanup: Remove deprecated StringCounter
  pkg/counter/counter.go
  pkg/counter/counter_test.go
  pkg/datapath/linux/node.go
  pkg/fswatcher/fswatcher.go
  pkg/service/service.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#32663 k8s/watcher: remove always-nil error return values
  pkg/k8s/watchers/service.go
  pkg/k8s/watchers/watcher.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#30650 CiliumNetworkPolicy: match endpoint by namespace label is overwritten with match by namespace name
  pkg/k8s/apis/cilium.io/const.go
  pkg/k8s/apis/cilium.io/utils/utils.go
  pkg/k8s/apis/cilium.io/utils/utils_test.go
Labels: kind/bug, release-note/bug, sig/policy, sig/agent, kind/community-contribution

#32668 [v1.13-hf] test vagrant update
  vagrant_box_defaults.rb
Labels: kind/backports, backport/1.13

#32428 bpf: egw: delay SNAT for local client to actual egress interface
  bpf/bpf_host.c
  bpf/lib/nodeport.h
  bpf/tests/lib/egressgw.h
Labels: kind/enhancement, sig/datapath, area/monitor, release-note/misc, feature/egress-gateway

#32661 test: Update Go test helpers for renamed cilium-dbg
  test/envoy/helpers.bash
  test/helpers/cilium.go
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/k8s/datapath_configuration.go
  test/k8s/services.go
  test/k8s/updates.go
Labels: release-note/misc

#32679 egressgw: Let the EGW manager relax rp_filter on egress device
  pkg/datapath/linux/netdevice/netdevice.go
  pkg/egressgateway/manager.go
  pkg/egressgateway/manager_privileged_test.go
  pkg/egressgateway/policy.go
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, feature/egress-gateway, needs-backport/1.15

#32685 docs: Remove outdated note on IPv6 BPF masqerading being incompatible with the Host Firewall
  Documentation/network/concepts/masquerading.rst
Labels: area/documentation, ready-to-merge, release-note/misc, area/host-firewall

#32673 daemon: Cleanup after a failed start
  daemon/cmd/daemon_main.go
  daemon/cmd/status.go
Labels: release-note/bug, ready-to-merge, backport/author, needs-backport/1.15

#32708 v1.14 Backports 2024-05-24
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke.yaml
Labels: ready-to-merge, kind/backports, backport/1.14

#32707 v1.15 Backports 2024-05-24
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke.yaml
Labels: kind/backports, backport/1.15

#32709 v1.13 Backports 2024-05-24
  .github/workflows/conformance-externalworkloads.yaml
  .github/workflows/conformance-gke.yaml
Labels: ready-to-merge, kind/backports, backport/1.13

#32615 pkg/cgroups: Cache pod metadata on datapath events
  pkg/cgroups/manager/manager.go
  pkg/cgroups/manager/manager_test.go
Labels: ready-to-merge, release-note/misc

#32650 [v1.14] iptables: Do not install NOTRACK rules if IPv4NativeRoutingCIDR is nil
  pkg/datapath/iptables/iptables.go
Labels: release-note/bug, ready-to-merge, kind/backports, backport/1.14, area/iptables

#32652 [v1.13] iptables: Do not install NOTRACK rules if IPv4NativeRoutingCIDR is nil
  pkg/datapath/iptables/iptables.go
Labels: release-note/bug, ready-to-merge, kind/backports, backport/1.13, area/iptables
