Repository cilium/cilium, pull requests merged in 2025-09, with the labels that each got.

#41378 loadbalancer/maps: use SilentDelete to ignore spurious errors
  pkg/loadbalancer/maps/lbmaps.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/loadbalancing, needs-backport/1.18

#41401 shell: Prevent server error on graceful shutdown
  pkg/shell/server/shell_server.go
Labels: release-note/misc

#41468 gh: e2e-upgrade: skip even more steps when not downgrading
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, release-note/ci

#40998 loadbalancer: Use Table[LocalNode] instead of LocalNodeStore
  pkg/ciliumenvoyconfig/controller.go
  pkg/clustermesh/selectbackends.go
  pkg/loadbalancer/reflectors/conversions.go
  pkg/loadbalancer/reflectors/k8s.go
  pkg/loadbalancer/writer/writer.go
  pkg/loadbalancer/writer/writer_test.go
  pkg/loadbalancer/writer/zones.go
  pkg/wireguard/agent/cell_test.go
Labels: ready-to-merge, release-note/misc

#41501 README: add v1.19.0-pre.0 release
  README.rst
Labels: area/misc, release-note/misc

#41488 Fix kind-install-cilium-fast Make target
  Makefile.kind
Labels: ready-to-merge, release-note/misc

#41464 bpf: lxc: remove unused IPsec code in encap handling
  bpf/bpf_lxc.c
Labels: area/datapath, release-note/misc, feature/ipsec

#41431 docs: add table DSR Dispatch Mode following Routing Mode
  Documentation/network/kubernetes/kubeproxy-free.rst
Labels: area/documentation, release-note/misc, kind/community-contribution, feature/dsr

#41524 .github/worfklows: copy cilium-cli binary from container
  .github/workflows/conformance-ginkgo.yaml
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#41463 redirectpolicy: Do not redirect when no local target pods exist
  pkg/loadbalancer/redirectpolicy/controller.go
  pkg/loadbalancer/redirectpolicy/testdata/no-target-pods.txtar
  pkg/loadbalancer/writer/writer.go
Labels: release-note/bug, kind/regression, needs-backport/1.18

#41499 operator/bgpv2: Avoid race in TestRouterIDAllocation test
  operator/pkg/bgpv2/cluster_test.go
Labels: area/CI, ready-to-merge, release-note/ci, area/bgp, needs-backport/1.18

#41177 v1.18 Backports 2025-08-15
  .github/workflows/build-images-releases.yaml
Labels: ready-to-merge, kind/backports, backport/1.18

#41418 clustermesh: document Kubernetes version for MCS-API CoreDNS
  Documentation/network/clustermesh/mcsapi.rst
Labels: release-note/minor, area/clustermesh

#41420 .actions/cilium-config: add missing extraEnv in GH action
  .github/actions/cilium-config/action.yml
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#41496 pkg/container/set: Fix string method with single element
  pkg/container/set/set.go
  pkg/container/set/set_test.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#41552 envoy: Start serving listeners only after clusters have been ACKed
  pkg/envoy/grpc.go
  pkg/envoy/resources.go
  pkg/envoy/xds/ack.go
  pkg/envoy/xds/cache.go
  pkg/envoy/xds/server.go
  pkg/envoy/xds/server_e2e_test.go
  pkg/envoy/xds/set.go
Labels: kind/bug, area/proxy, release-note/bug, ready-to-merge, backport/author, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#41599 workflows/conformance-ginkgo: fix steps for stable branches
  .github/workflows/conformance-ginkgo.yaml
Labels: ready-to-merge, release-note/misc, backport/author, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#41600 cilium-cli: Prevent panic in `node-to-node-encryption` connectivity test
  cilium-cli/connectivity/tests/encryption.go
Labels: release-note/bug, area/encryption, cilium-cli, cilium-cli-exclusive

#41619 .github/workflows: simplify ginkgo workflow
  .github/workflows/conformance-ginkgo.yaml
  test/helpers/kubectl.go
Labels: kind/backports, backport/1.16

#41630 cilium-cli/features: use common cmd metric list command
  cilium-cli/features/status.go
Labels: area/misc, release-note/misc, cilium-cli, cilium-cli-exclusive

#41692 bpf: wireguard: minor cleanups
  bpf/bpf_wireguard.c
Labels: area/datapath, kind/cleanup, release-note/misc, feature/wireguard

#41704 bpf: declare IP header pointer variables as __maybe_unused
  bpf/lib/encrypt.h
  bpf/lib/wireguard.h
Labels: kind/cleanup, release-note/misc

#41721 workflows/release: add secrets for step 4 and 5
  .github/workflows/build-images-releases.yaml
  .github/workflows/release.yaml
Labels: ready-to-merge, release-note/misc, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#41529 redirectpolicy: Fix race in marking desired-skiplbs initialized
  pkg/loadbalancer/redirectpolicy/controller.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.18

#41726 hubble: allow overrrides if building from outside the tree
  hubble/Makefile
Labels: release-note/misc, hubble-cli, hubble-cli-exclusive, needs-backport/1.18

#41733 [v1.18] workflows/release: add secrets for step 4 and 5
  .github/workflows/build-images-releases.yaml
Labels: kind/backports, backport/1.18

#41734 [v1.17] workflows/release: add secrets for step 4 and 5
  .github/workflows/build-images-releases.yaml
Labels: kind/backports, backport/1.17

#41739 test/operator: fix TestUpdateUsedCIDIsReverted flakiness
  operator/pkg/ciliumidentity/controller_test.go
Labels: ready-to-merge, area/operator, release-note/misc

#41727 cli/clustermesh: remove leftover global services status info
  Documentation/network/clustermesh/clustermesh.rst
  cilium-cli/clustermesh/clustermesh.go
Labels: area/clustermesh, release-note/misc, cilium-cli

#41705 redirectpolicy: Fix comparison of BackendParams
  pkg/loadbalancer/backend.go
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/loadbalancer_test.go
  pkg/loadbalancer/redirectpolicy/controller.go
  pkg/loadbalancer/zz_generated.deepequal.go
Labels: release-note/misc, area/lrp, needs-backport/1.18

#41702 redirectpolicy: Forget watch set on deletion
  pkg/loadbalancer/redirectpolicy/controller.go
  pkg/loadbalancer/redirectpolicy/testdata/address.txtar
  pkg/loadbalancer/redirectpolicy/testdata/service.txtar
Labels: release-note/misc, area/lrp

#41587 Revert "helm: add clustermesh nodeport config warning about #24692"
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/misc, area/helm, feature/socket-lb

#41322 operator/pkg/lbipam: fix LoadBalancerIPPool conditions update logic
  operator/pkg/lbipam/lbipam.go
  operator/pkg/lbipam/lbipam_test.go
Labels: kind/bug, release-note/bug, kind/community-contribution, area/ipam, feature/lb-ipam, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#41736 Add documentation about dynamic Hubble Metrics [CFP-30788].
  Documentation/observability/metrics.rst
Labels: area/documentation, release-note/misc, kind/community-contribution

#41759 .github/workflows: remove reviewers requested by auto-committer[bot]
  .github/workflows/auto-approve.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#41041 operator: manually register certwatcher metrics.
  operator/metrics/metrics.go
Labels: release-note/minor, release-note/bug, ready-to-merge, area/metrics

#41551 Move L3 checksum updating before L4 header processing
  bpf/lib/nat.h
Labels: area/datapath, release-note/bug, needs-backport/1.18, feature/bpf-masquerading

#41673 docs: Add FPT Telecom to USERS.md
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#41638 docs: Update iproute2 compile steps in reference guide.
  Documentation/reference-guides/bpf/toolchain.rst
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#41772 gh: e2e-upgrade: temporarily disable XDP for config 6 and 14
  .github/actions/e2e/configs.yaml
Labels: area/CI, release-note/ci

#41776 gh: ipsec-upgrade: fix patch-level upgrade from v1.16.14
  contrib/scripts/print-downgrade-version.sh
Labels: ready-to-merge, kind/backports, backport/1.16

#41808 Revert "bpf: unify CFLAGS handling in Makefile.clang"
  bpf/.gitignore
  bpf/Makefile
  bpf/Makefile.bpf
  bpf/Makefile.clang
  bpf/tests/Makefile
Labels: ready-to-merge, release-note/misc

#41818 .github/workflows: add variable for renovate bot username
  .github/workflows/build-images-ci.yaml
Labels: area/CI, ready-to-merge, release-note/ci, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#41740 ipsec: remove / deprecate support for mcast's encrypted overlay mode
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  Documentation/operations/upgrade.rst
  bpf/Makefile
  bpf/lib/mcast.h
  bpf/node_config.h
  daemon/cmd/daemon.go
  pkg/datapath/fake/types/ipsec.go
  pkg/datapath/linux/config/config.go
  pkg/datapath/linux/ipsec/cell.go
  pkg/datapath/linux/ipsec/cell_test.go
  pkg/datapath/orchestrator/localnodeconfig.go
  pkg/datapath/types/ipsec.go
  pkg/datapath/types/node.go
  pkg/datapath/types/zz_generated.deepequal.go
Labels: area/datapath, release-note/minor, feature/ipsec, area/multicast

#41813 datapath: s/MARK_MAGIC_PROXY_TO_WORLD/MARK_MAGIC_SKIP_TPROXY
  bpf/bpf_host.c
  bpf/lib/common.h
  pkg/datapath/iptables/iptables.go
  pkg/datapath/linux/linux_defaults/linux_defaults.go
Labels: area/datapath, kind/cleanup, ready-to-merge, release-note/misc, kind/tech-debt

#41760 ipam: Do not update local node if ENI config is invalid
  pkg/ipam/crd.go
Labels: release-note/bug, ready-to-merge, area/eni, kind/community-contribution, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#41535 helm: add kubeProxyReplacement configuration option to Cilium Helm chart
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/documentation, ready-to-merge, release-note/misc, area/helm, needs-backport/1.18

#41137 bpf: Migrate `WG_IFINDEX` and `WG_PORT` to runtime config
  bpf/lib/wireguard.h
  bpf/node_config.h
  bpf/tests/wireguard_helpers_tests.c
  pkg/datapath/config/host_config.go
  pkg/datapath/fake/types/wireguard.go
  pkg/datapath/linux/config/config.go
  pkg/datapath/loader/loader.go
  pkg/datapath/orchestrator/localnodeconfig.go
  pkg/datapath/orchestrator/orchestrator.go
  pkg/datapath/types/node.go
  pkg/datapath/types/zz_generated.deepequal.go
  pkg/wireguard/agent/agent.go
  pkg/wireguard/types/types.go
Labels: area/loader, ready-to-merge, release-note/misc, feature/wireguard

#41880 gneigh: add InterfaceFromNetInterface
  pkg/datapath/gneigh/gneigh.go
  pkg/datapath/gneigh/processor_test.go
Labels: ready-to-merge, release-note/misc

#41765 check-encryption-leak: don't skip plain-text TCP RST packets
  .github/actions/bpftrace/scripts/check-encryption-leaks.bt
Labels: area/CI, ready-to-merge, area/encryption, release-note/ci, feature/ipsec

#41598 Fix: Update ipv6 default route with interface index
  pkg/datapath/linux/routing/routing.go
Labels: release-note/bug, kind/community-contribution, needs-backport/1.18

#41674 hubble: Refactor peer service as a cell
  pkg/hubble/cell/cell.go
  pkg/hubble/cell/config.go
  pkg/hubble/cell/hubbleintegration.go
  pkg/hubble/peer/cell/cell.go
  pkg/hubble/peer/cell/cell_test.go
Labels: kind/cleanup, release-note/misc, kind/community-contribution, area/hubble

#41870 bgpv2: Fix incorrect method names and versions in comments
  pkg/bgpv1/manager/manager.go
Labels: ready-to-merge, release-note/misc, area/bgp, kind/community-contribution

#41914 .github/renovate: add postUpgradeTasks for cilium/charts
  .github/renovate.json5
Labels: area/misc, ready-to-merge, release-note/misc

#41164 conformance: enable Gateway API test owner attribution via GOTEST_FORMATTER
  .github/workflows/conformance-gateway-api.yaml
  Makefile
Labels: release-note/ci

#41902 bpf/nat: Move `ipv6_nat_entry` to map
  bpf/lib/nat.h
Labels: area/datapath, kind/cleanup, ready-to-merge, release-note/misc, kind/complexity-issue, feature/snat, feature/bpf-masquerading

#41751 bpf: use helper function to handle nonroutable endpoints
  bpf/bpf_sock.c
  bpf/lib/lb.h
Labels: ready-to-merge, release-note/misc

#41906 bpf: test: improve network policy testing
  bpf/tests/hostfw_extended_protocols.c
  bpf/tests/hostfw_host_iptables.c
  bpf/tests/lib/policy.h
  bpf/tests/network_policy.c
Labels: area/CI, area/datapath, sig/policy, release-note/ci

#41425 fqdn: Refactor and tighten matchpattern sanitization
  pkg/fqdn/matchpattern/matchpattern.go
  pkg/policy/api/fqdn.go
Labels: sig/policy, ready-to-merge, release-note/misc

#41956 workflows/eks: Fix cluster name for scheduled runs
  .github/workflows/conformance-eks.yaml
Labels: kind/bug/CI, release-note/ci, integration/cloud
