Repository cilium/cilium, pull requests merged in 2025-07, with the labels that each got.

#40166 fix: kube-proxy-healthz to return 503 if node terminating
  daemon/cmd/local_node_sync.go
  daemon/cmd/local_node_sync_test.go
  daemon/healthz/kube_proxy_healthz.go
  daemon/healthz/kube_proxy_healthz_test.go
  pkg/node/local_node_store.go
  pkg/node/zz_generated.deepequal.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.17, needs-backport/1.18

#40279 ciliumenvoyconfig: Use terminating backends if no active available
  pkg/ciliumenvoyconfig/controller.go
  pkg/ciliumenvoyconfig/testdata/terminating.txtar
Labels: release-note/bug, ready-to-merge, release-note/misc

#40293 v1.15 Backports 2025-07-01
  .gitattributes
  contrib/git/setup-merge-drivers.sh
Labels: kind/backports, backport/1.15

#40295 [v1.17] cilium: fix socket termination for v4-in-v6 clients
  pkg/datapath/sockets/sockets.go
Labels: kind/backports, backport/1.17

#40296 CODEOWNERS: move pkg/logging to sig-agent
  CODEOWNERS
Labels: release-note/misc

#40310 .github: Re-add the labeler configuration
  .github/labeler.yml
Labels: kind/backports, backport/1.18

#40145 bgp,script: Identify gobgp server with name
  pkg/bgpv1/test/commands/gobgp.go
  pkg/bgpv1/test/testdata/peering-auth.txtar
  pkg/bgpv1/test/testdata/peering-changes.txtar
  pkg/bgpv1/test/testdata/peering-ipv6.txtar
  pkg/bgpv1/test/testdata/peering-multi-instance.txtar
  pkg/bgpv1/test/testdata/pod-cidr.txtar
  pkg/bgpv1/test/testdata/pod-ip-pool.txtar
  pkg/bgpv1/test/testdata/svc-adverts.txtar
  pkg/bgpv1/test/testdata/svc-aggregation.txtar
  pkg/bgpv1/test/testdata/svc-path-attributes.txtar
  pkg/bgpv1/test/testdata/svc-sharing.txtar
  pkg/bgpv1/test/testdata/svc-traffic-policy.txtar
Labels: ready-to-merge, release-note/misc

#40286 Support triggering Makefiles from outside of the tree
  plugins/cilium-cni/Makefile
Labels: ready-to-merge, release-note/misc

#40272 docs: add egressDeny example to CiliumNetworkPolicy language guide
  Documentation/security/policy/language.rst
  examples/policies/l3/egress-deny/egress-deny.yaml
Labels: sig/policy, ready-to-merge, release-note/misc, kind/community-contribution

#40309 README: Update releases
  README.rst
Labels: release-note/misc

#40329 v1.15 Backports 2025-07-02
  .github/workflows/auto-approve.yaml
Labels: kind/backports, backport/1.15

#40278 cilium-cli: Print partial output upon `bgp peers` errors
  cilium-cli/bgp/peers.go
Labels: area/cli, release-note/misc, area/bgp, cilium-cli, cilium-cli-exclusive

#39543 operator: add flag to control AWS API pagination
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator.md
  operator/cmd/provider_aws_flags.go
  operator/option/config.go
  pkg/aws/ec2/ec2.go
Labels: release-note/minor, ready-to-merge

#40123 bgpv2: Refactor service route policy rendering logic
  pkg/bgpv1/manager/reconcilerv2/service.go
  pkg/bgpv1/manager/reconcilerv2/service_test.go
Labels: ready-to-merge, release-note/misc, area/bgp

#40338 bpf:tests:egressgw: fix metrics count
  bpf/tests/tc_egressgw_redirect_from_host.c
Labels: kind/bug/CI, area/CI, release-note/bug, needs-backport/1.18

#40355 pkg/egw: Add missing waitForReconciliationRun
  pkg/egressgateway/manager_privileged_test.go
Labels: ready-to-merge, release-note/ci

#40330 Update .readthedocs.yaml to generate pdfs and epubs
  Documentation/.readthedocs.yaml
Labels: release-note/misc, kind/community-contribution

#40363 clustermesh: add global service without selector test
  pkg/clustermesh/testdata/clusterservice-without-local-eps.txtar
Labels: ready-to-merge, area/clustermesh, release-note/misc, needs-backport/1.18

#40151 update httpbin example as per istio latest release
  examples/kubernetes-istio/httpbin.yaml
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#40372 .github/workflows: remove threshold 50m to show all files
  .github/workflows/build-images-ci.yaml
Labels: release-note/misc

#40307 monitor: fix cache references
  pkg/monitor/dissect.go
  pkg/monitor/dissect_test.go
Labels: kind/bug, area/monitor, release-note/bug, ready-to-merge, needs-backport/1.18

#39300 Release IPPrefixes: Support AWS ENI IP Prefix unassignment
  pkg/alibabacloud/eni/node.go
  pkg/aws/eni/node.go
  pkg/aws/eni/node_test.go
  pkg/azure/ipam/node.go
  pkg/ipam/node.go
  pkg/ipam/node_manager.go
  pkg/ipam/node_manager_test.go
Labels: release-note/minor, ready-to-merge, area/eni, area/azure, area/alibaba, kind/community-contribution

#39400 bpf/maps: cleanup deprecated cilium_policy_v1
  daemon/cmd/datapath.go
  pkg/datapath/maps/map.go
  pkg/datapath/maps/map_test.go
Labels: release-note/bug, ready-to-merge, kind/community-contribution, needs-backport/1.17, needs-backport/1.18

#40392 operator/test: ignore workqueue-related goroutine in goleak
  operator/watchers/script_test.go
Labels: area/CI, ready-to-merge, area/operator, release-note/misc, needs-backport/1.18

#40398 doc:monitor: clarify direction traced with default aggregation level
  Documentation/network/kubernetes/configuration.rst
  Documentation/operations/performance/tuning.rst
Labels: kind/enhancement, area/documentation, release-note/misc, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#40401 helm: Support extending cilium-agent volumes as a downstream packager
  install/kubernetes/cilium/templates/_extensions.tpl
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: ready-to-merge, release-note/misc, area/helm, needs-backport/1.17, needs-backport/1.18

#40433 refactor restConfig_provider.go rest_config_provider.go
  pkg/k8s/client/rest_config_provider.go
Labels: ready-to-merge, release-note/misc, needs-backport/1.18

#40434 ci: fix north-south conn disrupt for 5.4 kernel
  .github/workflows/tests-e2e-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: area/CI, kind/backports, release-note/ci, backport/1.17

#40388 Add caches to unit tests
  .github/workflows/conformance-runtime.yaml
  .github/workflows/integration-test.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#40368 envoy: Bump cilium-envoy to the latest v1.33.x
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, backport/1.17

#40427 bpf: Recreate CT entry in forward direction only
  bpf/lib/conntrack.h
Labels: kind/bug, area/datapath, area/proxy, release-note/bug, ready-to-merge, release-blocker/1.17, needs-backport/1.17, release-blocker/1.18, needs-backport/1.18

#40137 Helm: Adding tolerations to block deployment to drained nodes
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, kind/community-contribution, needs-backport/1.18

#40112 DOC(egress-policy-gateway): fix some typo and indent
  examples/kubernetes-egress-gateway/egress-gateway-policy.yaml
Labels: release-note/bug, area/helm, feature/egress-gateway, kind/community-contribution

#40448 [v1.17] bpf: Recreate CT entry in forward direction only
  bpf/lib/conntrack.h
Labels: ready-to-merge, kind/backports, backport/1.17

#40447 [v1.18] bpf: Recreate CT entry in forward direction only
  bpf/lib/conntrack.h
Labels: ready-to-merge, kind/backports, backport/1.18

#40412 workflows: Fix IPsec Upgrade workflow for IPv6-only configs
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: release-note/ci, feature/ipsec, feature/ipv6-only, needs-backport/1.18

#40475 Change the default taints that Cilium tolerates to avoid deploying to a drained node
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, kind/backports, kind/community-contribution, backport/1.18

#40376 cilium-cli: Update default network-perf image
  Documentation/cmdref/cilium_connectivity_perf.md
  cilium-cli/defaults/defaults.go
Labels: ready-to-merge, release-note/misc, cilium-cli, cilium-cli-exclusive

#40322 operator: update CRDs in series instead of in parallel
  pkg/k8s/apis/cilium.io/client/register.go
Labels: release-note/minor, ready-to-merge

#39298 .github: Notify teams as part of filing a CFP
  .github/ISSUE_TEMPLATE/feature_template.md
Labels: release-note/misc

#40473 v1.15: docs: Document encapsulation options
  Documentation/network/concepts/routing.rst
Labels: area/documentation, kind/backports, backport/1.15

#40470 v1.18: docs: Document encapsulation options
  Documentation/network/concepts/routing.rst
Labels: area/documentation, ready-to-merge, kind/backports, feature/ipv6, feature/ipv6-only, backport/1.18

#40471 v1.17: docs: Document encapsulation options
  Documentation/network/concepts/routing.rst
Labels: area/documentation, ready-to-merge, kind/backports, backport/1.17

#40486 endpoint: remove explicit debug log checks
  pkg/endpoint/bpf.go
  pkg/endpoint/log.go
  pkg/endpoint/policy.go
Labels: kind/cleanup, release-note/misc, feature/slog

#40474 ci: conformance-eks extend token life with aws to 8h
  .github/workflows/conformance-eks.yaml
Labels: area/CI, release-note/ci, backport/1.16, backport/1.17, backport/1.18

#40446 gh: ariane: Add ipsec-upgrade test
  .github/ariane-config.yaml
Labels: release-note/ci, kind/community-contribution, release-blocker/1.18

#40432 ci: Increase timeout for golangci-lint
  .golangci.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#40480 v1.17: helm: Restore hostPort.enabled flag
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, kind/backports, release-note/misc, area/loadbalancing, release-blocker/1.17, backport/1.17

#40507 gha: fix operator tolerations in GKE-based workflows
  .github/workflows/conformance-gke.yaml
  .github/workflows/net-perf-gke.yaml
Labels: area/CI, release-note/ci, needs-backport/1.18

#40509 Add Beatriz Martínez to emeritus
  MAINTAINERS.md
Labels: release-note/misc

#40260 Example for Gateway with gRPC routing
  Documentation/network/servicemesh/gateway-api/gateway-api.rst
  Documentation/network/servicemesh/gateway-api/grpc.rst
  examples/kubernetes/gateway/grpc-tls-termination.yaml
Labels: release-note/misc, kind/community-contribution, needs-backport/1.18

#40476 Helm: Correct seccompProfile for cilium-agent pods
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/bug, area/helm, kind/community-contribution, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#40468 [v1.16] eks: Set egressMasqueradeInterfaces, concurrency
  .github/workflows/conformance-eks.yaml
Labels: kind/bug/CI, area/CI, ready-to-merge, kind/backports, release-note/ci, backport/1.16

#40517 Revert "Update .readthedocs.yaml"
  Documentation/.readthedocs.yaml
Labels: release-note/misc

#40520 [v1.18] Helm: Correct seccompProfile for cilium-agent pods
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: kind/backports, backport/1.18

#40510 docs: update mutual auth example
  Documentation/network/servicemesh/mutual-authentication/mutual-authentication-example.rst
Labels: area/documentation, ready-to-merge, release-note/misc, area/servicemesh, kind/community-contribution

#40484 docs: add link to Slack Guidelines
  Documentation/community/community.rst
Labels: ready-to-merge, release-note/misc

#40547 README: Update releases
  README.rst
  stable.txt
Labels: release-note/misc

#40543 fix(helm): fix values.schema.json types for bpf.events.default.{rateLimit,burstLimit}
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/bug, area/helm, kind/community-contribution, needs-backport/1.17, needs-backport/1.18

#40269 Don't create cilium-azure secret when azure.clientID is not set
  install/kubernetes/cilium/templates/cilium-operator/deployment.yaml
  install/kubernetes/cilium/templates/cilium-operator/secret.yaml
Labels: release-note/minor, area/azure, kind/community-contribution

#40168 docs: clarify CONFIG_FIB_RULES dependencies for custom kernels
  Documentation/operations/system_requirements.rst
Labels: area/documentation, release-note/misc, kind/community-contribution

#40246 Fix LoadBalancerAlgorithm for LocalRedirect services
  pkg/redirectpolicy/manager.go
Labels: ready-to-merge, kind/backports, backport/1.17

#40557 datapath/neighbor: Simplify netlink handle creation
  pkg/datapath/neighbor/neighbor_reconciler.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.18

#39220 feat(sdp): Cilium agent server handling SDP conn
  pkg/fqdn/service/cell.go
  pkg/fqdn/service/service.go
  pkg/fqdn/service/service_test.go
Labels: sig/policy, release-note/misc

#40567 docs: Add warning about changing an IP pool
  Documentation/network/lb-ipam.rst
Labels: release-note/misc, kind/community-contribution, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#40346 Add option for daemon kube-apiserver access to bypass host firewall
  cilium-dbg/cmd/build-config.go
  daemon/cmd/cells.go
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  pkg/datapath/linux/linux_defaults/mark.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/k8s/client/cell.go
  pkg/k8s/hostfirewallbypass/bypass.go
  pkg/k8s/hostfirewallbypass/cell.go
Labels: release-note/bug, area/host-firewall, kind/community-contribution, needs-backport/1.18

#40612 vendor: Prevent renovate from updating gobgp dependency
  .github/renovate.json5
Labels: release-note/misc

#40582 ci: lint-go.yaml extra power runner
  .github/workflows/lint-go.yaml
Labels: release-note/ci

#40561 spire: Fix unreliable test
  pkg/auth/spire/certificate_provider_test.go
Labels: release-note/ci, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#40584 Fix cilium-ingress deployment error when hostNetwork enabled
  install/kubernetes/cilium/templates/cilium-ingress-service.yaml
Labels: release-note/bug, kind/community-contribution, needs-backport/1.18

#40586 doc,bgp: Update prefix aggregation documentation
  Documentation/network/bgp-control-plane/bgp-control-plane-v2.rst
Labels: release-note/misc

#40628 helm: misc small cleanups with certgen job spec
  install/kubernetes/cilium/templates/clustermesh-apiserver/tls-cronjob/_job-spec.tpl
  install/kubernetes/cilium/templates/hubble/tls-cronjob/_job-spec.tpl
Labels: kind/cleanup, release-note/misc

#40637 proxy/proxyports: move test-only code and use fake datapath iptables manager
  pkg/proxy/proxy_test.go
  pkg/proxy/proxyports/proxyports_test.go
  pkg/proxy/proxyports/testutils.go
Labels: kind/cleanup, area/proxy, ready-to-merge, release-note/misc

#40638 workflows/ipsec: Skip ext targets in IPv6-only case
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: release-note/ci, feature/ipsec, feature/ipv6-only, needs-backport/1.18

#40650 node: Add proper prefix to TestAll privileged test
  pkg/datapath/linux/node_linux_test.go
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/misc, needs-backport/1.18

#40654 ci: fix renovate hourly and concurrent pr count
  .github/renovate.json5
Labels: release-note/misc

#40652 version: parse Cilium version string only once
  pkg/version/version.go
Labels: release-note/misc

#40653 datapath/linux/route: Fix Delete
  pkg/datapath/linux/route/route_linux.go
Labels: kind/bug, area/datapath, release-note/bug, ready-to-merge, needs-backport/1.17, needs-backport/1.18

#40570 cec: introduce annotation to override IsL7LB detection during CEC parsing
  pkg/annotation/k8s.go
  pkg/ciliumenvoyconfig/cec_resource_parser.go
  pkg/ciliumenvoyconfig/cec_resource_parser_test.go
  pkg/ciliumenvoyconfig/k8s_reflector.go
Labels: kind/enhancement, release-note/misc, area/servicemesh

#40680 ci: bump ubuntu version for lint build commit workflow
  .github/workflows/lint-build-commits.yaml
Labels: release-note/misc

#40683 ci: remove filter for runner update in lint wfs
  .github/renovate.json5
Labels: release-note/misc

#40255 endpoint, policy: Don't accidentally clear out endpoint policy maps
  pkg/endpoint/bpf.go
  pkg/endpoint/policy.go
  pkg/policy/resolve.go
Labels: release-note/bug, sig/policy, ready-to-merge, needs-backport/1.18

#40696 endpoint, policy: Don't accidentally clear out endpoint policy maps
  pkg/endpoint/bpf.go
  pkg/endpoint/policy.go
  pkg/policy/resolve.go
Labels: release-note/bug, sig/policy, needs-backport/1.18

#40699 [v1.17] .github: Remove use of cosign attest --recursive
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-beta.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
Labels: kind/backports, release-note/ci, backport/1.17

#40622 cli,docs/ipsec: Sequence number is on 64bits
  Documentation/security/network/encryption-ipsec.rst
  cilium-cli/encrypt/status_test.go
  cilium-dbg/cmd/encrypt_status.go
Labels: release-note/bug, feature/ipsec, cilium-cli, needs-backport/1.18

#40267 chore(cilium-cli):cleanup cilium-cli warning log exceptions
  cilium-cli/connectivity/tests/errors.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution, cilium-cli, cilium-cli-exclusive

#40152 Support device exclusion in --devices
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  pkg/datapath/iptables/iptables.go
  pkg/datapath/linux/devices_controller.go
  pkg/datapath/linux/testdata/device-detection-reverse.txtar
  pkg/datapath/tables/device.go
  pkg/datapath/tables/direct_routing_device.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#40722 loadbalancer: fix connectivity for host network pods
  pkg/loadbalancer/reflectors/k8s.go
Labels: release-note/bug, needs-backport/1.18

#40767 MAINTAINERS: New emeritus committer
  MAINTAINERS.md
Labels: ready-to-merge, release-note/misc

#40761 docs: fix typo in ipsec vs wireguard comparison
  Documentation/operations/performance/benchmark.rst
Labels: area/documentation, kind/cleanup, release-note/misc, kind/community-contribution

#40716 ci: filter runner upgrade for old stable branches
  .github/renovate.json5
Labels: release-note/misc

#40681 fqdn/restore: remove test-only Sort methods
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/fqdn/restore/restore.go
Labels: kind/cleanup, sig/policy, ready-to-merge, release-note/misc, area/fqdn

#40769 Fix misc typos
  .github/renovate.json5
  Documentation/contributing/development/reviewers_committers/review_process.rst
  Documentation/contributing/development/reviewers_committers/review_vendor.rst
  cilium-cli/connectivity/check/logging.go
  images/cilium/Dockerfile
  images/operator/Dockerfile
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  pkg/policy/api/selector.go
Labels: sig/policy, release-note/misc, cilium-cli

#40549 cli: Add the check for l7 proxy for `to-fqdns` test
  cilium-cli/connectivity/builder/to_fqdns.go
Labels: ready-to-merge, release-note/ci, cilium-cli, cilium-cli-exclusive

#40776 Fix code owner attribution for test failures on stable branches
  .github/actions/set-env-variables/action.yml
  Makefile.defs
Labels: release-note/ci, kind/community-contribution, needs-backport/1.18

#40764 v1.16 Backports 2025-07-28
  .github/workflows/lint-go.yaml
Labels: kind/backports, backport/1.16

#40765 v1.17 Backports 2025-07-28
  .github/workflows/lint-go.yaml
Labels: kind/backports, backport/1.17

#39728 operator: Attach context to logs when available
  operator/api/server.go
  operator/auth/spire/client.go
  operator/auth/watcher.go
  operator/cmd/ccnp_event.go
  operator/cmd/cilium_node.go
  operator/cmd/cnp_event.go
  operator/cmd/k8s_pod_controller.go
  operator/cmd/root.go
  operator/doublewrite/metricreporter.go
  operator/endpointgc/gc.go
  operator/identitygc/crd_gc.go
  operator/identitygc/kvstore_gc.go
  operator/metrics/metrics.go
  operator/pkg/bgpv2/cluster.go
  operator/pkg/bgpv2/manager.go
  operator/pkg/ciliumendpointslice/endpointslice.go
  operator/pkg/ciliumendpointslice/namespace.go
  operator/pkg/ciliumendpointslice/reconciler.go
  operator/pkg/ciliumenvoyconfig/ciliumenvoyconfig_reconcile.go
  operator/pkg/ciliumidentity/ciliumendpointslice.go
  operator/pkg/ciliumidentity/controller.go
  operator/pkg/ciliumidentity/identity.go
  operator/pkg/ciliumidentity/namespace.go
  operator/pkg/ciliumidentity/pod.go
  operator/pkg/ciliumidentity/reconciler.go
  operator/pkg/gateway-api/cell.go
  operator/pkg/gateway-api/controller.go
  operator/pkg/gateway-api/gamma_reconcile.go
  operator/pkg/gateway-api/gateway.go
  operator/pkg/gateway-api/gateway_reconcile.go
  operator/pkg/gateway-api/gatewayclass.go
  operator/pkg/gateway-api/gatewayclass_reconcile.go
  operator/pkg/gateway-api/gatewayclassconfig_reconcile.go
  operator/pkg/gateway-api/grpcroute.go
  operator/pkg/gateway-api/grpcroute_reconcile.go
  operator/pkg/gateway-api/helpers.go
  operator/pkg/gateway-api/httproute.go
  operator/pkg/gateway-api/httproute_reconcile.go
  operator/pkg/gateway-api/secretsync.go
  operator/pkg/gateway-api/tlsroute.go
  operator/pkg/gateway-api/tlsroute_reconcile.go
  operator/pkg/ingress/helpers.go
  operator/pkg/ingress/ingress.go
  operator/pkg/ingress/ingress_reconcile.go
  operator/pkg/ingress/secretsync.go
  operator/pkg/lbipam/lbipam.go
  operator/pkg/networkpolicy/cell.go
  operator/pkg/networkpolicy/secretsync.go
  operator/pkg/nodeipam/nodesvclb.go
  operator/pkg/secretsync/secretsync_reconcile.go
  operator/watchers/cilium_node_gc.go
  operator/watchers/cilium_podippool.go
  operator/watchers/node_taint.go
Labels: release-note/misc, feature/slog

#40778 tools/testowners: de-duplicate error logs
  tools/testowners/main.go
Labels: release-note/ci, needs-backport/1.18

#40780 loadbalancer: Fix backend state in REST API
  pkg/loadbalancer/frontend.go
Labels: release-note/bug, ready-to-merge, area/cli, area/loadbalancing, needs-backport/1.18

#40556 Helm: remove config init container when there are no extra configuration sources
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: release-note/minor, area/helm, kind/community-contribution

#40625 values(.yaml.tmpl): Add Geneve (Class Option) to dsrDispatch paramater
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: ready-to-merge, release-note/misc, kind/community-contribution, needs-backport/1.18

#40357 fix(GH-37724): Sync policies on startup
  pkg/endpoint/bpf.go
Labels: release-note/bug, ready-to-merge, affects/v1.17, needs-backport/1.18

#40569 envoy: Bump envoy proxy to 1.35.0
  .github/renovate.json5
  Documentation/helm-values.rst
  go.mod
  go.sum
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  vendor/github.com/envoyproxy/go-control-plane/envoy/config/core/v3/health_check.pb.go
  vendor/github.com/envoyproxy/go-control-plane/envoy/extensions/filters/http/header_to_metadata/v3/header_to_metadata.pb.go
  vendor/github.com/envoyproxy/go-control-plane/envoy/extensions/filters/http/ratelimit/v3/rate_limit.pb.go
  vendor/github.com/envoyproxy/go-control-plane/envoy/extensions/filters/http/ratelimit/v3/rate_limit.pb.validate.go
  vendor/github.com/envoyproxy/go-control-plane/envoy/extensions/filters/http/ratelimit/v3/rate_limit_vtproto.pb.go
  vendor/modules.txt
Labels: release-note/minor

#40818 .github: fix removal of all files in /mnt
  .github/workflows/build-images-ci.yaml
Labels: release-note/misc, needs-backport/1.16, needs-backport/1.17, needs-backport/1.18

#40588 bpf/tests: remove unused method `mock_ctx_redirect_peer`
  bpf/tests/tc_nodeport_test.c
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#40817 Cilium EndpointSlices: fix label values
  operator/pkg/ciliumendpointslice/endpointslice.go
Labels: release-note/misc

#40823 go.mod, vendor: pull in charts for Cilium 1.18.0 and Tetragon 1.5.0
  Documentation/cmdref/cilium_install.md
  Documentation/cmdref/cilium_upgrade.md
  go.mod
  go.sum
  vendor/github.com/cilium/charts/README.md
  vendor/github.com/cilium/charts/cilium-1.18.0.tgz
  vendor/github.com/cilium/charts/index.yaml
  vendor/github.com/cilium/charts/tetragon-1.5.0.tgz
  vendor/modules.txt
Labels: ready-to-merge, release-note/misc, cilium-cli

#40824 policy / hubble: fix segfault on startup when hubble enabled
  pkg/policy/resolve.go
  pkg/policy/resolve_test.go
Labels: release-note/bug, sig/policy, ready-to-merge, release-blocker/1.18, needs-backport/1.18

#40791 identity: Ensure ingress label is reserved label to be node-local
  pkg/identity/identity.go
  pkg/identity/identity_test.go
Labels: kind/bug, area/daemon, release-note/bug, sig/policy, ready-to-merge, needs-backport/1.18

#40837 [v1.17] ci: Revert build_commits runner to ubuntu-22.04
  .github/workflows/lint-build-commits.yaml
Labels: area/CI, kind/backports, release-note/ci, backport/1.17

#40833 MAINTAINERS: Move Ian to Emeritus
  MAINTAINERS.md
Labels: ready-to-merge, release-note/misc

#40095 feat(agent): Add route-based node IP discovery
  pkg/datapath/tables/node_address.go
  pkg/datapath/tables/node_address_test.go
  pkg/datapath/tables/route.go
Labels: release-note/minor, upgrade-impact, kind/community-contribution

#40656 aws/eni: Don't use subnet tags to filter ENIs for GC
  pkg/aws/ec2/ec2.go
Labels: release-note/bug, ready-to-merge, area/eni, needs-backport/1.18

#40848 clustermesh: fix propagation of services with unnamed ports
  operator/watchers/testdata/servicesync.txtar
  pkg/k8s/endpoints.go
  pkg/loadbalancer/reflectors/conversions.go
Labels: kind/bug, release-note/bug, backport/author, needs-backport/1.18

#40677 lxcmap: rollback previous updates on failure in WriteEndpoint
  pkg/maps/lxcmap/lxcmap.go
Labels: release-note/bug, ready-to-merge, kind/community-contribution
