Repository cilium/cilium, pull requests merged in 2025-01, with the labels that each got.

#36788 build: Filter out --jobserver-auth from MAKEFLAGS
  Documentation/Makefile
Labels: ready-to-merge, release-note/misc, area/build, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#36414 bgpv2: Support overlapping selector matches on CiliumBGPAdvertisement
  Documentation/network/bgp-control-plane/bgp-control-plane-v2.rst
  pkg/bgpv1/manager/reconcilerv2/policies.go
  pkg/bgpv1/manager/reconcilerv2/policies_test.go
  pkg/bgpv1/manager/reconcilerv2/service.go
  pkg/bgpv1/manager/reconcilerv2/service_test.go
  pkg/bgpv1/types/bgp.go
  pkg/bgpv1/types/bgp_test.go
  pkg/bgpv1/types/fake_router.go
Labels: release-note/minor, ready-to-merge, area/bgp, kind/community-contribution

#36806 docs: document the `cilium.io/use-original-source-address` label for CECs
  Documentation/network/servicemesh/l7-traffic-management.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, release-note/misc, area/servicemesh, kind/community-contribution

#35718 operator: Skip reconcile for non-GAMMA xRoutes without a Cilium-managed Gateway
  operator/pkg/gateway-api/grpcroute.go
  operator/pkg/gateway-api/httproute.go
  operator/pkg/gateway-api/httproute_test.go
  operator/pkg/gateway-api/tlsroute.go
Labels: release-note/bug, ready-to-merge, kind/community-contribution, needs-backport/1.17

#36308 clustermesh: add annotations and labels sync to MCS-API
  Documentation/network/clustermesh/mcsapi.rst
  Documentation/spelling_wordlist.txt
  pkg/clustermesh/mcsapi/serviceexportsync_test.go
  pkg/clustermesh/mcsapi/serviceimport_controller.go
  pkg/clustermesh/mcsapi/serviceimport_controller_test.go
  pkg/clustermesh/mcsapi/types/mcsapiservicespec.go
Labels: release-note/minor, ready-to-merge, area/clustermesh

#36820 envoy: Use yaml format for bootstrap config
  install/kubernetes/cilium/files/cilium-envoy/configmap/bootstrap-config.json
  install/kubernetes/cilium/files/cilium-envoy/configmap/bootstrap-config.yaml
  install/kubernetes/cilium/templates/cilium-envoy/configmap.yaml
Labels: release-note/minor, needs-backport/1.17

#36664 cilium-cli: skip some IPv6 connectivity tests for Cilium<1.14 when IPsec is enabled
  cilium-cli/connectivity/check/test.go
  cilium-cli/connectivity/tests/service.go
Labels: release-note/misc, feature/ipv6, feature/ipsec, cilium-cli, cilium-cli-exclusive

#36695 Update README with new releases
  README.rst
Labels: release-note/misc

#36827 k8s: Bump k8s/kubectl to v0.32.0
  go.mod
  go.sum
  vendor/github.com/exponent-io/jsonpath/.travis.yml
  vendor/github.com/exponent-io/jsonpath/decoder.go
  vendor/k8s.io/kubectl/pkg/cmd/util/helpers.go
  vendor/k8s.io/kubectl/pkg/util/i18n/translations/README.md
  vendor/k8s.io/kubectl/pkg/util/podutils/podutils.go
  vendor/k8s.io/kubectl/pkg/util/templates/help_flags_printer.go
  vendor/modules.txt
Labels: release-note/minor, needs-backport/1.17

#36833 golangci-lint: Update config as per latest schema
  .golangci.yaml
Labels: ready-to-merge, release-note/misc

#36645 chore(delete-handler): lookup endpoint before rate limiter queuing
  daemon/cmd/endpoint.go
Labels: release-note/bug, ready-to-merge

#36646 [docs] Improve the Quick Start dev setup section
  Documentation/contributing/development/dev_setup.rst
Labels: area/documentation, release-note/misc, kind/community-contribution

#36842 bpf: Remove misnamed `node_id` variable
  bpf/lib/encap.h
  bpf/lib/overloadable_skb.h
  bpf/lib/overloadable_xdp.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#36844 bpf/encap: Avoid checking `encrypt_key` twice
  bpf/lib/encap.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#36644 docs: Add Warning to Requires Policy Language
  Documentation/security/policy/language.rst
Labels: release-note/misc

#36498 cilium-cli: Add envoy log pattern in error check
  cilium-cli/connectivity/tests/errors.go
  cilium-cli/connectivity/tests/errors_test.go
Labels: ready-to-merge, release-note/ci, cilium-cli, cilium-cli-exclusive

#36790 Improve Makefile help: add debug image commands for agent and operator
  Makefile
Labels: release-note/misc, sig/contributing

#36733 envoy: Configure internal address config based on IP family
  install/kubernetes/cilium/files/cilium-envoy/configmap/bootstrap-config.yaml
  operator/pkg/ciliumenvoyconfig/cell.go
  operator/pkg/ciliumenvoyconfig/ciliumenvoyconfig.go
  operator/pkg/ciliumenvoyconfig/envoy_config.go
  operator/pkg/model/translation/cec_translator.go
  operator/pkg/model/translation/envoy_http_connection_manager.go
  operator/pkg/model/translation/envoy_listener.go
  operator/pkg/model/translation/envoy_listener_test.go
  operator/pkg/model/translation/gateway-api/testdata/host_network/basic_http_listener/with_external_traffic_policy/cec-output.yaml
  operator/pkg/model/translation/gateway-api/testdata/host_network/basic_http_listener/without_external_traffic_policy/cec-output.yaml
  operator/pkg/model/translation/gateway-api/testdata/host_network/basic_http_listener_with_different_port/with_external_traffic_policy/cec-output.yaml
  operator/pkg/model/translation/gateway-api/testdata/host_network/basic_http_listener_with_different_port/without_external_traffic_policy/cec-output.yaml
  operator/pkg/model/translation/gateway-api/testdata/host_network/basic_http_listener_with_different_port_and_ipv_6/with_external_traffic_policy/cec-output.yaml
  operator/pkg/model/translation/gateway-api/testdata/host_network/basic_http_listener_with_different_port_and_ipv_6/without_external_traffic_policy/cec-output.yaml
  operator/pkg/model/translation/gateway-api/testdata/host_network/basic_http_listener_with_label_selector/with_external_traffic_policy/cec-output.yaml
  operator/pkg/model/translation/gateway-api/testdata/host_network/basic_http_listener_with_label_selector/without_external_traffic_policy/cec-output.yaml
  operator/pkg/model/translation/gateway-api/translator_test.go
  operator/pkg/model/translation/ingress/dedicated_ingress_test.go
  operator/pkg/model/translation/ingress/testdata/complex_node_port_ingress/output-cec.yaml
  operator/pkg/model/translation/ingress/testdata/conformance/host_network/output-cec.yaml
  pkg/envoy/xds_server.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#36857 gha: bump ubuntu version in conformance-externalworkloads
  .github/workflows/conformance-externalworkloads.yaml
Labels: area/CI, kind/backports, release-note/ci, backport/1.15

#35899 bpf: tests: add ctx_{mark_}is_wireguard helper tests
  bpf/tests/wireguard_helpers_tests.c
Labels: ready-to-merge, release-note/misc, feature/wireguard

#36719 option: remove unused DaemonConfig.KVstoreKeepAliveInterval field
  pkg/defaults/defaults.go
  pkg/option/config.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#36767 bpf: nat: ICMP v4 improvements
  bpf/lib/common.h
  bpf/lib/nat.h
  bpf/lib/nat_46x64.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/snat

#36768 datapath: require FnGetSocketCookie
  bpf/bpf_sock.c
  bpf/lib/lb.h
  bpf/lib/sock.h
  bpf/lib/trace_sock.h
  bpf/tests/host_only_socket_lb_test.c
  bpf/tests/skip_lb_xlate_socket_lb.c
  pkg/datapath/linux/probes/probes.go
  pkg/datapath/linux/requirements.go
Labels: sig/kernel, sig/datapath, ready-to-merge, release-note/misc

#36878 docs: tuning: add config snippet for BPF Host Routing
  Documentation/operations/performance/tuning.rst
Labels: area/documentation, sig/datapath, release-note/misc, needs-backport/1.17

#36879 bpf: nat: simplify local_ep path in snat_v*_needs_masquerade()
  bpf/lib/nat.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/snat

#36704 policy: Remove unneeded error return in GetSelectorPolicy()
  pkg/endpoint/policy.go
  pkg/policy/distillery_test.go
  pkg/policy/repository.go
Labels: kind/cleanup, area/daemon, sig/policy, ready-to-merge, release-note/misc, sig/agent

#36843 bpf: Remove unnecessary `__maybe_unused`
  bpf/bpf_host.c
  bpf/bpf_lxc.c
  bpf/lib/encap.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#36727 policy: don't subscribe to service events if CNPs/CCNPs are disabled
  pkg/policy/k8s/cell.go
Labels: kind/bug, release-note/bug, sig/policy, ready-to-merge, needs-backport/1.17

#36846 bgpv2: Test_MergeRoutePolicies statements can be unordered
  pkg/bgpv1/manager/reconcilerv2/policies_test.go
Labels: ready-to-merge, release-note/ci, area/bgp

#36880 Fix command in policy-creation.rst
  Documentation/security/policy-creation.rst
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution

#36887 Cilium CLI fix for AWS ENI mode
  cilium-cli/install/helm.go
Labels: release-note/bug, area/cli, cilium-cli

#36780 Improve cilium-dbg policy output
  cilium-dbg/cmd/bpf_policy_get.go
Labels: ready-to-merge, release-note/misc

#36888 bgpv2: SortRouteStatementsByName to use cmp pkg for sorting
  pkg/bgpv1/manager/reconcilerv2/policies_test.go
Labels: ready-to-merge, release-note/misc

#36906 github: Fix branch name in build-go-caches.yaml
  .github/workflows/build-go-caches.yaml
Labels: kind/backports, release-note/ci, backport/1.17

#36859 gha: bump ubuntu version in conformance-externalworkloads
  .github/workflows/conformance-externalworkloads.yaml
Labels: area/CI, release-note/ci, needs-backport/1.14, backport-done/1.15, needs-backport/1.16, needs-backport/1.17

#36905 gha: Bump k8s version to v1.32.0
  .github/actions/set-env-variables/action.yml
Labels: ready-to-merge, release-note/ci, needs-backport/1.17

#36921 doc: ebpf host-routing and netfilter
  Documentation/operations/performance/tuning.rst
Labels: area/documentation, release-note/misc, needs-backport/1.16, needs-backport/1.17

#36769 ingress: Remove multiple network device limitation
  Documentation/network/servicemesh/gateway-api/installation.rst
  Documentation/network/servicemesh/ingress-known-issues.rst
  Documentation/network/servicemesh/ingress.rst
Labels: release-note/minor, needs-backport/1.17

#36899 clustermesh: update coredns version in mcs-api docs
  Documentation/network/clustermesh/mcsapi.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.17

#36753 pkg/byteorder: add loong64 platform support
  pkg/byteorder/byteorder_littleendian.go
Labels: release-note/misc, kind/community-contribution

#36812 connectivity: Add test for update TLS secret
  cilium-cli/connectivity/builder/client_egress_l7_tls_headers.go
  cilium-cli/connectivity/builder/manifests/client-egress-l7-tls.yaml
  cilium-cli/connectivity/check/test.go
  cilium-cli/connectivity/tests/world.go
Labels: ready-to-merge, release-note/misc, cilium-cli, cilium-cli-exclusive

#36917 build: Remove debug leftover from Makefile
  Documentation/Makefile
Labels: ready-to-merge, release-note/misc, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#36924 docs: Clarify Identity-Relevant Labels description
  Documentation/operations/performance/scalability/identity-relevant-labels.rst
Labels: release-note/misc, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#36910 Remove always-nil error returns
  cilium-cli/connectivity/check/context.go
  cilium-cli/sysdump/sysdump.go
  daemon/cmd/deletion_queue.go
  operator/cmd/ccnp_event.go
  operator/cmd/cnp_event.go
  operator/cmd/root.go
  operator/pkg/lbipam/lbipam.go
  operator/pkg/model/translation/envoy_listener.go
  operator/pkg/model/translation/envoy_route_configuration.go
  operator/pkg/model/translation/envoy_virtual_host.go
  pkg/alibabacloud/api/api.go
  pkg/allocator/allocator.go
  pkg/allocator/allocator_test.go
  pkg/bgpv1/manager/manager.go
  pkg/bgpv1/manager/reconcilerv2/pod_cidr.go
  pkg/bgpv1/manager/workdiff.go
  pkg/clustermesh/endpointslicesync/service_informer.go
  pkg/fqdn/dnsproxy/helpers_test.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/hubble/filters/http.go
  pkg/hubble/filters/tcp.go
  pkg/hubble/server/server.go
  pkg/ipam/crd.go
  pkg/ipam/crd_eni.go
  pkg/maps/l2respondermap/l2_responder_map4.go
  pkg/service/service.go
Labels: kind/cleanup, sig/policy, ready-to-merge, release-note/misc, cilium-cli

#36471 KVStoreMesh: only sync identities ID
  pkg/clustermesh/kvstoremesh/kvstoremesh.go
  pkg/clustermesh/kvstoremesh/kvstoremesh_test.go
  pkg/clustermesh/kvstoremesh/remote_cluster.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#36832 Improve k8s-cilium-exec.sh
  contrib/k8s/k8s-cilium-exec.sh
Labels: ready-to-merge, release-note/misc, sig/contributing, kind/community-contribution

#36892 clustermesh: fix MCS-API service export cache not properly deleted
  pkg/clustermesh/operator/service_exports.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/clustermesh, needs-backport/1.17

#36387 gops: Add option to disable gops agent
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-aws_hive.md
  Documentation/cmdref/cilium-operator-aws_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-azure_hive.md
  Documentation/cmdref/cilium-operator-azure_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator-generic_hive.md
  Documentation/cmdref/cilium-operator-generic_hive_dot-graph.md
  Documentation/cmdref/cilium-operator.md
  Documentation/cmdref/cilium-operator_hive.md
  Documentation/cmdref/cilium-operator_hive_dot-graph.md
  Documentation/cmdref/clustermesh-apiserver_clustermesh.md
  Documentation/cmdref/clustermesh-apiserver_clustermesh_hive.md
  Documentation/cmdref/clustermesh-apiserver_clustermesh_hive_dot-graph.md
  Documentation/cmdref/clustermesh-apiserver_kvstoremesh.md
  Documentation/cmdref/clustermesh-apiserver_kvstoremesh_hive.md
  Documentation/cmdref/clustermesh-apiserver_kvstoremesh_hive_dot-graph.md
  clustermesh-apiserver/clustermesh/cells.go
  clustermesh-apiserver/kvstoremesh/cells.go
  daemon/cmd/cells.go
  operator/cmd/root.go
  pkg/defaults/defaults.go
  pkg/gops/cell.go
  pkg/option/config.go
Labels: release-note/misc, kind/community-contribution

#36932 localnodeconfig: dedup cluster routing mode
  pkg/datapath/linux/ipsec.go
  pkg/datapath/orchestrator/localnodeconfig.go
  pkg/datapath/types/node.go
  pkg/datapath/types/zz_generated.deepequal.go
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc, needs-backport/1.17

#36935 gh: update removed --loglevel option for kind
  .github/workflows/conformance-k8s-kind-network-policies.yaml
  .github/workflows/conformance-k8s-kind.yaml
Labels: area/CI, release-note/ci

#36941 README: Update releases
  README.rst
Labels: release-note/misc

#36890 cilium-cli: do not print checkmarks for non-binary values
  cilium-cli/features/markdown.go
  cilium-cli/features/tab_writer.go
Labels: release-note/misc, cilium-cli, cilium-cli-exclusive

#36928 ctmap: use `sync.OnceValue` to simplify `batchAPISupported`
  pkg/maps/ctmap/ctmap.go
Labels: kind/cleanup, release-note/misc

#36953 proxy: Mark restored port as configured
  pkg/proxy/proxyports/proxyports.go
  pkg/proxy/proxyports/proxyports_test.go
Labels: kind/bug, area/proxy, release-note/misc, release-blocker/1.17, needs-backport/1.17

#36914 renovate: pin renovate image version in config validator workflow
  .github/renovate.json5
  .github/workflows/renovate-config-validator.yaml
Labels: area/CI, ready-to-merge, release-note/ci

#36377 ci: add leak detection to conformance-ipsec-upgrade
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: kind/enhancement, area/CI, ready-to-merge, release-note/ci, backport/author, feature/ipsec

#36490 Add Hubble export compression to Helm chart
  Documentation/helm-values.rst
  Documentation/observability/hubble/configuration/export.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, sig/hubble, kind/community-contribution

#36934 bgpv2: decouple instance registration and reconcile errors
  pkg/bgpv1/manager/manager.go
Labels: ready-to-merge, release-note/misc, area/bgp

#36966 docs: Update L7 Port Range Information
  Documentation/security/policy/language.rst
Labels: release-note/misc, release-blocker/1.17, needs-backport/1.17

#36371 hubble: fix metrics configuration parsing
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  pkg/hubble/cell/config.go
  pkg/hubble/cell/hubbleintegration.go
Labels: kind/bug, release-note/bug, area/metrics, sig/hubble, release-blocker/1.17

#36911 bpf: egressgw: let gateway node identify reply traffic as WORLD_ID
  bpf/lib/nodeport.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/egress-gateway

#36982 gh: e2e-upgrade: use DSR-Geneve in config 15
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, sig/datapath, release-note/ci, area/loadbalancing, feature/dsr, needs-backport/1.17

#36749 cilium-cli/sysdump: add tetragon helm information
  cilium-cli/sysdump/constants.go
  cilium-cli/sysdump/sysdump.go
Labels: release-note/minor, ready-to-merge, cilium-cli, cilium-cli-exclusive

#36969 Docs: update SIGs section
  Documentation/community/community.rst
Labels: release-note/misc

#36649 docs: Deprecate Requires Fields
  Documentation/security/policy/language.rst
Labels: release-note/misc, release-blocker/1.17, needs-backport/1.17

#36956 bpf: Makefile improvement
  Makefile
  bpf/tests/Makefile
Labels: release-note/misc

#36988 [v1.16] gh: e2e-upgrade: add coverage for 6.6 kernel
  .github/workflows/tests-e2e-upgrade.yaml
Labels: kind/backports, backport/1.16

#36676 pkg/maps/nat/stats: cleanup: remove unused nth index from nat-stats.
  pkg/maps/nat/stats/stats.go
Labels: ready-to-merge, release-note/misc

#36585 Remove "_count" suffix from doublewrite metrics
  CODEOWNERS
  Documentation/observability/metrics.rst
  Documentation/operations/upgrade.rst
  operator/doublewrite/metricreporter.go
  operator/doublewrite/metrics.go
Labels: release-note/bug, ready-to-merge, area/metrics, kind/community-contribution, release-blocker/1.17

#36986 test: remove unused registry-adder chart
  .gitignore
  test/k8s/manifests/registry-adder/.helmignore
  test/k8s/manifests/registry-adder/Chart.yaml
  test/k8s/manifests/registry-adder/templates/_helpers.tpl
  test/k8s/manifests/registry-adder/templates/daemonset.yaml
  test/k8s/manifests/registry-adder/values.yaml
Labels: area/CI, kind/cleanup, ready-to-merge, release-note/ci

#37008 docs: pass current_version to html_context
  Documentation/conf.py
Labels: area/documentation, release-note/misc, kind/community-contribution, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#37014 [v1.15] envoy: Demote expected initial fetch timeout warning to info level
  pkg/envoy/embedded_envoy.go
Labels: ready-to-merge, kind/backports, backport/1.15

#36952 Cilium CLI: Trim EKS cluster ARN to extract valid cluster name
  cilium-cli/install/autodetect.go
  cilium-cli/install/autodetect_test.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution, cilium-cli, cilium-cli-exclusive

#37006 pkg/ciliumidentity: Fix TestUpdateUsedCIDIsReverted test
  operator/pkg/ciliumidentity/controller_test.go
Labels: ready-to-merge, area/operator, release-note/misc

#37022 ci: Fix fetching tested features and uploading artifacts
  .github/workflows/conformance-ginkgo.yaml
Labels: kind/bug/CI, area/CI, kind/backports, backport/1.14

#37020 k8s/apis/cilium.io/v2: remove unused AnnotationsEquals methods
  pkg/k8s/apis/cilium.io/v2/ccnp_types.go
  pkg/k8s/apis/cilium.io/v2/cnp_types.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#37011 bpf/tests: remove leftover debug statements
  bpf/tests/ipv6_ndp_from_netdev_test.c
Labels: sig/datapath, ready-to-merge, release-note/misc

#37015 [v1.14] envoy: Demote expected initial fetch timeout warning to info level
  pkg/envoy/embedded_envoy.go
Labels: kind/backports, backport/1.14

#37010 connectivity: Add retry all error for L7 header related test
  cilium-cli/connectivity/builder/client_egress_l7_set_header.go
  cilium-cli/connectivity/tests/common.go
  cilium-cli/connectivity/tests/pod.go
Labels: ready-to-merge, release-note/ci, cilium-cli

#36321 Improve kernel module-based feature detection
  pkg/datapath/cells.go
  pkg/datapath/iptables/iptables.go
  pkg/datapath/linux/modules/cell.go
  pkg/datapath/linux/modules/doc.go
  pkg/datapath/linux/modules/modules.go
  pkg/datapath/linux/modules/modules_linux.go
  pkg/datapath/linux/modules/modules_linux_privileged_test.go
  pkg/datapath/linux/modules/modules_linux_test.go
  pkg/datapath/linux/modules/modules_unspecified.go
Labels: sig/datapath, release-note/bug, ready-to-merge, area/iptables

#36974 hubble: separate static and dynamic exporter configurations
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/NOTES.txt
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/templates/cilium-flowlog-configmap.yaml
  install/kubernetes/cilium/templates/warnings.txt
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/hubble/exporter/api.go
  pkg/hubble/exporter/cell/cell.go
  pkg/hubble/exporter/config_watcher_test.go
  pkg/hubble/exporter/dynamic_exporter.go
  pkg/hubble/exporter/dynamic_exporter_test.go
  pkg/hubble/exporter/exporter.go
  pkg/hubble/exporter/testdata/valid-flowlogs-config.yaml
Labels: kind/enhancement, area/misc, release-note/misc, sig/hubble, kind/community-contribution

#37043 doc: eks cluster restriction removed
  Documentation/installation/k8s-install-helm.rst
Labels: ready-to-merge, release-note/misc

#37054 docs: Remove stale limitation on KPR+IPsec
  Documentation/network/kubernetes/kubeproxy-free.rst
Labels: area/documentation, release-note/misc, feature/ipsec, needs-backport/1.16, needs-backport/1.17

#36980 make: Don't hide install errors
  Makefile.kind
Labels: release-note/misc, needs-backport/1.17

#36962 ci: skip plain-text TCP RST packets in bpftrace
  .github/actions/bpftrace/scripts/check-ipsec-leaks.bt
Labels: kind/enhancement, area/encryption, release-note/ci, feature/ipsec

#37039 renovate: Fix the typo in validator config file name
  .github/renovate.json5
Labels: release-note/misc

#37000 cli: restrict conn test to ip families
  cilium-cli/cli/connectivity.go
  cilium-cli/connectivity/check/check.go
  cilium-cli/connectivity/check/test.go
  cilium-cli/utils/features/utils.go
Labels: release-note/minor, ready-to-merge, cilium-cli, cilium-cli-exclusive

#36566 labelsfilter: Update the unit test with the doc example
  pkg/labelsfilter/filter_test.go
Labels: ready-to-merge, release-note/ci

#36537 CLI: set json output as default for cilium get endpoint
  cilium-dbg/cmd/endpoint_get.go
Labels: release-note/minor, kind/community-contribution

#37048 doc: Removed nodeinit from aks byocni install
  Documentation/installation/k8s-install-helm.rst
Labels: release-note/misc, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#36823 envoy: add configurable access log buffer size
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  Documentation/helm-values.rst
  Documentation/spelling_wordlist.txt
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/envoy/accesslog_server.go
  pkg/envoy/cell.go
  pkg/envoy/embedded_envoy_test.go
Labels: area/proxy, release-note/bug, ready-to-merge, area/servicemesh, kind/community-contribution, needs-backport/1.16, needs-backport/1.17

#37042 integration: Bump ubuntu to 24.04 for arm runners
  .github/workflows/integration-test.yaml
Labels: release-note/ci, needs-backport/1.17

#37050 bpf: Fix RFC reference for NAT64
  Documentation/helm-values.rst
  bpf/lib/common.h
  bpf/lib/nat.h
  bpf/lib/nat_46x64.h
  bpf/lib/nodeport.h
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: sig/datapath, kind/cleanup, release-note/misc, feature/snat

#37075 bpf: remove unused world_cidrs_key4
  bpf/bpf_alignchecker.c
  bpf/lib/maps.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc, feature/high-scale-ipcache

#37081 watchers: demote "CEP deleted" log message to debug level
  pkg/k8s/watchers/cilium_endpoint_slice_subscriber.go
Labels: kind/cleanup, sig/k8s, ready-to-merge, release-note/misc, needs-backport/1.17

#37053 clustermesh: update mcs-api dependency
  Documentation/network/clustermesh/mcsapi.rst
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/mcs-api/pkg/apis/v1alpha1/serviceimport.go
  vendor/sigs.k8s.io/mcs-api/pkg/controllers/service.go
Labels: release-note/minor, ready-to-merge, area/clustermesh, needs-backport/1.17

#37059 Docs: CiliumCIDRGroup updates & cleanups
  Documentation/network/kubernetes/ciliumcidrgroup.rst
  Documentation/security/policy/language.rst
Labels: area/documentation, sig/policy, release-note/misc, needs-backport/1.17

#36875 clustermesh: pass down targetPort to MCS-API derived service
  pkg/clustermesh/endpointslicesync/service_informer.go
  pkg/clustermesh/mcsapi/service_controller.go
  pkg/clustermesh/mcsapi/service_controller_test.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/clustermesh, needs-backport/1.17

#37086 endpoint: drop duplicate RunMetadataResolver call
  daemon/cmd/endpoint.go
Labels: kind/bug, area/daemon, release-note/bug, affects/v1.14, affects/v1.15, needs-backport/1.16, affects/v1.16, needs-backport/1.17, affects/v1.17

#37128 Add Guidewire inc to the adopters
  USERS.md
Labels: release-note/misc, kind/community-contribution

#36993 Update Upgrade doc for 1.18
  Documentation/operations/upgrade.rst
Labels: ready-to-merge, release-note/misc

#37108 wireguard: attach Ingress program for native routing mode configurations
  pkg/option/config.go
Labels: kind/enhancement, sig/datapath, release-note/misc, feature/wireguard, needs-backport/1.17

#37161 [v1.15] envoy: Bump envoy version to v1.31.x
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.15

#37162 [v1.14] envoy: Bump envoy version to v1.31.x
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: kind/backports, backport/1.14

#37157 [v1.16] envoy: Bump envoy version to v1.31.x
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, backport/1.16

#37109 cli: Fix empty egress bandwidth and priority config display
  cilium-dbg/cmd/bpf_bandwidth_list.go
Labels: release-note/misc, feature/bandwidth-manager, kind/community-contribution, release-blocker/1.17, needs-backport/1.17

#37149 test: Move demo-httpd from Docker to Quay
  examples/kubernetes-external-ips/demo.yaml
  test/helpers/constants/images.go
  test/k8s/manifests/demo-named-port.yaml
  test/k8s/manifests/demo.yaml
Labels: release-note/ci, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#37158 renovate: Bump cilium-envoy version for stable branches
  .github/renovate.json5
Labels: release-note/ci

#37172 renovate: Allow go 1.23 for stable branches 1.14+
  .github/renovate.json5
Labels: release-note/misc

#37176 Add SINAD to the adopters
  USERS.md
Labels: release-note/misc, kind/community-contribution

#37183 bpf: Lift bind rejection for L7 services going via Envoy
  bpf/bpf_sock.c
Labels: sig/datapath, release-note/misc

#37125 maps/ctmap: don't log if batch iteration is not supported
  pkg/maps/ctmap/ctmap.go
Labels: release-note/misc

#37087 Configure renovate to update all cloud provider SDKs monthly
  .github/renovate.json5
  contrib/scripts/go-mod-update-cloud-providers.sh
Labels: release-note/ci, kind/community-contribution

#37060 Fixing typos in fqdn and policy pkg
  daemon/cmd/fqdn.go
  pkg/defaults/defaults.go
  pkg/fqdn/cache.go
  pkg/fqdn/cache_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/fqdn/dnsproxy/udp.go
  pkg/fqdn/matchpattern/matchpattern.go
  pkg/fqdn/name_manager_gc.go
  pkg/fqdn/restore/restore.go
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumclusterwidenetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnetworkpolicies.yaml
  pkg/option/config.go
  pkg/policy/api/fqdn.go
  pkg/proxy/endpoint/test/updater_mock.go
  pkg/proxy/logger/logger.go
  pkg/proxy/proxy.go
  pkg/proxy/proxyports/proxyports.go
  pkg/proxy/types/types.go
Labels: sig/policy, ready-to-merge, release-note/misc

#37163 ci-e2e-upgrade: Cover wireguard + geneve tunnel
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, sig/datapath, area/encryption, release-note/ci, feature/wireguard

#37123 devices controller: spell out list of required netlink families
  pkg/datapath/linux/devices_controller.go
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, needs-backport/1.16, needs-backport/1.17

#37171 Remove eBPF section from README
  README.rst
Labels: release-note/misc

#37193 CODEOWNERS: let @cilium/sig-lb own LRP connectivity tests
  CODEOWNERS
Labels: ready-to-merge, release-note/misc, area/lrp

#37085 endpoint: let regeneration failure handler work more than once
  pkg/endpoint/policy.go
Labels: kind/bug, area/daemon, release-note/bug, ready-to-merge, affects/v1.14, affects/v1.15, needs-backport/1.16, affects/v1.16, needs-backport/1.17, affects/v1.17

#37208 workflow: add cilium-runtime image as env variable
  .github/actions/set-env-variables/action.yml
Labels: release-note/ci

#37052 experimental/lb: Add NodePort and HostPort addr refresher
  pkg/loadbalancer/experimental/bpf_reconciler.go
  pkg/loadbalancer/experimental/bpf_reconciler_test.go
  pkg/loadbalancer/experimental/cell.go
  pkg/loadbalancer/experimental/frontend.go
  pkg/loadbalancer/experimental/node_addr_reconciler.go
  pkg/loadbalancer/experimental/test_utils.go
  pkg/loadbalancer/experimental/testdata/healthserver.txtar
  pkg/loadbalancer/experimental/testdata/nodeport-addr.txtar
  pkg/loadbalancer/experimental/writer.go
Labels: release-note/misc, area/loadbalancing

#37164 experimental: Properly handle TCP/UDP differentiation
  pkg/ciliumenvoyconfig/testdata/anyport.txtar
  pkg/ciliumenvoyconfig/testdata/namespaced.txtar
  pkg/loadbalancer/experimental/benchmark/benchmark.go
  pkg/loadbalancer/experimental/bpf_reconciler.go
  pkg/loadbalancer/experimental/bpf_reconciler_test.go
  pkg/loadbalancer/experimental/cmds.go
  pkg/loadbalancer/experimental/test_utils.go
  pkg/loadbalancer/experimental/testdata/clusterip.txtar
  pkg/loadbalancer/experimental/testdata/dualstack-maglev.txtar
  pkg/loadbalancer/experimental/testdata/dualstack.txtar
  pkg/loadbalancer/experimental/testdata/graceful-termination.txtar
  pkg/loadbalancer/experimental/testdata/healthserver.txtar
  pkg/loadbalancer/experimental/testdata/hostport.txtar
  pkg/loadbalancer/experimental/testdata/multiport.txtar
  pkg/loadbalancer/experimental/testdata/nodeport-maglev.txtar
  pkg/loadbalancer/experimental/testdata/nodeport.txtar
  pkg/loadbalancer/experimental/testdata/pruning.txtar
  pkg/loadbalancer/experimental/testdata/source-ranges.txtar
  pkg/loadbalancer/experimental/testdata/trafficpolicy.txtar
  pkg/loadbalancer/experimental/writer.go
Labels: ready-to-merge, release-note/misc

#37210 gha: Retrieve eks supported version via aws cli
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
Labels: ready-to-merge, release-note/ci, needs-backport/1.14, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#37174 policy: make `--enable-well-known-identities` a cell flag
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  daemon/cmd/daemon_main.go
  pkg/defaults/defaults.go
  pkg/option/config.go
  pkg/policy/cell/cell.go
Labels: kind/cleanup, sig/policy, ready-to-merge, release-note/misc

#37194 Replace `pkg/math` by Go `min`/`max` builtins
  CODEOWNERS
  operator/pkg/model/translation/envoy_virtual_host.go
  pkg/alibabacloud/eni/node.go
  pkg/aws/eni/node.go
  pkg/azure/ipam/node.go
  pkg/datapath/linux/bigtcp/bigtcp.go
  pkg/ipam/node.go
  pkg/ipam/node_manager_test.go
  pkg/math/int.go
  pkg/math/int_test.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#35904 Improve Network Policy Validation
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumclusterwidenetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/v2/validator/validator_test.go
  pkg/policy/api/rule.go
  pkg/policy/api/rule_validation.go
  pkg/policy/api/rule_validation_test.go
  pkg/policy/cell/policy_importer_test.go
  pkg/policy/groups/helpers_test.go
  pkg/policy/rule_test.go
Labels: release-note/minor, sig/policy, ready-to-merge, kind/community-contribution, release-blocker/1.17, needs-backport/1.17

#37226 experimental: Update nodeport-addrs.txtar after merge race
  pkg/loadbalancer/experimental/testdata/nodeport-addr.txtar
Labels: release-note/misc

#37177 datapath: move probe for `bpf_skb_adjust_room` with `BPF_ADJ_ROOM_MAC` mode
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/requirements.go
Labels: sig/loader, kind/cleanup, ready-to-merge, release-note/misc

#37204 CODEOWNERS: adjust ownership of the pkg/crypto subpackages
  CODEOWNERS
Labels: sig/policy, release-note/misc, sig/hubble

#37151 .github: Set --interactive=false for cilium status
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-kind-proxy-embedded.yaml
  .github/workflows/net-perf-gke.yaml
  .github/workflows/scale-test-clustermesh.yaml
  .github/workflows/tests-clustermesh-upgrade.yaml
  .github/workflows/tests-e2e-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: release-note/ci, needs-backport/1.17

#37228 README: Update releases
  README.rst
  stable.txt
Labels: release-note/misc

#37224 v1.15 Backports 2025-01-24
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
Labels: kind/backports, backport/1.15

#37222 v1.17 Backports 2025-01-24
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
Labels: kind/backports, backport/1.17

#37223 v1.16 Backports 2025-01-24
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
Labels: kind/backports, backport/1.16

#36409 operator: skip CES list if CES disabled with cilium-operator managed identities
  operator/pkg/ciliumidentity/reconciler.go
Labels: release-note/bug, ready-to-merge

#37225 v1.14 Backports 2025-01-24
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
Labels: kind/backports, backport/1.14

#37110 ci: more robust hubble relay service port-forwarding
  .github/workflows/hubble-cli-integration-test.yaml
Labels: ready-to-merge, release-note/ci, sig/hubble, needs-backport/1.17

#37230 [v1.15] gha: Retrieve eks supported version via aws cli
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-eks.yaml
Labels: kind/backports, backport/1.15

#37221 pkg/endpoint: reduce missed-policy-update severity when safe
  pkg/endpoint/policy.go
Labels: kind/bug, sig/policy, ready-to-merge, release-note/misc, needs-backport/1.17

#37238 experimental: Fix nodeport-addr.txtar
  pkg/loadbalancer/experimental/testdata/nodeport-addr.txtar
Labels: release-note/misc

#36677 cli: Add support for helm --max-history command line flag
  cilium-cli/cli/install.go
  cilium-cli/defaults/defaults.go
  cilium-cli/install/install.go
  cilium-cli/install/upgrade.go
  cilium-cli/install/upgrade_test.go
  cilium-cli/internal/helm/helm.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution, cilium-cli, cilium-cli-exclusive

#37258 README: Update releases
  README.rst
Labels: release-note/misc

#37268 Bump controller-runtime to match k8s.io/* versions
  go.mod
  go.sum
  vendor/github.com/google/btree/btree.go
  vendor/golang.org/x/exp/maps/maps.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/.golangci.yml
  vendor/sigs.k8s.io/controller-runtime/.gomodcheck.yaml
  vendor/sigs.k8s.io/controller-runtime/Makefile
  vendor/sigs.k8s.io/controller-runtime/README.md
  vendor/sigs.k8s.io/controller-runtime/pkg/builder/controller.go
  vendor/sigs.k8s.io/controller-runtime/pkg/builder/webhook.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/cache.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/delegating_by_gvk_cache.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/informers.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/apiutil/restmapper.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interfaces.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cluster/cluster.go
  vendor/sigs.k8s.io/controller-runtime/pkg/config/controller.go
  vendor/sigs.k8s.io/controller-runtime/pkg/controller/controller.go
  vendor/sigs.k8s.io/controller-runtime/pkg/controller/controllerutil/controllerutil.go
  vendor/sigs.k8s.io/controller-runtime/pkg/controller/priorityqueue/metrics.go
  vendor/sigs.k8s.io/controller-runtime/pkg/controller/priorityqueue/priorityqueue.go
  vendor/sigs.k8s.io/controller-runtime/pkg/handler/eventhandler.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/controller/controller.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/metrics/workqueue.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/source/kind.go
  vendor/sigs.k8s.io/controller-runtime/pkg/metrics/server/server.go
  vendor/sigs.k8s.io/controller-runtime/pkg/metrics/workqueue.go
  vendor/sigs.k8s.io/controller-runtime/pkg/predicate/predicate.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/admission/defaulter.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/admission/defaulter_custom.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/admission/validator.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/admission/validator_custom.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/alias.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/server.go
Labels: release-note/minor, kind/community-contribution, needs-backport/1.17

#37248 Remove "_total" suffix from doublewrite metrics
  Documentation/observability/metrics.rst
  operator/doublewrite/metricreporter.go
  operator/doublewrite/metrics.go
Labels: release-note/minor, area/metrics, area/operator, kind/community-contribution, release-blocker/1.17

#37262 maps/nat/stats: Use Start context when waiting for maps
  pkg/maps/nat/stats/stats.go
Labels: release-note/bug, ready-to-merge, area/metrics, feature/snat, needs-backport/1.16, needs-backport/1.17

#37234 docs: Add SNI policy example
  Documentation/security/policy/language.rst
  examples/policies/l4/l4_sni.json
  examples/policies/l4/l4_sni.yaml
Labels: area/documentation, sig/policy, ready-to-merge, release-note/misc, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#37279 Makefile: Increase timeout for integration tests to 12min
  Makefile
Labels: release-note/ci, needs-backport/1.17

#34431 ci, scale: Add EGW masquerade delay scale test
  .github/actions/cl2-modules/egw/README.md
  .github/actions/cl2-modules/egw/config.yaml
  .github/actions/cl2-modules/egw/manifests/client-pod.tmpl.yaml
  .github/actions/cl2-modules/egw/manifests/egw-policy.tmpl.yaml
  .github/actions/cl2-modules/egw/manifests/external-target-pod.tmpl.yaml
  .github/actions/cl2-modules/egw/preflight.sh
  .github/actions/cl2-modules/egw/prom-extra-podmons/podmonitor.yaml
  .github/ariane-config.yaml
  .github/workflows/scale-test-egw.yaml
Labels: kind/performance, ready-to-merge, release-note/ci, feature/egress-gateway

#37284 bgpv1: Extend adverts tests duration timeout
  pkg/bgpv1/test/adverts_test.go
Labels: ready-to-merge, release-note/ci, area/bgp

#37282 nodeinit: move kubelet restart inside if/else in startup.bash
  install/kubernetes/cilium/files/nodeinit/startup.bash
Labels: sig/k8s, release-note/bug, ready-to-merge, kind/community-contribution, affects/v1.14, affects/v1.15, needs-backport/1.16, needs-backport/1.17
