Repository cilium/cilium, pull requests merged in 2025-05, with the labels that each got.

#39154 contrib: Remove kind.sh dependency on git
  contrib/scripts/kind.sh
Labels: ready-to-merge, release-note/misc, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#39259 agent: deprecate --bpf-lb-proto-diff
  Documentation/cmdref/cilium-agent.md
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
Labels: area/documentation, release-note/minor, area/loadbalancing

#39288 README: Update releases
  README.rst
Labels: ready-to-merge, release-note/misc

#38637 Fix the message when no nodes are available to be added multicast group.
  cilium-cli/multicast/multicast.go
Labels: ready-to-merge, release-note/misc, kind/community-contribution, cilium-cli, cilium-cli-exclusive

#39255 pkg/{mcastmanager,multicast}: migrate to slog
  pkg/endpointmanager/manager.go
  pkg/logging/logfields/logfields.go
  pkg/mcastmanager/mcastmanager.go
  pkg/mcastmanager/mcastmanager_test.go
  pkg/multicast/multicast.go
  pkg/multicast/multicast_test.go
Labels: area/misc, release-note/misc, area/multicast, feature/slog

#38583 fix: Add support for changing the vxlan tunnel port after initial installation
  pkg/datapath/loader/netlink.go
  pkg/datapath/loader/netlink_test.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#39291 Remove remaining references to consul
  Documentation/operations/upgrade.rst
  pkg/allocator/allocator.go
Labels: ready-to-merge, release-note/misc, sig/kvstore

#39326 egressgw: fix IPv6 log message
  pkg/egressgateway/policy.go
Labels: ready-to-merge, release-note/misc, feature/egress-gateway

#39127 cec: fix missing call to injectCiliumEnvoyFilters
  pkg/ciliumenvoyconfig/legacy/cec_manager.go
Labels: ready-to-merge, release-note/misc

#39350 [v1.15] integration: Regenerate consul certs
  test/consul/consul-client-ca.crt
  test/consul/consul-client.crt
  test/consul/consul-client.key
  test/consul/server-ca.crt
  test/consul/server.crt
  test/consul/server.key
Labels: kind/backports, release-blocker/1.15, backport/1.15

#39351 [v1.16] integration: Regenerate consul certs
  test/consul/consul-client-ca.crt
  test/consul/consul-client.crt
  test/consul/consul-client.key
  test/consul/server-ca.crt
  test/consul/server.crt
  test/consul/server.key
Labels: ready-to-merge, kind/backports, release-blocker/1.16, backport/1.16, affects/v1.16

#39348 clustermesh: Move command to subdirectory
  clustermesh-apiserver/cmd/root.go
  clustermesh-apiserver/main.go
Labels: ready-to-merge, area/clustermesh, release-note/misc

#39345 daemon: Hide restore option
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
Labels: ready-to-merge, release-note/misc

#39334 cli: Move unexpected packet drops to final test
  cilium-cli/connectivity/builder/builder.go
Labels: ready-to-merge, release-note/misc, cilium-cli, cilium-cli-exclusive

#39346 treewide: Remove references to cilium-etcd-operator
  operator/cmd/cilium_node.go
  operator/cmd/root.go
  pkg/identity/cache/allocation_test.go
  pkg/identity/cache/cache_test.go
  pkg/identity/numericidentity.go
Labels: sig/policy, ready-to-merge, release-note/misc

#39347 cli: Search and print previous logs if failed
  cilium-cli/connectivity/tests/errors.go
Labels: release-note/misc, cilium-cli, cilium-cli-exclusive

#39253 pkg/socketlb: migrate to slog
  cilium-dbg/cmd/post_uninstall_cleanup.go
  pkg/datapath/loader/base.go
  pkg/logging/logfields/logfields.go
  pkg/socketlb/cgroup.go
  pkg/socketlb/cgroup_test.go
  pkg/socketlb/socketlb.go
Labels: area/misc, ready-to-merge, release-note/misc, feature/slog

#39340 fqdn: optimize ForceExpireByNameIP
  pkg/fqdn/cache.go
  pkg/fqdn/cache_test.go
Labels: sig/policy, ready-to-merge, release-note/misc, area/fqdn, affects/v1.15, affects/v1.16, affects/v1.17

#39254 pkg/option/resolver: migrate to slog
  cilium-dbg/cmd/build-config.go
  pkg/logging/logfields/logfields.go
  pkg/option/resolver/resolver.go
  pkg/option/resolver/resolver_test.go
Labels: area/misc, ready-to-merge, release-note/misc, feature/slog

#38884 cilium-cli: Capture stderr from tcpdump as an error
  cilium-cli/connectivity/sniff/sniffer.go
Labels: ready-to-merge, area/encryption, release-note/misc, cilium-cli, cilium-cli-exclusive

#38373 pkg/maps: migrate to slog
  cilium-dbg/cmd/bpf_auth_flush.go
  cilium-dbg/cmd/bpf_auth_list.go
  cilium-dbg/cmd/bpf_lb_maglev_get.go
  cilium-dbg/cmd/bpf_lb_maglev_list.go
  cilium-dbg/cmd/bpf_metrics_list.go
  cilium-dbg/cmd/bpf_multicast_groups.go
  cilium-dbg/cmd/bpf_multicast_subscribers.go
  cilium-dbg/cmd/bpf_nodeid_list.go
  cilium-dbg/cmd/bpf_policy_get.go
  cilium-dbg/cmd/bpf_vtep_update.go
  cilium-dbg/cmd/encrypt_flush.go
  cilium-dbg/cmd/helpers.go
  daemon/cmd/datapath.go
  pkg/bpf/map_linux.go
  pkg/datapath/cells.go
  pkg/datapath/prefilter/prefilter.go
  pkg/ebpf/ebpf.go
  pkg/ebpf/map.go
  pkg/ebpf/map_register.go
  pkg/loadbalancer/legacy/redirectpolicy/manager.go
  pkg/loadbalancer/maps/lbmaps.go
  pkg/loadbalancer/reconciler/bpf_reconciler_test.go
  pkg/loadbalancer/redirectpolicy/skiplb.go
  pkg/logging/logfields/logfields.go
  pkg/maps/api.go
  pkg/maps/authmap/auth_map.go
  pkg/maps/authmap/auth_map_privileged_test.go
  pkg/maps/authmap/cell.go
  pkg/maps/cells.go
  pkg/maps/cidrmap/cidrmap.go
  pkg/maps/ctmap/ctmap.go
  pkg/maps/ctmap/ctmap_test.go
  pkg/maps/ctmap/gc/gc.go
  pkg/maps/ctmap/metrics.go
  pkg/maps/l2respondermap/l2_responder_map4.go
  pkg/maps/lbmap/lbmap.go
  pkg/maps/lbmap/maglev.go
  pkg/maps/lbmap/maglev_inner_map.go
  pkg/maps/lbmap/maglev_outer_map.go
  pkg/maps/lbmap/maglev_test.go
  pkg/maps/lbmap/skip_lb_map.go
  pkg/maps/metricsmap/metricsmap.go
  pkg/maps/multicast/subscribermap.go
  pkg/maps/multicast/subscribermap_test.go
  pkg/maps/nat/nat.go
  pkg/maps/nat/stats/stats.go
  pkg/maps/nat/stats/stats_test.go
  pkg/maps/nodemap/cell.go
  pkg/maps/nodemap/node_map.go
  pkg/maps/nodemap/node_map_privileged_test.go
  pkg/maps/nodemap/node_map_v2.go
  pkg/maps/nodemap/node_map_v2_privileged_test.go
  pkg/maps/policymap/policymap.go
  pkg/maps/policymap/policymap_privileged_test.go
  pkg/maps/policymap/statsmap.go
  pkg/maps/ratelimitmap/ratelimitmap.go
  pkg/maps/vtep/vtep.go
Labels: area/misc, release-note/misc, feature/slog

#38886 [DOC] Update page Installation on OpenShift OKD
  Documentation/installation/k8s-install-openshift-okd.rst
Labels: ready-to-merge, release-note/misc, kind/community-contribution, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#39359 labels: remove unused NewSelectLabelArrayFromModel
  pkg/labels/labels.go
Labels: kind/cleanup, release-note/misc

#39333 Revert #36978
  pkg/node/manager/manager.go
Labels: sig/datapath, release-note/minor, sig/policy

#39275 gateway-api: Fix parentRefMatched to check Group and Kind
  operator/pkg/gateway-api/gateway_reconcile.go
  operator/pkg/gateway-api/gateway_reconcile_test.go
Labels: release-note/bug, ready-to-merge, kind/community-contribution, feature/k8s-gateway-api, cilium-cli, needs-backport/1.17

#39369 ipcache: fix possible data race in kvstore synchronizer
  pkg/ipcache/kvstore.go
Labels: release-note/misc, sig/kvstore

#39367 gha/scale-egw: explicitly enable IPv4 masquerade
  .github/workflows/scale-test-egw.yaml
Labels: area/CI, release-note/ci, feature/egress-gateway

#39335 pkg/ipam: Migrate Subnet from net.IPNet to netip.Prefix
  pkg/alibabacloud/api/api.go
  pkg/alibabacloud/api/mock/mock.go
  pkg/alibabacloud/eni/instances_test.go
  pkg/alibabacloud/eni/node.go
  pkg/aws/ec2/ec2.go
  pkg/aws/ec2/mock/mock.go
  pkg/aws/eni/node.go
  pkg/azure/api/api.go
  pkg/azure/api/api_test.go
  pkg/azure/api/mock/mock_test.go
  pkg/azure/ipam/instances_test.go
  pkg/azure/ipam/ipam_test.go
  pkg/cidr/cidr.go
  pkg/cidr/cidr_test.go
  pkg/ipam/types/types.go
  pkg/ipam/types/zz_generated.deepcopy.go
  pkg/ipam/types/zz_generated.deepequal.go
Labels: kind/cleanup, release-note/misc

#39360 cilium, bpf: Perform 2nd lookup also on local backends for lb-proto-diff
  bpf/lib/lb.h
Labels: kind/bug, sig/datapath, release-note/bug, kind/community-contribution, area/loadbalancing, needs-backport/1.17

#39361 ratelimitmap: init maps before metrics collection
  daemon/cmd/datapath.go
  pkg/maps/ratelimitmap/ratelimitmap.go
Labels: kind/bug, ready-to-merge, release-note/misc, area/modularization

#39392 ,github/workflows: remove duplicate yaml keys
  .github/workflows/lint-build-commits.yaml
Labels: release-note/misc

#39286 [v1.15] .github: provide correct env variables to api/v1 Makefile
  api/v1/Makefile
Labels: ready-to-merge, kind/backports, release-note/ci, backport/1.15

#39398 workflows: fix lint-workflows
  .github/workflows/lint-workflows.yaml
Labels: area/misc, ready-to-merge, release-note/misc, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#39402 v1.16 Backports 2025-05-07
  .github/workflows/lint-workflows.yaml
Labels: kind/backports, backport/1.16

#39403 v1.17 Backports 2025-05-07
  .github/workflows/lint-workflows.yaml
Labels: kind/backports, backport/1.17

#39284 Update AUTHORS
  .mailmap
  AUTHORS
Labels: release-note/misc

#39397 Miscellaneous improvements to the clustermesh scale test
  .github/workflows/scale-test-clustermesh.yaml
Labels: area/CI, area/clustermesh, release-note/ci

#39387 option: use `netip.Prefix` for `DaemonConfig.ExcludeLocalAddresses`
  daemon/cmd/hostips-sync.go
  pkg/option/config.go
  pkg/option/config_test.go
Labels: kind/cleanup, ready-to-merge, release-note/misc

#39209 Cilium helm template preflight daemonset is broken.
  install/kubernetes/cilium/templates/cilium-preflight/daemonset.yaml
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#39375 [1.17] Add L7 allow-all rules when EnableDefaultDeny is false
  pkg/logging/logfields/logfields.go
  pkg/policy/l4.go
  pkg/policy/l4_filter_test.go
  pkg/policy/repository.go
  pkg/policy/repository_deny_test.go
  pkg/policy/repository_test.go
Labels: ready-to-merge, kind/backports, backport/1.17

#39424 ciliumenvoyconfig: fix typo in hive module name
  pkg/ciliumenvoyconfig/cell.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, area/cec

#39431 chore: remove `retention-days` param in `build-images-releases.yaml`
  .github/workflows/build-images-releases.yaml
Labels: release-note/misc, kind/community-contribution, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#39420 bpf: test: fix up mis-spelled HAVE_NETNS_COOKIE
  bpf/tests/wildcard_lookup.c
Labels: area/CI, sig/datapath, ready-to-merge, release-note/ci, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#39382 [1.16] Add L7 allow-all rules when EnableDefaultDeny is false
  pkg/logging/logfields/logfields.go
  pkg/policy/l4.go
  pkg/policy/l4_filter_test.go
  pkg/policy/repository.go
  pkg/policy/repository_deny_test.go
  pkg/policy/repository_test.go
Labels: ready-to-merge, kind/backports, backport/1.16

#39437 v1.15 Backports 2025-05-08
  .github/workflows/build-images-releases.yaml
Labels: kind/backports, kind/community-contribution, backport/1.15

#39429 endpoint: execute Endpoint.writeHeaderFile under lockAlive
  pkg/endpoint/bpf.go
Labels: release-note/bug, ready-to-merge

#39145 pkg/identity: migrate to slog
  pkg/clustermesh/clustermesh_test.go
  pkg/clustermesh/remote_cluster_test.go
  pkg/clustermesh/services_test.go
  pkg/endpoint/bpf_test.go
  pkg/endpoint/endpoint_test.go
  pkg/endpoint/log_test.go
  pkg/endpoint/redirect_test.go
  pkg/endpoint/restore_test.go
  pkg/endpointmanager/gc_test.go
  pkg/endpointmanager/manager_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/identity/cache/allocation_test.go
  pkg/identity/cache/allocator.go
  pkg/identity/cache/cache.go
  pkg/identity/cache/cache_test.go
  pkg/identity/cache/cell/cell.go
  pkg/identity/cache/local.go
  pkg/identity/cache/local_test.go
  pkg/identity/cache/noop_allocator.go
  pkg/identity/cache/noop_allocator_test.go
  pkg/identity/identitymanager/log.go
  pkg/identity/identitymanager/manager.go
  pkg/identity/identitymanager/manager_test.go
  pkg/ipcache/ipcache_bench_test.go
  pkg/logging/logfields/logfields.go
Labels: area/misc, sig/policy, ready-to-merge, release-note/misc, feature/slog

#39404 v1.17 Backports 2025-05-07
  bpf/lib/lb.h
Labels: ready-to-merge, kind/backports, backport/1.17

#39426 test/helpers: remove unused helpers
  test/helpers/cilium.go
Labels: area/CI, kind/cleanup, ready-to-merge, release-note/ci

#39168 pkg/k8s: copy structs from k8s 1.33
  pkg/k8s/identitybackend/identity_test.go
  pkg/k8s/slim/README.md
  pkg/k8s/slim/k8s/api/core/v1/generated.proto
  pkg/k8s/slim/k8s/api/core/v1/types.go
  pkg/k8s/slim/k8s/api/discovery/v1/generated.proto
  pkg/k8s/slim/k8s/api/discovery/v1/types.go
  pkg/k8s/slim/k8s/api/networking/v1/doc.go
  pkg/k8s/slim/k8s/api/networking/v1/types.go
  pkg/k8s/slim/k8s/apis/apiextensions/v1/doc.go
  pkg/k8s/slim/k8s/apis/apiextensions/v1/types.go
  pkg/k8s/slim/k8s/apis/labels/selector.go
  pkg/k8s/slim/k8s/apis/meta/v1/doc.go
  pkg/k8s/slim/k8s/apis/meta/v1/generated.proto
  pkg/k8s/slim/k8s/apis/meta/v1/types.go
  pkg/k8s/slim/k8s/apis/meta/v1/validation/validation.go
  pkg/k8s/slim/k8s/apis/meta/v1beta1/doc.go
  pkg/k8s/slim/k8s/apis/util/intstr/intstr.go
  pkg/k8s/slim/k8s/client/clientset/versioned/typed/core/v1/fake/fake_pod.go
  pkg/k8s/slim/k8s/client/clientset/versioned/typed/core/v1/pod.go
Labels: sig/k8s, area/misc, ready-to-merge, release-note/misc

#39251 pkg/nodediscovery: migrate to slog
  pkg/nodediscovery/nodediscovery.go
Labels: area/misc, ready-to-merge, release-note/misc, feature/slog

#39349 operator: Explicitly define spire defaults
  operator/auth/spire/client.go
Labels: ready-to-merge, release-note/misc

#39441 api: wait with api server start until legacy daemon init finished
  daemon/cmd/daemon_main.go
  daemon/cmd/legacy/daemon_init.go
  daemon/restapi/config.go
Labels: kind/bug, ready-to-merge, release-note/misc

#39366 hubble: move AssertProtoEqual helper to hubble testutils
  pkg/hubble/exporter/config_test.go
  pkg/hubble/helpers_test.go
  pkg/hubble/testutils/proto.go
Labels: ready-to-merge, release-note/misc, sig/hubble

#39447 examples: Bump cilium/starwars to v2.3
  examples/minikube/http-sw-app.yaml
Labels: ready-to-merge, release-note/misc

#39451 bgpv1: Add SourceASN field to Path struct
  pkg/bgpv1/gobgp/conversions.go
  pkg/bgpv1/types/bgp.go
Labels: release-note/misc

#39344 Support triggering Makefiles from outside the tree
  Makefile.defs
  Makefile.kind
  bugtool/Makefile
  hubble/Makefile
Labels: ready-to-merge, release-note/misc, hubble-cli

#39481 [v1.17] Stop TLS Interception config being included in preflight
  install/kubernetes/cilium/templates/cilium-agent/rolebinding.yaml
  install/kubernetes/cilium/templates/cilium-secrets-namespace.yaml
Labels: ready-to-merge, kind/backports, backport/1.17

#39418 bpf,nodeport: Fix broken nodeport_nat_egress_ipv4_hook
  bpf/lib/nodeport.h
Labels: release-note/misc

#39438 probes: remove `bpftool` dependency
  pkg/datapath/linux/probes/probes.go
  pkg/datapath/linux/probes/probes_test.go
  pkg/datapath/linux/requirements.go
Labels: release-note/minor, ready-to-merge

#39492 workflows, docs: Remove useless `echo` in IPsec key rotation command
  .github/workflows/tests-e2e-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
  Documentation/security/network/encryption-ipsec.rst
Labels: release-note/ci, feature/ipsec

#39471 policy: Remove Redundant Dualstack Identity Insertion
  pkg/policy/l4.go
Labels: sig/policy, ready-to-merge, release-note/misc, affects/v1.15, affects/v1.16, affects/v1.17

#39491 [v1.17] deps: bump golang-jwt to 4.5.2
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.17

#39496 [v1.15] deps: bump golang-jwt to 4.5.2
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Labels: ready-to-merge, kind/backports, backport/1.15

#38590 pkg/bpf: Synchronize access to map in DumpReliablyWithCallback
  pkg/bpf/map_linux.go
  pkg/maps/ctmap/ctmap.go
  pkg/maps/nat/nap_flush_test.go
  pkg/maps/nat/nat.go
Labels: sig/datapath, release-note/bug

#39332 [v1.17] bpf: nat: ICMP v4 improvements
  bpf/lib/common.h
  bpf/lib/nat.h
  bpf/lib/nat_46x64.h
Labels: ready-to-merge, kind/backports, backport/1.17

#39156 docs: masquerade notes for eni mode with eks mode
  Documentation/installation/k8s-install-helm.rst
Labels: area/documentation, ready-to-merge, kind/backports, area/eni, release-note/misc, backport/author, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17, backport/1.17

#38725 chore(hubble-ui): Silence access log produced by readinessProbe
  install/kubernetes/cilium/templates/hubble-ui/_nginx.tpl
Labels: kind/enhancement, ready-to-merge, release-note/misc, kind/community-contribution, area/hubble

#39343 docs: Native routing Masquerading in the cloud
  Documentation/network/concepts/masquerading.rst
Labels: ready-to-merge, release-note/misc, feature/snat, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#39463 pkg/ipcache: migrate to slog
  pkg/clustermesh/clustermesh.go
  pkg/clustermesh/clustermesh_test.go
  pkg/clustermesh/services_test.go
  pkg/fqdn/bootstrap/fqdn_bootstrapper_test.go
  pkg/fqdn/service/service_test.go
  pkg/ipcache/cell/cell.go
  pkg/ipcache/config.go
  pkg/ipcache/ipcache.go
  pkg/ipcache/ipcache_bench_test.go
  pkg/ipcache/ipcache_test.go
  pkg/ipcache/kvstore.go
  pkg/ipcache/kvstore_test.go
  pkg/ipcache/metadata.go
  pkg/ipcache/metadata_test.go
  pkg/ipcache/types.go
  pkg/logging/logfields/logfields.go
  pkg/node/manager/manager_test.go
  pkg/wireguard/agent/agent_test.go
Labels: area/misc, ready-to-merge, release-note/misc, feature/slog

#39501 daemon/{cmd,k8s,restapi}: migrate to slog
  daemon/cmd/daemon.go
  daemon/k8s/init.go
  daemon/restapi/config.go
Labels: area/misc, ready-to-merge, release-note/misc, feature/slog

#39520 HELM: Adding Label Support to clustermesh apiserver service
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/clustermesh-apiserver/service.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/clustermesh, release-note/misc, area/helm, kind/community-contribution, needs-backport/1.17

#39434 daemon: Add require-k8s-connectivity flag to enable usage with cloud NLB services
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  daemon/healthz/agenthealth.go
  pkg/option/config.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution

#39120 aws/ENI: Only use pagination when not specifying IDs
  pkg/aws/ec2/ec2.go
Labels: release-note/bug, ready-to-merge, area/eni, release-note/misc, needs-backport/1.17

#39513 docs/ipam: Update IPAM feature compatibility table
  Documentation/network/concepts/ipam/index.rst
Labels: area/documentation, release-note/misc, area/multipool

#39529 Revert "Disable GitHub workflows on forks"
  .github/workflows/ariane-scheduled.yaml
  .github/workflows/build-go-caches.yaml
  .github/workflows/build-images-beta.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-docs-builder.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
  .github/workflows/call-backport-label-updater.yaml
  .github/workflows/ci-images-cache-cleaner.yaml
  .github/workflows/ci-images-garbage-collect.yaml
  .github/workflows/cilium-cli.yaml
  .github/workflows/conformance-aks.yaml
  .github/workflows/conformance-aws-cni.yaml
  .github/workflows/conformance-clustermesh.yaml
  .github/workflows/conformance-delegated-ipam.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-gateway-api.yaml
  .github/workflows/conformance-ginkgo.yaml
  .github/workflows/conformance-gke.yaml
  .github/workflows/conformance-ingress.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/conformance-k8s-network-policies.yaml
  .github/workflows/conformance-kind-proxy-embedded.yaml
  .github/workflows/conformance-multi-pool.yaml
  .github/workflows/conformance-runtime.yaml
  .github/workflows/documentation.yaml
  .github/workflows/feature-summary-report.yaml
  .github/workflows/fqdn-perf.yaml
  .github/workflows/hubble-cli-integration-test.yaml
  .github/workflows/integration-test.yaml
  .github/workflows/k8s-kind-network-e2e.yaml
  .github/workflows/k8s-kind-network-policies-e2e.yaml
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/push-chart-ci.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate-config-validator.yaml
  .github/workflows/renovate.yaml
  .github/workflows/scale-cleanup-kops.yaml
Labels: area/CI, release-note/ci

#39147 Move node to slog
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/ipam.go
  daemon/cmd/local_node_sync.go
  daemon/restapi/config.go
  pkg/datapath/ipcache/listener.go
  pkg/datapath/linux/ipsec.go
  pkg/datapath/linux/node_ids.go
  pkg/datapath/orchestrator/localnodeconfig.go
  pkg/datapath/orchestrator/orchestrator.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_status.go
  pkg/endpoint/policy.go
  pkg/endpoint/redirect_test.go
  pkg/endpointcleanup/cleanup.go
  pkg/endpointmanager/endpointsynchronizer.go
  pkg/fqdn/bootstrap/fqdn_bootstrapper.go
  pkg/health/health_connectivity_endpoint.go
  pkg/health/health_manager.go
  pkg/health/server/server.go
  pkg/identity/cache/cell/cell.go
  pkg/ipam/api/ipam_api_handler.go
  pkg/ipam/cell/cell.go
  pkg/k8s/annotate_test.go
  pkg/k8s/resource_ctors.go
  pkg/k8s/watchers/cilium_endpoint.go
  pkg/k8s/watchers/pod.go
  pkg/loadbalancer/legacy/service/service.go
  pkg/logging/logfields/logfields.go
  pkg/node/address.go
  pkg/node/address_linux.go
  pkg/node/address_other.go
  pkg/node/bootid.go
  pkg/node/bootid_linux.go
  pkg/node/bootid_other.go
  pkg/node/local_node_store.go
  pkg/node/logfields.go
  pkg/node/manager/cell.go
  pkg/node/manager/logfields.go
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
  pkg/node/manager/rest_api_test.go
  pkg/node/types/logfields.go
  pkg/node/types/nodename.go
  pkg/proxy/accesslog/proxy_access_logger.go
Labels: sig/policy, ready-to-merge, release-note/misc, cilium-cli, feature/slog

#39530 bpf: Skip lxc src IP check for proxy traffic
  bpf/bpf_lxc.c
Labels: sig/datapath, area/proxy, ready-to-merge, release-note/misc

#39512 ipsec: Fix key count in key rotation test
  .github/actions/ipsec-key-rotate/action.yaml
  .github/workflows/conformance-eks.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: release-note/ci, feature/ipsec

#39364 cilium-cli: Migrate from `corev1.Endpoints` to `discoveryv1.EndpointSlice`
  cilium-cli/install/autodetect.go
  cilium-cli/install/install.go
  cilium-cli/k8s/client.go
Labels: sig/k8s, ready-to-merge, release-note/misc, cilium-cli, cilium-cli-exclusive

#39502 pkg/option: migrate to slog
  clustermesh-apiserver/clustermesh/root.go
  clustermesh-apiserver/kvstoremesh/root.go
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/daemon_test.go
  daemon/cmd/kube_proxy_replacement.go
  daemon/cmd/kube_proxy_replacement_test.go
  daemon/cmd/root.go
  operator/cmd/root.go
  pkg/loadbalancer/config.go
  pkg/logging/logfields/logfields.go
  pkg/option/config.go
  pkg/option/config_test.go
  test/controlplane/suite/agent.go
  test/controlplane/suite/testcase.go
Labels: area/misc, ready-to-merge, release-note/misc, feature/slog

#39517 operator: skip node taint retry when node not found
  operator/watchers/node_taint.go
Labels: release-note/bug, ready-to-merge, area/operator, needs-backport/1.17

#39503 docs: Revert incompatibility note with Istio
  Documentation/network/concepts/masquerading.rst
Labels: area/documentation, ready-to-merge, release-note/misc

#39554 policy: remove unused `(*rule).resolve{In,E}gressPolicy` return value
  pkg/policy/rule.go
  pkg/policy/rules.go
Labels: kind/cleanup, sig/policy, ready-to-merge, release-note/misc

#39521 kvstoremesh: possibility to enable kvstore heartbeat
  Documentation/cmdref/clustermesh-apiserver_kvstoremesh.md
  Documentation/cmdref/clustermesh-apiserver_kvstoremesh_hive.md
  Documentation/cmdref/clustermesh-apiserver_kvstoremesh_hive_dot-graph.md
  clustermesh-apiserver/clustermesh/cells.go
  clustermesh-apiserver/kvstoremesh/cells.go
  pkg/clustermesh/kvstoremesh/kvstoremesh.go
  pkg/clustermesh/kvstoremesh/kvstoremesh_test.go
  pkg/kvstore/heartbeat/cell.go
Labels: ready-to-merge, area/clustermesh, release-note/misc, kind/community-contribution

#39522 bpf: nat: don't check port range for ICMP ECHOs
  bpf/lib/nat.h
Labels: kind/bug, sig/datapath, ready-to-merge, release-note/misc, feature/snat, severity/low

#39565 README: Update releases
  README.rst
  stable.txt
Labels: release-note/misc

#39542 crd: fix double registration of ciliumnodeconfigs
  pkg/k8s/apis/cilium.io/client/register.go
  pkg/k8s/synced/crd.go
Labels: ready-to-merge, release-note/misc

#39299 helm: PodDisruptionBudget takes additional keys in v1.27+
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-operator/poddisruptionbudget.yaml
  install/kubernetes/cilium/templates/cilium-preflight/poddisruptionbudget.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/poddisruptionbudget.yaml
  install/kubernetes/cilium/templates/hubble-relay/poddisruptionbudget.yaml
  install/kubernetes/cilium/templates/hubble-ui/poddisruptionbudget.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, area/helm, kind/community-contribution

#39591 [v1.16] proxy: Bump cilium/proxy version
  Documentation/helm-values.rst
  images/cilium/Dockerfile
  install/kubernetes/Makefile.values
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
Labels: ready-to-merge, kind/backports, backport/1.16

#39590 vendor: Bump gateway-api version to 1.3.0
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/gateway-api/pkg/consts/consts.go
Labels: release-note/minor, ready-to-merge

#39578 pkg/loadbalancer/legacy: use logger directly from hive
  pkg/loadbalancer/legacy/redirectpolicy/api.go
  pkg/loadbalancer/legacy/redirectpolicy/cell.go
Labels: kind/bug, release-note/misc, feature/slog

#39533 loadbalancer: Port SourceRangesPolicy annotation to new control-plane
  pkg/loadbalancer/reconciler/bpf_reconciler.go
  pkg/loadbalancer/service.go
  pkg/loadbalancer/tests/testdata/source-ranges.txtar
Labels: release-note/misc

#39505 bpf: nat: support egressing ICMPV6_PKT_TOOBIG / ICMPV6_TIME_EXCEED
  bpf/lib/nat.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/snat

#39205 Add security context to helm chart
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, kind/community-contribution

#39618 ci: eks cleanup step fix
  .github/workflows/conformance-eks.yaml
Labels: area/CI, release-note/misc, release-note/ci

#39619 config: Remove dead code for IPsec
  pkg/datapath/linux/config/config.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, feature/ipsec

#39616 install/kubernetes: set file permissions to 644
  install/kubernetes/cilium/values.schema.json
Labels: sig/k8s, area/misc, release-note/misc, area/helm

#39614 bpf: nat: don't clamp range of ID field for ICMP ECHO
  bpf/lib/nat.h
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/snat

#39613 docs: egressgw: various updates
  Documentation/network/egress-gateway/egress-gateway.rst
Labels: area/documentation, release-note/misc, feature/egress-gateway

#38995 egressgw: simplify error handling when selecting egressIP
  pkg/egressgateway/policy.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, feature/egress-gateway

#39627 renovate: only perform etcd patch version updates in stable branches
  .github/renovate.json5
Labels: ready-to-merge, release-note/misc

#39528 k8s: use `netip.Addr` some more
  pkg/k8s/utils/utils.go
  pkg/k8s/watchers/pod.go
Labels: release-note/misc

#39630 test/runtime: remove RuntimeAgentFQDNPolicies L3-dependent L7/HTTP test
  .github/workflows/conformance-runtime.yaml
  test/runtime/fqdn.go
Labels: kind/cleanup, sig/policy, area/CI-improvement, release-note/ci, area/fqdn

#39206 gateway-api: Use original source address for GAMMA
  operator/pkg/model/ingestion/gamma.go
  operator/pkg/model/ingestion/testdata/gamma/Mesh_Frontend/output-listeners.yaml
  operator/pkg/model/ingestion/testdata/gamma/Mesh_Ports/output-listeners.yaml
  operator/pkg/model/ingestion/testdata/gamma/Mesh_Split/output-listeners.yaml
  operator/pkg/model/ingestion/testdata/gamma/multiple_parentRefs/output-listeners.yaml
  operator/pkg/model/model.go
  operator/pkg/model/translation/cec_translator.go
  operator/pkg/model/translation/gateway-api/testdata/conformance/gamma/mesh_frontend/cec-output.yaml
  operator/pkg/model/translation/gateway-api/testdata/conformance/gamma/mesh_frontend/input.yaml
  operator/pkg/model/translation/gateway-api/testdata/conformance/gamma/mesh_ports/cec-output.yaml
  operator/pkg/model/translation/gateway-api/testdata/conformance/gamma/mesh_ports/input.yaml
  operator/pkg/model/translation/gateway-api/testdata/conformance/gamma/mesh_splits/cec-output.yaml
  operator/pkg/model/translation/gateway-api/testdata/conformance/gamma/mesh_splits/input.yaml
Labels: release-note/bug, ready-to-merge, needs-backport/1.17

#39585 Deprecate --enable-recorder
  Documentation/cmdref/cilium-agent.md
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
Labels: release-note/minor, sig/agent, area/loadbalancing, area/hubble

#39561 workflows: Add WireGuard in the Conformance Multi-Pool workflow
  .github/actions/multi-pool/configs.yaml
  .github/workflows/conformance-multi-pool.yaml
Labels: area/CI, ready-to-merge, release-note/ci, area/multipool, feature/wireguard

#39130 pkg/backoff: migrate to slog
  operator/auth/spire/client.go
  pkg/allocator/allocator.go
  pkg/auth/spire/delegate.go
  pkg/backoff/backoff.go
  pkg/backoff/backoff_test.go
  pkg/hubble/relay/pool/manager.go
  pkg/hubble/relay/pool/option.go
  pkg/ipam/node_manager.go
  pkg/kvstore/etcd.go
  pkg/loadbalancer/legacy/service/reconciler.go
  pkg/mtu/endpoint_updater.go
  pkg/wireguard/agent/agent.go
  pkg/xds/experimental/client/client.go
Labels: ready-to-merge, release-note/misc, feature/slog

#39560 policymap: always remove egress policy program along with endpoint
  daemon/cmd/datapath.go
  pkg/endpoint/bpf.go
  pkg/maps/policymap/callmap.go
Labels: release-note/bug, ready-to-merge, needs-backport/1.17, affects/v1.17

#39625 MAINTAINERS: Add Fabio Falzoi
  MAINTAINERS.md
Labels: release-note/misc

#39628 [v1.17] chore(deps): revert etcd bump to v3.6.0
  Makefile.defs
  images/clustermesh-apiserver/Dockerfile
Labels: ready-to-merge, area/clustermesh, sig/kvstore, dependencies

#39640 bpf: nodeport: don't track L2 addr for connection to local backend (v2)
  bpf/lib/nodeport.h
Labels: sig/datapath, ready-to-merge, release-note/misc, area/loadbalancing

#39644 .github: Consistently clean up workers on start
  .github/workflows/build-images-ci.yaml
  .github/workflows/conformance-ginkgo.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
  .github/workflows/integration-test.yaml
  .github/workflows/tests-e2e-upgrade.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, release-note/ci

#39552 identity: remove labels on CID
  Documentation/operations/upgrade.rst
  operator/pkg/ciliumidentity/reconciler.go
  operator/pkg/ciliumidentity/reconciler_test.go
  pkg/identity/cache/allocation_test.go
  pkg/k8s/identitybackend/identity.go
  pkg/k8s/identitybackend/identity_test.go
Labels: release-note/bug, sig/policy, ready-to-merge

#39453 hubble-cli: add option to print policy names for flow verdict events
  hubble/cmd/observe/flows.go
  hubble/cmd/observe/observe.go
  hubble/cmd/observe_help.txt
  hubble/pkg/printer/options.go
  hubble/pkg/printer/printer.go
  hubble/pkg/printer/printer_test.go
Labels: kind/feature, release-note/minor, ready-to-merge, sig/hubble, hubble-cli, hubble-cli-exclusive, area/hubble

#38233 [v1.17] bpf: host: don't detect WG traffic in from-netdev@cilium_wg0
  bpf/bpf_host.c
Labels: sig/datapath, ready-to-merge, release-note/misc, kind/complexity-issue, feature/wireguard

#39639 hubble: don't log in parser options
  pkg/hubble/parser/cell/cell.go
  pkg/hubble/parser/options/options.go
  pkg/hubble/parser/options/options_test.go
  pkg/hubble/parser/seven/http_test.go
  pkg/hubble/parser/sock/parser_test.go
  pkg/hubble/parser/threefour/parser_test.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, sig/hubble

#39580 docs: fix minor typo in command output
  Documentation/network/servicemesh/gateway-api/troubleshooting.rst
Labels: area/documentation, ready-to-merge, release-note/misc, kind/community-contribution

#39642 agent: Deprecate enable-hubble-recorder-api and friends
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  Documentation/operations/upgrade.rst
  pkg/hubble/cell/config.go
Labels: release-note/minor, ready-to-merge, sig/agent, area/hubble

#39465 pkg/health: migrate to slog
  api/v1/health/server/server.go
  api/v1/kvstoremesh/server/server.go
  api/v1/operator/server/server.go
  api/v1/server.gotmpl
  api/v1/server/server.go
  pkg/health/health_connectivity_node.go
  pkg/health/server/health.go
  pkg/health/server/prober.go
  pkg/health/server/prober_test.go
  pkg/health/server/server.go
  pkg/health/server/status.go
  pkg/logging/logfields/logfields.go
Labels: area/misc, area/health, release-note/misc, feature/slog

#39523 helm: possibility to use kvstoremesh in kvstore identity allocation mode
  install/kubernetes/cilium/templates/_helpers.tpl
  install/kubernetes/cilium/templates/clustermesh-apiserver/clusterrole.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/clusterrolebinding.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/deployment.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/metrics-service.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/servicemonitor.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/users-configmap.yaml
  install/kubernetes/cilium/templates/validate.yaml
Labels: release-note/minor, ready-to-merge, area/clustermesh, kind/community-contribution

#39668 helm/hubble: Fix wrong value for metrics server tls existingSecret
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
Labels: release-note/bug, sig/hubble, area/helm, needs-backport/1.17

#39673 gh: eks: restore concurrent execution of connectivity tests
  .github/workflows/conformance-eks.yaml
Labels: kind/bug/CI, area/CI, release-note/ci, needs-backport/1.17

#39645 add doc for bgp autodiscovery
  Documentation/network/bgp-control-plane/bgp-control-plane-v2.rst
  Documentation/spelling_wordlist.txt
Labels: release-note/misc, area/bgp, kind/community-contribution

#39674 docs: kpr: remove references to legacy kernel and K8s versions
  Documentation/network/kubernetes/kubeproxy-free.rst
Labels: area/documentation, release-note/misc, area/loadbalancing

#39643 cilium-dbg/cmd: migrate to slog
  cilium-dbg/cmd/bpf_ipcache_get.go
  cilium-dbg/cmd/cmdman.go
  cilium-dbg/cmd/endpoint_labels.go
  cilium-dbg/cmd/helpers_test.go
  cilium-dbg/cmd/monitor.go
  cilium-dbg/cmd/policy.go
  cilium-dbg/cmd/policy_import.go
  cilium-dbg/cmd/post_uninstall_cleanup.go
  cilium-dbg/cmd/preflight_identity_crd_migrate.go
  cilium-dbg/cmd/preflight_k8s_valid_cnp.go
  cilium-dbg/cmd/root.go
Labels: area/misc, ready-to-merge, area/cli, release-note/misc, feature/slog

#39663 migrate misc packages to slog
  cilium-health/cmd/root.go
  hubble-relay/cmd/root.go
  pkg/lock/lock_debug.go
  pkg/logging/logfields/logfields.go
  tools/crdcheck/main.go
Labels: area/misc, release-note/misc, feature/slog

#39675 hubble: Use `testing.T.Context` added in Go 1.24 in tests
  hubble/cmd/observe/io_reader_observer_test.go
  pkg/hubble/container/ring_reader_test.go
  pkg/hubble/container/ring_test.go
  pkg/hubble/dropeventemitter/dropeventemitter_test.go
  pkg/hubble/exporter/config_test.go
  pkg/hubble/exporter/dynamic_exporter_test.go
  pkg/hubble/exporter/exporter_test.go
  pkg/hubble/filters/cel_expression_test.go
  pkg/hubble/filters/cluster_name_test.go
  pkg/hubble/filters/drop_reason_desc_test.go
  pkg/hubble/filters/event_type_test.go
  pkg/hubble/filters/filters_benchmark_test.go
  pkg/hubble/filters/filters_test.go
  pkg/hubble/filters/fqdn_test.go
  pkg/hubble/filters/http_test.go
  pkg/hubble/filters/identity_test.go
  pkg/hubble/filters/ip_test.go
  pkg/hubble/filters/k8s_test.go
  pkg/hubble/filters/labels_test.go
  pkg/hubble/filters/network_interface_test.go
  pkg/hubble/filters/nodename_test.go
  pkg/hubble/filters/port_test.go
  pkg/hubble/filters/protocol_test.go
  pkg/hubble/filters/reply_test.go
  pkg/hubble/filters/tcp_test.go
  pkg/hubble/filters/tracing_test.go
  pkg/hubble/filters/traffic_direction_test.go
  pkg/hubble/filters/uuid_test.go
  pkg/hubble/filters/workload_test.go
  pkg/hubble/metrics/api/registry_test.go
  pkg/hubble/metrics/drop/handler_test.go
  pkg/hubble/metrics/flow/handler_test.go
  pkg/hubble/metrics/flows-to-world/handler_test.go
  pkg/hubble/metrics/http/handler_test.go
  pkg/hubble/metrics/kafka/handler_test.go
  pkg/hubble/metrics/metrics_test.go
  pkg/hubble/metrics/policy/handler_test.go
  pkg/hubble/metrics/port-distribution/handler_test.go
  pkg/hubble/metrics/tcp/handler_test.go
  pkg/hubble/monitor/filter_test.go
  pkg/hubble/observer/local_observer_test.go
  pkg/hubble/relay/observer/server_test.go
  pkg/hubble/relay/pool/client_test.go
  pkg/hubble/relay/server/health_test.go
  pkg/hubble/relay/server/server_test.go
Labels: ready-to-merge, release-note/misc, sig/hubble, hubble-cli, area/hubble

#39683 disk-cleanup: Gather more info about usage
  .github/actions/disk-cleanup/action.yaml
Labels: release-note/ci

#39677 docs: kpr: cleanups for session affinity section
  Documentation/network/kubernetes/kubeproxy-free.rst
Labels: area/documentation, ready-to-merge, release-note/misc, area/loadbalancing

#39661 bpf: nat: handle egressing ICMPv6 error messages with embedded ECHO / ECHO_REPLY
  bpf/lib/nat.h
Labels: area/datapath, ready-to-merge, release-note/misc, feature/ipv6, backport/author, feature/snat, needs-backport/1.17

#39545 Add support for IPv6-only kind cluster creation
  Makefile.kind
Labels: area/misc, ready-to-merge, release-note/misc, feature/ipv6-only

#39575 pkg/endpoint: Store and restore parentIfIndex
  pkg/endpoint/restore.go
  plugins/cilium-cni/cmd/endpoint.go
Labels: kind/bug, area/datapath, release-note/bug, ready-to-merge, needs-backport/1.17

#39726 ci: stop using /mnt/ directory for building images
  .github/workflows/build-images-ci.yaml
Labels: release-note/ci

#39717 cli: require Cilium v1.14
  cilium-cli/cli/bgp.go
  cilium-cli/cli/clustermesh.go
  cilium-cli/connectivity/builder/check_log_errors.go
  cilium-cli/connectivity/builder/egress_gateway_excluded_cidrs.go
  cilium-cli/connectivity/builder/north_south_loadbalancing_with_l7_policy.go
  cilium-cli/connectivity/check/context.go
  cilium-cli/connectivity/check/deployment.go
  cilium-cli/connectivity/check/features.go
  cilium-cli/connectivity/tests/service.go
  cilium-cli/install/autodetect.go
  cilium-cli/install/helm.go
  cilium-cli/install/helm_test.go
  cilium-cli/install/node_init.go
  cilium-cli/sysdump/sysdump.go
  cilium-cli/utils/features/features.go
  cilium-cli/utils/features/features_test.go
Labels: release-note/misc, cilium-cli, cilium-cli-exclusive

#39633 cilium: Remove enableRuntimeDeviceDetection option
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  daemon/cmd/daemon_main.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/option/config.go
Labels: release-note/minor

#39676 bugtool: also collect IPv6 EGW map
  bugtool/cmd/configuration.go
Labels: ready-to-merge, area/bugtool, release-note/misc, feature/egress-gateway

#39742 update gRPC section to use gPRC status code
  Documentation/security/grpc.rst
Labels: release-note/misc

#39696 Fix minor typos and wording issues in l2-announcements.rst
  Documentation/network/l2-announcements.rst
Labels: release-note/misc, kind/community-contribution

#39743 loadbalancer: Terminating backends fallback for maglev
  pkg/loadbalancer/reconciler/bpf_reconciler.go
  pkg/loadbalancer/tests/testdata/graceful-termination.txtar
Labels: ready-to-merge, release-note/misc

#39694 pkg/health: remove deprecated health metrics
  Documentation/observability/metrics.rst
  Documentation/operations/upgrade.rst
  pkg/health/client/client.go
  pkg/health/server/server.go
  pkg/health/server/server_old_test.go
  pkg/metrics/metrics.go
  pkg/node/manager/manager.go
Labels: release-note/minor

#39745 loadbalancer: Add LoadBalancerClass to Service
  pkg/loadbalancer/reflectors/conversions.go
  pkg/loadbalancer/service.go
  pkg/loadbalancer/tests/testdata/loadbalancer.txtar
  pkg/loadbalancer/tests/testdata/marshalling.txtar
Labels: ready-to-merge, release-note/misc

#39746 loadbalancer: Remove Service.Properties
  pkg/loadbalancer/service.go
  pkg/loadbalancer/tests/testdata/marshalling.txtar
Labels: ready-to-merge, release-note/misc

#39754 workflows: Remove kvstore related configs in conformance-multi-pool
  .github/actions/multi-pool/configs.yaml
Labels: kind/bug/CI, area/CI, release-note/ci, area/multipool

#39763 workflows: add RUN_AS_ROOT to build-go-caches workflow
  .github/workflows/build-go-caches.yaml
Labels: release-note/misc

#39579 bpf: add IPv6 mcast addr helpers and cleanup
  bpf/lib/ipv6.h
  bpf/tests/ipv6_ndp_from_netdev_test.c
  bpf/tests/ipv6_test.c
  bpf/tests/pktgen.h
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#39780 [v1.17] gh: e2e: enable secondary-network LB testing for all KPR=true configs
  .github/actions/e2e/configs.yaml
  .github/actions/e2e/ipsec_configs.yaml
  .github/workflows/conformance-ipsec-e2e.yaml
Labels: ready-to-merge, kind/backports, backport/1.17

#39788 egressgw: reserve space in IPv6 policy entry
  bpf/lib/common.h
  pkg/maps/egressmap/policy.go
Labels: area/datapath, release-note/misc, feature/egress-gateway

#37937 bpf: Fix Geneve-DSR inconsistency with host-routing off
  bpf/bpf_overlay.c
  bpf/tests/tc_geneve_dsr_v4_legacy.c
  bpf/tests/tc_geneve_dsr_v6_legacy.c
Labels: area/datapath, release-note/bug, kind/community-contribution, area/loadbalancing, feature/dsr

#39779 bgpv2: Triggering state reconciliation from config reconciler
  pkg/bgpv1/manager/instance/instance.go
Labels: ready-to-merge, release-note/misc, area/bgp
