Repository cilium/cilium, pull requests merged in 2025-10, with the labels that each got.

#41915 hostfw: also exclude non-transparent proxy traffic when BPF masq is enabled
  bpf/bpf_host.c
  bpf/lib/host_firewall.h
  bpf/tests/hostfw_bpf_masq.c
Labels: kind/bug, area/datapath, area/proxy, release-note/bug, ready-to-merge, area/host-firewall, backport/author, needs-backport/1.18, feature/bpf-masquerading

#41957 clustermesh: unconditionally invoke [NodeManager.MeshNodeSync]
  pkg/clustermesh/notifier.go
Labels: ready-to-merge, area/clustermesh, release-note/misc

#41891 daemon: use daemonParams as field
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/daemon_test.go
  daemon/cmd/datapath.go
  daemon/cmd/endpoint_test.go
  daemon/cmd/ipam.go
  daemon/cmd/policy_test.go
  daemon/cmd/state.go
Labels: kind/cleanup, sig/policy, ready-to-merge, release-note/misc, area/modularization

#41978 README: Update releases
  README.rst
Labels: release-note/misc

#41848 [v1.18] redirectpolicy: Fix comparison of BackendParams
  pkg/loadbalancer/backend.go
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/loadbalancer_test.go
  pkg/loadbalancer/redirectpolicy/controller.go
  pkg/loadbalancer/zz_generated.deepequal.go
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.18

#41824 [v1.16] bpf:tests:egressgw: fix metrics count
  bpf/tests/tc_egressgw_redirect_from_host.c
Labels: kind/backports, backport/1.16

#41633 fix: drop ipv4 wildcard when ipv6 wildcard present on node health check
  pkg/health/server/server.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/agent, kind/community-contribution, needs-backport/1.18

#41995 k8s/reflector: Add support for shared ListerWatcher
  pkg/k8s/statedb.go
  pkg/k8s/statedb_test.go
Labels: area/k8s, ready-to-merge, release-note/misc

#42038 bpf: wireguard: set SKIP_SRV6_HANDLING and SKIP_ICMPV6_NS_HANDLING
  bpf/bpf_overlay.c
  bpf/bpf_wireguard.c
  bpf/bpf_xdp.c
Labels: area/loader, area/datapath, kind/cleanup, release-note/misc, feature/wireguard

#41989 [v1.18] hostfw: also exclude non-transparent proxy traffic when BPF masq is enabled
  bpf/bpf_host.c
  bpf/lib/host_firewall.h
  bpf/tests/hostfw_bpf_masq.c
Labels: ready-to-merge, kind/backports, backport/1.18

#41967 loader: retry with xdp frags
  pkg/datapath/loader/xdp.go
Labels: area/loader, area/datapath, release-note/minor, ready-to-merge

#42058 ci: add wildcard ton runtime image file
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
Labels: release-note/misc

#41911 ci: Update hubble test workflow permissions
  .github/workflows/common-post-jobs.yaml
  .github/workflows/hubble-cli-integration-test.yaml
Labels: release-note/misc

#42075 Update USERS.md University of Wisconsin
  USERS.md
Labels: ready-to-merge, release-note/misc, kind/community-contribution
