Repository cilium/cilium, pull requests merged in 2025-04, with the labels that each got.

#36651 cilium-cli: connectivity: clean up any leftover egw routes.
  cilium-cli/connectivity/check/test.go
Labels: release-note/ci, cilium-cli, cilium-cli-exclusive

#38579 cilium-dbg: Add bpf ipcache match
  Documentation/cmdref/cilium-dbg_bpf_ipcache.md
  Documentation/cmdref/cilium-dbg_bpf_ipcache_match.md
  cilium-dbg/cmd/bpf_ipcache_match.go
Labels: release-note/minor, ready-to-merge, area/cli

#38544 images: Update the envoy script
  images/scripts/update-cilium-envoy-image.sh
Labels: ready-to-merge, release-note/misc

#38564 helm: remove AWS iptables rules conditionally
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/cni, ready-to-merge, release-note/misc, area/helm, kind/community-contribution

#38556 policy: don't drop policy update notifications on full channel
  pkg/policy/cell/policy_importer.go
  pkg/policy/k8s/watcher.go
Labels: release-note/bug, sig/policy, ready-to-merge, kind/regression, needs-backport/1.17

#38639 doc: Clarify KPR (kube-proxy replacement) support with SCTP
  Documentation/configuration/sctp.rst
  Documentation/network/kubernetes/kubeproxy-free.rst
Labels: release-note/misc, kind/community-contribution

#38646 proxy: fix flake in TestPortAllocator test
  pkg/proxy/proxyports/proxyports_test.go
Labels: kind/bug/CI, area/proxy, ready-to-merge, release-note/ci

#38595 wireguard: cleanup cilium_calls map upon downgrading from v1.18
  pkg/datapath/loader/loader.go
Labels: kind/enhancement, ready-to-merge, kind/backports, area/encryption, release-note/misc, feature/wireguard, backport/1.17

#38281 check-encryption-leak:feature: log pkt length and src/dst pods info
  .github/actions/bpftrace/scripts/check-encryption-leaks.bt
Labels: kind/enhancement, area/CI, ready-to-merge, area/encryption, release-note/ci, feature/ipsec, feature/wireguard

#38528 ipcache: modify labels map in-place in `resolveLabels`
  pkg/ipcache/ipcache_bench_test.go
  pkg/ipcache/metadata.go
Labels: ready-to-merge, release-note/misc

#38657 docs: clarify hubble flow filter match semantics
  Documentation/internals/hubble.rst
Labels: area/documentation, ready-to-merge, release-note/misc, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#38677 cilium, status: Do not display annotations if KPR is disabled
  daemon/cmd/status.go
  pkg/client/client.go
Labels: release-note/misc, needs-backport/1.17

#38268 check-encryption-leak:feature: split TCP report and log seq/ack n.
  .github/actions/bpftrace/scripts/check-encryption-leaks.bt
Labels: kind/enhancement, area/CI, ready-to-merge, area/encryption, release-note/ci, feature/ipsec, feature/wireguard

#38249 feat: Support IPv6 for delegated IPAM
  daemon/cmd/ipam.go
  pkg/datapath/linux/node.go
  pkg/datapath/linux/routing/info.go
  pkg/datapath/linux/routing/info_test.go
  pkg/datapath/linux/routing/routing.go
  pkg/datapath/linux/routing/routing_test.go
  pkg/endpoint/endpoint.go
  pkg/node/address.go
  plugins/cilium-cni/cmd/cmd.go
  plugins/cilium-cni/cmd/interface.go
Labels: release-note/minor, ready-to-merge, kind/community-contribution, area/ipam

#38362 bugtool: Add file based test for envoy mask
  bugtool/cmd/mask_test.go
  bugtool/cmd/testdata/envoy-config-input.json
  bugtool/cmd/testdata/envoy-config-output.json
Labels: ready-to-merge, release-note/misc

#38458 agent: Exclude apiserver connectivity as part of liveness probe
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge

#38656 lrp: Add IP family checks
  pkg/redirectpolicy/manager.go
Labels: release-note/bug, area/lrp, needs-backport/1.16, affects/v1.16, needs-backport/1.17, affects/v1.17

#38555 ingress: don't cleanup ingress status of unmanaged Ingress resources
  operator/pkg/ingress/ingress_reconcile.go
  operator/pkg/ingress/ingress_reconcile_test.go
Labels: kind/bug, release-note/bug, ready-to-merge, area/servicemesh, feature/k8s-ingress, affects/v1.15, affects/v1.16, needs-backport/1.17

#38670 renovate: Bump cilium-envoy to 1.32 for v1.15
  .github/renovate.json5
Labels: release-note/misc

#38554 gha: enable north/south conn-disrupt-test in clustermesh upgrade tests
  .github/workflows/tests-clustermesh-upgrade.yaml
Labels: area/clustermesh, release-note/ci

#38588 makefile: don't run cilium install in background
  Makefile.kind
Labels: ready-to-merge, release-note/misc

#37445 dashboard: add egress, l7 to policy drop dashboard
  install/kubernetes/cilium/files/cilium-agent/dashboards/cilium-dashboard.json
Labels: release-note/minor, sig/policy, ready-to-merge

#38519 Use `slices.Sorted(maps.Keys(...))` to get sorted list of map keys
  bpf/tests/bpftest/bpf_test.go
  cilium-cli/bgp/peers.go
  cilium-cli/bgp/routes.go
  cilium-cli/config/config.go
  cilium-cli/connectivity/check/context.go
  cilium-cli/encrypt/status.go
  cilium-cli/features/status.go
  cilium-cli/features/summary.go
  cilium-dbg/cmd/config.go
  cilium-dbg/cmd/helpers.go
  operator/pkg/model/ingestion/ingress.go
  pkg/aws/eni/node.go
  pkg/clustermesh/mcsapi/serviceimport_controller.go
  pkg/datapath/linux/config/config.go
  pkg/endpoint/api.go
  pkg/hubble/parser/seven/http.go
  pkg/hubble/relay/pool/manager_test.go
  pkg/k8s/slim/k8s/apis/labels/selector.go
  pkg/kvstore/store/store.go
  pkg/labels/labels.go
  pkg/loadbalancer/experimental/script_test.go
  pkg/option/option.go
  test/runtime/fqdn.go
  test/verifier/verifier_test.go
  tools/api-flaggen/main.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, cilium-cli

#38338 docs: Document BPF host routing incompatibility with Istio
  Documentation/network/concepts/masquerading.rst
  Documentation/operations/performance/tuning.rst
Labels: release-note/misc

#38474 workflows: Add e2e test for kube-apiserver HA
  .github/workflows/k8s-kind-network-e2e.yaml
Labels: ready-to-merge, release-note/ci

#38624 Run preflight checks before cilium update in CI test-e2e-upgrade
  .github/workflows/tests-e2e-upgrade.yaml
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#38706 bpf: Avoid implicit conversion loses integer precision
  bpf/lib/icmp6.h
Labels: ready-to-merge, release-note/misc

#38733 Revert "Run preflight checks before cilium update"
  .github/workflows/tests-e2e-upgrade.yaml
Labels: kind/bug/CI, area/CI, area/misc, release-note/misc

#38506 clustermesh-apiserver: enable parsing of ciliumendpointslices
  Documentation/cmdref/clustermesh-apiserver_clustermesh.md
  Documentation/cmdref/clustermesh-apiserver_clustermesh_hive.md
  Documentation/cmdref/clustermesh-apiserver_clustermesh_hive_dot-graph.md
  clustermesh-apiserver/clustermesh/k8s/ciliumendpointslice.go
  clustermesh-apiserver/clustermesh/k8s/resource_ctors.go
  clustermesh-apiserver/clustermesh/k8s/resources.go
  clustermesh-apiserver/clustermesh/root.go
  install/kubernetes/cilium/templates/clustermesh-apiserver/clusterrole.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver/deployment.yaml
Labels: ready-to-merge, area/clustermesh, release-note/misc, feature/ces

#38159 fqdn: split proxy creation and listen methods
  pkg/fqdn/bootstrap/fqdn_bootstrapper.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/fqdn/dnsproxy/proxy_test.go
Labels: kind/cleanup, sig/policy, ready-to-merge, release-note/misc

#38738 gh: aws-cni: set --enable-identity-mark=false option
  .github/workflows/conformance-aws-cni.yaml
Labels: area/CI, sig/datapath, area/cni, release-note/ci, integration/cloud

#38736 bpf: lift L7 LB handling from inherit_identity_from_host()
  bpf/bpf_host.c
  bpf/bpf_lxc.c
  bpf/lib/identity.h
  bpf/lib/overloadable_skb.h
Labels: sig/datapath, ready-to-merge, release-note/misc

#38454 bpf: Fix comment above ct_is_reply
  bpf/lib/conntrack.h
Labels: release-note/misc, feature/conntrack

#37121 Update link to SIG
  README.rst
Labels: release-note/misc

#38754 test: Update FQDN related domain and IP
  test/k8s/fqdn.go
  test/k8s/hubble.go
  test/k8s/manifests/fqdn-proxy-multiple-specs-v2.yaml
  test/k8s/manifests/fqdn-proxy-multiple-specs.yaml
  test/k8s/manifests/fqdn-proxy-policy.yaml
Labels: release-note/ci, affects/v1.14, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#38771 v1.15 Backports 2025-04-07
  test/k8s/fqdn.go
  test/k8s/hubble.go
  test/k8s/manifests/fqdn-proxy-multiple-specs-v2.yaml
  test/k8s/manifests/fqdn-proxy-multiple-specs.yaml
  test/k8s/manifests/fqdn-proxy-policy.yaml
Labels: kind/backports, backport/1.15

#38769 v1.17 Backports 2025-04-07
  test/k8s/fqdn.go
  test/k8s/hubble.go
  test/k8s/manifests/fqdn-proxy-multiple-specs-v2.yaml
  test/k8s/manifests/fqdn-proxy-multiple-specs.yaml
  test/k8s/manifests/fqdn-proxy-policy.yaml
Labels: ready-to-merge, kind/backports, backport/1.17

#38770 v1.16 Backports 2025-04-07
  test/k8s/fqdn.go
  test/k8s/hubble.go
  test/k8s/manifests/fqdn-proxy-multiple-specs-v2.yaml
  test/k8s/manifests/fqdn-proxy-multiple-specs.yaml
  test/k8s/manifests/fqdn-proxy-policy.yaml
Labels: ready-to-merge, kind/backports, backport/1.16

#38768 bpf: host: use MARK_MAGIC_EGW_DONE-embedded identity in to-netdev
  bpf/bpf_host.c
Labels: sig/datapath, ready-to-merge, release-note/misc, feature/egress-gateway

#38765 bpf: lb: remove compatibility support for CT entries without rev_nat_index
  bpf/lib/conntrack.h
Labels: sig/datapath, ready-to-merge, release-note/misc

#38751 ariane: Skip workflows on README.rst changes
  .github/ariane-config.yaml
Labels: ready-to-merge, area/CI-improvement, release-note/misc

#38692 k8s/resource: Don't Add to WaitGroup asynchronously
  pkg/k8s/resource/resource.go
Labels: ready-to-merge, release-note/misc, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#38777 cilium: Fix device controller's dependency on netfilter
  pkg/datapath/linux/devices_controller.go
Labels: ready-to-merge, release-note/misc

#38017 labelsfilter: Add serviceaccount label in the default labels
  Documentation/operations/performance/scalability/identity-relevant-labels.rst
  Documentation/operations/upgrade.rst
  Documentation/spelling_wordlist.txt
  pkg/labelsfilter/filter.go
  pkg/labelsfilter/filter_test.go
Labels: release-note/minor, upgrade-impact

#38780 [v1.17] deps: bump x/net to v0.38.0
  go.mod
  go.sum
  vendor/golang.org/x/net/html/atom/table.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/modules.txt
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.17

#38779 k8s: fix missing service endpoints delete events
  pkg/k8s/resource_ctors.go
  pkg/k8s/resource_ctors_test.go
Labels: kind/bug, release-note/bug, ready-to-merge, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#38560 datapath/linux: call RouteGetWithOptions with OifIndex
  pkg/datapath/linux/node.go
Labels: kind/enhancement, ready-to-merge, release-note/misc

#38788 cilium, iptables: Do not fail iptables reconciler if netfilter disabled
  pkg/datapath/iptables/iptables.go
Labels: release-note/misc

#38785 docs: explain the support relation between MCS-API and GW-API
  Documentation/network/clustermesh/mcsapi.rst
Labels: area/documentation, area/clustermesh, release-note/misc

#38539 docs: how to update existing pool in multi-pool ipam
  Documentation/network/concepts/ipam/multi-pool.rst
  Documentation/spelling_wordlist.txt
Labels: area/documentation, ready-to-merge, release-note/misc, area/multipool, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#38794 [v1.16] hubble: fix flowfilter flag parsing allowing only one filter
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  pkg/option/config.go
Labels: ready-to-merge, kind/backports, backport/1.16

#38801 operator/networkpolicy: consider all rules when validating policy
  operator/pkg/networkpolicy/cell.go
Labels: release-note/bug, sig/policy, needs-backport/1.16, needs-backport/1.17

#38322 Deduplicate go build flags when building with CGO enabled
  Makefile.defs
Labels: release-note/misc, kind/community-contribution

#38784 Fix deadlock in compilation lock
  pkg/datapath/fake/types/orchestrator.go
  pkg/datapath/orchestrator/orchestrator.go
  pkg/datapath/types/orchestrator.go
  pkg/endpoint/bpf.go
Labels: kind/bug, release-note/bug, backport/author, needs-backport/1.17

#38781 [v1.16]: deps: bump x/net to v0.38.0
  go.mod
  go.sum
  vendor/golang.org/x/net/html/atom/table.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/modules.txt
Labels: ready-to-merge, kind/backports, release-note/misc, backport/1.16

#38787 make: Fix loading docker images with quiet mode
  Makefile.kind
Labels: release-note/misc

#38805 v1.17: Fix deadlock in compilation lock
  pkg/datapath/fake/types/orchestrator.go
  pkg/datapath/orchestrator/orchestrator.go
  pkg/datapath/types/orchestrator.go
  pkg/endpoint/bpf.go
Labels: ready-to-merge, kind/backports, release-blocker/1.17, backport/1.17

#38803 connectivity: Correct version check for Ingress test
  cilium-cli/connectivity/builder/pod_to_ingress_service.go
Labels: ready-to-merge, release-note/ci, cilium-cli, cilium-cli-exclusive

#38746 bpf: Fix incorrect checksum when rewriting VXLAN VNI
  bpf/lib/vxlan.h
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, area/multicast

#38550 aws client: remove internal rate-limiting
  pkg/aws/ec2/ec2.go
Labels: release-note/minor, area/eni, integration/cloud

#38790 ctmap: on delete error, use host byte order.
  pkg/maps/ctmap/ctmap.go
Labels: sig/datapath, ready-to-merge, release-note/misc

#38742 [v1.15] check-encryption-leak:features: backport 2025-04-04
  .github/actions/bpftrace/scripts/check-encryption-leaks.bt
Labels: kind/backports, backport/1.15

#38740 [v1.17] check-encryption-leak:features: backport 2025-04-04
  .github/actions/bpftrace/scripts/check-encryption-leaks.bt
Labels: ready-to-merge, kind/backports, backport/1.17

#38810 IPAM: Use testing.T.Context added in Go 1.24 in tests
  pkg/alibabacloud/eni/node_stat_test.go
  pkg/alibabacloud/eni/node_test.go
  pkg/aws/ec2/mock/mock_test.go
  pkg/aws/eni/eni_gc_test.go
  pkg/aws/eni/instances_test.go
  pkg/aws/eni/node_manager_test.go
  pkg/aws/eni/node_stat_test.go
  pkg/azure/api/mock/mock_test.go
  pkg/azure/ipam/instances_test.go
  pkg/azure/ipam/ipam_test.go
  pkg/azure/ipam/node_stats_test.go
  pkg/ipam/allocator/multipool/node_handler_test.go
  pkg/ipam/allocator/podcidr/podcidr_test.go
  pkg/ipam/multipool_test.go
  pkg/ipam/node_manager_test.go
Labels: release-note/misc

#38814 cilium-cli: Fix ipv6 ping regex
  cilium-cli/connectivity/check/action.go
  cilium-cli/connectivity/check/action_test.go
Labels: release-note/minor, feature/ipv6, kind/community-contribution, cilium-cli, cilium-cli-exclusive

#38673 fix(cilium-operator): add missing k8sServiceHost templating
  install/kubernetes/cilium/templates/cilium-operator/deployment.yaml
Labels: ready-to-merge, release-note/misc, area/helm, kind/community-contribution

#38748 [v1.15] Manually fix builder image
  .devcontainer/devcontainer.json
  .github/workflows/build-images-ci.yaml
  api/v1/flow/flow.pb.go
  api/v1/observer/observer.pb.go
  api/v1/observer/observer_grpc.pb.go
  api/v1/peer/peer.pb.go
  api/v1/peer/peer_grpc.pb.go
  api/v1/recorder/recorder.pb.go
  api/v1/recorder/recorder_grpc.pb.go
  api/v1/relay/relay.pb.go
  images/builder/Dockerfile
  images/cilium/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  test/k8s/manifests/demo-customcalls.yaml
Labels: area/misc, kind/backports, release-note/misc, backport/1.15

#38741 [v1.16] check-encryption-leak:features: backport 2025-04-04
  .github/actions/bpftrace/scripts/check-encryption-leaks.bt
Labels: kind/backports, backport/1.16

#38826 Fix data races in endpointmanager tests and remove potential cause for future races
  daemon/cmd/endpoint_test.go
  pkg/endpoint/api.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_test.go
  pkg/endpoint/restore.go
  pkg/endpoint/restore_test.go
  pkg/endpointmanager/manager_test.go
Labels: ready-to-merge, release-note/misc

#38638 [aws][eni] Ensure security-groups are sorted
  pkg/aws/eni/node.go
Labels: ready-to-merge, area/eni, release-note/misc, kind/community-contribution

#38813 operator/networkpolicy: rename and export `SecretSyncConfig`
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive.md
  Documentation/cmdref/cilium-operator-alibabacloud_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-aws_hive.md
  Documentation/cmdref/cilium-operator-aws_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-azure_hive.md
  Documentation/cmdref/cilium-operator-azure_hive_dot-graph.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator-generic_hive.md
  Documentation/cmdref/cilium-operator-generic_hive_dot-graph.md
  Documentation/cmdref/cilium-operator.md
  Documentation/cmdref/cilium-operator_hive.md
  Documentation/cmdref/cilium-operator_hive_dot-graph.md
  operator/pkg/networkpolicy/secretsync.go
Labels: sig/policy, ready-to-merge, release-note/misc

#38838 cilium: few follow-ups when netfilter is compiled out
  pkg/datapath/iptables/iptables.go
Labels: release-note/misc

#38835 deps: Bump cilium/proxy go version
  go.mod
  go.sum
  pkg/ciliumenvoyconfig/cec_resource_parser.go
  pkg/envoy/xds_server.go
  vendor/github.com/cilium/proxy/go/cilium/api/bpf_metadata.pb.go
  vendor/github.com/cilium/proxy/go/cilium/api/bpf_metadata.pb.validate.go
  vendor/github.com/cncf/xds/go/xds/type/v3/cel.pb.go
  vendor/github.com/cncf/xds/go/xds/type/v3/cel.pb.validate.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_linux_loong64.go
  vendor/golang.org/x/sys/cpu/cpu_linux_noinit.go
  vendor/golang.org/x/sys/cpu/cpu_loong64.go
  vendor/golang.org/x/sys/cpu/cpu_loong64.s
  vendor/golang.org/x/sys/cpu/parse.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/google.golang.org/grpc/internal/resolver/delegatingresolver/delegatingresolver.go
  vendor/google.golang.org/grpc/resolver/map.go
  vendor/google.golang.org/grpc/resolver_wrapper.go
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/version.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/strs/strings_unsafe.go
  vendor/google.golang.org/protobuf/internal/strs/strings_unsafe_go120.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/proto/merge.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_unsafe.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_unsafe_go121.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.pb.go
  vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  vendor/google.golang.org/protobuf/types/known/durationpb/duration.pb.go
  vendor/google.golang.org/protobuf/types/known/emptypb/empty.pb.go
  vendor/google.golang.org/protobuf/types/known/fieldmaskpb/field_mask.pb.go
  vendor/google.golang.org/protobuf/types/known/structpb/struct.pb.go
  vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  vendor/google.golang.org/protobuf/types/known/wrapperspb/wrappers.pb.go
  vendor/modules.txt
Labels: ready-to-merge, kind/backports, backport/1.17

#38798 connectivity: encryption tests: filter when icmpv6.type == 136
  bpf/lib/wireguard.h
  cilium-cli/connectivity/tests/encryption.go
  cilium-cli/connectivity/tests/encryption_v2.go
Labels: sig/datapath, area/encryption, release-note/ci, cilium-cli, cilium-cli-exclusive

#38783 [v1.15] deps: Bump x/net to v0.38.0
  go.mod
  go.sum
  vendor/golang.org/x/net/html/atom/table.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/modules.txt
Labels: kind/backports, release-note/misc, backport/1.15

#38853 controller: Ensure controller updates eventually apply
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/controller/manager.go
Labels: release-note/misc

#38881 connectivity: Fix flow validation for wildcard tls sni
  cilium-cli/connectivity/builder/client_egress_tls_sni.go
Labels: ready-to-merge, release-note/ci, cilium-cli, cilium-cli-exclusive

#38808 docs: Fix BGP localPort configuration example
  Documentation/network/bgp-control-plane/bgp-control-plane-v2.rst
Labels: area/documentation, ready-to-merge, release-note/misc, area/bgp

#38888 fix(deps): update all go dependencies main
  go.mod
  go.sum
  vendor/github.com/vishvananda/netlink/addr_linux.go
  vendor/helm.sh/helm/v3/pkg/chart/loader/archive.go
  vendor/helm.sh/helm/v3/pkg/chart/loader/directory.go
  vendor/modules.txt
Labels: kind/enhancement, ready-to-merge, release-note/misc, dependencies

#38796 cli: sysdump: collect logs from restarted test pods.
  cilium-cli/sysdump/sysdump.go
Labels: ready-to-merge, release-note/ci, cilium-cli, cilium-cli-exclusive

#38877 rate: Extend the timeout of TestStressRateLimiter
  pkg/rate/api_limiter_test.go
Labels: release-note/ci

#38894 [v1.15] rate: Extend the timeout of TestStressRateLimiter
  pkg/rate/api_limiter_test.go
Labels: kind/backports, release-note/ci, backport/1.15

#38896 v1.17: rate: Extend the timeout of TestStressRateLimiter
  pkg/rate/api_limiter_test.go
Labels: kind/backports, backport/1.17

#38895 v1.16: rate: Extend the timeout of TestStressRateLimiter
  pkg/rate/api_limiter_test.go
Labels: ready-to-merge, kind/backports, backport/1.16

#38855 ctmap: don't error on delete missing key.
  pkg/maps/ctmap/ctmap.go
  pkg/maps/ctmap/metrics.go
Labels: ready-to-merge, release-note/misc

#38873 Corrections to IP Pools Example Documentation
  Documentation/network/lb-ipam.rst
Labels: area/documentation, release-note/misc, kind/community-contribution, feature/lb-ipam

#38900 bpf/nodeport: Rename `nodeport_rev_dnat_ingress_ipv6` for clarity
  bpf/lib/nodeport.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#38819 docs: clarify node IPAM LB behavior with node labels and taints
  Documentation/network/node-ipam.rst
Labels: area/documentation, release-note/misc, kind/community-contribution

#38930 [v1.16] IPsec,CI: Test IPsec + Ingress
  .github/actions/ipsec/configs.yaml
  .github/workflows/tests-ipsec-upgrade.yaml
Labels: ready-to-merge, kind/backports, backport/1.16

#38926 bpf: Remove unused internal call map slots
  bpf/lib/common.h
Labels: sig/loader, sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#38847 health: extract health initialization logic into hive cell
  CODEOWNERS
  daemon/cmd/cells.go
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/health.go
  daemon/cmd/status.go
  pkg/health/health_connectivity_endpoint.go
  pkg/health/health_connectivity_node.go
  pkg/health/health_manager.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, area/modularization

#38946 l2announcer: explicitly start l2announcer in hive cell via cell.Invoke
  daemon/cmd/daemon_main.go
  pkg/l2announcer/l2announcer.go
  pkg/l2announcer/l2announcer_test.go
Labels: kind/cleanup, ready-to-merge, release-note/misc, area/modularization, feature/l2-announcement

#38938 endpoint: Unlock on IPIdentitySync error
  pkg/endpoint/policy.go
Labels: release-note/bug, kind/community-contribution, affects/v1.14, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#38960 docs: Update `hubble-metrics` flag documentation
  Documentation/observability/metrics.rst
Labels: area/documentation, release-note/misc, needs-backport/1.17, area/hubble

#38922 service: notify health observers about deleted service
  pkg/service/health_check.go
  pkg/service/service.go
Labels: ready-to-merge, release-note/misc, area/loadbalancing

#38964 README: Update releases
  README.rst
  stable.txt
Labels: release-note/misc

#38955 proxy/endpoint: Add GetPolicyNames interface method
  pkg/endpoint/endpoint.go
  pkg/envoy/xds_server.go
  pkg/proxy/endpoint/endpoint.go
  pkg/proxy/endpoint/test/updater_mock.go
Labels: ready-to-merge, release-note/misc

#38943 endpoint: Add policy manager callback
  pkg/endpointmanager/callback.go
  pkg/endpointmanager/callback_test.go
  pkg/endpointmanager/cell.go
  pkg/endpointmanager/manager.go
Labels: release-note/misc

#38969 bpf: Simplify ipcache value check
  bpf/bpf_lxc.c
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#38956 connectivity/check: fix logging error
  cilium-cli/connectivity/check/context.go
Labels: ready-to-merge, area/cli, release-note/misc, cilium-cli, cilium-cli-exclusive

#38772 k8s: handle Replaced DeltaFIFO event type
  pkg/k8s/informer/informer.go
  pkg/k8s/resource/resource.go
Labels: kind/cleanup, sig/k8s, release-note/misc

#38675 docs: add warning about l7 policy and EnableDefaultDeny
  Documentation/security/policy/intro.rst
  Documentation/security/policy/language.rst
Labels: area/documentation, release-note/misc, needs-backport/1.16, needs-backport/1.17

#38883 Do not try to update CEP labels if `--disable-endpoint-crd=true`
  pkg/k8s/watchers/pod.go
Labels: ready-to-merge, release-note/misc

#38665 Update json-mock image tag to support connectivity-check on both amd64 and arm64 kubernetes nodes
  examples/kubernetes/clustermesh/cluster1.yaml
  examples/kubernetes/clustermesh/cluster2.yaml
  examples/kubernetes/connectivity-check/connectivity-check-hostport.yaml
  examples/kubernetes/connectivity-check/connectivity-check-internal.yaml
  examples/kubernetes/connectivity-check/connectivity-check-netpol-only.yaml
  examples/kubernetes/connectivity-check/connectivity-check-proxy.yaml
  examples/kubernetes/connectivity-check/connectivity-check-quarantine.yaml
  examples/kubernetes/connectivity-check/connectivity-check-single-node.yaml
  examples/kubernetes/connectivity-check/connectivity-check.yaml
  examples/kubernetes/connectivity-check/echo-servers.cue
  examples/kubernetes/servicemesh/envoy/test-application-proxy-circuit-breaker.yaml
  examples/kubernetes/servicemesh/envoy/test-application-proxy-loadbalancing.yaml
  examples/kubernetes/servicemesh/envoy/test-application.yaml
  examples/policies/kubernetes/namespace/demo-pods.yaml
  examples/policies/kubernetes/serviceaccount/demo-pods.yaml
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#38569 hive docs: add 'empty' command added to hive.
  Documentation/contributing/development/hive.rst
Labels: area/documentation, release-note/misc

#38988 cli: default to SPDY connection for exec
  cilium-cli/k8s/client.go
  cilium-cli/k8s/exec.go
Labels: release-note/bug, cilium-cli, cilium-cli-exclusive

#38966 bgp: Track deleted objects in DiffStore to ensure reconciliation upon endpoint delete
  pkg/bgpv1/manager/reconciler/service.go
  pkg/bgpv1/manager/reconciler/service_test.go
  pkg/bgpv1/manager/reconcilerv2/service.go
  pkg/bgpv1/manager/reconcilerv2/service_test.go
  pkg/bgpv1/manager/store/diffstore.go
  pkg/bgpv1/manager/store/diffstore_fake.go
  pkg/bgpv1/test/testdata/svc-traffic-policy.txtar
Labels: release-note/minor, ready-to-merge, area/bgp, affects/v1.17

#38921 endpoint: remove dependency setters
  daemon/cmd/daemon.go
  daemon/cmd/state.go
  pkg/endpoint/api.go
  pkg/endpoint/bpf_test.go
  pkg/endpoint/creator/creator.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_status_test.go
  pkg/endpoint/endpoint_test.go
  pkg/endpoint/log_test.go
  pkg/endpoint/proxy.go
  pkg/endpoint/redirect_test.go
  pkg/endpoint/restore_test.go
  pkg/endpointmanager/callback_test.go
  pkg/endpointmanager/cell.go
  pkg/endpointmanager/gc_test.go
  pkg/endpointmanager/manager.go
  pkg/endpointmanager/manager_test.go
  pkg/fqdn/bootstrap/fqdn_bootstrapper_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
Labels: kind/cleanup, sig/policy, ready-to-merge, release-note/misc, area/modularization

#38996 make: fix golangci-lint version detection
  Makefile.defs
Labels: kind/bug/CI, release-note/misc, area/build, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#38980 bugtool: include find /sys/fs/bpf output in sysdump artifact
  bugtool/cmd/configuration.go
Labels: sig/loader, ready-to-merge, area/bugtool, release-note/misc

#38867 cilium-cli: add annotation to indicate we should wait for policy
  cilium-cli/connectivity/check/policy.go
Labels: ready-to-merge, release-note/misc, cilium-cli, cilium-cli-exclusive

#39007 workflows/clustermesh: Clarify Cilium versions
  .github/workflows/tests-clustermesh-upgrade.yaml
Labels: area/clustermesh, area/CI-improvement, release-note/ci

#38999 sysdump: don't rely on timeout command to collect hubble flows
  cilium-cli/sysdump/sysdump.go
Labels: ready-to-merge, release-note/misc, cilium-cli, cilium-cli-exclusive

#39010 identity: Allow local identity for ingress label
  pkg/identity/cache/allocation_test.go
  pkg/identity/identity.go
Labels: ready-to-merge, release-note/misc

#39011 gh: ariane: don't trigger ipsec-upgrade on /test
  .github/ariane-config.yaml
Labels: area/CI, release-note/ci

#38987 cli: Generate each owners field separately
  cilium-cli/connectivity/check/junit.go
Labels: release-note/ci, cilium-cli, cilium-cli-exclusive

#38792 ci: added MacOS helper cmd for fixing `Absence of Trailing Spaces`
  .github/workflows/lint-workflows.yaml
Labels: release-note/misc, kind/community-contribution

#39017 cli: Use RFC3339 for junit timestamp reporting
  cilium-cli/connectivity/check/junit.go
  cilium-cli/connectivity/internal/junit/junit_test.go
Labels: ready-to-merge, release-note/misc, cilium-cli, cilium-cli-exclusive

#38874 gateway-api: Fix Gateway reconciler failure when TLSRoute CRD is not installed
  operator/pkg/gateway-api/gateway_reconcile.go
  operator/pkg/gateway-api/helpers/tlsroute.go
  operator/pkg/gateway-api/helpers/tlsroute_test.go
Labels: release-note/bug, ready-to-merge, kind/community-contribution

#38917 bpf: encap: let caller check whether endpoint has tunnel address
  bpf/bpf_lxc.c
  bpf/lib/encap.h
Labels: sig/datapath, kind/cleanup, ready-to-merge, release-note/misc

#38992 mtu: Exclude dummy devices from MTU evaluation
  pkg/mtu/manager.go
Labels: ready-to-merge, release-note/misc, area/mtu, backport/1.17

#38841 Add an L7 allow-all rule when EnableDefaultDeny is false
  pkg/policy/l4.go
  pkg/policy/l4_filter_test.go
  pkg/policy/repository.go
  pkg/policy/repository_deny_test.go
  pkg/policy/repository_test.go
  pkg/policy/resolve.go
Labels: release-note/bug, sig/policy, kind/community-contribution, needs-backport/1.16, needs-backport/1.17

#39060 bpf: tests: fix ethertype when building inner headers of VXLAN packet
  bpf/tests/vxlan_helpers_tests.c
Labels: sig/datapath, ready-to-merge, release-note/ci, needs-backport/1.16, needs-backport/1.17

#38898 Enable BBR only in host namespace
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-agent_hive.md
  Documentation/cmdref/cilium-agent_hive_dot-graph.md
  Documentation/helm-values.rst
  Documentation/network/kubernetes/bandwidth-manager.rst
  api/v1/models/daemon_configuration_status.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/restapi/config.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  pkg/datapath/linux/bandwidth/bandwidth.go
  pkg/datapath/types/bandwidth.go
  plugins/cilium-cni/cmd/cmd.go
Labels: release-note/minor

#38690 bugtool:feature: accept pattern for dumping matching pinned maps
  bugtool/cmd/configuration.go
Labels: kind/enhancement, release-note/minor, ready-to-merge, area/bugtool

#39062 bpf/complexity-tests: Fix missing coverage for IPv6 fragments
  bpf/complexity-tests/510/bpf_xdp/5.txt
  bpf/complexity-tests/510/bpf_xdp/6.txt
  bpf/complexity-tests/54/bpf_xdp/5.txt
  bpf/complexity-tests/54/bpf_xdp/6.txt
  bpf/complexity-tests/61/bpf_xdp/6.txt
  bpf/complexity-tests/61/bpf_xdp/7.txt
  bpf/complexity-tests/netnext/bpf_xdp/6.txt
  bpf/complexity-tests/netnext/bpf_xdp/7.txt
Labels: sig/datapath, ready-to-merge, release-note/ci, kind/complexity-issue, feature/ipv6

#38821 docs: Fix variable naming in EKS-to-EKS Clustermesh guide
  Documentation/network/clustermesh/eks-clustermesh-prep.rst
Labels: release-note/misc, kind/community-contribution, needs-backport/1.16, needs-backport/1.17

#39022 vendor: Bump gateway-api to v1.3.0-rc2
  go.mod
  go.sum
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumbgpadvertisements.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumbgpclusterconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumbgpnodeconfigoverrides.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumbgpnodeconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumbgppeerconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumclusterwideenvoyconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumclusterwidenetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumegressgatewaypolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumendpoints.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumenvoyconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumidentities.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumlocalredirectpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnodeconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnodes.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumbgppeeringpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumcidrgroups.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumendpointslices.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumgatewayclassconfigs.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliuml2announcementpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumloadbalancerippools.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2alpha1/ciliumpodippools.yaml
  vendor/github.com/miekg/dns/scan.go
  vendor/github.com/miekg/dns/types.go
  vendor/github.com/miekg/dns/udp.go
  vendor/github.com/miekg/dns/udp_no_control.go
  vendor/github.com/miekg/dns/update.go
  vendor/github.com/miekg/dns/version.go
  vendor/modules.txt
  vendor/sigs.k8s.io/gateway-api/apis/v1/gateway_types.go
  vendor/sigs.k8s.io/gateway-api/conformance/utils/suite/suite.go
  vendor/sigs.k8s.io/gateway-api/pkg/consts/consts.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/validate.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/jsontagutil.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/reflectcache.go
Labels: ready-to-merge, release-note/misc

#37405 fix(chart): cluster-name quotes in config
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Labels: ready-to-merge, release-note/misc, kind/community-contribution

#38916 bpf: nodeport: avoid accidental NAT46x64 clash in from-container
  bpf/lib/nodeport.h
Labels: kind/bug, sig/datapath, release-note/bug, ready-to-merge, affects/v1.14, affects/v1.15, affects/v1.16, needs-backport/1.17

#39072 bpf: lb: simplify punt-to-proxy path
  bpf/lib/lb.h
Labels: sig/datapath, ready-to-merge, release-note/misc, area/loadbalancing

#39067 docs, bandwidth: Move bbrHostNamespaceOnly docs to its own section
  Documentation/network/kubernetes/bandwidth-manager.rst
Labels: ready-to-merge, release-note/misc

#39018 cilium-dbg: don't emit logs on flush
  pkg/maps/ctmap/ctmap.go
  pkg/maps/ctmap/ctmap_privileged_test.go
  pkg/maps/ctmap/metrics.go
Labels: release-note/misc, release-note/ci

#38925 operator: Use testing.T.Context added in Go 1.24 in tests
  operator/api/health_test.go
  operator/api/metrics_test.go
  operator/api/server_test.go
  operator/auth/spire/client_test.go
  operator/cmd/allocator_test.go
  operator/endpointgc/gc_test.go
  operator/identitygc/crd_gc_test.go
  operator/identitygc/gc_test.go
  operator/pkg/bgpv2/cluster_test.go
  operator/pkg/bgpv2/peer_test.go
  operator/pkg/ciliumendpointslice/controller_test.go
  operator/pkg/ciliumendpointslice/endpointslice_test.go
  operator/pkg/ciliumendpointslice/reconciler_test.go
  operator/pkg/ciliumidentity/controller_test.go
  operator/pkg/ciliumidentity/reconciler_test.go
  operator/pkg/gateway-api/controller_test.go
  operator/pkg/gateway-api/gateway_reconcile_test.go
  operator/pkg/gateway-api/gatewayclass_reconcile_test.go
  operator/pkg/gateway-api/httproute_reconcile_test.go
  operator/pkg/ingress/helpers_test.go
  operator/pkg/ingress/ingress_reconcile_test.go
  operator/pkg/lbipam/lbipam_fixture_test.go
  operator/pkg/lbipam/lbipam_test.go
  operator/pkg/nodeipam/nodesvclb_test.go
  operator/pkg/secretsync/secretsync_reconcile_test.go
  operator/watchers/cilium_node_gc_test.go
Labels: area/operator, release-note/misc

#38703 [v1.17] agent: Exclude apiserver connectivity as part of liveness probe
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-agent/daemonset.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor, ready-to-merge, kind/backports, backport/1.17

#38963 Update kafka apiKey helm chart value to true
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: release-note/minor

#39088 [v1.17] bpf,encrypt: fix placement of vxlan handler function
  bpf/lib/encrypt.h
Labels: ready-to-merge, kind/backports, backport/1.17

#39104 bpf: remove unused struct tunnel_{key,value} types
  bpf/bpf_alignchecker.c
  bpf/lib/common.h
  pkg/datapath/alignchecker/alignchecker.go
Labels: sig/datapath, kind/cleanup, release-note/misc, affects/v1.17

#38965 operator/pkg/lbipam: Add lifecycle tests for LB-IPAM
  operator/pkg/lbipam/cell.go
  operator/pkg/lbipam/lbipam.go
  operator/pkg/lbipam/lbipam_test.go
Labels: ready-to-merge, release-note/ci

#39112 renovate: Bump allowed Go version for stable branches
  .github/renovate.json5
Labels: ready-to-merge, release-note/ci, go

#39101 contrib/scripts: Fix IndexError in stacktrace script
  contrib/scripts/consolidate_go_stacktrace.py
Labels: kind/bug, release-note/misc, sig/contributing, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17

#39093 .github: Reduce builder workflow by one job
  .github/workflows/build-images-base.yaml
Labels: ready-to-merge, release-note/ci, dont-merge/waiting-for-user-feedback

#39122 operator/pkg/gateway-api: Update ServiceImport and TLSRoute support c…
  operator/pkg/gateway-api/helpers/serviceimport.go
  operator/pkg/gateway-api/helpers/tlsroute.go
  operator/pkg/gateway-api/helpers/tlsroute_test.go
Labels: release-note/bug, ready-to-merge, release-note/misc, area/servicemesh, backport/1.17

#39001 datapath: Synchronize backend with the Linux neighbor table for new LB control-plane
  pkg/datapath/cells.go
  pkg/datapath/linux/backend_neighbors.go
  pkg/datapath/linux/backend_neighbors_test.go
  pkg/loadbalancer/backend.go
Labels: ready-to-merge, release-note/misc

#38663 aws: change IPv4Masquerade to false in ENI mode
  Documentation/helm-values.rst
  Documentation/installation/k8s-install-helm.rst
  Documentation/operations/upgrade.rst
  Documentation/spelling_wordlist.txt
  cilium-cli/install/helm.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/values.schema.json
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Labels: area/documentation, ready-to-merge, upgrade-impact, area/eni, release-note/misc, cilium-cli

#39111 gh: e2e-upgrade: check for unexpected drops from connectivity tests
  .github/workflows/tests-e2e-upgrade.yaml
Labels: area/CI, release-note/ci, needs-backport/1.17

#39124 Update k8s tests and libraries to v1.33.0
  .github/actions/ginkgo/main-k8s-versions.yaml
  .github/actions/set-env-variables/action.yml
  go.mod
  go.sum
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/modules.txt
Labels: release-note/minor

#39129 ipam/podcidr: fix CI flake
  pkg/ipam/allocator/podcidr/podcidr_test.go
Labels: kind/bug/CI, area/CI, ready-to-merge, release-note/ci, area/ipam

#39135 pkg/endpoint: migrate to slog
  cilium-dbg/cmd/preflight_identity_crd_migrate.go
  daemon/cmd/endpoint.go
  daemon/cmd/state.go
  operator/pkg/ciliumidentity/reconciler.go
  pkg/endpoint/api.go
  pkg/endpoint/bpf.go
  pkg/endpoint/cache.go
  pkg/endpoint/directory.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/events.go
  pkg/endpoint/lock.go
  pkg/endpoint/log.go
  pkg/endpoint/log_test.go
  pkg/endpoint/policy.go
  pkg/endpoint/regenerationcontext.go
  pkg/endpoint/regenerator.go
  pkg/endpoint/regenerator_test.go
  pkg/endpoint/restore.go
  pkg/endpoint/restore_test.go
  pkg/endpointcleanup/cleanup.go
  pkg/endpointcleanup/cleanup_test.go
  pkg/endpointmanager/callback_test.go
  pkg/endpointmanager/cell.go
  pkg/endpointmanager/endpointsynchronizer.go
  pkg/endpointmanager/endpointsynchronizer_test.go
  pkg/endpointmanager/gc.go
  pkg/endpointmanager/gc_test.go
  pkg/endpointmanager/host.go
  pkg/endpointmanager/manager.go
  pkg/endpointmanager/manager_test.go
  pkg/endpointmanager/policymap_pressure.go
  pkg/endpointmanager/policymap_pressure_test.go
  pkg/fqdn/bootstrap/fqdn_bootstrapper_test.go
  pkg/ipcache/metadata.go
  pkg/ipcache/types.go
  pkg/labels/oplabels.go
  pkg/logging/logfields/logfields.go
  pkg/logging/slog.go
  pkg/policy/lookup.go
  pkg/policy/resolve.go
  pkg/policy/resolve_test.go
Labels: sig/policy, release-note/misc, feature/slog

#39025 Documentation : Modification of eks-clustermesh-prep.rst
  Documentation/network/clustermesh/eks-clustermesh-prep.rst
Labels: area/documentation, release-note/misc, kind/community-contribution, needs-backport/1.15, needs-backport/1.16, needs-backport/1.17
