Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/contributing, @cilium/ci, @cilium/bpf, @cilium/docs, @cilium/build, @cilium/api, @cilium/hubble, @cilium/cli, @cilium/kubernetes, @cilium/health, @cilium/agent, @cilium/endpoint, @cilium/ipcache, @cilium/loadbalancer, @cilium/metrics, @cilium/policy, @cilium/proxy, @cilium/nonexistantteam, @cilium/helm, @cilium/operator, @cilium/aws, @cilium/azure, @cilium/ipam, @cilium/kvstore, @cilium/monitor, @cilium/docker, @cilium/vendor

add hint to make use of CLI cilium kernel-check in system requirements
  Documentation/install/system_requirements.rst
Owners: @cilium/docs

travis: remove Arm64 jobs from allow_failures
  .travis.yml
Owners: @cilium/janitors

travis: remove Arm64 jobs from allow_failures
  .travis.yml
Owners: @cilium/janitors

add hint to make use of CLI cilium kernel-check in system requirements
  Documentation/install/system_requirements.rst
Owners: @cilium/docs

docs: Reword paragraph on kernel required for adv. features
  Documentation/install/system_requirements.rst
Owners: @cilium/docs

docs: Update list of optional kernel requirements
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/install/system_requirements.rst
Owners: @cilium/docs

pkg/k8s: remove unused ContainerStatuses field
  pkg/k8s/factory_functions_test.go
  pkg/k8s/slim/k8s/apis/core/v1/generated.pb.go
  pkg/k8s/slim/k8s/apis/core/v1/generated.proto
  pkg/k8s/slim/k8s/apis/core/v1/types.go
  pkg/k8s/slim/k8s/apis/core/v1/zz_generated.deepcopy.go
  pkg/k8s/slim/k8s/apis/core/v1/zz_generated.deepequal.go
Owners: @cilium/kubernetes

contrib: Add release helper scripts
  .github/ISSUE_TEMPLATE/release_template.md
  Documentation/contributing/release/stable.rst
  contrib/release/prep-changelog.sh
  contrib/release/start-release.sh
  contrib/release/submit-release.sh
  contrib/release/tag-release.sh
Owners: @cilium/contributing

Add a `node` label to agent metrics.
  install/kubernetes/cilium/charts/agent/templates/servicemonitor.yaml
Owners: @cilium/kubernetes, @cilium/docs, @cilium/helm

test: Do not use 2379 for stateless-etcd
  test/k8sT/manifests/etcd-deployment.yaml
Owners: @cilium/ci

docs: Use '--address' options in kubectl port-forward examples
  Documentation/configuration/metrics.rst
  Documentation/gettingstarted/grafana.rst
  Documentation/gettingstarted/hubble-enable.rst
  Documentation/gettingstarted/hubble.rst
  Documentation/troubleshooting.rst
  examples/kubernetes/addons/prometheus/README.md
Owners: @cilium/docs, @cilium/kubernetes

test: Forward grafana port from k8s1 vagrant VM to the host
  test/Vagrantfile
Owners: @cilium/ci

test: Add a nightly policy stress test
  test/k8sT/StressPolicy.go
  test/k8sT/manifests.go
  test/k8sT/manifests/policy-stress-test.yaml
Owners: @cilium/ci

adding logs in strcutured way
  operator/main.go
Owners: @cilium/operator

adding info message in log
  operator/main.go
Owners: @cilium/operator

changing operator ID and identity
  operator/main.go
Owners: @cilium/operator

bpf: Fix clustermesh policy with endpoint-routes
  bpf/lib/l3.h
Owners: @cilium/bpf

contrib: Add release helper scripts
  .github/ISSUE_TEMPLATE/release_template.md
  Documentation/contributing/release/stable.rst
  contrib/release/prep-changelog.sh
  contrib/release/start-release.sh
  contrib/release/submit-release.sh
  contrib/release/tag-release.sh
Owners: @cilium/contributing

docs: Update list of optional kernel requirements
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/install/system_requirements.rst
Owners: @cilium/docs

docs: Reword paragraph on kernel required for adv. features
  Documentation/install/system_requirements.rst
Owners: @cilium/docs

ui: updated helm charts for hubble-ui 0.7
  install/kubernetes/cilium/charts/hubble-ui/files/envoy/envoy.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/configmap.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/svc.yaml
  install/kubernetes/cilium/charts/hubble-ui/values.yaml
  install/kubernetes/experimental-install.yaml
Owners: @cilium/kubernetes, @cilium/docs, @cilium/helm, @cilium/hubble

k8s: Add unit tests for createUpdateCRD
  pkg/k8s/apis/cilium.io/v2/client/register_test.go
Owners: @cilium/api, @cilium/kubernetes

k8s: Update CRDs (apiextensions) to v1
  examples/crds/ciliumclusterwidenetworkpolicies.yaml
  examples/crds/ciliumendpoints.yaml
  examples/crds/ciliumidentities.yaml
  examples/crds/ciliumnetworkpolicies.yaml
  examples/crds/ciliumnodes.yaml
  operator/crd.go
  operator/crd_test.go
  pkg/k8s/apis/cilium.io/v2/ccnp_types.go
  pkg/k8s/apis/cilium.io/v2/client/bindata.go
  pkg/k8s/apis/cilium.io/v2/client/register.go
  pkg/k8s/apis/cilium.io/v2/client/register_test.go
  pkg/k8s/apis/cilium.io/v2/cnp_types.go
  pkg/k8s/apis/cilium.io/v2/types.go
  pkg/k8s/apis/cilium.io/v2/validator/validator.go
Owners: @cilium/kubernetes, @cilium/operator, @cilium/api

k8s: Introduce poller interface
  pkg/k8s/apis/cilium.io/v2/client/register.go
  pkg/k8s/apis/cilium.io/v2/client/v1beta1.go
Owners: @cilium/api, @cilium/kubernetes

k8s: Construct v1 CRDs via helper
  pkg/k8s/apis/cilium.io/v2/client/register.go
Owners: @cilium/api, @cilium/kubernetes

k8s: Move useNodeCIDR test to appropriate file
  pkg/k8s/client_test.go
  pkg/k8s/init_test.go
Owners: @cilium/kubernetes

k8s, examples: Preserve unknown fields in {C,CC}NP
  examples/crds/ciliumclusterwidenetworkpolicies.yaml
  examples/crds/ciliumnetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/v2/ccnp_types.go
  pkg/k8s/apis/cilium.io/v2/client/bindata.go
  pkg/k8s/apis/cilium.io/v2/cnp_types.go
Owners: @cilium/kubernetes, @cilium/api

test: Fix incorrect policy referenced in error msg
  test/k8sT/Policies.go
Owners: @cilium/ci

k8s/version: Add capability check for v1 CRD
  pkg/k8s/version/version.go
Owners: @cilium/kubernetes

k8s: Support v1 & v1beta1 CRDs
  operator/crd.go
  operator/crd_test.go
  pkg/k8s/apis/cilium.io/v2/client/register.go
  pkg/k8s/apis/cilium.io/v2/client/register_test.go
  pkg/k8s/apis/cilium.io/v2/client/v1beta1.go
  pkg/k8s/init.go
Owners: @cilium/operator, @cilium/api, @cilium/kubernetes

Makefile: Generate v1 CRD explicitly
  Makefile
Owners: @cilium/build

k8s: Return descriptive error waiting for CRD
  pkg/k8s/apis/cilium.io/v2/client/register.go
  pkg/k8s/apis/cilium.io/v2/client/v1beta1.go
Owners: @cilium/api, @cilium/kubernetes

vendor: Bump controller-tools to latest
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-tools/pkg/crd/flatten.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/gen.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/known_types.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/crd.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/validation.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/zz_generated.markerhelp.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/schema.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/spec.go
  vendor/sigs.k8s.io/controller-tools/pkg/webhook/conv.go
  vendor/sigs.k8s.io/controller-tools/pkg/webhook/parser.go
  vendor/sigs.k8s.io/controller-tools/pkg/webhook/zz_generated.markerhelp.go
Owners: @cilium/vendor

daemon: report HTTP service unavailable (503) in unhealthy state
  daemon/cmd/agenthealth.go
Owners: @cilium/agent

lb: support mglev hash
  bpf/Makefile
  bpf/bpf_sock.c
  bpf/include/bpf/ctx/xdp.h
  bpf/init.sh
  bpf/lib/dbg.h
  bpf/lib/lb.h
  bpf/node_config.h
  cilium/cmd/bpf_lb_list.go
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  daemon/cmd/datapath.go
  daemon/cmd/loadbalancer.go
  pkg/bpf/map_linux.go
  pkg/datapath/linux/config/config.go
  pkg/datapath/loader/compile.go
  pkg/defaults/defaults.go
  pkg/k8s/watchers/pod.go
  pkg/k8s/watchers/watcher.go
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/zz_generated.deepcopy.go
  pkg/maps/lbmap/lbmap.go
  pkg/maps/lbmap/lbmap_mock.go
  pkg/maps/lbmap/zz_generated.deepcopy.go
  pkg/monitor/datapath_debug.go
  pkg/option/config.go
  pkg/service/const.go
  pkg/service/service.go
  pkg/service/service_test.go
  test/bpf/verifier-test.sh
  tools/maptool/main.go
Owners: @cilium/build, @cilium/bpf, @cilium/cli, @cilium/agent, @cilium/loadbalancer, @cilium/kubernetes, @cilium/ci, @cilium/janitors

dockerfile: remove private docker hub
  Dockerfile
Owners: @cilium/build

makefile: remove private mk
  Bytedance.mk
Owners: @cilium/janitors

makefile: remove private mk
  .gitlab-ci.yml
Owners: @cilium/janitors

agent: Add CILIUM_ENABLE_POLICY env into the helm chart.
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/clusterrole.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/clusterrolebinding.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
Owners: @cilium/kubernetes, @cilium/docs, @cilium/helm, @cilium/hubble

service: Fix panic when restoring services with enable-health-check-nodeport: false
  pkg/service/service.go
Owners: @cilium/loadbalancer

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium/janitors      Catch-all for code not otherwise owned
# @cilium/agent         Cilium Agent
# @cilium/aws           Integration with AWS
# @cilium/azure         Integration with Azure
# @cilium/bpf           BPF Data Path
# @cilium/build         Building and packaging
# @cilium/ci            Continuous integration, testing
# @cilium/cli           Commandline interfaces
# @cilium/contributing  Developer documentation & tools
# @cilium/docker        Docker plugin
# @cilium/docs          Documentation, examples
# @cilium/endpoint      Endpoint package
# @cilium/health        Cilium cluster health tool
# @cilium/hubble        Hubble integration
# @cilium/ipam          IPAM
# @cilium/kubernetes    K8s integration, K8s CNI plugin
# @cilium/kvstore       Key/Value store: Consul, etcd
# @cilium/loadbalancer  Load balancer
# @cilium/monitor       Cilium node monitor tool
# @cilium/operator      Cilium operator
# @cilium/policy        Policy behaviour
# @cilium/proxy         L7 proxy, Envoy
# @cilium/vendor        Vendoring, dependency management

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
/.github/ @cilium/contributing
/.github/workflows/ @cilium/ci
/.github/workflows/coccicheck.yaml @cilium/ci @cilium/bpf
/.github/workflows/docs.yaml @cilium/ci @cilium/docs
/.github/workflows/images.yaml @cilium/ci @cilium/build
/api/ @cilium/api
/api/v1/flow/ @cilium/api @cilium/hubble
/api/v1/observer/ @cilium/api @cilium/hubble
/api/v1/peer/ @cilium/api @cilium/hubble
/bpf/ @cilium/bpf
Makefile* @cilium/build
/bpf/Makefile* @cilium/build @cilium/bpf
/bpf/sockops/Makefile* @cilium/build @cilium/bpf
Dockerfile* @cilium/build
/bugtool/cmd/ @cilium/cli
/cilium/ @cilium/cli
/cilium/cmd/preflight_k8s_valid_cnp.go @cilium/kubernetes
/cilium-health/ @cilium/health
/cilium-health/cmd/ @cilium/health @cilium/cli
/contrib/ @cilium/contributing
/contrib/packaging/ @cilium/build
/contrib/vagrant/ @cilium/contributing
/contrib/checkpatch/ @cilium/bpf
/contrib/coccinelle/ @cilium/bpf
/daemon/ @cilium/agent
/daemon/cmd/datapath.* @cilium/bpf
/daemon/cmd/endpoint.* @cilium/endpoint
/daemon/cmd/health.* @cilium/health
/daemon/cmd/hubble.go @cilium/hubble
/daemon/cmd/ipcache.* @cilium/ipcache
/daemon/cmd/loadbalancer.* @cilium/loadbalancer
/daemon/cmd/metrics.* @cilium/metrics
/daemon/cmd/policy.* @cilium/policy
/daemon/cmd/prefilter.go @cilium/bpf
/daemon/cmd/proxy.go @cilium/proxy
/daemon/cmd/state.go @cilium/endpoint
/daemon/cmd/sysctl_linux.go @cilium/bpf
/Documentation/ @cilium/docs
/Documentation/cmdref @cilium/nonexistantteam
/Documentation/bpf.rst @cilium/bpf
/Documentation/contributing/ @cilium/contributing
/Documentation/envoy/ @cilium/proxy
/envoy/ @cilium/proxy
/examples/ @cilium/docs
/examples/crds/ @cilium/kubernetes
/examples/kubernetes/ @cilium/kubernetes
/examples/minikube/ @cilium/kubernetes
*.Jenkinsfile @cilium/ci
/hubble-relay/ @cilium/hubble
/hubble-relay.Dockerfile @cilium/hubble
/images @cilium/build
/install/kubernetes/ @cilium/kubernetes @cilium/docs @cilium/helm
/install/kubernetes/cilium/charts/hubble-relay @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
/install/kubernetes/cilium/charts/hubble-tls @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
/install/kubernetes/cilium/charts/hubble-ui @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
jenkinsfiles @cilium/ci
Jenkinsfile.nightly @cilium/ci
/operator/ @cilium/operator
/pkg/annotation @cilium/kubernetes
/pkg/api/ @cilium/api
/pkg/aws/ @cilium/aws
/pkg/azure/ @cilium/azure
/pkg/bpf/ @cilium/bpf
/pkg/byteorder/ @cilium/bpf @cilium/api
/pkg/client @cilium/api
/pkg/completion/ @cilium/proxy
/pkg/components/ @cilium/agent
/pkg/controller @cilium/agent
/pkg/counter @cilium/bpf
/pkg/datapath @cilium/bpf
/pkg/datapath/ipcache/ @cilium/ipcache
/pkg/defaults @cilium/agent
/pkg/elf @cilium/bpf
/pkg/endpoint/ @cilium/endpoint
/pkg/endpointmanager/ @cilium/endpoint
/pkg/envoy/ @cilium/proxy
/pkg/fqdn/ @cilium/agent
/pkg/health/ @cilium/health
/pkg/hubble/ @cilium/hubble
/pkg/identity @cilium/policy
/pkg/ipam/ @cilium/ipam
/pkg/ipam/allocator/aws/ @cilium/ipam @cilium/aws
/pkg/ipam/allocator/azure/ @cilium/ipam @cilium/azure
/pkg/ipam/allocator/operator/ @cilium/ipam @cilium/operator
/pkg/ipcache/ @cilium/ipcache
/pkg/ipmasq @cilium/agent
/pkg/k8s/ @cilium/kubernetes
/pkg/k8s/apis/cilium.io/v2/ @cilium/api @cilium/kubernetes
/pkg/k8s/client/clientset/versioned/ @cilium/api
/pkg/k8s/client/informers/ @cilium/api
/pkg/kafka/ @cilium/proxy
/pkg/kvstore/ @cilium/kvstore
/pkg/labels @cilium/policy @cilium/api
/pkg/launcher @cilium/agent
/pkg/loadbalancer @cilium/loadbalancer
/pkg/lock @cilium/agent
/pkg/logging/ @cilium/cli
/pkg/mac @cilium/bpf
/pkg/maps/ @cilium/bpf
/pkg/mcastmanager @cilium/bpf
/pkg/metrics @cilium/metrics
/pkg/monitor @cilium/monitor
/pkg/monitor/api @cilium/api
/pkg/monitor/datapath_debug.go @cilium/bpf
/pkg/monitor/format @cilium/cli
/pkg/monitor/payload @cilium/api
/pkg/mountinfo @cilium/bpf
/pkg/mtu @cilium/bpf
/pkg/multicast @cilium/bpf
/pkg/option @cilium/agent @cilium/cli
/pkg/pidfile @cilium/agent
/pkg/policy @cilium/policy
/pkg/policy/api/ @cilium/api
/pkg/policy/groups/aws/ @cilium/policy @cilium/aws
/pkg/proxy/ @cilium/proxy
/pkg/proxy/accesslog @cilium/api
/pkg/serializer @cilium/agent
/pkg/service @cilium/loadbalancer
/pkg/sysctl @cilium/bpf
/pkg/testutils/ @cilium/ci
/pkg/tuple @cilium/bpf
/plugins/cilium-cni/ @cilium/kubernetes
/plugins/cilium-docker/ @cilium/docker
/proxylib/ @cilium/proxy
/README.rst @cilium/docs
/test/ @cilium/ci
/test/bpf/ @cilium/ci @cilium/bpf
/test/Makefile* @cilium/ci @cilium/build
/tests/ @cilium/ci
Vagrantfile @cilium/ci
/Vagrantfile @cilium/contributing
/go.sum @cilium/vendor
/go.mod @cilium/vendor
/vagrant_box_defaults.rb @cilium/ci
/vendor/ @cilium/vendor
