Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/contributing, @cilium/ci, @cilium/bpf, @cilium/docs, @cilium/build, @cilium/api, @cilium/hubble, @cilium/cli, @cilium/kubernetes, @cilium/health, @cilium/agent, @cilium/endpoint, @cilium/ipcache, @cilium/loadbalancer, @cilium/metrics, @cilium/policy, @cilium/proxy, @cilium/nonexistantteam, @cilium/helm, @cilium/operator, @cilium/aws, @cilium/azure, @cilium/ipam, @cilium/kvstore, @cilium/monitor, @cilium/docker, @cilium/vendor

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium/janitors      Catch-all for code not otherwise owned
# @cilium/agent         Cilium Agent
# @cilium/aws           Integration with AWS
# @cilium/azure         Integration with Azure
# @cilium/bpf           BPF Data Path
# @cilium/build         Building and packaging
# @cilium/ci            Continuous integration, testing
# @cilium/cli           Commandline interfaces
# @cilium/contributing  Developer documentation & tools
# @cilium/docker        Docker plugin
# @cilium/docs          Documentation, examples
# @cilium/endpoint      Endpoint package
# @cilium/health        Cilium cluster health tool
# @cilium/hubble        Hubble integration
# @cilium/ipam          IPAM
# @cilium/kubernetes    K8s integration, K8s CNI plugin
# @cilium/kvstore       Key/Value store: Consul, etcd
# @cilium/loadbalancer  Load balancer
# @cilium/monitor       Cilium node monitor tool
# @cilium/operator      Cilium operator
# @cilium/policy        Policy behaviour
# @cilium/proxy         L7 proxy, Envoy
# @cilium/vendor        Vendoring, dependency management

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
/.github/ @cilium/contributing
/.github/workflows/ @cilium/ci
/.github/workflows/coccicheck.yaml @cilium/ci @cilium/bpf
/.github/workflows/docs.yaml @cilium/ci @cilium/docs
/.github/workflows/images.yaml @cilium/ci @cilium/build
/api/ @cilium/api
/api/v1/flow/ @cilium/api @cilium/hubble
/api/v1/observer/ @cilium/api @cilium/hubble
/api/v1/peer/ @cilium/api @cilium/hubble
/bpf/ @cilium/bpf
Makefile* @cilium/build
/bpf/Makefile* @cilium/build @cilium/bpf
/bpf/sockops/Makefile* @cilium/build @cilium/bpf
Dockerfile* @cilium/build
/bugtool/cmd/ @cilium/cli
/cilium/ @cilium/cli
/cilium/cmd/preflight_k8s_valid_cnp.go @cilium/kubernetes
/cilium-health/ @cilium/health
/cilium-health/cmd/ @cilium/health @cilium/cli
/contrib/ @cilium/contributing
/contrib/packaging/ @cilium/build
/contrib/vagrant/ @cilium/contributing
/contrib/checkpatch/ @cilium/bpf
/contrib/coccinelle/ @cilium/bpf
/daemon/ @cilium/agent
/daemon/cmd/datapath.* @cilium/bpf
/daemon/cmd/endpoint.* @cilium/endpoint
/daemon/cmd/health.* @cilium/health
/daemon/cmd/hubble.go @cilium/hubble
/daemon/cmd/ipcache.* @cilium/ipcache
/daemon/cmd/loadbalancer.* @cilium/loadbalancer
/daemon/cmd/metrics.* @cilium/metrics
/daemon/cmd/policy.* @cilium/policy
/daemon/cmd/prefilter.go @cilium/bpf
/daemon/cmd/proxy.go @cilium/proxy
/daemon/cmd/state.go @cilium/endpoint
/daemon/cmd/sysctl_linux.go @cilium/bpf
/Documentation/ @cilium/docs
/Documentation/cmdref @cilium/nonexistantteam
/Documentation/bpf.rst @cilium/bpf
/Documentation/contributing/ @cilium/contributing
/Documentation/envoy/ @cilium/proxy
/envoy/ @cilium/proxy
/examples/ @cilium/docs
/examples/crds/ @cilium/kubernetes
/examples/kubernetes/ @cilium/kubernetes
/examples/minikube/ @cilium/kubernetes
*.Jenkinsfile @cilium/ci
/hubble-relay/ @cilium/hubble
/hubble-relay.Dockerfile @cilium/hubble
/images @cilium/build
/install/kubernetes/ @cilium/kubernetes @cilium/docs @cilium/helm
/install/kubernetes/cilium/charts/hubble-relay @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
/install/kubernetes/cilium/charts/hubble-tls @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
/install/kubernetes/cilium/charts/hubble-ui @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
jenkinsfiles @cilium/ci
Jenkinsfile.nightly @cilium/ci
/operator/ @cilium/operator
/pkg/annotation @cilium/kubernetes
/pkg/api/ @cilium/api
/pkg/aws/ @cilium/aws
/pkg/azure/ @cilium/azure
/pkg/bpf/ @cilium/bpf
/pkg/byteorder/ @cilium/bpf @cilium/api
/pkg/client @cilium/api
/pkg/completion/ @cilium/proxy
/pkg/components/ @cilium/agent
/pkg/controller @cilium/agent
/pkg/counter @cilium/bpf
/pkg/datapath @cilium/bpf
/pkg/datapath/ipcache/ @cilium/ipcache
/pkg/defaults @cilium/agent
/pkg/elf @cilium/bpf
/pkg/endpoint/ @cilium/endpoint
/pkg/endpointmanager/ @cilium/endpoint
/pkg/envoy/ @cilium/proxy
/pkg/fqdn/ @cilium/agent
/pkg/health/ @cilium/health
/pkg/hubble/ @cilium/hubble
/pkg/identity @cilium/policy
/pkg/ipam/ @cilium/ipam
/pkg/ipam/allocator/aws/ @cilium/ipam @cilium/aws
/pkg/ipam/allocator/azure/ @cilium/ipam @cilium/azure
/pkg/ipam/allocator/operator/ @cilium/ipam @cilium/operator
/pkg/ipcache/ @cilium/ipcache
/pkg/ipmasq @cilium/agent
/pkg/k8s/ @cilium/kubernetes
/pkg/k8s/apis/cilium.io/v2/ @cilium/api @cilium/kubernetes
/pkg/k8s/client/clientset/versioned/ @cilium/api
/pkg/k8s/client/informers/ @cilium/api
/pkg/kafka/ @cilium/proxy
/pkg/kvstore/ @cilium/kvstore
/pkg/labels @cilium/policy @cilium/api
/pkg/launcher @cilium/agent
/pkg/loadbalancer @cilium/loadbalancer
/pkg/lock @cilium/agent
/pkg/logging/ @cilium/cli
/pkg/mac @cilium/bpf
/pkg/maps/ @cilium/bpf
/pkg/mcastmanager @cilium/bpf
/pkg/metrics @cilium/metrics
/pkg/monitor @cilium/monitor
/pkg/monitor/api @cilium/api
/pkg/monitor/datapath_debug.go @cilium/bpf
/pkg/monitor/format @cilium/cli
/pkg/monitor/payload @cilium/api
/pkg/mountinfo @cilium/bpf
/pkg/mtu @cilium/bpf
/pkg/multicast @cilium/bpf
/pkg/option @cilium/agent @cilium/cli
/pkg/pidfile @cilium/agent
/pkg/policy @cilium/policy
/pkg/policy/api/ @cilium/api
/pkg/policy/groups/aws/ @cilium/policy @cilium/aws
/pkg/proxy/ @cilium/proxy
/pkg/proxy/accesslog @cilium/api
/pkg/serializer @cilium/agent
/pkg/service @cilium/loadbalancer
/pkg/sysctl @cilium/bpf
/pkg/testutils/ @cilium/ci
/pkg/tuple @cilium/bpf
/plugins/cilium-cni/ @cilium/kubernetes
/plugins/cilium-docker/ @cilium/docker
/proxylib/ @cilium/proxy
/README.rst @cilium/docs
/test/ @cilium/ci
/test/bpf/ @cilium/ci @cilium/bpf
/test/Makefile* @cilium/ci @cilium/build
/tests/ @cilium/ci
Vagrantfile @cilium/ci
/Vagrantfile @cilium/contributing
/go.sum @cilium/vendor
/go.mod @cilium/vendor
/vagrant_box_defaults.rb @cilium/ci
/vendor/ @cilium/vendor

service: Add unit test for HealthCheckNodePort=false
  pkg/service/service_test.go
Owners: @cilium/loadbalancer

operator: Encase CNP status handover in CLI option
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  operator/ccnp_event.go
  operator/cnp_event.go
  operator/flags.go
Owners: @cilium/nonexistantteam, @cilium/operator

make: remove unused $(GOLANGVERSION) variable
  Makefile
Owners: @cilium/build

test: Enable host policy test with kube-proxy
  test/k8sT/Policies.go
Owners: @cilium/ci

examples: Update host policy example for kube-proxy
  examples/policies/host/lock-down-dev-vms.yaml
Owners: @cilium/docs

docs: Do not require kube-proxy-free in host firewall GSG
  Documentation/gettingstarted/host-firewall.rst
Owners: @cilium/docs

pkg/datapath: Remove unused feature maps
  pkg/datapath/maps/map.go
Owners: @cilium/bpf

docs/minikube: Update the step for minikube 1.12.1+
  Documentation/gettingstarted/minikube-install.rst
Owners: @cilium/docs

version: report GOOS/GOARCH of the target, not the build system
  Makefile.defs
  pkg/version/version.go
  pkg/version/version_test.go
Owners: @cilium/build, @cilium/janitors

Fixing Documentation Bug: Removing unwanted lines
  Documentation/concepts/networking/ipam/azure.rst
Owners: @cilium/docs

bpf: Bypass host fw for kube-proxy SNATed connections
  bpf/bpf_host.c
  bpf/lib/common.h
  bpf/lib/host_firewall.h
Owners: @cilium/bpf

service: Add unit test for HealthCheckNodePort=false
  pkg/service/service_test.go
Owners: @cilium/loadbalancer

service: Fix panic when restoring services with enable-health-check-nodeport: false
  pkg/service/service.go
Owners: @cilium/loadbalancer

daemon: report HTTP service unavailable (503) in unhealthy state
  daemon/cmd/agenthealth.go
Owners: @cilium/agent

agent: Add CILIUM_ENABLE_POLICY env into the helm chart.
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/clusterrole.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/clusterrolebinding.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/experimental-install.yaml
Owners: @cilium/kubernetes, @cilium/docs, @cilium/helm, @cilium/hubble

bpf: Bypass host fw for kube-proxy SNATed connections
  bpf/bpf_host.c
  bpf/lib/common.h
  bpf/lib/host_firewall.h
Owners: @cilium/bpf

version: report GOOS/GOARCH of the target, not the build system
  Makefile.defs
  pkg/version/version.go
  pkg/version/version_test.go
Owners: @cilium/build, @cilium/janitors

make: remove unused $(GOLANGVERSION) variable
  Makefile
Owners: @cilium/build

docs/minikube: Update the step for minikube 1.12.1+
  Documentation/gettingstarted/minikube-install.rst
Owners: @cilium/docs

bpf: Fix clustermesh policy with endpoint-routes
  bpf/lib/l3.h
Owners: @cilium/bpf

pkg/datapath: Remove unused feature maps
  pkg/datapath/maps/map.go
Owners: @cilium/bpf

docs: Do not require kube-proxy-free in host firewall GSG
  Documentation/gettingstarted/host-firewall.rst
Owners: @cilium/docs

adding info message in log
  operator/main.go
Owners: @cilium/operator

examples: Update host policy example for kube-proxy
  examples/policies/host/lock-down-dev-vms.yaml
Owners: @cilium/docs

test: Enable host policy test with kube-proxy
  test/k8sT/Policies.go
Owners: @cilium/ci

Fixing Documentation Bug: Removing unwanted lines
  Documentation/concepts/networking/ipam/azure.rst
Owners: @cilium/docs

operator: Encase CNP status handover in CLI option
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  operator/ccnp_event.go
  operator/cnp_event.go
  operator/flags.go
Owners: @cilium/nonexistantteam, @cilium/operator

changing operator ID and identity
  operator/main.go
Owners: @cilium/operator

adding logs in strcutured way
  operator/main.go
Owners: @cilium/operator

k8s: Fix missing status subresource on CiliumNode
  examples/crds/ciliumnodes.yaml
  pkg/k8s/apis/cilium.io/v2/client/bindata.go
  pkg/k8s/apis/cilium.io/v2/types.go
Owners: @cilium/kubernetes, @cilium/api

ipam: Warn when failing to update CN status
  pkg/ipam/node.go
Owners: @cilium/ipam

pkg/k8s: remove unused ContainerStatuses field
  pkg/k8s/factory_functions_test.go
  pkg/k8s/slim/k8s/apis/core/v1/generated.pb.go
  pkg/k8s/slim/k8s/apis/core/v1/generated.proto
  pkg/k8s/slim/k8s/apis/core/v1/types.go
  pkg/k8s/slim/k8s/apis/core/v1/zz_generated.deepcopy.go
  pkg/k8s/slim/k8s/apis/core/v1/zz_generated.deepequal.go
Owners: @cilium/kubernetes

dnsproxy: Use restored rules during restart
  daemon/cmd/fqdn.go
  daemon/cmd/state.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/restore.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/fqdn/restore/restore.go
  pkg/ipcache/ipcache.go
  pkg/ipcache/ipcache_test.go
  pkg/proxy/dns.go
  pkg/proxy/logger/epinfo.go
  pkg/proxy/logger/test/epinfo.go
  pkg/proxy/proxy.go
Owners: @cilium/agent, @cilium/endpoint, @cilium/ipcache, @cilium/proxy

daemon: Minimize DNS proxy downtime on restart
  daemon/cmd/daemon.go
  daemon/cmd/fqdn.go
  daemon/cmd/state.go
  pkg/datapath/fake/datapath.go
  pkg/datapath/iptables/iptables.go
  pkg/datapath/loader.go
  pkg/proxy/proxy.go
Owners: @cilium/agent, @cilium/endpoint, @cilium/bpf, @cilium/proxy

endpoint: Demote proxy stats not found warnings to debug level
  pkg/endpoint/endpoint.go
Owners: @cilium/endpoint

endpoint: Remove restored DNS rules
  daemon/cmd/daemon_test.go
  daemon/cmd/endpoint.go
  daemon/cmd/state.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_test.go
  pkg/endpoint/policy.go
  pkg/endpoint/redirect_test.go
  pkg/endpoint/regeneration/owner.go
  pkg/endpointmanager/manager_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
Owners: @cilium/agent, @cilium/endpoint

dnsproxy: Use restored Endpoints before Endpoints are available
  daemon/cmd/fqdn.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/fqdn/dnsproxy/proxy_test.go
Owners: @cilium/agent

endpoint: Update DNSRules on header rewrite
  daemon/cmd/daemon_test.go
  daemon/cmd/endpoint.go
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint_test.go
  pkg/endpoint/redirect_test.go
  pkg/endpoint/regeneration/owner.go
  pkg/endpointmanager/manager_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
Owners: @cilium/agent, @cilium/endpoint

fqdn: Limit the max processing in GetRules()
  pkg/fqdn/dnsproxy/proxy.go
Owners: @cilium/agent

test: Test DNS proxying while Cilium is restarting.
  test/k8sT/fqdn.go
Owners: @cilium/ci
