Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/maintainers, @cilium/api, @cilium/hubble, @cilium/operator, @cilium/bpf, @cilium/build, @cilium/cli, @cilium/kubernetes, @cilium/health, @cilium/contributing, @cilium/agent, @cilium/endpoint, @cilium/ipcache, @cilium/loadbalancer, @cilium/metrics, @cilium/policy, @cilium/proxy, @cilium/docs-structure, @cilium/nonexistantteam, @cilium/ipam, @cilium/aws, @cilium/azure, @cilium/docker, @cilium/ci-structure, @cilium/helm, @cilium/kvstore, @cilium/monitor

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium/janitors           Catch-all for code not otherwise owned
# @cilium/agent              Cilium Agent
# @cilium/aws                Integration with AWS
# @cilium/azure              Integration with Azure
# @cilium/bpf                BPF Data Path
# @cilium/build              Building and packaging
# @cilium/ci                 Continuous integration, testing
# @cilium/cli                Commandline interfaces
# @cilium/contributing       Developer documentation & tools
# @cilium/docker             Docker plugin
# @cilium/docs-structure     Documentation, examples
# @cilium/endpoint           Endpoint package
# @cilium/health             Cilium cluster health tool
# @cilium/hubble             Hubble integration
# @cilium/ipam               IPAM
# @cilium/kubernetes         K8s integration, K8s CNI plugin
# @cilium/kvstore            Key/Value store: Consul, etcd
# @cilium/loadbalancer       Load balancer
# @cilium/monitor            Cilium node monitor tool
# @cilium/operator           Cilium operator
# @cilium/policy             Policy behaviour
# @cilium/proxy              L7 proxy, Envoy
# @cilium/vendor             Vendoring, dependency management

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
/.github/workflows/ @cilium/maintainers
/api/ @cilium/api
/api/v1/flow/ @cilium/api @cilium/hubble
/api/v1/observer/ @cilium/api @cilium/hubble
/api/v1/operator/ @cilium/api @cilium/operator
/api/v1/peer/ @cilium/api @cilium/hubble
/bpf/ @cilium/bpf
Makefile* @cilium/build
/bpf/Makefile* @cilium/build @cilium/bpf
/bpf/sockops/Makefile* @cilium/build @cilium/bpf
Dockerfile* @cilium/build
/bugtool/cmd/ @cilium/cli
/cilium/ @cilium/cli
/cilium/cmd/preflight_k8s_valid_cnp.go @cilium/kubernetes
/cilium-health/ @cilium/health
/cilium-health/cmd/ @cilium/health @cilium/cli
/contrib/ @cilium/contributing
/contrib/packaging/ @cilium/build
/contrib/vagrant/ @cilium/contributing
/contrib/checkpatch/ @cilium/bpf
/contrib/coccinelle/ @cilium/bpf
/daemon/ @cilium/agent
/daemon/cmd/datapath.* @cilium/bpf
/daemon/cmd/endpoint.* @cilium/endpoint
/daemon/cmd/health.* @cilium/health
/daemon/cmd/hubble.go @cilium/hubble
/daemon/cmd/ipcache.* @cilium/ipcache
/daemon/cmd/kube_proxy.* @cilium/bpf
/daemon/cmd/loadbalancer.* @cilium/loadbalancer
/daemon/cmd/metrics.* @cilium/metrics
/daemon/cmd/policy.* @cilium/policy
/daemon/cmd/prefilter.go @cilium/bpf
/daemon/cmd/proxy.go @cilium/proxy
/daemon/cmd/state.go @cilium/endpoint
/daemon/cmd/sysctl_linux.go @cilium/bpf
/Documentation/ @cilium/docs-structure
/Documentation/_static/ @cilium/docs-structure
/Documentation/api.rst @cilium/agent @cilium/docs-structure
/Documentation/beta.rst @cilium/docs-structure
/Documentation/bpf.rst @cilium/bpf @cilium/docs-structure
/Documentation/check-build.sh @cilium/docs-structure
/Documentation/check-cmdref.sh @cilium/docs-structure
/Documentation/check-crd-compat-table.sh @cilium/docs-structure
/Documentation/check-examples.sh @cilium/docs-structure
/Documentation/cmdref/ @cilium/nonexistantteam
/Documentation/commit-access.rst @cilium/contributing @cilium/docs-structure
/Documentation/community.rst @cilium/contributing
/Documentation/concepts/ebpf/ @cilium/bpf @cilium/docs-structure
/Documentation/concepts/index.rst @cilium/docs-structure
/Documentation/concepts/kubernetes/ @cilium/kubernetes @cilium/docs-structure
/Documentation/concepts/networking/ipam/ @cilium/ipam @cilium/docs-structure
/Documentation/concepts/networking/ipam/eni* @cilium/ipam @cilium/aws @cilium/docs-structure
/Documentation/concepts/networking/ipam/azure* @cilium/ipam @cilium/azure @cilium/docs-structure
/Documentation/concepts/observability/hubble-configuration.rst @cilium/hubble @cilium/docs-structure
/Documentation/concepts/overview.rst @cilium/docs-structure
/Documentation/concepts/security/proxy/ @cilium/proxy @cilium/docs-structure
/Documentation/conf.py @cilium/docs-structure
/Documentation/configuration/index.rst @cilium/docs-structure
/Documentation/contributing/ @cilium/contributing @cilium/docs-structure
/Documentation/Dockerfile @cilium/docs-structure
/Documentation/gettinghelp.rst @cilium/contributing @cilium/docs-structure
/Documentation/gettingstarted/aws* @cilium/aws @cilium/docs-structure
/Documentation/gettingstarted/bandwidth-manager.rst @cilium/bpf @cilium/docs-structure
/Documentation/gettingstarted/cni-chaining-aws-cni.rst @cilium/aws @cilium/docs-structure
/Documentation/gettingstarted/cni-chaining-azure-cni.rst @cilium/azure @cilium/docs-structure
/Documentation/gettingstarted/docker.rst @cilium/docker @cilium/docs-structure
/Documentation/gettingstarted/http.rst @cilium/policy @cilium/docs-structure
/Documentation/gettingstarted/hubble* @cilium/hubble @cilium/docs-structure
/Documentation/gettingstarted/index.rst @cilium/docs-structure
/Documentation/gettingstarted/ipam.rst @cilium/ipam @cilium/docs-structure
/Documentation/gettingstarted/k8s-install-eks.rst @cilium/aws @cilium/docs-structure
/Documentation/gettingstarted/k8s-install-remove-aws-node.rst @cilium/aws @cilium/docs-structure
/Documentation/gettingstarted/k8s-install-aks* @cilium/azure @cilium/docs-structure
/Documentation/gettingstarted/kind-configure.rst @cilium/docs-structure
/Documentation/gettingstarted/kubeproxy-free.rst @cilium/loadbalancer @cilium/docs-structure
/Documentation/gettingstarted/policy-creation.rst @cilium/policy @cilium/docs-structure
/Documentation/glossary.rst @cilium/docs-structure
/Documentation/hubble.rst @cilium/hubble @cilium/docs-structure
/Documentation/images/re-request-review.png @cilium/contributing @cilium/docs-structure
/Documentation/index.rst @cilium/docs-structure
/Documentation/intro.rst @cilium/docs-structure
/Documentation/images/bpf* @cilium/bpf @cilium/docs-structure
/Documentation/images/hubble_getflows.png @cilium/hubble @cilium/docs-structure
/Documentation/Makefile @cilium/docs-structure
/Documentation/operations/performance/ @cilium/bpf @cilium/docs-structure
/Documentation/operations/system_requirements.rst @cilium/bpf @cilium/docs-structure
/Documentation/policy/ @cilium/policy @cilium/docs-structure
/Documentation/requirements.txt @cilium/docs-structure
/Documentation/spelling_wordlist.txt @cilium/docs-structure
/Documentation/tech-preview.rst @cilium/docs-structure
/Documentation/update-cmdref.sh @cilium/docs-structure
/Documentation/update-spelling_wordlist.sh @cilium/docs-structure
/Documentation/yaml.config @cilium/docs-structure
/envoy/ @cilium/proxy
/examples/ @cilium/docs-structure
/examples/crds/ @cilium/kubernetes
/examples/kubernetes/ @cilium/kubernetes
/examples/minikube/ @cilium/kubernetes
*.Jenkinsfile @cilium/ci-structure
/hubble-relay/ @cilium/hubble
/hubble-relay.Dockerfile @cilium/hubble
/images @cilium/build
/install/kubernetes/ @cilium/kubernetes @cilium/helm
/install/kubernetes/cilium/templates/hubble* @cilium/kubernetes @cilium/helm @cilium/hubble
jenkinsfiles @cilium/ci-structure
Jenkinsfile.nightly @cilium/ci-structure
/operator/ @cilium/operator
/pkg/annotation @cilium/kubernetes
/pkg/api/ @cilium/api
/pkg/aws/ @cilium/aws
/pkg/azure/ @cilium/azure
/pkg/bandwidth/ @cilium/bpf
/pkg/bpf/ @cilium/bpf
/pkg/byteorder/ @cilium/bpf @cilium/api
/pkg/client @cilium/api
/pkg/completion/ @cilium/proxy
/pkg/components/ @cilium/agent
/pkg/controller @cilium/agent
/pkg/counter @cilium/bpf
/pkg/datapath @cilium/bpf
/pkg/datapath/ipcache/ @cilium/ipcache
/pkg/defaults @cilium/agent
/pkg/ebpf @cilium/bpf
/pkg/elf @cilium/bpf
/pkg/endpoint/ @cilium/endpoint
/pkg/endpointmanager/ @cilium/endpoint
/pkg/envoy/ @cilium/proxy
/pkg/fqdn/ @cilium/agent
/pkg/health/ @cilium/health
/pkg/hubble/ @cilium/hubble
/pkg/identity @cilium/policy
/pkg/ipam/ @cilium/ipam
/pkg/ipam/allocator/aws/ @cilium/ipam @cilium/aws
/pkg/ipam/allocator/azure/ @cilium/ipam @cilium/azure
/pkg/ipam/allocator/clusterpool/ @cilium/ipam @cilium/operator
/pkg/ipcache/ @cilium/ipcache
/pkg/ipmasq @cilium/agent
/pkg/k8s/ @cilium/kubernetes
/pkg/k8s/apis/cilium.io/v2/ @cilium/api @cilium/kubernetes
/pkg/k8s/client/clientset/versioned/ @cilium/api
/pkg/k8s/client/informers/ @cilium/api
/pkg/kafka/ @cilium/proxy
/pkg/kvstore/ @cilium/kvstore
/pkg/labels @cilium/policy @cilium/api
/pkg/launcher @cilium/agent
/pkg/loadbalancer @cilium/loadbalancer
/pkg/lock @cilium/agent
/pkg/logging/ @cilium/cli
/pkg/mac @cilium/bpf
/pkg/maglev @cilium/loadbalancer
/pkg/maps/ @cilium/bpf
/pkg/mcastmanager @cilium/bpf
/pkg/metrics @cilium/metrics
/pkg/monitor @cilium/monitor
/pkg/monitor/api @cilium/api
/pkg/monitor/datapath_debug.go @cilium/bpf
/pkg/monitor/format @cilium/cli

images: re-write README.md
  images/README.md
Owners: @cilium/build

test: remove leftovers of running own registry in GKE tests
  test/clean-local-registry-tag.sh
  test/gke/registry-ip.sh
  test/gke/select-cluster.sh
  test/k8sT/manifests/registry-adder-gke/.helmignore
  test/k8sT/manifests/registry-adder-gke/Chart.yaml
  test/k8sT/manifests/registry-adder-gke/templates/_helpers.tpl
  test/k8sT/manifests/registry-adder-gke/templates/daemonset.yaml
  test/k8sT/manifests/registry-adder-gke/values.yaml
  test/make-images-push-to-local-registry.sh
Owners: @cilium/janitors

pkg/kvstore: fix etcd segmentation violation
  pkg/kvstore/etcd.go
Owners: @cilium/kvstore

images: Update iproute2 image to v5.11 rebase
  .github/workflows/images-legacy.yaml
  .travis.yml
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  images/runtime/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/test-verifier.yaml
Owners: @cilium/maintainers, @cilium/janitors, @cilium/build, @cilium/ci-structure

checkpatch: update image (skip backports, +1 check, -1 warning)
  .github/workflows/bpf-checks.yaml
Owners: @cilium/maintainers

Added imagePullSecrets for hubble-ui
  install/kubernetes/cilium/templates/hubble-ui-deployment.yaml
Owners: @cilium/kubernetes, @cilium/helm, @cilium/hubble

Update PR triggers and k8s/kernel pairs
  Documentation/contributing/testing/ci.rst
  Documentation/spelling_wordlist.txt
Owners: @cilium/contributing, @cilium/docs-structure

Revert "Offload baremetal "K8s all" builds to sub-jobs"
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
Owners: @cilium/ci-structure

Helm: add eni option to use iam-role
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-operator-serviceaccount.yaml
  install/kubernetes/cilium/values.yaml
Owners: @cilium/kubernetes, @cilium/helm

Add new metrics for dump_interrupts
  Documentation/operations/metrics.rst
  Documentation/operations/upgrade.rst
  examples/kubernetes/addons/prometheus/files/grafana-dashboards/cilium-dashboard.json
  examples/kubernetes/addons/prometheus/monitoring-example.yaml
  pkg/maps/ctmap/metrics.go
  pkg/metrics/metrics.go
Owners: @cilium/docs-structure, @cilium/kubernetes, @cilium/bpf, @cilium/metrics

service: Skip upsert of service for disabled IP family
  pkg/service/service.go
  pkg/service/service_test.go
Owners: @cilium/janitors

Revert "api: remove unused DNSPollNames property"
  api/v1/models/name_manager.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
Owners: @cilium/api

Revert "api: remove unused container runtime status from StatusResponse"
  Documentation/cheatsheet.rst
  Documentation/contributing/testing/e2e.rst
  Documentation/operations/troubleshooting.rst
  api/v1/models/status_response.go
  api/v1/models/zz_generated.deepcopy.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/cmd/status.go
  pkg/client/client.go
  test/helpers/kubectl.go
Owners: @cilium/docs-structure, @cilium/contributing, @cilium/api, @cilium/agent, @cilium/janitors

api: Fix status compatibility: KPR devices
  api/v1/models/kube_proxy_replacement.go
  api/v1/models/zz_generated.deepcopy.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/cmd/status.go
  pkg/client/client.go
Owners: @cilium/api, @cilium/agent

api: Fix status compatibility: masquerading
  api/v1/models/daemon_configuration_status.go
  api/v1/models/masquerading.go
  api/v1/models/zz_generated.deepcopy.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/cmd/config.go
  daemon/cmd/status.go
  pkg/client/client.go
  plugins/cilium-cni/interface.go
Owners: @cilium/api, @cilium/agent, @cilium/janitors

api: Fix status compatibility: SNAT exclusion CIDR
  api/v1/models/masquerading.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  daemon/cmd/status.go
Owners: @cilium/api, @cilium/agent

backporting: Update instructions for backporting workflow
  Documentation/contributing/release/backports.rst
Owners: @cilium/contributing, @cilium/docs-structure

jenkinsfiles: remove unused environment variables
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
Owners: @cilium/ci-structure

docs: Clarify titles for allow-all-endpoints examples
  Documentation/policy/language.rst
Owners: @cilium/policy, @cilium/docs-structure

api: add error 429 to relevant API calls
  api/v1/client/endpoint/delete_endpoint_id_responses.go
  api/v1/client/endpoint/get_endpoint_id_config_responses.go
  api/v1/client/endpoint/get_endpoint_id_healthz_responses.go
  api/v1/client/endpoint/get_endpoint_id_labels_responses.go
  api/v1/client/endpoint/get_endpoint_responses.go
  api/v1/client/endpoint/patch_endpoint_id_config_responses.go
  api/v1/client/endpoint/patch_endpoint_id_labels_responses.go
  api/v1/client/endpoint/patch_endpoint_id_responses.go
  api/v1/client/endpoint/put_endpoint_id_responses.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  api/v1/server/restapi/endpoint/delete_endpoint_id_responses.go
  api/v1/server/restapi/endpoint/get_endpoint_id_config_responses.go
  api/v1/server/restapi/endpoint/get_endpoint_id_healthz_responses.go
  api/v1/server/restapi/endpoint/get_endpoint_id_labels_responses.go
  api/v1/server/restapi/endpoint/get_endpoint_responses.go
  api/v1/server/restapi/endpoint/patch_endpoint_id_config_responses.go
  api/v1/server/restapi/endpoint/patch_endpoint_id_labels_responses.go
  api/v1/server/restapi/endpoint/patch_endpoint_id_responses.go
  api/v1/server/restapi/endpoint/put_endpoint_id_responses.go
Owners: @cilium/api
