Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/api, @cilium/bpf, @cilium/bpf-loader, @cilium/cli, @cilium/health, @eloycoto, @aanm, @ianvernon, @cilium/vagrant, @cilium/agent, @cilium/endpoint, @cilium/kubernetes, @cilium/loadbalancer, @cilium/docs, @scanf, @borkmann, @cilium/contributing, @cilium/proxy, @cilium/ci, @cilium/monitor, @cilium/kvstore, @cilium/policy, @cilium/docker, @cilium/vendor

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium-janitors      Catch-all for code not otherwise owned
# @cilium/agent         Cilium Agent
# @cilium/bpf           BPF Data Path
# @cilium/bpf-loader    Agent -> Kernel interaction
# @cilium/ci            Continuous integration, testing
# @cilium/cli           Commandline interfaces
# @cilium/contributing  Developer documentation
# @cilium/docker        Docker plugin
# @cilium/docs          Documentation, examples
# @cilium/endpoint      Endpoint package
# @cilium/health        Cilium cluster health tool
# @cilium/kubernetes    K8s integration, K8s CNI plugin
# @cilium/kvstore       Key/Value store: Consul, etcd
# @cilium/loadbalancer  Load balancer
# @cilium/monitor       Cilium node monitor tool
# @cilium/policy        Policy behaviour
# @cilium/proxy         L7 proxy, Envoy
# @cilium/vendor        Vendoring, dependency management
#
# Specific code owners:
# @eloycoto             Debian packaging
# @aanm @ianvernon      Docker packaging
# @scanf @borkmann      BPF documentation

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
api/ @cilium/api
bpf/ @cilium/bpf
bpf/*.sh @cilium/bpf-loader
bugtool/cmd/ @cilium/cli
cilium/ @cilium/cli
cilium-health/cmd/ @cilium/cli
cilium-health/launch/ @cilium/health
contrib/packaging/deb/ @eloycoto
contrib/packaging/docker/ @aanm @ianvernon
contrib/vagrant @cilium/vagrant
daemon/ @cilium/agent
daemon/bpf.sha @cilium/bpf
daemon/endpoint.go @cilium/endpoint
daemon/k8s_watcher.go @cilium/kubernetes
daemon/loadbalancer.* @cilium/loadbalancer
daemon/prefilter.go @cilium/bpf
daemon/services.* @cilium/loadbalancer
Documentation/ @cilium/docs
Documentation/bpf.rst @scanf @borkmann
Documentation/contributing.rst @cilium/contributing
envoy/ @cilium/proxy
examples/ @cilium/docs
examples/getting-started/Vagrantfile @cilium/vagrant
examples/kubernetes/ @cilium/kubernetes
examples/kubernetes-ingress/ @cilium/kubernetes
examples/mesos/Vagrantfile @cilium/vagrant
examples/minikube/ @cilium/kubernetes
ginkgo.Jenkinsfile @cilium/ci
kubernetes-upstream.Jenkinsfile @cilium/ci
ginkgo-all.Jenkinsfile @cilium/ci
ginkgo-kubernetes-all.Jenkinsfile @cilium/ci
Jenkinsfile @cilium/ci
Jenkinsfile.nightly @cilium/ci
monitor/ @cilium/monitor
monitor/payload @cilium/api
pkg/apierror/ @cilium/api
pkg/apipanic/ @cilium/api
pkg/apisocket/ @cilium/api
pkg/bpf/ @cilium/bpf
pkg/completion/ @cilium/proxy
pkg/endpoint/ @cilium/endpoint
pkg/envoy/ @cilium/proxy
pkg/health/ @cilium/health
pkg/ipcache/ @ianvernon
pkg/k8s/ @cilium/kubernetes
pkg/kafka/ @cilium/proxy
pkg/kvstore/ @cilium/kvstore
pkg/logging/ @cilium/cli
pkg/maps/ @cilium/bpf
pkg/monitor/datapath_debug.go @cilium/bpf
pkg/policy @cilium/policy
pkg/policy/api/ @cilium/api
pkg/policy/prefilter.go @cilium/bpf
pkg/proxy/ @cilium/proxy
pkg/proxy/accesslog @cilium/api
plugins/cilium-cni/ @cilium/kubernetes
plugins/cilium-docker/ @cilium/docker
README.md @cilium/docs
test/ @cilium/ci
test/Vagrantfile @cilium/vagrant
tests/ @cilium/ci
tests/k8s/Vagrantfile @cilium/vagrant
Vagrantfile @cilium/vagrant
vendor/ @cilium/vendor

Docs: review GRPC GSG
  Documentation/gettingstarted/grpc.rst
Owners: @cilium/docs

doc: Update spelling list and fix misspellings
  Documentation/gettingstarted/grpc.rst
  Documentation/spelling_wordlist.txt
Owners: @cilium/docs

CI: Add colors to builds.
  Jenkinsfile.nightly
  docs.Jenkinsfile
  ginkgo-all.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
Owners: @cilium/ci, @cilium/janitors

test: use cilium exec helper
  test/helpers/kubectl.go
Owners: @cilium/ci

ctmap: remove debug message
  pkg/maps/ctmap/ctmap.go
Owners: @cilium/bpf

doc: Update spelling list and fix misspellings
  Documentation/gettingstarted/grpc.rst
  Documentation/spelling_wordlist.txt
Owners: @cilium/docs

DOC: Review Getting help section
  Documentation/gettinghelp.rst
Owners: @cilium/docs

Documentation: Address PR comments
  Documentation/gettinghelp.rst
Owners: @cilium/docs

test: change archive type to zip
  Jenkinsfile.nightly
  ginkgo-all.Jenkinsfile
  ginkgo-kubernetes-all.Jenkinsfile
  ginkgo.Jenkinsfile
  test/archive_test_results.sh
Owners: @cilium/ci

test: use cilium exec helper
  test/helpers/kubectl.go
Owners: @cilium/ci

Revert "CI: Temporarily add retry 3 times logic in connectivity.go"
  test/runtime/connectivity.go
Owners: @cilium/ci

test: fix wrong IPv6 assignment
  test/runtime/connectivity.go
Owners: @cilium/ci

Test: Increase logs for Kube-dns issues
  test/helpers/kubectl.go
Owners: @cilium/ci

DOC: Review Getting help section
  Documentation/gettinghelp.rst
Owners: @cilium/docs

Documentation: Address PR comments
  Documentation/gettinghelp.rst
Owners: @cilium/docs
