Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/contributing, @cilium/ci, @cilium/bpf, @cilium/docs, @cilium/build, @cilium/api, @cilium/hubble, @cilium/cli, @cilium/kubernetes, @cilium/health, @cilium/agent, @cilium/endpoint, @cilium/ipcache, @cilium/loadbalancer, @cilium/metrics, @cilium/policy, @cilium/proxy, @cilium/nonexistantteam, @cilium/helm, @cilium/operator, @cilium/aws, @cilium/azure, @cilium/ipam, @cilium/kvstore, @cilium/monitor, @cilium/docker, @cilium/vendor

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium/janitors      Catch-all for code not otherwise owned
# @cilium/agent         Cilium Agent
# @cilium/aws           Integration with AWS
# @cilium/azure         Integration with Azure
# @cilium/bpf           BPF Data Path
# @cilium/build         Building and packaging
# @cilium/ci            Continuous integration, testing
# @cilium/cli           Commandline interfaces
# @cilium/contributing  Developer documentation & tools
# @cilium/docker        Docker plugin
# @cilium/docs          Documentation, examples
# @cilium/endpoint      Endpoint package
# @cilium/health        Cilium cluster health tool
# @cilium/hubble        Hubble integration
# @cilium/ipam          IPAM
# @cilium/kubernetes    K8s integration, K8s CNI plugin
# @cilium/kvstore       Key/Value store: Consul, etcd
# @cilium/loadbalancer  Load balancer
# @cilium/monitor       Cilium node monitor tool
# @cilium/operator      Cilium operator
# @cilium/policy        Policy behaviour
# @cilium/proxy         L7 proxy, Envoy
# @cilium/vendor        Vendoring, dependency management

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
/.github/ @cilium/contributing
/.github/workflows/ @cilium/ci
/.github/workflows/coccicheck.yaml @cilium/ci @cilium/bpf
/.github/workflows/docs.yaml @cilium/ci @cilium/docs
/.github/workflows/images.yaml @cilium/ci @cilium/build
/api/ @cilium/api
/api/v1/flow/ @cilium/api @cilium/hubble
/api/v1/observer/ @cilium/api @cilium/hubble
/api/v1/peer/ @cilium/api @cilium/hubble
/bpf/ @cilium/bpf
Makefile* @cilium/build
/bpf/Makefile* @cilium/build @cilium/bpf
/bpf/sockops/Makefile* @cilium/build @cilium/bpf
Dockerfile* @cilium/build
/bugtool/cmd/ @cilium/cli
/cilium/ @cilium/cli
/cilium/cmd/preflight_k8s_valid_cnp.go @cilium/kubernetes
/cilium-health/ @cilium/health
/cilium-health/cmd/ @cilium/health @cilium/cli
/contrib/ @cilium/contributing
/contrib/packaging/ @cilium/build
/contrib/vagrant/ @cilium/contributing
/contrib/checkpatch/ @cilium/bpf
/contrib/coccinelle/ @cilium/bpf
/daemon/ @cilium/agent
/daemon/cmd/datapath.* @cilium/bpf
/daemon/cmd/endpoint.* @cilium/endpoint
/daemon/cmd/health.* @cilium/health
/daemon/cmd/hubble.go @cilium/hubble
/daemon/cmd/ipcache.* @cilium/ipcache
/daemon/cmd/loadbalancer.* @cilium/loadbalancer
/daemon/cmd/metrics.* @cilium/metrics
/daemon/cmd/policy.* @cilium/policy
/daemon/cmd/prefilter.go @cilium/bpf
/daemon/cmd/proxy.go @cilium/proxy
/daemon/cmd/state.go @cilium/endpoint
/daemon/cmd/sysctl_linux.go @cilium/bpf
/Documentation/ @cilium/docs
/Documentation/cmdref @cilium/nonexistantteam
/Documentation/bpf.rst @cilium/bpf
/Documentation/contributing/ @cilium/contributing
/Documentation/envoy/ @cilium/proxy
/envoy/ @cilium/proxy
/examples/ @cilium/docs
/examples/crds/ @cilium/kubernetes
/examples/kubernetes/ @cilium/kubernetes
/examples/minikube/ @cilium/kubernetes
*.Jenkinsfile @cilium/ci
/hubble-relay/ @cilium/hubble
/hubble-relay.Dockerfile @cilium/hubble
/images @cilium/build
/install/kubernetes/ @cilium/kubernetes @cilium/docs @cilium/helm
/install/kubernetes/cilium/charts/hubble-relay @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
/install/kubernetes/cilium/charts/hubble-tls @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
/install/kubernetes/cilium/charts/hubble-ui @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
jenkinsfiles @cilium/ci
Jenkinsfile.nightly @cilium/ci
/operator/ @cilium/operator
/pkg/annotation @cilium/kubernetes
/pkg/api/ @cilium/api
/pkg/aws/ @cilium/aws
/pkg/azure/ @cilium/azure
/pkg/bpf/ @cilium/bpf
/pkg/byteorder/ @cilium/bpf @cilium/api
/pkg/client @cilium/api
/pkg/completion/ @cilium/proxy
/pkg/components/ @cilium/agent
/pkg/controller @cilium/agent
/pkg/counter @cilium/bpf
/pkg/datapath @cilium/bpf
/pkg/datapath/ipcache/ @cilium/ipcache
/pkg/defaults @cilium/agent
/pkg/elf @cilium/bpf
/pkg/endpoint/ @cilium/endpoint
/pkg/endpointmanager/ @cilium/endpoint
/pkg/envoy/ @cilium/proxy
/pkg/fqdn/ @cilium/agent
/pkg/health/ @cilium/health
/pkg/hubble/ @cilium/hubble
/pkg/identity @cilium/policy
/pkg/ipam/ @cilium/ipam
/pkg/ipam/allocator/aws/ @cilium/ipam @cilium/aws
/pkg/ipam/allocator/azure/ @cilium/ipam @cilium/azure
/pkg/ipam/allocator/operator/ @cilium/ipam @cilium/operator
/pkg/ipcache/ @cilium/ipcache
/pkg/ipmasq @cilium/agent
/pkg/k8s/ @cilium/kubernetes
/pkg/k8s/apis/cilium.io/v2/ @cilium/api @cilium/kubernetes
/pkg/k8s/client/clientset/versioned/ @cilium/api
/pkg/k8s/client/informers/ @cilium/api
/pkg/kafka/ @cilium/proxy
/pkg/kvstore/ @cilium/kvstore
/pkg/labels @cilium/policy @cilium/api
/pkg/launcher @cilium/agent
/pkg/loadbalancer @cilium/loadbalancer
/pkg/lock @cilium/agent
/pkg/logging/ @cilium/cli
/pkg/mac @cilium/bpf
/pkg/maps/ @cilium/bpf
/pkg/mcastmanager @cilium/bpf
/pkg/metrics @cilium/metrics
/pkg/monitor @cilium/monitor
/pkg/monitor/api @cilium/api
/pkg/monitor/datapath_debug.go @cilium/bpf
/pkg/monitor/format @cilium/cli
/pkg/monitor/payload @cilium/api
/pkg/mountinfo @cilium/bpf
/pkg/mtu @cilium/bpf
/pkg/multicast @cilium/bpf
/pkg/option @cilium/agent @cilium/cli
/pkg/pidfile @cilium/agent
/pkg/policy @cilium/policy
/pkg/policy/api/ @cilium/api
/pkg/policy/groups/aws/ @cilium/policy @cilium/aws
/pkg/proxy/ @cilium/proxy
/pkg/proxy/accesslog @cilium/api
/pkg/serializer @cilium/agent
/pkg/service @cilium/loadbalancer
/pkg/sysctl @cilium/bpf
/pkg/testutils/ @cilium/ci
/pkg/tuple @cilium/bpf
/plugins/cilium-cni/ @cilium/kubernetes
/plugins/cilium-docker/ @cilium/docker
/proxylib/ @cilium/proxy
/README.rst @cilium/docs
/test/ @cilium/ci
/test/bpf/ @cilium/ci @cilium/bpf
/test/Makefile* @cilium/ci @cilium/build
/tests/ @cilium/ci
Vagrantfile @cilium/ci
/Vagrantfile @cilium/contributing
/go.sum @cilium/vendor
/go.mod @cilium/vendor
/vagrant_box_defaults.rb @cilium/ci
/vendor/ @cilium/vendor

contrib: Add release helper scripts
  contrib/release/prep-changelog.sh
  contrib/release/start-release.sh
  contrib/release/submit-release.sh
  contrib/release/tag-release.sh
Owners: @cilium/contributing

operator: initialize gops in RootCmd Run func
  operator/main.go
Owners: @cilium/operator

daemon: listen on IPv4 and IPv6 for health endpoint
  daemon/cmd/agenthealth.go
  daemon/cmd/daemon_main.go
Owners: @cilium/agent

install/kubernetes: perform liveness/readiness probes on ::1 if IPv4 is disabled
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
Owners: @cilium/kubernetes, @cilium/docs, @cilium/helm

service: Add unit test for HealthCheckNodePort=false
  pkg/service/service_test.go
Owners: @cilium/loadbalancer

endpoint: Update proxy policy after adding redirects
  pkg/endpoint/bpf.go
Owners: @cilium/endpoint

docs: Fix cilium-operator cmdref
  Documentation/cmdref/cilium-operator.md
Owners: @cilium/nonexistantteam

identity: Perform identity lookup in remote kvstore caches too
  pkg/allocator/allocator.go
  pkg/identity/cache/cache.go
Owners: @cilium/janitors, @cilium/policy

vendor: Add github.com/jeremywohl/flatten v1.0.1
  go.mod
  go.sum
  vendor/github.com/jeremywohl/flatten/.gitignore
  vendor/github.com/jeremywohl/flatten/.travis.yml
  vendor/github.com/jeremywohl/flatten/LICENSE
  vendor/github.com/jeremywohl/flatten/README.md
  vendor/github.com/jeremywohl/flatten/TODO
  vendor/github.com/jeremywohl/flatten/doc.go
  vendor/github.com/jeremywohl/flatten/flatten.go
  vendor/modules.txt
Owners: @cilium/vendor

preflight: Refactor CCNP wildcard check
  pkg/k8s/apis/cilium.io/v2/validator/validator.go
Owners: @cilium/api, @cilium/kubernetes

vendor: Use fork of structured-merge-diff
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/reflectcache.go
Owners: @cilium/vendor

preflight: Add unknown fields check for validation
  pkg/k8s/apis/cilium.io/v2/validator/unknown_fields.go
  pkg/k8s/apis/cilium.io/v2/validator/unknown_fields_test.go
  pkg/k8s/apis/cilium.io/v2/validator/validator.go
  pkg/k8s/apis/cilium.io/v2/validator/validator_test.go
Owners: @cilium/api, @cilium/kubernetes

k8s: Mark NodeStatus as optional inside CiliumNode
  examples/crds/ciliumnodes.yaml
  pkg/k8s/apis/cilium.io/v2/client/bindata.go
  pkg/k8s/apis/cilium.io/v2/types.go
Owners: @cilium/kubernetes, @cilium/api

daemon/cmd: initialize gops in RootCmd execution function
  daemon/cmd/daemon_main.go
Owners: @cilium/agent

docs: Document restart-ginkgo CI-trigger phrase
  Documentation/contributing/testing/ci.rst
Owners: @cilium/contributing

daemon, operator, test: log gops start failure to stderr instead of stdout
  daemon/cmd/daemon_main.go
  operator/main.go
  test/test_suite_test.go
Owners: @cilium/agent, @cilium/operator, @cilium/ci

operator: initialize gops in RootCmd Run func
  operator/main.go
Owners: @cilium/operator

contrib: Add release helper scripts
  .github/ISSUE_TEMPLATE/release_template.md
  Documentation/contributing/release/stable.rst
  contrib/release/prep-changelog.sh
  contrib/release/start-release.sh
  contrib/release/submit-release.sh
  contrib/release/tag-release.sh
Owners: @cilium/contributing

docs: Reword paragraph on kernel required for adv. features
  Documentation/install/system_requirements.rst
Owners: @cilium/docs

adding logs in strcutured way
  operator/main.go
Owners: @cilium/operator

docs: Fix cilium-operator cmdref
  Documentation/cmdref/cilium-operator.md
Owners: @cilium/nonexistantteam

endpoint: Update proxy policy after adding redirects
  pkg/endpoint/bpf.go
Owners: @cilium/endpoint

identity: Perform identity lookup in remote kvstore caches too
  pkg/allocator/allocator.go
  pkg/identity/cache/cache.go
Owners: @cilium/janitors, @cilium/policy

operator: initialize gops in RootCmd Run func
  operator/main.go
Owners: @cilium/operator

daemon/cmd: initialize gops in RootCmd execution function
  daemon/daemon_main.go
Owners: @cilium/agent

service: Add unit test for HealthCheckNodePort=false
  pkg/service/service_test.go
Owners: @cilium/loadbalancer

contrib: Add release helper scripts
  contrib/release/prep-changelog.sh
  contrib/release/start-release.sh
  contrib/release/submit-release.sh
  contrib/release/tag-release.sh
Owners: @cilium/contributing

daemon, operator, test: log gops start failure to stderr instead of stdout
  daemon/daemon_main.go
  operator/main.go
  test/test_suite_test.go
Owners: @cilium/agent, @cilium/operator, @cilium/ci

adding info message in log
  operator/main.go
Owners: @cilium/operator

changing operator ID and identity
  operator/main.go
Owners: @cilium/operator

service: Fix panic when restoring services with enable-health-check-nodeport: false
  pkg/service/service.go
Owners: @cilium/loadbalancer

identity: Perform identity lookup in remote kvstore caches too
  pkg/allocator/allocator.go
  pkg/identity/cache/cache.go
Owners: @cilium/janitors, @cilium/policy

k8s: Fix missing status subresource on CiliumNode
  examples/crds/ciliumnodes.yaml
  pkg/k8s/apis/cilium.io/v2/client/bindata.go
  pkg/k8s/apis/cilium.io/v2/types.go
Owners: @cilium/kubernetes, @cilium/api

k8s: Mark NodeStatus as optional inside CiliumNode
  examples/crds/ciliumnodes.yaml
  pkg/k8s/apis/cilium.io/v2/client/bindata.go
  pkg/k8s/apis/cilium.io/v2/types.go
Owners: @cilium/kubernetes, @cilium/api

k8s: Fix non-strucural schema with CiliumNode
  pkg/k8s/apis/cilium.io/v2/client/register.go
Owners: @cilium/api, @cilium/kubernetes

k8s: Attach CRD schema version to CiliumNode
  pkg/k8s/apis/cilium.io/v2/client/register.go
Owners: @cilium/api, @cilium/kubernetes

k8s: Bump CRD schema version to 1.21.2
  pkg/k8s/apis/cilium.io/v2/register.go
Owners: @cilium/api, @cilium/kubernetes

docs: Update list of optional kernel requirements
  Documentation/gettingstarted/kubeproxy-free.rst
  Documentation/install/system_requirements.rst
Owners: @cilium/docs

service: Add unit test for HealthCheckNodePort=false
  pkg/service/service_test.go
Owners: @cilium/loadbalancer

daemon: report HTTP service unavailable (503) in unhealthy state
  daemon/cmd/agenthealth.go
Owners: @cilium/agent
