Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/api, @cilium/bpf, @cilium/bpf-loader, @cilium/cli, @cilium/health, @eloycoto, @aanm, @ianvernon, @cilium/vagrant, @cilium/agent, @cilium/endpoint, @cilium/kubernetes, @cilium/loadbalancer, @cilium/docs, @scanf, @borkmann, @cilium/contributing, @cilium/proxy, @cilium/ci, @cilium/monitor, @cilium/ipcache, @cilium/policy, @cilium/kvstore, @pkg/agent, @cilium/metrics, @cilium/option, @cilium/docker, @cilium/vendor

daemon: Clean up k8s health EP pidfile on startup
  cilium-health/launch/endpoint.go
  daemon/main.go
Owners: @cilium/health, @cilium/agent

pidfile: Add 'Remove' to provide pidfile deletion
  pkg/logging/logfields/logfields.go
  pkg/pidfile/pidfile.go
Owners: @cilium/cli, @cilium/agent

identity: Introduce reserved:unmanaged identity
  Documentation/concepts.rst
  bpf/lib/policy.h
  bpf/node_config.h
  daemon/bpf.sha
  daemon/daemon.go
  daemon/k8s_watcher.go
  pkg/identity/identity_test.go
  pkg/identity/numericidentity.go
  pkg/labels/labels.go
  pkg/policy/api/entity.go
Owners: @cilium/docs, @cilium/bpf, @cilium/agent, @cilium/kubernetes, @cilium/policy, @cilium/api

Spanstat: Validate that the duration is not negative when call End.
  pkg/spanstat/spanstat.go
Owners: @cilium/janitors

allocator: test: Disable GC in GC unit tests
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/allocator_test.go
Owners: @cilium/kvstore

test/k8sT: deploy xwing YAML
  test/k8sT/demos.go
Owners: @cilium/ci

loader: Log PIDs of compiler/linker on error
  pkg/datapath/loader/compile.go
Owners: @cilium/bpf-loader

cilium: generalize isBPFFS to use with other mount types
  pkg/bpf/bpffs.go
  pkg/mountinfo/mountinfo.go
Owners: @cilium/bpf

cilium: add bpf cgroup2 sockops program
  bpf/Makefile
  bpf/sockops/Makefile
  bpf/sockops/bpf_sockops.c
  bpf/sockops/bpf_sockops.h
  bpf/sockops/sockops_config.h
  daemon/bpf.sha
Owners: @cilium/bpf

cilium: bpf, sk_msg program for sockmap
  bpf/sockops/Makefile
  bpf/sockops/bpf_redir.c
  daemon/bpf.sha
Owners: @cilium/bpf

cilium: maps sockops handlers
  pkg/maps/sockmap/doc.go
  pkg/maps/sockmap/sockmap.go
Owners: @cilium/bpf

pkg: bpf: sockops helpers for loading and attaching programs
  Documentation/cmdref/cilium-agent.md
  daemon/daemon.go
  daemon/main.go
  pkg/datapath/loader/loader.go
  pkg/defaults/defaults.go
  pkg/mountinfo/mountinfo.go
  pkg/sockops/sockops.go
Owners: @cilium/docs, @cilium/agent, @cilium/bpf-loader, @cilium/bpf, @cilium/janitors

cilium: update BPF map types in Cilium golang side
  daemon/daemon.go
  pkg/bpf/map.go
Owners: @cilium/agent, @cilium/bpf

golang: endpoint -> policy map
  pkg/bpf/bpf.go
  pkg/bpf/map.go
  pkg/endpoint/bpf.go
  pkg/maps/cidrmap/cidrmap.go
  pkg/maps/ctmap/ctmap.go
  pkg/maps/eppolicymap/eppolicymap.go
  pkg/maps/ipcache/ipcache.go
  pkg/maps/lbmap/ipv4.go
  pkg/maps/lbmap/ipv6.go
  pkg/maps/lxcmap/lxcmap.go
  pkg/maps/metricsmap/metricsmap.go
  pkg/maps/policymap/policymap.go
  pkg/maps/proxymap/ipv4.go
  pkg/maps/proxymap/ipv6.go
  pkg/maps/sockmap/sockmap.go
  pkg/maps/tunnel/tunnel.go
Owners: @cilium/bpf, @cilium/endpoint

golang: endpoint -> policy map
  pkg/bpf/bpf.go
  pkg/bpf/map.go
  pkg/endpoint/bpf.go
  pkg/maps/cidrmap/cidrmap.go
  pkg/maps/ctmap/ctmap.go
  pkg/maps/eppolicymap/eppolicymap.go
  pkg/maps/ipcache/ipcache.go
  pkg/maps/lbmap/ipv4.go
  pkg/maps/lbmap/ipv6.go
  pkg/maps/lxcmap/lxcmap.go
  pkg/maps/metricsmap/metricsmap.go
  pkg/maps/policymap/policymap.go
  pkg/maps/proxymap/ipv4.go
  pkg/maps/proxymap/ipv6.go
  pkg/maps/sockmap/sockmap.go
  pkg/maps/tunnel/tunnel.go
Owners: @cilium/bpf, @cilium/endpoint

cilium: daemon, add command flag to enable/disable sockops
  Documentation/cmdref/cilium-agent.md
  daemon/daemon.go
  daemon/main.go
  pkg/option/config.go
Owners: @cilium/docs, @cilium/agent, @cilium/option

update Istio to v1.0.2
  Documentation/gettingstarted/istio.rst
  envoy/Makefile
  envoy/README.Istio.md
  test/k8sT/manifests/istio-cilium.yaml
Owners: @cilium/docs, @cilium/proxy, @cilium/ci

update Istio to v1.0.2
  Documentation/gettingstarted/istio.rst
  envoy/Makefile
  envoy/README.Istio.md
  test/k8sT/manifests/istio-cilium.yaml
Owners: @cilium/docs, @cilium/proxy, @cilium/ci

identity: Introduce reserved:unmanaged identity
  Documentation/concepts.rst
  bpf/lib/policy.h
  bpf/node_config.h
  daemon/bpf.sha
  daemon/daemon.go
  daemon/k8s_watcher.go
  pkg/identity/identity_test.go
  pkg/identity/numericidentity.go
  pkg/labels/labels.go
  pkg/policy/api/entity.go
Owners: @cilium/docs, @cilium/bpf, @cilium/agent, @cilium/kubernetes, @cilium/policy, @cilium/api

pidfile: Add 'Remove' to provide pidfile deletion
  pkg/logging/logfields/logfields.go
  pkg/pidfile/pidfile.go
Owners: @cilium/cli, @cilium/agent

daemon: Clean up k8s health EP pidfile on startup
  cilium-health/launch/endpoint.go
  daemon/main.go
Owners: @cilium/health, @cilium/agent

cilium: daemon, add command flag to enable/disable sockops
  Documentation/cmdref/cilium-agent.md
  daemon/bpf.sha
  daemon/daemon.go
  daemon/main.go
  pkg/option/config.go
Owners: @cilium/docs, @cilium/bpf, @cilium/agent, @cilium/option

envoy: Pass nil completion if Acks are not expected.
  pkg/envoy/server.go
  pkg/envoy/xds/ack.go
  pkg/envoy/xds/ack_test.go
Owners: @cilium/proxy

endpoint: Wait for CT cleanup to complete before BPF compilation
  pkg/endpoint/bpf.go
Owners: @cilium/endpoint

endpoint: Remove unnecessary endpoint lock on restore
  daemon/state.go
Owners: @cilium/agent

allocator: test: Disable GC in GC unit tests
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/allocator_test.go
Owners: @cilium/kvstore

allocator: Re-create slave keys when master key is missing
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/cache.go
Owners: @cilium/kvstore

allocator: Lock master key prefix when reusing existing cluster identity
  pkg/kvstore/allocator/allocator.go
Owners: @cilium/kvstore

envoy: Pass nil completion if Acks are not expected.
  pkg/envoy/server.go
  pkg/envoy/xds/ack.go
  pkg/envoy/xds/ack_test.go
Owners: @cilium/proxy

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium-janitors      Catch-all for code not otherwise owned
# @cilium/agent         Cilium Agent
# @cilium/bpf           BPF Data Path
# @cilium/bpf-loader    Agent -> Kernel interaction
# @cilium/ci            Continuous integration, testing
# @cilium/cli           Commandline interfaces
# @cilium/contributing  Developer documentation
# @cilium/docker        Docker plugin
# @cilium/docs          Documentation, examples
# @cilium/endpoint      Endpoint package
# @cilium/health        Cilium cluster health tool
# @cilium/kubernetes    K8s integration, K8s CNI plugin
# @cilium/kvstore       Key/Value store: Consul, etcd
# @cilium/loadbalancer  Load balancer
# @cilium/monitor       Cilium node monitor tool
# @cilium/policy        Policy behaviour
# @cilium/proxy         L7 proxy, Envoy
# @cilium/vendor        Vendoring, dependency management
#
# Specific code owners:
# @eloycoto             Debian packaging
# @aanm @ianvernon      Docker packaging
# @scanf @borkmann      BPF documentation

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
api/ @cilium/api
bpf/ @cilium/bpf
bpf/*.sh @cilium/bpf-loader
bugtool/cmd/ @cilium/cli
cilium/ @cilium/cli
cilium-health/cmd/ @cilium/cli
cilium-health/launch/ @cilium/health
contrib/packaging/deb/ @eloycoto
contrib/packaging/docker/ @aanm @ianvernon
contrib/vagrant @cilium/vagrant
daemon/ @cilium/agent
daemon/bpf.sha @cilium/bpf
daemon/endpoint.go @cilium/endpoint
daemon/k8s_watcher.go @cilium/kubernetes
daemon/loadbalancer.* @cilium/loadbalancer
daemon/prefilter.go @cilium/bpf
daemon/services.* @cilium/loadbalancer
Documentation/ @cilium/docs
Documentation/bpf.rst @scanf @borkmann
Documentation/contributing.rst @cilium/contributing
envoy/ @cilium/proxy
examples/ @cilium/docs
examples/getting-started/Vagrantfile @cilium/vagrant
examples/kubernetes/ @cilium/kubernetes
examples/kubernetes-ingress/ @cilium/kubernetes
examples/mesos/Vagrantfile @cilium/vagrant
examples/minikube/ @cilium/kubernetes
ginkgo.Jenkinsfile @cilium/ci
kubernetes-upstream.Jenkinsfile @cilium/ci
ginkgo-all.Jenkinsfile @cilium/ci
ginkgo-kubernetes-all.Jenkinsfile @cilium/ci
Jenkinsfile @cilium/ci
Jenkinsfile.nightly @cilium/ci
monitor/ @cilium/monitor
pkg/annotation @cilium/kubernetes
pkg/apierror/ @cilium/api
pkg/apipanic/ @cilium/api
pkg/apisocket/ @cilium/api
pkg/bpf/ @cilium/bpf
pkg/byteorder/ @cilium/bpf
pkg/client @cilium/api
pkg/completion/ @cilium/proxy
pkg/components/ @cilium/agent
pkg/controller @cilium/agent
pkg/counter @cilium/bpf
pkg/datapath @cilium/bpf
pkg/datapath/ipcache/ @cilium/ipcache
pkg/datapath/loader/ @cilium/bpf-loader
pkg/debugdetection @cilium/agent
pkg/defaults @cilium/agent
pkg/endpoint/ @cilium/endpoint
pkg/endpointmanager/ @cilium/endpoint
pkg/envoy/ @cilium/proxy
pkg/fqdn/ @cilium/agent
pkg/health/ @cilium/health
pkg/identity @cilium/policy
pkg/ipcache/ @cilium/ipcache
pkg/k8s/ @cilium/kubernetes
pkg/kafka/ @cilium/proxy
pkg/kvstore/ @cilium/kvstore
pkg/labels @cilium/policy
pkg/launcher @pkg/agent
pkg/loadbalancer @cilium/loadbalancer
pkg/lock @pkg/agent
pkg/logging/ @cilium/cli
pkg/mac @cilium/bpf
pkg/maps/ @cilium/bpf
pkg/metrics @cilium/metrics
pkg/monitor/datapath_debug.go @cilium/bpf
pkg/monitor/format @cilium/cli
pkg/monitor/payload @cilium/api
pkg/mountinfo @cilium/bpf
pkg/mtu @cilium/bpf
pkg/option @cilium/option
pkg/output @cilium/cli
pkg/pidfile @cilium/agent
pkg/policy @cilium/policy
pkg/policy/api/ @cilium/api
pkg/policy/prefilter.go @cilium/bpf
pkg/proxy/ @cilium/proxy
pkg/proxy/accesslog @cilium/api
pkg/serializer @cilium/agent
pkg/service @cilium/policy
plugins/cilium-cni/ @cilium/kubernetes
plugins/cilium-docker/ @cilium/docker
proxylib/ @cilium/proxy
README.md @cilium/docs
test/ @cilium/ci
test/Vagrantfile @cilium/vagrant
tests/ @cilium/ci
tests/k8s/Vagrantfile @cilium/vagrant
Vagrantfile @cilium/vagrant
vendor/ @cilium/vendor
