Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tophat, @cilium/github-sec, @cilium/ci-structure, @cilium/api

images: update cilium-{runtime,builder}
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8s/manifests/demo-customcalls.yaml
Owners: @cilium/api, @cilium/tophat

images: update cilium-{runtime,builder}
  .github/workflows/build-images-ci.yaml
  .travis.yml
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Owners: @cilium/github-sec, @cilium/ci-structure, @cilium/tophat

images: update cilium-{runtime,builder}
  .github/workflows/build-images-ci.yaml
  .travis.yml
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Owners: @cilium/github-sec, @cilium/ci-structure, @cilium/tophat, @cilium/api

.github/workflows: split the image tag update in two steps
  .github/workflows/build-images-base.yaml
Owners: @cilium/github-sec, @cilium/ci-structure

operator: fix CEP GC
  operator/cmd/k8s_cep_gc.go
  operator/watchers/cilium_endpoint.go
Owners: @cilium/tophat

Fix broken documentation URL in helm chart template
  install/kubernetes/cilium/templates/cilium-configmap.yaml
Owners: @cilium/tophat

policy: add fromNodes/toNodes section in C(C)NPs
  Documentation/security/policy/language.rst
  examples/policies/l3/entities/from_nodes.json
  examples/policies/l3/entities/from_nodes.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumclusterwidenetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/client/crds/v2/ciliumnetworkpolicies.yaml
  pkg/k8s/apis/cilium.io/utils/utils.go
  pkg/policy/api/egress.go
  pkg/policy/api/ingress.go
  pkg/policy/api/zz_generated.deepcopy.go
  pkg/policy/api/zz_generated.deepequal.go
Owners: @cilium/tophat, @cilium/api

.github/workflows: split the image tag update in two steps
  .github/workflows/build-images-base.yaml
Owners: @cilium/github-sec, @cilium/ci-structure

.github/workflows: split the image tag update in two steps
  .github/workflows/build-images-base.yaml
Owners: @cilium/github-sec, @cilium/ci-structure

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium/tophat             Catch-all for code not otherwise owned
# @cilium/api                API stability guarantees

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/tophat
.github/workflows/ @cilium/github-sec @cilium/ci-structure
api/ @cilium/api
/images/builder/update-cilium-builder-image.sh @cilium/github-sec
/images/runtime/update-cilium-runtime-image.sh @cilium/github-sec
pkg/apisocket/ @cilium/api
pkg/monitor/payload @cilium/api
pkg/policy/api/ @cilium/api
pkg/proxy/accesslog @cilium/api
