Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tophat, @cilium/github-sec, @cilium/ci-structure, @cilium/api, @cilium/sig-datapath, @cilium/metrics, @cilium/sig-policy, @cilium/sig-lb, @cilium/sig-agent, @cilium/wireguard, @cilium/sig-k8s, @cilium/docker, @cilium/proxy, @cilium/docs-structure, @cilium/contributing, @cilium/build, @cilium/loader, @cilium/sig-hubble, @cilium/cli, @cilium/health, @cilium/kvstore, @cilium/endpoint, @cilium/vendor

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium/tophat             Catch-all for code not otherwise owned
# @cilium/api                API stability guarantees
# @cilium/ci-structure       Continuous integration, testing
# @cilium/github-sec         GitHub security (handling of secrets, consequences of pull_request_target, etc.)

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/tophat
/.github/workflows/ @cilium/github-sec @cilium/ci-structure
/api/ @cilium/api
/images/builder/update-cilium-builder-image.sh @cilium/github-sec
/images/runtime/update-cilium-runtime-image.sh @cilium/github-sec
/pkg/api/ @cilium/api
/pkg/byteorder/ @cilium/sig-datapath @cilium/api
/pkg/client @cilium/api
/pkg/k8s/apis/cilium.io/v2/ @cilium/api
/pkg/datapath/linux/ipsec/xfrm_collector* @cilium/metrics
/pkg/k8s/client/clientset/versioned/ @cilium/api
/pkg/k8s/client/informers/ @cilium/api
/pkg/labels @cilium/sig-policy @cilium/api
/pkg/monitor/api @cilium/api
/pkg/monitor/payload @cilium/api
/pkg/policy/api/ @cilium/api
/pkg/proxy/accesslog @cilium/api
/pkg/redirectpolicy @cilium/sig-lb
/pkg/serializer @cilium/sig-agent
/pkg/service @cilium/sig-lb
/pkg/sysctl @cilium/sig-datapath
/pkg/testutils/ @cilium/ci-structure
/pkg/tuple @cilium/sig-datapath
/pkg/wireguard @cilium/wireguard
/plugins/cilium-cni/ @cilium/sig-k8s
/plugins/cilium-docker/ @cilium/docker
/proxylib/ @cilium/proxy
/README.rst @cilium/docs-structure
/SECURITY.md @cilium/contributing
/stable.txt @cilium/tophat
/test/ @cilium/ci-structure
/test/Makefile* @cilium/ci-structure @cilium/build
# Service handling tests
/test/k8s/services.go @cilium/sig-lb @cilium/ci-structure
/test/runtime/lb.go @cilium/sig-lb @cilium/ci-structure
# Datapath tests
/test/bpf/ @cilium/sig-datapath
/test/bpf/check-complexity.sh @cilium/loader
/test/bpf/verifier-test.sh @cilium/loader
/test/k8s/bandwidth.go @cilium/sig-datapath @cilium/ci-structure
/test/k8s/chaos.go @cilium/sig-datapath @cilium/ci-structure
/test/k8s/datapath_configuration.go @cilium/sig-datapath @cilium/ci-structure
/test/k8s/verifier.go @cilium/loader @cilium/ci-structure
/test/runtime/connectivity.go @cilium/sig-datapath @cilium/ci-structure
# Policy tests
/test/k8s/net_policies.go @cilium/sig-policy @cilium/ci-structure
/test/runtime/net_policies.go @cilium/sig-policy @cilium/ci-structure
# Hubble/monitoring tests
/test/k8s/hubble.go @cilium/sig-hubble @cilium/ci-structure
/test/runtime/monitor.go @cilium/sig-hubble @cilium/ci-structure
# L7 proxy tests
/test/k8s/fqdn.go @cilium/proxy @cilium/ci-structure
/test/k8s/kafka_policies.go @cilium/proxy @cilium/ci-structure
/test/runtime/cassandra.go @cilium/proxy @cilium/ci-structure
/test/runtime/fqdn.go @cilium/proxy @cilium/ci-structure
/test/runtime/kafka.go @cilium/proxy @cilium/ci-structure
# Standalone L4LB tests
/test/l4lb @cilium/sig-lb @cilium/ci-structure
/test/nat46x64 @cilium/sig-lb @cilium/ci-structure
# Misc. tests
/test/k8s/cli.go @cilium/cli @cilium/ci-structure
/test/k8s/health.go @cilium/health @cilium/ci-structure
/test/k8s/identity.go @cilium/sig-agent @cilium/ci-structure
/test/k8s/updates.go @cilium/sig-agent @cilium/ci-structure
/test/runtime/kvstore.go @cilium/kvstore @cilium/ci-structure
/test/runtime/chaos_agent.go @cilium/sig-agent @cilium/ci-structure
/test/runtime/chaos_endpoint.go @cilium/endpoint @cilium/ci-structure
/tools/ @cilium/contributing
/USERS.md @cilium/tophat
Vagrantfile @cilium/ci-structure
/Vagrantfile @cilium/contributing
/go.sum @cilium/vendor
/go.mod @cilium/vendor
/vagrant_box_defaults.rb @cilium/ci-structure
/vendor/ @cilium/vendor
/VERSION @cilium/tophat

Update CNI to 1.2.0
  images/runtime/cni-version.sh
Owners: @cilium/tophat

images: update cilium-{runtime,builder}
  .github/workflows/build-images-ci.yaml
  .travis.yml
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Owners: @cilium/github-sec, @cilium/ci-structure, @cilium/tophat

update image registry to quay.io
  test/controlplane/services/dualstack/manifests/echo-dpl.yaml
  test/k8s/manifests/demo-customcalls.yaml
  test/k8s/manifests/demo-named-port.yaml
  test/k8s/manifests/demo.yaml
  test/k8s/manifests/demo_ds.yaml
  test/k8s/manifests/demo_ds_local.yaml
  test/k8s/manifests/demo_hostfw.yaml
  test/k8s/manifests/echo-svc.yaml
  test/k8s/manifests/echoserver-cilium-hostnetns.yaml
  test/k8s/manifests/echoserver-hostnetns.yaml
  test/k8s/manifests/external_pod.yaml
  test/k8s/manifests/lrp-test.yaml
Owners: @cilium/ci-structure

Make cilium pprof listen address configurable
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  clustermesh-apiserver/main.go
  daemon/cmd/daemon_main.go
  hubble-relay/cmd/serve/serve.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/templates/hubble-relay/configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  operator/main.go
  operator/option/config.go
  pkg/defaults/defaults.go
  pkg/hubble/relay/defaults/defaults.go
  pkg/option/config.go
  pkg/pprof/pprof.go
Owners: @cilium/tophat

update golang to 1.18.10
  .github/workflows/lint-bpf-checks.yaml
  .github/workflows/lint-build-commits.yaml
  .github/workflows/lint-go.yaml
  .travis.yml
  GO_VERSION
  images/builder/Dockerfile
  images/cilium-docker-plugin/Dockerfile
  images/clustermesh-apiserver/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  images/runtime/Dockerfile
  images/scripts/update-golang-image.sh
  test/kubernetes-test.sh
  test/packet/scripts/install.sh
Owners: @cilium/github-sec, @cilium/ci-structure, @cilium/tophat

images: update cilium-{runtime,builder}
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8s/manifests/demo-customcalls.yaml
Owners: @cilium/api, @cilium/tophat, @cilium/ci-structure

Upgrade github.com/emicklei/go-restful to v2.16.0
  go.mod
  go.sum
  vendor/github.com/emicklei/go-restful/.gitignore
  vendor/github.com/emicklei/go-restful/.travis.yml
  vendor/github.com/emicklei/go-restful/CHANGES.md
  vendor/github.com/emicklei/go-restful/Makefile
  vendor/github.com/emicklei/go-restful/README.md
  vendor/github.com/emicklei/go-restful/container.go
  vendor/github.com/emicklei/go-restful/cors_filter.go
  vendor/github.com/emicklei/go-restful/curly.go
  vendor/github.com/emicklei/go-restful/custom_verb.go
  vendor/github.com/emicklei/go-restful/jsr311.go
  vendor/github.com/emicklei/go-restful/parameter.go
  vendor/github.com/emicklei/go-restful/path_processor.go
  vendor/github.com/emicklei/go-restful/request.go
  vendor/github.com/emicklei/go-restful/response.go
  vendor/github.com/emicklei/go-restful/route.go
  vendor/github.com/emicklei/go-restful/route_builder.go
  vendor/github.com/emicklei/go-restful/route_reader.go
  vendor/github.com/emicklei/go-restful/service_error.go
  vendor/github.com/emicklei/go-restful/web_service.go
  vendor/modules.txt
Owners: @cilium/vendor

images: Bump Hubble CLI to v0.11.1
  examples/hubble/hubble-cli.yaml
  images/cilium/Dockerfile
  images/cilium/hubble-version.sh
Owners: @cilium/tophat

@raybejjani is no longer an active committer
  MAINTAINERS.md
Owners: @cilium/tophat

WIP bpf: nodeport: remove revDNAT for local backends in bpf_lxc
  bpf/bpf_lxc.c
  bpf/lib/common.h
  bpf/lib/conntrack.h
  bpf/lib/nodeport.h
Owners: @cilium/tophat

DON'T MERGE: Test
  .github/workflows/conformance-eks.yaml
Owners: @cilium/github-sec, @cilium/ci-structure

gh/worflows: Fix encryption installation in ci-datapath
  .github/workflows/conformance-datapath.yaml
Owners: @cilium/github-sec, @cilium/ci-structure

Update CNI to 1.2.0
  images/runtime/cni-version.sh
Owners: @cilium/tophat

gh/workflows: Disable DSR when running with WireGuard
  .github/workflows/conformance-datapath.yaml
Owners: @cilium/github-sec, @cilium/ci-structure

images: update cilium-{runtime,builder}
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8s/manifests/demo-customcalls.yaml
Owners: @cilium/api, @cilium/tophat, @cilium/ci-structure

gh/workflows: Disable DSR when running with WireGuard
  .github/workflows/conformance-datapath.yaml
Owners: @cilium/github-sec, @cilium/ci-structure

gh/worflows: Fix encryption installation in ci-datapath
  .github/workflows/conformance-datapath.yaml
Owners: @cilium/github-sec, @cilium/ci-structure

bpf: nat: fix snat_v4_can_skip() for egress gateway
  bpf/lib/nat.h
Owners: @cilium/tophat

Update Layer 7 Protocol Visibility Document.
  Documentation/policy/visibility.rst
Owners: @cilium/tophat

test/helpers: Fix retry condition for CiliumExecContext
  test/helpers/kubectl.go
Owners: @cilium/ci-structure

test/helpers: Use switch case for readability
  test/helpers/kubectl.go
Owners: @cilium/ci-structure

Add sphinxcontrib-googleanalytics to doc requirements
  Documentation/requirements.txt
Owners: @cilium/tophat

docs: gettingstarted: add a note about EKS aws-node daemonset issues
  Documentation/gettingstarted/k8s-install-default.rst
Owners: @cilium/tophat

test: service: fix formatting of error msg in doFragmentedRequest()
  test/k8sT/service_helpers.go
Owners: @cilium/ci-structure

docs: installation: update eks install steps to patch aws-node daemonset
  Documentation/gettingstarted/k8s-install-helm.rst
Owners: @cilium/tophat

Fix crash of CES queue delay metric when CESTracker is nil
  operator/pkg/ciliumendpointslice/manager.go
Owners: @cilium/tophat

Bugtool: add flag to exclude object for endpoints
  Documentation/cmdref/cilium-bugtool.md
  bugtool/cmd/root.go
Owners: @cilium/tophat

test/helpers: Improve error msgs slightly around policy revision
  test/helpers/kubectl.go
Owners: @cilium/ci-structure

fqdn: dnsproxy: fix data race in dns proxy implementation
  pkg/fqdn/dnsproxy/proxy.go
Owners: @cilium/tophat

backporting: leave backport/author PRs alone
  Documentation/conf.py
  Documentation/contributing/release/backports.rst
  contrib/backporting/check-stable
Owners: @cilium/tophat

test/helpers: Disambiguate executor logs
  test/helpers/local_node.go
  test/helpers/node.go
Owners: @cilium/ci-structure

ipsec: Fix inverted arguments in ipSecReplaceStateIn
  pkg/datapath/linux/ipsec/ipsec_linux.go
Owners: @cilium/tophat

docs: update committer security requirements
  Documentation/contributing/governance/commit_access.rst
Owners: @cilium/tophat

Update CNI to 1.2.0
  images/runtime/cni-version.sh
Owners: @cilium/tophat

clustermesh: Add missing brackets of etcd option
  install/kubernetes/cilium/templates/clustermesh-apiserver/deployment.yaml
Owners: @cilium/tophat

docs: Fix inconsistency in IPsec command output
  Documentation/gettingstarted/encryption-ipsec.rst
Owners: @cilium/tophat

images: update cilium-{runtime,builder}
  .github/workflows/build-images-ci.yaml
  .travis.yml
  api/v1/Makefile
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/k8sT/manifests/demo-customcalls.yaml
Owners: @cilium/github-sec, @cilium/ci-structure, @cilium/tophat, @cilium/api

.github: Pin docker buildx version to v0.9.1
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-beta.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
Owners: @cilium/github-sec, @cilium/ci-structure

ipsec: Invert arguments in ipSecReplaceStateOut
  pkg/datapath/linux/ipsec/ipsec_linux.go
Owners: @cilium/tophat

contrib: Update PR template for backport
  contrib/backporting/check-stable
Owners: @cilium/tophat
