Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/api, @cilium/bpf, @cilium/cli, @cilium/kubernetes, @cilium/health, @eloycoto, @aanm, @ianvernon, @cilium/ci, @cilium/agent, @cilium/endpoint, @cilium/hubble, @cilium/ipcache, @cilium/loadbalancer, @cilium/metrics, @cilium/policy, @cilium/proxy, @cilium/docs, @scanf, @borkmann, @cilium/contributing, @cilium/operator, @cilium/kvstore, @pkg/agent, @cilium/monitor, @cilium/option, @cilium/docker, @cilium/vendor

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium-janitors      Catch-all for code not otherwise owned
# @cilium/agent         Cilium Agent
# @cilium/bpf           BPF Data Path
# @cilium/ci            Continuous integration, testing
# @cilium/cli           Commandline interfaces
# @cilium/contributing  Developer documentation
# @cilium/docker        Docker plugin
# @cilium/docs          Documentation, examples
# @cilium/endpoint      Endpoint package
# @cilium/health        Cilium cluster health tool
# @cilium/hubble        Hubble integration
# @cilium/kubernetes    K8s integration, K8s CNI plugin
# @cilium/kvstore       Key/Value store: Consul, etcd
# @cilium/loadbalancer  Load balancer
# @cilium/monitor       Cilium node monitor tool
# @cilium/operator      Cilium operator
# @cilium/policy        Policy behaviour
# @cilium/proxy         L7 proxy, Envoy
# @cilium/vendor        Vendoring, dependency management
#
# Specific code owners:
# @eloycoto             Debian packaging
# @aanm @ianvernon      Docker packaging
# @scanf @borkmann      BPF documentation

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
api/ @cilium/api
bpf/ @cilium/bpf
bugtool/cmd/ @cilium/cli
cilium/ @cilium/cli
cilium/cmd/preflight_k8s_valid_cnp.go @cilium/kubernetes
cilium-health/cmd/ @cilium/cli
cilium-health/launch/ @cilium/health
contrib/packaging/deb/ @eloycoto
contrib/packaging/docker/ @aanm @ianvernon
contrib/vagrant @cilium/ci
daemon/ @cilium/agent
daemon/cmd/datapath.* @cilium/bpf
daemon/cmd/endpoint.* @cilium/endpoint
daemon/cmd/health.* @cilium/health
daemon/cmd/hubble.go @cilium/hubble
daemon/cmd/ipcache.* @cilium/ipcache
daemon/cmd/loadbalancer.* @cilium/loadbalancer
daemon/cmd/metrics.* @cilium/metrics
daemon/cmd/policy.* @cilium/policy
daemon/cmd/prefilter.go @cilium/bpf
daemon/cmd/proxy.go @cilium/proxy
daemon/cmd/state.go @cilium/endpoint
daemon/cmd/sysctl_linux.go @cilium/bpf
Documentation/ @cilium/docs
Documentation/bpf.rst @scanf @borkmann
Documentation/contributing/ @cilium/contributing
envoy/ @cilium/proxy
examples/ @cilium/docs
examples/kubernetes/ @cilium/kubernetes
examples/minikube/ @cilium/kubernetes
*.Jenkinsfile @cilium/ci
hubble-relay/ @cilium/hubble
hubble-relay.Dockerfile @cilium/hubble
install/kubernetes/ @cilium/kubernetes
jenkinsfiles @cilium/ci
Jenkinsfile.nightly @cilium/ci
operator/ @cilium/operator
pkg/annotation @cilium/kubernetes
pkg/api/ @cilium/api
pkg/bpf/ @cilium/bpf
pkg/byteorder/ @cilium/bpf @cilium/api
pkg/client @cilium/api
pkg/completion/ @cilium/proxy
pkg/components/ @cilium/agent
pkg/controller @cilium/agent
pkg/counter @cilium/bpf
pkg/datapath @cilium/bpf
pkg/datapath/ipcache/ @cilium/ipcache
pkg/defaults @cilium/agent
pkg/elf @cilium/bpf
pkg/endpoint/ @cilium/endpoint
pkg/endpointmanager/ @cilium/endpoint
pkg/envoy/ @cilium/proxy
pkg/fqdn/ @cilium/agent
pkg/health/ @cilium/health
pkg/hubble/ @cilium/hubble
pkg/identity @cilium/policy
pkg/ipcache/ @cilium/ipcache
pkg/k8s/ @cilium/kubernetes
pkg/k8s/apis/cilium.io/v2/ @cilium/api
pkg/k8s/client/clientset/versioned/ @cilium/api
pkg/k8s/client/informers/ @cilium/api
pkg/kafka/ @cilium/proxy
pkg/kvstore/ @cilium/kvstore
pkg/labels @cilium/policy @cilium/api
pkg/launcher @pkg/agent
pkg/loadbalancer @cilium/loadbalancer
pkg/lock @pkg/agent
pkg/logging/ @cilium/cli
pkg/mac @cilium/bpf
pkg/maps/ @cilium/bpf
pkg/metrics @cilium/metrics
pkg/monitor @cilium/monitor
pkg/monitor/api @cilium/api
pkg/monitor/datapath_debug.go @cilium/bpf
pkg/monitor/format @cilium/cli
pkg/monitor/payload @cilium/api
pkg/mountinfo @cilium/bpf
pkg/mtu @cilium/bpf
pkg/option @cilium/option
pkg/pidfile @cilium/agent
pkg/policy @cilium/policy
pkg/policy/api/ @cilium/api
pkg/proxy/ @cilium/proxy
pkg/proxy/accesslog @cilium/api
pkg/serializer @cilium/agent
pkg/service @cilium/policy
pkg/sysctl @cilium/bpf
pkg/tuple @cilium/bpf
plugins/cilium-cni/ @cilium/kubernetes
plugins/cilium-docker/ @cilium/docker
proxylib/ @cilium/proxy
README.rst @cilium/docs
test/ @cilium/ci
tests/ @cilium/ci
Vagrantfile @cilium/ci
vendor/ @cilium/vendor
Makefile @cilium/janitors

test: Do not sleep in sessionAffinity tests
  test/helpers/kubectl.go
  test/k8sT/Services.go
Owners: @cilium/ci

test: Install Helm 3
  test/provision/k8s_install.sh
Owners: @cilium/ci

test: Use "cilium-dev" also for preflight.image
  test/helpers/kubectl.go
Owners: @cilium/ci

test: Overwrite existing taint when labeling nodes with NoSchedule
  test/helpers/kubectl.go
Owners: @cilium/ci

hubble: Change uint64 -> uint32 in getters interfaces
  daemon/cmd/daemon.go
  pkg/hubble/parser/getters/getters.go
  pkg/hubble/parser/seven/parser.go
  pkg/hubble/parser/seven/parser_test.go
  pkg/hubble/parser/threefour/parser.go
  pkg/hubble/parser/threefour/parser_test.go
  pkg/hubble/testutils/fake.go
Owners: @cilium/agent, @cilium/hubble

pkg/allocator: remove duplicated code
  pkg/allocator/allocator.go
Owners: @cilium/janitors

bpf: remap MARK_MAGIC_SNAT_DONE marker to avoid conflicts
  bpf/lib/common.h
  pkg/datapath/linux/linux_defaults/mark.go
Owners: @cilium/bpf

k8s/identitybackend: clarify usage of Get(ctx, key)
  pkg/k8s/identitybackend/identity.go
Owners: @cilium/kubernetes

test: Enable whitelisting of bad log messages
  test/helpers/cilium.go
  test/helpers/cons.go
  test/helpers/kubectl.go
  test/helpers/utils.go
  test/k8sT/Updates.go
Owners: @cilium/ci

datapath: Recreate NodePort CT entries if existing is stale
  bpf/lib/nodeport.h
Owners: @cilium/bpf

pkg/k8s: detect k8s mode if env variable K8S_NODE_NAME is set
  pkg/k8s/config.go
Owners: @cilium/kubernetes

daemon/operator: Fatal on startup when Identity CRD is enabled without k8s
  daemon/daemon_main.go
  operator/main.go
Owners: @cilium/agent, @cilium/operator

pkg/allocator: return ID stored by the local key
  pkg/allocator/allocator.go
  pkg/allocator/localkeys.go
Owners: @cilium/janitors

crd identity allocator: remove node reference for right identity
  pkg/allocator/allocator.go
  pkg/allocator/allocator_test.go
  pkg/k8s/identitybackend/identity.go
  pkg/kvstore/allocator/allocator.go
Owners: @cilium/janitors, @cilium/kubernetes, @cilium/kvstore

bpf: Pass packets to host via stack instead of redirecting
  bpf/bpf_lxc.c
  daemon/bpf.sha
Owners: @cilium/bpf, @cilium/agent

helm: add option to enable automatic etcd service name resolution
  Documentation/cmdref/kvstore.rst
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Owners: @cilium/docs, @cilium/kubernetes

k8s/identitybackend: acquire reference based on ID
  pkg/k8s/identitybackend/identity.go
Owners: @cilium/kubernetes

Add helm NOTES to the root folder
  install/kubernetes/cilium/templates/NOTES.txt
Owners: @cilium/kubernetes

datapath/iptables: Masquerade hairpin traffic that traversed the stack
  pkg/datapath/iptables/iptables.go
  pkg/datapath/linux/linux_defaults/mark.go
Owners: @cilium/bpf

k8s/identitybackend: add getByID to retrieve identity from store
  pkg/k8s/identitybackend/identity.go
Owners: @cilium/kubernetes

connectivity-check: Add hostport checks
  examples/kubernetes/connectivity-check/connectivity-check.yaml
  examples/kubernetes/connectivity-check/echo-b.yaml
  examples/kubernetes/connectivity-check/pod-to-b-intra-node-hostport.yaml
  examples/kubernetes/connectivity-check/pod-to-b-multi-node-hostport.yaml
Owners: @cilium/kubernetes

test: Install Helm 3
  test/provision/k8s_install.sh
Owners: @cilium/ci

node/manager: Remove health IPs from ipcache when node is deleted
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
Owners: @cilium/janitors

test: Use "cilium-dev" also for preflight.image
  test/helpers/kubectl.go
Owners: @cilium/ci

datapath: Recreate CT entry without removing stale equivalent
  bpf/bpf_lxc.c
  daemon/bpf.sha
Owners: @cilium/bpf, @cilium/agent

test: Fix test/print-node-ip calls
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  test/print-node-ip.sh
Owners: @cilium/ci

node/manager: Only delete node IPs from ipcache which have also been added
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
Owners: @cilium/janitors

test: Remove dead code from get-vagrant-kubeconfig.sh
  test/get-vagrant-kubeconfig.sh
Owners: @cilium/ci

operator: add Info message when a identity is GC in CRD mode
  operator/k8s_identity.go
Owners: @cilium/operator

node/manager: Restore node IP ipcache behavior
  Documentation/install/upgrade.rst
  daemon/daemon.go
  daemon/status_test.go
  pkg/ipcache/fake/ipcache.go
  pkg/ipcache/fake/ipcache_test.go
  pkg/node/manager/manager.go
  pkg/node/manager/manager_test.go
  pkg/option/config.go
Owners: @cilium/docs, @cilium/agent, @cilium/ipcache, @cilium/janitors, @cilium/option

test: Run kubectl in test VM for older K8s releases
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  test/vagrant-ci-start.sh
Owners: @cilium/ci

test: Add test to trigger stale conntrack issue
  test/k8sT/Services.go
Owners: @cilium/ci

bpf: Preserve source identity for hairpin via stack
  bpf/bpf_lxc.c
  daemon/bpf.sha
Owners: @cilium/bpf, @cilium/agent

test: Add portmap conformance test for the connectivity-check to pass
  test/k8sT/Conformance.go
Owners: @cilium/ci

bpf: Preserve source identity for hairpin via stack
  bpf/bpf_lxc.c
  daemon/bpf.sha
Owners: @cilium/bpf, @cilium/agent

test: Add portmap conformance test for the connectivity-check to pass
  test/k8sT/Conformance.go
Owners: @cilium/ci

Prepare for release v1.7.3
  .github/cilium-actions.yml
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Owners: @cilium/janitors, @cilium/kubernetes, @cilium/operator

Prepare for release v1.7.3
  .github/cilium-actions.yml
  AUTHORS
  CHANGELOG.md
  VERSION
  install/kubernetes/cilium/Chart.yaml
  install/kubernetes/cilium/charts/agent/Chart.yaml
  install/kubernetes/cilium/charts/config/Chart.yaml
  install/kubernetes/cilium/charts/managed-etcd/Chart.yaml
  install/kubernetes/cilium/charts/nodeinit/Chart.yaml
  install/kubernetes/cilium/charts/operator/Chart.yaml
  install/kubernetes/cilium/charts/preflight/Chart.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Owners: @cilium/janitors, @cilium/kubernetes, @cilium/operator

Update stable releases
  .github/cilium-actions.yml
  README.rst
Owners: @cilium/janitors, @cilium/docs

pkg/k8s: add missing support for multi-stack
  pkg/k8s/factory_functions.go
  pkg/k8s/factory_functions_test.go
  pkg/k8s/types/types.go
  pkg/k8s/types/zz_generated.deepcopy.go
  pkg/k8s/watchers/pod.go
  pkg/strings/slices.go
  pkg/strings/slices_test.go
Owners: @cilium/kubernetes, @cilium/janitors
