Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/contributing, @cilium/ci, @cilium/bpf, @cilium/docs, @cilium/build, @cilium/api, @cilium/hubble, @cilium/cli, @cilium/kubernetes, @cilium/health, @cilium/agent, @cilium/endpoint, @cilium/ipcache, @cilium/loadbalancer, @cilium/metrics, @cilium/policy, @cilium/proxy, @cilium/nonexistantteam, @cilium/helm, @cilium/operator, @cilium/aws, @cilium/azure, @cilium/ipam, @cilium/kvstore, @cilium/monitor, @cilium/docker, @cilium/vendor

test: fix runtime tests after removal of DNS poller
  test/runtime/fqdn.go
Owners: @cilium/ci

proxy/accesslog: remove DNSSourceAgentPoller
  pkg/hubble/parser/seven/parser.go
  pkg/monitor/logrecord.go
  pkg/proxy/accesslog/record.go
Owners: @cilium/hubble, @cilium/monitor, @cilium/api

envoy: don't use deprecated listener and HTTP filter names
  pkg/envoy/server.go
Owners: @cilium/proxy

helm: Remove default toleration on hubble-relay deployment
  install/kubernetes/cilium/charts/hubble-relay/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-relay/values.yaml
  install/kubernetes/experimental-install.yaml
Owners: @cilium/kubernetes, @cilium/docs, @cilium/helm, @cilium/hubble

run with race detector
  Dockerfile
  Makefile.defs
  Makefile.docker
  cilium-dev.Dockerfile
  cilium-docker-plugin.Dockerfile
  cilium-operator-aws.Dockerfile
  cilium-operator-azure.Dockerfile
  cilium-operator-generic.Dockerfile
  cilium-operator.Dockerfile
  hubble-relay.Dockerfile
  images/cilium/Dockerfile
  images/hubble-relay/Dockerfile
  images/operator/Dockerfile
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
  test/helpers/cons.go
Owners: @cilium/build, @cilium/janitors, @cilium/hubble, @cilium/ci

ci: add handling of race jenkins parameter
  jenkinsfiles/ginkgo-gke.Jenkinsfile
  jenkinsfiles/ginkgo-kernel.Jenkinsfile
  jenkinsfiles/ginkgo-kubernetes-all.Jenkinsfile
  jenkinsfiles/ginkgo-runtime-kernel.Jenkinsfile
  jenkinsfiles/kubernetes-upstream.Jenkinsfile
Owners: @cilium/ci

docs: add race detection pr triggers
  Documentation/contributing/testing/ci.rst
Owners: @cilium/contributing

cilium: encrypt-node creates two IPsec tunnels but only uses one
  pkg/datapath/linux/node.go
Owners: @cilium/bpf

k8s/api: Define and register CiliumLocalRedirectPolicy CRDs
  Makefile
  examples/crds/ciliumclusterwidelocalredirectpolicies.yaml
  examples/crds/ciliumlocalredirectpolicies.yaml
  install/kubernetes/cilium/charts/agent/templates/clusterrole.yaml
  install/kubernetes/cilium/charts/operator/templates/clusterrole.yaml
  install/kubernetes/cilium/charts/preflight/templates/clusterrole.yaml
  install/kubernetes/experimental-install.yaml
  install/kubernetes/quick-install.yaml
  pkg/k8s/apis/cilium.io/v2/cclrp_types.go
  pkg/k8s/apis/cilium.io/v2/client/bindata.go
  pkg/k8s/apis/cilium.io/v2/client/register.go
  pkg/k8s/apis/cilium.io/v2/clrp_types.go
  pkg/k8s/apis/cilium.io/v2/register.go
  pkg/k8s/apis/cilium.io/v2/zz_generated.deepcopy.go
  pkg/k8s/apis/cilium.io/v2/zz_generated.deepequal.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2/cilium.io_client.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2/ciliumclusterwidelocalredirectpolicy.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2/ciliumlocalredirectpolicy.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2/fake/fake_cilium.io_client.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2/fake/fake_ciliumclusterwidelocalredirectpolicy.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2/fake/fake_ciliumlocalredirectpolicy.go
  pkg/k8s/client/clientset/versioned/typed/cilium.io/v2/generated_expansion.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2/ciliumclusterwidelocalredirectpolicy.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2/ciliumlocalredirectpolicy.go
  pkg/k8s/client/informers/externalversions/cilium.io/v2/interface.go
  pkg/k8s/client/informers/externalversions/generic.go
  pkg/k8s/client/listers/cilium.io/v2/ciliumclusterwidelocalredirectpolicy.go
  pkg/k8s/client/listers/cilium.io/v2/ciliumlocalredirectpolicy.go
  pkg/k8s/client/listers/cilium.io/v2/expansion_generated.go
Owners: @cilium/build, @cilium/kubernetes, @cilium/docs, @cilium/helm, @cilium/api

datapath/service: Introduce local redirect service
  Documentation/cmdref/cilium_service_update.md
  api/v1/models/service_spec.go
  api/v1/openapi.yaml
  api/v1/server/embedded_spec.go
  bpf/lib/common.h
  cilium/cmd/service_update.go
  daemon/cmd/loadbalancer.go
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/loadbalancer_test.go
  pkg/maps/lbmap/ipv4.go
  pkg/maps/lbmap/ipv6.go
  pkg/maps/lbmap/lbmap.go
  pkg/maps/lbmap/types.go
  pkg/service/service.go
  pkg/service/service_test.go
  test/helpers/kubectl.go
Owners: @cilium/nonexistantteam, @cilium/api, @cilium/bpf, @cilium/cli, @cilium/loadbalancer, @cilium/ci

pkg/k8s Add service type to Service
  pkg/k8s/service.go
  pkg/k8s/service_test.go
Owners: @cilium/kubernetes

pkg/loadbalancer Define L4Type as an alias
  pkg/loadbalancer/loadbalancer.go
Owners: @cilium/loadbalancer

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium/janitors      Catch-all for code not otherwise owned
# @cilium/agent         Cilium Agent
# @cilium/aws           Integration with AWS
# @cilium/azure         Integration with Azure
# @cilium/bpf           BPF Data Path
# @cilium/build         Building and packaging
# @cilium/ci            Continuous integration, testing
# @cilium/cli           Commandline interfaces
# @cilium/contributing  Developer documentation & tools
# @cilium/docker        Docker plugin
# @cilium/docs          Documentation, examples
# @cilium/endpoint      Endpoint package
# @cilium/health        Cilium cluster health tool
# @cilium/hubble        Hubble integration
# @cilium/ipam          IPAM
# @cilium/kubernetes    K8s integration, K8s CNI plugin
# @cilium/kvstore       Key/Value store: Consul, etcd
# @cilium/loadbalancer  Load balancer
# @cilium/monitor       Cilium node monitor tool
# @cilium/operator      Cilium operator
# @cilium/policy        Policy behaviour
# @cilium/proxy         L7 proxy, Envoy
# @cilium/vendor        Vendoring, dependency management

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
/.github/ @cilium/contributing
/.github/workflows/ @cilium/ci
/.github/workflows/coccicheck.yaml @cilium/ci @cilium/bpf
/.github/workflows/docs.yaml @cilium/ci @cilium/docs
/.github/workflows/images.yaml @cilium/ci @cilium/build
/api/ @cilium/api
/api/v1/flow/ @cilium/api @cilium/hubble
/api/v1/observer/ @cilium/api @cilium/hubble
/api/v1/peer/ @cilium/api @cilium/hubble
/bpf/ @cilium/bpf
Makefile* @cilium/build
/bpf/Makefile* @cilium/build @cilium/bpf
/bpf/sockops/Makefile* @cilium/build @cilium/bpf
Dockerfile* @cilium/build
/bugtool/cmd/ @cilium/cli
/cilium/ @cilium/cli
/cilium/cmd/preflight_k8s_valid_cnp.go @cilium/kubernetes
/cilium-health/ @cilium/health
/cilium-health/cmd/ @cilium/health @cilium/cli
/contrib/ @cilium/contributing
/contrib/packaging/ @cilium/build
/contrib/vagrant/ @cilium/contributing
/contrib/checkpatch/ @cilium/bpf
/contrib/coccinelle/ @cilium/bpf
/daemon/ @cilium/agent
/daemon/cmd/datapath.* @cilium/bpf
/daemon/cmd/endpoint.* @cilium/endpoint
/daemon/cmd/health.* @cilium/health
/daemon/cmd/hubble.go @cilium/hubble
/daemon/cmd/ipcache.* @cilium/ipcache
/daemon/cmd/loadbalancer.* @cilium/loadbalancer
/daemon/cmd/metrics.* @cilium/metrics
/daemon/cmd/policy.* @cilium/policy
/daemon/cmd/prefilter.go @cilium/bpf
/daemon/cmd/proxy.go @cilium/proxy
/daemon/cmd/state.go @cilium/endpoint
/daemon/cmd/sysctl_linux.go @cilium/bpf
/Documentation/ @cilium/docs
/Documentation/cmdref @cilium/nonexistantteam
/Documentation/bpf.rst @cilium/bpf
/Documentation/contributing/ @cilium/contributing
/Documentation/envoy/ @cilium/proxy
/envoy/ @cilium/proxy
/examples/ @cilium/docs
/examples/crds/ @cilium/kubernetes
/examples/kubernetes/ @cilium/kubernetes
/examples/minikube/ @cilium/kubernetes
*.Jenkinsfile @cilium/ci
/hubble-relay/ @cilium/hubble
/hubble-relay.Dockerfile @cilium/hubble
/images @cilium/build
/install/kubernetes/ @cilium/kubernetes @cilium/docs @cilium/helm
/install/kubernetes/cilium/charts/hubble-relay @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
/install/kubernetes/cilium/charts/hubble-tls @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
/install/kubernetes/cilium/charts/hubble-ui @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
jenkinsfiles @cilium/ci
Jenkinsfile.nightly @cilium/ci
/operator/ @cilium/operator
/pkg/annotation @cilium/kubernetes
/pkg/api/ @cilium/api
/pkg/aws/ @cilium/aws
/pkg/azure/ @cilium/azure
/pkg/bpf/ @cilium/bpf
/pkg/byteorder/ @cilium/bpf @cilium/api
/pkg/client @cilium/api
/pkg/completion/ @cilium/proxy
/pkg/components/ @cilium/agent
/pkg/controller @cilium/agent
/pkg/counter @cilium/bpf
/pkg/datapath @cilium/bpf
/pkg/datapath/ipcache/ @cilium/ipcache
/pkg/defaults @cilium/agent
/pkg/elf @cilium/bpf
/pkg/endpoint/ @cilium/endpoint
/pkg/endpointmanager/ @cilium/endpoint
/pkg/envoy/ @cilium/proxy
/pkg/fqdn/ @cilium/agent
/pkg/health/ @cilium/health
/pkg/hubble/ @cilium/hubble
/pkg/identity @cilium/policy
/pkg/ipam/ @cilium/ipam
/pkg/ipam/allocator/aws/ @cilium/ipam @cilium/aws
/pkg/ipam/allocator/azure/ @cilium/ipam @cilium/azure
/pkg/ipam/allocator/operator/ @cilium/ipam @cilium/operator
/pkg/ipcache/ @cilium/ipcache
/pkg/ipmasq @cilium/agent
/pkg/k8s/ @cilium/kubernetes
/pkg/k8s/apis/cilium.io/v2/ @cilium/api @cilium/kubernetes
/pkg/k8s/client/clientset/versioned/ @cilium/api
/pkg/k8s/client/informers/ @cilium/api
/pkg/kafka/ @cilium/proxy
/pkg/kvstore/ @cilium/kvstore
/pkg/labels @cilium/policy @cilium/api
/pkg/launcher @cilium/agent
/pkg/loadbalancer @cilium/loadbalancer
/pkg/lock @cilium/agent
/pkg/logging/ @cilium/cli
/pkg/mac @cilium/bpf
/pkg/maps/ @cilium/bpf
/pkg/mcastmanager @cilium/bpf
/pkg/metrics @cilium/metrics
/pkg/monitor @cilium/monitor
/pkg/monitor/api @cilium/api
/pkg/monitor/datapath_debug.go @cilium/bpf
/pkg/monitor/format @cilium/cli
/pkg/monitor/payload @cilium/api
/pkg/mountinfo @cilium/bpf
/pkg/mtu @cilium/bpf
/pkg/multicast @cilium/bpf
/pkg/option @cilium/agent @cilium/cli
/pkg/pidfile @cilium/agent
/pkg/policy @cilium/policy
/pkg/policy/api/ @cilium/api
/pkg/policy/groups/aws/ @cilium/policy @cilium/aws
/pkg/proxy/ @cilium/proxy
/pkg/proxy/accesslog @cilium/api
/pkg/serializer @cilium/agent
/pkg/service @cilium/loadbalancer
/pkg/sysctl @cilium/bpf
/pkg/testutils/ @cilium/ci
/pkg/tuple @cilium/bpf
/plugins/cilium-cni/ @cilium/kubernetes
/plugins/cilium-docker/ @cilium/docker
/proxylib/ @cilium/proxy
/README.rst @cilium/docs
/test/ @cilium/ci
/test/bpf/ @cilium/ci @cilium/bpf
/test/Makefile* @cilium/ci @cilium/build
/tests/ @cilium/ci
Vagrantfile @cilium/ci
/Vagrantfile @cilium/contributing
/go.sum @cilium/vendor
/go.mod @cilium/vendor
/vagrant_box_defaults.rb @cilium/ci
/vendor/ @cilium/vendor
