Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/api, @cilium/bpf, @cilium/bpf-loader, @cilium/cli, @cilium/health, @eloycoto, @aanm, @ianvernon, @cilium/vagrant, @cilium/agent, @cilium/endpoint, @cilium/kubernetes, @cilium/loadbalancer, @cilium/docs, @scanf, @borkmann, @cilium/contributing, @cilium/proxy, @cilium/ci, @cilium/monitor, @cilium/ipcache, @cilium/policy, @cilium/kvstore, @pkg/agent, @cilium/metrics, @cilium/option, @cilium/docker, @cilium/vendor

move prefilter code to pkg/datapath
  daemon/daemon.go
  pkg/datapath/prefilter/doc.go
  pkg/datapath/prefilter/prefilter.go
Owners: @cilium/agent, @cilium/bpf

doc: 1.3 upgrade instructions
  Documentation/install/upgrade.rst
Owners: @cilium/docs

doc: 1.3 upgrade instructions
  Documentation/install/upgrade.rst
Owners: @cilium/docs

endpoint: Skip conntrack clean on endpoint restore
  daemon/state.go
  pkg/endpoint/endpoint.go
Owners: @cilium/agent, @cilium/endpoint

ipcache: Fix refcounting of endpoint IPCache entries
  pkg/ipcache/kvstore.go
Owners: @cilium/ipcache

Snapstat: Validate that the duration is not negative when call End.
  pkg/spanstat/spanstat.go
Owners: @cilium/janitors

Metrics: make sure that the duration is always bigger than 0.
  pkg/endpoint/metrics.go
Owners: @cilium/endpoint

identity: Introduce reserved:unmanaged identity
  Documentation/concepts.rst
  bpf/lib/policy.h
  bpf/node_config.h
  daemon/bpf.sha
  daemon/daemon.go
  daemon/k8s_watcher.go
  pkg/identity/identity_test.go
  pkg/identity/numericidentity.go
  pkg/labels/labels.go
  pkg/policy/api/entity.go
Owners: @cilium/docs, @cilium/bpf, @cilium/agent, @cilium/kubernetes, @cilium/policy, @cilium/api

endpoint: Skip conntrack clean on endpoint restore
  daemon/state.go
  pkg/endpoint/endpoint.go
Owners: @cilium/agent, @cilium/endpoint

doc: List Kubernetes 1.12 as official supported
  Documentation/contributing.rst
  Documentation/gettingstarted/cilium_install_crio.rst
  Documentation/gettingstarted/cilium_install_docker.rst
  Documentation/gettingstarted/gsg_starwars.rst
  Documentation/install/upgrade.rst
  Documentation/kubernetes/compatibility.rst
  Documentation/kubernetes/install/standard.rst
  Documentation/kubernetes/quickinstall.rst
Owners: @cilium/contributing, @cilium/docs

doc: Fix sidebar corruption for getting started guides
  Documentation/gettingstarted/cilium_install.rst
  Documentation/gettingstarted/cilium_install_crio.rst
  Documentation/gettingstarted/cilium_install_docker.rst
  Documentation/gettingstarted/index.rst
Owners: @cilium/docs

doc: 1.3 upgrade instructions
  Documentation/install/upgrade.rst
Owners: @cilium/docs

daemon: add parameter indicating why TriggerPolicyUpdates is called
  daemon/daemon.go
  daemon/k8s_watcher.go
  daemon/policy.go
  pkg/clustermesh/clustermesh_test.go
  pkg/endpointmanager/manager.go
  pkg/identity/allocator.go
  pkg/identity/cache.go
  pkg/identity/identity_test.go
Owners: @cilium/agent, @cilium/kubernetes, @cilium/janitors, @cilium/endpoint, @cilium/policy

[proxylib] Empty memcache rules allow all traffic
  proxylib/memcached/parser.go
  proxylib/proxylib_memcached_test.go
Owners: @cilium/proxy

Kvstore: Cleanup deprecated methods
  common/const.go
  pkg/kvstore/backend.go
  pkg/kvstore/client.go
  pkg/kvstore/consul.go
  pkg/kvstore/etcd.go
  pkg/service/const.go
  pkg/service/id_kvstore.go
  pkg/service/id_local.go
  pkg/service/id_test.go
Owners: @cilium/janitors, @cilium/kvstore, @cilium/policy

contrib: Add script to collect gops pprof-heap from all pods
  contrib/k8s/k8s-heap-dump.sh
Owners: @cilium/janitors

daemon: add parameter indicating why TriggerPolicyUpdates is called
  daemon/daemon.go
  daemon/k8s_watcher.go
  daemon/policy.go
  pkg/clustermesh/clustermesh_test.go
  pkg/endpointmanager/manager.go
  pkg/identity/allocator.go
  pkg/identity/cache.go
  pkg/identity/identity_test.go
Owners: @cilium/agent, @cilium/kubernetes, @cilium/janitors, @cilium/endpoint, @cilium/policy

doc: 1.3 upgrade instructions
  Documentation/install/upgrade.rst
Owners: @cilium/docs

doc: Fix sidebar corruption for getting started guides
  Documentation/gettingstarted/cilium_install.rst
  Documentation/gettingstarted/cilium_install_crio.rst
  Documentation/gettingstarted/cilium_install_docker.rst
  Documentation/gettingstarted/index.rst
Owners: @cilium/docs

endpoint: Skip conntrack clean on endpoint restore
  daemon/state.go
  pkg/endpoint/endpoint.go
Owners: @cilium/agent, @cilium/endpoint

doc: List Kubernetes 1.12 as official supported
  Documentation/contributing.rst
  Documentation/gettingstarted/cilium_install_crio.rst
  Documentation/gettingstarted/cilium_install_docker.rst
  Documentation/gettingstarted/gsg_starwars.rst
  Documentation/install/upgrade.rst
  Documentation/kubernetes/compatibility.rst
  Documentation/kubernetes/install/standard.rst
  Documentation/kubernetes/quickinstall.rst
Owners: @cilium/contributing, @cilium/docs

bugtool: add new options
  Documentation/cmdref/cilium-bugtool.md
  bugtool/cmd/root.go
Owners: @cilium/docs, @cilium/cli

Snapstat: Validate that the duration is not negative when call End.
  pkg/spanstat/spanstat.go
Owners: @cilium/janitors

[proxylib] Empty memcache rules allow all traffic
  proxylib/memcached/parser.go
  proxylib/proxylib_memcached_test.go
Owners: @cilium/proxy

move prefilter code to pkg/datapath
  daemon/daemon.go
  pkg/datapath/prefilter/doc.go
  pkg/datapath/prefilter/prefilter.go
Owners: @cilium/agent, @cilium/bpf

contrib: Add script to collect gops pprof-heap from all pods
  contrib/k8s/k8s-heap-dump.sh
Owners: @cilium/janitors

fqdn: Make Rule UUIDs random instead of depending on the labels.
  daemon/policy.go
  pkg/fqdn/dnspoller.go
  pkg/fqdn/dnspoller_test.go
  pkg/fqdn/helpers.go
Owners: @cilium/agent

ipcache: Fix refcounting of endpoint IPCache entries
  pkg/ipcache/kvstore.go
Owners: @cilium/ipcache

Prepare for release v1.0.7
  NEWS.rst
  VERSION
  examples/getting-started/Vagrantfile
  examples/kubernetes/1.10/cilium-ds.yaml
  examples/kubernetes/1.10/cilium.yaml
  examples/kubernetes/1.11/cilium-ds.yaml
  examples/kubernetes/1.11/cilium.yaml
  examples/kubernetes/1.12/cilium-ds.yaml
  examples/kubernetes/1.12/cilium.yaml
  examples/kubernetes/1.7/cilium-ds.yaml
  examples/kubernetes/1.7/cilium.yaml
  examples/kubernetes/1.8/cilium-ds.yaml
  examples/kubernetes/1.8/cilium.yaml
  examples/kubernetes/1.9/cilium-ds.yaml
  examples/kubernetes/1.9/cilium.yaml
Owners: @cilium/janitors, @cilium/vagrant, @cilium/kubernetes

test/k8sT: deploy xwing YAML
  test/k8sT/demos.go
Owners: @cilium/ci

k8s: Avoid TriggerPolicyUpdates when no ToServices rules are loaded
  daemon/k8s_watcher.go
  pkg/k8s/rule_translate.go
  pkg/k8s/rule_translate_test.go
  pkg/policy/policy.go
  pkg/policy/repository.go
Owners: @cilium/kubernetes, @cilium/policy

endpoint: Skip conntrack clean on endpoint restore
  daemon/state.go
  pkg/endpoint/endpoint.go
Owners: @cilium/agent, @cilium/endpoint

loader: Log PIDs of compiler/linker on error
  pkg/datapath/loader/compile.go
Owners: @cilium/bpf-loader

Metrics: make sure that the duration is always bigger than 0.
  pkg/endpoint/metrics.go
Owners: @cilium/endpoint

Spanstat: Validate that the duration is not negative when call End.
  pkg/spanstat/spanstat.go
Owners: @cilium/janitors

move prefilter code to pkg/datapath
  daemon/daemon.go
  pkg/datapath/prefilter/doc.go
  pkg/datapath/prefilter/prefilter.go
Owners: @cilium/agent, @cilium/bpf

daemon: Add MaxControllerInterval for testing purposes
  Documentation/cmdref/cilium-agent.md
  daemon/main.go
  pkg/controller/controller.go
  pkg/controller/manager.go
  pkg/option/config.go
Owners: @cilium/docs, @cilium/agent, @cilium/option

fqdn: Make Rule UUIDs random instead of depending on the labels.
  daemon/policy.go
  pkg/fqdn/dnspoller.go
  pkg/fqdn/dnspoller_test.go
  pkg/fqdn/helpers.go
Owners: @cilium/agent

allocator: Lock master key prefix when reusing existing cluster identity
  pkg/kvstore/allocator/allocator.go
Owners: @cilium/kvstore

allocator: Re-create slave keys when master key is missing
  pkg/kvstore/allocator/allocator.go
  pkg/kvstore/allocator/cache.go
Owners: @cilium/kvstore

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium-janitors      Catch-all for code not otherwise owned
# @cilium/agent         Cilium Agent
# @cilium/bpf           BPF Data Path
# @cilium/bpf-loader    Agent -> Kernel interaction
# @cilium/ci            Continuous integration, testing
# @cilium/cli           Commandline interfaces
# @cilium/contributing  Developer documentation
# @cilium/docker        Docker plugin
# @cilium/docs          Documentation, examples
# @cilium/endpoint      Endpoint package
# @cilium/health        Cilium cluster health tool
# @cilium/kubernetes    K8s integration, K8s CNI plugin
# @cilium/kvstore       Key/Value store: Consul, etcd
# @cilium/loadbalancer  Load balancer
# @cilium/monitor       Cilium node monitor tool
# @cilium/policy        Policy behaviour
# @cilium/proxy         L7 proxy, Envoy
# @cilium/vendor        Vendoring, dependency management
#
# Specific code owners:
# @eloycoto             Debian packaging
# @aanm @ianvernon      Docker packaging
# @scanf @borkmann      BPF documentation

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
api/ @cilium/api
bpf/ @cilium/bpf
bpf/*.sh @cilium/bpf-loader
bugtool/cmd/ @cilium/cli
cilium/ @cilium/cli
cilium-health/cmd/ @cilium/cli
cilium-health/launch/ @cilium/health
contrib/packaging/deb/ @eloycoto
contrib/packaging/docker/ @aanm @ianvernon
contrib/vagrant @cilium/vagrant
daemon/ @cilium/agent
daemon/bpf.sha @cilium/bpf
daemon/endpoint.go @cilium/endpoint
daemon/k8s_watcher.go @cilium/kubernetes
daemon/loadbalancer.* @cilium/loadbalancer
daemon/prefilter.go @cilium/bpf
daemon/services.* @cilium/loadbalancer
Documentation/ @cilium/docs
Documentation/bpf.rst @scanf @borkmann
Documentation/contributing.rst @cilium/contributing
envoy/ @cilium/proxy
examples/ @cilium/docs
examples/getting-started/Vagrantfile @cilium/vagrant
examples/kubernetes/ @cilium/kubernetes
examples/kubernetes-ingress/ @cilium/kubernetes
examples/mesos/Vagrantfile @cilium/vagrant
examples/minikube/ @cilium/kubernetes
ginkgo.Jenkinsfile @cilium/ci
kubernetes-upstream.Jenkinsfile @cilium/ci
ginkgo-all.Jenkinsfile @cilium/ci
ginkgo-kubernetes-all.Jenkinsfile @cilium/ci
Jenkinsfile @cilium/ci
Jenkinsfile.nightly @cilium/ci
monitor/ @cilium/monitor
pkg/annotation @cilium/kubernetes
pkg/apierror/ @cilium/api
pkg/apipanic/ @cilium/api
pkg/apisocket/ @cilium/api
pkg/bpf/ @cilium/bpf
pkg/byteorder/ @cilium/bpf
pkg/client @cilium/api
pkg/completion/ @cilium/proxy
pkg/components/ @cilium/agent
pkg/controller @cilium/agent
pkg/counter @cilium/bpf
pkg/datapath @cilium/bpf
pkg/datapath/ipcache/ @cilium/ipcache
pkg/datapath/loader/ @cilium/bpf-loader
pkg/debugdetection @cilium/agent
pkg/defaults @cilium/agent
pkg/endpoint/ @cilium/endpoint
pkg/endpointmanager/ @cilium/endpoint
pkg/envoy/ @cilium/proxy
pkg/fqdn/ @cilium/agent
pkg/health/ @cilium/health
pkg/identity @cilium/policy
pkg/ipcache/ @cilium/ipcache
pkg/k8s/ @cilium/kubernetes
pkg/kafka/ @cilium/proxy
pkg/kvstore/ @cilium/kvstore
pkg/labels @cilium/policy
pkg/launcher @pkg/agent
pkg/loadbalancer @cilium/loadbalancer
pkg/lock @pkg/agent
pkg/logging/ @cilium/cli
pkg/mac @cilium/bpf
pkg/maps/ @cilium/bpf
pkg/metrics @cilium/metrics
pkg/monitor/datapath_debug.go @cilium/bpf
pkg/monitor/format @cilium/cli
pkg/monitor/payload @cilium/api
pkg/mountinfo @cilium/bpf
pkg/mtu @cilium/bpf
pkg/option @cilium/option
pkg/output @cilium/cli
pkg/pidfile @cilium/agent
pkg/policy @cilium/policy
pkg/policy/api/ @cilium/api
pkg/policy/prefilter.go @cilium/bpf
pkg/proxy/ @cilium/proxy
pkg/proxy/accesslog @cilium/api
pkg/serializer @cilium/agent
pkg/service @cilium/policy
plugins/cilium-cni/ @cilium/kubernetes
plugins/cilium-docker/ @cilium/docker
proxylib/ @cilium/proxy
README.md @cilium/docs
test/ @cilium/ci
test/Vagrantfile @cilium/vagrant
tests/ @cilium/ci
tests/k8s/Vagrantfile @cilium/vagrant
Vagrantfile @cilium/vagrant
vendor/ @cilium/vendor
