Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/maintainers, @cilium/api, @cilium/hubble, @cilium/operator, @cilium/bpf, @cilium/build, @cilium/cli, @cilium/kubernetes, @cilium/health, @cilium/contributing, @cilium/agent, @cilium/endpoint, @cilium/ipcache, @cilium/loadbalancer, @cilium/metrics, @cilium/policy, @cilium/proxy, @cilium/docs-structure, @cilium/nonexistantteam, @cilium/ipam, @cilium/aws, @cilium/azure, @cilium/docker, @cilium/ci-structure, @cilium/helm, @cilium/kvstore, @cilium/monitor

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium/janitors           Catch-all for code not otherwise owned
# @cilium/agent              Cilium Agent
# @cilium/aws                Integration with AWS
# @cilium/azure              Integration with Azure
# @cilium/bpf                BPF Data Path
# @cilium/build              Building and packaging
# @cilium/ci                 Continuous integration, testing
# @cilium/cli                Commandline interfaces
# @cilium/contributing       Developer documentation & tools
# @cilium/docker             Docker plugin
# @cilium/docs-structure     Documentation, examples
# @cilium/endpoint           Endpoint package
# @cilium/health             Cilium cluster health tool
# @cilium/hubble             Hubble integration
# @cilium/ipam               IPAM
# @cilium/kubernetes         K8s integration, K8s CNI plugin
# @cilium/kvstore            Key/Value store: Consul, etcd
# @cilium/loadbalancer       Load balancer
# @cilium/monitor            Cilium node monitor tool
# @cilium/operator           Cilium operator
# @cilium/policy             Policy behaviour
# @cilium/proxy              L7 proxy, Envoy
# @cilium/vendor             Vendoring, dependency management

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
/.github/workflows/ @cilium/maintainers
/api/ @cilium/api
/api/v1/flow/ @cilium/api @cilium/hubble
/api/v1/observer/ @cilium/api @cilium/hubble
/api/v1/operator/ @cilium/api @cilium/operator
/api/v1/peer/ @cilium/api @cilium/hubble
/bpf/ @cilium/bpf
Makefile* @cilium/build
/bpf/Makefile* @cilium/build @cilium/bpf
/bpf/sockops/Makefile* @cilium/build @cilium/bpf
Dockerfile* @cilium/build
/bugtool/cmd/ @cilium/cli
/cilium/ @cilium/cli
/cilium/cmd/preflight_k8s_valid_cnp.go @cilium/kubernetes
/cilium-health/ @cilium/health
/cilium-health/cmd/ @cilium/health @cilium/cli
/contrib/ @cilium/contributing
/contrib/packaging/ @cilium/build
/contrib/vagrant/ @cilium/contributing
/contrib/checkpatch/ @cilium/bpf
/contrib/coccinelle/ @cilium/bpf
/daemon/ @cilium/agent
/daemon/cmd/datapath.* @cilium/bpf
/daemon/cmd/endpoint.* @cilium/endpoint
/daemon/cmd/health.* @cilium/health
/daemon/cmd/hubble.go @cilium/hubble
/daemon/cmd/ipcache.* @cilium/ipcache
/daemon/cmd/kube_proxy.* @cilium/bpf
/daemon/cmd/loadbalancer.* @cilium/loadbalancer
/daemon/cmd/metrics.* @cilium/metrics
/daemon/cmd/policy.* @cilium/policy
/daemon/cmd/prefilter.go @cilium/bpf
/daemon/cmd/proxy.go @cilium/proxy
/daemon/cmd/state.go @cilium/endpoint
/daemon/cmd/sysctl_linux.go @cilium/bpf
/Documentation/ @cilium/docs-structure
/Documentation/_static/ @cilium/docs-structure
/Documentation/api.rst @cilium/agent @cilium/docs-structure
/Documentation/beta.rst @cilium/docs-structure
/Documentation/bpf.rst @cilium/bpf @cilium/docs-structure
/Documentation/check-build.sh @cilium/docs-structure
/Documentation/check-cmdref.sh @cilium/docs-structure
/Documentation/check-crd-compat-table.sh @cilium/docs-structure
/Documentation/check-examples.sh @cilium/docs-structure
/Documentation/cmdref/ @cilium/nonexistantteam
/Documentation/commit-access.rst @cilium/contributing @cilium/docs-structure
/Documentation/community.rst @cilium/contributing
/Documentation/concepts/ebpf/ @cilium/bpf @cilium/docs-structure
/Documentation/concepts/index.rst @cilium/docs-structure
/Documentation/concepts/kubernetes/ @cilium/kubernetes @cilium/docs-structure
/Documentation/concepts/networking/ipam/ @cilium/ipam @cilium/docs-structure
/Documentation/concepts/networking/ipam/eni* @cilium/ipam @cilium/aws @cilium/docs-structure
/Documentation/concepts/networking/ipam/azure* @cilium/ipam @cilium/azure @cilium/docs-structure
/Documentation/concepts/observability/hubble-configuration.rst @cilium/hubble @cilium/docs-structure
/Documentation/concepts/overview.rst @cilium/docs-structure
/Documentation/concepts/security/proxy/ @cilium/proxy @cilium/docs-structure
/Documentation/conf.py @cilium/docs-structure
/Documentation/configuration/index.rst @cilium/docs-structure
/Documentation/contributing/ @cilium/contributing @cilium/docs-structure
/Documentation/Dockerfile @cilium/docs-structure
/Documentation/gettinghelp.rst @cilium/contributing @cilium/docs-structure
/Documentation/gettingstarted/aws* @cilium/aws @cilium/docs-structure
/Documentation/gettingstarted/bandwidth-manager.rst @cilium/bpf @cilium/docs-structure
/Documentation/gettingstarted/cni-chaining-aws-cni.rst @cilium/aws @cilium/docs-structure
/Documentation/gettingstarted/cni-chaining-azure-cni.rst @cilium/azure @cilium/docs-structure
/Documentation/gettingstarted/docker.rst @cilium/docker @cilium/docs-structure
/Documentation/gettingstarted/http.rst @cilium/policy @cilium/docs-structure
/Documentation/gettingstarted/hubble* @cilium/hubble @cilium/docs-structure
/Documentation/gettingstarted/index.rst @cilium/docs-structure
/Documentation/gettingstarted/ipam.rst @cilium/ipam @cilium/docs-structure
/Documentation/gettingstarted/k8s-install-eks.rst @cilium/aws @cilium/docs-structure
/Documentation/gettingstarted/k8s-install-remove-aws-node.rst @cilium/aws @cilium/docs-structure
/Documentation/gettingstarted/k8s-install-aks* @cilium/azure @cilium/docs-structure
/Documentation/gettingstarted/kind-configure.rst @cilium/docs-structure
/Documentation/gettingstarted/kubeproxy-free.rst @cilium/loadbalancer @cilium/docs-structure
/Documentation/gettingstarted/policy-creation.rst @cilium/policy @cilium/docs-structure
/Documentation/glossary.rst @cilium/docs-structure
/Documentation/hubble.rst @cilium/hubble @cilium/docs-structure
/Documentation/images/re-request-review.png @cilium/contributing @cilium/docs-structure
/Documentation/index.rst @cilium/docs-structure
/Documentation/intro.rst @cilium/docs-structure
/Documentation/images/bpf* @cilium/bpf @cilium/docs-structure
/Documentation/images/hubble_getflows.png @cilium/hubble @cilium/docs-structure
/Documentation/Makefile @cilium/docs-structure
/Documentation/operations/performance/ @cilium/bpf @cilium/docs-structure
/Documentation/operations/system_requirements.rst @cilium/bpf @cilium/docs-structure
/Documentation/policy/ @cilium/policy @cilium/docs-structure
/Documentation/requirements.txt @cilium/docs-structure
/Documentation/spelling_wordlist.txt @cilium/docs-structure
/Documentation/tech-preview.rst @cilium/docs-structure
/Documentation/update-cmdref.sh @cilium/docs-structure
/Documentation/update-spelling_wordlist.sh @cilium/docs-structure
/Documentation/yaml.config @cilium/docs-structure
/envoy/ @cilium/proxy
/examples/ @cilium/docs-structure
/examples/crds/ @cilium/kubernetes
/examples/kubernetes/ @cilium/kubernetes
/examples/minikube/ @cilium/kubernetes
*.Jenkinsfile @cilium/ci-structure
/hubble-relay/ @cilium/hubble
/hubble-relay.Dockerfile @cilium/hubble
/images @cilium/build
/install/kubernetes/ @cilium/kubernetes @cilium/helm
/install/kubernetes/cilium/templates/hubble* @cilium/kubernetes @cilium/helm @cilium/hubble
jenkinsfiles @cilium/ci-structure
Jenkinsfile.nightly @cilium/ci-structure
/operator/ @cilium/operator
/pkg/annotation @cilium/kubernetes
/pkg/api/ @cilium/api
/pkg/aws/ @cilium/aws
/pkg/azure/ @cilium/azure
/pkg/bandwidth/ @cilium/bpf
/pkg/bpf/ @cilium/bpf
/pkg/byteorder/ @cilium/bpf @cilium/api
/pkg/client @cilium/api
/pkg/completion/ @cilium/proxy
/pkg/components/ @cilium/agent
/pkg/controller @cilium/agent
/pkg/counter @cilium/bpf
/pkg/datapath @cilium/bpf
/pkg/datapath/ipcache/ @cilium/ipcache
/pkg/defaults @cilium/agent
/pkg/ebpf @cilium/bpf
/pkg/elf @cilium/bpf
/pkg/endpoint/ @cilium/endpoint
/pkg/endpointmanager/ @cilium/endpoint
/pkg/envoy/ @cilium/proxy
/pkg/fqdn/ @cilium/agent
/pkg/health/ @cilium/health
/pkg/hubble/ @cilium/hubble
/pkg/identity @cilium/policy
/pkg/ipam/ @cilium/ipam
/pkg/ipam/allocator/aws/ @cilium/ipam @cilium/aws
/pkg/ipam/allocator/azure/ @cilium/ipam @cilium/azure
/pkg/ipam/allocator/clusterpool/ @cilium/ipam @cilium/operator
/pkg/ipcache/ @cilium/ipcache
/pkg/ipmasq @cilium/agent
/pkg/k8s/ @cilium/kubernetes
/pkg/k8s/apis/cilium.io/v2/ @cilium/api @cilium/kubernetes
/pkg/k8s/client/clientset/versioned/ @cilium/api
/pkg/k8s/client/informers/ @cilium/api
/pkg/kafka/ @cilium/proxy
/pkg/kvstore/ @cilium/kvstore
/pkg/labels @cilium/policy @cilium/api
/pkg/launcher @cilium/agent
/pkg/loadbalancer @cilium/loadbalancer
/pkg/lock @cilium/agent
/pkg/logging/ @cilium/cli
/pkg/mac @cilium/bpf
/pkg/maglev @cilium/loadbalancer
/pkg/maps/ @cilium/bpf
/pkg/mcastmanager @cilium/bpf
/pkg/metrics @cilium/metrics
/pkg/monitor @cilium/monitor
/pkg/monitor/api @cilium/api
/pkg/monitor/datapath_debug.go @cilium/bpf
/pkg/monitor/format @cilium/cli

cgroups: Determine cgroup v2 hierarchy root for Kind
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  pkg/cgroups/cgroups.go
  pkg/k8s/init.go
  pkg/node/providerid.go
Owners: @cilium/agent, @cilium/janitors, @cilium/kubernetes

docs: Add note about running kpr on Kind
  Documentation/gettingstarted/kind.rst
  pkg/cgroups/cgroups.go
Owners: @cilium/docs-structure, @cilium/janitors

helm: Fix and add missing podLabels
  install/kubernetes/cilium/templates/_clustermesh-apiserver-generate-certs-job-spec.tpl
  install/kubernetes/cilium/templates/_hubble-generate-certs-job-spec.tpl
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-etcd-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-nodeinit-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-preflight-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-preflight-deployment.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver-deployment.yaml
  install/kubernetes/cilium/templates/hubble-relay-deployment.yaml
  install/kubernetes/cilium/templates/hubble-ui-deployment.yaml
  install/kubernetes/cilium/values.yaml
Owners: @cilium/kubernetes, @cilium/helm, @cilium/hubble

Update generated README for Helm values
  install/kubernetes/cilium/README.md
Owners: @cilium/kubernetes, @cilium/helm

vagrant: bump box versions
  vagrant_box_defaults.rb
Owners: @cilium/janitors

pkg/k8s: add DeepEqual code generation for Service
  pkg/clustermesh/services_test.go
  pkg/k8s/endpoints.go
  pkg/k8s/endpoints_test.go
  pkg/k8s/factory_functions.go
  pkg/k8s/rule_translate_test.go
  pkg/k8s/service.go
  pkg/k8s/service_cache.go
  pkg/k8s/service_cache_test.go
  pkg/k8s/service_test.go
  pkg/k8s/zz_generated.deepcopy.go
  pkg/k8s/zz_generated.deepequal.go
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/loadbalancer_test.go
  pkg/loadbalancer/zz_generated.deepcopy.go
  pkg/loadbalancer/zz_generated.deepequal.go
  pkg/service/store/store.go
  pkg/service/store/store_test.go
  pkg/service/store/zz_generated.deepcopy.go
  pkg/service/store/zz_generated.deepequal.go
Owners: @cilium/janitors, @cilium/kubernetes, @cilium/loadbalancer

images: use image-compilers as base image of cilium builder
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  test/k8sT/manifests/test-verifier.yaml
Owners: @cilium/build, @cilium/janitors

images/cilium: set IMAGE_CROSS_TARGET_PLATFORM for right arch
  images/cilium/Dockerfile
Owners: @cilium/build

k8s: update k8s libraries to 1.20.4
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Owners: @cilium/janitors

pkg/k8s: add DeepEqual code generation for Service
  pkg/clustermesh/services_test.go
  pkg/k8s/endpoints.go
  pkg/k8s/endpoints_test.go
  pkg/k8s/factory_functions.go
  pkg/k8s/rule_translate_test.go
  pkg/k8s/service.go
  pkg/k8s/service_cache.go
  pkg/k8s/service_cache_test.go
  pkg/k8s/service_test.go
  pkg/k8s/zz_generated.deepcopy.go
  pkg/k8s/zz_generated.deepequal.go
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/loadbalancer_test.go
  pkg/loadbalancer/zz_generated.deepcopy.go
  pkg/loadbalancer/zz_generated.deepequal.go
  pkg/service/store/store.go
  pkg/service/store/store_test.go
  pkg/service/store/zz_generated.deepcopy.go
  pkg/service/store/zz_generated.deepequal.go
Owners: @cilium/janitors, @cilium/kubernetes, @cilium/loadbalancer

Revert "azure, policy: Add JSON tags to CRD fields"
  pkg/azure/types/types.go
  pkg/azure/types/zz_generated.deepequal.go
  pkg/policy/api/egress.go
  pkg/policy/api/ingress.go
  pkg/policy/api/selector.go
  pkg/policy/api/zz_generated.deepcopy.go
  pkg/policy/api/zz_generated.deepequal.go
Owners: @cilium/azure, @cilium/janitors

checkpatch: use new image for test purposes and testing, also use a super long commit subject that should be rejected by checkpatch
  .github/workflows/bpf-checks.yaml
Owners: @cilium/maintainers

checkpatch: remove the rest of the BPF-related GH actions.
  .github/workflows/bpf-checks.yaml
Owners: @cilium/maintainers

bpf: test commit
  bpf/bpf_lxc.c
Owners: @cilium/bpf

checkpatch: use new image for test purposes and testing, also use a super long commit subject that should be rejected by checkpatch
  .github/workflows/bpf-checks.yaml
Owners: @cilium/maintainers

checkpatch: skip BPF actions other than checkpatch
  .github/workflows/bpf-checks.yaml
Owners: @cilium/maintainers

GitHub actions: remove all unnecessary GitHub actions for this test PR, and again use a very long title
  .github/workflows/docs.yaml
  .github/workflows/go-check.yaml
  .github/workflows/images-legacy-hotfix-releases.yaml
  .github/workflows/images-legacy-releases.yaml
  .github/workflows/images-legacy.yaml
  .github/workflows/images.yaml
  .github/workflows/nightly.yaml
  .github/workflows/smoke-test-ipv6.yaml
  .github/workflows/smoke-test.yaml
Owners: @cilium/maintainers

bpf: test commit
  bpf/bpf_lxc.c
Owners: @cilium/bpf

k8s: update k8s libraries to 1.20.4
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Owners: @cilium/janitors

ipsec: Use 64bits for XFRM output sequence number
  pkg/datapath/linux/ipsec/ipsec_linux.go
Owners: @cilium/bpf

cilium: encryption, remove mark from fwd rule
  pkg/datapath/linux/ipsec/ipsec_linux.go
Owners: @cilium/bpf

cilium: encryption, fix redirect when endpoint routes enabled
  bpf/lib/encrypt.h
  pkg/datapath/linux/config/config.go
Owners: @cilium/bpf

cilium: encryption, do not try to auto-discover if user provides iface
  pkg/datapath/loader/base.go
Owners: @cilium/bpf

cilium: vendor, use cilium/netlink until upstream patches land
  go.mod
  go.sum
  vendor/github.com/vishvananda/netlink/handle_linux.go
  vendor/github.com/vishvananda/netlink/nl/nl_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_policy.go
  vendor/github.com/vishvananda/netlink/xfrm_policy_linux.go
  vendor/modules.txt
Owners: @cilium/janitors

cilium: encryption, set optional flag for fwd policy rules
  pkg/datapath/linux/ipsec/ipsec_linux.go
Owners: @cilium/bpf

cilium: encryption, ENI with subnet encryption needs rules for link IP
  pkg/datapath/linux/node.go
Owners: @cilium/bpf

cilium: encryption, clear mark from xfrm state in endpoint route modes
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/ipsec_linux_test.go
  pkg/datapath/linux/node.go
Owners: @cilium/bpf

cilium: encryption, allow programming IPSec FWD policy and template IPs
  pkg/datapath/linux/ipsec/ipsec_linux.go
  pkg/datapath/linux/ipsec/ipsec_linux_test.go
  pkg/datapath/linux/node.go
Owners: @cilium/bpf

cilium: encryption, ENI mode uses overlapping CIDR for outer/inner IPs
  pkg/datapath/linux/node.go
Owners: @cilium/bpf

bpf: Fix wrong map type when fetching preallocate map flags
  pkg/bpf/map_linux.go
Owners: @cilium/bpf

images: use image-compilers as base image of cilium builder
  images/builder/Dockerfile
  images/cilium-test/Dockerfile
  images/cilium/Dockerfile
  test/k8sT/manifests/test-verifier.yaml
Owners: @cilium/build, @cilium/janitors

images/cilium: set IMAGE_CROSS_TARGET_PLATFORM for right arch
  images/cilium/Dockerfile
Owners: @cilium/build

doc: Move Azure IPAM out of beta
  Documentation/concepts/networking/ipam/azure.rst
  Documentation/gettingstarted/cni-chaining-azure-cni.rst
  Documentation/gettingstarted/k8s-install-aks-create-cluster.rst
  Documentation/gettingstarted/k8s-install-aks.rst
  Documentation/gettingstarted/k8s-install-azure-cni-validate.rst
  Documentation/gettingstarted/k8s-install-managed.rst
  Documentation/gettingstarted/kubeproxy-free.rst
Owners: @cilium/ipam, @cilium/azure, @cilium/docs-structure, @cilium/loadbalancer

cgroups: Determine cgroup v2 hierarchy root for Kind
  daemon/cmd/daemon.go
  daemon/cmd/daemon_main.go
  pkg/cgroups/cgroups.go
  pkg/k8s/init.go
  pkg/node/providerid.go
Owners: @cilium/agent, @cilium/janitors, @cilium/kubernetes

Update generated README for Helm values
  install/kubernetes/cilium/README.md
Owners: @cilium/kubernetes, @cilium/helm

helm: Fix and add missing podLabels
  install/kubernetes/cilium/templates/_clustermesh-apiserver-generate-certs-job-spec.tpl
  install/kubernetes/cilium/templates/_hubble-generate-certs-job-spec.tpl
  install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-etcd-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-nodeinit-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-operator-deployment.yaml
  install/kubernetes/cilium/templates/cilium-preflight-daemonset.yaml
  install/kubernetes/cilium/templates/cilium-preflight-deployment.yaml
  install/kubernetes/cilium/templates/clustermesh-apiserver-deployment.yaml
  install/kubernetes/cilium/templates/hubble-relay-deployment.yaml
  install/kubernetes/cilium/templates/hubble-ui-deployment.yaml
  install/kubernetes/cilium/values.yaml
Owners: @cilium/kubernetes, @cilium/helm, @cilium/hubble

docs: Add note about running kpr on Kind
  Documentation/gettingstarted/kind.rst
  pkg/cgroups/cgroups.go
Owners: @cilium/docs-structure, @cilium/janitors

Dockerfile: Bump cilium-runtime image dependency
  Dockerfile
  contrib/packaging/docker/Dockerfile.runtime
Owners: @cilium/build

ipam/aws: provide mitigation if ENI limits not found
  pkg/aws/eni/instances.go
  pkg/aws/eni/node.go
Owners: @cilium/aws

nodediscovery: advise to set a flag when instance limits are not found
  pkg/nodediscovery/nodediscovery.go
Owners: @cilium/janitors
