Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/api, @cilium/bpf, @cilium/cli, @cilium/kubernetes, @cilium/health, @eloycoto, @aanm, @ianvernon, @cilium/ci, @cilium/agent, @cilium/endpoint, @cilium/hubble, @cilium/ipcache, @cilium/loadbalancer, @cilium/metrics, @cilium/policy, @cilium/proxy, @cilium/docs, @scanf, @borkmann, @cilium/contributing, @cilium/operator, @cilium/kvstore, @pkg/agent, @cilium/monitor, @cilium/option, @cilium/docker, @cilium/vendor

bpf/Makefile: Introduce coccicheck to run all cocci patches
  bpf/Makefile.bpf
Owners: @cilium/bpf

coccinelle: Find missing __align_stack_8 annotations
  bpf/lib/icmp6.h
  bpf/lib/ipv6.h
  bpf/lib/nat46.h
  bpf/lib/policy.h
  contrib/coccinelle/aligned.cocci
Owners: @cilium/bpf, @cilium/janitors

bpf: Prepare for const qualifiers patch
  bpf/include/bpf/compiler.h
  bpf/include/bpf/helpers.h
Owners: @cilium/bpf

coccinelle: Add const qualifiers to function parameters
  bpf/bpf_netdev.c
  bpf/bpf_sock.c
  bpf/cilium-map-migrate.c
  bpf/include/bpf/ctx/xdp.h
  bpf/lib/arp.h
  bpf/lib/conntrack.h
  bpf/lib/csum.h
  bpf/lib/eps.h
  bpf/lib/ipv4.h
  bpf/lib/ipv6.h
  bpf/lib/l3.h
  bpf/lib/lb.h
  bpf/lib/lxc.h
  bpf/lib/nat.h
  bpf/lib/nat46.h
  bpf/lib/nodeport.h
  bpf/lib/overloadable_skb.h
  bpf/lib/policy.h
  bpf/sockops/bpf_redir.c
  bpf/sockops/bpf_sockops.c
  bpf/tests/conntrack_test.h
  contrib/coccinelle/const.cocci
Owners: @cilium/bpf, @cilium/ci, @cilium/janitors

Add hubble helm charts to cilium install/kubernetes
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/agent/templates/servicemonitor.yaml
  install/kubernetes/cilium/charts/agent/templates/svc.yaml
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/charts/hubble-ui/Chart.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/clusterrole.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/clusterrolebinding.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/ingress.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/serviceaccount.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/svc.yaml
  install/kubernetes/cilium/charts/hubble-ui/values.yaml
  install/kubernetes/cilium/requirements.yaml
  install/kubernetes/cilium/values.yaml
Owners: @cilium/kubernetes

lbmap: Update generated Affinity4Key.DeepCopyMapKey
  pkg/maps/lbmap/zz_generated.deepcopy.go
Owners: @cilium/bpf

service: Increase unit test coverage
  pkg/service/service_test.go
Owners: @cilium/policy

daemon: Simplify logging
  daemon/cmd/daemon_main.go
Owners: @cilium/agent

test: Swap k8s versions between cilium/ubuntu{-next} jobs
  Documentation/contributing/testing/ci.rst
  jenkinsfiles/ginkgo.Jenkinsfile
  test/provision/k8s_install.sh
Owners: @cilium/contributing, @cilium/ci

hubble-relay: make listen address configurable
  hubble-relay/cmd/serve/serve.go
Owners: @cilium/hubble

hubble-relay: make peer service address configurable
  hubble-relay/cmd/serve/serve.go
Owners: @cilium/hubble

hubble-relay: properly handle signals
  hubble-relay/cmd/serve/serve.go
Owners: @cilium/hubble

hubble-relay: add initial multi-node support
  api/v1/observer/observer.pb.go
  api/v1/observer/observer.proto
  pkg/hubble/relay/observer.go
  pkg/hubble/relay/peer.go
  pkg/hubble/relay/relayoption/option.go
  pkg/hubble/relay/server.go
Owners: @cilium/api, @cilium/hubble

hubble-relay: introduce logger and debug option
  hubble-relay/cmd/serve/serve.go
  pkg/hubble/relay/relayoption/defaults.go
  pkg/hubble/relay/relayoption/option.go
  pkg/hubble/relay/server.go
Owners: @cilium/hubble

hubble-relay: make flags from serve command non-global
  hubble-relay/cmd/serve/serve.go
Owners: @cilium/hubble

hubble-relay: make timeouts configurable
  hubble-relay/cmd/serve/serve.go
Owners: @cilium/hubble

hubble-relay: add retry timeout option
  pkg/hubble/relay/relayoption/defaults.go
  pkg/hubble/relay/relayoption/option.go
Owners: @cilium/hubble

make: Remove CONTAINER_ENGINE_FULL, use QUIET and CONTAINER_ENGINE
  Documentation/Makefile
  Makefile
  Makefile.defs
Owners: @cilium/janitors

Update stable releases
  .github/cilium-actions.yml
  README.rst
Owners: @cilium/janitors, @cilium/docs

CI: update Go version in .travis.yml directly
  .travis.yml
  .travis.yml.tmpl
  Makefile
Owners: @cilium/janitors

build: label docker images with git sha
  Dockerfile
  Makefile
  cilium-docker-plugin.Dockerfile
  cilium-operator.Dockerfile
Owners: @cilium/janitors

ci: prune docker images after pushing to node repo
  test/clean-local-registry-tag.sh
  test/make-images-push-to-local-registry.sh
Owners: @cilium/ci

datapath: Remove ipvlan MASQ and dead code
  Documentation/gettingstarted/ipvlan.rst
  bpf/bpf_netdev.c
  bpf/init.sh
  bpf/lib/nat.h
  bpf/lib/nodeport.h
  bpf/node_config.h
  daemon/cmd/daemon_main.go
  pkg/datapath/linux/config/config.go
  pkg/datapath/loader/base.go
Owners: @cilium/docs, @cilium/bpf, @cilium/agent

daemon: Add --enable-bpf-masquerade flag
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  pkg/datapath/iptables/iptables.go
  pkg/option/config.go
Owners: @cilium/docs, @cilium/agent, @cilium/bpf, @cilium/option

datapath: Enable BPF MASQ for veth mode in IPv4
  bpf/lib/nat.h
  bpf/lib/nodeport.h
  pkg/datapath/linux/config/config.go
Owners: @cilium/bpf

cli: Add cilium bpf ipmasq list
  Documentation/cmdref/cilium_bpf.md
  Documentation/cmdref/cilium_bpf_ipmasq.md
  Documentation/cmdref/cilium_bpf_ipmasq_list.md
  Documentation/spelling_wordlist.txt
  bugtool/cmd/configuration.go
  cilium/cmd/bpf_ipmasq.go
  cilium/cmd/bpf_ipmasq_list.go
Owners: @cilium/docs, @cilium/cli

daemon: Add ip-masq-agent flags
  Documentation/cmdref/cilium-agent.md
  daemon/cmd/daemon_main.go
  pkg/option/config.go
Owners: @cilium/docs, @cilium/agent, @cilium/option

datapath: Add ip-masq-agent implementation
  bpf/bpf_xdp.c
  bpf/lib/common.h
  bpf/lib/nat.h
  bpf/lib/nodeport.h
Owners: @cilium/bpf

helm: Add bpfMasquerade param
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/quick-install.yaml
Owners: @cilium/kubernetes

ipmasq: Configure via YAML instead of JSON
  pkg/ipmasq/ipmasq.go
  pkg/ipmasq/ipmasq_test.go
Owners: @cilium/janitors

helm: Add ipMasqAgent option
  install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
  install/kubernetes/cilium/charts/config/templates/configmap.yaml
  install/kubernetes/cilium/values.yaml
Owners: @cilium/kubernetes

datapath: Fix BPF MASQ for veth when DSR is enabled
  bpf/lib/nodeport.h
Owners: @cilium/bpf

ipmasq: Add ip-masq-agent package
  daemon/cmd/daemon_main.go
  daemon/cmd/datapath.go
  pkg/datapath/linux/config/config.go
  pkg/ipmasq/ipmasq.go
  pkg/ipmasq/ipmasq_test.go
  pkg/logging/logfields/logfields.go
  pkg/maps/ipmasq/ipmasq.go
Owners: @cilium/agent, @cilium/bpf, @cilium/janitors, @cilium/cli

maps/ipmasq: Add LPM CIDR map for ip-masq-agent
  Makefile
  pkg/datapath/loader/cache.go
  pkg/maps/ipmasq/ipmasq.go
  pkg/maps/ipmasq/zz_generated.deepcopy.go
Owners: @cilium/janitors, @cilium/bpf

probe: Set RLIMIT_MEMLOCK=RLIM_INFINITY for HaveFullLPM
  pkg/probe/probe.go
Owners: @cilium/janitors

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium-janitors      Catch-all for code not otherwise owned
# @cilium/agent         Cilium Agent
# @cilium/bpf           BPF Data Path
# @cilium/ci            Continuous integration, testing
# @cilium/cli           Commandline interfaces
# @cilium/contributing  Developer documentation
# @cilium/docker        Docker plugin
# @cilium/docs          Documentation, examples
# @cilium/endpoint      Endpoint package
# @cilium/health        Cilium cluster health tool
# @cilium/hubble        Hubble integration
# @cilium/kubernetes    K8s integration, K8s CNI plugin
# @cilium/kvstore       Key/Value store: Consul, etcd
# @cilium/loadbalancer  Load balancer
# @cilium/monitor       Cilium node monitor tool
# @cilium/operator      Cilium operator
# @cilium/policy        Policy behaviour
# @cilium/proxy         L7 proxy, Envoy
# @cilium/vendor        Vendoring, dependency management
#
# Specific code owners:
# @eloycoto             Debian packaging
# @aanm @ianvernon      Docker packaging
# @scanf @borkmann      BPF documentation

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
api/ @cilium/api
bpf/ @cilium/bpf
bugtool/cmd/ @cilium/cli
cilium/ @cilium/cli
cilium/cmd/preflight_k8s_valid_cnp.go @cilium/kubernetes
cilium-health/cmd/ @cilium/cli
cilium-health/launch/ @cilium/health
contrib/packaging/deb/ @eloycoto
contrib/packaging/docker/ @aanm @ianvernon
contrib/vagrant @cilium/ci
daemon/ @cilium/agent
daemon/cmd/datapath.* @cilium/bpf
daemon/cmd/endpoint.* @cilium/endpoint
daemon/cmd/health.* @cilium/health
daemon/cmd/hubble.go @cilium/hubble
daemon/cmd/ipcache.* @cilium/ipcache
daemon/cmd/loadbalancer.* @cilium/loadbalancer
daemon/cmd/metrics.* @cilium/metrics
daemon/cmd/policy.* @cilium/policy
daemon/cmd/prefilter.go @cilium/bpf
daemon/cmd/proxy.go @cilium/proxy
daemon/cmd/state.go @cilium/endpoint
daemon/cmd/sysctl_linux.go @cilium/bpf
Documentation/ @cilium/docs
Documentation/bpf.rst @scanf @borkmann
Documentation/contributing/ @cilium/contributing
envoy/ @cilium/proxy
examples/ @cilium/docs
examples/kubernetes/ @cilium/kubernetes
examples/minikube/ @cilium/kubernetes
*.Jenkinsfile @cilium/ci
hubble-relay/ @cilium/hubble
hubble-relay.Dockerfile @cilium/hubble
install/kubernetes/ @cilium/kubernetes
jenkinsfiles @cilium/ci
Jenkinsfile.nightly @cilium/ci
operator/ @cilium/operator
pkg/annotation @cilium/kubernetes
pkg/api/ @cilium/api
pkg/bpf/ @cilium/bpf
pkg/byteorder/ @cilium/bpf @cilium/api
pkg/client @cilium/api
pkg/completion/ @cilium/proxy
pkg/components/ @cilium/agent
pkg/controller @cilium/agent
pkg/counter @cilium/bpf
pkg/datapath @cilium/bpf
pkg/datapath/ipcache/ @cilium/ipcache
pkg/defaults @cilium/agent
pkg/elf @cilium/bpf
pkg/endpoint/ @cilium/endpoint
pkg/endpointmanager/ @cilium/endpoint
pkg/envoy/ @cilium/proxy
pkg/fqdn/ @cilium/agent
pkg/health/ @cilium/health
pkg/hubble/ @cilium/hubble
pkg/identity @cilium/policy
pkg/ipcache/ @cilium/ipcache
pkg/k8s/ @cilium/kubernetes
pkg/k8s/apis/cilium.io/v2/ @cilium/api
pkg/k8s/client/clientset/versioned/ @cilium/api
pkg/k8s/client/informers/ @cilium/api
pkg/kafka/ @cilium/proxy
pkg/kvstore/ @cilium/kvstore
pkg/labels @cilium/policy @cilium/api
pkg/launcher @pkg/agent
pkg/loadbalancer @cilium/loadbalancer
pkg/lock @pkg/agent
pkg/logging/ @cilium/cli
pkg/mac @cilium/bpf
pkg/maps/ @cilium/bpf
pkg/metrics @cilium/metrics
pkg/monitor @cilium/monitor
pkg/monitor/api @cilium/api
pkg/monitor/datapath_debug.go @cilium/bpf
pkg/monitor/format @cilium/cli
pkg/monitor/payload @cilium/api
pkg/mountinfo @cilium/bpf
pkg/mtu @cilium/bpf
pkg/option @cilium/option
pkg/pidfile @cilium/agent
pkg/policy @cilium/policy
pkg/policy/api/ @cilium/api
pkg/proxy/ @cilium/proxy
pkg/proxy/accesslog @cilium/api
pkg/serializer @cilium/agent
pkg/service @cilium/policy
pkg/sysctl @cilium/bpf
pkg/tuple @cilium/bpf
plugins/cilium-cni/ @cilium/kubernetes
plugins/cilium-docker/ @cilium/docker
proxylib/ @cilium/proxy
README.rst @cilium/docs
test/ @cilium/ci
tests/ @cilium/ci
Vagrantfile @cilium/ci
vendor/ @cilium/vendor
Makefile @cilium/janitors
