Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/contributing, @cilium/ci, @cilium/bpf, @cilium/docs, @cilium/build, @cilium/api, @cilium/hubble, @cilium/cli, @cilium/kubernetes, @cilium/health, @cilium/agent, @cilium/endpoint, @cilium/ipcache, @cilium/loadbalancer, @cilium/metrics, @cilium/policy, @cilium/proxy, @cilium/nonexistantteam, @cilium/helm, @cilium/operator, @cilium/aws, @cilium/azure, @cilium/ipam, @cilium/kvstore, @cilium/monitor, @cilium/docker, @cilium/vendor

fqdn: rename removeRestoredRules() as removeRestoredRulesLocked()
  pkg/fqdn/dnsproxy/proxy.go
Owners: @cilium/agent

ui: updated helm charts for hubble-ui 0.7
  install/kubernetes/cilium/charts/hubble-ui/files/envoy/envoy.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/configmap.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/deployment.yaml
  install/kubernetes/cilium/charts/hubble-ui/templates/svc.yaml
  install/kubernetes/cilium/charts/hubble-ui/values.yaml
  install/kubernetes/experimental-install.yaml
Owners: @cilium/kubernetes, @cilium/docs, @cilium/helm, @cilium/hubble

daemon: Disable bandwidth manager if IPSec is enabled
  daemon/cmd/daemon_main.go
Owners: @cilium/agent

test: update k8s test versions to 1.16.15, 1.17.12 and 1.18.9
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/go.mod
  vendor/github.com/evanphx/json-patch/go.sum
  vendor/k8s.io/client-go/tools/cache/controller.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/modules.txt
Owners: @cilium/vendor, @cilium/ci

test: auto correct grafana port in test vagrant vms
  test/Vagrantfile
Owners: @cilium/ci

test: auto correct grafana port in test vagrant vms
  test/Vagrantfile
Owners: @cilium/ci

test: update k8s test versions to 1.16.15, 1.17.12, 1.18.9 and 1.19.2
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Owners: @cilium/contributing, @cilium/vendor, @cilium/ci

test(conformance): Disable pulling latest image in ipv6 test
  .github/workflows/smoke-test-ipv6.yaml
Owners: @cilium/ci

test(conformance): Disable pulling latest image in ipv6 test
  .github/workflows/smoke-test-ipv6.yaml
Owners: @cilium/ci

bpf: update/sync helper list
  bpf/include/linux/bpf.h
Owners: @cilium/bpf

bpf: get rid of NO_REDIRECT and bypass upper stack for ingress traffic
  bpf/bpf_host.c
  pkg/datapath/iptables/iptables.go
  pkg/datapath/linux/config/config.go
Owners: @cilium/bpf

bpf: use redirect_neigh to bypass upper stack for pod egress traffic
  bpf/bpf_lxc.c
  bpf/include/bpf/helpers_skb.h
Owners: @cilium/bpf

bpf: use fast netns pod switch for ingress
  bpf/bpf_lxc.c
  bpf/include/bpf/ctx/xdp.h
  bpf/include/bpf/helpers_skb.h
  bpf/lib/common.h
  bpf/lib/l3.h
Owners: @cilium/bpf

Fix GetFlows Test PR broke test that did not induce a merge error
  pkg/hubble/relay/observer/server_test.go
Owners: @cilium/hubble

Fix GetFlows Test PR broke test that did not induce a merge error
  pkg/hubble/relay/observer/server_test.go
Owners: @cilium/hubble

test: update k8s test versions to 1.16.15, 1.17.12, 1.18.9 and 1.19.2
  contrib/vagrant/scripts/helpers.bash
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/modules.txt
Owners: @cilium/contributing, @cilium/vendor, @cilium/ci

test: update k8s test versions to 1.16.15, 1.17.12 and 1.18.9
  go.mod
  go.sum
  test/provision/k8s_install.sh
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/go.mod
  vendor/github.com/evanphx/json-patch/go.sum
  vendor/k8s.io/client-go/tools/cache/controller.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/modules.txt
Owners: @cilium/vendor, @cilium/ci

endpoint: Update proxy policy after adding redirects
  pkg/endpoint/bpf.go
Owners: @cilium/endpoint

tests: Restore 10-proxy.sh as envoy-smoke-test.sh
  tests/envoy-smoke-test.sh
  tests/sql-proxy.sh
Owners: @cilium/ci

identity: Perform identity lookup in remote kvstore caches too
  pkg/allocator/allocator.go
  pkg/identity/cache/cache.go
Owners: @cilium/janitors, @cilium/policy

ipam: Warn when failing to update CN status
  pkg/ipam/node.go
Owners: @cilium/ipam

k8s: Attach CRD schema version to CiliumNode
  pkg/k8s/apis/cilium.io/v2/client/register.go
Owners: @cilium/api, @cilium/kubernetes

k8s: Bump CRD schema version to 1.21.2
  pkg/k8s/apis/cilium.io/v2/register.go
Owners: @cilium/api, @cilium/kubernetes

k8s: Fix non-strucural schema with CiliumNode
  pkg/k8s/apis/cilium.io/v2/client/register.go
Owners: @cilium/api, @cilium/kubernetes

identity: Perform identity lookup in remote kvstore caches too
  pkg/allocator/allocator.go
  pkg/identity/cache/cache.go
Owners: @cilium/janitors, @cilium/policy

endpoint: Demote proxy stats not found warnings to debug level
  pkg/endpoint/endpoint.go
Owners: @cilium/endpoint

daemon: Minimize DNS proxy downtime on restart
  daemon/cmd/daemon.go
  daemon/cmd/fqdn.go
  daemon/cmd/state.go
  pkg/datapath/fake/datapath.go
  pkg/datapath/iptables/iptables.go
  pkg/datapath/loader.go
  pkg/proxy/proxy.go
Owners: @cilium/agent, @cilium/endpoint, @cilium/bpf, @cilium/proxy

endpoint: Update DNSRules on header rewrite
  daemon/cmd/daemon_test.go
  daemon/cmd/endpoint.go
  pkg/endpoint/bpf.go
  pkg/endpoint/endpoint_test.go
  pkg/endpoint/redirect_test.go
  pkg/endpoint/regeneration/owner.go
  pkg/endpointmanager/manager_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
Owners: @cilium/agent, @cilium/endpoint

test: Test DNS proxying while Cilium is restarting.
  test/k8sT/fqdn.go
Owners: @cilium/ci

fqdn: rename removeRestoredRules() as removeRestoredRulesLocked()
  pkg/fqdn/dnsproxy/proxy.go
Owners: @cilium/agent

endpoint: Remove restored DNS rules
  daemon/cmd/daemon_test.go
  daemon/cmd/endpoint.go
  daemon/cmd/state.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/endpoint_test.go
  pkg/endpoint/policy.go
  pkg/endpoint/redirect_test.go
  pkg/endpoint/regeneration/owner.go
  pkg/endpointmanager/manager_test.go
  pkg/fqdn/dnsproxy/proxy_test.go
Owners: @cilium/agent, @cilium/endpoint

fqdn: Limit the max processing in GetRules()
  pkg/fqdn/dnsproxy/proxy.go
Owners: @cilium/agent

dnsproxy: Use restored Endpoints before Endpoints are available
  daemon/cmd/fqdn.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/fqdn/dnsproxy/proxy_test.go
Owners: @cilium/agent

dnsproxy: Use restored rules during restart
  daemon/cmd/fqdn.go
  daemon/cmd/state.go
  pkg/endpoint/endpoint.go
  pkg/endpoint/restore.go
  pkg/fqdn/dnsproxy/proxy.go
  pkg/fqdn/dnsproxy/proxy_test.go
  pkg/fqdn/restore/restore.go
  pkg/ipcache/ipcache.go
  pkg/ipcache/ipcache_test.go
  pkg/proxy/dns.go
  pkg/proxy/logger/epinfo.go
  pkg/proxy/logger/test/epinfo.go
  pkg/proxy/proxy.go
Owners: @cilium/agent, @cilium/endpoint, @cilium/ipcache, @cilium/proxy

adding info message in log
  operator/main.go
Owners: @cilium/operator

daemon/cmd: initialize gops in RootCmd execution function
  daemon/daemon_main.go
Owners: @cilium/agent

changing operator ID and identity
  operator/main.go
Owners: @cilium/operator

service: Fix panic when restoring services with enable-health-check-nodeport: false
  pkg/service/service.go
Owners: @cilium/loadbalancer

adding logs in strcutured way
  operator/main.go
Owners: @cilium/operator

daemon, operator, test: log gops start failure to stderr instead of stdout
  daemon/daemon_main.go
  operator/main.go
  test/test_suite_test.go
Owners: @cilium/agent, @cilium/operator, @cilium/ci

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium/janitors      Catch-all for code not otherwise owned
# @cilium/agent         Cilium Agent
# @cilium/aws           Integration with AWS
# @cilium/azure         Integration with Azure
# @cilium/bpf           BPF Data Path
# @cilium/build         Building and packaging
# @cilium/ci            Continuous integration, testing
# @cilium/cli           Commandline interfaces
# @cilium/contributing  Developer documentation & tools
# @cilium/docker        Docker plugin
# @cilium/docs          Documentation, examples
# @cilium/endpoint      Endpoint package
# @cilium/health        Cilium cluster health tool
# @cilium/hubble        Hubble integration
# @cilium/ipam          IPAM
# @cilium/kubernetes    K8s integration, K8s CNI plugin
# @cilium/kvstore       Key/Value store: Consul, etcd
# @cilium/loadbalancer  Load balancer
# @cilium/monitor       Cilium node monitor tool
# @cilium/operator      Cilium operator
# @cilium/policy        Policy behaviour
# @cilium/proxy         L7 proxy, Envoy
# @cilium/vendor        Vendoring, dependency management

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
/.github/ @cilium/contributing
/.github/workflows/ @cilium/ci
/.github/workflows/coccicheck.yaml @cilium/ci @cilium/bpf
/.github/workflows/docs.yaml @cilium/ci @cilium/docs
/.github/workflows/images.yaml @cilium/ci @cilium/build
/api/ @cilium/api
/api/v1/flow/ @cilium/api @cilium/hubble
/api/v1/observer/ @cilium/api @cilium/hubble
/api/v1/peer/ @cilium/api @cilium/hubble
/bpf/ @cilium/bpf
Makefile* @cilium/build
/bpf/Makefile* @cilium/build @cilium/bpf
/bpf/sockops/Makefile* @cilium/build @cilium/bpf
Dockerfile* @cilium/build
/bugtool/cmd/ @cilium/cli
/cilium/ @cilium/cli
/cilium/cmd/preflight_k8s_valid_cnp.go @cilium/kubernetes
/cilium-health/ @cilium/health
/cilium-health/cmd/ @cilium/health @cilium/cli
/contrib/ @cilium/contributing
/contrib/packaging/ @cilium/build
/contrib/vagrant/ @cilium/contributing
/contrib/checkpatch/ @cilium/bpf
/contrib/coccinelle/ @cilium/bpf
/daemon/ @cilium/agent
/daemon/cmd/datapath.* @cilium/bpf
/daemon/cmd/endpoint.* @cilium/endpoint
/daemon/cmd/health.* @cilium/health
/daemon/cmd/hubble.go @cilium/hubble
/daemon/cmd/ipcache.* @cilium/ipcache
/daemon/cmd/loadbalancer.* @cilium/loadbalancer
/daemon/cmd/metrics.* @cilium/metrics
/daemon/cmd/policy.* @cilium/policy
/daemon/cmd/prefilter.go @cilium/bpf
/daemon/cmd/proxy.go @cilium/proxy
/daemon/cmd/state.go @cilium/endpoint
/daemon/cmd/sysctl_linux.go @cilium/bpf
/Documentation/ @cilium/docs
/Documentation/cmdref @cilium/nonexistantteam
/Documentation/bpf.rst @cilium/bpf
/Documentation/contributing/ @cilium/contributing
/Documentation/envoy/ @cilium/proxy
/envoy/ @cilium/proxy
/examples/ @cilium/docs
/examples/crds/ @cilium/kubernetes
/examples/kubernetes/ @cilium/kubernetes
/examples/minikube/ @cilium/kubernetes
*.Jenkinsfile @cilium/ci
/hubble-relay/ @cilium/hubble
/hubble-relay.Dockerfile @cilium/hubble
/images @cilium/build
/install/kubernetes/ @cilium/kubernetes @cilium/docs @cilium/helm
/install/kubernetes/cilium/charts/hubble-relay @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
/install/kubernetes/cilium/charts/hubble-tls @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
/install/kubernetes/cilium/charts/hubble-ui @cilium/kubernetes @cilium/docs @cilium/helm @cilium/hubble
jenkinsfiles @cilium/ci
Jenkinsfile.nightly @cilium/ci
/operator/ @cilium/operator
/pkg/annotation @cilium/kubernetes
/pkg/api/ @cilium/api
/pkg/aws/ @cilium/aws
/pkg/azure/ @cilium/azure
/pkg/bpf/ @cilium/bpf
/pkg/byteorder/ @cilium/bpf @cilium/api
/pkg/client @cilium/api
/pkg/completion/ @cilium/proxy
/pkg/components/ @cilium/agent
/pkg/controller @cilium/agent
/pkg/counter @cilium/bpf
/pkg/datapath @cilium/bpf
/pkg/datapath/ipcache/ @cilium/ipcache
/pkg/defaults @cilium/agent
/pkg/elf @cilium/bpf
/pkg/endpoint/ @cilium/endpoint
/pkg/endpointmanager/ @cilium/endpoint
/pkg/envoy/ @cilium/proxy
/pkg/fqdn/ @cilium/agent
/pkg/health/ @cilium/health
/pkg/hubble/ @cilium/hubble
/pkg/identity @cilium/policy
/pkg/ipam/ @cilium/ipam
/pkg/ipam/allocator/aws/ @cilium/ipam @cilium/aws
/pkg/ipam/allocator/azure/ @cilium/ipam @cilium/azure
/pkg/ipam/allocator/operator/ @cilium/ipam @cilium/operator
/pkg/ipcache/ @cilium/ipcache
/pkg/ipmasq @cilium/agent
/pkg/k8s/ @cilium/kubernetes
/pkg/k8s/apis/cilium.io/v2/ @cilium/api @cilium/kubernetes
/pkg/k8s/client/clientset/versioned/ @cilium/api
/pkg/k8s/client/informers/ @cilium/api
/pkg/kafka/ @cilium/proxy
/pkg/kvstore/ @cilium/kvstore
/pkg/labels @cilium/policy @cilium/api
/pkg/launcher @cilium/agent
/pkg/loadbalancer @cilium/loadbalancer
/pkg/lock @cilium/agent
/pkg/logging/ @cilium/cli
/pkg/mac @cilium/bpf
/pkg/maps/ @cilium/bpf
/pkg/mcastmanager @cilium/bpf
/pkg/metrics @cilium/metrics
/pkg/monitor @cilium/monitor
/pkg/monitor/api @cilium/api
/pkg/monitor/datapath_debug.go @cilium/bpf
/pkg/monitor/format @cilium/cli
/pkg/monitor/payload @cilium/api
/pkg/mountinfo @cilium/bpf
/pkg/mtu @cilium/bpf
/pkg/multicast @cilium/bpf
/pkg/option @cilium/agent @cilium/cli
/pkg/pidfile @cilium/agent
/pkg/policy @cilium/policy
/pkg/policy/api/ @cilium/api
/pkg/policy/groups/aws/ @cilium/policy @cilium/aws
/pkg/proxy/ @cilium/proxy
/pkg/proxy/accesslog @cilium/api
/pkg/serializer @cilium/agent
/pkg/service @cilium/loadbalancer
/pkg/sysctl @cilium/bpf
/pkg/testutils/ @cilium/ci
/pkg/tuple @cilium/bpf
/plugins/cilium-cni/ @cilium/kubernetes
/plugins/cilium-docker/ @cilium/docker
/proxylib/ @cilium/proxy
/README.rst @cilium/docs
/test/ @cilium/ci
/test/bpf/ @cilium/ci @cilium/bpf
/test/Makefile* @cilium/ci @cilium/build
/tests/ @cilium/ci
Vagrantfile @cilium/ci
/Vagrantfile @cilium/contributing
/go.sum @cilium/vendor
/go.mod @cilium/vendor
/vagrant_box_defaults.rb @cilium/ci
/vendor/ @cilium/vendor
