Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/janitors, @cilium/api, @cilium/bpf, @cilium/bpf-loader, @cilium/cli, @eloycoto, @aanm, @ianvernon, @cilium/vagrant, @cilium/agent, @cilium/endpoint, @cilium/kubernetes, @cilium/loadbalancer, @cilium/docs, @scanf, @borkmann, @cilium/contributing, @cilium/proxy, @cilium/ci, @cilium/monitor, @cilium/kvstore, @cilium/policy, @tgraf, @cilium/docker, @cilium/vendor

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium-janitors      Catch-all for code not otherwise owned
# @cilium/agent         Cilium Agent
# @cilium/bpf           BPF Data Path
# @cilium/bpf-loader    Agent -> Kernel interaction
# @cilium/ci            Continuous integration, testing
# @cilium/cli           Commandline interfaces
# @cilium/contributing  Developer documentation
# @cilium/docker        Docker plugin
# @cilium/docs          Documentation, examples
# @cilium/endpoint      Endpoint package
# @cilium/kubernetes    K8s integration, K8s CNI plugin
# @cilium/kvstore       Key/Value store: Consul, etcd
# @cilium/loadbalancer  Load balancer
# @cilium/monitor       Cilium node monitor tool
# @cilium/policy        Policy behaviour
# @cilium/proxy         L7 proxy, Envoy
# @cilium/vendor        Vendoring, dependency management
#
# Specific code owners:
# @eloycoto             Debian packaging
# @aanm @ianvernon      Docker packaging
# @tgraf                Oxy proxy
# @scanf @borkmann      BPF documentation

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/janitors
api/ @cilium/api
bpf/ @cilium/bpf
bpf/*.sh @cilium/bpf-loader
cilium/ @cilium/cli
contrib/packaging/deb/ @eloycoto
contrib/packaging/docker/ @aanm @ianvernon
contrib/vagrant @cilium/vagrant
daemon/ @cilium/agent
daemon/bpf.sha @cilium/bpf
daemon/endpoint.go @cilium/endpoint
daemon/k8s_watcher.go @cilium/kubernetes
daemon/loadbalancer.* @cilium/loadbalancer
daemon/prefilter.go @cilium/bpf
daemon/services.* @cilium/loadbalancer
Documentation/ @cilium/docs
Documentation/bpf.rst @scanf @borkmann
Documentation/contributing.rst @cilium/contributing
envoy/ @cilium/proxy
examples/ @cilium/docs
examples/getting-started/Vagrantfile @cilium/vagrant
examples/kubernetes/ @cilium/kubernetes
examples/kubernetes-ingress/ @cilium/kubernetes
examples/mesos/Vagrantfile @cilium/vagrant
examples/minikube/ @cilium/kubernetes
Jenkinsfile @cilium/ci
monitor/ @cilium/monitor
monitor/payload @cilium/api
pkg/apierror/ @cilium/api
pkg/apisocket/ @cilium/api
pkg/bpf/ @cilium/bpf
pkg/endpoint/ @cilium/endpoint
pkg/envoy/ @cilium/proxy
pkg/k8s/ @cilium/kubernetes
pkg/kvstore/ @cilium/kvstore
pkg/maps/ @cilium/bpf
pkg/policy @cilium/policy
pkg/policy/api/ @cilium/api
pkg/policy/prefilter.go @cilium/bpf
pkg/proxy/ @cilium/proxy
pkg/proxy/accesslog @cilium/api
pkg/proxy/oxyproxy.go @tgraf
plugins/cilium-cni/ @cilium/kubernetes
plugins/cilium-docker/ @cilium/docker
README.md @cilium/docs
test/ @cilium/ci
test/Vagrantfile @cilium/vagrant
tests/ @cilium/ci
tests/k8s/Vagrantfile @cilium/vagrant
Vagrantfile @cilium/vagrant
vendor/ @cilium/vendor

tests: move running the runtime test into separate function
  tests/run-tests
Owners: @cilium/ci

Documentation: Highlight good first issues for developers
  Documentation/contributing.rst
Owners: @cilium/contributing

policy: Convert comment to debug message
  pkg/policy/rule.go
Owners: @cilium/policy

Documentation: Document dependencies to build documentation
  Documentation/contributing.rst
Owners: @cilium/contributing

docker: Clarify how to add new directories
  Dockerfile.dev
  contrib/packaging/docker/build_dockerfile.sh
Owners: @cilium/janitors, @aanm, @ianvernon

tests: check for clang version and rerun {01-ct,06-lb}.sh
  tests/helpers.bash
  tests/run-tests
Owners: @cilium/ci

Vagrant: TMP use my build of developer vm
  Vagrantfile
Owners: @cilium/vagrant
