Repository cilium/cilium, changes with the owners that CODEOWNERS names for each.
All owners: @cilium/tophat, @cilium/github-sec, @cilium/ci-structure, @cilium/api, @cilium/sig-datapath, @cilium/metrics, @cilium/sig-policy, @cilium/sig-lb, @cilium/sig-agent, @cilium/wireguard, @cilium/sig-k8s, @cilium/docker, @cilium/proxy, @cilium/docs-structure, @cilium/contributing, @cilium/build, @cilium/loader, @cilium/sig-hubble, @cilium/cli, @cilium/health, @cilium/kvstore, @cilium/endpoint, @cilium/vendor

Bugtool: add flag to exclude object for endpoints
  bugtool/cmd/root.go
Owners: @cilium/tophat

docs: installation: update eks install steps to patch aws-node daemonset
  Documentation/gettingstarted/k8s-install-helm.rst
Owners: @cilium/tophat

docs: gettingstarted: add a note about EKS aws-node daemonset issues
  Documentation/gettingstarted/k8s-install-default.rst
Owners: @cilium/tophat

test/helpers: Improve error msgs slightly around policy revision
  test/helpers/kubectl.go
Owners: @cilium/ci-structure

test/helpers: Disambiguate executor logs
  test/helpers/local_node.go
  test/helpers/node.go
Owners: @cilium/ci-structure

Make cilium pprof listen address configurable
  Documentation/cmdref/cilium-agent.md
  Documentation/cmdref/cilium-operator-alibabacloud.md
  Documentation/cmdref/cilium-operator-aws.md
  Documentation/cmdref/cilium-operator-azure.md
  Documentation/cmdref/cilium-operator-generic.md
  Documentation/cmdref/cilium-operator.md
  Documentation/helm-values.rst
  Documentation/operations/upgrade.rst
  clustermesh-apiserver/main.go
  daemon/cmd/daemon_main.go
  hubble-relay/cmd/serve/serve.go
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/templates/cilium-configmap.yaml
  install/kubernetes/cilium/templates/hubble-relay/configmap.yaml
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
  operator/main.go
  operator/option/config.go
  pkg/defaults/defaults.go
  pkg/hubble/relay/defaults/defaults.go
  pkg/option/config.go
  pkg/pprof/pprof.go
Owners: @cilium/tophat

docs: Disable exclusive lock when installing in chaining mode with aws-cni
  Documentation/installation/cni-chaining-aws-cni.rst
Owners: @cilium/tophat

test/helpers: Use switch case for readability
  test/helpers/kubectl.go
Owners: @cilium/ci-structure

test: service: fix formatting of error msg in doFragmentedRequest()
  test/k8sT/service_helpers.go
Owners: @cilium/ci-structure

ipsec: Invert arguments in ipSecReplaceStateOut
  pkg/datapath/linux/ipsec/ipsec_linux.go
Owners: @cilium/tophat

clustermesh: Add missing brackets of etcd option
  install/kubernetes/cilium/templates/clustermesh-apiserver/deployment.yaml
Owners: @cilium/tophat

docs: Rely on new CLI for IPsec troubleshooting
  Documentation/gettingstarted/encryption-ipsec.rst
Owners: @cilium/tophat

docs: Fix inconsistency in IPsec command output
  Documentation/gettingstarted/encryption-ipsec.rst
Owners: @cilium/tophat

Add sphinxcontrib-googleanalytics to doc requirements
  Documentation/requirements.txt
Owners: @cilium/tophat

docs: Remove misleading IPsec troubleshooting tips
  Documentation/gettingstarted/encryption-ipsec.rst
Owners: @cilium/tophat

ipsec: Fix inverted arguments in ipSecReplaceStateIn
  pkg/datapath/linux/ipsec/ipsec_linux.go
Owners: @cilium/tophat

docs: Improve wording for deny policies limitation
  Documentation/policy/language.rst
Owners: @cilium/tophat

Update Layer 7 Protocol Visibility Document.
  Documentation/policy/visibility.rst
Owners: @cilium/tophat

docs: Avoid buffering of tcpdump for ESP check
  Documentation/gettingstarted/encryption-ipsec.rst
Owners: @cilium/tophat

fqdn: dnsproxy: fix data race in dns proxy implementation
  pkg/fqdn/dnsproxy/proxy.go
Owners: @cilium/tophat

test/helpers: Fix retry condition for CiliumExecContext
  test/helpers/kubectl.go
Owners: @cilium/ci-structure

build(deps): update package dependencies
  go.mod
  go.sum
  vendor/github.com/docker/distribution/reference/normalize.go
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/registry/api/errcode/errors.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/index.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/github.com/opentracing/opentracing-go/.golangci.yml
  vendor/github.com/opentracing/opentracing-go/.travis.yml
  vendor/github.com/pelletier/go-toml/README.md
  vendor/github.com/pelletier/go-toml/SECURITY.md
  vendor/github.com/pelletier/go-toml/marshal.go
  vendor/github.com/pelletier/go-toml/parser.go
  vendor/github.com/pelletier/go-toml/toml.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_can_convert.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_legacy.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/modules.txt
Owners: @cilium/vendor

contrib: Update PR template for backport
  contrib/backporting/check-stable
Owners: @cilium/tophat

docs: update committer security requirements
  Documentation/contributing/governance/commit_access.rst
Owners: @cilium/tophat

Fix crash of CES queue delay metric when CESTracker is nil
  operator/pkg/ciliumendpointslice/manager.go
Owners: @cilium/tophat

Update CNI to 1.2.0
  images/runtime/cni-version.sh
Owners: @cilium/tophat

backporting: leave backport/author PRs alone
  Documentation/conf.py
  Documentation/contributing/release/backports.rst
  contrib/backporting/check-stable
Owners: @cilium/tophat

contrib: Update PR template for backport
  contrib/backporting/check-stable
Owners: @cilium/tophat

hubble: Rate limit "hubble events queue is full" logs
  pkg/hubble/monitor/consumer.go
Owners: @cilium/tophat

ingress: Support NodePort for dedicated Ingress
  Documentation/network/servicemesh/ingress.rst
  operator/pkg/ingress/annotations/annotations.go
  operator/pkg/ingress/annotations/annotations_test.go
  operator/pkg/model/ingestion/doc.go
  operator/pkg/model/ingestion/ingress.go
  operator/pkg/model/ingestion/ingress_test.go
  operator/pkg/model/model.go
  operator/pkg/model/translation/ingress/dedicated_ingress.go
  operator/pkg/model/translation/ingress/dedicated_ingress_test.go
  operator/pkg/model/translation/ingress/doc.go
Owners: @cilium/tophat

Modify helm chart: delete validations for certManagerIssuerRef
  install/kubernetes/cilium/templates/validate.yaml
Owners: @cilium/tophat

fix(docs): fix websocket annotation value
  Documentation/network/servicemesh/ingress.rst
Owners: @cilium/tophat

gh/workflows: Disable BPF masq in ci-datapath
  .github/workflows/conformance-datapath.yaml
Owners: @cilium/github-sec, @cilium/ci-structure

helm: Document debug.verbose option
  Documentation/helm-values.rst
  install/kubernetes/cilium/README.md
  install/kubernetes/cilium/values.yaml
  install/kubernetes/cilium/values.yaml.tmpl
Owners: @cilium/tophat

docs: add egress troubleshooting
  Documentation/network/egress-gateway.rst
Owners: @cilium/tophat

metrics: Remove unused ARP ping metrics
  Documentation/operations/upgrade.rst
  pkg/metrics/metrics.go
Owners: @cilium/tophat

.github: Pin docker buildx version to v0.9.1
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
Owners: @cilium/github-sec, @cilium/ci-structure

.github: Pin docker buildx version to v0.9.1
  .github/workflows/build-images-base.yaml
  .github/workflows/build-images-ci.yaml
  .github/workflows/build-images-hotfixes.yaml
  .github/workflows/build-images-releases.yaml
Owners: @cilium/github-sec, @cilium/ci-structure

images: Bump Hubble CLI to v0.11.1
  examples/hubble/hubble-cli.yaml
  images/cilium/Dockerfile
  images/cilium/hubble-version.sh
Owners: @cilium/tophat

images: Bump Hubble CLI to v0.11.1
  examples/hubble/hubble-cli.yaml
  images/cilium/Dockerfile
  images/cilium/hubble-version.sh
Owners: @cilium/tophat

CODEOWNERS:

# Code owners groups and a brief description of their areas:
# @cilium/tophat             Catch-all for code not otherwise owned
# @cilium/api                API stability guarantees
# @cilium/ci-structure       Continuous integration, testing
# @cilium/github-sec         GitHub security (handling of secrets, consequences of pull_request_target, etc.)

# The following filepaths should be sorted so that more specific paths occur
# after the less specific paths, otherwise the ownership for the specific paths
# is not properly picked up in Github.
* @cilium/tophat
/.github/workflows/ @cilium/github-sec @cilium/ci-structure
/api/ @cilium/api
/images/builder/update-cilium-builder-image.sh @cilium/github-sec
/images/runtime/update-cilium-runtime-image.sh @cilium/github-sec
/pkg/api/ @cilium/api
/pkg/byteorder/ @cilium/sig-datapath @cilium/api
/pkg/client @cilium/api
/pkg/k8s/apis/cilium.io/v2/ @cilium/api
/pkg/datapath/linux/ipsec/xfrm_collector* @cilium/metrics
/pkg/k8s/client/clientset/versioned/ @cilium/api
/pkg/k8s/client/informers/ @cilium/api
/pkg/labels @cilium/sig-policy @cilium/api
/pkg/monitor/api @cilium/api
/pkg/monitor/payload @cilium/api
/pkg/policy/api/ @cilium/api
/pkg/proxy/accesslog @cilium/api
/pkg/redirectpolicy @cilium/sig-lb
/pkg/serializer @cilium/sig-agent
/pkg/service @cilium/sig-lb
/pkg/sysctl @cilium/sig-datapath
/pkg/testutils/ @cilium/ci-structure
/pkg/tuple @cilium/sig-datapath
/pkg/wireguard @cilium/wireguard
/plugins/cilium-cni/ @cilium/sig-k8s
/plugins/cilium-docker/ @cilium/docker
/proxylib/ @cilium/proxy
/README.rst @cilium/docs-structure
/SECURITY.md @cilium/contributing
/stable.txt @cilium/tophat
/test/ @cilium/ci-structure
/test/Makefile* @cilium/ci-structure @cilium/build
# Service handling tests
/test/k8s/services.go @cilium/sig-lb @cilium/ci-structure
/test/runtime/lb.go @cilium/sig-lb @cilium/ci-structure
# Datapath tests
/test/bpf/ @cilium/sig-datapath
/test/bpf/check-complexity.sh @cilium/loader
/test/bpf/verifier-test.sh @cilium/loader
/test/k8s/bandwidth.go @cilium/sig-datapath @cilium/ci-structure
/test/k8s/chaos.go @cilium/sig-datapath @cilium/ci-structure
/test/k8s/datapath_configuration.go @cilium/sig-datapath @cilium/ci-structure
/test/k8s/verifier.go @cilium/loader @cilium/ci-structure
/test/runtime/connectivity.go @cilium/sig-datapath @cilium/ci-structure
# Policy tests
/test/k8s/net_policies.go @cilium/sig-policy @cilium/ci-structure
/test/runtime/net_policies.go @cilium/sig-policy @cilium/ci-structure
# Hubble/monitoring tests
/test/k8s/hubble.go @cilium/sig-hubble @cilium/ci-structure
/test/runtime/monitor.go @cilium/sig-hubble @cilium/ci-structure
# L7 proxy tests
/test/k8s/fqdn.go @cilium/proxy @cilium/ci-structure
/test/k8s/kafka_policies.go @cilium/proxy @cilium/ci-structure
/test/runtime/cassandra.go @cilium/proxy @cilium/ci-structure
/test/runtime/fqdn.go @cilium/proxy @cilium/ci-structure
/test/runtime/kafka.go @cilium/proxy @cilium/ci-structure
# Standalone L4LB tests
/test/l4lb @cilium/sig-lb @cilium/ci-structure
/test/nat46x64 @cilium/sig-lb @cilium/ci-structure
# Misc. tests
/test/k8s/cli.go @cilium/cli @cilium/ci-structure
/test/k8s/health.go @cilium/health @cilium/ci-structure
/test/k8s/identity.go @cilium/sig-agent @cilium/ci-structure
/test/k8s/updates.go @cilium/sig-agent @cilium/ci-structure
/test/runtime/kvstore.go @cilium/kvstore @cilium/ci-structure
/test/runtime/chaos_agent.go @cilium/sig-agent @cilium/ci-structure
/test/runtime/chaos_endpoint.go @cilium/endpoint @cilium/ci-structure
/tools/ @cilium/contributing
/USERS.md @cilium/tophat
Vagrantfile @cilium/ci-structure
/Vagrantfile @cilium/contributing
/go.sum @cilium/vendor
/go.mod @cilium/vendor
/vagrant_box_defaults.rb @cilium/ci-structure
/vendor/ @cilium/vendor
/VERSION @cilium/tophat
